[2020-10-19 09:21] dotansimha opened #4936 "Allow to specify custom function for `importAllFragmentsFrom` using YAML API"
Related: https://github.com/dotansimha/graphql-code-generator/discussions/4914#discussioncomment-101275

[2020-10-19 09:22] tusharsadhwani commented on #4838
Okay great!

[2020-10-19 09:23] dotansimha commented on #2043
@utegenovkamel if this is still relevant, can you please report this in a new issue with a reproduction?

[2020-10-19 09:27] dotansimha commented on #1852
@tbrannam I see, It's not supported at the moment, I think due to the amount of features that we are using that are specific type TS `type`, it might be a bit complex, and I'm not sure if all are supported in `interface`s.  PRs are always welcome ;)

[2020-10-19 09:34] dotansimha commented on #4219
@crazyx13th if it's still relevant, can you please report this on a new issue with a reproduction?

[2020-10-19 09:36] dotansimha commented on #2891
@JaffParker please make sure prettier is not ignoring those files... if it's still relevant, can you please report this in a new issue with a reproduction?

[2020-10-19 09:37] dotansimha commented on #4381
@UlisesAC4 you have an indentation issue with your YAML:
[code]

[2020-10-19 09:41] dotansimha commented on #1757
@johnnyBira
`dotenv` supports setting configuration via environment variables (see https://github.com/motdotla/dotenv#preload), so instead of using a CLI flag for codegen, you can just set an environment variables that will effect `dotenv` directly.

[2020-10-19 09:47] dotansimha commented on #3695
@yoavain-sundaysky please report it in a new issue. We tried to cover all use cases, but I afraid we missed some.

[2020-10-19 09:51] #4797 closed

[2020-10-19 10:35] FezVrasta commented on #4911
It errors in my create-react-app project

[2020-10-19 11:54] dotansimha commented on #4911
@FezVrasta  build error or lint error? As far as I can tell, the Flow compiler works perfectly fine with that...

[2020-10-19 11:55] FezVrasta commented on #4911
![image](https://user-images.githubusercontent.com/5382443/96447775-bb899780-1212-11eb-8564-bdbaaccde23e.png)

[2020-10-19 13:34] muuvmuuv opened #4938 "TypeScript generator only used types"
**Is your feature request related to a problem? Please describe.**

We are connecting to an GraphQL API which has a lot of endpoints so the generated types declaration file is huge (10k lines long). It would be great if it would only create types for used types in the .graphql files and additionally through an option which I also want to add.

**Describe the solution you'd like**

Something like `

[2020-10-19 16:38] cancan101 commented on #4095
I tried with this in yml + added a loader and don't see the custom loader being used:
[code]

[2020-10-19 17:11] dotansimha commented on #4095
@cancan101 can you please try like that? (YAML is very sensitive when it comes to indentation)

[code]

[2020-10-19 17:12] dotansimha commented on #4938
Hi @muuvmuuv ! We have an issue for this here: https://github.com/dotansimha/graphql-code-generator/issues/4562

[2020-10-19 17:12] #4938 closed

[2020-10-19 18:34] atamano commented on #4718
@dotansimha here is a reproduction of this issue: https://codesandbox.io/s/epic-violet-fb043?file=/types.ts
Underscores are not removed

[2020-10-19 19:05] cancan101 commented on #4095
Ah okay, that fixed the issue with the loader however I am getting the following error using the example loader from the linked docs:
[code]

[2020-10-19 19:51] ardatan commented on #4095
You need to add ts-node as well :) because NodeJS itself doesn't know how to load TS files.

[2020-10-19 20:40] cancan101 commented on #4095
Sure, that makes sense (and this is likely due to my ignorance) but after installing ts-node, how do I get the generate script to run / load using it?

[2020-10-19 22:52] warent commented on #4871
The example I provided is not telling the full story. It looks more like this:

[code]

i.e. we're using `types.ts` for frontend code with typescript-react-apollo, and `resolvers.ts` for backend Node.js code.

Should we be doing something else?

[2020-10-20 00:08] UlisesAC4 commented on #4381
@dotansimha thank you for this, now everything is fine!

[2020-10-20 00:14] warent commented on #4871
Also note we're using a third party library that utilizes the resolvers.ts file

[2020-10-20 05:04] dotansimha commented on #4871
Got it, so what's the reason for passing `document` for the 2nd output file?

[code]

I'm asking because both `typescript` and  `typescript-resolvers` doesn't have anything to do with `document`  - both types are dealing with schema types, and not your operations.

Your setup seems correct except for the line I specified (it can be removed). Putting the schema on the top level is great (so it will

[2020-10-20 05:05] dotansimha commented on #4095
You need to specify `require` config key, see: https://graphql-code-generator.com/docs/getting-started/require-field#typescript-support

[2020-10-20 05:11] such commented on #4898
Hi!
My first instinct was to ask `@homebound/graphql-typescript-factories` but I then realized they base their factories on the type and the type is generated by `graphql-code-generator/typescript`. But I'll post an issue there anyway to start the conversation.

One thing though, you're mentioning fragment variables so I'm not sure my request was very clear. What I want is just that the Club type

[2020-10-20 05:20] dotansimha commented on #4898
@such I see, but this is something that doesn't match the actual structure of GraphQL response, that's why `typescript` plugin won't be able to generate that at the moment. Arguments that you pass to your fields aren't something you get back.

You should have a `ClubPictureIdArgs` type that represents all the arguments defined in your schema for the specific field.

[2020-10-20 05:57] such commented on #4898
That's why I was mentioning `typescript-operations` actually. In the context of the project, by parsing fragments, it's possible to know all the fields that are aliased.
And I think both fields should be present since the field will not always be aliased (BTW it's aliased in my case to prevent clashing, because both "fields" are actually present in the response).

[2020-10-20 06:15] dotansimha commented on #4898
I see, but fragments / operations have selection sets, and they are able to choose the fields and alias those. The schema has nothing to do with that.
`type Club` comes from the `typescript` and it's based on the schema. We can't change the generated type that is based on the schema, according to the way it's being consumed.

If you ask for `pictureUrl `, you are going to get a field called `pictu

[2020-10-20 07:13] muuvmuuv commented on #4562
Copying my issue use-case: We are connecting to an GraphQL API which has a lot of endpoints so the generated types declaration file is huge (10k lines long). It would be great if it would only create types for used types in the .graphql files and additionally through an option which I also want to force adding.

[2020-10-20 08:57] Eddman commented on #4919
Yes, only the order of generated items is changed.

As you can see in our config: We download it from our endpoint over HTTPS and store it in `./src/schema.graphql` using `schema-ast`. The HTTPS endpoint runs in more replicas behind a loadbalancer in cloud so even result of 2 calls generates differences in order of `./src/schema.graphql`.

[2020-10-20 13:47] pastelsky opened #4944 "Fragment type imports are not generated when using Flow / Flow operations plugin"
**Describe the bug**
👋 Firstly, thanks for building and maintaining this tool — I'm sure this saves a lot of time and effort for a lot of people.

While trying out the `nearest-file-output` `preset`, I noticed that type imports for fragments weren't generated for query type files. It seems like this might only be an issue with Flow, as the flow plugin doesn't have the same steps for reading `fragm

[2020-10-20 15:08] cevr commented on #4861
This happens even when the config is outside the plugin

[2020-10-20 15:13] dotansimha commented on #4861
@cevr just noticed it, re-opening. Thanks

[2020-10-20 15:13] CarlosGines commented on #4861
@cevr it did work for me, the issue was solved following his suggestion.
@dotansimha thank you very much!

[2020-10-20 15:15] dotansimha commented on #4861
@CarlosGines yeah you are right, rerunning worked, it guess it was something with the sandbox. Closing :)
@cevr if you are still having issues with that, can you please report a new issue, with a reproduction? Thanks!

[2020-10-20 15:15] #4861 closed

[2020-10-20 15:21] cancan101 commented on #4095
Still not quite working. A couple questions:
1. Should I be able to use the example document loader linked here:? https://graphql-code-generator.com/docs/getting-started/documents-field
2. Does the require key need to be set under `documents` or globally in the yml file? I have:
[code]

Error I am getting:
[code]

[2020-10-20 15:24] ardatan commented on #4095
Could you create a reproduction on CodeSandbox so we can help you better?

[2020-10-20 15:34] cevr commented on #4861
Ah okay I see the problem,

My use case was that in a monorepo, I had one repo that held the schema types, and one repo that held the operations and apollo hooks.

I only declared the scalars in the schema type repo, but hadn't declared them in the other.

Declaring the scalars on both configs fixed the issue.

@dotansimha if the import-types preset is used, should it attempt to import before defa

[2020-10-20 17:02] ardatan commented on #4861
`scalars` should be under `config`. Maybe that's the problem;
See;
https://codesandbox.io/s/purple-wave-v08j9?file=/codegen.yml

[2020-10-20 17:39] xenoterracide opened #4946 "add --verbose and --debug flags to cli"
So while trying to figure out a bug, because I'm using PnP, I tried setting them in `scripts`

[code]

however this didn't work, I eventually got it working on the cli by running `DEBUG=1 yarn workspace @bb/graph-modules run graphql-codegen`, but it didn't work when I ran `yarn build` which essentially executes the above `package.json` as so

[code]

I'm not really sure why setting the env like th

[2020-10-20 17:55] xenoterracide opened #4947 "[Bug] unable to require dotenv when using PnP"
**Describe the bug**

[code]

**Additional context**

the fix is probably very similar to the one made in #4688

**To Reproduce**

pretty confident you can reproduce this by creating a yarn2 project and simply running the above command.

[code]

3. My `codegen.yml` config file:

[code]
**Expected behavior**

it shouldn't throw an error, but work as documented.

**Environment:**

[code]

[code]

[2020-10-20 18:22] xenoterracide opened #4948 "[Feature] Support YAML anchors"
I have this code with a couple of modules, but I plan to expand to many more modules, and already they're getting repetetive in the plugins block at least. I'd like to see [yaml](https://yaml.org/spec/1.2/spec.html#id2765878) [anchors](https://support.atlassian.com/bitbucket-cloud/docs/yaml-anchors/) [supported](https://medium.com/@kinghuang/docker-compose-anchors-aliases-extensions-a1e4105d70bd)

[2020-10-20 20:18] warent commented on #4871
I'm not sure where I got the idea that I had to do that. Thank you for the correction!

[2020-10-21 07:32] johnnyBira commented on #1757
This makes sense. Thanks for taking the time explaining @dotansimha

[2020-10-21 07:37] #4871 closed

[2020-10-21 07:38] dotansimha commented on #4948
Totally agree. We are using `js-yaml` and I think [it's already supported](https://github.com/nodeca/js-yaml). Have you tried it? It should work...

[2020-10-21 07:44] hirenumradia opened #4956 "Unknown type: "AWSDateTime"."
**Describe the bug**
I am getting a "Unknown type: "AWSDateTime" error when using the library with AWS Amplify

**To Reproduce**
Steps to reproduce the behavior:

1. Generate a .graphql schema with AWS Amplify
2. Configure 'graphql-code' to generate typescript
2. Attempt code generation with 'graphql-code'

**Expected**
The typescript code generates correctly

**Actual**
An "Unknown type: "AWSDate

[2020-10-21 07:47] dotansimha commented on #4956
@hirenumradia see: https://github.com/dotansimha/graphql-code-generator/discussions/4311

[2020-10-21 07:47] #4956 closed

[2020-10-21 13:17] osalama7 commented on #4654
Hi, I'm experiencing a similar issue, @xiaoliu-heng do you have any updates on reproducing it?

[2020-10-21 14:54] Spartano opened #4958 "Codegen does not highlight missing syntax from query"
**Is your feature request related to a problem? Please describe.**

Recently i had a file used for generating a mutation and i didnt see that i was missing a ` } ` at the end of the string

[code]

**Describe the solution you'd like**
It will be nice if codegen will tell you if you're syntax is invalid.

[2020-10-21 15:25] xenoterracide commented on #4948
hmm... maybe I'm doing something wrong.... I had only tried the former of these yesterday

[code]
does not work

[code]

but this does

[code]

[2020-10-21 16:03] xenoterracide opened #4959 "[Feature] support some sort of root path"
related to #4948 . my code is going to get very duplicitous do to a multi-workspace config.

instead of

[code]

I'd rather write

[code]

[2020-10-21 16:13] ardatan commented on #4958
What is the current error you get?

[2020-10-21 16:16] dotansimha commented on #4958
I think it might be related to graphql-tools (graphql-tag-pluck)

[2020-10-21 18:55] Spartano commented on #4958
I dont receive no error, and inside the generated file i see only the types for the mutation, but the useMutation... is missing

[2020-10-21 19:45] dannycochran commented on #3836
For reference, here's a PR in the apollo codegen for this:
https://github.com/apollographql/apollo-tooling/pull/1854

[2020-10-22 06:19] anderha opened #4964 "[Feature] Required baseOptions/variables in generated hooks of typescript-react-apollo when a query or mutation is created with required parameters"
Hey,

I am using graphql-code-generator for typescript and react with version 2.0.7 of graphql-codegen/typescript-react-apollo and apollo/client version 3.2.2.

As in the discussion "[How to configure baseOptions as required?](https://github.com/dotansimha/graphql-code-generator/discussions/4887#discussion-24197)" stated I would really appreciate if  baseOptions and variables could be marked as re

[2020-10-22 10:15] cdupuis opened #4965 "Vulnerability report by npm audit against latest versions"
Running `npm audit` against the latest versions produces a low risk security warning through transitive dependency to `node-fetch`.

I have the following packages installed:

[code]

Which produces the following output from running `npm audit`:

[code]

[2020-10-22 10:17] dotansimha commented on #4965
It seems like it's coming from `@graphql-tools/relay-operation-optimizer > relay-compiler >  │
│               │ relay-runtime > fbjs > isomorphic-fetch > node-fetch   ` so i'm not sure if there is something we can do about that.

Keeping open for tracking...

[2020-10-22 10:20] cdupuis commented on #4965
Yeah, there is also this https://github.com/ardatan/graphql-tools/issues/2041 which tracks a the issue in the `@graphql-tools/relay-operation-optimizer`.

[2020-10-22 11:55] oskarious commented on #4865
I'll try and get a reproduction going, but again, as it is a live production repo I can't say for certain what I will be able to do.
I know that there's no schema changes involved as well as I am doing the backend for this project. Really the only change has been upgrading angular 8 to 9 via the `ng update` cli commands. The reason I figured it was codegen running into issues is the fact that we c

[2020-10-22 13:32] oskarious commented on #4865
In trying to get a reproduction set up (starting a new angular project with a copy of our package.json and .gql files), I have come to the conclusion that I was spreading the wrong fields in the wrong spot. I was spreading `adminUserFields` instead of `userFields`, and that seems to have tripped everything up. So while it wasn't throwing any errors when we were on angular 8, it started throwing er

[2020-10-22 16:53] OscarBarrett commented on #4890
I've been looking into this a bit more. If `__typename` is explicitly added to all named and inline fragments in the operations, the missing types are generated.

e.g. for the example provided
[code]

Perhaps these should be generated as empty types if `__typename` is not included?

[2020-10-23 06:10] sam-rad commented on #4911
Having the the same issue. This is where [flow throws](https://github.com/facebook/flow/blob/master/src/typing/errors/error_message.ml#L2828):

[code]

[2020-10-23 06:20] sam-rad commented on #4911
What if we remove `// @flow` prepend from [flow operations](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/flow/operations/src/index.ts#L38) since [flow plugin](https://github.com/dotansimha/graphql-code-generator/blob/c0f7e16f2e9ddaab61421643da7e4851cadccf97/packages/plugins/flow/flow/src/index.ts#L10) already has it?

[2020-10-23 15:16] nodkz commented on #4654
To solve this problem just add the following line to your `schema.graphql` file:

[code]

@dotansimha I didn't find where graphql-codegen adds the wrong `@connection` directive definition for making a PR.

BTW It will be nice if this directive will be added to the `react-apollo` plugin.

[2020-10-24 07:39] syedahmedusman2 commented on #2979
How to do it

[2020-10-24 12:30] paales commented on #4216
@benmosher Are you planning on creating a PR by any chance? :)

[2020-10-25 08:59] #4935 closed

[2020-10-26 13:43] Nicoowr opened #4980 "Hooks generated with near-operation-file do not use the correct operation's name in typescript"
**Describe the bug**
First of all, thanks for this amazing tool!
I'd like to generate my hooks in multiple files using the plugin `near-operation-file`, without duplicating the document nodes. I use this config snippet (the full codegen.yml file is below):
[code]

For example, the following hook is generated:
[code]

The problem is that `Operations.user` does not exist, the original operation, whi

[2020-10-26 18:08] cancan101 opened #4981 "Ability to suppress generation of FragmentDocs"
I am using the codegen to generate only the typescript types and hence do not need the various `FragmentDocs`. Is there any way to prevent their generation?

I have this in my config now, so the `FragmentDocs` should not be needed:
[code]
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

I have tri

[2020-10-26 18:18] dotansimha commented on #4981
If you need only types, you can use `typescript` and `typescript-operations`. It generates only types. No need for additional plugins...
Am I missing something here? Can you please share a list of plugins you use?

[2020-10-26 18:38] cancan101 commented on #4981
I had `typescript-react-apollo` in addition to those. Removing it did remove the `Documents` and `FragmentDocs`, though I assume that means I won't be able to use `withHooks` down the road?

[2020-10-26 20:20] scvnathan commented on #4577
@dotansimha Would you accept a PR removing the `Exact` type?

[2020-10-26 21:11] zenflow commented on #4577
Just a thought.. could the `Exact` type be used as a placeholder for when a true `Exact` type *is* possible?

[2020-10-26 22:49] scvnathan commented on #4577
I have my doubts a true `Exact` type will ever exist, but I guess another option would be to allow modifying the `Exact` type like we can do with `Maybe`. But as it stands now `Exact` doesn't do what it says it does and as far as I know it's not possible 😢.

[2020-10-27 00:09] zenflow commented on #4577
@scvnathan It's not possible *right now* but it might be possible in the future right? As far as not doing what it says it does, if we wanted to keep the type as a placeholder, the implementation could be stripped (i.e. `type Exact<T> = T`) and perhaps come with some an doc comment to clarify the intention.

But probably the placeholder is not a great idea and it would be simpler to just remove `E

[2020-10-27 08:58] tvvignesh opened #4989 "Ignoring documents if not present"
**Is your feature request related to a problem? Please describe.**

I have a boilerplate setup for my projects and codegen is a part of it. But when you start a new project codegen errors cause it is not able to find any gql files which makes sense, but I would like to silently ignore it and proceed with the remaining part of type generation.

<img width="489" alt="1" src="https://user-images.gith

[2020-10-27 20:17] xenoterracide opened #4991 "[Feature] scalars on documents wrong"
So using Apollo Server testing... when I generate documents, the output of my scalar type is not what I need.

[code]

generates

[code]

which seems fine, but my converter

[code]

runs before my test returns

[code]

[code]

meaning what is actually being returns is a `string` not a `ZonedDateTime`.

[code]

only thought I have on fixing this is have documents support overriding scalars, possibl

[2020-10-28 10:23] thendra commented on #1737
Can someone also please update the docs on how to turn on DEBUG and VERBOSE modes? It currently says to set them as environment variables in the  but how to do that is unclear at the moment :) https://graphql-code-generator.com/docs/getting-started/codegen-config/#debug-mode

[2020-10-28 10:29] ardatan commented on #1737
Setting environmental variables depend on your OS. Let's say on POSIX(Mac, Linux etc) environments you can set an environmental variable only for that command like below;
[code]

[2020-10-28 10:32] thendra commented on #1737
Brilliant, thanks!

[2020-10-28 22:37] maclockard commented on #4912
@dotansimha I'm not sure I agree that this is a very specific use case. I'm currently going through the process of adding type brands to our ids in order to prevent 'wrong id type' bugs. graphql-code-generator does allows this as you point out, but it would be nice to have a config option to make this common pattern less manually intensive, particularly if there are many different possible types.

[2020-10-28 23:07] maclockard commented on #4912
Just found https://github.com/dotansimha/graphql-code-generator/issues/3049 and I think I might prefer that as a solution over this, to at least give more granular control

[2020-10-29 11:20] jaitd opened #5001 "Type suffix placed incorrectly in query variables type"
**Describe the bug**

Operation and variables types are incorrectly named when generated with the `typesSuffix` config option.

**To Reproduce**

The repro is available here: https://codesandbox.io/s/focused-allen-42r9f?file=/types.ts:655-681.

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

The generated type name

[2020-10-29 15:02] FezVrasta commented on #1967
I'm having the same issue after I upgraded to create-react-app 4.0 and removed the `React` imports due to the new JSX transform plugin

[2020-10-29 16:25] dotansimha commented on #1967
@FezVrasta can you please report that in `graphql-tools` repo? the code the does the extraction is managed there now.
@ardatan fyi

[2020-10-29 16:26] FezVrasta commented on #1967
I'm sorry, it may not be related actually, it was failing during a pre-commit hook but on my master branch with clean git state it works, so it must be smth different 🤦‍♂️

[2020-10-29 17:30] marisbest2 commented on #4912
It looks like #3049 also suggests using autogenerated branded ids.

Our pipeline has our schema generated from Python/Graphene -> schema.graphql -> typescript. A solution that requires maintaining a separate .d.ts (or any other file) is the same lift as a solution that requires us maintaining a scalar map in config.

[2020-10-29 19:03] asfernandes opened #5002 "Incorrect error "Unable to find parent type! Please make sure you operation passes validation" when using near-operation-file and @include"
**Describe the bug**
Incorrect validation error when using `near-operation-file`.

**To Reproduce**
Easy way to reproduce: go to https://graphql-code-generator.com/ and set "Operations types (near-operation-file)".

With "Operations types" it works.

Use this `operation.graphql`:

[code]

**Environment:**

- OS: Windows

- package.json
[code]

- NodeJS: 10.18.1

[2020-10-30 00:50] scvnathan commented on #4577
Sure its possible, although https://github.com/microsoft/TypeScript/issues/12936 has been open since 2016 and there hasn't been any indication from the TS team that they want to tackle this.

Right, I think having a placeholder `Exact` would just continue to add confusion in addition to adding unnecessary noise to error messages. The funny thing is I don't think removing it would even be a breakin

[2020-10-30 01:25] zenflow commented on #4577
Yeah, I have to agree.

I think technically it would be a breaking change, since it has the potential to break things (the type is exported from the generated file, and could be used other places), but in practice I doubt many/any apps would be affected.

IMO it would be fine to release this change in a patch release.

@dotansimha What do you think about removing the `Exact` type in a patch releas

[2020-10-30 01:28] zenflow commented on #4577
@scvnathan Yeah, I guess it doesn't make sense to expect this any time soon, but I'm still hoping it will come someday, either in the form of a built-in `Exact` type, or in the form of some other feature(s) that can be used to implement our own `Exact` type.

[2020-10-30 16:22] P4sca1 opened #5006 "vue-apollo plugin does not work with useTypeImports"
**Describe the bug**
The vue-apollo plugin ignores the `useTypeImports` setting for the import of the composition api.

**To Reproduce**
https://codesandbox.io/s/awesome-mendeleev-71ovu?file=/types.ts

**Expected behavior**
When `useTypeImports: true`, the import of the vue composition api should use `import type`.

[2020-10-30 18:42] P4sca1 commented on #4816
`@vue/apollo-composable` and `@vue/composition-api` do not provide default exports so it is correct to use `import * as` imports.

[2020-11-02 09:53] dotansimha opened #5012 "Output more optimized `DocumentNode`"
Removing empty array fields **should** work the same, and reduce bundle size.

[2020-11-02 11:01] tvvignesh commented on #3033
@dotansimha While codegen is working good with `federation: true` for me, I am facing this issue: https://github.com/graphql/vscode-graphql/issues/250 with the VSCode extension which uses the same config. Have you managed to get it working with `vscode-graphql` as well? Thanks.

[2020-11-02 13:09] tvvignesh opened #5013 "Inconsistent behavior when configuring via codegen.yml and graphqlrc"
**Describe the bug**
Hi. I was on my move from `codegen.yml` to using `.graphqlrc.yml` for all config for codegen, VSCode graphql and so on.

While doing so, I noticed that the same config behaved differently when using `codegen.yml` and when using `graphql-config`

eg:

**This works:** (codegen.yml)

[code]

**This does not** (graphqlrc)

[code]

I get schema validation error:

[code]

After disc

[2020-11-02 13:34] ajotaos commented on #2872
This is so heavily needed. Amazing idea!!!

[2020-11-02 13:49] JoeSchr opened #5014 "(vue-apollo) doesn't respect omitOperationSuffix anymore"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS:
- `@graphql-codegen/...`:
- NodeJS:

**Additional context**

[2020-11-02 13:53] mkaraula commented on #2872
We are currently doing

[code]

in gitlab CI to make a pipeline fail if the generated code differs from what was commited.

[2020-11-02 13:55] JoeSchr commented on #5014
https://github.com/dotansimha/graphql-code-generator/pull/5015

[2020-11-02 14:18] ajotaos commented on #2872
I see benefit on a check as part of my pre commit hook while in development as well.

[2020-11-02 18:08] dotansimha commented on #3836
There is some WIP for this issue here: https://github.com/dotansimha/graphql-code-generator/pull/5017

[2020-11-02 18:21] glennreyes opened #5018 "Confusing comment when DateTime is configured"
**Describe the bug**
Adding

[code]

To config should remove the comment above DateType of generated file:

[code]

**Expected behavior**

Just remove the comment if DateTime was set in the config.

[2020-11-03 07:54] xiaoliu-heng commented on #4654
@dotansimha @osalama7 sorry I'm late. <a href="https://codesandbox.io/s/eager-night-c0rq3?file=/codegen.yml">Codesandbox</a>
to reproduce, just remove the `directive.graphql`

@nodkz It works. thanks!

[2020-11-03 12:39] smashercosmo opened #5024 "graphql-code-generator stopped working with Gatsby"
**Describe the bug**
When I try to generate types from Gatsby schema, I get the following error
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the repo https://github.com/smashercosmo/gatsby-graphql-code-generator-issue
2. Run ```npm start```
3. In another terminal tab run ```npm run graphql2ts```

**Environment:**
[code]

[2020-11-03 13:08] GiniosGeo commented on #4980
Up! I have the same issue, what is the status ?

[2020-11-03 15:16] femetrie commented on #5024
A temporary fix is to explicitly specify the Gatsby folders that have types, like so:

[code]

[2020-11-03 15:22] smashercosmo commented on #5024
So basically all the transformers?

[2020-11-03 16:00] JesseZomer opened #5025 "Support for nested keyfields for Apollo-Client-Helpers"
**Is your feature request related to a problem? Please describe.**
Looking at book typepolicy keyfields example from the apollo client docs https://www.apollographql.com/docs/react/caching/cache-configuration/#generating-unique-identifiers you can see there is support for nested fields. However the types that get generated from the apollo-client helpers don't seem to support this yet and gives an

[2020-11-03 17:36] warent commented on #1210
Was this ever added? This is something I need as well @dotansimha

[2020-11-03 17:37] smashercosmo commented on #5024
Can confirm. Workaround works. Thx @femetrie

[2020-11-04 09:10] dotansimha commented on #1210
@warent we didn't add this. The original issue was referring to `__typename` and this is available on each type.

[2020-11-04 09:12] dotansimha commented on #5024
I'm closing for now.
Note that if you are using Gatsby, your schema and operations are spread across multiple packages, and codegen can't find those for your.
We always recommend to start with a narrow glob pattern, and extend it according to your needs. Using a broad pattern like `./node_modules/gatsby*/!(node_modules)/**/*.js` will try to load a lot of files, and some might throw an error or cre

[2020-11-04 09:12] #5024 closed

[2020-11-04 10:06] dotansimha commented on #5025
I think it might be related to the `TypePolicies & ` we add there in the generated code. Removing that allow me to use nested arrays:
![image](https://user-images.githubusercontent.com/3680083/98097693-0869a100-1e96-11eb-9019-680f0b9b5c5f.png)

But then , I think it breaks compatibility with ApolloClient, it complains that the object is not compatible with `TypePolicies`.

@JesseZomer can you plea

[2020-11-04 10:11] dotansimha commented on #4654
Actually, we are not adding that at all. Codegen doesn't do any schema/operations manipulations, so I can only assume this directive comes from somewhere within @xiaoliu-heng 's code.

As I said, this error is coming directly from `graphql-js`, and I'm not sure there is something we can do about it.

[2020-11-04 10:11] #4654 closed

[2020-11-04 10:14] dotansimha commented on #5018
Hi @glennreyes ,
This comment is coming from your GraphQL schema.
Please take a look at the implementation of your `scalar DateTime`.

[2020-11-04 10:15] dotansimha commented on #2872
@ajotaos we recommend not to commit your generated files. It bloats the git repo with files that would change anyway...

[2020-11-04 10:17] dotansimha commented on #5013
@kamilkisiela  what do you think?

[2020-11-04 10:20] dotansimha commented on #3033
@tvvignesh this is weird, we have a piece of code that makes sure not to add the directives if they are already loaded. So adding the directives to your `schema` under `graphql-config`, and adding `federation: true` to your configuration should work...

https://github.com/dotansimha/graphql-code-generator/blob/ac067ea088011cd43a145aa1b021f76f3603b1eb/packages/graphql-codegen-core/src/codegen.ts#L5

[2020-11-04 10:25] dotansimha commented on #4816
@P4sca1 thank you for clarifying. Closing.

[2020-11-04 10:25] #4816 closed

[2020-11-04 10:26] dotansimha commented on #5002
Hi @asfernandes ,
We are currently working on adding support for `@skip` / `@include` directives, see: https://github.com/dotansimha/graphql-code-generator/pull/5017
Closing (duplicate of https://github.com/dotansimha/graphql-code-generator/issues/3836)

[2020-11-04 10:35] dotansimha commented on #4991
Hi @xenoterracide
We can't really know the actual type of your scalar and they way it's being sneriallzied. If you are expecting to get a `string`, please map your scalar to a `string` instead of the object type.
Note that if you are using mixed configuration for codegen (Backend and frontend), you can declare `scalars` for each output separately, and then use the actual object in your backend, an

[2020-11-04 10:35] #4991 closed

[2020-11-04 10:38] dotansimha commented on #4989
Hi @tvvignesh !
I think the best way to go is to remove `documents` section from your boilerplate.

The reason we are throwing an error is because loading `documents` is not so simple- it might comes from a simple `.graphql` file, but there are cases we are extracting it from `.js` files as AST, or `require` file and look for exports. That's why it's important for us to notify the user that someth

[2020-11-04 10:44] dotansimha commented on #4981
Yeah exactly... The `FragmentDoc` are coming from `typescript-react-apollo`, and it's needed there because we need to pre-compile the operation in order to make sure we can wrap it and attach the type.
If you are looking for a more elegant solution, take a look at `TypedDocumentNode`: https://the-guild.dev/blog/typed-document-node

[2020-11-04 10:44] #4981 closed

[2020-11-04 10:56] asfernandes commented on #5002
The issue I have here (specific with near-operation-file) seems broad than what is described in #3836 which talks only about the types. Is this issue tracked there as well?

[2020-11-04 10:58] dotansimha commented on #5002
I see. Let me give this a look. I this your actual error is coming from the fact that the inline fragment you are using isn't named, while codegen assumes it must be.

Changing the fragment to this:

[code]

Should fix that.

[2020-11-04 11:00] dotansimha commented on #2979
Operations are not generated from the schema. They should be written based on the components / client that needs them.
Generating GraphQL operations isn't different than using REST...

[2020-11-04 11:03] dotansimha commented on #4865
@oskarious if the fragment spread is incorrect, you should get an error (validation error from graphql-js). We didn't change anything in codegen, so I can only assume this might be related to your setup / schema changes...

[2020-11-04 11:03] #4865 closed

[2020-11-04 11:11] dotansimha commented on #4919
I see. Maybe we can use `lexicographicSortSchema` from `graphlql-js` to fix that, I'll take a look.

[2020-11-04 11:26] smashercosmo commented on #5024
@dotansimha thx for explanation, but have to mention that official Gatsby receipt recommends using a broad pattern
https://graphql-code-generator.com/docs/integrations/gatsby/

[2020-11-04 11:31] tvvignesh opened #5033 "Issue with Federation when manually adding directives"
Hi. This is in context with the discussion here: https://github.com/dotansimha/graphql-code-generator/issues/3033#issuecomment-721644587

I am not sure if I am doing something wrong here. I have my directives added manually to support VSCode GraphQL extension (since it does not support Apollo Federaton: https://github.com/graphql/vscode-graphql/issues/250) like this:

[code]

Now, the VSCode Graph

[2020-11-04 11:34] ajotaos commented on #2872
You’re right I misread the issue, I was thinking about checking on the schema.prisma file.

[2020-11-04 11:38] ajotaos commented on #2872
You’re right I misread the issue, I meant that I could check whether the generated files are up to date with my configuration and schema. Like it could try to generate the files and if it succeeds, exits with zero and nothing gets created but if it runs and doesn’t match the in-memory doesn’t the generated file, it exists with non-zero.

[2020-11-04 11:39] tvvignesh commented on #4989
@dotansimha Makes sense. Just asking though, can't the error level be **warning** rather than terminating the codegen. That way, the user will still be notified but the codegen will still work even if there are no documents. I may be wrong, but if people prefer the codegen to fail on not finding documents, then maybe that can be a config.

Regarding `typed-document-node` - Please take your own tim

[2020-11-04 12:57] #5006 closed

[2020-11-04 12:59] #4944 closed

[2020-11-04 13:10] dotansimha commented on #4919
@Eddman implemented in: https://github.com/dotansimha/graphql-code-generator/pull/5034

[2020-11-04 13:26] dotansimha commented on #4989
This could work. @ardatan maybe this is related to graphql-tools as well. I think the exception is originally coming from there.
What do you think?

Btw, I fixed the issue with in typed-document-node here: https://github.com/dotansimha/graphql-code-generator/pull/5035

[2020-11-04 13:31] glennreyes commented on #5018
Thanks for the pointer, it indeed was! I haven't checked since the schema I am using is generated programmatically. Closing this.

[2020-11-04 13:31] #5018 closed

[2020-11-04 13:33] dotansimha commented on #2872
At the moment we don't.
You can implement it with a git-hook (using `husky` or similar tools). And just run codegen and then run `git add` to the generated files. This way it will make sure you are always committing the updated files.
In most setups, running codegen takes less than a second, so it shouldn't be an overhead for running this during commit or push hooks.

[2020-11-04 13:37] dotansimha commented on #5033
Thanks @tvvignesh for additional details.
So just to make sure I understand: if you are manually adding the federation types and directives, and you have `federation: true` in codegen configuration, you are getting incorrect types, right?
@kamilkisiela `federation: true` effects something else or just the schema? Because if we skip some kind of logic if the directives are already exists, we might

[2020-11-04 13:37] dotansimha commented on #5024
Got it, thanks @smashercosmo , I'll add a comment there to clarify this.

[2020-11-04 13:42] tvvignesh commented on #5033
@dotansimha Yup. Exactly.

[2020-11-04 14:33] ajotaos commented on #2872
Wouldn’t that end up commuting the generated files to git?

[2020-11-04 14:36] dotansimha commented on #2872
I thought that was your goal, and the author of that issue.
As I said, I don't recommend to commit the generated files, but if you decide to, some actions should be taken to make sure it's always in sync.

[2020-11-04 15:10] dotansimha commented on #5002
@asfernandes I think I managed to fix it in: https://github.com/dotansimha/graphql-code-generator/pull/5036

The actual error was really related to the preset. In this preset we ignore documents validation because we want to support partial documents. The code there assumes that every inline-fragment has typeCondition defined. I fixed that to support fragments without typeCondition (by using the p

[2020-11-04 15:11] ajotaos commented on #2872
I’ll open up another issue, it’s true it’s no the same from the author.

[2020-11-04 15:48] dotansimha commented on #4964
Thank you for reporting this @anderha .
I added support for this in this PR:  https://github.com/dotansimha/graphql-code-generator/pull/5037

Can you please try it? the alpha version is `@graphql-codegen/typescript-react-apollo@2.1.0-alpha-bd361352.0`.

[2020-11-04 16:21] JesseZomer commented on #5025
Removing `TypePolicies &` still gives me errors. The error stays the same. I think you're not getting an error in your example, because "id" and "email" are both properties from User, so those are ok.

if you had something like
[code]
Where you would get the isbn property from the favoriteBook property, you would still get errors.

I'm not sure how realistic this feature requests is btw, seeing ho

[2020-11-04 16:36] dotansimha commented on #4980
Hi!
Unfortunately , I don't think there is a way to solve that. If you are using code-files for defining your operations, and the variable is different than the operation name - this will result in error. The only solution I see right now is to name the variable, the same as the operation name.

There is a limitation of how many extractions and manipulations we can do for code-files, and this is o

[2020-11-04 16:36] #4980 closed

[2020-11-04 16:50] dotansimha commented on #5025
I see now, thank you @JesseZomer , I wasn't aware of the ability to specify nested fields within a type.

We can scan for all possible nested types on each types, and create [TypeScript tuples](https://www.typescriptlang.org/docs/handbook/basic-types.html#tuple) that will enforce the exact structure of all possible options there.
I don't think I have the time to do that in the upcoming days, so if

[2020-11-04 17:28] dotansimha commented on #5001
Hi @jaitd , I managed to fix this issue in: https://github.com/dotansimha/graphql-code-generator/pull/5038

Can you please give the alpha version a try? it's `@graphql-codegen/typescript-operations@1.17.9-alpha-94f1b416.0`

[2020-11-05 07:32] chriskrycho opened #5043 "Support type-only TypedDocumentNode declarations"
Currently, given a query like this—

[code]

—the generator creates this output (assuming `typescript-operations` and `near-operation-file` as well for convenience):

[code]

For many purposes, however, there's zero value in the *actual* TS output, only a type definition, and we in fact want to generate only a `.d.ts` file, which should look something like this:

[code]

[2020-11-05 08:24] dotansimha commented on #5014
Fixed in `@graphql-codegen/typescript-vue-apollo@2.2.0`.

[2020-11-05 08:24] #5014 closed

[2020-11-05 08:24] dotansimha commented on #4919
Available in `@graphql-codegen/schema-ast@1.18.0`.

[2020-11-05 08:24] #4919 closed

[2020-11-05 08:26] dotansimha commented on #4216
Fixed in `@graphql-codegen/typescript-operations@1.17.9`. Thanks @benmosher

[2020-11-05 08:26] #4216 closed

[2020-11-05 08:26] dotansimha commented on #4947
Fixed in `@graphql-codegen/cli@1.19.1`. Thanks @merceyz

[2020-11-05 08:26] #4947 closed

[2020-11-05 08:26] dotansimha commented on #5001
Fixed in `@graphql-codegen/typescript-operations@1.17.9`.

[2020-11-05 08:26] #5001 closed

[2020-11-05 08:27] dotansimha commented on #4911
Fixed in `@graphql-codegen/flow-operations@1.18.2`.

[2020-11-05 08:27] #4911 closed

[2020-11-05 08:27] dotansimha commented on #4719
Fixed in `@graphql-codegen/typescript-apollo-angular@2.1.0`

[2020-11-05 08:27] #4719 closed

[2020-11-05 08:28] dotansimha commented on #4964
Available in `@graphql-codegen/typescript-react-apollo@2.1.0`

[2020-11-05 08:28] #4964 closed

[2020-11-05 08:28] dotansimha commented on #5006
Fixed in `@graphql-codegen/typescript-vue-apollo@2.2.0`

[2020-11-05 08:29] dotansimha commented on #4944
Fixed in `@graphql-codegen/flow-operations@1.18.2`

[2020-11-05 08:30] dotansimha commented on #4989
@tvvignesh the fixed i mentioned above is available in `@graphql-codegen/typed-document-node@1.17.10`

[2020-11-05 08:30] dotansimha commented on #5002
Fixed in `@graphql-codegen/near-operation-file-preset@1.17.12`.

[2020-11-05 08:30] #5002 closed

[2020-11-05 08:31] dotansimha commented on #4923
Closing. @diversit if this is still relevant, feel free to ping me.

[2020-11-05 08:31] #4923 closed

[2020-11-05 08:32] dotansimha commented on #4701
Closing. @lensbart  if this is still relevant, feel free to ping me.

[2020-11-05 08:32] #4701 closed

[2020-11-05 08:32] #2729 closed

[2020-11-05 08:35] dotansimha commented on #3450
This is available for some time now. Closing :)

[2020-11-05 08:35] #3450 closed

[2020-11-05 08:36] dotansimha commented on #3244
Closing, I answered on that issue here: https://github.com/dotansimha/graphql-code-generator/issues/4980#issuecomment-721839710

[2020-11-05 08:36] #3244 closed

[2020-11-05 08:39] Diluka opened #5044 "default config file generated by graphql-cli is different from by codegen cli"
missing plugin `typescript-operations` and generated file missing type declaration but has reference raising an error

`graphql init` _generated into existed project frontend only and I only changed the file path_
[code]

`npx graphql-codegen init`
[code]

[2020-11-05 08:42] dotansimha commented on #5044
@Diluka can you please share more info? How did you generate this file using graphql-cli? Which command did you use? which version?

[2020-11-05 08:48] tvvignesh commented on #4989
Awesome. Will try it out now.

[2020-11-05 08:52] SimenB commented on #2729
This resurfaced for us, btw. Weære back to adding dummy queries to work around it. I'll try to put together a reproduction

[2020-11-05 09:06] dotansimha commented on #2729
@SimenB sure, waiting for a reproduction. Thanks!

[2020-11-05 09:42] SimenB commented on #2729
@dotansimha https://github.com/SimenB/codegen-extra-imports

[2020-11-05 10:09] jaitd commented on #5001
Thanks @dotansimha. It works now 😄

[2020-11-05 10:38] Kcazer commented on #4890
I opened a similar issue (#3950) some time ago

At the time, we wrote a custom script to manually fix the generated types (this script was later replaced with an `afterAllFileWrite` hook). Currently, our current schema doesn't have this issue anymore since the interface causing it was removed.

[2020-11-05 10:53] gynekolog commented on #4964
Is there an option to disable this feature?

Example:
[code]

`const [login] = useLoginMutation()` throw TS error now.
It can be solved by `const [login] = useLoginMutation({})` but I don't want make this "fix" across the whole project.
Is solution of this issue at @graphql-codegen/typescript-react-apollo@2.1.0 correct when error can be resolved by empty object?

[2020-11-05 11:15] daganomri opened #5045 "baseOptions should be optional on mutation hooks"
**Describe the bug**
The `baseOptions` argument on generated mutation hooks is required, when it should be optional.

**To Reproduce**
Generate any mutation hook.

**Expected behavior**
baseOptions will be optional when calling a mutation hook.

**Environment:**
- `@graphql-codegen/cli: ^1.19.1`
- `@graphql-codegen/typescript-react-apollo: ^2.1.0`

**Additional context**

[2020-11-05 11:23] dotansimha commented on #4964
@gynekolog thank you for reporting this. We are tracking the improvement of this feature here: https://github.com/dotansimha/graphql-code-generator/issues/5045

[2020-11-05 11:24] dotansimha commented on #5045
I'll create a PR for skipping [this feature](https://github.com/dotansimha/graphql-code-generator/issues/4964) for mutations.
Thank you for reporting this @daganomri

[2020-11-05 11:31] asfernandes commented on #5002
It worked for me. Thanks!

Not related with this ticket, I have a doubt about near-operation-file.

I created two `.graphql` files. It generates the modular `.ts` files. That's ok.

But my `.graphql` can not have duplicate names (for example fragments). Does it make sense in all cases?

I would like to have local names too, valid only in that specific `.graphql` file.

[2020-11-05 12:05] dotansimha commented on #5045
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/5046

[2020-11-05 12:23] dotansimha commented on #5045
Fix available in `@graphql-codegen/typescript-react-apollo@2.1.1`.
@daganomri @gynekolog

[2020-11-05 12:23] #5045 closed

[2020-11-05 12:27] paales commented on #4216
Thanks for the hard work everybody, I've been testdriving the PR for a while now and it seems to be working perfectly!

[2020-11-05 12:28] bubba commented on #5045
Should the baseOptions hook only be optional if there are no required variables needed for the mutation? Otherwise this undos #4964 for the mutations case

[2020-11-05 12:53] dotansimha commented on #5045
@bubba
Mutation - always optional, since you can specify it later (while executing), and I think we don't have a way to check that.
Query/Subscription - options are specified on the declaration level ,and now it will depend on the variables.

[2020-11-05 14:29] Eddman commented on #4919
@dotansimha Tested and can confirm it works as expected. Thanks!

[2020-11-05 14:40] jgoux opened #5048 "Inject TypedDocumentNode and type the graphql-operation automatically"
Hello,

**Is your feature request related to a problem? Please describe.**

Right now when we use the `@graphql-codegen/typed-document-node`, it generates the TypedDocumentNode along with the node definition.

When using the `gql` template string from `graphql-tag` for defining the operations, we already have the node definition. This part should be solved by https://github.com/dotansimha/graphql-

[2020-11-05 17:54] bubba commented on #5045
@dotansimha I didn't realise you could specify variables later. Thanks for clarifying!

[2020-11-05 20:21] moeHaydar opened #5049 "graphql-request plugin supporting custom headers per each request method."
A new feature is being supported by graphql-request library: Support passing custom headers per each request method.
This issue is to support that in the generation of the extra parameter than can be passed to the generated code in the plugin

graphql-request: PR: https://github.com/prisma-labs/graphql-request/pull/228

Note: I will do a PR here to resolve this issue once the graphql-request is me

[2020-11-05 22:41] openscript commented on #5024
Maybe it's also great to give some advices which plugins usually need to be declared.

[2020-11-06 06:39] Diluka commented on #5044
@dotansimha updated

[2020-11-06 11:16] diversit commented on #4923
I think it was with the default Node version on Mac which is v8.12.0 in my case.
Was able to continue after changing to v14. Thanks for looking into it anyway.

[2020-11-06 16:03] JoeSchr opened #5053 "Regression: vue-apollo `options` argument should be typed optional in useMutate Function"
from docs:

https://v4.apollo.vuejs.org/api/use-mutation.html

working on a fix...

[2020-11-06 16:34] ajotaos commented on #4849
Is this flag available maybe as internal?

[2020-11-08 11:21] VincentVW commented on #3319
@pchrysa I'm running into the same issue.

Can I ask why you closed this? Did you find a solution or reason this is not desired?

[2020-11-09 09:28] alexbjorlig commented on #4965
Can we give this issue more attention somehow? It's generating 14 vulnerabilities reports in our project 😕

[2020-11-09 10:35] cdupuis commented on #4965
It looks like https://github.com/ardatan/graphql-tools/issues/2041 is closed now.

[2020-11-09 10:56] alexbjorlig commented on #4965
ahh yes, I was missing a sincle package in my update script `npm i @graphql-codegen/{cli,typescript,typescript-apollo-angular,fragment-matcher,typescript-operations,typescript-resolvers,typescript-document-nodes}@latest` 😂

[2020-11-09 14:33] SimenB commented on #2729
@dotansimha reopen this, or should I file a new issue?

[2020-11-09 15:51] TheReincarnator opened #5061 ""Cannot read property 'type' of undefined" with multiple inheritance levels"
When generating TypeScript types from the following schema , I get "Cannot read property 'type' of undefined":

[code]

I think the code generator is confused by using both types that implement "Item" and "Item & Field".

The problem seems to be in `pre-resolve-types.ts`, in both `transformPrimitiveFields` and `transformAliasesPrimitiveFields`. At that point, the `schemaType` contains fields that

[2020-11-10 10:33] emilwihlander opened #5063 "Comment in the beginning of generated files"
**Is your feature request related to a problem? Please describe.**
No indication is given that a file is generated inside the file itself with default settings. I think that this should be the standard to clearly indicate to all developers that a file is generated.

**Describe the solution you'd like**
Always prepend generated files with a block comment describing that the file has been generated

[2020-11-10 11:44] pchrysa commented on #3319
@VincentVW It has been a while so I do not remember many details. I closed this because I got the understanding that this is a proper outcome and that Typescript should have the feature to handle the `implements` in a type like other type languages eg Java.

In my case I handled this situation in code where I was checking the type of the incoming input whether it was of one or the other type like

[2020-11-10 17:33] xenoterracide opened #5064 "Improve errors output from codegen cli"
this is what I'm running
[code]
[code]

but what is it failing on? what was it looking at? please improve the failure outputs to include what was being processed at the time. Here's the schema I've been working on

[code]
DEBUG is a decent solution, but I need this #4946, also I think it could be just reduced to

[code]

[2020-11-10 17:38] maapteh commented on #5063
Why is it not optimal. Our team for example start the filename with generated, and we need the eslint disabling in the top and also add the info about autogenerating for the users we call developers with just this add block :)
Personally i think add plugin gives full flexibility.

[2020-11-10 21:50] kover opened #5065 "Code generator doesn't work with "typescript-apollo-angular""
**Describe the bug**

Facing with the following error when trying to generate files for the Angular project:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

Generated output.

**Environment:**

- OS: macOS Catalina 10.15.7
- `@graphql-codegen/cli`: `1.19.1`

[2020-11-11 08:59] fossamagna opened #5070 "If Query operation not has non nullable variable, generated code with typescript-vue-apollo has a compile error"
**Describe the bug**
If query operation not has non nullable variable, parameter `variables` has question mark. it cause, generated code by `typescript-vue-apollo` has a compile error.

**To Reproduce**
Steps to reproduce the behavior:
Reproduce here: https://codesandbox.io/s/typescript-vue-apollo-repro-q7t1d?file=/document.graphql
[code]

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[2020-11-11 12:39] draco2007 opened #5072 "Typescript: GraphQL type [String] should allow single strings"
If I have following input schema:
`input Test {
    value: [String]!
}`

The resulting Typescript schema looks like this:
  `value: Array<Maybe<Scalars['String']>>;`

So Typescript only allows arrays as "value" for an instance of "Test".
But GraphQL specifications would allow a single sting.

I would expect the Typescript schema of "value" to look like this:
`value: Array<Maybe<Scalars['String']>>

[2020-11-11 14:29] capaj opened #5073 "generate TS files with `// @ts-nocheck ` at the top by default"
**Is your feature request related to a problem? Please describe.**
our tsconfig is set to flag unused variables as TS errors
[code]

graphql codegen sometimes generates files that have unused imports

**Describe the solution you'd like**

I would like if the generated TS files were not checked by default-this saves time on big projects and it doesn't make sense to check generated files. The fact t

[2020-11-11 14:30] capaj commented on #5073
I can create a separate bug issue for the imports being in the TS file, but it is not as big of a priority for me.

[2020-11-11 15:49] anderha commented on #4964
With the fixed mutation parameters in [#5045 ](https://github.com/dotansimha/graphql-code-generator/issues/5045#issue-736843294) it works like charm. Thanks a lot for this improvement @dotansimha

[2020-11-11 22:04] ArrayKnight commented on #4890
I'm not currently using skipTypename, but still having issues with invalid types (`Maybe<Array<Maybe<>>>`) being created with a nested fragment:

[code]

[code]

[code]

[2020-11-11 22:38] ArrayKnight commented on #4890
Looks like my issue might not strictly be about nest fragments... If I copy the fragment into where it was being used, I'm getting the same invalid empty Maybe. Is there a max depth that I'm hitting?

[2020-11-11 23:00] bsgreenb commented on #5024
Hey, really feel this shouldn't be closed @dotansimha .  My code previously worked and now is broken.  Shouldn't you be leaving this open to come up with a more systematic Gatsby integration?  If I'm not mistake, Gatsby is one of the MAJOR frontend graphql implementations.  This has already eaten up 2 days of coding time, I think I proly just need to find the duplicate `getIterator` thing myself,

[2020-11-11 23:14] bsgreenb commented on #5024
Pretty sure `getIterator` is declared in `core-js`: https://github.com/zloirock/core-js/search?q=getIterator

I think this issue may stem from multiple core-js versions.  E.g. here's what I get when I run `yarn why core-js`:
[code]

[2020-11-12 02:08] ArrayKnight opened #5074 "TypeScript - Bad syntax generated due to private interface"
**Describe the bug**
When a public query would return a private interface (due to a mistake in the public schema), the Codegen CLI "successfully" completes, but creates a type definition file with invalid (syntactically incorrect) types/interfaces (`Maybe<Array<Maybe<>>>`).

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `

[2020-11-12 04:00] ArrayKnight commented on #5074
Another possibility would be to write `unknown` in place of the missing type. Though a warning in CLI would also be nice

[2020-11-12 05:00] bsgreenb commented on #5024
Update: think I've got it working with this in the codegen.yml:
[code]

[2020-11-12 08:27] kettanaito commented on #1090
Alternatively, you can also point to the exact exported type as a value of the `config.contextType` property, without having to use the `add` plugin:

[code]

Given then there's a `Context.ts` file relative to the generated `schema.ts`:

[code]

Now in your resolvers you can access a type-safe context:

[code]

[2020-11-12 08:34] openscript commented on #5024
I think it's the right way to advice the user to pick the specific documents, but as I mentioned before it would be great to have a more detailed explanation how to choose these paths.

[2020-11-15 07:40] dkamyshov commented on #4849
Turns out, the feature was implemented by @maurobalbi [here](https://github.com/dotansimha/graphql-code-generator/pull/4931). Thank you!

It went unnoticed (for me, at least) and it wasn't included in the docs, so I decided to add it myself - https://github.com/dotansimha/graphql-code-generator/pull/5084.

[2020-11-15 13:28] arcanis opened #5085 "flattenGeneratedTypes w/ fragments across files"
**Describe the bug**
Using the `flattenGeneratedTypes` option (required to workaround https://github.com/dotansimha/graphql-code-generator/issues/4212) causes GraphQL to fail to locate fragments when located in other files.

Similar to https://github.com/dotansimha/graphql-code-generator/issues/528

**To Reproduce**
https://codesandbox.io/s/empty-fast-xl915?file=/codegen.yml

**Expected behavior**

[2020-11-16 06:57] #4849 closed

[2020-11-16 07:03] dotansimha commented on #5074
Thank you for reporting this @ArrayKnight . I'm not sure I fully understand this concept of private/public here. If an interface isn't being published as part of the schema, it should fail in codegen due to a missing type during the validation phase.
Can you please share a live reproduction of this issue?

[2020-11-16 07:06] dotansimha commented on #5073
I think we need to discuss that, since we tried to avoid those additions until now (like with linters). Mainly because this could be solved with `add` plugin.

@ardatan @kamilkisiela what do you think?

[2020-11-16 07:07] dotansimha commented on #5072
Thank you @draco2007 , tracking this here: https://github.com/dotansimha/graphql-code-generator/issues/2684

[2020-11-16 07:07] #5072 closed

[2020-11-16 07:08] dotansimha commented on #5065
Please share a live reproduction.

[2020-11-16 07:09] dotansimha commented on #5064
@xenoterracide the error should be visible. Are you running this as a script from a package manager? (seems like Yarn 2?)  can you please share a reproduction of that issue in a sandbox?

thanks!

[2020-11-16 07:10] dotansimha commented on #5063
I agree with @maapteh on that. Maybe we can offer a "built-in" plugin called `debug` or something similar, to print those (you can also create it, should be pretty simple).

[2020-11-16 07:11] dotansimha commented on #5061
@TheReincarnator can you please share a live reproduction of that issue?
Thank you!

[2020-11-16 07:11] dotansimha commented on #5053
Thank you for reporting @JoeSchr , Does this also solves that? https://github.com/dotansimha/graphql-code-generator/pull/5076

[2020-11-16 07:12] dotansimha commented on #5049
Thank you, @moeHaydar . I'm closing this since we can track this on the PR you created, and since this feature is not merged yet in `graphql-request`.

[2020-11-16 07:12] #5049 closed

[2020-11-16 07:28] xenoterracide commented on #5064
yes, yarn2, nodelinking

[2020-11-16 07:37] kamilkisiela commented on #5073
Only if it's behind a flag to enable it back on demand

[2020-11-16 12:47] dotansimha commented on #5085
The actual issue here is the fact that we are applying the `flattenGeneratedTypes` on the level of the plugin, after the preset has been executed and all operations has been splitted to separate output files.
That means, that we get a file for the fragment, and a file for the operation, but the operation needs to flatten the selection set and remove the fragment completely. Some kind of a race con

[2020-11-16 16:12] JoeSchr commented on #5053
@dotansimha No, `useMutate` gets at least 2 parameters `variables` and `options`. #5054 fixes `options` and #5076 fixes `variables`

Sorry, I didn't have time to fix these hardcoded types in the tests yet

[2020-11-16 17:11] dotansimha commented on #3836
https://github.com/dotansimha/graphql-code-generator/pull/5017 seems to be ready, merging soon. This feature will be available in next release :) Awesome work, @gilgardosh , thank you!

[2020-11-16 20:49] dotansimha commented on #5053
Got it, thanks @JoeSchr . Feel free to ping me when it's ready for a review :)

[2020-11-16 20:52] dotansimha commented on #5064
Got it, thanks. Can you please share a reproduction with the complete set of tooling you are using?

[2020-11-16 21:04] dotansimha commented on #5024
Got it, @openscript, TBH, I'm not sure.
It really depends on what extensions you are using for Gatsby.
I'm not highly familiar with that, so unfortunately I can't recommend on the right way of doing that.

[2020-11-16 21:12] dotansimha commented on #2729
New issue :)

[2020-11-16 21:16] dotansimha commented on #5002
@asfernandes i'm not sure i fully understood, can you please share an example?

[2020-11-17 03:50] sonatard opened #5087 "[Feature] Static type code generation with inline fragment"
I'm always frustrated when using following node query.

[code]

[code]

I have to write type check code every to write GetApplication1QueryDocument query code, It's so many time.

[code]

I would like to generate the same code following query.
Also, I want to configure it in yaml config file.

[code]

[code]

I suppose I could solve this problem by providing an application schema, but it's not lik

[2020-11-17 11:11] SimenB opened #5094 "[near-operations-file] adds unused import"
**Describe the bug**

When using `near-operations-file` with fragments, imports of unused fragments are sometimes added

**To Reproduce**

https://github.com/SimenB/codegen-extra-imports

Copying in the code from the reproduction repo seems unnecessary

**Expected behavior**

The unused import should not be added

**Environment:**

- OS: macOS
- `@graphql-codegen/...`: Some 1.19, some 1.17
- NodeJ

[2020-11-17 11:12] SimenB commented on #2729
#5094

[2020-11-17 11:15] asfernandes commented on #5002
In the system I'm working, I have (in the frontend) a service layer doing graphql calls. This IMO is something like the API (client) of the API (graphql) and seems very burocratic.

In this service layer we prefix fragments and query names which something to make them not ambiguous over the project. This is currently being done with apollo client and generator.

I do want to switch to graphql-code

[2020-11-17 18:31] dotansimha commented on #3836
Available in `@graphql-codegen/typescript-operations@1.17.10` and `@graphql-codegen/flow-operations@1.18.3`.

Thanks @gilgardosh !

[2020-11-17 18:31] #3836 closed

[2020-11-17 18:31] dotansimha commented on #5070
Fixed in `@graphql-codegen/typescript-vue-apollo@2.2.1`.

[2020-11-17 18:31] #5070 closed

[2020-11-17 18:51] Cellule commented on #3836
I've updated all the plugins I'm using

[code]

however, `@skip` and `@include` uses `MakeOptional` which is not defined in the generated file when using
plugins:
 - typescript
 - typescript-operations

[2020-11-17 19:01] Cellule commented on #3836
From looking at the pull request it looks like I need an updated `@graphql-codegen/typescript` is there a plan to publish the new version soon ?

[2020-11-17 19:10] Cellule commented on #3836
Also, why is `@skip` not respecting the `avoidOptionals` config ?
I would have expected to use
[code]
and depending on the config, to use the right one
I have a lot of places where I don't actually want optional fields

[2020-11-17 19:40] Cellule opened #5099 "[typescript-operations] @skip, @include doesn't respect avoidOptionals config"
**Describe the bug**

Related to #3836
When using `@skip, @include` with plugin `typescript-operations` it always uses `MakeOptional`.
When using `avoidOptionals` in the config, it should instead use `MakeMaybe`

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

[code

[2020-11-18 02:10] GreenGremlin opened #5101 "Mabye type for union types missing `namespacedImportName` prefix"
**Describe the bug**
The `Maybe` types generated by the typescript-resolvers plugin are missing the import type prefix for union types.

**To Reproduce**
Steps to reproduce the behavior:

Generate resolver type definitions using the typescript-resolvers plugin for the following schema.

[code]

With the following config

[code]

The `Maybe` types for the union types should be `Types.Maybe`, but in

[2020-11-18 07:00] dotansimha commented on #5087
There is nothing we can do about it, it's just the way you schema is implemented.
If you are using interfaces, it means that all implementing types can be returned from that field. Codegen will generate typed with type discrimination based on that `__typename`.
Even if the fragment is inlined, it still means that something else could be returned from that query, and not `Application`, since the re

[2020-11-18 07:00] #5087 closed

[2020-11-18 07:04] dotansimha commented on #5101
Might also be related:
 - https://github.com/dotansimha/graphql-code-generator/issues/4901
- https://github.com/dotansimha/graphql-code-generator/discussions/4877

[2020-11-18 09:24] c100k opened #5103 "Typescript generation fails with [object Object] instead of field name in Pick"
**Describe the bug**

Generation of typescript objects fails since the last update of `typescript-resolvers@1.17.11`.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/inspiring-pasteur-onywi

**Expected behavior**

In the codesandbox `types.ts` files at the line 36, we should have:

[code]

instead of:

[code]

**Environment:**

- OS: macOS (local) and codesandbox
- `@g

[2020-11-18 10:43] dotansimha commented on #5103
Hi, @c100k , please update `typescript-operations` as well. It should be: `1.17.10`.

[2020-11-18 10:43] #5103 closed

[2020-11-18 10:52] c100k commented on #5103
Hi @dotansimha, thanks for the feedback. Tested on the codesandbox and indeed it fixed it.

Generally speaking, having two dependencies with two different version number makes the whole thing harder to follow.

- @graphql-codegen/typescript-resolvers (1.17.10) + @graphql-codegen/typescript-operations (1.17.9) ✅
- @graphql-codegen/typescript-resolvers (1.17.11) + @graphql-codegen/typescript-operati

[2020-11-18 11:52] dotansimha commented on #5103
I totally agree with you, but unfortunately, semantic versioning doesn't refer to siblings / optional deps.

The thing here is that `typescript-operations` and `typescript` works together, but it can also be standalone. And both shares a common package. Fixing something in the common package will require you to update both to latest (like in this case). We are trying to avoid these changes as much

[2020-11-18 12:31] c100k commented on #5103
Ah ok I understand. Indeed, publishing everything, everytime is also not a good thing.

Maybe `peerDependencies` can help in this kind of situation. This way it would probably show warnings when executing `yarn install`.

And btw, you're doing a very good job with this tool!

[2020-11-18 15:25] dotansimha commented on #5099
Thank you for reporting this @Cellule ! You are right, the `avoidOptionals` was missed in that implementation.
@gilgardosh is working on a fix in https://github.com/dotansimha/graphql-code-generator/pull/5104 :)

[2020-11-18 20:56] anniej42 opened #5106 "Create new config to allow for consistent generated output ordering"
When running the generator two times in a row, the output is inconsistently sorted and creates a large git diff. When I add a new query for example, I'd like it to be easier to review the new generated types and functions before merging.

**Describe the solution you'd like**
A new config flag that allows for sorting the output. This might mean the generator will take a few more seconds to run, but

[2020-11-19 21:23] ArrayKnight commented on #5074
I don't have any immediate time to setup an environment, but I can describe it in a more specific example:

We're using Craft CMS as a headless CMS, so we bought a Pro license, enabled the GraphQL interface and got to modeling our data.

1. Create a top level Entry type (Page)
2. Go to the GraphQL Public Schema
3. Notice that Assets is unchecked (private, not part of the public schema)
4. Check En

[2020-11-19 21:26] ArrayKnight commented on #5074
To remedy this, I had to go to the GraphQL Public Schema, check Assets, and hit save.

[2020-11-20 15:09] danReynolds opened #5111 "Codegen failing on type policies"
We've defined some type policies in our app using Apollo 3, such as:
[code]

and use it in the client as below:

[code]

but when we run codegen, `we get error cannot query field testField` on Query. I know type policies are an Apollo 3 feature, is there anything we need to do to codegen to get it to recognize them and not say that their fields don't exist? Based on what I see in the config for co

[2020-11-20 15:18] #5111 closed

[2020-11-20 15:18] danReynolds commented on #5111
Makes sense that you would define schema extensions for the type policies

[2020-11-21 02:11] vjpr commented on #1975
@veeramarni Did you end up creating a preset?

[2020-11-21 17:08] jun-sheaf opened #5112 "[typescript] Non-null default fields are incorrectly optional"
**Describe the bug**

Default values are handled incorrectly.

**To Reproduce**
Steps to reproduce the behavior:
Suppose we have the schema
[code]
Then `graphql-codegen` will optionalize the argument `test`.

**Expected behavior**

The above should not be optional as `String!` is never `null`.

**Environment:**

- OS: Mac OS Catalina
- `@graphql-codegen/...`: Latest as of issue date
- NodeJS: Late

[2020-11-21 17:18] ardatan commented on #5112
If you provide a default value for an input field, it means that input field should be optional on client side. You are able not to provide a value for that because the server is able to handle it with the given default value.

[2020-11-21 17:20] jun-sheaf commented on #5112
Test cannot be set nullable on client side since test is a non-nullable type.

[2020-11-21 17:57] ardatan commented on #5112
I was talking about this behavior so in this case `bar` is optional there even if it is `String!`.
https://codesandbox.io/s/late-cache-npyqj?file=/src/index.js

[2020-11-21 18:11] jun-sheaf commented on #5112
Yes, I am aware, but as I stated, `bar` is not actually `null` for the resolver. [See here](https://codesandbox.io/s/stoic-chaum-un1z1?file=/src/index.js:0-1110)

Thus it would be better to have an `avoidOptionals` option for `defaultValue` for those who generate server types.

[2020-11-22 20:43] kover commented on #5065
for me, it happens after I'm using the update process in Angular. For example, I've tried

`ng update angular-apollo @graphql-codegen/cli @graphql-codegen/introspection @graphql-codegen/typescript @graphql-codegen/typescript-apollo-angular @graphql-codegen/typescript-operations`

and also

`ng update apollo-angular && npm uninstall @graphql-codegen/introspection @graphql-codegen/typescript @graphq

[2020-11-22 21:19] #5065 closed

[2020-11-24 03:23] vhenzl commented on #5106
This would be great! The output reordering every time I change my schema is bugging me a lot.

@dotansimha What do you think about adding `sort` config option for `typescript` plugin and using `lexicographicSortSchema` in the same way as you did for `schema-ast` in #5034?

[2020-11-24 09:28] dotansimha commented on #5106
I'm totally fine with that, but I think it should be in `graphlq-tools` loaders, and not in codegen. Because we need to do that after loading the schema. Codegen should offer flexibility to disable that feature (for large schemas).

[2020-11-24 11:02] bennypowers commented on #5043
Just chiming in to express my interest in this feature. It would enable me to [add `TypedDocumentNode` support to apollo elements](https://github.com/apollo-elements/apollo-elements/pull/96)

[code]

OR

[code]

[2020-11-24 22:14] RoryKelly commented on #4562
Same issue I use postgraphile and codgen to generate an api for our database, but the file types are huge, massively slows down IDE.

[2020-11-24 23:18] Shahor opened #5122 "enumValues with exported type break type safety"
**Describe the bug**

When specifying `enumValues` and pointing to an exported type directly, the exported type could not match the enum at all.

This means the schema isn't enforced on the types imported and it breaks type safety.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

4. Sandb

[2020-11-24 23:34] Shahor opened #5123 "enumValues don't work well with typesPrefix"
**Describe the bug**

When specifying `typesPrefix` I cannot use `enumValues` to declare the values for my enum.

**To Reproduce**
Steps to reproduce the behavior: See sandbox https://codesandbox.io/s/musing-bouman-lsgqt?file=/codegen.yml

**Expected behavior**

When I use `enumValues` in conjunction with `typesPrefix` I can only define the `enumValue` for the enum before prefixing.

The prefixed

[2020-11-25 13:31] maaft opened #5126 "Add `useImplementingInterfaces` flag for typescript plugin"
**Is your feature request related to a problem? Please describe.**

Currently interfaces are translated to typescript types using the interface name.
Schema:
[code]

This will generate following types:
[code]

The problem here is that I want to store the actual implementations of the interface in my array `m` on type `Foo` and not (per definition non-existent) instances of an interface.

**Describ

[2020-11-25 19:16] asfernandes opened #5131 "Scope for operation and fragment names"
I'm referring https://github.com/graphql/graphql-spec/issues/802 for discussion.

[2020-11-26 07:34] lioneltay commented on #1735
Hi, I seem to be getting the same issue in 1.19.2
![image](https://user-images.githubusercontent.com/20704084/100320834-e509c000-3015-11eb-94a5-341bb6b632a1.png)

When making an update to `codegen.yml` the watcher outputs
![image](https://user-images.githubusercontent.com/20704084/100320885-f652cc80-3015-11eb-8043-c96da473e0cc.png)
 but it doesn't actually generate any code.

[2020-11-26 12:00] tvvignesh opened #5136 "GraphQL Codegen with Modules preset"
Hi. I am trying to use Codegen with the GraphQL Modules preset as documented here: https://graphql-code-generator.com/docs/presets/graphql-modules

The thing is, the generation works well (both the overall types and module specific types), but I have a problem.

I have a separate `tsconfig` and `package.json` file for every module and use it with `PNPM workspaces` making it completely isolated and

[2020-11-26 12:17] dotansimha commented on #5136
Oh interesting :) the thing here - we can't know how to resolve that file within your workspace.

I think maybe we can do like we are doing with other presets. We allow to override the import path of the base types. I think this should work for you right?

[2020-11-26 12:22] tvvignesh commented on #5136
@dotansimha Since everything else is working without any issues, I should be good to go if I am just able to override the import. Don't need anything else.

I am not sure what you are talking about when you say "We allow to override the import path of the base types" though since I am not able to see that in the docs. Thanks.

[2020-11-26 12:39] dotansimha commented on #5136
Implemented in: https://github.com/dotansimha/graphql-code-generator/commit/6b708b69ac8b0aa784d771589148107ed6d10522

Available in `@graphql-codegen/graphql-modules-preset@1.1.0`.

Given your example, this is how it should look like:

[code]

[2020-11-26 12:39] #5136 closed

[2020-11-26 13:13] tvvignesh commented on #5136
@dotansimha Hi. Just tested it out and it works great.

It is just that if I use `@timecampus/core` it does `import * as Types from "@timecampus/core";` but I am doing a named export within the `core` module as `export * as GQLTypes from './generated/global.gql.types.generated.js';` and was expecting something along the lines of `import { GQLTypes as Types } from "@timecampus/core";` since it is o

[2020-11-26 14:23] tvvignesh opened #5139 "Support for Args and related module types in GraphQL Module Resolvers"
When I use the graphql-modules preset, I don't get typings like MutationCreateAuthMethodsArgs in the module generated file but I do get it in the overall codegen file

For eg: I have this in overall codegen file:
[code]

But not in the module file. I just have this:
[code]

I use the type in the provider like this:
[code]

but not able to do that now.

The typing works well in resolvers, but this

[2020-11-26 14:29] tvvignesh commented on #5139
Also, while not related to this issue the context is not typed when using graphql modules preset. I get the type as any. Screenshot below:

<img width="364" alt="1" src="https://user-images.githubusercontent.com/1165845/100362791-e214cc80-3021-11eb-8524-85dab7ba9344.png">

[2020-11-26 14:36] dotansimha commented on #5131
Thank you @asfernandes , moving to GitHub Discussions.

[2020-11-26 14:36] #5131 closed

[2020-11-26 15:30] tvvignesh commented on #5139
One more thing which I wanted to share is that, I use `DeepPartial` to return a portion of the schema from my functions and I have it configured like this:

[code]

Currently the import gets added to both the `global` and `module` generated types file (even though its not used in the module types file) because of which TS throws error (I run TS in strict mode)

<img width="394" alt="1" src="https:

[2020-11-26 15:49] dotansimha commented on #5099
Fixed :)

[2020-11-26 15:49] #5099 closed

[2020-11-26 15:50] dotansimha commented on #5012
Fixed and released !

[2020-11-26 15:50] #5012 closed

[2020-11-26 15:50] dotansimha commented on #5112
Merged and published. Thanks @jun-sheaf!

[2020-11-26 15:50] #5112 closed

[2020-11-27 17:53] joeyfigaro commented on #3610
Looks like this is no longer working with TS 4.0.2–using `"ResultName" as const` does not remove the error; like OP, though, removing `async` does remove the error.

[2020-11-28 03:23] vjpr commented on #4855
Ran into this too. Can we make it ignore them instead of causing this error?

[2020-11-28 06:08] JounQin opened #5140 "Cli inline config or configuration in `package.json`"
**Is your feature request related to a problem? Please describe.**

Sometimes, the configuration is just so small and I'd prefer to add it into `package.json` or even use cli inline config instead:

[code]

**Describe the solution you'd like**

As title, config inline or in `package.json`.

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2020-11-29 11:59] dotansimha commented on #5140
Hi @JounQin
We are using `cosmiconfig` to manage configuration file. It support many forms of loading configurations.

You can use codegen config as JSON, and put it under your `package.json` and it will work the same:

[code]

[2020-11-29 12:02] dotansimha commented on #4855
@vjpr we were ignoring this before, and then there was too many requests to make it available because other plugins needs it. I recommend naming your operations, regardless of this issue, it's helpful for caching purposes, and have an overview of what your operation does.

[2020-11-29 12:02] #4855 closed

[2020-11-29 12:05] JounQin commented on #5140
@dotansimha Thanks for your reply, it's not well documented.

[2020-11-29 12:06] dotansimha commented on #3610
It makes sense, since it marks the function as real `async` function, and not just as a regular function that returns a Promise.
@joeyfigaro any example for the TS4.2 issue? how can I reproduce this?

[2020-11-29 12:06] dotansimha commented on #5140
@JounQin you are right, I'll update the website. Thanks!

[2020-11-29 12:09] JounQin commented on #5140
@dotansimha Sorry but I tried to add `codegen` in `package.json` but failed:

[code]

[2020-11-29 12:10] dotansimha commented on #1735
@lioneltay this issue it outdated. Can you please report a new if this still relevant?
Thanks!

[2020-11-29 12:14] JounQin commented on #5140
The `cosmiconfig` search places are not by default, which may cause confusion.

https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-cli/src/config.ts#L21-L29

[2020-11-29 12:16] dotansimha commented on #5140
Yeah, you are right. Just noticed it.
I created a PR here: https://github.com/dotansimha/graphql-code-generator/pull/5144
Can you please try the alpha version from that PR?

[2020-11-29 12:21] dotansimha commented on #5111
@danReynold unfortunately, we can't really locate your defined typePolicies and convert it into a schema, so you have to define SDL for it, and provide it for codegen.

[2020-11-29 12:22] JounQin commented on #5140
@dotansimha The alpha version works.

[2020-11-29 12:22] dotansimha commented on #5074
Closing, @ArrayKnight . This was related to missing config right?

[2020-11-29 12:22] #5074 closed

[2020-11-29 12:23] dotansimha commented on #5140
Perfect, thank you for helping me to test it. I will merge and release soon :)

[2020-11-29 14:35] dotansimha commented on #5126
Available in `@graphql-codegen/typescript@1.19.0`

[2020-11-29 14:35] #5126 closed

[2020-11-29 14:36] dotansimha commented on #5140
Fixed in `@graphql-codegen/cli@1.19.4`. Thanks @JounQin !

[2020-11-29 14:36] #5140 closed

[2020-11-29 15:02] vjpr commented on #4855
I recommend naming too. But if another developer forgets to write a name then they get this obscure message that is very difficult to figure out.

Could we show a warning?

[2020-11-29 15:04] joeyfigaro commented on #3610
Fair questions @dotansimha — I think my issue is unrelated to the issue described here. I'm going to open up a new ticket with a repro. :)

[2020-11-29 15:17] dotansimha commented on #4855
@vjpr i'm all in with that ;) PRs are welcome. Should be pretty simple to implement.
If you wish to have a better workflow, you can try this: https://github.com/dotansimha/graphql-eslint ;)

[2020-11-29 15:51] dotansimha commented on #4965
Please update to latest versions. Also make sure to update some of you Yarn/npm resolutions to make sure you are getting the latest versions of `@graphql-tools/..`.

[2020-11-29 15:51] #4965 closed

[2020-11-29 16:34] FedeBev opened #5145 "Cannot read property 'finish' of undefined"
**Describe the bug**
Code generation fails with the following error when a remote schema is specified, it works as expected when using a local schema file:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema (generated with schema-ast):

[code]

2. My GraphQL operations:

fragments.graphql
[code]

mutations.graphql
[code]

3. My `codegen.yml` config file:

[code]

**Exp

[2020-11-30 11:56] robertherber opened #5148 "Using CLI with watch option doesn't reload configuration"
**Describe the bug**
When using the CLI with the watch option I'd expect the configuration file to be reloaded. I just spent an hour figuring out why my newly added typeMappings didn't update - only to realise the config was never reloaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Use any working codegen.yml/schema setup.
2. Run `graphql-codegen --config codegen.yml --watch my-schema.

[2020-11-30 14:23] vladinator1000 opened #5149 "Predictable output plugin idea"
Hi y'all! I'd like to make a plugin that hashes the input and stores it in a lock file, to prevent generating a new file when the input is the same.

Are y'all cool if I go for something like this?

[2020-11-30 15:07] FedeBev commented on #5145
I found out the issue and it was related to the server, in some cases there was an undefined variable.
The shown error was server side, I'd suggest to make the error a bit more clear when there is some kind of network/fetch error in order to make easier to understand how is failing.

Thanks

[2020-11-30 18:52] ArrayKnight commented on #5074
@dotansimha I disagree that this should be closed.

I can see the argument that this is a setting in Craft CMS that causes this issue, however, I feel like the codegen tool should handle this case by either throwing an error in CLI or replacing the missing type with `unknown` and warning in the CLI.

[2020-12-01 07:25] DarkLite1 opened #5154 "git generates: warning: LF will be replaced by CRLF in src/graphql/generated/fragment-matcher.ts"
**Describe the bug**

Whenever we create a new file with extension `.graphql` and run `graphql-codegen` to generate the required files for typescript we get the following error from git:

![image](https://user-images.githubusercontent.com/10828570/100709037-a9704c80-33ad-11eb-864d-8e483b4f1234.png)

**To Reproduce**
- Create a file `test.graphql` on a Windows machine
- Run `graphql-codegen`
- Add

[2020-12-01 07:32] dotansimha commented on #5074
I see, but I'm not familiar with CraftCMS, or with the exact setup that you have, and you are not able to create a complete reproduction. I don't have any tools to reproduce or investigate it.
I'm willing to try to solve that, but I will need your cooperation...
Please share a reproduction and then I'll re-open this.

[2020-12-01 07:32] dotansimha commented on #5154
@ardatan @kamilkisiela any idea how to solve that?

[2020-12-01 07:34] dotansimha commented on #5145
I think your server just returned a HTTP 200 with a string error, right? and then it failed because codegen can't parse it...

[2020-12-01 07:36] dotansimha commented on #5149
Hi @vladinator1000 ,
I'm not sure I fully understood this. Are you referring to a new plugin suggestion? If so, can you please share an example for input/output?
Or are you referring to an optimization on codegen core to prevent re-generating unchanged files?

[2020-12-01 07:38] dotansimha commented on #5148
Thank you for reporting this @robertherber . This seems related: https://github.com/dotansimha/graphql-code-generator/issues/1735
Maybe the comment there might be relevant as well.

[2020-12-01 07:44] ardatan commented on #5154
I don't think this is a critical error and actually it is not an error at all.
We can normalize the final content before saving to the disk by using the following package;
https://www.npmjs.com/package/eol

[2020-12-01 15:29] dotansimha commented on #4888
@gilgardosh fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/5115 🎉

[2020-12-01 18:46] yassinebridi opened #5156 "Pass the client in the codgen.yml, when using graphql-request with react-query"
**Is your feature request related to a problem? Please describe.**

When using `react-query` plugin with `graphql-request`, it requires you to always pass the client in the generated query like in the provided example:
[code]

**Describe the solution you'd like**
It would be cool to pass the client in the `codegen.yml`, like for the example you do with the fetch option:
[code]

[2020-12-01 19:37] dotansimha commented on #5156
I'm all in with that :) Btw, you can use custom external fetcher for now, and just delegate it to your `graphql-request` client ;) (see https://graphql-code-generator.com/docs/plugins/typescript-react-query#using-custom-fetcher)

[2020-12-01 23:13] yassinebridi opened #5157 "React-query's mutations variables are not optional"
**Describe the bug**

Using mutations with react-query, requires you to specify variables in advance, which is not always desirable:
[code]
Unlike the react-apollo plugin which makes specifying variables in a more declarative way like this:
[code]

**Environment:**
[code]

[2020-12-01 23:36] vladinator1000 commented on #5149
@dotansimha I'm not sure if it should be a plugin or core but I'm trying to do this, yeah:

[2020-12-02 00:08] robertherber commented on #5148
@dotansimha Indeed - seems like the issue has resurfaced again.

I can add that my current solution is using nodemon instead which works well as a workaround.

[2020-12-02 01:58] xiaoyu-tamu commented on #5157
The signature should be
[code]

[2020-12-02 13:44] kamilkisiela commented on #5013
@tvvignesh could you check if you're using latest versions of `graphql-config`, `@graphql-tools/*` and `@graphql-codegen/*`? Please check it in your `yarn.lock` or `package-lock.json`.

[2020-12-02 14:35] tvvignesh commented on #5013
@kamilkisiela Hi. I actually moved away from federation to stitching and hence this is no longer a problem for me. This problem might exist for others though.

And to your question, I have been using the latest versions of all of them (I update my deps once every 2 days). Also, I neither use NPM nor YARN but PNPM 😅 and while I did not check `pnpm-lock` before when this happened, I did check `packa

[2020-12-02 14:46] tvvignesh commented on #5013
And these were the deps I had when I posted this issue:

[code]

[2020-12-02 16:38] gilgardosh commented on #5013
Closing due to not being reproducible.
If someone's having a similar issue, open a new issue with a reproduction.

[2020-12-02 16:38] #5013 closed

[2020-12-02 17:14] dotansimha commented on #5148
@robertherber is there a chance you know which version you had before and if it worked? just so it will be easier to track what caused it. Thank you!

[2020-12-02 17:16] robertherber commented on #5148
@dotansimha I'm not sure if it's worked for me before - this happened in a new project. The reason I suppose it's been working in between is simply because of the related issue.. :)

[2020-12-02 17:22] dotansimha commented on #5157
You are totally right. Thank you.
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/5161

[2020-12-02 17:31] dotansimha commented on #5149
@vladinator1000 I see, thank you. it's a core feature in this case.
We do prevent fs operations when output file changes, but TBH, so far we didn't see projects that has performance issues with codegen. Is there a use case that requires this kind of feature?

[2020-12-03 09:42] lauromueller opened #5166 "type generation breaks on @graphql-codegen/typescript-react-apollo@2.2.1"
Before describing the bug, let me just drop a big "thank you" for this code generator. Saves a lot of time and headache when managing our React + Apollo app 🙂

**Describe the bug**

We currently use `@graphql-codegen/typescript-react-apollo@2.1.1` to generate graphql types and helper hooks for the Apollo Client serving our application. So far everything is working fine, however, when trying to upd

[2020-12-03 12:34] yassinebridi commented on #5157
@dotansimha i just tried the fix locally, i can confirm that it is not working.
The variables should not be passed in the useLoginMutation itself, like this:
[code]
But instead, in the fetcher function itself, like this:
[code]

[2020-12-03 12:41] jamesjwarren opened #5168 "Argument Type Name Clash"
**Describe the bug**
Field argument type names clash with certain naming of fields even though the GraphQL schema is valid.

For example:
`Collection.itemTags` and `CollectionItem.tags` both generate types for arguments with the same name `CollectionItemTagsArgs`.

**To Reproduce**
Steps to reproduce the behavior:

Sandbox with minimal reproduction:
https://codesandbox.io/s/fervent-faraday-1r00d?f

[2020-12-03 12:59] ardatan commented on #5166
Could you create a minimal reproduction on CodeSandbox? Thanks!

[2020-12-03 13:36] dotansimha commented on #5166
@lauromueller can you please try to update all codegen related to latest? we had a different issue a few days ago. We tried to prevent this, but in some cases when you upgrade only some of the codegne packages, you get duplicates in common packages, leading to this kind of issues.

[2020-12-03 13:47] lauromueller commented on #5166
Thanks for the quick reply. Here is a basic reproduction (I just updated the `package.json` file to use the package versions we are currently using and the codegen.yml file to include the typescript-react-apollo plugin):

https://codesandbox.io/s/bold-yonath-yqmst

And the specific part of the code:

[code]

[2020-12-03 13:59] lauromueller commented on #5166
@dotansimha updating all the packages solves the problem, so I'm closing this issue. Thanks!

[2020-12-03 13:59] #5166 closed

[2020-12-03 14:57] cncolder commented on #3919
You can add a custom hook.

[code]

Then you can do whatever you want.

[code]

[2020-12-03 15:36] FedeBev commented on #5145
Hi @dotansimha, my server returned a string error but with 500 as http code.

[2020-12-04 09:59] joesaunderson opened #5196 "Duplicate fragment names (in multiple files) causes command to fail"
**Describe the bug**
I have two separate queries, with separate fragments (named the same).

These queries are in different directories within my project, so I would expect both of them to create separate `EntityFragment` types in the generated files.

Instead, I receive this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

File 1:
[code]

File 2:
[code]

3

[2020-12-05 22:07] vladinator1000 commented on #5149
I'm mostly doing it cause I commit my generated file to source control and I'd like to avoid it appearing in the diff if it hasn't meaningfully changed.

[2020-12-07 18:07] galkatz373 opened #5212 "React Query infinite pagination"
I would love to use the react query plugin, but unfortunately it doesn't have a support for infinite scrolling and for me itvs really important, I would really appreciate it if you add it.

[2020-12-07 19:09] kaminskypavel commented on #1524
any advice on this? im on `"@graphql-codegen/cli": "1.19.4"` , and codegen generates `Users`

so
[code]

is resolved with

[code]

is there's anything I can configure?

[2020-12-07 19:37] imsteev opened #5215 "Supported formats when loading from URL"
Does this tool expect a certain format when loading from URL?
We have a `.graphql` file that gets served over HTTP, but when I run codegen on that URL, the CLI complains that it is not JSON. Shouldn't this tool be able to handle schemas in the normal `.graphql` format if we can do that locally?

[2020-12-07 20:39] ardatan commented on #5215
How does the URL look like because if it ends with '.graphql' URLLoader handles it as an SDL file.

[2020-12-08 05:31] imsteev commented on #5215
@ardatan it's not suffixed with a file format and the response is just plaintext
[code]
clients are not always in control of how this is served, so is there a parameter we can pass to the CLI to signal it should be treated as SDL content?

[2020-12-08 08:28] dotansimha commented on #5148
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/5209

[2020-12-08 18:41] xiaoyu-tamu commented on #5157
@dotansimha  I also can confirm that it is not working.

[2020-12-08 18:52] xiaoyu-tamu commented on #5157
it should invoke the function `client.request` immediately.

[code]

[2020-12-09 02:03] cabezonidas commented on #5157
This is my fetcher function.

`export function fetcher<TData, TVariables>(query: string, variables?: TVariables) {
  return async (): Promise<TData> => {
    const res = await fetch(graphqlEndpoint, {
      method: "POST",
      headers: {
        "content-type": "application/json",
      },
      body: JSON.stringify({ query, variables }),
    });

    const json = await res.json();

    if (json

[2020-12-09 08:29] dotansimha commented on #5157
Yeah, we should apply some kind of wrapping to the return value of `react-query` hook in order to allow to provide variables during execution of the mutation.

[2020-12-09 10:44] vhenzl commented on #5106
Do you mean that `schema` argument received by a plugin would be already sorted? Or in other words, the `sort` option would be global for the whole codegen, it wouldn't be on a plugin level? It would probably work for my use case, however, I'm not sure what the benefit would be. It seems to be limiting. Let's say I would have a plugin that requires schema in the original order (for whatever it's d

[2020-12-09 12:43] LiquidPoniard opened #5226 "[Bug] Typescript errors in generated file"
**Describe the bug**
I'm getting errors on the generated file. Comparing mine to other ones, it sure looks very strange. I could go on and fix the problem manually in the file, but it'd be lost after re-generating.

**Error message**

[code]

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. Generated file

[code]

3. My `codegen.yml` config file:

[code]

**Environment:**

- OS

[2020-12-09 13:15] dotansimha commented on #5226
- https://github.com/dotansimha/graphql-code-generator/discussions/5225#discussioncomment-175904
- https://github.com/dotansimha/graphql-code-generator/issues/5166
- https://github.com/dotansimha/graphql-code-generator/issues/5103

[2020-12-09 13:15] #5226 closed

[2020-12-09 15:26] LiquidPoniard commented on #5226
Thanks for the quick reply. Updating solved the problem.

[2020-12-09 19:35] nebbles opened #5227 "[typescript-resolvers] Field wrapper doesn't wrap array types"
**Describe the bug**
The change made for #3882 is counter-intuitive to me and seems like a bug. By my understanding, a Field definition includes whether its an array or not.

Based on this change, when adding to `config`:
[code]

Then I'd *expect* this wrapper to be applied to the Type of the field

[code]

However as mentioned, the above change means that Arrays cannot be given a custom wrapper.

[2020-12-10 00:26] JonasMS opened #5228 "Unable to find template plugin matching 'typescript-operations'"
**Describe the bug**
Running `graphql-codegen --config gqlgen.yml` results in the following error `Unable to find template plugin matching 'typescript-operations'`.

I know that other issues on this error have been created. None of the solutions that have worked for others work for me. Notably, I'm the only person on my team w/ this issue which leads me to think that there's an issue with my envir

[2020-12-11 10:03] ardatan commented on #5215
Until this gets released, you can use this url to trick the URL Loader;
`/graphql/schema?ext=.graphql`

[2020-12-11 11:32] maaft opened #5236 "Update C#-Operations Docs"
Currently Enums are not properly serialized when the standard Newtonsoft Serializer is used.

Solution:
[code]

This should be added to the docs.

[2020-12-11 12:31] ardatan commented on #5236
@maaft Could you create a PR that adds this to the docs?

[2020-12-11 13:22] deftomat opened #5238 "@skip, @include directives are sometimes ignored"
**Describe the bug**

`@skip` and `@include` directives are ignored when they are applied on "object".

Apollo server handles them correctly with no issue.

Also, the example in GraphQL docs is basically the same: https://graphql.org/learn/queries/#directives

**Doesn't work - `chat` is required:**
[code]

**Work as expected - `unread` is optional:**
[code]

**Environment:**

```@graphql-codegen/t

[2020-12-11 14:21] Slmii opened #5239 "All generated Fragments have [object Object]"
**Describe the bug**

Since today my generated `graphql Fragment` have values of `[object Object]`. I never encountered this issue before. This only happens with fragments.

![image](https://user-images.githubusercontent.com/9927849/101912205-b832dc80-3bc1-11eb-9b8c-22111bae131f.png)
![image](https://user-images.githubusercontent.com/9927849/101912451-0d6eee00-3bc2-11eb-9a77-fa5afaa7b6ea.png)

Eve

[2020-12-11 18:04] maapteh opened #5242 "no config in experimental graphql-modules generation"
In the old schema creation we had this config:

[code]

then enums became exportable as const enums. Now the new graphql-modules option creates the complete schema but i cant set any config. So i lost all my enums basically. I can create the other as well, but why having two schemas :)

btw really cool to see the progress on the suite!

[2020-12-11 18:24] Slmii commented on #5239
I went back to the versions and not its working
[code]

[2020-12-12 07:52] laurisvan opened #5245 "Inconsistency in interpreting `type Query` and `extend type Query` between graphql-codegen and graphql-modules"
**Is your feature request related to a problem? Please describe.**

We have been using graphql-codegen and graphql-modules together now for 2 years with great success. However, the adoption of graphql-modules 1.0 has now been blocked due to the differences in schema merging. This particularly blocks modularising Queries (and likely Mutations and Subscriptions), as the interpretation of schemas dif

[2020-12-12 23:12] mthines opened #5248 "Example for typescript version of `react-query` custom fetcher."
#### I spend quite some time figuring out the custom fetcher for `react-query`.

Docs
https://graphql-code-generator.com/docs/plugins/typescript-react-query#using-custom-fetcher

[code]

#### If it save somebody else the trouble, here's an example
[code]

I've added a PR which adds the example to the docs.
https://github.com/dotansimha/graphql-code-generator/pull/5249

[2020-12-12 23:35] zeroliu commented on #5239
Happened to me too. Everything works fine until I introduced a fragment, even if the fragment is not referenced in any query/mutation.

[2020-12-13 00:38] zeroliu commented on #5239
I have the same problem suddenly. I can get around it by setting `preResolveTypes` to true.

[2020-12-13 19:48] bridges-wood opened #5254 "Missing generation of union types (typescript-type-graphql)"
**Describe the bug**
typescript-type-graphql plugin does not generate the necessary `createUnionType` function when generating a union type.

**To Reproduce**
Steps to reproduce the behavior:
Use a union type as a property of a document and generate using the typescript-type-graphql plugin.

https://codesandbox.io/s/strange-northcutt-ki24s?file=/types.ts

1. My GraphQL schema:

[code]

3. My `code

[2020-12-14 08:32] DarkLite1 opened #5258 "Add support to the Vue plugin for useLazyQuery"
**Is your feature request related to a problem? Please describe.**
It seems impossible to start a query on demand as stated in our [StackOverflow question](https://stackoverflow.com/questions/65235192/how-to-trigger-graphql-usequery-on-demand-only-once).

**Describe the solution you'd like**
Add support for `useLazyQuery` to the Vue plugin.

**Describe alternatives you've considered**
There is cur

[2020-12-14 10:01] dotansimha commented on #5239
Please update ALL codegen related packages to latest version.

- https://github.com/dotansimha/graphql-code-generator/issues/5226
- https://github.com/dotansimha/graphql-code-generator/discussions/5225#discussioncomment-175904
- https://github.com/dotansimha/graphql-code-generator/issues/5166
- https://github.com/dotansimha/graphql-code-generator/issues/5103

[2020-12-14 10:01] #5239 closed

[2020-12-14 10:09] dotansimha commented on #5242
Hi!
Thank you for reporting it.
We do allow custom configurations, but not for enums customizations.

In this new preset, we generate main types file with everything in it, and then generate types file per graphql-module, with the contribution of it to the result schema.

Since [TypeScript enums are nominal types](https://basarat.gitbook.io/typescript/main-1/nominaltyping#:~:text=%E2%80%8BEnums%20

[2020-12-14 10:28] dotansimha commented on #5228
I can share a few guidelines that might help, as I think this might be a specific issue with your setup:
1. Make sure to update all codegen packages to latest. `graphql-toolkit` shouldn't be there if you have all latest codegen versions, since we moved to use `graphql-tools`.
1. Make sure you don't have graphql-codegen, graphql-tools  packages installed globally.
1. Delete ALL `node_modules` direc

[2020-12-14 11:13] maapteh commented on #5245
Hi Lauri, we are using modules too and had a common module. In common module i have the Query and Mutation and in all others i extend. While testing i use a stubbed common module. Maybe this helps you in your current block?

[2020-12-14 11:23] maapteh commented on #5242
No not really unfortunately. I hope to work on it next year since now i only have three working days left :)

[2020-12-14 11:33] maapteh commented on #5242
What i do saw, not related to this issue, but for me its weird to see typings getting created like in the docs..

When i changed:
[code]

and tested if the declaration now can be picked up with this change in creation file:

[code]

Then i dont have to import anything, which is in my opinion better :)

So my resolver will look like:

[code]

No imports needed :)

[2020-12-14 11:38] maapteh opened #5260 "[experimental-graphql-modules]: option to create d.ts files per module generating"
I saw in docs i need to import my namespaced typings for a module. I think we can improve this. So not exporting but simply declaring.

[code]

Then the file should not be:

[code]

but

[code]

Then i dont need to import the type, i can simply use it:
[code]

What do you think? You like to explicitly import the namespace, or just to consume it?

[2020-12-14 15:40] kamilkisiela commented on #5245
I don't understand (based on description) how GraphQL Modules are related to GraphQL Code Generator. What level we're talking here, loading GraphQL schema or generating types?

Codegen can understand both `extend type Query` and `type Query`.

[2020-12-14 18:10] sdzharkov commented on #5149
@vladinator1000 I've been looking for a solution for this - our issue is that the order of enums is not deterministic. Meaning - even if no backend GraphQL changes were added, the order of the enums will rearrange, and those changes will then need to be added to source control.

@dotansimha is there a reason that the order of enums is constantly rearranging, even though no backend changes were int

[2020-12-14 18:51] voxpelli opened #5263 "Nested interfaces results in fragment fields getting picked too widely"
## To Reproduce

Sandbox link: https://codesandbox.io/s/sad-galileo-ljeo2?file=/types.ts

Steps to reproduce the behavior:

1. Create an interface `B`that extends an existing interface `A`
2. Do a GraphQL query where you use a (inline) fragment for `B` where you pick some fields specific to `B`
3. Generate the types for that query
4. There will be a `Pick<>` that tries to pick `B` fields from type

[2020-12-14 21:37] mikefisher84 opened #5264 "Custom Types Returned from Directives Not Working"
**Describe the bug**

Our app uses a custom `@email` directive that does some extra validation and returns a type of `Email`

[code]

Our schema is defined like this:

[code]

Codegen outputs types that look like:

[code]

This makes sense because it's the custom directive javascript code that returns the `Email` type.

Our problem is we use Apollo Studio and `ApolloServerPluginSchemaReporting` to

[2020-12-15 04:34] ostrebler opened #5266 "Inconsistency between typescript-operations' result type and the actual Apollo query result"
**Describe the bug**
When generating `typescript-operations` types for operations, the query's or mutation's fields being called are not marked as optional. For example :

[code]

But in fact, the data returned by Apollo's `useQuery` hook **_can_** be an empty object :

[code]

Thus making the following instruction valid in TypeScript even though it throws a runtime error :

[code]

**Expected beh

[2020-12-15 11:07] JuroOravec opened #5268 "[typescript-vue-apollo][withCompositionFunctions] Accept readonly types for variables types"
**Is your feature request related to a problem? Please describe.**

We use the composition functions generated with `typescript-vue-apollo` with `withCompositionFunctions` config flag. We also use readonly types in parts of the codebase.

Currently, when we want to feed a readonly type as a variable to such generated composition function, we have to cast it or otherwise copy readonly types to muta

[2020-12-15 14:53] zbeyens opened #5271 "[typescript-react-query] Support React Query 3"
**Is your feature request related to a problem? Please describe.**

I've updated react-query to version 3 which has breaking changes.

- The generated file is importing `MutationConfig` and `QueryConfig` which no longer exist.
- The generated hooks should have generic types as we can now transform the fetched data into another type.

**Describe the solution you'd like**

Support react-query versio

[2020-12-15 17:01] dotansimha commented on #5266
Hi @ostrebler ,
I'm not sure I understand the issue here. We are generating only the piece of type that represents the return value. The `data` is defined by Apollo itself.
The `users` is generated based on your GraphQL schema.

Can you please share a live reproduction of this issue?

Thanks

[2020-12-15 17:04] dotansimha commented on #5264
Hi @mikefisher84 ,
This is a very specific use-case, where you use a directive to manipulate the schema? Where is it done? Because it seems like your are referring to a schemaDirective that changes the schema?

Btw, why not use a scalar called `Email` and do this kind of validation there? you'll get the same result with a statically defined type.

[2020-12-15 17:09] dotansimha commented on #5263
Thank you for reporting it @voxpelli . It seems like we somehow collects fields incorrectly in this use-case.
I assume your intended output is:
[code]

right?

[2020-12-15 17:12] dotansimha commented on #5149
I think eventually our best solution it to port this piece of code: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/other/schema-ast/src/index.ts#L57 into `graphql-tools`.
I think it should be pretty simple.

@ardatan can you please take a look?

[2020-12-15 17:16] mikefisher84 commented on #5264
Hey @dotansimha thanks for getting back to me and I can't say I completely disagree with you regarding the custom `Email` scalar. However I'm basically following an example out of the Apollo documentation around custom directives verbatim, so I'm surprised I'm the first person to have this issue. Also while I only mentioned the `@email` use case in my ticket we also have an identical `@length` cus

[2020-12-15 17:20] dotansimha commented on #5264
Got it. But still, it's a custom way to declare your schema. I do agree that it's needed, since you can't pass arguments to scalars. In case of an email, scalar fits perfectly.
In case of more complex examples, like the one you shared, it is needed.

To workaround that, you can tell codegen to load your schema from a code file, and tell it to ignore plucking. This will result in `require` to your

[2020-12-15 17:25] dotansimha commented on #5248
Thanks @mthines , keeping open until we'll add this to the docs.

[2020-12-15 17:30] dotansimha commented on #1524
We don't support that at the moment. You can use fragments and name it based on your preference.

[2020-12-15 17:31] dotansimha commented on #5149
Tracking in: https://github.com/dotansimha/graphql-code-generator/issues/5106#issuecomment-741689595

[2020-12-15 17:31] #5149 closed

[2020-12-15 17:32] dotansimha commented on #5106
@ardatan please take a look, should be simple to add to graphql-tools.

[2020-12-15 17:33] mikefisher84 commented on #5264
Thanks @dotansimha ! I'm working on implementing that solution but it seems when I add noPluck codegen throws cli errors.

[code]

The top of my codegen yml now looks like this:

[code]

And my custom directive code for length looks like this:

[code]

Any ideas??

[2020-12-15 17:35] dotansimha commented on #5264
Try something like that:

[code]

Then, inside `codegne-schema.ts`, make sure to load all other files, do your schema changes, and export a ready-to-use `GraphQLSchema`.

For the specific error you got, I think you need `require` field set because of TS. See: https://graphql-code-generator.com/docs/getting-started/require-field#typescript-support

[2020-12-15 17:37] mikefisher84 commented on #5264
Awesome thanks Dotan! Really appreciate the help. I'll give this a shot.

[2020-12-15 17:37] dotansimha commented on #5196
Can you please try to move `documents: "src/**/*.graphql"` to the `src/:` section?

[2020-12-15 17:55] joesaunderson commented on #5196
- Sorry I'm not following, do you mean like this:

[code]

[2020-12-15 18:54] joshbedo opened #5273 "Cannot find name 'Exact'"
**Describe the bug**
I'm running `npm run gql` to generate the code but I'm seeing this as an application error. Not really sure why it can't find 'Exact' or how to fix it.
[code]

codegen.yml

[code]

package.json

[code]

[2020-12-15 20:34] UselessPickles opened #5274 "Support configuration of default scalar type for custom scalars"
**Is your feature request related to a problem? Please describe.**

When generating typescript code, I would prefer that the `Scalars` type mapping for custom scalars default to `unknown` rather than `any` (better type safety; forces explicit typecasting; makes missing custom scalar type overrides more obvious). It's conceivable that there may be similar desires when generating code in other langu

[2020-12-16 02:18] Israel001 opened #5275 "Error when i try to auto generate graphql file"
**Describe the bug**

I have an issue with this library when i try to convert a working `json` configuration into `yml` in order to make use of environment variables.

Here is the contents of the working `json` configuration:

[code]
Since there is no way to make use of `env` variables in the json files, so i tried to convert the above config into `yml` format as shown below:
[code]
When i run the

[2020-12-16 02:39] ostrebler commented on #5266
Hello @dotansimha, thanks for your reply. You're right, this might actually be an issue with Apollo : https://github.com/apollographql/apollo-client/issues/7486

[2020-12-16 06:35] #5266 closed

[2020-12-16 06:38] dotansimha commented on #5275
The same configuration worked for you with JSON configuration? (Btw, you can use `.js` extension as well, and then use `process.env` to get the env vars).
Btw, I don't see where the env var is set in your reproduction - are you sure it's defined correctly? Also, can you try to simplify the name of your variable? to something like `TOKEN`?

[2020-12-16 06:42] dotansimha commented on #5273
Please update to latest versions of codegen cli and plugins and try again. Let me know if it needs to be reopened.

[2020-12-16 06:42] #5273 closed

[2020-12-16 07:09] Israel001 commented on #5275
Sorry, i forgot to post the env variables.

By the way, do you have any `.js` file example 'cause i tried it and it didn't work.

But I got it to work after changing the name of my variable to `TOKEN` xD. If only the error had pointed that out lol. Thanks for the help.

[2020-12-16 08:04] dotansimha commented on #5275
It's not really an error, I just had the feeling that using `-` in env vars is not a valid usage, that's why I asked you to try that...

Regarding `.js` file - you can change the filename to `codegen.js` and do:

[code]

[2020-12-16 08:04] #5275 closed

[2020-12-16 09:54] voxpelli commented on #5263
Exactly @dotansimha, I of course should have added that to my issue report 😅 Thanks for figuring it out anyway!

[2020-12-16 11:34] KnisterPeter opened #5277 "Codegen writes too many files"
**Describe the bug**
The types for the cli does state that some hooks (e.g. `afterOneFileWrite`) are not called if the generated file did not change.
This is not the case, files are written all the time. If these files are part of other watchers (e.g. typescript) this will trigger an unncessesary compile cycle.

**To Reproduce**
Steps to reproduce the behavior:

Have a setup with a graphql file an

[2020-12-16 14:15] n1ru4l commented on #5263
@dotansimha Yes, should be pretty straight-forward to implement a failing test case and adjust the implementation. I can take a look over the next few days!

[2020-12-16 16:51] dotansimha commented on #5263
Awesome, thank you so much :)

[2020-12-16 17:07] TLadd opened #5279 "Generate schema types to one file that can be imported for operations types"
**Is your feature request related to a problem? Please describe.**

I work in a monorepo with a graphql server and multiple packagesthat make requests to the graphql server. Each package defines the queries it needs in a queries.graphql file and I use graphql-code-generator to generate React hooks for each operation defined with appropriate types. This all works great, but there is a lot of duplic

[2020-12-16 17:38] vladinator1000 commented on #5106
We could also store a hash of the input in a comment in the generated file and use that to skip regenerating the schema if nothing changed?

[2020-12-17 08:34] yoavain-sundaysky opened #5281 "typescript-react-apollo: Invalid TypeScript output when both withHOC and useTypeImports are true"
**Describe the bug**

When using `typescript-react-apollo` plugin, and enabling both `withHOC` and `useTypeImports` output is not a valid TypeScript file:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open live-demo
2. Choose the `Operations types` template
3. Change the config to one below

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config

[2020-12-17 08:49] lanwin opened #5282 "[typescript-operations] add description and @deprecated comments with preResolveTypes=true"
**Is your feature request related to a problem? Please describe.**

We use preResolveTypes since I dont want the devs to accidentally use the graphql types witch happens quiet often recently (maybe an option to dont export them could also help here). I read recently that deprecations are added to the generated files via @deprecated comment. So Ive looked them up and found they are only added to th

[2020-12-17 10:56] maapteh commented on #5260
Hi Dotan i can pick this up after my holiday. The approach i thought about it:

[code]

 if i see extension of filename is ending with .d.ts then i do stuff like:
 `${shouldDeclare ? 'export' : 'declare'} namespace ${baseVisitor.convertName`

 and move the import, good? or you have something else in mind?

[2020-12-17 15:59] dotansimha commented on #5260
@maapteh sounds good :) We are not generating any code there and only declare types, so it should work.

[2020-12-17 16:01] dotansimha commented on #5106
Not sure, since we support many forms of loading, so it might cause issues in other areas (loading from git / url / external service).

[2020-12-17 16:04] dotansimha commented on #5279
We have `near-operation-file` preset at the moment. it should allow you to generate a single base-types file (from `typescript`) plugin, and then generate TS file per each operation found, and it will maintain imports. You can override the imports generated by this plugin and use scoped imports if you wish to have this done thought your monorepo structure.

We current don't have a `file-per-each-p

[2020-12-17 16:06] dotansimha commented on #5277
We do have some code that should prevent writing to the FS during watch mode, when possible. Maybe something is broken and should be improved.
Thank you for reporting this @KnisterPeter , any chance you can share a reproduction of your setup?

[2020-12-17 16:09] KnisterPeter commented on #5277
Hi, maybe I've miss understood that. I was not referring to watch mode.
If you like I can propose a PR which implements the missing parts for non watch mode.

[2020-12-17 16:11] dotansimha commented on #5277
Sure, this could be amazing. Here's a reference to the piece of code I mentioned: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-cli/src/generate-and-save.ts#L56-L60 , I think it runs even on non-watch mode, but probably could be improved a lot.  Thank you!

[2020-12-17 16:50] TLadd commented on #5279
Neat, thank you for pointing me to the `near-operation-file` preset. I actually only have one operation file per package, so I think this existing preset will work exactly the same as a `file-per-each-package` would for my purposes.

[2020-12-17 16:50] #5279 closed

[2020-12-17 17:40] JonasMS commented on #5228
Thank you for this response @dotansimha.

Turns out I had an erroneous `node_modules` dir in the parent folder. Removing that fixed that issue, but there still seems to be an issue with the codegen.

I'm getting a bunch of TS errors that my colleagues aren't getting. An example is `Type 'undefined' is not assignable to type 'Maybe<CallStatus>`.

And now after running my build a few times it's work

[2020-12-17 19:52] pierre-lucas40 opened #5285 "Preset import-types not importing typescript-operations in all my files"
**Describe the bug**
I have a monorepo with a root codegen.yml including this:
[code]

In packages/api/src/types/models.ts, the operation's types are well imported from './common' (Types.InterfaceX)
But in packages/api/src/types/auth-models.ts, the operation's types are not prefixed by 'Types.' so it doesn't find them... Why is there a difference between those 2 files please ?
(If I only put the t

[2020-12-18 08:36] lanwin commented on #5285
I felt onto the same problem and looked up importOperationTypesFrom in the codebase. It seems typescript-graphql-request did not even use it. But I see usage in vue-apollo, react-apollo, react-query

[2020-12-18 15:39] tvvignesh opened #5289 "GraphQL Modules preset fails when there are multiple schema entries in config"
**Describe the bug**
I use `graphql-modules` preset with codegen and it works well. It fails when my `.graphqlrc.yml` file has multiple entries for schema. That is,

**This works:**

[code]

**This doesn't:**

[code]

I get this error when running codegen:

<img width="773" alt="1" src="https://user-images.githubusercontent.com/1165845/102632483-302a7500-4175-11eb-96f3-ad2f1d38f82b.PNG">

The file

[2020-12-18 16:33] tvvignesh commented on #5289
**UPDATE:** Its working well after splitting it into multiple projects. If this is not a bug, feel free to close it. Thanks.

[2020-12-18 16:53] n1ru4l commented on #5263
Please check out https://github.com/dotansimha/graphql-code-generator/pull/5290

[2020-12-20 02:08] kcwinner commented on #5271
My PR addresses the react-query v3 change for the imports.
Also a slight change to the mutations (but perhaps maybe I misunderstood how it was supposed to be used) so that variables are passed to mutate and not at the instantiation.

I haven't taken a look at the generic types yet. I'll try to take a look tomorrow

[2020-12-20 14:51] bkstorm opened #5298 "Syntax Error: Unexpected Name "TermNode" when generating wp-graphql-woocommerce schema"
**Describe the bug**
I use wordpress with wp-graphql-woocommerce on the server side, next.js on the client side.
When running `yarn generate` to generate react hooks, it throws an error: `Syntax Error: Unexpected Name "TermNode"`.
I check the schema, there is an interface named TermNode, I don't know why the error occurs, perhaps you know.

**To Reproduce**
Steps to reproduce the behavior:
Please

[2020-12-20 17:10] kcwinner commented on #5271
Ok @zbeyens do you mean something like this?
Modified v3 custom hook
[code]

Example of using the hook
[code]

[2020-12-20 18:43] zbeyens commented on #5271
### useQuery

- `useQuery<TData = unknown, TError = unknown, TQueryFnData = TData>`

3 generics:
[code]

I think we can omit the third generic as it should always be `TQueryFnData = DocumentItemQuery`, so with 2 generics:

[code]

Example of using the hook:

[code]

### useMutation

- `useMutation<TData = unknown, TError = unknown, TVariables = void, TContext = unknown>`

2 generics, removing `var

[2020-12-20 20:25] kcwinner commented on #5271
@zbeyens Thanks! My generic knowledge is a little lacking. I sweat I tried the `export const useDocumentItemQueryV3 = <TData = DocumentItemQuery, TError = unknown,>(...` example last night and it wasn't working. Fresh day though and it's good to go.

I'll go ahead and rewrite it to drop v2 support. It'll definitely be easier than supporting both.

As for the mutation this appears to work with the

[2020-12-20 21:19] kcwinner commented on #5271
PR has been updated. Let me know what you all think

[2020-12-21 16:38] zbeyens commented on #5271
Perfect! Added a small review

[2020-12-21 23:54] cdaringe opened #5303 "rfc: react-query hooks with near-operation-file -like generation"
**Is your feature request related to a problem? Please describe.**

n/a

**Describe the solution you'd like**

cc/ @dotansimha

the `react-query` plugin is a great idea. however, it's not tailored to my current workflow.

desired outcomes:

- `my-query.graphl` => `my-query.generated.ts` // produces types via `typescript-operations` (done!)
- `my-query.graphl` => `my-query.hook.generated.ts` // pro

[2020-12-22 14:28] anlauren commented on #4069
I have  tried different options around the `avoidOptionals` but nothing seems to do what the post asked.

If i turn off the optional resolver, i can forget to write a resolver for a required graphql field that is not on my model, and the graphql query will crash.

Eg:
In the example given above, with `avoidOptionals` turned off for  resolvers, if don't write a resolver for `Todo.authors` it all co

[2020-12-22 17:35] jardakotesovec commented on #3174
@dotansimha Sorry to be pain - but just run into this as well. Its clearly still issue - why this can't be reopened since it has all the details it needs?

[2020-12-23 13:12] MananDesai54 opened #5308 "DOCS: getting-started/installation, in this page text are shown black in dark mode too"
**Describe the bug**
 getting-started/installation on this page, the npm / yarn install commands are shown black in dark mode too and not properly visible.

**Expected behavior**
text color need to be changed to changed to white

[2020-12-23 14:44] dotansimha commented on #5101
Fixed in `@graphql-codegen/flow-resolvers@1.17.13` and `@graphql-codegen/typescript-resolvers@1.18.1`. Thanks @GreenGremlin

[2020-12-23 14:44] #5101 closed

[2020-12-23 14:44] dotansimha commented on #5260
Available in `@graphql-codegen/graphql-modules-preset@1.2.0`. Thanks @maapteh

[2020-12-23 14:44] #5260 closed

[2020-12-23 14:45] dotansimha commented on #5271
Available in `@graphql-codegen/typescript-react-query@1.0.0`. Thank you all!

[2020-12-23 14:45] #5271 closed

[2020-12-23 14:45] dotansimha commented on #5263
Fixed in `@graphql-codegen/typescript-operations@1.17.13`. Thanks @voxpelli @n1ru4l !

[2020-12-23 14:45] #5263 closed

[2020-12-23 14:45] dotansimha commented on #5215
Please make sure to update codegen and it's deps to latest, it should fix that.

[2020-12-23 14:45] #5215 closed

[2020-12-23 14:46] dotansimha commented on #5148
@gilgardosh  fixed it in https://github.com/dotansimha/graphql-code-generator/pull/5209 , and it's available now in `@graphql-codegen/cli@1.20.0`. Thanks!

[2020-12-23 14:46] #5148 closed

[2020-12-23 14:46] dotansimha commented on #4888
Available now in:
`@graphql-codegen/flow-operations@1.18.5` and `@graphql-codegen/typescript-operations@1.17.13`.

[2020-12-23 14:46] #4888 closed

[2020-12-23 14:50] dotansimha commented on #5303
Thank you @cdaringe , I don't see a reason for this not to work, maybe it just needs some adjustments. Btw, we've just released v1 of the plugin with react-query v3 support ;)

[2020-12-23 14:52] dotansimha commented on #5298
Hi @bkstorm
The schema you are using is compatible only with old versions of GraphQL. It's using `,` as separator for interfaces implementations. In new versions of GraphQL it should be `&`.

[2020-12-23 14:52] #5298 closed

[2020-12-23 14:54] dotansimha commented on #5289
@tvvignesh any chance for a minimal reproduction? :)

[2020-12-23 14:56] dotansimha commented on #5285
@lanwin is right. Not all plugins support all flags and all combinations with presets. We are trying to track those and fix, so we might found another one :)
I guess in this case, it's an issue only with typescript-graphql-request plugin, right?

[2020-12-23 15:07] dotansimha commented on #5274
Totally agree :) PRs are welcome ;)

[2020-12-23 15:08] dotansimha commented on #5248
Thanks @mthines , it should be live now :)

[2020-12-23 15:08] #5248 closed

[2020-12-23 15:09] dotansimha commented on #5168
You can customize the prefixes and naming conventions in all plugins. Have you tried it?

[2020-12-23 15:10] dotansimha commented on #5145
I see. Is it possible to share a reproduction of the issue? I didn't manage to get the same error...

[2020-12-23 15:11] dotansimha commented on #5196
Yeah, exactly :)

[2020-12-23 15:11] #5228 closed

[2020-12-23 15:18] lanwin commented on #5285
I dont use Preset but I would bet its the same issue. So 👍

[2020-12-23 15:19] tvvignesh commented on #5289
@dotansimha Actually, I dont think any repro might help since this happens only with a small config change. So, attaching a gif to show this possible issue (which you can see with any modules setup). If this doesn't help, I will try to setup a minimal repro.

To be honest, I am not sure if this is a bug. Leaving that to your decision.

![modules-bug](https://user-images.githubusercontent.com/11658

[2020-12-23 15:30] tvvignesh commented on #5289
@dotansimha I added some logs in the `extractModuleDirectory` function in `index.cjs.js` like this and noticed the paths are different and this is the reason why the error occurs:

<img width="484" alt="1" src="https://user-images.githubusercontent.com/1165845/103012624-dc979d00-4561-11eb-949a-830a38d93e9e.PNG">

[2020-12-24 02:00] tubbo commented on #5273
I'm still having this issue.

**Error:**
[code]

**codegen.yml**:
[code]

**package.json:**
[code]

I'm using this with NextJS. Doesn't seem to get in the way of `next dev`, but when I try `next build` that's when I get the compilation error.

[2020-12-24 13:33] ardatan commented on #5273
@joshbedo I think you need to add `typescript` plugin to `src/operations.ts`.

[2020-12-24 13:48] dotansimha commented on #5157
Fixed in latest release (major), along with the v3 support.

[2020-12-24 13:48] #5157 closed

[2020-12-27 18:24] joshbedo commented on #1073
I get
[code]

When i enter the Scalar above.

[2020-12-27 22:29] cdaringe opened #5321 "rfc: add .graphql operations exports into ts module exports"
**Is your feature request related to a problem? Please describe.**

With the current suite of plugins, there is not an idiomatic mechanism to take queries/fragments/mutations from a `.graphql` file and expose those `string` entities in typescript. There are exports for creating `DocumentNode`s, however, my use case just needs the `string` values ported into typescript as values.  If #5303 exported

[2020-12-28 00:43] javedbartlett opened #5322 "[flow-resolvers] Flow Plugin not defining some types in generated file"
**Describe the bug**

For some reason 3 graphql types are being generated without actually being defined. Here they are:
![image](https://user-images.githubusercontent.com/48427864/103182723-2e4a6b00-4873-11eb-8e54-58dc4a0640d0.png)
![image](https://user-images.githubusercontent.com/48427864/103182726-373b3c80-4873-11eb-8c0d-4a0367ff6818.png)

For some reason they are not being defined. Are these

[2020-12-28 13:43] joshbedo commented on #5273
yeah not sure, basically after I generate the file successfully I have to add this to the top of the generated code file to get everything working properly.
[code]

[2020-12-29 02:15] xiaoyu-tamu commented on #5303
Also, `nonOptionalTypename` does not work. it should work by default since the plugin extends the base visitor i guess.

[2020-12-29 08:28] laurisvan commented on #5245
@kamilkisiela We are talking about using them together. Now that the interpretation of GraphQL schemas is different on the two, they cannot be used together.

In our stack, we generate GraphQL typings with graphql-codegen and use the generated types together with GraphQL Modules. Correspondingly, the same schemas we generate the types from are needed runtime by graphql-modules, creating the proble

[2020-12-29 09:05] #5245 closed

[2020-12-29 13:35] correttojs opened #5332 "generate near-operation-file with single operations file"
hi,

I would like to generate the types and operations globally (one single file), and the typed-document as near-operation-file.
This configuration would be similar to this one, and the typed-document should import the operations from the `types.tsx` file.

[code]

The reason is many operations are duplicated with the near-operation-file strategy, but I'd still like to split the generated documen

[2020-12-29 13:39] correttojs commented on #5332
I see

[code]

would already provide the solution I'm looking for

[2020-12-29 13:39] #5332 closed

[2020-12-29 17:53] kvnkusch opened #5333 "DocumentNode variable name collisions with typed-document-node and typescript-react-apollo Plugins"
**Describe the bug**
When using both the `typed-document-node` and `typescript-react-apollo` plugins, the DocumentNodes get generated for both plugin, and results in a variable name collision.

**Reproduction**
https://codesandbox.io/s/strange-mestorf-vre8l?file=/types.ts

**Additional context**
I only have one example in the codesandbox reproduction above, but received slightly different behavior

[2020-12-29 20:08] Merott opened #5334 "expose react-query Query Keys to allow direct interactions with the cache"
**Is your feature request related to a problem? Please describe.**

react-query uses [Query Keys](https://react-query.tanstack.com/guides/query-keys) to manage caching. Methods like [setQueryData](https://react-query.tanstack.com/reference/QueryClient#queryclientsetquerydata) and [getQueryData](https://react-query.tanstack.com/reference/QueryClient#queryclientgetquerydata) need this key.

`typescr

[2020-12-29 23:40] ardatan commented on #5333
Why do you need both? You don't need `react-apollo` plugin when you use typed-document-node because `useQuery(UserDocument)` will be typed already.
https://codesandbox.io/s/github/dotansimha/graphql-typed-document-node/tree/master/examples/apollo-client-3?file=/index.ts

[2020-12-30 00:42] kvnkusch commented on #5333
All of the existing code in the project uses the hooks generated from `typescript-react-apollo`, so switching over would be a big lift. The use case I was interested in was using the TypedDocumentNodes for cache updates, i.e. ApolloCache.read/writeQuery. Currently, calls to read/writeQuery require manually adding the *Query and *QueryVariables types to each call in order to get type safety. TypedD

[2020-12-30 07:43] yoavain-sundaysky commented on #5281
Maybe you can use this CLI module internally:
https://www.npmjs.com/package/organize-imports-cli

I was trying to use the `afterAllFileWrite` hook with it, but since my codegen.yml generates an introspection json too, the organize-imports-cli fails.
Would be nice to have a way to configure a filter to the `afterAllFileWrite` hook, to run a command only on ts/tsx files and not json files

[2020-12-30 13:40] ardatan commented on #5281
Hmm functions are imported from `ApolloReactHoc` so importing it with type modifier may not be a good idea. Why do you need `useTypeImports`?

[2021-01-01 17:56] Schwefelhexa opened #5343 "Use typescript-graphql-request and typescript-react-apollo in parallel"
**Describe the bug**
`typescript-graphql-request` and `typescript-react-apollo` both generate query documents, resulting in an `Identifier has already been declared` error from TypeScript.

**To Reproduce**
Steps to reproduce the behavior:

See [this repro](https://codesandbox.io/s/amazing-keller-cy45k?file=/types.ts:2294-2306).
`UserDocument` gets declared twice in `types.ts`, once on line 46 and

[2021-01-03 06:28] #5308 closed

[2021-01-03 08:31] yoavain-sundaysky commented on #5281
My TypeScript compilerOptions sets importsNotUsedAsValues to "error", so I'm forced to consistency.

[2021-01-03 09:19] jeromeSH26 opened #5348 "Add return type to function to avoid eslint warning explicit-module-boundary-types"
I'm using strict typescript and I want all functions to explicitly define their return types.
However, when generating the types using code generator, the function have no return type.

Of course I can disabled eslint for the file (/* eslint-disable @typescript-eslint/explicit-module-boundary-types */), but this is messy

Example ;
[code]

the returnType is compiled but not set to this function
[c

[2021-01-03 16:07] m-rutter commented on #5333
I have a similiar concern to @kvnkusch. I'm interested in migrating to `typed-document-node` for the benefits around better typing around cache updates, but I have a lot of existing code that depends upon the codegen from `typescript-react-apollo`. I suppose a solution would be to generate the typed document seperately, and maybe also have `typescript-react-apollo` to have its `documentMode` set t

[2021-01-03 16:35] danielrearden opened #5351 "Parse options not being passed to loaders correctly"
**Describe the bug**
Users should be able to set parse options (like `experimentalFragmentVariables`) as part of the `config` object and have these passed down to the loaders to be used by the underlying `parse` function from `graphql-js`. Currently setting these options on the `config`, however deeply nested, has no effect. Only setting the options at the root of the configuration file has an eff

[2021-01-03 16:41] m-rutter commented on #5333
Downside of the setup I've described above is that I would have to run codegen twice, unless I can figure out how to configure codegen to do what I've described above for me.

[2021-01-03 17:34] m-rutter commented on #5333
Ah, the codegen configuration already allow for this usecase. You just have to multiple `generates` entries with different plugin configurations. Shame, I cannot seem to get `typescript-react-apollo` to import correctly from ` typed-document-node` because all of the document names are incorrect. `Opertionas.org` instead of `Operations.OrgDocument`.

[2021-01-04 08:35] forehalo opened #5352 "Wrong variables type generated for array fields"
**Describe the bug**

Wrong type generated

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/misty-forest-h519g?file=/types.ts

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

outputs:
[code]

**Expected behavior**

the `queries` field for `SearchQueryVariables` should be `Array<Scalars['String']>` instead of `Ar

[2021-01-04 11:45] jamesjwarren commented on #5168
Thanks for the hint, just tried that out. As far as I can see the naming convention, prefix or suffix would be applied in the same way to both conflicting instances in this case as they are both types so it still doesn't seem possible to avoid the conflict with this approach.

[2021-01-04 12:11] michaelbromley commented on #5352
Same here with the following deps:

[code]

It seems that all Input types which have a list field are being typed as `Array<T> | T` rather than the correct `Array<T>`. Example diff:

[code]

[2021-01-04 23:22] ShawnToubeau opened #5357 "Duplicate identifier NumericComparisonEx"
**Describe the bug**

Hello, my team has been running into an issue where any of our tracked SQL functions that return an array of numerics causes codegen to generate duplication comparison expressions (see image below). I haven't been able to find anything else online so guidance would be very appreciate! Ty

**To Reproduce**
Steps to reproduce the behavior:

1. Create and track an sql function t

[2021-01-05 02:59] ardatan commented on #5357
I think you're using Hasura which generates a GraphQL Schema as a regular GraphQL API. So could you share an SDL representation of that GraphQL schema?
You can use this;
https://graphql-code-generator.com/docs/plugins/schema-ast

[2021-01-05 12:41] retyui opened #5360 "Enums are generated incorrectly for value with '"
**Describe the bug**

TS codegen don't escape `'` symbols in enum values (see sandbox)

[code]

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/billowing-platform-x7l8v?file=/types.ts

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

Should generate valid ts enum

[code]

**Environment:**

- OS: linux
- `@graphql-codegen/..

[2021-01-05 14:25] ShawnToubeau commented on #5357
Closing because I was able to to use a work around. Instead of returning a array of numerics (which doesn't seem to be a valid column type within Hasura) I converted my values to JSON.

[2021-01-05 14:25] #5357 closed

[2021-01-05 21:45] Vincent-Carrier opened #5362 "Support for wildcard comment"
I would like to be able to quickly select all fields on a type. This feature has been [discussed at length](https://github.com/graphql/graphql-spec/issues/127) as an addition to the GraphQL spec, but I think it makes more sense at the code generator level.

## Why is this needed?
My personal use case is simply building a static website on top of NextJS and GraphCMS. However I find myself constantl

[2021-01-06 16:02] sarink commented on #4586
If you try to use any of the built-in identifiers, they will conflict with one another, because many tools are hardcoded to look for `gql`, `graphql`, and `/* GraphQL */`, so you first need to disable all of these possibilities, and then come up with your own. This is also why you must disable the magic comment.
[code]
[code]
Finally, later on, to get syntax highlighting in your IDE (vscode is aga

[2021-01-06 17:20] PLJNS opened #5366 "Are custom plugins still supported?"
**Describe the bug**

These directions do not appear to work anymore: https://graphql-code-generator.com/docs/custom-codegen/write-your-plugin

**To Reproduce**
Steps to reproduce the behavior:

Create my-plugin.js:

[code]

Create config:

[code]

Run:

[code]

**Expected behavior**

I expect a file called output.ts with Hi!

I see:

[code]

**Environment:**

- OS: Ubuntu
- `@graphql-codegen/...`

[2021-01-06 21:31] jlismore commented on #5352
This issue seems to imply the `Array<T> | T` is actually the valid spec
https://github.com/dotansimha/graphql-code-generator/issues/4888

[2021-01-07 07:00] joshuaavalon opened #5370 "[typescript-graphql-request] Missing Headers type import"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Generate TypeScript code without any errors.

**Environment:**

- OS: Windows 10
- `@graphql-codegen/...`:
[code]
- NodeJS: 14

**Additional context**

I think it is related to #4793 because it imp

[2021-01-07 15:12] forehalo commented on #5352
@jlismore Thanks for your comments.
Seems this is really a feature than a bug 🤣 . But I think may be providing an option like `arrayCoercion` to disable it before we update the whole code base to be compatible with this improvement would be better.

[2021-01-07 15:56] vladop opened #5372 "How namingConventions works (fix bug or update documentation needed)"
**Describe the bug**
How to make c# properties start with uppercase as per convention

**To Reproduce**
Easiest way is to go to homepage and just past this yml configuration like in this forked sandbox

overwrite: true
schema: schema.graphql
generates:
  MyTypes.cs:
    plugins:
      - c-sharp
    config:
      namespaceName: MyCompany.MyNamespace
      namingConvention: pascal-case#pascalCase

h

[2021-01-07 19:08] maapteh commented on #5260
Cool! @dotansimha maybe we can do it everywhere? If the output file is a d.ts then declare namespace :)

Because i was looking in the new typing options with typed document nodes https://the-guild.dev/blog/typed-document-node and it would be even nicer :)

_I'm switching from auto hooks generation to document node because it doesnt leave me with unused lazy hooks in production code since all is in

[2021-01-08 04:03] robbyemmert commented on #5166
Didn't solve the problem for me. Is there a bug here?

[2021-01-08 12:03] vladop opened #5380 "CSharp plugin argument classes not created"
**Describe the bug**
There are not created argument classes when using c sharp plugin

**To Reproduce**
Extremely simple. Just compare homepage of this project (default is typescript in yml file ) to this for example

overwrite: true
schema: schema.graphql
generates:
  RimacCmvdsClient.Models/Models.cs:
    plugins:
      - c-sharp
    config:
        namespaceName: e
        scalars:

[2021-01-10 13:21] andrei-datcu commented on #5334
Came here to open the same issue, I'm glad to see there are other folks with the same pain :+1:

I think the first proposed solution (attaching a `getKey` function to the hook) offers the most flexibility while being easier to implement. Returning the key directly from the hook wouldn't be as flexible when the mutations are done from different parts of your app.

[2021-01-10 13:47] Merott commented on #5334
I've since built myself a workaround. It's working perfectly for me, though you may need to adapt it for your particular setup:

[code]

Add it as an `afterAllFileWrite` hook:

[code]

[code]

This'll generate a `query-keys.ts` file, with content like this:

[code]

You can now import these functions from `query-keys.ts`.

If you wanted to go a step further, you could re-export them from `graphql.

[2021-01-11 19:44] openevocracy commented on #5273
I am having the same issue.

[2021-01-11 20:09] ardatan commented on #5273
If you have the same issue, please create another issue with a minimal reproduction

[2021-01-11 21:21] adarnon opened #5386 "Plugin graphql-request fails on unnamed query without a good explanation"
**Describe the bug**
Create a `.graphql` query file, with a single unnamed query.
Enable `graphql-request` codegen plugin.
Run `yarn generate`.

The error message is:
[code]

It makes sense why an unnamed query isn't supported, but I'd expect a more detailed explanation.

**To Reproduce**
Steps to reproduce the behavior:

See this sandbox link: https://codesandbox.io/s/empty-hooks-1rcs5

**Expecte

[2021-01-12 17:33] amaster507 commented on #5106
Any update on this? I would love to have consistent generated output files. I believe it is because when querying the schema it is returned in an object, and that object is not always sorted in the same way, so this generation script bases the output on whatever the order of that object was. There should be an option (or even default) to order this object to produce the same output every time.

Ma

[2021-01-12 17:40] ardatan commented on #5106
@amaster507 I don't think relying on object's key order is a good idea in JavaScript but I am not sure about other languages. Even if we decide to have this feature, this will need a considerably big refactor on our loaders, schema mergers and visitor implementations. If anyone wants to do it, we'd like to accept PRs or recommendations at least.

To me, generated files shouldn't be part of git rep

[2021-01-12 18:02] amaster507 commented on #5106
@ardatan, in my example, I need to order my object parameters, and wrote a script to order by the name of the child object. Again, I don't know the inner workings of this script, but I understand some of the complexity and the issue at hand of implementing this.

I guess this just varies on the use case. In my projects using graphql-codegen so far, I am generating on push to git if file changes. I

[2021-01-12 21:56] jrobber opened #5387 "BaseVisitor.ObjectTypeDefinition allows undefined key, but code does not account for that scenario"
in base-visitor.ts the ObjectTypeDefinition is defined as:
[code]

The third line assumes that key is defined because typescript does not allow undefined to be used as an index.

Ran into this trying to copy/paste modify what you have for my own purposes.  Typescript declares the code invalid and the plugin won't run if you try to do something similar in your own code.

[2021-01-13 08:56] canpoyrazoglu commented on #5386
I'm just trying to integrate graphql-code-generator into my existing project and I'm having the same. Here is my config:

[code]

I've also tried putting all (types and operations etc) into the same file instead of two, but nothing changed, result is the same.

[2021-01-13 09:15] Justinidlerz commented on #4366
This feature interrupted my project, coz I overwrite the basic Apollo service and add another DI service, and it will rewrite my injected service to undefined.

I setting the config:
[code]

custom.service.ts
[code]

[2021-01-13 16:30] jariz opened #5391 "[typescript-operations] Empty name generated in operations, causing syntax error."
**Describe the bug**
I've ran into an issue where codegen generates invalid typescript; it generates `Maybe<>` instead of the actual fragment (or `Pick<...` in case of an inline fragment)
What exactly causes this, I have yet to find out, but I've at least been able to make a reproduction.
I'm guessing it's happening in the `@graphql-codegen/typescript-operations` plugin, because the base types see

[2021-01-13 17:10] jariz commented on #5391
So, looking into this a bit more, apparently it's because `Foo` is a `interface` and not a `type`.
I do think using a interface like this is valid syntax however, but correct me if I'm wrong.
The schema I'm developing with is full with references to both `type`s and `interface`s.

[2021-01-13 17:41] jariz commented on #5391
OK. so something is definitely wrong in my schema.
The interface does not get implemented by any type, and when querying it I get server errors.
So I don't think this tool is to blame, but once again, it'd be nice if `graphql-codegen` was a bit more strict on this.
Giving a hard error, like for example 'You are referencing a interface that does not get implemented by any types` would help tremendo

[2021-01-13 17:41] #5391 closed

[2021-01-14 17:54] smolster commented on #2558
@dotansimha it doesn't seem like the added functionality actually implements what the original poster asked about.

Is there a plan to generate JSDoc comment bodies from GraphQL schema descriptions?

[2021-01-14 23:49] rpedroni-sf commented on #2891
Had the same problem but the reason was quite arbitrary - when using the `typescript-resolvers` plugin, I was using the `config: context` field with bad value.
➡️ Once this was fixed, `prettier` and `eslint` started working again :)

[2021-01-15 10:31] trevyn opened #5400 "[typescript-urql-svelte] New Codegen Plugin Request"
The existing `typescript-urql` plugin is specific to React, and [Svelte](https://svelte.dev/) is awesome. I have [`@urql/svelte`](https://formidable.com/open-source/urql/docs/api/svelte/) up and running, and would love to see a `typescript-urql-svelte` plugin for it.

As of today, the Svelte [repo](https://github.com/sveltejs/svelte) has 41.4k stars, so it should be around a while. :)

[2021-01-15 10:36] ardatan commented on #5400
@trevyn That sounds great! Would you start with a draft PR to help us? We don't know much about Svelte.

[2021-01-15 11:05] trevyn commented on #5400
Sure, I'll take a look. For now, [here's my quick-and-dirty `@urql/svelte` impl](https://github.com/trevyn/turbo/blob/375e7a42fb707970dc462ce25272e19968c64e8b/frontend/App.svelte). I honestly am not sure about the TypeScript part yet, but I'll keep this thread updated and submit a draft PR if I figure out a sensible plugin. :)

[2021-01-15 14:34] marekscholle opened #5401 "Optional GraphQL fields rendered as T | null | undefined"
Say I have the following
[code]
As the readme says, the corresponding type is
[code]
The problem is that there are optional marks on fields (`?`). Why? If I have a `Point` returned from server (e.g. existing, non-null JS object), it can't have missing fields; a correct GraphQL server will include `x` and `y` as `null`s (the correct `Maybe` part), not omit them (incorrect `?`).

This problem showed

[2021-01-15 17:35] ardok opened #5402 "Using flow plugin produces `Maybe` type"
**Describe the bug**
[code]

[code]

[code]

Flowtype error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/inspiring-sara-50zc9?file=/types.js

[code]

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
There shouldn't be any flow error. In this case `Maybe` is not a flowtype thing.

[2021-01-15 18:53] maclockard opened #5404 "@graphql-codegen/cli has a transitive peer dependency on vue"
When installing `@graphql-codegen/cli` version `1.20.0` I get a missing peer dependency warning on `vue`.

[code]

Failing to add this dependency doesn't cause any errors at runtime, but the warning may confuse folks.

[2021-01-16 08:11] trevyn commented on #5400
Ok, I did a reasonable draft of what the codegen output could look like, and verified it works:

[`App.svelte`](https://github.com/trevyn/turbo/blob/45fe80fa5cd05fd9d381aedc44e2588fbcdad623/frontend/App.svelte) (usage)
[`graphql_ops.svelte`](https://github.com/trevyn/turbo/blob/45fe80fa5cd05fd9d381aedc44e2588fbcdad623/frontend/graphql_ops.svelte) (would be codegen'd)

This is just in straight JS,

[2021-01-16 16:32] ardatan commented on #5401
You can avoid optionals with  'avoidOptionals' configuration option and change the value of 'Maybe' with 'maybeValue'. I think the following will do the changes you want.
[code]

[2021-01-16 16:36] mxstbr opened #5409 "Automatically exclude schema from documents"
**Describe the bug**

My codegen configuration looks like this:

[code]

Running graphql-codegen causes the following error:

[code]

After quite a bit of playing around I realised why this is happening: graphql-codegen is trying to read either a query or mutation from `src/graphql/schema/schema.graphql`! 🤦

I have fixed this by changing my config to the following:

[code]

However, it seems reall

[2021-01-16 23:38] kelvin0712 opened #5413 "Error with generated mutations and queries with react-query plugin."
**Describe the bug**
Hi, I am new to graphql code gen so I am not sure if I had the right set up but I got types errors when I tried to generate simple queries and mutations with `@graphql-codegen/typescript-react-query`.

**To Reproduce**
- Sep up GraphQL Code Generator with React-query plugin
- Run npm command (`npm run generate`).
- Got errors

1. My GraphQL mutation:

[code]

2. My `codegen.ym

[2021-01-18 08:00] marekscholle commented on #5401
Ah, thank you, I missed this feature. I'm surprised this is not the default behavior as that would IMO directly correspond to GraphQL lang, but I understand there may be historical considerations. Closing this issue.

[2021-01-18 08:00] #5401 closed

[2021-01-18 13:51] JCMais commented on #153
@finaxar-arthur the config must be at the top, like
[code]

[2021-01-18 20:38] slavikbez commented on #4577
@zenflow this might be a good candidate for `Exact` type:
[code]

Example:
[code]

[2021-01-19 19:46] SimonSimCity opened #5422 "typescript-operations generates invalid TS when using interface without type implementation"
**Describe the bug**

If some definitions in the graphql schema are written as `interface` without a `type` implementing it, the `@graphql-codegen/typescript-operations` package seems to ignore them. The types generated by `@graphql-codegen/typescript` look fine.

The produced code looks like:

[code]

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/strange-moser-h8gfc?

[2021-01-19 22:18] andrei-datcu commented on #5334
Attempted an implementation in https://github.com/dotansimha/graphql-code-generator/pull/5423

[2021-01-20 00:41] schmod commented on #3641
Unfortunately, it looks like the `import X = Y;`syntax [is not supported](https://github.com/babel/babel/blob/50462eb5e4f61c8da49e4b8347e12c0aecf77c05/packages/babel-plugin-transform-typescript/src/index.js#L420-L427) by @babel/plugin-transform-typescript, which leads to this producing broken code for us...

[2021-01-20 02:09] #5352 closed

[2021-01-20 07:25] DarkLite1 commented on #2302
It would be great if useLazyQuery could also be added to the Vue plugin #5258

[2021-01-20 13:50] SimonSimCity commented on #5422
I took a deep look at the server side implementation generating the graphql schema. Comparing [the tutorial](https://github.com/graphql-compose/graphql-compose-mongoose#example) it with my implementation I found out that I use a new instance of `SchemaComposer` instead of the instance `schemaComposer` provided by the package `graphql-compose`. This was the root cause that the types, implementing t

[2021-01-20 14:19] kraegpoeth commented on #5372
I strugled with this as well! So +1 for updating the docs!

Got it to work with this:
[code]

and you can use at least the following:
`pascal-case#PascalCase`, `lower-case#lowerCase`, `upper-case#upperCase`

Hope it helps! :)

[2021-01-20 21:58] dmitrif commented on #2742
Still happening (`Types.*` issue) on `^1.20.0`

[2021-01-21 12:42] dotansimha commented on #5002
@asfernandes If you have some kind of separation, you can have it in codegen as well.
With presets, You can either use `near-operation-file` preset (that allow you to have duplicate names), or,  you can generate a single `types.ts` for your base types (based on `typescript` plugin), and then have separate sections that allow you to generate group of operations into a single file.

Most tools in th

[2021-01-21 12:47] dotansimha commented on #5196
Closing. @joesaunderson if you still have issues, please let me know and we'll re-open.

[2021-01-21 12:47] #5196 closed

[2021-01-21 12:51] dotansimha commented on #5145
Closing. I was not able to reproduce this issue. Tried with latest version of codegen, and multiple types of error codes (500, 500 with JSON, 500 with HTML) - all of those gave me different errors, that are detailed, and not this specific one.
If someone has a reproduction, feel free to report this again or comment here and we'll reopen.

[2021-01-21 12:51] #5145 closed

[2021-01-21 12:53] dotansimha commented on #3174
@jardakotesovec There are several workarounds for this, for me, in most cases, just using the default configuration with `async` function works and I can safely return `null`s. Do you have a reproduction for this?

[2021-01-21 12:57] dotansimha commented on #4069
@anlauren GraphQL has a default resolver for all fields, based on the field name and the parent value. We can't really force developers to write resolvers, when there is a default resolver. It's a trade-off we must take here, but we do allow you to choose which one. Usually I prefer using the non-strict method for resolvers, and then cover that with unit tests to make sure it runs correctly.

[2021-01-21 13:04] dotansimha commented on #2742
@dmitrif can you please share a reproduction?

[2021-01-21 13:08] dotansimha commented on #5372
@vladop this library is written and based on the NodeJS ecosystem (but it generates not only C#). The live-demo is just a demo, it doesn't have support for all the features that codegen has as a cli. Mainly because of differences in the environments.

The example @kraegpoeth shared is correct, but note that you need to install `upper-case` module from NPM for this to work (that's why it doesn't wo

[2021-01-21 13:08] #5372 closed

[2021-01-21 13:11] dotansimha commented on #5422
Thank you for reporting it @SimonSimCity !
I'm not sure it's really something we can fully resolve here, mainly because we depend on types to exists (because all GraphQL server will always return `type` eventually, and `typescript-operations` depends on that assumption).
We do need to have better result here, other than a syntax error, I think I will add `unknown` type here in this case, to avoid

[2021-01-21 13:49] dotansimha commented on #5422
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/5429
It will now use `never` instead of syntax error, it will also let you know in case you try to use it - because this will be a runtime error for sure.

[2021-01-21 13:56] dotansimha commented on #3641
You are right, @schmod . Can you please share more about the use-case? which plugins are you using and how? It will help me to find a better solution for developers who are using babel for TS.

[2021-01-21 14:04] dotansimha commented on #4577
TBH I added `Exact` initially because I thought it will work better, and then I kept it for semantic reasons, to make sure developers know that they need to pass the exact structure (otherwise, it will fail on graphql-js validation for the variables).

I tend to keep it, just semantically, just because it might help someone to avoid runtime issues, and it doesn't effect anything else.

@slavikbez

[2021-01-21 14:05] dotansimha commented on #5409
Oops :)

That makes total sense. Thank you for reporting it @mxstbr.

I guess we need that both ways, and also on different levels of usage (because schema/documents can be defined either on the root, or at the level of each `generates` output).

[2021-01-21 14:09] dotansimha commented on #5400
Moving to Discussions :)

[2021-01-21 14:09] #5400 closed

[2021-01-21 14:24] dotansimha commented on #5360
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/5432

[2021-01-21 14:32] dotansimha commented on #5362
I'm not fully against it, but I tend to a more strict approach where developers defines the actual field and needs. It might be useful for `@populate` thing in Urql as well.

PRs are welcome :)

[2021-01-21 14:35] dotansimha commented on #5366
I think while using `- my-plugin.js` you are causing codegen to look for the output in `node_modules` instead of a local file. Please use relative path for that: `- ./my-plugin.js`.

[2021-01-21 14:35] #5366 closed

[2021-01-21 14:36] dotansimha commented on #4586
Closing this one here. It's an issue with graphql-tools. @sarink feel free to report it there if it's still relevant!

[2021-01-21 14:36] #4586 closed

[2021-01-21 14:37] dmitrif opened #5433 "Add `baseOptions` customization for `typescript-react-apollo` plugin."
**Is your feature request related to a problem? Please describe.**
In a codebase that uses multiple GraphQL endpoints, it is common to use `context.clientName` to direct the query to the correct ApolloLink. For example:

[code]

From a codegen perspective, the third party queries are often delimited with a custom gql tag and extracted by configuring `pluckConfig`. The generated hooks / HOC's howev

[2021-01-21 14:43] dotansimha commented on #1073
@joshbedo You configuration/schema url seems invalid, please double check it :)

[2021-01-21 14:46] dotansimha commented on #5322
All issues here seems to come from `flow-resolvers`, right? or is it from the other plugins as well?

[2021-01-21 15:36] dotansimha commented on #5260
We have it in a few plugins, but not in all, in most cases it causes issues with plugins that generated real code (or even enums..).

[2021-01-21 19:40] slavikbez commented on #4577
Hi @dotansimha, you're right about auto-generated hooks. This is my understanding of how it can be applied:
[code]

[2021-01-21 22:23] #5413 closed

[2021-01-22 11:53] alexandernanberg opened #5437 "Add ability to extend mapper types"
**Is your feature request related to a problem? Please describe.**

Overwriting the entire type isn't always a good solution. If you use relay connections you end up writing a lot of custom types which defeats the purpose of this package.

The core problem I have is that I want to make all fields except `id` optional, since the others will be resolved in the `User` resolver

E.g. if my schema look

[2021-01-23 13:16] trompx commented on #5433
On my side I have a custom fetcher (react-query) which takes as first parameter the context. I am looking for a way to have that context passed as the first parameter in the query hooks generated by codegen (not currently possible as per https://graphql-code-generator.com/docs/plugins/typescript-react-query#using-custom-fetcher).

[2021-01-25 08:52] dotansimha commented on #5437
I'm not sure that there is anything that prevents you from doing exactly what you said, just with a more custom way, with `add` plugin:

[code]

You can also use `resolverTypeWrapperSignature` feature to wrap all resolvers types and mappers with specific signature:

[code]

[2021-01-25 08:52] #5437 closed

[2021-01-25 08:54] dotansimha commented on #4577
Awesome, this might require a major version for the plugins, since it will be a breaking change for some plugins. Any help here would be appreciated :)

[2021-01-25 08:58] dotansimha commented on #5404
@ardatan can you please take a look and see if we can drop this dependency (or make it optional) in `graphql-tools`? Thanks!

[2021-01-25 08:59] dotansimha commented on #5402
@gilgardosh can you please take a look? This seems related to the recent changes related to skip/include directives.

[2021-01-25 09:01] dotansimha commented on #2558
@smolster please report a new issue if you think it's missing, and please make sure to reference the relevant plugins :)

[2021-01-25 09:21] ardatan commented on #5404
@dotansimha It is an optional dependency already 🤔
https://github.com/ardatan/graphql-tools/blob/master/packages/graphql-tag-pluck/package.json#L29

[2021-01-25 09:42] dotansimha commented on #5404
@ardatan You are right, just noticed that. I think we need to have `peerDependenciesMeta` as well (see https://pnpm.js.org/en/package_json#peerdependenciesmeta)

[2021-01-25 10:22] dotansimha commented on #5386
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/5446

[2021-01-25 10:49] dotansimha commented on #5387
Thank you @jrobber . Fixed in `master`. There can't be an undefined `key` while visiting GraphQL (I think only for Document, which isn't the case there).

[2021-01-25 10:49] #5387 closed

[2021-01-25 11:55] dotansimha commented on #5370
Fixed, and it will be available in the next release (very soon!)

[2021-01-25 11:56] dotansimha commented on #5333
@m-rutter can you please share an example? the Document names should be the same.

[2021-01-25 11:57] dotansimha commented on #5343
Tracking here: https://github.com/dotansimha/graphql-code-generator/issues/5333

[2021-01-25 11:57] #5343 closed

[2021-01-25 11:58] dotansimha commented on #4511
Currently tracking this issue in: https://github.com/dotansimha/graphql-code-generator/issues/5333

[2021-01-25 11:58] #4511 closed

[2021-01-25 12:00] dotansimha commented on #5321
Hi @cdaringe
You can set `documentMode: string` and it will use `string` for the exported. Does it work for you?

[2021-01-25 12:02] dotansimha commented on #5351
@ardatan can you please take a look at this one? I think we can use the root `config` and append it to the root object, and it should work, right?

[2021-01-25 12:43] vladop commented on #5372
@kraegpoeth I am sorry but this doesn't work. Only it does that prefixes all classes with"I". Also I didn't see anywhere that module needs to be installed and I didn't get any exception. However I installed "upper-case" npm package and still nothing. My C# property names start with lower case letter and it looks ugly

[2021-01-25 13:41] dotansimha commented on #5372
@vladop My bad here, the `c-sharp` plugin doesn't support `namingConvention` yet (see https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/c-sharp/c-sharp/src/visitor.ts#L62-L75).
@kraegpoeth was right, this is the right way to do that, but this specific plugin doesn't support it yet. (PRs are always welcome!)

[2021-01-25 14:08] jonathanstanley opened #5449 "typescript-react-query failing to parse process.env"
**Description**
`@graphql-codegen/typescript-react-query` [documentation](https://graphql-code-generator.com/docs/plugins/typescript-react-query) indicates `process.env` or other variables may be used within the `codegen.yml`

this works for the fetcher `endpoint`, but fails with `fetchParams`

**To Reproduce**
[See codesandbox](https://codesandbox.io/s/graphql-codegen-react-query-env-be8w1?file=/

[2021-01-25 18:19] saostad opened #5450 "Error: Unknown argument: init"
following docs from [here](https://graphql-code-generator.com/docs/getting-started/installation)

after run `npx graphql-codegen init`
Getting error: `Error: Unknown argument: init`

windows 10
node v14.15.4
npm 6.14.10

[2021-01-26 02:32] vjpr opened #5452 "In programmatic usage docs, "each plugin should be an object" needs clarification"
``
import { buildSchema } from 'graphql';
import * as fs from 'fs';
import * as typescriptPlugin from '@graphql-codegen/typescript';
import { printSchema, parse, GraphQLSchema } from 'graphql';

const schema: GraphQLSchema = buildSchema(`type A {}`);
const outputFile = 'relative/pathTo/filename.ts';
const config = {
  // used by a plugin internally, although the 'typescript' plugin currently
  //

[2021-01-26 05:07] GreenGremlin commented on #182
This would also be useful for creating mock resolvers for use with  [graphql-tools' `makeExecutableSchema`](https://www.graphql-tools.com/docs/mocking/).

[2021-01-26 08:15] dotansimha commented on #5450
I think on Windows you need to do: `npx graphql-codegen -- init`, can you please try?

[2021-01-26 10:13] dotansimha commented on #5402
Fixed in `@graphql-codegen/flow-operations@1.18.6`

[2021-01-26 10:13] #5402 closed

[2021-01-26 10:13] dotansimha commented on #5386
Fixed in `@graphql-codegen/typescript-graphql-request@3.0.1`

[2021-01-26 10:13] #5386 closed

[2021-01-26 10:13] dotansimha commented on #5370
Fixed in `@graphql-codegen/typescript-graphql-request@3.0.1`.

[2021-01-26 10:13] #5370 closed

[2021-01-26 10:14] dotansimha commented on #5334
Available in `@graphql-codegen/typescript-react-query@1.1.0` :) Thank you all!

[2021-01-26 10:14] #5334 closed

[2021-01-26 10:14] dotansimha commented on #5360
Fix available in `@graphql-codegen/typescript@1.20.1`

[2021-01-26 10:14] #5360 closed

[2021-01-26 10:14] dotansimha commented on #5422
Fixed in `@graphql-codegen/typescript-operations@1.17.14`. Thank you @SimonSimCity

[2021-01-26 10:14] #5422 closed

[2021-01-26 13:39] levrik commented on #5401
@ardatan What actually is the reason behind having `T | undefined | null` instead of `T | null`?

[2021-01-26 14:11] dmarkow opened #5453 "Query with @skip directive not including correct type inside of Maybe<>"
**Describe the bug**
After updating typescript-operations to 1.17.4, when using skip on a query, the return type is incorrect. This worked correctly in typescript-operations 1.17.3.

[code]

As of today's updates, it's generating this. Note that `reports` is not showing that it is an array, but is now correctly showing as optional due to the `@skip` directive.

[code]

Before today's updates, it g

[2021-01-26 19:02] SirensOfTitan commented on #5453
Seeing this too using the `@include` directive.

[2021-01-27 00:34] saostad commented on #5450
Same Error message:
[code]

[2021-01-27 02:04] joshuaavalon opened #5459 "[typescript-graphql-request] Importing not exported type"
**Describe the bug**
`typescript-graphql-request` generates the following import

[code]

`HeadersInit` is not exported from `graphql-request`

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Generate TypeScript code without any errors.

**Environment:**

- OS: Windo

[2021-01-27 02:06] joshuaavalon commented on #5370
@dotansimha The fix actually created another problem which I reported in #5459

[2021-01-27 07:12] joshuaavalon opened #5460 "[typescript-document-nodes] Incorrect alias import"
**Describe the bug**
When you set `gqlImport` to use a function that is not named `gql`, it will be aliased. However, the document node will use the original name.

[code]

It should either not use alias or make all the document node uses `gql`.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[c

[2021-01-27 11:23] zEh- commented on #5453
Same problem with `@include`

[2021-01-27 12:40] aya-eiya commented on #5450
I got same error because of I didn't install `@graphql-codegen/cli`.

fixed by just install it.

[code]

[2021-01-27 16:36] saostad commented on #5450
the error message happens in the npx command.
it supposed to work as a one-line command.

[2021-01-27 18:10] aya-eiya commented on #5450
@saostad
ok I see, you don't want to install CLI package.
then you can use the CLI package without install the package with npx -p option.

[code]

but the command will add some packages to your package.json, I think it's okay to add the CLI package as well.

[2021-01-27 21:05] cafenroy commented on #5459
Workaround:

downgrade to `"@graphql-codegen/typescript-graphql-request": "^3.0.0"`

[2021-01-27 21:16] ardatan commented on #5450
@saostad You need to install `@graphql-codegen/cli` package to use init command. That command will already add bunch of codegen packages in your project so I don't see any point to avoid installing `@graphql-codegen/cli`.

[2021-01-27 21:58] dickfickling commented on #4855
FYI for anybody searching for this in the future: I ran into the same issue with an unnamed mutation: `Cannot find name 'MutationVariables'`

Adding a name to the mutation fixed the `tsc` issue.

[2021-01-27 23:37] cancan101 commented on #5357
@ardatan how would you use the `schema-ast` in this case? I assume you want to take the output of that plugin and then use it for subsequent plugins?

[2021-01-27 23:40] cancan101 commented on #5357
actually nm on that question though I am also having an issue with duplicate type.

[2021-01-27 23:45] ardatan commented on #5357
@cancan101 Like any other plugin :)
[code]

[2021-01-27 23:55] cancan101 commented on #5357
thanks. I figured out my issue which might be a bug in the generate. right now the generator flags if there are two queries with the same name but different capitalizations then duplicate types get generated.

[2021-01-28 19:52] cecchi opened #5463 "[TypeScript] Inline fragment type names conflict with fragment definition type names"
**Describe the bug**

We use a pattern like this to organize fragments when making selections on union types:

[code]

GraphQL Code Generator creates a type for each fragment spread, and names it based on the parent fragment + the type of the object being spread. In this case, `ArticleAuthor_User_Fragment`. A second type is generated for the fragment itself: `ArticleAuthorUserFragment`. Because we

[2021-01-28 22:34] jeroenvisser101 commented on #5453
Possibly related: https://github.com/dotansimha/graphql-code-generator/pull/5326

[2021-01-29 10:43] mlenser opened #5466 "str.replace is not a function"
**Describe the bug**
We are receiving an error when generating our types from graphql (via gatsby) that `str.replace is not a function`

This is caused by the code change https://github.com/dotansimha/graphql-code-generator/commit/4444348d2b5c0e7ece9228f7bc7d14a4846811d6#diff-8844b3ecdf140eb2ba14e334b38d77fdc379b3c1dc3b3046a3e0dd5ce1668ac0R7

![Screenshot 2021-01-29 at 11 27 33](https://user-image

[2021-01-29 14:19] ab316 commented on #5459
downgrade to `"@graphql-codegen/typescript-graphql-request": "3.0.0"`
without the ^ to avoid automatically patching to 3.0.1

[2021-01-29 17:41] Diluka commented on #5044
`typescript-operations`this plugin is important for generating correct typings

[2021-01-30 08:54] mlenser commented on #5466
I am also experiencing this `str.replace is not a function` on another project which is much smaller in scope when using `gatsby-plugin-typegen@2.2.4`.

[2021-01-30 14:36] omerman opened #5472 "typescript-graphql-request & near-operation-file doesnt work."
First of all thank you for these great tools! They are awesome and I use it for all my graphql projects!

So lets dive in to my issue/feature request
**Is your feature request related to a problem? Please describe.**

I have this config ---

[code]

Using the `typescript-graphql-request`plugin with the `near-operation-file` preset generates for each .graphql file a .ts file correctly with it's own

[2021-01-31 00:46] elbotho commented on #4888
Hey @gilgardosh, should this fix also work for `@graphql-codegen/typescript` without the operations plugin?

[2021-01-31 11:43] AlaaZorkane commented on #5453
Having the same problem with `typescript-urql` when using `@include` on an array, the return type is not wrapped in an `Array<>`

[2021-01-31 20:01] ian-maurmann commented on #1737
Sidenote for the history books:
Yaml was released in 2001. Douglas Crockford released json in 2002.

[2021-02-01 08:30] gilgardosh commented on #4888
Hi @elbotho, the fix will work, but coercion cases are relevant for variables therefore irrelevant without `typescript-operations`.

[2021-02-01 08:54] elbotho commented on #4888
Thanks for the quick reply!
As far as I can tell we only use schema with a notation like this:

[code]

Should MutationInput not also respect coercion?
Should I open a new Issue for that?

[2021-02-01 14:34] dankremniov commented on #5449
The issue extends to the use of custom variables from user code as well.

[The documentation](https://graphql-code-generator.com/docs/plugins/typescript-react-query#using-fetch-with-codegen-configuration) says you can use the following config:
[code]

However, the results is:
[code]

[2021-02-01 18:41] dnalborczyk opened #5476 "bug: default values should not create `Maybe` types"
**Describe the bug**

default input values should not create `Maybe` types, as they can't be nullable.

plugins used:
`typescript`
`typescript-resolvers`

have not tried this with `typescript-operations` yet.

**To Reproduce**
Steps to reproduce the behavior:

[code]

generates ambient types;

[code]

expected:

[code]

[code]

**Expected behavior**

**Environment:**

- OS: macOS 11
- NodeJS: **v1

[2021-02-01 20:48] bkilrain opened #5478 "useTypeImports doesn't work with graphql-request fetcher"
**Describe the bug**

When using the `useTypeImports` flag in codegen.yml, an import from `graphql-request` does not adhere to the flag.

**To Reproduce**

A reproducible example in code sandbox is here: https://codesandbox.io/s/sweet-shtern-1wrvw?file=/codegen.yml

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

In

[2021-02-01 20:59] merelinguist commented on #5413
@kelvin0712 What fixed this for you?

[2021-02-01 21:15] lorado opened #5479 "[typescript-operations] generates wrong types for query variables"
**Describe the bug**
Since version 1.17.13 `@graphql-codegen/typescript-operations` generates for query with variable like
[code]
following:
[code]
instead of `Maybe<Array<Scalars["String"]>>`
On Version 1.17.12 it works correctly. This issue occurs only on query variable types. If such type is defined in the schema, it is processed properly by `typescript` plugin.

**To Reproduce**
Here is a code

[2021-02-01 21:38] merelinguist opened #5480 "[React Query] Cannot find name 'TData'"
**Describe the bug**
Generating a simple query executes successfully with the CLI, but produces broken TypeScript:

[code]

With the following errors:

[code]

**To Reproduce**
See a reproduction here: https://github.com/merelinguist/codegen-test

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
When I run `graphql-co

[2021-02-01 21:42] narthur commented on #3063
I was encountering this error:

I wrote this function and am using it in my fetch wrapper to fix the issue:

[code]

[2021-02-01 23:44] kelvin0712 commented on #5413
@merelinguist Hi, it seems like it does not like the `.tsx` file extension, it works when I changed it to `.ts`. I am not sure if this is a bug but when I use Apollo and Urql, they worked well with `.tsx`

[2021-02-02 16:08] JanCVanB commented on #5450
I think I had the same misunderstanding that @saostad had - after reading the first two sections of [that documentation page](https://graphql-code-generator.com/docs/getting-started/installation), I thought running the one-line shell command in the second section was an alternative to running the two lines of shell commands in the first section. After reading this issue and re-reading that documen

[2021-02-03 14:19] levrik commented on #5333
I've tried to use `typed-document-node` with `typescript-react-apollo` with the `documentMode` set to `documentNode`.
This results in this being generated:
[code]
`documentNode` was my previous configuration.
I've kinda expected that `typed-document-node` would overwrite the default import but it doesn't.
So I've tried with `external` but this also doesn't work since this wants to import the whole

[2021-02-03 15:25] leroy0211 opened #5486 "Clean install following documentation requires a lot more extra packages"
**Describe the bug**
When following the documentation on a clean project, I needed to install the following packages to get things running.
Both for the wizard and for running the generator.

* `@vue/compiler-dom`
* `@vue/compiler-ssr`
* `hash-sum`
* `magic-string`
* `merge-source-map`
* `postcss`
* `postcss-selector-parser`
* `lru-cache`

**To Reproduce**
Steps to reproduce the behavior:

[code]

[2021-02-03 15:32] pakatagoh commented on #5486
Just ran into the same issue with a deployment on vercel

![image](https://user-images.githubusercontent.com/37908805/106769316-c5c38a80-6677-11eb-918d-f0d73bae1b63.png)

graphql-codegen deps in my package.json if it helps
[code]

[2021-02-03 15:33] benedict-jackson commented on #5486
I just tried to set this up with react and apollo and having the same issue. I'm working on a react project, it seems silly that I'd be required to install multiple vue packages.

[2021-02-03 15:43] benedict-jackson commented on #5486
seems like it's a problem with the graphql-tools dependency? Someone's put an issue on that repo with the same problem.

https://github.com/ardatan/graphql-tools/issues/2542

[2021-02-03 15:56] leroy0211 commented on #5486
Workaround:

Install version 6.4.0 of `@graphql-tools/graphql-tag-pluck`

[code]

[2021-02-03 16:42] EvgenBabenko opened #5487 "Error: Cannot find module '@vue/compiler-dom'"
![Screenshot_2](https://user-images.githubusercontent.com/29785853/106779207-723d4680-664f-11eb-9c9a-61c0ad6f999a.png)

**To Reproduce**
Steps to reproduce the behavior:

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS: win10
- "@graphql-codegen/cli": "1.19.0",
- "@graphql-codegen/typescript": "1.17.11",
- "graphql": "15.4.0",
- NodeJS: v12.14.1

**Additiona

[2021-02-03 16:47] EvgenBabenko commented on #5487
duplicate #5486
sorry, my bad, didn't notice this issue

[2021-02-03 16:47] #5487 closed

[2021-02-03 16:49] frankshwb commented on #5486
The graphql-tag-pluck got updated today - and it seems to add some Vue and other dependencies.
[See versions](https://www.npmjs.com/package/@graphql-tools/graphql-tag-pluck/v/6.2.6)

The workaround by keeping the latest 1.20.1 version is:
To you package.json add:

`
 "resolutions": {
    "@graphql-tools/graphql-tag-pluck": "6.4.0"
  },
`

This uses the yarn Selective Versions RFC "resolutions" to

[2021-02-03 16:55] frankshwb commented on #5404
Since the update of [@graphql-tools/grapqhl-tag-pluck](https://www.npmjs.com/package/@graphql-tools/graphql-tag-pluck/v/6.2.6) to 6.4.1 this breaks some stuff. See also #5486

[2021-02-03 17:12] dep-dt commented on #5486
For what it's worth, using `"resolutions": { "@graphql-tools/graphql-tag-pluck": "6.4.0" },` didn't work for me. I add to manually add the following `devDependencies`.

[code]

[2021-02-03 17:13] ardatan commented on #5486
We're aware of the issue :) Patch version will be available in a few minutes
`@graphql-tools/graphql-tag-pluck@6.4.2`

[2021-02-03 17:14] ardatan commented on #5404
Fix for this broke other stuff. Closing in favor of #5486  .

[2021-02-03 17:14] #5404 closed

[2021-02-03 17:16] ardatan commented on #5486
@leroy0211 @dep-dt @frankshwb @benedict-jackson @pakatagoh Could you reinstall depedencies, make sure `6.4.2` is installed and working fine?

[2021-02-03 17:19] natac13 commented on #5486
6.4.2 is working

[2021-02-03 17:33] dep-dt commented on #5486
agreed, all good here too.

[2021-02-03 17:34] #5486 closed

[2021-02-03 18:19] #5450 closed

[2021-02-03 21:36] bezreyhan commented on #3256
I just installed @graphql-codegen/cli on an existing project and hit this error. I tried deleting package-lock but that did not fix the issue. Downgrading to `v1.9.1` resolved it.

[2021-02-04 17:27] Israel-Or commented on #5466
@ardatan
Happened to me also when generating code via mongoose plugin:
Steps to reproduce it:
.meshrc.yaml:
[code]
Task.model.ts
[code]
and then:
`graphql-mesh serve`

The error is:
TypeError: str.replace is not a function
    at escapeString (/Users/myName/sherlock-viewer-server/dist/plugins/other/visitor-plugin-common/src/enum-values.js:5:16)
    at parseEnumValues (/Users/myName/sherlock-viewer

[2021-02-04 17:54] jakelauer commented on #5466
I am also experiencing this with `typescript-type-graphql` (used programmatically) with the following config:

[code]

[2021-02-05 00:52] jakelauer opened #5497 "typescript-type-graphql does not appropriately handle non-string descriptions"
**Describe the bug**
The GraphQL schema I'm using has some description fields that resolve to objects when parsed to `GraphQLSchema`. These are not appropriately handled by the `typescript-type-graphql` plugin, which attempts to pass the description object to an string escape function.

**To Reproduce**
Steps to reproduce the behavior:

I have set up a repro using this sandbox:
https://codesandbox

[2021-02-05 01:21] willpomac commented on #4303
I have the same problem and the suggested workaround does not work. Could we get this fixed soon?

[2021-02-05 10:28] tvvignesh opened #5499 "Possible issue with dependencies in the codegen website"
**Describe the bug**
I was trying to get the codegen website running locally by running a `yarn install` at the root and then doing a `yarn start` within the website folder and after doing it, this is the error I get (even tried doing a `yarn install` within the website folder just to be safe):

<img width="743" alt="1" src="https://user-images.githubusercontent.com/1165845/107021626-632ed380-67ca

[2021-02-05 11:44] ardatan commented on #5499
@tvvignesh You need to build plugins and stuff first before running/building website, just like we do in the CI.
https://github.com/dotansimha/graphql-code-generator/blob/master/.github/workflows/website.yml#L22

[2021-02-05 11:47] tvvignesh commented on #5499
@ardatan Just did a `yarn build` from the root dir and ran it again. It worked. 👍

[2021-02-05 11:47] #5499 closed

[2021-02-05 11:55] devendra-thakur opened #5501 "GraphQL as a swift package manager"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-02-05 11:57] devendra-thakur commented on #5501
I am creating some projects which have a common platform. and I am using the common swift package manager for business logic.
Now with GraphQL, I need to move my business logic from

[2021-02-05 11:57] #5501 closed

[2021-02-05 13:37] ardatan commented on #4303
@willpomac Did you try to use glob expressions with `skipGraphQLImport`?

[2021-02-05 16:21] SpicyPete commented on #5466
+1, also getting this issue in a Gatsby project after updating my packages.

[2021-02-05 17:15] mlenser commented on #5466
@jakelauer I think the end result of both of these is the same `str.replace is not a function` so I presume they're both caused by the code change that I linked above (https://github.com/dotansimha/graphql-code-generator/commit/4444348d2b5c0e7ece9228f7bc7d14a4846811d6#diff-8844b3ecdf140eb2ba14e334b38d77fdc379b3c1dc3b3046a3e0dd5ce1668ac0R7)

[2021-02-05 23:07] schmod commented on #3641
Our use-case is fairly straightforward.  We build our app using babel instead of `tsc` because we've still got a bit of flowtype code in our repository, and it's generally easiest for us to just build everything with Babel.

The patch that I'm currently using to work around this issue looks like this:

[code]

My patch probably isn't a good general-purpose fix, but I think we could adapt it in a w

[2021-02-07 05:21] oising commented on #5372
Oh, so that's how to do it -- I am working on the c-sharp plugin to allow it to emit C# 9 record types, and I added a plugin scoped package `change-case` to do that work. I fixed the c# class output properties to be pascal cased. I guess I need to figure out how your naming convention stuff works...

https://github.com/dotansimha/graphql-code-generator/pull/5509

p.s. it's failing right now becaus

[2021-02-07 12:45] Israel-Or commented on #5466
Any update with this error? got the same error

[2021-02-08 13:46] SimenB commented on #5094
@dotansimha this one is turning slightly painful. Do you have any pointers as to where the unused import is added? If so I _might_ be able to provide a PR 🙂

[2021-02-08 21:15] migueloller opened #5517 "[`@graphql-codegen/typescript-resolvers`] Allow passing parent types to `Resolvers`"
## Problem

We use this wonderful tool together with `@graphql-utilities/schema` to generate type safe mocks for our UI component stories. In those stories, we've given developers the ability to mock the GraphQL schema by passing in resolvers. These resolvers might have different parent types depending on what the developer is presenting in the story. At the moment, it's only possible to generate

[2021-02-08 21:36] migueloller commented on #5517
At the moment we have to use `defaultMapper: any` and then manually import `<TypeName>Resolvers` so that we can pass our own custom parent type. Ideally we can just leave the default `defaultMapper` and just import `Resolvers` and pass the parent type map as the second generic to `Resolvers`

[2021-02-09 10:51] borekb commented on #5352
For anyone interested, we use this type utility to work around this:

[code]

I _think_ that graphql-codegen is doing the right thing when it now generates a union of `T[] | T` for query variable types but it was certainly quite challenging to solve this in our codebase. I don't know if an option like `arrayCoercion` should be added or not (suggested above) but it would probably make our life a bi

[2021-02-09 10:52] borekb commented on #4888
For people looking to "undo" this feature (though it is correct!), see https://github.com/dotansimha/graphql-code-generator/issues/5352#issuecomment-775851219.

[2021-02-09 11:31] simPod commented on #4788
@dotansimha where this could be possible fixed? Can look at it but have no idea to start honestly.

[2021-02-09 16:42] vitorcamachoo opened #5524 "TypeError: value.includes is not a function on passing custom fetch"
**Describe the bug**

When passing a custom fetch to `typescript-react-query` I gave the following error:

![Screenshot 2021-02-09 at 16 39 57](https://user-images.githubusercontent.com/20595956/107396187-735df000-6af5-11eb-9edd-06bc34c9ea21.png)

**To Reproduce**
Steps to reproduce the behavior:
With the following configuration:

[code]

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[

[2021-02-09 17:33] Rio6 commented on #4788
Looks like it's the problem with typescript-resolvers plugin. It has this function:
[code]
Which assumes avoidOptionals to be boolean type only. I made this simple patch to test it
[code]
And it looks like that was it.

[2021-02-09 18:01] Rockson commented on #153
Is there an example on how to configure custom scalars mapping them to custom types?

[2021-02-09 18:28] vitorcamachoo opened #5526 "[TypeScript React-Query] export fetcher from each query"
**Is your feature request related to a problem? Please describe.**
If we want to use the feature from Next.js, Incremental Static Regeneration, we need the fetcher itself to be executed on the static method `getStaticProps`. If the user uses `Typescript React-Query` to generate the queries, he will need the fetcher exported to be used separately.
At the moment I can't get `Incremental Static Regen

[2021-02-10 12:45] #4161 closed

[2021-02-10 14:17] dotansimha commented on #153
You can use mappers format for scalars, we use it in other places as well, should look like that:

[code]

[2021-02-10 15:21] ardatan commented on #5459
Available in the latest release!
Thanks!

[2021-02-10 15:21] #5459 closed

[2021-02-10 15:33] elie222 commented on #153
Would it make sense to default to this:

[code]

Instead of `any`?

[2021-02-10 21:58] slavikbez commented on #4577
Hi @dotansimha, sorry for delay, I will try to allocate some time to work on this in the upcoming weeks.

[2021-02-11 19:11] wesselvdv commented on #925
This seems to be an issue again, :-( Not sure when it was re-introduced but running gql-gen in a docker container without a pseudo-tty will no longer provide meaningfull error messages.

[2021-02-15 10:15] fialazd2 opened #5556 "[C# operations] treat C# keywords"
**Describe the bug**
C# operations can generate fields which are in collision with C# keywords (i.e. "case"). We use "case" in our schema.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate C# operations.

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
C# keywords like "case" should be prefixed with @ =>

[2021-02-15 10:28] ardatan commented on #5556
Thanks for reporting the issue! You can use `namingConvention` or `prefix` to make it safe variable :)

[2021-02-15 10:43] fialazd2 opened #5557 "[C# operations] - generates duplicate classes"
**Describe the bug**
When more properties of the same type are included in the same query/mutation, generator outputs duplicated classes with the same name in result cs file

**To Reproduce**
1. Include more fields with the same non-primitive type but different name in the schema
2. Make query/mutation to return all of the fields with the same type
3. Generate result cs file
Using example data in

[2021-02-15 11:16] fialazd2 opened #5558 "[C# Operations] - add support for aliases"
**Describe the bug**
For now generator use "type" to produce output property name. It should use alias instead.

**To Reproduce**
1. Generate attached operations.
2. See generated output - it generates 2 properties ("users") with the same name (C# syntax error).

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
1. pub

[2021-02-15 12:44] fialazd2 commented on #5556
Hi, thank you for your reply. Which `prefix` do you mean, please?

I tried:
fragmentVariablePrefix, typesPrefix, documentVariablePrefix

but none of then worked for generated property:
`        [JsonProperty("case")]
        public caseSelection case { get; set; }`

[2021-02-15 16:55] JustusNBB commented on #5466
+1
It was very recently introduced like jake pointed out:
The new code doesn't make sense, after you checked that it is not a string, you should not try to escape the string with str.replace!

[2021-02-15 19:46] sushilbansal commented on #5480
facing the same issue with both TData & TError.

[2021-02-15 19:58] sushilbansal commented on #5413
Yeah; it worked for me as well with .ts extension and does not work with .tsx extension

[2021-02-16 00:28] madeken opened #5562 "[typescript-resolvers] does not take into consideration the `mappers` when typing the `args` of resolvers."
Reproducible Example: https://codesandbox.io/s/cranky-knuth-g5tst?file=/types.ts

Imagine mapping the `ID` to `GraphId` with something simple like this:
https://codesandbox.io/s/cranky-knuth-g5tst?file=/apollo-graph-id.ts

This will affect both the arguments and returns of resolvers. However the `mappers` in `typescript-resolvers` is not typing the arguments which, in the reproducible example, the

[2021-02-16 08:42] ardatan commented on #5562
@madeken You should use 'scalars' for scalar types

[2021-02-16 11:14] dmateiu opened #5565 "Support for input argument deprecation"
**Is your feature request related to a problem? Please describe.**

In the version 15.4.0 the graphql-js package introduced the support for input argument deprecation.
In version 15.5.0, the introspection query was extended and the `IntrospectionOptions` type was extended by the option `inputValueDeprecation`. See [IntrospectionOptions](https://github.com/graphql/graphql-js/blob/bb58eb95482e5538d9

[2021-02-16 11:46] ardatan commented on #5565
Would you create a PR for that change?

[2021-02-16 11:53] dmateiu commented on #5565
I'd be happy to do that, however, the link to your [Contributor Workflow Guide](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md) seems to be broken, so I'm not sure how I can contribute.

[2021-02-16 12:04] ardatan commented on #5565
Fixed :)

[2021-02-16 13:51] dmarkow commented on #5453
It looks like https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/other/visitor-plugin-common/src/selection-set-to-object.ts#L375 is what's causing this. #5326 added this conditional check and is returning `realSelectedFieldType` instead of `selectedFieldType` when it's a conditional field. However, because `realSelectedFieldType` strips out the `Array<>` modifier, a