[2020-03-18 14:03] suhailbinnisar commented on #3642
**sidenote:**
If someone is using ```Prisma``` and generating ```prisma-client``` then I would recommend importing Mapper types directly from generated code.

for example:

[code]

so that you don't have to maintain two separate files,

[2020-03-18 14:08] Waitak commented on #3612
Unfortunately, this is still happening in 1.13.1. Could we reopen this issue, please? Happy to provide details if it would be useful.

[2020-03-18 14:37] ardatan commented on #3664
@fetis We need a clear reproduction to help you better.

[2020-03-18 15:04] fetis commented on #3664
@ardatan below is the output on the truncated set of files.

as you can see it shows error on every file, where actual source of error is only `case-link-fields.ts` file
[code]

[2020-03-18 15:06] ardatan commented on #3664
@fetis Those logs are not helpful without a reproduction. We need a clear reproduction as a codesandbox project or a repository.

[2020-03-18 15:11] fetis commented on #3664
@ardatan I understand, but I need some time to extract it from a private repo, which I obviously can't share

[2020-03-18 15:59] remorses opened #3665 "`typescript-graphql-request` generated code is importing from the plugin directly and can't run in the browser"
**Describe the bug**
when using the plugin `typescript-graphql-request` as the generated graphql code contain this line
[code]
Importing from `@graphql-codegen/typescript-graphql-request` causes the following error because `relay-compiler` is used in the package and calls `process.hrtime()`
[code]
That line also implies that you bundle the generator plugin as a non dev dependency, which is not tru

[2020-03-18 16:01] remorses commented on #3665
@andycmaj

[2020-03-18 16:06] capaj opened #3666 "CLI started crashing with 1.13.1 with Dependency Cycle Found"
**Describe the bug**

this error started to show on `1.13.1`:
[code]

**To Reproduce**
just run `gql-gen --config codegen.yml`

1. My GraphQL schema:

I can share if needed, but it's quite big, so it's better if I send it over as an archive

2. My GraphQL operations:

I can share if needed, but it's quite big, so it's better if I send it over as an archive

3. My `codegen.yml` config file:

[code]

[2020-03-18 16:18] dotansimha commented on #3666
@kamilkisiela I think this one is yours :)

[2020-03-18 16:19] dotansimha commented on #3665
Thank you for reporting this @remorses !
@andycmaj I think this is related to your changes, right?

[2020-03-18 16:21] andycmaj commented on #3665
yep. that's me. I can take this today.

[2020-03-18 16:23] dotansimha commented on #3665
Awesome! Thank you @andycmaj .
I think those interfaces could be in the generated file instead importing it?

[2020-03-18 16:32] andycmaj commented on #3665
yep i was thinking the same thing.
thanks!

[2020-03-18 16:58] andycmaj commented on #3665
sorry about that @remorses.
PR submitted

[2020-03-18 17:25] suhailbinnisar opened #3668 "Error: Unknown argument: config"
When i execute
```graphql-codegen --config ./admin.codegen.yml```

It throws this error:
[code]

same error when running via **yarn script**

**script**
[code]

I have tried shorthand argument **-c** too

[2020-03-18 17:32] remorses commented on #3665
Thank you ❤️

[2020-03-18 17:44] bkniffler opened #3669 "[Plugin Request] Combine all queries from multiple source files into a single `.graphql` file"
I'm using and loving the code generator. Since I'm using Hasura, I'm looking for a quick way to combine all queries from my tsx/ts files into a single .graphql file to upload to my Hasura allowed query configuration (https://hasura.io/docs/1.0/graphql/manual/deployment/allow-list.html#adding-or-removing-a-query-in-allow-list).

Would love to see a simple plugin that allows for the combination of a

[2020-03-18 18:17] suhailbinnisar commented on #3668
oops I forgot to add typescript as a dev dependency to root packages.json as I was using monorepo

[2020-03-18 18:17] #3668 closed

[2020-03-18 21:31] jcardali commented on #3612
I've bumped `typescript-operations`to 1.13.1, and this is likewise not working for me

[2020-03-18 21:41] iangregsondev opened #3675 "[Plugin Request] Swift iOS?"
Hi.

Was wondering if there is a swift generator for producing types from graphql for use in Swift ?

Thanks

[2020-03-19 10:35] dotansimha commented on #3675
Hi @iangregsondev
We currently don't have a plugin for it, mostly because we don't use Swift by ourselves, so implementing it for us will be difficult.
If you wish, you can create your own plugin. PRs are welcome ;)

[2020-03-19 10:37] dotansimha commented on #3612
@Waitak @jcardali You should bump *all* codegen packages together. They are linked together.
If it's still not working for you, please share a reproduction.

[2020-03-19 13:04] quentinus95 opened #3679 "Type 'undefined' is not assignable to baseOptions"
**Describe the bug**

When trying to update `@vue/apollo-composable` from `4.0.0-alpha.4` to `4.0.0-alpha.7`, I'm getting the following type errors with `graphql-code-generator` (on argument `baseOptions`) for all my mutations:

[code]
**To Reproduce**

Use the latest version of `graphql-code-generator` with `@vue/apollo-composable` `4.0.0-alpha.7` and any kind of mutation.

Config:

[code]

**Exp

[2020-03-19 17:20] mjbcopland commented on #3525
This isn't fixed as shown in the reproduction here https://github.com/mjbcopland/graphql-codegen-3525

I'll accept patching with workarounds until we have a proper fix but I don't understand why issues are being closed.

[2020-03-19 17:35] sgarner commented on #3665
Thanks for fixing. Is there an alpha release of the fix available?

[2020-03-19 19:19] remorses commented on #3665
You can use 1.13.0 for now

[2020-03-19 20:06] sarink commented on #3590
@dotansimha can you explain how this is supposed to work?
[code]
This is still not working for me. I also tried making each of the keys an array (ie, `- ./src/api-queries.ts`), but that had no effect either. I'm confused

[2020-03-19 21:09] ardatan commented on #3665
@sgarner You can also use `1.13.2-alpha-0799e8c0.14+0799e8c0` which has the build from current `master`.

[2020-03-20 00:01] zorji commented on #3525
@mjbcopland strange, it fixed the issue for me. However, one thing I noticed is, before this fix, `v1.13.1` has been already released. I think this patch should actually go to `v1.13.2`. Not sure if that causing cache issue on your side.

[2020-03-20 18:22] fetis commented on #3664
@ardatan I made a demo repo https://github.com/fetis/gqlgen-error with the same error as I have on production code, but I was not able to reproduce exactly the same error reporting as I mentioned. Maybe it depends on the number of files?

In this demo repo, I correctly get an error about  `_problem-query.ts` file, but in my real project repo this error points to the at _the file at the end of the

[2020-03-21 17:14] WaqasAliAbbasi commented on #3641
I have the following config:
[code]
which now leads to the incorrect:
[code]

Earlier it was generating:
`import { DBSessionEnum as Session } from "../services/db/interface";` which was working.

Can you kindly look into this?

[2020-03-22 09:24] dotansimha commented on #3641
We changed the behaviour to do import aliasing.
So importing `DBSessionEnum as Session` or importing `DBSessionEnum` and then aliasing it with `import Session = DBSessionEnum` is the same.

Why it doesn't work for you? @WaqasAliAbbasi

[2020-03-22 10:09] dotansimha commented on #3666
We need to revert those changes for now. @kamilkisiela is on it ❤️

[2020-03-22 10:10] dotansimha commented on #3679
It think it might be some changes to the API of `@vue/apollo-composable`?

I'm not familiar with it, so it might be difficult for us to reproduce.

@quentinus95 can you please create a repo / codesandbox that reproduces it? thank you!

[2020-03-22 12:08] quentinus95 commented on #3679
@dotansimha here you go: https://github.com/quentinus95/graphql-code-generator-3679

[2020-03-22 16:00] rzane commented on #3249
The GraphQL framework I'm using comes with a way to dump the schema to JSON. When I run the codegen against that JSON file, I get docblocks. When I run the codegen against a URL, I don't get docblocks.

This indicates that maybe there is a problem with the introspection query that is being sent to the server? This is the query that is being run when I dump the schema to JSON: https://github.com/ab

[2020-03-22 16:30] SimenB opened #3695 "Support TypeScript's `import type` syntax and `importsNotUsedAsValues: error` config"
**Is your feature request related to a problem? Please describe.**

The code generated has TS type errors if `importsNotUsedAsValues: error` is used in config

**Describe the solution you'd like**

An option to use `import type` instead of `import`

**Describe alternatives you've considered**

**Additional context**

[2020-03-23 03:52] captaincole commented on #2776
+1 My earlier issue was incredibly difficult to diagnose because I had no reference. I had to go backwards through each commit and figure out the culprit.

[2020-03-23 04:06] ardatan commented on #2776
@captaincole If you still have the issue, please share a reproduction. Thanks!

[2020-03-23 04:35] captaincole commented on #2776
Man it would be tough, because the issue is in my personal project.

I know it makes your life way easier when there is a repro case, so hopefully I can help out.

[2020-03-23 05:45] shinyaohira opened #3697 "@graphql-codegen/cli: A 'this' type is available only in a non-static member of a class or interface."
**Describe the bug**
I cannot compile my code with `generate` function of @graphql-codegen/cli.

[code]

**To Reproduce**

[code]

**Expected behavior**
No compile error.

**Environment:**

- OS: macOS Catalina
- `@graphql-codegen/...`: v1.13.1
- NodeJS: v12.11.1

**Additional context**

[2020-03-23 06:03] sarink commented on #3063
Is there any workaround? This is completely blocking me

[2020-03-23 09:44] lanwin commented on #3063
Yes there is. Ive created a minimal graphql-tag version which outputs only the source of the query instead of the full documentNode. This version did not have this bug, works with graphqlgen and is available here https://gist.github.com/lanwin/bdc33d0bf291851bda48d17f98b98ff2

I did not expect the bug fixed in graphql-tag soon. It did not seems to be active at the moment.

[2020-03-23 15:24] ericvergnaud opened #3698 "Unable to generate requests from a sdl schema"
**Describe the bug**
Unable to generate requests from a sdl schema

**To Reproduce**
Steps to reproduce the behavior:
This schema is self contained, no extra document.
I use the typescript and typescript-graphql-request plugins

When I 'generate', it does generate code, but the `getSdk` function does not expose anything.
When I add the schema in the documents section, it complains 'Unable to find

[2020-03-23 15:42] ardatan commented on #3698
As described in documentation, you need to have documents.
https://graphql-code-generator.com/docs/plugins/typescript-graphql-request

[2020-03-23 15:55] ericvergnaud commented on #3698
Should I make this a feature request?
When using GraphiQL I'm able to invoke queries and mutations.
Yes the doc says so, but does not explain why
I don't understand the value of creating documents and keep them in sync with the schema received from the server.
What am I missing?

[2020-03-23 16:15] ardatan commented on #3698
This is how GraphQL works. GraphQL Code Generator helps you to create typed code to be used in your project. It doesn't generate documents for you. You should write it by yourself to decide how many fields you want to fetch from that type etc.

[2020-03-23 16:15] #3698 closed

[2020-03-23 16:19] ericvergnaud commented on #3698
Well that's very frustrating I'd say.
I want all fields to start with...
Do you know of another generator that addresses this simple need?

[2020-03-23 16:46] WaqasAliAbbasi commented on #3641
Ah I just realised why. I am trying to map it to a type.
[code]
`DBSessionEnum` is actually a union type: `type DBSessionEnum = "SUMMER" | "WINTER" | "MARCH";`

Unfortunately I cannot control DBSessionEnum as it is automatically generated by [Prisma](https://github.com/prisma/prisma/issues/3429).

I only wanted `Session` to be a union type so I used mapping as a workaround. `enumsAsTypes: true` ge

[2020-03-24 07:18] SimenB commented on #3499
Didn't notice this, so opened #3704 for it. Most other types are already exported, doesn't seem like a hardship to export this as well even though it's simple to do in userland

[2020-03-24 16:26] devuxer commented on #3636
@dotansimha, I haven't forgotten about this, but it would take me some time to either strip my project down to a simple repo or find a template on codesandbox that is similar enough to my setup and configure it (I need one with Gatsby, TypeScript, and Apollo). It may end up being easier for me to try to debug against the graphql-codegen source code to see if I can isolate the problem that way. I a

[2020-03-24 17:37] seansfkelley opened #3712 "plugin development documentation?"
**Is your feature request related to a problem? Please describe.**

I'm trying to author a new plugin (`python-operations`) in my fork of this repo. However, while [the docs talk about the basics of plugin development](https://graphql-code-generator.com/docs/custom-codegen/write-your-plugin), I'm hung up on tooling issues that even before that. A selection of things:

- How do I install the repo p

[2020-03-24 19:57] GavinRay97 commented on #3712
I actually asked the same question in the Discord 15 minutes ago, hopefully get some good info.

[2020-03-24 21:08] devuxer commented on #3636
@dotansimha,

Experimenting with the source code definitely helped. I now realize that my config was incorrect because I was trying to put `pluckConfig` *inside* of `generates`. This doesn't cause an error but has no effect on the generation process.

If I put a single `pluckConfig` at the same level as `generates`, that does have an effect, but thus far, I haven't been able to come up with a conf

[2020-03-24 23:24] devuxer commented on #3636
@dotansimha,

Me again 😬

I did go ahead and just divide my config into two separate files, then I chained together two calls to `generate` in my package.json:

[code]

And that actually worked pretty smoothly, so I'm just going to go with that unless you have a better suggestion. Sorry for all the comments, but hopefully this will help someone in the future.

[2020-03-25 16:52] ekfn commented on #3638
Hi there. Are this optional? Or why this expected behavior? @dotansimha

[2020-03-25 17:06] ekfn commented on #3638
i can opt out this behavior via `avoidOptionals: true`, but i'm using this syntax:
[code]
and it seems like i can't opt out this behavior via this syntax

[2020-03-25 17:55] ekfn commented on #3638
answer is here https://github.com/dotansimha/graphql-code-generator/pull/3657
so this is works for me:
[code]

[2020-03-25 21:30] mohammed-shameem commented on #2086
@jsangilve Could you please let me know how did you fixed this issue? The User is undefined

[2020-03-25 21:43] gfpacheco commented on #3636
@devuxer would you mind sharing both your config files? I'm facing the same problem here, but couldn't make codegen ignore `gql` on gatsby's config yet.

[2020-03-25 21:45] gfpacheco commented on #3636
Nevermind, just made it work, I had to reset `globalGqlIdentifierName` 👍

[2020-03-25 22:42] devuxer commented on #3636
@gfpacheco,

Glad you got it working.

Let me post what I have anyway, though, just in case others come along looking for a solution.

Note that I'm developing on Windows--things may differ slightly on Mac/Linux. Also my GraphQL back-end was generated with Hasura, so some of my settings reflect that. Finally, I'm using only the environment variables in my env.development file (since I'm only doing

[2020-03-26 08:03] AruXc opened #3722 "Unable to find any GraphQL type definitions for the following pointers"
**Describe the bug**
Unable to find any GraphQL type definitions for the following pointers

I found #2979  to resolve my issue

It must be add a query in my server?

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS: 10.15.4
-   "@graphql-codeg

[2020-03-26 09:27] paales commented on #1796
We're running into the High CPU usage as well. Especially on lower end systems (not every developer has the newest laptop) it becomes an issue. Would be nice if we could switch to file system events :)

[2020-03-26 09:49] themez opened #3724 "Shall ResolverTypeWrapper make type partial for fetching data at field level?"
**Is your feature request related to a problem? Please describe.**

When I'm writing resolvers according to [PayPal's resolvers best practice](https://medium.com/paypal-engineering/graphql-resolvers-best-practices-cd36fdbcef55), I found the generated resolver type is too strict that I cannot leave off some field to fetch later, like below:
[code]
There would be a type error on `Query.event` resolv

[2020-03-26 11:24] ardatan commented on #3724
That's why we have `mappers` to define your own root/parent types;
[code]
[code]

[2020-03-26 11:25] #3724 closed

[2020-03-26 11:37] themez commented on #3724
Thanks @ardatan, it solves my problem.

[2020-03-26 13:01] DaSchTour opened #3727 "High number of versions breaks update tools"
**Describe the bug**
@graphql-codegen packages let tools like [npm-check](https://www.npmjs.com/package/npm-check) oder [npm-check-updates](https://www.npmjs.com/package/npm-check-updates) die or timeout, probably because of the gigantic number of versions.

**To Reproduce**
Steps to reproduce the behavior:

* Install packages from @graphql-codegen scope
* Run npm-check -u or ncu

**Expected behav

[2020-03-26 14:16] tyankatsu0105 commented on #2973
@dotansimha
How can I set the option for typescript-files-modules?

[2020-03-26 14:55] robbyemmert commented on #3697
I'm getting this issue as well. Any ETA when it will be available?

[2020-03-26 14:57] kamilkisiela commented on #3697
You can enable `compilerOptions.skipLibCheck` in tsconfig.json to temporary fix it, until we get a release.

[2020-03-26 16:27] dotansimha commented on #3525
@mjbcopland you are mixing too many plugins, that might not be compatible with each other. Can you please use the following, as a base, and let me know if there are other plugins that you might need that are missing and need to be fixed?

[code]
^ This works

[2020-03-26 16:28] dotansimha commented on #2926
@ArnaudBarre Can you please try latest version? If it doesn't work for you, can you please open a new issue with a reproduction?

[2020-03-26 16:47] standy commented on #3593
Any answer will be appreciated 👋

Npm packages are using semver, so unpinning is safe. Take a look into other big libraries, no one is pinning:
https://github.com/facebook/react
https://github.com/babel/babel
https://github.com/infernojs/inferno
https://github.com/rollup/rollup
https://github.com/webpack/webpack

[2020-03-26 16:49] kamilkisiela commented on #3593
Yeah, pinning should be done only on our packages

[2020-03-26 17:52] vhiairrassary commented on #2973
@tyankatsu0105 For me it works using something like:
[code]

[2020-03-26 19:28] rebolyte opened #3733 "Vue Apollo generated types always require variables/options"
**Describe the bug**

Using the awesome @graphql-codegen/typescript-vue-apollo plugin from @iskanderbroere, the generated code has typing errors. Specifically, it requires that variables and options be defined for all queries:

[code]

Error: `Argument of type 'GqlGetMeQueryVariables | Ref<GqlGetMeQueryVariables> | ReactiveFunctionGetMeQuery | undefined' is not assignable to parameter of type 'Gql

[2020-03-26 23:38] sarink commented on #3063
@lanwin are you by any chance using a custom `tagName` (something other than `gql`)? I noticed that when I switched back to `gql`, this problem suddenly vaporized. I switched back again (to confirm), and got hit by this error again.

I'm communicating with multiple independent schemas, and wanted to use the eslint-graphql-plugin (which also supports changing the `tagName`), so my setup is a little

[2020-03-27 08:05] quentinus95 commented on #3733
@rebolyte this seems to be a duplicate of https://github.com/dotansimha/graphql-code-generator/issues/3679

[2020-03-27 08:06] quentinus95 commented on #3679
@dotansimha do you need me to provide you any other piece of information?

[2020-03-27 12:42] ardatan commented on #3573
This commit fixes that issue on graphql-toolkit;
https://github.com/ardatan/graphql-toolkit/commit/f4dbc47737e7732f200dc0b150122abba9e486f4

[2020-03-28 03:31] guiaramos opened #3738 "(node:16743) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'close' of undefined"
**Describe the bug**
TypeError: Cannot read property 'close' of undefined

**To Reproduce**
Steps to reproduce the behavior:
when running `graphql-codegen --config codegen.yml`

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS: macOS Catalina version 10.15.3
- `@graphql-codegen/...`:
    "@grap

[2020-03-28 04:44] guiaramos commented on #3738
Log:
[code]

[2020-03-28 05:25] valerybugakov commented on #2192
If developer renames `data` prop with it's own alias, for example: `patientData` then, `data` prop will not exist in the child component. Code generator output for HOCs:

[code]

`TPatientProps<TChildProps>` — this line marks `data` prop as required and there's no way to change it after code is generated. Does it make sense?

[2020-03-28 10:05] philiiiiiipp opened #3739 "enumValues with different names in .graphql and .ts break in babel."
**Describe the bug**

Given:

[code]

It seems as if `enumValues` which do not have the same name in the `.ts` and `.graphql` files are now generating:

[code]

instead of the previous:
[code]

I am not sure if this is a bug, or expected behaviour, but it breaks the usage of those types with bable and `@babel/plugin-transform-typescript`.

**To Reproduce**
I have created a simple repo here:
https:

[2020-03-29 06:47] lanwin commented on #3063
@sarink no I still use gql as tag name and import from  "./graphql-tag-source" instead.

And then Ive configured use config option to let the generator use "gqlImport: generated/graphql/graphql-tag-source" instead.

[2020-03-29 15:28] JoeSchr commented on #3679
I got it too.

Funnily enough not inside my docker (on a windows host), only when used natively on gallium-os/ubuntu-bionic. both tsc are on 3.8.3, I really don't get it...

[2020-03-31 12:51] ivansard opened #3758 "Issues setting up with .graphql file"
**Describe the bug**
I'm having issues generating the appropriate type definitions with any type of file that is stated in the docs. The only way I am able to successfully generate type definitions is if the value of the schema property is a URL to my running GraphQL server. I don't like this solution and would want to achieve this with any of the other 3 options (.graphl, .ts and .json). For this

[2020-03-31 17:35] urbgimtam commented on #3758
Have you tried downgrading to version 1.13.0?
I've started to get a similar error when upgraded to version 1.13.1, but 1.13.0 works perfectly.

[2020-03-31 21:33] smykhailov commented on #3437
Very strange error, I got the same and found the fix
instead of
[code]
I changed the versions to:
[code]

I didn't dig to root cause, but hope it will help in investigation

[2020-04-01 08:10] huv1k opened #3767 "Single import for @apollo/client"
**Is your feature request related to a problem? Please describe.**
Right now `typescript-react-apollo` with `reactApolloVersion: 3` generates duplicate imports. This is a problem with `eslint` rule `no-duplicate-imports`.

[code]

**Describe the solution you'd like**
Provide a single import for `@apollo/client` to prevent problems with linters.
[code]

[2020-04-01 10:28] thomasmichaelwallace commented on #3417
I initially came to this issue thinking I needed `__typename` for interfaces.

My use case was that I was using the server typings with appsync, and needed to do things like return heterogeneous types all implementing a single interface, but with branching logic on how each type was manipulated.

However, this issue (especially @dotansimha ) challenged me on this, and I realised that what I actual

[2020-04-01 12:20] ivansard commented on #3758
Hey @urbgimtam, thank you very much for the reply.

I have downgraded now to version 1.13.0, and I am still getting the same error. I have also tried with a schema.json file, which contains the introspection JSON from my schema, which I queried on my remote server and copied into the file. The query fired in the playground is below:

[code]

And I have adjusted my codegen.yml as so:

[code]

This

[2020-04-02 01:43] jasonlor opened #3769 "Unable to find template plugin matching 'typescript-operations'"
Can't run graphql-codegen due to typescript-operations and introspection despite them being in devDependencies of package.json.

[code]

**To Reproduce**
Steps to reproduce the behavior:
graphql-codegen init
yarn gql

I've tried

rm -rf node_modules and reinstalling, no difference.

**package.json**
    "gql": "graphql-codegen --config codegen.yml",

  "devDependencies": {
    "@graphql-codegen/cl

[2020-04-02 07:12] ardatan commented on #3769
There is a version mismatch in your package.json file. So could you update it like below;
Please avoid using ^``in package.json.
[code]

[2020-04-02 13:00] dotansimha commented on #3437
@smykhailov All you version should be either pinned or not, otherwise you risk in missmatch and duplicate packages.

[2020-04-02 16:46] jasonlor commented on #3769
I've updated package.json but am still seeing the same error when trying to run graphql-codegen.
[code]

**package.json**
[code]

[2020-04-02 18:16] ardatan commented on #3769
@jasonlor Could you share a reproduction codesandbox or repo?

[2020-04-02 19:11] jasonlor commented on #3769
Figured it out, it was related to my environment. Thanks!

[2020-04-02 19:11] #3769 closed

[2020-04-02 19:36] rebolyte commented on #3733
Thanks @quentinus95, closing this in favor of #3679.

[2020-04-02 19:36] #3733 closed

[2020-04-02 19:38] rebolyte commented on #3679
@dotansimha @iskanderbroere Any updates here? This seems to have been introduced with the overloads added in @vue/apollo-composable v4.0.0-alpha.5 in vuejs/vue-apollo#895.

[2020-04-02 21:58] UrielCuriel opened #3784 "add deprecated directive to schema but is defined in false"
**Describe the bug**

I use API Platform in backend and automatically generates the schema of my resources.
all types include these properties by default
[code]
when generate the `graphql.schema.json` and `types.d.ts` from my graphql endpoint add `@deprecated` directive to all types
[code]

**To Reproduce**
[endpoint file and generated files](https://gist.github.com/UrielCuriel/f7adaff745f06792822

[2020-04-04 02:42] DogChef opened #3798 "Invalid hook calls when calling a normal query with typescript + generated core used as a package"
I'm using Yarn workspaces with a core package having the generated code and a mobile package that uses it.

When trying to make a call from an imported query I get an invalid hook call. Using any other hook in that component (i.e. useState) works fine.

My package.json of my mobile package imports:
`"@workspace-library/core": "1.0.0",`

I have an index.js file at core/src that has:

[code]
And I i

[2020-04-04 11:41] mehmetnyarar commented on #3767
For `"@apollo/client": "^3.0.0-beta.41"`, this seems to work for now:

codegen.yml:

[code]

[2020-04-04 14:13] iskanderbroere commented on #3679
You're right it only work with alpha.4, i'll take a look making it compatible with alpha.8

[2020-04-04 20:43] sarink commented on #3590
Bump?

[2020-04-04 21:06] kamilkisiela commented on #3590
@sarink we reverted it because generation happens before CLI persists the output to file system, so it awaits forever or completes before we save anything to disk. I could work on it but not in next week or two.

[2020-04-04 21:07] sarink commented on #3590
Ah, I see, that explains it. Thanks :)

[2020-04-04 21:11] ardatan commented on #3590
@sarink In the meanwhile, I recommend you to use programmatic API to generate each file by synchronously waiting each other

[2020-04-05 09:44] dotansimha commented on #3727
I can't really see how it's related to the codegen... releasing an alpha version per each commit is something we do for all our libraries. We mark all alpha versions as `alpha` tag in NPM.
Releasing frequent alphas helps to to fix and verify issues, and allow consumers of this library to be able to get fixes before it's getting to a stable release.

I think other tools might need to consider to im

[2020-04-05 09:44] #3727 closed

[2020-04-05 13:33] dotansimha commented on #3249
I can confirm that this issue happens because of a bug in `graphql-toolkit`.

It seems like the url-loader is fetching everything correctly, and building the schema with `buildClientSchema` as we need to. But something with `printSchemaWithDirectives` prints the descriptions as comments (with `#`) which later being ignored.

Then codegen gets it without it, so the output has it missing.

I'm worki

[2020-04-05 13:55] dotansimha commented on #3249
@toverux @rzane @leethree @falkenhawk @anfinil @koenpunt
Can you please try `1.13.2-alpha-4638c86d.112+4638c86d`? It should fix that issue. I tested it with @falkenhawk 's reproduction and it seems to work fine now.

[2020-04-05 14:06] dotansimha commented on #3437
@nebbles You are having the same issue as @smykhailov .
You need to pin, or align all your codegen dependencies. Either use `^version` or just `version`, because otherwise you'll get a mixup of dependencies, and it will cause multiple versions of codegen `core` package.

I tested both solutions on your repo and it works. Also tested latest codegen version and it also works.

Closing.

If someone e

[2020-04-05 14:06] #3437 closed

[2020-04-05 15:45] dotansimha commented on #3457
@SoyYoRafa Sorry for the late reply.
It seems like there is some kind of a conflict in deps, caused by `graphql-config` that requires `@graphql-toolkit/schema-merging`.
In your example, removing the explicit dependency for `@graphql-toolkit/...`, updating to latest codegen and add Yarn resolution seems to solve it:

[code]

We are working on a fix for that :)

[2020-04-05 17:23] masihjahangiri opened #3805 "Query resolver not support return empty object ({}) to implement apollo resolver chains"
**Describe the bug**
For nested GraphQL separating concerns reason, I decided to implement apollo resolver chains. I return empty object in query top level resolver to apollo server resolve data in nested field.
For example:
[code]
But type script return type error and we not allow return empty object in top level query resolver.
How to fix it and disable this error?

[2020-04-05 19:12] fluxxu opened #3807 "Cannot generate from more than 1 graphql file: Fragment "x" is never used."
**Describe the bug**
We wanted to use multiple *.graphql files to split the operations code, but we found that as soon as anyone file defined a fragment that was not used by the other files, the generator would make an error, even if that fragment was used in the file that defined it:
[code]
It looks like the generator inserted the fragment automatically into all the files, but graphql-toolkit thi

[2020-04-06 04:48] riencoertjens commented on #3807
I just got this same error when upgrading [graphql](https://www.npmjs.com/package/graphql) to `v15.0.0`

[2020-04-06 05:11] tylerbarker commented on #3807
Yep having the same issue. Can confirm no issues when using `14.5.8`

[2020-04-06 06:50] kamilkisiela commented on #3807
ardatan/graphql-toolkit#541

[2020-04-06 06:52] dotansimha commented on #3807
As @kamilkisiela said, this was fixed in `graphql-toolkit` and already released. It's waiting for a codegen release (in a few hours).

[2020-04-06 06:54] dotansimha commented on #3807
If someone needs it, you can use `1.13.2-alpha-83993e60.114` of codegen, it should work.

[2020-04-06 07:07] dotansimha commented on #3417
So I had more thinking about this issue, and it's been re-opened now.

This thing is - the `typescript` (and `flow`) plugins are "base" plugins - the types it generates are meant to be used by other plugins, so it could easily consume it.

If the consumer is `typescript-operations`, it will depend on the operation you are using. And in that matter, there is no chance that `graphql` will return the

[2020-04-06 07:10] dotansimha commented on #3805
You can use `mappers` to replace the types expected by your generated resolvers. See: https://graphql-code-generator.com/docs/plugins/typescript-resolvers#mappers---overwrite-parents-and-resolved-values

If you plan to use empty object as a replacement for one of you types, you can do:

[code]

[2020-04-06 07:10] #3805 closed

[2020-04-06 08:14] dotansimha commented on #3457
We managed to reproduce this in: https://github.com/ardatan/graphql-toolkit/pull/548 , thanks @SoyYoRafa

[2020-04-06 08:36] dotansimha commented on #3798
I'm not sure it's related directly to codegen. Maybe it's something related to your setup.
Can you please share a reproduction in codesandbox/repo?

[2020-04-06 08:41] dotansimha commented on #3739
Hi @philiiiiiipp
It's not a bug, but something we changed to have better TS support. I guess we didn't know that Babel-TS doesn't support aliasing using `import`.

As a workaround, you can point enumValues only to the name, and then import it manually with `add` plugin.

[code]

[2020-04-06 08:43] dotansimha commented on #3738
Thanks @guiaramos , I think it might be related to the watch mode, but I can't really point what causing it. It tried to run it in watch mode and everything seems fine.
Any chance you can create a reproduction a repo/codesandbox?

[2020-04-06 08:45] dotansimha commented on #3722
@AruXc Do you have both `type ...` and `query ...` in the same file?
You should separate your schema definition and the operations definitions.
Also, what's the motivation of using `typescript-operations` and `typescript-resolvers` in the same file? do you use client-side schema?

[2020-04-06 08:46] dotansimha commented on #3593
I did it partially for now, will improve later.

[2020-04-06 08:48] philiiiiiipp commented on #3739
Ok great I will try that out. If this works fine should I add a PR with a note in https://graphql-code-generator.com/docs/plugins/typescript#enumvalues-enumvaluesmap describing the workaround?

[2020-04-06 08:49] guiaramos commented on #3738
The problem was related to a miss-type on schema...
To figure out I needed to add https://github.com/cjoudrey/graphql-schema-linter and run.
Then I discovered that I was referencing "Plans" instead of "Plan" and also  "TimeLine" instead of "Timeline"

Thanks for you reply and sorry for belated explanation

[2020-04-06 08:49] #3738 closed

[2020-04-06 08:53] dotansimha commented on #3758
The actual issue here is related to the way we display the error messages, for unknown reason it doesn't show the error correctly. I will investigate it.

In your schema, you are using a type called `Date` without having it defined. It's missing `scalar Date`, I guess you are using an external library for that? if so, note that you need to tell codegen it exists as well.

[2020-04-06 09:06] LucienLee opened #3815 "[typescript-resolvers] avoid input optional as typescript-operations"
Now, we have dedicated controls of optional types in typescript-operations, including `field`, `inputValue` and `Object`.  However, we only can choose on or off in typescript-resolvers.

I suggest that typescript-resolvers can take `avoidOptionals` as  typescript-operations.

[2020-04-06 09:15] dotansimha commented on #3815
I think it will have to use a different controls, right? What did you have in mind? @LucienLee

[2020-04-06 09:16] dotansimha commented on #3738
@guiaramos yeah we have a bug with printing schema errors, working on a fix now :)

[2020-04-06 09:16] dotansimha commented on #3739
@philiiiiiipp sounds good!

[2020-04-06 09:31] dotansimha commented on #3784
I'm not sure what's the issue here.
I tested it in: https://codesandbox.io/s/muddy-shape-ykkq7 , it seems like `schema-out.json` and `schema.graphql` are both fine. No `deprecated`.
If you see `@deprecated` on your gateway - it might be an issue with it and not with codegen.

If you wish, create a reproduction with a valid input/output that shows the error, and I'll re-open this.

[2020-04-06 09:31] #3784 closed

[2020-04-06 09:32] leethree commented on #3249
@dotansimha I tried it. The generated schema has documentations now. Thanks!

[2020-04-06 09:56] dotansimha commented on #3758
Fixed by @kamilkisiela in: https://github.com/dotansimha/graphql-code-generator/pull/3816

[2020-04-06 11:47] AruXc commented on #3722
@dotansimha Yes, `type ...` and `query ...` in the same file
I follow the [moleculer-apollo-server](https://github.com/moleculerjs/moleculer-apollo-server) docs

uh...honestly I don't know what `typescript-operations` and `typescript-resolvers`  can do
I am still studying docs

[2020-04-06 12:24] ivansard commented on #3758
@dotansimha thanks for the reply.

It was down to the Date scalar missing from the .graphql file. I've successfully generated type with both the .graphql file as well as with the .json file.

Thank you very much for your help, looking forward to further releases of the library, you guys are doing a fantastic job!

Cheers

[2020-04-06 13:09] masihjahangiri commented on #3805
I don't want override parent type resolver! I want to keep QueryStaffs type and add my type as union type i.e:
[code]

[2020-04-06 13:19] DaSchTour commented on #3727
Well. Even `npm outdated` times out with a `@graphql-codegen/…` package regularly. So it's even npm itself that possibly can't handle this. It's just annoying I have to remove and re-add all the `@graphql-codegen/…` packages if I want to check my dependencies.

[2020-04-06 13:36] ardatan commented on #3805
You can add it like below then;
[code]

[2020-04-06 17:03] melissag commented on #3482
I've run into this problem as well, is there any update?

#### To Reproduce
https://codesandbox.io/s/1131-generates-only-first-schema-wbymw

This workspace utilizes @graphql-codegen/cli 1.13.1.

codegen.json specifies `"schema": ["schema1.graphql", "schema2.graphql"]`, but the resultant types.ts has only the types from schema1 (Query `user` and Mutation `addUser`)

In contrast:
https://codesandbox

[2020-04-06 18:02] P4sca1 opened #3819 "Make prettier a dev dependency"
prettier is listed as a dependency in `graphql-codegen-cli`, but should be a devDependency, because it is not required at runtime and only to format graphql-code-generator`s code itself.
Also, listing it as a dependency might cause problems when the versison differs from your local version of prettier.

[2020-04-07 07:20] LucienLee commented on #3815
I think that it could be the same because we can pass options in the output level (usually, resolvers and operations will be generated in the different files) and plugin level. It' doesn't matter we used the same config signatures.

However, maybe we can have a new one setting, `scalar`. Now we can control these GQL schema types optional or not: `FieldDefinition`,  `InputValueDefinition` and `Obje

[2020-04-07 08:21] dotansimha commented on #3457
@SoyYoRafa I can confirm that the fix in `graphql-toolkit` fixed that issue.
It will be shipped with the next codegen version.

If you wish to workaround that, you can use Yarn `resolutions`:

[code]

[2020-04-07 08:29] dotansimha commented on #3819
You are right, done, will be shipped in next release.

[2020-04-07 08:57] dotansimha commented on #3819
Fixed in v1.13.2

[2020-04-07 08:57] #3819 closed

[2020-04-07 08:57] dotansimha commented on #3457
Fixed in v1.13.2

[2020-04-07 08:57] #3457 closed

[2020-04-07 08:57] dotansimha commented on #3807
Fixed in v1.13.2

[2020-04-07 08:57] #3807 closed

[2020-04-07 08:58] dotansimha commented on #3758
Fixed in v1.13.2

[2020-04-07 08:58] #3758 closed

[2020-04-07 08:58] dotansimha commented on #3593
Fixed in v1.13.2

[2020-04-07 08:58] #3593 closed

[2020-04-07 08:58] dotansimha commented on #3249
Fixed in v1.13.2

[2020-04-07 08:58] #3249 closed

[2020-04-07 08:58] dotansimha commented on #3697
Fixed in v1.13.2

[2020-04-07 08:58] #3697 closed

[2020-04-07 08:58] dotansimha commented on #3665
Fixed in v1.13.2

[2020-04-07 08:58] #3665 closed

[2020-04-07 09:46] SimenB opened #3825 "1.13.1 -> 1.13.2 removes comments from schema"
**Describe the bug**
Comments from the schema are gone in the generated code.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
1.13.1 generates comments

[code]

1.13.2 does not

[code]

**Environment:**

- OS: macOS
- `@graphql-codegen/...`:  1.13.2
- NodeJS: 12.16.

[2020-04-07 10:11] ardatan commented on #3825
Could you add commentDescriptions option like below and try again?
[code]

[2020-04-07 12:57] SimenB commented on #3825
That makes no difference

[2020-04-07 13:15] ardatan commented on #3825
In GraphQL Spec, comments with `#` are deprecated so you need to use `"""` descriptions instead.
You can see here;
https://github.com/graphql/graphql-js/pull/927

Not sure if we change the behavior because supporting both descriptions and comments might break things. @dotansimha

Maybe the following would work;
[code]

[2020-04-07 13:47] SimenB commented on #3825
Aha, I didn't know that, thanks for the link! I'd still consider it worth pointing out in the changelog though. The only close to it is

We've migrated to using `"""` now, so this is solved for us. But again, it should be noted in the changelog and not silently dropped

[2020-04-07 15:13] #3825 closed

[2020-04-07 17:37] zicodeng opened #3827 "How to add ID to resolved custom scalar"
How do I add optional `Scalars['ID']` to resolved type?

Consider the following type definitions:

[code]
Currently, it generates:

[code]
What I want:

[code]

Why? because on the server-side, I might want to use this type before `Asset.uploader` is resolved to `User`

How do I achieve it? I feel like it should be a common use case, but didn't find a doc for it

Thanks in advance

[2020-04-07 18:04] ardatan commented on #3827
You can override default types for scalars using `scalars` option. You can find the documentation below.
https://graphql-code-generator.com/docs/plugins/typescript#scalars-scalarsmap

[2020-04-07 18:04] #3827 closed

[2020-04-07 18:06] benallfree opened #3828 "Suggestion: add Apollo Server config directive to typescript-resolvers plugin"
I am using [typescript-resolvers](https://graphql-code-generator.com/docs/plugins/typescript-resolvers) and I see #3805 talks about this a little, but I have a suggestion for better Apollo Server compatibility.

It seems both of these config directives are necessary:

[code]
The `defaultMapper` one is needed to support [resolver chains](https://www.apollographql.com/docs/apollo-server/data/resolve

[2020-04-07 19:00] P4sca1 commented on #3819
@dotansimha Thank you for the quick fix. You are doing a great job with this project!

[2020-04-07 20:28] brandon-leapyear opened #3831 "Can't use concatAST easily with strictNullChecks"
**Describe the bug**
I'm writing my own plugin in Typescript, and I'm copying what other plugins are doing:
[code]
But this breaks on the latest version of graphql-code-generator with `strictNullChecks` turned on:

[code]

i'm currently using the following workaround:
[code]
which is less than ideal.

**To Reproduce**
Write a plugin using `concatAST(documents.map((v) => v.document))` with `strictN

[2020-04-07 20:42] markhalonen commented on #2735
I was thinking I'd switch to this lib over apollo-codegen, but the lack of intermediate/sub types is a showstopper for me. I use the pattern of grabbing the sub-type and using it in function definitions, sub-components, etc. extensively.

It's nice that it automatically exports the hooks, but it's not worth losing the sub-types to me.

[2020-04-07 20:49] zicodeng commented on #3827
Hi @ardatan I tried the option but it doesn't seem to work. Below is my config:

[code]

[2020-04-07 20:56] zicodeng commented on #3827
Seems similar bug happened before: https://github.com/dotansimha/graphql-code-generator/issues/2342

[2020-04-07 21:03] zicodeng opened #3832 "Option scalars not working"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]
Currently, it generates:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

[code]

If I understand how this option works correctly, `User` should be replaced with `ID` 🤔

**Environment:**

- OS:
    "@graphql-codegen/cli": "^1.13.2",

[2020-04-07 21:04] zicodeng commented on #3832
Related: https://github.com/dotansimha/graphql-code-generator/issues/3827 and https://github.com/dotansimha/graphql-code-generator/issues/2342

[2020-04-07 21:33] ardatan commented on #3832
Could you try the following;
[code]

[2020-04-07 21:56] zicodeng commented on #3832
@ardatan Unfortunately, it is not working for me either

[2020-04-07 22:50] ardatan commented on #3832
Oh sorry my bad. I thought you're trying to override parent types. @dotansimha Do we have an option for this scenerio?

[2020-04-07 23:16] zicodeng commented on #3832
@ardatan no worries, it makes sense for client-side to only see `upload: User` type, however, on server-side, I will also need see `ID` type :)

[2020-04-08 08:02] paales commented on #1796
Apparently I'm retarded and need to read the documentation, the following solved it for me:

[code]

[2020-04-08 17:14] helios1138 opened #3836 "@skip, @include directives do not result in fields becoming optional in the generated code from typescript-operations"
right now, there is no difference in typescript being generated by `typescript-operations` for
[code]
and
[code]
expected result: field `me` and all the fields from `userFragment` should become optional (`T | undefined`) in the typings, since they are no longer guaranteed to be present when query executes

[2020-04-08 18:52] ardatan commented on #3482
It's fixed in 1.13.2
https://codesandbox.io/s/mystifying-curie-3bdof

[2020-04-08 22:22] melissag commented on #3482
Thanks for the update @ardatan , though I'm afraid it's still broken.

The sandbox you linked actually illustrates the problem - the resulting `Mutation` type in both `types1.ts` and `types2.ts` has the mutations from `chat.graphql` and `user.graphql` (`createChat` and `signup`), but not the mutation from `message.graphql` (`sendMessage`).

[2020-04-08 22:28] ardatan commented on #3482
My bad you're right. Let's keep it open until it gets fixed.

[2020-04-08 22:38] zicodeng commented on #3832
Any update on this? @ardatan @dotansimha

[2020-04-08 22:38] melissag commented on #3482
:thumbsup: Thanks!

[2020-04-09 00:50] jamesharv commented on #3207
Would appreciate a fix for this, as our generated code won't compile when using @key on types using mappers. Thanks for all the work done on this great tool.

[2020-04-09 02:18] tafelito commented on #2891
@dotansimha I just run into this issue. You're correct, it only works if the hook in the root-level position

[2020-04-09 11:33] iamdanthedev commented on #3445
This configuration works for me:

[code]

[2020-04-10 04:19] vhenzl opened #3849 "Custom plugins written in TS don't work since v1.12"
Previously it was possible to write and use custom plugins in TypeScript directly without transpiling them to JS by using `ts-node` but id doesn't work since v1.12:

[code]

**To Reproduce**

A simple plugin (in `src/plugins/my-test-plugin.ts`):

[code]

`codegen.yml` config file:

[code]

Working in v1.11.2: https://codesandbox.io/s/graphql-codegen-ts-plugin-v1112-ok-n4yg5
Broken in v1.12.1: http

[2020-04-10 20:55] davidleger95 opened #3853 "Question: Why are Apollo queries being ignored, but not Gatsby queries?"
I'm trying to generate types based on my Apollo queries. This will generate types for the schema currently but not types for individual queries that are tagged with `gql`. The config for generating types form Gatsby queries (tagged with `graphql`) works fine.

For some reason, it's ignoring the Apollo queries and just outputting the generic types for the schema. Is there something I'm missing?

[c

[2020-04-10 21:19] fabis94 commented on #1609
Is it possible to set the `watch` glob with the CLI -w param? I only want to run in watch mode when I run codegen with this param.

[2020-04-10 21:26] davidleger95 commented on #3853
Had to update my versions, but noticing what seems to be a bug so I'll open another issue

[2020-04-10 21:26] #3853 closed

[2020-04-10 21:43] fabis94 opened #3854 "Specify watch mode glob pattern when watch mode enabled with CLI flag"
**Is your feature request related to a problem? Please describe.**

Currently it looks like the `watch` glob pattern can only be specified in the codegen config, not with the cli flag. I don't want to keep the `watch` glob pattern inside the config, because I occasionally want to run codegen not in watch mode. If I would be able to specify the watch glob pattern along with the cli flag, I could le

[2020-04-10 22:04] davidleger95 opened #3855 "`pluckConfig` doesn't seem to work for multiple output files"
**Describe the bug**

`pluckConfig` works at the root config, but when placed in the config for an individual output file, it doesn't seem to work.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a `codegen.yml` with multiple output files for generating TS types.
2. Set the `pluckConfig` for an output file to only look for `gql` tags.
3. Run `graphql-codegen` on a project with both `

[2020-04-10 22:43] vladinator1000 commented on #3767
@mehmetnyarar I don't lint the file anyway, if anyone is looking for a quick fix, here's my config
[code]

[2020-04-11 15:23] Sladuca opened #3857 "Question: how to import types from Urigo/graphql-scalars?"
Hi,

I'm using types defined in [graphql-scalars](https://github.com/Urigo/graphql-scalars) in my schema. For example, my schema has:

[code]
where `EmailAddress` is defined by `graphql-scalars`.  I've spent a lot of time trying to import the types, and it would be awesome if someone were able to help.

Right now it always fails with:

[code]

Here's my `codegen.yml`:

[code]

and `src/scalars.ts`

[2020-04-11 15:43] ardatan commented on #3857
You need to add type definitions to your schema like `scalar EmailAddress`, you don't need to do something else with resolvers.

[2020-04-11 15:43] #3857 closed

[2020-04-11 15:44] Sladuca commented on #3857
Thank you

[2020-04-11 18:16] sarink opened #3858 "`pluckConfig` doesn't work with multiple tags"
**Describe the bug**
`config.pluckConfig` options set in `codegen.yml` are not being utilized by `graphql-tag-pluck`.

**To Reproduce**
Codesandbox link: https://codesandbox.io/s/quizzical-curie-mwbfn?file=/codegen.yml

(this example illustrates `modules` not working, but `magicComment` appears to be broken also)

[2020-04-11 19:03] ardatan commented on #3855
[code]
`pluckConfig` should be on root. It is listed together with `schema` and `documents` here;
https://graphql-code-generator.com/docs/getting-started/codegen-config
And `identifier` means export name.
https://codesandbox.io/s/goofy-https-vefyz?file=/codegen.yml:0-173

[2020-04-11 19:04] ardatan commented on #3858
[code]
`pluckConfig` should be on root. It is listed together with `schema` and `documents` here;
https://graphql-code-generator.com/docs/getting-started/codegen-config
And `identifier` means export name.
https://codesandbox.io/s/goofy-https-vefyz?file=/codegen.yml:0-173

[2020-04-11 19:05] ardatan commented on #3855
Could you check the sandbox because I don't see anything related to tag pluck in that sandbox?

[2020-04-11 19:09] sarink commented on #3858
Hey @ardatan thanks for your quick response. Can you also explain why this doesn't work?

https://codesandbox.io/s/quizzical-curie-mwbfn?file=/codegen.yml

I've set `magicComment:  __never__`, but  codegen is still parsing the `/* GraphQL */` comment tag, and thus throwing a  "duplicate query" error

[2020-04-11 19:12] ardatan commented on #3858
It should be `gqlMagicComment`, docs needs to be updated.
https://github.com/ardatan/graphql-toolkit/blob/master/packages/graphql-tag-pluck/src/index.ts#L8

[2020-04-11 19:12] sarink commented on #3858
🎊 thank you!

[2020-04-11 19:14] ardatan commented on #3858
Updated 👍 https://github.com/dotansimha/graphql-code-generator/commit/711b4e925b5177b3da4319c7cb067ba377020af5 Thank you

[2020-04-11 23:07] sarink commented on #3858
@ardatan I am still having trouble with this... Can you tell me what configuration I would need to make this work?

https://codesandbox.io/s/quizzical-curie-mwbfn

I'm in a unique situation of needing to query multiple schemas within the same module. I can't seem to understand why none of the graphql-code-generator options work for this 🤔

[2020-04-11 23:18] ardatan commented on #3858
https://codesandbox.io/s/cocky-leaf-hrmge?file=/document.js
Using default export can be tricky because default export has no identifier so you cannot use it but you can override "gql" which is default identifier with yours.
Check the example, see how I did that.

[2020-04-11 23:44] sarink commented on #3858
Hmm, I get an error when trying to use `import { gql as foo }` in my project, and using `import { default as foo }` yields the same error as before. How did you make it work?

[2020-04-12 01:13] Cellule commented on #3836
I have 2 fragments fetching similar fields, but one has lots of `@include(id: $somevar)`  with different vars.
I want to use typings to figure out which variables should be true to ensure the fragment with conditional results in equivalent fields being fetched.
However, because props with `@include` are not optional, I'm stick listing them all manually which can be error prone (especially when cha

[2020-04-12 01:48] ardatan commented on #3858
You're right `gql as foo` gives an error but `{default as foo}` seems working

[2020-04-12 03:58] sarink commented on #3858
I finally realized why it was working in codesandbox and not in my app... https://codesandbox.io/s/dank-flower-9vp0k?file=/codegen-foo.yml

`npm run codegen:foo` works, but `npm run codegen:bar` fails. Is it something to do with the `Gql` in the name? 🤯

[2020-04-12 04:14] dandv opened #3859 "[Plugin Request] Mongoose models?"
Background: I saw in #179 that @blissi mentioned a mongoose template. Where can one find that? I don't see mongoose among the examples in the [live demo](https://graphql-code-generator.com/#live-demo), or among [the plugins](https://graphql-code-generator.com/docs/plugins/).

Mongoose is quite popular, so I'm surprised there's no generator for it. Do people use something else? There are a 6+ [libr

[2020-04-12 07:38] philiiiiiipp commented on #3739
I tried using the `add` plugin, but it does not seem to use the `imported` values. It just ignores those and generates the enums again.

[code]
generates
[code]

This then of course ends with the syntaxt error
[code]

[2020-04-12 08:25] iskanderbroere commented on #3679
@bbugh Do you have any ideas on what the generated code could look like? Would you suggest introducing overloads here as well? (like in [vuejs/vue-apollo#895](https://github.com/vuejs/vue-apollo/commit/32d1f7568e1a4b72fbe2de4ada6985c65675a84b#diff-983e3b01b3ccac2d3c517340aa8ee99e))

[2020-04-12 10:41] Dodobibi commented on #3679
This workaround work for me :

For **query**, no need to implement all overloads. just replace
[code]
by

[code]

I move `type ${reactiveFunctionTypeName} = () => ${operationVariablesTypes}` under the useXXXQuery, else, JSDoc for useXXXQuery won't work...

then, "variables" is optional only if they have non-nullable variables, and baseOptions is always optional.
Generated function like this (look

[2020-04-12 11:05] ardatan commented on #3858
You are exporting fooGql but importing foo without Gql. I changed/fixed it in the reproduction but it is still not working.
https://codesandbox.io/s/headless-dawn-e0tdv?file=/schema-bar.graphql

Let's reopen this issue until it is fixed.

[2020-04-12 11:20] ardatan commented on #3739
So how about using aliases or `*` in the imports then;

[code]
or
[code]

[2020-04-12 12:05] philiiiiiipp commented on #3739
The problem is that the enum values are not getting picked up from the generated file itself.

E.g.:
[code]

Is the generated file using `- add: "import { USER_STATUS_NOT_OK as UserStatusNotOk, UserStatusOk } from './Enums';"`

while it should have been
[code]

I have also tried your suggestions, but they all have the issues.

[2020-04-12 13:45] sarink commented on #3858
I've been digging through your source and gql tag pluck's source but I'm pretty lost. Any ideas?

[2020-04-13 11:49] lewislbr commented on #3494
I agree with @lukasluecke, [`graphql-let`](https://github.com/piglovesyou/graphql-let) by @piglovesyou is amazing.

[2020-04-13 15:39] bbugh commented on #3679
Good question. I haven't worked on this for a while so I'm going from memory but I'll do my best to answer!

I don't expect that the generator will have to change much because the behavior (as far as I know, I'm still on alpha4) hasn't changed, the typing just got more specific and correct. I believe that @Dodobibi is on the right track by assigning defaults if something isn't specified. I think t

[2020-04-13 15:40] bbugh commented on #3679
Personally, though, I think this presents an opportunity for the generator to offer a more developer-friendly API than the vue-apollo one. I would personally like to see the functions take in a single object that requires variables or not depending on the query. There are many times I want to call a query that has no variables but does have options (like for `fetchPolicy`) and that requires passin

[2020-04-14 14:24] myhendry commented on #3859
@dandv I understand if you were to add in typescript-mongodb under plugins, it will type your mongoose models

**codegen.yml**
[code]

[2020-04-14 16:08] phryneas opened #3863 "`Unable to find field "__type" on type "Query"` with presets `import-types` and `near-operation-file`"
**Describe the bug**

When I have a query against `Query.__type()` in combination with `import-types` or `near-operation`, graphql-codegen fails:

[code]

**To Reproduce**

When I dump everything into one target file with plugins
[code]
I get no error, but once I split it up into multiple files & change the preset to either `import-types` or `near-operation-file`, I get the error message

True, th

[2020-04-15 13:57] falkenhawk commented on #3819
@P4sca1 @dotansimha note: https://graphql-code-generator.com/docs/integrations/prettier will now fail unless you have added prettier to your project dependencies or have it globally installed.

[2020-04-15 14:08] ardatan commented on #3819
This part explains the integration so it shouldn't be expected that prettier is part of codegen internals.

[2020-04-15 16:14] P4sca1 commented on #3819
@ardatan is right. You need to install prettier in your projects own devDependencies.
Might be worth to add a hint to the docs.

[2020-04-15 19:09] alamothe commented on #3445
This is the error that I get:
[code]

Configuration is:
[code]

[2020-04-15 19:12] alamothe commented on #3445
Reverting to 1.9.1 fixes it for me.

[2020-04-15 19:12] ardatan commented on #3445
Please remove `^` from your version just use **exact** version instead of `^1.13.2`, use `1.13.2`.

[2020-04-15 19:15] alamothe commented on #3445
@ardatan That doesn't work 🙁

[2020-04-15 19:23] ardatan commented on #3445
@alamothe Could you please open another issue with more details and a minimal reproduction? Thanks.

[2020-04-15 19:24] alamothe commented on #3445
Sure will do!

BTW also tried removing `package-lock.json` and `node_modules`.

[2020-04-15 19:52] alamothe opened #3865 "Cannot read property 'extensions' of undefined — after upgrading from 1.9.1 to 1.13.2"
**Describe the bug**

Running:
[code]
Fails with:
[code]

**To Reproduce**

I made a repo with repro: https://github.com/alamothe/gcg-repro

**Expected behavior**

Used to work in 1.9.1.

**Environment:**

- OS: MacOS
- `@graphql-codegen/...`:
[code]
- NodeJS: v10.19.0

**Additional context**

[2020-04-15 19:52] alamothe commented on #3445
https://github.com/dotansimha/graphql-code-generator/issues/3865

[2020-04-15 20:05] ardatan commented on #3865
What version of GraphQL-js are you using? Because it is missing in the repo.

[2020-04-15 21:18] alamothe commented on #3865
Not sure what you're asking. I can repro just with those dependencies, without specifying any other dependency such as `graphql`. So I suppose I use whatever is imported by your library. Running "npm list" gives me:
[code]
So looks like you import graphql@14.6.0.

What do you mean by "log doesn't match the reproduction."?

[2020-04-15 21:27] ardatan commented on #3865
@alamothe Sorry that was my mistake. Normally, you need to install `graphql` by yourself. Could you install `graphql` and try again?

[2020-04-16 04:09] alamothe commented on #3865
Which version do you want me to install? Like I said, your package is importing `graphql@14.6.0` as a dependency so that version is already installed.

[2020-04-16 08:23] dotansimha commented on #3859
We currently don't have a Mongoose plugin, we have a plugin for generating model types for the basic `mongodb` NodeJS driver (to be used with generics). It allow you to define directives over your schema and get a models types according to those.

[2020-04-16 08:24] maapteh opened #3867 "generated hooks don't take defaultOptions of your client into account"
**Describe the bug**
In my Apollo client i have set defaultOptions with an errorPolicy: 'all' for query and mutation which is used to prevent the treewalker to actually throw an error on any ssr Error :)

But the generated hook doesn't use these defaults at al,l while if i simply use useQuery from their package it works correctly. I didnt look further in the code but wanted to file the bug first

[2020-04-16 09:20] dotansimha commented on #3849
We moved the logic of loading require extensions to the `CodeFileLoader`, which effects only while loading schemas/documents from `.ts` files.  This was a mistake :)

I tried to fix it in: https://github.com/dotansimha/graphql-code-generator/pull/3868

I tested the alpha version of that PR (`1.13.3-alpha-1fc42778.28+1fc42778`) on your repo and it seems to work :)

[2020-04-16 09:21] dotansimha commented on #3828
I will update the docs, thanks @benallfree :)

[2020-04-16 09:35] dotansimha commented on #3832
@zicodeng So you wish to have a different value for `User` while you are running your resolvers? Then you should use `mappers` and not `scalars`.

`mappers` is a feature unique for `typescript-resovlers` and it allow you to override specific types with custom identifiers. You can set `User` to be `string`, and this way your resolver will be able to return `string` and this will be the parent value

[2020-04-16 09:35] #3832 closed

[2020-04-16 10:08] maapteh commented on #3867
![false alarm](http://i.imgur.com/2JGuPWA.png)

I have to see why now i see it correctly, maybe its not an issue :(

[2020-04-16 10:08] #3867 closed

[2020-04-16 10:09] maapteh commented on #3867
i did too many changes at once, not reflecting update. Should have restarted the damn server :)

[2020-04-16 10:48] vhenzl commented on #3849
I have tried 1.13.3 alpha version on my project and it works. Thanks!

[2020-04-16 14:15] ardatan commented on #3865
Could you install latest version of graphql and try again because that dependency is indirect implicit dependency?
We will remove that on next release.

[2020-04-16 17:19] veeramarni opened #3873 "enumPrefix not working properly with typescript-resolvers"
**Describe the bug**
This issue is similar to #2621 but when adding additional plugins, we see some types mapping with prefix and some not for enums.

[code]

[2020-04-17 01:24] let-aurn commented on #3450
Hello @dotansimha, is this ongoing already? I can give a try otherwise..

[2020-04-17 08:51] ardatan commented on #3450
I think we are not currently working on it but PRs are welcome :)

[2020-04-17 11:32] mhagmajer commented on #3665
@dotansimha thanks for releasing a fix for this issue! I'd like to point out that since this fix is potentially breaking as it makes changes to exported members, it should have been released as a minor version update not a patch

[2020-04-17 12:02] alex-knyazev opened #3882 "Field wrapper doesn't wrap types in array"
When I set fieldWrapper I expect that Types in Arrays will be wrapped too

**To Reproduce**
Steps to reproduce the behavior:

My `codegen.yml` config file:

[code]

My GraphQL type:

[code]

**Generated type**
[code]

**Expected behavior**
Should generate
[code]
**Environment:**

- `@graphql-codegen/packages/typescript/typescript`:
- NodeJS:

[2020-04-17 13:02] andreialecu commented on #2771
Also requested here: #3403

I ended up really needing this feature. Any pointers to where I might look to open a PR for this? Relevant files?

[2020-04-17 16:05] andreialecu commented on #2771
I was able to figure out a solution for this and opened a PR: #3886

[2020-04-17 16:49] andreialecu commented on #2771
If anyone needs to use this functionality before it is merged, there's a .patch here:

https://gist.github.com/andreialecu/d8c02b0df2f6fcd249bdd960c725f9c0

You can use [patch-package](https://npmjs.com/package/patch-package) to apply it. Simply copy/paste the contents of the gist to `./patches/@graphql-codegen+visitor-plugin-common+1.13.2.patch` and do the steps in the [setup section of patch-pac

[2020-04-18 13:45] VictorArowo opened #3890 "CLI not working on version 1.13.2"
`No valid exports main found for '/Users/victor/Desktop/test/node_modules/extract-files'`

I get this error when I run `npx graphql-codegen init`

[2020-04-18 22:27] sarink opened #3892 "Federation: Split types by services?"
The [docs](https://graphql-code-generator.com/docs/generated-config/base-resolvers-visitor#federation-boolean-default-value-false) show that there's a `federation: true` config flag. Is there any explanation on what this actually does?

Specifically, what I'm wondering is, assume a folder structure like:
[code]
How should we generate a different set of types for each service? And what about common

[2020-04-19 03:33] CSFlorin opened #3893 "Schema AST doesn't merge query schemas with different names"
**Describe the bug**
I have two schemas with `query` being named differently in each. They are not successfully merged.

**To Reproduce**
schema1.graphql:
[code]

schema2.graphql:
[code]
codegen.json:
[code]

RootQuery and Query are saved as different types.

**Expected behavior**
Both should be merged into a single Query type, which is the behavior that can be seen from `mergeSchemas` in graphql-

[2020-04-19 06:37] dotansimha commented on #3831
We are using `graphql-toolkit` to load the documents and schema, which can return `undefined` in case of a file with no found documents.
Also, `documents` are not mandatory for plugins, that's why it could be `undefined`. So you need to check it before and filter it.

[2020-04-19 06:37] #3831 closed

[2020-04-19 06:56] dotansimha commented on #3854
Done in https://github.com/dotansimha/graphql-code-generator/pull/3894
@fabis94 can you please try the alpha version of that PR? It's `1.13.3-alpha-ad3daa7c.43`.

[2020-04-19 06:57] dotansimha commented on #3712
Thank you, I'm working on improving it now :)

[2020-04-19 08:15] dotansimha commented on #3712
Done in: https://github.com/dotansimha/graphql-code-generator/pull/3895

[2020-04-19 08:26] dotansimha commented on #3890
I think this was fixed in: https://github.com/dotansimha/graphql-code-generator/pull/3869

@VictorArowo can you please share a reproduction? I'm not sure why the error is config from `extract-files`...

[2020-04-19 08:26] dotansimha commented on #3892
@kamilkisiela what do you think?

[2020-04-19 08:28] ardatan commented on #3890
It is `npx @graphql-codegen/cli init`. Not `npx grapgql-codegen init`

[2020-04-19 08:41] ardatan commented on #3893
GraphQL Code Generator uses GraphQL Toolkit behind the scenes and schema merging tools in GraphQL Toolkit don't merge schemas in that way. Changing the names of all root Query types to Query might break internal schema such as resolvers and astNode etc. So I don't think we should change this behavior in toolkit. But that doesn't mean you cannot have this behavior in the code generator. You can use

[2020-04-19 08:43] dotansimha commented on #3893
Thank you @ardatan . I think you are right, we can't really merge root types, because this will effect other things as well.

@CSFlorin please follow @ardatan 's instructions, and manually merge the schemas the way you wish, and export a ready `GraphQLSchema` to codegen.

[2020-04-19 08:43] #3893 closed

[2020-04-19 08:56] dotansimha commented on #3679
Fixed in 1.13.3

[2020-04-19 08:56] #3679 closed

[2020-04-19 08:56] dotansimha commented on #3712
Done in 1.13.3

[2020-04-19 08:56] #3712 closed

[2020-04-19 08:57] dotansimha commented on #3854
Fixed in 1.13.3

[2020-04-19 08:57] #3854 closed

[2020-04-19 08:57] dotansimha commented on #3849
Fixed in 1.13.3

[2020-04-19 08:57] #3849 closed

[2020-04-19 08:57] dotansimha commented on #3828
Done in 1.13.3

[2020-04-19 08:57] #3828 closed

[2020-04-19 08:59] dotansimha commented on #3665
Tracking `semver` is code generator is very hard. Because of the complexity of braeking changes of both codegen code, codegen packages, codegen api and plugins generated code and plugins dependencies.

We are trying to follow semver, but it's not always easy.

@mhagmajer

[2020-04-19 10:06] Dodobibi commented on #3679
Work partially (when `operationHasNonNullableVariable`)

The operand `?` on variables must be set when `operationHasVariables` is True, instead of `operationHasNonNullableVariable`

Also, can you add  (when `operationHasVariables` is True) :
[code]
in JSDoc just upper :
[code]

Else : all working 👍

[2020-04-19 10:25] VictorArowo commented on #3890
Error still persists with 1.13.2 and 1.13.3, but it works fine on 1.13.1.
@ardatan I don't think the command is the problem, since it works fine on 1.13.1

[2020-04-19 21:18] seansfkelley commented on #3712
Thank you! I'll pick my Python work back up and take a look.

[2020-04-20 02:50] guiaramos opened #3899 "[question] generate typeDefs"
Hey guys, thanks for your amazing project.

I would like to know if there is any plugin for that generates typeDefs like:

[code]

I am using Apollo Local state management, therefore I want to generate the typeDefs automatically.

Thanks!

[ref document](https://www.apollographql.com/docs/tutorial/local-state/)

[2020-04-20 03:49] guiaramos commented on #3899
One solution is to use: https://github.com/ardatan/graphql-import

[2020-04-20 10:05] eyalw opened #3900 "Codegen with 2 outputs: 1 succeeds, 1 fails but both not written to file"
**Describe the bug**
I have two outputs, one schema-ast, the other typescript types.
both run in the same config, the schema completes with a green checkmark, the typescript fails (as expected, because of an intentional code error). But the schema is not written to file although it says it did.

![image](https://user-images.githubusercontent.com/608669/79739321-b781c900-8306-11ea-895f-a73ec6e8c93b

[2020-04-20 12:49] marceloverdijk commented on #3899
I had basically the same question.
My codegen yml looks like:
[code]

It would be useful to generate the typeDefs automatically based on this.

[2020-04-20 12:50] bennypowers commented on #2973
Would be awesome if these would generate files in-place, so that I'd get a `.d.ts` file for each document

[2020-04-20 14:30] marceloverdijk commented on #3899
I used a custom plugin like:

`typescript-typedefs.js:`

[code]

and then added the custom plugin in my codegen.yml:

[code]

Maybe useful to add something like this to `graphql-code-generator`  so other people can use out of the box?

[2020-04-21 02:49] icedicerice commented on #3482
Aah, it has been 2 months now and i had already forgotten about this graphql thingy. no updates still?

[2020-04-21 06:24] quietgopher commented on #298
Hi!  Any updates a golang plugin?  I'd use it.

[2020-04-21 12:43] bbugh commented on #3679
@iskanderbroere I investigated this further this morning.

I believe the specific issue reported here by @quentinus95 was caused by https://github.com/vuejs/vue-apollo/commit/a9d950156d1f8e89cf8ba3532936b6a09e0b776a, but that incorrect behavior is the result of an underlying incorrect assumption on my part. I believe this will be resolved after the PR for https://github.com/vuejs/vue-apollo/issues

[2020-04-21 13:45] farcasmihai91 commented on #3890
Seems the module `extract-files` used by `apollo-upload-client` was causing my issues. It probably has to do with change sintroduced in `estract-files@8.0.0` (https://github.com/jaydenseric/extract-files/releases/tag/v8.0.0).
Updated to NodeJS 13.13.0 and now everything works as expected.

[2020-04-21 14:20] marceloverdijk opened #3907 "[Question] Resolving certain types only when requested in query"
Hi,

I have a schema like:

[code]

When I generate the typescript types including resolvers I get these:

[code]

And I wrote a naive implementation like:

[code]

My problem is how to create an object that passes `Country` object?
As it is generated with `continent: Continent;`  I have to provide it in some way.

In terms of GraphQL it makes sense to have the mandatory `continent: Continent!` ty

[2020-04-21 14:32] mohanees commented on #3634
Hello is there any update on this? I could use this in our schema generation, where we also use the graphql-type-json package and its description for the scalar type has back ticks, which breaks the generated schema-ast which we've wrapped in a string. Otherwise any other options to explore? I tried writing a custom plugin but i don't think i can edit the schema output from there.

<img width="118

[2020-04-21 15:10] bbugh commented on #3679
I submitted a PR for this: https://github.com/vuejs/vue-apollo/pull/962

If y'all have time to check it out and make sure I have it right this time, that'd be really helpful.

[2020-04-21 16:24] JoeSchr commented on #3679
what do we need to do to test this PR? update `graphql-code-generator@1.13.3` and `@vue/apollo-composable` to your branch?

[2020-04-21 17:35] quietgopher opened #3910 "Collision with enum names when the enum values are different based on number of underscores in them."
**Describe the bug**

My code has a timezone enum values where the number of underscores indicates a different character.

// Time Zones regions from
// https://docs.aws.amazon.com/redshift/latest/dg/CONVERT_TIMEZONE.html
// with the following substitutions for Javascript syntax compatibility:
// _ -> _ [1 underscore as itself]
// / -> __ [slash as 2 underscores]
// - -> ___ [dash as 3 underscores

[2020-04-21 19:00] ftatzky commented on #3767
Further **gql** is also re-exported by @apollo/client. [See here](https://www.apollographql.com/docs/react/v3.0-beta/migrating/apollo-client-3-migration/#graphql-tag)

[2020-04-22 08:50] marceloverdijk commented on #3907
Found this explaining it: https://github.com/dotansimha/graphql-code-generator/issues/1219#issuecomment-549244957

[2020-04-22 08:50] #3907 closed

[2020-04-22 11:50] smashercosmo opened #3913 "SyntaxError: 'return' outside of function"
**Describe the bug**
After regenerating package-lock started getting this error
[code]

**To Reproduce**
Steps to reproduce the behavior:

I'm using graphql-code-generator with Gatsby

[code]

**Environment:**

  System:
    OS: macOS Mojave 10.14
    CPU: (4) x64 Intel(R) Core(TM) i7-5557U CPU @ 3.10GHz
    Shell: 5.3 - /bin/zsh
  Binaries:
    Node: 12.14.1 - /usr/local/bin/node
    Yarn: 1.21.1

[2020-04-22 12:49] ardatan commented on #3913
Could you share a reproduction repo or CodeSandbox?

[2020-04-22 13:43] smashercosmo commented on #3913
I'd love to, but not quite sure how to do it

[2020-04-22 13:50] smashercosmo commented on #3913
l can try to run clean Gatsby project with latest gatsby and graphql-code-generator. Let's see if it results in error.

[2020-04-22 15:17] falkenhawk opened #3915 "Regression: Custom graphql directives missing from introspection json in v1.12.0+"
**Describe the bug**

Regression: Custom graphql directives missing from introspection json in v1.12.0+

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/awesome-dewdney-bv2wc

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

diff between 1.11.2 and 1.13.3:

`./graphql.schema.json`
[code]

**Expected behavior**

c

[2020-04-23 00:17] benallfree opened #3918 "Enhancement: Output nested types in query operations (typescript-operations)"
I'm not sure if this is a good idea or not, but here is the situation.

Given this schema,

[code]

...and this query,

[code]

`typescript-operations` will output something like:

[code]

This is problematic in React because I don't have a type definition for an Order in this particular query result. I can copy/paste, like this:

[code]

Or I can use the `Order` type generated by the `typescript`

[2020-04-23 05:02] dotansimha commented on #3918
We had this in the past, and it was removed. It's hard to maintain, creates messy output, and causes bugs. See: https://github.com/dotansimha/graphql-code-generator/issues/1602#issuecomment-478315105

It's TypeScript, if you wish to have a type for that nested type, you can do:

[code]

[2020-04-23 05:02] #3918 closed

[2020-04-23 09:37] smashercosmo commented on #3913
Reproduction https://github.com/smashercosmo/graphql-code-generator-issue
1. run ```npm run develop```
2. then in another terminal ```npm run graphql2ts```

[2020-04-23 12:38] benallfree commented on #3918
Thank you @dotansimha

[2020-04-23 14:22] honi opened #3919 "Avoid wrapping everything in Maybe"
**Is your feature request related to a problem? Please describe.**

This is my codegen config (some configs don't change from the defaults but I have them there since I've been playing around with different combinations):
[code]

This is my schema:
[code]

This is the generated code:
[code]

This is how I'm using the generated React Apollo hook:
[code]

All query results are wrapped with Maybe<>,

[2020-04-23 14:36] ardatan commented on #3919
If you have nonnullable fields as you describes, you can fix this in your schema.
[code]
Just make that field nonnullable array with nonnullable values and that's it. You don't have `Maybe` in your generated queries.

[2020-04-23 14:36] #3919 closed

[2020-04-23 15:29] honi commented on #3919
Awesome! Thank you for the quick response.

My schema is generated automatically by Graphene. So I'll look there how to define the queries as non nullable.

[2020-04-23 17:49] ardatan commented on #3919
So you can override `Maybe` generic.
See here;
https://graphql-code-generator.com/docs/generated-config/typescript#maybevalue-string-default-value-t--null

[2020-04-23 19:01] honi commented on #3919
That works!

My updated codegen config looks like this (removed some non related parts for clarity):
[code]

[2020-04-23 22:22] mikefisher84 opened #3921 "Generate .d.ts files next to query.graphql file"
Hi all, I'm using [graphql-fixtures](https://www.npmjs.com/package/graphql-fixtures) to generate typed fixture data for my unit tests. However this tool expects typed queries to be passed into it. The suggested approach is to use `graphql-typescript-definitions` to generate typescript types from your schema. However for multiple reasons I would prefer to use `graphql-code-generator` to create my t

[2020-04-24 09:01] LinusU opened #3922 "Remove trailing whitespace from comments"
**Describe the bug**

A recent version of the code generator started adding comments to the fields, this is great!

However, if the comment contained a blank line, the generator will add a single space at the end of that line. This is probably because every line is indented by a single space.

This leads to the following warnings when adding the file with git:

[code]

**To Reproduce**
Steps to re

[2020-04-25 13:44] emielvanseveren commented on #3669
I would also love this feature!

[2020-04-26 03:04] mshwery commented on #3084
I do think it makes sense to provide a way to export nested types – each `Pick<T, 'field1' | 'field2'>` variation of a schema type ideally. That way you don't have to do any tricky typescript magic to reach into nested Maybe types, or mess sacrifice having the most accurate types for your schema (I want `null` types for nullable parts of the schema!)

I think `NonNullable` is a workaround, but may

[2020-04-26 12:34] ducthienbui97 opened #3929 "Java scalar default to 'any' instead of 'Object'"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

Java code with scalar is not defined in codegen.yml should show as of class `Object`
[code]

But instead it shown as `any`
[code]
**Environment:**

use https://graphql-code-generator.com/
- OS:
-

[2020-04-26 18:27] flux627 commented on #3459
I'm running into this as well. The suggested fix

leads to the error described by @mjbcopland.

[2020-04-27 07:40] JanKaczmarkiewicz opened #3933 "Splited fields in resolvers"
Hi,
I'm using the generator to create a typing for resolvers.
I am struggling with types that resolvers should return.
Here is an example of what I am trying to achieve:
repo: https://github.com/JanKaczmarkiewicz/gql-generator-ts-mongo-issue
I want to have custom resolvers for fields, and typescript doesn't like it.

This is my schema definition:
[code]
And thats how i wrote resolvers:
[code]

I w

[2020-04-27 07:45] ardatan commented on #3933
We already have this kind of feature. Check the docs;
https://graphql-code-generator.com/docs/plugins/typescript-resolvers#mappers---overwrite-parents-and-resolved-values

[2020-04-27 07:45] #3933 closed

[2020-04-27 08:00] JanKaczmarkiewicz commented on #3933
That's exactly what I needed. Thanks for the reference. I really love this project!

[2020-04-28 11:39] dotansimha commented on #3475
Done in: https://github.com/dotansimha/graphql-code-generator/pull/3760

[2020-04-28 11:42] dotansimha opened #3939 "Support schema/operations transformations (like in GraphQL-Mesh)"
GraphQL Mesh (https://github.com/Urigo/graphql-mesh) has built-in transforms, and I think supporting those in codegen might help us to allow developers to filter/manage their schema easily.

Doing that might help with issues like that: https://github.com/dotansimha/graphql-code-generator/pull/3886

So it will make it easier to do custom logic over the schema easily.

[code]

[2020-04-28 12:07] dotansimha commented on #3669
So it's something like `scheme-ast` plugin, but for documents? @emielvanseveren @bkniffler

[2020-04-28 12:08] dotansimha commented on #3921
@mikefisher84 I think you can either use `near-operation-file` preset for that, or just use `graphql-let` (https://github.com/piglovesyou/graphql-let)

[2020-04-28 12:11] dotansimha commented on #3915
`description` has changed and was fixed, and it has nothing to do with directives...

If you are loading your GraphQL schema from a URL, `directives` will be removed, and it's related to GraphQL and not to codegen: https://github.com/graphql/graphql-js/issues/869

@falkenhawk am I missing something?

[2020-04-28 12:14] dotansimha commented on #3910
We discussed it a lot here. Feel free to search the repo.  Codegen has naming convensions to make sure it's generating code that can compile with TypeScript compiler.

If you wish to cancel that behaviour for your `enumValues`, just do:

[code]

[2020-04-28 12:14] #3910 closed

[2020-04-28 12:15] dotansimha commented on #3873
@veeramarni can you please provide a reproduction for this?

[2020-04-28 12:16] dotansimha commented on #3900
@kamilkisiela I think this is because we run everything in listr, and then do a single fs after it's done, right? maybe the fs write should be part of the listr flow?

[2020-04-28 12:18] dotansimha commented on #3899
Closing, as @marceloverdijk suggested a quick plugin implementation if someone needs that.

[2020-04-28 12:18] #3899 closed

[2020-04-28 12:28] TomasBarry commented on #3475
Thank you @dotansimha!

[2020-04-28 13:03] falkenhawk commented on #3915
@dotansimha `description` values are irrelevant here, I've just posted full diff. It's about `testDirective` missing from `directives` array in the resulting introspection json...

[2020-04-28 13:15] falkenhawk commented on #3915
Maybe it's okay that custom directives are not included anymore in the generated schema json, I can't tell tbh... but it's also confusing that SOME directives are there ('skip', 'included', 'deprecated' - they are from graphql spec)

[2020-04-28 18:34] martdavidson commented on #3108
This would be a very nice feature, subscribing.

[2020-04-29 08:21] cjohn001 opened #3944 "Please add a configuration option to the apollo-angular plugin to allow for usage of custom apollo client"
Hello together,
I am currently patching the apollo-angular library to allow for usage of a patched apollo client with offline support (offix).  I would like to use the apollo-angular plugin of the graphql-code-generator as this is an amazing tool!

Of course I could add an additional plugin to the graphql-code-generator, but the code would be identical except for a single line

The line of code is

[2020-04-29 12:34] emielvanseveren commented on #3669
Yes, my usecase would be equal to the one of bkniffler. Hasura has a feature to restrict the allowed queries. Users shouldn't be able to create custom queries. Logically this would be all these used in the application. It would be nice if all these queries could be gathered automatically and outputted to a single file. Maybe that's not completely related to graphql-code-generator tho..

[2020-04-29 18:29] aspirisen opened #3949 "Add operation export name for "typescript-operations""
**Is your feature request related to a problem? Please describe.**
Currently in order to use `.gql` file you need to generate `.d.ts` file by `typescript-graphql-files-modules` but the module definitions are wildcarted and have nothing with real placement of the `gql` file. Also, you need types for the query and its variables by `typescript-operations` and usually they are placed along with `gql`

[2020-04-29 19:37] Kcazer opened #3950 "Invalid operation types when using nested fragment and skipTypename"
**Describe the bug**

The generated types for operations references non-existing types when using nested fragment and `skipTypename: true`

**To Reproduce**

https://codesandbox.io/s/sleepy-chebyshev-tqgrh?file=/types.ts

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Generated types**

[code]

**Expected behavior**

It should use the

[2020-04-30 10:40] dotansimha commented on #3929
Fixed in v1.13.4

[2020-04-30 10:40] #3929 closed

[2020-04-30 10:41] dotansimha commented on #3475
Fixed in v1.13.4 :)

You can now use:

[code]

And you'll get minimal types generated.

[2020-04-30 10:41] #3475 closed

[2020-04-30 10:41] dotansimha commented on #3882
Fixed in v1.13.4

[2020-04-30 10:41] #3882 closed

[2020-04-30 10:58] dotansimha commented on #3915
Oh I see, but I'm not sure it's related to codegen. GraphQL has special treatments for those directives you mentioned, that's why they are part of the spec.

[2020-04-30 10:58] #3915 closed

[2020-04-30 11:24] dotansimha commented on #3944
Hi @cjohn001 !

I added this in: https://github.com/dotansimha/graphql-code-generator/pull/3952

Can you please try the alpha version `1.13.5-alpha-3c19cc8e.0`? You should be able to override that with:

[code]

[2020-04-30 11:33] SpaceK33z commented on #3900
I'm running into the same issue with a very comparable codegen file. The reason why I want the GraphQL json schema still written to the file system even when the other output fails is that I use [vscode-graphql](https://github.com/prisma-labs/vscode-graphql) which uses the GraphQL json schema to show the errors from the other output file in vscode.

[2020-04-30 15:12] #3494 closed

[2020-04-30 15:16] #3496 closed

[2020-04-30 18:14] xiaoyu-tamu opened #3956 "Input type are missing when use preResolveTypes + onlyOperationTypes"
**Describe the bug**

1. Input type are missing when use preResolveTypes + onlyOperationTypes
<img width="640" alt="image" src="https://user-images.githubusercontent.com/33362998/80744787-d4778280-8ae4-11ea-86fd-b66b9c6479d9.png">

2. Input type are wrong when use preResolveTypes + onlyOperationTypes + plugin: near-operation-file
<img width="626" alt="image" src="https://user-images.githubusercont

[2020-04-30 22:01] standy opened #3958 "Resolve input types with preResolveTypes same as selection sets"
Option `preResolveTypes` should work with input types in the same way as with output types

For example (https://github.com/dotansimha/graphql-code-generator/blob/master/dev-test/star-wars/types.preResolveTypes.ts#L237)
[code]

should be
[code]

[2020-05-01 15:28] binier opened #3962 "Custom Scalars option not working"
**Describe the bug**
@graphql-codegen/typescript scalars config not working. I believe I tried every possible way to include scalars config in codegen.yml but none work.

[code]

**To Reproduce**
live sandbox: https://codesandbox.io/s/keen-knuth-iscus

1. My GraphQL schema:

[code]

2. My `codegen.yml` config file (not sure which definition is correct, so added all possible ones. have tried separa

[2020-05-01 17:06] ardatan commented on #3962
You don't have `DateTime` scalar in your schema. That's why you get this error, you need to add `scalar DateTime` to your schema.

[2020-05-01 17:06] #3962 closed

[2020-05-02 11:00] rhlsthrm opened #3966 "Module not found: Can't resolve 'apollo-client'"
**Describe the bug**
Error when starting React app with generated code:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS:
- `@graphql-codegen/...`:
- NodeJS:

**Additional context**
I can fix this myself by editing the generated code f

[2020-05-02 19:38] Gonozal commented on #3966
While there does not seem to be a version that supports the apollo-client 3.0 beta, you can adjust the import statements through config parameters (there's a suprising amount of configuration possible!):

codegen.yml:

[code]

[2020-05-03 01:06] Lopliok commented on #3769
Hi, what probem was it?

[2020-05-03 05:45] FredyC opened #3968 "[urql] should respect omitOperationSuffix and typesPrefix options"
**Describe the bug**
I am used to prefixing my operations with `Q/M/S/F` so I opted enabled option `omitOperationSuffix`. Unfortunately, the urql plugin doesn't consider that and uses wrong type names., Also for a reason, I like to prefix types with `T` which is ignored by plugin as well.

https://github.com/dotansimha/graphql-code-generator/blob/db1db14ad43bdd876b4eab053d41b074b872359c/packages/p

[2020-05-03 07:15] dotansimha commented on #3966
As @Gonozal said, you can easily customize it. Also you should set `reactApolloVersion: 3` if you use v3 of Apollo.

[2020-05-03 07:15] #3966 closed

[2020-05-03 07:18] dotansimha commented on #3208
@the-unbearable-lightness-of-being
Closing. Feel free to provide a reproduction and we'll check that again.

[2020-05-03 07:18] #3208 closed

[2020-05-03 07:19] dotansimha commented on #3527
Closing. @SirensOfTitan feel free to comment if it's still doesn't work.

[2020-05-03 07:19] #3527 closed

[2020-05-03 07:19] dotansimha commented on #3484
Closing. @kvsravindrareddy feel free to comment if it's still relevant.

[2020-05-03 07:19] #3484 closed

[2020-05-03 07:20] dotansimha commented on #3580
Closing. @roborich feel free to comment if it's still relevant.

[2020-05-03 07:20] #3580 closed

[2020-05-03 07:20] dotansimha commented on #3609
Closing. @roborich feel free to comment if it's still relevant.

[2020-05-03 07:20] #3609 closed

[2020-05-03 07:20] dotansimha commented on #3664
This was fixed a long time ago.
@fetis please use latest version and re-open if it's the issue still persists.

[2020-05-03 07:20] #3664 closed

[2020-05-03 07:21] #3636 closed

[2020-05-03 07:22] dotansimha commented on #3798
Closing. @DogChef feel free to comment here if it's still relevant.

[2020-05-03 07:22] #3798 closed

[2020-05-03 07:22] dotansimha commented on #3722
Closing. @AruXc feel free to comment here if it's still relevant.
You need to separate your schema and operations, because each one is different part of GraphQL.

[2020-05-03 07:22] #3722 closed

[2020-05-03 07:23] dotansimha commented on #3855
Closing. @davidleger95 please check reproduction if the issue still persists.

[2020-05-03 07:23] #3855 closed

[2020-05-03 07:23] #3890 closed

[2020-05-03 07:25] dotansimha commented on #3769
@Lopliok Make sure package is installed. If you are in a monorepo env, make sure codegen cli,core and plugins are on the same level.

[2020-05-03 08:20] dotansimha commented on #3944
Available in v1.13.5

[2020-05-03 08:20] #3944 closed

[2020-05-03 08:21] dotansimha commented on #3956
Fixed in v1.13.5

[2020-05-03 08:21] #3956 closed

[2020-05-03 11:00] ardatan commented on #3913
@smashercosmo ` ./src/**/*.{ts,tsx}` is too wide so every single file is getting parsed to find a valid GraphQL operation, so I recommend you to narrow it down a little bit.

[2020-05-03 15:36] smashercosmo commented on #3913
I removed almost all the tsx files. But I think the error is caused by gatsby files.
If I remove this line https://github.com/smashercosmo/graphql-code-generator-issue/blob/master/codegen.yml#L5 error goes away

[2020-05-03 15:41] smashercosmo commented on #3913
Ok, actually replacing this line with officially recommended
```- ./node_modules/gatsby*/!(node_modules)/**/*.js``` fixes the issue.

[2020-05-03 15:49] ardatan commented on #3913
So we can close the issue, right?

[2020-05-03 15:49] #3913 closed

[2020-05-03 15:50] smashercosmo commented on #3913
Yes, thx

[2020-05-05 13:29] darkbasic opened #3979 "Mappers are not used for union types"
GraphQL schema:
[code]

codegen config:
[code]

**Expected behavior**

The union `AOrB` type should be automatically mapped to `MyA | MyB`, but it doesn't.
A quick workaround is to manually map it like this:

[code]

where `MyAOrB` is simply `MyA | MyB`.

[2020-05-05 20:09] mmmveggies opened #3982 "Generate types for interfaces without any implementing types"
**Is your feature request related to a problem? Please describe.**
I have a statically-known portion of my schema including an `interface Node` that I would like to generate types for: when my app starts, I `fetch` a remote jsonschema and translate that into multiple type definitions that implement said `interface Node` which I attach to the schema and start the server.

Currently, interfaces with

[2020-05-05 22:23] emmanuelbuah commented on #1219
@dotansimha  This is great but it's missing a use-case. The current mapper configuration assumes the mapped type is for both the input and output (result) of the resolve which is not already the case. I think we need to separate configuration points for `ResolversTypes` and `ResolversParentTypes`.

Example

[code]

with internal type as
[code]

when creating resolver for `user.address`, the parent

[2020-05-06 09:06] deftomat commented on #1219
I agree with @emmanuelbuah !  We need to be able to configure `ResolversTypes` and also `ResolversParentTypes`

[2020-05-06 09:11] dotansimha opened #3985 "[typescript-resolvers] Better support for enum, mappers and internal values"
When dealing with custom enum values, for example with internal values: https://www.graphql-tools.com/docs/scalars/#internal-values , codegen need to generate signature for the enum resolvers, and also use the mapped values in `input` types.
When trying to combine it with `enumValues` it makes more errors, because then it will replace the original enum with the mapped one, without having the runti

[2020-05-06 09:28] dotansimha commented on #3979
I see, so what you are asking for is a way to have a `mapper` for the entire union? For a use case where you have a third custom type, that represents the possible implementation of A and B?

[2020-05-06 14:21] darkbasic commented on #3979
Not exactly, it's already possible to have a custom mapper for a union type:
[code]
The previous snipped declares a custom mapper for the `AOrB` union type and works fine.

The issue is that if **don't** declare mappers for each and every union the codegen won't automatically use their base type mappers when it generates the typings for the unions.
In short without the previous snippet `AOrB` woul

[2020-05-06 14:37] mmmveggies commented on #3982
The mentioned schema from using the `graphql` module directly seems to have those interfaces present on the type map, but not the plugin. The following is using `graphql v14.6` and `@graphql-codegen/cli v1.13.2` (uses the same `graphql` version)

<details>
<summary>From <code>parse(buildASTSchema("..."))</code></summary>

[code]

yields

[code]

</details>

But when I run the same schema through t

[2020-05-06 15:46] stijnbernards commented on #3417
This is a good solution for my use case.
Although adding a `__typename` property with all possible type values to all interfaces would be preferrable

[2020-05-07 08:01] dzmitry-kankalovich commented on #1133
I literally spent an entire day on this problem. I wish things like this would be mentioned in README, something about known issues.

[2020-05-07 11:31] j2L4e opened #3989 "Typescript: Generate enums of all named Queries and Mutations"
Referencing named queries using string literals can be cumbersome/bug-prone. Having an auto-generated enum containing all named queries would help with that.

Apollo example, but might be applicable more widely:
[code]
[code]

An auto-generated enum would ease this a little:
[code]

[2020-05-07 15:40] baleeds commented on #1255
My idea for something like this is to have the plugin generate factories to build fake data for fragments, query results, and mutation results for use in front end testing.  The reason it would be beneficial to use queries instead of the schema is so the factory could automatically generate the graph of data, and not just the individual nodes.

Consider the following query:
[code]

To mock that re

[2020-05-07 17:35] seeruk opened #3990 "Duplicate TypeScript fragment imports with React Apollo"
**Describe the bug**

It looks like it's the code generated by the `typescript-operations` plugin. I'm just using some fragments in some queries, like:

[code]

I've not duplicate the imports in this file, but the fragments are used multiple times within this file in different queries. Interestingly though, it's duplicating an import for a fragment I'm only using once in the file.

**To Reproduce*

[2020-05-08 09:08] lkleuver commented on #3990
I'm having the same issue, but couldn't really reproduce it with a simpler schema.

[2020-05-08 16:17] sathiyapriyababu commented on #1502
I am trying to generate C# classes for GraphQL. I am getting "fragment-matcher" validation failed error as below.

npm run csharp

  √ Parse configuration

      √ Load GraphQL schemas
      √ Load GraphQL documents
      × Generate
        → Plugin "fragment-matcher" validation failed:
    √ Generate ./graphql.schema.json

Please help.

[2020-05-08 16:52] ardatan commented on #1502
@sathiyapriyababu Could you pleass open a seperate issue with a clear minimal reproduction?

[2020-05-08 22:20] bbugh commented on #3679
I don't know very much about mono repos, unfortunately. I'm not sure how to get a version from the vue-apollo repo. `yarn link` maybe?

[2020-05-08 22:21] theogravity opened #3992 "init does not work out of the box"
I executed `npx graphql-codegen init` for just a backend server

I have a `schema.graphql` file i've built, and the generated `codegen.yml` reads like this:

[code]

when I run the generate command, I get

[code]

the init script added to my `package.json` (I have run `npm i` to make sure it's installed):

[code]

so I'm not clear what's missing here.

node version `12.16.1`, using npm `6.13.4`

[2020-05-09 18:50] cometkim opened #3997 "Code generation for inline queries"
**Describe the solution you'd like**

In order to use codegen-based tools, I need to write queries far from the code. But I wanna write queries to be inlined inside the code AND the type declarations generated are automatically bound.

Tools like graphql-let are useful, but TypeScript's inference feature makes things even smarter.

I know how to do this, but I am not sure where is the right place

[2020-05-10 13:30] meiblorn opened #3998 "Remove implicit adding of `Input` suffix"
https://github.com/dotansimha/graphql-code-generator/blob/f7d17324e7b24efbf46815139964ae042dd34657/packages/plugins/java/kotlin/src/visitor.ts#L125

Hi, I am developing a Java / Kotlin solution. And my problem is that I can't use `Input` endings in my schema for the `input` types because `codegen` utility translates `input` type names into `SomeNameInputInput`.
So, generally speaking, it duplicate

[2020-05-10 14:51] meiblorn commented on #3998
Implemented a fix. See MR above.

[2020-05-10 21:46] Urigo commented on #1133
@dzmitry-kankalovich would you mind having a go at a PR that would make it easier for the next to follow?

[2020-05-11 00:57] andreyvital opened #4000 "Unused fragment imports"
**Describe the bug**
If you have a fragment that imports other fragments, the generated code contains unused imports.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL operations:

[code]

2. My `codegen.yml` config file:

[code]

**Expected behavior**
The generated code shouldn't import unused fragments.

- OS:
[code]

[2020-05-12 09:34] sathiyapriyababu opened #4005 "CSharp CodeGen Not Working"
**Unable to generate CSharp Classes for the given GraphQL and Schema**

**ried the below commands  as per the link,

yarn add -D @graphql-codegen/c-sharp-operations

yarn add -D @graphql-codegen/fragment-matcher

yarn add -D @graphql-codegen/introspection

and then tried for code generation as per my earlier mentioned step,

I am still getting the same.

      √ Load GraphQL schemas
      √ Load G

[2020-05-12 10:12] Fazzacoot commented on #2349
Hello everyone.
Is there any update to this issue?

[2020-05-12 10:44] ardatan commented on #4005
Schema is too long and it is hard to scroll down in this issue. Could you create a reproduction with CodeSandbox?

[2020-05-12 10:49] sathiyapriyababu commented on #4005
Hi,

Can you help me how to create a reproduction with CodeSandbox?

Alternatively, I can share them  as physical files if this interface permits.

Thanks

[2020-05-12 11:59] ardatan commented on #4005
You can use this template to create a live sandbox of the issue:
https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template
Make sure sure fork this template, and run `yarn generate` in the terminal.
Please make sure the Codegen and plugins version under `package.json` matches yours.

[2020-05-12 12:09] oceandrama opened #4008 "Duplicate import from @apollo/client"
Config
[code]
Result
[code]
Repro - https://codesandbox.io/s/sad-joliot-cb7t8?file=/types.ts

Expect
1. No double import
2. Using gql from `@apollo/client`

https://github.com/apollographql/apollo-client/pull/5451

[2020-05-12 12:38] ardatan commented on #4008
So what's the issue in current generated file? Is there any problem with the functionality?

[2020-05-12 12:55] sathiyapriyababu commented on #4005
Hi,

It seems there is some gateway problem with this template. As soon as it is initialised and packages gets installed, I get this on screen,

![image](https://user-images.githubusercontent.com/59566266/81693686-e1e62280-947d-11ea-8da3-70e9f6ca12cb.png)

Thanks

[2020-05-12 13:00] oceandrama commented on #4008
I have 3 non-fixable eslint and typescript errors
`'ApolloReactCommon' is declared but its value is never read.ts(6133)`
`'ApolloReactCommon' is defined but never used.eslint@typescript-eslint/no-unused-vars`
`'\node_modules\@apollo\client\apollo-client.cjs.js' imported multiple times.eslintimport/no-duplicates`

[2020-05-12 13:01] ardatan commented on #4005
Just put your stuff there and try to get the same error in Terminal, you have nothing to do with browser.

[2020-05-12 13:12] sathiyapriyababu commented on #4005
Hi,

Thanks. I placed graphQL, schema, etc. and get this on my terminal.

![image](https://user-images.githubusercontent.com/59566266/81695460-499d6d00-9480-11ea-9e6f-74a8d9a1f27a.png)

Will this be of any help to troubleshoot the case?

Thanks

[2020-05-12 13:21] ardatan commented on #4005
And try to get the same error in Terminal :) so we can debug the issue.

[2020-05-12 15:38] threehams commented on #3997
I'm in the middle of figuring this out, with a WIP branch in the middle of a personal project: https://github.com/primitiveconcept/ludumdare46/compare/codegen?expand=1

The main problem I'm having is that tools other than `graphql-code-generator` only support this:
[code]
not one of these:
[code]

I haven't found a way to get TypeScript to extract the literal value from a tagged template literal;

[2020-05-12 16:00] threehams commented on #3997
Your more immediate question:

There's a "hooks" config property that lets you run anything after codegen completes. I'm using that here:
https://github.com/primitiveconcept/ludumdare46/compare/codegen?expand=1#diff-d6ac51fc77e5e52e810e1ab39e41c764R6-R10
to run a Babel plugin here:
https://github.com/primitiveconcept/ludumdare46/compare/codegen?expand=1#diff-69dd8ef9ba9d159595a7606869f7b8ecR1-R21

[2020-05-13 10:34] meiblorn commented on #3998
Any update on this?

[2020-05-13 15:23] meiblorn commented on #3998
@dotansimha , @ardatan ?

[2020-05-14 02:08] miller-productions commented on #3966
See here... https://graphql-code-generator.com/docs/generated-config/typescript-react-apollo#reactapolloversion-2--3-default-value-2

[2020-05-14 04:27] pak11273 commented on #3275
I'm still getting this error even after `yarn add -D @graphql-codegen/typescript`

[2020-05-14 09:17] ardatan commented on #4008
I think those are linting errors and not effective in terms of functionality. So you can do the following to bypass those warnings and errors.
[code]

[2020-05-14 09:29] Dataxelio opened #4018 "Typescript Mongodb embedded directive is not working"
**Describe the bug**
It seems that the embedded directive for the typescript mongodb is not working properly.
By taking the "Try It Out Live" example on the [website](https://graphql-code-generator.com/) and Choose Example "MongoDB Models", the expected type of the field "profile" of the parent type "UserDbObject" is "ProfileDbObject" and not "Profile". The type Profile not exists in the file "mod

[2020-05-14 09:42] ardatan commented on #4018
If target object is an embedded entity, you need to use `@embedded` not `@column`.
[code]

[2020-05-14 09:42] #4018 closed

[2020-05-14 13:22] #4008 closed

[2020-05-14 13:50] oceandrama commented on #4008
@ardatan I don't think that this code is correct. Why does codegen import unused variables? Ok, there are no compile and runtime errors, but why should I use one more package to suppress errors?
Of course, this is not a serious bug, but I think, it can be fixed

[2020-05-14 14:06] ardatan commented on #4008
I don't think it is a bug if it is working as expected. If you don't want to use an extra package, you can exclude generated file in your linter's configuration instead. Why would you need linting for a generated file?

[2020-05-14 20:21] danfernand opened #4021 "Typescript resolver mappers not replacing all instances of mapped type"
**Describe the bug**

There is an issue where I am using typescript resolvers plugin and when setting up mappers to replace types not all instances of the type are being replaced

**To Reproduce**
Steps to reproduce the behavior:

If I create a mapper for `SomeConnection` using `codegen.yml` it only replaces the connection from the main query, not the one in NewThing

1. My GraphQL schema:

[code]

[2020-05-16 09:42] ardatan commented on #4005
Feel free to open a new issue with a clear minimal reproduction using CodeSandbox or as a repo on GitHub.

[2020-05-16 09:42] #4005 closed

[2020-05-16 20:53] danielrearden opened #4035 "Drift chat button covers up menu button on mobile"
**Describe the bug**
The Drift chat button covers up the menu button when viewing the docs on a mobile browser, making it almost impossible to open the menu. This makes the docs virtually inaccessible unless you use the Previous/Next navigation on the bottom.

**To Reproduce**
Navigate to the docs in a mobile browser.

<img width="358" alt="Screen Shot 2020-05-16 at 4 49 17 PM" src="https://user-i

[2020-05-17 07:38] dotansimha commented on #4035
Fixed :) Thanks @danielrearden !

[2020-05-17 07:38] #4035 closed

[2020-05-17 16:01] dotansimha commented on #4008
As @ardatan said, it's not the best idea to include generated files in your lint configuration. We can't release and maintain versions because of lint rules, it makes maintenance of codegen much more complex.

If it works and does what it needed - that's enough for us. If you wish to improve it via a PR, we would happily merge it.
We aim to have a better generated code, it's just low-priority at t

[2020-05-18 01:04] debrice commented on #3560
I have the same issue with typescript, it does not refresh the generated type unless I restart codegen or edit my config file (codegen.yml).

[code]

[2020-05-18 05:40] tanduong commented on #3890
I suddenly got this issue today. It worked just yesterday.

[2020-05-18 09:37] dotansimha commented on #3560
@melounek @debrice can you please share a reproduction in a repo/codesandbox?

[2020-05-18 09:59] dotansimha commented on #4021
It does work. I tested your schema and added a mapper for the `` type.

You can find an [running example here](https://www.typescriptlang.org/play?skipLibCheck=true&target=99&jsx=0&module=1#code/JYWwDg9gTgLgBAbzgcSgQzACwIoBkBKApgM4QA2AboQJIB2AZhHAL5z1QQhwDkA5ulgCOZbgG4AUOID0UuABVMwYnCVwQATzUYwhACZwY6neMIAPSLANHCcALLqAwgFdiMTnOtwAvInFx-cADGLm4gAGLAhGS6AFxwrlDAtLwSzJKGOnAAgsTqtIHUMIToblAAPHIAfN5waLT

[2020-05-18 10:39] melounek commented on #3865
Heh, I tried to reproduce other issue ( #3560 ) But ended up reproducing this one, so I tagged that repo-state hoping it could help: https://github.com/melounek/repro-codegen/tree/issue-3865

[2020-05-18 11:59] dotansimha commented on #3997
Our tool for extracting queries is `graphql-tag-pluck` (https://github.com/ardatan/graphql-toolkit/tree/master/packages/graphql-tag-pluck). I looks for `gql` template usages and tries to extract strings from it.

If you wish to write it inline, without `gql`, you can use the magic GraphQL comment (it also detected by most IDEs), like that:

[code]

This way, `graphql-tag-pluck` will be able to fin

[2020-05-18 11:59] #3997 closed

[2020-05-18 12:15] #3921 closed

[2020-05-18 12:15] dotansimha commented on #3873
@veeramarni ?

[2020-05-18 12:27] dotansimha commented on #3865
Thanks @melounek , I managed to find the cause for this. Fixing it now!

[2020-05-18 13:10] melounek commented on #3560
There is repro-repo: https://github.com/melounek/repro-codegen (with readme how to reproduce)
thanks @dotansimha

[2020-05-18 13:18] veeramarni commented on #3873
Will create a test case shortly.

[2020-05-18 13:22] dotansimha commented on #3560
Thanks @melounek !
I can confirm that this is caused by `require.cache`. I think `watch:` feature should handle that manually and clear the items from the cache, because otherwise we'll get the same file even if it has changed.

I'm working on a fix here: https://github.com/dotansimha/graphql-code-generator/pull/4037

[2020-05-18 13:24] dotansimha commented on #3890
@tanduong can you please share a reproduction?

[2020-05-18 13:27] dotansimha commented on #3998
Thanks @meiblorn . Your PR was merged. We'll release a new stable version soon. In the meantime, you can use the latest alpha version.

[2020-05-18 13:29] dotansimha commented on #3560
Fixed. You can use the alpha `1.13.6-alpha-1ace8c2f.44` for now.

@melounek thank you for the reproduction, it really helped!

[2020-05-18 13:35] dotansimha commented on #1133
@dzmitry-kankalovich It's documented in our docs website, you can even find it easily in the search:
![image](https://user-images.githubusercontent.com/3680083/82218922-49401e80-9925-11ea-894b-e454f0bc4bc0.png)

And there is a section for integration with Apollo Server: https://graphql-code-generator.com/docs/plugins/typescript-resolvers#integration-with-apollo-server

This is not a "known issue",

[2020-05-18 14:53] tanduong commented on #3890
Thank @dotansimha for the response. I tried to reproduce but this is the best I got. Here is some of the commands:

[code]

It seems delete node_modules and reinstall works. Here is my repo: https://github.com/tanduong/nab

[2020-05-18 15:23] dotansimha commented on #3989
Implemented this in: https://github.com/dotansimha/graphql-code-generator/pull/4039

[2020-05-18 15:27] dotansimha commented on #3890
I guess it's related to NodeJS version, as @farcasmihai91 found. So if you are changing your NodeJS version, you must reinstall deps in order to get this working.

[2020-05-18 15:28] dotansimha commented on #4000
@andreyvital can you please create a reproduction in codesandbox? otherwise we won't be able to replicate your setup and reproduce this issue.

[2020-05-18 15:42] dotansimha commented on #3990
@lkleuver @seeruk can you please create a running reproduction for this issue?
In a repo / codesandbox.
Thanks

[2020-05-18 15:45] dotansimha commented on #2349
At the moment, no updates on this issue.

If someone really needs it, you can use `buildOperationNodeForField` from `@graphql-toolkit/common` (https://github.com/ardatan/graphql-toolkit/blob/master/packages/common/src/build-operation-for-field.ts). You can find an example for using it here: https://github.com/Urigo/graphql-mesh/blob/77311327ee1ba246adafd71dcbd3f658f8750305/packages/runtime/src/uti

[2020-05-18 15:49] #3859 closed

[2020-05-18 15:49] #3675 closed

[2020-05-18 15:49] #3669 closed

[2020-05-18 15:50] dotansimha commented on #3622
We can close this one, we have 2 new plugins for C#.

[2020-05-18 15:50] #3622 closed

[2020-05-18 15:50] #3517 closed

[2020-05-18 15:51] dotansimha commented on #3429
We can close this one, we have 2 new C# plugins.

[2020-05-18 15:51] #3429 closed

[2020-05-18 15:51] #3108 closed

[2020-05-18 15:55] #2349 closed

[2020-05-18 15:55] dotansimha commented on #3048
Tracking here: https://github.com/dotansimha/graphql-code-generator/discussions/2349

[2020-05-18 15:55] #3048 closed

[2020-05-18 15:56] #2984 closed

[2020-05-18 15:56] #2813 closed

[2020-05-18 15:56] #2516 closed

[2020-05-18 15:57] #1850 closed

[2020-05-18 15:57] #1772 closed

[2020-05-18 15:57] #1312 closed

[2020-05-18 15:58] #1255 closed

[2020-05-18 15:58] #1254 closed

[2020-05-18 15:58] #298 closed

[2020-05-19 01:53] nickcarenza opened #4043 "Enums with different multiple casings generate invalid typescript"
**Describe the bug**
GraphQL schemas with multiple differently-cased enum values generates invalid typescript.

Using Braintree graphql schema https://github.com/braintree/graphql-api/blob/master/schema.graphql

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/gifted-mirzakhani-dc4px?file=/types.ts

1. My GraphQL schema:

[code]

2. My GraphQL operations: N/A

3. My `cod

[2020-05-19 02:36] nickcarenza commented on #4043
It looks like there are already configuration options in place to deal with this sort of thing.

[code]

[2020-05-19 02:36] #4043 closed

[2020-05-19 07:32] dotansimha commented on #3992
Hi @theogravity ,
Thank you for reporting this. I'll update the docs for getting started, because we can't really use `npx` at the moment, because `npx` installs the codegen globally, so it means that `graphql` needs to be installed globally as well, which causes a lot more issues after.

[2020-05-19 07:32] #3992 closed

[2020-05-19 09:06] dotansimha commented on #3858
@sarink is it still relevant? can you please open an new issue for that?

[2020-05-19 09:46] dotansimha commented on #3989
Available in `v1.14.0`.

[2020-05-19 09:46] #3989 closed

[2020-05-19 09:46] dotansimha commented on #3560
Fixed in `v1.14.0`.

[2020-05-19 09:46] #3560 closed

[2020-05-19 09:46] dotansimha commented on #3998
Available in `v1.14.0`.

[2020-05-19 09:46] #3998 closed

[2020-05-19 09:46] dotansimha commented on #3865
Fixed in `v1.14.0`.

[2020-05-19 09:46] #3865 closed

[2020-05-19 09:46] j2L4e commented on #3989
Thanks! :)

[2020-05-19 10:14] lkleuver commented on #3990
I came across the same behavior in a different project with a much smaller schema so i managed to reproduce:
https://github.com/lkleuver/graphql-codegenerator-test

[2020-05-19 10:41] karl-run commented on #3272
I was exploring this as well, it turns out if you have the `typescript` plugin it generates a lot of unnecessary duplicates. I just removed the `typescript` plugin as it's not needed, and it removed over 5k lines of duplicated types, instead importing them from the shared types file.

[2020-05-19 19:15] JanDonnermayer commented on #3622
Awesome, I will definitely use them!

[2020-05-19 20:51] veeramarni commented on #3873
I have tried to replicate the issue here https://codesandbox.io/s/graphql-codegen-issue-template-r8qht?file=/types.ts:3877-3881

Noticed, the issue with a prefix on the `type` instead of `enum`.  Instead of `IUser` it uses `User` in resolvers. The issue still exist in the latest version(1.14.0) as well.

[2020-05-20 04:06] NickBolles commented on #3679
I think the generator also needs to be updated to include the reactive function part of the useMutation defiintion too

apollo-composable
[code]
Generated useMutation
[code]
this part in particular
[code]
should probably be more like this:
[code]

[2020-05-20 09:05] melounek opened #4056 "watch-mode for typescript fails no change of type which is exported"
here is repro:
https://github.com/melounek/repro-codegen

after last release the watch-mode works better, but when a graphql-type is exported and used in different files, it will fail on change with: `Unable to load from file "**/schema.ts": Schema must contain uniquely named types but contains multiple types named "MyType".` because of some cache probably.

[2020-05-20 09:42] kusmierz commented on #3849
Hm, guys, I guess it is broken again in 1.14.0...

[2020-05-20 20:49] nebbles commented on #3437
Thanks @dotansimha! Not sure how they got out of sync with only one defining a `^version`. Everything back and working 🙏

[2020-05-21 15:10] bbugh commented on #3679
@NickBolles if I understand what you're suggesting, the patch in https://github.com/vuejs/vue-apollo/pull/962 should address it. The vue-apollo maintainer has been MIA for a while, which unfortunately happens pretty often. Hopefully this will get merged soon as vue-apollo alpha is currently borked for TypeScript users.

[2020-05-21 21:48] gabrielmendezc opened #4062 "Type generation doesn't work properly with a federated approach"
This is my codegen.yml:

[code]

However, there's no __resolveReference or any other federation related types being generated so I have to manually type that which isn't ideal whatsoever.

Here's a reproduction of the issue https://codesandbox.io/s/festive-leaf-ko9ou?file=/types.ts

[2020-05-22 01:51] #4062 closed

[2020-05-22 10:41] LucienLee commented on #3815
@dotansimha any thoughts?

[2020-05-22 19:17] alamothe commented on #3865
Thank you so much for fixing this!

[2020-05-23 03:56] affanshahid opened #4069 "[typescript-resolvers] Only require model field resolvers for fields absent/mismatched in mappers"
Say I have the following schema:
[code]

and I am using the following model mapper for Todo:
[code]

When I generate resolver types (with `avoidOptionals: true`) it will generate types that require me to add field-resolvers for each field in Todo.

Apollo server takes the object property with the same name if a field-resolver is not provided, so technically the only **required** field-resolver sho

[2020-05-24 17:13] affanshahid opened #4071 "[typescript-resolvers] Directives not compatible with apollo-server"
Codegen creates types for directives in the form of resolver functions, however the [apollo docs](https://www.apollographql.com/docs/apollo-server/schema/creating-directives/) describe implementing directives using classes. Thus I am not sure how I can use the generated types to create directives compatible with apollo-server

[2020-05-24 17:37] affanshahid commented on #4071
It works if you use `makeExecutableSchema` as opposed to `schemaDirectives` in the apollo-server config object;

[2020-05-24 17:37] #4071 closed

[2020-05-24 19:04] anark opened #4074 "add with content options does not work as documented"
**Describe the bug**
I'm trying to use the 'add' module to add content to the output.

When I try to use the add plugin without a content key(see below)and just a string it works fine
[code]

 however if I try to use add with a content key as documented in https://graphql-code-generator.com/docs/plugins/add I get Error: Add plugin, missing content

[code]

[code]

However if you double indent the

[2020-05-24 22:46] ardatan commented on #4074
This is how YAML works. You are adding a field under `add`, so  all the fields under `add` should have one more indentation comparing to its parent.

[2020-05-24 22:46] #4074 closed

[2020-05-25 18:13] jakeblaxon opened #4089 "Federation: Limit resolver parent types to contain only fields from @key and @requires directives"
**Is your feature request related to a problem? Please describe.**
With federation, we now have the ability to determine exactly which parent fields are guaranteed to be available to a resolver. In theory, these are only the fields specified in the `@key` directive for the parent type and the `@requires` directive for the field. (Note: this only applies to the fields of extended types).

**Describ

[2020-05-25 21:20] ardatan commented on #4089
@jakeblaxon PRs are welcome!

[2020-05-26 01:06] dzmitry-kankalovich commented on #1133
@dotansimha You are absolutely right, it's there, and I've overlooked it. I am a newbie to TS and the `index signature` keywords were not catching my attention TBH.

I guess my larger problem was that I falsely expected it to "just work", considering that JS + Apollo is probably the most common starting point for a new GraphQL development - which is not really a problem of the codegen, but rather

[2020-05-26 01:50] pavittarx opened #4095 "graphql-codegen fails to load GraphQLSchema"
**Describe the bug**
`graphql-codegen` fails to load Schema when `GraphQLSchema` is provided via a [custom loader](https://graphql-code-generator.com/docs/getting-started/schema-field#custom-schema-loader).
However, what is more interesting is, the same configuration may sometimes work, and all seems to be go smooth. But, you will encounter this problem, as you come to it in a later time.

The err

[2020-05-26 13:49] joeyfigaro commented on #3106
Any progress or movement on this?

[2020-05-26 13:51] joeyfigaro commented on #3106
Duplicate: https://github.com/dotansimha/graphql-code-generator/issues/3332

[2020-05-26 15:55] #3106 closed

[2020-05-26 16:09] dotansimha commented on #4069
@affanshahid you can turn of `avoidOptionals` only for the resolvers plugin, this way:

[code]

[2020-05-26 16:09] #4069 closed

[2020-05-26 19:00] hkasemir opened #4098 "regression in schema generation error reporting"
**Describe the bug**
in upgrading from 1.13.5 to 1.15.0 I noticed that error reporting during schema generation became less clear. My server requires authorization to inspect, and the original error message if invalid auth was provided was
[code]

after updating, the error message is

[code]

**Expected behavior**
Show the error message from the server to make it clear what the root cause is.

[2020-05-27 05:30] dotansimha commented on #4098
Thank you for reporting it @hkasemir .
It's a bug with `@graphql-tools/...`. @ardatan can you please take a look? )

[2020-05-27 11:37] FedeBev commented on #3990
Hi there,

same here, but I think is not related to react apollo, I'm not using it.

Here my config:
[code]

and here and example of document causing the issue:
[code]

[2020-05-27 14:36] reicheltp opened #4108 "JSDoc: Failed to transform Input Types"
**Describe the bug**
Input types are not generated correctly with Plugin JSDoc. Instead of a type definition it just prints `[object Object]`.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My `codegen.yml` config file:

[code]

3. False Result

[code]

**Expected behavior**

[code]

**Environment:**

Used: https://graphql-code-generator.com/

- OS:
- `@graph

[2020-05-27 14:37] fetis opened #4109 "Codegen doesn't recoginize types from external files"
Hello

I'm generating server types directly from .ts files with the next config
[code]

my typedefs are split across several files

`test.schema.ts`
[code]

`countrycode.typedefs.ts`
[code]

with this configuration, Apollo Server starts perfectly but when I generate server types I get next error
[code]

**Expected behavior**

I expect the types to be generated normally

**Environment**
- OS: MacOS

[2020-05-27 14:40] reicheltp opened #4110 "JSDoc: Comments are missing"
**Describe the bug**
Comments are not copied to output with plugin JSDoc.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My `codegen.yml` config file:

[code]

3. False Result

[code]

**Expected behavior**

Comments are copied to the schema.js

[code]

**Environment:**

Used: https://graphql-code-generator.com/

- OS:
- `@graphql-codegen/...`:
- NodeJS:

**A

[2020-05-27 14:42] ardatan commented on #4109
Could you create a reproduction using the template below?
https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template

[2020-05-27 14:42] ardatan commented on #4110
Could you create a reproduction using the template below?
https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template

[2020-05-27 14:42] ardatan commented on #4108
Could you create a reproduction using the template below?
https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template

[2020-05-27 14:47] #4021 closed

[2020-05-27 14:47] ardatan commented on #4021
Closing the issue. If the problem persists, feel free to create a new issue with a minimal reproduction.

[2020-05-27 14:50] reicheltp commented on #4110
@ardatan Done: https://codesandbox.io/s/keen-star-crfuq?file=/schema.js

Look at `schema.js` to see that the comments are missing.

[2020-05-27 14:55] reicheltp commented on #4108
@ardatan Done: https://codesandbox.io/s/distracted-curie-m8cr0?file=/schema.js

See `schema.js` for wrong output.

[2020-05-27 15:27] dotansimha commented on #4098
@hkasemir can you please try `1.15.1-alpha-1f2eeae3.9`?

[2020-05-27 15:59] ardatan commented on #3858
Feel free to open the issue again if it is still relevant.

[2020-05-27 16:03] juliovedovatto opened #4113 "Cannot Use WebPack Resolve Alias when bumping @graphql-codegen/cli from v1.14.0 to v1.15.0"
**Describe the bug**

After update `@graphql-codegen/cli` to `v1.15.0`, the import declarations stopped to work in `.gql` files. We use `graphql-tag` loader for importing.

Note : kinda similar problem related on #3325

Example:

[code]

It was working flawless using `@graphql-codegen/cli@1.14.0`, but now throws this error:

[code]

I opened a issue on `graphql-tools` repo https://github.com/ardat

[2020-05-27 16:11] hkasemir commented on #4098
@dotansimha thanks for jumping on that so quickly!
confirmed that installing that version provides the auth errors again 🎉

[2020-05-28 05:56] lanwin opened #4118 "Add @optional directive to generate typescript optionals when needed (partial updates)"
We have a complex input object where we want to support partial updates (send only a few properties instead of the full obj). Our server supports this fine, but the type generation did not.

**Describe the solution you'd like**

So I would like to suggest to allow an @optional directive and make Codegen generate the field as optional then. This is simple and would allow to generate optionals only

[2020-05-28 09:56] SimenB commented on #2729
Would love to see this solved, as we cannot use this preset with `noUnusedLocals: true` in `tsconfig.json`. Removing `preResolveTypes: true` also works.

Workaround I landed on (inspired by OP) is to duplicate a field from the fragment that uses `Types` (something optional, meaning `Types.Maybe` is used).

[2020-05-28 09:58] fetis commented on #4109
@ardatan
here's the sandbox for this
https://codesandbox.io/s/github/fetis/graphql-codegen-issue/tree/master/

it's connected to this repo
https://github.com/fetis/graphql-codegen-issue

[2020-05-28 10:04] LucienLee commented on #3324
I got exactly the same issue as @rintaun in my Apollo Federation scenario, too.
The issue comes from the nested type in extended type could be resolved by its type resolvers, but the codegen still ask you have to resolve it in the extend type.

For example, there are user and transaction two services, and here is the code in the transaction service:
[code]

[code]

In that case, the `transaction`

[2020-05-28 10:32] oceandrama opened #4120 "Incorrect no-variables type"
**Describe the bug**
If query takes no arguments, its variables generates as `{}`, which means `any non-nullish value`
So we can use it like this
[code]

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
No variables allowed, type should be `never`

[2020-05-28 11:28] LucienLee opened #4121 "[typescript-resolver] interface resolver should could use type mappers"
At graphql-codegen@1.13.0, we could map interface type to our own type. But at v.1.13.1, in the   #3538 #3618, the behavior is changed. The interface will be the union type of its implements types, even I pass the mapper type in the config. I hope that we can bring interface type mapper back when we have set it in the config.

That's said in the same case of books.

[code]

If we store the shell d

[2020-05-28 12:09] ardatan commented on #4120
Where do you have this function? `useQueryWithoutVariables`
Those two plugins don't generate this kind of functions;
[code]

[2020-05-28 12:15] oceandrama commented on #4120
It's from `typescript-react-apollo`
By the way, I can use `useQuery` hook from `@apollo/client` without other plugins like this
[code]

[2020-05-28 14:03] rintaun commented on #3324
@LucienLee there is a potential solution outlined in the [`typescript-resolvers` documentation](https://graphql-code-generator.com/docs/plugins/typescript-resolvers) (`Wrap default types with Partial`) that may work for you:

[code]

Personally, I have stopped using federation for my current project as it wasn't necessary, so I'm not sure that will work, but I have had some success with that appro

[2020-05-28 14:37] sarink commented on #3858
The issue still exists. There's a codesandbox repo listed above. What more do you need?

[2020-05-28 18:28] darkbasic opened #4125 "typescript-operations creates typings for fragments twice since 1.15.0"
Since I upgraded to 1.15.0 I get tons of errors like
[code]
For some reason the codegen creates typings for fragments twice.
I bisected it to this commit: https://github.com/dotansimha/graphql-code-generator/commit/cbd99701739d9158211b686379412e2209edd94c

So it looks like the bug is in GraphQL Tools v6: https://github.com/dotansimha/graphql-code-generator/pull/4019

[2020-05-29 14:03] xdumaine opened #4128 "Scalar type not found since 1.15"
**Describe the bug**
When upgrading from 1.14 to 1.15, an error is thrown that types (which I know to be scalars) are not defined, when they are defined as `scalar Date` (example) at the top of the schema.

**To Reproduce**
Steps to reproduce the behavior:
Reproducing issue: https://codesandbox.io/s/stoic-silence-2r2k5?file=/package.json
Same code working with 1.14: https://codesandbox.io/s/frosty

[2020-05-29 14:09] ardatan commented on #4128
@xdumaine Could you share a reproduction using CodeSandbox or as a GitHub repo?

[2020-05-29 14:18] jer-sen opened #4129 "Use PascalCase for isTypeOfResolverFn"
`isTypeOfResolverFn` is a type and should be written `IsTypeOfResolverFn`

[2020-05-29 14:31] lorenzleutgeb opened #4130 "Feature/Plugin: Support directive `@connection` to generate Relay schema"
I would like to use this package with schemas that contain [the Relay-related `@connection` directive as provided by GraphQL Kickstart](https://www.graphql-java-kickstart.com/tools/relay/). This would allow users to avoid typing out a lot of boilerplate code when using Relay.

GraphQL Codegen (or a plugin) should process the `@connection` directive and expand

[code]

into

[code]

before advancin

[2020-05-29 14:40] RadoslavK commented on #3131
I can still reproduce it with 1.15.0. Was it forgotten?

[2020-05-29 14:45] xdumaine commented on #4128
@ardatan updated steps to reproduce with demos of 1.14 and 1.15

[2020-05-29 14:51] jer-sen opened #4131 "Resolver type of interface"
[code]

gives the following type:

[code]

but should give that instead:

[code]

[2020-05-29 15:12] xdumaine commented on #4128
I'm actually getting a *ton* of errors about missing types that worked before (maybe implicitly as a bug) that no longer work. As I work through the ones from imports, I'm even getting some that don't involve imports. Ex:

[code]

Throws an error `Type "Palette" not found in document.
        Error: Type "Palette" not found in document.`

[2020-05-29 15:43] xdumaine commented on #4128
To fix that one ^ I had to change my codegen to include all required schema codegen files. Just having the root schema with imports wasn't sufficient.

[2020-05-29 17:45] jbaileyashe opened #4133 "Syntax Error/Schema Error should give line number"
**Describe the bug**
The `graphql-codegen` process should give better diagnostics when a schema file has a syntax error or can't be parsed. Specifically, it should tell you where in the schema file the error was found.

**To Reproduce**
Using this codegen.yaml:

[code]

And this schema file (notice `Number` for `attorney_id`):

[code]

Gives the following output when `graphql-codegen` is run:

[co

[2020-05-29 20:24] smeijer commented on #3990
Is there a work around available? I'm having the same problem.

[2020-05-29 20:36] ardatan commented on #4129
I think you did a typo because both variable names you wrote is`isTypeOfResolverFn`.

[2020-05-29 21:06] smeijer commented on #3990
Found the work around / fix, and submitted a PR. In the mean while,

In file `node_modules/@graphql-codegen/typescript-operations/index.cjs.js`

update line `~ 128`

[code]

[2020-05-29 23:02] jer-sen commented on #4129
Yes, sorry. Typo fixed.

[2020-05-29 23:13] ardatan commented on #4133
First, it is not a syntax error in terms of GraphQL SDL. The given SDL is gramatically correct but it is not valid.
Second, your reproduction gives another error which is `RootQuery is not found` but I added a RootQuery with `attorney: Attorney` field to reproduce the same error with yours.
Third, that error stack trace comes from GraphQL.js package not graphql-codegen's internals. GraphQL Codegen

[2020-05-29 23:13] #4133 closed

[2020-05-29 23:21] ardatan commented on #4130
@lorenzleutgeb You can also point directly to the URL of your GraphQL Endpoint. Isn't that working for you?

[2020-05-29 23:39] ardatan commented on #3131
Those types are generated from your GraphQL Schema, they are not generated to be used as parent types so this is not a bug. In this case, you need to provide custom types for `UserFriendsConnection` and `UserFriendsEdge` as well.

[2020-05-30 00:15] jbaileyashe commented on #4133
This is not a response that encourages me to contribute to your project in the future. Does it really matter if this is a type error or syntax error? Does it matter that the repro case had a minor error in it? I took the time to write this up and demonstrate  according to your guidelines. Now that just feels like a waste.

Much nicer would have been something along the lines "You are right, it's r

[2020-05-30 06:38] lorenzleutgeb commented on #4130
@ardatan That's of course possible, but in our case it requires compiling, packaging and deploying the backend code. That's a lot less efficient compared to just running GraphQL code generation. In addition there are frontend-oriented developers working on the project, and they usually don't spin up the backend but want to be able to modify the schema anyway.

[2020-05-30 12:16] ardatan commented on #4133
I really do apologize, I didn't mean that. I just wanted to avoid misleading and give the correct information not only for you but also for the other people who see this issue in the future.
I appreciate your contribution by reporting an issue to us to make us this project better. Let me correct my words then. Yes, you're right. Unfortunately, our major dependency [graphql-js](https://github.com/g

[2020-05-30 12:26] ardatan commented on #4130
@lorenzleutgeb I see. Maybe we can generate those typings with https://github.com/graphql/graphql-relay-js. Thanks for the idea!

[2020-05-30 12:44] ardatan commented on #4128
Thank you very much for the reproduction! We'll take a look soon.

[2020-05-30 15:24] jazzdragon opened #4137 "typescript-resolvers - Type mismatch with apolloClient's resolvers"
**Describe the bug**

After generating types from my resolvers the `resolvers` field in `new apolloClient()` complains for types being mismatched:

Error:(92, 5) TS2322: Type 'Resolvers<any>' is not assignable to type 'Resolvers | Resolvers[] | undefined'.
  Type 'Resolvers<any>' is not assignable to type 'Resolvers'.
    Property 'Mutation' is incompatible with index signature.
      Type 'Mutati

[2020-05-30 17:49] lorenzleutgeb commented on #4130
@ardatan Hmm, I wouldn't see how `graphql-relay-js` helps in this case. I searched the repository for "directive" without any luck and couldn't find any code transforming the schema either. If I understood correctly it helps with implementing resolvers. Maybe you could enlighten me and explicate the link that I am missing? The Kotlin implementation I referenced should not be hard to "translate" to

[2020-05-30 18:08] ardatan commented on #4130
I mentioned this library to generate Connection,Edge and other relay-specific types, not handle the SDL you gave. `@connection` is not standard and something specific for the library you mentioned. That's why we need to handle on our own in that case.

[2020-05-30 18:19] ardatan commented on #4137
Would that work for you?
https://graphql-code-generator.com/docs/plugins/typescript-resolvers#integration-with-apollo-server

[2020-05-30 18:34] jbaileyashe commented on #4133
Thanks very much. Hopefully I can find a way to give back. This project is super useful and seems to be the best of all the generators I examined.

[2020-05-30 18:36] Andrew-Talley commented on #3712
@seansfkelley Hey, are you still working on this? I was thinking about making the same sort of package you were, but it seems redundant and I wouldn't want to step on your toes if this is still under development. Or, if you want someone to help with it, I'd be more than happy to.

[2020-05-30 20:36] lionkeng commented on #4121
I am running into a similar issue. *mappers* correctly maps simple graphQL type to my own declared Typescript type model. But for a graphQL interface,  **graphql-codegen** is generating unioned Typescript types and ignores my configuration in *mappers* to use my model.

[2020-05-31 00:38] seansfkelley commented on #3712
@Andrew-Talley unfortunately I haven't had enough time to give this the attention it needs. I would _really really_ love to have this, but I've had to just work around the few cases I'd use it for with manually-defined types. Boo.

If you want to pick it up, that would be fantastic. I'd be happy to take a look over whatever you put together, if that helps. That said, you can find my changes at htt

[2020-05-31 01:58] Andrew-Talley commented on #3712
@seansfkelley Thank you for all of that, that'll be super helpful. I'm really hoping I'll be able to turn this into something close to as high-quality as the rest of the languages. And thank you for the offer to look it over, I may take you up on it.

[2020-05-31 06:30] Pytal opened #4140 "TypeScript-Urql generates invalid type for subscription handler with Operation Suffix config"
**Describe the bug**
An addendum to #3062.

The generated subscription handler types for TypeScipt-Urql do not respect these config options:

[code]

The generated type with the above config is `<OperationName>Subscription`  when the expected type is `<OperationName>Data`.

**To Reproduce**
Add the above config options to your `codegen.yml`

[2020-05-31 07:31] dotansimha commented on #4118
Hi @lanwin , thank you for opening this issue.

We decided that codegen input will be a ready to use schema, and to avoid transformations done specifically by codegen.

If you wish to have this behavior, you can use custom schema loader, and add a custom directive in your setup. Then you can change the schema according to your needs (could be done with graphql-tools or graphql-compose) .

[2020-05-31 07:31] #4118 closed

[2020-05-31 07:38] dotansimha commented on #4120
You are right @oceandrama . And suggestion for a solution for that?
I was thinking about [doing something like that](https://www.typescriptlang.org/play?#code/C4TwDgpgBAogHgQwMbADwBUA0UBKA+KAXinSgjmAgDsATAZ1wCgooB+XMi6+k5lt3vygAuKFQgA3CACc+o8VNmMAZgFcqKAJYB7KlAQY8ACgBGrUfGRosUAN4BfPAEpRCKiDuNG9rwiMOnAG4oAHoQqG0Aa0Y-WygTUQBGKHsnUPCZaW1ZPypVABt8oPSyaSycozSwiMigA) to make sure no additional keys are

[2020-05-31 07:39] jer-sen opened #4141 "Double spaces"
There are 2 spaces in Typescript types as `interface` (between `TypeName` and `extends`):

[code]

[2020-05-31 07:41] dotansimha commented on #4125
@darkbasic Is it the same issue as #3990 ? it was fixed temporarily with https://github.com/dotansimha/graphql-code-generator/pull/4134

@ardatan can you please take a look? is it related to graphql-tools?

[2020-05-31 07:43] dotansimha commented on #4131
@jer-sen which plugins do you use? can you please share your `codegen.yml` file? and also the GraphQL operations you are using. Also, which version of codegen do you use?

[2020-05-31 07:49] dotansimha commented on #4141
Thanks @jer-sen , this is a minor lint issue, and we usually don't fix those.
It's recommended to ignore generated files from your linter/formatter.

I fixed this specific one in: https://github.com/dotansimha/graphql-code-generator/commit/247a8b0b5bc79b8aff08f60ba337c9f6892a4b16

[2020-05-31 07:54] dotansimha commented on #4137
As @ardatan said, please try with `useIndexSignature: true`.
The `typescript-resolvers` generates a generic resolvers signature, that matches the requirements of `graphql.js`. Some adjustments needs to be done in order to integrate it with Apollo-server due to differences in the signature. Adding this configuration flags solves that.

[2020-05-31 07:54] #4137 closed

[2020-05-31 07:58] dotansimha commented on #4130
This is something we are thinking about a lot recently.
At the moment, Codegen gets the ready-to-use schema, as-is, and generate types according to that. Is simplifies and implementation and eliminates the need to have framework-specific code in this library.

If you wish to have this kind of behaviour, you can use [custom schema loader](https://graphql-code-generator.com/docs/getting-started/sche

[2020-05-31 07:58] #4130 closed

[2020-05-31 07:59] dotansimha commented on #3712
@seansfkelley this is awesome! do you wish to create a WIP PR for that? this way we can help you wish developing this new plugin :)

[2020-05-31 08:07] dotansimha commented on #4128
@xdumaine this seems like something that shouldn't work before.

You have the following structure:

[code]

But, this should be:

[code]

@ardatan i tried to update the structure and move the scalar, but it still doesn't work, can you please take a look? https://codesandbox.io/s/dank-forest-ub86g?file=/schema.graphql

[2020-05-31 08:12] dotansimha commented on #4129
Fixed in https://github.com/dotansimha/graphql-code-generator/commit/871522fe28cb95ad375b4c1d2d26b1ed6c6237dd

[2020-05-31 08:22] dotansimha commented on #4113
We are not really sure why it worked before. Let's keep tracking it under `graphql-tools`, since it's not related to codegen.

[2020-05-31 08:22] #4113 closed

[2020-05-31 08:27] dotansimha commented on #3324
@rintaun is right, the simplest way to do that is to use mappers and to set `defaultMapper`.
We were thinking a lot about that, and we decided that codegen will not be in charge of doing manipulations over the schema (you can do that with a custom schema loader)

[2020-05-31 08:27] #3324 closed

[2020-05-31 08:28] dotansimha commented on #3939
We decided that GraphQL Codegen will no do any transformations internally.

If you wish to transform of modify your schema, you should be able to do that with a [custom schema loader](https://graphql-code-generator.com/docs/getting-started/schema-field#custom-schema-loader).

[2020-05-31 08:28] #3939 closed

[2020-05-31 08:51] dotansimha commented on #4109
@fetis

In your case, the actual issue is just a typo.

You are using:
[code]

But it should be `typedefs` (with `e`). I changed it and it seems to work now.

[2020-05-31 08:51] #4109 closed

[2020-05-31 08:55] EirikFA commented on #4125
#4134 fixed this in my project.

[2020-05-31 08:56] dotansimha commented on #2729
It's a bit tricky because it effects other use-cases. We are trying to find the actual specific use-cases that causes that.
@SimenB @mvestergaard can you please share a reproduction?

[2020-05-31 08:56] #4125 closed

[2020-05-31 09:17] jer-sen commented on #4141
Thanks @dotansimha

[2020-05-31 09:18] dotansimha commented on #4110
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/4142

[2020-05-31 09:22] dotansimha commented on #3815
@LucienLee I think you are right. PRs are welcome ;)

[2020-05-31 09:26] jer-sen commented on #4131
My `codegen.yml` looks like:

[code]

Versions:

[code]

I will follow issue template next time. Sorry for this one.

[2020-05-31 09:26] dotansimha commented on #3272
@karl-run yeah because `typescript` generates the base types. It should be generated once into a single file. Then, each operation file should point to that file in order to load the base types from it, and choose the fields that it needs from it.

[2020-05-31 09:39] dotansimha commented on #4131
If you are referring to the output of `typescript-resolvers`, then note that this is the default behaviour of this plugin.
Please take a look at the generated `ResolversTypes` type, this is the actual types of your resolvers, you should have something like that there:

[code]

From a backend perspective of GraphQL, a field that returns an interface should have a resolver, and then resolvers should

[2020-05-31 09:39] #4131 closed

[2020-05-31 09:40] lanwin commented on #4118
Hi Dotan, thanks for your answer but I am not sure I understand what you mean. My suggest did not include a schema transformation form what I understand.

My goal was to add an "optional" directive within my server witch generates that schema. Than make codegen switch the avoidOptionals behavior when it receives that directive on a per field level instead of the hole file.

[2020-05-31 09:46] dotansimha commented on #4118
I see, but the means that codegen needs to take an opinion, and dictates the usage of `@optional` directive. What if someone else has a directive with the same name? it will break their setup.
We are trying to avoid those custom behaviour based on directives (same with `@client`, `@connection` and more).

What I'm trying to say is - GraphQL codegen will keep following the GraphQL spec as-is, witho

[2020-05-31 09:52] dotansimha commented on #3084
@mshwery I agree, but from our point of view, it will be impossible to maintain, and have a stable output. You can use `typescript-compatibility` (with `strict: true`) to get those intermediate types automatically generated.

[2020-05-31 09:56] dotansimha commented on #3634
@mohanees can you please open a new issue with a reproduction? we'll try to fix that.

[2020-05-31 10:01] dotansimha commented on #3482
It seems like an issue with the usage of `graphql-import`.
@ardatan this was not fixed by the latest version of `graphql-import` (from `graphql-tools`).

Can you please take a look?

[2020-05-31 10:04] #3482 closed

[2020-05-31 10:07] dotansimha commented on #2771
Closing.

To get this behaviour, use a custom schema loader, and perform this manipulation over your existing schema. Codegen will not support anything out of the spec of `graphql`, but you can do that manually (with a custom schema loader and `graphql-compose` for example)

[2020-05-31 10:07] #2771 closed

[2020-05-31 10:15] dotansimha commented on #3456
Tracking in: https://github.com/dotansimha/graphql-code-generator/issues/3836

[2020-05-31 10:15] #3456 closed

[2020-05-31 10:16] dotansimha commented on #1609
@fabis94 yes :)

[2020-05-31 10:22] seeruk commented on #3990
I'm not sure if one other (smaller) thing was missed along the way with this one; it's not just duplicate imports (though, that's the only thing that's causing problems). It looked like the source of the duplicate imports was something to do with using multiple ts files with same name, with queries inside, importing the same fragement, i.e.

[code]

In the above case, when using the `near-operatio

[2020-05-31 10:23] dotansimha commented on #3827
@zicodeng it seems like you are using it in a wrong way.

If that's because of resolvers, use `typescript-resolvers` and `mappers` config.

[2020-05-31 10:25] dotansimha commented on #2735
@markhalonen can you explain why fragments are a "hacky workaround"? it's part of the GraphQL spec, and this is the way to reuse and name field sets.
As we said before, if you wish to have intermediate types, add `typescript-compatibility` plugin.

[2020-05-31 10:27] dotansimha commented on #3727
We are looking into publishing alpha version as GitHub Actions artifacts instead of NPM. This might solve this as well.

[2020-05-31 10:32] dotansimha commented on #3698
@ericvergnaud you can disagree, but GraphQL requires you to specify selection set and choose the fields. Asking for all fields is not type-safe, since it can change and break your consuming application.

[2020-05-31 10:49] ericvergnaud commented on #3698
@dotansimha actually not sure this has anything to do with the GraphQL spec, rather it has to do with how much the generator does for me.
Sure the GraphQL spec requires the query/mutation to be fully specified.
But having the generator create a query from an implicit document which returns all fields is precisely the kind of things you expect from a generator...

[2020-05-31 11:11] jer-sen commented on #4131
@dotansimha the issue is not on resolver types but on objects. Look at my simple case, the issue is on `B`not on `b`. With the current implementation my resolver for `A` can return something like `{ b: { prop: 'Something' } }` but either `prop1` or `prop2` is missing. `b` type should be any type that implements `B` (such as `B1`or `B2`).

Don't you agree ?

[2020-05-31 11:42] dotansimha commented on #4131
If you are using GraphQL `interface`, it should be the interface in TS types. These types are generated by `typescript` plugin, and they are generic and agnostic.

I suspect you are using it in a wrong way, because the `typescript-resolvers` uses the implementing types, and not the interface, so it seems a bit weird. Can you please share a reproduction, with an example of how you use it?

Also, th

[2020-05-31 11:44] dotansimha commented on #3698
That's because you assume GraphQL Code Generator is one thing, while it's a different thing.
GraphQL Code Generator generates *code* based on GraphQL schema, and GraphQL operations.
The input for this codegen is your schema and operations, and the output is code.

The reason we are not generating operations for you is simple - it's something you should do manually, according to your frontend / con

[2020-05-31 11:50] ericvergnaud commented on #3698
Appreciate GraphQL is not SOAP, but when code generators generate SOAP proxies they actually do generate such queries.
So not sure if a flag requesting auto generation of queries would not be in scope for this tool.

[2020-05-31 12:07] dotansimha commented on #3698
I see, but this is not a relevant development flow when using GraphQL.
And code generators for SOAP can generate what's relevant to a development flow of SOAP.

You can also say that about OData - you can choose fields, but you don't have to, and you can generate the list of fields - does that mean that GraphQL should do that as well? No. Because each library/product has it's own concepts and appr

[2020-05-31 12:27] ericvergnaud commented on #3698
Not sure if there is only one 'relevant development flow when using GraphQL’ tbh…
If you’re developing simultaneously the server and the client, then it can be quite handy to auto-generate queries on the client side, assumption being that to start with you’re interesting in all the fields.
I don’t disagree that as your schema grows in sophistication this may become less relevant, but I don’t see h

[2020-05-31 15:14] jazzdragon commented on #4137
Beautiful! thanks!

[2020-05-31 15:18] dotansimha commented on #4140
@Pytal This issue needs reproduction. I tried to reproduce this, but it also depends on the operation name that you are using.

[2020-05-31 16:37] jer-sen commented on #4131
I don't use `interface`, I use the default value `type` for `declarationKind` option. If types are generated by `typescript` plugin, then this plugin is responsible for this issue. The issue is not linked to `typescript-resolver` nor `typescript-operations`.

`typescript-resolver` and `typescript-operations` split the interface in resolvers and operations types (type definition of `B` not directly

[2020-05-31 18:57] ggascoigne opened #4143 "v1.15.0 generating duplicate fragment definitions"
**Describe the bug**

I have a graphql directory containing a number of .graphql files containing a mix of queries, mutation and fragments.  I'm using the #import syntax to reference fragments across files so that they compile correctly.

This has worked very nicely up to and including v1.14.0.

Upgrading to v1.15.0 causes the resulting typescript file to contain multiple definitions of some of th

[2020-05-31 20:58] Pytal commented on #4140
I think line [76](https://github.com/dotansimha/graphql-code-generator/blob/a4bedec554c6c3cc0d209b9a0f57570ddbeb0b41/packages/plugins/typescript/urql/src/visitor.ts#L76) should be:

[code]

Replacing `Urql.SubscriptionHandler<${operationName}` with `Urql.SubscriptionHandler<${operationResultType}`

[2020-05-31 21:02] seansfkelley commented on #3712
Sure, if you think that would be helpful! I opened https://github.com/dotansimha/graphql-code-generator/pull/4144, but as noted here and there, I won't have time to contribute it beyond reviewing/testing.

[2020-06-01 04:25] stephenh commented on #3815
Fwiw if you're messing with `avoidOptionals` in `typescript-resolvers`, you should have a mode that differentiates by mapped types:

* `Resolvers.foo` for a mapped type should be required
* `Resolvers.bar` for a non-mapped / DTO-object should be object
* the non-mapped/DTO-object should have all of its fields non-optional

I.e. if I'm not mapping a type, I don't need a resolver for it, b/c I'll ju

[2020-06-01 04:29] stephenh opened #4147 "Add avoidOptionals "on keys" settings"
When using `typescript-operations`, for a given input type with an optional field like:

[code]

I want to be able to enable `avoidOptionals: true`-ish behavior where `firstName` is required, but it's value itself can still be `undefined`, i.e.:

[code]

I cannot do `input2` today because `Maybe<T>` is hardcoded as `T | null` instead of `T | null | undefined`. It looks like there used to be an `op

[2020-06-01 08:25] dotansimha commented on #3990
You are right @seeruk , thank you!

[2020-06-01 08:26] dotansimha commented on #4143
duplicate https://github.com/dotansimha/graphql-code-generator/issues/3990

[2020-06-01 08:33] dotansimha commented on #4147
`Maybe<T>` is not hardcoded. You can customize it with `maybeValue`.

[code]

Also, if you wish to have more control over optionals, you can do:

[code]

https://graphql-code-generator.com/docs/plugins/typescript

[2020-06-01 08:33] #4147 closed

[2020-06-01 12:11] dotansimha commented on #4143
Fixed in : https://github.com/dotansimha/graphql-code-generator/pull/4148

[2020-06-01 12:15] dotansimha commented on #3815
@stephenh maybe this is something you can share with us? This use case sounds interesting, maybe it could help others as well :)

[2020-06-01 12:54] stephenh commented on #3815
@dotansimha sure :-) here's our plugin's repo: https://github.com/homebound-team/graphql-typescript-simple-resolvers

[2020-06-01 12:58] stephenh commented on #4147
Gah! I swear I looked for that. :grimacing:  Thanks!

[2020-06-01 16:14] darkbasic commented on #4125
Fixed by https://github.com/dotansimha/graphql-code-generator/pull/4148

[2020-06-02 04:33] wuichen commented on #4143
i have done npx match-version @graphql-codegen 1.15.1-alpha-12a4da72.33+12a4da72 to upgrade to this fix but im still seeing the problem. this is my codegen file `overwrite: true
schema: 'src/generated/schema.graphql'
documents: 'src/graphql/auto/**/*.graphql'
generates:
  src/generated/index.ts:
    plugins:
      - 'typescript'
      - 'typescript-operations'
      - 'typescript-react-apollo'

[2020-06-02 05:53] dotansimha commented on #4143
@wuichen can you please share a reproduction of the issue? it's seems like a different thing.

Also, why do you need `typescript-react-apollo` and `typescript-graphql-request` together in the same file? what's your use case?

In most cases, if you are developing a frontend, use `typescript-react-apollo`, if it's a backend, use `typescript-graphql-request`. Those are 2 different plugins for 2 diffe

[2020-06-02 12:39] lkleuver commented on #3990
though most duplicate imports are gone, I still have one file that shows the same behavior (1.15.1-alpha-12a4da72.33+12a4da72).

Really hard to pinpoint what causes this since it's a fairly large project/schema

[2020-06-02 14:40] lassesteffen commented on #4143
I have the same problem and I just use

[code]

[2020-06-02 15:27] dotansimha commented on #4143
@lassesteffen can you please share a reproduction? It's not coming from your list of plugins, it's probably a version or a document that causes that.

[2020-06-02 17:15] dhalbrook commented on #4143
Seeing the same.  My config:

[code]

[2020-06-03 06:26] lanwin commented on #4118
You are right about the optional directive. But that could be fixed by making the directive disabled by default and make the user configure an name to enable it. Something like `optionalDirective: optional`

Well if the CodeGen really follows the GraphQL spec, then I think avoidOptionals should not exists (cause the GraphQL spec did not know undefined). But it exists for some users needs and all I

[2020-06-03 07:28] dotansimha commented on #4118
`avoidOptionals` is a codegen configuration that effects codegen only, and it's relevant to the TypeScript output.
This configuration doesn't change the structure of your GraphQL schema, it only changes the TypeScript output and avoids using `?` on fields (while `Maybe` value will still apply the null effect). If your GraphQL field is nullable, it will remain nullable and this will not change it.

[2020-06-03 07:30] dotansimha commented on #4143
@dhalbrook can you please share a reproduction? It's not coming from your list of plugins, it's probably a version or a document that causes that.

[2020-06-03 07:33] dotansimha commented on #3990
@lkleuver I think it's related to the usage of graphql-import within your file. Do you use import for fragments?

[2020-06-03 07:49] lkleuver commented on #3990
I write 3 files per “model” query.graphql mutation.graphql and fragments.graphql

No special import statements, was actually super happy codegen handles the imports for me :)

[2020-06-03 09:01] lanwin commented on #4118
Ok then should I create a new issues for that or can we reuse this one?

Cause GraphQL has no support for partial inputs (or optional fields) for now. We have a large input object, but most of the time our users change only one or two values. What basically means I need to load that large object and resend the entire object to the server. Instead we made most of the fields optional so that users c

[2020-06-03 09:25] theomjones opened #4157 "[TypeScript plugin] Supporting enums generated with integer values instead of strings"
**Is your feature request related to a problem? Please describe.**

Generating from schema enums uses the keys as values when it should use integers.

Given the following enum in a schema:
[code]
The generated typescript enum I would expect is
[code]
However the actual output is:

[code]

**Describe the solution you'd like**

- Adding a configuration option to not transform enum values to their ke

[2020-06-03 12:05] dotansimha commented on #4118
@lanwin to allow `undefined` value, you can override `maybeValue` in your config, and it will allow you to use `undefined` where nullable fields are. It will also effect input fields.

[code]

Btw, I think you can create a custom scalar to represent the option for "ignored" field. And the manage it yourself, and control the "EMPTY" value with your own code. Like a `scalar CustomString` that allow

[2020-06-03 12:08] dotansimha commented on #3990
Ok that's great, are you still getting a duplicate fragment? maybe it's something you can reproduce somehow? is there something special about this fragment? (maybe it's being used more often, in different ways?)

[2020-06-03 12:45] ArnaudBarre opened #4161 "Future proof unions"
**Is your feature request related to a problem? Please describe.**

I want to avoid making assumptions on the fact that my graphQL unions are stable.

With this schema:

[code]

TS allow me to write
[code]
which could breaks at runtime if the schema was update with:

[code]

**Describe the solution you'd like**

An optional codegen parameter to append `{ __typename: "FutureValue" }` to all unions

[2020-06-03 14:02] lanwin commented on #4118
Yes that would work for the input obj. But it also would mean that I need to handle undefined in the rest of the codebase. Witch mean I had to handle undefined in a lot of cases where undefined could never happened.

Hmm that meant to do a lot of code to handle such a simple task. The sad thing is that GraphQL did hot have the concept of Generics. So I

--

Wouldnt It in general a good idea to be

[2020-06-03 15:38] dmarkow commented on #4143
Still happening here on 1.15.1.

- 1.15.1:  https://codesandbox.io/s/autumn-hooks-2627b?file=/documents/user.d.ts
- 1.14.0:  https://codesandbox.io/s/cranky-mendel-6sm1e?file=/documents/user.d.ts

Note that in 1.15.1, the `user.d.ts` and `users.d.ts` files are redefining and re-exporting `UserFieldsFragment`, whereas in 1.14.0 they import the fragment from the `fragment.d.ts` file.

Config:

[code

[2020-06-03 16:59] dmarkow commented on #4143
@ardatan That was actually left over from another sandbox I used for this. I just removed the skipGraphQLImport line and the issue is still happening. In my main app I'm not using skipGraphQLImport and still started having these same issues as of 1.15.0.

https://codesandbox.io/s/inspiring-http-tmu8g?file=/documents/user.d.ts

[2020-06-03 17:06] ardatan commented on #4143
As you can see in the sandbox I sent, I am using canary version which hasn't released yet and `skipGraphQLImport` works as expected. It ignores `#import` so every single file is processed only with its own content without imported stuff.
If you don't use `skipGraphQLImport`, it is expected to have that fragment typings together with other typings because it is imported by that file independently.

[2020-06-03 20:42] CarloPalinckx commented on #2934
since #3223 has been merged, this issue can be closed I guess 🚀

[2020-06-03 20:42] #2934 closed

[2020-06-04 04:45] killjoy2013 commented on #4157
@dotansimha @ardatan I'd like to work on this. Please assign to me if you consider appropriate.

[2020-06-04 06:53] dotansimha commented on #4157
Hi @killjoy2013, thank you!
@theomjones is already working on it, progress is here: https://github.com/dotansimha/graphql-code-generator/pull/4158

[2020-06-04 08:22] dotansimha commented on #4095
@pavittarx I tried your reproduction, and I noticed this:
- The `test.js` is not exporting an executable schema - it just exports types. So if your config file points only to it, you'll get:
[code]

- If you export `typeDefs` from `sample_schema` - it will work, but if you are trying to export `GraphQLSchema` from that file, it will fail - because it tries to compile the schema within your file, w

[2020-06-04 08:28] ardatan commented on #4095
@dotansimha We have `noPluck` option for `@graphql-tools/code-file-loader`, so you can skip Tag Pluck and use `require` directly.
https://github.com/ardatan/graphql-tools/blob/master/packages/loaders/code-file/src/index.ts#L111

[2020-06-04 08:32] ardatan commented on #4128
@dotansimha This should be fixed in latest GraphQL Tools.

@xdumaine Could you update your graphql codegen to the latest version and try again?

[2020-06-04 08:33] #4128 closed

[2020-06-04 08:37] dotansimha commented on #4095
You are right @ardatan :) @pavittarx your custom loader file should look like that:

[code]

And the codegen config file:

[code]

I'll update the docs now!

[2020-06-04 08:37] #4095 closed

[2020-06-04 19:42] mikefisher84 opened #4171 "Consume Schema from Apollo Graph Manager"
Apollo Engine/Graph Manager is the published source of truth for our GraphQL schema. I'd like to automatically generate my typescript types based on the information in Apollo Engine/Graph Manager

**Describe the solution you'd like**
I'd like for graphql-code-generator to be able to pull down the schema from Apollo Engine/Graph Manager. I'd also like to be able to specific the schema variant if po

[2020-06-04 22:19] Pytal opened #4173 "TypeScript-Urql generates subscription hook without operation result types"
**Describe the bug**
The data returned by the useSubscription hooks generated by TypeScript-Urql are typed as `any` when they should be typed as the operation result type.

See PR #4174

[2020-06-05 01:24] iwakoscott commented on #2736
I've followed the steps above but am still getting an issue. I am trying to `extend type Mutation` and `extend type Query` with my own custom mutations and queries however, I keep running into an issue where -

[code]

but in my `client-schema.graphql` I've added -

[code]

any ideas what I am doing wrong?

[2020-06-05 02:15] ron-liu commented on #3573
@ardatan I tried the latest codegen version, seems the issue still there. Could you have a look further, thank you.

[2020-06-05 04:26] wuichen commented on #4143
@dotansimha the error I was seeing is duplicated fragment docs from the generated files. I had two of the library inside cuz I was experimenting using apollo queries and also wrapping graphql calls in rest endpoints.

[2020-06-05 08:09] fetis commented on #4109
ah, you're right. in my original code filename had a type but config was fine.
thank you for your help!

[2020-06-05 08:35] ardatan commented on #2736
@iwakoscott Could you create a new issue with a reproduction repo or CodeSandbox?

[2020-06-05 08:44] lkleuver commented on #3990
@dotansimha it looks like my original reprorepo still shows the 'bug'
https://github.com/lkleuver/graphql-codegenerator-test

[2020-06-05 09:19] ardatan commented on #4171
@mikefisher84
We already have this feature for a while;
https://github.com/dotansimha/graphql-code-generator/issues/3047

[2020-06-05 09:22] ardatan commented on #3573
My bad. You need to add `noPluck: true` configuration option.
[code]

[2020-06-05 17:24] iwakoscott commented on #2736
@ardatan so, the reason why this is happening in my case I realized, is that I am using Hasura for my data. Hasura names their root Queries and Mutations like so -

<img width="242" alt="image" src="https://user-images.githubusercontent.com/13685868/83905550-b3730480-a716-11ea-941a-fc01e055d04e.png">

[2020-06-05 17:50] mikefisher84 commented on #4171
Thanks for the heads up! This feature doesn't seem to be documented.

[2020-06-05 18:11] ardatan commented on #4171
Yes you're right. We haven't documented it yet :( Default value for endpoint has been added but I think it is not in the codegen yet.
I'll take a look at the issue and keep you posted.

[2020-06-06 18:19] ggascoigne commented on #4143
I can confirm that upgrading to v1.15.1 fixes my problem - thank you for digging into this so promptly.

[2020-06-08 14:15] CarlosGines opened #4188 "Specific `namingConvention` option for `typescript-react-apollo` generated documents"
**Is your feature request related to a problem? Please describe.**
We would like to have a specific naming convention for documents generated by `typescript-react-apollo`.

Right now they fall under the category `typeNames` when it comes to the `namingConvention` config. So for example we cannot use SCREAMING_SNAKE_CASE for documents (constants), but keeping PascalCase for types.

**Describe the s

[2020-06-08 15:37] dotansimha commented on #4157
@theomjones we'll release a new version very soon. You can use `1.15.2-alpha-a94cba0a.0` in the meantime.

[2020-06-08 17:49] joshjg commented on #3858
[code]

I checked `graphql-tag-pluck` and saw that it won't work for this case because it compares against the original import name (`default`), not the aliased name.

https://github.com/ardatan/graphql-tools/blob/8f01f468303d9b2bf822ca4d1449d84f9a2b73bd/packages/graphql-tag-pluck/src/visitor.ts#L212

[2020-06-08 21:48] oceandrama commented on #4120
@dotansimha LGTM

[2020-06-09 07:43] dotansimha commented on #3858
That makes sense, thanks @joshjg !
@ardatan can you please take a look? I think we should check for the alias as well.

[2020-06-09 08:30] dotansimha commented on #4120
I'm not sure where to apply it, because we can't use `Exact` (`type Exact<T, R> = T extends R ? R extends T ? T : never : never`) over the original variables type, since it requires the function call to get the `T` (the actual passes variables).

In this case I guess we'll need to modify it on the level of the function call (hooks/hoc/components, and in each plugin - react / apollo / others).

@ka

[2020-06-09 08:52] kamilkisiela commented on #4120
@dotansimha or [like this](https://www.typescriptlang.org/play/?ssl=1&ssc=1&pln=27&pc=10#code/C4TwDgpgBAogtmU9EgOoEtgAsCyEDO+AhgObQC8UA3gFBRQDaA1hCAFxT7ABO6AdiQC6HAHIB7AGpEANgFdoAHyh8IANwjcA3DQC+2mhAAeYMd2BQAxmL5dlkmfLyFSFOlADkAd2hHIF83xiUKoO0FgaEACEkQCM7tqgkFDiUnIUUIkQYgBmdqmOBMRk+tmyfP7o1lBEABQARgD8HMhICKAY2E5FEACUHER8INQ6NDS1VDo9mlAA9DNQYkxjNVRQdRxlACYQ2fwQmwA0UABMHDHHUJOz8xrcpst8stLSU9dQt-e1PW

[2020-06-09 15:01] dotansimha commented on #4120
Thanks @kamilkisiela . I created a PR for wrapping all variables in `Exact` type:
https://github.com/dotansimha/graphql-code-generator/pull/4194

@oceandrama can you please try the alpha version? `1.15.2-alpha-0b6c3cb0.0`

[2020-06-09 15:15] austincollinpena commented on #3437
For those who were still having issues, my problem was that I changed the port my backend instance was running on so it couldn't find my /graphql endpoint. I fixed the URL and it got fixed.

[2020-06-09 15:23] ardatan commented on #4171
@mikefisher84 Could you fix the indentation like below;
[code]

[2020-06-09 15:28] dotansimha commented on #3573
@ron-liu I'm closing. `noPluck` solves that :)

[2020-06-09 15:28] #3573 closed

[2020-06-09 15:36] mikefisher84 commented on #4171
Thanks Adra! I just copy and pasted what you wrote and now have a new error:

[code]

[2020-06-09 15:38] dotansimha commented on #3990
I think the fixes of @cahilfoley works.  Thank you!
@lkleuver I tested it with your repo and it seems to work correctly. (`1.15.2-alpha-2e49bc0f.0`).

We'll release it very soon :)

[2020-06-09 15:41] ardatan commented on #4171
Are you using the latest version of codegen?
@mikefisher84

[2020-06-09 15:54] mikefisher84 commented on #4171
Ha nope I wasn't @ardatan I updated and am getting a new error

[code]

I just looked at the changelog for `v1.15` and noticed this section
[code]

So I installed the yaml plugin in VS Code and I'm getting two yaml linting errors.
# Property engine is not allowed
# Property client is not allowed
[code]

[2020-06-09 15:58] dotansimha commented on #4171
@mikefisher84 I'll fix that later, you can ignore that error for now, it's just a IDE validation.

[2020-06-09 15:58] mikefisher84 commented on #4171
Thanks @dotansimha however it still seems to not generate the types with the config that @ardatan posted.

[code]

[2020-06-09 16:04] ardatan commented on #4171
[code]

[2020-06-09 16:05] ardatan commented on #4171
Could you try the following?
[code]

[2020-06-09 16:10] mikefisher84 commented on #4171
Thanks @ardatan getting closer. Now I'm getting a 406 error.

[code]

I have my APOLLO_KEY in a .env file which is where the apollo tooling looks for it. I'm noticing that if I comment out my APOLLO_KEY in the .env file and rerun codegen I get the same error. Not sure if that's relevant or not.

[2020-06-09 16:15] ardatan commented on #4171
@mikefisher84 Could you enter that key by hand without using env variable?

[2020-06-09 16:19] mikefisher84 commented on #4171
@ardatan boom got it! I had to make two changes.

One I had to paste the API key like you said.
However I was getting an error: "Cannot read property 'schema' of null"

Then I changed `graph: service:garbanzo` to `graph:garbanzo` and it worked.

Any idea how I can setup the APOLLO_KEY in a more sustainable way than just pasting it in the codegen.yml? Because that file will be checked into source c

[2020-06-09 16:49] dotansimha commented on #4171
@mikefisher84 Great!
Btw, Are you using `dotenv` to load the environment variables? because if so, please follow: https://graphql-code-generator.com/docs/getting-started/require-field#dotenv-integration

[2020-06-09 16:52] mikefisher84 commented on #4171
Awesome I'll give that a shot. Thanks for the help @ardatan and @dotansimha you guys are awesome!

[2020-06-09 16:55] dotansimha commented on #4171
Keeping this open until we'll add docs to it. Thank you for reporting it @mikefisher84 !

[2020-06-09 17:16] dotansimha opened #4197 "Missing configuration in JSON schema"
Tracking here the missing features in the `codegen.yml` schema validation (the JSON schema). Feel free to comment if you find anything else that missing or specific configuration keys that should be documented.

- [x] Add `noPluck` to code-file schema loader
- [x] Add `noRequire` to code-file schema loader
- [x] Document `skipDocumentsValidation` under `config`.
- [x] Add Prisma loader to `schema`

[2020-06-09 17:16] dotansimha commented on #4171
Let's track it here: https://github.com/dotansimha/graphql-code-generator/issues/4197

[2020-06-09 17:16] #4171 closed

[2020-06-09 17:44] jer-sen commented on #4131
@dotansimha did you have time to deeper investigate the issue ?

[2020-06-09 19:36] oceandrama commented on #4120
@dotansimha I've tried both `alpha-0b6c3cb0.0` and `alpha-a841e8b0.0` and saw no changes
[code]

[2020-06-09 19:42] oceandrama commented on #4120
[code]
works, but I still have
[code]
all other variables type with some fields wrapped by `Exact`

[2020-06-10 06:46] dotansimha commented on #3858
@joshjg I checked it again and added tests for it.

If you are using `import { default as foo } from 'graphql-tag';`, your configuration should be:

[code]

The logic of graphql-tag-pluck seems correct, because [it looks for the identifier](https://github.com/ardatan/graphql-tools/blob/ae7c968deb2e6f51024a385abfc6455c0db5a5df/packages/graphql-tag-pluck/src/visitor.ts#L212), but then [uses the loca

[2020-06-10 06:54] dotansimha commented on #4120
@oceandrama all your `@graphql-codegen/...` packages should use the same version.

Btw, we released a stable version with this fix - it's `v1.15.2`. If you are still having issues, please let us know, and please share a reproduction.

[2020-06-10 06:55] dotansimha commented on #3990
Fixed in `v1.15.2`

[2020-06-10 06:55] #3990 closed

[2020-06-10 06:55] dotansimha commented on #4173
Fixed in `v1.15.2`

[2020-06-10 06:55] #4173 closed

[2020-06-10 06:55] dotansimha commented on #4157
Fixed in `v1.15.2`

[2020-06-10 06:55] #4157 closed

[2020-06-10 06:56] dotansimha commented on #4143
Fixed in `v1.15.2`

[2020-06-10 06:56] #4143 closed

[2020-06-10 06:56] dotansimha commented on #4140
Fixed in `v1.15.2`

[2020-06-10 06:56] #4140 closed

[2020-06-10 06:56] dotansimha commented on #4110
Fixed in `v1.15.2`

[2020-06-10 06:56] #4110 closed

[2020-06-10 06:56] dotansimha commented on #4141
Fixed in `v1.15.2`

[2020-06-10 06:56] #4141 closed

[2020-06-10 06:56] dotansimha commented on #4129
Fixed in `v1.15.2`

[2020-06-10 06:56] #4129 closed

[2020-06-10 06:56] dotansimha commented on #4098
Fixed in `v1.15.2`

[2020-06-10 06:56] #4098 closed

[2020-06-10 07:19] oceandrama commented on #4120
@dotansimha wait, wait, wait. It doesn't work. I've tested alpha-version and wrote that `Exact` is wrapping only types with some fields. I still have just `{}` in query without variables. Why did you release that?

[2020-06-10 07:32] dotansimha commented on #4120
@oceandrama I thought you had a missmatch with versions, didn't notice that `{}` it not being wrapped (in case there are no vars at all).
Will fix and release again 👍

[2020-06-10 07:35] oceandrama commented on #4120
Thank you

[2020-06-10 07:49] dotansimha commented on #4120
We changed `{}` to be `Exact<{ [key: string]: never; }>`, this will make sure that no other fields are being used, and also gives a nice TS error when field isn't known.

https://github.com/dotansimha/graphql-code-generator/pull/4201

[2020-06-10 07:53] dotansimha commented on #4120
@oceandrama can you please try `1.15.3-alpha-a0eddf41.0`?

[2020-06-10 08:41] lanwin commented on #4118
@dotansimha to come back on that. Should I create a new issue to suggest to override options on a Type/Field level?

[2020-06-10 19:25] ricokahler opened #4206 "Type 'GraphQLSchema' is missing the following properties from type 'DocumentNode': kind, definitions"
**Describe the bug**

I'm passing in a GraphQLSchema from `buildClientSchema` like so:

![image](https://user-images.githubusercontent.com/10551026/84308280-3ab3e400-ab2c-11ea-94b8-84864e0da61e.png)

[`buildClientSchema`](https://github.com/graphql/graphql-js/blob/4a9b8bad6880fee63997913ff7e950014a936873/src/utilities/buildClientSchema.d.ts#L20) returns the type [`GraphQLSchema`](https://github.co

[2020-06-10 19:59] #4206 closed, assigned to nobody

[2020-06-10 22:46] lecstor commented on #3174
So this didn't fix the issue I was having, but it did make it obvious where the issue was which I was unable to decipher before that.
After I fixed the issue I was able to remove it again.

[2020-06-11 07:34] dotansimha commented on #3985
Just a small fix: in case of explicit values for `enumValues`, we do need to generate enum resolvers, but in a different structure that forces the specific value of each enum value. Fixed it 👍 Also, added support for doing the same with `mappers` set for the enum, not just `enumValues`.

Also, fixed in for `flow-resolvers` plugin.

The latest alpha is available as `1.15.3-alpha-30577e3d.0`.

[2020-06-11 08:23] dotansimha commented on #4206
This was due to an incorrect usage back then. We are dragging this for a long time.
We'll for sure fix it in v2 (https://github.com/dotansimha/graphql-code-generator/discussions/3955)

[2020-06-11 08:34] darkbasic commented on #3979
@dotansimha it looks like it works if you return a union on the top level of a query, but if you return a type which returns a union (like for example a paginated list) it won't

[code]

In the previous example `simple` will work, but `paginated` won't.

[2020-06-11 08:42] dotansimha commented on #3979
I think maybe `Omit` is missing there? I'll add a test to make sure. Thanks @darkbasic

[2020-06-11 09:02] dotansimha commented on #3979
@darkbasic still not able to reproduce....

I have this schema, with an explicit usage of the union, but also a proxied one:

[code]

I created mappers for the types only:

[code]

The output code is:

[code]

And the resolvers code is using `Omit` correctly to replace all usages of the union original type, and replace it with the resolvers relevant types (see `UnionProxy`).

Also, the `Query` typ

[2020-06-11 10:05] darkbasic commented on #3979
@dotansimha unfortunately the codesandbox gives me 502, so I uploaded a repro on github: https://github.com/darkbasic/codegen-gh3979

Try to comment out the following (https://github.com/darkbasic/codegen-gh3979/blob/master/codegen.yml#L14) and `paginated` will error out because of typings (https://github.com/darkbasic/codegen-gh3979/blob/master/src/resolvers.ts#L18)

[2020-06-11 12:43] KnisterPeter commented on #2912
@dotansimha This is missing in the docs. It is really helpful if used in a monorepository as well. :rocket:

[2020-06-11 14:21] dotansimha commented on #3985
Available in `v1.15.3`.

[2020-06-11 14:21] #3985 closed

[2020-06-11 14:21] dotansimha commented on #4120
Fixed in `v1.15.3`.

[2020-06-11 14:21] #4120 closed

[2020-06-11 14:58] azuxx opened #4211 "Installation: Deprecation warning about @graphql-toolkit/common@0.10.7 dependency suggesting GraphQL Toolkit is deprecated"
Hello, here's some warning related to your cli when doing yarn install for my react native app.

**Describe the bug**

[code]

**To Reproduce**

package.json of the react native app.

[code]

How can I fix this issue?
Thanks,

[2020-06-11 14:58] lewebsimple commented on #4120
How long does it take to get the latest release published on NPM ?

[2020-06-11 15:04] dotansimha commented on #4120
@lewebsimple It should be available now (`v1.15.3`), sorry for the delay, we had a minor bug in our CI :D

[2020-06-11 15:06] dotansimha commented on #4211
Thanks @azuxx !
It seems like an outdated version in `graphql-config` that causes that, because GraphQL Codegen is up-to-date and uses new `@graphql-tools/`.
In terms of compatibility, no need to worry, we deprecated `@graphql-toolkit/` packages and just moved everything with the same code to `@graphql-tools/` scope.

@kamilkisiela I think you should update `graphql-config` to use latest `@graphql

[2020-06-11 15:14] lewebsimple commented on #4120
Don't know if it's related to this issue, but I'm still getting TS `@typescript-eslint/ban-types` errors like in the following:
[code]
Can I safely ignore that ?

[2020-06-11 15:17] dotansimha commented on #4120
@lewebsimple no need to run lint rules on generates files. It's endless :)

I recommend you to use `@graphql-codegen/add` plugin and do something like that:

[code]

And btw, if you are not using schema-stitching resolvers, you can turn it off by adding:

[code]

[2020-06-11 16:09] helios1138 opened #4212 "[typescript-operations] Arrays nested inside named fragments are not merged together"
Arrays nested inside named fragments are not merged together

for example, given the schema
[code]
and operations
[code]
in the generated code
[code]
you get an error

Which is incorrect since both `Object1` and `Object2` fragments are on the same type `Object` and are merged together in the graphql, so the field `item.name` is present at runtime

I'm guessing the problem stems from the fact that

[2020-06-11 19:26] Ryan-Knowles commented on #1617
I just stumbled upon this issue in writing my angular tests with apollo-graphql. This solution worked for me. Thanks!

[2020-06-12 02:11] madsrode opened #4214 "[c-sharp] Properties is missing ? (nullable) when graphtype is allowing null and the same for deprecated"
**Describe the bug**
When a field is marked as nullable and/or deprecated is it correctly generated in ex. typescript, but in C# is both missing from the generated file.

**To Reproduce**
Steps to reproduce the behavior:
Sandbox link: https://codesandbox.io/s/lingering-paper-0zysu

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expecte

[2020-06-12 06:31] cklam2 commented on #4214
Indeed. Also probably due to the missing nullable marker I see quite some warnings in the generated types file. For example
[code]

Warning shown for this excerpt:
[code]

[2020-06-12 07:37] paales opened #4216 "GraphQLError: Unknown field '__type' on type 'Query' when using flattenGeneratedTypes"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

Create a GraphQL file that is valid GraphQL:
[code]

See the error while generating:
https://codesandbox.io/s/distracted-yonath-hhbqi?file=/package.json

[code]

**Expected behavior**
I would expect it to work as the __type query should be available in _any_ schema, right?

**Environment:**
sandbox

**Additional context**

[2020-06-12 09:39] ardatan commented on #4216
This error is coming from Relay Compiiler. So I am not sure if we have anything to do with this situation.
@dotansimha What do you think?

[2020-06-12 09:58] KnisterPeter opened #4219 "Allow config hooks to be functions if used cli programatically"
**Is your feature request related to a problem? Please describe.**

I would like to execute a function when a watch is triggered.
I could do so with using the `onWatchTriggered` hook, but this only executes commands.
It is a very big overhead to spawn a new node process if this happens often and a function would help here to run the thing in process.

**Describe the solution you'd like**

I would

[2020-06-12 10:18] paales commented on #4216
This might be the solution, will try that out:
https://github.com/facebook/relay/issues/1715#issuecomment-613086318

[2020-06-12 14:29] cklam2 opened #4221 "[c-sharp-operations] suffixes for query, mutation and subscription don't work"
**Describe the bug**
According to the documentation from [c-sharp-operations](https://graphql-code-generator.com/docs/plugins/c-sharp-operations) you can use the `querySuffix`, `mutationSuffix` and `subscriptionSuffix` to customize the suffix value (default GQL) but setting a value in codegen.yml doesn't have any effect on the output.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to htt

[2020-06-12 16:41] lanwin commented on #4118
@dotansimha I now also testet the scalar route. It works quiet well but I run pretty fast into the issue that I can not handle Lists with that and not even complex objects.

[2020-06-12 18:30] seanaye opened #4223 "Headers not sending correctly to Hasura Endpoint"
**Describe the bug**
I have followed the docs to setup sending the `x-hasura-admin-secret` header to my hasura endpoint. It can produce generated output for unauthenticated queries but not for ones that require authentication. It appears as if the header is not being set correctly

**To Reproduce**
Steps to reproduce the behavior:
1.
[code]
2. Make authenticated request to a hasura endpoint

These

[2020-06-12 18:53] ardatan commented on #4223
Indentation seems wrong in your configuration file `headers` should be under your endpoint url like below.
[code]

[2020-06-12 19:49] seanaye commented on #4223
@ardatan really strange, it had 2 spaces of indentation, same as all other lines. Changing it to 4 spaces fixed the issue. Thanks

[2020-06-12 19:49] #4223 closed

[2020-06-12 22:33] xiaoyu-tamu opened #4226 "export Exact type only once"
**Is your feature request related to a problem? Please describe.**
[code]

I'm using near-operation-file plugin, After upgrading to 1.15.3, all generated files have

`export type Exact<T extends { [key: string]: any }> = { [K in keyof T]: T[K] };`.

I like to export all generated files in index.ts file, so other component can import it without nested import path.

[code]

But the problem is they a

[2020-06-13 14:12] aryzing opened #4227 "No longer reporting in console location of documents with issues"
**Describe the bug**
When a document has an issue, eg. querying a field that doesn't exist, the tool would previously report the location of the offending file. Now it just reports the error, and I have no idea which document the error is in.

**To Reproduce**
Run `yarn generate` in the [reproduction repo in sandbox for this issue](https://codesandbox.io/s/brave-spence-smcvq?file=/document.graphql

[2020-06-13 20:44] paales commented on #4216
Ok, i've solved the introspection error in another way (exclude it from graphql-code-generator). But now I'm running into the following error:

[code]

I tried to recreate it in the sandbox but can't get it to error out. Any ideas?

[2020-06-14 00:45] ggascoigne opened #4230 "Feature: support typescript option importsNotUsedAsValues"
Typescript 3.8 adds support for type only imports.  I would be nice if there was an option to allow the generated code to contain:

[code]

instead of

[code]

This is mostly coming up because recent versions of snowpack use this default.

[2020-06-14 08:34] paales commented on #4216
I've recreated the error: https://codesandbox.io/s/distracted-yonath-hhbqi

[2020-06-14 10:08] adostal opened #4231 "Incorrect generate variables"
Hi,
I use new version 1.15.3 with TypeScript.

In this version is bug with generate variables. Now is:
[code]

YAML scheme:
[code]

Example code:
[code]

When I use query, my variables is incorrect:
[code]

[2020-06-14 10:31] #4231 closed

[2020-06-14 10:31] adostal commented on #4231
Sorry, my mistake.

[2020-06-14 16:05] ardatan commented on #4216
@paales In your reproduction I am having a different error;
[code]

Actually this error is correct because your schema is invalid; `User` should implement `ÙserInterface` completely. Also you need to fix your configuration file as well because `typescript-react-apollo` needs`typescript` and `typescript-operations` plugins together with it.

[2020-06-14 21:07] johnnyBira opened #4233 "Near operation fails to import fragment query with `typescript-document-nodes` plugin"
**Describe the bug**
Near operation file fails to import fragment query.
I have a directory where I wish to store queries and fragment which I want to reuse in my near operation files.
Queries generated from fragments in this direcotry are not imported correctly by files generated from near operation files. The type is imported correctly from this correct directory, but the queries are not.

**To

[2020-06-15 05:23] dotansimha commented on #4226
You are right, @xiaoyu-tamu . Thank you for reporting this!

[2020-06-15 05:59] dotansimha commented on #4230
Hi @ggascoigne !
Let's track it here: https://github.com/dotansimha/graphql-code-generator/issues/3695

[2020-06-15 05:59] #4230 closed

[2020-06-15 06:09] dotansimha commented on #4227
@ardatan It seems like an issue with `graphql-tools`. Can you please take a look?
In the example @aryzing shared, it looks like the issue is coming from the `checkValidationErrors` - this method swallows the error details. In the original `GraphQLError` it seems like it exists:

[code]

[2020-06-15 07:38] dotansimha commented on #4226
I guess the only way to avoid this, it to put the `Exact` type near `Maybe` (in `typescript` plugin).

I've changed it in this PR: https://github.com/dotansimha/graphql-code-generator/pull/4235

@xiaoyu-tamu can you please try the alpha version `1.15.4-alpha-622ea4d0.0`?

[2020-06-15 07:44] dotansimha commented on #4212
Thanks @helios1138 , I'm trying to fix it now :)

[2020-06-15 10:20] paales commented on #4216
@ardatan
- Whoops, fixed the UserInterface.id error.
- I've always ran without typescript and typescript-operations and it works as expected. I've added them in the demo for convenience.

Now the only error we have is `TypeError: parentType.isTypeOf is not a function`:

![Schermafbeelding 2020-06-15 om 10 01 43](https://user-images.githubusercontent.com/1244416/84632524-541fac00-aeef-11ea-96fe-f94

[2020-06-15 15:16] gaelollivier opened #4236 "Namespace import doesn't work with babel typescript"
Since [this change](https://github.com/dotansimha/graphql-code-generator/pull/3651) introduced in `v1.13.1`, enum imports use the `import = ` typescript syntax, which is not supported by `@babel/plugin-transform-typescript` (see caveat 3: https://babeljs.io/docs/en/next/babel-plugin-transform-typescript.html#caveats)

I use `@babel/plugin-transform-typescript` to run my typescript tests with Jest,

[2020-06-15 17:11] xiaoyu-tamu commented on #4226
@xiaoyu-tamu Yes, it works

[2020-06-15 19:48] id-ilych commented on #3650
@dotansimha Hello there. Any news?)

[2020-06-15 20:15] ardatan commented on #3650
Skipping document validation might allow this but leaving frontend broken until backend is deployed seems a little bit dangerous to me because frontend's codegen configuration should already point to staged or development version of backend not production because it is a build time process not runtime. So I am not sure breaking the connection between operations and schema like this is a good idea.

[2020-06-15 22:15] id-ilych commented on #3650
@ardatan there is no broken fronted in the process I described. The failing check described in the OP does not indicate broken contract. Runtime will handle then query just fine.

[2020-06-16 01:23] ardatan commented on #3650
@id-ilych You're right. I tried with vanilla GraphQL JS and it worked.
@dotansimha I think we can support this case in operation level. See the example. Even if it is unreached fragment, it is still handles by GraphQL JS.
https://codesandbox.io/s/frosty-mayer-dqq6m?file=/src/index.js
So that means inline fragments should be handled seperately and people should be able to bypass the validation with

[2020-06-16 02:13] MrBlenny opened #4241 "Add named sub/child types to query/mutation/subcription results"
First, let me say - this is a fantastic library which has really improved by graphql experience. One issue I often have... I'll have a query/subscription or mutation which returns child entities. Eg)

[code]

This will generate the following code:

[code]

I'll then often have to use the type of the child somewhere, for example in a react component that just deals with rendering the child. I try a

[2020-06-16 08:54] cklam2 commented on #4214
Attempting to solve this + some other improvements:
- Nullable markers for fields that use value type and are optional (so no support yet for nullable reference types)
- Null check only for nullable value types and reference types
- Mark field obsolete when the @deprecated decorator found
- Comment header. Currently only for fields, hopefully can do it for all fields/classes, etc
- Boolean => bool

[2020-06-16 09:05] helios1138 commented on #4212
@dotansimha thank you very much!

Regarding `flattenSelectionSet`: can't find this option in the documentation. Did you mean `flattenGeneratedTypes`? If yes, I've tried that and unfortunately, it would not work for me as it avoids generating fragment types altogether and my code relies on them. Also, it does not actually work in my project (I've only tried it on simple examples) as I'm getting an

[2020-06-16 09:19] zerkalica commented on #1935
I need place null-garbage in ts interfaces for gql query-generated types, need an optional non-nullable type in gql.

[code]

[2020-06-16 09:38] id-ilych commented on #3650
@ardatan Thank you :) By any chance, could it be a configuration to disable specific rule rather than whole document validation feature? Ideally, some comment to disable the check for specific query/line in the query literal. Something in the spirit of `/* tslint:disable:rule1 rule2 rule3... */`.

[2020-06-16 09:40] ardatan commented on #3650
@id-ilych If this is available in graphql js, yes :)

[2020-06-16 14:44] mdugue commented on #2929
@dotansimha any news on this? I think a hint on the file and line of code would be very helpful

[2020-06-16 14:48] ardatan commented on #2929
See;
https://github.com/dotansimha/graphql-code-generator/issues/4227

[2020-06-17 05:31] mdugue commented on #2929
thanks for the hint!

[2020-06-17 06:29] dotansimha commented on #4212
@helios1138 yeah you are right, it's `flattenGeneratedTypes`, and it does fields optimization, so it might simplify the output for your (but yeah, remove fragments...). Can you share a reproduction for that error?

@kamilkisiela tried to help me with a way to merge the fragment objects. It seems like `A & B` in TS doesn't merge array items correctly, so we might need some helpers for that.

[2020-06-17 06:31] dotansimha commented on #4241
Hi @MrBlenny !
This was discussed a long ago here, please read this for tips and solutions: https://github.com/dotansimha/graphql-code-generator/issues/2735#issuecomment-541289099

Basically, this works in your example, but in large projects, those types are getting duplicated, and you get non-readable types (`User_Something_Something_Something_1`) and so on, and far more complex to maintain.

[2020-06-17 06:31] #4241 closed

[2020-06-17 06:32] dotansimha commented on #4233
I'm not sure `typescript-document-nodes` supports presets mode, we need to check that.
I can suggest a workaround - you can use `typescript-react-apollo` and turn off all `withXX` flags and it might work.

[2020-06-17 07:26] johnnyBira commented on #4233
Hi @dotansimha !
Not sure I understood you correctly but this is what I got now:
https://codesandbox.io/s/smoosh-haze-j5j28?file=/codegen.yml

Still dosen't seam to solve the import problem I'm afraid, and I would like to use some of there `with` features in my projects codegen setup.
What would be the recommended way to reuse fragments across multiple graphql files?

[2020-06-17 12:11] cklam2 opened #4248 "[c-sharp] plugin may produce invalid C# code"
**Describe the bug**
Some field names in the schema may contain [reserved keywords](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/) in C#. When generating code from such schema it will result in invalid C# code. Example reserved keywords are `do`, `in`, `as`, `int`, `protected`, etc.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[co