[2021-06-23 15:44] umpox opened #6178 "`@include` and `@skip` generate incorrect types when `preResolveTypes: true`"
**Describe the bug**
When using `@include` or `@skip` the `Array` type is lost. E.g. `Array<string>` becomes `<Maybe<string>>` instead of `<Maybe<Array<string>>`

**To Reproduce**
Steps to reproduce the behavior:

Live reproduction: https://codesandbox.io/s/fervent-dijkstra-ub9hg

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected

[2021-06-24 09:33] n1ru4l commented on #6149
I created some test operations that should all cause this issue:

**Schema**
[code]

**Operations**
[code]

[2021-06-24 10:28] n1ru4l commented on #6149
Hey @chrbala, could you please explain your use case further? Deep merging fragment types seems to be a very complex problem.

In a framework such as relay, fragments are meant to describe data requirements of specific application components. Re-using fragments across multiple application components is considered an anti pattern

Here a small React example:

**UserFriendList.tx**

[code]

**Unfrie

[2021-06-25 04:58] dotansimha commented on #3417
Exactly, the client will never know about the `interface` so you need to deal with the types generated based on your query/selection-set.
Fragments are useful for other use-cases and make it easier to create "building blocks" that create complex queries. We translate these into types because it's named, and it's keeping the usage simple.

[2021-06-25 05:00] dotansimha commented on #6084
This was fixed in Apollo-Client (https://github.com/apollographql/apollo-client/pull/8423), so regular setup of codegen should work the same now, even without https://github.com/dotansimha/graphql-code-generator/pull/6152 . We can close this one :)

[2021-06-25 05:00] #6084 closed

[2021-06-25 06:55] mantou132 opened #6188 "Duplicate identifier for gitlab graphql api"
Duplicate Identifier when I use Gitlab's GraphQL API, codegen.yml:
[code]

src/services/gitlab.graphql:
[code]

<img width="842" alt="Screen Shot 2021-06-25 at 2 50 12 PM" src="https://user-images.githubusercontent.com/3841872/123382555-a72d4400-d5c4-11eb-933d-151727de160b.png">

[2021-06-25 06:59] mantou132 commented on #6188
Repeated problem: https://github.com/dotansimha/graphql-code-generator/issues/642#issuecomment-495919863

[2021-06-25 06:59] #6188 closed

[2021-06-25 08:17] n1ru4l commented on #6149
Hey @chrbala, I created https://github.com/dotansimha/graphql-code-generator/pull/6184 which changes the default behavior to generate more friendly types for all use-cases.

You can install the changes of the PR locally via

[code]

(as new commits are pushed the list of packages is updated [over here](https://github.com/dotansimha/graphql-code-generator/pull/6184#issuecomment-867851741)

Please l

[2021-06-25 11:01] selrond opened #6189 "Website broken on Firefox"
working on Mac chrome & safari

https://user-images.githubusercontent.com/6603389/123415381-7691de00-d5b5-11eb-9d5b-19a63cfc1323.mp4

[2021-06-26 09:17] raymclee opened #6191 "typescript-react-query getServerSideProps"
**Describe the bug**

Using getKey function inside getServerSideProps will cause below error. It works as expect if passing null to it.

Error serializing `.dehydratedState.queries[0].queryKey[1]` returned from `getServerSideProps` in "/b".
Reason: `undefined` cannot be serialized as JSON. Please use `null` or omit this value.

is it better to set a default value to getKey function as null?

**To

[2021-06-26 20:41] sunaulo-suhail opened #6194 "Enum is being treated as `string` in typescript mongodb plugin"
**Describe the bug**

Enum is being treated as `string` in typescript mongodb plugin
**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple **@entity** with a **@column** with enum value.
2. Generate the schema with `typescript` & `typescript-mongodb` plugin

## Codesanbox link: [Click here](https://codesandbox.io/s/cocky-fast-h3fyt?file=/schema.graphql)

**My GraphQL schema**:

[cod

[2021-06-27 12:19] dotansimha commented on #6189
Thanks! @entbit any idea why it happens?

[2021-06-28 12:55] entbit commented on #6189
@dotansimha will investigate it later today.

[2021-06-28 14:57] fubhy opened #6199 "Suggestion: Prefer TypeScript interfaces over type intersections"
**Is your feature request related to a problem? Please describe.**
There is a significant performance downside to generating complex type intersections that inherit and mutate around each other instead of statically generating more verbose, self-contained interfaces. The negative performance impact is further amplified by using Omit / Pick excessively. In addition to the performance impact, I'd al

[2021-06-28 15:00] ardatan commented on #6199
Sounds interesting. We'd love to accept any PRs

[2021-06-28 15:01] fubhy commented on #6199
I saw that there was an issue for this in 2019 already: https://github.com/dotansimha/graphql-code-generator/issues/1716 that was closed. I'd like to bring this up again regardless because the original creator did not raise the performance issue in his post.

I ran a codemod on our codebase's generated types to refactor some (not all) of the generated types to interfaces yesterday and   that broug

[2021-06-28 18:30] ardatan commented on #6199
We have two different configuration options that might help; `declarationKind: interface` and `preResolveType: true`

[2021-06-28 19:16] fubhy commented on #6199
Ah yeah I experimented with those settings a bit but what I would love to get rid of are structure like this:

[code]

Instead of deriving the types for the hook return values for a specific query from these "base" types of the schema, I'd love to see graphql-codegen produce these as fixed interfaces too. They are generated after all so there's no benefit (e.g. avoiding repetition if you'd manuall

[2021-06-28 19:26] fubhy commented on #6199
I understand that the more verbose output seems a bit redundant at first and it certainly is. Especially considering that you'd likely still want to generate dedicated interfaces also for each individual fragment type. But instead of then producing a bunch of intersection types from these I'd rather have the full query return types declared as flat interfaces too. Both for readability, coherent ty

[2021-06-28 19:56] sunaulo-suhail commented on #5517
Any update on this?

[2021-06-28 20:23] mattoni commented on #3417
I think this changes the query quite a bit and isn't what I'm trying to accomplish. If I have `FinalizedLogin | ServerError| ValidationError`, I want to distinguish between a ServerError and a ValidationError, on a type level. Now say I add `Unauthenticated` or something. My old clients could crash, despite the query working by doing an `... on ErrorInterface`. I want to have the same thing, say a

[2021-06-28 21:41] ardatan commented on #6199
@fubhy I think this is what we have right now without `Pick` at least.
https://codesandbox.io/s/inspiring-black-7czks?file=/types.ts
But we'd love to accept a PR that improves `preResolveTypes` behavior

[2021-06-29 05:10] hachibeeDI commented on #5949
If I understand correctly, the thing @mastorm pointing is serialization/deserialization and type safety.
We can declare scalars map like `DateTime: MyDateTime ` and it looks working fine in compile time but runtime because there is no serialization process from `string` to `MyDateTime`.

To work around, I'm using Branded Type:

[code]

and declare `scalars`:

[code]

then write a serializer from M

[2021-06-29 05:53] dotansimha commented on #6191
Hi @raymclee and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md?rgh-link-date=2021-05-12T15%3A41%3A28Z#a-typical-contributor-workflow).

It seems like we are on `stage 0`.
Now in order to advance to `stage 1` we'll need an easily running r

[2021-06-29 06:08] dotansimha commented on #6174
@ardatan this might be something we can solve in `graphql-tools`?

[2021-06-29 06:13] dotansimha commented on #6177
Hi @jakubmazanec  and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md?rgh-link-date=2021-05-12T15%3A41%3A28Z#a-typical-contributor-workflow).

It seems like we are on `stage 0`.
Now in order to advance to `stage 1` we'll need an easily runn

[2021-06-29 06:13] dotansimha commented on #6173
Hi @timothyarmes  and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md?rgh-link-date=2021-05-12T15%3A41%3A28Z#a-typical-contributor-workflow).

It seems like we are on `stage 0`.
Now in order to advance to `stage 1` we'll need an easily runn

[2021-06-29 08:03] ardatan commented on #6174
@dotansimha Not sure what causes it. I need to check.

[2021-06-29 08:05] ardatan commented on #5949
Codegen doesn't aim this kind of deserialization. You need to implement it as part of client library.

[2021-06-29 08:29] gilgardosh commented on #6178
Thanks @umpox for pointing it out!
This bug is fixed [here](https://github.com/dotansimha/graphql-code-generator/pull/6204).

[2021-06-29 09:31] theajr opened #6205 "Website: Config selection dropdown values are invisible in dark mode"
**Describe the bug**

In dark mode of the [website](https://www.graphql-code-generator.com/) - Configuration selection dropdown options are almost invisible.

**To Reproduce**
- Navigate to https://www.graphql-code-generator.com
- Select night mode
- Click on the dropdown to see the options

**Expected behavior**
- Dropdown values should be visible in dark mode as well.

**Environment:**
- Product

[2021-06-29 09:32] theajr commented on #6205
![issue](https://user-images.githubusercontent.com/11477078/123774341-f1773380-d8ea-11eb-948f-5c24387ffa78.png)

[2021-06-29 10:26] jakubmazanec commented on #6177
Here is GitHub repo: https://github.com/jakubmazanec/graphql-codegen-import-types-preset

[code]

File `output/operations.ts`, lines 55-65 should show the issue.

Is this ok for reproduction? Thanks for finding time to look at this.

[2021-06-29 12:36] raymclee commented on #6191
here you go
https://codesandbox.io/s/agitated-goodall-dnxu5?file=/pages/index.tsx

[2021-06-29 13:23] dotansimha commented on #6205
@entbit ^

[2021-06-29 13:40] dotansimha commented on #6177
I think initially this was intended to be `typescript` + `typescript-operations` in one file, and then `typescript-react-apollo` in another file with that preset, this way all types are prefixed. So this might be a use-case that isn't fully supported yet... PRs are always welcome!

[2021-06-29 18:46] mbrowne commented on #3063
I was able to resolve this issue by enabling the `dedupeFragments` option of the `typescript-operations` plugin:
https://www.graphql-code-generator.com/docs/plugins/typescript-operations

[2021-06-29 18:52] danbruegge commented on #6189
![image](https://user-images.githubusercontent.com/1296438/123851614-b17c7480-d91b-11eb-8e7b-84af350b45a8.png)
Looks like this is the reason. :shrug: I have this too on Linux with Firefox 89.0.2 and Firefox Developer Edition 90.0b12.

[2021-06-29 19:14] entbit commented on #6189
@danbruegge It happens due to the backdrop filter indeed. There's a fix coming pretty soon. For now, you can disable `layout.css.backdrop-filter.enabled` from about:config on your Firefox browser.

[2021-06-29 19:17] danbruegge commented on #6189
I thought that. I have it enabled because i'm working on a project where it is needed. :)

Looking forward for the fix. ;)

[2021-06-30 03:26] guiguan opened #6206 "Deno support"
Any deno support in the roadmap?

[2021-06-30 06:27] dotansimha commented on #6206
@guiguan can you please explain what does it mean to support Deno with codegen? Codegen itself is just a CLI tool, I don't see any reason for it not to work with Deno?

[2021-06-30 07:11] dotansimha commented on #6189
Fixed :) Thanks, @danbruegge @entbit !

[2021-06-30 07:11] #6189 closed

[2021-06-30 09:24] callumfrance opened #6208 "CLI Package - Update chokidar dependency"
**Describe the bug**
chokidar depends on the `glob-parent` package which had a security threat.
chokidar > 3.5.2 has the version of glob-parent without the security risk.
The CLI package's `package.json` will need to be updated accordingly.
https://github.com/advisories/GHSA-ww39-953v-wcq6

**To Reproduce**
Steps to reproduce the behavior:

Not applicable - this is just a dependency change

`graph

[2021-06-30 10:41] dotansimha commented on #6208
Thanks, @callumfrance ! Please note that we use a range, so the eventual version depends on your project.

To make sure it's not causing issues for others, I bumped the range to enforce latest, available in `@graphql-codegen/cli@1.21.6`.

[2021-06-30 10:42] #6208 closed

[2021-06-30 10:42] dotansimha commented on #6178
Fixed in `@graphql-codegen/typescript-operations@1.18.3`. Thanks @gilgardosh !

[2021-06-30 10:42] #6178 closed

[2021-06-30 10:42] dotansimha commented on #5859
Available in: `@graphql-codegen/c-sharp-operations@1.19.4`

[2021-06-30 10:42] #5859 closed

[2021-06-30 10:43] dotansimha commented on #3950
Fixed in `@graphql-codegen/typescript-operations@1.18.3`

[2021-06-30 10:43] #3950 closed

[2021-06-30 11:11] guiguan commented on #6206
@dotansimha thanks for the awesome project. For using it with my deno project, I have to install node/npm just for it. It will be better if I can run the cli js in deno with esm modules

[2021-06-30 11:31] dotansimha commented on #6206
I see. We are currently working on ESM support (see https://github.com/dotansimha/graphql-code-generator/pull/6102), so I guess this will be right after :)

[2021-06-30 11:51] kaorun343 opened #6210 "Support tree shaking with typescript-graphql-request"
**Is your feature request related to a problem? Please describe.**

The current implementation of `getSdk` exports queries, mutations, and subscriptions as a single object.

[code]

This implementation does not support tree shaking.

I'm now using typescript-graphql-request with Next.js. The applications built with Next.js have multiple pages, so all of the sdk methods are imported from the all pa

[2021-06-30 11:55] dotansimha commented on #6210
@ardatan do you think we can apply some magic here? :D or it requires a whole change in the plugin output?

[2021-06-30 12:49] ardatan commented on #6210
@dotansimha Maybe we can export functions instead of an object factory and set the stuff as global variables but not sure if this is ideal?

[2021-06-30 13:07] lucasbordeau commented on #6001
This fix breaks my codebase, I've got hundreds of files using useEntityQuery**Suffix** hooks. Now I have to modify them and risk introducing massive regression.

For the moment I downgraded this plugin to `2.2.5` and it works.

I understand your point, but this implementation causes breaking changes, because the fix is hardcoded and doesn't provide a new option, let's say : `hookSuffix: MyHookSuff

[2021-06-30 13:20] lucasbordeau opened #6212 "Suffix not present on hooks anymore"
**Describe the bug**
Since I upgraded to 2.2.6 and above, the suffix is not added on hooks anymore with plugin `typescript-react-apollo` and option `typesSuffix: MySuffix`.

**To Reproduce**
Steps to reproduce the behavior:

- Install `typescript-react-apollo@2.2.5`
- Generate hooks with option `typesSuffix: MySuffix`
- Create some custom hooks calling `useFindUserQueryMySuffix()`
- Upgrade to `ty

[2021-06-30 13:21] lucasbordeau commented on #6212
Link to the fix where this behavior changed : #6001 #6002

[2021-06-30 13:31] ardatan commented on #6212
See https://github.com/dotansimha/graphql-code-generator/pull/6213

[2021-06-30 16:25] chrisdhanaraj opened #6214 "React Query Plugin: Allow custom Typescript Shape for custom fetcher"
Hey there! I've been doing a swap from Apollo to React-Query, and have been leveraging the various graphql-codegen plugins with both iterations. Something I ran into was that, while React-Query is great, it leverages a Promise structure in how it resolves data, and expects you to *throw* an error if an error appears.

However, in our Graph API's it's (unfortunately) relatively common to get partia

[2021-07-01 06:30] dotansimha commented on #6214
Duplicate: https://github.com/dotansimha/graphql-code-generator/issues/6013

[2021-07-01 06:30] #6214 closed

[2021-07-01 07:00] ertrzyiks opened #6217 "Missing imports with dedupeFragments and file imports"
**Describe the bug**

When I set `dedupeFragments: true` and use .graphql files with `#import `syntax, the generated typed document node refers to fragment docs that are not imported.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/romantic-gareth-q9tqv?file=/operations/document.ts

Note that `...MyGroupFragmentFragmentDoc.definitions` is injected to the definition but

[2021-07-01 17:26] chrisdhanaraj commented on #6013
👋 Something that can be done with graphql-request is check for data in the error response and return that

i.e.

[code]

[2021-07-01 17:35] chrisdhanaraj commented on #6013
Although actually - would you need to change the other plugins to make this work? Assuming that `ExecutionResult<TData>` is the correct shape regardless, what else would need to change?

[2021-07-02 03:49] chrbala commented on #6149
My use case is similar to the Relay case actually. I'm using Apollo with colocated fragments next to components, as is done with Relay. Rather than having full data masking, I rely on static types to enforce which fields components can use.

This issue wasn't a hard blocker for me, since I was able to unblock by taking on some tech debt in adding fields to fragments that they don't belong in. So,

[2021-07-02 05:40] dotansimha commented on #6212
Fix available in `@graphql-codegen/typescript-react-apollo@2.3.0`

[2021-07-02 05:40] #6212 closed

[2021-07-02 12:36] roryc89 opened #6224 "Purescript codegen plugin"
We have built a [Purescript graphql client](https://github.com/OxfordAbstracts/purescript-graphql-client) that already includes type codegen.

At the moment we have site that demos the codegen but it would seem reasonable to include it here as well. I can make a PR to include it a plugin here if it would be good fit for this project.

[2021-07-03 08:15] FeliciaAKelley opened #6227 "Hello there!"
Hello there!

I wrote a simple plugin to generate (Python) types for a GraphQL server called [Ariadne](https://ariadnegraphql.org/). Before making it public I'd like to publish it as an independent plugin and iterate on the implementation.

When I use `npm pack` and then `npm install` the resulting `.tgz` file, I can use it with GraphQL Code Generator.

However, when I use `npm install <folder>` I

[2021-07-03 10:01] dotansimha commented on #6227
I think you might get multiple instances of `graphql` library. Are you installing codegen globally or in a local project?

[2021-07-03 10:24] viztor commented on #6029
it seems the generated vue urql doesn't allow reactive variables

[2021-07-04 07:01] taneba opened #6228 "urql-graphcache: 'schema' does not exist in type 'GraphCacheConfig'"
**Describe the bug**
Type error detected when pass an introspected schema to cacheExchange.

[code]

**To Reproduce**
Steps to reproduce the behavior:

sandbox: https://codesandbox.io/s/nervous-ride-n7zrs?file=/index.ts

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]
4. pass your introspected schema to cacheExchange

[code]

**Expected be

[2021-07-04 10:58] dotansimha commented on #6029
If you think this is a missing feature or a bug, can you please create a reproduction and open an new issue? Thanks!

[2021-07-04 11:05] dotansimha commented on #6224
Hi @roryc89 ! Thank you for creating this issue.
This is great to see the GraphQL community evolving in other ecosystems.
I took a quick look and it seems like the codegen you have there is not built on top of GraphQL Codegen? Seems like it's a standalone tool?

I think the effort of using the GraphQL Codegen infrastructure and the wrap the existing code and GraphQL Codegen plugin should be minima

[2021-07-04 11:05] #6224 closed

[2021-07-04 11:06] dotansimha commented on #6013
I guess a custom fetcher can use executeRaw from graphql-request? I think this way you can get the real, actual result instead of the parsed one.

[2021-07-04 21:45] suhailibnnisar opened #6234 "mappers not replacing existing type generated by ```typescript``` plugin"
**Describe the bug**
I am using **typescript** & **typescript-resolvers** plugin in my code to generated **Resolver** type.

**To Reproduce**

## Codesanbox link: [Click here](https://codesandbox.io/s/jovial-snyder-fx5np?file=/codegen.yml)

**schema.graphql**
[code]

**codegen.yml**
[code]

**mappers.ts**
[code]

**generated-file.ts**
[code]

**Expected behavior**

**Environment:**

- OS:
- `@grap

[2021-07-05 06:01] dotansimha commented on #6217
If someone else is having this, please try `@graphql-codegen/near-operation-file-preset@1.18.5-alpha-6aadbeff.0` (until we'll release a stable version).

[2021-07-05 08:48] ertrzyiks commented on #6217
I just checked the alpha version and it solves most of the issues 💯 Only 2 of my queries still generate incomplete typed document node.

Would it be possible to also handle fragments that depend on other fragments?

https://codesandbox.io/s/gracious-sea-1ge8l?file=/operations/document.ts:1045-1076

[2021-07-05 12:10] Narazaka opened #6239 "typescript-reqct-query/apollo generating duplicate fragment definitions"
**Describe the bug**

In typescript-react-query and typescript-react-apollo, if multiple fragments referring to the same parent fragment are used simultaneously in the same query, a query with the parent fragment written multiple times will be generated.

example:

[code]

will generate `userBase` twice.

maybe same problem as #4143

**To Reproduce**
Steps to reproduce the behavior:

set files bel

[2021-07-05 12:39] dotansimha commented on #6234
Hi @suhailibnnisar !

The original `User` remains as-is because it's still needed for other parts of the resolvers signature, and also the plugins are standalone and cannot modify types generated by other plugins.

I think the TS you get generated has errors right? Because of duplicate identifier for `User`.
You should name or import your types in a different way so it won't get conflicted.

Try:

[2021-07-05 12:49] cyberhck opened #6240 "add sdk generation to react-apollo"
Hello there,

following up on my discussion at https://github.com/dotansimha/graphql-code-generator/discussions/6238

What I figured is if I were to use code-generator outside of a react component, I will either have to use graphql-request plugin which doesn't use apollo client, OR I'll have to use generic sdk where I'll have to implement requester for where subscription might be a little tricky.

[2021-07-05 14:08] highwide opened #6243 "Can we change `selectionSet` of NewStitchingResolver as optional?"
**Is your feature request related to a problem? Please describe.**

I've just tried to use `@graphql-codegen/typescript-resolvers` on my project which uses schema-stitching.
But the types generated don't match my resolver definitions because `selectionSet` is required.

I supposed this code is valid, isn't it? (At least, it's working so far.)

[code]

However, this doesn't match the type below.
Th

[2021-07-05 16:03] dotansimha commented on #6217
Can you please report a new issue with this reproduction? (cc @gilgardosh )

[2021-07-05 16:07] dotansimha commented on #6243
Hi @highwide ,
thank you for reporting this.

@ardatan can you please confirm that we can select an optional `selectionSet` here?

[2021-07-05 16:10] dotansimha commented on #6239
@gilgardosh I think it's similar to the work you did on `dedupeFragments` , maybe we can make sure we don't have any duplications in that area of the code (for both true/false values of `dedupeFragments`) .

[2021-07-05 16:11] ardatan commented on #6243
We can have an additional type as part of Resolver signature union that has only resolve field instead of changing the stitching resolver signature.

[2021-07-05 19:43] ertrzyiks commented on #6217
Sure 👍 The current workaround we have is to flat the structure of fragments.

[2021-07-06 07:27] ertrzyiks opened #6245 "Missing imports with dedupeFragments and nested fragments structure"
**Describe the bug**
Follow-up to #6217

When I set dedupeFragments: true and use .graphql files with #import syntax, the generated typed document node refers to fragment docs that are not imported.

Since `@graphql-codegen/near-operation-file-preset@1.18.5-alpha-6aadbeff.0` it happens only in cases when we have a fragment importing another fragment with deep nesting level.

**To Reproduce**
Steps

[2021-07-06 08:29] highwide commented on #6243
Do you mean it is good to add "another StitchResolver" which doesn't have a field `selectionSet` as a union to here?
https://github.com/dotansimha/graphql-code-generator/blob/9005cc17ecaa520ba57380940640e28b837a1488/packages/plugins/typescript/resolvers/src/index.ts#L58

If so, can I ask why `selectionSet ` of `NewStitchingResolver` shouldn't be optional?
I found that `graphql-tools` provides it a

[2021-07-06 10:24] WillSquire commented on #2891
Not working at all, at any level:

[code]

Not if I run, or both. No error output.

[2021-07-06 10:57] ardatan commented on #6243
https://github.com/dotansimha/graphql-code-generator/blob/master/dev-test/test-schema/resolvers-types.ts#L56
This union decides which one is your resolver signature, right? So if we make `selectionSet` optional, TS will say `resolve` property is an indicator of being a stitching resolver :)

That's the signature of `delegateToSchema` not resolvers.

[2021-07-06 15:28] dotansimha commented on #2891
=

Tracking in:
* https://github.com/dotansimha/graphql-code-generator/issues/6091
* https://github.com/dotansimha/graphql-code-generator/issues/6076

[2021-07-06 17:39] suhailibnnisar commented on #6234
it works

[2021-07-06 17:39] #6234 closed

[2021-07-06 19:11] suhailibnnisar commented on #6194
@dotansimha sir any update on this?

[2021-07-06 21:05] WillSquire commented on #6076
https://github.com/dotansimha/graphql-code-generator/issues/2891#issuecomment-874860082 was closed and linked to this, but this is not the issue. `afterAllFileWrite` works on a global scope for me.

[2021-07-07 01:53] marocchino opened #6258 "TypeScript enum array plugin"
I need const generator for enum.

For example I have this schema.

[code]

and config like this:

[code]

Then, this plugin will generate:

[code]

This plugin will be useful when cast string to union types.

[2021-07-07 01:56] marocchino commented on #6258
I have already implemented it, but I want to check if it is okay to do pr.

https://github.com/marocchino/graphql-code-generator/commit/c9163851f28e2cf3be7e12d40c192764134fe79c

[2021-07-07 03:19] toddheslin opened #6261 "typescript-vue-urql not using useClientHandle -> causing error with suspense"
**Describe the bug**
In the `@graphql-codegen/typescript-vue-urql` plugin, the composition functions refer to the global Urql imported as such: `import * as Urql from '@urql/vue';`. Whilst this can be configured to point to a different instance, there isn't any support for [useClientHandle](https://formidable.com/open-source/urql/docs/api/vue/#useclienthandle).

Why is this important?
When using a

[2021-07-07 06:11] laukaichung commented on #3072
I'd also like to see an option to disable type generation of query/mutation variables. I use Typegraphql which allows sharing arg input class between the server and client, so type generations of those are not needed.

[2021-07-07 06:13] dotansimha commented on #3072
PRs are always welcome! :)

[2021-07-07 06:14] dotansimha commented on #6258
This is really cool! Do you want to open a PR for this? :)

[2021-07-07 06:19] dotansimha commented on #6194
I marked that as `help wanted` since the MongoDB plugin is not highly maintained. Feel free to send a PR! :)

[2021-07-07 06:57] dotansimha commented on #6245
@ertrzyiks maybe we can continue the discussion on the original issue? it's still open :)

[2021-07-07 12:00] nmokkenstorm opened #6263 "Documentation issue regarding programmatic usage"
**Describe the bug**
Programmatic usage of codegen in a Typescript/Node context doesn't work as documented: two required keys are missing and the fs module is not imported. I think the proper fix is to change the code, but right now the documentation is wrong.

**To Reproduce**
Copy [these examples](https://www.graphql-code-generator.com/docs/getting-started/programmatic-usage) in an index.ts file

[2021-07-07 14:21] dotansimha commented on #6263
Thank you @nmokkenstorm ! :)

[2021-07-07 14:21] #6263 closed

[2021-07-07 18:38] ertrzyiks commented on #6217
I temporarily merged the problematic deep nested fragment into its parent and with `@graphql-codegen/near-operation-file-preset@1.18.5-alpha-6aadbeff.0` all works like a charm ❤️ Thanks a lot for dedupeFragments option and the fix for the near operation preset!

 Unless you want to keep this issue open until 1.18.5 is out, I would consider this bug as fixed.

[2021-07-08 15:02] marcusmathioudakismoo opened #6274 "Npm audit failing"
**Describe the bug**
running npm audit on a project with graphql-codegen/cli installed raises multiple Moderate instances of the `Regular Expression Denial of Service` vulnerability in the `ws` dependency (https://npmjs.com/advisories/1748 ). This has been patched in latest version of `ws`.

**To Reproduce**
in a local npm project, run:
- `npm install @graphql-codegen/cli --save-dev`
- `npm audit`

[2021-07-08 15:07] heinrichdude commented on #2029
For me the Authorization portion of the YAML needed to be as follows ...

Authorization: "Bearer ${TOKEN}"

... as in NO colon after Bearer.

[2021-07-08 15:25] dotansimha commented on #2029
So just do:

[code]

?

[2021-07-08 15:39] dotansimha commented on #6274
Hi @marcusmathioudakismoo ! Thank you for reporting this issue.

I recently saw this interesting article, and I recommend it to everyone who uses/depends on `npm audit`: https://overreacted.io/npm-audit-broken-by-design/

Regarding this issue: `ws` is not a direct dependency of `@graphql-codegen/cli` and it comes from a nested dependency. This time it's something we are able to fix and workaround,

[2021-07-08 15:39] #6274 closed

[2021-07-08 21:01] zlegein commented on #5701
We have another use case for this enhancement. We use a babel-plugin-marco, that will rename operationNames. So, for us we would like to set this config on the codegen.yml
[code]

[2021-07-09 08:24] AndriaHRT opened #6280 "All the fields are optional in resolvers"
For this schema example:

[code]
Only `size` field is non-nullable (or optional).

So i have the generated corresponding interface where only `size` is optional _(expected)_:

[code]
But in the generated associated resolver all the fields are marked as optional:

[code]

My config file:

[code]

**Solution expected**

So I'd like to have an option for having resolver fields having similar optional

[2021-07-09 10:04] highwide commented on #6243
@ardatan

It was my mistake! Thank you.

Thank you for pointing it out!
So I created a PR by adding another StitchResolver to `StitchingResolver`. https://github.com/dotansimha/graphql-code-generator/pull/6281
I hope I understood exactly what you said... 🙏
If not, please tell me how to fix, or please close it. Thanks.

[2021-07-09 13:26] waterdrop01 opened #6282 "Not compatible with graphql-config@3 when multiple projects are defined in the .graphqlrc.yml"
**Describe the bug**
here is the content of my `.graphqlrc.yml`:

[code]
But when running `npx codegen generate` it throws the error:
[code]
And if naming the first project `default`, then it throws the error:
[code]
And if moving the generate key up, then it throws:
[code]
**Expected behavior**

I expect `graphql-code-generator` to fully support `graphql-config` options.

I'm currently solving th

[2021-07-09 21:20] incompletude opened #6283 "2 space tabs breaks `@graphql-codegen/add`"
Seems like a 2 space tab breaks `@graphql-codegen/add`.

This works

[code]

This don't
`Configuration provided for 'add' plugin is invalid: "content" is missing!`

[code]

[2021-07-10 05:22] FeliciaAKelley commented on #6282
i agree.... Trying to fix this issue..

Graphql  works on fb base...

[2021-07-11 06:31] tobiasdiez opened #6289 "Fragments do not contain source body"
Given a simple fragment,
[code]
the following query uses it via the generated code:
[code]
However, this throws an error `arg.loc` not defined in the `gql` method.

Indeed, in `gql` the following code https://github.com/apollographql/graphql-tag/blob/2b99a7c31a52a8e4927cc01c47bdc11e0539085f/src/index.ts#L125-L126 tries to access `FragmentFragmentDoc.loc.source.body` to append the fragment body to

[2021-07-11 07:36] dotansimha commented on #5238
We can close this one, @gilgardosh fixed it :)

[2021-07-11 07:36] #5238 closed

[2021-07-11 07:36] dotansimha commented on #4958
Fixed in tools, we can close this one :)

[2021-07-11 07:36] #4958 closed

[2021-07-11 14:04] dotansimha commented on #6283
That's a limitation coming from `yaml` format.

Just fyi, you can also use json/js file formats for codegen.

[2021-07-11 14:04] #6283 closed

[2021-07-11 16:02] dotansimha commented on #6282
I think we look for the `default` project by default, can you please try to add `--project first` to your CLI command? Seems like we do support it (https://github.com/dotansimha/graphql-code-generator/blob/6a95377706eec019d04807f735d4cedc888c42d0/packages/graphql-codegen-cli/src/config.ts#L213)

[2021-07-11 16:21] dotansimha commented on #6280
You can use `avoidOptionals` for that (https://www.graphql-code-generator.com/docs/plugins/typescript-resolvers)

[2021-07-11 16:21] #6280 closed

[2021-07-12 07:45] AndriaHRT commented on #6280
@dotansimha It seems that these options make everything optional or non-optional (depending on the options), right?

[2021-07-12 09:13] dotansimha commented on #6280
Yeah, there are some customization and sub-configuration for that flag. Note that you can also customize it specifically for the `typescript-resolvers` plugin without effecting other plugins:

[code]

Since resolvers are always optional in graphql-js, we don't have a way to enforce specific resolvers to be non-optionals.

[2021-07-12 20:23] hognevevle opened #6303 "`import-types` preset not working with `typescript-vue-urql`"
**Describe the bug**
When using the `import-types` preset, the file generated by `typescript-vue-urql` doesn't populate the correct type references.

Example:
![CleanShot 2021-07-12 at 22 19 17](https://user-images.githubusercontent.com/2721188/125350574-370e1480-e35f-11eb-9e62-b1298e25e51c.png)

Working code generated by `typescript-vue-apollo`
![CleanShot 2021-07-12 at 22 19 42](https://user-ima

[2021-07-12 20:32] hognevevle commented on #6303
After adding `typesPrefix: 'Types.'` to the config of `typescript-vue-urql`, it now works. Not sure if this should still be considered as a bug, although there seems to be some differing behaviour. Close at will.

[2021-07-12 21:14] hognevevle opened #6304 "External document import handling mismatch between `typescript-vue-apollo` and `typescript-vue-urql`"
**Describe the bug**
While trying to share types between urql-vue and vue-apollo, there seems to be some mismatches in how data is being referenced.

The issue I'm seeing is when importing document types using
[code]

typescript-vue-apollo will reference the document types in camelCase, while typescript-vue-urql on the other hand will use PascalCase. I can't find a way to override that.

Additiona

[2021-07-13 03:07] marocchino opened #6306 "TypeScript faker plugin"
Hi 👋, Thank you for merge last PR.

I need auto generated mock object without launch extra server.

for example:

schema
[code]

query
[code]

will generate
[code]

There will be a lot of customization for this plugin, but for now I want to start with a simple initial implementation.

[2021-07-13 06:20] dotansimha commented on #6258
@marocchino keeping open until we'll release this :)

[2021-07-13 06:28] #6303 closed

[2021-07-13 06:36] dotansimha commented on #6306
Codegen doesn't deal with custom directives, mainly because it endless...
Also, moving to Discussions :)

[2021-07-13 06:36] #6306 closed

[2021-07-13 06:37] dotansimha commented on #6258
`@graphql-codegen/typescript-enum-array@1.0.0` is now available. Thanks @marocchino !

[2021-07-13 06:37] #6258 closed

[2021-07-13 06:37] dotansimha commented on #6243
Available in `@graphql-codegen/typescript-resolvers@1.20.0`

[2021-07-13 06:37] #6243 closed

[2021-07-13 06:37] dotansimha commented on #6228
Available in `@graphql-codegen/typescript-urql-graphcache@1.0.7`

[2021-07-13 06:37] #6228 closed

[2021-07-13 06:38] dotansimha commented on #6217
Fixed in `@graphql-codegen/near-operation-file-preset@1.18.5`

[2021-07-13 06:38] #6217 closed

[2021-07-13 07:21] dotansimha commented on #6245
@ertrzyiks can you please try the alpha release from https://github.com/dotansimha/graphql-code-generator/pull/6290 ?

[2021-07-13 12:04] ertrzyiks commented on #6245
@dotansimha sure, I will check as soon as it's available. From what I see the alpha package is current missing https://github.com/dotansimha/graphql-code-generator/pull/6290#issuecomment-877768244

[2021-07-13 12:54] mvanalphen opened #6310 "[typescript-resolvers] Unable to call resolvers in tests in version 1.20.0"
**Describe the bug**
Prior to version 1.20.0, we were able to import and call resolvers in our tests to verify their behaviour. However, as of version 1.20.0 of `typescript-resolvers`, we are no longer able to call the resolvers.

I believe this may be a result of https://github.com/dotansimha/graphql-code-generator/pull/6281, which allows for resolvers to either be of type `ResolverFn` or `Resolv

[2021-07-13 14:19] ertrzyiks commented on #6245
@dotansimha @gilgardosh confirmed, `@graphql-codegen/near-operation-file-preset@1.18.6-alpha-96980211a.0` works like a charm in my codebase

[2021-07-13 16:08] strass commented on #6149
I think I'm having a similar problem where I have a standard fragment that gets basic data that I want to extend on a case-by-case basis for specific pages.

[code]

If I try this, the fragment basically gets overwritten and I see `property label does not exist on type Nested` even though I would expect it to be there due to the merged fragment. Is this a correct assumption?

I tried using the pre

[2021-07-13 16:59] n1ru4l commented on #6149
@strass can you provide a minimal reproduction code-sandbox or pr with failing test?

[2021-07-13 17:06] strass commented on #6149
Our schema isn't really conducive towards a MWE... Are there any sandboxes out there that I could build on?

[2021-07-13 17:16] chrbala commented on #6149
Can I suggest:
git: https://github.com/apollographql/react-apollo-error-template
browser: https://codesandbox.io/s/github/apollographql/react-apollo-error-template

You can also use [my example](https://github.com/chrbala/apollo-bug-repro/tree/codegen-merge-arrays) for schema mocking.

[2021-07-13 18:52] strass commented on #6149
I wanted to use a server template so I could regen gql files on the sandbox itself but it's a little finnicky to use...

https://codesandbox.io/s/gql-test-qktgl?file=/src/index.tsx

I think you might have to open a new terminal window and run `yarn start` manually

I would expect the RECURSIVE query to be able to merge the spread fragment with an inline query, but it ends up only using the inline

[2021-07-13 21:04] ewlsh opened #6311 "Missing HOC suffix dedup leads to invalid generated types with `dedupeOperationSuffix` and `withHOC` options."
**Describe the bug**

The HOC generics are missing a name deduplication... https://github.com/dotansimha/graphql-code-generator/blob/0538923f0cee884f95136b3ac794f83238cee568/packages/plugins/typescript/react-apollo/src/visitor.ts#L181

So it generates:

[code]

`GetUserInformationQueryQuery, GetUserInformationQueryQueryVariables` should be `GetUserInformationQuery, GetUserInformationQueryVariables

[2021-07-13 21:19] FeliciaAKelley commented on #5938
[code]

[2021-07-13 21:23] kelleytaylor2021 opened #6312 "</html> <!DOCTYPE html> <html> <head> <title> Felicia Ann Kelley</title> </head> <body> <form> Points: <input type="metadata" name="og" min="10" max="100"> <br><br> <input type="submit"> </form> </body> </html>"

[2021-07-13 21:47] #6312 closed

[2021-07-14 10:08] fubhy commented on #5085
We are also running into this (https://github.com/dotansimha/graphql-code-generator/issues/6199).

The `bug` label was removed a few days ago. Is there a solution for how this can be fixed through config or why is this not considered a bug?

[2021-07-14 11:05] fubhy commented on #6199
Turns out that there appears to already be an issue for this bug:  https://github.com/dotansimha/graphql-code-generator/issues/5085

It works without the near-operations-file preset but that's not an option because of the sheer number of queries we have (~50.000 LOC if we dump it all into one file).

[2021-07-14 16:48] #6199 closed

[2021-07-14 16:52] dotansimha commented on #6310
@highwide @ardatan I think it's related to https://github.com/dotansimha/graphql-code-generator/pull/6281 ?

[2021-07-14 21:09] willsoto opened #6314 "Plugin Level configuration not validating in vscode"
**Describe the bug**

When adding configuration per plugin, the schema is considered invalid

<img width="673" alt="Screen Shot 2021-07-14 at 4 59 05 PM" src="https://user-images.githubusercontent.com/2791730/125692829-cbf2490d-13ce-4654-858f-8c83553a2dac.png">

**To Reproduce**
Steps to reproduce the behavior:

**Code sandbox doesn't seem to validate the schema, so no code sandbox applies**

1. M

[2021-07-15 00:55] rzane commented on #6245
I was having the same issue, so I upgraded to `@graphql-codegen/near-operation-file-preset@1.18.6-alpha-96980211a.0`. I'm having a different issue now.

Here's a CodeSandbox that demonstrates what I'm seeing: https://codesandbox.io/s/gql-gen-issue-6245-0uyyf?file=/book.ts

#### schema.graphql
[code]

#### book.graphql
[code]

#### author.graphql
[code]

#### codegen.yml
[code]

The resulting `book

[2021-07-15 06:06] dotansimha commented on #6245
@gilgardosh can you please take a look? ^

[2021-07-15 06:53] n1ru4l commented on #6149
@strass The code sandbox you shared showcases the same issue that OP had 😅 This issue should be addressed by https://github.com/dotansimha/graphql-code-generator/pull/6184 (you can try out the packages within the PR)

The issue from your comment here: https://github.com/dotansimha/graphql-code-generator/issues/6149#issuecomment-879216617 seems like an issue when generating types, that should not h

[2021-07-15 07:43] n1ru4l commented on #6149
@strass I tried to reproduce this error over here: https://github.com/dotansimha/graphql-code-generator/pull/6317

Maybe you could alter the test, so it fails?

[2021-07-15 08:12] gilgardosh commented on #6245
@rzane Could you please try run it with this?
1.18.6-alpha-f57f487c7.0

[2021-07-15 08:59] highwide commented on #6310
I guess so too.
But I won't find how to fix quickly, I apologize.

[2021-07-15 09:38] MargaretKrutikova opened #6318 "Expose stricter TypedTypePolicies without apollo's native TypePolicies"
**Is your feature request related to a problem? Please describe.**
Currently `TypedTypePolicies` is exposed as a union of typed policies from schema and apollo's native untyped `TypePolicies`:
[code]
Here `UserType` is our own type, while `TypePolicies` is defined like this:
[code]
This makes it prone to error if I were to change the existing type policies or if I were to add a field that doesn't

[2021-07-15 11:19] waterdrop01 commented on #6282
Ok, there's a catch 22 here:

For this config:
[code]
If I run `npx graphql-codegen generate --project first` it throws:
[code]
Now if I put the graphql endpoint url as the value of the `schema` field like this:
[code]
Then `npx graphql-codegen generate --project first` works!

BUT, `npx eslint ./src/first-gql.js` throws an error now:
[code]
I guess that `graphql-code-generator` should generate fr

[2021-07-15 15:15] rzane commented on #6245
@gilgardosh, that fixes my issue. Thank you so much! I really appreciate how timely you folks are fixing issues that arise.

[2021-07-15 16:51] strass commented on #6149
The PR title talks about arrays specifically so I wanted to make sure to give an example that wasn't array-based.

I'll take a look at what you've prepared. Thanks :)

[2021-07-15 21:00] ivansky commented on #6239
Temporal workaround for solution seekers:

It should be used along with custom hooks in `apolloReactHooksImportFrom`.

[code]

Somewhere in custom hooks:
[code]

[2021-07-15 23:49] aaronchilcott opened #6319 "Unable to load typescript-apollo-angular in codesandbox while attempting reproduce bug: serviceProvidedInRoot: false ignored"
## Bug Description
Unable to utilise codesandbox to reproduce a different bug. Any error is presented:
   Unable to find template plugin matching 'typescript-apollo-angular'
The plugin has been selected and loaded from the package.json file.

The original bug I was attempting to reproduce, was that the config option: `serviceProvidedInRoot: false` is ignored by graphql-codegen

## To Reproduce
Ple

[2021-07-16 04:33] longlho opened #6320 "Cannot find symbol valueOfLabel in generated Java class"
**Describe the bug**
Generated Java class `enum` no longer has `valueOfLabel` and failed to compile

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/hardcore-haslett-p41ng?file=/codegen.yml

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
`enum Test` should have had `valueOfLabel` method de

[2021-07-16 13:54] longlho commented on #6320
looks like https://github.com/dotansimha/graphql-code-generator/commit/a290a4ce9a68654f370499db3fa6eb49bc2bef82 removed it

[2021-07-16 15:57] strass commented on #6149
OK I made a small edit to the test and commented it in that PR (tried to push it back up but didnt have access). It runs successfully within the repo, but is failing in my development environment. I'm currently on:

I'll try updating with `npx npm-check-updates '/@graphql-codegen/' -u` and report back

[2021-07-16 15:58] strass commented on #6149
It's similar output but my fragment isn't being inlined

[code]

[2021-07-16 18:52] gfviegas commented on #3863
Any update? Still experiencing the same issue

[2021-07-17 15:55] ericbiewener opened #6331 "typescript-compatibility plugin is incompatible with `operationResultSuffix` config of main typescript plugin"
**Describe the bug**
If you use the config option `operationResultSuffix`, `typescript-compatibility` will still reference types that do _not_ have that provided suffix, thus referencing types that don't exist. For example, if you specify `Result` as the suffix, you'll get types generated like:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Specify any suffix for `operationResultSu

[2021-07-17 21:17] ericbiewener opened #6332 "typescript-compatibility plugin does not correctly generate child types when parent types can be null"
**Describe the bug**
Consider the following example:

[code]

The type `GetFooAuthorName` has an error. It should be: `NonNullable<GetFooQuery["author"]>["name"]`. [TS playground](https://www.typescriptlang.org/play?#code/C4TwDgpgBA4hwDED2SCKBXCAnEUC8UA3gLABQUUAhusABZJYBcUAdugDbtQA+RZFFFpQC2EZgGdgWAJYsA5vygBfMkqgB6dVABmWJMKihI4gMYywwKGHbo5ssmSPQ4iFAEEa9LADkREAPoAQpQAJviw8MhomDgA2gBE1HQM8QC6CUKiaRp

[2021-07-18 04:21] alisalim17 opened #6336 "Cannot find module '@graphql-tools/batch-execute'"
## I am running this code : `yarn graphql-codegen init`

and get this error ->

Error: Cannot find module @graphql-tools/batch-execute

I'm using yarn workspaces,[my repo](https://github.com/alisalim17/airbnb-clone)

when i use npm,it's works correctly

- OS: Windows 10
- `@graphql-codegen/...`:  1.21.7
- NodeJS:  14

[2021-07-18 16:46] FBurner opened #6338 "Getting error on codegen"
**Describe the bug**
Getting error:     Unable to find any GraphQL type definitions for the following pointers:

**To Reproduce**
Use url graphql done with nestjs
having following codeyen.yml
[code]

1. My GraphQL schema:

[code]

2. My GraphQL operations:
dont know what you mean by graphl operation

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Genreating react hooks

**Environm

[2021-07-18 17:12] eden-lane opened #6339 "SyntaxError: Identifier 'builders' has already been declared (9:3)"
**Describe the bug**
I'm trying to generate code from my ts files with graphql queries, but I get this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
I've tried to reproduce the error, but I got a new one. in codesandbox I get
[code]
https://codesandbox.io/s/zen-platform-dowef?file=/schema.gql

2. My GraphQL operations:
[code]

[code]

3. My `codegen.yml` config file:

[code]

**

[2021-07-18 18:32] seclerp opened #6340 "C# Plugin: `GraphQL` namespace in generated code not used at all"
**Describe the bug**
`using GraphQL;` declaration is included in generated code, but not used at all. Such behavior creates some problems when using this plugin for projects that have no GraphQL dependency installed at all or when it uses another .NET GraphQL framework (HotChocolate in my case).

**To Reproduce**
Just generate C# code using the data provided below.

1. My GraphQL schema:

[code]

[2021-07-18 18:52] seclerp opened #6341 "C# Plugin: Add configuration for JSON attributes"
**Is your feature request related to a problem? Please describe.**

C# plugin has hardcoded behavior when dealing with JSON attributes. It always uses `Newtonsoft.Json`. This flow is unacceptable for such scenarios:
1. Use plugin without generating JSON attributes.
2. Use JSON attributes of another library (like standardized `System.Text.Json`).

I would like to use this plugin and library in gene

[2021-07-19 16:33] Nicoowr opened #6344 "Migration from `apollo:codegen` to `typescript-operations`"
**Is your feature request related to a problem? Please describe.**

We are generating types from graphql operations with `apollo:codegen`, but we'd like to migrate to `graphql-codegen`. However, the structure of generated types is very different between both, which would require a big change in our codebase if we wanted to migrate. For instance:
- All the types are generated in one single file in

[2021-07-20 09:03] #6338 closed

[2021-07-20 12:37] ivansky commented on #6344
@Nicoowr
We also had an experience with migrating from apollo codegen.
Unfortunately there is no way to make the same structure.
You need to use fragments to achieve similar effect and generate types subset.

[2021-07-20 12:40] Nicoowr commented on #6344
I see, then is there any way to generate one file per operation? I checked the `near-operation-file` plugin but I'd like to have them all in the same folder.

[2021-07-20 15:06] dotansimha commented on #6344
GraphQL Codegen and Apollo Codegen have different goals. While GraphQL Codegen plugins aim to generate output that could work with any client/server, the Apollo Codegen is specific to the Apollo ecosystem and their client.

We are not generating sub-types for each selection set (we had that in older versions, and it caused conflicts and types bloat). In specific cases where you with to get sub-typ

[2021-07-20 15:06] #6344 closed

[2021-07-20 15:22] Nicoowr commented on #6344
Very clear, thanks for your insight!

[2021-07-20 16:32] MrPocketsss opened #6346 "Enum type mismatch"
*Describe the bug*
Getting a really strange typescript error after I generate types:

[code]

I've checked both of those files, and between the schema, what's in .prisma/client/index, and the generated/graphql file - everything appears to be identical. Not really sure where to go from here

Schema:
[code]
.prisma/client/index:
[code]

.generated/graphql:
[code]

*To Reproduce*
Clone repository htt

[2021-07-20 18:18] alisalim17 commented on #6336
I fixed this problem by installing yarn 2.Before this problem i was using yarn 1

[2021-07-21 09:05] Urigo commented on #3863
Hi @phryneas and @gfviegas and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 0`.

Now in order to advance to `stage 1` we'll need a simple reproduction, maybe in code-sand

[2021-07-21 09:37] Urigo commented on #6319
Hi @aaronchilcott and thank you for the report

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 1` thanks to your reproduction! Thank you for that!

Now in order to advance to `stage 2` we'll need a f

[2021-07-21 09:38] Urigo commented on #6239
Hi everyone and thank you for the report

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 1` thanks to your reproduction! Thank you for that!

Now in order to advance to `stage 2` we'll need a failing

[2021-07-21 11:50] Urigo commented on #6311
Hi @ewlsh and thank you for the report

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 1` thanks to your reproduction! Thank you for that!

Now in order to advance to `stage 2` we'll need a failing t

[2021-07-22 04:12] dmitrif opened #6354 "`skipDocumentsValidation` doesn't work."
**Describe the bug**
In my use-case, I want to run a series of documents through a custom plugin. As it is not generating consumable types, I do not care for the validation. The documents contain multiple queries with the same name.

Attempting to pass in `skipDocumentsValidation` through config file, gets ignored.

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/sharp-g

[2021-07-22 07:50] Mossop opened #6355 "More specific error messages when a problem is encountered with the configuration."
**Is your feature request related to a problem? Please describe.**

I have a quite large `codegen.js` file and just made a number of changes to it and clearly got something wrong. When I run `graphql-codegen` though it simply prints:
[code]
This doesn't give me a lot to go on for tracking down the issue.

**Describe the solution you'd like**

I would like it if the error message printed could be a

[2021-07-22 08:11] Mossop commented on #6355
Another good example:
[code]

[2021-07-24 17:23] Cretezy commented on #6310
Would be great to have an optional to disable this, as it's also blocking me. Maybe an option called `disabledResolverFnSubtype`?

[2021-07-25 13:48] bennypowers opened #6363 "source option"
**Is your feature request related to a problem? Please describe.**

When testing it's useful to get an operation's source
[code]

**Describe the solution you'd like**
`.graphqlrc.yml`
[code]

**Describe alternatives you've considered**
build-time transformers like `rollup-plugin-graphql` etc.

**Additional context**
`source` could be `boolean|string[]` to provide users with an allowlist of operati

[2021-07-25 14:18] puchm commented on #6310
I found a work around for this. Previously I did something like this when declaring resolvers because resolvers can be undefined:

[code]
This made sure that whenever I import the resolver in another file it is callable **prior to 1.20.0**.

With the new changes it can be adjusted to this:
[code]
This will make sure that the resolver is always callable because it cuts the type down to only the thi

[2021-07-26 12:46] paolotiu commented on #6191
This seems like it could be fixed by a _simple_ ternary. I could give it a go.

[2021-07-26 13:49] paolotiu commented on #5526
Attempted in #6365

[2021-07-27 16:14] danielo515 commented on #6121
That flexibility is nice.
But what I'm proposing is a much more user friendly solution, which is just define it as a property.
Is there any reason you are not open to this?

[2021-07-27 16:53] nbudin opened #6368 "typescript-react-query: dedupeOperationSuffix doesn't dedupe hook names"
**Describe the bug**
When using the react-query plugin, the generated hooks don't respect the `dedupeOperationSuffix` config option.  For example, a query called `NotificationsQuery` will result in a hook called `useNotificationsQueryQuery`, even with `dedupeOperationSuffix` set to true.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/react-query-operation-suffix-dedup

[2021-07-28 05:44] n1ru4l opened #6372 "@graphql-codegen/testing compat with jest 27"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@graphql-codegen/testing@1.17.7` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

jest-diff@27 now uses a nam

[2021-07-28 10:47] lmatheus commented on #3863
@Urigo @dotansimha  I believe this might be able to serve as a reproduction:

https://github.com/lmatheus/codegen-apollo-repro

Please let me know if this requires any further details. Thanks!

[2021-07-28 11:50] domanskyi commented on #6339
Have the same error:
package.json:
[code]
codegen.yml:
[code]
query example:
[code]

[2021-07-28 14:20] baumandm opened #6374 "loader.loaderId is not a function"
**Describe the bug**

After upgrading from Node 14.17.3 to Node 16.5.0, the following command started failing for me:

[code]

Although if I remove the explicit config location, it auto-detects my config and works:

[code]

**To Reproduce**
Steps to reproduce the behavior:

I reproduced it with the default codesandbox template:

https://codesandbox.io/s/priceless-roentgen-rc0kf?file=/package.json

[2021-07-28 14:50] dotansimha commented on #6374
I think some dependencies resolves to v8 of graphql-tools, which has some breaking changes. I'm trying to check why.

fyi @ardatan

[2021-07-28 15:00] florentin-soubrand commented on #6374
I noticed personally if you remove '--config' it takes autmaticaly the codegen.yml file and no more issue appear

[2021-07-28 15:02] MidnightDesign commented on #6374
Doesn't change anything for me. Still getting the same error.

[2021-07-28 15:07] dotansimha commented on #6374
The issue seems to be related to integration with `graphql-config` and version resolution.
We are working on a fix and we hope to release a hotfix soon :)

[2021-07-28 15:22] riccardocaranfil commented on #6374
+1 here but got this error also running the command without passing the config

[2021-07-28 15:24] dotansimha commented on #6374
### Background

GraphQL-Tools v8 was released a few hours ago, with many fixes, and some breaking changes. Codegen heavily depends on graphql-tools loaders to load the schema and documents.

One of the packages (`@graphql-tools/prisma-loader`) missed a version bump and got a release for `6.3.1`. Codegen depends at the moment on `^6.3.0` so new projects that just installed codegen got `6.3.1` with

[2021-07-28 15:32] dotansimha commented on #6245
Fixed in `@graphql-codegen/near-operation-file-preset@1.18.6`. Sorry for the delay with the release!

[2021-07-28 15:32] #6245 closed

[2021-07-28 15:35] calirvine commented on #6374
Thanks for the quick fix, just  installed the alpha branch for `1.21.8` for now and it works as expected .

[2021-07-28 15:36] dotansimha commented on #6374
Fixed in `@graphql-codegen/cli@1.21.8` :)

[2021-07-28 15:36] #6374 closed

[2021-07-28 15:40] mheob commented on #6374
Works well again now. Thank you for the very quick fix.

[2021-07-29 12:59] mtlewis commented on #6274
Looks like graphql-tools has been updated, so it should now be possible to upgrade the the dependencies on graphql-tools packages in this project and avoid the vulnerable version of `ws`.

[2021-07-29 15:34] qsona opened #6378 "Replace `Promise` with `PromiseLike` in resolver types"
**Is your feature request related to a problem? Please describe.**

When using non-native Promise library like Bluebird, the return type of resolvers will often be `PromiseLike`, but it's not adapt with generated resolver-types because the generated code is using native Promise type.

https://github.com/dotansimha/graphql-code-generator/blob/8e4d5826df7c01fec3fa26d200d171881ee3a04a/packages/plugin

[2021-07-30 00:53] desbrowne opened #6381 "Using dedupeFragments on schemas with nested types results in duplicated fragments"
**Describe the bug**
I have a schema that has a type (Person) nested at multiple places. The output includes duplicated fragments when using `dedupeFragments: true`. I'm using `@graphql-codegen/near-operation-file-preset@1.18.6`

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/gql-gen-issue-dedup-iu026?file=/meeting.graphql

1. My GraphQL schema:

[code]

2. My GraphQL

[2021-07-30 10:40] rdsedmundo commented on #3738
Still facing this on 1.21.8.

The culprit for my case was the error: `[error] No parser could be inferred for file: file.snap`, but instead of saying that it crashed trying to call `watcher.close` here:

[code]

[2021-07-31 11:48] Urigo commented on #3863
Thank you @lmatheus!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 1` thanks to your reproduction! Thank you for that!

Now in order to advance to `stage 2` we'll need a failing test, would be grea

[2021-08-01 04:29] duncanbeevers commented on #6318
I wanted this feature for work, and followed @MargaretKrutikova ' suggestion. It's a simple change, but could probably do with a bit of documentation.

I tested this out in my work codebase and it was :+1:

The feature seems worthwhile, and its cheap to expose a new export. Happy to run with this if its deemed useful.

[2021-08-01 10:07] dotansimha commented on #3738
Can you please report a new issue with a reproduction?

[2021-08-02 13:56] Sytten opened #6393 "Directives changing the type of scalar"
**Is your feature request related to a problem? Please describe.**

Currently I am using a mix of number ID and string ID for a project.
This is annoying since I can't override the default to be always number so the casting needs to happen inside the resolvers.
What I would like is adding a directive that does the casting for me. But then the typing would be wrong.

**Describe the solution you'd l

[2021-08-02 19:48] HerrNiklasRaab commented on #5556
Can reproduce this as well.

[2021-08-02 22:08] Urigo commented on #5556
Hi @HerrNiklasRaab and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 0`.

Now in order to advance to `stage 1` we'll need a simple reproduction, maybe in code-sandbox?

La

[2021-08-03 07:28] n1ru4l commented on #6393
That sounds like an interesting addition! Although, I think the config option name should be more clear!

I recently started working on something similar for using a custom resolver function type based on the directive applied on the field: https://github.com/dotansimha/graphql-code-generator/pull/6330

[2021-08-03 10:12] dotansimha commented on #6341
Available in

[code]

[2021-08-03 10:12] #6341 closed

[2021-08-03 10:12] dotansimha commented on #6340
Available in

[code]

[2021-08-03 10:12] #6340 closed

[2021-08-03 10:17] dotansimha commented on #6320
Fixed in `2.0.0` of the Java plugins

[2021-08-03 10:17] #6320 closed

[2021-08-03 10:18] dotansimha commented on #5526
Available in `@graphql-codegen/typescript-react-query@2.0.0`

[2021-08-03 10:18] #5526 closed

[2021-08-03 10:18] dotansimha commented on #6149
Available in `@graphql-codegen/typescript-operations@2.0.0`

[2021-08-03 10:18] #6149 closed

[2021-08-03 10:39] apollonian commented on #6339
@eden-lane Just ran into a similar issue with leftover/untracked declaration files conflicting with type gen. Try using the DEBUG mode to see where exactly the error is coming from. https://www.graphql-code-generator.com/docs/getting-started/codegen-config#debug-mode

[2021-08-03 12:02] dotansimha commented on #6378
Hi @qsona ! This is a great idea. What do you think about creating a PR for this? :)

[2021-08-03 12:04] dotansimha commented on #6339
I think @apollonian is right, there might be a file that's being loaded by `graphql-tag-pluck` that causes this error. Please try to use narrow glob patterns, and see if the issue still happens.

@ardatan Do you think we can improve the errors on graphql-tag-pluck? (Maybe just print a warning to the log with the invalid file path, and ignore that file?)

[2021-08-03 12:05] dotansimha commented on #6368
Thanks @nbudin ! Do you want to create a PR for fixing it? :)

[2021-08-03 12:07] dotansimha commented on #6282
You can't use dependencies within codegen config outputs, since each one is standalone.
You can use separate config files for generating outputs that depends on each other.

[2021-08-03 12:08] dotansimha commented on #6331
Hi @ericbiewener !
`typescript-compatibility` was intended for migration between v0 and v1 of codegen (~3 years ago).
We've just released v2 and this plugin is no longer maintained or actively developed.
I recommend to migrate to the new versions of codegen.

[2021-08-03 12:08] #6331 closed

[2021-08-03 12:08] dotansimha commented on #6332
Hi @ericbiewener !
`typescript-compatibility` was intended for migration between v0 and v1 of codegen (~3 years ago).
We've just released v2 and this plugin is no longer maintained or actively developed.
I recommend to migrate to the new versions of codegen.

[2021-08-03 12:08] #6332 closed

[2021-08-03 12:08] apollonian commented on #6339
💯 This would be wonderful!

[2021-08-03 12:08] dotansimha commented on #1925
`typescript-compatibility` was intended for migration between v0 and v1 of codegen (~3 years ago).
We've just released v2 and this plugin is no longer maintained or actively developed.

[2021-08-03 12:08] #1925 closed

[2021-08-03 12:10] dotansimha commented on #6346
TypeScript has nominal enums (see https://basarat.gitbook.io/typescript/main-1/nominaltyping#:~:text=%E2%80%8BEnums%20in%20TypeScript%20offer,that%20are%20otherwise%20structurally%20compatible.), so enums with the same values are still not compatible.

You can use `enumValues` config flag in order to tell codegen to use the enum generated by Prisma.

[2021-08-03 12:10] #6346 closed

[2021-08-03 12:11] dotansimha commented on #6355
Hi @Mossop , can you please share a reproduction of that issue? You can also try to set `DEBUG=1 VERBOSE=1` in your env, and you'll get more details.

[2021-08-03 12:12] dotansimha commented on #6363
Hi @bennypowers !
You can use `print` to get it for now, as a workaround. If you want, feel free to create a PR for it!

[2021-08-03 16:20] nbudin commented on #6368
@dotansimha Sure thing!  I've now submitted one here: https://github.com/dotansimha/graphql-code-generator/pull/6406

[2021-08-03 17:21] paolotiu commented on #5449
Attempted in #6408

[2021-08-03 17:33] strass opened #6409 "add InlineFragment to selection collection criteria"
I'm getting an `Invalid state` error from mergeSelectionSets after upgrading to 2.0. I'm one of the users who had a complex fragment use case that prompted the addition of the `inlineFragmentTypes` option in typescript-operations.

I think the logic for adding a selection to the newSelections array needs to be expanded to include more kinds than `FragmentSpread`. I was able to repair the error by

[2021-08-04 10:20] dan-lee opened #6414 "typescript-react-query: `exposeFetcher` fetcher missing dataSource argument"
**Describe the bug**
Generating types with `@graphql-codegen/typescript-react-query` and `exposeFetcher: true` exposes the fetcher but with missing `dataSource` argument (unlike the `useXXX` equivalent)

![image](https://user-images.githubusercontent.com/571589/128164041-2b35aba1-3020-478c-8020-3f2434f95f13.png)

**To Reproduce**

Set `exposeFetcher: true` for `@graphql-codegen/typescript-react-qu

[2021-08-04 16:04] tzachs commented on #6320
@dotansimha / @longlho sorry for that.

[2021-08-04 16:45] mengyazhu96 commented on #5998
Also bumped into this today!

[2021-08-04 18:12] Sytten commented on #6393
@n1ru4l I build a first draft of it. It works great from the small testing I have done, I would appreciate your input on it 🙏

[2021-08-04 19:43] mattwilkinsonn commented on #6381
Also having this issue, even when `dedupeFragments` is enabled in the config.

[2021-08-04 23:18] jhonatanmacazana opened #6421 "`plugin typescript-urql` Promises support"
**Is your feature request related to a problem? Please describe.**
`urql` has official support for promises when using queries and mutations, as shown [here][1]. Right now, the `typescript-urql` plugin supports _Components_ and _Hooks_, but _Promises_ can be really useful for decoupling code.

**Describe the solution you'd like**
Modifying the plugin to support an option like `withPromises: boolea

[2021-08-05 08:48] valtism opened #6423 "v2.0 breaks node 12"
Node 12 `yarn` cannot install v2 of this library because of a dependency on `@graphql-tools/url-loader@7.0.3` which uses `extract-files@11.0.0`.

My Netlify build using v12.16.3 broke with the message: `extract-files@11.0.0: The engine "node" is incompatible with this module. Expected version "^12.20 || >= 14.13". Got "12.16.3"`

[2021-08-05 14:09] canac opened #6427 "Manually sort fields"
I'm using the [MongoDB Realm GraphQL API](https://docs.mongodb.com/realm/graphql/) in my app. For some reason, the field order in its introspection API is unstable. It returns the fields in a different order every time it is queried. That makes my generated codegen file change with every run just to reorder the fields even when there are no real changes.

**Describe the solution you'd like**
I wou

[2021-08-05 14:49] eden-lane commented on #6339
Unfortunately I moved to far away from the point where I had this issue (I had stopped generating code from .ts files), so I'm not sure if I am able to reproduce it and try the solution you suggested. As far as I remember I had only two ts files and they are listed in the opening post. Without
[code]
in "documents" section there were no issues.

[2021-08-05 16:14] ardatan commented on #6423
You can add `--ignore-engines` flag near `yarn install` to make it pass for now.

[2021-08-05 16:22] ardatan commented on #6427
Seems duplicate with this one :)
https://github.com/dotansimha/graphql-code-generator/issues/5106#issuecomment-758823496

[2021-08-05 16:22] #6427 closed

[2021-08-05 16:41] htulipe opened #6428 "Non documented breaking change between typescript-operation 1.18.4 and 2.0.1 ?"
**Describe the bug**
My TS compilation failed after upgrading this package. I'm transforming query operations that use fragments on GraphQL interfaces. The trick is that I don't define a fragment for each possible type. It's easier to show than to explain, see below section

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/crazy-chatterjee-gwewo?file=/types.ts

1. My Gra

[2021-08-05 21:05] joual commented on #6310
I'm running into the same issue. Unfortunately @puchm's solution won't work for me because most of our resolvers are defined inline and our root object just gets assigned `Resolvers`.

We used to just do

[code]

but now that doesn't work :(

[2021-08-05 21:27] canac commented on #5106
I could use this in my project as well. My API is out of my control, and it returns the types and fields in different orders in response to the introspection query. I want my generated files in version control, and it would be nice to not have unnecessary changes on every run.

For what it's worth, when I've used graphql-code-generator in other projects, it does provided consistent output between

[2021-08-06 14:01] violabg opened #6439 "v2: generating code only for the last query inside a file"
I have a ts file with multiple queries like this

[code]

my codegen.yml is like this:

[code]

before **version 2** my generated files had the code for all queries, but since **version 2**, the generated files contains only the code for the last query, in the case above **getModelthreedById**

[code]

is there a new way to configure the codegen.yml or is a bug?

woking in

"@graphql-codegen/cli":

[2021-08-06 14:45] yura3d commented on #6439
Can confirm this behavior.

[CodeSandbox link](https://codesandbox.io/s/determined-dust-wyq3x?file=/src/graphQLTypes/test.ts)

`src/test.ts` containts 2 queries (`GetLanguages`, `GetCurrencies`). but generated file (`src/graphQLTypes/test.ts`) contains types only for the last query.

After restricting package versions of `@graphql-codegen/*` to `^1` everything is fine.

[2021-08-06 17:33] qsona commented on #6378
Yes, I'd like to try this :)

[2021-08-07 14:04] LinusU commented on #6423
@valtism the problem isn't Node.js 12, it's that you are using a too old a version of Node.js 12.

You are on 12.16.3, but the package requires 12.20.0 or later. Just upgrade your Node.js version and you should be good to go.

[2021-08-07 20:24] n1ru4l commented on #6428
The previous typing was actually incorrect. The new one is more accurate. Not sure why we should provide a option to use the wrong types. Could you explain that further?

[2021-08-08 15:41] paolotiu commented on #6414
Hey, @dan-lee! I missed this while creating the `exposeFetcher` feature. It  _should_ be a quick fix 😄

[2021-08-08 16:12] Urigo commented on #5957
@karkael64 closing for now as we haven't heard back from you after @ticruz38 recent comment.
If this still doesn't solve your problem please feel free to comment here and reopen the issue and PR.

Also, regarding that, I wonder what Svelte developers think about the new `near-operation-file-preset` introduced in [Codegen V2](https://twitter.com/UriGoldshtein/status/1423268278697398274?s=20)?
Would

[2021-08-08 16:12] #5957 closed

[2021-08-08 21:19] tobiasdiez opened #6443 "TypeScript Resolvers: Easier way to get possible resolve types for interfaces"
**Is your feature request related to a problem? Please describe.**

If you have an interface `Document` and multiple types implementing it, say `Article`, `Thesis` and `Other`, then the typescript resolvers generated looks similar to
[code]
As one can see, the implementing types are listed explicitly in the definition of the `__resolveType` function. Thus, they cannot easily be reused, which is mi

[2021-08-08 23:41] limulus commented on #5776
@matthiaskern Were you able to find a workaround for this, by chance? The only thing I have really been able to come up with is to avoid type checking with the `Resolvers` type, which obviously is not ideal.

[2021-08-09 10:39] tobiasdiez opened #6449 "gql-tag preset: Issue with indention"
**Describe the bug**

The graphql query passed to the generated `gql` function is not recognized due a mismatch in the indention.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a graphql query as
[code]
2. Run the code generation using the `gql-tag preset`
3. Observe that `checkLoggedIn` has type unknown.

The problem is the indention. The generated gql file has the following signatu

[2021-08-09 10:48] ardatan commented on #6449
Could you share a reproduction on CodeSandbox? Thanks!

[2021-08-09 11:18] tobiasdiez commented on #6449
I tried, but only leads to another error: https://codesandbox.io/s/vibrant-haibt-qogmm?file=/codegen.yml
[code]

[2021-08-09 13:13] theodorDiaconu opened #6450 "Improper name convertion for "ProjectVRAction""
Given this type:
[code]

The generated code is:
[code]

Notice the small 'r' in 'Vr'. Is there anyway I can keep it the same as the GraphQL entity?

[2021-08-09 13:19] theodorDiaconu commented on #6450
Solved by adding the option config: { namingConvention: "keep" }

[2021-08-09 13:19] #6450 closed

[2021-08-09 13:40] #6318 closed

[2021-08-09 14:03] flpvsk opened #6451 "Can't set `fetchPolicy` using `defaultBaseOptions` config variable of `typescript-react-apollo`"
**Describe the bug**

Can't set `fetchPolicy` using `defaultBaseOptions` config variable of `typescript-react-apollo`.

The `defaultOptions` variable that is added by `typescript-react-apollo` plugin does not have a type signature. Because of that the string value e.g. `"no-cache"` is not recognized by typescript as a member or a `FetchPolicy` (or any other) union.

**To Reproduce**
Steps to repro

[2021-08-09 14:19] flpvsk commented on #6451
For context, setting default `fetchPolicy` using `defaultOptions` parameter of `ApolloClient` constructor doesn't work either:

https://github.com/apollographql/apollo-client/issues/2555

But for the issue above at least there is a workaround: https://github.com/apollographql/apollo-client/issues/2555#issuecomment-449871538

[2021-08-09 14:40] evansrobert opened #6452 "Is it possible to update @graphql-tools/prisma-loader to remove the vulnerability introduced by ws ?"
Hi, @dotansimha,
### Issue Description
When I build my project, I notice that a vulnerability [**CVE-2021-32640**](https://snyk.io/vuln/SNYK-JS-WS-1296835) detected in package **ws(<5.2.3,>=6.0.0 <6.2.2,>=7.0.0 <7.4.6)** is transitively referenced by **_@graphql-codegen/cli@1.21.8_**.
   However,  **@graphql-codegen/cli@1.21.8** is so popular that a large number of latest versions of active and po

[2021-08-09 15:06] ardatan commented on #6452
Correct me if I am wrong but unless you have anything related to WS on codegen, you shouldn't be worried about right? Codegen is a CLI tool and this vulnerability thing doesn't look that dangerous to me.

I also recommend this article about `npm audit` :) ;
https://overreacted.io/npm-audit-broken-by-design/

I don't know how directly you're using codegen but is it too hard to update to v2 for you

[2021-08-09 19:02] willsoto commented on #6314
@dotansimha I'm willing to pick this up to get it fixed if you / someone can point me in the general direction of what I would need to change

[2021-08-10 07:32] n1ru4l commented on #6449
@tobiasdiez There were some dependencies such as `graphql` missing. I added missing dependencies and added a tsconfig.json, I was able to run codegen successfully.

https://codesandbox.io/s/objective-platform-qg90m?file=/src/gql/index.ts

I could observer the following two issues:

## CLRF Line endings

The test.ts used those and because of that the string type could not be correctly inferred. By

[2021-08-10 07:40] n1ru4l commented on #6449
@tobiasdiez https://github.com/dotansimha/graphql-code-generator/blob/19e8768f9d43bfc5e69b7b1e05eafccca0400e6f/packages/plugins/typescript/gql-tag-operations/src/index.ts#L54 here something must go wrong - if you could have a look that would be highly appreciated! Otherwise, I will try to have a look at this later this week!

[2021-08-10 09:21] tobiasdiez commented on #6449
Thanks @n1ru4l for fixing the codesandbox.

In the meantime, I was able to debug the problem a bit and could trace it the following location in the graphql-tag-pluck package:
https://github.com/ardatan/graphql-tools/blob/2fd7432829a729bfcabc53379168145d27818344/packages/graphql-tag-pluck/src/visitor.ts#L194

For me locally, `options` is an empty object and hence `freeText` is called with the secon

[2021-08-10 09:48] n1ru4l commented on #6449
@tobiasdiez Maybe you have something overriding dependencies? You might wanna check your lock file

[2021-08-10 10:40] tobiasdiez commented on #6449
I thought so as well, but after further debugging I think it is an issue in the code-generator.

The only place I could find where the pluckConfig is specified is this one here:
https://github.com/dotansimha/graphql-code-generator/blob/b0cb13df418632b2b82c24129770f2b2a281e849/packages/graphql-codegen-cli/src/load.ts#L81-L84
However, for me this code is never executed. Instead, the code flow is as

[2021-08-10 11:53] n1ru4l commented on #6449
@tobiasdiez Could it be possible that your documents are loaded via graphql-config config files?

[2021-08-10 12:02] tobiasdiez commented on #6449
Yes, this is indeed the case! This is the configuration I'm using https://github.com/JabRef/JabRefOnline/blob/5433703234b7484813c1e66f5c2735ed827db2ad/graphql.config.js#L32-L44

[2021-08-10 12:17] n1ru4l commented on #6449
Then I think resolving this issue is a s easy as adding the config here: https://github.com/dotansimha/graphql-code-generator/blob/6734c58055d283f051bf32f115f2308000e56431/packages/graphql-codegen-cli/src/graphql-config.ts#L16

[2021-08-10 16:26] matthiaskern commented on #5776
@limulus It's been a while, but I believe using mappers to the original resolver type to have alleviated the issue at the time, e.g.

[code]

[2021-08-10 19:00] pmazumder3927 opened #6463 "Swallowed Errors | AggregateError: GraphQL Document Validation failed"
**Describe the bug**
When running codegen on a document where a field doesn't exist, a very nonspecific error is emitted
[code]

**To Reproduce**
Steps to reproduce the behavior:
Sandbox: https://codesandbox.io/s/eager-cloud-1oz6y?file=/codegen.js
The server link is a placeholder

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

The field "

3. My `codegen.yml` config file:

[code

[2021-08-10 22:06] toverux opened #6465 "Support TypeScript 4.3 noImplicitOverride in typescript-apollo-angular"
Typescript 4.3 [introduced a new `override` keyword and the `noImplicitOverride` rule](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-3.html#override-and-the---noimplicitoverride-flag).

It would be nice to support this keyword with a new option, as the typescript-apollo-angular plugin generates subclasses of Apollo's `Mutation` classes and overrides `Mutation.document`, f

[2021-08-10 22:45] ardatan commented on #6465
This would be breaking change if we make it by default. It would be better to have it with a configuration flag. We'd love to accept PRs for this change.

[2021-08-11 13:25] strayiker commented on #5333
`typed-document-node` generates the `...DocumentNode<Query, QueryVariables>;`. On the other side
`typescript-react-apollo` produce the `...DocumentNode;`
This different breaks the `updateQuery` typings in my case.

[2021-08-12 01:07] aboveyunhai commented on #6355
@Mossop  I just found one.
![image](https://user-images.githubusercontent.com/35160613/129122714-2fd309e9-b16d-4ec5-a646-7580198482ae.png)
![image](https://user-images.githubusercontent.com/35160613/129122725-4c01a9af-b36f-4b77-a630-f6c206b2ce05.png)

The problem is because I did not capitalize the `type`
![image](https://user-images.githubusercontent.com/35160613/129122796-199f3380-ca29-43bd-906f

[2021-08-12 05:02] #6423 closed

[2021-08-12 10:14] neiker commented on #4788
To add a little more info:

This is working correctly and returns the **field** with `?` https://github.com/dotansimha/graphql-code-generator/blob/9005cc17ecaa520ba57380940640e28b837a1488/packages/plugins/typescript/typescript/src/visitor.ts#L239-L255 but at some point the node is passed again to the visitor and the `?` is not there on the **object**

[2021-08-12 12:44] jycouet commented on #6076
Hi @dotansimha, I just came back on this, and actually it's working well!
It's just that `console.log` in my scripts are not showing up.

[2021-08-12 13:49] anark commented on #6439
Any update on this? Or an idea where to start?  We are also seeing this issue and it is blocking us from upgrading

[2021-08-12 15:09] elliottsj commented on #2872
As an alternative, we made a general-purpose CLI which verifies that a command generates a file equivalent to the file on disk: https://github.com/Yolk-HQ/diff-verify-cli

e.g.

[code]

[2021-08-12 17:45] ardatan commented on #6355
Fixed in `@graphql-tools/utils` with this commit;
https://github.com/ardatan/graphql-tools/commit/b968463124cd2e397852d4e57ebe36acf3602462

It'll be available soon in GraphQL Codegen cc @dotansimha

[2021-08-12 17:46] ardatan commented on #6439
Fixed in `@graphql-tools/code-file-loader` with this commit;
https://github.com/ardatan/graphql-tools/commit/1c6fb01a94ca5314071890a38e0aa7f4378aca01

It'll be available soon once GraphQL Codegen is released with the newer version of GraphQL Tools

[2021-08-12 18:28] #6452 closed

[2021-08-13 04:37] ngocanh1233 commented on #6463
I think it related to version of Graphql. I am using Graphql version "^15.0.0" and it working fine.

[2021-08-13 07:51] neiker commented on #4788
In my case the solution was to set `object` to `false`.

[code]

[2021-08-13 08:28] htulipe commented on #6428
I know the new way is the correct way but it happens to give me more work to do: now I need to make sure that the object I get from my query is actually a Foo by wrapping my code with some type guard such as: `if('foo' in entity) { ... }`.

Anyhow I'll close the issue since there's nothing to do.

Thanks

[2021-08-13 08:28] #6428 closed

[2021-08-13 10:22] domjtalbot opened #6475 "React Query config options examples not rendering as code blocks"
**Describe the bug**
React Query's config options `exposeDocument` and `exposeQueryStrings` examples aren't rendering as code blocks.

**Expected behavior**
React Query's config options `exposeDocument` and `exposeQueryStrings` examples should render as code blocks, similar to `exposeFetcher`.

**Additional context**

![Screenshot 2021-08-13 at 10 24 44](https://user-images.githubusercontent.com/3

[2021-08-13 16:46] UselessPickles commented on #5282
Another possible option for achieving the same practical result would be a new option for generating, but not exporting, the non-operation types. Then you could use `"preResolveTypes": false` and `"exportOperationTypesOnly": true`.

Properties of "operation types" will be picked from the non-exported non-operation types and therefore "inherit" the documentation and @deprecated tags.

I think it wo

[2021-08-14 02:22] padorang684 commented on #6449
I had the exact same issue, I was able to resolve it by setting the version of `@graphql-tools/code-file-loader` to `7.0.1` using `resolutions` in `package.json`. `@graphql-tools/code-file-loader@7.0.3` seems to have introduced a breaking change, causing this issue

[2021-08-14 18:04] puchm opened #6482 "Subscription resolver args are of type any"
**Describe the bug**

It seems to me like arguments for subscription resolvers are all of type `any`. I got this after running the code generator with the Typescript Resolvers plugin:
[code]

What is the reason for `...args: any[]`?

**To Reproduce**
Steps to reproduce the behavior:
Run the code generator with the typescript resolvers plugin on a schema with subscriptions. I think this should resu

[2021-08-14 22:37] cerino-ligutom opened #6483 "[typescript-resolvers] Map custom context type on a type-level"
**Is your feature request related to a problem? Please describe.**

I would like to map a custom context type on a type-level (`Subscription` in this case) and all fields under that type should inherit the mapped context type.

Apollo Server v3 has [decoupled the subscription server](https://www.apollographql.com/docs/apollo-server/migration/#subscriptions) entirely and because of that, I cannot c

[2021-08-15 08:12] Urigo commented on #6191
Hi @paolotiu and thank you for the report

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 1` thanks to your reproduction! Thank you for that!

Now in order to advance to `stage 2` we'll need a failin

[2021-08-16 18:15] jantimon opened #6488 "hooks hide logs of their tasks"
Hooks are really powerful - unfortunately right now all logs are hidden:

https://github.com/dotansimha/graphql-code-generator/blob/71b9a8925d9df494adf8496d16f660308499461a/packages/graphql-codegen-cli/src/hooks.ts#L47-L84

Would it be possible to log them to console? For example in VERBOSE mode?
Without those logs its really hard to find out if those hooks are setup correctly.

[2021-08-17 10:04] johannesbraeunig opened #6491 "Apollo can't read/write fragments because of missing fragments"
<details>
<summary>Versions</summary>
Versions
@graphql-codegen/add@3.0.0
@graphql-codegen/cli@2.0.1
@graphql-codegen/near-operation-file-preset@2.0.0
@graphql-codegen/plugin-helpers@2.0.0
@graphql-codegen/typed-document-node@2.0.0
@graphql-codegen/typescript@2.0.0
@graphql-codegen/typescript-graphql-files-modules@2.0.0
@graphql-codegen/typescript-operations@2.0.1
</details>

**Describe the bug**

[2021-08-17 20:09] n1ru4l commented on #6449
@tobiasdiez Can you please double confirm that https://github.com/dotansimha/graphql-code-generator/pull/6494 does resolve this issue for you?

[2021-08-17 23:35] huderlem commented on #5556
Hi, I ran into this bug today when setting up C# codegen.  A simple way to reproduce the bug is within the demo page on https://www.graphql-code-generator.com/.  Below is a screenshot of how the `c-sharp-operations` plugin does not prefix reserved keywords with the `@` character.
![image](https://user-images.githubusercontent.com/2229288/129813822-0b16b850-00b8-4ed5-b32d-30e265adc243.png)

I poked

[2021-08-18 11:29] hpohlmeyer opened #6496 "[typescript-react-query] Query keys are too specific"
**Describe the bug**
Query keys are too strict by default, because they always have a second parameter.

[code]

In the above example the getUsers query internally uses a queryKey of `['getUsers', { role: "User" }]`, which is what I would expect.

After deleting a user, I want to invalidate all getUsers queries, regardless of their variables. That means I only care for the first part of the query

[2021-08-18 15:03] tambuimyda commented on #5333
@m-rutter I'm facing the same issue you had, have you figured out a solution for it? Thank you in advance.

[2021-08-18 15:21] huderlem commented on #5556
This should now be in `stage/4-pull-request`. See pull request here: #6495

[2021-08-18 22:01] lee-alexander opened #6499 "[typescript] Opt out of suffix for enum value keys"
**Is your feature request related to a problem? Please describe.**
It's a bit odd that suffixes are applied to enum values in addition to the enum itself (when using `typesSuffix`):
[code]
Normally the suffix is useful to disambiguate the overall type when importing and using it in files, but there is not much benefit to having a suffix on the values themselves in most cases (`UserSuffix`, for exa

[2021-08-19 01:42] phildenhoff opened #6505 "[jsdocs] Schema & directives cause `[object Object]` to be written to the file"
**Describe the bug**

If your Schema has directives or includes a `schema` header, the JSDocs plugin dumps an `[object Object]` to the output file. It's invalid Javascript, which is problematic.

**To Reproduce**

https://codesandbox.io/s/nifty-euclid-o963o?file=/types.js

You can see that there are two `[object Object]` lines at the top of the output file. If you use `@deprecated`, as below, you

[2021-08-19 06:55] n1ru4l commented on #6449
@tobiasdiez @padorang684 A fix is now on master.

[2021-08-19 06:55] #6449 closed

[2021-08-19 06:58] n1ru4l commented on #6491
@johannesbraeunig Can you please provide a reproduction or even better pr with a failing test for this?

[2021-08-19 08:41] HT-Moh opened #6510 "graphql-codegen depends on vulnerable versions of node-fetch"
Hi
using nextjs last version, codegen , prisma. everything is working but we I run `npm audit fix` I got the following error, which bugging me. :-)

node-fetch  <=2.6.0 || 3.0.0-beta.1 - 3.0.0-beta.8
Denial of Service - https://npmjs.com/advisories/1556
No fix available
node_modules/graphql-codegen/node_modules/node-fetch
  graphql-codegen  *
  Depends on vulnerable versions of node-fetch
  node_m

[2021-08-19 09:27] ardatan commented on #6510
We don't have a package called `graphql-codegen` on npm. Maybe it is an old version you are using.
Also please see this about  npm audit stuff
https://overreacted.io/npm-audit-broken-by-design/

[2021-08-19 09:28] #6510 closed

[2021-08-19 10:05] n1ru4l commented on #6463
This is an issue with graphql-tools/utils versions as some graphql-tools dependencies pin the exact version. I created a PR for loosening them more https://github.com/ardatan/graphql-tools/pull/3404 but it requires more internal discussion first.

For now, the best thing you can do is to use `yarn` resolutions and enforce installing `@graphql-tools/utils@^8.1.1`.

[code]

https://classic.yarnpkg.c

[2021-08-19 10:41] johannesbraeunig commented on #6491
@n1ru4l I was able to narrow it down to the option `dedupeFragments`. As soon as this option is enabled the imported fragment document doesn't get included in the fragment, while the import of the document of the imported fragment is still there.

Here is an example:

### Without `dedupeFragments` enabled:
- Config: https://codesandbox.io/s/gql-code-generator-without-dedup-fragments-nwucx?file=/co

[2021-08-19 15:52] n1ru4l commented on #6449
I also pushed a fix for https://github.com/dotansimha/graphql-code-generator/issues/6449#issuecomment-895799151 `Invalid document references`  over here https://github.com/dotansimha/graphql-code-generator/pull/6513

Will release all that stuff later!

[2021-08-19 16:44] tobiasdiez commented on #6449
@n1ru4l Thanks for the quick fixes. I tried it with what I found to be the latest versions
[code]
However, this reults in the following error when running codegen:
[code]
I'm not sure, but maybe the reason is that `@graphql-codegen/gql-tag-operations` still depends on `"@graphql-codegen/plugin-helpers" "^2.0.0"`?

[2021-08-19 16:54] n1ru4l commented on #6449
https://github.com/dotansimha/graphql-code-generator/pull/6441 those are the latest versions

[2021-08-19 17:26] tobiasdiez commented on #6449
Oh, I missed this. I can confirm that the capitalization problem is fixed. Sadly, however, the indention problem is still the same...the generated code still doesn't contain the leading indention. I think the issue is that #6494 added the pluckConfig for the schema loader, but not for documents. If I change
https://github.com/dotansimha/graphql-code-generator/blob/1928848d6f1df0c07828026e260caf093

[2021-08-19 17:37] n1ru4l commented on #6449
@tobiasdiez Can you send a PR?

[2021-08-20 05:39] n1ru4l commented on #6463
This is now fixed in the latest release 😇 Please make sure that no other dependency (besides codegen) result in installing an older graphql-tools/utils version.

[2021-08-20 05:39] #6463 closed

[2021-08-20 05:43] n1ru4l commented on #6439
This is now released 😇

[2021-08-20 05:43] #6439 closed

[2021-08-20 05:44] n1ru4l commented on #6355
The fic has been published 😇

[2021-08-20 05:44] #6355 closed

[2021-08-20 16:26] nbudin opened #6520 "With near-operation-file-preset, graphql-code-generator generates imports of fragment declared in same .ts file"
If a fragment is declared and used in the same .ts file, `near-operation-file-preset` seems to cause graphql-code-generator to put a self-import at the top of the generated operations file.  So far I have tried this with `typescript-graphql-request`, `typescript-react-apollo`, and `typescript-react-query`, and they all exhibit this same behavior, so I think it's happening at a deeper level, possib

[2021-08-20 16:56] cdaringe opened #6521 "avoidOptionals for inputs not producing correct `?` optionals"
**Describe the bug**

![image](https://user-images.githubusercontent.com/1003261/130266032-6fa99a99-52af-4df4-9aec-73e7d12d4182.png)

In the above live demo:

- observe an `optional` GQL query input
- you can see that we are `avoidOptionals: { inputValue: false }` for that value
- the output _does not avoid_ (double negative, as specified by the configuration), and thus **does avoid** optionals. y

[2021-08-21 05:31] alisalim17 commented on #6336
I think changing yarn 2 is not best solution.

Does anybody know better solution ?

[2021-08-21 12:48] mstykow opened #6529 "schema-ast does not comment descriptions at the same time as including directives"
**Describe the bug**
As soon as `includeDirectives` is set to true, the value of `commentDescriptions` no longer matters: comments will always be generated as docstrings.

**To Reproduce**
[code]

**Expected behavior**
It is possible to include directives and comment descriptions at the same time.

**Environment:**

- OS: Ubuntu 20.04
"@graphql-codegen/add": "^2.0.2",
"@graphql-codegen/cli": "^1.2

[2021-08-22 07:50] sunaulo-suhail opened #6531 "Cannot generate types if ```typeDefs``` are imported from local package monorepo"
**Describe the bug**
I am using monorepo where I have to share the **type definitions** between packages. So I have defined common graphql type definition in a separate package. But while generating the schema ```code-generator``` could not find the schemas imported from the shared module.

**To Reproduce**
1. Create a monorepo with a **shared** packages let's say ```@demo/schema```  and a applica

[2021-08-22 13:38] jisensee opened #6532 "[TypeScript] NumericEnums config always produces UPPER_CASE enum values"
**Describe the bug**
Using numericEnums always leads to enum values in upper case instead of the default pascal case. Even setting the naming convention manually does not appear do do anything.

**To Reproduce**
https://codesandbox.io/s/elastic-lederberg-sd10o?file=/types.ts
enum Test should have the value 'TestValue' instead of TEST_VALUE

[2021-08-22 16:56] jycouet opened #6534 "Double type when type and extend type are in the same module"
**Describe the bug**
I'm in a graphQL module context, and my `codegen.yml` look like:
[code]

I have one file `TYPE.AccountGroup.gql`
[code]

AND
another one  `EX_TYPE.AccountGroup.accounts.gql`
[code]

After the code gen run, in _gen/module-types.ts, I have the type AccountGroup twice :open_mouth: .

I think that it's coming by the fact that in the same module, the type and an extension as well!

[2021-08-22 18:37] jycouet commented on #6534
The issue is arround https://github.com/jycouet/graphql-code-generator/blob/8d94526ccad71e64a87cc7bac520815a721ddd4e/packages/presets/graphql-modules/src/builder.ts#L103

With my test (failing), you can see that User is here twice.

---

But for me to fix the issue, I need to be more efficient...
So I have a few questions that could help the CONTRIBUTE guide:
- Can we build only this presets/graph

[2021-08-22 20:10] CrispenGari opened #6536 "graphql-code-generator not generating code"
I've a `codegen.yml` that looks a follows:

[code]

I have a  script in the package.json that looks as follows:

[code]

This is my folder structure:

[code]
The `login.grahql` looks as follows:

[code]
When i run

[code]
I get
[code]
But I don't see any generated `code`. I was following [the docs](https://www.graphql-code-generator.com/docs/plugins/typescript-react-apollo). What may be possibly m

[2021-08-23 01:06] chrbala commented on #6409
I also have this issue and had to use 1.x to make the codegen work.

[2021-08-23 02:32] tomasreimers opened #6539 "Support for interfaces"
**Describe the bug**

Hi, apologies if this is a simple question. I am trying to resolve this issue on Github's API's generated TypeScript definitions: https://github.com/octokit/graphql-schema/issues/526

When a field returns an interface, the generated types only have it as returning that exact interface interface (as opposed to a union of all types which might implement that interface).

**To R

[2021-08-23 03:06] blaenk opened #6540 "[typescript-react-apollo]: `importDocumentNodeExternallyFrom` omits `documentVariableSuffix`"
I'm trying to figure out how to be able to generate separate files: one containing _only_ types/operations/typed-document-nodes, and the other containing _only_ react hooks. The goal is that then if a consuming package doesn't depend on react, it can specifically import the types and not have any errors since the react hooks are in a separate file, while minimizing the duplication of generated cod

[2021-08-23 04:20] dqn commented on #5938
Is this feature the same as this one?

[code]

[2021-08-23 06:48] n1ru4l commented on #6520
This is now released, thanks!

[2021-08-23 06:48] #6520 closed

[2021-08-23 11:53] kubijo opened #6542 "Missing dependency in @graphql-codegen/plugin-helpers"
**Describe the bug**
You have a broken dependency tree (at least) for the package `@graphql-codegen/plugin-helpers`

**[Codesandbox](https://codesandbox.io/s/graphql-codegen-cli-on-yarn-berry-x6xk5)**

**Environment:**

- `@graphql-codegen/cli`: `2.1.1`
- `@graphql-codegen/typescript`: `2.1.1`
- `@graphql-codegen/visitor-plugin-common`: `2.1.1`
- `NodeJS`: `v14.17.0`
- `Yarn`: `3.0.0`

**Additiona

[2021-08-23 14:10] wesselvdv opened #6543 "Unable to create custom document loader for glob pattern source"
I am trying to write my own document loader to facilitate the usage of the `@export` directive from Apollo Client. I found several issues (#3939 & #2771) (even a PR #3886) that contain bits and pieces for the solution, but I figured I'd require a custom document loader because I need to filter out some variable definition requirements to prevent syntax errors.

I am now running into the issue that

[2021-08-23 14:39] shiwano opened #6544 "[typescript-urql-graphcache] typesPrefix and typesSuffix options are not worked"
**Describe the bug**
When using the `typescript-urql-graphcache` plugin, the generated types don't respect the `typesPrefix` and `typesSuffix` config options. For example, the type `User` will not be renamed even if the `typesPrefix` and `typesSuffix` are set.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/distracted-shape-xl8ik?file=/types.ts

1. My GraphQL schema:

[2021-08-23 17:31] nbudin opened #6546 "With near-operation-file-preset, queries using multiple fragments can generate duplicate imports"
**Describe the bug**
In a project using near-operation-file-preset that has two files with operations A and B, and B uses fragments from A in a certain way, the resulting generated file for B will contain duplicate imports of the same symbols from the generated file for A.  This is an error in TypeScript.

In particular, the way I've found to reproduce this behavior is:

* A contains fragments A1

[2021-08-23 18:10] chenrui333 commented on #6310
I am running into this same issue when upgrading resolvers from `1.15.0` to `2.1.1`

[2021-08-23 21:26] djpate opened #6551 "typescript-generic-sdk: Cannot read property 'value' of undefined"
When attempting to generate with the SDK plugin, it fails without given any clear error of what is wrong.

**stacktrace**
[code]

I cannot really help given a repro steps since I have hundreds of gql files and no idea what is the issue.

Generation works fine without the plugin.

**To Reproduce**

3. My `codegen.yml` config file:

[code]

**Expected behavior**
A clear error or at least pointing to

[2021-08-23 21:46] djpate commented on #6551
Found out it was because some of my mutations were not named.

[2021-08-24 03:59] jacob-indieocean opened #6552 ""Invalid state" error in mergeSelectionSets when merging InlineFragment."
**Describe the bug**
I have two fragments that overlap in the data they query. That is normally fine, but when they both query a union type using an  inline fragment, an "Invalid state." error is throw by `mergeSelectionSets`.

**To Reproduce**
Here is a minimal reproduction, which does not use fragments.

https://codesandbox.io/s/bitter-brook-tg5hw

1. My GraphQL schema:

[code]

2. My GraphQL op

[2021-08-24 07:59] leahciMic opened #6553 "Cannot load module with namingConvention"
**Describe the bug**

resolveExternalModuleAndFn broken since ESM update: https://github.com/dotansimha/graphql-code-generator/pull/6102

`const cwdRequire = module$1.createRequire(process.cwd());`

Looks like using `createRequire` with a path to a folder and not a file/url does not work. It assumes the last part of the path is a filename and strips it. Using `process.cwd() + '/'` will fix it.

**

[2021-08-24 11:14] correttojs commented on #6552
not sure if it's the exact same issue I'm facing, but it works on `"@graphql-codegen/typescript-operations": "1.18.4"`

[2021-08-24 16:18] jacob-indieocean commented on #6552
I didn't realize the template codesandbox was not up to date on the dependencies and I didn't change it. However, the issue still exists in the latest versions. I updated the repro to the latest dependencies and it still throws "invalid state".

@correttojs can you link to the issue you have?

[2021-08-24 19:56] HunderlineK opened #6559 "[typescript] non nullable GraphQL inputs with default values should NOT be optional for BE code"
**Describe the bug**
If the default value for a non-nullable field is set, the generated output marks the field as optional i.e. suffixed with `?`

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
The type generated for inputs with default values i.e. `size` and `offs

[2021-08-24 22:12] alexjharrison opened #6560 "[typescript-urql-graphcache] Optimistic Update Typename Hardcoded"
**Describe the bug**

When using the codegen cli tool to create my ts definitions for urql graphcache, the prefix for the mutation args for optimistic update functions is always "Mutation".  In my schema it should be prefixed with "Mutation_Root".

The error is caused on this line
https://github.com/dotansimha/graphql-code-generator/blob/e8bc3fd2382d291aaacd4c78b54c759f4d791218/packages/plugins/ty

[2021-08-25 05:09] renovate[bot] opened #6565 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency husky to v7.0.2](../pull/6564)
 - [ ] [fix(deps): update dependency detect-indent to v7](../pull/6446)

## Ignored or Blocked

These are blocked by an existing closed PR and will not

[2021-08-25 05:36] AndreasHald commented on #6049
Hi again @dotansimha, I saw that #6102 was closed and released, was that supposed to fix this issue, because even after installing @latest I'm still seeing it.

[2021-08-25 06:13] PabloSzx commented on #6049
This issue is due to prevent breaking changes and to be able to do require relative to a specific path, in the ESM support PR the require with "createRequire" was kept for the imports for the cli in config, but it is currently possible to do programmatic usage of graphql-codegen and importing using full ESM all the way

[2021-08-25 15:08] yonder-jon opened #6567 "yarn graphql-codegen init fails"
**Describe the bug**
Following the 'installation' page of the docs does not work, manually adding 'visitor-plugin-common' allows the cli to run, but fails to actually add the required plugins to the project

**To Reproduce**
Steps to reproduce the behavior:
1. Start with any non-codegen typescript project, old or new
2. yarn install graphql
3. yarn install -D @graphql-codegen
4. yarn graphql-codeg

[2021-08-25 17:40] vjpr opened #6568 "Missing dep `@graphql-codegen/visitor-plugin-common` in `@graphql-codegen/plugin-helpers`"

[2021-08-25 19:12] #6568 closed, assigned to nobody

[2021-08-29 01:09] frederikhors opened #6584 "typescript-urql plugin generates not working code"
**Describe the bug**

I'm using the plugin `@graphql-codegen/typescript-urql@3.1.2`.

It works but generates code like:

[code]

This is a problem because SvelteKit throws with:

`The requested module '/node_modules/.vite/graphql.js?v=b4a54645' does not provide an export named 'DocumentNode'`.

Which is correct because `DocumentNode` here is a type and the first line should be instead:

[code]

**

[2021-08-29 10:00] A-Shleifman opened #6585 "Should namingConvention be camelCase by default?"
First of all, thank you for this amazing plugin!

By default it generates TypedDocumentNodes in `PascalCase`. While it makes sense for all generated TypeScript types, it probably should be `camelCase` for nodes as they are values rather than types. For example, `typescript-react-apollo` generates functions that start with lowercase letters.

There's a config option `namingConvention`, but setting

[2021-08-29 10:01] PatrykWalach commented on #6584
you can try adding
[code]

[2021-08-29 10:12] A-Shleifman commented on #6585
Thank you for the quick response, @dotansimha, but I'm not sure about this. Both issues are resolved in `typescript-react-apollo` plugin, so I think these issues are `typed-document-node`-specific

[2021-08-29 10:14] A-Shleifman commented on #6585
There's no need to change how `namingConvention` works as long as documentNodes are exported as `camelCase` by default.

[2021-08-29 10:25] frederikhors commented on #6584
Yes it works! Thansk!

[2021-08-29 10:25] #6584 closed

[2021-08-30 08:30] HT-Moh opened #6587 "Multiple hooks on the same component - Cannot redeclare block-scoped variable"
I am using three generated hooks on the same component, and I am getting the error 'Cannot redeclare block-scoped variable 'loading'.ts(2451)`  (highlighted on red). when I change the name from `loading` to `Nloading` I get of course `Property 'Nloading' does not exist on type 'MutationResult<InsertBlogTagMutation>'.ts(2339)`

![image](https://user-images.githubusercontent.com/34759569/131309553-2

[2021-08-31 06:24] thisisxvr opened #6592 "Cannot generate types for operations inside TypeScript `.tsx` files"
**Describe the bug**
Operations that are colocated inside `.tsx` files are not being parsed by the plugins. However, if the operation is defined directly in the `codegen.yaml`, it works fine.

**To Reproduce**
A codesandbox with my package versions and configuration be found here: https://codesandbox.io/s/happy-pasteur-plx2y.
However, the issue is not being replicated in the codesandbox.

1. My Gr

[2021-08-31 16:16] ardatan commented on #6310
First of all, it is not a bug. It is a kind of fix/feature actually because this is the valid signature GraphQL Tools supports. We'd love to accept any PRs for a configuration field that removes `ResolverWithResolve` from the `Resolver` union.

[2021-08-31 16:19] ardatan commented on #6560
The information you provide is not enough for reproduction. Could you create a reproduction on CodeSandbox? Thanks.

[2021-08-31 18:06] HT-Moh opened #6597 "generated Input and response type are snake case."
Why the code generated is for graphql input and response types are snake case ? instead the operations (hooks) are generated correctly

![image](https://user-images.githubusercontent.com/34759569/131552836-10c78e4d-4f96-428f-9420-8f16e5549b2b.png)
![image](https://user-images.githubusercontent.com/34759569/131553264-1adf59b7-f11c-46fa-8eec-12581ae74bab.png)

I am using nextjs `"^11.1.0",` + hasura

[2021-09-01 08:52] canpoyrazoglu opened #6599 "Package has been ignored because it contains invalid configuration."
After updating to latest versions I've been getting the following warning on app startup:

[code]

I haven't changed anything related to GraphQL Codegen. I'm on TypeScript 4.4.2, and here is the relevant part of my _DEV_ dependencies:

[code]

**To Reproduce**
Have the latest versions of GraphQL codegen for TypeScript in your dev dependencies, run your app, check console.

**Expected behavior**
Th

[2021-09-01 10:03] sschneider-ihre-pvs opened #6600 "fragment-matcher generated code is wrongly indented"
**Describe the bug**

When using the fragment-matcher plugin against a graphql server this is the result of the generated code.
![image](https://user-images.githubusercontent.com/86342787/131652272-994e656a-5a95-4125-9e3d-bb720f8d6159.png)

**To Reproduce**
Steps to reproduce the behavior:
use fragment-matcher plugin. Possibly have not fragments to match.

1. My GraphQL schema:

[code]

2. My Grap

[2021-09-01 22:45] thisisxvr commented on #6592
Turns out the issue was having a caret symbol in the path to my components: `~/Documents/F^o/Bar.tsx` 🤷‍♂️.

[2021-09-01 22:45] #6592 closed

[2021-09-02 16:12] danielo515 opened #6605 "Import queries instead of duplicating them on the generated output"
**Is your feature request related to a problem? Please describe.**

It is a problem we have with the way the output is generated, which leads to a very big file and failing static dependency analysis.

When using "typescript-operations" and "typescript-react-apollo" the generated output (which should include hooks and HOCs) the queries that are being used are duplicated on the generated file. This

[2021-09-03 00:05] PabloSzx commented on #6599
@canpoyrazoglu Could create a reproduction repository please?  with any schema it should work, for example: https://api.spacex.land/graphql/

[2021-09-03 00:20] juanlatorre commented on #6599
@canpoyrazoglu are you by any chance using react-native ?

[2021-09-03 08:06] arnabkd opened #6610 "Splitting generated file by queries"
**Is your feature request related to a problem? Please describe.**

When starting off with graphql-codegen in a new project, it is quite nice to have everything in one file. However, as the application grows and the number of queries grow with it, having everything in just *one* file is a pain for readability purposes and for the IDE as well.

**Describe the solution you'd like**

I would prefer i

[2021-09-03 08:08] arnabkd commented on #6587
You can simply do:
[code]

Then you'll have two booleans that indicate loading status for the two mutations :)

[2021-09-03 08:10] #6587 closed

[2021-09-03 09:31] ardatan commented on #6610
Is that what you want?
https://www.graphql-code-generator.com/docs/presets/near-operation-file

[2021-09-03 10:01] #6409 closed

[2021-09-03 10:13] n1ru4l commented on #5449
I think we should solve this issue by actually fixing the type of the config options provided.

e.g. `fetchParams` is of type `Record<string, any>`, but I think it should instead be of type `string`.

That would allow providing the following configuration:

[code]

And would also allow usage of environment variables easily:

[code]

This would be a breaking change but address all the issues, witho

[2021-09-03 11:11] arnabkd commented on #6610
It's _close_. I would have preferred it if it didn't sit right next to the `.graphql` files, but rather in a `generated` folder along with the rest. Maybe I misunderstood how this works? I couldn't gather all of the generated files in one folder.

[2021-09-03 11:24] #6610 closed

[2021-09-03 11:25] n1ru4l commented on #6610
Closing this as it seems answered.

[2021-09-03 11:27] n1ru4l commented on #6605
WHy not simply write your operations into `.graphql` files?

Importing from the original file could potentially lead to cyclic dependencies.

[2021-09-03 11:30] n1ru4l commented on #6600
This is not really a critical issue but would be a great opportunity for new contributors. Feel free to send a PR that addresses this :)

[2021-09-03 11:34] n1ru4l commented on #6597
Can you provide a code sandbox that isolates this issue? Or even better a PR with a failing test?

[2021-09-03 11:37] n1ru4l commented on #6585
@A-Shleifman Can you send a PR with failing tests for `omitOperationSuffix`?

[2021-09-03 11:39] n1ru4l commented on #6559
@HunderlineK Can you help us out with sending a PR with a failing test for this?

[2021-09-03 11:40] n1ru4l commented on #6553
This has been released

[2021-09-03 11:40] #6553 closed

[2021-09-03 11:58] #6240 closed

[2021-09-03 11:59] ThomasGoatITMedia commented on #6599
I have te exact same problem, and yes I'm using react-native.

[2021-09-03 12:17] n1ru4l commented on #6546
This got released

[2021-09-03 12:17] #6546 closed

[2021-09-03 12:18] n1ru4l commented on #6536
PLease name your GraphQL operations

[code]

[2021-09-03 12:18] #6536 closed

[2021-09-03 12:20] canpoyrazoglu commented on #6599
@juanlatorre Yes I am using React Native.

[2021-09-03 12:25] ThomasGoatITMedia commented on #6599
It is referring to `package.json.js`, note the appending `.js`

[2021-09-03 12:43] #6551 closed

[2021-09-03 12:53] qsona commented on #6378
I realized it's necessary to clarify if graphql-js expects PromiseLike value as resolver's return value. I'm waiting and seeing the discussion on graphql-js.
https://github.com/graphql/graphql-js/pull/3243#pullrequestreview-739333027

[2021-09-03 13:32] #6505 closed

[2021-09-03 14:00] n1ru4l commented on #6542
This has been released

[2021-09-03 14:00] #6542 closed

[2021-09-03 14:10] #6475 closed

[2021-09-03 16:05] strass commented on #6409
Thank you! Worked as expected with this change :)

[2021-09-03 19:06] Believer1 commented on #5413
Yep, worked for me as well

[2021-09-03 20:38] HT-Moh commented on #6587
Thanks, I feel stupid :-)

[2021-09-04 10:24] ardatan commented on #6529
I don't see any directives in the reproduction.

[2021-09-04 15:01] mstykow commented on #6529
@ardatan yes, but there is a comment in the reproduction and that comment is kept as docstring although the plugin docs say that it should be converted: https://www.graphql-code-generator.com/docs/plugins/schema-ast

when you set `includeDirections: false` you'll see that the docstring gets correctly converted.

[2021-09-04 23:05] HunderlineK commented on #6559
@n1ru4l As you suggested, I was about to create a failing test (which I didn't succeed - for some reason most of the tests fail on my local setup), but looking at the code I realized there might already be an`avoidOptional.defaultValue` config flag that provides the behavior I desired as implemented in this MR:
https://github.com/dotansimha/graphql-code-generator/pull/5113

I will verify and if it

[2021-09-04 23:05] #6559 closed

[2021-09-05 07:42] #6544 closed

[2021-09-05 07:45] n1ru4l commented on #6539
Could you send a PR with a failing test for this?

[2021-09-05 11:50] dimbslmh commented on #5758
@ardatan It seems the schema returned by loadSchema in `graphql-codegen-cli/src/load.ts` was changed in 1.15.1 when @graphql-tools was upgraded from 6.0.1 -> 6.0.3 https://github.com/dotansimha/graphql-code-generator/commit/cbd99701739d9158211b686379412e2209edd94c

Validation fails when the schema is passed to graphql.validate in validateGraphQlDocuments.

"@graphql-codegen/cli": "1.15.0" - https:

[2021-09-05 13:11] ardatan commented on #5758
@dimbslmh I see but I am not able to reproduce it on GraphQL Tools. Could you help me with that? Otherwise I cannot fix it.

[2021-09-05 14:41] dimbslmh commented on #5758
@ardatan I'll try and take a look.

[2021-09-05 18:22] dimbslmh commented on #5758
@ardatan These are the actual versions installed from `@graphql-tools`:

"@graphql-codegen/cli": "1.15.0" ONLY - https://codesandbox.io/s/nifty-agnesi-f85q7
GraphQL Tools based on "@graphql-codegen/cli": "1.15.0" ONLY -  https://codesandbox.io/s/trusting-surf-2lkcg

[code]

"@graphql-codegen/cli": "1.15.1" ONLY - https://codesandbox.io/s/heuristic-hodgkin-pflf4

[code]
Based on this, I was able to

[2021-09-05 19:17] dimbslmh commented on #5758
Ok I've found out that the change that is causing this is in "@graphql-tools/load": "6.2.5", because "@graphql-tools/load": "6.2.4" still returns a _queryType: query_root.

https://github.com/ardatan/graphql-tools/commit/9468a465a8a0c540fddc068d38bdabc7ee68488e#diff-25246e1b07ee98bd7e140bcd09ed4702aede0b3c26e004a48d8b60c2819bc4e2

[2021-09-05 20:01] dimbslmh commented on #5758
@ardatan I have found out that `@graphql-tools/load@6.2.4` is causing the above changes.

Adding a resolution to the package.json in "@graphql-codegen/cli": "1.15.1"- https://codesandbox.io/s/festive-platform-g4xm1
will pass the validation.

[code]

Hopefully this is enough for you to get it fixed.

[2021-09-05 20:32] ardatan commented on #5758
I am already seeing this issue on codegen side but I need a failing test on GraphQL Tools repo :) That's what I cannot reproduce and I need help there

[2021-09-05 21:54] dimbslmh commented on #5758
@ardatan I have here: https://github.com/dotansimha/graphql-code-generator/issues/5758#issuecomment-913202264

I have added the validation.

There is a working and reproduced version.
GraphQL Tools (working validation) - https://codesandbox.io/s/trusting-surf-2lkcg
GraphQL Tools (fails validation) - https://codesandbox.io/s/infallible-yonath-1g88o

[2021-09-05 22:12] ardatan commented on #5758
@dimbslmh I need a failing test like I said multiple times above :)
https://github.com/ardatan/graphql-tools/pull/3489
Please see here it passes, I can try to fix it if you help me to reproduce it in GraphQL-Tools repo.

[2021-09-06 06:18] dotansimha commented on #6121
I think it might be an overkill for codegen to deal with parsing files. We prefer to keep it simple, and if someone needs to customize it - it's completely flexible.

[2021-09-06 06:23] #6368 closed

[2021-09-06 06:28] dotansimha commented on #6421
You are right, we don't have generated code for that purpose.
Since most of the GraphQL clients are adopting the TypedDocumentNode (Urql also supports it), I can recommend on moving to `typed-docucment-node` plugin instead, and this should provide you an end-to-end type-safety for the entire Urql API.

[2021-09-06 06:28] #6421 closed

[2021-09-06 06:29] dotansimha commented on #3475
It's not available at the moment, you can create a PR if you need that ;)

[2021-09-06 06:30] dotansimha commented on #6393
Implemented in https://github.com/dotansimha/graphql-code-generator/pull/6609

[2021-09-06 06:30] #6393 closed

[2021-09-06 06:44] dotansimha commented on #6443
Hi @tobiasdiez !
This sounds like a nice idea, and a possible implementation alternative. If you want, feel free to create a PR for adding that!

[2021-09-06 06:47] dotansimha commented on #6314
This might be tricky. We are generating a JSON-Schema (`schema.json`) file based on the TypeScript signatures, and then we have a script that knows how to build the entire tree. I think there might be a bug there.
The code for this script is here: https://github.com/dotansimha/graphql-code-generator/tree/master/packages/utils/config-schema/src

[2021-09-06 06:48] wesselvdv commented on #6543
@dotansimha You have any pointers for me?

[2021-09-06 06:58] #5556 closed

[2021-09-06 07:30] dotansimha commented on #6336
This might be related to your setup and dependencies. I wasn't able to reproduce this issue in a clean environment...

[2021-09-06 07:30] #6336 closed

[2021-09-06 07:38] dotansimha commented on #6531
Hi @sunaulo-suhail ,

If you are using `noRequire: true`, then only `pluck` process will happen and will extract typeDefs from `gql` tag. So in this case, you MUST provide all schema pieces, because there is not resolution or `require` that being called. So your schema config should be:

[code]

If you are using string interpolation or template literals strings, you need to use `noPluck: true` to

[2021-09-06 07:38] #6531 closed

[2021-09-06 08:01] dotansimha commented on #6532
Hi @jisensee ! Thank you for reporting this.
I fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/6623, can you please try the alpha version from that PR? (`2.2.1-alpha-d9d206160.0`)

[2021-09-06 08:09] dotansimha commented on #5938
A similar approach, but different field and behavior.

[2021-09-06 08:22] dotansimha commented on #6543
@wesselvdv
I think there are 2 things here:
1 - Make the `export` directive valid - this could be done just by adding it to your schema (or, your codegen schema directly):

[code]

2 - manipulate the documents (if needed), based on the usage of that directive. This could be done, as you said, with a custom operations loader.

I think there were some recent changes to the way the loader is used int

[2021-09-06 08:24] dotansimha commented on #6599
I think @PabloSzx did some work on https://github.com/kamilkisiela/bob/pull/30 (the tool we are using to bundle and build codegen) to make sure the artifacts are more robust.

[2021-09-06 08:37] #6049 closed

[2021-09-06 09:38] Moniv9 commented on #4562
This is a big setback for this library & resulting us in not using this generator.

[2021-09-06 10:17] dimbslmh commented on #5758
@ardatan there must be something causing the test to pass in the monorepo, where we actually expect it to fail.

See following [codesandbox](https://codesandbox.io/s/gracious-northcutt-9p005?file=/index.spec.js). This is basically a replicate of https://github.com/ardatan/graphql-tools/blob/c5b0719c70d89c6a672705b6be98772097c8e9ab/packages/load/tests/loaders/schema/schema-from-typedefs.spec.ts

Ru

[2021-09-06 11:11] wesselvdv commented on #6543
@dotansimha thanks for the reply, my issue is nr. 2 your first valid point I have already successfully done.

[2021-09-06 12:32] ardatan commented on #5758
Could you help me to reproduce it on the repo in a PR?

[2021-09-06 12:39] ardatan commented on #6543
@dotansimha It is because we no longer handle globs on `@graphql-tools/load` but inside the loaders.

[2021-09-06 13:24] DronBrigadir opened #6624 "Output schema not sorted"
**Describe the bug**
I add sort: true in graphql-codegen.yml and output schema not sorted

**To Reproduce**
run graphql-codegen --config ./graphql-codegen.yml and output schema won't be sorted

1. My `codegen.yml` config file:

[code]

**Expected behavior**
Output schema will be lexicographic sorted

- OS: macOS Catalina version: 0.15.7
- `@graphql-codegen/typescript`: "2.2.0"

[2021-09-06 14:19] Hrubas commented on #6624
`yarn upgrade @graphql-codegen/cli@2.1.1` solved the issue for me

[2021-09-06 19:07] dimbslmh commented on #5758
@ardatan https://github.com/ardatan/graphql-tools/pull/3489/files#r703045378

[2021-09-06 22:10] danielo515 commented on #6121
If you don't want to add the feature I'm completely fine with it. But to keep it clear, all that I'm proposing is to pass the property to the underling parsing library (which I suppose is jscodeshift, or something similar). Unless I'm misunderstanding some internal detail of codegen it should not add any logic to it.

Regards

[2021-09-07 08:44] krainboltgreene commented on #3275
Hi, I'm having this issue, but I *do* have the plugin installed. I have a branch that should reproduce this, shall I make another issue or continue in this one?

[2021-09-07 09:25] krainboltgreene opened #6629 "Bad sublibrary gets seen as "missing codegen plugin""
https://github.com/dotansimha/graphql-code-generator/blob/e8bc671a0f4145e9a24436c86ab0d24f94e91725/packages/graphql-codegen-cli/src/plugins.ts#L21-L54

The above code isn't a sufficient try-catch for what I just experienced. In my case, having freshly installed and `init`ed everything I was encountering a message saying libraries that I *did* have installed weren't installed, and I should try the

[2021-09-07 09:27] krainboltgreene commented on #6629
I know I deleted the template and that's a dick thing to do (I maintain a few large libraries myself), but this situation is so unique I'm willing to come back later with more information. It's just that it's 2am and the barrier to entry should be low for a issue.

[2021-09-07 09:28] krainboltgreene commented on #6629
I also believe this is why #3275 happens.

[2021-09-07 10:04] ardatan commented on #5758
The issue is `convertExtensions`. See the fix for details;
https://github.com/ardatan/graphql-tools/pull/3489

[2021-09-07 10:24] ardatan commented on #6624
Available in https://github.com/dotansimha/graphql-code-generator/pull/6622 !
Thanks for the PR :)

[2021-09-07 10:24] #6624 closed

[2021-09-07 10:24] ardatan commented on #5758
Available in https://github.com/dotansimha/graphql-code-generator/pull/6622 !
Thanks everyone to help us to reproduce and fix the issue.

[2021-09-07 10:24] #5758 closed

[2021-09-07 10:29] ardatan commented on #5106
This should be fixed in the latest release with `sort: true` option! Feel free to create an issue if it still persists!

[2021-09-07 10:29] #5106 closed

[2021-09-07 10:36] ardatan commented on #4562
@Moniv9 Feel free to help us :) We'd love to accept a PR that improves this feature.

[2021-09-07 10:40] vhenzl commented on #5106
Thanks a lot, @ardatan!

[2021-09-07 17:05] dijonkitchen commented on #5106
Guessing it's https://github.com/dotansimha/graphql-code-generator/pull/6625 ?

[2021-09-07 22:50] jtieu-r7 commented on #5285
Any updates on this?

[2021-09-08 04:00] lilred commented on #5758
Thank you so much!

[2021-09-08 08:00] nenadfilipovic opened #6633 "[typescript-react-query] typescript errors in generated file after #6416"
**Describe the bug**

After https://github.com/dotansimha/graphql-code-generator/pull/6416, generated fetcher is good but it provides optional dataSource param.

If in config you define

[code]

you get this

[code]

For this piece of code ts throws `Object is possibly 'undefined'.` for `dataSource.endpoint` and fetchParams. Second problem is that ts is complaining about `A required parameter cann

[2021-09-08 13:07] hkashlan opened #6636 "typescript-apollo-angular wrong document value name with near-operation-file preset"
**Describe the bug**

typescript-apollo-angular  is not supporting near-operation-file preset,
as a result it is generating wrong document value.

Some Details:

1.  when using near-operation-file it creates `import * as Operations from './${this.clearExtension(basename(this._documents[0].location))}';` in this [line](https://github.com/dotansimha/graphql-code-generator/blob/263570e502dd179f1c4807

[2021-09-08 13:29] coyoteecd commented on #6624
@ardatan @DronBrigadir  so how do I disable this new sorting? I upgraded to the most recent release and see a long list of changes when re-generating the types over an existing schema. I tried adding
[code]
and it doesn't seem to have any effect.

[2021-09-08 13:50] coyoteecd commented on #6624
Actually nevermind, I think the config must be added as a global option (in the root config node, not next to plugins node). If I put it there, it does disable the sorting, but the order becomes unpredictable for my case (server-side schema generation) whereas in the previous version it was stable. So it seems I have to keep it enabled anyway.

[2021-09-08 22:13] johncblandii opened #6637 "Lazy query hooks do not include the hooksSuffix config"
**Describe the bug**

The lazy queries do not have the same suffix as the non-lazy version.

[code]

The functions should match with just `Seasonal` (the suffix) added to the lazy version as well.

**To Reproduce**

Steps to reproduce the behavior:

1. My GraphQL schema:

https://codesandbox.io/s/wizardly-boyd-fdgi2?file=/schema.graphql

2. My GraphQL operations:

https://codesandbox.io/s/wizardly

[2021-09-08 22:27] patrickocoffeyo commented on #6629
@krainboltgreene I recently ran into a similar issue using `@graphql/codegen-typescript`. The plugin loader was throwing an error with the code `MODULE_NOT_FOUND`, but when you do a little logging you can see that the real error is `Error: Cannot find module '@babel/runtime/helpers/objectSpread2'`. My temporary solution was to install `@babel/runtime` as a dev dependency, however if I get some tim

[2021-09-08 23:04] krainboltgreene commented on #6629
That is the exact thing I'm describing, thanks for bringing receipts!

[2021-09-09 00:58] obedm503 commented on #5841
Having the same issue. A workaround until this is fixed is to manually define it in your `mappers`
[code]

[2021-09-09 09:41] strazan opened #6639 "Moving typescript-operations 1->2 generates Maybe-wrapped custom types"
**Describe the bug**

Upgrading `typescript-operations` from v1.x to v2.x causes custom types in codegen to be generated as Maybe<...> wrapped around them.

Downgrading with this diff "solves" the problem:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Configure the world like detailed below, and upgrade `@graphql-codegen/typescript` with the inverse diff above.

1. My GraphQL schema:

[2021-09-09 11:18] Maximaximum commented on #6543
This feature would really help a lot. Currently it's a blocker for storing local app state in Apollo

[2021-09-09 11:24] tw0517tw opened #6641 "inlineFragmentTypes: combine generates import for variables in same file"
**Describe the bug**

When using `inlineFragmentTypes: combine` config, codegen will generate `import` statements to import variables in the same file.

**To Reproduce**
Steps to reproduce the behavior:

see reproducing repo:
https://github.com/tw0517tw/codegen
https://github.com/tw0517tw/codegen/runs/3555409058

Line 3 of generated file is a unnecessary import
https://github.com/tw0517tw/codegen/

[2021-09-09 13:02] Maximaximum commented on #2771
@andreialecu Could you please give me a hint on how to properly generate a patch file with the required changes, but for the latest (2.2.0) version of `@graphql-codegen/visitor-plugin-common`?

Looks like no one's going to work on implementing the solution suggested by @dotansimha, so I'm trying to patch the library

[2021-09-09 13:07] andreialecu commented on #2771
@Maximaximum I'm not using `@export` any more so I don't need this patch, hence I didn't update it. But what you could do is:

- clone this repository
- apply the changes from https://github.com/dotansimha/graphql-code-generator/pull/3886/files manually
- run the build script so the .ts files are transpiled to .js (forgot what it is)
- copy the outputs to your `node_modules` and test them
- in you

[2021-09-09 13:59] n1ru4l commented on #6633
@nenadfilipovic Can you send a fix for making it non optional?

[2021-09-09 14:01] n1ru4l commented on #6636
@hkashlan Do you think you could create a PR with a failing test case for this?

[2021-09-09 15:17] nenadfilipovic commented on #6633
Yes, will submit pr soon.

[2021-09-09 23:49] dijonkitchen commented on #5106
https://github.com/dotansimha/graphql-code-generator/releases/tag/%40graphql-codegen%2Fcli%402.2.0

[2021-09-10 02:34] canac opened #6649 "Schema always sorted"
**Describe the bug**
Schema is always sorted regardless of the `sort` config.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/gql-codegen-sort-5my7k

Note that the config does not set `config: true`, but the generated is still sorted.

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
I exp

[2021-09-10 03:07] hkashlan commented on #6636
@n1ru4l
yes I can,
could you please guide me how to do a PR?

[2021-09-10 04:37] mlabrum opened #6650 "typescript-urql plugin ignores `documentMode`"
**Describe the bug**
typescript-urql plugin ignores `documentMode`  `importDocumentNodeExternallyFrom`  and `importOperationTypesFrom` settings

**To Reproduce**
[code]

As you can see here the generated file ignores the external document mode.
https://codesandbox.io/s/confident-dream-l0sd5?file=/urql.ts

**Expected behavior**
To have the generated urql hooks to reference the external type file

T

[2021-09-10 06:04] n1ru4l commented on #6636
@hkashlan You can fork this repo, branch off and then follow the instructions over here: https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request

[2021-09-10 08:18] kamilkisiela commented on #6649
What difference does it make if it's sorted or not? What's the impact on you?

[2021-09-10 09:36] marcoreni opened #6652 "Wrong indentation for DirectiveArgs"
**Describe the bug**

DirectiveArgs are not properly indented

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/nostalgic-worker-n5zm9?file=/types.ts:4025-4116

1- Use the following schema
[code]
2- Generate code. The resulting will be like:

[code]

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

[code]

**Environment:**

[2021-09-10 13:24] canac commented on #6649
@kamilkisiela None, just that it's an undocumented change. I don't have a problem with this behavior being the new default as long as it's documented as such.

[2021-09-10 14:05] 01brett commented on #6649
@kamilkisiela I'm seeing this same issue, specifically with enums. Our enums are written with a specific order and having them be automatically alphabetized changes our UI.

[2021-09-10 15:16] #6633 closed

[2021-09-10 15:24] 01brett commented on #6649
@canac I resolved this problem by reverting these packages to the versions below:

"@graphql-codegen/cli": "1.21.8",
"@graphql-codegen/typescript-operations": "1.18.4",

[2021-09-10 16:56] ardatan commented on #6649
This change has been done to give more consistent results. I don't think `sorting` is an issue, bug or a breaking change.
It's been documented here;
https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-cli/CHANGELOG.md#minor-changes
You can disable it with `sort: false`. Closing this issue.

[2021-09-10 16:56] #6649 closed

[2021-09-12 17:48] #6652 closed

[2021-09-12 22:49] MincePie commented on #3282
@SoyYoRafa did you figure this out? I can't get the generator to run. The error message I get is
AggregateError: GraphQL Document Validation failed with 1 errors;
      Error 0: GraphQLDocumentError: Cannot query field "logout" on type "Mutation".

[2021-09-13 09:00] MincePie commented on #3445
I'm having trouble with this too.

Im using:

"@graphql-codegen/cli": "2.1.1",
    "@graphql-codegen/typescript": "2.1.2",
    "@graphql-codegen/typescript-operations": "2.1.2",
    "@graphql-codegen/typescript-urql": "^3.1.2",

I have tried removing the ^ from the last package, but it didn't make any difference.

When I try generating the graphql, the first two steps complete and the generate ste

[2021-09-14 02:30] duarten commented on #6239
I added a PR for this issue. It contains a test and a proposed fix.

[2021-09-14 12:02] larsenwork opened #6670 "Extend typescript-operations to support directives for operationResultType"
**Is your feature request related to a problem? Please describe.**

In my frontend I'm consuming a schema that uses @deprecated directives — e.g.

[code]

which generates

[code]

and

[code]

[2021-09-14 12:03] ardatan commented on #6670
I am not sure I understand your problem. Could you elaborate?

[2021-09-14 13:08] larsenwork commented on #6670
@ardatan thanks, and sure:

### Current setup

Ultimately I'm fetching data with the hooks generated using `typescript-react-query`. In the example above I'd consume the hook like this

[code]

the type for `data` will then be `GetDemoThingQuery | undefined` that doesn't have the JSDoc annotation inside it. So when in consume `data?.thingV1` it's not marked as deprecated.

### My wish

That the `G

[2021-09-14 13:13] larsenwork commented on #6670
So with

[code]

I can get

![image](https://user-images.githubusercontent.com/3859425/133264046-a4b3529d-3dc0-4716-80f4-6cfa2383a100.png)

[2021-09-14 21:59] JanCVanB opened #6672 "TS/oclif plugin generates invalid `multiple` argument for boolean flags"
As per [this line of templating code](https://github.com/dotansimha/graphql-code-generator/blob/6734c58055d283f051bf32f115f2308000e56431/packages/plugins/typescript/oclif/src/utils.ts#L17), all flags are generated with the `multiple` parameter. However, only "option" flags have this parameter (see [here](https://github.com/oclif/parser/blob/8e5a84e6e80d9c60def9e97fac0e2dd9f3618f65/src/flags.ts#L42

[2021-09-14 22:19] ardatan commented on #6672
Sure! Feel free to create a PR :)

[2021-09-14 22:27] fivethreeo opened #6674 "gql-tag-operations adds a unknown overload that infers unknown due to whitespace in sdl breaking validation"
**Describe the bug**

gql-tag-operations adds a unknown overload that infers unknown breaking validation in vscode

[code]
Changing it to

[code]
After generation fixes the issue

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

Outputs valid code

**Environment:**

[2021-09-15 08:06] wesselvdv commented on #6543
This exact example gives me loader errors, assuming that passing it without any adjustments should just work.

[code]

[2021-09-15 14:54] VincentAudibert commented on #5064
As a local & temporary workaround, I added a print of the document errors, here is the kind of helpful output I got this way :

I put `errors.forEach(console.log);` in file `node_modules/@graghql-tools/utils/index.js`, line 960 as of version 8.0.2.

[code]

I'd be happy to fill a PR if given some insight on logging strategy of codegen !

[2021-09-15 19:41] VincentAudibert commented on #5064
In fact, since version 8.2.0 ([see commit](https://github.com/ardatan/graphql-tools/commit/b968463124cd2e397852d4e57ebe36acf3602462)), the error message are much nicely built:

    throw new AggregateError(
      errors,
      `GraphQL Document Validation failed with ${errors.length} errors;
      ${errors.map((error, index) => `Error ${index}: ${error.stack}`).join('\n\n')}`
    );

[2021-09-15 19:55] jdmoody commented on #5085
I'm continuing to run into errors due to this issue and I'd love to see a fix for it 🙂

I'm in the process of incrementally migrating from Apollo code-generated typedefs to graphql-code-generator typedefs and this is the last issue that prevents full interoperability between the two.

I tried digging into the graphql-tools code to accomplish this, but I couldn't get it to work. It was a while ago

[2021-09-15 23:23] fivethreeo commented on #6674
Am I missing some configuration to make this work right or is this a bug?

[2021-09-15 23:24] fivethreeo opened #6677 "gql-tag-operations not working with blogpost example"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS:
- `@graphql-codegen/...`:
- NodeJS:

**Additional context**

[2021-09-15 23:27] #6677 closed

[2021-09-15 23:51] fivethreeo commented on #6068
Is stage 1 needed if you can make a failing test? I think a test would show this better. This should be a test that is successful when type checking fails.

[2021-09-16 00:26] tomasreimers commented on #6539
@n1ru4l absolutely! Can oyu point to me to a similar test?

[2021-09-16 12:53] ardatan commented on #6539
Maybe `useImplementingTypes: true` works for you?
https://www.graphql-code-generator.com/docs/plugins/typescript

[2021-09-17 07:04] fivethreeo opened #6682 "gql-tag-operations only allows one operation per gql call"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

Try the example from the 2.0 blog post.

I will write a test.

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS:
- `@graphql-codegen/...`:
- NodeJS:

**Additional context**

[2021-09-17 14:01] fivethreeo commented on #6682
https://github.com/dotansimha/graphql-code-generator/pull/6684

[2021-09-17 22:22] Urigo commented on #6068
@fivethreeo if you can create a failing test, can can move directly to stage 2

[2021-09-17 23:00] Urigo commented on #6670
@dotansimha @ardatan it seems reasonable to me, please let me know if it doesn't make sense?

@larsenwork want to start working on it?

[2021-09-18 17:30] fivethreeo opened #6688 "gql-tag-operations has isssues wrt whitespace rawSDL is not the same as raw ts string"
**Describe the bug**

This affects both typing and lookup of documents.

**To Reproduce**

[code]
Produces this overload

[code]

Missing indentation and start, end newline

Should be
[code]

If I remove indentation

[code]
Produces this overload

[code]

Missing start, end newline

Should be

[code]

Should modify generator to add start, end newlines and document that you should not use indentati

[2021-09-19 03:22] lxcid commented on #5333
Want to add to the voice that allow the 2 plugin to work nicely together is very desired.

[2021-09-19 04:06] hoangbn commented on #5333
If you separate the plugins, it almost works. The problem is the naming produced by `typed-document-node` does not match the naming of documents used by `typescript-react-apollo`. So you just need a script that changes documents' names.
For example, this is my setup:

`codegen.yml`:
[code]

Where

`replaceCodegenOperationsDocumentNaming.js`:
[code]

[2021-09-19 13:23] #6674 closed

[2021-09-20 12:08] jjangga0214 commented on #6023
@dotansimha My idea, if I understood your explanation collectly, is

[2021-09-20 14:48] fivethreeo commented on #6068
If i understand correctly this test should do, but I cannot make it fail with Record<string, never>

[2021-09-20 16:35] #6688 closed

[2021-09-20 19:20] hanyangdu commented on #2616
sorry, @klemenoslaj did you ever open the new issue? I can't seem to find it. I'm also affected by how interfaces don't seem to be used for the GraphQL document types as you mentioned [above](https://github.com/dotansimha/graphql-code-generator/issues/2616#issuecomment-690974210)

[2021-09-21 15:15] puchm opened #6709 "ResolversParentTypes reference non-existing fields of themselves"
**Describe the bug**

Sometimes it can happen with the `typescript-resolvers` plugin that some fields in `ResolversParentTypes` contain references to other fields in `ResolversParentTypes` that don't exist. This only happens with enums that are mapped using the "mappers" functionality.
E.g. look at this from the reproduction sandbox:
[code]
`ResolversParentTypes['Gender']` doesn't exist.

Note tha

[2021-09-21 16:13] hkashlan commented on #6636
@n1ru4l
I created a PR, could you please review it?

[2021-09-21 20:22] fcpauldiaz commented on #6639
@strazan were you able to fix this ?

[2021-09-21 20:25] carlosbaraza opened #6715 "Unable to find template plugin matching 'typescript-operations'"
**Describe the bug**
Same problem described in #2043 and #3769 and #6629

Using `typescript-operations` would throw the following error if `@babel/runtime` is not installed. Some plugins try to require `@babel/runtime/helpers/objectSpread2`, which cause the error: `Error: Cannot find module '@babel/runtime/helpers/objectSpread2'`
[code]

**To Reproduce**
1. Uninstall `@babel/runtime`.
2. Use `type

[2021-09-21 20:38] carlosbaraza commented on #6629
Sent a PR to add @babel/runtime @patrickocoffeyo  #6716

[2021-09-21 21:46] patrickocoffeyo commented on #6629
Awesome @carlosbaraza! Thanks for putting that together :raised_hands:

[2021-09-22 08:37] puchm commented on #6709
I added a filter function that checks if the fields are included when the "Omit" thing is applied. I honestly don't really understand what the "Omit" thing is about but this fixes my issue. It's right [here](https://github.com/puchm/graphql-code-generator/blob/5a7a299d3149e8c6468aa1ab90066995f7b18489/packages/plugins/other/visitor-plugin-common/src/base-resolvers-visitor.ts#L567-L576).

Should I o

[2021-09-23 11:47] judastheo opened #6724 "[TypeScript React-Query] exposeFetcher for mutation and exposeMutationKeys"
**Is your feature request related to a problem? Please describe.**

We are migrating more and more of our API calls to the queries and mutations generated. And sometimes, we want to replace old mutation calls by new ones that are used outside of functional component, hence we cannot use hooks.

**Describe the solution you'd like**

For queries, you already enabled `exposeFetcher` and `exposeQueryK

[2021-09-23 12:37] Urigo commented on #6724
Hi @judastheo and thank you for the report!

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

One way of pushing this forward would be to add an example of the input and the output you expect to get.
Maybe even adding a failing test s

[2021-09-23 12:50] judastheo commented on #6724
Thanks @Urigo, I edited my comment, I hope it fits the requirements!

[2021-09-23 13:55] fivethreeo commented on #6068
@Urigo made a test for this now: https://github.com/dotansimha/graphql-code-generator/pull/6697

`{}` seems to work just like ` Record<never, never>`, not sure if it is more correct to use  Record.

[2021-09-23 15:27] Urigo commented on #6724
thanks!  do you think you could prepare a failing test for this new feature?

[2021-09-23 17:30] judastheo commented on #6724
Not very used to it, but here is what I think could be added inside [plugins/typescript/react-query/tests/react-query.spec.ts](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript/react-query/tests/react-query.spec.ts)

[code]

[2021-09-23 21:05] vegerot commented on #4120
@dotansimha I'm not sure this should be disregarded.

`: {}` means "any non-nullish value".  This is likely NOT what the authors of this package intended.  This goes beyond "everyone prefers something else".  I believe `@typescript-eslint` is exposing a real bug here.

I believe you should take a similar approach to [before](https://github.com/dotansimha/graphql-code-generator/issues/4120#issuecom

[2021-09-24 08:52] eskan opened #6731 "[typescript-mongodb] ObjectID to ObjectId"
Hi,
in 4.X Mongo driver ObjectID (ID in uppercase have been deprecated) in favor of ObjectId ... there's a Typescript ObjectID still :
[code]
But with the way it's done typescript throw an error on the generated field :
`id: String! @id`
that becomes
`_id: ObjectID`

So how can this could be resolved? How this plugin can be updated with new ObjectId and be backward compatible?
Thanks

[2021-09-24 09:35] aaronadamsCA commented on #6314
Note that root-level config isn't correct in the JSON schema either, there is no autocompletion and validation fails.

[2021-09-25 17:32] strazan commented on #6639
I just use the `@graphql-codegen/typescript-operations": "^1.18.4"`

[2021-09-26 22:25] Urigo commented on #6724
thank you!  can you open it as a PR? it would give us a good start!

[2021-09-27 11:48] danielo515 commented on #6605
That is what we are doing, and that is the problem. We write the operations
on graphql files, then those operations are copied into a huge (HUGE!) file
containing everything and the grapqhl files are left orphan.
We can stop using a query or a mutation and we will have no way to knowing
it because all graphql files are unused. There is no way for our static
analysis tools to determine which graphq

[2021-09-27 13:15] n1ru4l commented on #6605
Have you concidered writing your GraphQL Operations within the Code, that way when you remove the usage of a operation the generated code will be removed as well. This is what the relay flow persues and is now also possible with graphql-codegen via https://www.graphql-code-generator.com/docs/presets/gql-tag-operations

[2021-09-28 02:22] brainkim opened #6748 "skip/include directives do not `avoidOptionals` if field type is a list"
**Describe the bug**

The `@skip` and `@include` directives seem to be generating optional types for `GraphQLList` fields, even when `avoidOptionals` is true.

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/practical-swanson-b93wg

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

I expect

[2021-09-28 06:31] jeanlucmongrain opened #6749 "Silent parsing error for empty query parameter"
Suddenly, I realized that a `.graphql` file content wasn't generating at all. With no error. All other files were generated.

It's only after I turn on debug that I realized there is some syntax error:

[code]

Usually syntax errors cause the generator to fail... but not this one:

[code]

My query was invalid, as nothing in `()`, I fixed my issue with:

[code]

But it show that there is an issue

[2021-09-28 07:39] ertrzyiks opened #6750 "Add support for custom loader params"
**Is your feature request related to a problem? Please describe.**

My primary goal is to hide certain enum values from the generated types. For the schema like:

[code]

I would like to generate Typescript enum with just `FIRST` and `SECOND`. I figured out that the best way to achieve that is a [custom loader](https://www.graphql-code-generator.com/docs/getting-started/schema-field#custom-schema-

[2021-09-28 08:36] eskan commented on #6731
@var thank you for this perfect trick!

[2021-09-28 08:36] #6731 closed

[2021-09-29 12:53] gilgardosh commented on #6748
Hi @brainkim ,
could you test it with this alphas, and confirm it fixes your issue?
https://github.com/dotansimha/graphql-code-generator/pull/6752#issuecomment-930122239

[2021-09-29 13:46] jesusrodrz opened #6753 "Separated avoidOptional for schema types and operations types"
**Is your feature request related to a problem? Please describe.**
I would to add `avoidOptionals: true` only for operations types not for the scheme types

**Describe the solution you'd like**

with the `avoidOptionals: false` my output looks like this
[code]

What i like to have is this

[code]
**Describe alternatives you've considered**
maybe other name for the config that will apply for then o

[2021-09-29 15:21] P4sca1 opened #6756 "vue-apollo-smart-ops does not respect useTypeImport"
The `@graphql-codegen/typescript-vue-apollo-smart-ops` plugin does not use type-online imports for `vueAppTypeImportFrom` and `vueApolloErrorTypeImportFrom` when `useTypeImports` is set to `true`.

[2021-09-29 15:32] P4sca1 commented on #6756
In addition to that `createSmartSubscriptionOptionsFunction` should not be imported, when there are no subscriptions defined (the same applies to `createMutationFunction` and `createSmartQueryOptionsFunction`).

[2021-09-29 15:39] brainkim commented on #6748
I tried upgrading typescript-operations to 2.1.5, but am now running into new errors related to the `preResolveTypes` option erasing `Maybe` types in an unexpected way. Looking into it.

Hello from ApolloGraphQL💜

[2021-09-29 16:28] brainkim opened #6757 "`Maybe` is inlined to include `undefined` in `typescript-operations` version 2.1.5"
**Describe the bug**

When using the `preResolveTypes` option, `Maybe` types now include `undefined` in their union starting in version 2.1.5, regardless of any `avoidOptionals` options.

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/amazing-montalcini-kuf9p?file=/codegen.yml
Code Sandbox isn’t inlining Maybes for some reason right now. Maybe the dependencies aren’t up

[2021-09-29 18:12] Je12emy commented on #3798
I'm also facing this issue with a `shared` package which holds GraphQL types, here's a repository for reproducing it: https://github.com/Je12emy/monorepo-error

Here's a [SO thread](https://stackoverflow.com/questions/69369742/nextjs-expo-in-monorepo-invalid-hooks-call) for more context

[2021-09-29 20:41] Je12emy commented on #3798
I just tried moving condegen into each react project, this seems to have fixed some errors, but still causes issues in my React Native app, it works fine with regular hooks such as `useEffect`

[2021-09-30 08:02] gilgardosh commented on #6757
Hey again @brainkim ,
Could you run it with this and see if fixed?

@graphql-codegen/typescript-operations@2.1.6-alpha-a376e6942.0
@graphql-codegen/gql-tag-operations-preset@1.1.7-alpha-a376e6942.0

[2021-09-30 09:22] gilgardosh commented on #6748
Rethinking this case.
If conditional directive is used, the expected outcome must be optional, even if `avoidOptinals` is set.
case include is `false`, `messages` property shouldn't be in the response.
so:

`export type MyQueryQuery = (
  { __typename: 'Query' }
  & { me: (
    { __typename: 'User' }
    & { messages?: Array<(
      { __typename: 'Message' }
      & Pick<Message, 'content'>
    )>

[2021-09-30 09:50] dotansimha commented on #6748
I agree with @gilgardosh and @n1ru4l in this case.
`skip` and `include` will cause the field to either be there or not (the actual key in the response), so TS optional seems the correct way to represent it. `avoidOptionals` it a matter of choice, but in this case, it might create an inaccurate TS type...

[2021-09-30 10:02] n1ru4l commented on #6748
Just to add to that another way of representing this (without optionals could be the following):

[code]

[on TS Playground](https://www.typescriptlang.org/play?ssl=25&ssc=2&pln=1&pc=1#code/KYDwDg9gTgLgBDAnmYcCyiCKBXYUu75wC8cAFAFBxwDecA+vUigHYCGAtsAFxwDkOPIj5wAvlTgAyWnC69K1anUbNg7OfwCqAZzwjxiqeQmGaouCcUAfGV23a2Ac2DbeAQShQ2iADwLDAcpMyGqcPPxoLg7O+pYBUnQAxhAsMGowvNowUACWLI5icYoAlAB8RQYlEsWFxQDcFI0UyS

[2021-09-30 10:16] n1ru4l commented on #6682
@fivethreeo The blog post showcased the initial version built by @arcanis

For now, we decided that each operation/fragment should have its own tag. Could you explain why you would want to use one gql tag call instead?

[2021-09-30 13:50] brainkim commented on #6748
Ah yeah. Some disorganized thoughts.

1. The `avoidOptionals` option is frustrating in the sense that for input types I want optional nullable fields, and for output types I don’t. I share your intuitions that there is a “correct” generated output here, and that `@skip`/`@include` directives should be modeled with TypeScript optionals, but I think it’s confusing to have optional properties continu

[2021-09-30 14:01] n1ru4l commented on #6748
Regarding 1: We are already considering dropping the `avoidOptionals` option in a future major release. For now the avoidOptionals should be adjusted to avoid optionals where it makes sense, like @gilgardosh mentioned

Regarding 3: This is something we could make configurable.

Regarding 4: skip/include and defer on fragments are IMHO best modeled with the `T & ({} | TFragment)` approach as they a

[2021-09-30 14:17] dotansimha commented on #6748
Just joining this super interesting discussion.

I think the path of TS optional is clear - it makes things more complex and could be solved with a simple explicit `undefined` type.
But, as @n1ru4l said, optionals are important and needed in cases where fields might really not exists at all. Mainly because of `in` operator that could give false positives with `undefined` values.

[code]

With `ski

[2021-09-30 14:24] terion-name opened #6767 "Field "x" argument "y" of type "z!" is required, but it was not provided"
**Describe the bug**
Can't generate typescript-operations from given schema and operations. This schema differs from most generic schemas because all queries and mutations are wrapped in additional level, e.g.:
[code]
And operations similllary nested, e.g.:
[code]

The same schema and operations without this  wrapping object everything is ok, but with it such errors appear:

[code]

**To Reproduce

[2021-09-30 16:11] ardatan commented on #6767
I think you forgot to update `document.graphql`
https://codesandbox.io/s/twilight-river-qlpi2?file=/document.graphql

[2021-09-30 16:59] terion-name commented on #6767
@ardatan forgot o save, sorry. updated

[2021-09-30 19:49] ilovett commented on #6381
Any difference if you move all the operations and fragments into a single file?

[2021-10-01 08:11] oceandrama commented on #6757
@gilgardosh This is still incorrect if you use custom `maybeValue`
In my `codegen.yml` `maybeValue` is `T | undefined`, so I shouldn't have `| null` in my types with `preResolveTypes: true`

[2021-10-01 12:18] lowkay opened #6768 "CSharp plugin - Support additional configuration to specify "value types""
The value type mapping file is internal to the csharp plugin, this means that there is no way to add additional scalar types that map correctly when they are optional.

A concrete example is to use `DateTimeOffset` (which is preferable when representing timestamps) instead of `DateTime`.

Due to the way that the plugin works, `DateTimeOffset` would not be detected as a value type and so, for optio

[2021-10-01 15:09] brainkim commented on #6748
My colleague @martinbonnin mentioned a fun little example:

Another wrinkle to think about.

[2021-10-01 16:06] n1ru4l commented on #6748
@brainkim Forthat example, the generated code should be:

[code]

[2021-10-01 18:37] claycoleman commented on #6149
Hi @dotansimha and @n1ru4l , I'm also running into errors related to this. It seems that if you request an array of interfaces field multiple times, spreading fragments on them leads to invalid state. This could commonly happen when a set of subcomponents define fragments on the same type and each request different fields on an interface array. I have a reproducible repo here: https://codesandbox.

[2021-10-01 23:52] krnsk0 opened #6769 "enhance typescript-urql to generate wrappers for urql/core methods for node.js use"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use uqrl client on a node backend while leveraging `graphql-code-generator` to get some type safety for my queries, but `typescript-urql` only generates types for react hooks and HOCs, not the [query/mutation/subscription](https://formidable.com/open-source/urql/docs/basics/core/) methods on the core urql cli

[2021-10-02 00:25] stephenbunch opened #6771 "Types namespace is not imported correctly"
**Describe the bug**
The `Types` namespace is not imported into `frag1.generated.ts`.

**To Reproduce**
Steps to reproduce the behavior:

https://github.com/stephenbunch/graphql-codegen-bugs/tree/bugs/types_import_nested_fragment

1. My GraphQL schema:

[code]

2. My GraphQL operations:

`frag1.gql`
[code]

`frag2.gql`
[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
The `Ty

[2021-10-02 19:40] leepowelldev opened #6773 "Re-exporting when using isolatedModules"
https://github.com/dotansimha/graphql-code-generator/blob/cfa0a8f80680524b151c48ac5bebecb8fa7720e1/packages/plugins/typescript/typescript/src/visitor.ts#L282

This line causes Typescript to report an error when a project is using `isolatedModules` and `export type { ... }` must be used. Is there any appetite to update this to use `export type`? This should be backwards compatible and prevent these

[2021-10-02 21:45] BradyEdgar94 commented on #5273
Randomly started to get the same issue today :(

[2021-10-02 21:54] BradyEdgar94 commented on #5273
Downgrading to
[code]

worked for me

[2021-10-03 10:47] #6629 closed

[2021-10-03 12:20] dotansimha commented on #6310
Thanks @diggs1711 for fixing it in a PR.
I released a version with a fix for this: `@graphql-codegen/typescript-resolvers@2.3.0`.

You can now add: `makeResolverTypeCallable: true` to your config to apply this.

[2021-10-03 12:20] #6310 closed

[2021-10-03 12:45] gilgardosh commented on #6757
Hi @oceandrama ,
in this case, since `preResolveTypes` is used, no `maybe` should be used in the generated types (neither the original nor the custom `maybeValue`)

[2021-10-03 15:37] studiosciences commented on #6757
I agree with @gilgardosh. Regardless of `preResolveTypes` or using `Maybe<>`, `typescript-operations` should use the `maybeValue`. The default value is `T | null`, not `T | null | undefined`.

[2021-10-03 19:09] nandorojo commented on #153
@dotansimha I'm new to this plugin, could you share what `my-file` looks like?

[2021-10-03 19:49] yura3d commented on #6757
One of the key changes in #6763 is the lines:
https://github.com/dotansimha/graphql-code-generator/blob/dc1beb07c9239fe30aa33fdbc625fbb27d4fd147/packages/plugins/typescript/operations/src/visitor.ts#L53-L54
But `avoidOptionals` is not only boolean. It can be the object to set what kind of definition types should not be optional (`field`, `inputValue`, `object`, `defaultValue`). By these changes it

[2021-10-03 20:50] pachuka commented on #6090
So I think I have been running into the same issue. The key here is we have a union type that we spread/use within a fragment. This generates a new fragment type that ends up being *not* exported. @dotansimha  I've created a simple reproduction (probably could be reduced more, but this matches my usecase).  https://github.com/pachuka/graphql-union-exports

Basically I have a fragment that spreads

[2021-10-03 21:49] evsar3 commented on #5594
Hello!

Is this the right spot to get started with this feature?

https://github.com/dotansimha/graphql-code-generator/blob/3238f7c786347192cd601a49e495b5ab7344cc84/packages/plugins/other/visitor-plugin-common/src/base-resolvers-visitor.ts#L733-L777

I'm gonna give it a try... if I accomplish something I make a PR.

[2021-10-03 22:44] BarryThePenguin commented on #6757
I'm seeing something similar when upgrading from 2.1.4 to 2.1.6, looks like I'm only having an issue with array values.

What was..

[code]

..has become..

[code]

Given `type Maybe<T> = T | null`, I'd have expected the unwrapped version to be..

[code]

That's with all the default options for `typescript-operations`

[2021-10-04 02:56] desbrowne commented on #6381
I believe it worked if they are all in the same file, but some of the fragments are reused elsewhere and putting them in the same files was causing other issues.

[2021-10-04 07:31] larsenwork commented on #6670
@Urigo sure, it'd speed up my process greatly with some pointers where to start 👀 — i.e. if it's in the `typescript-operations` package or somewhere else.

[2021-10-04 12:25] mfbx9da4 commented on #700
So this is supposedly fixed but I don't see any docs of how to use the query version where `__typename` is required any guidance?

[2021-10-04 18:27] danielo515 commented on #6605
Then the grapqhl operations will be unused variables on that file, because
I will have to import them from the generated file.

On Mon, Sep 27, 2021 at 3:16 PM Laurin Quast ***@***.***>
wrote:

--
---
https://danielorodriguez.com

[2021-10-04 18:48] omsharp commented on #2723
The typescript-react-apollo plugin needs the generated file to be .tsx not .ts!

I faced the same issue, and it drove me nuts for hours!

Thanks to a guy named **Joey Figaro** on spectrum.chat for that tip.

[2021-10-05 06:14] lanwin commented on #6757
This is also what I expect. The current version breaks our code.

I also found that avoidOptionals behaves different when used with sub object instead of boolean. The following example you could try out at https://www.graphql-code-generator.com/ (v2.2.0).

#### Schema
[code]
#### Operations
[code]
### codegen.yaml - boolean
[code]
Output:
[code]

### codegen.yaml - subobject
[code]
Output:
[code]

[2021-10-05 19:57] claycoleman opened #6792 "Codegen fails when spreading fragments on interface array field multiple times"
**Describe the bug**
If you request an array of interface types field multiple times, spreading fragments on them leads to invalid state. This could commonly happen when a set of subcomponents define fragments on the same type and each request different fields on an interface array.

Seems like this could be related to #6149.

**To Reproduce**
Steps to reproduce the behavior:
See repo: https://cod

[2021-10-06 00:23] abrenneke commented on #6543
It seems to me like custom loaders just got skipped over in https://github.com/ardatan/graphql-tools/pull/3157. Would it be sufficient to just [change the lines here](https://github.com/ardatan/graphql-tools/blob/4c78b1de27f1ca5eba48e9cc24f07b19e77c63bd/packages/load/src/load-typedefs/collect-sources.ts#L106-L142) to add a check if the custom loader returned an array of sources, and if so, add all

[2021-10-06 02:30] fivethreeo commented on #6682
I think this came about because I had a older codegen plugin installed. So I could not get multiple gql calls working. Then I tried the example for the initial version and it did not work. So that blog post is a bit confusing for beginners, should be clarified that it does not work with multiple operations in one gql call.

So maybe this just adds needless complexity.

[2021-10-06 06:35] ovidiuwin opened #6794 "[react-query] Fetcher headers get generated as ...([object Object])"
**Describe the bug**
When passing headers to the fetcher config, those get generated as ...([object Object]). Maybe I'm missing something here.

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/stoic-swanson-qhck5?file=/generated/index.ts Check the codegen.yml and how the headers get generated in this file.

**Expected behavior**
The headers to get generated as expected.

[2021-10-06 07:16] dotansimha commented on #6757
I agree this makes sense to interpolate the `maybeValue` when `preResolveTypes` is used. @gilgardosh is working on a fix :)

[2021-10-06 07:27] n1ru4l commented on #6682
@fivethreeo You can follow the documentation over on https://www.graphql-code-generator.com/docs/presets/gql-tag-operations

I will update the blog post to point to that and close your PR

[2021-10-06 08:01] n1ru4l commented on #6605
@danielo515 Where in this example is an unused import?
[code]
We are also working on a module augmentation mode that we will release soon. That way only type definitions are generated that overload the `gql` tag function.

You can have a look at the docs here: https://github.com/dotansimha/graphql-code-generator/pull/6492/files#diff-1a39726074b13ad1586a426c290e1c2213e3d691224eff1de2e3ddc92748ebc0

[2021-10-06 09:07] m7kvqbe1 commented on #3445
These dependencies should really all be fixed to the same tag and bumped together .

It's currently not possible to safely bump one without potentially breaking another.

Maybe a monorepo babel style versioning could be adopted?

[2021-10-06 19:13] ardatan commented on #6769
Have you seen TypedDocumentNode that works with Urql pretty well?
https://the-guild.dev/blog/typed-document-node

[2021-10-06 21:24] krnsk0 commented on #6769
Ah, I'd seen TypedDocumentNode but hadn't understood the full implications of it superseding the need to generate wrappers. This post is very clear, thank you for sharing, @ardatan! I'll try this approach and if it works out close the issue and associated PR.

[2021-10-07 19:40] flippidippi opened #6803 "Codegen watch skip first run"
**Is your feature request related to a problem? Please describe.**
Currently, we run codegen, then codegen watch to ensure that the first run is successful before compiling the project. However, when the codegen watch is started, it runs an extra codegen before starting the watch.

**Describe the solution you'd like**

It would be nice if we could run the codegen watch and send a flag for it to no

[2021-10-08 21:28] tommyboylab opened #6808 "gql-tag-operations - type 'unknown' is not assignable to 'DocumentNode | TypedDocumentNode"
**Describe the bug**
I'm unable to successfully integrate gql-tag-operations into my project as using the gql function created after generating turns my query variables into type unknown.

**To Reproduce**
- Generate types using code generator for inline queries
- Import and use function in place of graphql-tag
- Notice on using useQuery from @apollo/client the type error

1. My GraphQL schema:
`

[2021-10-09 02:55] jiaoqiqi commented on #1787
Hi @dotansimha I had the similar issue when using alias with directive like this , but after generate the type , there only has `username` field in my fragment type bu not in the query result type, do you have any suggestions on this?

[code]

And my part of `codegen.yml` looks like this
[code]

[2021-10-09 07:00] n1ru4l commented on #6808
You can simply remove the fragment interpolations. We cannot infer the type if fragments are interpolated. Since all fragments are global the generated code will still be correct.

[2021-10-09 15:58] freshollie opened #6811 "gql-tag-operations - preset generates sources with \r\n new lines, which don't match the source"
**Describe the bug**
On windows the preset parses the gql documents and generates a map with `\r\n` newlines. This would be fine (though the source doesn't contain `\r` new lines, so not sure why this is happen), but because the source strings don't exactly match the input strings at runtime (especially after bundling), javascript fails to match the query to the compiled source.

For now, I am swi

[2021-10-09 18:15] danielo515 commented on #6605
Ok, I see where your confusion comes from.
We are also using typescript operations, so we get hooks automatically
generated for us, then we just import them. So in your example, we will not
be using `useQuery({ query: TweetsQuery })`. Instead we will be importing
useTweets and use that straight.
I'll look at your links to see if any of those fixes our problems.

On Wed, Oct 6, 2021 at 10:01 AM Lau

[2021-10-10 09:03] n1ru4l commented on #6808
@tommyboylab Could you create a reproduction code sandbox?

[2021-10-11 08:46] tommyboylab commented on #6808
Here's a reproduction:
https://codesandbox.io/s/gql-tag-operations-type-unknown-tgn7e?file=/pages/index.tsx

[2021-10-11 08:55] n1ru4l commented on #6808
@tommyboylab The schema file is missing in the code-sandbox :/

[2021-10-11 20:47] tylermmorton opened #6819 "ApolloClient Codegen Plugin"
Hi all,

I've been using graphql-code-generator for a few days now and I've been loving it so far. For my codegen configuration I'm using the following plugins:

[code]

And naturally, this is how I've figured out to consume the generated code:
[code]

This is all fine and works perfectly, but I'd like to bring up an idea for an additional codegen plugin to go with this use case. Instead of having

[2021-10-11 21:18] #6819 closed, assigned to nobody

[2021-10-13 09:50] fredriklindell opened #6830 "ObjectID is deprecated in MongoDB Node.js driver"
**Describe the bug**
MongoDB Node.js driver v4.1 has deprecated ObjectID in favor of ObjectId.

**To Reproduce**
Steps to reproduce the behavior: run `graphql-codegen` in project with below environment.

**Environment:**
- OS: linux
- `@graphql-codegen/typescript-mongodb`: 2.1.4
- NodeJS: 14.17.4
- mongodb: 4.1.3

[2021-10-14 15:29] brainkim commented on #6748
@n1ru4l I took a brief look at the PR referenced in the CHANGELOG.md. [This test](https://github.com/dotansimha/graphql-code-generator/commit/8a576b49ae0a772de637377c489d77839ab54656#r58011622) seems to indicate that we’re respecting `avoidOptionals` and making `user` and `group` non-optional? I’m probably just misreading the code 😅

For posterity, can you provide a brief description of what y‘all

[2021-10-14 16:57] ecklf opened #6844 "typescript-urql: utils.memoize1 is not a function"
**Describe the bug**
I cannot add the latest versions to codesandbox yet, so I'll leave what I have for now.

Using the newest packages gives me the following error:

[code]

**To Reproduce**
Use codegen with the packages below. Only happens on the latest packages so the schema should not matter.

**Expected behavior**
Successful build

**Environment:**

- OS: macOS 11.6
[code]
- NodeJS: v16.3.0

[2021-10-14 18:40] #6844 closed, assigned to nobody

[2021-10-14 19:11] mattleff commented on #6844
I've run into this same error with the following versions and npm v6.14.13:

**Environment:**

* OS: macOS 11.5.2

[code]

* NodeJS: v14.17.0

[2021-10-15 04:58] ecpark-danbi commented on #6844
Thank you for this information!!

[2021-10-16 23:35] abrenneke opened #6851 "Watch generates different files from no watch (graphql-modules)"
**Describe the bug**

Thank you for keeping this important project going!

So for some reason, if `--watch 'some/file/glob'` is specified for our monorepo, then the server schema generated from the `graphql-modules` preset can potentially generate using more files than it should be using.

In our monorepo, we have an older `schemas` folder with many `.graphql` files defining our schema, and a newe

[2021-10-17 06:59] Rupert-com commented on #6757
I face the same error as @oceandrama

**`codegen.yml`**
[code]
[code]
**vs**
**`codegen.yml`**
[code]
[code]

[2021-10-17 09:46] gilgardosh commented on #6748
@brainkim Thanks for being thorough! there actually is an issue with inline fragments mixed with conditional directive such as in this case.

The directive is not influencing `user` nor `group` directly, but the query type as a hole.
For example, result cannot be
[code]
since `group` is required if result exists.

The `Maybe` wrapping `user` is due to it's own definition.

Here is a [fix](https://

[2021-10-17 16:51] achen0115 commented on #6794
It works for me without the trailing back-tick symbol. Thanks a lot. 👍

[2021-10-17 23:43] jrwpatterson commented on #5212
hey @nandorojo my company started working on it mid-last week. We are planning on testing it as a patch this week to confirm we are happy. The only thing that we are doing that is slightly out of spec is we are passing the react query options to the Custom Fetcher as an optional parameter then if you do something like...

[code]

then in the query we are doing
[code]

does anyone have an issue wit

[2021-10-18 12:49] franzwarning opened #6854 "Add 'rawRequest' config to typescript-generic-sdk plugin"
Similar to the typescript-graphql-request plugin, it'd be nice to have a `rawRequest: boolean` config option for the generic-sdk which allows the requestor to return both `data` and `errors` at the top level. I've talked to @kamilkisiela and he said he'd love to accept a PR with this.

[2021-10-18 15:07] JustFly1984 opened #6857 "An incorrect typescript types generation"
I've created a discussion here: https://github.com/dotansimha/graphql-code-generator/discussions/6741, but I feel like it got lost already, so I'm duplicating it as an issue.

[2021-10-19 21:09] gajus opened #6869 "schema-ast should pull deprecation notices about enums"
**Is your feature request related to a problem? Please describe.**

If the origin schema has deprecated members of enums (e.g. below), then it should be reflected in the generated schema.

[code]

Currently, deprecations are not reflected in the schema:

[code]

[2021-10-20 00:16] gajus opened #6871 "enumsAsConst does not work with futureProofEnums"
**Describe the bug**

Enabling `enumsAsConst` quietly ignores `futureProofEnums`.

**To Reproduce**
Steps to reproduce the behavior:

Enable `enumsAsConst` and `futureProofEnums`.

https://codesandbox.io/s/awesome-cohen-25m6r?file=/types.ts

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

`Foo` enum should describe

[2021-10-20 16:05] OscarBarrett opened #6873 "[typescript-operations] operation type not restricted to inline fragment"
**Describe the bug**
typescript-operations does not appear to take into account the specific inline fragments used, instead generating a type that could include anything from the returned interface.

**To Reproduce**
Have two or more types that share an interface.

Define a query that returns the interface, but only include one of the types in an inline fragment.

Codesandbox: https://codesandbox.

[2021-10-21 04:04] nghiepit opened #6878 "[Operators] Support optionalNull"
Currently `wrapOptional ` includes `null` value by default
https://github.com/dotansimha/graphql-code-generator/blob/97ddb487ae2d4f54eca9974c960b78c078a2982e/packages/plugins/typescript/operations/src/visitor.ts#L54
I think we need support `optionalNull` similar to `optionalUndefined`

[2021-10-21 14:08] VilhelmNielsen opened #6882 "`transformUnderscore` option is not used for enum values"
**Describe the bug**

While working on trying to add [this external plugin](https://github.com/ardeois/graphql-codegen-typescript-mock-data) to our setup, I've encountered that the `transformUnderscore` option is hardcoded for enum values:

https://github.com/dotansimha/graphql-code-generator/blob/97ddb487ae2d4f54eca9974c960b78c078a2982e/packages/plugins/other/visitor-plugin-common/src/base-types-

[2021-10-21 14:54] jgoux opened #6883 "rollup plugin for gql-tag-operations preset"
Hello,

**Is your feature request related to a problem? Please describe.**

It would be great to have a rollup version of the [babel plugin](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/presets/gql-tag-operations/src/babel.ts) for the gql-tag-operations preset.

It would allow rollup and Vite.js users to use this awesome preset to its full potential. 😄

**Describe the

[2021-10-21 15:20] kamilkisiela opened #6884 "Corrupted operations end up breaking the output of gql-tag-operations"
**Describe the bug**
When one of the operations is corrupted, codegen and `gql-tag-operations` preset do not print any errors or warnings.

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

- error or at least a warning about corrupted operation
- should not affect the generation of other operations

I expect

[2021-10-21 15:23] #6883 closed, assigned to nobody

[2021-10-22 21:25] ldiqual opened #6889 "`visitor-plugin-common` has a dependency on `relay-operation-optimizer`"
`visitor-plugin-common` declares a dependency on `relay-operation-optimizer` – which in turn has a dependency on [fbjs](https://www.npmjs.com/package/fbjs) and the recently compromised [ua-js-parser](https://github.com/faisalman/ua-parser-js).

I don't see imports for relay-operation-optimizer in visitor-plugin-common so it seems to be an unnecessary dependency.

For context, we're not using relay

[2021-10-23 00:12] asztal commented on #6889
It does seem to be used.

https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/other/visitor-plugin-common/src/optimize-operations.ts#L3

[2021-10-23 01:53] xorander00 commented on #6889
`yarn why ua-parser-js` gives me version 0.7.28 with a dependency chain of: `@graphql-codegen#typed-document-node#@graphql-codegen#visitor-plugin-common#@graphql-tools#relay-operation-optimizer#relay-compiler#fbjs`

Version 0.7.28 is reportedly safe, but I'd keep an eye on it personally.

[2021-10-25 21:39] gajus opened #6900 "Add a way to include introspection to schema-ast plugin"
**Is your feature request related to a problem? Please describe.**

Need to have introspection included in GraphQL schema.

**Describe the solution you'd like**

`includeIntrospection` flag that includes introspection query.

**Describe alternatives you've considered**

Using https://github.com/erictaylor/graphql-codegen-schema-ast

**Additional context**

Happy to submit the PR.

[2021-10-26 22:29] rossng opened #6912 "[typescript-urql-graphcache] useTypeImports is not respected"
**Describe the bug**

GraphQL Code Generator supports a `useTypeImports` config option for plugins, which ensures that generated code is compatible with TypeScript's `"importsNotUsedAsValues": "error"` option.

However, the `typescript-urql-graphcache` plugin does not respect this option, resulting in the generation of unbuildable TypeScript code in some circumstances.

**To Reproduce**
Steps to r

[2021-10-26 22:36] davazp opened #6914 "Custom scalars are not resolved correctly when preResolveTypes is true"
**Describe the bug**

When defining custom types referencing files, like

[code]

the generated file by `near-operation-file` will reference the scalar as other primitive types like `DateOnly`,  instead of `Types.Scalars["DateOnly"]`.

This only works for primitive types, making the types very clean, but not for custom types like this one.

**To Reproduce**
I prepared a sandbox with an example set

[2021-10-27 01:04] samuela opened #6916 "`TypeError: Cannot read property 'name' of undefined` with simple typescript setup"
**Describe the bug**
I'm trying to follow the [intro tutorial](https://www.graphql-code-generator.com/docs/getting-started/installation) but I'm hitting up on an error:
[code]
You can check out the full log here: https://gist.github.com/samuela/93253c407de353d27ea8224a96757d73.

How does one set up a basic TS graphql-code-generator configuration?

**To Reproduce**
Steps to reproduce the behavior:

[2021-10-28 02:52] smhmd opened #6924 "Plugin for Mock Service Worker"
Plugin idea for [Mock Service Worker (MSW)](https://mswjs.io/)

To intercept a query or a mutation, you have to write the following typescript code (taken from docs):

[code]

I have already written a plugin that would generate a `getUserQueryHandler(resolver)` that takes the `(req, res, ctx) => {}` as a parameter:

[code]

The ability to configure a link in the case of having multiple endpoints i

[2021-10-28 09:00] majdi opened #6925 "Duplicate identifier on Typescript type generation due to _ prefix"
**Describe the bug**
On generating GraphQL schema (using Typescript + Typescript-Operations plugins), duplicate fields are generated: `TS2300: Duplicate identifier` error

**To Reproduce**
Having a graphql endpoint and then run the command `yarn graphql-codegen --config codegen.yml -r dotenv/config` (or using npm)

The bug happen when a GraphQL schema has key like `_createdAt_ASC` and `createdAt_A

[2021-10-28 15:47] flippidippi opened #6929 "Schema glob patterns not throwing errors"
**Describe the bug**

When doing typescript codegen, using schema as a glob pattern swallows errors, while a list of schema files works.

**To Reproduce**
Create 2 schemas, 1 with a syntax error and the other without. Using a glob schema will swallow the syntax error and individually listing each schema file with correctly throw the syntax error.

In the example, in `codegen.yml`, the glob route i

[2021-10-29 06:21] #6916 closed, assigned to nobody

[2021-10-29 10:58] andbjer opened #6935 "Allow sorting in enums to be disabled"
**Describe the bug**

My schema contains an enum for `DayOfWeek`:

[code]

When GraphQL Code Generator creates a typescript type for this enum, it will sort the values alphabetically like below:

[code]

This is an issue if you would like to retrieve the index value of the enum:
[code]

If the object's day of week is Sunday I would expect `day` to be 0, instead it is 3.

I've tried to look through

[2021-10-29 15:40] juanlatorre opened #6937 "graphql 16 support"
**Describe the bug**
graphql-codegen isn't working with graphql 16

**To Reproduce**
Steps to reproduce the behavior:
Update graphql to 16.0.0
https://codesandbox.io/s/codegen-graphql16-bug-pv9db

**Environment:**

- OS: macOS Monterey 12.0.1
- NodeJS: v16.13.0

**Additional context**

[code]

[2021-10-29 23:17] a-guerrero commented on #6869
This issue can be replicated in the website playground:
![Screen Shot 2021-10-29 at 18 16 32](https://user-images.githubusercontent.com/4641859/139510677-0434f29e-92cc-4e0a-960a-e8904cc44211.png)

[2021-10-30 04:49] #6937 closed

[2021-10-30 09:41] ardatan commented on #6935
We apply sorting not only enum keys but also fields, o ject definitions etc. Currently there is no option to disable sorting for enum values specifically but instead you can disable all kind of sorting with `sort: false`configuration option.

[2021-10-30 10:36] dwalker93 opened #6944 "Error: Unable to merge GraphQL directive "abstractEntity""
**Describe the bug**
Codegen worked fine with "@graphql-codegen/add": "^3.1.0", "@graphql-codegen/cli": "1.21.7", "@graphql-codegen/typescript": "1.23.0", "@graphql-codegen/typescript-resolvers": "1.20.0", "@graphql-codegen/typescript-mongodb": "^1.19.5", and then accidently updated all packages to latest. Then got TypeError:

[code]

my codegen config

[code]

Retried with rollbacking to differen

[2021-10-30 19:09] Urigo commented on #6944
Hi @dwalker93 and thank you for the report

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 1` thanks to your reproduction! Thank you for that!

Now in order to advance to `stage 2` we'll need a faili

[2021-10-30 19:14] Urigo commented on #6869
Hi @gajus and a-guerrero and thank you for the report

Sorry but I'm not adding a lot here but just labeling it according to our new Contribution Guide and [issue flow](https://github.com/the-guild-org/Stack/blob/master/CONTRIBUTING.md#a-typical-contributor-workflow).

It seems already got into `stage 1` thanks to your reproduction! Thank you for that!

Now in order to advance to `stage 2` we'll n

[2021-10-30 19:18] Urigo commented on #6871
@gajus where did you add that?

[2021-10-31 02:46] PabloSzx commented on #6937
GraphQL v16 support was released with @graphql-codegen/core@2.3.0 and friends, more details with all the updated packages here: https://github.com/dotansimha/graphql-code-generator/pull/6892

[2021-11-01 03:31] gajus commented on #6871
https://github.com/dotansimha/graphql-code-generator/pull/6901/commits/d0a06b2848f97d91dd09fb94213e3706aafd6535

[2021-11-01 08:16] andbjer commented on #6935
@ardatan thank you! Is that behaviour documented anywhere? I tried specifying `generates.config.sort: false` and `generates.sort: false` but that did not work for me. Only thing that worked was specifying `sort: false` on the root level in `codegen.yml` but that isn't listed as an option [here](https://www.graphql-code-generator.com/docs/getting-started/codegen-config).

I still think it would be

[2021-11-01 15:28] ThePlenkov opened #6946 "Is it possible to use original names, not camel?"
Hi! I try to generate a schema for Gitlab with the following file:
[code]

However in the generated file I see many errors like that:
[code]

checking original schema i see that they have something like this:
[code]

It looks like they try to support both upper and lower case, which is fine.

The only solution in this case would be using original case in enum, not transformed one.

Do you think is

[2021-11-01 15:41] ardatan commented on #6946
We have `namingConvention` options in configuration so you can configure it;
https://www.graphql-code-generator.com/docs/plugins/typescript

[2021-11-01 19:37] ThePlenkov commented on #6946
Exactly what I was searching for:
[code]

Thank you!

[2021-11-01 19:37] #6946 closed

[2021-11-02 08:08] #6061 closed

[2021-11-02 14:54] htulipe commented on #6428
If anyone found this issue, here is how i removed it:

[code]

[2021-11-02 23:57] capaj commented on #6844
I think this should be reopened. I got this today:
[code]
IN the file it imports `memoize1` from here:
https://github.com/ardatan/graphql-tools/blame/e7bb9810f8aa57e925ea5362e9f27b5d16d0e40f/packages/utils/src/memoize.ts#L1

this was added in version 8.4.0 I think, yet the version specified is ^8.1.1 in package.json.

Opened a PR for this here: #6957

[2021-11-03 01:29] jerelmiller opened #6959 "[typescript] Add the ability to only output types used by the queries"
Hey there 👋

First of all, thanks so much for this amazing library. I've really enjoyed how flexible and configurable this tool is.

I'd love to add the ability to generate only the TypeScript types used by the schema. Currently the entire GraphQL schema + query/mutation types (with `typescript-operations`) are generated and saved to the file. This works great for small to medium-size GraphQL APIs

[2021-11-03 06:19] jrwpatterson commented on #5212
I've now got the pr and changed the API so its less hacky and much more re-usable. the only thing it has is there is a key on the useInfiniteGetFooQuery that is the field that accepts the key for the pageParam in the useInfinitequery

[2021-11-03 08:12] henrysha commented on #3739
Seems like the bug label is removed.
For people using Babel, this seems like an issue that causes generated types being useless. This issue causes the system to break when type exported from generated file is imported.
From above comment, it seems the suggested workaround is useless. Is there any roadmap to a fix to this issue...?

[2021-11-03 09:52] seancwalsh opened #6963 "TypeScript resolvers - Custom args type"
**Is your feature request related to a problem? Please describe.**

Add config to add custom args type. I work on a project where `user` data is added all resolver args through middleware. This arg is untyped with my current config, because it's not included in the GraphQL schema.

**Describe the solution you'd like**
Very similar to the ability to add custom context type: `contextType: ./types#Cu

[2021-11-03 13:59] YutaUra commented on #2400
I now know that setting DocumentMode to string works, but that is not documented.
How can I open a PR for that?

https://www.graphql-code-generator.com/docs/plugins/typescript-document-nodes

[2021-11-03 15:22] YutaUra commented on #2400
That is, there is no mention of `string` in the current documentation (the description of `DocumentMode` in the URL above).
So, I think we need to update about it, don't you?

[2021-11-03 15:30] WonderPanda commented on #6929
Also just ran into this issue in our repository. I had to switch to manually globbing all the files and then passing them in as an array to work around this

[2021-11-03 15:34] dodomorandi opened #6966 "Support custom extensions type in `graphql-request`"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-11-03 15:52] WonderPanda commented on #6929
@ardatan Thanks, this is helpful. Running with `DEBUG=1` does print out that there was an error but it does not specify which file the error was found in. It also does not abort the CLI process with any error which is important behavior for us in CI environments.

It seems strange that the behavior is completely different when supplying an array of files versus a glob. With the DEBUG flag and a gl

[2021-11-03 16:30] hpohlmeyer commented on #6794
For anyone using a JS [GraphQL Config](https://graphql-config.com/introduction/), you can stringify the object yourself until it is fixed:

[code]

[2021-11-04 01:58] kainosnoema commented on #6491
I believe this changed in v2, as we got bit by this during the upgrade. Previously reading nested fragments worked fine, even with `dedupeFragment` enabled.

[2021-11-04 07:03] hpohlmeyer commented on #6496
Yes, I did not have the time to update the project where I was using it. I did now and can confirm that everything works as expected now.

[2021-11-04 07:03] #6496 closed

[2021-11-04 13:37] n1ru4l commented on #6884
@kamilkisiela I just tried this on master by just modifying the `dev-test/gql-tag-operations/src/index.ts` file and running `yarn run generate:examples`.

So it seems like it is actually raising an error as it should 🤔

It raises the following error(s):

[code]

[2021-11-05 05:10] productdevbook opened #6978 "VueApolloComposable : vue withCompositionFunctions argument problem"
yarn ts

`types/types.ts` Argument problem

https://github.com/productdevbook/productdevbook.com

![CleanShot 2021-11-05 at 08 10 24](https://user-images.githubusercontent.com/38668796/140461457-647f3a74-b423-4426-b8fd-ebefaccaed44.png)

[2021-11-05 05:15] productdevbook commented on #6978
codegen.yml       vueCompositionApiImportFrom: vue change fixed

[2021-11-05 05:15] #6978 closed

[2021-11-05 09:21] n1ru4l commented on #5061
@TheReincarnator Hey, can you please share the operation that caused this issue? We have a potential PR that solves this issue, however, @mvestergaard is not able to produce a failing test (See https://github.com/dotansimha/graphql-code-generator/pull/6874).

[2021-11-05 10:14] n1ru4l commented on #6682
Closing this as we will for now not support it and keep the complexity of gql-tag-operations low and opinionated (https://github.com/dotansimha/graphql-code-generator/issues/6682).

[2021-11-05 10:14] #6682 closed

[2021-11-05 12:31] n1ru4l commented on #6929
@ardatan Why are we not treating this as an error or at least a warning?

[2021-11-05 12:39] ardatan commented on #6929
This popped out after we started handling globs inside loaders instead of `@graphql-tools/load` level. I think the behavior of CodeFileLoader is being used in GraphQLFileLoader as well because in CodeFileLoader, we ignore the files which we cannot load with `require` or extract SDL with `tag-pluck`(otherwise you should need specifically define the files with GraphQL stuff).
Also it is weird that w

[2021-11-05 12:47] n1ru4l commented on #6935
@andbjer One could argue whether enum values are actually meant to be used like that. The ECMA specification does not clearly state that each js engine has to implement `Object.values` (aka enumeration order of objects) the same way (https://stackoverflow.com/a/52706191).

From a client perspective, an alternative approach could be to have a field on your Query root type that exposes a list of `Da

[2021-11-05 14:13] dodomorandi opened #6981 "Non-breaking spaces in documentation are kept with codegen"
**Describe the bug**
If there are any non-breaking spaces in GraphQL documentation (char code 160), they are left intact in the generated documentation. This is not a huge issue per se, but eslint does not like it and it's probably right.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

*

[2021-11-05 14:44] AndysonDK opened #6983 "Typescript-urql doesn't remove all export identifiers when specifying `noExport: true`"
When I use the plugin `typescript-urql` and specify `noExport: true` it doesn't get rid of all export indentifiers.
Another great option would be `hooksExportOnly` or something like that where the behavior would be to only add export indentifiers to hooks, since I'm only planning on importing hooks in my code and not importing .e.g. types. It's a bit frustrating since eslint will complain of unuse

[2021-11-07 21:18] Urigo commented on #6871
@gajus are you sure these are related or these are a different issue?

[2021-11-07 22:08] gajus commented on #6871
Sorry, looks like I got lost between two PRs.

[2021-11-07 22:57] dchenk opened #6993 "Documentation for default of wrapFieldDefinitions is incorrect"
**Describe the bug**

On https://www.graphql-code-generator.com/docs/plugins/typescript-resolvers the `wrapFieldDefinitions` option is documented a `true` by default but it's actually `false`.

[2021-11-08 09:37] adrianrivers commented on #2742
@myylow your solution worked well for me, thanks :)