[2020-01-08 13:13] maapteh commented on #3152
https://github.com/apollographql/react-apollo/issues/3787

[2020-01-08 16:02] leethree commented on #3249
yes I'm seeing the same issue. all the descriptions are gone.

[2020-01-08 16:30] andrzey opened #3254 "__isTypeOf not available on generated GraphQL type."
**Describe the bug**

We are using TypeScript and our schema uses interfaces and unions. We need to add a resolver for `__isTypeOf` in our resolver for the two types `PlaneSearch` and `PlaneCreate` that are part of the union `SearchData`. The problem is that the generated type for `Resolvers` does not include a property `__isTypeOf`. Are we doing something terribly wrong or is there another recomm

[2020-01-08 19:42] dauledk opened #3256 "TypeError: func is not a function"
When running `graphql-codegen` to generate typings,  our team suddenly started to get this error today, after months of working without issues. I updated to latest version of all plugins, but the issue persists.

[code]

**Expected behavior**
Generated types

**Environment:**

- OS: MacOS 10.14.6
- "@graphql-codegen/cli": "^1.11.2",
- "@graphql-codegen/typescript": "^1.11.2",
- "@graphql-codegen/t

[2020-01-08 20:12] chr1sjf0x opened #3257 "Duplicate import statements when same module referenced by mappers and enumValues"
**Describe the bug**
The generated code contains duplicate import statements:

[code]

**To Reproduce**

1. Specify a `mappers` entry to any module
2. Specify a `enumValues` entry to the same module as step 1

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
The same module to be imported only once:

[code]

**Environ

[2020-01-08 23:06] evark commented on #3256
some here...
until 1.9.1 everything is OK.
from 1.10.0 I get this error.

[2020-01-08 23:34] the-unbearable-lightness-of-being commented on #3208
Hello @dotansimha, unfortunately that did not produce the global types. The `export` keyword still appears before each generated type.

[2020-01-09 08:36] dauledk commented on #3256
I can confirm that the problem also starts with `1.10.0` in our project

[2020-01-09 08:38] ardatan commented on #3256
@dauledk @evark Could you reproduce it using this codesandbox template?
https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template

[2020-01-09 08:43] dauledk commented on #3256
Hi @ardatan, to be honest, I don't know where to start - I am not very familiar with codesandbox. Given the link you provided me, how do I create an Angular project 🤷🏾‍♂️?
We are using an apollo express node.js + Angular project. I will just update the issue with our `codegen.yml` file, if it can maybe help. I was really hoping that the stack trace would tell you something 😅

[2020-01-09 12:53] ivansky opened #3259 "Fragment Doc get lost after upgrading above the 1.9.1"
**Describe the bug**
On 1.9.1 there is an import from Graphql file to use `SomeFragmentDoc` string.
After upgrading above 1.9.1 it doesn't work properly, I didn't tested alpha version, there are too much of them.
I don't know maybe it's intended behaviour and I need to use some kinda import feature, but I didn't need before.

**To Reproduce**
Steps to reproduce the behavior:
There is a repo
https:

[2020-01-09 16:07] holomekc opened #3260 "java-apollo-android fails due to forced enum CustomType"
**Describe the bug**
1.
CustomType is always generated even if no scalar is in schema. The enum definition fails because it implements com.apollographql.apollo.api.ScalarType . Which is not fullfilled.

2.
Defining a scalar results in another error because javaType returns: any.class which does not exist in java and is typescript specific

**To Reproduce**
Just a simple schema definition with and

[2020-01-09 19:53] dauledk commented on #3256
@ardatan I tried reproducing this error, it's not easy but I finally found something! It seems like the error is not related to the setup (client or server) at all - but has something to do with versioning - maybe npm.

When I removed the `package-lock.json` (something I otherwise always try to avoid as a solution) and did a fresh install with `npm i @graphql-codegen/{cli,typescript,typescript-apo

[2020-01-09 20:56] NiccoloCase opened #3261 "react-apollo has no exported member "MutationProps""
The one in the title is the error react gives me regarding the auto file generated by this tool.
My configuration file is this:
[code]
Instead the installed packages are these:
[code]
I managed to solve this problem by downgrading the "react-apollo" package realizing that in a working project the only different version was that of this package. So I replaced version 3.1.3 with version 2.5.8.
I'd l

[2020-01-09 21:36] ardatan commented on #3261
@NiccoloCase You're using old version of codegen. You can migrate to the latest version using this migration guide because new react-apollo is compatible with latest codegen.
https://graphql-code-generator.com/docs/migration/from-0-18

[2020-01-09 23:15] evark commented on #3256
OK! after deleting node_modules/package-lock.json and reinstall everything codegen work normally. It seems that some dependency is not updated with normal update of the package. Full reinstall is needed.

[2020-01-09 23:34] rebolyte opened #3264 "Generated directive doesn't use enumValues"
**Describe the bug**

With an external enum defined in `enumValues` in my config file, the generated directive types do not use the imported value. It imports the enum correctly and uses it elsewhere, but not for directives. In the generated types:

[code]

This causes a TS compilation error: `error TS2304: Cannot find name 'GqlUserRole'`.

**To Reproduce**
Steps to reproduce the behavior:

1. My

[2020-01-10 07:15] xjiangiao opened #3268 "Get "Query root type must be provided." error when query type"
**Describe the bug**
Get error when schema's query root type's name isn't "Query".

The code will generate without error when the Query root type name is "Query"

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/festive-firefly-vle63?fontsize=14&hidenavigation=1&theme=dark
just generate the code

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `cod

[2020-01-10 11:41] anfinil commented on #3249
I have the same problem.

[2020-01-10 16:14] dmarkow opened #3270 "Multiple queries importing the same fragment results in unique name error on the queries"
**Describe the bug**

On 1.11.2 I'm getting errors generating my documents. In this simple example, I have a `User` query and a `Users` query. Each one imports a fragment from another file using the `#import ...` syntax. I'm getting a unique error on `User` even though it's declared in only one place. Something about the import must be declaring it twice?

[code]

This Worked fine on 1.9.1. I trie

[2020-01-10 17:06] ardatan commented on #3270
You can disable GraphQL Codegen's import processing by passing `skipGraphQLImport: true`.

[2020-01-10 18:58] qiwang97 opened #3272 "How to use both near-operation-file-preset and import-types-preset"
I want to generate  typing declear once  in single file and other files just import its type from it .

Although `near-operation-file-preset`  `generates a file per each operation file`,every file  repeats typing declear.  And `import-types-preset `  helps import types from file but it can not generate files like  `near-operation-file-preset` .
One more thing is that `near-operation-file-preset` c

[2020-01-10 20:07] the-unbearable-lightness-of-being commented on #1219
I agree with @maclockard about adding that to the documentation. It is not clear of the use cases for many of the options in the documentation. Many reasons I find to use a particular config option come from stumbling across suggestions in the issues.

[2020-01-10 20:27] dmarkow commented on #3270
@ardatan I tried setting this config option and it made no difference?

[2020-01-10 22:06] ashubham commented on #1703
@dotansimha It will be great to provide a solution to this issue. I am facing the same error using the library out of the box. My `codegen.yml` is:

[code]

I get the error `Plugin typescript does not export a valid JS object with "plugin" function.`

[2020-01-10 22:15] ashubham opened #3275 "Plugin typescript does not export a valid JS object with "plugin" function."
**Describe the bug**

When I try to follow the getting started from the docs, I get the error:
`Plugin typescript does not export a valid JS object with "plugin" function.`

**To Reproduce**
1. My codegen.yml
[code]
1. My GraphQL schema:

[code]

**Expected behavior**

Types should be generated.

**Environment:**

- OS: Mac OSX
- `@graphql-codegen/...`: 1.11.2
- NodeJS: 10.11.0

This is related to

[2020-01-11 02:32] xiaoyu-tamu commented on #3259
I can confirm version 1.11.2 have the same issue.

[2020-01-11 14:36] AdiBev commented on #3216
@ardatan  Thank you for the explanation I understand now :)

[2020-01-12 02:09] stephenh opened #3278 "avoidOptionals should not make all root resolvers required"
**Is your feature request related to a problem? Please describe.**

I've enabled `avoidOptionals` because I want to ensure all of my field resolvers are written.

However, `avoidOptionals` means I have to specify resolvers for every single type in the GQL schema, even "do nothing" / pure-DTO result types.

**Describe the solution you'd like**

`avoidOptionals` IMO should not require resolvers (in

[2020-01-12 15:11] lensbart opened #3280 "Missing types for several queries"
Hello,

Thanks for making this tool, it seems very ergonomic.

However, I’m running into an issue when generating TypeScript types for my queries, mutations & subscriptions:

[code]

This one leaves out several queries, for example one query located at `./app/pages/Book/graphql/book.graphql`. When we explicitly include the file:

[code]

we get an error when running the CLI script: **`Not all oper

[2020-01-12 15:24] lensbart commented on #3280
Downgrading to `1.9.1` fixes the issue.

[2020-01-12 20:25] maapteh commented on #3152
I had to give the options while using, not while executing

[2020-01-12 20:25] #3152 closed

[2020-01-13 00:05] wassim-k commented on #3268
I've come across the same issue and I have narrowed it down to this line, which strips out the custom schema definition.

_packages\graphql-codegen-cli\src\codegen.ts_
[code]

* `apollo-angular-plugin` implements `addToSchema`, which sets `schemaChanged` flag to true (_packages\graphql-codegen-core\src\codegen.ts_)
* `schemaChanged` executes `options.schemaAst = buildASTSchema(schema, ...)`
* new

[2020-01-13 00:42] SoyYoRafa opened #3282 "Schema won't generate with versions after 1.9.1"
**Describe the bug**
Hi,
The attached package can generate with 1.9.1 but not with 1.10.x nor 1.11.x. Type `Action` is in the imports of `src/service_b/Alert.graphql` so it should be able to find it. Separetely, it would be great it graphql-code-generator could log which file has the issue for readability purposes.

[graphql-codegen-bug-reproduce.tar.gz](https://github.com/dotansimha/graphql-code-

[2020-01-13 06:15] ashutoshrishi commented on #3270
I am having the same problem, had to downgrade to `v1.9.1`

[2020-01-13 13:57] Guillaumez commented on #3280
@lensbart same problem here.

We use the tool since 6 months without any issues. Passing from `1.9.1` to `1.11.2` gave us the following error **Not all operations have an unique name: [name of explicitly included query]**.
The fact is that all the queries names are unique. It only fail on queries including fragments.

[2020-01-13 18:36] koenpunt commented on #3249
The problem is probably introduced in https://github.com/ardatan/graphql-toolkit, since that library handles the schema loading etc.

[2020-01-14 01:45] tmcw opened #3287 "documentMode=string is undocumented"
**Describe the bug**
This feature was added in d0acf100e750d9a3cbad3aebaa7e705fdcb9627f and released in [1.8.3](https://github.com/dotansimha/graphql-code-generator/releases/tag/v1.8.3) but is not documented.

[2020-01-14 05:55] nadilas commented on #2676
I'm sorry, I'm am on 1.11.2 and the ReferenceResolver doesn't get included, wherever I put the `federation: true`:

[code]

[2020-01-14 06:22] desbrowne commented on #3256
In our case, the `pascal-case` dependency (v2.0.0) didn't match the included type definition. The type def is `import { pascalCase } from 'pascal-case'` where as the js seems to be exporting the func as default, e.g. `import pascalCase from 'pascal-case'`.

I just tried installing the latest version of pascal-case (v3.1.1) explicitly and it fixed the issue.

[2020-01-14 10:25] leethree opened #3289 "Make ApolloEngineLoader optional"
**Is your feature request related to a problem? Please describe.**

`@graphql-toolkit/apollo-engine-loader` depends on `apollo-language-server` which is a huge dependency. But we are not using Apollo Server and we do not need this feature.

**Describe the solution you'd like**

The dependency tree includes a lot of modules of Apollo Server that do not seem to relate to GraphQL code generation, suc

[2020-01-14 16:42] saostad commented on #3256
it looks graphql-codegen has a dependency of "change-case": "^3.0.0", but change-case has dependency of "pascal-case": "^2.0.0",
so I think we need to update change-case to latest version.
`npm i -D change-case`

or wait for maintainers to update the dependency to "change-case": "^4.1.1"

[2020-01-14 19:54] dobesv commented on #1828
I think this is already done with `graphql-tag/loader` - https://github.com/apollographql/graphql-tag#webpack-preprocessing-with-graphql-tagloader

When you use the `typescript-graphql-files-modules` (https://graphql-code-generator.com/docs/plugins/typescript-graphql-files-modules) you can generate ` .d.ts` file with declarations for all your graphql client side files that declares what operations

[2020-01-14 19:59] dobesv commented on #1828
For jest runs (and other nodejs processes during development) you can use `graphql-tag-loader-register` to process graphql files on the .

You can use https://www.npmjs.com/package/graphql2js to convert graphql files to javascript in advance as part of building for production (e.g. when you are running babel, webpack, etc.)

[2020-01-15 04:43] rintaun commented on #3112
I think the underlying problem here is that, anywhere that can return a value could instead return:
* a Promise for that value
* a function that returns the value
* a function that returns a Promise for the value

All of which will function correctly. That's true of both resolvers and fields.

-----

I am actually running into a similar situation right now, where I have something like:

[code]

So

[2020-01-15 05:04] rintaun commented on #3112
Playing around with the generated types, I can accomplish what I believe to be the correct behavior, but it's a bit heavy-handed...

[code]

That would have to be done for every declared GraphQL type.

For the resolvers, interestingly `ResolverTypeWrapper` needs to be identical to `FieldWrapper`, above, and we need to tweak `Resolver` a bit:

[code]

[2020-01-15 08:33] falkenhawk commented on #3249
also "description" fields are empty now in a generated graphql schema.json

[2020-01-15 16:31] imcvampire opened #3296 "Generate enum as `const enum` on Typescript"
**Is your feature request related to a problem? Please describe.**

Now, graphql codegen creates Typescript code for enum as a normal enum. It's better if we use `const enum`, the compiler can provide more optimization

**Describe the solution you'd like**

In spite of generating `enum`, we should return `const enum`

**Describe alternatives you've considered**

**Additional context**

[2020-01-15 22:29] rintaun commented on #3112
I started digging into fixing this, and the `ResolverTypeWrapper` fix can be applied with a config change:

[code]

I'm working on a pull request (or two) for the `FieldWrapper` and `Resolver` fixes, which both seem to be relatively straightforward.

[2020-01-15 23:18] rintaun commented on #3112
@cranberyxl I believe that #3299 would allow you to solve your problem. what do you think?

[2020-01-16 01:48] cranberyxl commented on #3112
@rintaun Looks good. I'll be excited to try it. We've been adding many mappers which this should help us avoid.

[2020-01-16 07:55] nadilas commented on #2676
Hi @dotansimha, it turns out it is an issue during schema download. The federated service has its sdl including the directives in
[code]

but the directives are not not included in the schema which is displayed in the playground. I'm using apollo-server@2.9.16, is this version supported? It seems to me that codegen downloads the "wrong" schema.

[2020-01-16 12:05] ardatan commented on #3249
Could you try with the following canary version?
`1.11.3-alpha-aba86640.34`

[2020-01-16 18:40] gabrielsch commented on #3248
I have the same problem on my project, could you guys take a look on this?

[2020-01-17 06:26] cj commented on #3222
@dotansimha I am having the exact same error using 1.11.2

[2020-01-17 10:26] LinusU commented on #3296
Keep in mind that Babel cannot transpile TypeScript code that uses `const enum`

ref: https://babeljs.io/docs/en/babel-plugin-transform-typescript#caveats

[2020-01-17 11:45] Durisvk opened #3318 "Connection directive with query containing arg named "filter" throws type error"
**Describe the bug**

While validating query file with `@connection` directive written correctly, library throws a type error: `GraphQLDocumentError: Expected type UserFilterInput, found ["filter"].`

which is incorrect - `@connection` directive should expect `[String]` type instead of `UserFilterInput`

While manually editing the generated file (the generated document gql` ... my query ... `) and

[2020-01-17 12:08] sasurau4 commented on #3296
I met the same issue.
If the behavior is intended, I want to know the reason why.
If not, I'm willing to work on this issue.

[2020-01-17 13:15] pchrysa opened #3319 "Typescript interface code for GraphQL Type that implements GraphQL interface"
**Describe the bug**
Typescript interface code for GraphQL Type that implements GraphQL interface is ignored on generated types

**To Reproduce**
Run codegen cli

1. My GraphQL schema:

[code]

3. My outcome:

[code]

**Expected behavior**
I would expect that  `FeatureFilter` would take into account `XValueFilter & YValueFilter` otherwise I need to create a manual overwrite type.

Maybe something

[2020-01-17 14:34] falkenhawk commented on #3249
Version `1.11.3-alpha-aba86640.34` does not fix the issue for me.

[2020-01-17 15:12] ardatan commented on #3249
@falkenhawk Could you share a reproduction on codesandbox so I can debug?

[2020-01-17 15:43] #3319 closed

[2020-01-18 03:45] Li357 opened #3321 "Type Query must define one or more fields when #import-ing extension"
**Describe the bug**

When trying to generate types for schema, using an empty Query type then importing another file that includes an extension Query leads to an error saying that `Query` must define one or more fields.

**To Reproduce**
Steps to reproduce the behavior:

GraphQL schema (`schema.graphql`):

[code]

Inside `users.graphql`:

[code]

3. `codegen.yml` config file:

[code]

**Expected

[2020-01-18 04:26] ardatan commented on #3321
@Li357 Empty object definitions are allowed in GraphQL SDL.

http://spec.graphql.org/draft/#sec-Objects.Type-Validation

[2020-01-18 04:28] Li357 commented on #3321
@ardatan Got it. So is there a way to accomplish this modularization? Or would I have to add a dummy field to `Query`? I really don't want to do that–especially if there's not a way to hide it from public consumers of the API.

[2020-01-18 04:40] ardatan commented on #3321
@Li357 You might not need `extend` at all. Just define types as they are.

[2020-01-18 05:12] Li357 commented on #3321
@ardatan If I remove the empty type, graphql-codegen won't find any schema to process, i.e. it gives me `Unable to find any GraphQL type definitions`.  I want to split up different parts of my schema into different files then join them together into one, [something the docs explicitly mentions](https://graphql-code-generator.com/docs/getting-started/schema-field#graphql-file).

Looks like it only

[2020-01-18 15:15] imcvampire commented on #3296
@LinusU There is a babel plugin for it https://www.npmjs.com/package/babel-plugin-const-enum

And of course, we can provide an option for toggling `const enum` and `enum`

[2020-01-18 17:00] LinusU commented on #3296
Sure, but note that that plugin just strips the `const` from the enums, it doesn't actually implement const enums in Babel (since that would require having a knowledge of the type information, which Babel doesn't have).

I just wanted to raise this so that it's considered, e.g. if this is shipped and turn on by default peoples builds could start failing. I therefor think that this shouldn't be shi

[2020-01-19 02:42] sgoll opened #3322 "typescript-resolvers uses wrong type for all-optional args"
**Describe the bug**

`typescript-resolvers` can be used to generate type signatures for field resolvers.

When all args of a field are optional, the type of each arg should be `T | null | undefined` as missing args are passed to the resolver as `undefined` when resolving the query.

However, `typescript-resolvers` only generates the signature `T | null` which may lead to subtle bugs, e.g. when `a

[2020-01-19 04:03] imcvampire commented on #3296
@LinusU agree. I do think that a flag/option will be the best choice.

[2020-01-19 14:35] lukasluecke commented on #3248
Yeah, same error here, with a field that's never queried for directly on `Query` 🤔

[2020-01-19 15:14] andreyvital commented on #3248
@lukasluecke this issue always come back in different ways. It's always flaky on different queries. I can't use 1.8.0, previous reports: https://github.com/dotansimha/graphql-code-generator/issues/3018 https://github.com/dotansimha/graphql-code-generator/issues/3050 https://github.com/dotansimha/graphql-code-generator/issues/3217 https://github.com/dotansimha/graphql-code-generator/issues/3235

[2020-01-19 18:32] Durisvk commented on #3318
Hey guys,

## TLDR;

**2 ways to work around this issue:**

1. either rename your argument (`filter`) in a query to something different - that way the validator won't be confused (in a buggy way) to treat the argument of a directive incorrectly (it wouldn't have the same name)

2. or add this line at the top of your schema definition on a server:

_side note:_ the `@connection` directive is a stan

[2020-01-19 18:32] #3318 closed

[2020-01-19 20:41] kyle-villeneuve opened #3324 "Add support for overriding required field in schema as optional in type definition"
For example if you have an edge in a type, and it's required in your graphql schema, a lot of times the parent resolver isn't handling returning that specific field and is being resolved by a child resolver. This becomes an issue because typescript obviously doesn't know that the field will be resolved elsewhere.

[code]

[2020-01-20 01:48] ksylvest opened #3325 "Cannot Use WebPack Resolve Alias when Bumping from v1.9.1 to v1.10.0"
**Describe the bug**

Attempting to generate using webpack / typescript with an `#import` statement bumping from v1.9.1 to v1.10.0 breaks when using a [resolve alias](https://webpack.js.org/configuration/resolve/).

**To Reproduce**

1. Define a resolve alias inside a web-pack config.
[code]
2. Define equivalent paths in `tsconfig.json`.
[code]
3. Define a GQL file that imports a fragment using th

[2020-01-20 10:59] benjie opened #3326 "Incorrect "Not all operations have an unique name" on 1.11.2"
**Describe the bug**

1.11.2 is incorrectly stating "Not all operations have an unique name" when I attempt to run codegen; 1.8.3 was working fine.

**To Reproduce**

Codegen works fine on the Graphile Starter `codegen-fine` branch: https://github.com/graphile/starter/tree/codegen-fine

However, when we upgrade graphql-codegen from 1.8.3 to 1.11.2 we get the aforementioned error; see: https://gith

[2020-01-20 11:44] lorado commented on #3326
Same here. Version `1.9.1` works fine, in Version `1.10.0` I get following error in my project:

          Import statement is not valid: import '../../fragments/Paginator.gql'
          If you want to have comments starting with '# import', please use ''' instead!
          You can only have 'import' statements in the following pattern;
          # import [Type].[Field] from [File]

With `1.12.2`

[2020-01-20 12:59] esamattis commented on #3090
It seems that the types are in the wrong path in `1.11.2`.

The `package.json` points to the package root
https://unpkg.com/browse/@graphql-codegen/typescript-operations@1.11.2/package.json

![image](https://user-images.githubusercontent.com/225712/72728097-3e52c880-3b95-11ea-8efa-a617864c2c89.png)

But the definitions seem to be in `operations/src/`

https://unpkg.com/browse/@graphql-codegen/type

[2020-01-20 14:19] ardatan commented on #3326
Could you try the following?
[code]

[2020-01-20 14:24] lorado commented on #3326
@ardatan I just found it in other issue. Tried it out, and for 1.11.2 it didn't help

here is my config:

[code]

[2020-01-20 14:29] lorado commented on #3325
Take a look at this issue: https://github.com/dotansimha/graphql-code-generator/issues/3219

[2020-01-20 17:08] benjie commented on #3326
@ardatan Assuming I've got the YAML sigils in the correct places, this doesn't seem to have made any difference:

![Screenshot_20200120_170633](https://user-images.githubusercontent.com/129910/72745285-52072a80-3ba7-11ea-970d-a8c3ba958660.png)

[2020-01-20 23:15] ardatan commented on #3326
Fix available in canary version;
`1.11.3-alpha-841a8693.43`

[2020-01-21 01:29] ardatan commented on #3268
Fix available in `1.11.3-alpha-99a57a5b.45` and your test case passes :)

[2020-01-21 07:07] will-hart commented on #3326
I get a similar issue with updating from `1.9.1` to `1.11.2` or `1.11.3-alpha-f3691f38.45`

[code]

It appears to break on the fragments which are defined in a separate file. This is my config

[code]

[2020-01-21 08:19] VienNguyen113 opened #3332 "typescript-resolvers plugins + import-types preset"
Can we use the import-types preset and type typescript-resolvers plugins together?
here is my config for generating types file
[code]
here is the config for generating resolver types
[code]
and
<img width="744" alt="Screen Shot 2020-01-21 at 15 18 13" src="https://user-images.githubusercontent.com/11764707/72786853-40825900-3c61-11ea-95ad-2bd9a887ef73.png">
<img width="744" alt="Screen Shot 2020-0

[2020-01-21 08:42] VienNguyen113 commented on #3106
I have this issue too.

[2020-01-21 08:56] webberwang commented on #3106
noticing this as well! for now I'm just having all the plugins generate a single file, but would be great for the resolvers to work with import-types

[2020-01-21 15:07] kapral18 opened #3333 "SyntaxError: Unexpected reserved word 'enum' (1:0)"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `git clone https://github.com/kapral18/karenjs.com/tree/this-article-improvements`
2. `yarn && yarn start`
3. `yarn gen` (in separate tab)

**Expected behavior**
`gql-gen` should not fail with error.

**Environment:**

- OS: MacOS Catalina 10.15.2
- `@graphql-codegen/...`: 1.11.2
- NodeJS: 12.13.0

**Additional cont

[2020-01-21 19:56] ricokahler opened #3336 "Feature request: codegen for gatsby-node's `await graphql(/* ... */)`"
**Is your feature request related to a problem? Please describe.**

The TypeScript-Gatsby support here is great! However, there is a significant portion of Gatsby apps that are not covered via graphql-codegen:

This would be any `await graphql(/* .... */)` calls as part of [gatsby's`createPages` node API](https://www.gatsbyjs.org/docs/node-apis/#createPages). [This API is essential for creating pa

[2020-01-21 20:05] ardatan commented on #3336
Could you add pluckConfig like below and try again?
[code]

[2020-01-21 20:13] ricokahler commented on #3336
@ardatan oh my lord, it worked

[2020-01-21 20:14] ardatan commented on #3336
@ricokahler Awesome! I think both gql and graphql should be default identifiers. Let's keep this open until we do these changes!

[2020-01-21 20:15] ricokahler commented on #3336
that was easier than I thought. thanks for the support!

[2020-01-21 20:55] brianmcd commented on #3250
I think this was introduced here: https://github.com/dotansimha/graphql-code-generator/pull/3008.

It seems like the new imports [here](https://github.com/dotansimha/graphql-code-generator/pull/3008/files#diff-2062036cb96666d95a01ac739e4bfc1aR50) should only be added if `sdkClass` is `true`.  It should probably also only import the types that are actually used, e.g. if you have `sdkClass` true but

[2020-01-21 23:00] ardatan commented on #3336
https://github.com/ardatan/graphql-toolkit/commit/4e615bdad560c65d6864f56ff2deaf4282659c7b
In the next release of both toolkit and codegen, you won't need this extra configuration.

[2020-01-21 23:02] ardatan commented on #3280
I think this is the same with #3326
Could you try with this canary version?
`1.11.3-alpha-48f89023.51`

[2020-01-21 23:03] #3280 closed

[2020-01-21 23:51] ardatan commented on #3326
Could you all try with the following version?
`1.11.3-alpha-bb009c96.52`

[2020-01-21 23:53] lorado commented on #3326
Just tried it - generated files are now correct. But I got other problem in my package...

[code]

Dunno how this is related to this project, but with `1.9.1` I don't receive this error

[2020-01-22 00:12] ardatan commented on #3326
@benjie I see but as I asked in here;
https://github.com/dotansimha/graphql-code-generator/pull/3328#issuecomment-576479396
I need a clear minimal production to help your better. :)

[2020-01-22 03:53] priley86 commented on #3268
hi, believe I am hitting the same issue here. And this fix seems to work for my query root, however it does not work for my Mutation root. Can a similar fix also be applied for mutations? Would be yuge for me and maybe some others...

[2020-01-22 04:06] priley86 commented on #3268
was actually merging schemas in my case:
[code]

My introspected schema had:
[code]

whereas my localSchema was defining `Query` and `Mutation` type. My current workaround is to just use the same name and things check out OK i guess. Not sure if this is anticipated or not though...

afterward:
[code]

[2020-01-22 06:29] wawhal opened #3340 "codegen does not work for type extensions"
**Describe the bug**

Codegen does not work when a type is extended.

**To Reproduce**

Try this SDL snippet on the website:

[code]

It codegens this for TypeScript:

[code]

[2020-01-22 06:37] will-hart commented on #3326
`1.11.3-alpha-bb009c96.52` resolves my error above :+1:

[2020-01-22 07:44] dotansimha commented on #3326
It seems like latest version works, right? (`1.11.3-alpha-bb009c96.52`) @will-hart @ardatan @benjie

[2020-01-22 07:50] dotansimha commented on #3326
@lorado it seems like an issue with nuxt/core-js, not sure it's related to the codegen...

[2020-01-22 07:51] dotansimha commented on #3340
It's probably and issue with `graphql-toolkit`.
@wawhal can you please create a reproduction in a repo / codesandbox? We need to see your config, versions and setup in order to fix that.

[2020-01-22 08:13] dotansimha commented on #3332
It's not supported yet. PRs are welcome :)

[2020-01-22 08:31] dotansimha commented on #3333
It seems like using `./node_modules/gatsby-*/**/*.js` as source is too broad. It tries to load some files that are not parsable.
It's not something we can fix in the codegen, since it's coming from your dependencies.
I suggest to use a narrow glob for the gatsby plugin and load it only from where you need it.
Also, you can avoid using the Gatsby fragments if you are having issues (for example: htt

[2020-01-22 08:31] #3333 closed

[2020-01-22 10:19] dotansimha commented on #3250
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/3342

[2020-01-22 10:21] dotansimha commented on #3325
As @lorado said, using `skipGraphQLImport: true` should fix that. Also, please upgrade codegen to the latest if possible.

Let me know if we need to reopen this.

[2020-01-22 10:21] #3325 closed

[2020-01-22 10:24] dotansimha commented on #3324
Sounds like a nice idea. PRs are welcome!
If you wish to have it locally in your project now, you can write custom schema loader, that loads the schema from your source files, and uses `graphql-compose` to remove specific fields and manipulate the schema before it's being loaded by the codegen.

[2020-01-22 10:27] dotansimha commented on #3248
It mostly happens when presets, since validations are different and it's a bit more complex because we need to understand what each file needs to generate and what to import from other files.

 I can confirm that it still happens on 1.11.2 with the schema you provided. Working on a fix now :)

[2020-01-22 11:35] benjie commented on #3326
Can confirm `1.11.3-alpha-bb009c96.52` solves the issue in Graphile Starter; further it does not require the `skipGraphQLImport` flag (works both with and without that flag).

[2020-01-22 12:40] lorado commented on #3326
@dotansimha Well yes, I understand, that my problem is somewhere in combination of nuxt and graphql-codegen. But the fact is, with `1.9.1` it works.

Just for the info: I dived a little bit deeper to find the error, and I found it. After comparison of `yarn.lock` I found out, that graphql-codegen has new `@graphql-toolkit/apollo-engine-loader` dependency, that has `apollo-language-server` dependen

[2020-01-22 12:48] lorado commented on #3326
Ok, I actually found the solution... Nuxt seems to be able to work with both versions, but I guess I have something in my project, that needs v2 of core-js... Anyway it is possible to force nuxt (babel) to use core-js v2: https://github.com/nuxt/nuxt.js/tree/dev/packages/babel-preset-app#usage

[2020-01-22 13:22] lkleuver commented on #3066
I'm having the same issue, though it doesn't seem to have the same cause.
A bit stumped, the error started occurring when I added the "folder" setting in near-operation-file
or more likely splitting my queries mutations and fragments over separate files.

[code]

the only thing missing is the import
[code]

while the import does have some fragments:
[code]

in my fragments.graphql file:
[code]

an

[2020-01-22 13:22] dotansimha commented on #3296
It seems like we have an issue with generating the markdown file of the config flags for `typescript` plugin.
There is a config flags `constEnums: true` that will generate that for you.

I also fixed the documentation issues, and it will be available in the website during the next deployment (very soon).
You can find all docs here: https://github.com/dotansimha/graphql-code-generator/blob/797d0f3a

[2020-01-22 13:22] #3296 closed

[2020-01-22 13:26] dotansimha commented on #3256
@ardatan is it fixed?

[2020-01-22 13:26] dotansimha commented on #3289
@ardatan what do you think? how can we improve that?

[2020-01-22 13:30] dotansimha commented on #3259
@ardatan can you please take a look?

[2020-01-22 13:31] dotansimha commented on #3275
@ashubham can you please provide a reproduction in codesandbox/repo? We couldn't reproduce this issue.

Please make sure you have `@graphql-codegen/typescript` installed.

[2020-01-22 13:33] dotansimha commented on #3272
This use case is not supported yet. PRs are welcome!

[2020-01-22 13:34] dotansimha commented on #3261
As @ardatan said, please upgrade to latest codegen version and packages (we are now using scoped packages).

[2020-01-22 13:34] #3261 closed

[2020-01-22 13:34] dotansimha commented on #3260
It's a bit difficult for us to maintain the java-apollo-android plugins since it's not widely in use. So PRs are welcome :)

[2020-01-22 13:36] dotansimha commented on #3254
@andrzey Can you please share a documentation regarding `__isTypeOf`?  I think using `__resolveType` should be simpler to identify types for interface/union.

[2020-01-22 15:37] brianmcd commented on #3250
Thanks, @dotansimha!  I tried your fix and it worked for me :thumbsup:

[2020-01-22 15:56] andrzey commented on #3254
From the [grahql documentation](https://graphql.org/graphql-js/type/):

[code]

We probably could use `__resolveType` and resolve each type of `SearchData` in the resolver for `SearchData`, but if we have an union of possibly 10 or more types that would create a huge `if-else` block inside the resolver for `SearchData`. We wanted that each type in `SearchData` could resolve its own type in their r

[2020-01-22 16:24] s-h-a-d-o-w commented on #1796
Why is polling used in the first place? Based on chokidar's docs, it has non-polling solutions for all platforms?
I'm on Windows, set `usePolling` to `false` and while it used to max out all of my cores, it now sits at 0% CPU usage.

[2020-01-22 17:11] ksylvest commented on #3325
@lorado @dotansimha thanks for the suggestion. I'm still noticing the same issue when running with `skipGraphQLImport: true` (sample PR: https://github.com/ksylvest/playground/pull/885). Do you know if anything else might be needed?

[2020-01-22 17:19] ardatan commented on #3325
Before v.1.10.0, GraphQL Toolkit was skipping `import` for documents which was a silent bug :) So actually we never supported your aliases in codegen. When we fix this `import` issue, you had problems with `import` because codegen doesn't skip `import` anymore.
https://github.com/dotansimha/graphql-code-generator/issues/3326

But we decided to disable it temporarily on purpose because of the open

[2020-01-22 20:17] rintaun commented on #3324
I also ran into this in an Apollo Federation environment, e.g.

[code]

I originally had this implemented by returning `{ id: this.userId }` from my `Story` model, and having a resolver for `User.stories`, but that caused a type error as described above.

---

With #3299 I was able to address this not with a resolver but by returning a function for `stories` (without it that patch, though, it comp

[2020-01-22 22:56] kapral18 commented on #3333
Ok after debugging a but found the offending file. It was somewhere within `gatsby-plugin-typescript/node_modules/**` folder, so what I did is
change [this from your gatsby integration docs](https://graphql-code-generator.com/docs/integrations/gatsby)

[code]

to this

[code]

so basically bypassing node_modules whatsoever. Not sure if this is the correct way but this works with latest gatsby.

Ma

[2020-01-23 05:13] wawhal commented on #3340
@dotansimha I am using it programmatically. Although it's not a fork of your codesandbox, I have made my own: https://codesandbox.io/s/node-js-enrkr?fontsize=14&hidenavigation=1&theme=dark

Check out and let me know.

[2020-01-23 05:28] ardatan commented on #3340
@wawhal I tried `1.11.3-alpha-95fd7d8e.60+95fd7d8e` (canary version with latest fixes) and it worked.
https://codesandbox.io/s/node-js-tifys
Could you check it as well?

[2020-01-23 05:42] ardatan commented on #3289
@dotansimha We need to dive in the code to get the code that fetches the schema, but that package is tree-shakable, isn't it?

[2020-01-23 05:47] wawhal commented on #3340
Awesome. Seems to work.
Any ETA when the fix will be added to stable?

[2020-01-23 05:49] ardatan commented on #3340
@wawhal For a few days I would say.

[2020-01-23 06:00] wawhal commented on #3340
Cool @ardatan
You can decide if you wish to keep the issue open till it is merged. I don't mind closing it.

[2020-01-23 07:16] tsujp commented on #2043
I had the same error, re-running these commands (note I had to explicitly install `change-case`) fixed the issue.

[code]

[2020-01-23 09:04] lkleuver commented on #3066
any idea where the "bug" might be, would love to help look for it. Haven't dived deep enough to know which plugin is responsible for the fragment imports.

[2020-01-23 10:26] cyberprodigy opened #3351 "Correct usage of graphql-code-generator nullable fields"
**Is your feature request related to a problem? Please describe.**
Remove undefined type for nullable fields

**Describe the solution you'd like**
Guaranteed values are generated like this
[code]
Which I can essentially assign to any typescript variable of number type. That's good.

However if i have nullable field this happens
[code]

This I can only assign to typescript variables of type number

[2020-01-23 10:43] dotansimha commented on #3248
I tried to fix that in: https://github.com/dotansimha/graphql-code-generator/pull/3350

@andreyvital @lukasluecke @gabrielsch can you please try `1.11.3-alpha-43541b8b.61`?

[2020-01-23 11:57] dotansimha commented on #3248
I think I managed to fix that. I reimplemented `isUsingTypes` with a better visitor (based on `SelectionSetNode`), so now it should work for more use-cases.

@andreyvital @gabrielsch @lukasluecke @ivansky can you please try this alpha? `1.11.3-alpha-fceb6efe.61`

[2020-01-23 12:11] yoavain-sundaysky commented on #3248
On 1.11.3-alpha-fceb6efe.61 i'm receiving error regarding pascalCase

[2020-01-23 12:29] ivansky commented on #3248
@dotansimha `1.11.3-alpha-fceb6efe.61` seems work for me, except issue with missing fragment doc import.

[2020-01-23 13:01] ardatan commented on #3351
This is not codegen specific thing. This is how GraphQL works. If you don't define a field in GraphQL, it is considered as null. So if it is defined as null, it is considered as null again.

[2020-01-23 13:01] #3351 closed

[2020-01-23 13:20] cyberprodigy commented on #3351
Exactly. It should be null, not null or undefined

[2020-01-23 13:25] cyberprodigy commented on #3351
Also it seems to be a codegen specific issue, as codegen is the one generating types. In Graphql schema it states userId:Int . This means either it will return an Int or null, but never undefined. Then codegen should be generating appropriately
userId: Maybe<Scalars['Int']>

[2020-01-23 14:31] dotansimha commented on #3248
@yoavain-sundaysky It's a different issue, I think @ardatan already solved it, right?
@ivansky same :)

[2020-01-23 14:39] dotansimha commented on #3351
As @ardatan said, it depends on how you define your GraphQL schema.
We are using `Maybe` wrapper in order to mark fields as nullable, which means the values could be `null | undefined`. We are doing that because that's how `Maybe` is defined in `graphql.js` library, and we wish to make the generated code compatible.

This is how the resolver signature is defined:
![image](https://user-images.githu

[2020-01-23 14:42] dotansimha commented on #3257
Thanks @chr1sjf0x , I'm looking into this

[2020-01-23 14:58] dotansimha commented on #3278
Sounds like a good idea. I think we can implement this feature easily.
Thanks for the idea @stephenh !

[2020-01-23 15:09] dotansimha commented on #3270
@ashutoshrishi  @dmarkow how did you pass `skipGraphQLImport`? can you share your config?

[2020-01-23 15:10] dotansimha commented on #3321
@Li357 can you please share a reproduction for this?
You should be able to create multiple `.graphql` files, each one with types, without the need to deal with imports at all, and codegen will merge the types for you.

[2020-01-23 15:10] dmarkow commented on #3270
@dotansimha Yes, it didn't help. However, it looks like a newer issue was created after mine that's the same thing: #3326 -- as suggested there, `1.11.3-alpha-bb009c96.52` fixes the issue.

[2020-01-23 15:11] dotansimha commented on #3270
Cool, so I'm closing this and we can track it in https://github.com/dotansimha/graphql-code-generator/issues/3326

Thanks!

[2020-01-23 15:11] #3270 closed

[2020-01-23 17:05] Li357 commented on #3321
@dotansimha IIRC, I had multiple graphql files and I specified a glob pattern in my `codegen.yml`. But I needed to specify a single file for Apollo. I'll get back when I have a chance to verify.

[2020-01-23 18:07] stephenh commented on #3278
I tried. :-) I generally grok ASTs/visitors/etc., but with just the sheer amount of functionality in the graphql-code-generator, and the fairly-high-level abstractions you've built to handle them all generically, I personally found it hard to get started in the code base. It all looks pretty clean in general, but just has a larger learning curve than I had time for.

But otherwise, I would general

[2020-01-23 22:16] defrex opened #3356 "Nested fragments from files cause duplicate name error"
If you have a fragment that includes a fragment (and both are from imported files), you get an error about a document being a duplicate. 1 level of nesting doesn't seem to trigger the issue.

Here is a minimal reproduction. All that's needed is the core `typescript` plugin to see the behavior.

https://codesandbox.io/s/cool-shape-v1cff

Here is the error text from the reproduction for reference.
[

[2020-01-24 07:48] wawhal opened #3357 "error with programmatic usage in a React app bundled with webpack"
I am trying to integrate graphql-codegen in a dashboard. It is a React app bundled with webpack. When I try to import `@graphql-codegen/core`, it throws me a bunch of errors saying webpack cannot resolve the node dependencies.

I cannot show the exact repro. But I tried doing this with a simple create-react-app and the problems still come up. Check out the sandbox below.

https://codesandbox.io/s/

[2020-01-24 09:58] ardatan commented on #3356
Let's track the issue there;
https://github.com/dotansimha/graphql-code-generator/issues/3326

[2020-01-24 09:58] #3356 closed

[2020-01-24 10:14] ozum opened #3360 "TypeError: func is not a function - npm"
I was using `graphql-code-generator` successfully, but now when I run `npm run codegen`, I'm getting `func is not a function` error. As suggested in #3256, I removed `node_modules`, `package-lock.json` and `npm install` from scratch, but it didn't help.

I added a sandbox with same dependencies here: https://codesandbox.io/s/silly-haibt-3u7sq

Unfortunately, I cannot reproduce error there. Please

[2020-01-24 10:19] ardatan commented on #3360
In codesandbox, I removed `^` from codegen versions to have stable versioning so it worked.
https://codesandbox.io/s/peaceful-clarke-ifo4j

[2020-01-24 10:20] ardatan commented on #3357
A reproduction would be great :) Thanks

[2020-01-24 11:44] wawhal commented on #3357
https://codesandbox.io/s/create-react-app-blank-9zhgl

Also updated the issue description.

[2020-01-24 11:55] ozum commented on #3360
@ardatan thank you for the response. I completely agree, but I cannot reproduce it in codesandbox similar to #3256, but I get it again and again even installing from scratch.

node: 13.6.0
npm: 6.13.4
MacOS: 10.14.6

Other versions are as described in `package.json`

In case you need, I added `tsconfig.json` to sandbox.

[2020-01-24 14:50] defrex commented on #3326
I can confirm that `1.11.3-alpha-bb009c96.52` solves it. I have a minimal repro below, now working with the new version.

https://codesandbox.io/s/cool-shape-v1cff

[2020-01-24 15:42] alexkirsz commented on #3090
@dotansimha I can confirm this is still an issue on the latest version of `@graphql-codegen/typescript-operations` (1.11.2)

[2020-01-24 16:13] philipbulley commented on #3351
@dotansimha I understand your rationale with embracing `undefined`. But then why doesn't [codegen's default value of Maybe](https://graphql-code-generator.com/docs/plugins/typescript#maybevalue-string-default-value-t--null) align with that of [graphql's tsutils](https://github.com/graphql/graphql-js/blob/master/src/tsutils/Maybe.d.ts)?

I see that adding `?` introduces `undefined` to the union in

[2020-01-25 10:13] Eddie-CooRo opened #3378 "Error while using with yarn@2"
**Describe the bug**

I'm trying to use a package that uses @graphql-codegen/typescript as a dependency. When I try to run the program with the yarn@2 PnP system, the following error occurs:
[code]

**Environment:**

- OS: Linux Ubuntu 19.04
- `@graphql-codegen/...`: ^1.4.0
- NodeJS: 10.17.0
- Yarn: 2.0.0

[2020-01-25 11:28] jcharlesworthuk commented on #3360
I had this same issue with the very latest version 1.11.2

[This comment](https://github.com/dotansimha/graphql-code-generator/issues/3256#issuecomment-574265086) fixed it for me, so maybe that's something to look into

`npm i -D change-case`

[2020-01-25 19:55] ardatan commented on #3378
Could you try with the exact canary version? (Without ^ mark)
1.11.3-alpha-21386b4a.87+21386b4a

[2020-01-25 23:11] ardatan commented on #3360
Could you try with the exact canary version? (Without ^ mark)
`1.11.3-alpha-21386b4a.87+21386b4a`

[2020-01-26 06:14] ozum commented on #3360
Using below I'm getting same error with "npm install" from scratch. (yarn is still OK)

[code]

[2020-01-26 07:02] dotansimha commented on #3357
the actual error is: `process.hrtime is not a function`.
It's caused by `relay-compiler` which can only run in a node env at the moment.
To workaround that, you can take a look at the live-demo we have in this repo, it's a react app that uses codegen programatically in-browser.

See: https://github.com/dotansimha/graphql-code-generator/blob/master/website/live-demo/src/index.tsx#L8-L14

(I think o

[2020-01-26 07:02] #3357 closed

[2020-01-26 10:35] dotansimha commented on #3264
I think I fixed it (and other issues in directives resolvers signature, like incorrect optional fields) in: https://github.com/dotansimha/graphql-code-generator/pull/3382

@rebolyte , can you please try the latest alpha? `1.11.3-alpha-2219473f.89`

[2020-01-26 11:29] doronnac commented on #3275
Had the same issue, this was because the quick start section did not mention `@graphql-codegen/typescript` installation. I can contribute to the docs if you'd like.

[2020-01-26 14:56] dotansimha commented on #3275
@doronnac Thank, this could help. The current documentation is not focused in TypeScript because we support multiple platforms and environments, not only typescript.
The basic instruction is to install the plugins you are using under `plugins: ` section.

Closing for now. @ashubham If you have a reproduction, please share with us and we'll re-open this issue.

[2020-01-26 14:56] #3275 closed

[2020-01-26 17:18] dcastil commented on #3378
I got a similar error when upgrading a Gatsby project to yarn 2. Here is the full error message:

[code]

In `yarn.lock` following version is specified:

[code]

[2020-01-26 20:50] ardatan commented on #3378
Could you try the version I wrote above? @dcastil

[2020-01-26 21:47] dcastil commented on #3378
Hey @ardatan! I missed your comment above mine, sorry for that!

I modified the `yarn.lock` file to use `1.11.3-alpha-21386b4a.87+21386b4a`, resulting in following content:

[code]

But I still get the same error unfortunately.

[code]

[2020-01-26 21:47] mmacheerpuppy commented on #3326
I was experiencing this error and in conjunction to "Not all operations have a unique name", a failure to generate a fragment in conjunction to this. That is, sometimes the error would occur, sometimes not, and when it didn't it looks like a fragment would failure to show up in my generated files. However reverting my local installation to 1.9.1 resolved both of these issues.

[2020-01-26 21:58] ardatan commented on #3378
Oh I just realized that gatsby plugin needs to be updates so it internally uses an old version of codegen. It'd be better to contact the maintainer of that package directly.

[2020-01-26 22:01] ardatan commented on #3326
@mmacheerpuppy Could you please try the given canary version above?

[2020-01-26 22:04] mmacheerpuppy commented on #3326
@ardatan Will do!

[2020-01-26 22:06] mmacheerpuppy commented on #3326
@ardatan Yep seems to have repaired the side effect on my end.

[2020-01-26 22:10] mmacheerpuppy commented on #3326
@ardatan Although it seems to have removed all the comments from my generated source file, worth noting, I'm not sure if this is intended behavior.

[2020-01-27 01:10] ksrb commented on #3222
I verified the same issue in the sandbox:
https://codesandbox.io/s/bold-mccarthy-8gjc9

**types.ts**
![image](https://user-images.githubusercontent.com/3750409/73144857-a1919e80-405e-11ea-8c7c-a90baf015235.png)

However, if you simply remove the import form `documents.graphql` the type generation works fine ¯\_(ツ)_/¯.

[2020-01-27 08:33] dotansimha commented on #3257
@chr1sjf0x I fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/3385

Can you please try the latest alpha? `1.11.3-alpha-b3fa829d.91`

[2020-01-27 10:56] dcastil commented on #3378
The problem is still present in the newest version. `@graphql-codegen/visitor-plugin-common` uses packages which are not specified in its `package.json`.

E.g. it uses `pascal-case` here

https://github.com/dotansimha/graphql-code-generator/blob/ebefbd443bdf45ef4e969e77f1f36631fc7ed801/packages/plugins/other/visitor-plugin-common/src/base-documents-visitor.ts#L10

but `pascal-case` isn't specified

[2020-01-27 12:01] Thomb89 opened #3387 "TypeError: pascalCase.pascalCase is not a function"
I just built my first graphql-api and decied to use `graphql-code-generator` with `version 1.11.2`.

When converting the schema to typescript, i always received the error `pascalCase.pascalCase is not a function`.

When looking at the [visitor-plugin-common](https://github.com/dotansimha/graphql-code-generator/tree/master/packages/plugins/other/visitor-plugin-common) in the file [base-document-vis

[2020-01-27 13:27] ardatan commented on #3387
`1.11.3-alpha-428b4ff4.92`
Could you try with this canary version?

[2020-01-27 13:28] ardatan commented on #3378
@dcastil I think all dependencies are explicit and specified correctly in this PR

[2020-01-27 13:29] ardatan commented on #3360
Does this version work for you?
`1.11.3-alpha-428b4ff4.92`

[2020-01-27 14:15] dotansimha commented on #3118
We had an issue with the dependencies mapping (one of the common packages was using `core`, it caused Yarn to install some of the deps twice). Thanks to @kamilkisiela, we found it.

I fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/3386

[2020-01-27 15:03] dotansimha commented on #3118
@s-h-a-d-o-w Can you please try `1.11.3-alpha-48bfb197.95`? It should work (make sure to use it without `~` or `^`).
Also, change the package name in your reproduction to `graphql-test` or something, because it conflicts with the original `graphql`.

I tested it now and it seems to work.

[2020-01-27 15:15] Thomb89 commented on #3387
works like a charm with version `1.11.3-alpha-33d6634e.92`.
Thanks for the fast response!

[2020-01-27 15:16] ardatan commented on #3387
Awesome! Let's keep it open until we release a new stable version.

[2020-01-27 15:37] s-h-a-d-o-w commented on #3118
Updated the repo - looks good to me too, thanks! 😃👍

[2020-01-27 15:58] chr1sjf0x commented on #3257
Thank you @dotansimha. It works as expected with `1.11.3-alpha-b3fa829d.91` 👍

[2020-01-27 16:25] ozum commented on #3360
@ardatan still same error using `1.11.3-alpha-33d6634e.92`

[2020-01-27 18:06] dcastil commented on #3378
I tried running the Gatsby site with `@graphql-codegen/visitor-plugin-common@1.11.3-alpha-33d6634e.92` and got following output:

[code]

I can see that this was fixed [in the PR diff](https://github.com/dotansimha/graphql-code-generator/pull/3388/files#diff-336d1d6f8481f429a4de7f37c4962e0eR17), so this is probably due to the use of an old version of `@graphql-codegen/typescript`.

I consider this

[2020-01-27 18:48] ali4heydari opened #3395 "transformUnderscore option cuts underscore from property starting with number"
**Describe the bug**
I use GraphQL code generator with Next.js and Wordpress. After running generation with following config I get TypeScript syntax error because transformUnderscore removes underscore without paying attention to next character type.
**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

[c

[2020-01-27 19:11] ardatan commented on #3378
All implicit dependencies are specified in that PR so it will be fixed in the next release.

[2020-01-27 20:03] Eddie-CooRo commented on #3378
Hey @ardatan. Thank you so much for your response.
Do you have any estimated time, for when the next release will be available?

[2020-01-28 07:33] dotansimha commented on #3360
@ozum can you please create a reproduction in a repo/sandbox?

[2020-01-28 07:40] dotansimha commented on #2876
It's already available, we can close this (https://github.com/dotansimha/graphql-code-generator/blob/1d3bf1f97f879ad175f9b039a24d27ff9d9edc3e/packages/graphql-codegen-cli/src/generate-and-save.ts#L47)

[2020-01-28 07:40] #2876 closed

[2020-01-28 07:42] dotansimha commented on #2934
WIP in this PR: https://github.com/dotansimha/graphql-code-generator/pull/3223

[2020-01-28 07:47] dotansimha commented on #1609
@grezxune if it's still relevant, can you please report this in a new issue?

[2020-01-28 07:48] dotansimha commented on #924
@grezxune I think it should be fixed already, can you please try the latest?

[2020-01-28 07:49] dotansimha commented on #2820
I'm not 100% sure. @edgarnansen if it's still relevant and causes issues for you, can you please report it in a new issue?

[2020-01-28 07:51] dotansimha commented on #1436
@ebenoist @webberwang @VienNguyen113 I think we already fixed it. Can you please try the latest? If it's still relevant, can you please open a new issue?

[2020-01-28 07:53] dotansimha commented on #2616
@klemenoslaj Sorry for the inconvenience :( PRs are welcome, I think in order to support this we might need some changes in the base visitor for operations (`packages/plugins/other/visitor-plugin-common/src/base-documents-visitor.ts`).

[2020-01-28 07:54] dotansimha commented on #2581
@aldegoeij We can't really tell that this specific string is a GraphQL operation, without your marking it (by using `gql` tag or using `/* GraphQL */` comment before the string value.

[2020-01-28 07:56] dotansimha commented on #2723
@alexisdray @seyaobey If this issue is still relevant, can you please try the latest, and report in a new issue if needed? Thanks

[2020-01-28 07:58] dotansimha commented on #2926
@ArnaudBarre It should be fixed now, all versions should be aligned. Let me know if it's still happens.

[2020-01-28 08:00] dotansimha commented on #3057
@reinvanimschoot We are still waiting for your response.
Closing for now, let us know if it's still relevant.

[2020-01-28 08:00] #3057 closed

[2020-01-28 08:03] dotansimha commented on #3093
Closing for now. @stephenh if you want to improve that, feel free to open a PR :)
Thanks

[2020-01-28 08:03] #3093 closed

[2020-01-28 08:04] dotansimha commented on #3091
This was merged already, so we can close this issue.
Thank you @micimize !

[2020-01-28 08:04] #3091 closed

[2020-01-28 08:09] dotansimha commented on #3084
I went thorough this issue again.
I think there are a few workaround for this specific use case.
@JimmyMultani in your case, it depends on how you define your GraphQL schema, because `[Something]!` might return `null` inside the array.

If someone want to improve that, feel free to  PR.

[2020-01-28 08:09] #3084 closed

[2020-01-28 08:11] dotansimha commented on #1996
@danilobuerger We are tracking a similar issue here: https://github.com/dotansimha/graphql-code-generator/issues/3278

[2020-01-28 08:12] dotansimha commented on #1539
We can close this one :D

[2020-01-28 08:12] #1539 closed

[2020-01-28 08:13] dotansimha commented on #2516
@adrianschneider94 this is awesome!!! Do you want to create a PR for this plugin? :) We can help you with the implementation if you need.

[2020-01-28 08:16] dotansimha commented on #3174
@kamilchm I'm closing for now. If you have an idea for improvement feel free to share with us :)

[2020-01-28 08:16] #3174 closed

[2020-01-28 08:18] dotansimha commented on #3051
I think the best way to do that is to use a custom schema loader, then you can manipulate your schema in any way you wish to. (for example, using `graphql-compose` to change the schema).

Closing.

[2020-01-28 08:18] #3051 closed

[2020-01-28 08:19] dotansimha commented on #3208
@the-unbearable-lightness-of-being I see. Can you please create a reproduction? I tried to check and it seems like `noExport` works for the base plugin

[2020-01-28 08:21] dotansimha commented on #2870
@Stuart4 if you are still having issue with this, can you please open a new issue with a reproduction?

[2020-01-28 08:22] dotansimha commented on #3121
@judehunter Closing. Let us know if you are still having issue with latest.

[2020-01-28 08:22] #3121 closed

[2020-01-28 08:28] dotansimha commented on #3249
@falkenhawk ?

[2020-01-28 08:32] dotansimha commented on #1514
@fredericojesus We fixed it, please try latest.

[2020-01-28 08:41] falkenhawk commented on #3249
I'd love to, but I am swamped at the moment... I can share my codegen config file, if that's of any help:
[code]

And I have comments attached to my fields in my schema e.g.
[code]

Descriptions are missing from both `graphql.schema.json` (as "description" property of an entity) and `service.graphql.ts` (as docblock comments):

[code]

It seems that "descriptions" are not being retrieved properly

[2020-01-28 09:39] dotansimha commented on #2676
@nadilas If it's still relevant, can you please open a new issue with an example?

[2020-01-28 09:44] dotansimha commented on #3268
@priley86 can you please share a reproduction in a new issue?

[2020-01-28 09:51] dotansimha commented on #3378
@Eddie-CooRo we'll release it today :)

[2020-01-28 09:55] dotansimha commented on #3395
It's because of the way `change-case` and the `pascalCase` implementation works.
If you wish, you can export your own function that uses `pascalCase` from `change-case` but configured this way: https://github.com/blakeembrey/change-case/tree/master/packages/pascal-case#merge-numbers
(You can point to a custom file in `namingConvention`)

[code]

You can also add this config to keep the enum values

[2020-01-28 09:55] #3395 closed

[2020-01-28 09:56] dotansimha commented on #3333
Sounds good. I'll update the docs.
Thanks @kapral18

[2020-01-28 09:59] dotansimha commented on #3066
@lkleuver Not sure were the bug is, but I assume it's related to https://github.com/dotansimha/graphql-code-generator/blob/e9106801607212e5cc41bf5a55f4f9fa5e08eae0/packages/presets/near-operation-file/src/index.ts#L150

[2020-01-28 10:01] dotansimha commented on #3326
@mmacheerpuppy I guess it's related to: https://github.com/dotansimha/graphql-code-generator/issues/3249

[2020-01-28 10:12] dotansimha commented on #3351
You are right, but I suspect it might cause a breaking change. I think adding `avoidOptionals: true` might solve that for you?

[2020-01-28 10:17] dotansimha commented on #3249
Checked the latest version, and @ardatan  added tests in graphql-toolkit.

It seems to work: (tested introspection, schema-ast and typescript plugins)

![image](https://user-images.githubusercontent.com/3680083/73254946-06b4d380-41c8-11ea-8ed1-549786108d90.png)

@falkenhawk @toverux @leethree

Can you please share a reproduction in a sandbox?

[2020-01-28 10:20] ardatan commented on #3249
Here is the tests from graphql-toolkit;
https://github.com/ardatan/graphql-toolkit/pull/446

[2020-01-28 10:39] falkenhawk commented on #3249
Thank you for the effort, your reproduction works and tests are passing for a json endpoint.
I tried `1.11.3-alpha-19673fd9.101` but descriptions are still gone, when using **URL endpoint**.
Maybe someone could help with setting a sandbox reproduction with URL endpoint...

[2020-01-28 10:41] dotansimha commented on #3090
Found the cause for this. Working on a fix.

[2020-01-28 10:41] ozum commented on #3360
Hi @dotansimha and @ardatan, thank you for the responses.

I finally found a way to reproduce the error:

1. Goto sandbox in first post (https://codesandbox.io/s/silly-haibt-3u7sq).
1. Open a terminal in sandbox.
1. Delete files: `rm -rf node_modules/ package-lock.json`
1. Install using npm with empty cache: `npm install --cache /tmp/empty-cache`
1. You should get error shown in below sandbox scre

[2020-01-28 10:49] ardatan commented on #3249
https://github.com/ardatan/graphql-toolkit/blob/master/packages/loaders/url/tests/url-loader.spec.ts
We have tests for URL endpoint as well. It has descriptions and a custom schema declaration to be specific.

[2020-01-28 12:01] ardatan commented on #3360
I tried by following your steps and installing this canary version. It worked with no errors;
`1.11.3-alpha-395be8af.104+395be8af`
https://codesandbox.io/embed/elastic-faraday-qz3bh?fontsize=14&hidenavigation=1&theme=dark

[2020-01-28 12:26] ozum commented on #3360
@ardatan, I updated the sandbox and problem seems to be solved. Case may be closed. Thanks.

[2020-01-28 12:35] bretthadley opened #3403 "Support Apollo @export directive"
**Is your feature request related to a problem? Please describe.**
Apollo has a feature where you can use local state variables for queries automatically
[https://www.apollographql.com/docs/react/data/local-state/#using-client-fields-as-variables](https://www.apollographql.com/docs/react/data/local-state/#using-client-fields-as-variabless)

Example
[code]

When running generate function it complai

[2020-01-28 12:38] #3403 closed

[2020-01-28 13:22] falkenhawk commented on #3249
I looked at the tests, then at the url loader package, and everything looks fine there, when encapsulated. I can only suspect an integration issue, which is not covered by existing tests.
E.g. the `schema` returned from urlloader is a result of `makeRemoteExecutableSchema` function call, whereas json-file loader uses `buildClientSchema` function internally - and maybe then generators have troubles

[2020-01-28 13:23] dotansimha commented on #3090
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/3404

[2020-01-28 14:21] mmacheerpuppy commented on #3326
@dotansimha That's fine, thanks for all your hard work!

[2020-01-28 14:50] dotansimha commented on #3254
It makes sense. Thanks @andrzey .

I added this in: https://github.com/dotansimha/graphql-code-generator/pull/3405 (it's being applied only for type resolvers, excluding unions, interfaces and root types).

[2020-01-28 15:08] dotansimha commented on #1219
Happy to hear it helped. I updated the documentation :)

[2020-01-28 15:34] dotansimha commented on #3336
Available in `v1.12.0`

[2020-01-28 15:34] #3336 closed

[2020-01-28 15:34] dotansimha commented on #3250
Fixed in `v1.12.0`

[2020-01-28 15:34] #3250 closed

[2020-01-28 15:34] dotansimha commented on #3246
Fixed in `v1.12.0`

[2020-01-28 15:34] #3246 closed

[2020-01-28 15:35] dotansimha commented on #3340
Fixed in `v1.12.0`

[2020-01-28 15:35] #3340 closed

[2020-01-28 15:35] dotansimha commented on #3248
Fixed in `v1.12.0`

[2020-01-28 15:35] #3248 closed

[2020-01-28 15:35] dotansimha commented on #3254
Available in `v1.12.0`

[2020-01-28 15:35] #3254 closed

[2020-01-28 15:35] dotansimha commented on #3264
Fixed in `v1.12.0`

[2020-01-28 15:35] #3264 closed

[2020-01-28 15:35] dotansimha commented on #3326
Fixed in `v1.12.0`

[2020-01-28 15:35] #3326 closed

[2020-01-28 15:35] dotansimha commented on #3090
Fixed in `v1.12.0`

[2020-01-28 15:35] #3090 closed

[2020-01-28 15:35] dotansimha commented on #3360
Fixed in `v1.12.0`

[2020-01-28 15:35] #3360 closed

[2020-01-28 15:36] dotansimha commented on #3378
Fixed in `v1.12.0`

[2020-01-28 15:36] #3378 closed

[2020-01-28 15:36] dotansimha commented on #3268
Fixed in `v1.12.0`

[2020-01-28 15:36] #3268 closed

[2020-01-28 15:36] dotansimha commented on #3257
Fixed in `v1.12.0`

[2020-01-28 15:36] #3257 closed

[2020-01-28 15:36] dotansimha commented on #3118
Fixed in `v1.12.0`

[2020-01-28 15:36] #3118 closed

[2020-01-28 15:36] dotansimha commented on #3387
Fixed in `v1.12.0`

[2020-01-28 15:36] #3387 closed

[2020-01-28 16:00] dotansimha commented on #3282
Fixed in: https://github.com/ardatan/graphql-toolkit/pull/445 , thanks @ardatan
We updated to latest toolkit and released it in `v1.12.0`.

[2020-01-28 16:00] #3282 closed

[2020-01-28 16:48] ardatan commented on #3321
This looks something related to GraphQL Import. You can use GraphQL Toolkit instead of import. It has a feature for scanning graphql files for you instead of connecting them each other. So you can use glob expressions everywhere instead of #import

[2020-01-28 17:16] ebenoist commented on #1436
I'll check it out with the latest. Thank you!

[2020-01-28 18:51] SimenB commented on #2726
I tried looking into this now, and lifecycle hooks are a really bad fit - they want to spawn a binary and ignore anything it might want to return, and doesn't support running an arbitrary node script and passing it arguments. I'd have to add some executable to `$PATH` to achieve what I want, which is pretty bad DX I think. What I essentially want is to be able to format the string you hold in memo

[2020-01-28 19:53] JClackett opened #3407 "v1.12.0: TypeError: Cannot read property 'location' of null"
**Describe the bug**
running "graphql-codegen" now gives the error

[code]

**To Reproduce**

upgrading to 1.12.0

3. My `codegen.yml` config file:

[code]

**Expected behavior**
generates types without failing

**Environment:**

- OS: MacOS
- `@graphql-codegen/1.12.0`:
- NodeJS:

I changed nothing in my codebase but upgrading now creates this error

[2020-01-28 21:18] ardatan commented on #3407
Could you try with the canary version?
`1.12.1-alpha-ca51a54f.1+ca51a54f`

[2020-01-28 21:45] JClackett commented on #3407
@ardatan working!

[2020-01-28 21:45] ardatan commented on #3407
Let's keep it open until we release a patch version :)

[2020-01-28 21:48] JClackett commented on #3407
Oops my bad - tabbed to the close and comment button by accident ;) Thanks for the fix

[2020-01-29 06:53] dotansimha commented on #3407
Fixed in `v1.12.1` :)
Thanks @ardatan

[2020-01-29 06:53] #3407 closed

[2020-01-29 10:06] dusan-dragon opened #3411 "Error: Cannot find module 'upper-case-first'"
**Describe the bug**
We were using:
[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
The chosen letter case should work without error

**Environment:**

- OS:
- `@graphql-codegen/...` : 0.12.1
- NodeJS: v12.11.1

**Additional context**

As a workaround you can do `npm install upper-case-first`

[2020-01-29 10:54] polRk opened #3412 "Failed to install using yarn on node 8 (mkdirp 1.0.3)"
Failed to install using yarn on node 8
[code]

My firebase functions using node 8, and i can't install dependencies

[code]

[2020-01-29 10:55] polRk commented on #3412
I don't want to use --ignore-engines

[2020-01-29 10:59] polRk commented on #3412
[code]

[2020-01-29 11:44] ardatan commented on #3412
We dropped Node 8 support because it is not LTS anymore. If you still want to use with Node 8, you can use older versions.

[2020-01-29 11:44] #3412 closed

[2020-01-29 11:54] ardatan commented on #3411
`change-case` is not part of codegen. `change-case` is a seperate npm package. Recently `change-case` did some breaking changes. https://github.com/blakeembrey/change-case/issues/68
And we added a workaround that automaticallly redirects `change-case#functionName` to `function-name#functionName` and we also added some of those packages not to break the common naming convention functions. But we mi

[2020-01-29 11:54] #3411 closed

[2020-01-29 12:07] polRk commented on #3412
Why stop supporting if the program runs on version 8 and 6? For what ? Isn't it better to support the largest number of users?

[2020-01-29 12:22] ardatan commented on #3412
Dependencies of codegen stopped supporting Node 8 and below as well. Also Node 8 is too old for ES6+ features etc. You can read this for more details. I recommend you to update your Node.
https://blog.risingstack.com/update-nodejs-8-end-of-life-no-support/

[2020-01-29 12:24] polRk commented on #3412
I can not update node version, because i using firebase cloud functions on node 8 (Node 10 in Beta and works worse )

[2020-01-29 14:04] Tbaut opened #3414 "TypeError: Options arg must be an object with version >1.11.2"
**Describe the bug**
`graphql-codegen --require dotenv/config --config codegen.yml` throws a:
"TypeError: Options arg must be an object" with a config that is working well on 1.11.2

**To Reproduce**
I'm using the following codegen.yml:
[code]

OS:
- "@graphql-codegen/cli": "1.12.2"
- "@graphql-codegen/typescript": "1.12.2"
- "@graphql-codegen/typescript-operations": "1.12.2"
- "@graphql-codegen/t

[2020-01-29 15:01] ardatan commented on #3414
@Tbaut I tried to reproduce it but I couldn't. Could you help to reproduce the issue?
https://codesandbox.io/s/focused-lumiere-3kdvx

[2020-01-29 15:15] SoyYoRafa commented on #3282
Our scheme/documents still won't generate in 1.12.1. I am getting an AggregateError. "Cannot query field ... on type Mutation.". Documents can't seem to find the schema.

[2020-01-29 15:42] ardatan commented on #3282
That looks different kind of error. Please open another issue with a reproduction.

[2020-01-29 16:01] maapteh opened #3416 "TypeScript types generates optional keys for nullable keys"
btw awesome library!
When you go to https://graphql-code-generator.com/ and use TypeScript. Then you alter the last item in the schema definition like:
[code]
So now content is a nullable field. When you create the types it will type it like:

[code]

But that means content can be `string | null | undefined` while in GraphQL we make sure keys are never undefined (so `string | null`) this type is t

[2020-01-29 16:13] ardatan commented on #3416
https://graphql-code-generator.com/docs/plugins/typescript#avoidoptionals-boolean-default-value-false
You can use `avoidOptionals` to make all of them non-optional.
Does this work for you?

[2020-01-29 16:35] maapteh commented on #3416
Ah, so this has been done to set it in client-side part as non-optional and have the real truth and on server-side to avoid having to transform undefined as null everywhere (our backends not always give all keys back). This will work! Great ardatan

[2020-01-29 16:35] #3416 closed

[2020-01-29 18:34] ksrb opened #3417 "Add __typename to interface types"
**Is your feature request related to a problem? Please describe.**

I'm using [`apollo.writeQuery`](https://www.apollographql.com/docs/react/caching/cache-interaction/#writequery-and-writefragment) to generate a relatively complicated local dataset.

Unfortunately due to the lack of a `__typename` in the generated type `@ts-ignore` has to be used in multiple places in order to access the `__typena

[2020-01-29 18:55] victor-accarini opened #3418 "[typescript-resolvers] Create a type for directive args"
I wanted to enforce a better type check when implementing Apollo custom directives, but since the directive arguments are exported inside the directive resolver type I need to create a workaround to retrieve the arguments types.

Since I have several custom directives it would be nice if the type was exported from the generated file.

Now when exporting a Directive we have:
[code]

I would like to

[2020-01-29 20:46] philipbulley commented on #3351
`maybeValue: T | null | undefined` is enough, but `avoidOptionals: true` is the icing on the cake 😃

[code]

Thanks for such an incredible tool btw 🙏🏽

[2020-01-29 23:58] philipbulley commented on #1219
I've encountered [the same problem](https://github.com/dotansimha/graphql-code-generator/issues/1219#issuecomment-515408845) as @smeijer when lazily resolving deeply nested properties with a type-specific resolver (surely a common issue when using Relay-style Connections, Edges, Nodes, etc).

In the spirit of @dobesv's [comment](https://github.com/dotansimha/graphql-code-generator/issues/1219#issu

[2020-01-30 06:40] jmvtrinidad opened #3420 "[typescript-operation] Generating separate type from query properties"
**Is your feature request related to a problem? Please describe.**

I want to use the type of property that is generated from Operation like query. Currently I'm copying all the `Pick<>` so I can use it to make it as type of a component prop in react.

**Describe the solution you'd like**

If we can have a flag that will generate a separate type from the property.
So given this query below
[code]

[2020-01-30 08:46] Eddman commented on #3259
The problem still persists in 1.12.1.

[2020-01-30 09:06] Tbaut commented on #3414
Thanks for the super quick answer, it's solved in 1.12.1 (I originally had this error as well: https://github.com/dotansimha/graphql-code-generator/issues/3407)

[2020-01-30 09:06] #3414 closed

[2020-01-30 12:12] eyalw commented on #2870
Having the same issue here, the generated typing does not enforce user to provide mandatory variables.

[2020-01-30 13:20] ardatan commented on #3420
You can use fragments to have smaller types.

[2020-01-30 14:12] Dema opened #3426 "External FragmentDoc import is not generated"
**Describe the bug**

When I use externally defined fragment, `import for XXXFragmentDoc` statement is not being generated.
I think this is caused by refactoring in this place https://github.com/dotansimha/graphql-code-generator/blob/5b0f76a3a685dbc3702019ffc0394ffc578f9ac8/packages/presets/near-operation-file/src/fragment-resolver.ts#L114

Here https://github.com/dotansimha/graphql-code-generator

[2020-01-30 20:03] Dema commented on #3259
I did a bit of digging, for me it looks like a bit of incomplete refactor https://github.com/dotansimha/graphql-code-generator/issues/3426

[2020-01-31 04:57] skk2142 commented on #3278
Can we implement default resolvers statically in the generated types file using the idea from https://github.com/prisma-labs/graphqlgen/blob/619156705c1c7b9e260ab776e64d3904d179cdec/packages/graphqlgen/src/generators/common.ts#L74

[2020-01-31 09:20] syahmiyani commented on #2890
I found what cousing this problem on my end , `documents: "./src/**/*.{tsx,ts}"` , I include everything including the already exist generated types , to be look and generate .  Either delete the generated types file everytime running codegen or modify the config to exlude the generated type like this `documents: "./src/**/!(*.types).{tsx,ts}` would solve this issue. My generated types file look so

[2020-01-31 12:24] ardatan commented on #2890
@syahmiyani Try to use more specific glob patterns like *.graphql.ts etc

[2020-01-31 18:36] sidhants opened #3429 "Question: Support for C# exporting"
Just came across this tool. Is there support for C# generation from GQL Schema?
Thanks.

[2020-01-31 20:10] #2373 closed

[2020-02-02 06:59] dotansimha commented on #3429
Hi @sidhants
Can you please share more examples and use cases?

For servers, we can generate from the schema basic type definitions, or generate a resolvers signature (to be used with a specific implementation for c#).

[2020-02-02 07:00] dotansimha commented on #3426
Thanks @Dema , we are tracking this in: https://github.com/dotansimha/graphql-code-generator/issues/3259

[2020-02-02 07:00] #3426 closed

[2020-02-02 07:04] dotansimha commented on #3417
You do have `__typename` there:

[code]

It's an optional field, and you can force it with this configuration: https://graphql-code-generator.com/docs/generated-config/base-visitor#nonoptionaltypename-boolean-default-value-false

Also, what's the use case of using the base types as is? If you are generating client-side code, you should use types that are based on your selection set. In your exampl

[2020-02-02 07:13] dotansimha commented on #3420
See: https://github.com/dotansimha/graphql-code-generator/issues/1602#issuecomment-478315105

We no longer generate intermediate types, mostly because of the difficult of maintaining it and avoid issues with types mismatch.

As Arda said, use fragments, it's a best practice in GraphQL and not only in codegen.
You can access inner types with `MyType['field']`.

[2020-02-02 07:13] #3420 closed

[2020-02-02 09:00] sidhants commented on #3429
So, here is the manual code which I am hoping can be generated from the GQL schema-

-In order to send requests (via my GQL library), I am having to pass hard-coded query/mutation strings manually for every request as below:
`        private static readonly string deviceTokenAuth = @"
	        mutation deviceTokenAuth($clientID: String!) {
                deviceTokenAuth(clientID: $clientID){

[2020-02-02 13:28] Dema commented on #3259
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=86691508)](https://www.bountysource.com/issues/86691508-fragment-doc-get-lost-after-upgrading-above-the-1-9-1)

[2020-02-02 21:00] calebergh commented on #1900
I am using 1.9.1, and appear to be having this issue - can you advise?

example:

[code]

Note the `6` is omitting the initial underscore, which is invalid.

[2020-02-02 21:49] ardatan commented on #1900
Could you try the latest version`1.12.1`? If this still doesn't fix your problem, please open a new issue with a reproduction.
Thanks @calebergh

[2020-02-03 03:10] studds commented on #2726
Here's an approach I've seen: https://github.com/ForbesLindesay/typescript-json-validator/blob/9538f99ea75967a7a6caf776bd3d1db986b21f1b/src/prettierFile.ts

If prettier is installed, it runs it. If not, it's a no-op. It doesn't do it in memory, but I'm not actually sure if that is a disadvantage.

[2020-02-03 04:18] #3321 closed

[2020-02-03 04:19] ksrb commented on #3417
Admittedly my use case for using `writeQuery` might be a bit narrow/overkill 😅, I'm basically creating a static website for prototype purposes which has no backend backing it right now so I'm creating the entire dataset locally so no queries/fragments have been written yet.

However, perhaps another more valid use case for having typenames in the base type/interface is for utility functions like t

[2020-02-03 09:03] ardatan commented on #3429
@sidhants This is a plugin idea :) and you can write a plugin for that!
https://graphql-code-generator.com/docs/custom-codegen/write-your-plugin

[2020-02-03 10:12] ardatan commented on #3249
Could you please share a reproduction repo or codesandbox to get on the same page?

[2020-02-03 10:27] ardatan commented on #3259
Could you try the following canary version?
`1.12.2-alpha-f5f1494a.14`

[2020-02-03 10:32] ardatan commented on #3418
You can try the following canary version with this feature until it gets released;
`1.12.2-alpha-3cb57f00.14`

[2020-02-03 10:59] falkenhawk commented on #3249
@ardatan https://codesandbox.io/s/solitary-butterfly-yhmfn

diff between 1.12.1 and 1.9.1:

`./graphql.types.ts`
[code]

`./graphql.schema.json`
[code]

[2020-02-03 11:14] lkleuver commented on #3259
this seems to work for me.
though this issue (https://github.com/dotansimha/graphql-code-generator/issues/3066) which seems related is not working yet.

[2020-02-03 11:18] ardatan commented on #3259
@lkleuver Let's keep your problem in that issue #3066 seperately. That PR only covers this issue for now.

[2020-02-03 12:36] SimenB commented on #2726
I need it to run in memory to avoid the FS operation that triggers watchers. Or at least _two_ FS operations triggering any watchers twice. What you've linked can be achieved currently via the `afterOneFileWrite` or `afterAllFileWrite` hooks

[2020-02-03 15:00] Dema commented on #3259
@ardatan Yes, it works for me! Thank you very much!

[2020-02-03 15:14] Dema commented on #3259
Was a bit too early to celebrate :)
[code]
this is the generated import.

These are exports
[code]
and
[code]

and it gives me an error
[code]

[2020-02-03 15:16] ardatan commented on #3259
My bad, I gave you the older version. Please try that one
`1.12.2-alpha-ea7264f9.15`

[2020-02-03 15:21] Dema commented on #3259
Yep! This version works! Thank you!!

[2020-02-03 18:40] nebbles opened #3437 "Fails to load schema (worked before update)"
**Describe the bug**

Fails to correctly resolve a field that is defined in another file.

[code]

**To Reproduce**
Steps to reproduce the behaviour:

This one was a really hard one to reproduce. But I have now copied 'enough' of my repository to codesandbox such that it reproduces the issue.

[Find the reproduced bug here on Codesandbox](https://codesandbox.io/s/xenodochial-poincare-shfft?fontsiz

[2020-02-03 19:05] sidhants commented on #3429
@ardatan  That will be an interesting project for me and something I can look into. :)
But just want to be sure there is'nt anything existing that I can leverage before I start thinking about going that route.

[2020-02-03 19:22] ArnaudBarre commented on #2926
I got an error in 1.12.1 (will open an issue if I have time). But 1.11 is 👌

[2020-02-03 21:46] rebolyte commented on #3264
Success! Thanks @dotansimha 👏

[2020-02-04 03:12] esemeniuc commented on #1133
For anyone wondering where to put the `useIndexSignature: true`, my codegen.yml looks like this (see the last 2 lines):

[code]

[2020-02-04 10:04] dotansimha commented on #2415
@akozhemiakin implemented it in: https://github.com/dotansimha/graphql-code-generator/pull/2978
I'll get it merged and tested very soon.

[2020-02-04 11:57] lkleuver commented on #3066
Been trying to debug the issue this morning.
If I comment out this line: https://github.com/dotansimha/graphql-code-generator/blob/e9106801607212e5cc41bf5a55f4f9fa5e08eae0/packages/presets/near-operation-file/src/utils.ts#L46 it seems to properly import the fragments.

it looks like recursively calling extractExternalFragmentsInUse stops the current running visitor and never reaches the second fra

[2020-02-04 12:46] dotansimha commented on #3437
@ardatan can you please take a look?

[2020-02-04 12:48] dotansimha commented on #3066
Not sure if it's the same issues as #3259 or not, so can you please try `1.12.2-alpha-ea7264f9.15`?

[2020-02-04 13:09] lkleuver commented on #3066
I tried that version but it's still missing some fragment and fragmentDoc imports.

By the way, in my "fiddle" posted above, if you switch the query statements (pages first then book) the imports work correctly.

[2020-02-04 13:23] elgurinn opened #3442 "Unable to build angular project when creating sdkClass"
When generating the output.ts file with the sdkClass enabled I am unable to build the angular application.

Note: everything works when using `ng serve`.

The generated skd class:

[code]

I get the following error: Module not found: Error: Can't resolve 'apollo-angular/types' in output.ts

When changing the **WatchQueryOptionsAlone** and **QueryOptionsAlone** to any. I am able to build the applic

[2020-02-04 22:14] reubenab opened #3444 "Enums that have values different from keys are not properly generated"
**Describe the bug**

Enums that are defined in a resolver in order to map values that are different to the key (as described [here](https://www.apollographql.com/docs/apollo-server/schema/scalars-enums/#internal-values) in the apollo docs) are not added to the `type Resolvers` in the code-generated `schema-types`, throwing a typescript error in the resolver (even though the server will run fine a

[2020-02-04 23:43] ardatan commented on #3444
@reubenab You have two options to have correct values for enums.
1. If you want to give SDL/typeDefs as your schema pointer in codegen.yml, you need to define your own `enumValues` .
https://graphql-code-generator.com/docs/plugins/typescript#enumvalues-enumvaluesmap
2. You need to give exact schema object using URL or executable `GraphQLSchema` that is generated by `makeExecutableSchema` or someth

[2020-02-05 14:28] erichiller commented on #3142
Sorry for the massive delay. This did in fact fix it  Thanks heaps!

[2020-02-05 14:34] 0xClpz opened #3445 "Updating typescript-operations from 1.9.1 to 1.12.1 broke our build"
**Describe the bug**
when running the graphql code generator we end up with the following output
[code]
**To Reproduce**

When running codegen on it, it crashes, reverting to 1.9.1 fixes it

1. My GraphQL schema:

2. My GraphQL operations:

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS:
- `@graphql-codegen/cli`: 1.11.2
- NodeJS: 12.13.1

**Additional conte

[2020-02-05 16:42] dotansimha commented on #3445
@ardatan can you please take a look? it seems like an issue with toolkit?

[2020-02-05 17:10] kamilkisiela commented on #3442
Fix #3446

[2020-02-05 17:23] CarlosGines commented on #2365
Hi! First let me tell you you are doing an awesome job here. I love this project.

Please let me revive this issue. I am still reproducing it at 1.12.1

**To Reproduce**
https://codesandbox.io/s/dedupefragmentissue-h2ewr
Check the file `getUser.generated.ts`

[2020-02-05 18:55] isaiahtaylor opened #3447 "graphql-codegen unable to process paths with # (pound sign)"
**Describe the bug**
When pointing to a schema in `codegen.yml` that has a pound sign in the path, `graphql-codegen --config codegen.yml` fails with:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
I expected it to find the file and generate the types. Inste

[2020-02-05 21:43] CarlosGines commented on #3268
Hi! I think I am hitting the same problem about merging schemas that @priley86 mentions in their second comment.

If I merge 2 schemas:
[code]

With different query roots types:
[code]
\+
[code]

Only one of the query root types prevails, so queries of the overwritten query root type fail.

**To Reproduce**
https://codesandbox.io/s/mergingschemaswithdifferentroots-3honc
Go to `codegen.yml` and unc

[2020-02-05 23:03] ardatan commented on #3268
@CarlosGines I think the behavior is correct because you have one schema definition which is
[code]
and codegen takes `RootQuery` as `query` type.

[2020-02-06 00:01] nwalters512 commented on #3444
Hey @ardatan, thanks for the quick reply! That's a related issue, but isn't the particular problem we're facing. We're trying to take advantage of Apollo's "Internal values" feature: https://www.apollographql.com/docs/graphql-tools/scalars/#internal-values. This involves defining a resolver for the enum's type, as shown in the Apollo docs. However, because the `typescript-resolvers` plugin doesn't

[2020-02-06 03:53] henry-young commented on #3445
I've had a similar issue upgrading from 1.8.3 to 1.12.1. However I can generate code but it doesn't generate the `import { ExampleFragmentDoc } from './ExampleFragment.generated` in the generated query file. See below my codegen.yml config.
[code]

[2020-02-06 09:29] elgurinn commented on #3442
Can confirm this works with the above fix #3446  (npm version: 1.12.2-alpha-667a0d68.20)

[2020-02-06 09:46] CarlosGines commented on #3268
@ardatan I will slightly update the codesandbox to better demonstrate the issue: if we use 2 different `schema` definitions, there is not way to properly merge the schemas.

[2020-02-06 10:54] user753 opened #3450 "[typescript-operations] typesSuffix option"
I would like to have an option to add suffix for all schema generated types
[code]
schema
[code]
generated.ts
[code]

[2020-02-06 11:31] koenpunt commented on #2932
Is there maybe an option to automagically alias every mapper?

So for example a config like;

[code]

Would generate an import like;

[code]

[2020-02-06 12:34] elie222 commented on #2984
@RXminuS is there an open PR related to this?

[2020-02-06 13:44] ardatan commented on #3445
@henry-young I think your issue is different. Let's track yours there https://github.com/dotansimha/graphql-code-generator/issues/3259

@0xClpz Could you change versions of all codegen packages to 1.12.1 without `^` and `~`, and run `yarn install` or `npm install` to install them? So we can avoid the version mismatch.

[2020-02-06 16:10] mribichich commented on #3445
I was getting exactly the same error, but now I can confirm upgrading dependencies fixed it for me

[2020-02-06 18:13] f3d0r opened #3453 "Make TS Syntax Errors more clear"
When there is a TS build error, we get the following message upon running `graphql-codegen`:
[code]

This is a TS error, but since building our packages relies on the correct generated GraphQL types already existing, the GraphQL type/codegen has to be run first, so it is first to catch TS compile errors.

It's hard for us to find the file where this error is occurring without more information. Can

[2020-02-06 21:32] lemiesz opened #3456 "Even if a skip/include directive field with an argument in them are not processed properly"
**Describe the bug**
I created a fragment that has an optional field. That field requires a filter argument.
If I decided to use the @include directive to skip that field when not required, I still need to pass in the argument.

**To Reproduce**
Steps to reproduce the behavior:

1.) Create a fragment with a field that requires an argument.

[code]

2.) Use that fragment in query with `withRelatedP

[2020-02-06 22:25] henry-young commented on #3445
@ardatan Yes you are correct.

[2020-02-06 22:27] henry-young commented on #3259
@ardatan I can also confirm that `1.12.2-alpha-ea7264f9.15` fixed this issue! Thanks, look forward to the full release.

[2020-02-07 06:38] SoyYoRafa opened #3457 "Documents won't generate with versions after 1.9.1"
**Describe the bug**
Hi,
This is a continuation of issue #3282 but this issue is related to documents. The attached package can generate with 1.9.1 but not with 1.10.x, 1.11.x, nor 1.12.x.

[graphql-codegen-bug-reproduce-documents.tar.gz](https://github.com/dotansimha/graphql-code-generator/files/4169319/graphql-codegen-bug-reproduce-documents.tar.gz)

**To Reproduce**
Steps to reproduce the behav

[2020-02-07 07:38] dotansimha opened #3458 "Missing documentation for `typescript-generic-sdk`"
Since `typescript-generic-sdk` got merged, we need to add docs, usage and examples.

Related: https://github.com/dotansimha/graphql-code-generator/pull/2978

[2020-02-07 07:42] dotansimha commented on #3457
@ardatan can you please take a look?

[2020-02-07 07:42] dotansimha commented on #3259
Fixed in `1.12.2`! Thanks @ardatan

[2020-02-07 07:42] #3259 closed

[2020-02-07 07:43] dotansimha commented on #3442
Fixed in `1.12.2`! Thanks @kamilkisiela

[2020-02-07 07:43] #3442 closed

[2020-02-07 07:43] dotansimha commented on #3418
Fixed in `1.12.2`! Thanks @ardatan

[2020-02-07 07:43] #3418 closed

[2020-02-07 07:44] dotansimha commented on #2415
@akozhemiakin implemented it, and it's available in 1.12.2. We'll add documentation and examples for `requesters` soon :)

[2020-02-07 07:44] #2415 closed

[2020-02-07 07:48] ardatan commented on #3429
@sidhants AFAIK there is no plugin for C# :) You can start developing it :)

[2020-02-07 07:50] dotansimha commented on #3429
There is this one: https://github.com/netspective/graphql-codegen-csharp , but I'm not sure it's the same use-case as yours.

[2020-02-07 07:54] ardatan commented on #3457
@SoyYoRafa You're using old version in that reproduction. Could you please try with the latest version `1.12.2` without `~`? And next time please use codesandbox or GitHub instead of tar.gz. Thanks!

[2020-02-07 08:33] hyusetiawan commented on #2516
@adrianschneider94 / @dotansimha  any update on this, would be super timely if this is available :)

[2020-02-07 08:58] Dema commented on #3259
@ardatan Could you please go and claim the bounty? :smile_cat:

[2020-02-07 11:26] KillerCodeMonkey commented on #3326
@dotansimha
seems like we do not get any `Not all operations have an unique name` errors at all, now.

v1.12.2 - generated everything with duplicated typings e.g. for react.
v1.9.1 - does not generate and prints the expected error

[2020-02-07 12:42] benjie commented on #3326
@KillerCodeMonkey You should probably raise that as a separate issue :+1:

[2020-02-07 14:04] victor-accarini commented on #3418
Thanks! @ardatan @dotansimha

[2020-02-07 16:07] mjbcopland opened #3459 "Cannot query meta fields when using presets"
**Describe the bug**

`isUsingTypes()` does not handle meta fields.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS: macOS Catalina 10.15.1
- ```json
  "@graphql-codegen/cli": "^1.12.2",
  "@graphql-codegen/import-types-preset": "^1.12.2",

[2020-02-07 16:33] ardatan commented on #2911
@rlindskog That's normal behavior because you cannot add resolvers to meta types and fields, and double underscore means it is a meta field in GraphQL Spec.

[2020-02-07 16:34] ardatan commented on #3459
See https://github.com/dotansimha/graphql-code-generator/issues/2911
You should add meta types and fields to your schema by yourself.

[2020-02-07 16:34] #3459 closed

[2020-02-07 16:38] mjbcopland commented on #3459
Tried that too after reading https://github.com/dotansimha/graphql-code-generator/issues/2911#issuecomment-561019738, but

[2020-02-07 17:16] mjbcopland opened #3461 "Cannot add meta types or fields to schema"
**Describe the bug**
As described in https://github.com/dotansimha/graphql-code-generator/issues/2911#issuecomment-561019738 and https://github.com/dotansimha/graphql-code-generator/issues/3459#issuecomment-583487477, we're supposed to add meta types and fields to the schema ourselves to be able to use the with codegen. However that doesn't work as the schema fails validation:

**To Reproduce**
St

[2020-02-07 17:42] mjbcopland commented on #3459
Also, this only happens when using a preset, i.e. calling isUsingTypes. There's no errors when generating types for meta fields if not using a preset, even without manually adding them to the schema.

[2020-02-07 21:01] RXminuS commented on #2984
No not yet, I tried to play around with the code-generator base but haven't had the headspace to properly grasp it yet. But if there's someone more familiar with this codebase I would love to collaborate on a PR?

[2020-02-07 21:50] stephenh opened #3463 "TypeScript operations queries doesn't mark fields optional"
Given a schema like:

[code]

The default `typescript-operations` output for `Child` is:

[code]

Which is fine, however, if I write a query:

[code]

The generated type is:

[code]

(I'm butchering the nested types a bit.)

Note that `parent` here in the query is `parent` and not `parent?`.

This inconsistency between the top-level type and the query type means I can't do:

[code]

(Again being s

[2020-02-08 10:11] charlex commented on #3332
I am interested in this as well. Let me know if I can help!

[2020-02-08 10:12] ardatan commented on #3332
@charlex You can help and contribute :) PRs are welcome as @dotansimha said.

[2020-02-08 12:07] michalkvasnicak opened #3464 "Strict apolloClientVersion value check breaks fragment-matcher"
**Describe the bug**

Specifying `apolloClientVersion` as integer for fragment-matcher results in error `Extension .ts not supported` because strict match against string is used at https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/other/fragment-matcher/src/index.ts#L134

In docs it is specified as integer: https://graphql-code-generator.com/docs/plugins/fragment-ma

[2020-02-08 13:22] lensbart opened #3465 "Add plugin doesn’t respect order"
Hello guys,

I encountered the following bug in the category “above my paygrade”: some lines added by `@graphql-codegen/add` appear in the wrong order. This happens on one machine (iMac) but not on another (MacBook Pro). Even more puzzlingly, we generate multiple files with a single `codegen.yml` config file, and the bug appears only in one file, but not the other:

`codegen.yml`:
[code]

In `app/

[2020-02-08 13:26] lensbart commented on #3465
Also, I tried both of the following in `codegen.yml`:

[code]

[code]

[2020-02-08 13:57] Barsonax commented on #3072
I would like to see a option to disable filter out these kind of types as well

[2020-02-08 15:19] lensbart commented on #3465
Probably due to `export` being reordered incorrectly if the file itself contains import statements. This does work:
[code]

[2020-02-08 16:32] SoyYoRafa commented on #3457
Hi, this still occurs in `1.12.2`.

[2020-02-08 18:56] qiwang97 commented on #3272
sad to hear that especially a rookie like me

[2020-02-08 20:24] MartijnHols opened #3466 "typescript-resolvers' `mappers` config default aliasing not using alias"
**Describe the bug**
The `mappers` property of the `typescript-resolvers` plugin isn't using the alias name for imports, but instead using the field name.

**To Reproduce**
Steps to reproduce the behavior:

Given this plugin config:

[code]

Returns this output:

[code]

**Expected ~~behavior~~ output**
[code]

**Environment:**

- `@graphql-codegen/...`: 1.12.1

**Additional context**
Aliasing app

[2020-02-08 20:32] MartijnHols commented on #3466
Found a workaround for the time being:

[code]

(two spaces before the `as`)

[2020-02-08 21:22] elarouss commented on #3445
I'm having the same issue, but downgrading from `1.12.2` to `1.12.1` didn't fix it for me

[2020-02-08 23:58] ardatan commented on #3457
So as I said above please provide codesandbox reproduction.

[2020-02-09 10:37] mvestergaard opened #3468 "External document mode in near-operations-file no longer works in 1.12.2"
With the changes made in #3436, the following configuration no longer works as expected in 1.12.2:
[code]
All generated fragment files are expected to have a `<FragmentName>Doc` export, which they don't have with this config.

It works as expected in 1.12.1

[2020-02-09 14:49] Urigo commented on #3403
@bretthadley just to make sure, did you managed to make it work?

[2020-02-09 14:52] Urigo commented on #3412
@polRk for now please keep using a bit older versions and everything would be fine.

I find it pretty bad that firebase cloud functions only support a Node version that is not maintained anymore.
Any special reason why not move to another cloud solution?
I also hope they would just update themselves soon

[2020-02-09 19:09] ktrzos commented on #1917
Hello,
I've got similar problem. Generator is adding same import which is not used in the rest of generated types.

**codegen.yml**

[code]

**schema.graphql**

[code]

**types.tsx**

[code]

[2020-02-09 20:41] SoyYoRafa commented on #3457
Hi,

I have uploaded the files codesandbox: https://codesandbox.io/s/graphql-codegen-issue3457-hrs0w

This I understood to be a future issue, not this one.

[2020-02-10 00:32] GiancarlosIO opened #3470 "skipGraphQLImport does not work in runtime usage"
**Describe the bug**

Hi guys, I'm creating a node script to generate types with a dynamic config. I have several graphql files with `#import "../../c/continentFragment.graphql"`. When I try to run the `generate` function from  `@graphql-codegen/cli` I get this error:
![image](https://user-images.githubusercontent.com/17274950/74113421-fc082000-4b71-11ea-8f4b-63af87d675b0.png)

**To Reproduce**
St

[2020-02-10 11:38] lkleuver commented on #3066
tried latest but still missing some (not all) fragment imports

[2020-02-10 14:12] Uter1007 commented on #3447
same looks like for directories starting with a plus sign.

[2020-02-10 14:23] dotansimha commented on #3447
@isaiahtaylor We are working on it. Can please try the following?

[code]

[2020-02-10 15:07] Uter1007 commented on #3447
I would need the plus sign as valid char. I think the current problem relies on the ValidPath Method => https://github.com/ardatan/graphql-toolkit/blob/5071524af2d74318085c8f6c1390f96421da1f75/packages/common/src/helpers.ts#L53

It will not load any of these special signs.

[2020-02-10 15:14] Uter1007 commented on #3447
Further Question: why do we need an extra path validation ? is globby not enough ?

[2020-02-10 15:18] Uter1007 commented on #3447
Is it possible to escape it in the next release ? Maybe instead of restricting special chars maybe we could just add "\\" before it (or other techniques). This would be awesome. Cheers.

[2020-02-10 15:29] dotansimha commented on #3447
We can try, we tried a regex that would fit Windows users, but it breaks for Mac/Linux users, because `+` and `#` are valid there.
@ardatan Can you please take a look? I think maybe just simplifying the Regex should work.

[2020-02-11 01:54] Urigo commented on #2742
@calumpeak does that issue still happens on latest?

If so, could you open a new issue please?

[2020-02-11 01:55] Urigo commented on #2573
@tafelito does that issue still happens on latest?

If so, could you open a new issue please?

[2020-02-11 10:01] dotansimha commented on #1917
@ktrzos You are using `typescript-operations` and `typescript-react-apollo` without specifying any `documents:`, so you can either remove those plugins or add your documents.

If someone else is experiecing those ununsed imports with the latest codegen, it's always easier to add TSLint ignore comments with `add` plugin.

[2020-02-11 10:56] kvsravindrareddy opened #3474 "unable to run the yarn command"
Trying to implement the code gen with Gradle project and failing with the below.

Usage: yarn [options]

yarn: error: no such option: -D

[2020-02-11 11:28] dotansimha commented on #3474
@kvsravindrareddy which version of Yarn are you using?

[2020-02-11 11:33] kvsravindrareddy commented on #3474
0.32 is the yarn version

[2020-02-11 11:35] dotansimha commented on #3474
It's really outdated, can you please try to update to latest Yarn 1? It should be `1.22.0` (https://classic.yarnpkg.com/en/docs/install/)

[2020-02-11 11:36] kvsravindrareddy commented on #3474
Thank you. it works fine with the latest version.

[2020-02-11 11:37] #3474 closed

[2020-02-11 14:02] TomasBarry opened #3475 "Only export enum type"
**Is your feature request related to a problem? Please describe.**

The flexibility of GraphQL queries severely limits the use of exported types in the generated file of Flow types.

Consider the following schema:

[code]

It would be fragile to type the return value of a GraphQL query with the type of `MyType` as Flow would not be able to assist us if we changed the query from:

[code]

To:

[cod

[2020-02-11 18:47] brandon-leapyear opened #3478 "Generate functions to use for refetchQueries"
**Is your feature request related to a problem? Please describe.**

The [`refetchQueries`](https://www.apollographql.com/docs/react/data/mutations/#options) seems super useful for us in contrast with update functions, since we would mostly be duplicating server logic. However, we are not fond of the fact that the variables aren't type checked to match the query:

[code]

**Describe the solution yo

[2020-02-11 19:30] ktrzos commented on #1917
@dotansimha

I've added `documents` config:

[code]

Created a component with:

[code]

and generated `types.tsx` also having this unused import:

[code]

Could you describe me how to do it, please?

[2020-02-11 22:31] kapral18 commented on #3414
Have the same error with v1.12.2

[code]

[2020-02-11 23:34] icedicerice opened #3482 "Some type definitions are missing"
**Describe the bug**

Some type definitions are missing when generating from multiple files (see reproduce)

**To Reproduce**

https://codesandbox.io/s/boring-bush-0o5mq

The file `codegen1.yml` has glob `./schemas/*.graphql`, some generated definitions from `./schemas/message.graphql` are missing

The file `codegen2.yml` also explicitly include `./schemas/message.graphql`, which when generated wi

[2020-02-12 03:06] wassim-k commented on #2365
I second that, `dedupeOperationSuffix` not generating the correct import statement with `near-operation-file-preset` at  **1.12.2**

[2020-02-12 08:35] johnnyBira commented on #3445
Same issue, downgrading to `1.12.1` fixed it for me.

[2020-02-12 09:03] kvsravindrareddy opened #3484 "Do we have way to generate code for the Type which is the response object"
I have the below schema
Step 1:

[code]

Step 2: Below code generated with the code generator.

[code]
Step 3: Is there any way generate code for the Book and Author type as well?

Thanks in advance.

[2020-02-12 10:16] Tackgnol opened #3486 "Typescript interface property definitions end in commas instead of semicolons"
It seems like the typescript interfaces are generated in a wrong way, they have commas after property declaration, I would expect semicolons as per TS specification [see here](https://www.typescriptlang.org/docs/handbook/interfaces.html)

1. My GraphQL schema:
Can't share :/

2. My GraphQL operations:
Can't share :/

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Interfaces in typ

[2020-02-12 10:44] calumpeak commented on #2742
@Urigo I will upgrade and test and get back to you. Thanks

[2020-02-12 10:54] dotansimha commented on #2365
Confirmed. Reopened :)

[2020-02-12 12:33] dotansimha commented on #2365
I think the cause of this issue is: https://github.com/dotansimha/graphql-code-generator/blob/83779f96302266dc624dc571ba5ee8f515667771/packages/presets/near-operation-file/src/index.ts#L149
Working on a fix.

[2020-02-12 13:06] dotansimha commented on #2365
I managed to fix that in: https://github.com/dotansimha/graphql-code-generator/pull/3487

Note: You need to move `dedupeOperationSuffix` config upper in the config hierarchy, otherwise the preset won't be able to know it's set.

Tested in your sandbox with latest alpha (`1.12.3-alpha-06631dad.18`) and updated config (https://codesandbox.io/s/dedupefragmentissue-ck18z) and it seems to work. The gen

[2020-02-12 13:26] wassim-k commented on #2365
Thanks @dotansimha for the quick fix!

[2020-02-12 15:43] brandon-leapyear commented on #3478
Fixed by #3479

[2020-02-12 15:43] agonbina commented on #2956
Are there plans to fix this? It's blocking us from upgrading to the latest version :(

[2020-02-12 16:53] ardatan commented on #3478
Let's keep it open until new release.

[2020-02-12 18:35] Tbaut opened #3597 "[graphql-request] Subscription support with Rx / async iterable"
Thank you so much for your work on graphql-codegen-graphql-request. Using and loving this plugin.
I saw in the code generator documentation that this also supports subscriptions. Would you mind giving an example how it should be used?

When I use it like the queries/mutations :
[code]

it gets executed and there's no observable.
What I'm looking for is an endless process, that would emit an event

[2020-02-13 08:04] dotansimha opened #3494 "GraphQL Code Generator and Webpack integration"
We were thinking a lot about the integration of GraphQL Codegen and Webpack.

There was a few attempts by our team and the community to integrate the 2 libraries, this issue will cover some of those and explain the possible integrations of GraphQL Codegen and Webpack.

We had an [initial implementation for this integration](https://github.com/dotansimha/graphql-code-generator/pull/739) (also, http

[2020-02-13 08:05] dotansimha commented on #1828
Let's continue the discussion here: https://github.com/dotansimha/graphql-code-generator/issues/3494

[2020-02-13 08:05] #1828 closed

[2020-02-13 08:10] dotansimha commented on #3484
@kvsravindrareddy Can you please share the complete output, codegen version, codegen config and what do you think we should generate?

Thanks!

[2020-02-13 08:10] dotansimha commented on #3482
@ardatan can you please take a look? I think it might be related to the `graphql-toolkit` loaders.

[2020-02-13 08:15] dotansimha commented on #3475
@TomasBarry
The basic `flow` plugin only generates the base types, based on your GraphQL Schema.
If you wish to get type safety based on your queries, you should use `flow-operations` as well, and use `documents:` section to specify your GraphQL operations.
It will generate Flow types based on your selection set, and if you change your query if will generate new types according to the fields you a

[2020-02-13 08:16] dotansimha commented on #3470
@ardatan I think it's related to graphql-toolkit?

[2020-02-13 08:17] dotansimha commented on #3468
@mvestergaard can you please try the latest alpha (`1.12.3-alpha-c0f7e16f.24`)? we introduced some fixed related to presets and imports.

[2020-02-13 08:17] dotansimha commented on #3466
@kamilkisiela can you please take a look? :)

[2020-02-13 08:23] dotansimha commented on #3465
@lensbart Codegen is using plugins in the order specified, but also manages a different ordering based on plugins execution. So plugins can choose to add `content` or `append` or `prepend` - this is done mostly because we would like to allow plugins some way to customize the output, and manage imports.

So the `prepend` section of each plugin is being added by the order of plugins, but, it will al

[2020-02-13 08:23] #3465 closed

[2020-02-13 08:30] ardatan commented on #3470
@GiancarlosIO You're using it wrong.
[code]

[2020-02-13 08:39] dotansimha commented on #3463
@stephenh While dealing with the schema types - we can allow optionals and allow `undefined` because the GraphQL engine knows how to handle that.
But, if you are writing a query and ask for specific fields, the GraphQL engine will always return the field for you, and if an nullable field, it means that it could be either a value, or `null` - but the field will always be there.
You should not use `

[2020-02-13 08:39] #3463 closed

[2020-02-13 08:39] mvestergaard commented on #3468
@dotansimha Still happens in `1.12.3-alpha-c0f7e16f.24`

[2020-02-13 08:47] CarloPalinckx commented on #3494
Perhaps we could adjust this issue a bit to include the actual DX differences that we try to achieve? I would like to shift the discussion from "how can be build X" to "How can we improve experience X" and work our way to the implementation from there 🙂. The ideas I had when starting my PR were the following:

Imo, the best achievable developer experience we can get when working with graphql files

[2020-02-13 09:55] lensbart commented on #3465
@dotansimha Yes, I think I fully understand the mechanism. The issue is that the order is not respected for lines specified under `add` (as explained above). So this is a bug, or at least it should be documented that `import` and `export` must not be used together without `append`/`prepend`.

[2020-02-13 10:39] dotansimha commented on #3464
You are right, we should allow more loose type checking for that values because it's coming from the YAML config.

I changed it in: https://github.com/dotansimha/graphql-code-generator/pull/3495
Now both string/number will work .

Can you please try the alpha version? `1.12.3-alpha-1823fb22.25`

[2020-02-13 10:46] tempname11 commented on #3494
@CarloPalinckx we actually have achieved this exact behavior in our (private) project, and it's awesome. And it wasn't that hard.

The core issue, IMO, is that TypeScript/Flow don't really interact well with outside build tools: whatever code gets generated, say, in a Webpack loader or Babel plugin/macro, is not recognized by TS and I don't think it will be in the foreseeable future.

So you are g

[2020-02-13 10:54] kamilkisiela commented on #3466
Why is `import { default as Foo } from './models'` bad since it's the same as `import Foo from './models`? It's a generated file so why does it matter, what's your use case?

[2020-02-13 11:00] michalkvasnicak commented on #3464
@dotansimha I tried the version you mentioned and it works OK. 👍  Thank you. I'm sorry I didn't provide a PR. I was in a hurry :(

[2020-02-13 11:09] MartijnHols commented on #3466
The issue is that it doesn't use the alias. Even if it uses the `import { default as Account } from './models/Account';` variation, it should still be `AccountModel` and not `Account`.

[2020-02-13 11:10] kamilkisiela commented on #3466
Ohh I see!

[2020-02-13 11:40] CarloPalinckx commented on #3494
This is actually what I did in my PR #2732 , it just generates a single file full of:
[code]

I would argue that a single file with all declared modules is a bit better than all the separate files from a maintenance perspective.

I think writing the implementation to a file is exactly what we are trying to avoid because of aforementioned reasons :)

[2020-02-13 11:43] kamilkisiela opened #3496 "RFC(resolvers): new import syntax of mappers (mostly namespaces but not only!)"
**Default type**
[code]

**Default type (with alias)**
[code]

**Type**
[code]

**Type (with alias)**
[code]

**Namespace**
[code]

**Namespace (with alias)**
[code]

[2020-02-13 12:14] louisrli commented on #924
I'm also seeing this issue in 1.8.3

[2020-02-13 12:36] aappddeevv opened #3497 "add cli option to linearize output"
Currently the CLI updates the line to show some icons and other status. It would be nice to not have the lines update themselves via the terminal codes so that all messages are linearly printed and observed. This would be very helpful when writing new code generators and you need to output console messages. Currently, with the terminal lines updating, some of the output messages are truncated.

[2020-02-13 13:30] kamilkisiela commented on #3466
https://github.com/dotansimha/graphql-code-generator/pull/3498 should fix it

[2020-02-13 14:15] westmark opened #3499 "Export TS interface for graphql-request SDK"
Hi!

The generated file from `typescript-graphql-request` does not currently export(or generate) the interface for the generated sdk returned by `getSDK()`, which we need in order to wrap all sdk operations with some monitoring code and at the same time maintain full typing.

A workaround is obviously to write this interface ourselves, but it goes without saying that it would be easier to just imp

[2020-02-13 14:23] dotansimha commented on #3499
@westmark what do you mean? can you please explain what do you need it to generate?
The generated code is fully-types, and it's in a `.ts` file, so you can import directly from it, and it will be fully typed (it's done with type inference).

[2020-02-13 14:24] dotansimha commented on #3497
@kamilkisiela is it possible with `listr`?

[2020-02-13 14:33] kamilkisiela commented on #3497
@dotansimha  there's no-tty mode or something

[2020-02-13 14:34] westmark commented on #3499
Sorry I was not able to explain exactly what I meant. This is how the generated file looks now:
[code]

This is what I want:

[code]

And I want to import `SDKInterface` (or whatever it should be named) so I can wrap the sdk in a `Proxy<SDKInterface>(...)`

[2020-02-13 14:38] dotansimha commented on #3499
@westmark with an updated version of TypeScript, this should work for you: `type SDKInterface = ReturnType<typeof getSdk>`.

See example here: http://www.typescriptlang.org/play/#code/GYVwdgxgLglg9mABAcwKZQMoBMDWAKCAGxlTCgC5EBDMATwEpEBvAKEXcQCd0ROlWOgxBUR5GAXgB8zRAF8ANGyHsARpTGIpMhUvayW+llFoAHVIgwARANKbEAJR58AKqdQAeY2bjAU6bDiSANwsLKCQsAiIWHAYcAC26AAWMGDIeADOuJRW1owCHFk4AHQqYiGyQA

[2020-02-13 19:19] GiancarlosIO commented on #3470
@ardatan  Hi, I used what you suggest me but I still get the error :thinking:
![image](https://user-images.githubusercontent.com/17274950/74469971-a2eb0580-4e6b-11ea-8a37-29e209890393.png)

You can test it using this codesanbox (the same I use to write the issue :eye: )
https://codesandbox.io/s/graphql-codegen-bug-w6694?fontsize=14&hidenavigation=1&theme=dark

[2020-02-13 19:22] kamilkisiela commented on #3496
@dotansimha https://github.com/dotansimha/graphql-code-generator/pull/3501

It doesn't support aliases in namespaces and defaults imported as `./my/module` (instead of `./my/module#default`)

[2020-02-13 19:27] dobesv commented on #3494
The webpack loader idea sounds nice, but consider the drawbacks:

- TypeScript and the its IDE plugins do not support Webpack loaders, so you don't get any type information without separately generating some typescript declarations for all the files (as proposed by @CarloPalinckx)
- Cannot use the files for server-side rendering unless you use webpack on server code or have a separate step to gene

[2020-02-13 21:55] reubenab commented on #3444
Hi @ardatan! Just wondering if you have any more insight into this issue. Thanks!

[2020-02-14 00:14] ardatan commented on #3470
@GiancarlosIO I missed something. Why did you remove fragment file?
[code]
This worked for me on your codesandbox.

[2020-02-14 01:09] GiancarlosIO commented on #3470
@ardatan with "Why did you remove fragment file?" are you referring to this `"!**/*/continentFragment.graphql"`? 🤔
I use that regex to simulate my use-case because in my real app I have something like:
[code]

So, I only want to run graphql-codegen over some files because the other files belong to other graphql schemas.

I want literally ignore the imports in the graphql. Is `skipGraphQLImport` us

[2020-02-14 06:40] ggomma commented on #3486
Have same issue :(

[2020-02-14 06:46] ggomma commented on #3102
Helo, @dotansimha .

I think the issue is not solved yet, v1.10.0 and even later version still generates comma(,) instead of  semicolon(;).

Would you please look at this issue?

[2020-02-14 07:23] westmark commented on #3499
Thanks! I actually googled for this but failed to find anything. This will certainly do.

[2020-02-14 07:23] #3499 closed

[2020-02-14 08:59] polRk opened #3504 "Duplicate import gql from 'graphql-tag'"
Duplicate `import gql from 'graphql-tag'`
<img width="514" alt="Снимок экрана 2020-02-14 в 11 58 10 AM" src="https://user-images.githubusercontent.com/39828645/74516342-46e2b880-4f21-11ea-82bc-cd9994d31d75.png">
<img width="505" alt="Снимок экрана 2020-02-14 в 11 58 47 AM" src="https://user-images.githubusercontent.com/39828645/74516399-5d890f80-4f21-11ea-84a3-22df0f3627d5.png">

codegen.yml

[cod

[2020-02-14 09:51] 738 commented on #3102
@ggomma I'm working on it, almost done.

[2020-02-14 10:02] ardatan commented on #3470
@GiancarlosIO You have that fragment in your operation file so you need that fragment's definition. The error is correct because you're ignoring fragment file. But the thing is `documents` field has nothing to do with `typescript` only. `typescript` plugin only generates types for your GraphQL types in your schema. If you want to generate typings for your clientside operations/documents, you need

[2020-02-14 12:14] andrzey commented on #3254
Sorry for the late reply. Version `1.11.3-alpha-f020cd9c.106` worked perfectly!

[2020-02-14 13:11] aappddeevv commented on #3497
Based on the comment about listr, it looks like there is a listr-verbose-renderer that probably linearizes the output in a "logging" like format. I think a simple cli switch and the use of listr-verbose-renderer would do it. Maybe there is a way to make that pluggable :-).

https://github.com/SamVerschueren/listr-verbose-renderer

[2020-02-14 13:51] aappddeevv commented on #3497
Looked at the code now that I know what to look for. It looks like if env VERBOSE is defined, its verbose logging and not the fancy logging. I think this is sufficient for what I need so I'm claiming we can close this.

[2020-02-14 13:51] #3497 closed

[2020-02-14 14:24] GiancarlosIO commented on #3470
@ardatan Oh, I see. So `skipGraphQLImport` can't solve my problem :disappointed: . I will close this issue. Thanks you!

Just In Case. I have find a work around to solve my problem. Basically I want graphql-codegen supports mutilple schemas, thats why I created a simple package to consume a custom configuration file.
https://github.com/GiancarlosIO/react-apollo-generator

[code]

[2020-02-14 14:24] #3470 closed

[2020-02-15 16:03] bkniffler commented on #2776
This is still an issue. I'm on the latest version and I'm not getting any clues about where the issue is. Using optional chaining excessively. Shouldn't this be open? The answers I can see in this thread all refer to solving the underlying problems, not to the actual fact that graphql codegen will not always show what files causes issues and that, if that happens, it is a big pain to find the issu

[2020-02-15 19:55] aappddeevv opened #3511 "parseEnumValues is not exported from visitor-plugin-common but probably should be"
If this was originally intended, can this be exported as part of the main module?

[2020-02-15 22:26] anilanar opened #3512 "Cannot read property 'length' of undefined"
**My conclusion**

This seems to be an issue with deep network of dependencies: `globby -> fast-glob -> micromatch`. At the top of the stack trace, `fast-glob` calls a function from `micromatch`:

[code]

If you `console.log(info)`, it has no `parts` property:

[code]

The `micromatch` version that causes the bug is `4.0.2`.
The `fast-glob` version that causes the bug is `3.2.0`.
The `globby` vers

[2020-02-15 22:32] anilanar commented on #3512
I tried locking `fast-glob` to `3.1.1`:

[code]

Error has gone.

[2020-02-15 22:39] anilanar commented on #3512
Reported upstream: https://github.com/mrmlnc/fast-glob/issues/253

[2020-02-15 22:39] andrerpena commented on #3512
@anilanar Thank you. You saved me a lot of time

[2020-02-15 22:47] andrerpena commented on #3174
I think this issue should be reopened. Currently,  as @kamilchm stated, you cannot return `Promise<undefined>` to a resolver of a nullable type.

[2020-02-15 23:06] freshollie commented on #3174
@dotansimha @kamilchm This issue is related to the way `Maybe` wraps the `ResolverType`, instead of the `ResolverTypeWapper` wrapping the Maybe:

Example:

Schema:
[code]

Generated code

[code]

This causes `Maybe` to wrap `Promise<Draft> | Draft` and wrongly make the type  `Promise<Draft> | Draft | null`

I think the generated code should instead be

[code]

This would correctly resolve `getDraf

[2020-02-16 08:52] freshollie commented on #3174
Another solution to this could be to change Maybe to better extend Promise types:

[code]

[2020-02-16 08:56] dotansimha commented on #3461
The current behaviour of the codegen is to ignore fields that starts with `__` because they are usually GraphQL internals.
I wasn't sure if it possible to extend those. Do you have a spec/issue related to it? because it seems like this error is coming from GraphQL validation method and not from the codegen.

[2020-02-16 09:05] dotansimha commented on #3511
Fixed in https://github.com/dotansimha/graphql-code-generator/blob/c868a2f8b338f357027d944e173cf55c1cdb2327/packages/plugins/other/visitor-plugin-common/src/index.ts#L6-L7

Thanks @aappddeevv . We'll release a stable version soon :)

[2020-02-16 09:11] dotansimha commented on #3512
@anilanar Thank you for reporting and finding a workaround!
I tried to run the reproduction sandbox - but it seems to work, can you please verify that?

[2020-02-16 09:38] dotansimha commented on #3504
@polRk

I pushed a fix for the duplications, can you please try the alpha? `1.12.3-alpha-c868a2f8.36`

Thanks!

[2020-02-16 09:57] dotansimha commented on #3504
@polRk

I pushed a fix for the duplications, can you please try the alpha? `1.12.3-alpha-ed40601c.37`

Thanks!

[2020-02-16 11:06] marcomelilli commented on #3512
@anilanar thank you, you saved my day. For those who use npm, I found this plugin to use "resolutions" as workaround: https://www.npmjs.com/package/npm-force-resolutions

[2020-02-16 11:21] anilanar commented on #3512
TL;DR

We are waiting for a fix by `micromatch`, then `fast-glob` and `globby` needs to release a new version too.

@dotansimha It's kind of hard to reproduce. I had to copy my own `yarn.lock` and then run `yarn`, which updates `yarn.lock` again.

The specific problem is described in https://github.com/micromatch/micromatch/issues/196 and in  https://github.com/mrmlnc/fast-glob/issues/253. So the

[2020-02-16 14:28] CarloPalinckx commented on #3494
@dobesv is it safe to assume that people doing SSR will at least have babel running? Since it transforms jsx et.all? That would make a babel plugin a more suitable candidate than a webpack loader.

[2020-02-16 17:12] anilanar commented on #3444
@nwalters512 Internal values for enums isn't a feature of apollo, it's a feature of `graphql`.
E.g.

[code]

The problem is, `Resolvers` type that `typescript-resolvers` generates doesn't have fields for enum types. E.g. it should look something like:

[code]

And then, we can pass the enum type generated by code-gen or custom `enumValues`:

[code]

Does that make sense @ardatan ?

[2020-02-16 19:55] praneetloke opened #3514 "typescript-operations does not use the types from the typescript plugin"
I am not sure if what I am seeing is a bug or more of a lack of my own understanding. I should preface this by saying that I haven't been working with GQL for very long.

With the following `codegen.yml` file:

[code]

I expect the generated `graphql-client.ts` file to contain:
* TS interfaces for types in the schema (`typescript` plugin)
* Queries and Mutations from my documents to use the types

[2020-02-17 06:59] mimecuvalo opened #3516 "in flow plugin, namingConvention not respected when used in combination with enumValues"
**Describe the bug**
If `enumValues` are specified then the generated output doesn't respect the `namingConvention`.

See the `codegen.yml` file below, as an example of trying to do upper-case with some `enumValues` specified. It leads to correct enum values:
[code]

but when referenced it's not following the `namingConvention`:
[code]
(notice `StyleEnum` isn't all caps, this leads to a Flow error

[2020-02-17 09:23] cosmocoder commented on #3445
We are also getting the exact same error message as the OP, and setting the version for all codegen packages to 1.12.2, 1.12.1 or 1.12.0 didn't fix it. The latest version that works is 1.11.2.

[2020-02-17 09:26] dotansimha commented on #3445
@johnnyBira @elarouss @cosmocoder can you please make sure you have the latest versions of graphql-codegen and graphql-toolkit? If it's still happens, can you please share a reproduction in a repo/sandbox?
Thanks!

[2020-02-17 09:33] cosmocoder commented on #3445
We are using the following codegen packages:

@graphql-codegen/cli: "1.12.2",
@graphql-codegen/fragment-matcher: "1.12.2",
@graphql-codegen/introspection: "1.12.2",
@graphql-codegen/typescript": "1.12.2",
@graphql-codegen/typescript-operations": "1.12.2",
@graphql-codegen/typescript-react-apollo": "1.12.2"

Using the latest version for those packages didn't solve it for us.

[2020-02-17 09:35] dotansimha commented on #3445
Thanks @cosmocoder , can you please share a reproduction I can try locally?

[2020-02-17 10:25] cosmocoder commented on #3445
@dotansimha Here is the minimal setup that showcases the error we are getting

[codegen-sandbox.zip](https://github.com/dotansimha/graphql-code-generator/files/4213112/codegen-sandbox.zip)

[2020-02-17 10:32] mjbcopland commented on #3461
This is related to my previous issue #3459. Codegen does ignore meta fields, _except_ for the function isUsingTypes used by the import-types and near-operation-file presets. I opened an issue and a PR (#3460) around this and both were closed on the basis that I should add meta fields to the schema myself.

This issue is to document/track that doing so results in a GraphQL validation error as you m

[2020-02-17 10:38] ardatan commented on #3445
@cosmocoder As I see in `package.json`, versions of codegen related packages mismatch
[code]

So we asked you try latest versions like below;
[code]

[2020-02-17 10:39] dotansimha commented on #3514
You are using `preResolveTypes: true`, which doesn't use `typescript` as base types, but resolves to the primitive value when possible.

[2020-02-17 10:59] cosmocoder commented on #3445
@ardatan apologies for uploading the wrong package.json. I updated the version numbers in the minimal setup, and the error did go away there. But I am still getting the error in our main project with the latest versions. Clearing node_modules and re-installing the packages didn't help also. Any ideas on what might cause this? We are using the same packages in the main package as in the minimal set

[2020-02-17 11:03] ardatan commented on #3445
@cosmocoder Could you try to delete `lock` file and install dependencies?

[2020-02-17 11:05] cosmocoder commented on #3445
Yes, I had tried that too, but no luck.

[2020-02-17 12:05] NomadXD commented on #3445
@ardatan @dotansimha I got the exactly same issue. My devDependencies are as follows.

`
"devDependencies": {
    "@graphql-codegen/add": "1.12.2",
    "@graphql-codegen/typescript": "1.12.2",
    "@graphql-codegen/typescript-operations": "1.12.2",
    "@graphql-codegen/typescript-react-apollo": "1.12.2",
    "@graphql-codegen/typescript-resolvers": "1.12.2",
    "@test-graphql-cli/codegen": "4.0.

[2020-02-17 12:36] ardatan commented on #3445
@NomadXD Could you try to update your `@test-graphql-cli/codegen` to `4.0.1-beta.2` and try again?

[2020-02-17 12:48] cosmocoder commented on #3445
@ardatan I use @graphql-codegen/cli. Is that what you meant?

[2020-02-17 12:53] ardatan commented on #3445
@cosmocoder I meant `graphql-cli` which is a different CLI tool but anyway we need to reproduce your issue somehow.

[2020-02-17 12:59] cosmocoder commented on #3445
@ardatan on checking the yarn.lock file in my project I saw that `@graphql-codegen/cli` 1.12.2 has a dependency on `graphql-config "3.0.0-alpha.18"`, and that in turn has a dependency on `@graphql-toolkit` 0.9.1. I saw that yarn resolves some of the packages from the toolkit (file-loading and schema-merging) to be v0.9.1. Could this cause the error?

[2020-02-17 14:16] NomadXD commented on #3445
Great !!! I updated the `@test-graphql-cli/codegen` to `4.0.1-beta.2` and it works fine now. Thanks a lot!!! @ardatan

[2020-02-17 16:03] praneetloke commented on #3514
@dotansimha thank you the response! I added the `preResolveTypes` because without that I get this:

[code]
With or without specifying `preResolveTypes`, the way that a query's return type is specified forces me to manually cast result from the query to the explicit type. So for example:

[code]

[2020-02-17 17:26] williamluke4 opened #3517 "[Plugin Request] Babel Blade Codegen"
Please see https://github.com/babel-blade/babel-blade/issues/26

[2020-02-17 22:27] switz commented on #3437
Same here, downgrading back to 1.8.3 worked for me.

[2020-02-18 06:17] dobesv commented on #3494
@CarloPalinckx I previously thought of a babel plugin as well, and that would be nice, but ATM you cannot write babel plugins that parse languages other than JavaScript.  Babel is a tool for translating between versions of JavaScript/ECMAScript/typescript, not a general purpose "anything to js" tool.  That is how I ended up building graphql2js.

[2020-02-18 06:27] CarloPalinckx commented on #3494
@dobesv Turns out you actually can 🙂 there is a plugin that does something similar https://github.com/airbnb/babel-plugin-inline-react-svg

[2020-02-18 06:52] dobesv commented on #3494
What these plugins actually do is the copy the target of the import into the file that imports it.  They do *not* translate the graphql file to JavaScript.

There's already a babel plugin that does this for graphql files, it operates similar to the graphql-tag/loader.

I used it for a little while but it has a major, breaking drawback: it doesn't work well with caches.  Babel caches, webpack cache

[2020-02-18 09:59] dotansimha commented on #3517
This is a very nice idea!! Thanks @williamluke4
PRs are welcome :)

[2020-02-18 10:00] dotansimha commented on #3486
I think this was fixed in: https://github.com/dotansimha/graphql-code-generator/pull/3505

[2020-02-18 10:04] dotansimha commented on #2754
Tracking in: https://github.com/dotansimha/graphql-code-generator/issues/3141

[2020-02-18 10:04] #2754 closed

[2020-02-18 19:02] Tackgnol commented on #3486
Awesome! Yeah seems so :)
Do we have an ETA on the release?

[2020-02-19 09:46] eddeee888 commented on #3494
What would be the difference between the server-side and client-side version of the files? Last time I used NextJS with Apollo, I could use `graphql/loader` for both client and server since the config is shared. Should the generated files be different?

[2020-02-19 14:08] mjbcopland opened #3525 "FragmentDoc imports are still broken in 1.12.2"
Related to #3259.

[`config.documentMode !== 'documentNode' || config.documentMode !== 'external'`](https://github.com/dotansimha/graphql-code-generator/blob/v1.12.2/packages/presets/near-operation-file/src/fragment-resolver.ts#L21) introduced in #3436 always evaluates to `true`. This causes codegen to try to import fragment documents which don't exist. What was the intended logic of this line? Lo

[2020-02-19 17:14] SirensOfTitan opened #3527 "Directive Resolver generation for typescript-resolvers seems to have broken in 1.12.x"
**Describe the bug**
See here for a reproduction: https://codesandbox.io/s/inspiring-nobel-7wbf9?fontsize=14&hidenavigation=1&theme=dark

... codegen is sent to console.

Up to 1.11.x, directive resolvers were successfully generated for typescript given a directive definition.  After upgrading to 1.12.x, no directive resolvers seem to be generated.  This seems to be the case at least in the cases

[2020-02-19 17:25] dobesv commented on #3494
I think the generated files would be the same between client and server, at least for my project they are the same (using graphql-tag/loader)

[2020-02-19 17:44] ardatan commented on #3527
Could you try to parse SDL using `parse` and pass DocumentNode instead of using `printSchema` ?Because `printSchema` might remove directives.

[2020-02-20 17:17] kapral18 commented on #3414
I fixed it by regenerating the yarn.lock.

I guess it could've been also fixed by putting
`graphql-tag-pluck` in yarn resolutions to latest version.

So after debugging turned out that there was an interface mismatch between `@graphql-toolkit/code-file-loader` and `graphql-tag-pluck`, apparently `graphql-tag-pluck` was expecting `options` object param as second argument in some of its older versio

[2020-02-21 06:24] SoyYoRafa commented on #3457
@ardatan you still waiting on something from me? I want to make sure the codesandbox has everything you need.

[2020-02-21 07:53] polRk commented on #3504
@dotansimha, Yes i can, I'll do it next week.

[2020-02-21 19:17] onethread opened #3538 "Generated interface resolvers seem to be too narrowly typed"
**Describe the bug**
It’s possible I’m using the generated resolver types incorrectly, but I’m following Apollo’s javascript example for resolving graphql interfaces, and I’d expect to able to do something similar, but in typescript with graphql-code-generator; i.e., a resolver for an interface type should be able to determine what concrete type of the interface should be returned.

E.g. in js:

[

[2020-02-22 05:54] praneetloke commented on #3514
Ping.

[2020-02-22 17:26] ksrb commented on #3417
For anyone curious I ended up solving this by creating a union type for all the implementors of the interface something like:

[code]

[code]

Maybe not ideal if you have thousands of implementors...

[2020-02-23 19:25] rdsedmundo commented on #3208
I was facing this as well, in my own case it was because a single-file had multiple plugins (that's the default configuration if you follow the wizard and choose more than one plugin). While the tool is going to respect the `noExport` for the `typescript` plugin it won't for the others—so my solution was to split in multiple files. i.e:

[code]

[2020-02-23 20:07] lukasluecke commented on #3494
So I've been using `graphql-code-generator` for a few projects since over a year now, and was pretty content with my current configuration and usage.

However when working on a talk about the whole process I stumbled upon `graphql-let` (as mentioned in the issue description, it's a webpack-loader built around `graphql-code-generator`) and have to say that it makes so much sense to have this kind o

[2020-02-24 08:20] dotansimha commented on #3514
@praneetloke hmm you don't need to do the casting, because you are casting to the base type, and not to the query type. The base type represents the schema complete type, while with queries, it represents the selection set of it.
Can you please share a reproduction in a repo?

[2020-02-25 13:25] stevemao opened #3547 "typescript-graphql-files-module doesn't work with typescript"
If I use typescript, typescript-operations and typescript-graphql-files-modules in the same file, it cannot find module '../graphql/a.graphql'

[code]

but if I write

[code]

The problem is gone. However it should be possible to put all types in the same file.

[2020-02-25 18:18] marcoreni opened #3549 "__resolveType and __isTypeOf do not support Promise as return value"
**Describe the bug**
GraphQL supports returning promise for __resolveType and __isTypeOf (for interfaces and unions) since https://github.com/graphql/graphql-js/pull/631, but code generator does not support it.

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Generated code for `TypeResolveFn` and `isTypeOfResolverFn` should include the Promise as a r

[2020-02-25 18:59] schmod commented on #3466
@kamilkisiela I'm still encountering the issue in the alpha version.

[code]

yields this code:
[code]

[2020-02-25 21:41] kjvalencik commented on #1965
Hi! Thanks for building this feature. I encountered an edge case with the types generated that this fix does not cover.

If you have a resolver for an array of items and each of those items is nullable, not all valid return values are possible in the type.

[code]

The last use case is especially useful when providing a resolver that accepts multiple IDs, some of which may fail (for example, the `

[2020-02-26 15:30] SirensOfTitan commented on #3527
@ardatan: updated case above, still same result where types for directive aren't generated.

[2020-02-26 16:02] ardatan commented on #3527
@SirensOfTitan You say only directive resolvers are missing but I noticed that all resolver typings are missing. So I checked the configuration;
[code]

Each plugin needs to be defined as different objects in an array like above.

[2020-02-26 17:47] timonweber commented on #3417
I would also love to see `__typename` on the base interface as it would allow to process query results independent of the structure of the initial query.

PS: Thanks for your awesome work, @dotansimha!

[2020-02-27 01:40] Aleksion commented on #3504
Is it possible to NOT import gql?
"typescript-graphql-request" uses print to convert it to a string anyways, so it seems like an unnecessary addition to the bundle size..

[2020-02-27 06:25] vishwam opened #3558 "Emit `possibleTypes` for typescript-react-apollo"
**Is your feature request related to a problem? Please describe.**

If your schema contains an interface implemented by multiple types and a query that returns that interface, Apollo Client v3 [requires you to provide a `possibleTypes` object](https://www.apollographql.com/docs/react/v3.0-beta/data/fragments/#using-fragments-with-unions-and-interfaces) that maps interfaces to all their possible ty

[2020-02-27 07:08] vishwam commented on #3558
For now, I've created my own plugin to do this:
[code]

For folks wanting to use this: just put this in a .js file and [specify the path to it in your codegen.yml file](https://graphql-code-generator.com/docs/custom-codegen/write-your-plugin).

[2020-02-27 07:47] ardatan commented on #3558
@vishwam Thank you but we already have this kind of plugin for [Apollo's fragment matcher](https://www.apollographql.com/docs/react/advanced/fragments.html#fragment-matcher) ;
https://graphql-code-generator.com/docs/plugins/fragment-matcher . Let us know if you mean something else.

[2020-02-27 11:08] denkristoffer commented on #1918
@kamilkisiela Merging the schemas like that doesn't play well with `avoidOptionals: true` because the types then expect you to implement all the server's resolvers as well.

[2020-02-27 11:24] ardatan commented on #1918
@denkristoffer You can wrap `Resolvers` with `Partial` like `Partial<Resolvers>` to solve that.

[2020-02-27 11:56] denkristoffer commented on #1918
@ardatan That works only for types that are completely client side, right? What I want to do is extend a server type in my client schema, and have that extension be required by types without gettings complaints about missing server stuff.

client
[code]

server
[code]

`customMutation` should be required, `serverMutation` should be optional.

[2020-02-27 11:58] ardatan commented on #1918
@denkristoffer Just use Partial where you need optionals. Use Resolvers directly where you don't need optionals. So if those are different environments(client and server), there shouldn't be a problem. Am I missing something?

[2020-02-27 13:50] melounek opened #3560 "Watch mode do not update output with JavaScript export schema type"
I have the same issue as @grezxune mentioned in here: https://github.com/dotansimha/graphql-code-generator/issues/1609#issuecomment-554584784

Watching files works, *but output is untouched on change*

with this config
[code]

btw: I didn't find any docs about the wildcard-path passed to `watch` argument.

[2020-02-27 13:50] melounek commented on #1609
Looks still relevant to me, so I created new issue.

[2020-02-27 16:02] vishwam commented on #3558
Oh, my bad then, I’ll close this issue. I did do a search for “possibleTypes” on the site but this page didn’t show up.

Thanks!

[2020-02-27 16:02] #3558 closed

[2020-02-28 00:47] adam1658 opened #3564 "Nested fragments not included in document (typescript-react-apollo with documentMode: documentNode)"
**Describe the bug**
When using typescript-react-apollo with `documentMode: documentNode`, nested fragments are not included in the generated documents.

**To Reproduce**
Try https://codesandbox.io/s/graphql-codegen-fragments-missing-98i12.
`yarn run codegen`
`yarn run test`

It produces a table that looks like this:
![image](https://user-images.githubusercontent.com/3508429/75499633-aa3f1100-5a1e

[2020-03-01 21:39] ron-liu opened #3573 "How to handle schema with string templates in typescript/javascript exports"
**Describe the bug**
if there is string template in the exported scheme, it will complain the syntax and seems it will not compile it. Check the following files for more details.

**To Reproduce**
Please check the [repo](https://github.com/ron-liu/reproduce-graphql-codegen-with-string-template-in-js-export) for all the files and reproduce steps.

1. My GraphQL schema:

[code]

3. My `codegen.yml`

[2020-03-01 22:34] andycmaj opened #3574 "extend typescript-graphql-request to allow retries of requests"
i use the typescript-graphql-request template extensively, and one thing i think it's missing is the ability to control error handling/retries for the network calls made by the SDK.
I'd like to be able to retry transient network errors with retries.

There are a few ways i can think of to implement this.

## build configuraable retries into template

add retry policies into the template and allow

[2020-03-02 01:28] standy opened #3575 "Option to flatten types in typescript-operations"
**Is your feature request related to a problem? Please describe.**

I'm using `typescript-operations` and when I need to use a type of some selection set, I write code like:
[code]
That hurts. But I wonder if codegen could provide that type, so It would be much easier
[code]

**Describe the solution you'd like**

My proposal is to generate a separate type for each selection set (like it was before

[2020-03-02 01:42] ardatan commented on #3575
You can use GraphQL Fragments to have those types. Let me know if that works for you.

[2020-03-02 19:18] standy commented on #3575
Fragments are great, but not for this

Imagine query
[code]
And same with fragments just for generating 2 types more:
[code]
First is better, that's why I want to improve codegen instead of queries :)

[2020-03-02 19:30] ardatan commented on #3575
Codegen used to generate types recursively like that in older versions but we changed that behavior in favor of `Pick` and one single type for each operation(fragments are still seperated) because it increases complexity and causes a lot of bugs. TypeScript Compability plugin still does something similar you want, because I don't think we will have this back in the future. @dotansimha Is that righ

[2020-03-03 13:25] #2746 closed

[2020-03-03 19:19] kije opened #3580 "pluckConfig option ignored?"
**Describe the bug**
I'm currently working on a project using gatsby together with the apollo library. There I ran into an issue when using graphql-code-generator to generate typescript type definitions, since we use apollo (with the `gql` tag) to execute queries on a different schema than with gatsby (using the `graphql` tag), and graphql-code-generator throws an error when trying to generate typ

[2020-03-03 22:21] standy opened #3581 "Migrate to eslint"
Since TSLint is deprecated in 2019, typescript-eslint should be used as a successor. And I could help with migration. I did it in several of my projects, so it would be not so hard.
Pretty sure that config based on [@typescript-eslint/recommended](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin#recommended-configs) plugin will fit perfectly
What do you thi

[2020-03-04 08:19] ardatan commented on #3580
@kije In your production, test.js is empty. Could you update it?

[2020-03-04 18:38] karibertils opened #3582 "Run arbitary command after successful change in watch mode"
I would like to run "touch apollo.config.js" to automatically refresh the apollo plugin in vscode after each successful change when using watch mode.

This can probably be useful in many other scenarios.

[2020-03-04 20:05] ardatan commented on #3582
Does this work for you?
https://graphql-code-generator.com/docs/getting-started/lifecycle-hooks

[2020-03-05 00:26] karibertils commented on #3582
Yes works perfectly, that part of the docs completely escaped me.

[2020-03-05 00:26] #3582 closed

[2020-03-05 08:20] ducthienbui97 opened #3584 "Enum doesn't work in input type of java code"
**Describe the bug**

For the schema below
[code]
The java generated code is:
[code]
[code]
If Graphql-Java parse schema file, `args.get("role")` will be a string either [`"USER"` or `"ADMIN"`](https://github.com/graphql-java/graphql-java/blob/8a5fe9101504d8c22bbc426bd2a5f22279816510/src/test/groovy/graphql/schema/GraphQLEnumTypeTest.groovy#L161) therefore can't be casted to UserRole type.
Solutio

[2020-03-05 09:32] mvestergaard commented on #3468
I answered your question btw. Just so the tag doesn't make you forgot about this issue.

[2020-03-05 09:37] mvestergaard commented on #3468
Oh, seems to be fixed with the latest canary version `1.12.3-alpha-ff4bca66.86+ff4bca66`

[2020-03-05 11:47] leethree commented on #3249
any update on this? I think we have a pretty solid repro here ⬆️

[2020-03-05 16:48] sarink opened #3587 "Typescript development workflow?"
This isn't really a bug per se, but I'm trying to understand how one can use this project. Here is a catch-22 scenario I am confronted with almost daily, and I'm not sure how to work around it:

Let's suppose you need to modify the return type of a resolver:
1. Update `resolver.ts`
2. Now, typescript is complaining, because what your new resolver is returning does not match the return type of that

[2020-03-05 19:13] wallzero commented on #3174
@dotansimha I think this should be left open. Promises should be able to return null in case of issue.

@freshollie could you share how you are resolving the promise as a work around? I am trying to figure out a solution while keeping type safety.

[2020-03-05 19:15] freshollie commented on #3174
@wallzero Added my solution as the Maybe value fixes this issue.

[code]

[2020-03-06 01:23] sarink opened #3590 "Wait for previous generate?"
[code]
This will fail, because both operations execute simultaneously. Is there any way to wait for the schema.json to download and then use it to generate the queries? I know I could just put the url of the service in the second `schema` too, but I need the schema.json for eslint and I prefer for frontend code to not require the backend services to be running to generate their types

[2020-03-06 02:01] pachuka commented on #3564
I think this is a duplicate of #3066, but it is still an issue afaik.

[2020-03-06 06:05] danielhusar opened #3591 "Export query result subtypes for react-apollo plugin"
Right now query result type could look like:

[code]

I think it would be great if we could have a possibility to export separately those subtypes like:

`Pick<Types.Team, 'id' | 'name'>` or `Pick<Types.Site, 'id' | 'name'>`.

At least I haven't found an easy way to do it.
Would you accept PR for this?

[2020-03-06 07:57] denkristoffer commented on #1918
@ardatan Maybe I'm the one missing something 🙂

[code]

is not assignable to `ApolloResolvers`, and if I cast the whole resolvers object to get around that I lose type safety, don't I?

[2020-03-06 08:32] stonexer commented on #3591
You can use GraphQL fragments to get those types.

https://github.com/dotansimha/graphql-code-generator/issues/2977#issuecomment-558242152

[2020-03-06 19:47] iamdanthedev commented on #3445
Hi
Any updates on this issue?
We have all the versions set to 1.12.2 and it produces the same error

[2020-03-08 03:25] #3591 closed

[2020-03-08 03:36] ardatan commented on #3445
@iamdanthedev @cosmocoder Could you share your package.json files?

[2020-03-08 03:40] danielhusar commented on #3591
That works, Thanks!

[2020-03-08 08:13] cosmocoder commented on #3445
@ardatan here it is:

[code]

[2020-03-08 09:53] dotansimha commented on #3475
Closing. @TomasBarry let me know if it's still relevant.

[2020-03-08 09:53] dotansimha commented on #3484
@kvsravindrareddy any update?

[2020-03-08 10:03] dotansimha commented on #3444
I think you are right @anilanar . It seems like we should add a signature for enum resolvers. PRs are welcome :D

[2020-03-08 10:06] dotansimha commented on #3512
It seems like `fast-glob` solved it in `v3.2.1`. Keeping open until fully solved.
Thanks @anilanar

[2020-03-08 10:07] dotansimha commented on #3514
@praneetloke ?

[2020-03-08 10:09] dotansimha commented on #3573
It's an issue with `graphql-toolkit`, I think it should try to require the file when code ast lookup fails, @ardatan what do you think?

[2020-03-08 10:12] dotansimha commented on #3574
@andycmaj This sounds like a nice idea! Do you want to create a PR for this? it could be turned on with a configuration (something like `pollyRetryPolicy: true`)

[2020-03-08 10:14] dotansimha commented on #3575
@ardatan is right, we do not plan to bring back the intermediate types, it caused a lot of issue and was hard to maintain. And using Fragments is a better way to write GraphQL operations, and it also simplifies the generated types (we generate a type per each operation and per each fragment).

As @ardatan said, the `typescript-compatibility` generates intermediate types, and was intended to help d

[2020-03-08 10:14] #3575 closed

[2020-03-08 10:16] dotansimha commented on #3581
Yeah, we should migrate the repo code to use it, and also change some of the plugins generate `eslint` ignore comments instead of `tslint`.
Thanks @standy

[2020-03-08 10:18] dotansimha commented on #3580
Hi @kije,
As @ardatan asked, can you please update the reproduction?

[2020-03-08 10:23] dotansimha commented on #3587
@sarink can you please share a repository? It will help to see how you constructed the code and schema files.

The workflow we are using, is to do schema-first:
1. Define you schema in `.graphql` files.
2. Run codegen and generate resolvers signature (to `resolvers.types.ts`)
3. Implement resolvers in a new file (`resolvers.ts`) using the `Resolvers` type signature from the generated file.
4. Now,

[2020-03-08 10:24] dotansimha commented on #3590
@kamilkisiela I think it's related to the way we are using `listr`, right?

[2020-03-08 11:02] standy opened #3593 "Use dependency ranges in package.json"
**Is your feature request related to a problem? Please describe.**

Recently, after updating the dependencies of my project, I noticed that some packages loaded many times.
You may look at this example https://github.com/standy/starwars-graphql-example
`tslib@1.10.0` is loaded 20 times only for 3 plugins!

As docs for renovatebot say: libraries should use dependency ranges [https://docs.renovatebo

[2020-03-08 11:03] dotansimha commented on #3593
@ardatan @kamilkisiela what do you think?

[2020-03-08 11:04] dotansimha commented on #3591
@danielhusar see this: https://github.com/dotansimha/graphql-code-generator/issues/3575#issuecomment-596188511

[2020-03-08 11:42] martinsik opened #3594 "Add more config options for typescript-operations"
I was using `typescript-operations` plugin recently and I was thinking if there could be two more config options:

1. `typescript` plugin has `declarationKind` but the same option would make sense for `typescript-operations` as well for example for generated query variables.

2. Right now `typescript-operations` has to be used with `typescript` plugin because it uses its `Query` and `Scalars` type

[2020-03-08 12:04] dotansimha opened #3595 "[TypeScript] Improve type check validation for variables"
Related:
- https://twitter.com/nodkz/status/1235462155828449281
- https://github.com/microsoft/TypeScript/issues/12936#issuecomment-595140797
- https://github.com/microsoft/TypeScript/issues/12936

[2020-03-08 12:10] dotansimha commented on #3594
Thank you @martinsik !
PRs are always welcome ;)

[2020-03-08 14:47] sarink commented on #3587
The missing piece here was that you can tell codegen to generate a schema from your source files rather than from a running service, ie `schema: ./src/**/*TypeDefs.ts`

Thanks!

[2020-03-08 14:47] #3587 closed

[2020-03-08 14:48] sarink commented on #3590
;)

[2020-03-08 15:14] dotansimha commented on #3590
Currently, there is no way to have dependencies between different file outputs, mainly because each output is independent and we run it in parallel.

@kamilkisiela What do you think? you think we can do solve that with `listr`?

[2020-03-08 15:15] dotansimha commented on #3587
@sarink You can use endpoint, code file, graphql file and some more. See the list of loaders here: https://github.com/dotansimha/graphql-code-generator/blob/d3438740d96c8c716c3af65b73f2b7f7a9e70c3d/packages/graphql-codegen-cli/src/load.ts#L16

[2020-03-08 15:24] ardatan commented on #3590
@dotansimha We might manage that by changing concurrency limit to 1

[2020-03-08 15:24] dotansimha commented on #3590
@ardatan yeah this could work, but still we need to manage order or execution somehow

[2020-03-08 15:26] dotansimha commented on #2776
@bkniffler It seems like there are multiple causes for this issue. If it's still happens, can you please share a reproduction?

[2020-03-08 15:26] ardatan commented on #3590
@dotansimha This needs to be tested properly. Since listr takes an array and iterates over jobs to execute them. If there is no execution, it would respect the order of job. But I am not 100% sure

[2020-03-08 15:28] ardatan commented on #3590
@dotansimha check this https://www.npmjs.com/package/listr#concurrent

[2020-03-08 15:29] dotansimha commented on #3590
@ardatan yeah but still, if the order of keys under `generates` will be different , it won't work, because we need to understand the dependencies between the outputs.

[2020-03-08 15:31] dotansimha commented on #924
@louisrli can you please try to update to latest?

[2020-03-08 15:32] ardatan commented on #3590
@dotansimha yes you're right we cannot trust JavaScript objects. Map can be used there to keep the order of keys.

[2020-03-08 15:33] dotansimha commented on #3597
Thanks @Tbaut !
GraphQL Codegen supports subscriptions in some plugins, but not in `graphql-request` at the moment.
PRs are welcome ;)

[2020-03-08 15:35] dotansimha commented on #2956
@agonbina we are working on that, but it requires some more testing.
PRs are always welcome ;)

[2020-03-08 15:37] dotansimha commented on #3590
Also, @ardatan suggested that you'll try to use the programatic API and generate things in order.
At the moment, we do not plan to add a way to create dependencies between outputs.

[2020-03-08 15:40] dotansimha commented on #1917
Sure, add a dependency for `@graphql-codegen/add`, and use something like this:

[code]

[2020-03-08 15:45] Tbaut commented on #3597
Thanks for the answer, can you point me to the supported plugins? I'd take a look.

[2020-03-08 15:47] dotansimha commented on #3597
In this case, I think other plugins might not help you. Because they mostly generates types for TypeScript support (for operations or resolvers).
In this plugin's case, it generates actual runtime code, which it missing there at the moment.

[2020-03-08 15:49] dotansimha commented on #3278
@skk2142 what do you mean? how can we generate those? `graphql` already have default resolvers for non-implemented fields, so I can't see a reason to generate those.

[2020-03-08 15:50] dotansimha commented on #2870
@eyalw can you please share a reproduction?

[2020-03-08 17:46] dotansimha commented on #3549
Working on a fix in: https://github.com/dotansimha/graphql-code-generator/pull/3599

@marcoreni can you please try the alpha version? `1.12.3-alpha-47f7aea4.101`

[2020-03-08 20:40] dotansimha commented on #3525
@mjbcopland can you please share a reproduction for this issue? otherwise we won't be able to tell if we managed to fix that.

[2020-03-08 20:42] dotansimha commented on #3066
@lkleuver any chance you can share a *reproduction*? in a code sandbox, or a repo, something we can clone and try to test locally.

[2020-03-08 22:12] bkniffler commented on #2776
Its not been happening to me for some time, just tried to add a mistake on purpose and I got useful info ("unexpected name xy" + file that contains the error GraphQL code).

[2020-03-09 01:10] andycmaj commented on #3574
sure. I'm thinking with option 2, configuration might not even be needed. could just always make the wrapper an optional second parameter to the generated `getSdk` function.

that way we don't have to guess about best retry defaults or include any additional dependencies...

 thoughts, @dotansimha ?

[2020-03-09 01:27] praneetloke commented on #3514
Hi, apologies for the late reply.

Ah I see. That's probably what this is. My understanding was that the query type, though, a subset of the base type, should be the type from the schema. But maybe my understanding of how all of this should work is incorrect?

[2020-03-09 06:08] dotansimha commented on #3514
Hi @praneetloke
Exactly, types that are generated by `typescript` represents the schema types (full types with all possible fields).
And types generated by `typescript-operations` are based on GraphQL operations (schema/mutation/subscription/fragment) and has only part of the fields (selection set). Those types are based on the base types, and uses `Pick` to get the properties from it.

[2020-03-09 06:08] #3514 closed

[2020-03-09 06:09] dotansimha commented on #3574
Option 2 sounds good! :)
Thanks @andycmaj

[2020-03-09 06:48] dotansimha commented on #3564
You are right, thanks @adam1658 . Thank you for the super useful reproduction.
It seems like when dealing with `documentNode` mode, we need to spread `SomeFragment.definitions` into the operation or the fragment that uses it.
The goal is to make sure each fragment is defined once, and spread is being done to merge those.

I'll take a look :)

[2020-03-09 07:25] kamilkisiela commented on #3590
@dotansimha @ardatan we could collect keys and iterate over `schema` and `documents` to look for it, then with `dependency-graph`, we have a nice solution. When it's a glob, then we check if it matches. It's not expensive but may help a lot.

[2020-03-09 08:21] kamilkisiela commented on #3466
@dotansimha @schmod https://github.com/dotansimha/graphql-code-generator/pull/3601

The `mapperTypeSuffix` was broken even before my PR, now it should be fine.

[2020-03-09 08:36] lkleuver commented on #3066
Here is a repo with where the bug is reproduced:
https://github.com/lkleuver/graphql-codegen-fragment-test

I did some digging [here](https://github.com/lkleuver/graphql-codegen-fiddle/tree/master/dev-test/fragment-test) and I thought it might be because of the level of the Page fragment is overwritten to 1 while it's also 0.

if you switch **query Pages** with **query Books** the fragment imports

[2020-03-09 08:51] marcoreni commented on #3549
I tested the alpha version and it seems to work.

Thanks, @dotansimha !

[2020-03-09 08:59] marcoreni commented on #3486
I think this is still an issue with ResolversType and ResolversParentType

eg:
[code]

[code]

[2020-03-09 10:20] kamilkisiela commented on #3590
@dotansimha @ardatan @sarink
https://github.com/dotansimha/graphql-code-generator/pull/3603

[2020-03-09 10:28] dotansimha commented on #3564
With the upcoming `documentMode: documentNodeImportFragments` (available now with `1.12.3-alpha-d59d427f.102`) you'll be able to use it and have a similar outputs, but without duplications.

With `documentNodeImportFragments` you'll get in your test:

[code]

In the case of regular `documentNode`, it should duplicate the fragments, and I fixed it in: https://github.com/dotansimha/graphql-code-gene

[2020-03-09 10:32] dotansimha commented on #3066
Thanks @lkleuver , this is really helpful. Trying to fix that now :)

[2020-03-09 10:48] ducthienbui97 opened #3604 "Generated java code throws null pointer exception if nullable array of input argument is null"
**Describe the bug**

For schema below
[code]
Java output will be
[code]
if ``args.get("users")`` is null then``((List<Map<String, Object>>) args.get("users")).stream().map(UserDataInput::new).collect(Collectors.toList())`` will throw null pointer exception even if the array is nullable.
It should check null before use ``args.get("users")``. Desired output should be something like this
[code]
**To

[2020-03-09 11:09] dotansimha commented on #3486
@marcoreni Not all plugins supports `declarationKind`. PRs are always welcome.

[2020-03-09 12:30] dotansimha commented on #3066
I think I managed to fix that in: https://github.com/dotansimha/graphql-code-generator/pull/3606

@lkleuver can you please try the alpha version `1.12.3-alpha-b89e11fd.107`?  I tested it with your repo, and it seems to work now.

[2020-03-09 12:46] lkleuver commented on #3066
whoaah seems to work, awesome!
Finally I can stop vscode "add missing imports" 10 times :)

[code]

[2020-03-09 13:11] dotansimha commented on #3525
I think this was fixed in the recent PRs. Can you please try `1.12.3-alpha-b89e11fd.107`?

[2020-03-09 13:14] dotansimha commented on #3468
@mvestergaard any luck with `1.12.3-alpha-b89e11fd.107`? If not, can you please share a reproduction in a repo/sandbox?

[2020-03-09 16:28] dotansimha commented on #3486
Fixed in `v1.13.0` for `typescript` plugin

[2020-03-09 16:28] #3486 closed

[2020-03-09 16:28] #3564 closed

[2020-03-09 16:28] dotansimha commented on #3549
Available in `v1.13.0`

[2020-03-09 16:28] #3549 closed

[2020-03-09 16:28] dotansimha commented on #3466
Fixed in `v1.13.0`

[2020-03-09 16:28] #3466 closed

[2020-03-09 16:28] dotansimha commented on #3584
Fixed in `v1.13.0`

[2020-03-09 16:28] #3584 closed

[2020-03-09 16:29] dotansimha commented on #3504
Fixed in `v1.13.0`

@Aleksion you can either use `documentNode` or `noGraphQlTag` option for that.

[2020-03-09 16:29] #3504 closed

[2020-03-09 16:29] dotansimha commented on #3511
Fixed in `v1.13.0`

[2020-03-09 16:29] #3511 closed

[2020-03-09 16:29] dotansimha commented on #3112
Fixed in `v1.13.0`, thanks @rintaun

[2020-03-09 16:29] #3112 closed

[2020-03-09 16:29] dotansimha commented on #3464
Fixed in `v1.13.0`

[2020-03-09 16:29] #3464 closed

[2020-03-09 16:29] dotansimha commented on #3478
Available in `v1.13.0`

[2020-03-09 16:29] #3478 closed

[2020-03-09 16:30] dotansimha commented on #2365
Fixed in `v1.13.0`

[2020-03-09 16:30] #2365 closed

[2020-03-09 16:30] dotansimha commented on #3322
Fixed in `v1.13.0`

[2020-03-09 16:30] #3322 closed

[2020-03-09 18:08] roborich opened #3609 "near-operation-file imports unused types"
**Describe the bug**
While using the `near-operation-file` preset.  The plugin correctly imports the file from my `baseTypesPath`, however.  If a particular operation file only uses default Scalar types that can be generated without the types, it will still import the unused types from `baseTypesPath`.

**To Reproduce**
Steps to reproduce the behavior:
- have a tsconfig file with `noUnusedLocals`

[2020-03-09 18:25] moun3iim opened #3610 "can't use __typename inside async function"
**Describe the bug**
I get Type error when I try to use `__typename` inside `async` function

1. this work fine

[code]
but here when I add `async` I get the error
[code]

The error

[code]

2. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS: Ubuntu 19.10
- `"@graphql-codegen/cli": "^1.12.2"`
- `"@graphql-codegen/typescript": "1.1

[2020-03-09 18:55] tuurbo opened #3612 "Possible fragment bug introduced in v1.13.0"
**Describe the bug**
As of v1.13.0 i'm getting ```GraphQL error: Unknown fragment "Me".``` Looks like if a fragment has the same name as a query the fragment is not included in the operation. If I rename ```Me``` to ```MeFoo``` it will add ```MeFoo``` to the operation.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:
[code]

2. My GraphQL operations:
[code]

3. My `codegen

[2020-03-09 21:00] xiaoyu-tamu commented on #3612
I have the same problem

[2020-03-10 08:46] cosmocoder commented on #3445
The problem persists with v1.13.0 too

[2020-03-10 09:31] dotansimha commented on #3609
@roborich can you please share a live reproduction in codesandbox/repo/failing test?

[2020-03-10 09:34] dotansimha commented on #3610
@kamilkisiela can you please take a look?

[2020-03-10 09:39] dotansimha commented on #3612
@xiaoyu-tamu @tuurbo thank you for reporting this.
Can you please share a reproduction in codesandbox / repo? I tried to add a failing tests, but couldn't reproduce the error you mentioned.

[2020-03-10 09:44] ducthienbui97 opened #3616 "Java Enum valueOfLabel parameter has to explicitly casted to String"
**Describe the bug**
Related to #3584
Introduced in #3585
Sorry my MR introduced the bug
For
[code]
Generated java is
[code]
However, `args.get("sort")` is of type `Object` while parameter of `ResultSort.valueOfLabel` is `String`. So `args.get("sort")`  has to be explicitly casted to `String`
It has to be
[code]
instead
**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[cod

[2020-03-10 09:49] dotansimha commented on #3445
@cosmocoder I can only recommend you to try remove lock file, remove node_modules and reinstall all dependencies.
The issue mentioned here happens when there is a mismatch between graphql-config / graphlq-cli / graphql-codegen / graphql-toolkit versions, sometimes caused by an incorrect/outdated generated lock file.

Please share a live reproduction or a repo, as we not able to reproduce this.

[2020-03-10 09:50] #3445 closed

[2020-03-10 10:46] darkbasic commented on #3475
@dotansimha the feature could make sense for another use case. Let's say that you want to use a `.d.ts` declaration file instead of a `.ts` one, but you also **don't** want to use `enumsAsTypes`: in that situation it could be useful to generate an additional `.ts` file with only the enums, so you can import them through your application while maintaining your declaration file.

[2020-03-10 10:52] leethree commented on #3289
it seems that the loaders are added to `@graphql-codegen/cli` in #3087. it feels strange to me as it defeats the purpose of `@graphql-codegen` being a highly customisable and plugin-based tool?

also from reading the documentation, it mentions [Custom Schema Loader](https://graphql-code-generator.com/docs/getting-started/schema-field#custom-schema-loader). Is it still supported? If so, could we ju

[2020-03-10 11:07] kamilkisiela commented on #3610
@dotansimha I don't think there's something we could do... It's TypeScript that has no idea how to compare a string with an actual value.

adding `as const` will solve the problem on consumer-side.

@moun3iim In your example, if you set `"LoginResponse" as const` then it will treat it as a value not as a string.

This type of annotation is called `const assertions`. Here's more about the problem:

[2020-03-10 12:15] kamilkisiela commented on #3538
#3618

[2020-03-10 12:28] darkbasic opened #3619 "[Regression] enums ValueMaps don't get generated anymore"
Apollo allows you to customize the internal values of your GraphQL enums: https://www.apollographql.com/docs/apollo-server/schema/scalars-enums/

That means that in you resolvers you will do something like this:

[code]

Unfortunately that will break the generated types because in `Resolvers` there will be no property set for the enum field.

[Older](https://github.com/dotansimha/graphql-code-gene

[2020-03-10 14:16] rynti commented on #3612
I have the same issue, although I'm using `typescript-react-apollo` instead of `typescript-apollo-angular`.

After updating the graphql-codegen packages to 1.13.0, it looked like this in my diffs:

[code]
(The fragment document is not included in the string anymore)

And it seems that when the client now performs this query, it uses the fragment inside the query with the spread operator, but doesn

[2020-03-10 14:37] JClackett commented on #3612
Same here, @rynti's explanation matches what i am getting too

Error:
[code]

[2020-03-10 14:46] JClackett commented on #3612
Sounds strange, but for me it seems to be only happening on the MeFragment, all other queries are fine??

this is the diff after generating when on v1.13.0 ...

[code]

[2020-03-10 15:39] rynti commented on #3612
I found out how to reproduce this: **The bug occurs when the fragment has the same name as the query.**

I set up a project on codesandbox.io: https://codesandbox.io/s/objective-chandrasekhar-l9nso

I wasn't able to make the graphql generator work in the sandbox, so you have to download the project as a ZIP and run `npm install` & `npm start` yourself.

Here are the steps to reproduce the bug:
1.

[2020-03-11 06:37] dotansimha commented on #3610
@kamilkisiela we can generate const assertions in base `typescript` already, it's done by @DragorWW in https://github.com/dotansimha/graphql-code-generator/pull/3569 , is it enough for that? or something is still missing?

[2020-03-11 06:39] dotansimha commented on #3475
@darkbasic I see. I'm not sure if it's related, but does const enum assertions works in `d.ts` files? (see https://github.com/dotansimha/graphql-code-generator/pull/3569) because this might help with that situations.
It shouldn't be too complicated to create a small plugin that only generates enums, and it can share the same logic as the existing plugins... PRs are welcome ;)

[2020-03-11 06:40] dotansimha commented on #3289
@ardatan what do you think about allowing developers to specify additional loaders in config file? something like that:

[code]

And only if `apollo-engine` is specific, it will load it's package lazily and use it.

[2020-03-11 06:42] dotansimha commented on #3619
Thank you for reporting this @darkbasic .
@kamilkisiela what do you think? I think we can add it to the signature, shouldn't be too complicated.

[2020-03-11 06:47] ardatan commented on #3470
@GiancarlosIO You can do this with GraphQL Codegen already;
For example
[code]

[2020-03-11 07:08] ardatan commented on #3289
@dotansimha It sounds good but this might cause a breaking change for existing users.

[2020-03-11 07:11] dotansimha commented on #3289
@ardatan I think it's something we can go with, we first need to decide with loaders should be there by default, and which are optional via config.

[2020-03-11 07:14] ardatan commented on #1918
Does `useIndexSignature: true` work for you? @denkristoffer

[2020-03-11 07:20] dotansimha commented on #3612
@rynti we have a ready-to-use codesandbox template for the codegen, it could be found here: https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template (and it's also part of the issue template)

I think I managed to find and fix the issue, see: https://github.com/dotansimha/graphql-code-generator/pull/3621

@tuurbo @rynti @xiaoyu-tamu can you please try the alpha vers

[2020-03-11 09:06] rynti commented on #3612
Can confirm that the issue doesn't occur anymore with version `1.13.1-alpha-6bbc3dae.9`, thank you for the quick fix! 🎉👍

[2020-03-11 09:12] JanDonnermayer opened #3622 "Are dotnet plugins ( F# or C#) planned?"
I would like to use the generator to create F#  types.
Is something like this on the roadmap?

At the moment, F# type-providers exist for GraphQL. However, they cannot create reusable class-libraries.

[2020-03-11 10:21] darkbasic commented on #3475
@dotansimha that's the problem: const enums don't work in `.d.ts` files either.

[2020-03-11 10:52] darkbasic opened #3623 "[RFC] Automate enumValues generation"
When dealing with SQL databases most of the times the enums will store simply integer values, like:
[code]
Having to specify the following for each of them could be annoying:
[code]

It would be nice to have a way to specify defaults other than the name of the value.

Something like:
[code]
which would be obviously overridden by `enumValues` itself.

[2020-03-11 11:58] yoavain-sundaysky opened #3624 "Like typescript-document-nodes, but for schema"
We use a tool called [gql-generator](https://github.com/timqian/gql-generator) to generate gql files from the server's schema (rather then the client's document files).
The way this tool works is it creates a single file for every query/mutation.
The generated file contains all query fields, and its depth is configurable (i.e. if depth=2, it also adds all fields of any Type it finds in the query's

[2020-03-11 18:37] tuurbo commented on #3612
@dotansimha alpha version works for me. Thanks!

[2020-03-11 20:01] suhailbinnisar opened #3627 "export enum as string type"
I have an enum
[code]
currently, it is generating as
[code]

but I would like to get  it as:
[code]

[2020-03-11 22:59] zorji commented on #3525
@dotansimha I've tested 1.13 and it's still an issue.

The issue is, it generates references to `FragmentDoc` regardless of whether `FragmentDoc` was generated or not.

Having `preset: near-operation-file` can reproduce this issue.

Looks like @mjbcopland pointed out where the issue is because that `if` always evaluate to `true`.

[2020-03-12 00:20] pachuka commented on #3066
Is there a way to prevent it from importing the FragmentDoc? This mostly fixes my issue, but I don't need the FragmentDoc imports since it doesn't seem to be referenced anywhere in the types I have generated.

[2020-03-12 09:09] darkbasic commented on #3627
You're looking for the `enumsAsTypes` option, see https://graphql-code-generator.com/docs/plugins/typescript

[2020-03-12 09:20] suhailbinnisar commented on #3627
it's still generating in this format:
[code]
i tried both **plugin** level and **global** level

[2020-03-12 09:46] dotansimha commented on #3627
@suhailbinnisar `enumsAsTypes` should work. Can you please share you configuration? Which version do you use?

[2020-03-12 09:57] suhailbinnisar commented on #3627
My codegen.yml
[code]

partial screenshot of generated file

![Screenshot from 2020-03-12 15-40-24](https://user-images.githubusercontent.com/61163044/76509273-da9f9a00-6477-11ea-984b-d6acf0d982fb.png)

[2020-03-12 10:49] mvestergaard commented on #3468
Just tried `1.13.0`, and it's still not working there.

I haven't really had time to create a reproduction, but it should be fairly easy to replicate,
Use `preset: near-operation-file` and `documentMode: external`, then create a file containing a fragment, and another containing a query, that references the fragment.
The query file will try to import `<FragmentName>Doc` from the generated fragment

[2020-03-12 11:35] suhailbinnisar commented on #3627
done!

[2020-03-12 21:51] standy opened #3632 "Prettier: increase readability with lower the value of printWidth"
Some lines in source code don't fit in my screen by far, could we change prettier's settings for `printWidth` from 250 to 120?
Prettier itself recommends 80 https://prettier.io/docs/en/options.html#print-width

I'm on 24 inches monitor fullscreen, and still, this line is killing me :) https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript/operations/src/visito

[2020-03-12 22:45] pachuka commented on #3632
We use our own prettier configuration in the repo combined with code-gen's hooks support:

[code]

This will format the files based on our npm `prettier:fix` script.  That will then follow whatever rules you have setup for your own project.

[2020-03-13 00:35] standy commented on #3632
Thank you for the response!
But I am telling about  `graphql-code-generator` repo. This line to be precise: https://github.com/dotansimha/graphql-code-generator/blob/master/.prettierrc#L4

I want to contribute, but reading the code with the horizontal scroll is not so easy.

[2020-03-13 07:47] darkbasic commented on #3627
It's enumsAsType**s** with the final s

[2020-03-13 08:16] suhailbinnisar commented on #3627
@darkbasic  oh man, thanks a lot, I should really start copy-pasting even small things word-to-word from docs, thanks a lot

[2020-03-13 08:16] #3627 closed

[2020-03-13 10:35] darkbasic commented on #3627
@dotansimha maybe we should throw an error (or at least a warning) when we parse un unknown option?

[2020-03-13 14:22] schmod commented on #3466
Can confirm that both issues are fixed in `1.13.0`.

Thank you so much for the attention to detail that you've given this project!

[2020-03-13 14:48] maapteh opened #3634 "question: possible to have no comments at all in ast schema?"
Hi, we use also have a generated schema that we simply use for automated diff checking. But we constantly update our schema with better descriptions for which this schema then changes.
It's not a big deal but would it also be an idea to have the possibility to turn it off?

https://graphql-code-generator.com/docs/plugins/schema-ast#usage-example-1

[2020-03-13 15:24] maapteh commented on #3634
we will also use graphql-schema-linter for this file, then never mind :)

[2020-03-13 18:07] pachuka commented on #3632
@standy - ah, sorry my mistake! That's what I get for skimming.

[2020-03-14 07:12] devuxer opened #3636 "Question: Possible to generate types for Gatsby plus Apollo Client?"
I can't figure out how to configure graphql-codegen to work in a Gatsby project that has an Apollo Client schema that I query via `gql` and a Gatsby schema that I query via `graphql`.

I'm able to get it to parse my codegen.js file, load the schemas, and load the documents successfully, but no matter what I do with `pluckConfig`, the generator chokes. It appears it's trying to process `graphql` qu

[2020-03-14 18:41] devuxer commented on #3636
Followup: I just tried a test where I replaced my `documents` properties in codegen.js with specific file paths instead of globs like `"./src/**/*.{ts,tsx}"`, and it worked! So, I think this adds strength to my suspicion that, at least as I have it configured, graphql-codegen scan both `gql` and `graphql` queries.

So I think my question reduces down to: how do you configure graphql-codegen to sca

[2020-03-14 22:11] standy opened #3638 "[typescript-operations] preResolveTypes generate incorrect optional types"
**Describe the bug**

Optional types should be marked with `?`

Current behavior:
[code]

Expected behavior:
[code]

**To Reproduce**
There is an example in `dev-test` folder:
https://github.com/dotansimha/graphql-code-generator/blob/master/dev-test/githunt/types.preResolveTypes.ts#L177

[2020-03-14 22:50] devuxer commented on #3636
Another followup: I was able to get the Apollo Client generator to stop trying to scan Gatsby queries with the following config:

[code]

Unfortunately, this was not a solution on the Gatsby generator side, as it still continued to try to scan Apollo Client queries (possibly because `gqlImport` is not a recognized config property if not using the `typescript-react-apollo` plugin.

[2020-03-14 23:28] aappddeevv opened #3640 "link to new code generator"
I needed to build a codegen plugin for @graphql-codegen. Can it get linked to your site as a reference? https://github.com/aappddeevv/graphql-codegen-scala

[2020-03-15 06:52] moun3iim commented on #3610
I can't understand, should I edit "LoginResponse" in the generated file !!

[2020-03-15 12:22] bennyKY opened #3641 "Nested enum import - typescript"
In order to describe an external enum mapping we need to mention:

The required enum (placed in server/proto/service_pb.d.ts):
[code]

gql-schema:
[code]

codegen.yml - **there is no way to import nested enum in namespace**
[code]

will generate in graphql.ts:
`import { EmailOnlyLoginRequest as LoginOrigin } from 'server/proto/service_pb';`

which is obviously wrong, it refer to the namespace rath

[2020-03-15 15:15] dotansimha commented on #3641
@kamilkisiela we can apply the same rules we have in `mappers`, right?

[2020-03-15 20:01] suhailbinnisar opened #3642 "Making non-scalar types optional or omit while generating resolver types??"
Hey, coolest folks in graphql world,

Let's say I have this schema:
[code]

and this resolver(s):
[code]

now to gotcha is in Query -> user resolver, generated resolver expects Query -> user to resolver posts too but since I am using **Prisma** and **Prisma** will only send scalar fields, so it shows an error,

so is it possible to make non-scalar types options while generating resolver types??
(h

[2020-03-15 22:25] ardatan commented on #3642
If you have a different return type in resolvers, you can use `mappers`
https://graphql-code-generator.com/docs/plugins/typescript-resolvers#mappers-object

[2020-03-16 07:27] dotansimha commented on #3642
Exactly as @ardatan said, you can use `mappers` to map your GraphQL types into a your model (prisma) types and codegen will use it as return/parent value where needed.

[2020-03-16 07:27] #3642 closed

[2020-03-16 07:42] dotansimha commented on #3610
@moun3iim no, you should add it to the code you are writing :)

[code]

[2020-03-16 07:42] #3610 closed

[2020-03-16 07:50] dotansimha commented on #3640
This is awesome! Sure @aappddeevv , I added this to the docs, and we'll soon push a new version of the website.
Thank you!

[2020-03-16 07:50] #3640 closed

[2020-03-16 08:28] dotansimha commented on #3632
Updated in `master` to 120. Thanks @standy ! and thank you for your contributions ;)

[2020-03-16 08:28] #3632 closed

[2020-03-16 08:42] dotansimha commented on #3634
Hi @maapteh !
We can add this in codegen as config, you don't have to use additional tools for that :D

[2020-03-16 09:50] dotansimha commented on #3627
@darkbasic we will create soon JSON schema validation for the YAML files, I think it will help to avoid those issues :)

[2020-03-16 09:53] dotansimha commented on #3624
Hi @yoavain-sundaysky !
This sounds like a cool idea, and we already have an open for this: https://github.com/dotansimha/graphql-code-generator/issues/2349

PRs are welcome ;)

[2020-03-16 09:53] #3624 closed

[2020-03-16 09:56] dotansimha commented on #3622
Hi @JanDonnermayer !
We don't have C# or F# plugins that are maintained by use at the moment.

The following might help you?

- https://github.com/netspective/graphql-codegen-csharp
- https://github.com/agoda-com/graphql-codegen-csharp

The reason we don't have our own plugins for .NET moment is because we are not using it regularly in our projects, so it's hard for us to generate the optimal code

[2020-03-16 09:58] dotansimha commented on #3623
@darkbasic with `enumValues` you can point to a file and a enum identifier, without the need to deal specifically with each value. Does that help you? It should allow you to point it like that: `enumValues: ./my-file#Sex`

[2020-03-16 10:00] dotansimha commented on #3525
@zorji I think just using near-operation-file` doesn't reproduce it, it might be something specific to your setup. We have tested `near-operation-file` with different setups and it seems to work, but we probably missed one of the edge cases.

Can you please create a reproduction for this? with the recent alpha `1.13.1-alpha-84171f94.18`.

[2020-03-16 10:01] dotansimha commented on #3066
@pachuka I think `documentMode: documentNodeImportFragments` and it will skip importing fragments at all. Can you please try it? (it's available only in 1.13.0)

[2020-03-16 10:03] dotansimha commented on #3468
I see, thanks @mvestergaard !
This might have been fixed in https://github.com/dotansimha/graphql-code-generator/pull/3628 by @wassim-k , but I'll try to reproduce it anyway.

Btw, I think `documentMode: documentNodeImportFragments` might solve those issues for you?

[2020-03-16 10:22] mvestergaard commented on #3468
I quickly gave `documentMode: documentNodeImportFragments` a shot, and that just leads to other problems.

It puts the query document into the generated file containing code that doesn't work, for example here:
[code]

No import of `gql` is put into the file, so that causes and error.
And the `UserSelectorUserFragmentDoc` is not imported into the file either, so that also causes an error

[2020-03-16 10:57] wassim-k commented on #3468
I haven't encountered the gql tag not being imported issue but my fix should handle the fragment imports correctly.

[2020-03-16 11:00] darkbasic commented on #3623
@dotansimha  in the codegen config maybe, but I will still have to specify the following in `my-file`:

[code]

With your solution I will still have to manually create the enums I use for the SQL tables, which could be fine **if** our source of truth wasn't the schema. Because of that I'd rather generate the enums from the schema instead of having to duplicate them (one time is the schema and anot

[2020-03-16 11:25] mvestergaard commented on #3468
I tried upgrading to the latest `canary` build and using `documentNodeImportFragments`, which works.

I honestly like the original approach with `documentMode: external` better though.

[2020-03-16 11:33] mvestergaard commented on #3468
The reason I like "external" better is that it actually references the original file, which these other approaches don't.

It's not a huge issue, but allows for tooling that detects unused files for example.

[2020-03-16 11:48] zorji commented on #3525
@dotansimha Hi, I've created a reproduction here https://github.com/zorji/graphql-codegen-3525

Simply run `npx graphql-codegen` and check the generated file `query.types.d.ts`. Thanks.

[2020-03-16 12:11] aappddeevv opened #3643 "make convertFactory more reusable"
It would be nice to reuse the NamingConvention parameter across generators. Currently, the visitor-plugin-common/src/naming defines a convertFactory that can only apply different naming functions (enum or types) if the input is an AST node. If the convertFactory were to return a data structure with a converter for each possible naming scenario e.g. an object `{ types: ...some func..., enum: ...som

[2020-03-16 15:11] dotansimha commented on #3525
Thanks @zorji .
Your config file seems a bit messy, I first did the following steps:

1. Use the correct configurations. Why do you need to generate operations and resolvers in the same context? is it for client-side state?

It could simply look like that:

[code]

3. Regarding the actual bug, I did noticed the import for `..FragmentDoc`. It happens because we expect it to be there, because we ass

[2020-03-16 15:11] dotansimha commented on #3525
@zorji It seems like `1.13.1-alpha-a7a3c762.19` fixes the issue in your reproduction.

[2020-03-16 15:11] dotansimha commented on #3468
@mvestergaard I added some fixes and tests for the combination of `near-operation-file` and `documentMode`. Not sure if it covers your use case, as I was trying to fix https://github.com/dotansimha/graphql-code-generator/issues/3525 which seems a bit related.

Alpha is available: `1.13.1-alpha-a7a3c762.19`, can you give it a try?

[2020-03-16 15:16] mvestergaard commented on #3468
@dotansimha That did the trick 👍

[2020-03-16 15:19] pachuka commented on #3066
Hmm, I still need the Fragments though.. my issue might be the same as #3525 - @dotansimha  will try the update there/reply there! Thanks for the fast responses and updates, really appreciate it!

[2020-03-16 15:27] JanDonnermayer commented on #3622
Hi @dotansimha,

thanks for your reply! The links are super helpful!
I will evaluate both of them, as well as contributing to this repo.

[2020-03-16 15:38] pachuka commented on #3525
@dotansimha - `1.13.1-alpha-a7a3c762.19` fixes my issue as well!

[2020-03-16 16:35] aappddeevv commented on #3640
Thanks. I suggest *not* pulling in the entire readme as it will change rapidly as I add new features. Just a light reference would be great.

[2020-03-16 16:42] dotansimha commented on #3640
@aappddeevv I added a link to the repo in the list of available plugins :)

[2020-03-16 18:23] mjbcopland commented on #3525
I think I've found the actual root of this issue and a proper fix. Note that the fix in #3644 doesn't actually fix the problem; it only works for the reproduction because it isn't using any of the whitelisted plugins. As an example, I've forked the reproduction [here](https://github.com/mjbcopland/graphql-codegen-3525) and added the typescript-document-nodes plugin.

What I think is causing the is

[2020-03-16 22:47] zorji commented on #3525
@dotansimha Thanks! Sorry I tried to copy the codegen from one of the existing project and delete the unrelevant stuff so it was a bit messey. And we use Vue instead of React/Angular maybe that's why.

[2020-03-17 09:54] ardatan commented on #3447
@dotansimha It is fixed in graphql-toolkit
https://github.com/ardatan/graphql-toolkit/commit/a8b136580d13ef933950c5a7515e735f158efb28

[2020-03-17 10:04] dotansimha commented on #3447
@ardatan can you please release new toolkit? or maybe with @kamilkisiela 's new changes?

[2020-03-17 12:08] id-ilych opened #3650 "Allow "useless" type switches"
**Is your feature request related to a problem? Please describe.**

Too strict checks prevent preparations for backend changes. In particular, it forces extra transition steps to expand unions.

[code]

**Describe the solution you'd like**
I would like to be able to add `... on Buz` type switches to fields whose type is not supposed to be compatible. So that I can prepare for further backend chang

[2020-03-17 14:14] dotansimha commented on #3641
Hi @bennyKY

I've implemented it in this PR: https://github.com/dotansimha/graphql-code-generator/pull/3651

The changes are available in this alpha version: `1.13.1-alpha-612fffa4.26`.

Use it the same way you did before, but it should give you now something like that:

[code]

[2020-03-17 14:26] dotansimha commented on #3623
I see. Got it. PRs are welcome ;)

[2020-03-17 14:27] dotansimha commented on #3650
@kamilkisiela @ardatan what do you think?

[2020-03-17 14:28] dotansimha commented on #3636
It does, and at the moment you can only add more identifiers to look for using `pluckConfig`.
@devuxer any chance you can create a reproduction in a codesandbox / repo? I will make it simpler for us reproduce and fix.

[2020-03-17 14:29] dotansimha commented on #3643
@kamilkisiela @ardatan what do you think?

[2020-03-17 16:12] dotansimha commented on #3641
Available in `v1.13.1` 🎉

[2020-03-17 16:12] #3641 closed

[2020-03-17 16:12] dotansimha commented on #3638
Fixed in `v1.13.1` 🎉

[2020-03-17 16:12] #3638 closed

[2020-03-17 16:13] dotansimha commented on #3525
Fixed in `v1.13.1` 🎉 We'll still improve the implementation in the future, but the current fix should solve the issues.

[2020-03-17 16:13] #3525 closed

[2020-03-17 16:13] dotansimha commented on #3468
Fixed in `v1.13.1` 🎉

[2020-03-17 16:13] #3468 closed

[2020-03-17 16:13] dotansimha commented on #3141
Available in `v1.13.1` 🎉

[2020-03-17 16:13] #3141 closed

[2020-03-17 16:13] dotansimha commented on #3612
Fixed in `v1.13.1` 🎉

[2020-03-17 16:13] #3612 closed

[2020-03-17 16:13] dotansimha commented on #3538
Fixed in `v1.13.1` 🎉

[2020-03-17 16:13] #3538 closed

[2020-03-17 16:13] dotansimha commented on #3616
Fixed in `v1.13.1` 🎉

[2020-03-17 16:13] #3616 closed

[2020-03-17 16:13] dotansimha commented on #3590
Fixed in `v1.13.1` 🎉

[2020-03-17 16:13] #3590 closed

[2020-03-17 16:14] dotansimha commented on #3581
Done in `v1.13.1` 🎉  thanks @standy

[2020-03-17 16:14] #3581 closed

[2020-03-17 16:17] dotansimha commented on #3447
Fixed in `v1.13.1` 🎉

[2020-03-17 16:17] #3447 closed

[2020-03-17 18:02] tqhoughton commented on #1219
I'm getting an error `Unable to find template plugin matching add` when I use that codegen.yml. Any idea what I could be doing wrong? I'm using the latest version of the @graphql-codegen/cli

[2020-03-17 18:05] smeijer commented on #1219
@tqhoughton, did you `npm i @graphql-codegen/add`?

[2020-03-17 18:10] tqhoughton commented on #1219
Oh, duh. Looks like that fixed it. Thanks!

[2020-03-18 00:36] adelsz commented on #3453
@f3d0r This is fixed in v1.13.1
Kudos to this PR https://github.com/ardatan/graphql-toolkit/pull/477

[2020-03-18 01:35] f3d0r commented on #3453
Thank you!

[2020-03-18 07:09] #3453 closed

[2020-03-18 07:10] dotansimha commented on #3580
@kije any update?

[2020-03-18 09:36] remorses opened #3660 "Cannot use cli if installed globally"
**Describe the bug**
When i try to generate using the plugins installed as global packages i get
[code]
If i enable debug with `DEBUG=*`
[code]

**To Reproduce**
Install the plugins and cli globally and try to generate anything

[2020-03-18 09:39] remorses commented on #3660
I think this is because you check that the grapqhl module is the same for the generated packages and the cli,

can you remove this check?
there are so many cases where the graphql packages are different,

i was using the following config in a monorepo and was working quite well
[code]

As you can see there is no way i can use the same graphql module for all packages here

[2020-03-18 09:53] dotansimha commented on #3660
@remorses This error is coming from `graphql` itself, and not from the codegen. `graphql` cannot run with multiple instances of the package. This check is not coming from codegen's code.
If you project needs codegen, so it should be listed in your `devDependencies`.

We don't recommend to use codegen from a globally installed instance, please install it as dev dependency and use it this way.
If yo

[2020-03-18 10:00] remorses commented on #3660
As you can see in the config in the comment above I have a monorepo and I generate the files for every package from a single root config

I do this to not install the generator plugins for every project and every package, and I would like to have a single config for all the generated files

Maybe I could use yarn workspaces and install graphql as a root package together with the generator

[2020-03-18 10:29] remorses commented on #3660
Resolved using yarn workspaces, i added the generator as a top dependency and installed same graphql package version in every workspace
[code]

[2020-03-18 10:29] #3660 closed

[2020-03-18 10:33] ljukas commented on #1935
I'd like to raise this issue. It is not a duplicate of #1885. That issue refers to setting the avoidOptionals indecently between input and output types. This issue wants the same functionallity for the maybeValue.

My issue is that I want maybeValues for inputs to be T | undefined, and T | null for outputs. Or this possible? Maybe I'm misunderstanding something.

[2020-03-18 13:51] fetis opened #3664 "Error reporting is confusing"
Hello,

I'm migrating from version 0.18 to v1.0 and got an error

The problem is that I get this error for _every file_ (~60 files) which in my document list. So it looks like the error is triggered on one of the documents and then just repeated for every next file whenever it has problems or not.