[2018-09-18 07:26] dotansimha commented on #548
@KeithGillette any chance you can add an example?

[2018-09-18 07:27] #491 closed

[2018-09-18 07:49] kamilkisiela commented on #619
In terms of displaying an error, yes.

[2018-09-18 09:13] dotansimha commented on #619
@furier I'm not sure if that's something with GitHub, but the `schema.json` file you uploaded is not valid JSON, it's breaking in the middle of it:
![image](https://user-images.githubusercontent.com/3680083/45677152-c9502880-bb33-11e8-80d0-1c94216634b7.png)

Can you please try to upload it to a different place?

[2018-09-18 10:00] dotansimha commented on #619
Also, @furier, according to your command: `gql-gen --schema schema.json --template graphql-codegen-typescript-template --out types.ts`, you are generating typings for the schema, without GraphQL documents, right?

[2018-09-18 10:14] dotansimha commented on #621
Fixed in v0.12.4. Thanks @jonaskello !

[2018-09-18 10:14] #621 closed

[2018-09-18 10:14] dotansimha commented on #619
@furier , If you do have GraphQL documents, you can try v0.12.4. Thanks to @jonaskello , now the error are printed in a better and readable way, and it's pointing to the file with the errors.

[2018-09-18 10:15] dotansimha commented on #389
@appsolutegeek , Sorry for the delay. And yeah it will help :) Did you make sure to run `yarn build` before publishing it?

[2018-09-18 10:16] dotansimha commented on #396
@jasonkuhrt can you please try what @ardatan suggested?

[2018-09-18 10:17] dotansimha commented on #418
@kabytaa ?

[2018-09-18 10:17] #430 closed

[2018-09-18 10:18] dotansimha commented on #435
Closing this. `PROJECT` is not widely use at the moment, and it's possible to create customized templates with the custom output processors, or with a custom template (and you don't have to use Handlebars now)

[2018-09-18 10:18] #435 closed

[2018-09-18 10:27] jonaskello commented on #621
Sure I'll give it a go in a separate PR :-).

[2018-09-18 10:31] furier commented on #619
@dotansimha the `schema.json` file is updated, and it look like it is not the problem, the problem lies in the frontend graphql queries and mutations in gql tags in ts files.

[2018-09-18 10:33] kamilkisiela commented on #619
@furier How many queries do you have? Maybe try to find the ones with `$` sign and then put them here https://astexplorer.net, it should show what's wrong

[2018-09-18 10:42] furier commented on #619
got any easy ways to extract everything from all gql tags in *.ts files?

[2018-09-18 10:45] furier commented on #619
Sorry @dotansimha I do include documents but since the braking change happened after backend changes i assumed it was the backend that was the problem and left it out, however I am no longer convinced of that. I guess there is a matching from `schema.json` on gql tags on frontend and there is a mismatch witch causes the breaking.

[2018-09-18 10:47] kamilkisiela commented on #619
@furier @dotansimha the errors says you're doing something like this:
https://astexplorer.net/#/gist/bdd952b0ca07b0aa28c6c54b1c0b02be/b88c1b9b125220da25b3e88db1d03e0b3b4890e2

I will try to find out how to validate those documents easily.

[2018-09-18 10:48] furier commented on #619
I also upgraded to `0.12.4` and I am still only seeing the error: `Syntax Error: Expected Name, found $` I have searched all ~155 tags for errors regarding `$` but all seem to check out by the naked eye.

[2018-09-18 10:49] kamilkisiela commented on #619
I don't think code gen uses schema to validates them, it happens while parsing.

[2018-09-18 11:12] dotansimha commented on #619
Yeah @kamilkisiela is right, the error comes during the `parse` and not during `validate`.
We will add a fix for it in a few minutes, but again, it's not an issue with the codegen, but an issue with one of your queries. We hope that it will help you find it faster :)

[2018-09-18 11:18] thatside commented on #555
Seems it was fixed after 12.0 - just cloned the repo to play with it and found that everything is ok :)

[2018-09-18 11:18] #555 closed

[2018-09-18 11:28] KeithGillette commented on #548
Do you mean a reproduction of the bug or an example of my recommendation for response interface naming?

[2018-09-18 11:31] dotansimha commented on #548
a reproduction or an example for input and output for the codegen

[2018-09-18 11:47] kabytaa commented on #418
Sorry for the deley. Here is the git project:

[code]

then the result will be in "_gqlEnums.ts" file.

[2018-09-18 12:00] dotansimha commented on #619
@furier please try to use `0.12.5`, it should show you the document/filename that caused this error.

[2018-09-18 12:31] dotansimha commented on #418
@kabytaa you are right :) fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/626

[2018-09-18 12:34] jasonkuhrt commented on #396
haven't been around this for a while, will do next time I am. Note there has been a new major version of GQL bindings released, of TS, so need to revisit more deeply.

[2018-09-18 12:53] furier commented on #619
Thank God (no I really mena you) for that fix, a lifesaver!

The line with the error seems to be
[code]
It is a generated query passed in to a gql tag at later stage like this `gql(query)`, I thought that the parser should only parse graphql within gql tags and not simple strings?

[2018-09-18 12:57] furier commented on #619
It works on version `0.10.3` and when we updated to version `0.10.7` and up the error started happening

[2018-09-18 13:02] dotansimha commented on #619
We are parsing the documents as string, and then pass them to GraphQL parser... for now (with an exception for fragments support, https://github.com/dotansimha/graphql-code-generator/pull/624 , that we might implement soon)
We might change it in the future to load the file as code, but then it's impossible to know which export is the correct one to use...

[2018-09-18 13:02] #619 closed

[2018-09-18 13:44] furier commented on #619
@dotansimha has there been any changes to how the tool finds fragments? we are getting a lot of `Unknown fragment "..."` errors when the GraphQL documents are validated against the schema, which we didn't use to have :O

[2018-09-18 13:47] jonaskello commented on #619
@furier  I think this is the error that I have a test for in #624. I am thinking maybe we could make a quickfix for it where we just ignore the unknown fragment errors.

[2018-09-18 13:57] jonaskello commented on #619
I did a proposal for a quickfix for this in #628.

[2018-09-18 14:05] jonaskello commented on #619
@furier The change that was made was that each file is validated against the schema separately in order to be able to print which file caused which error.

Before all graphql from all files were concatenated into one big AST and then that was validated. This made it possible to find all fragments as they existed in the single AST, however it made it impossible to know which file caused which valid

[2018-09-18 14:19] furier commented on #619
@jonaskello thanks!

[2018-09-18 14:48] KeithGillette commented on #548
Running the following command:

`CODEGEN_INTERFACE_PREFIX="I" CODEGEN_RESOLVERS=false node packages/graphql-codegen-cli/dist/cli.js --template graphql-codegen-typescript-template --schema ./dev-test/star-wars/schema.json --out ./dev-test/star-wars/types.ts "./dev-test/star-wars/**/*.graphql"`

produces the following excerpted output in `dev-test/star-wars/types.ts`:

[code]

Note that `CreateRevie

[2018-09-18 15:35] appsolutegeek commented on #389
Hi,

sorry, i went back to using the original package - so I am not overriding it anymore.

[2018-09-18 15:38] #389 closed

[2018-09-18 15:58] #552 closed

[2018-09-18 16:32] kabytaa commented on #418
I tried your fix(0.12.5) my project still not working.
Just do:

[code]

[2018-09-18 16:37] dotansimha commented on #418
@kabytaa , this fix it not published yet...  can you please try `0.13.0-alpha.106f2555`?

[2018-09-18 16:50] kabytaa commented on #418
Great, it works now.
Thanks

[2018-09-18 16:54] dotansimha commented on #418
@kabytaa great :) we'll release a stable version with this fix soon (and then i'll close the issue).
Until then you can use the alpha :)

[2018-09-18 17:55] ganeshpms commented on #528
@kamilkisiela , I am not using noGraphQLTag.

The versions are
    "graphql-code-generator": "^0.12.0-alpha.821f12df",
    "graphql-codegen-apollo-angular-template": "^0.12.0-alpha.821f12df",

Also, the issue #4 that I mentioned is resolved by using `#import './fragment/measurement.gql'` other fixes for #1,#2, #3 are still needed. I just mannually fix them after generated.

[2018-09-21 16:07] standy opened #639 "Feature Request: Make resolvers optional in Typescript template"
There is should be a way to exclude resolvers from generated types in `graphql-codegen-typescript-template`.
I have very large graphql schema and some small App. Generated types become over 20k lines, but only few of them is useful. For graphql consumers resolvers are large overhead in generated file (more then 80% for me)

[2018-09-23 15:04] shinyaohira opened #642 "Duplicate identifier error"
**Describe the bug**
Duplicate resolver type is generated.

**To Reproduce**
1. Define field `category_sports: category` as schema. (single underscore)
2. Define another field `category__sports: [category]` as schema. (double underscore)
3. Run the following command: `gql-gen -s http://somewhere/graphql -t graphql-codegen-typescript-template -o ./src/resolvers/types.ts ./src/resolvers/query.ts`
4.

[2018-09-24 13:12] FredyC opened #643 "Types are not generated for introspection query"
**Describe the bug**
I have a query like this which reads introspection in runtime to figure user permissions. Unfortunately, the generated types do not include the `GUserPermissions` type at all. But if I add something else to that query, it appears there, but without the introspection part.

[code]

**To Reproduce**
I am using API approach and call it like this. Full introspection is generated i

[2018-09-25 15:55] blissi opened #646 "Angular template: build error with unions and fragments"
Hallo,

given the following GraphQL schema:

[code]

and a fragment on the Angular side:
[code]

Produces the following piece of TypeScript code:
[code]

The type declaration "_Cod" is defined twice. The one at the bottom should be "__Cod" (two underscores).

[2018-09-26 06:52] LancelotP commented on #550
@stevefan1999-personal I've had the same problem on OSX either via cross-env or setenv or export.

I finally got it working with the file `gql-gen.json` in root :

[code]

[2018-09-26 07:00] ardatan commented on #550
I think the name of env variable is wrong in the documentation. It's supposed to be CODEGEN_NO_NAMESPACES.

[2018-09-26 07:30] JuHwon commented on #583
@douglasward I created my custom project configuration with my own templates.
This worked out super well, and I am super happy since the flexibility I have now is enormous.
You can easily extend your schema with the custom project configuration.

The following code is my `schema.js` in my project config folder.
[code]

[2018-09-26 08:55] #550 closed

[2018-09-26 09:38] douglasward commented on #583
@JuHwon great, that sounds like just what i need, thanks.

Is `aws-enhancements.graphql` the file where you extend the schema to allow directives? If so, do you have one for the `@connection` directive, or could you point me in the right direction as to how I could extend the schema to support that directive?

[2018-09-27 08:50] geotry commented on #642
It happens also for me when my schema contains both `_id` and `id` fields. It generates twice the type `IdResolver`

[2018-09-27 10:49] kamilkisiela commented on #639
Hi :)

It's already optional, there's a flag that turns that off.

https://github.com/dotansimha/graphql-code-generator/tree/master/packages/templates/typescript#resolvers-or-codegen_resolvers-default-value-true

[code]

[2018-09-27 10:51] eljenso opened #649 "[TypeScript] Add __typename to typings"
I use GraphQL interfaces.
When querying for a field that might be any type implementing a specific interface I need to know which implementation it is, for this I currently use `__typename`.

Would be great if you would add the `__typename` field for all typings (should probably be an optional field).

[2018-09-27 10:58] standy commented on #639
Oh, thank you!

[2018-09-27 10:58] #639 closed

[2018-10-01 03:09] polco opened #653 "peer dependencies warnings with @graphql-modules/epoxy"
**Describe the bug**
When installing the latest version of graphql-code-generator, there are 2 unmet peer dependencies warning caused by the CLI package.

[code]

**To Reproduce**
Steps to reproduce the behavior:
install the library

**Expected behavior**
no warning :)

**Environment:**
 - OS: macOS 10.13.6
 - Codegen: 0.12.6
 - Node: v8.12.0

[2018-10-02 05:06] robbyemmert opened #656 "No documented programmatically way to pass options to templates"
**Describe the bug**
There is a --template argument, but there is no documented way to pass arguments to that template programmatically. For example: I want to make use of graphql-codegen-typescript-template's interfacePrefix setting. I currently have no documented way for passing that setting in.

**To Reproduce**
Look at the docs, under the 'template' option. There is no mention of how to pass a

[2018-10-02 11:05] dotansimha commented on #649
@eljenso can you please provide an example for where it's missing?
We added `__typename` for all client-side generated interfaces...

[2018-10-02 11:07] dotansimha commented on #646
@blissi which version of the codegen and the template do you use?
@kamilkisiela I'm not sure it that's a core bug or a template bug.. what do you think?

[2018-10-02 11:07] dotansimha commented on #656
Thanks @robbyemmert !
I guess we need to document it better.
For now, as a workaround, you can set `process.env.CODEGEN_XYZ` to pass generator-specific config.

[2018-10-02 11:10] dotansimha commented on #643
Interesting. Thanks @FredyC !

I think we might ignore fields that starts with `__`. I'll check.

[2018-10-02 11:11] dotansimha commented on #642
It's related to the fact that our `pascalCase` handler does not bahave nicely with underscores. It removes them. We did a fix for it for fields that starts with `_`, but I guess that's not enough.

I'll take a look soon.

Thanks @shinyaohira for reporting it!

[2018-10-02 11:14] dotansimha commented on #653
Thanks @polco! I'll take a look :)

[2018-10-02 12:58] blissi commented on #646
It is

[code]

[2018-10-02 13:16] dotansimha commented on #646
@blissi Can you please try to update both to the latest?

[2018-10-02 13:20] blissi commented on #646
@dotansimha  thank you, that fixed it! I didn't check if there are newer versions, sorry for that.

[2018-10-02 13:20] #646 closed

[2018-10-02 14:19] kamilkisiela commented on #608
<img width="867" alt="zrzut ekranu 2018-10-2 o 16 18 02" src="https://user-images.githubusercontent.com/8167190/46354423-dc4c1800-c65e-11e8-9f5d-ff09fe245aee.png">

Having `T | null` instead of optional fields causes an issue when interface A doesn't fit interface B because of the missing fields.

[2018-10-02 14:29] cjnoname opened #659 "Need help for two issues"
Hey bro,

I do love this package. It's amazing and can help me a lot.
But I have two issues when using this package with typescript.

First issue:
I have some queries like
[code]

Error:
[code]

Looks like the generator does not like "@client"  syntax. But another generator can generate the code correctly.

Second issue:
[code]

The HOC is generated correctly but with a type error for operationOpt

[2018-10-02 14:41] dotansimha commented on #659
@cjnoname Which version of the codegen and the templates do you use?

[2018-10-02 14:43] cjnoname commented on #659
graphql 0.13.0 is it too old? :)
both codegen and template are at 0.12.6

[2018-10-02 14:44] dotansimha commented on #659
@cjnoname 0.13.0 should work. I'll take a look at the issue with the `@client` soon.
@ardatan can you please take a look at the issue with the React HOC template?

[2018-10-02 14:46] cjnoname commented on #659
Thank you so much for your quick response :)

[2018-10-02 14:51] dotansimha commented on #643
@FredyC We are ignoring the internal fields of GraphQL because otherwise it will bloat the results (see https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-core/src/schema/schema-to-template-context.ts#L27) .

I can make this filtering an option, and then it will solve your issue.

[2018-10-02 17:29] dotansimha commented on #659
@cjnoname And until a stable version, you can use the following alpha versions that includes this fix:
[code]

[2018-10-02 18:47] dotansimha commented on #656
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/662

[2018-10-02 19:27] dotansimha commented on #515
@arose, can you try to use the latest version of the codegen? we fixed some issues with the description a few weeks ago, and it should work now. Thanks!

[2018-10-03 03:02] polco commented on #653
I'm using 'yarn' by the way. But i guess npm should behave the same way ? :)

[2018-10-03 06:12] ardatan commented on #659
Generated typings now supports strict TypeScript settings.
It has to be fixed in the following versions;
[code]

[2018-10-03 07:14] mmanela opened #664 "Argument types not being passed into resolvers"
**Describe the bug**
I am very new to all of this so excuse my naiveté. I am using the typescript template on my server side schema to generate the types to use in my resolvers. I checked my schema.json and it is correctly marking my mutations  (or queries) as taking an argument but the generated resolver code types it as any. It does generate the argument type in the file but just doesn't pass it

[2018-10-03 07:31] cjnoname commented on #659
Hi @ardatan,

Thanks for your quick fix, the type is way better now.

I think there is only one issue left which is a tiny bug:

export namespace GetOrganisations {
	export const Document = gql`
		query getOrganisations {
			organisations {
				...organisationFields
			}
		}

		${OrganisationFields.Document}
	`;
	export class Component extends React.Component<
		Partial<ReactApollo.QueryProps<Quer

[2018-10-03 07:36] dotansimha commented on #659
@ardatan please take a look :)

@cjnoname regarding the `@client` errors, you have to provide your client-side schema for the codegen as well. there is a flag called `--client-schema`.

[2018-10-03 07:37] dotansimha commented on #664
@kamilkisiela

[2018-10-03 07:37] ardatan commented on #659
@cjnoname I need to see the declaration of fragment document etc to see what the problem is.

[2018-10-03 11:44] vespertilian commented on #659
I am having similar issues, I just tried the latest alpha version but client is still not working for me.

@dotansimha is there some examples of code with a `client-schema` definition file ?

@ardatan

Here are some of my code samples if it helps

app.ts angular component
[code]

relevant error
[code]

theme.lgraphql.ts
[code]

This file is used as a resolver for apollo-link-state

relevant error

[2018-10-03 11:54] dotansimha commented on #659
@vespertilian please take a look here: https://github.com/dotansimha/graphql-code-generator/pull/561

[2018-10-04 10:08] alonstar opened #668 "Template is not found"
**Describe the bug**
I used the latest version of generator & tempalte, got an error.

error: Unknown codegen template: "graphql-codegen-typescript-template", please make sure it's installed using npm/Yarn!

**To Reproduce**
1. npm install --save-dev graphql-code-generator graphql
2. npm install --save-dev graphql-codegen-typescript-template
3.  $ gql-gen --schema http://localhost:3010/graphql --t

[2018-10-04 10:54] cjnoname commented on #659
Thanks mate, it's fixed for me. Thanks for your great work.
By the way, do you know that is there any way to generate the schema json automatically?

[2018-10-04 10:57] cjnoname commented on #659
Hi Ardatan,

I think it's just a case issue.

The query is

[code]

The generated code is

[code]

You can see that OrganisationFields with capital O, which is not exisiting in the file at all. I changed it to lower case then it can work.

Hope it can help.

The whole thing is almost perfect.

[2018-10-04 12:28] ardatan commented on #668
Could you try the following command?
[code]

[2018-10-04 14:05] gardinit commented on #668
I had the same issue; Here is my fix

`gql-gen--template node_modules/graphql-codegen-typescript-template --out ./src/gqlgen/saberGqlModel.ts --schema http://localhost:65164/graphql"`

[2018-10-05 07:08] eljenso commented on #649
Here is part of my schema: https://gist.github.com/eljenso/b2b43f30cdc3e9aa765f10df99de67a3
Running `apollo schema:download --endpoint 'http://localhost:4000'` yields this `schema.json`: https://gist.github.com/eljenso/6a8a53ce5b36edb19fb3d7a6fd3913cb
And after running `npx gql-gen --schema schema.json --template graphql-codegen-typescript-template --out ./src/typings/`, the resulting `types.ts` i

[2018-10-05 08:09] dotansimha commented on #649
@eljenso Can you explain you usage of `__typename` in the generated typings for the server side? They are generated automatically by `graphql` and you shouldn't deal with them as far as I know.

The `__typename` is an internal field, and usually it's usage is for client-side to know what is the declared type of each structure.

Btw, you don't have to download the schema first, you can just use `--

[2018-10-05 08:10] dotansimha commented on #668
@alonstar @gardinit which version of node and npm you are using? any chance you can share a reproduction?
Specifying just `graphql-codegen-typescript-template` should work...

[2018-10-05 08:17] eljenso commented on #649
This is exactly what I want to do but the typings generated by `graphql-codegen-typescript-template` do not have `__typename`.
I have some GraphQL types which do only differ in name (i.e. fields are all the same), so I need `__typename` client-side in order to differentiate between those TS interfaces.

[2018-10-05 08:53] #649 closed

[2018-10-05 20:44] valerybugakov commented on #659
@ardatan hey, thanks for working on that awesome tool. I'm facing similar issues at the moment and using alpha version helped to solve part of them. But I still have a problem with TypeScript typings for generated HOC component. Specifically for `operationOptions `.

If I change its type `operationOptions?: ReactApollo.ChildProps<TProps, Query, Variables>` ts-server is happy and removes the error.

[2018-10-08 02:45] alonstar commented on #668
@gardinit  it's work!! thank you.

@dotansimha @ardatan Here is execution log.

	D:\Graphql
	λ gql-gen --template node_modules/graphql-codegen-typescript-template --out models.ts --schema http://localhost:4701/mutual-fund-admin/gra phql
	10:41:36.336 - info: Loading GraphQL Introspection from remote: http://localhost:4701/mutual-fund-admin/graphql...
	10:41:39.228 - info: Generated file written to

[2018-10-08 07:16] valerybugakov commented on #659
TS server even requests for more verbose type description in the other editor:
[code]

If I set it to:

[code]

Linter is happy.

Guys, @ardatan @cjnoname, could you suggest is the problem on my side or react-apollo template should be updated? Thanks!

[2018-10-08 13:34] dotansimha opened #671 "Allow template to enforce specific output extension"
For example: `react-apollo` template should enforce `tsx` extension to avoid confusion and other issues with the generated file.

[2018-10-09 23:46] ardatan commented on #659
@valerybugakov
Are you using the latest stable version, because it's supposed to be fixed in the following versions;
[code]

[2018-10-10 03:26] patricknazar opened #680 "Commented queries not ignored"
**Describe the bug**
Commented `gql` tags not getting ignored in document. I have some queries that are commented in my typescript code but they are still getting read.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a typescript file with a commented query ``/*gql`...*/``
2. `code-gen ... src/**/*/*.ts`

**Expected behavior**
Doesn't read commented queries.

**Environment:**
 - OS: U

[2018-10-10 03:47] patricknazar opened #681 "graphql-codegen-apollo-angular-template only generating services for .graphql and not .ts"
**Describe the bug**
When I ask to generate for `.graphql` file with query it generates Angular service, but with `.ts` (gql tag) it does not.

**To Reproduce**
Steps to reproduce the behavior:
1. Create .ts file with query in `gql` tag.
2. `gql-gen --schema http://endpoint/graphql --template graphql-codegen-apollo-angular-template --out ./src/typings/ src/**/*.ts`
3. Service not created in `src/t

[2018-10-10 03:54] patricknazar commented on #681
Ok, no problem just write the queries in a .graphql and generate the services - duh!

[2018-10-10 03:54] #681 closed

[2018-10-10 06:39] patricknazar opened #682 "Export generated fragment constants (apollo angular)"
**Is your feature request related to a problem? Please describe.**
I need to use generated fragment constants in my resolvers (apollo-link-state resolvers btw) but I cannot use the generated ones as they are not exported.

**Describe the solution you'd like**
Instead of just `const` I would like `export const` in the generated file.

**Describe alternatives you've considered**
Currently I have to

[2018-10-10 07:16] patricknazar commented on #643
I've noticed that when I use simply a `__typename` in fragment, I get similar issues:

    fragment MyFragment on MyType {
        ... on TypeOne {
            __typename
        }
    }

gives me:

    export namespace MyFragment {

        export type TypeOneInlineFragment =

    }

Notice the trailing `=`. Will this resolve this problem too? It's not an introspection query really is it? It is a

[2018-10-10 09:38] valerybugakov commented on #659
@ardatan you're right, the latest version of the `react-apollo-template` fixes the issue for me, thanks!

[2018-10-11 08:17] #576 closed

[2018-10-12 19:44] reconbot opened #688 "typescript template can't override the ID type"
**Describe the bug**
I have a scaylr

[code]

It can be a string or a number

I want the types to be a string or a number.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use '...' as schema
[code]

2. Use '...' as documents
(disabled)

3. Run the following command: `gql-gen ...`
[code]

[code]

**Expected behavior**
I'd get a typescript def similar to

[code]

**Schema/Documents**
I

[2018-10-13 00:50] ardatan commented on #688
Did you try to use "primitives" field of gqlgen instead of scalars; because ID is not scalar AFAIK?

[2018-10-13 01:04] sandangel commented on #534
So how could I generate Classes and other types for dart using remote graphql schema?

[2018-10-13 01:50] micimize commented on #534
@sandangel remote schema usage is in the readme :
` gql-gen --schema http://localhost:3010/graphql --header "Authorization: MY_KEY" ....`

As for template options, idk what state @degroote22's is in, but you could try
[graphql-to-dart](https://github.com/micimize/graphql-to-dart) - still pretty rough around the edges though

[2018-10-13 08:42] dotansimha commented on #688
Basically, all built-in primitives are scalars, so I guess this kind of customization should be fine.
The issue is that we are treating these scalars in a different way, so maybe we need some refactoring to support this use case.

[2018-10-13 08:43] dotansimha commented on #680
@patricknazar can you please provide a complete file? it will be easier to fix the document-finder regex this way...  thanks

[2018-10-13 09:29] patricknazar commented on #680
You know, it's weird I can't seem to reproduce it anymore, and I'm using `.graphql` files instead of `.ts` now, I'll close this for now and reopen if I experience it again.

[2018-10-13 09:29] #680 closed

[2018-10-13 19:27] BasHamer opened #689 "looking for debugging next steps"
**Describe the bug**
I'm getting inconsistent behavior between the codegen systems, I'm posting here because this is the one I'd like to get working.

This works:
apollo schema:download --endpoint=http://localhost:4446/graphql
gql-gen --schema schema.json --template node_modules/graphql-codegen-typescript-template --out ./src/generated/graphql.ts "./src/**/*.graphql"

This does not work:
apollo sc

[2018-10-13 20:29] ardatan commented on #689
Could you try the following command?
[code]

[2018-10-13 21:27] BasHamer commented on #689
PS C:\<Stuff>\App> gql-gen --schema http://localhost:4446/graphql --template node_modules/graphql-codegen-typescript-template --out ./src/generated/graphql.ts "./src/**/*.graphql"
15:27:15.736 - info: Loading GraphQL Introspection from remote: http://localhost:4446/graphql...
15:27:16.777 - error:

[2018-10-15 03:37] frantic1048 opened #691 "[Feature Request] add `skipPascalCase` option to graphql-codegen-typescript-template config"
**Is your feature request related to a problem? Please describe.**
I'm updating `graphql-code-generator` from a relatively old version( **0.9.3** ) to latest version( **0.12.6** ). I noticed a compulsive type name conversion was added to `graphql-codegen-typescript-template`.

https://github.com/dotansimha/graphql-code-generator/blob/42633a9d8478f448a034f828a733d79b298d15e9/packages/templates/type

[2018-10-15 08:52] frantic1048 commented on #656
BTW, after walking around the source code, I found the way to pass `documents... | [String]` in programmatically way is to set `args` field of `GenerateOptions`.

Example usage that works for me:

[code]

**Context**: According to types, `GenerateOptions extends CLIOptions`, I read https://github.com/dotansimha/graphql-code-generator#cli-options to figure out the usage of each field. I want to use

[2018-10-16 11:04] frantic1048 opened #695 "separated gql fragments on different type in a union should generate union type instead intersection type"
*Sorry for the complicated title, I've no idea how to describe this issue shorter in one sentence. （´＿｀）*

**Describe the bug**

When a named fragment is referenced outside a query, the generated type of the fragments is an intersection of fragments, which should be a union.

**To Reproduce**
Steps to reproduce the behavior:

*schema*:

[code]

*document*:

[code]

*Run command*: `gql-gen --templa

[2018-10-16 23:52] kuncevic opened #696 "Ability to create GraphQLSchema"
**Is your feature request related to a problem? Please describe.**
I want to be able to generate GraphQLSchema (.grapql) same way as I can do IntrospectionSchema (.json)

**Describe the solution you'd like**
`gql-gen --schema http://api.gql:8080/graphql --template graphql-codegen-introspection-template --out src/app/graphql/schema.json"`  generates IntrospectionSchema I want to have similar option

[2018-10-17 07:33] webberwang commented on #659
I'm getting an error in the same generated component.

[code]

I keep getting `Cannot find name 'query'.` when I compile with Typescript using CRA (typescript version)

[2018-10-17 10:31] Hirr0 opened #697 "Comments in the wrong place"
**Describe the bug**
Generated schema-types have comments in the wrong place, so IDEs (Webstorm, vs code) are not able to display comment in intellisense(autocompletion) popups.

**To Reproduce**
Steps to reproduce the behavior:
1. Part of graphql schema:
[code]
2. gql-gen.config.json:
[code]
3. Run the following command: `gql-gen --schema ./graphql.schema.json --out ./src/schema-types.ts --config

[2018-10-17 11:12] jon301 opened #698 "Cannot use generated Subscription types with NestJS resolver"
**Describe the bug**

I cannot find a way to use the generated subscription resolver type in a NestJS app

Given the following schema :
[code]

I get the following generated types :
[code]

Then I can create a handy union type of all resolvers :
[code]

Finally, my resolvers look like this :
[code]

Then I get a typescript error because `userSignedIn()` resolver does not return a `User` but a func

[2018-10-17 12:52] frantic1048 opened #699 "nullable field in document query should not be optional"
**Describe the bug**
When generating a query in document contains nullable field, the generated document query's field's type is still `T | null | undefined`, which should be `T | null`

**To Reproduce**
Steps to reproduce the behavior:

*schema*:

[code]

*document*:

[code]

*command*:

[code]

**Expected behavior**

In generated `schema.ts`:

[code]

`Search.Person.age` should not be optional(u

[2018-10-17 12:59] frantic1048 opened #700 "__typename should not be optional when used in query"
**Describe the bug**
When use `__typename` in a query, it's type should not be optional in corresponding query namespace.

**To Reproduce**
Steps to reproduce the behavior:

*schema*:

[code]

*document*:

[code]

*command*: `gql-gen --template graphql-codegen-typescript-template --schema schema.graphql document.graphql --out schema.ts`

**Expected behavior**

The namespace of `query search` in ge

[2018-10-17 13:06] marticrespi opened #701 "Generate some inconsistent interfaces"
**Describe the bug**
Apollo template adds and underscore to some ARGS interfaces declarations, but in all others types (no ARGS) works well, e.g extending Node class.

**To Reproduce**

I have a script in my package.json.

[code]
When I run it, it generates all the types and queries and so on, but in some interfaces it declares with an underscore but in their references try to find it without unde

[2018-10-17 15:24] bsr203 opened #702 "wrong case for naming / namespace"
In the generated code below, you can see the `Message` fragment is referred as `${Message.Document}`, but it should have been `${message.Document}`.

[code]

my fragment is defined as

[code]

I think a better name for namespace would be `messageFragment`. Is it easily configurable?

thanks.

[2018-10-17 15:28] bsr203 opened #703 "How to generate multi files"
The doc say

[code]
I am running it as
[code]
where `.tmp` is an existing directory. I always get a single file instead of multi as expected.

Also, I checked the dev examples [here](https://github.com/dotansimha/graphql-code-generator/blob/master/dev-test/generate-all.sh)

I think it uses a different template `graphql-codegen-typescript-template-multiple`
[code]

so do we need a different templat

[2018-10-17 15:30] bsr203 commented on #703
I guess I read it wrong. seems like we need to use `multi` generator.  Can you please list them at https://github.com/dotansimha/graphql-code-generator#available-templates

[2018-10-17 18:10] webberwang opened #704 "Cannot find name 'query', 'Document' does not exist in type 'Query<Query, Variables>'. [react-apollo]"
I posted this bug as a comment in this thread as well https://github.com/dotansimha/graphql-code-generator/issues/659. I can delete either if it's a duplicate.

Using `graphql-codegen-typescript-react-apollo-template`, the generated typescript file has no errors, except for

[code]
The compiled file has `Cannot find name 'query'` & `Document' does not exist in type 'Query<Query, Variables>` errors

[2018-10-17 18:12] ardatan commented on #704
What is the extension of the generated file, because it is supposed to be tsx not ts.

[2018-10-17 18:17] webberwang commented on #704
Oh man rookie mistake, thanks for that quick fix!

Hopefully this helps other people in the future if they make the same error.

[2018-10-17 18:17] #704 closed

[2018-10-17 18:33] ardatan commented on #702
Could you update to these alpha versions?
[code]

[2018-10-17 19:32] bsr203 commented on #702
that solved the issue with case sensitivity, but there is two namespace with same name. Hope that is ok.

[code]

[code]

But, I have bunch of errors (which was present earlier with stable release as well)

[code]

and the offending code is

[code]

do I need to change my tsconfig?

[2018-10-17 19:39] bsr203 commented on #702
Also not sure that change is ok with `"noNamespaces": true` setting. Most of my types are giving duplicate identifier error now as I see same exact fragment def. is duplicated :-(

[code]

[2018-10-17 19:49] #703 closed

[2018-10-17 22:36] ardatan commented on #702
The file extension must be tsx, not ts if you’re using react template; because it has jsx syntax in it.

[2018-10-17 23:15] bsr203 commented on #702
sorry. I forgot that. but the file was generated by `graphql-code-generator` though, as I specified the directory. The error went away when I specified a file name with `.tsx` ext. It would be nice if `graphql-code-generator` set the extension if apollo template is used.

[2018-10-17 23:19] bsr203 commented on #702
so, with `    "noNamespaces": true`, I only have one error `Cannot redeclare block-scoped variable`.

I have a subscription like
[code]
and a fragment with same name

[code]

which results in

[code]

[2018-10-18 00:47] ardatan commented on #702
We can think about it but I am not sure how we should solve the problem. But I don’t think using same name for multiple things is a good practice. So I don’t think it is bug, and the only thing we should do is giving a warning or an error to the user like “There are multiple types in your documents” l.
As a workaround you can change their names for now.
@dotansimha what do you think about it?

[2018-10-18 09:55] frantic1048 commented on #700
ehh, I found `__typename` is directly droped in [`get-field-def.ts`](https://github.com/dotansimha/graphql-code-generator/blob/c5ee0f70690190bb74d7d97bda545779323c9644/packages/graphql-codegen-core/src/utils/get-field-def.ts#L6). It looks many places need to be changed to solve this..

[2018-10-18 18:16] dotansimha commented on #702
@ardatan I agree, it's not a good idea. But I think we can use the duplicates logic to handle this case..

[2018-10-18 18:20] dotansimha commented on #700
Thanks @frantic1048 . It's a bug and the way to fix it is to check if the selection set has `__typename` and generate the `?` according to it.

[2018-10-18 19:16] ardatan commented on #702
@dotansimha But, in this case types may become unconsistent.

[2018-10-18 23:08] webberwang opened #710 "Introspection Template types don't match IntrospectionSchema"
I'm using

[code]
to generate a JSON schema, but the types don't match up. This is for using with Apollo Client on the front end.

A picture is worth a thousand words:

![introspectionquery_d_ts_ _uib-tdd](https://user-images.githubusercontent.com/26264925/47189075-aad67c00-d2ef-11e8-9165-628412a9cf3f.png)

[2018-10-19 10:09] frantic1048 opened #711 "incorrect output on a mixed usage of InlineFragment and FragmentSpread"
**Describe the bug**
When using both InlineFragment and FragmentSpread on a union, `graphql-codegen-typescript-template` generates incorrect output, causing a syntax error.

**To Reproduce**
Steps to reproduce the behavior:

*schema*:

[code]

*document*:

[code]

*Run command*: `gql-gen --template graphql-codegen-typescript-template --schema schema.graphql document.graphql --out schema.ts`

**Exp

[2018-10-19 12:33] fetis opened #713 "Suggestion: Use Pick<T, K> to generate query types"
**Is your feature request related to a problem? Please describe.**
Currently, we just have a copy of original type for a query

**Describe the solution you'd like**
I think a more clear approach would be to use Pick<T, K> operator to make a connection to the original type.

So this would be like this
[code]

See it's in action here https://medium.com/@curtistatewilkinson/typescript-2-1-and-the-pow

[2018-10-19 14:36] dotansimha commented on #696
sounds good, not too complicated. I'll find some time soon to implement it.
@kuncevic if you want to try to implement it and open a PR, it should be very simple - you can duplicate `introspection` and use `print` from `graphql` to get the `GraphQLSchema` as AST string.

[2018-10-19 17:57] ardatan commented on #713
Thank you for your suggestion!
That looks a good idea, but how about nested types.
‘’’gql
query SomeQuery {
   foo
   bar
   something {
               x
                y
    }
}
‘’’

[2018-10-19 18:17] fetis commented on #713
@ardatan I think it should work the same `Pick<SomeQuery, 'foo', 'something'>`

[2018-10-19 18:55] fetis commented on #713
[here's the example with nested complex subtype](http://www.typescriptlang.org/play/#src=export%20interface%20TypeA%20%7B%0D%0A%20%20id%3A%20string%3B%0D%0A%20%20name%3A%20string%3B%0D%0A%20%20age%3A%20number%3B%0D%0A%20%20complex%3A%20%7B%0D%0A%20%20%20%20%20%20id%3A%20string%3B%0D%0A%20%20%20%20%20%20name%3A%20string%3B%20%20%20%20%20%0D%0A%20%20%7D%0D%0A%7D%0D%0A%0D%0Atype%20_TypeA%20%3D%20Type

[2018-10-20 19:11] Industrial opened #715 "Prisma GrapQL (prisma.io)"
Hi!

I am using [Prisma](https://prisma.io) to serve GraphQL. It uses annotations on top of graphql. It also uses some types like `DateTime` and `ID`.

I tried this NPM script to take out the annotations:

[code]

But that only takes out the annotations, I still don't know what to do with the types:

Right now when I run `gql-gen --schema ./common/domain/datamodel-no-annotations.gen.graphql --temp

[2018-10-20 20:28] ardatan commented on #713
Oh I just understand what you mean! Yes, this will reduce the code size and everything more consistent! I like that idea.
@dotansimha What do you think? If it is ok, I can work on it!

[2018-10-22 09:18] dotansimha commented on #715
Hmm, interesting. @Industrial , can you please share your schema? (as JSON / text)

Thanks!

[2018-10-22 09:46] dotansimha commented on #713
It's actually looks good and more clean. I think we might need a lot of effort to support this use case, or I'm missing something? @ardatan @fetis

[2018-10-22 10:42] dotansimha commented on #715
Thanks @Industrial!
Can you please share your schema (json/file)? Or a repository with a reproduction?  thanks!

[2018-10-22 10:53] dotansimha commented on #713
It's actually looks good and more clean. I think we might need a lot of effort to support this use case, or I'm missing something? @ardatan @fetis

[2018-10-22 10:55] dotansimha commented on #713
It's actually looks good and more clean. I think we might need a lot of effort to support this use case, or I'm missing something? @ardatan @fetis

[2018-10-22 11:01] dotansimha commented on #710
@webberwang thank you for reporting it. Which version of `graphql` and `@types/graphql` do you use?

[2018-10-22 13:54] kamilkisiela commented on #710
I don't think it's an issue with the GraphQL Code Generator. We use a query that is provided by the `graphql` package and that's the output, every tool does it in the same way. It's a mismatch between what `graphql` gives and what `@types/graphql` expects.

[2018-10-22 14:17] kamilkisiela commented on #701
@dotansimha that's because we use different logic in `.handlebars` files and `.ts` files. In the template we use [customized toPascalCase](https://github.com/dotansimha/graphql-code-generator/blob/7928031bacdd364ad72a54b31c262e7b5dc5867f/packages/graphql-codegen-compiler/src/handlebars-extensions.ts#L228-L237) but in [the typescript code](https://github.com/dotansimha/graphql-code-generator/blob/7

[2018-10-22 15:32] dotansimha commented on #698
@kamilkisiela

[2018-10-22 15:34] dotansimha commented on #691
Makes sense. It also effects other aspects and parts of the code, it might take some time until we'll manage to work on it

[2018-10-22 15:36] dotansimha commented on #695
That's definitely a bug. I'll look into it soon.

[2018-10-22 16:13] dotansimha commented on #438
Closing for now. We are going to keep the behaviour as-is, because of the need to input types and enums on client side as well.

[2018-10-22 16:13] #438 closed

[2018-10-22 16:15] dotansimha commented on #523
closing for now, due to inactivity. @ggoforth, feel free to open a new issue with more details if you still need our help :)

[2018-10-22 16:15] #523 closed

[2018-10-22 18:28] kamilkisiela commented on #698
@dotansimha #719

[2018-10-22 21:46] webberwang commented on #710
@dotansimha

[code]

[2018-10-23 15:33] crissi opened #720 "Duplicate queries/mutations is not checked"
**Is your feature request related to a problem? Please describe.**
The problem is that I can mistakenly give two queries the same name and the generated file will therefore have duplicate classes

**Describe the solution you'd like**
Check if all queries and mutations names are unique and fail with an error message.

**Additional context**
![image](https://user-images.githubusercontent.com/3076578

[2018-10-23 20:17] kamilkisiela opened #722 "Better config file"
- allow to put all options in config
- also flags and template specific configuration

[code]

- support json, yml, js

[2018-10-23 20:20] kamilkisiela opened #723 "Built-in typescript, introspection and few other templates"
[code]

[2018-10-23 20:22] kamilkisiela opened #724 "Use Ora or similar tool and emit each step of gql-gen process"
✅ loading schema
✅ reading documents
✅ generating typescript
❌ writing to file

[2018-10-23 20:28] kamilkisiela opened #725 "Plugin system instead of multiple templates"
_more soon_

[2018-10-24 06:54] dotansimha commented on #723
It seems easy-to-use, but it might confuse developers to think that all templates are part of the codegen and installed with it..

[2018-10-24 06:55] dotansimha commented on #725
YES!
You mean something like that? use typescript template, add "resolvers" plugins (which is just another template), add "react" plugin and output it to the same file.

[2018-10-24 06:58] kamilkisiela commented on #725
Yes, Codegen gets types, interfaces and stuff and you decide what to output.

Typescript gets a type and outputs a TS interface with some naming convention.
Apollo Angular knows that is using typescript and `import { typeToName } from 'graphql-codegen-typescript-plugin';`

[2018-10-24 06:58] kamilkisiela commented on #725
So they could interact and we no longer have to have one template

[2018-10-24 06:59] kamilkisiela commented on #725
I think it will make codegen waay more interesting (BUT IT IS INTERESTING HUUUUUGLY NOW FOR SURE)

[2018-10-24 07:01] kamilkisiela commented on #725
[code]

You get the idea

[2018-10-24 07:06] dotansimha commented on #725
Hmm wait, I think there are multiple things here.

When you say plugins, I'm referring to plugins adding more template to a base template (or, actually, just a list of templates you want to merge together).

The `typeToName` is something else - it means implementing the codegen as visitor pattern, and it something I want to do for a long time, but it might break some stuff, and we'll have to do a

[2018-10-24 07:08] kamilkisiela commented on #725
Yes, that's why wrote _But that might be for a different issue_

For now having multiple templates seems ok but it would be super nice to use AST or something like this and not handlebars so we could share logic between packages.

[2018-10-24 11:21] edorivai opened #726 "Error: Variable "$foo" is never used in operation "FooQuery""
**Describe the bug**
As described in https://github.com/dotansimha/graphql-code-generator/pull/628#issuecomment-423914784, when using a variable **only** inside a fragment that lives in another file, the generator will yield _unused variable_ validation errors:

[code]

**To Reproduce**
(taken from: https://github.com/dotansimha/graphql-code-generator/pull/628#issuecomment-424015962):

Here is a s

[2018-10-24 12:12] kamilkisiela opened #727 "SubscriptionResolver is not used in Subscription-related fields"
**Describe the bug**
SubscriptionResolver is not used in Subscription-related fields

**To Reproduce**
[code]

[code]

**Expected behavior**
[code]
**Environment:**
 - OS: X
 - Codegen: 0.12.6
 - Node: JS

[2018-10-24 12:17] kamilkisiela commented on #727
@dotansimha xD

https://github.com/dotansimha/graphql-code-generator/blob/25f355caceed2e7da15647b38a44886cef306e4e/packages/templates/typescript/tests/resolvers.spec.ts#L207-L215

[2018-10-24 16:06] jeremyputeaux opened #729 "Trying to generate custom project's Typing file but nothing happens"
I'm using `AWS AppSync` so in my `schema.graphql`, I have some custom directive `@aws_subscribe`.
If I keep the default config I get `error: Directive aws_subscribe: Couldn't find type aws_subscribe in any of the schemas.`

I followed this https://github.com/dotansimha/graphql-code-generator/issues/583 that is telling I have to make a new project.
I'm not sur I understand everything there.

**gql-

[2018-10-24 17:57] ardatan commented on #729
It's supposed to print the error related to NodeJS require, this can be considered a bug.
However, I think your issue can be related to this;
https://github.com/dotansimha/graphql-code-generator#typescript-support

[2018-10-24 19:54] jeremyputeaux commented on #729
I tried to exec the following command with I did not change anything (no file generated and no error).
`"gql-gen --require ts-node/register --config ./gqlgen/gql-gen.json --project ./gqlgen/ --schema ./gqlgen/schema.ts --out ./types.ts \"./apps/**/*.service.ts\" \"./apps/**/*.fragment.ts\""`

[2018-10-25 07:48] dotansimha commented on #415
@adam1658 , sorry it took time. Now the codegen exposes `originalFile` on each operation, and exposes `documentsFiles` as list of all files.

See:
https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-core/src/types.ts#L223-L230

https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-compiler/src/compile.ts#L136-L143

And it's

[2018-10-25 07:55] dotansimha commented on #726
I think we can ignore this validation as well. I'll take a look.

[2018-10-25 08:23] dotansimha opened #731 "Deprecate `PROJECT` generation"
`PROJECT` generation was an experiment we did, that intended to generate an existing project directly.
It has a very messy API, and has a lot of bugs. Also, now that everyone can write his own template (with our without Handlebars), it makes it much easier to do it.

[2018-10-25 08:30] dotansimha opened #732 "Remove `MULTIPLE_FILES` from code"
It was already deprecated a few month ago, it's time to remove it and clean some parts of the code.

[2018-10-25 08:33] #418 closed

[2018-10-25 08:33] #496 closed

[2018-10-25 08:35] dotansimha commented on #511
At the moment, the codegen supports this use case.
You can an example in my PR for ReactQL here: https://github.com/leebenson/reactql/pull/129

@valentinbe

[2018-10-25 08:35] #511 closed

[2018-10-25 08:35] dotansimha commented on #515
@arose , closing for now. The latest version preserve the comments. Please re-open if you're still having issues.

[2018-10-25 08:35] #515 closed

[2018-10-25 08:37] dotansimha commented on #557
Please refer to my PR in ReactQL: https://github.com/leebenson/reactql/pull/129
It shows a good example for how to use the codegen with remote schema and local schema, along with `apollo-link-state` and `@client` directive.

[2018-10-25 08:37] #557 closed

[2018-10-25 18:42] benawad opened #740 "Some thoughts compared to graphqlgen"
So I just tried out https://github.com/prisma/graphqlgen and this library with the following template: graphql-codegen-typescript-template to create Typescript types for resolvers.

I wanted to give some feedback on some things I liked better about graphqlgen.

1. If a query/mutation doesn’t have any arguments, graphqlgen generates the args Typescript type as `{}` which I like better than the temp

[2018-10-25 19:04] darkbasic commented on #740
Regarding number 3 I suggest you to have a look at the `graphql-codegen-typescript-mongodb-template` template: https://github.com/dotansimha/graphql-code-generator/tree/master/packages/templates/typescript-mongodb

It allows you to define the following schema:
[code]

It will generate the following types:
[code]

So you can use `Poll` for the object returned by the resolver and `PostDbObject` for

[2018-10-25 20:16] adam1658 commented on #415
@dotansimha, no problem about the wait. This looks great - can't wait for a release :)

[2018-10-25 23:14] benawad commented on #740
@darkbasic thanks, I'll check it out that looks good

@kamilkisiela sweet

[2018-10-26 07:05] marticrespi commented on #701
Thanks @kamilkisiela @dotansimha for your fast support!

[2018-10-26 09:09] dotansimha opened #742 "Move `resolvers` to a separate template"
At the moment, the `resolvers` part of the `typescript` template is generated by default (and might be irrelevant for developers who use it for client side).
I think we can move it to a separate template that extends `typescript` template.

[2018-10-26 09:10] ardatan commented on #742
And this will be great for client-side apollo-angular and react-apollo templates!

[2018-10-26 10:34] Industrial commented on #715
@kamilkisiela This is what I get now: https://gist.github.com/Industrial/a8135cc5f259aacf8c169efc37768d90

[2018-10-26 10:38] ardatan commented on #715
@Industrial I think you don't need to define `ID` explicitly.

[2018-10-26 13:18] dotansimha commented on #740
Thank you @benawad !

Regarding #1, @kamilkisiela already did a fix for it: https://github.com/dotansimha/graphql-code-generator/pull/741  . We loved this feedback but actually thought to take it a step further and to use `never` in this case instead of `{}`, because this way it will enforce that `args` is not in use, because it’s empty for sure.

Regarding #2, As @kamilkisiela said, we have suppo

[2018-10-26 14:50] Industrial commented on #715
If I leave out the ID scalar then I get the same error on ID

[2018-10-26 16:45] moonray commented on #659
This appears to still be an issue with

[code]

command used:
[code]

[2018-10-26 17:10] moonray opened #744 "Exclude imports from graphql-codegen-typescript-react-apollo-template"
**Is your feature request related to a problem? Please describe.**
tslint complains about unused imports:
[code]

**Describe the solution you'd like**
Have a way through config to exclude these imports.

**Describe alternatives you've considered**
using `sed` or something similar to hack the template's output

**Additional context**
code in question:
[code]

[2018-10-26 20:19] ardatan commented on #744
Could you share whole generated file?

[2018-10-27 07:48] kamilkisiela opened #747 "Allow to use custom file systems"
Might be helpful with tools like Angular Schematics, Webpack plugins etc

[2018-10-27 14:46] benawad opened #749 "Unknown directive "connection""
I'm using the @connection directive (https://www.apollographql.com/docs/react/features/pagination.html#connection-directive)

Tried generating types using graphql-codegen-typescript-react-apollo-template

Got the following error: `GraphQL Error: Unknown directive "connection".`

How should I handle this?

[2018-10-27 16:41] kamilkisiela commented on #744
@ardatan maybe there's no operations?

[2018-10-27 17:46] dotansimha commented on #749
@benawad
Apollo's client-side directives are [declared internally](https://github.com/apollographql/apollo-client/blob/256585b8b7cf68da0629950490761f479b171892/packages/apollo-utilities/src/storeUtils.ts#L179-L184), that means that they are not exposed to `graphql-code-generator`.

To provide this to the codegen, you can create a file called `client-schema.graphql` with the following:
[code]

And

[2018-10-27 17:46] #749 closed

[2018-10-27 19:09] affanshahid opened #751 "Missing helper: blockComment"
**Describe the bug**
Running the following:
[code]

I get the following error:
[code]

**Environment:**
 - OS: Windows 10
 - Codegen: 0.12.6
 - Node: 10.11.0

My Schema has no comments

[2018-10-27 19:12] dotansimha commented on #751
@affanshahid, which version of the codegen do you use? and which version of the template?

[2018-10-27 19:13] affanshahid commented on #751
I mentioned the codegen version in my post but here are the other two:
[code]

[2018-10-27 19:15] dotansimha commented on #751
@affanshahid if you are using the alpha version, they must match. Install `graphql-code-generator@0.13.0-alpha.34c9c8c7` and it will work :)

[2018-10-27 19:18] affanshahid commented on #751
Ah! ofcourse, thank you!

[2018-10-27 19:18] #751 closed

[2018-10-28 09:43] Industrial commented on #715
@ardatan, @kamilkisiela: I'm not sure what to do with the ticket that @kamilkisiela pointed to.

He mentioned the "codegen". This is the `domainmodel.graphl` (or a URI) I'm using for the source? Or is there a configuration file that I should put data types like DateTime and ID in?

[2018-10-28 09:48] kamilkisiela commented on #715
What you have is prisma config, not GraphQL Schema with queries, mutations and subscriptions, something that GraphQL server expects. GraphQL Codegen can't guess how you're data looks like so what you might eventually get is just a typescript interface for a model, no queries and other prisma generated things. If you would point `gql-gen` to server's endpoint or a file with introspection result it'

[2018-10-28 10:43] Urigo commented on #715
@Industrial can you put up a small repo with an example?
that way someone can make a nice PR and demonstrate how to do it

[2018-10-29 14:30] moonray commented on #699
I'm wondering what's happening here (what effort is needed to get this merged in). Running into the same issue.

[2018-10-30 19:31] ecwyne commented on #582
Let me start by saying that I *love* `graphql-code-generator`! Seriously awesome!

I am running up against this also now trying to upgrade `create-react-app`/`react-scripts` which as of today supports TS out of the box 🎊. I suspect many more people will start using CRA for their React/TS projects, as such I think this project would benefit from either moving away from namespaces or documenting `no

[2018-10-30 20:45] robck commented on #731
The --project option works well for me so far. Is having an internal/nested package the only other option?

[2018-10-31 06:00] dotansimha commented on #731
@robck we decided to deprecate it in favor of custom templates (which already available now). IT should be more powerful, and easier to customize.

[2018-10-31 06:13] dotansimha commented on #744
@moonray available in 0.13.0.

[2018-10-31 06:13] #744 closed

[2018-10-31 06:13] dotansimha commented on #742
@moonray available in 0.13.0.

[2018-10-31 06:13] #742 closed

[2018-10-31 06:14] dotansimha commented on #727
@moonray fixed in 0.13.0.

[2018-10-31 06:14] #727 closed

[2018-10-31 06:14] dotansimha commented on #726
@edorivai  available in 0.13.0.

[2018-10-31 06:14] #726 closed

[2018-10-31 06:15] dotansimha commented on #711
fixed in 0.13.0. @frantic1048

[2018-10-31 06:15] #711 closed

[2018-10-31 06:15] dotansimha commented on #702
fixed in 0.13.0. @bsr203

[2018-10-31 06:15] #702 closed

[2018-10-31 06:15] dotansimha commented on #701
fixed in 0.13.0. @marticrespi

[2018-10-31 06:15] #701 closed

[2018-10-31 06:16] dotansimha commented on #698
fixed in 0.13.0. @jon301

[2018-10-31 06:16] #698 closed

[2018-10-31 06:16] dotansimha commented on #697
fixed in 0.13.0. @Hirr0

[2018-10-31 06:16] #697 closed

[2018-10-31 06:16] dotansimha commented on #695
fixed in 0.13.0. @frantic1048

[2018-10-31 06:16] #695 closed

[2018-10-31 06:16] dotansimha commented on #682
fixed in 0.13.0. @patricknazar

[2018-10-31 06:16] #682 closed

[2018-10-31 06:17] dotansimha commented on #659
@moonray can you please try 0.13.0?

[2018-10-31 06:18] dotansimha commented on #656
fixed in 0.13.0 :) You can use `templateConfig`

[2018-10-31 06:18] #656 closed

[2018-10-31 06:18] dotansimha commented on #415
Available in 0.13.0

[2018-10-31 06:18] #415 closed

[2018-10-31 06:59] FredyC opened #766 "Namespaces are legacy according to Babel?"
Well, this is a long shot, but I want to kinda discuss here the issue that has been [raised in ReactJS world](https://github.com/facebook/create-react-app/issues/5633). The gist of it is that there is a [Typescript implementation](https://babeljs.io/docs/en/babel-plugin-transform-typescript) coming from Babel team and it's somewhat limited for [a various reasons](https://github.com/babel/babel/iss

[2018-10-31 07:17] janhartmann opened #767 "Testing TypeScript Resolvers"
**Describe the bug**
I am not sure whether this is a bug or not, or I am basiclly just using this wrong. I want to test a resolver, like so:

**To Reproduce**

[code]

And I do not want to pass in any properties, but I can not set `null` or `undefined` to the current `never` argument.

**Expected behavior**
I expect to pass  `null` or `undefined` or somehow ignore this in unit testing.

**Schema/D

[2018-10-31 07:20] janhartmann commented on #767
Maybe related to #489?

[2018-10-31 08:59] dotansimha commented on #767
@janhartmann
Since 0.13.0, you can override the type of the Parent per each resolvers.

You can declare your `queryResolver` as: `QueryResolvers.Resolver<any, null | undefined | never>` and I think it will do the trick.

[2018-10-31 09:00] janhartmann commented on #767
I go for the mocked resolver approach for now, seems a bit cleaner for testing.

Thanks for this amazing library, it has been very easy to work with.

[2018-10-31 09:00] #767 closed

[2018-10-31 09:01] dotansimha commented on #766
Hi @FredyC !
At the moment, we do have a `noNamespaces` flag for the TypeScript resolver, that generated typings without namespaces at all.
I think we might change it to be the default behaviour, because it seems that TypeScript namespaces becomes obsolete.

[2018-10-31 09:29] marticrespi commented on #701
Has someone one example how build an apolloServer v2 after generates the types with all the types, resolvers(queries and mutations)?

[2018-10-31 10:29] janhartmann opened #768 "Question: How to use the types for unions"
This is a question on how to use the generated union types.

I have an union like this

[code]

I thought I could do something like

[code]

But apparently this gives:

[code]

This is the actual resolver for a union:

[code]

The type that is created is:

[code]

My question is, how can I return the correct type for this resolver so that I can resolve this union?

[2018-10-31 12:57] janhartmann commented on #768
Oh, I guess I need to:

[code]

[2018-10-31 12:57] #768 closed

[2018-11-01 07:53] frantic1048 commented on #699
@moonray There is nothing special is blocking #706, just regular tests and related essential works.

Why I haven't update PR for a while: Because of many other tasks other than this `gql-gen` issue needed to be done in my work last week, and this issue was not the only one blocking my task about `gql-gen`(actually I'm migrating from `apollo-graphql` to `graphql-code-generator`), debugging further

[2018-11-02 12:07] milanholy83 commented on #766
it would be great because react create app 2 now support typescript but without namespaces.
or add --noNamespaces  as CLI option

[2018-11-02 16:25] mcongy opened #777 ""silent" option doesn't work with webpack plugin"
**Describe the bug**
`silent` option doesn't work with webpack plugin
I see console output even with `silent: true`

**To Reproduce**
I'm using 2 instances of GraphQLCodegenPlugin in my webpack-config
[code]
**Expected behavior**
No output shown in console.

**Environment:**
 - OS: Windows 10
 - Codegen: 0.13.0
 - Node: 10.11

[2018-11-02 17:14] mistic commented on #653
@dotansimha I'm experiencing the exact same warning using yarn 😃

[2018-11-04 22:13] benawad opened #778 "codegen-templates-scripts init doesn't work"
I ran `codegen-templates-scripts init` and got:

[code]

But I cloned the repo and ran:
[code]
 and it worked fine.

[2018-11-05 03:17] desbrowne commented on #766
It would be great to use modules instead of namespaces (i.e. one file for each query), but I have seen that MULTIPLE_FILES seems to be depreciated. @dotansimha wondering if you have an recommendation of how to achieve this?

[2018-11-05 04:15] ardatan commented on #766
I think, this may cause circular imports problem which would be really hard to maintain.

[2018-11-05 14:53] williamluke4 opened #782 "Move Templates to separate repos?"

[2018-11-05 15:54] dotansimha commented on #782
Hi @williamluke4
We are still thinking about it, and it's open for discussion.
At the moment, we are the core maintainers of the codegen and the core maintainers of the templates, so it's easier to test and develop it on the same repo.

[2018-11-05 16:20] williamluke4 commented on #782
Hi @dotansimha,
I figured as much. I think that moving them to separate repos would make it easier for others to develop templates as they could just 'plug' them in without having to fork the main repo and mess around with npm link. This is just from personal experience, I'm sure there are better ways!

You could also display a warning if the main repos version differs with the template version.

[2018-11-06 11:49] RIP21 opened #789 "Running apollo-template with NO_NAMESPACES wrong typings generated"
You run `apollo-template` in the NO_NAMESPACES mode and what you're getting is things like that.
![image 1](https://user-images.githubusercontent.com/3940079/48062361-12cb0480-e1c2-11e8-94fa-6f4f31b529e0.png)
All return types of Mutations/Queries is not actual return type but its name PascalCased.

Actual query in `local.graphql` schema.
[code]

And it's using like that in `.ts`
[code]

[2018-11-06 12:03] RIP21 opened #790 "Typings doesn't work with TS 3.1 for generated HOCs in apollo-template NO_NAMESPACE"
**How to repoduce:**
You generate stuff using `apollo-template` with NO_NAMESPACE mode.

**Actual:**
I'm using generated HOC in code expecting to get autocomplete and typechecking of its options.
![image](https://user-images.githubusercontent.com/3940079/48062819-6be76800-e1c3-11e8-8f21-381a691a6a4c.png)
But as you can see there is no blame on me in this case from TS Language Server.

But if I go

[2018-11-06 12:07] RIP21 commented on #790
Simple fix to that is to remove `OperationOptions` generic and to put `ReactApollo.OperationOption<...>` directly on  operationOptions function argument.
Not sure whether somebody is going to override this second argument generic in a real life, so sounds like a good solution.

[2018-11-06 12:47] darkbasic commented on #778
[code]

[2018-11-06 12:52] darkbasic commented on #710
I'm closing, if you still experience this issue feel free to reopen.

[2018-11-06 12:52] #710 closed

[2018-11-06 12:56] benawad commented on #778
Downloaded the latest version and tried again. Worked just fine

[2018-11-06 12:56] #778 closed

[2018-11-07 08:19] dotansimha commented on #732
@desbrowne
So without `MULTIPLE_FILES` you can get the same functionality with a custom template. The return value of the custom template function should return an array of `FileOutput`, so you should be able to iterate all `documents.operations` and create a matching file.

Here are things that might help you:
- [Example for custom template as package](https://github.com/dotansimha/graphql-code-g

[2018-11-07 10:12] RIP21 opened #796 "Make Enums keys a PascalCase by default"
If you take a look at typescript docs, you can see that Enums are PascalCase.
But here when you have enum generated, they are taken as is from the schema.
What do you think to generate left side as PascalCase while right side to be the actual value from the schema enum definition?

We have a huge codebase and many enums are already PascalCase having them mixed is rather a pain in the ass.

**Schem

[2018-11-07 10:30] marticrespi commented on #696
I'm interesting on it too. It would be fantastic because we will have the types to export independently to simplify some queries or mutations.

[2018-11-07 10:37] dotansimha commented on #696
@marticrespi it's available now in the [new API branch](https://github.com/dotansimha/graphql-code-generator/pull/764), which is in alpha now, and we'll release very soon :)

[2018-11-07 16:22] RIP21 opened #803 "Second generic should be added to HoCs to be able to specify return type of `props` callback."
Right now there is only one generic that gives the ability to specify `ownProps` but there is no optional second generic that will give the ability to specify `props` callback return type.

So the result will be like that:
[code]

So effectively `PropsCallback` optional generic added. And then `&` with `Partial` in both places.

[2018-11-07 16:22] #777 closed

[2018-11-07 21:35] RIP21 opened #807 "Generate MutationFn typings for each Mutation"
This is very common when MutationFn is going to be passed down, to actually create such typings manually as you can see.
It causes a lot of unnecessary imports and clutter when it can be actually generated.
![screenshot 2018-11-07 at 22 28 21](https://user-images.githubusercontent.com/3940079/48162152-a5f85d00-e2dc-11e8-9b5a-916dbe17cf57.png)

Maybe also makes sense to generate such typings for `r

[2018-11-07 23:18] axelhzf opened #808 "Incorrect code generation for fragments of the same type"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. schema

[code]
2. document

[code]

The generated code is

[code]

**Expected behavior**

I think the correct type in that case is

[code]

**Schema/Documents**
If possible and relevant, please provide your GraphQL schema and GraphQL documents.

**Environment:**
 - OS: osx

[2018-11-08 09:21] wesselvdv opened #811 "--clientSchema and --schema don't recognize .graphqls as graphql document"
**Describe the bug**
gql-gen tries to load up .graphqls document as a javascript file.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use a valid graphql schema document as .graphqls file.
2. Run the following command: `gql-gen --watch --schema 'src/**/*.graphqls' --template graphql-codegen-apollo-angular-template --out './src/app/graphql/queries.ts' './src/**/*.graphql'`

**Expecte

[2018-11-08 09:25] wesselvdv opened #812 "Providing .graphql file with correct schema gives Loading schema.graphql gives `Query root type must be provided.` error"
**Describe the bug**
Providing .graphql file with correct schema gives Loading schema.graphql gives `Query root type must be provided`. error

**To Reproduce**
Steps to reproduce the behavior:
1. Use the following schema:
[code]
2. Use any document
3. Run the following command: `gql-gen --watch --schema './src/app/graphql/schema.graphql' --template graphql-codegen-apollo-angular-template --out './

[2018-11-08 12:19] ardatan commented on #807
I think MutateProps already does that. This PR generates MutateProps and DataProps, so you can add these to your React.Component declaration like
`React.Component<MyProps && CreateMessageProps>`

[2018-11-08 12:30] RIP21 commented on #807
@ardatan it's rather painful to do like that. Especially if you would like to rename prop for example, or pass only partially etc. It's more for nested components than to the wrapped component itself.

[2018-11-08 14:15] kamilkisiela commented on #803
Could you give an example how you might want to use it and where does it help you?

[2018-11-08 14:22] RIP21 commented on #803
It gives you confidence that you're return what you expect from prop
function, right now it's any type. Also it gives you ability to not mystype
keys etc.

czw., 8 lis 2018, 15:15: Kamil Kisiela <notifications@github.com>
napisał(a):

[2018-11-08 14:33] kamilkisiela commented on #812
@wesselvdv I probably fixed it with #815 but maybe `schema { ... }` is not handled by the codegen, could you check `0.14.0-alpha.b04233ad`?

[2018-11-08 14:48] kamilkisiela commented on #812
I tried to reproduce it as you can see in #816 but it seems everything's fine.

[2018-11-08 14:57] RIP21 commented on #803
So as an example. (I was using a phone)
[code]

[2018-11-08 15:30] kamilkisiela commented on #812
Actually it doesn't work but I fixed that in f1e5a0c05d18da32564a55e14db20de89220a0a2

[2018-11-08 19:48] ardatan commented on #807
Added with #819

[2018-11-09 13:45] dbuezas opened #822 "Parent type for resolver coming from a query resolver"
To handle typings of a query resolver that doesn’t directly return the right JSON, but passes data to other resolvers down the line (as parent data) I needed some weird stuff.

The use case is like this one:
https://github.com/howtographql/howtographql/issues/619#issuecomment-385309639

Problem 1: One cannot use the query resolver type as-is, since it expects a particular return type
Problem 2: On

[2018-11-10 04:32] dotansimha commented on #740
@benawad If you are using dataloader to batch requests then it's great :) Then your resolver should expect to get then full object and not just the id, but the linked resolvers should return `string` in order to fetch it from the dataloader.

Then you should be able to use the generics to override the return value of each resolver, and set it to `string`. And with the latest version you can overri

[2018-11-10 04:32] #740 closed

[2018-11-10 04:56] dotansimha commented on #822
@kamilkisiela :)

[2018-11-10 15:03] dbuezas opened #825 "Naming documents (Anonymous_query_1)"
**Describe the bug**
When generating typings with `graphql-codegen-typescript-template` on multiple files I get the warning: `The following document does not have a name. The codegen will use an anonymous name: Anonymous_query_1, please consider to name it.`
And I can't find any documentation of how to name the documents

**To Reproduce**
Steps to reproduce the behavior:
1.  Run the following comm

[2018-11-10 17:09] RIP21 commented on #825
I assume it's about to name queries.
So the difference between named query and unnamed is following
[code]
This query above is anonymous since she doesn't have a name. How to make it named?

[code]
So, now it has some name, so it means that tool can name it properly.

[2018-11-10 17:29] kamilkisiela commented on #822
I have no clue what is the issue here.

Since resolver has defined type for its parent and it doesn't match what you have, it's possible to overwrite it.

For example:

[code]

- type `Query` has no parent
- type `Post` has `Post` as a parent
- type `User` has `User` as a parent

**type Query**
- `posts` and other fields in `Query` has `never` as a parent
- `posts` expects `Post` to be returned

*

[2018-11-10 17:50] RIP21 commented on #825
You're welcome ;)

sob., 10 lis 2018, 18:24: David Buezas <notifications@github.com>
napisał(a):

[2018-11-10 19:53] kamilkisiela opened #827 "[V2] typescript mongodb doesn't prodoce DbObjects"
**Describe the bug**
GraphQL Codegen TypeScript MongoDB doesn't produce DbObjects.

**To Reproduce**
https://github.com/darkbasic/graphql-modules-seed/tree/codegen-v2

**Expected behavior**
Having `*DbObject`

**Additional context**
Every type doesn't pass:
https://github.com/dotansimha/graphql-code-generator/blob/4e941c37cb525806994f2601e43a53648f641b4c/packages/plugins/typescript-mongodb/src/tem

[2018-11-11 00:40] dotansimha commented on #703
You can take a look at this template:
https://github.com/dotansimha/graphql-code-generator/tree/master/packages/templates/introspection

It written as a standalone package, that does not have any dependencies.
The `customOutputProcessor` is the following interface, which you function should implement:
https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-core/sr

[2018-11-11 02:07] ardatan commented on #827
So, it won't be a template but an external library. And this library will contain schemaDirectives and typeDefs inside of it, right?

[2018-11-11 04:35] josemarluedke opened #828 "Skip schema includes unused input types"
I'm trying to generate only the document types for a given query.

It seems that passing the option `--skip-schema` does not skip generating input types from the schema, even if they are not used in a query.

**To Reproduce**

Reproduction can be found here: https://github.com/josemarluedke/gql-gen-bug-repro

1. Schema is located at the root of the repo: `schema.graphql`.
2. Document is located at

[2018-11-11 08:44] kamilkisiela opened #829 "[V2] webpack plugin - tsloader doesn't pick up changes (in watch mode)"
**Describe the bug**
We've got two files. One is generated by the codegen, the other depends on the first one. If we change something in schema, the output with types is generated correctly, file gets written but webpack doesn't see the change, it uses cached content.

Let's say

**To Reproduce**
https://github.com/kamilkisiela/graphql-webpack/tree/v2

1. Use `Int!` in `Author.id`
1. `$ yarn build

[2018-11-11 09:45] kamilkisiela commented on #829
When I use a custom webpack loader for `.ts` files I see it gets an always fresh output.
I tried `awesome-typescript-loader` and after manually making a change in one of ts files it picks the fresh output and compiles as expected but the same process doesn't work with `ts-loader`.

Based on that I assume they have their own caching mechanism.

[2018-11-11 13:28] kamilkisiela commented on #828
Yes, it generates every input, enum and scalar defined in the schema. That's because you might use it in documents. Right now, we can't tell which one of them is used or not. That's something we might want to implement after releasing a new major version (soon).

[2018-11-12 00:42] mark-buer opened #831 "fragments don't work with noGraphqlTag (apollo-angular)"
Using fragments in conjunction with the `noGraphqlTag` option results in a code generation error.

**To Reproduce**
Take any existing graphql document with fragments, and try running:
[code]
The generator produces the rather cryptic error:
[code]

**Expected behavior**
I would expect to be able to use fragments and the `noGraphqlTag` option without error.
I personally care more about reducing the

[2018-11-12 02:40] #136 closed

[2018-11-12 02:42] dotansimha commented on #828
Hi @josemarluedke ! Thank you for opening this issue!
@kamilkisiela is right, input types, enums and scalars are required for client side as well, so we cant avoid it. It will be more flexible and customizable in the new API that we'll release soon.

We had a discussion about this issue before, please read https://github.com/dotansimha/graphql-code-generator/issues/438

[2018-11-12 02:42] #828 closed

[2018-11-12 02:42] #829 closed

[2018-11-12 02:46] dotansimha commented on #829
We can't force tsc to recompile when interfaces changes, and shipping the plugin this way might cause confusion because of the compilation lifecycle. We decided to wait a bit before support this.

[2018-11-12 09:18] dbuezas commented on #825
By the way, I was coming from this [tutorial](https://www.howtographql.com/react-apollo/2-queries-loading-links/) (which seems to be super popular) and they only show anonymous queries.

Not sure how usual it is for other newcomers but it was definitely hard to find for me. If that is the case you may want to consider a comment on that somewhere

[2018-11-12 10:16] dbuezas commented on #822
Thanks for the very comprehensive answer!

My point is that the Query resolver won't return what is expected (in your example returns a `string` instead), so the typings for that can't be used directly. Furthermore I wanted to have the return value of that query be automatically _in synch_ with the `parent` argument of the `User` resolver.

That is why I extracted the `ArgumentsType` from `QueryRe

[2018-11-12 13:01] kamilkisiela commented on #827
In #833, I reproduced what we want to have.

It should merge schemas and keep all directives and types should also keep them.
It does the first thing but every type with a directive, no longer has it in its AST, so plugins like TypeScript MongoDB will fail.

[2018-11-13 06:42] #827 closed

[2018-11-13 15:18] lednhatkhanh opened #840 "graphql-codegen-typescript-resolvers-template ignores gql-gen.json config"
**Describe the bug**
gql-gen.json gets ignore when running using graphql-codegen-typescript-resolvers-template

**To Reproduce**
Steps to reproduce the behavior:
1. Create `gql-gen.json` with this config:

[code]

1. Run with `DEBUG=true gql-gen --template graphql-codegen-typescript-resolvers-template --schema schema.json --out ./src/__generated__/resolvers-types.ts`

2. Log

[code]

**Expected be

[2018-11-13 15:35] lednhatkhanh commented on #840
Figured out the correct file has to be:

[code]

This should updated in the README file as well

[2018-11-14 14:18] mvestergaard commented on #808
We're also impacted by this. Had to downgrade to 0.12.6

[2018-11-14 14:45] ardatan commented on #808
I think `or` operator is decent one there, because a result cannot have properties of both AFragment and BFragment, am I missing something?

[2018-11-14 14:47] mvestergaard commented on #808
It can, look at the query from the example above:
[code]

Both fragments `A` and `B` is used, so it's not `A | B`, it's `A & B`

[2018-11-14 14:57] ardatan commented on #808
Oh my mistake, you're right!

[2018-11-14 15:54] fetis commented on #713
@dotansimha hi, sorry for a long reply.
I don't think it should be more efforts than now. Instead of generating a new type every time you'll use a Pick statement on existing server type. There might some edge cases of course, but I can't forsee it now.

[2018-11-14 18:25] lukepighetti opened #845 "Incorrect error "You are using the old template name""
[code]

I am using

[code]

I believe this error is incorrect. If it is correct, it is not clear what the issue is.

[2018-11-15 01:05] dotansimha commented on #845
@lukepighetti What's the exact command you are using?

[2018-11-15 01:06] dotansimha commented on #840
@lednhatkhanh we are currently working on improving the API and removing the need for `gqlgen.json`. It will be much easier to use!

[2018-11-15 01:06] #840 closed

[2018-11-15 02:29] DonaldWebb commented on #845
Fantastic tool.
Just updated to 0.130.0 from 0.12.6 and had the same problem:
`
gql-gen -w --require ts-node/register/transpile-only --schema http://localhost:4100 --clientSchema ./src/schema/clientSchema.ts --template graphql-codegen-typescript-react-apollo-template --out ./src/generated-models.tsx ./src/app/**/*.graphql ./src/app/**/*.gql ./src/app/**/*.ts ./src/app/**/*.tsx
`

Same problem with

[2018-11-15 04:47] micimize opened #847 "Fragment field metadata for underlying type"
**Is your feature request related to a problem? Please describe.**
I'm attempting to add helpers to the fragment classes generated in `graphql-to-dart` for assigning their fields to the original base types, but need a way to _either_:
* tell if the field is the same as on the base type
* get the field name from the base type if present (would be more powerful for field renaming)

Take the followin

[2018-11-15 13:44] lukepighetti commented on #845
[code]

[2018-11-15 13:46] lukepighetti commented on #845
I see now the mistake I made, I was using `ts` instead of `graphql-codegen-typescript-template`. Is there a compelling reason for the name change? It's quite a mouthful and the generated types are identical.

[2018-11-15 20:46] mark-buer commented on #831
@kamilkisiela Here is a simple reproduction case:

[code]

[code]

The following works (without noGraphqlTag):
[code]

whereas the following doesn't work (with noGraphqlTag):
[code]

[2018-11-15 21:55] kamilkisiela commented on #831
I reproduced and fixed it in #852

[2018-11-16 00:55] dotansimha commented on #845
Hi @lukepighetti !
In the older versions of the codegen, all templates was part of the codegen's library. Later, we separated it, and not we have a package per template, and it's also possible to run the codegen with custom npm packages.

[2018-11-16 00:55] #845 closed

[2018-11-16 00:56] #723 closed

[2018-11-16 01:33] dotansimha commented on #699
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/855

[2018-11-16 10:46] dotansimha commented on #803
Fixed in 0.14.0 🎉

[2018-11-16 10:46] #803 closed

[2018-11-16 10:47] dotansimha commented on #807
Available in 0.14.0 🎉

[2018-11-16 10:47] #807 closed

[2018-11-16 10:47] dotansimha commented on #811
Fixed in 0.14.0 🎉

[2018-11-16 10:47] #811 closed

[2018-11-16 10:47] dotansimha commented on #812
Fixed in 0.14.0 🎉

[2018-11-16 10:47] dotansimha commented on #831
Fixed in 0.14.0 🎉

[2018-11-16 10:47] #831 closed

[2018-11-16 10:47] dotansimha commented on #731
Done in 0.14 🎉

[2018-11-16 10:47] #731 closed

[2018-11-16 10:47] dotansimha commented on #732
Done in 0.14 🎉

[2018-11-16 10:47] #732 closed

[2018-11-16 10:47] dotansimha commented on #789
Fixed in 0.14.0 🎉

[2018-11-16 10:47] #789 closed

[2018-11-16 10:47] dotansimha commented on #790
Fixed in 0.14.0 🎉

[2018-11-16 10:47] #790 closed

[2018-11-16 10:47] dotansimha commented on #659
All fixes are available now in 0.14 🎉

[2018-11-16 10:47] #659 closed

[2018-11-16 10:47] dotansimha commented on #691
Fixed in 0.14. You can now specify `namingConvention` config. 🎉

[2018-11-16 10:47] #691 closed

[2018-11-16 10:47] dotansimha commented on #696
Available in 0.14 🎉

[2018-11-16 10:47] #696 closed

[2018-11-16 10:47] dotansimha commented on #699
Fixed in 0.14 🎉

[2018-11-16 10:47] #699 closed

[2018-11-16 10:47] dotansimha commented on #722
Done in 0.14 🎉

[2018-11-16 10:47] #722 closed

[2018-11-16 10:47] dotansimha commented on #724
Done in 0.14 (using listr) 🎉

[2018-11-16 10:47] #724 closed

[2018-11-16 10:47] dotansimha commented on #725
Done in 0.14 🎉

[2018-11-16 10:47] #725 closed

[2018-11-16 10:48] dotansimha commented on #159
This is a very old issue, and a lot has changed since then.
Please reopen if someone still having this issue.

[2018-11-16 10:48] #159 closed

[2018-11-16 10:49] dotansimha commented on #311
It's available now in our new website: https://graphql-code-generator.com/docs/custom-codegen/

[2018-11-16 10:49] #311 closed

[2018-11-16 10:49] #396 closed

[2018-11-16 10:51] dotansimha commented on #534
@degroote22 in the new API we have a new feature called `loader`.
You can specify a custom loader that will load your schema/document files.
It's not well documented yet, but it's tested and you can see how to use it here:
https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-cli/tests/codegen.spec.ts#L534-L547

[2018-11-16 10:51] #534 closed

[2018-11-16 10:52] dotansimha commented on #541
Hi @alexk111
We got a new `resolvers` template now, that let's you override the `parent` and `context` types. I think it might be useful for this use-case :)
Please re-open if you think we should support `graphql-shield` in a different way.

[2018-11-16 10:52] #541 closed

[2018-11-16 10:52] dotansimha commented on #548
Fixed in 0.14.

[2018-11-16 10:52] #548 closed

[2018-11-16 10:52] #566 closed

[2018-11-16 10:54] dotansimha commented on #583
You can now specify client-schema easily, and add custom schema pieces for each output. (since 0.14)

[2018-11-16 10:54] #583 closed

[2018-11-16 10:55] dotansimha commented on #606
Not possible at the moment, basic `tsc` compiler just strips interfaces and not validates them.

[2018-11-16 10:55] #606 closed

[2018-11-16 10:56] dotansimha commented on #609
Available since 0.14. You can now specify `namingConvention` in config, and point to a module and a function (for example, `change-case#lowerCase`)

[2018-11-16 10:56] #609 closed

[2018-11-16 10:58] dotansimha commented on #668
I'm note sure what's the actual issue here, but we did changed the way we load templates, so it might work now. @alonstar i'm closing this issue at the moment. Can you please try with the latest API and re-open if it still happens?

[2018-11-16 10:58] #668 closed

[2018-11-16 10:58] dotansimha commented on #671
Done in v0.14. Custom plugins can now specify `validate` method to validate their configuration.

[2018-11-16 10:58] #671 closed

[2018-11-16 10:58] dotansimha commented on #688
Done in 0.14. You can now specify `scalars` config the override each type ;)

[2018-11-16 10:58] #688 closed

[2018-11-16 10:59] dotansimha commented on #796
@ardatan can you please re-implement this with the latest plugins API?

[2018-11-16 21:22] qirex opened #860 "[0.14] Unable to specify headers when using schema from url"
**Is your feature request related to a problem? Please describe.**
Tried updating from 0.13.0 to 0.14.0.
There are no docs for introspection Pugin and how to provide auth header.

Had this npm script for introspection:
` "gql-gen:introspect": "gql-gen --schema http://localhost:4000  --header \"Authorization:[key]\" --template graphql-codegen-introspection-template --out ./src/app/graphql/generated

[2018-11-17 01:21] dotansimha commented on #860
@qirex thank you for reporting it!

Actually, `headers` has moved to be an object under the url, so you should be able to do:
[code]

I'm leaving this open because I know there are some things that are not documented yet, but we are working on it now!

[2018-11-17 04:06] dotansimha opened #872 "[0.14] Move `mergeSchemaFiles` to be an option under `schema`"
Now it's defined in the root of the config, but it should be under a specific `schema`:

[code]

[2018-11-17 04:07] dotansimha opened #873 "[Website] Document programatic usage"

[2018-11-17 04:30] dotansimha commented on #860
Done in: https://github.com/dotansimha/graphql-code-generator/pull/874

Docs for URL schema available now in: https://graphql-code-generator.com/docs/getting-started/schema-field#url

[2018-11-17 17:50] nemcek opened #877 "immutableTypes and noNamespaces in typescript template not working correctly together"
**Describe the bug**
When both `immutableTypes` and `noNamespaces` config options are specified the generated types are wrong (have typos). Each separately works fine.

For example in these generated types the type of `countries` in `CountriesCountries` should be `ReadonlyArray<Countries_Countries>` while there is a typo and the type is `CountriesReadonlyArray<_Countries> | null;`. The `Countries`

[2018-11-19 01:01] dotansimha opened #881 "[0.14] Allow setting watch and overwrite using cli flags"

[2018-11-19 02:12] dotansimha commented on #847
Hi @micimize !
Not sure if I got it right. I'm not sure you'll be able to get through the document validation if `calenderThrough` is not a valid field on the type...

[2018-11-19 08:20] rasmusprentow opened #882 "Customize file naming"
It would be very neat if generated file names could be handled. Some projects rely on kebab-case naming while others rely on camel case.

# Proposed Solution
Either add possibility to use a function to convert query name to file name:

[code]

Or with more cli options:

[code]

[2018-11-19 09:32] Jontem opened #885 "Error scanning files for graphql`` syntax"
**Describe the bug**
Files that contains no graphql query gets included for parsing which is causing the generator to crash

**To Reproduce**
[code]
Added failing test case #884
I think it will be hard to solve without parsing the files as AST. Already mentioned in #174

[2018-11-19 11:01] wesselvdv commented on #812
@dotansimha Using the example schema above still gives an error in 0.14.0:

`Unable to find the schema root matching query`

[2018-11-19 12:35] nemcek commented on #715
Not sure if this is still an issue, but if I understood it correctly @Industrial you don't want to be generating types from your **datamodel** like that.
If you want types for resolvers, you first need to generate the schema (the one you pass to the server) and then you can generate types for that schema.
If you want types for your prisma (datamodel) you can do so using post hooks in `prisma.yml`

[2018-11-19 16:34] SirensOfTitan opened #886 "RootMutationResolver doesn't honor mapping in codegen.yml file"
**Describe the bug**
So I have a root mutation object on the server, and generate a resolver for all mutations using `graphql-codegen-typescript-resolvers`.  I using mapping to map for user from a `UserEntity` to a gql-codgen generated `User`.

There was a correctly generated resolver signature for the VerifyUserPayload (the result of the `verifyUser` mutation):

[code]

... but the RootMutationRe

[2018-11-20 00:59] boom commented on #749
For anyone finding this post via google search as I did, the correct CLI flag for v0.13.0 is:

[code]

[2018-11-20 01:00] dotansimha commented on #885
Thanks @Jontem !

I just talked to @kamilkisiela about the same issue, because he needs a similar logic for https://github.com/kamilkisiela/graphql-inspector .
So together with @DAB0mB, are working now to create a tool that extracts the GraphQL documents using the AST of the code files.
As soon it will be ready, we'll use it in the codegen and it will resolve this issue as well :)

[2018-11-20 01:01] dotansimha commented on #886
@kamilkisiela

[2018-11-20 01:15] dotansimha commented on #749
Thanks @boom!
And since 0.14, you can just specify it a:
[code]

[2018-11-20 01:19] dotansimha commented on #882
Hi @rasmusprentow !

Since 0.14, you can pass custom `namingConvention` configuration in a form of `MODULE#FUNC` (you can also point to a local file). It effects all the built-in typescript plugins.  For example:

[code]

[2018-11-20 02:08] dotansimha commented on #583
Update on this issue. Since changes in 0.14, we no longer validate your GraphQL directives during the documents validation. So you no longer need to provide the clientSchema file with the directives declaration.

[2018-11-20 07:29] janhartmann opened #889 "Naming convention of types"
I am unsure whether or not I have missed a configuration step, but my generated types for arrays is looking like this after upgrading to 0.14.1:

[code]

I would really want `Machines[]` to be `Machine[]` (the `__typename`), as working with them in singular form.

Is there a configuration for this? :-)

[2018-11-20 09:27] furier opened #890 "avoidOptionals doesnt seem to work propperly"
After upgrading from version `0.12.5` to `0.14.1` I have some issues with optional properties on fragments.

According to the documentation the config option `avoidOptionals` is set to `false` by default, and iv also tried to set it to both `true` and `false` explicitly to view the difference. The example in the docs shows this.

`type A { myField: String }` will output `myField: string | null` in

[2018-11-20 09:35] dotansimha commented on #890
Hi @furier
We changed the behavior, and now on `typescript-client` it will always generate non-optional. The reason is - if you ask for a specific field in a query or a fragment, the graphql engine will return this fill always, so there is no way it will optional.

Currently, `avoidOptionals` effects only `typescript-server` and they way it generates type fields.

Does this effect you in a way?

[2018-11-20 09:38] dotansimha commented on #889
Hi @janhartmann !

The codegen just generates according to the name of the fields you ask for. You can change it by using graphql aliases:

[code]

It will replace the name of the fields locally, and cause the codegen to generate a type called `export type Machine` instead of `Machines`.

Do you think we should address this issue in a different way?

[2018-11-20 09:40] furier commented on #890
It just means I need to fix a bunch of code to have the no longer optional fields. :P But I thought it might be a bug since It didn't use to be like that and got confused when reading the docs thinking it should behave as I expected.

[2018-11-20 09:41] #890 closed

[2018-11-20 09:42] janhartmann commented on #889
I can see why the codegen does this, and maybe I just need to adjust my mind to this naming.

I guess  I am just used to have a `Machine` and when its an array its `Machine[]`. So the `__typename` is the one defining the type :-)

[2018-11-20 09:47] dotansimha commented on #890
Sorry for the breaking changes :D we really try to avoid it :)

[2018-11-20 09:49] dotansimha commented on #889
Yeah `__typename` defined the actual GraphQL type, and the name of the interface is according to the name of the field that you asked for.

Closing for now :)

[2018-11-20 09:49] #889 closed

[2018-11-20 09:50] janhartmann commented on #889
I guess I can write my own plugin now ;-)

[2018-11-20 10:16] furier commented on #812
Yeah me to having the same problem

[code]

[2018-11-20 10:31] qirex commented on #860
Follow up to this (v0.14.1):

Not working:
[code]
Output:
[code]

Working:
[code]
An error either in docs or implementation?

[2018-11-20 10:42] dotansimha commented on #860
Thanks @qirex ! Re-opening until we'll fix the issue with headers as object.

[2018-11-20 14:53] SirensOfTitan commented on #886
@kamilkisiela: our schema uses a `Payload` type for each mutation result to ensure we can deprecate or add return values to a mutation result later on, so using your added test case as a basis our schema would look more like:
[code]

.... in that case, I believe, the generated type for the `RootMutationResolvers` would have an incorrect signature for `upvotePost` as  UpvotePostPayload would not ha

[2018-11-20 15:45] mcongy opened #893 "Why are fields on QueryResolver optional?"
Hello,

I'm generating resolvers using resolvers template

```gql-gen --template graphql-codegen-typescript-resolvers-template --config gql-gen.json --out __generated/resolver-types.ts -s src/graph-api/schema.graphql```
(using no-namespaces version for babel-typescript)

Here's my query type:
[code]
Here's my query resolver type:
[code]
Here's how I use it:
[code]

Why is `users` field optional? T

[2018-11-20 16:44] kamilkisiela commented on #808
#894

[2018-11-20 16:53] kamilkisiela commented on #886
@SirensOfTitan https://github.com/dotansimha/graphql-code-generator/commit/b1bf6983522211a0432392ff3d8cea6b014e98dc

[2018-11-20 16:54] ardatan commented on #893
It is optional field, not nullable.
I don't think it is possible to decide if a field resolver is required or not.

[2018-11-21 00:01] dotansimha commented on #893
Hi @mcongy !

The field is declared as optional because otherwise you have to specify a single file, with a single object, that contains all the mutation/query fields resolvers.
We recommend to separate it and not to use a huge file for all your resolvers.
By using optionals, you can get IDE support and auto-complete, and you can separate the `type` fields resolvers to multiple files.
Once you imp

[2018-11-21 00:04] dotansimha commented on #885
WIP (by @DAB0mB) here: https://github.com/DAB0mB/graphql-tag-pluck

[2018-11-21 05:47] polco opened #897 "The webpack plugin is not compatible with the latest version of graphql-code-generator"
**Is your feature request related to a problem? Please describe.**
after updating to the latest version of `graphql-code-generator@14.0.1`, i get this error when compiling with webpack:
[code]

**Describe the solution you'd like**
the webpack plugin API needs to be updated since the 'template' parameters does not exist anymore.

[2018-11-21 08:03] dotansimha commented on #897
Hi @polco !
We removed the webpack plugin for now. We tried to implement it and released an initial version of it, but it doesn't really work as we expected.
It's not possible to force Webpack to reload the files when a TypeScript interface changes. So it you change a GraphQL file -> The codegen runs, writes to output file -> The output file updates, but Webpack doesn't get the file update and it

[2018-11-21 09:38] Industrial opened #900 "typescript-react-apollo requires extension to be ".tsx""
**Describe the bug**
Using `graphql-codegen-typescript-react-apollo` doesn't generate a .tsx file.

**To Reproduce**
Steps to reproduce the behavior:
Schema: https://gist.github.com/Industrial/dd53d2ff16b132cdad8f830c65bf9b20
Config: https://gist.github.com/Industrial/181dcb7721b69f5e5ccb44df119ed54b/292473cca5bab4c9b1953693c9467300f31abdca

**Expected behavior**
a `.tsx` file generated.

**Enviro

[2018-11-21 10:01] dotansimha commented on #900
Hi @Industrial

The `typescript-react-apollo` and `typescript-client` are for client-side, and they require you to specify `documents` field (pointing to your queries, mutations, subscriptions and fragments).
`typescript-server` is for server side (or, client-side schema, and goes with `typescript-resolvers`).
Both should be coupled with `typescript-common`.

Also, you can use the same file for `t

[2018-11-21 10:03] dotansimha commented on #877
Thanks @nemcek . I'll look into it. I think the namespace is missing there.

[2018-11-21 10:08] furier commented on #812
Sorry for nagging you, but I am very eager to test out the `graphql-codegen-apollo-angular` plugin to start using it in our angular application. :D Is this still *waiting-for-release* ?

[2018-11-21 10:13] dotansimha commented on #812
@kamilkisiela is working on fixing it right now :)
The issue is with the package that we are using for merging GraphQL schemas (`@graphql-modules/epoxy`).

[2018-11-21 10:48] wesselvdv commented on #812
@dotansimha Also seems this issue is not necessarily related to using graphql(s) files. I am also experiencing this when using the previously working .json file.

[2018-11-21 11:05] kamilkisiela commented on #812
It's related to the way schemas are being merged, a schema definition object is removed and it only treats `Query`, `Mutation` and `Subscription` as root types.

Fixed in #899

[2018-11-21 11:14] dotansimha commented on #812
@wesselvdv @furier Can you please try with `0.15.0-alpha.7c1a7d2a` from npm? it includes the latest fixes that @kamilkisiela did .

[2018-11-21 14:30] furier commented on #812
Have had meetings all day, but ill get right on it now. :)

[2018-11-21 14:43] furier commented on #812
@dotansimha @kamilkisiela works like a charm when i upgraded all the packages to that version :)

[2018-11-21 16:33] micimize commented on #847
It's [alias syntax](https://graphql.org/learn/queries/#aliases) for queries. Thinking about it more, the right thing to do here is probably "add alias field metadata to queries/fragments"

[2018-11-22 05:52] dotansimha commented on #897
Closing for now. We might try to implement again later in the future.

[2018-11-22 05:52] #897 closed

[2018-11-22 06:35] dotansimha commented on #847
@micimize
In this PR: https://github.com/dotansimha/graphql-code-generator/pull/906, I also added `schemaFieldName` and `isAliased`.
`name` will contains the alias if it exists, otherwise the original name.
`schemaFieldName` will be the original field name in the schema (ignoring aliases).
`isAliased` is a boolean indicates if the field is aliased or now.

[2018-11-22 06:44] dotansimha commented on #782
Hi again, @williamluke4 .
I updated the README with explanation of how to run the project locally. It's not too difficult.
Also, to develop a custom plugin, you don't need this repo, you can do it directly in your project, or as separated package.

- [How to run this repo locally](https://github.com/dotansimha/graphql-code-generator#contributing)
- [How to develop your own plugin](https://graphql-

[2018-11-22 06:44] #782 closed

[2018-11-22 06:44] #642 closed

[2018-11-22 06:54] dotansimha commented on #897
Yeah it's in git history, you can take a look at 0.13 tag.

[2018-11-22 06:57] dotansimha commented on #582
Thanks @ecwyne !
We documented the usage with RCA/babel-typescript here: https://graphql-code-generator.com/docs/integrations/create-react-app

[2018-11-22 06:57] #582 closed

[2018-11-22 06:59] dotansimha commented on #481
@daniel-nagy
We are trying to avoid `namespace`s at the moment, since they are not supported in Babel 7 TypeScript plugin.

[2018-11-22 06:59] #481 closed

[2018-11-22 07:01] dotansimha commented on #689
@BasHamer Can you please try the latest version? We fixed a lot of issues regarding the schema loading and merging.
Please re-open if it still happens.

[2018-11-22 07:01] #689 closed

[2018-11-22 07:03] dotansimha commented on #713
@fetis There are other things to consider, such as fragment, aliasing and more.
I'm doing some research now to see if how that effects the template.
In general, I agree that this syntax is way better than creating inner types.

[2018-11-22 07:42] dotansimha commented on #885
Fixed and merged in: https://github.com/dotansimha/graphql-code-generator/pull/907

[2018-11-22 08:35] kamilkisiela commented on #664
It was fixed:
https://github.com/dotansimha/graphql-code-generator/blob/93e13fe6ca8a6c0d065c7911b863e5549c2440ce/packages/plugins/typescript-resolvers/tests/typescript-resolvers.spec.ts#L685-L714

@mmanela @dotansimha I guess it's available since v0.14.0 not in v0.13.0

[2018-11-22 11:34] azazdeaz opened #908 "How to generate ts-multiple?"
The examples contain a `ts-multiple` folder with separated files per query/type/etc. I read through the new docs (which is awesome! thanks a lot :metal: ) and played with the settings but i couldn't figure it out how to generate multiple files. What did i miss?

[2018-11-22 12:13] RIP21 opened #909 "Watch mode looking for --template in cli while config passed with all required setup."
[code]
Results in
[code]
Using without `--watch` works just fine.

[2018-11-22 15:39] wesselvdv commented on #812
When will a new version be cut?

[2018-11-23 00:32] dotansimha commented on #642
Fixed in >0.14

[2018-11-23 00:34] dotansimha commented on #174
@jonaskello @FredyC
We recently merged this: https://github.com/dotansimha/graphql-code-generator/pull/907 , now the codegen will parse the code file as AST and extract the documents from it.

[2018-11-23 00:42] dotansimha commented on #909
I was fixes recently in  https://github.com/dotansimha/graphql-code-generator/pull/906, use the latest alpha :)

[2018-11-23 00:44] dotansimha commented on #908
Hi @azazdeaz !
The `ts-multiple` was a template we had a long time ago, and it was deprecated and then removed.
It was very difficult to maintain the multiple-files template because of the imports and circular dependencies between them.

https://github.com/dotansimha/graphql-code-generator/issues/732

[2018-11-23 00:44] #908 closed

[2018-11-23 00:44] #900 closed

[2018-11-23 01:05] dotansimha commented on #822
@dbuezas
By typings cannot be used directly, you mean that you need to overwrite the generics?

You don't have to force or use `as` with the resolvers typings, just use the as-is for the entire resolver object.
By default, the generated output of the resolvers plugin is an object matching the structure of your type. You can override it with TypeScript generics, and you are doing it only once, and

[2018-11-23 10:41] kroeder opened #914 "Custom plugin script can't be found"
**Describe the bug**
I can't use a custom plugin; simply followed the instructions here: https://graphql-code-generator.com/docs/custom-codegen/write-your-plugin

See repo in "To Reproduce"

[code]

**To Reproduce**
Could reproduce it here: https://github.com/kroeder/gql-gen-custom-plugin-issue-repo
Anything I got totally wrong?

It would help if the error message would show a full path instead ju

[2018-11-23 13:14] kamilkisiela commented on #914
@kroeder Nice! It should be a relative or an absolute path: `./test-plugin.js`. That's because the codegen uses `require` to load plugins.

Do you think you're be able create a PR that fixes docs? I can help you with that :)

[2018-11-23 13:20] kroeder commented on #914
I can contribute, but it still fails
[code]

[2018-11-23 14:21] kamilkisiela commented on #914
#915 should fix it

[2018-11-23 14:43] kamilkisiela commented on #914
@kroeder I'll make it work even as `path.js` in a minute.

[2018-11-23 18:47] kamilkisiela commented on #914
@kroeder Could you check if `0.15.0-alpha.274b13b3` works for you?

[2018-11-24 01:14] #877 closed

[2018-11-24 01:16] dotansimha commented on #579
@forabi implemented in: https://github.com/dotansimha/graphql-code-generator/pull/910

[2018-11-24 12:34] kroeder commented on #914
Works as expected but something else changed without changing anything in my config
https://github.com/kroeder/gql-gen-custom-plugin-issue-repo/commit/e7f90960d3fbce5e6524005294d4ddb08bf51ad8#r31431497

Is this an expected behavior?

Here's the proof that your fix has worked https://github.com/kroeder/gql-gen-custom-plugin-issue-repo/blob/master/src/test-plugin-types.d.ts

[2018-11-24 12:39] dotansimha commented on #914
@kroeder We recently changed the name of the enums values to math all other naming conventions.

[2018-11-24 14:14] vko-online commented on #766
@FredyC namespaces are good when using in multiple files, but babel says --1-file-at-a-time--. So they just are different

[2018-11-25 00:39] dotansimha commented on #914
Fixed in 0.14.2 🎉

[2018-11-25 00:39] #914 closed

[2018-11-25 00:39] dotansimha commented on #796
Fixed in 0.14.2 🎉

[2018-11-25 00:39] #796 closed

[2018-11-25 00:40] dotansimha commented on #909
Fixed in 0.14.2 🎉

[2018-11-25 00:40] #909 closed

[2018-11-25 00:40] dotansimha commented on #886
Fixed in 0.14.2 🎉

[2018-11-25 00:40] #886 closed

[2018-11-25 00:40] dotansimha commented on #885
Fixed in 0.14.2 🎉

[2018-11-25 00:40] #885 closed

[2018-11-25 00:40] dotansimha commented on #881
Fixed in 0.14.2 🎉

[2018-11-25 00:40] #881 closed

[2018-11-25 00:40] dotansimha commented on #872
Fixed in 0.14.2 🎉

[2018-11-25 00:40] #872 closed

[2018-11-25 00:40] dotansimha commented on #860
Fixed in 0.14.2 🎉

[2018-11-25 00:40] #860 closed

[2018-11-25 00:40] dotansimha commented on #847
Available in 0.14.2 🎉

[2018-11-25 00:40] #847 closed

[2018-11-25 00:40] dotansimha commented on #812
Fixed in 0.14.2 🎉

[2018-11-25 00:40] #812 closed

[2018-11-25 00:41] dotansimha commented on #720
Fixed in 0.14.2 🎉

[2018-11-25 00:41] #720 closed

[2018-11-25 00:41] dotansimha commented on #808
Fixed in 0.14.2 🎉

[2018-11-25 00:41] #808 closed

[2018-11-25 00:41] dotansimha commented on #664
Fixed in 0.14.2 🎉

[2018-11-25 00:41] #664 closed

[2018-11-25 00:41] dotansimha commented on #608
Fixed in 0.14.2 🎉

[2018-11-25 00:41] #608 closed

[2018-11-25 00:41] dotansimha commented on #579
Fixed in 0.14.2 🎉

[2018-11-25 00:41] #579 closed

[2018-11-25 00:42] dotansimha commented on #160
WIP here: https://github.com/dotansimha/graphql-code-generator/pull/917

[2018-11-25 01:07] dotansimha opened #919 "[0.14.2] `addToSchema` need to run before all plugins"
Instead of applying it per-plugin, it should be applied per-file, and only then to execute it.

How to reproduce this?
Use `typescript-common` and `typescript-mongo` together, and use a directive.
The schema that `typescript-common` gets does not contain the directives `typescript-mongo` adds.

It requires some refactoring, because that means that we need to load the plugin before executing it, co

[2018-11-26 10:36] #919 closed

[2018-11-26 11:09] furier opened #923 "upgrading to 14.0.2 - .tsx: Unexpected token, expected "}""
Hi, after upgrading to **14.0.2** I get this  error when i run the command `gql-gen`, but the typescript is perfectly valid. :S

[code]

**codegen.yml**
[code]

[2018-11-26 13:28] wesselvdv opened #924 "extend type for local schema not working."
**Describe the bug**
Using the `extend` keyword to extend QueryRoot or MutationRoot types is not working. Instead we have to 'redefine' the MutationRoot and QueryRoot which in turn will be merged by `gql-gen`. This doesn't play ball with the autocomplete of IntelliJ GraphQL plugin.

We're getting a simple there have been errors in your document.

**To Reproduce**
Steps to reproduce the behavior:
1

[2018-11-26 13:30] wesselvdv opened #925 "More verbose error messages."
**Is your feature request related to a problem? Please describe.**
Currently it's quite difficult to discern what exactly is going wrong if there's an error. Error messages are simply along the lines of: `An error has occurred in one of your documents.`

**Describe the solution you'd like**
I'd prefer the ability to either set a flag that makes it more verbose, or simply enable it by default to in

[2018-11-26 13:31] wesselvdv commented on #923
I am also encountering this, I tackled it by moving all my queries to files that have the same name. (eq. queries.ts in every directory that has files that use graphql.)

[2018-11-26 13:33] wesselvdv commented on #924
btw. I also tried to use the # import syntax, but that ultimately gives me weird errors that indicate that gql-gen is suddenly unable to locate the schema files I am trying to include.

[2018-11-26 13:50] furier commented on #923
Thats not something I am willing to do... So I downgraded to the 4.0.1.alpha version

[2018-11-26 16:06] kamilkisiela commented on #923
@furier @wesselvdv could you check `0.15.0-alpha.7df98bdf`?

[2018-11-26 17:30] ardatan commented on #924
Extension node support is added in this version of epoxy; but before we merge it could you try this canary version to make sure it is working ‘0.15.0-alpha.f8615088’

For import syntax, I’ll check that.

[2018-11-26 17:36] furier commented on #923
@kamilkisiela not getting the error with: `0.15.0-alpha.7c1a7d2a`

[2018-11-26 17:40] kamilkisiela commented on #923
We changed the way we extract documents from ts and js files. Before that we used RegExp, now we use [the library](https://github.com/DAB0mB/graphql-tag-pluck) that our teammate wrote. It uses AST to find stuff based on the default export of `graphql-tag`.

I'll release a v0.14.4 soon.

[2018-11-26 19:20] wesselvdv commented on #924
Works! Thanks for the quick reply, and idea when you'll push it live?

[2018-11-26 21:28] mark-buer opened #930 "`add` plugin joins lines with `"\r\n"` ?"
**`add` Plugin Uses `\r\n` Between Lines**
I have observed some odd newline behaviour between a windows and a macOS machine with a generated file while using the `add` plugin.

[Looking at the source](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/add/src/index.ts#L17
), one can see that the lines are separated by `"\r\n"`.

That seems odd, doesn't it? Normally,

[2018-11-27 05:26] proSingularity opened #932 "template literal after ( results in Syntax Error: Unexpected Name"
**Describe the bug**
In my large product, I traverse all `.ts` files (as documents) and look for graphql tags. (Some files do not contain any graphql tags in them.) When `gql-gen` encounters a template literal it fails. I constructed this minimal example. The important part is only the document.

**To Reproduce**
Steps to reproduce the behavior:
1. Use as schema
[code]

2. Use  as documents
[code]

[2018-11-27 08:42] luishdz1010 commented on #285
`noNamespaces` doesn't seem to work with `typescript-resolvers`, is it only for `typescript-client`?

[2018-11-27 08:54] vlasenko opened #933 "Webpack Plugin"
**Is your feature request related to a problem? Please describe.**
We would like to use Webpack with GraphQL Code Generator in watch mode to achieve live reload of TypeScript types when GraphQL schema files change.

**Describe the solution you'd like**
A Webpack Plugin that processes only those files on the filesystem that make up the Webpack project by reading Webpack modules list and generating

[2018-11-27 10:12] #930 closed

[2018-11-27 10:16] kamilkisiela commented on #932
@proSingularity could you check `0.15.0-alpha.a1d3b95d`?

[2018-11-27 10:37] proSingularity commented on #932
@kamilkisiela Hi and thank you very much! Both the error in the minimal example as well as the template literal related errors in our large project are solved now :+1:  Good job,

[2018-11-27 10:59] kamilkisiela commented on #932
@proSingularity Super nice! I'll release a stable version today or maybe tomorrow 👍

[2018-11-28 00:13] ardatan commented on #285
Could you share your configuration?

[2018-11-28 07:48] luishdz1010 commented on #285
Here is it:

[code]

[2018-11-28 09:53] ardatan commented on #285
Could you try like this?
[code]

[2018-11-28 09:58] asnaseer-resilient opened #939 "gql-gen runs without errors but no output generated"
**Describe the bug**
The code generator is being run via `npm run generate` as recommended in your documentation. I have added this to my `package.json` file:
[code]
The generator seems to complete without any errors however there is no output file generated.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `schema.graphql` shown below
2. Use `codegen.yml` shown below
3. Run the following

[2018-11-28 13:22] wesselvdv opened #941 "Using type with name `Subscription` results in funky behaviour."
**Describe the bug**
When defining a ObjectType with the name `Subscription`, and either having no Subscriptions definitions or having a Subscription root with a different Subscription root type results in errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the following schema file:
[code]
2. Use the following document:
[code]
3. Run gql-gen with the following codegen.yml:
[code]
**

[2018-11-28 14:03] lacolaco commented on #941
I was in the same situation, and I figured out the reason.

Since v0.14.4, it depends on `@graphql-modules/epoxy` version 0.2.12. But it has a bug around `Subscription` since v0.2.10.

https://github.com/Urigo/graphql-modules/issues/202

I sent a patch to fix that, and it was merged. After it will be released, graphql-code-generator have to upgrade the dependency.

workaround:

@wesselvdv you can

[2018-11-28 17:44] luishdz1010 commented on #285
Thanks, @ardatan, it's working perfectly now.

[2018-11-28 18:04] kamilkisiela commented on #939
@asnaseer-resilient you need to provide `documents` in there:

[code]

Declaration files `*.d.ts` can't have code in them, only interfaces, namespaces and module declarations so using GQL services won't be possible and TS will throw an error.

[2018-11-28 20:16] FredyC commented on #595
@dotansimha Have you ever got to releasing a fix for GraphQL 14? I've just upgraded to latest `0.14.4` and the error @simPod mention is popping up for me as well.

[2018-11-28 20:42] FredyC opened #945 "Unexpected $ when using fragments with gql tag"
**Describe the bug**
This is something that was working on 0.9.2. After upgrading to 0.14.4 (+ migrated configuration) I am getting `Syntax Error: Unexpected $`. It feels like it's more related to some transpilation issue since this just a literal template string. Or perhaps lack of it? Is there some transpilation happening at all?

**To Reproduce**

[code]

**Configuration**

[code]

**Environmen

[2018-11-28 21:39] FredyC commented on #945
Ok, I've found the culprit and opened an issue in upstream repo. You can keep this open to track progress or close it. Up to you.

[2018-11-28 21:56] FredyC commented on #945
Fixed in #944

[2018-11-28 21:56] #945 closed

[2018-11-28 22:13] FredyC opened #947 "Cannot query field XYZ on on type "Subscription""
**Describe the bug**
For some reason when validating a document against schema it looks for query under the `Subscription` type. However, when I remove the `Subscription` type completely, it works without a problem,

**To Reproduce**

_Schema_
[code]

_Query_

[code]

_Configuration_

[code]

**Expected behavior**
Less sneaky validation :D

**Environment:**
 - OS: Windows 10
 - Node: 10.12.0

[cod

[2018-11-29 00:50] lacolaco commented on #941
@dotansimha could you revert the @graphql-modules/epoxy version to 0.2.9 or before, and release v0.14.5?
I think this is a degrading of v0.14.4.

[2018-11-29 06:07] ardatan commented on #941
Could you try the canary version ?
[code]

[2018-11-29 06:36] lacolaco commented on #941
@ardatan It works!

my case

[code]

[code]

[2018-11-29 06:37] ardatan commented on #941
Great!

[2018-11-29 08:00] thekevinbrown commented on #925
I'm having trouble with the download of a remote schema failing, and I don't know exactly what it's trying to download, nor do I know what the server is saying back. It'd be awesome if there was a --debug flag or something so I could see what it's doing to help me troubleshoot.

[2018-11-29 08:39] Alxandr opened #950 "Multiline comments are squashed without whitespace"
**Describe the bug**
The following gql:

[code]

turns into this in typescript

[code]

Notice that `same` and `level` get's merged to `samelevel`.

**Expected behavior**

I expected the comment to either be multiline, or be

[code]

**Environment:**
 - OS: OSX
 - Codegen: v0.14.4
 - Node: v11.2.0

**Additional context**
I've looked into the code a bit, and in all likelihood, changing `oneLineTrim

[2018-11-29 09:07] kroeder opened #951 "Add more documentation on how to write plugins in TypeScript"
**Is your feature request related to a problem? Please describe.**
Since I'm in an Angular environment I wanted to write my plugin in TypeScript. However the only thing in the documentation is this info that you need to compile your plugin before you can run it with `gql-gen`.

What I found out by code-surfing through your repo: `codegen-templates-scripts build`
`codegen-templates-scripts build` w

[2018-11-29 10:01] kamilkisiela commented on #950
@Alxandr Thanks :) I will take a look at it at the end of the week but maybe you're up to fix it in a PR? I could help

[2018-11-29 10:20] kamilkisiela commented on #923
`v0.14.4` released

[2018-11-29 10:41] lacolaco commented on #941
v0.14.5 looks good! I confirmed it has been solved in my situation.

[2018-11-29 10:41] kamilkisiela commented on #941
`v0.14.5` is out :)

[2018-11-29 10:41] #941 closed

[2018-11-29 10:42] kamilkisiela commented on #932
`v0.14.5` is out :)

[2018-11-29 10:42] #932 closed

[2018-11-29 10:42] #924 closed, assigned to nobody

[2018-11-29 11:38] furier commented on #923
@kamilkisiela I have tried both 0.14.4 and 0.14.5 and they both continue to give me the exact same issue, deleted node_modules and installed packages again, just to make sure and no change :(

[2018-11-29 11:39] kamilkisiela commented on #923
Could you also remove `yarn.lock`?

[2018-11-29 11:51] furier commented on #923
on it...

[2018-11-29 12:05] kroeder opened #953 "Add more hints to error message "Found x errors in your documents""
**Is your feature request related to a problem? Please describe.**
There might be an error in one of my ```gql`...` ``` DocumentNodes and gql-gen prints

[code]

How should I know where to look? Is there a way to identify the source of the Problem?

**Describe the solution you'd like**
Print one of the following
- .graphql file name
- file name where  ```gql`...` ``` failed
- Query or Mutation nam

[2018-11-29 12:13] furier commented on #923
still same issue @kamilkisiela

[2018-11-29 12:51] kroeder commented on #953
Weird. PowerShell actually printed errors while gitbash did not ... is this a known thing?

[2018-11-29 13:40] furier commented on #923
rolling back to `0.15.0-alpha.7c1a7d2a` in the meantime

[2018-11-29 21:21] jreeter commented on #939
@kamilkisiela is there any documentation describing what exactly these yaml configuratons mean? I'm also having trouble finding examples of doing basic things.. like generating my own code from a custom template..

[2018-11-29 22:13] jreeter commented on #951
I would also like to see this. Specially a more detailed example on generating code with a custom handlebars templates.

[2018-11-30 05:13] proSingularity opened #958 "Config to allow `undefined` in typescript client output"
**Is your feature request related to a problem? Please describe.**
In our project I try to upgrade from an old version of gql codegen (v0.8.x) to a newer version (tried 12,3, and all versions of 14.x). Version 12.3 worked due to generation of `undefined` in client queries (on my local machine). Unfortunately, gqlgen 12.3 did not work at all on our pipeline for some unknown reason. 14.x executes on

[2018-11-30 07:39] crissi opened #959 "Does not generate Apollo angular query classes anymore"
**Describe the bug**
Does not generate Apollo angular templates, like MyQueryGQL, after changing to the new config API.

**To Reproduce**
Run yarn gql-gen with with indicated config

**Expected behavior**
Generates the GQL

**Schema/Documents**
Config (codegen.ylm):
[code]

versions:
graphql-code-generate: v0.14.5
graphql-codegen-apollo-angular-template: v0.14.5

**Environment:**
 - OS: Windows

[2018-11-30 08:20] asnaseer-resilient commented on #939
@kamilkisiela I followed your suggestions and also created a folder named `generated` with a sub-folder named `operations` under that to hold all the generated files. My modified `codegen.yml` is:
[code]
However, this still fails to generate anything giving me:
[code]

[2018-11-30 08:32] kamilkisiela commented on #939
@asnaseer-resilient First question, where do you keep your documents? How do you define queries, mutations? Using `gql` tag or `.graphql` files?

`documents` option should be a glob that tells GraphQL Code Generator where to look in order to find queries, mutations, subscriptions and even fragments (we call them all documents).

For example, let's assume you're using `gql` tag.

**src/app/foo.comp

[2018-11-30 09:41] asnaseer-resilient commented on #939
@kamilkisiela D'oh! Thanks for pointing out my obvious mistake. I changed documents to point to where I have defined all my `gql` queries and everything works perfectly now. I think term `documents` threw me a bit but now I understand it fully.

Many thanks for your patience.

[2018-11-30 09:43] kamilkisiela commented on #939
Super nice! :) I guess I can close the issue now.

[2018-11-30 09:43] #939 closed

[2018-11-30 17:39] jreeter opened #961 "Generating custom code from handlebars.."
Have I completely missed the documentation that shows how to generate custom code from the .graphql schema and a handlebars template? I cannot find a simple example of this on the website or docs..

schema.graphql file:
[code]

ts.type.handlebars (lives in ./models):
[code]

codegen.yml
[code]

output:
[code]

However nothing is generated. I know I'm missing something simple here.

And a follow up

[2018-11-30 18:18] emmanuelbuah opened #962 "Cannot find module `graphql-codegen-core` error when generating types"
**Describe the bug**
 Cannot find module `graphql-codegen-core` error when generating types

**To Reproduce**
Steps to reproduce the behavior:
1. Install typescript-server plugin
2. Execute type generation
3. Errors with
[code]

**Expected behavior**
`graphql-codegen-core` should be a dependency of `graphql-codegen-typescript-server` not a devDependency. Its used in the codebase and therefore shou

[2018-11-30 18:20] kamilkisiela commented on #962
Could you show us what packages that are related to the codegen you have installed?

[2018-11-30 21:47] RIP21 opened #964 "Improve typings by providing `mutation`, `query`, `subscription` instead of `graphql`"
Currently, HOCs for `apollo-react` generated using `graphql` which is quite obvious, but it actually has some flaws described in this issue:
https://github.com/apollographql/react-apollo/issues/2568

Long story short, both `Mutation` and `Query` function arguments are merged using `|` so both `mutation` and `data` end up in `props` arguments object.

To provide better typing you can import `query`

[2018-12-01 02:57] #961 closed

[2018-12-02 03:40] RadAcademy commented on #953
Yes this is frustrating beyond belief, this:

[2] Something went wrong
[2] [14:39:28] → Found 2 errors in your documents
[2] [14:39:28] Generate src/client/app/core/graphql.ts [failed]
[2] [14:39:28] → Found 2 errors in your documents
[2] [14:39:28] Generate outputs [failed]

Is not helpful

[2018-12-02 19:57] ganeshpms opened #967 "schema-ast: can we remove the validation as I want to use this with other plug in"
can we remove the validation from `schema-ast` until unless it is giving any special value? I want to use this with other plug-in and want to generate the `.ts` file. The validation forcing me to have `.graphql` file extension.

for example the below configuration is not working.

`
libs/schema/src/lib/schema.graphql.ts:

    plugins:
    - add: // Auto Generated. Please don't edit, the changes wi

[2018-12-03 04:12] kroeder commented on #953
Have you seen my comment? Can you try if it works with a different CLI tool? I got all locations using powershell

[2018-12-03 11:06] Kunjahamed-P opened #971 "How to specify Version when add graphql-code-generator"
How to specify Version when install graphql-code-generator ie: i want install 0.10.3 version. no need to install latest version. is it possible ?

i try npm install graphql-code-generator VB0.10.3 but this not work.

also try yarn add -D graphql-code-generator graphql@0.10.3   but its run , but not installed .10.3 version its installed 0.14.5

[2018-12-03 13:55] kamilkisiela commented on #971
[code]

[2018-12-03 13:56] kamilkisiela commented on #971
npm: https://docs.npmjs.com/cli/install.html
yarn: https://yarnpkg.com/en/docs/cli/add#toc-adding-dependencies

[2018-12-03 13:56] #971 closed

[2018-12-03 13:57] kamilkisiela commented on #959
Could you check if there's a message in the terminal that says: "No documents found"?

[2018-12-03 13:58] kamilkisiela commented on #951
https://graphql-code-generator.com/docs/custom-codegen/write-your-plugin :)

[2018-12-03 16:43] Rachnerd opened #973 "--watch throws "Watchman: Watchman was not found in PATH error.""
**Describe the bug**
`--watch` does not seem to work without Watchman installed on your OS.

[code]

**To Reproduce**
1. Don't have Watchman installed on your OS.
2. Run the following command: `gql-gen --watch`

**Expected behavior**
`gql-gen --watch` generates code and watches for changes out of the box.

**Environment:**
 - OS: Ubuntu 18.04
 - Codegen: 0.14.5
 - Node: 10.8.0

**Additional contex

[2018-12-03 19:09] ze-flo opened #975 "Typescript Client with noNamespaces: field value doesn't match generated name of inlineFragments"
**Describe the bug**
When `graphql-codegen-typescript-client` is configured with `noNamespaces: true` and a field value is a `union` of `graphQL` types, the field's value references the wrong name for the generated `inlineFragments` type. It appears the prefix is missing.

**To Reproduce**
Using this mouthwatering example in the demo app:

### `schema`:

[code]

### `document`:
[code]

### `config

[2018-12-04 00:34] dotansimha commented on #933
Hi @vlasenko

We had a webpack plugin before, which had a lot of issues, because of the way typescript detects changes and recompiles.

Please see:
https://github.com/dotansimha/graphql-code-generator/issues/829
https://github.com/dotansimha/graphql-code-generator/issues/897

Keeping open for reference, and because we might find a solution in the future.

[2018-12-04 00:37] dotansimha commented on #953
Hi @kroeder @RadAcademy
I guess it's related to the way we print the errors. It looks the same as this issue: https://github.com/dotansimha/graphql-code-generator/issues/953

Closing, and we'll look into it :)

[2018-12-04 00:37] #953 closed

[2018-12-04 00:39] dotansimha commented on #925
In https://github.com/dotansimha/graphql-code-generator/issues/953, @kroeder mentioned that it works fine with PowerShell instead of CMD, so I guess this issue is related only to Windows.
@wesselvdv @thekevinbrown do you use Windows as well?

[2018-12-04 00:43] dotansimha commented on #951
@kamilkisiela is right.

@kroeder  @jreeter, please read this: https://graphql-code-generator.com/docs/custom-codegen/write-your-plugin

Using TypeScript to write the template isn't different, and you can take a look at the built-in plugins code here: https://github.com/dotansimha/graphql-code-generator/tree/master/packages/plugins , they are all written in TS.

The `codegen-templates-scripts` is

[2018-12-04 00:43] #951 closed

[2018-12-04 00:43] dotansimha commented on #964
@ardatan What do you think?

[2018-12-04 00:46] ardatan commented on #964
I used `graphql` to avoid unused imports, because tsc can complain according to the project's tsconfig.
If we handle to eliminate unused imports etc, it is way better to use these hocs directly instead of struggling with generics.

[2018-12-04 01:01] dotansimha commented on #964
@ardatan I think you can use the codegen core to expose `hasQueries`, `hasMutations` and `hasSubscriptions` here: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-core/src/operations/transform-document.ts#L110-L111 and then it will make it easier to know which imports do you actually need.

[2018-12-04 01:02] ardatan commented on #964
Thank you! I will take a look

[2018-12-04 02:06] dotansimha commented on #967
Makes sense. I think we can only apply this validation when `schema-ast` is specified by itself, with no other plugins.
Fixed in: https://github.com/dotansimha/graphql-code-generator/commit/b8839896879a8e04942107f7ab7198547fe15915

[2018-12-04 02:08] dotansimha commented on #962
@emmanuelbuah Not sure which setup do you use.
Which version of NPM/Yarn/Node do you use?
`graphql-codegen-core` should be installed only by `graphql-code-generator`, and not by the plugins.

[2018-12-04 02:09] dotansimha commented on #959
@crissi Please share the complete output, and if possible, your project file tree.

[2018-12-04 02:11] dotansimha opened #977 "[TypeScript] Allow to provide custom naming"
Currently, there is only one `namingConvention` config, and the goal is to keep the current behavior, but also allow developers to separate it.

So this will still work:
[code]

But also allow to provide a default naming, with overrides:

[code]

[2018-12-04 05:50] kroeder commented on #925
*it works with power shell, not with git bash, using it as webstorm terminal (but on windows)

Just do be 100% exact :)

[2018-12-04 07:46] trangcongthanh opened #979 "Version 0.14.5 doesnt work with config file"
**Describe the bug**
I using version 0.14.5 and it doesn't work with `codegen.yml` file. Always get error message `Flag --schema is missing!`. When downgrade to 0.14.1, it's work as expect.

**To Reproduce**
Steps to reproduce the behavior:
1. Install version 0.14.5
2. Create codegen.yml
3. Run `gql-gen`
4. Got error `Flag --schema is missing!`
5. Run `gql-gen --config ./codegen.yml`
6. Still got

[2018-12-04 07:47] ardatan commented on #979
Could you share your `codegen.yml` file?

[2018-12-04 07:51] trangcongthanh commented on #979
This content I copied from cli:
[code]

This is my config:
[code]

Both of them does not work.

[2018-12-04 07:54] ardatan commented on #979
What do you have on the path `MY_SERVER_GRAPHQL/graphql`?

[2018-12-04 08:06] trangcongthanh commented on #979
`http://localhost:3000/graphql` or `https://mydomain.com/graphql`

[2018-12-04 09:10] kroeder commented on #951
Have you tried to write a plugin in typescript by just reading the docs and use `tsc` in combination with  handlebars? As mentioned in my opening post: I was not able to do that

I only figured everything out by putting in a lot of effort and reading your implementations and build scripts you are using yourself (+ this wrapper you are using is not in the documentation so I really am afraid that th

[2018-12-04 10:18] thekevinbrown commented on #925
@dotansimha No, I'm on OS X.

The request is for a way to see what the tool is doing under the hood in the form of logs via some kind of `--debug` flag though, so I don't know what about that need is platform dependent.

[2018-12-04 10:42] crissi commented on #959
I got it working, needed the overwrite flag

[2018-12-04 10:42] #959 closed

[2018-12-04 11:00] wesselvdv commented on #925
@dotansimha Nope, i'm on macOS Mojave, and using PHPStorm terminal. I had to manually place some console.log statements to figure out where stuff was going awry. I almost seems as if the logging is cutoff at a newline, because only the start of an error message is shown.

[2018-12-04 11:15] kamilkisiela commented on #923
Reproduced and fixed in #982

[2018-12-04 11:42] kamilkisiela commented on #975
Fixed in #983

[2018-12-04 13:33] vlasenko commented on #933
Thank you @dotansimha

I have seen several issues with the example and added issues here:
https://github.com/kamilkisiela/graphql-webpack/issues
as well as Pull Requests to resolve them here:
https://github.com/kamilkisiela/graphql-webpack/pulls

Since the `graphql-webpack` example is not using the webpack plugin from source code of the generator with tag `v0.13.0`, but rather uses some previous c

[2018-12-04 19:36] benafa opened #984 "Document Query Output Types Renamed"
**Describe the bug**
When I'm using the code generator on a document, within a generated query namespace, the type of the output is renamed to the name of the query

In addition, fields within the output type have their types renamed to the name of the field.

**To Reproduce**
In a document, have a query whose name is not the same as the output type name e.g. if i have a query 'query_name(x): outp

[2018-12-04 19:59] benafa commented on #977
Is there any way of retaining enum names (rather than having them changed to CamelCase) in the current version?

[2018-12-04 20:17] ganeshpms opened #985 "Unable to use mongo-db directives along with other code-generator template."
**Describe the bug**
When I try to have the `typescript-Mongodb` code generated, I had to add the Mongo DB directives. I am using the same schema to generate the other typescript types like `typescript-common`, `typescript-server` I am getting error `Unknown directive "entity"`.

**To Reproduce**

[code]

where the '**/*.gql` files are having the mongo db directives.

**Expected behavior**
it shou

[2018-12-04 20:33] #979 closed

[2018-12-05 00:53] dotansimha commented on #985
Hi @ganeshpms

You no longer have to add the directives manually, because now they are declarative only, and added by the codegen before building the schema.

I managed to reproduce the issue you described here, and it happens because we are building the schema per output file, and that might cause this issue.

Is there a reason to separate `typescript-common` and `typescript-mongodb`? they should

[2018-12-05 00:55] dotansimha commented on #977
@benafa
There is no option for that currently, until we'll implement and resolve this issue.

You can use the workaround suggested by @speakerwiggin in: https://github.com/dotansimha/graphql-code-generator/pull/969#issuecomment-443944864, and use `0.15.0-alpha.3c84ac73` version for now.

[2018-12-05 01:00] dotansimha commented on #984
Hi @benafa
We are using the name of the field as the name of the generated interface, because the interface name `Book` might cause confusion because it's not necessarily has the same fields as the `type Book` because of the selection set you queried.

If you wish to get a different output for those interfaces, you can use GraphQL aliases and change the name of the fields you are querying and the

[2018-12-05 01:00] #984 closed

[2018-12-05 01:03] dotansimha commented on #925
@thekevinbrown makes sense, we had it before v0.14 and I think we need to add it back.

@wesselvdv @thekevinbrown which shell do you use? I'm also using Mac OS Mojave and I can see the errors using https://github.com/robbyrussell/oh-my-zsh shell.

[2018-12-05 01:12] dotansimha commented on #951
Hi @kroeder

Codegen plugins has a very simple interface you need to follow:
https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-core/src/yml-config-types.ts#L67-L71

You can use JavaScript or TypeScript to write it. If you wish to use TypeScript, you need to compile your code with `tsc` or `babel`.
If you wish to use Handlebars, you can either add your Handle

[2018-12-05 06:59] wesselvdv commented on #925
@dotansimha I’m using bash

[2018-12-05 10:27] kroeder opened #987 "Using graphql-tag inside an Angular Component throws duplicated fragment/query error"
**Describe the bug**
Here's a bug repository: https://github.com/kroeder/angular-gql-gen-bug-repro-repo

If you use ``` gql`...` ``` inside an angular component then `gql-gen` fails with the message
[code]

This does not work

[code]

This does work
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout https://github.com/kroeder/angular-gql-gen-bug-repro-repo
2. `npm i`
3. `npm run

[2018-12-05 12:18] RIP21 commented on #964
@dotansimha @ardatan https://github.com/apollographql/react-apollo/pull/2573
PR mentioned above has been merged. So `with*` thing will be real very soon.

[2018-12-05 20:26] quolpr opened #989 "Number in type name doesn't support scalar mapping"
Codegen config:

[code]

`DateTime`, `Json` mapping works good, but it fails on Uuid4.

The generated file:

[code]

[2018-12-06 01:21] colinfindlay-nz commented on #925
I'm on Windows - and the most I can get out of it is: `Found 2 errors in your documents`
I can see that the validator throws a `DetailedError` which the actual detail - but I can't gql-gen to actually log it. (unless I hack the source)

[2018-12-06 10:08] kroeder opened #991 "Field "deliveryMasterId" and "deliveryMaster.id" collide for orderBy enum generation"
**Describe the bug**
If you have something like this
[code]
then the generator generates colliding code: (I think this is generated by typescript-common)
[code]

~This is kinda error-by-schema-design and I'm in a discussion if we want our schema that way but  I'm also not sure if this can happen in other scenarios so I just wanted to let you know that this does not work currently~ We actually need

[2018-12-06 10:32] quolpr commented on #989
@ardatan you are right! It works now 🙂Sorry for my inattention. And thank you!

[2018-12-06 10:33] #989 closed

[2018-12-06 12:06] thomastvedt opened #992 "Namespaces are not supported"
**Describe the bug**
I get an error "Namespaces are not supported" when trying to run yarn gql-gen after upgrading to v 0.14.5.
I'm using "react-scripts-ts": "3.1.0", that is create react app "version 1" with TypeScript support using TSC (not babel). I know that namespaces are not supported if we use babel to transpile, but I'm pretty sure my project (react-scripts-ts) uses TSC and not babel. Is t

[2018-12-06 17:34] emmanuelbuah commented on #962
@dotansimha I musing lerna so its possible Lerna is playing some dirty tricks on install

[2018-12-07 06:36] dotansimha commented on #962
Thanks @emmanuelbuah !
Any chance you can create a small reproduction repo? We are using the codegen in projects that using Lerna (with Lerna+Yarn or Yarn Workspaces) and it seems to work.
Also - where did you put the dependency for the codegen? it the root `package.json` or inside a specific lerna package?

[2018-12-07 06:38] dotansimha commented on #992
@DAB0mB I think you can help with that :)

[2018-12-07 09:17] proSingularity commented on #958
Hi @dotansimha,

Thanks for your reply. I have solved the problems by now. The problem was with all the client tests that made massive use of the optionals. Our temporary solution is to write `as any` to each of these tests. We will now solve each of these one after another.

So feel free to close this issue.

[2018-12-07 09:57] janhartmann commented on #796
Is there any way to prevent this, this broke our current setup?

In our current setup we have resolvers like

[code]

In a resolver somewhere I want to map my API response `parent.criticality` that returns "LOW", and I used to map it to an enum like so:

[code]

But after updating and the enums is no longer uppercased. I can of course make a helper method but wonder if I can change the behavior?

[2018-12-07 10:01] janhartmann commented on #796
Nevermind! I can just

[code]

[2018-12-07 15:35] emmanuelbuah commented on #962
It's inside my lerna packages. I delete the package-lock.json file and run `npm install` at root which addressed the issue. I'm going to work on trying to reproduce the issue and if I can, I will set up a repo with steps to reproduce here.

[2018-12-07 21:31] jreeter commented on #939
@kamalgill I have ran into a similar problem above. Generator output says everything passed, but no code was generated. I'm generating a .ts code file, I don't have any documents?

[2018-12-08 11:40] RadAcademy opened #1001 "Generating new file doesn't overwrite existing"
Generating of the new graphql file does not overwrite the previous file. I have to manually delete the old to allow the plugin to generate a fresh new one.

My codegen.yml
[code]

The expected behavour before was it would overwrite the old file?

[2018-12-08 11:48] dotansimha commented on #1001
Hi @RadAcademy !

Please try to add `overwrite: true` to your configuration:

[code]

[2018-12-08 12:47] RadAcademy commented on #1001
Ok great, I will try this, what was the thinking behind changing the default behavior?

[2018-12-09 05:02] dotansimha commented on #1001
@RadAcademy we did not changed it. In the old API, there was `--overwrite` flag the did the same...

[2018-12-09 05:02] #1001 closed

[2018-12-10 15:23] mszczepanczyk opened #1006 "Extraneous import GraphQLScalarTypeConfig"
**Describe the bug**

Generated template imports GraphQLScalarTypeConfig causing:

[code]

**To Reproduce**

Schema

[code]

Documents

[code]

plugins

[code]

tsconfig.json

[code]

[2018-12-10 22:38] DimaMukhin opened #1007 "Generated code doesn't consider default types in the schema"
**Describe the bug**
Default values in the schema are ignored when generating types. A generated type will be nullable, even if the type has a default value in the schema. See example below for more details.

schema.graphql
[code]

generated-types.ts
[code]

expected generated types to be:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a schema file with the input type from th

[2018-12-11 05:45] dotansimha commented on #1006
@ardatan I think it's related to the recent changes in the resolvers package. What do you think?

[2018-12-11 05:47] dotansimha commented on #1007
Hi @DimaMukhin !
Until now we ignored default values defined in the GraphQL schema, because we couldn't reflect them in TypeScript interfaces. But it makes sense to declare this value as non-null if it has a default value.
We'll look into it soon. Thanks!

[2018-12-11 06:06] ardatan commented on #1006
It is related to change for adding scalar resolvers. So, we need to import this type if only there is any scalar in the schema

[2018-12-11 16:06] ze-flo opened #1010 "New version coming soon?"
A lot of exciting improvements and bug fixes have been added over the past 2 weeks. Is a new published version coming soon?

[2018-12-11 21:36] alsiola opened #1012 "Config to allow `undefined` in typescript server output"
**Is your feature request related to a problem? Please describe.**

Generated types are not-compatible with other libraries typings that use undefined instead of null.  For example, the generated type for a Query response might be:

[code]
If am using TypeORM (for example) and resolve this using the generated resolver:

[code]
Then this will not compile. This is because the `entity.findOne` functi

[2018-12-12 06:08] dotansimha commented on #1010
Hi @ze-flo ! I'll release a new version in a few hours :)

[2018-12-12 08:17] kamilkisiela commented on #1006
I guess it would be nice to have a shared logic for that. You request an import and after everything compiles we prepend it with import statements. Otherwise we would have to copy&paste the same logic over and over again.

@ardatan @dotansimha

[2018-12-12 08:30] kamilkisiela commented on #987
This one does and does not work at the same time :) Works at runtime but the codegen can't find it:
[code]

I'm sure it's not only angular specific, same error would occur with any framework, any source.

Could you check if you have `VoteFields` defined multiple times in your documents?

[2018-12-12 09:18] kroeder commented on #987
Why can't gql-gen find them? We used apollo-codegen before and it was able to spot `gql` inside angular components

Also, no I don't have it defined multiple times. My reproduction repo is just a playground where I comment either the one outside or the one inside out 🙂

[2018-12-12 15:48] kamilkisiela commented on #987
It's not that it can't find a document, it can't tell what is the content of it, for example:

[code]

- Codegen searches for every `gql` literal tag
- finds `fragment`, adds it to the known fragments
- finds `fr`, can't tell how the document looks like

And it's okay because you already have `FooFr` defined.

The problem you see is that the codegen treats comments as a normal code so when you com

[2018-12-12 16:31] #1006 closed

[2018-12-12 18:02] kamilkisiela commented on #1012
@dotansimha #1017 and #1018 should enable that

[2018-12-12 18:17] kamilkisiela commented on #992
@DAB0mB Reproduction https://github.com/dotansimha/graphql-code-generator/pull/1019

It works with namespaces but not when some contain `gql` tag.

[2018-12-13 01:57] avkonst opened #1022 "Alternative for the deprecated React+Apollo+Typescript template"
NPM says now that the template is deprecated: https://www.npmjs.com/package/graphql-codegen-typescript-react-apollo-template

What is the recommended alternative to move to?

[2018-12-13 02:01] avkonst commented on #1022
Ohh. I see it is graphql-codegen-typescript-react-apollo plugin.

[2018-12-13 06:10] #1022 closed

[2018-12-13 08:15] dotansimha commented on #1010
@ze-flo 0.15.0 is available now :)

[2018-12-13 08:15] #1010 closed

[2018-12-13 08:18] dotansimha commented on #1012
Available since 0.15.0 :)

[2018-12-13 08:18] #1012 closed

[2018-12-13 08:30] kamilkisiela commented on #973
We switched to `chokidar` in `v0.15.0`

[2018-12-13 08:30] #973 closed

[2018-12-13 08:31] kamilkisiela commented on #950
Released in `v0.15.0`

[2018-12-13 08:31] #950 closed

[2018-12-13 08:31] kamilkisiela commented on #967
Released in `v0.15.0`

[2018-12-13 08:31] #967 closed

[2018-12-13 08:32] kamilkisiela commented on #975
Released in `v0.15.0`

[2018-12-13 08:32] #975 closed

[2018-12-13 08:32] kamilkisiela commented on #923
Released in `v0.15.0`

[2018-12-13 08:32] #923 closed

[2018-12-13 08:36] #987 closed

[2018-12-13 08:38] dotansimha commented on #160
Available since 0.15.0 :)

[2018-12-13 08:38] #160 closed

[2018-12-13 08:38] dotansimha commented on #713
@fetis we implemented this concept in the new flow plugins: https://github.com/dotansimha/graphql-code-generator/pull/917
Maybe later we'll refactor the typescript packages to use the same concept :)

[2018-12-13 08:57] alsiola commented on #1012
That's awesome, thanks for your continued work on this great project!

[2018-12-13 10:10] jagregory opened #1028 "fragment-matcher generating incorrect possibleTypes signature"
**Describe the bug**

The new fragment-matcher plugin is generating a results object which is incompatible with the interface signature it also generates.

The output file contains types for all the types in the schema and ([correctly according to the spec](https://github.com/facebook/graphql/blob/master/spec/Section%204%20--%20Introspection.md#schema-introspection)) has `possibleTypes` set to `nu

[2018-12-13 10:12] #822 closed

[2018-12-13 10:13] dotansimha commented on #925
Fixed in 0.15. Please re-open if the issue persist.

[2018-12-13 10:13] #958 closed

[2018-12-13 10:13] #962 closed

[2018-12-13 10:16] jagregory commented on #1028
Actually, a little more info: Apollo has `IntrospectionResultData` defined as:

[code]

Which means that you can't change the type definition generated by fragment-matcher, otherwise you can't pass the generated result to ApolloClient.

So it looks like the only real option is filtering non-union and non-interfaces out?

[2018-12-13 10:23] Rachnerd opened #1029 "V0.15.0 Missing dependency: source-map-support"
**Describe the bug**
Upgrading to V0.15.0 breaks due to a missing dependency `source-map-support`.

**To Reproduce**
I've isolated the issue in a new repo that followed the steps on the `installation` chapter on the gql-gen website.

Steps to reproduce the behavior:
1. clone https://github.com/Rachnerd/graphql-code-generator-issue
2. npm i && npm run generate

**Expected behavior**
Should work wit

[2018-12-13 10:31] Rachnerd opened #1031 "V0.15.0 `typescript-resolvers` plugin generates non-existing Resolver interfaces with noNamespaces"
**Describe the bug**
After upgrading to V0.15.0 and adding a workaround for [this issue](https://github.com/dotansimha/graphql-code-generator/issues/1029) the generated code does not compile anymore because IResolvers contains references to non-existing interfaces.

**To Reproduce**
Steps to reproduce the behavior:
1. clone https://github.com/Rachnerd/graphql-code-generator-issue/tree/resolver-iss

[2018-12-13 10:43] ardatan commented on #1031
@Rachnerd
Could you try with canary version `0.16.0-alpha.af0870a1`?

[2018-12-13 10:51] Rachnerd commented on #1031
@ardatan
`0.16.0-alpha.af0870a1` seems to fix it for both our projects ;)

[2018-12-13 10:56] kamilkisiela commented on #1029
I guess it comes from `graphql-tag-pluck` at least that was the case few versions ago.

[2018-12-13 10:58] Rachnerd commented on #1029
Yes you're right.
[code]

[2018-12-13 12:44] kamilkisiela commented on #1007
#1034

[2018-12-13 20:42] SirensOfTitan opened #1041 "Mapper types don't apply everywhere they should for typescript-resolvers"
**Describe the bug**
Hey all, I opened a task for this a month ago, but I think the test case isn't quite right.  Sorry for disappearing there, I went offline for thanksgiving and this fell off my radar.    I can fix, but I want to confirm that this is actually a problem and I'm not missing something.

Test case addition for #886
https://github.com/dotansimha/graphql-code-generator/commit/b1bf6983

[2018-12-13 22:37] vdiaz1130 opened #1042 "Getting 'Cannot find namespace' Error"
Current Setup

    graphql-code-generator: ^0.15.0
    graphql-codegen-typescript-apollo-angular: 0.15.0
    graphql-codegen-typescript-common: 0.15.0
    dir `./workspace/api/` contains graphql server (running on `localhost:4000`)
    dis `./workspace/client/libs/api/src/lib/auth/graphql/` contains `loginMutation.graphql`

./workspace/client/codegen.yml

    schema:
        - "../api/src/schema.g

[2018-12-14 00:46] awdyson opened #1045 ".gql fragments template"
I'm interested in auto-generating the fragments available. The template below does a halfway decent job for my schema  -- which is long enough that it'd have been a pain to write manually.

Would there be interest in adding this plugin? If not, feel free to close this.

Anyone interested writing some failing tests for me to make pass? I don't trust my understanding of GraphQL or this utility enoug

[2018-12-14 16:05] swcarlosrj opened #1048 "Watch mode not working"
**Describe the bug**
Watch mode is not working neither with chokidar nor watchman, always it's 'Watching for changes...'

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repository: git clone -b graphql-ts https://github.com/swcarlosrj/SpaceX-API.git
2. Install dependencies & start server: yarn && yarn start
3. Generate types: yarn generate

**Expected behavior**
Auto generate types eve

[2018-12-15 11:12] dotansimha commented on #1048
Thanks @swcarlosrj ! We'll look into it

[2018-12-15 11:14] dotansimha commented on #1045
That's interesting!
So you are basically generating a stub fragment for all the available types, and then you modify it according to your needs? like some kind of scaffolding?
I think we are open to any kind of plugins that has a use case :)

[2018-12-15 11:15] dotansimha commented on #1042
Hi @vdiaz1130 !

The `typescript-apollo-angular` plugin goes together with `typescript-common` and `typescript-client`. Change your config to:

[code]

[2018-12-15 11:15] #1042 closed

[2018-12-16 15:21] dusan-dragon opened #1053 "Generated props by typescript-react-apollo are not working"
**Describe the bug**
If you include props from generated typescript types as `class MyComponent extends Component<MyQuery.Props<{}> { ... }` then the types are not applied and everything is of type `any`

Instead you have to do:
`export interface Props extends DataProps<MyQuery.Query, MyQuery.Variables> {}`
and then:
`class MyComponent extends Component<Props<{}> { ... }`

**To Reproduce**
in http

[2018-12-17 08:13] kuncevic commented on #1001
@dotansimha  how would you do that having npm script like `"gql:generate": "gql-gen --overwrite --schema src/app/graphql/schema.json --template graphql-codegen-apollo-angular-template --out src/app/graphql/index.ts src/app/graphql/*.graphql",` ?

[2018-12-17 09:34] kamilkisiela commented on #1048
[code]

Watch mode works with file system, with files that are related to schema and documents. What you have is a url of a server. We don't have a polling mechanism that would introspect the schema in an interval.

@dotansimha

[2018-12-17 09:49] kamilkisiela commented on #1041
We want to resolve an object that fits a custom `interface ResolvedUser` when `User` type is used then we need to duplicate and update all the types making them separated from `typescript-server`.

[code]

The `Feed` interface says we will return an array of `Article` and those objects has `User` and that object should be replaced with `ResolvedUser`. That means we need to duplicate and point `Fee

[2018-12-17 10:02] swcarlosrj commented on #1048
That worked, thanks so much 😄

[2018-12-17 10:02] #1048 closed

[2018-12-17 10:59] swcarlosrj opened #1054 "Allow generate types from `gql` with typescript-server plugin"
**Describe the feature**
Allow generate types from `gql` with typescript-server plugin. Currently you can generate them from 'String' types but it could be interesting to allow generate them from `gql` function (import { gql } from 'graphql-tag'), in this case you might take advantage of [plugins](https://marketplace.visualstudio.com/items?itemName=kumar-harsh.graphql-for-vscode) for highlighting,

[2018-12-17 20:59] SimenB commented on #1031
What's the timeline for a patch release of this? 🙂

[2018-12-18 01:08] tomitrescak commented on #1054
Is gql supported at all? For me no queries are generated

[2018-12-18 01:16] tomitrescak opened #1058 "No React components or queries are generated"
**Describe the bug**
A clear and concise description of what the bug is.

No React components or queries are generated.

**To Reproduce**
Steps to reproduce the behavior:

This is the codegen.yaml file:

[code]

The introspection is generated correctly as can be seen in the first file of this gist:

https://gist.github.com/tomitrescak/5375ceaffb637b2fb598f9e6f541ee49

Yet, the output of the genera

[2018-12-18 09:00] swcarlosrj commented on #1054
@tomitrescak I don't think so or I don't know how to do that, that's why I've opened this issue as feature proposal 😃. Hopefully it could be taken into consideration because I've seen so far a lot of GraphQL Servers using this practice

[2018-12-18 09:51] DAB0mB commented on #992
Will check that soon.

[2018-12-18 11:34] kamilkisiela commented on #1054
#1059 should enable that

[2018-12-18 11:36] swcarlosrj commented on #1054
@kamilkisiela thanks, awesome work 💯

[2018-12-18 13:05] dotansimha commented on #992
@DAB0mB I think you can use the typescript ast parser instead of babel-typescript...

[2018-12-18 15:19] swcarlosrj opened #1061 "Query interface is empty when using an instance of GraphQLSchema"
**Describe the bug**
Using **typescript-resolvers plugin**, _QueryResolvers.Resolvers_ are empty when using **TypeScript export** schema config.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone repository:
```git clone -b graphql-ts-emptyQueryResolvers https://github.com/swcarlosrj/SpaceX-API.git```
2. Install dependencies:
```yarn```
3. Generate types:
```yarn generate```

**Expected

[2018-12-18 17:01] DAB0mB commented on #992
It works when I run it directly through `graphql-tag-pluck` package. Still checking and if necessary will us TS compiler

[2018-12-18 21:03] leonardfactory opened #1064 "`typescript-resolvers` with noNamespace generates conflicting resolvers name"
**Describe the bug**
When using `noNamespace` option and `typescript-resolvers` plugin, `gql-gen` generates conflicting resolvers if one type `Type` has a field  `sampleName`, while having a `TypeSample` type too in the Schema with `name` property.

**To Reproduce**
Steps to reproduce the behavior:

Create following schema and run `gql-gen`
[code]

it creates two resolvers with the same name:

[co

[2018-12-18 22:55] alexandru-tomescu opened #1068 "TypeError: Cannot read property 'onType' of undefined"
**Describe the bug**
TypeError: Cannot read property 'onType' of undefined

**To Reproduce**
Steps to reproduce the behavior:
codegen.yml:

[code]

Client schema:
[code]

Mutations:
[code]

Queries:
[code]

defaults on Apollo:
[code]

**Expected behavior**
To generate TS and React Components

**Environment:**
 - OS: MacOs Mojave
 - Codegen: 0.15.0
 - Node: v9.11.2

[2018-12-19 04:49] tomitrescak opened #1070 "[TypeScript Common] Support schemaNamespace config"
**Describe the bug**

schemaNamespace has no effect on output code

**To Reproduce**

[code]

**Expected behavior**
the export namespace is present

**Schema/Documents**
If possible and relevant, please provide your GraphQL schema and GraphQL documents.

**Environment:**
 - OS: Mac
 - Codegen: Latest
 - Node: 10

[2018-12-19 05:33] dotansimha commented on #1070
Hi @tomitrescak !
The `schemaNamespace` is a config for `typescript-server` only.

[2018-12-19 05:33] dotansimha commented on #1054
Fixed in 0.15.1

[2018-12-19 05:33] #1054 closed

[2018-12-19 05:36] dotansimha commented on #1031
@Rachnerd @SimenB released 0.15.1 :)

[2018-12-19 05:36] #1031 closed

[2018-12-19 05:37] dotansimha commented on #1029
Fixed in 0.15.1 : )

[2018-12-19 05:37] #1029 closed

[2018-12-19 07:04] dotansimha commented on #1068
Hi @alexandru-tomescu !
I managed to reproduce it, and [I added a more readable exception and a test](https://github.com/dotansimha/graphql-code-generator/commit/ced38a7e1cb22fc799c548c6a17f2b658d20dc6f) in the codegen for this.

The issue here is the name of the fragment you used. Your fragment name is called `authStateFragment`, but on your mutation you used `authFragments`.

[2018-12-19 07:06] dotansimha commented on #1028
Fixed in 0.15.1

[2018-12-19 07:06] #1028 closed

[2018-12-19 07:06] dotansimha commented on #1007
Fixed in 0.15.1

[2018-12-19 07:06] #1007 closed

[2018-12-19 07:51] alexandru-tomescu commented on #1068
@dotansimha thank you for the quick response, but i changed it and i have the same response....
````const SET_LOCAL_AUTH_STATE = gql`
  mutation ChangeAuthState {
    changeAuthState @client {
      ...authStateFragment
    }
  }
  fragment authStateFragment on AuthState {
    authenticated
    token
  }
[code]

[2018-12-19 08:45] dotansimha commented on #1068
@alexandru-tomescu Can you try to use the latest alpha (for all packages)? `0.16.0-alpha.ced38a7e`

[2018-12-19 09:39] alexandru-tomescu commented on #1068
@dotansimha i will do that tonight, i can't do it now.

[2018-12-19 12:35] kamilkisiela commented on #1061
As far as I can tell, it's not related to resolvers, even `typescript-server` alone has only a `_empty` field in a `Query` interface.

[2018-12-19 13:08] swcarlosrj commented on #1061
@kamilkisiela thanks for the fast reply, as you've just mentioned, that's what I'm getting when using **TypeScript export**(`schema: src/graphql/schema/index.ts`) schema config:
[code]

As you say the `_empty` resolver which appears above it's generated by the `typescript-server` plugin but I do have in my config file the `typescript-resolvers` plugin but anything is being generated as it happens

[2018-12-19 13:14] kamilkisiela commented on #1061
Reproduction: https://github.com/dotansimha/graphql-code-generator/pull/1072

The issue here is the `extend` keyword, seems like an exported `GraphQLSchema` object treats it weirdly.

[2018-12-19 13:33] SimenB opened #1073 "Support Upload Scalar (Apollo Server 2)"
**Is your feature request related to a problem? Please describe.**
We want to upload images through graphql. Apollo Server supports this out of the box, by automatically inserting an `Upload` scalar. However, when trying to use `Upload` with this generator, I get the error `Error: Type "Upload" not found in document.`.
**Describe the solution you'd like**
Some way for the code generator to know ab

[2018-12-19 13:33] kamilkisiela commented on #1061
It's `mergeGraphQLSchemas` from `@graphql-modules/epoxy` that drops all the fields

[2018-12-19 13:38] kamilkisiela commented on #1061
Reproduction: https://github.com/Urigo/graphql-modules/pull/238

[2018-12-19 14:23] kamilkisiela commented on #1061
https://github.com/Urigo/graphql-modules/pull/238 should fix it

[2018-12-19 14:44] kamilkisiela commented on #1064
@leonardfactory @dotansimha
Maybe we should have a flag to add a suffix that is related to the type of an entity. For example:

[code]

`type Task` would be `interface TaskTypeResolver`
`Task.stateId` would be `type TaskStateIdFieldResolver`
`type TaskState` would be `interface TaskStateTypeResolver`

What do you think? Then we avoid having duplicates.

[2018-12-19 15:00] swcarlosrj commented on #1061
Awesome @kamilkisiela , thanks for such incredible work 😃

[2018-12-19 17:50] RIP21 opened #1075 "[TypeScript] Consider to change generated type names for `no-namespaces` mode."
For Apollo preset, you often get types that look like such.
`GetUserTransactionsGetUserTransactionsByUserId`
It’s how it gets generated for a query like that.
[code]
 I understand that it's a complicated question since the named query can have many fields/queries, hence just using `GetUserTransactions`, a name of the query, for type name is dangerous and not reliable. That leads to the fact that `

[2018-12-19 17:51] kamilkisiela commented on #1073
Hi :)

Apollo Server adds `Upload` Scalar when `typeDefs` are used, they don't extend the `schema`.

https://github.com/apollographql/apollo-server/blob/ad4240295469821c24aaf2f1032b12882dd3b6f9/packages/apollo-server-core/src/ApolloServer.ts#L271-L275

Exactly as you described, the solution would be to add that scalar just for GraphQL Code Generator. The current API allows to achieve that but I fo

[2018-12-19 18:44] alexandru-tomescu commented on #1068
@dotansimha sorry, but i don't know how to install that specific tag/commit

[2018-12-19 20:42] tomitrescak commented on #1070
Hi, it's documented in typescript-common. Anyway, this package id already a ser Dreamweaver. Bren using prisma for server and Apollo for client till now but Im so much happier with your work.

If I can add a wish it would be a possibility to generate ambient types wrapped in a namespace.

[code]

[2018-12-19 23:20] leonardfactory commented on #1064
I think this would change the current behaviour (so all generated types would change, instead this way only Field resolvers would change) – Furthermore I'm not sure about longer resolvers name

Given your example however `TaskState.id` and `Task.stateId` would have the same signature (`TaskStateIdFieldResolver`), unless it's a typo and you mean `TaskTypeStateIdResolver` (here is **Task.stateId`) v

[2018-12-20 07:51] kamilkisiela commented on #1068
@alexandru-tomescu it's a version number, you can replace all codegen related packages from `0.15.0` to `0.16.0-alpha.ced38a7e` and run `yarn`

[2018-12-20 08:04] alexandru-tomescu commented on #1068
i will do that asap :)

[2018-12-21 15:09] valerybugakov commented on #925
@dotansimha got the same issue on 0.15.1, output just says: `→ Found 2 errors in your documents`

I'm on Mojave with `on-my-zsh` shell. Any suggestions?

[2018-12-21 15:12] valerybugakov commented on #925
@dotansimha update: we use `concurrently` package to run `gql-gen` and a couple of other tasks in parallel. It's not working with it, but a standalone command works fine.

[2018-12-21 18:58] jagregory commented on #925
Same situation here. Running in Concurrently hides the error details.

From a brief bit of investigation I think it’s when there’s no TTY to the process, the listr renderer behaves differently.

[2018-12-23 22:08] alexandru-tomescu commented on #1068
@dotansimha it's working. thank you !

[2018-12-24 06:49] #1068 closed

[2018-12-24 06:50] dotansimha commented on #1075
Thanks @RIP21 .
We are considering now to change the entire output and to avoid creating type per each selection set (and use `Pick`, similar to what we did in the `flow-documents` template). This way we will be able to generate output without any namespace at all, and even remove the `noNamepsaces` config.

[2018-12-24 12:52] dotansimha commented on #992
Fixed and waiting for release. @thomastvedt you can use the latest alpha (`0.16.0-alpha.22d89977`).
Thanks @kamalgill @DAB0mB .

[2018-12-24 13:17] dotansimha commented on #1061
Fixed in 0.15.2 :)

[2018-12-24 13:17] #1061 closed

[2018-12-24 13:17] dotansimha commented on #992
Fixed in 0.15.2 :)

[2018-12-24 13:17] #992 closed

[2018-12-24 13:18] dotansimha commented on #700
Fixed in 0.15.2 :)

[2018-12-24 13:18] #700 closed

[2018-12-25 21:29] steida opened #1089 "[TypeScript Resolvers] The default name for interfaces should not contains "I" prefix"
I suppose naming generation should be consistent. These tree interfaces are prefixed with `I`.

`ISubscriptionResolverObject`
`IResolvers`
`IDirectiveResolvers`

I think they should be:

`SubscriptionResolverObject`
`Resolvers`
`DirectiveResolvers`

[2018-12-26 00:11] steida opened #1090 "[TypeScript Resolvers] How to use contextType?"
I have tried almost everything but contextType still does not work as expected. Is there any example?

Inside my types.tx Context is properly imported, but in the resolver, there is a plain object.

[2018-12-26 19:30] lostpebble commented on #796
Is there any way to prevent this @dotansimha ? This change has messed up my rather large code base now cause all Enums have changed...

[2018-12-27 10:44] lostpebble commented on #796
https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines

Please take a look at that. You seem to be making rash decisions here based on what exactly? The fact that the TypeScript project itself adheres to a certain style guide?

Even the TypeScript project - in bold and capital letters I might add - says that **these guidelines are not prescriptive on the community at large at all**. And th

[2018-12-27 11:42] dotansimha commented on #796
@lostpebble Sorry about that.
I know it's frustrating sometimes. But it's an open-source project, and we are trying to make everyone happy, it's not always easy.
We know that we are not always right, and in some cases it might effect developers. I welcome you to be part of the community and join discussions here, that might prevent mistakes like that in the future, because sometimes we are just mi

[2018-12-27 11:57] lostpebble commented on #796
@dotansimha I appreciate that you're looking into it already. I missed that WIP, and I think its a good direction to go.

I'll try be more active in the community as well to help however I can. I understand that open source is a group effort and sometimes certain things go under the radar.

Right now, I think the main thing contributors should strive for wherever possible is backwards compatibilit

[2018-12-27 12:37] kamilkisiela commented on #1090
Could you provide an example / small reproduction?

https://github.com/dotansimha/graphql-code-generator/blob/7154c52e9e80664a8f1806d1e3cb1381d0254bba/packages/plugins/typescript-resolvers/tests/typescript-resolvers.spec.ts#L204-L280

[2018-12-27 13:56] ctrlplusb commented on #1090
I got my implementation working. Important to note that the import of the `.ts` file containing your context should be relative to the "generate" output `.ts` file specified in your `codegen.yml`.

[code]

And then your context file should be of similar format:

[code]

[2018-12-28 11:21] swcarlosrj opened #1095 "Watch mode not working as expected"
**Describe the bug**
Watch mode is either not watching or not overwriting over the changes made

**To Reproduce**
Steps to reproduce the behavior:

Clone repository:
`git clone -b graphql-ts https://github.com/swcarlosrj/SpaceX-API.git`
Install deps & start server:
`yarn && yarn start`
Generate types:
`yarn generate`
Change any file into schema folder

**Expected behavior**
Auto generate types & o

[2018-12-28 11:34] swcarlosrj commented on #1054
@dotansimha this still doesn't work for me, do I am missing something out?

**Environment:**
OS: macOS Mojave 10.14.2 (18C54)
Codegen: 0.15.2
Node: 10.10.0

**Additional context**
Current codegen.yml config:
[code]

[2018-12-28 11:36] kamilkisiela commented on #1054
@swcarlosrj Why do you have `documents`? Do you use `typescript-client` package or related?

[2018-12-28 11:46] swcarlosrj commented on #1054
@kamilkisiela I was using it to allow generate types & 'watching' because `documents: src/graphql/schema/**/*.ts` doesn't generate the types correctly.

Using this conf, it seems to be watching but doesn't generate anything (I think because it's not possible by now)
[code]

[2018-12-28 11:54] swcarlosrj commented on #1054
@kamilkisiela I've removed it (`documents`) and it's working properly! Apologies for disturbing 😅

[2018-12-28 11:59] swcarlosrj commented on #1095
cc @kamilkisiela

[2018-12-28 12:08] kamilkisiela commented on #1054
@swcarlosrj You're not alone that uses `documents` this way. @dotansimha maybe we could improve docs or something?

[2018-12-28 18:35] edmcman opened #1096 "Cannot find module graphql"
After installing with `npm install -g graphql-code-generator`, I get the following error:

[code]

I'm using npm 6.5.0 Mac OS Mojave, npm is installed from Macports.

[2018-12-28 18:36] ardatan commented on #1096
Did you try to run `npm i graphql`?

[2018-12-28 18:39] edmcman commented on #1096
Oops, that fixed it.  Sorry.  I'm still new to npm.  I thought graphql would have been installed as a dependency...

[2018-12-28 18:39] #1096 closed

[2018-12-28 19:32] xanf opened #1097 "[Flow] Wrong optional parameter on Arg with default value"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Schema
[code]

config
[code]

output
[code]
**Expected behavior**
field on `QueryFooArgs` will not have an optional sign, since there will be always this field due to default value
[code]

Am I correct in my expectations?

[2018-12-31 07:39] swcarlosrj commented on #1095
@dotansimha I've just tried, it works great both overwriting new generated types & watching mode, I think that I was using `documents` config field before, thats why I was not getting the desired generated types.

If it's useful for someone, I leave here the current config that I'm using to generate types for the GraphQL Schema & Resolvers, working 100% as expected!

`
schema: src/graphql/schema/*

[2018-12-31 07:40] #1095 closed

[2018-12-31 09:36] xanf commented on #1097
No worry, I'll have a fork with fixes, will submit a PR soon :)

[2018-12-31 10:01] dotansimha commented on #1097
Awesome!! Thanks @xanf !!

[2018-12-31 11:56] #1073 closed

[2018-12-31 12:00] dotansimha commented on #1070
Thanks @tomitrescak !

It's just a bad copy-paste :) removed from the docs in: https://github.com/dotansimha/graphql-code-generator/commit/379d37bcf842543b5456cf0b9c1f8251d04ee8e9

We are trying now to find alternatives for namespaces, because not all environments can use it (such as babel-typescript, and it's in use in create-react-app). But I agree that we need to wrap the types of typescript-se

[2018-12-31 12:14] tomitrescak commented on #1070
Hi, thanks for the fix. The ambient types would be really cool. It solves the nMespacing issues

[2019-01-01 19:19] swcarlosrj opened #1103 "[TypeScript Resolvers] Resolvers returned data type cannot be introspected"
**Describe the bug**
Cannot introspect resolvers returned data

**To Reproduce**
Steps to reproduce the behavior:

Clone repository:
`git clone -b graphql-ts https://github.com/swcarlosrj/SpaceX-API.git`
Install deps & start server:
`yarn && yarn start`
Generate types:
`yarn generate`
Introspect _src/schema/capsule/resolvers.ts_ resolvers returned data

**Expected behavior**
[This](https://twitter

[2019-01-01 23:40] xanf opened #1105 "[Flow] Directives result in corrupted generated file"
**To Reproduce**
Schema:
[code]

Config:
[code]

**Result**
[code]
**Expected behavior**
No `[object Object]`

I will submit a pull request to fix that

[2019-01-02 09:08] swcarlosrj opened #1106 "[TypeScript Resolvers] Trivial resolvers aren't generated as expected"
**Describe the bug**
Resolvers based on types (not by Query) aren't generated as expected.

**To Reproduce**
Steps to reproduce the behavior:

Clone repository:
`git clone -b graphql https://github.com/swcarlosrj/SpaceX-API.git`
Install deps & start server:
`yarn && yarn start`
Generate types:
`yarn generate`
Add _CapsuleResolvers.Resolvers_ type to _src/schema/dragon/resolvers/Capsule.ts_ resolve

[2019-01-02 09:33] FredyC opened #1107 "Idea: Show deprecated fields when generating code"
**Is your feature request related to a problem? Please describe.**
It might be out of the scope of this package.
We recently started using deprecated fields, but we did not find any tool that would show this client side. It makes sense to see deprecated fields in relation to what's actually used in queries/mutations.

**Describe the solution you'd like**
There is a handy function [`findDeprecatedU

[2019-01-02 20:38] phoenix741 opened #1109 "[TypeScript] Default value with 0 shoud not be optional"
**Describe the bug**

If the default value is different of 0, the parameter isn't optional. If the default value is 0, the parameter is optional (and shouldn't be).

**To Reproduce**

Steps to reproduce the behavior:
1. Use this schema as schema

[code]

2. Run the following command: `gql-gen ...`

The result is
[code]

**Expected behavior**
I would like to have :
[code]

**Environment:**
 - OS: L

[2019-01-03 03:25] kuncevic opened #1111 "How would you handle two different configurations through single `codegen.yaml` file"
In my project I have two scripts
[code]
With a new breaking change now we have to use `codegen.yaml` to specify the options https://github.com/dotansimha/graphql-code-generator/releases/tag/v0.14.0.

It is not clear how would you handle multiple configuration through single a `codegen.yml` file ?
Should you just create `.yml` file for each configuration ? - if so I would like to request a feature

[2019-01-03 06:43] dotansimha commented on #1111
Hi @kuncevic !

In your case, it seems like you have multiple commands, and they they depend on each other (I guess that one is for downloading the schema as JSON and saving it as static file).
So you should create two `.yml` files, and specify each one with `--config` flag.

If they don't have a dependency to each other, in the new `.yml` config, you can specify multiple records under `generates`

[2019-01-03 06:46] dotansimha commented on #1107
Sounds like a great idea @FredyC !
I think we can use https://github.com/kamilkisiela/graphql-inspector to perform these checks. @kamilkisiela ?

[2019-01-03 07:52] FredyC commented on #1107
Interesting tool, not sure what are exact differences with `graphql` package which also has `findBreakingChanges` and `findDangerousChanges`. However, it works by comparing two schemas, not schema and doc. I think I would rather see deprecated fields I am actually using and where I am using them instead of a full list of what got deprecated.

[2019-01-03 08:25] BohdanTkachenko opened #1113 "[Flow Resolvers] typesPrefix is not applied in generated Resolver interface"
**Describe the bug**
When specifying typesPrefix it adds prefix to args type, like `TQueryTestArgs`, but it does not add it to same type specified in generated Resolver, so instead it generates `QueryTestArgs`.

**Schema**
[code]

**Config**
[code]

**Expected types generated**
[code]

**Actual types generated**
[code]

[2019-01-03 15:13] kamilkisiela commented on #1107
@FredyC

https://github.com/kamilkisiela/graphql-inspector/pull/28

You run `$ graphql-inspector validate schema.json src/**/*.graphql` and you get a list of errors per each document and list of fields that have been deprecated and are used.

Why I didn't use `findBreakingChanges` and `findDangerousChanges`? Because it's not that hard to implement it myself and I get more control over the result a

[2019-01-03 15:37] kamilkisiela commented on #1103
So what you want to have is a Return Type of a resolver?

Turning that:

[code]

into:

[code]

Right?

[2019-01-03 15:38] kamilkisiela commented on #1106
@swcarlosrj There's no `graphql-ts` branch anymore, could you share the code?

[2019-01-03 15:39] swcarlosrj commented on #1106
@kamilkisiela try with `graphql` branch

[2019-01-03 15:45] kamilkisiela commented on #1106
But that's the expected behavior. We can't tell how you want to resolve `Capsule` type, that's why in order to overwrite the default behavior, you can use [Mappers feature](https://graphql-code-generator.com/docs/plugins/typescript-resolvers#mappers-overwrite-parents-and-resolved-values).

[2019-01-03 15:46] swcarlosrj commented on #1106
Great, I didn't know about the Mappers, I'll give a try! Thanks 😄

[2019-01-03 15:51] swcarlosrj commented on #1103
@kamilkisiela yep although not sure about how it'd should be the written in order to have the ability to introspect the resolver's returned data only using the **QueryResolvers.Resolvers**. That'd be the ideal case IMO but It could be added manually too!

Resuming, doing [this](https://twitter.com/swcarlosrj/status/1080137519499481088), be able to do [this](https://twitter.com/swcarlosrj/status/10

[2019-01-03 15:55] kamilkisiela commented on #1103
What do you mean by that, to return data of some shape in the resolver use that shape in a child resolver? Treat TypeScript as the source of truth and not the GraphQL Schema?

[2019-01-03 15:57] FredyC commented on #1107
@kamilkisiela That looks promising. Thanks, will give it a try 👍

[2019-01-03 19:13] kamilkisiela commented on #1103
@swcarlosrj
`QueryResolvers.CapsuleResolvers` is a type that represents a resolver and since resolver is a function, the type defines that function. What you want to have is a type that represents the shape of a returned value, which is a different story, in where you loose signatures of arguments, a root value and a context. I don't know why it could be useful.

[2019-01-03 19:39] swcarlosrj commented on #1103
👍, I though that it was possible to return the shape of a returned value without losing the signatures of arguments, a root value and a context.

The interesting point here is returning the shape of a returned value (in this case, Capsule), TypeScript could check if whatever you're returning matches the shape, which I've just checked it and it's doing it but it doesn't appear in VSCode as [here](h

[2019-01-03 19:56] kamilkisiela commented on #1103
@swcarlosrj this is how TypeScript works.

When you do this:

[code]

TypeScript treats that as a shape of a returned value, not as function's signature.

To have typed arguments and others, you would have to define that signature, otherwise it's `any`.

[2019-01-03 20:01] swcarlosrj commented on #1103
That's what I've supposed it. Ah, I'll try that out, having no idea about TS (goal for 2019 😬)

[2019-01-04 09:31] kuncevic commented on #1111
@dotansimha so you are saying I can have one single `.yml` file for each script in case if scripts does not depends on each other?

[2019-01-04 12:15] furier opened #1116 "Option to generate type definitions side by side with *.gql files"
It would be awesome if there was a option to just generate fragments and services side by side with the *.gql files.

This example
[code]
resulted in this output.
[code]
Then i could define an angular component's specific fragments without worrying about naming collisions, like I needed to do here because some other component's grapql query had a fragment defined with the name `location`, and the

[2019-01-04 14:30] xanf opened #1117 "Interaction of "add" with "flow" / "flow-resolvers" plugin"
**Is your feature request related to a problem? Please describe.**
I'm using `add` plugin with `flow` and `flow-resolvers` plugin and having funny issue.
I'm using custom context type and also want to add `/* eslint-disable */` to the top of my code to keep my CI and commit hooks happy (I know about `.eslintignore` file but I assume the problem is broader). My config is:
[code]
Right now, lines ad

[2019-01-04 14:42] simPod commented on #151
I have the same issue, trying split rendering logic for types with common interface. I'd like to switch conditional branches based on `__typename` value

[2019-01-04 14:52] csoLs opened #1119 "Quering a field called variables results in duplicate definition"
**Describe the bug**
If you query for a field called `variables` the type definition generator will create two `Variables` type within the same namespace, see example from the live-demo:
<img width="1427" alt="screen shot 2019-01-04 at 15 39 25" src="https://user-images.githubusercontent.com/9143012/50693547-91fc7d80-1037-11e9-85ff-c40942d2b41a.png">

**To Reproduce**
Schema:
[code]

Document:
[co

[2019-01-04 15:08] csoLs opened #1120 "[TypeScript] Missing type generation for a union that only resolves __typename"
**Describe the bug**
If you only query a union for the `__typename`, codegen doesn't generate a type but still references it. See example:
<img width="1429" alt="screen shot 2019-01-04 at 15 57 06" src="https://user-images.githubusercontent.com/9143012/50694231-9de93f00-1039-11e9-9534-f7506b9f6639.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Write a schema containing a union
2. Quer

[2019-01-04 16:12] FredyC commented on #1107
@kamilkisiela That was tricky. I used the command in a form you mentioned here and it was screaming `Couldn't handle src/**/*.graphql`. It took me some time to figure out that it's an opposite order, schema goes as a second 😈

Anyway, it's not really working, either way. There is something wrong with my introspection file. This is probably the wrong spot for trying to solve this, just in case if y

[2019-01-04 16:19] FredyC commented on #1107
Nevermind, found it, some shenanigans in our custom tooling code.

Either way, I think it would be lovely to integrate this part of the inspector into the generator as I originally said. If anything, it would save some processing time and it kinda makes sense to me to get warned about deprecations right away when I am writing queries, not later when I am done coding :)

[2019-01-04 17:53] xanf commented on #1120
@csoLs Just my 2c (I'm looking to fix this bug) - it would be awesome if your copy-paste text content in report, not just screenshots. That will simplify life just a bit, no offense.

Being able to reproduce bug quickly is invaluable :)

[2019-01-04 17:55] stvnwrgs commented on #1045
Im wondering why you need to define documents in general. When i look into https://graphql-code-generator.com/#live-demo there is no additional information in the documents. It's just a different syntax.

I would like to generate typescript-react-apollo components directly out of the schema without duplicating my code. Is there any solution for this or is another plugin like this one here the only

[2019-01-04 20:46] csoLs commented on #1120
Schema:
[code]

Document:
[code]
Config:
[code]

[2019-01-05 05:26] jagregory opened #1121 "__typename in query for interface isn't a union when named fragments are used"
Sorry the title is a bit of a mouthful. :)

**Describe the bug**

When generating types for a query for an interface, the `__typename` field is set to just the interface name, which means you can't switch on its implementors. This only happens when the subtypes are in named fragments, it works fine with inline fragments.

**To Reproduce**

Schema:
[code]

Query:
[code]

Generated types (line 18):

[2019-01-06 13:30] dotansimha commented on #1117
Hi @xanf !
Thanks for reporting it.
I think we need to add to the plugin api a `prefix` option, and it will append the context as prefix before all other plugins. This way the `flow` plugin can declare it's own prefix (`// @flow`) and it will be added before other `add` plugins.

[2019-01-06 13:31] dotansimha commented on #1119
Thanks @csoLs !
It's a general issue we have with the codegen, there is no code that handles a case of reserved words.
As a workaround, I can suggest to alias this field and:
[code]

[2019-01-06 13:38] dotansimha commented on #1120
Thanks for reporting if @csoLs !
We are filtering `__typename` and ignoring it from the fields list. It requires a more complex solution.

At the moment we are looking for refactoring the typescript packages, and use the same approach as `flow` plugins (use `Pick` and build a single type only, instead of namespace with multiple interfaces), and we also implemented there a solution for `__typename`

[2019-01-06 21:34] DAB0mB opened #1129 "Unclear file with corrupt document or bad syntax"
When we specify `config.documents`, given a file which contains a bad syntax or corrupt documents, its path won't be reported.

**Example 1 - Bad syntax**

Given the file `a/b/file.js`

[code]

We will get the error `',' expected.` without knowing at which file it occurred in. I would expect it to print the file path `a/b/file.js`

**Example 2 - Corrupt documents**

Given the file `a/b/file.js`

[

[2019-01-07 08:56] furier commented on #1116
What about something like this? Where you just place a generated file side by side with every match from `documents`. It would be just the same as if you manually added every single file under `generates`, but that is tedious to do with hundreds of files, unless i build a tool to generate the config. :P which when I think about it I could do...

[code]

To begin with it could be a requirement that

[2019-01-07 11:52] vreality64 commented on #1116
I think it would be great if this feature was added. 😃

The [apollo command](https://github.com/apollographql/apollo-tooling#apollo-clientcodegen-output) creates a type definitions at the query defined location. I think this can be good reference.

[2019-01-07 13:39] zelid opened #1133 "[TypeScript Resolvers] Apollo Server resolvers types missmatch"
I use typed resolvers generation and define my resolvers like:

[code]

When it comes to configure apollo-server like this:

[code]

then apollo-server gives an error about types mismatch:

[code]

What should be done in order to solve it?

[2019-01-07 14:43] ardatan commented on #1133
Could you use title case for Query and Mutation resolvers instead of query and mutation?

[2019-01-07 14:47] zelid commented on #1133
I've tried that as well, the error stays the same:

[code]

[2019-01-07 14:54] mariusmarais opened #1134 "Allow enum resolvers as part of `IResolvers`"
(My issue is with the generated Typescript, but probably affects other templates too.)

I would like enums to also be included in the generated `IResolvers` definition, in my case so that I can re-map GraphQL enums to internal DB enums (see [ApolloServer docs](https://www.apollographql.com/docs/apollo-server/features/scalars-enums.html#internal-values)), automatically and with compiler assistance.

[2019-01-07 15:01] mariusmarais commented on #1133
As I understand it, the reason for this is because Apollo's `IResolvers` is defined as a dictionary / with an index signature (see [the code](https://github.com/apollographql/graphql-tools/blob/2394f0c3a8b30dbd4435dd21019727e76e61b892/src/Interfaces.ts#L96)).

This is not the same as an object with keys, even if the keys would match the index type.  TS 2.0 was supposed to fix this (I think?) but i

[2019-01-07 16:22] meatherly opened #1135 "Usage in development workflow"
Hello,
I was wondering if you guys have any suggestions on development workflow when using this tool? Some suggestions given here might be something that could be added to the docs.

For instance what are some of the example ways people could use this tool with their development:
- Do you run this tool one off command while developing a project?
- Could you combine it with your already existing to

[2019-01-08 09:14] zelid commented on #1133
Thanks @mariusmarais, this helped:

[code]

[2019-01-08 12:19] kamilkisiela opened #1140 "[TypeScript Server] Make it as part of `typescript-resolvers` and `typescript-client`"
I find it a bit misleading to use `typescript-server` on the client, we might want to name it differently or to even merge `typescript-server` with `typescript-resolvers` and add `typescript-server` to `typescript-client`.

I think it makes sense and solves that problem: https://github.com/dotansimha/graphql-code-generator/issues/1041#issuecomment-447783675

[2019-01-08 13:48] ardatan commented on #1140
In some cases, `typescript-server` might not be needed if user decides to use own types by using `import` with `add` plugin. Maybe, we can call it in different name like `typescript-schema-types` or something else.

[2019-01-09 07:40] vreality64 commented on #822
@dotansimha
I have same problem. As you described above, `CustomStructure` can be `ParentType`. However, how can I use multiple ParentType? How can I achieve type information through `[Type]Resolvers.Resolvers` interface ?

***My use-case***
- [`is`](https://github.com/woutervh-/typescript-is#validation-is-and-createis) is [type guard](https://www.typescriptlang.org/docs/handbook/advanced-types.ht

[2019-01-09 08:10] vreality64 opened #1141 "[TypeScript Server] Generic support for Relay model?"
Hello. I think GraphQL types written based on facebook's [Relay model](https://facebook.github.io/relay/graphql/connections.htm) have less extensibility. It's not comfortable to change Node's Type. I think It can be easy with generic support. Below code will show what I want to do 😃

***written types - User and connection***
[code]

***generated resolver types***
- There are no easy way that can c

[2019-01-09 20:15] xanf opened #1142 "[Flow] Too restrictive type on optional fields in mutation responses"
**Describe the bug**
Consider following schema:
[code]
and obviously config
[code]
generated type will be
[code]
which means I always need to return `success` and `errors` field even if they are null/undefined. All known graphql server implementations tolerate that, so I believe it should be:
[code]
which allows not to have field in response.

[2019-01-10 01:42] aniknafs opened #1144 "Inject custom plugins in runtime"
Is there any way to add custom plugins programmatically? I tried:
[code]
Basically replacing
```{ plugins: ['typescript-common', 'typescript-server'] }```
with the path to the custom plugin. But it throws with `Invalid "generates" config!`

Generates seems to accept strings as NamedPlugin:
yml-config-types.d.ts:
[code]
making it an array throws differetly saying it can't find the plugin:
[code]

[2019-01-10 06:55] mariusmarais commented on #1041
@kamilkisiela What about something like https://github.com/dotansimha/graphql-code-generator/pull/1139?

I only thought about enums when I made it (since that was where my problem was), but the approach could be extended to other types as well. Do you think something like that could solve your problem too?

[2019-01-10 14:15] JonathanDaSilva commented on #1121
Hi.
I have the same issue.
But imo the __typename is more difficult than that.

In my case, backend developpers added a new Task implementation.
[code]
But all the implementation that was done in the front were
[code]

which is actually a mistake because now all type C goes into the else.

IMO, the __typename in these kindaof case should be ``` 'Task' | 'A' | 'B' ``` which is the safest way, you c

[2019-01-10 14:35] dotansimha commented on #583
@mikebm can you please share your `codegen.yml` file?

[2019-01-10 16:31] mikebm commented on #583
[code]

Another bug with this format is the loader does not work with relative paths. I must give it a full path to the loader.

[2019-01-10 21:02] xanf commented on #1142
Actually it's trickier than I originally thought
Let's asume some type
[code]
is used both in input and output position. For that type in input position I definitely want to have `type Demo = { foo: ?string }` because otherwise I will have to do "useless" checks that foo is present in variable of type demo.

But when I have it in output position, I want it as `{ foo?: ?string }` because I do not w

[2019-01-10 21:07] xanf opened #1148 "[Flow] Exact objects"
Basically, all graphql schema objects are not allowed to have "additional" fields. So basically instead of
[code]
for example, I would like to have:
[code]
to make sure that I can't put any other random thing there occasionally, otherwise I can do:

[code]
current non-exact behaviour prevent catching some typos, but while exact is better, it can interfere with some dirty type magic people may use.

[2019-01-10 21:08] xanf commented on #1135
I'm just putting it in watch mode while I'm developing through npm script. It sits in other terminal window :)

[2019-01-11 07:28] dragonfire1119 opened #1152 "Duplicate declaration "Component""
**Describe the bug**
When ever I run webpack it gives me ``Duplicate declaration "Component"`` in the generated-models.tsx file

**To Reproduce**
Steps to reproduce the behavior:
1. Any generated-models.tsx
2. Run with webpack & babel typescript preset
3. Run the following command: `gql-gen ...`

**Expected behavior**
Would be not to have ``generated-models.tsx: Duplicate declaration "Component"``

[2019-01-11 15:07] meatherly commented on #1135
apollo codegen decieded to wait on this [feature](https://github.com/Microsoft/TypeScript/issues/3136) of typescript instead trying to implement a webpack plugin https://github.com/apollographql/apollo-tooling/issues/360. Looks very promising.

[2019-01-11 16:08] #1152 closed

[2019-01-12 17:40] xanf commented on #1142
Actually after researching how for example how apollo works, I have a strong belief we need to swtich from "foo: ?string" to "foo?: string" both for input & normal types. For example when we have optional field in input graphql-js which is considered to be "reference implementation" will not add this optional field in response (tested by "hasOwnProperty")

Also I see no caveats from developer pers

[2019-01-12 19:14] Pruxis opened #1155 "Many Type is not defined."
**Describe the bug**
When types are generated the Maybe type is not included.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the following config:
[code]
2. Include typedefs & resolver and create executableSchema.
3. Run codegen.

**Expected behavior**
All types are correctly genereted except for the Maybe type, that one is missing.

**Schema/Documents**
Ofcourse create an executableSch

[2019-01-12 19:17] artemzakharov opened #1156 "Unable to import graphql definitions with graphql-import syntax"
**Describe the bug**
I'm unable to use `graphql-import` syntax to import definitions into my schema file anymore.

Syntax I'm referring to (this is at the top of my schema file):

`# import CartWhereUniqueInput from "prisma.graphql"`

Result of running gql-gen:

![image](https://user-images.githubusercontent.com/25446299/51077370-25026c80-1663-11e9-88c2-e2a5be639a31.png)

I'm filing this as a bug

[2019-01-12 19:56] adelsz commented on #1142
@xanf `graphql-js` allows for both `null` and `undefined` as values of an optional mutation argument.
Typing an optional field as `foo?: string` is incorrect, because it doesnt allow passing `foo: null`.
Have a look at this [section](https://facebook.github.io/graphql/June2018/#sec-Null-Value) of the graphql specification.

[2019-01-12 20:49] artemzakharov opened #1157 "Attempting to use a custom schema loader results in a YAML indentation error"
**Describe the bug**
When I attempt to use a custom loader for my schema, I get an error saying that my indentation is incorrect. Using the actual example given in the [docs](https://graphql-code-generator.com/docs/getting-started/schema-field#custom-schema-loader), for instance, causes this error:

[code]
Have tried every spacing and tabbing combination imaginable, can't get it to work.

**To Rep