[2019-05-28 16:24] dotansimha commented on #643
@Jonatthu I opened a new issue for that: https://github.com/dotansimha/graphql-code-generator/issues/1925

[2019-05-28 16:25] mshwery commented on #1909
I think the missing piece is one layer of indirection:
[code]

[2019-05-28 16:29] mshwery commented on #1909
It seems strange that the SDL types themselves don't refer to `ResolverTypes['MappedType']`. Is there a reason for that?

[2019-05-28 17:50] diegopamio commented on #1786
Now, I've updated to 1.2 and the issue is that it doesn't generates anymore the components! (same happened even in the example in the codegen page). There was any change on 1.2 that needs special update?

[2019-05-28 18:02] ardatan commented on #1897
I created a PR to make variables optional if `skip: true` is provided instead of adding `| null`; because it didn't look good to me.
@dotansimha What do you say?

[2019-05-28 18:05] ardatan commented on #1895
@dotansimha We can wait for the stable release of Apollo's own hooks API, so we can make it default in our plugin; because this kind of change will make our plugin stick to `react-apollo-hooks`.

[2019-05-28 18:06] ardatan commented on #1863
@dotansimha I think since react-apollo is for Apollo, we should make @apollo/react-hooks by default after the stable release, and create another plugin for `react-apollo-hooks`

[2019-05-28 18:08] ardatan commented on #1786
@diegopamio Could you share your `codegen.yml` file?

[2019-05-28 18:45] jedmao commented on #1917
Here's the generated file in `src/models/generated.tsx`:
[code]

[2019-05-28 19:49] jedmao commented on #1917
And here is a branch where you can reproduce the problem with `npm start`.

https://github.com/jedmao/tsx/tree/graphql-code-generator

[2019-05-28 21:08] tzarger commented on #1899
@dotansimha Confirmed it is work here in React Native projects as well. Thanks!

[2019-05-29 13:49] philiiiiiipp commented on #1916
Hmm, I tried that but its still the same issue

[code]

[code]

I am not sure why `grapqhl` is marked as `UNMET PEER DEPENDENCY` but I suppose thats an unrelated issue.

The interesting part is that even without graphql installed at all it shows the same error

[code]

[code]

[2019-05-29 16:18] danbruegge commented on #642
@panzerdp nice, it works great. Thank you. :)

[2019-05-29 20:43] jcmoore0 opened #1933 "Update Document How To Use Headers in `.yml` file"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. Example `codegen.yml` config file:

[code]

**Expected behavior**
Headers are parsed and passed.

**Additional context**
This example is not correct.   Headers need to be an object or array.

This works:

[code]

Please update docs.
Thanks,

[2019-05-29 22:05] jflewis opened #1934 "Wrong Typescript type for Query with a variable with default value"
**Describe the bug**

When generating Typescript types for a query with default variables, the generated query variables interface specifies the field as `Maybe<Scalars["Boolean"]>`. However, I believe the correct implementation should be `field?: Scalars["Boolean']` so the field isn't required when defining the variables in a query. Having the field be mandatory for a optional field doesn't seem

[2019-05-30 00:34] ktsosno opened #1935 "Allow ability to define avoidOptionals or maybeValues against input or output types"
I'm having an issue with typescript + graphl code generator and reconciling mutation and query component input / output types.

We inherited this pattern from working with apollo codegen. We have input types that accept a more flexible scalar type than `Maybe<string>`. It gives us the ability to just not include a specific value in a mutation payload instead of passing it in as null. For example:

[2019-05-30 08:38] argosystem-dev commented on #1667
I needed to read it a few times before I got it. I hope it's ok if I write this for future lost souls:

To generate Frontend code (Angular Apollo Services) you need to write GraphQL Documents.
e.g.:
[code]
Frontend code cannot be generated from the backend schema itself.

Maybe it's just me being not bright enough, but I think there GraphQL documentation could be better.

[2019-05-31 09:08] andrzey opened #1942 "Mismatch between what is in the docs and actual output?"
In the documentation the following schema should give the following output:

    // schema

    type Author {
      id: Int!
      firstName: String!
      lastName: String!
      posts(findTitle: String): [Post]
    }

    type Post {
      id: Int!
      title: String!
      author: Author!
    }

    type Query {
      posts: [Post]
    }

    schema {
      query: Query
    }

    // generated

[2019-05-31 13:43] panzelva opened #1943 "Type does not satisfy the constraint '"__typename"' when using inline fragments on interfaces"
Hello I think found a bug that looks very similar to this: https://github.com/dotansimha/graphql-code-generator/issues/1762, except its with interfaces instead with unions.

![A3y9nNMR2L](https://user-images.githubusercontent.com/28455278/58709568-bd9f4c00-83ba-11e9-923c-ce721428f33e.png)

I made small repo with this error here: https://github.com/panzelva/gql-gen-interface-issue

[2019-05-31 19:52] seeden opened #1946 "flow does not use scalar JSON"
for next config
[code]

I see
[code]

I tried JSON: { [key: string]: any } as well. But without any success

1. My GraphQL schema:

[code]

**Expected behavior**
Used JSON scalar

**Environment:**

- OS: macosx
    "@graphql-codegen/cli": "^1.2.0",
    "@graphql-codegen/flow": "^1.2.0",
    "@graphql-codegen/fragment-matcher": "^1.2.0",
- NodeJS: 12.1.0

[2019-06-01 12:31] diegopamio opened #1947 "Invariant Violation: Minified React error #321"
**Describe the bug**
The Live Demo in the GraphQL-code-generator page is not showing up, and the console shows: 11.13c641d9.chunk.js:1 Invariant Violation: Minified React error #321

**To Reproduce**
Steps to reproduce the behavior:
* Open https://graphql-code-generator.com/#live-demo

1. My GraphQL schema:
N/A

2. My GraphQL operations:
N/A

3. My `codegen.yml` config file:
N/A

**Expected behavi

[2019-06-01 12:42] diegopamio commented on #1786
I've tried with:

[code]

and with
[code]

and any combination in between.

[2019-06-01 19:14] RobertBroersma opened #1948 "Error: Unable to load schem from file "src/lambda/schema.ts" due to import error:"
**Describe the bug**
I'm trying to import my schema from a TypeScript file, but I get an error when trying to generate. It seems like something is going wrong in the TS compilation.

Error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

**Environment:**

- OS: Windows 10
- `@graphql-codegen/cli@1.2.0`:
- NodeJS: v

[2019-06-02 05:07] dotansimha commented on #1942
Thank you for reporting it, @andrzey !
The docs are outdates, I'll update it soon.

[2019-06-02 05:32] dotansimha commented on #1947
Not sure why it happens, seems like something with the build of react-scripts (because it works in dev, and it does not throw any error...) .
I reverted to the last working version, and I'll take a look soon.

[2019-06-02 06:34] dotansimha commented on #1948
Hi @RobertBroersma !
We are using `graphql-toolkit` for loading the schema, and if you are using a code file, you should `export default` a valid `GraphQLSchema` or `DocumentNode`.
In you code example, you are exporting a `[string, string]` so that's why it does not work for you.
You should either merge the ASTs into a single ast (with `concatAst`), or compile the schema with `buildSchema` (or `ma

[2019-06-02 06:41] dotansimha commented on #1786
@diegopamio it seems like a different issue, can you please open a new issue with as much information as possible (and if you can, a small repo with a reproduction)? Thanks

[2019-06-02 06:43] dotansimha commented on #1946
Hi @seeden !
It seems like it's not related to the codegen itself, but an issue with your GraphQL operation file.
You are trying to use `JSON` scalar, which does not exists in your GraphQL schema (probable the one that comes from `http://local.mydomain.com:3000/graphql`).

You can using it in `$profile: JSON!`, and the error you see comes from the `graphql` validation and not from the codegen.

[2019-06-02 06:43] #1946 closed

[2019-06-02 06:45] dotansimha opened #1950 "Document how to use the client-side plugins"
Related: https://github.com/dotansimha/graphql-code-generator/issues/1667#issuecomment-497253092

[2019-06-02 08:10] RobertBroersma commented on #1948
Hey @dotansimha, thanks for the reply. I understand that my export is invalid, I've tried and succeeded using `buildSchema`, however not using `export default` (I get an `unexpected token. export` instead of this one). I had to use `require()` instead of `import` and `module.exports` instead of `export default`, so I assume the error is within TypeScript compilation.

I've verified that
[code]
is

[2019-06-02 08:46] dotansimha commented on #1948
@RobertBroersma the `ts-node/register` should do the trick for TypeScript files. Can you please create a small reproduction repository?

[2019-06-02 09:16] RobertBroersma commented on #1948
@dotansimha I've created a reproduction repo, but in that one it works : - ). I'll close this for now while I debug.

Thanks.

[2019-06-02 09:16] #1948 closed

[2019-06-02 16:28] vhenzl opened #1952 "Visitors from `visitor-plugin-common` incompatible with `Visitor` from `graphql`"
The second parameter of `VisitFn` can be `undefined` (see [TS](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/graphql/language/visitor.d.ts#L31) and [Flow](https://github.com/graphql/graphql-js/blob/master/src/language/visitor.js#L39) declarations), but visitors in `visitor-plugin-common` declare `key` as `number | string` only.

If you try to use some of these visitors in a

[2019-06-02 21:20] dobesv opened #1954 "[TypeScript Resolvers] Some combinations of type names and field names causes duplicate identifier errors"
**Is your feature request related to a problem? Please describe.**

I have a situation like:

[code]

When resolver types are generated, it generated two types with the same name `WhateverItemTags`.

**Describe the solution you'd like**

Ideally I could somehow rename the resolver type for one of these.

**Describe alternatives you've considered**

I think the only way to work around this is to as

[2019-06-03 05:17] #1914 closed

[2019-06-03 05:18] dotansimha commented on #1954
@dobesv can you please share the codegen and plugins version, and the output you got?

[2019-06-03 05:23] dotansimha commented on #1918
@const86 I think you can generate 2 resolvers signature files, one for client schema and one for server schema (and each section in `generates` can have it's own configuration).

Something like that:

[code]

Or I'm missing something?

[2019-06-03 05:27] dotansimha commented on #1917
@jedmao It looks like your `documents` aren't loaded, so they are not being added to the output file (and that's why the import is unused).
You are using `documents: 'src/**/*.{ts,tsx}'`, but I couldn't find any documents that matches this glob pattern.

Also, I noticed that you are using `relay` - our `typescript-react-apollo` is for Apollo-Client and `react-apollo`, not for relay (which has it's

[2019-06-03 05:37] dotansimha commented on #1916
@philiiiiiipp can you please create a reproduction of it in a repo?
Also, I think it's mostly an issue for AppSync, because they should use the latest `graphql` and match the GraphQL spec.

[2019-06-03 05:39] dotansimha commented on #1909
@mshwery the basic types are generated by `typescript` and they are the base types, `ResolversTypes` just refers to it and replaces fields when needed.
I'll take a look soon and try to solve it. Thanks!

[2019-06-03 06:08] jedmao commented on #1917
Thanks @dotansimha:

1. [Here's a document that matches the glob pattern](https://github.com/jedmao/tsx/blob/13e8cd34396a64050353d877457a0123fae6d814/src/components/Home/Home.tsx#L58-L62).
1. Where is Relay's own codegen and compiler? Oh, you mean it's built-in to Relay? I wasn't aware of that tidbit. I'll have to investigate more.

[2019-06-03 06:52] dotansimha commented on #1917
@jedmao
Regarding #1 - the document is not getting loaded because you are using a different `graphql` tag for your operation.  If you are using a `babel-plugin-relay/macro`, then you should let the codegen know, otherwise it can't guess it.
Try to add the following to your `codegen.yml`:

[code]

This way, the codegen knows how to find your documents in your code files.

Regarding #2 - The files u

[2019-06-03 10:11] FokkeZB commented on #1870
@dotansimha I played some with https://flow.org/en/docs/types/utilities/ and https://flow.org/try/ but I don't think you could create something like `DiscriminateUnion` in Flow.

I'll have to icebox this for now - also since we're looking into moving to TS :D

[2019-06-03 12:30] artem-galas commented on #182
Yes you can you `Partial<SomeModel>` but what you can do if you have nested long object?
For instance:
[code]

Let's say from GraphQL server I want only **few** fields from `creator`

I'm writing tests for my component that could show post. That component have `@Input` or `prop`  (angular/react) that represent one post.

In test I mocked my post object with only **necessary** fields for my compone

[2019-06-03 12:57] #1917 closed, assigned to nobody

[2019-06-03 14:55] seeden commented on #1946
I updated my code and it is working.
thanks for this great library

[2019-06-03 17:09] steebchen commented on #298
Just for your information: I am currently writing a plugin for this. However, I will focus on operations (for the client) because I need it and not on resolvers (for the server). It's currently a prototype and the code is a bit hacky (most is copied from the TS plugins and then adapted) so I'm not sure if I ever merge this here, but at some point it'll be at least possible to use as an external pl

[2019-06-03 22:31] const86 commented on #1918
Yes, two sets of interfaces are most likely needed anyway. One for the server, one for the client. What I meant, is one level deeper. The client resolver interfaces in general are affected by both server and client schema.
You can get away with the your config in simple cases when client schema does not extend any types from server schema and only adds top level operations that return client priva

[2019-06-04 14:24] toverux commented on #1617
And indeed, the problem seems to have been fixed, wether it comes from Angular or TypeScript (or both ?).
With Angular 8 and TS 3.4, ES 2015 bundles do not encounter this problem anymore :tada:

[2019-06-04 16:52] moodysalem opened #1959 "Homepage 'try it out' section is broken"
**Describe the bug**
The home page try it out section is broken for me

**To Reproduce**
Steps to reproduce the behavior:

1. Visit https://graphql-code-generator.com/
2. Click try it out, which navigates to the next section
3. Nothing there to try out
4. Errors in the console

[code]

**Expected behavior**
I used to see the section with 3 inputs that let me put in schema, queries, and select a la

[2019-06-05 12:02] edorivai commented on #1863
I've taken a stab at the implementation (#1962) @dotansimha mentioned [here](https://github.com/dotansimha/graphql-code-generator/issues/1863#issuecomment-496586940).

So this will change the output if `importHooksFrom` is set to `@apollo/react-hooks`.

[2019-06-05 18:22] bnaoki opened #1965 "`ResolverFn` should potentially include array of promises"
**Describe the bug**

This is regarding the `typescript-resolvers` plugin.

At least with Apollo Server, a resolver is able to return an array of promises in addition to a single promise that resolves to an array. Right now, the generated type for `ResolverFn` supports only the latter option. Should it be updated to handle the array of promises as well?

https://www.apollographql.com/docs/apollo-s

[2019-06-05 20:04] dobesv commented on #1954
I created a minimal reproduction here:

https://github.com/dobesv/graphql-codegen-1954

[2019-06-05 20:11] dobesv commented on #1965
Not to mention you can probably return a promise of an array of promises.

[2019-06-05 23:50] rajington commented on #1255
It might make sense to first generate the correct types for `addMockFunctionsToSchema`'s `mocks`.

Even Apollo's own types are pretty lackluster https://github.com/apollographql/graphql-tools/blob/master/src/Interfaces.ts#L158-L159

It's not too far off from the existing `ResolversTypes`, and even applying `type Mocks<T> = { [P in keyof T]?: () => Partial<T[P]> }` to `ResolversTypes` gets pretty c

[2019-06-06 02:12] diegopamio commented on #1786
Finally it was a problem of unnamed queries, as soon as I named the query, I got the component generated. Now I'm getting ts errors on the signature of the children function of the provider component, but I think that should be easier to fix. A better documentation would be nice though. If I manage to get it working I may do a PR over the docs to explain how I got it working.

[2019-06-06 08:01] lukaskl opened #1967 "Parsing files with React's JSX in *.js files throws SyntaxError: Unexpected token"
**Describe the bug**

**To Reproduce**
it is fairly simply to reproduce:

open any folder and run these commands:
[code]
this will create a new react app (using [create-react-app](https://github.com/facebook/create-react-app)) and will add default packages (those are added by `graphql-codegen init`

then add the following `codegen.yml`
[code]
where the schema endpoint was taken randomly from the h

[2019-06-06 10:57] edorivai commented on #1219
Leaving this here for future googlers.

If you want to have all your types be wrapped in `Partial<T>` by default, you have to specify a defaultMapper ([docs](https://graphql-code-generator.com/docs/plugins/typescript-resolvers#usage-example-wrap-default-types-with-partial)):

[code]

[2019-06-06 12:09] shah commented on #298
@steebchen I've been using [gqlgen ](https://gqlgen.com/) for Go this year and it's worked quite well. Check it out as you start your journey.

[2019-06-06 13:21] steebchen commented on #298
I use `gqlgen` as well, but it generates GraphQL servers; I need something for my client with query strings, frontend types and in the best case a built-in client for 100% type safety. Although it may be possible to extend gqlgen's functionality for documents and queries instead of using this, but it seems simpler to do it with this plugin (for now).

[2019-06-06 21:19] shah commented on #298
Got it, thanks for the clarification - I've run into the same problem before and ended up hand writing my clients but your idea is better!

[2019-06-07 01:25] WhiteAbeLincoln commented on #1967
I believe I am also getting this issue. I'm sourcing gatsbyjs's fragments as recommended [here](https://graphql-code-generator.com/docs/integrations/gatsby), but always receive this same error unless I remove the line from my documents. This was working a few weeks ago, so a minor update in gatsby, graphql-code-generator, or graphql-tag-pluck must have broken it.

[2019-06-07 03:38] Aleksion commented on #1934
Seeing the same thing

[2019-06-07 13:48] lukaskl commented on #1967
I've made a quick workaround

changing `codegen.yml` as follows:
[code]

and `js-react-loader.js` content is:
[code]

there is one problem though, if errors is thrown - it redirect to a wrong line number.

[2019-06-08 09:40] otofu-square commented on #1757
It's very ugly but it'd be workaround until this issue fixed.

[code]

[2019-06-08 21:26] veeramarni opened #1974 "merge schema not working when mixing javascript and client graphql"
**Describe the bug**

We want to load a custom schema from the server side by using javascript file. On the client side, we want to load using glob search `**/**.graphql`. But it seems like the schemas are not getting merged.
Even tried with custom schema loader, still same issue.

Error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

Server javascript schema fil

[2019-06-08 21:58] veeramarni commented on #1974
I found a way though, instead of generating `schema.js`, we started generating `schema.graphql` and now it works fine.

https://github.com/cdmbase/fullstack-pro/blob/master/servers/backend-server/generated-schema.graphql

[2019-06-08 22:13] #1974 closed

[2019-06-08 22:40] veeramarni opened #1975 "option to generate only one file using near-operation-file"
We have a monorepo project structure with react code in a separate package and `client state` in a separate package.
[code]

 So we would like to generate `.tsx` types in `react package` and rest in `client state`.  And we want to add the baseTypes generated in `client state` as follows in the generated `.tsx` file in react package.

[code]

The feature request is almost close to `near-operation-f

[2019-06-09 10:07] ryanditjia opened #1976 "Bug with Add plugin placement"
**Describe the bug**
`Add` plugin’s placement config doesn’t seem to work, it generates the following file:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema: Gatsby
2. My GraphQL operations: Gatsby

3. My `codegen.yml` config file:

[code]

**Expected behavior**
[code]

**Environment:**

- OS: macOS 10.13.6
- `@graphql-codegen/...`: 1.2.0
- NodeJS: 12.4.0, also same

[2019-06-09 10:38] dotansimha commented on #1947
I managed to fix it (see https://github.com/facebook/react/issues/15628#issuecomment-500123610 for more info).
Website is live now :)

[2019-06-09 10:38] #1947 closed

[2019-06-09 11:00] dotansimha commented on #1976
Hi @ryanditjia ,
I added an example to the repo with what you were trying to do.

The configuration is here:
https://github.com/dotansimha/graphql-code-generator/blob/master/dev-test/codegen.yml#L32-L41

And the generated file is here:
https://github.com/dotansimha/graphql-code-generator/blob/master/dev-test/test-schema/typings.wrapped.ts

If you wish to use this feature, use the latest alpha vers

[2019-06-09 11:00] #1976 closed

[2019-06-09 11:02] ryanditjia commented on #1976
That was quick. Thanks!

[2019-06-09 11:03] dotansimha commented on #1975
Hi @veeramarni ,
That's sounds like an interesting use-case. And you are right, the current implementation of `near-operation-file` does not support it.
A few releases ago, we added support for `presets`, so you should be able to write one of your own that matches your needs.
`preset` allow you to manipulate the schema/documents before passing them to the codegen.

You can find an example for a pr

[2019-06-09 11:06] dotansimha commented on #1967
You are right, we are using `graphql-tag-pluck` (https://github.com/DAB0mB/graphql-tag-pluck) for extracting documents from code files.
I think it assumes that `.jsx` extension is the only valid extension for React code files (see https://github.com/DAB0mB/graphql-tag-pluck/blob/master/src/config.js#L40-L48).

@DAB0mB Can you please take a look?

[2019-06-09 11:07] dotansimha commented on #1959
Fixed now, thanks @moodysalem !

[2019-06-09 11:07] #1959 closed

[2019-06-09 13:47] veeramarni commented on #1975
@dotansimha Ok, will try that. But this use case doesn't apply to what i have described. It could be very useful when using [ApolloFederation](https://blog.apollographql.com/apollo-federation-f260cf525d21) where we can split types based on micro service.

[2019-06-09 13:59] dotansimha commented on #1897
Available in 1.2.1

[2019-06-09 13:59] #1897 closed

[2019-06-09 13:59] dotansimha commented on #1896
Available in 1.2.1

[2019-06-09 13:59] #1896 closed

[2019-06-09 13:59] #1819 closed

[2019-06-09 21:38] veeramarni commented on #1918
I'm interested in this case as well as I need to split the types between server and client. I believe adding `parentSchema` options like below might help. Any thoughts?

[code]

and the generated typescript would like
[code]

[2019-06-10 03:39] LeviSchuck opened #1978 "Simple query document string exports"
It would be useful to have parsable query to send to clients or to execute locally while also in a typed environment.

In my case I'm using graphql directly on an executable schema and I rely on both an input query, types on the input data, and types on the output.

Configurations that might be useful to avoid collisions would be
* Postfix
* Prefix

Here's a proof of concept that I am using in my

[2019-06-10 13:47] veeramarni opened #1980 "customize typesPrefix for enums"
**Is your feature request related to a problem? Please describe.**

Is there a way we can customize the `prefix` to be used only for `types` and leave `enums` as it is?

**Describe the solution you'd like**

Right now when we set `typesPrefix: I`, it prefixes all the `types` as well as `enums`. But it doesn't make sense for us to have `I` prefix to enums. So we don't want `I` prefixes to `enums`.

[2019-06-10 13:56] tomaswitek opened #1982 "Replace namespaces with ES6 modules"
**Is your feature request related to a problem? Please describe.**
We use this code generator for both server and client code and it worked perfectly until we decided to upgrade to v1.

### Old version (with namespaces)

#### generated types
[code]

#### app code
[code]

### New version (without namespaces)
#### generated types
[code]

#### app code
[code]
With this approach our code can get unrea

[2019-06-10 15:49] borekb commented on #893
Hi, I'm facing the same situation as OP, it's mentioned in this issue that it has been resolved in v1.0.3 but I'm not sure what exactly was fixed – I still get all-optional QueryResolvers when I try this in v1.2.0.

I tried setting `avoidOptionals` to `true` (which seems to be one of the commits in the linked "Bug fixes for 1.0" PR #1534, specifically this one: https://github.com/dotansimha/graphq

[2019-06-10 15:57] borekb commented on #893
As a small note, there's a built-in `Required<T>` type:

[code]

[2019-06-10 19:00] jrr opened #1984 "near-operation-file output is messy"
**Describe the bug**

Using the [near-operation-file](https://graphql-code-generator.com/docs/presets/near-operation-file) preset, I get output like this:

[code]

There are a few issues to talk about here:
1) The output that's given is redundant and not very useful. (I currently get 21 "Generate outputs" lines, and it doesn't actually mention what files are getting generated 😬)
2) Is it still "EX

[2019-06-10 22:06] DAB0mB commented on #1967
@dotansimha can you look at the changes that I made? Does this seem like a good solution?

[2019-06-11 06:56] arackaf opened #1987 "Cannot read property 'forEach' of undefined when running the "programmatic usage" sample"
**Describe the bug**

`Cannot read property 'forEach' of undefined` when running the "programmatic usage" sample. Seems to be caused by `documents` being required by the codegen function.

**To Reproduce**
Steps to reproduce the behavior:

Code is more or less copy pasted from https://graphql-code-generator.com/docs/getting-started/programmatic-usage

[code]

Running this via the esm package produ

[2019-06-11 14:19] RIP21 opened #1989 "Fragment importing other fragment generates unused imports (near-operation-file)"
**Describe the bug**
If your fragment imports fragment that uses another fragment its generated parts are getting imported without usage causing compilation error from TS side.

**To Reproduce**
[![Edit Use before declare + unused imports](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/use-before-declare-unused-imports-8dlju?fontsize=14&module=%2Fsrc%2Fdocument.g

[2019-06-11 14:21] RIP21 opened #1990 "Use before declare fragment for .graphql files causes self imports and duplicated declarations as a result (near-operation-file)"
**Describe the bug**
If you use fragment in a fragment that is imported below, then you're getting duplicates and self imports. If you change the direction it's all good and working nicely.

**To Reproduce**
[![Edit Use before declare + unused imports](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/use-before-declare-unused-imports-8dlju?fontsize=14&module=%2Fsrc

[2019-06-11 20:31] bobinrinder opened #1992 "Syntax Error: Unexpected Name "declare""
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:
happens with any schema/service

2. My GraphQL operations:
happens with any operations

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Successful script run.

**Environment:**

- OS:
- `@graphql-codegen/...`:
- NodeJS: tried v12 and v10

**Additional context**

[2019-06-12 09:28] slikts commented on #1935
This is a duplicate of #1885

[2019-06-12 09:36] slikts commented on #1885
An example use case for `avoidOptionals` is to model mock data in strictly the same way the server would return it, i.e., with `null` for requested nullable fields. Meanwhile, nullable fields in variable and input types should still be optional, because being able to elide the fields is also how it works in GraphQL, and having to always explicitly provide a `null` or `[]` is verbose and poor DX.

[2019-06-12 11:08] pnordhus opened #1995 "Urql fails with "no exported member 'QueryProps'. TS2694""
**Describe the bug**

When using the typescript-urql plugin, any autogenerated file fails compiling with:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

The autogenerated file `src/graphql.tsx` should compile.

**Environment:**

- OS: Arch Linux
- `@graphql

[2019-06-12 13:53] schmod opened #1996 "Make "default" resolvers of mapped types optional"
**Is your feature request related to a problem? Please describe.**

If I am using Mapped types with typescript-resolvers, I occasionally want to just allow scalar values to "pass through" from my Mapped (parent) type to the GraphQL response type, _without_ having to define a resolver for each field, or disable `avoidOptionals`.

This corresponds to the behavior of the [Default Resolver](https://ww

[2019-06-12 14:00] schmod opened #1997 "Support for importing a TypeScript module's default export"
**Is your feature request related to a problem? Please describe.**

I would like to import types/classes (to be used as custom mapped types, contexts, and root-types) that are exported from a TypeScript module via `export default`.

**Describe the solution you'd like**

I would like to be able to import mapped types, contexts, root-types, etc with a syntax that looks something like this:

[code]

[2019-06-12 14:04] mhank commented on #1987
Seeing a similar error trying to call codegen programmatically with a custom config.

**Error output:**
[code]

**Code:**
[code]

**Environment:**

- OS: MacOS Mojave
- `@graphql-codegen/...`: 1.2.1
- `@graphql-codegen/typescript`: 1.2.0
- `@graphql-codegen/typescript-operations`: 1.2.0
- `@graphql-codegen/typescript-react-apollo`: 1.2.0

[2019-06-12 19:35] craigsmitham opened #1998 "Resolver types: can the resolve function return either expected type OR a revolvers type?"
Currently (or the best of my understanding) resolver types type any of the output object types returned by the resolver as a simple typed representation of the GraphQL type. In many cases we need to return an object that implements its own resolvers because some of the properties may be lazy loaded or have custom logic, etc.

As an example, assume the following schema:
[code]
The TypeScript resolv

[2019-06-12 22:29] NickClark commented on #1863
The latest release works great guys! Except one little thing... I currently have to remove the mutation functions manually since my project depends on the new "@apollo/react-common" and has HOC and components turned off. Turns out if you only have hooks turned on anyways, that I don't need the "@apollo/react-common" import or the Mutation functions anyways.

Said another way. If you have your proj

[2019-06-13 14:58] pnordhus commented on #1998
You can map generated types to other types. You could make all types `Partial`:
[code]
This is documented [here](https://graphql-code-generator.com/docs/plugins/typescript-resolvers#usage-example-wrap-default-types-with-partial).

If you need stronger type safety and/or more flexibility, you could write a [mapper](https://graphql-code-generator.com/docs/plugins/typescript-resolvers#mappers-object)

[2019-06-13 19:31] marcelbeumer commented on #1992
Have the same problem with v1.2.1, but v1.2.0 works

[2019-06-13 19:59] pnordhus commented on #1992
You are trying to parse a Typescript module definition as a GraphQL document.

Are you sure you really want to parse all `.graphql` files in `node_modules`? If not, you can either specify your `.graphql` files explicitly, put them in a subfolder and parse only that folder, or exclude `node_modules` with:
[code]

[2019-06-13 21:06] bobinrinder commented on #1992
@pnordhus Thanks, that works (seeing a different error now though). This `yml` was given to me by the `init` function so I expected sensible defaults in an empty CRA app... 🤔

[2019-06-14 08:45] pnordhus commented on #1995
This issue only occurs when generating React Components. When I disable Component generation with
[code]
the generated Typescript file can be compiled. Generated Hooks work as well.

[2019-06-14 17:49] dangodev commented on #1992
Same here—encountered the same issue also using a file generated by the wizard. Error didn’t make it clear it was a misconfiguration on my part

[2019-06-14 17:55] dangodev opened #2004 "@graphql-codegen/introspection isn’t installed by init wizard"
**Describe the bug**
Running `graphql-codegen init` on first startup will help you formulate your `codegen.yml` file. The last question: “Would you like to generate an introspection? (Y/n)” will add the introspection config. However, after that step’s complete, running `graphql-codegen` results in the following error:

[code]

For clarity: the other questions _did_ install packages to `package.jso

[2019-06-16 00:07] AlexMabry commented on #1942
I'd prefer the output to match the documentation than the other way around.  Are there configuration settings that would output something like this?

[code]

[2019-06-16 22:01] Thebigbignooby opened #2008 "Plain JavaScript plugins?"
I like the idea of code generation, actually your issue on Prisma's "graphqlgen" is what brought me here.

However, neither tool gives the possibility of generating JavaScript, I'm stuck with having to choose between TypeScript and Flow

Would it be possible to add an option for generating resolvers in JavaScript ?
If not, then could you explain why ?

[2019-06-17 02:58] gentleShark opened #2009 "support for useMutation return value in react-apollo-hooks 0.5.0"
**Is your feature request related to a problem? Please describe.**
useMutation react-apollo-hooks 0.5.0-alpha.0 returns a tuple with the mutation function and an object with properties such as data, loading, error, called, etc.  Ex:

[code]

It would be nice to be able to use useMutation as specified in react-apollo-hooks 0.5.0

[2019-06-17 07:07] dotansimha commented on #1967
@DAB0mB Looks good :) Can you release a new version of `graphql-tag-pluck`?

[2019-06-17 11:47] dotansimha commented on #2008
Hi @Thebigbignooby

Can you please elobarate on your needs?

We are generating code for TypeScript and Flow because those are JavaScript supersets that supports types, so we are using the strongly-type principle of GraphQL and transforming it into language types.

JavaScript by itself does not support types, so that's why we don't have plugins for it.

Note that we do have plugins that generates o

[2019-06-17 17:36] gtsopour commented on #1942
@andrzey @AlexMabry I am wondering the same. Did you find any other configuration?

[2019-06-17 19:21] AlexMabry commented on #1942
@gtsopour I didn't.

[2019-06-18 05:00] dotansimha commented on #1942
@AlexMabry @andrzey The actual output is not that different. We chose to use a bridge type for `Scalars` to make it easier to generate output and avoid bugs.
We are thinking about adding a feature in the future to avoid this and generate the primitive types in-place instead using bridge types.

[2019-06-18 05:11] dotansimha commented on #2009
Hi @gentleShark !
Thank you for reporting it.

Can you please let us know what preventing you from using it now?
The generated hook is just a wrapper around the original `useMutation` (for example, see https://github.com/dotansimha/graphql-code-generator/blob/master/dev-test/githunt/types.reactApollo.hooks.tsx#L517-L518), so I'm not sure why it doesn't work as needed.

[2019-06-18 05:21] dotansimha commented on #1992
The `init` suggests to use `**/*.graphql`, but the default should be `src/**/*.graphql` to avoid including `node_modules` as default.
Updated it in: https://github.com/dotansimha/graphql-code-generator/pull/2012

[2019-06-18 05:21] dotansimha commented on #2004
Thank you for reporting it, @dangodev !
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2012

[2019-06-18 05:23] dotansimha commented on #1998
Hi @craigsmitham :)
As @pnordhus said, you can use `mappers` to map GraphQL types to your custom type/interface, and the codegen will use your types instead.

[2019-06-18 05:23] #1998 closed

[2019-06-18 06:34] dotansimha commented on #1997
Hi @schmod , that's sounds like a good idea.
I added it here: https://github.com/dotansimha/graphql-code-generator/pull/2014

[2019-06-18 06:40] dotansimha commented on #1995
Hi @pnordhus ! Thank you for reporting that, and thanks for the workaround.
It seems like an issue with `urql`, I opened an issue for that: https://github.com/FormidableLabs/urql/issues/309

[2019-06-18 06:48] dotansimha commented on #1996
Hi @schmod ,
Unfortunately, there is not other option for that. Because we would like to allow developers to separate the implementation of their resolvers to multiple objects, and with `avoidOptionals` set to `true`, you will get a signature that forces you to implement all resolvers.

Why not removing `avoidOptionals` (or, set to `false`)? (if you use it because of other plugins, such as `typesc

[2019-06-18 06:53] dotansimha commented on #1987
Hi @arackaf @mhank , thank you for reporting it.
Why not adding `documents: []` as a workaround at the moment?

I fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/2015

[2019-06-18 07:01] dotansimha commented on #1984
Hi @jrr !

You are right about the missing note in the documentation, I'll add it.
The reason `presets` feature is still `EXPERIMENTAL` is because we still having some issues that needs to be resolved, and we are still collecting bugs and use-cases.

I'm not sure that the output you are getting is related to the `near-operation-file`. I think it's just the way `listr` prints the output (it outputs

[2019-06-18 07:01] #1984 closed

[2019-06-18 07:04] dotansimha commented on #1982
Hi @tomaswitek
We decided to drop TypeScript `namespace`s, because it was very hard to maintain. Having a single type per operation simplifies the output. We know that it was a bit more difficult to upgrade from <1, and that's why we published the `typescript-compatibility` plugin, that will generate intermediate types like you had before 1.0, and should make it easier for you to migrate.

[2019-06-18 07:04] #1982 closed

[2019-06-18 07:06] dotansimha commented on #1980
As we mentioned before, the `types` in `typesPrefix` is for the TypeScript `type` and not for the GraphQL `type`.
There is a similar issue to this one: https://github.com/dotansimha/graphql-code-generator/issues/1712

I guess adding `enumsPrefix` as additional configuration will support both use-cases, because this way it's possible to set `typesPrefix: I` and `enumsPrefix: ""` when you want to re

[2019-06-18 07:11] dotansimha commented on #1978
Hi @LeviSchuck, If you are in a typed environment (such as TypeScript), you can use `typescript-operations` and it will create the exact thing for you (along with typescript interfaces for your queries response and variables).

See an example here: https://github.com/dotansimha/graphql-code-generator/blob/master/dev-test/githunt/types.reactApollo.tsx#L314

If you wish to have it as a standalone pl

[2019-06-18 07:12] dotansimha commented on #1965
@kamilkisiela can you please add it? I think we need to change the signature of `ResolverFn`.

[2019-06-18 07:20] #1935 closed

[2019-06-18 09:11] dotansimha commented on #1863
You are right, @NickClark , the `MutationFn` are not really required, and so does the imports, but you can turn it off using `withMutationFn: false`).

[2019-06-18 09:17] dotansimha commented on #1757
I think that allowing to specify `-r` to the codegen should do the trick (just like we can set `watch` from the cli but also from the config file).
This way, if you need something to get loaded before the codegen reads the `yml`, you can use `-r` and we'll make sure to load it before.

[2019-06-18 10:08] dotansimha commented on #1812
Implemented in: https://github.com/dotansimha/graphql-code-generator/pull/2016

[2019-06-18 10:08] dotansimha commented on #1757
Implemented in: https://github.com/dotansimha/graphql-code-generator/pull/2016

[2019-06-18 10:15] #1870 closed

[2019-06-18 10:25] BeeeQueue opened #2017 "Have to cast typename when creating an object"
**Describe the bug**
When generating the types for a type that implements an interface in the GQL schema the generator currently makes the type of the `__typename` be a combination of both types.

See this repo for an example: https://github.com/BeeeQueue/gql-gen-issue

`Cat` implements `Animal`, so the type of `__typename` becomes `"Cat" & "Animal"` instead of `"Cat"`.

**Environment:**

- OS: an

[2019-06-18 10:33] steebchen commented on #1812
Thanks!

[2019-06-18 11:16] n1ru4l commented on #1934
@Aleksion @jflewis I tackled this issue in https://github.com/dotansimha/graphql-code-generator/pull/2018

You could help me out by verifying it is behaving correct in a real-world application.

[2019-06-18 14:57] dotansimha commented on #1987
@mhank it should be an array of objects:

[code]

I know it's not ideal, but we tried to make the programatic usage as pure as possible, without doing any validations or transformations (because the CLI does that for it).
We'll try to improve that.

[2019-06-18 15:29] mhank commented on #1987
@dotansimha thanks again for the response. You may want to get [this doc page](https://graphql-code-generator.com/docs/getting-started/programmatic-usage#basic-programmatic-usage) updated to reflect that format. I'd be more than happy to submit a PR if you could point me in the right direction. But unfortunately, resolving that error led another to arise:

[code]

[2019-06-18 16:19] arackaf commented on #1987
@dotansimha thanks a ton for the reply!

I, too, tried the workaround you suggested, and then tried patching the plugins array, and then wound up with the very error @mhank found, so I figured the docs page was just wildly out of date (an understandable thing for an OSS project).

I forked your repo in the hopes that I might be able to see where the breakage happened, but no luck.

Anyway, thanks

[2019-06-18 17:27] andrewmartin commented on #1858
Thanks for this!

[2019-06-18 17:29] dotansimha commented on #1995
@pnordhus The awesome @FormidableLabs fixed that very quickly and released `urql@1.1.2` with a fix for that.

[2019-06-18 17:29] #1995 closed

[2019-06-19 00:15] MarkKahn opened #2020 "An option to disable all the `Pick`s in favor of duplicated type definitions"
This may already exist in some form, I've just stated investigating using your library since I love the idea of having customizable templates for our codebase.

**Is your feature request related to a problem? Please describe.**

This is extremely hard (impossible since not all the info is there) to parse.  This is what VS code (and ts cli) shows me as a type (with field names & types redacted, all

[2019-06-19 03:21] gentleShark commented on #2009
You're right @dotansimha. After digging into it a bit more I can confirm that the useMutation hook generated by graphql-codgen returned the correct types for the tuple returned by useMutation in react-apollo-hooks  0.5.0-alpha.0. Thanks!

[2019-06-19 03:21] #2009 closed

[2019-06-19 06:03] dotansimha commented on #2020
We are thinking about putting the final evaluated primitive type instead of the `Pick<>`, this looks very similar.
Thank you for opening this issue :)

[2019-06-19 07:53] dotansimha commented on #1934
Fixed by @n1ru4l ❤️
If someone wants to test it before we release a stable version, you can use `1.2.2-alpha-d6b07f60.28`.

[2019-06-19 08:06] dotansimha commented on #1909
@mshwery thank you for the reproduction, and sorry for the delay. I managed to understand the issue, reproduce it and fix it :)

Now for a given schema:

[code]

you will get:

[code]

Fix is in: https://github.com/dotansimha/graphql-code-generator/pull/2022

[2019-06-19 09:19] pnordhus commented on #1995
Thanks @dotansimha and @FormidableLabs for the quick fix! This issue is indeed fixed, however `withComponent: true` does still not work, with a different error. I'll create a new issue.

[2019-06-19 09:22] pnordhus opened #2024 "Urql fails with "Generic type 'QueryProps<T, V>' requires 2 type argument(s). TS2314""
**Describe the bug**
When using the typescript-urql plugin, any autogenerated file with React Components fails compiling with:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

The autogenerated file `src/graphql.tsx` should compile.

**Environment:**

- OS:

[2019-06-19 09:30] kamilkisiela commented on #1965
Work in progress: https://github.com/dotansimha/graphql-code-generator/pull/2023

[2019-06-19 09:31] kamilkisiela commented on #1965
@dobesv @bnaoki could you guys try `1.2.2-alpha-1a7ee826.35+1a7ee826`?

[2019-06-19 13:04] ryanditjia opened #2025 "Gatsby enum ‘Duplicate Identifier’"
**Describe the bug**

Gatsby’s GraphQL server has enums that are separated with underscores. These underscores are removed during translation into TS enums by graphql-codegen. This removal results in ‘Duplicate Identifier’ TS errors for some field enums that are similar.

**To Reproduce**

Clone this minimal repo: https://github.com/ryanditjia/gatsby-graphql-code-generator

Run `npm start`, wait f

[2019-06-19 13:24] dotansimha commented on #1852
Available in 1.3.0 🎉

[2019-06-19 13:24] #1852 closed

[2019-06-19 13:24] dotansimha commented on #2004
Fixed in 1.3.0 🎉

[2019-06-19 13:24] #2004 closed

[2019-06-19 13:24] dotansimha commented on #1992
Fixed in 1.3.0 🎉

[2019-06-19 13:24] #1992 closed

[2019-06-19 13:24] dotansimha commented on #1967
Fixed in 1.3.0 🎉

[2019-06-19 13:24] #1967 closed

[2019-06-19 13:24] dotansimha commented on #1997
Available in 1.3.0 🎉

[2019-06-19 13:24] #1997 closed

[2019-06-19 13:25] dotansimha commented on #1757
Available in 1.3.0 🎉

[2019-06-19 13:25] #1757 closed

[2019-06-19 13:25] dotansimha commented on #1812
Available in 1.3.0 🎉

[2019-06-19 13:25] #1812 closed

[2019-06-19 13:26] dotansimha commented on #1987
Regarding the docs, you are right, we have an issue about that, we'll fix that soon.

@mhank can you please share how you created your `documents`? it's just an empty array?

[2019-06-19 13:26] dotansimha commented on #1934
Fixed in 1.3.0 🎉

[2019-06-19 13:26] dotansimha commented on #1909
Fixed in 1.3.0 🎉

[2019-06-19 13:26] dotansimha commented on #1965
Fixed in 1.3.0 🎉

[2019-06-19 13:26] #1965 closed

[2019-06-19 13:26] #1909 closed

[2019-06-19 13:27] #1934 closed

[2019-06-19 13:55] mhank commented on #1987
@dotansimha yes. Here's what my updated config object looks like:

[code]

[2019-06-19 14:01] arackaf commented on #1987
@mhank - can you show your imports too, please? I’d like to test whatever solution we come up with here, too, and wanna make sure I have everything right.

[2019-06-19 14:20] mhank commented on #1987
@dotansimha here's the full script:

[code]

[2019-06-19 14:32] therealtbs commented on #1984
I would just like to add that issue 3 might be caused by having prettier installed/configured.

@dotansimha Maybe you could try to reproduce it with prettier installed? The generated files don't look all that pretty to me either, so those two things might be related.

Using @graphql-codegen/near-operation-file-preset@1.2.0

[2019-06-19 16:19] jrr opened #2026 "1.3.0's MaybePromise is applied to parent types of Typescript resolvers"
**Describe the bug**
1.3.0 applies the new `MaybePromise<T>` to the parent and return types of resolvers. It broke a bunch of our resolvers that were reading values off of their parent.

[code]

**This used to work:**
[code]

**1.3.0 error:**

[code]

I could work around it by awaiting the parent:
[code]

..but I'd rather not. They shouldn't be necessary, and we have about 200 of them 😬

https://g

[2019-06-20 06:05] rogerg93 opened #2029 "Send authorization token with generated service"
Is it possible to send an authorization token with the generated services? What I would like to do is send user's authorization token with each request to the GraphQL server so that I can get back only the data which this user should see.

[2019-06-20 06:20] yoavain-sundaysky opened #2030 "typescript-resolvers: maximum call stack size exceeded"
**Describe the bug**
typescript-resolvers is getting "maximum call stack size exceeded" error when there are 2 types pointing at each other.

Example:
[code]

3. My `codegen.yml` config file:

[code]

- OS: Windwos
- `@graphql-codegen/1.3.0`
- NodeJS: 10.x

Worked with 1.2.1

[2019-06-20 06:38] mehmetnyarar commented on #2030
I receive the same error.

@yoavain-sundaysky can you try removing `typescript-resolvers`? It works fine when I do but of course the output has no resolver types which breaks my code.

[2019-06-20 06:47] yoavain-sundaysky commented on #2030
the problem seems to be in the typescript-resolvers plugin.
Typescript plugin works fine on my entire project.
I cut my schema to the smallest part that reproduces the problem.
Seems the problem is in the cyclic reference (A -> B, B ->A)

[2019-06-20 06:57] vhenzl opened #2031 "`@graphql-codegen/cli` shouldn't have dependency on a specific `graphql` version"
PR #2003 added `graphql` version 14.3.1 as dependency to `@graphql-codegen/cli`. I believe that's a mistake as `graphql` is already specified in `peerDependencies`.

In my project, I have some custom plugins and installed `graphql@14.3.0`. Running `graphql-codegen` after upgrade to v1.3.0 fails with errors like this:

[code]

The reason is, that plugins use `graphql@14.3.0` from the project but `g

[2019-06-20 07:22] dotansimha commented on #2030
Thanks @yoavain-sundaysky , I'm taking a look now. We did changed some things related to `typescript-resolvers`.
As a workaround, you can keep using 1.2.1

[2019-06-20 07:24] dotansimha commented on #2031
You are right @vhenzl !
@kamilkisiela can you please take a look?

[2019-06-20 09:07] dotansimha commented on #2030
@yoavain-sundaysky I think I managed to fix that. Can you please try `1.3.1-alpha-671765f6.2` and let me know if it works?

[2019-06-20 09:31] dotansimha commented on #2031
Fixed in: https://github.com/dotansimha/graphql-code-generator/commit/1c4d88c90a13dc5fd9befdd1185a85180dbd09d2

[2019-06-20 09:33] dotansimha commented on #2029
Hi @rogerg93
It has nothing to do with the codegen, it's related only to the runtime library you use in your client-side (apollo/relay/url, each one has a different way of implementing auth).

The codegen only generates types or code for you, and has nothing to do with authentication.

[2019-06-20 09:33] #2029 closed

[2019-06-20 11:02] dotansimha commented on #1900
Fixed in https://github.com/dotansimha/graphql-code-generator/commit/96e1ad38f5b1f6ccc8952d5539abd656ae549def

[2019-06-20 11:06] dotansimha commented on #2025
@ryanditjia By default, we remove underscores from enum values, in order to generate more readable enums.
There is a flag that can help you fix that, but it has a bug, so I fixed it now :)

Until we'll release 1.3.1, you can use the latest alpha version `1.3.1-alpha-96e1ad38.4`.

You can add the following configuration and it should work:

### Option 1 - Keep enum values as-is

[code]

### Option

[2019-06-20 11:16] yoavain-sundaysky commented on #2030
1.3.1-alpha-671765f6.2 works. Thanks!

[2019-06-20 12:50] ryanditjia commented on #2025
Great stuff, thanks!

[2019-06-20 12:50] #2025 closed

[2019-06-20 14:53] leethree opened #2034 "Union is broken by declarationKind: 'interface'"
**Describe the bug**

GraphQL Union will become broken code when generating Typescript types.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

The generated type should not have syntax error.

**Actual behavior**

Syntax error:

[code]

**Environment:**

- OS: macOS
- `@graphql-codegen/...`: v1.3.0
-

[2019-06-20 15:14] tgambet commented on #1617
Happened to me today using Angular 8 and TS 3.4, in tests only.
Setting `"target": "es5"` in `tsconfig.spec.json` fixes the issue.

[2019-06-20 21:17] vhenzl opened #2038 "Option to specify a single file with all enums in the config"
I have a single TypeScript file (generated by a custom plugin) containing all enums for whole GraphQL schema.

I would like to have an option in `graphql-codegen`'s config to specify that all enums should be imported from the file without the need manually mapping each enum in `enumValues`.

### Possible solution

The config would allow a string, a file name, as an alternative to `EnumValuesMap` i

[2019-06-21 05:16] warrendodsworth opened #2043 "Unable to find template plugin matching typescript-operations"
**Describe the bug**
New Angular Cli project
Run npm init
run
standard install

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:
- too big

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Standard generate result

**Environment:**
    "@graphql-codegen/typescript": "1.3.0",
    "@graphql-codegen/typescript-apollo-angular":

[2019-06-21 10:37] kamilkisiela commented on #2026
This one reverts to the previous behavior and hides promises behind a flag:
https://github.com/dotansimha/graphql-code-generator/pull/2044

[2019-06-21 13:32] andreasgruenh commented on #1219
I think I found a working solution for our project. Afaik this only works with modern Typescript versions:

[code]

If you want to make the fields optional in objects, just add the questionmark to ResolvableObject.
This recursivly traverses your GraphQLType and transforms object fields into Unions of functions, async functions, promises, or sync values.

[2019-06-21 14:48] kamilkisiela commented on #2026
Actually, we changed the behavior a bit and now it matches what was before and introduces nested promises, without breaking anything.

https://github.com/dotansimha/graphql-code-generator/pull/2044

[2019-06-21 19:32] cullophid commented on #1996
If you set avoidOptionals to false, you will not be required to provide the resolver for fullName, and it will throw at runtime if you forget.

Ideal behavior would be that if you provide a mapping to a parent type then ti would make all the fields in that type optional in the resolver, and any fields not defined should be required.

so in @schmods case:
the generated UserResolver would be

[code]

[2019-06-22 08:48] chill5018 commented on #2030
1.3.1-alpha-671765f6.2 works for me too! Thanks  @dotansimha !

[2019-06-22 19:51] ericbiewener opened #2048 "Possible to remove Maybe & Scalars types in favor of `number | null` and inlined Scalar values?"
Rather than the creation of `type Maybe<T> = T | null`, is it possible to just inline the `| null` everywhere it is used? Same with the `type Scalars`. To clarify:

Current output:

[code]

Desired output:
[code]

I'd also be interested to know if there is an advantage to the current approach.

[2019-06-22 20:50] arackaf commented on #1987
@dotansimha looks like 1.3 fixes this! Thank you _SO MUCH_ for all your hard work.

Here's my full code (I'm using `esm` to handle the ESM imports).

Only blemish left is that

`documents: [], //needed, for now`

is needed, but I can live with that easily.  Feel free close this - not sure if you're keeping it open until the docs are updated, or whatever.

Thanks again!!!!

[code]

[2019-06-23 05:41] dotansimha commented on #2048
Hi @ericbiewener , we are already thinking about adding this feature.
Please see my comment here: https://github.com/dotansimha/graphql-code-generator/issues/1904#issuecomment-496557106

[2019-06-23 05:41] #2048 closed

[2019-06-23 05:42] dotansimha commented on #2043
Hi @warrendodsworth !
Are you sure all dependencies are installed correctly? Did you ran `yarn` or `npm install` after adding the plugins to `package.json`?
Can you please try to create a small reproduction in a repository?

[2019-06-23 05:44] dotansimha commented on #2038
Hi @vhenzl
You can map you enums to an external file, and then it will be loaded from there. Is that what you need?
https://graphql-code-generator.com/docs/plugins/typescript#usage-example-with-external-enum

[2019-06-23 05:56] dotansimha commented on #2034
You are right, @leethree , you can workaround that at the moment with the following:

[code]

I think we can't really use `interface` to `union` because we cant put `|` in TypeScript interfaces, so we must use `type` aliases. @benquarmby what do you think?

[2019-06-23 06:01] dotansimha commented on #2034
I created a PR that removes it: https://github.com/dotansimha/graphql-code-generator/pull/2049

[2019-06-23 06:21] dotansimha commented on #1987
@arackaf
Fixed in 1.3.1, now you no longer must specify `documents: []`.

[2019-06-23 06:21] dotansimha commented on #2034
Fixed in 1.3.1

[2019-06-23 06:21] #2034 closed

[2019-06-23 06:21] dotansimha commented on #2026
Fixed in 1.3.1

[2019-06-23 06:21] #2026 closed

[2019-06-23 06:21] dotansimha commented on #2030
Fixed in 1.3.1

[2019-06-23 06:21] #2030 closed

[2019-06-23 06:21] dotansimha commented on #1900
Fixed in 1.3.1

[2019-06-23 06:21] #1900 closed

[2019-06-23 06:21] dotansimha commented on #1900
Fixed in 1.3.1

[2019-06-23 06:22] dotansimha commented on #2031
Fixed in 1.3.1

[2019-06-23 06:22] #2031 closed

[2019-06-23 06:36] dotansimha commented on #2025
Fixed in 1.3.1

[2019-06-23 06:50] benquarmby commented on #2034
Yes, you're absolutely right @dotansimha. We should only use `type` aliases for `union` declarations. Thanks for turning around the fix so quickly.

[2019-06-23 08:51] vhenzl commented on #2038
Nah, that's what I'm doing. The config looks like

[code]
 Since the enum name on the left side and the right side is always the same and the file name is the same for all lines, I would like to simplify the config to

[code]

[2019-06-23 08:56] dotansimha commented on #2038
@vhenzl I see. It's something that shouldn't be too complicated to support.
We can give it a try in the future (and we always welcome PRs ;)).

[2019-06-23 13:11] abumalick opened #2051 "[Question]Avoid having to use no non null assertion everywhere with Gatsby"
It is my first time using graphql-codegen in a project, thank you very much for providing this tool.

I am working on a starter for Gatsby with typescript, and I am using graphql-codegen to generate the types for gatsby's graphql server.

It works well but all the fields are of type `Maybe<T>`, I am not sure why, the data is there in the API and is not null.

So in my code I have to add a lot of *

[2019-06-23 15:40] abumalick commented on #2051
I just found another workaround that is a lot better for me:
Set `maybeValue` to `T` instead of `T | null`

I will close the issue as I have my answer.

Your advices are very welcome through. I wonder if there is a very good reason to not do this.

[2019-06-23 15:40] #2051 closed

[2019-06-23 16:51] leethree commented on #2034
Thanks for the quick fix! Really appreciate it.

[2019-06-23 22:00] arackaf commented on #1987
@dotansimha fyi, even with 1.3.1, without the documents empty array, I'm seeing

        at Object.executePlugin (/Users/adam.rackis/Documents/git/mongo-graphql-starter/node_modules/@graphql-codegen/core/src/execute-plugin.ts:35:41)
        at codegen (/Users/adam.rackis/Documents/git/mongo-graphql-starter/node_modules/@graphql-codegen/core/src/codegen.ts:31:26)
        at createTypeScriptTypes (/

[2019-06-24 00:50] warrendodsworth commented on #2043
Hi @dotansimha,
Thanks for getting back to me so quickly mate
Yes, I did run **npm i** after adding the plugins using **graphql-codegen init**

I've created a small repo to reproduce the issue
https://github.com/warrendodsworth/web-graphql-codegen-reproduce-bug

[2019-06-24 05:29] dotansimha commented on #1987
@arackaf oops sorry, fixed in https://github.com/dotansimha/graphql-code-generator/commit/d38dde47dad9f8314d8ef782f722f57ba3feeaea

[2019-06-24 22:05] KyleMcNutt commented on #1933
Also it would be really great to see an example of how to use this in a the programmatic API. Bearer token key's in our case will change very often, so we programmaticaly retrieve them, and need to feed them into the `codegen` function (https://graphql-code-generator.com/docs/getting-started/programmatic-usage). How to do that, would be a great thing to include in the docs!

[2019-06-25 18:56] mhank opened #2061 "'Error: Must provide valid Document AST' when trying to use programmatic API"
**Describe the bug**
I've written a script that's supposed to feed a schema from a remote URL to the `codegen` function exported by `@graphql-codegen/core`. When the script is run, the following error is unexpectedly output:

[code]

**To Reproduce**
Here's the full script being run:

[code]

**Expected behavior**
The `codegen` function is invoked without error and returns types corresponding to t

[2019-06-26 08:30] RIP21 opened #2064 "[TypeScript-Resolvers] Default arguments in queries/mutations are generated as Maybe"
**Describe the bug**
If you have default arguments on SDL side.
[code]
It will generate:
[code]

**Expected behavior**
Should be generated:
[code]

**Environment:**
codegen: 1.3.1
node: v12.3.1

[2019-06-26 09:01] RIP21 commented on #2064
The similar issue back in the days for Flow.
https://github.com/dotansimha/graphql-code-generator/issues/1097

[2019-06-26 09:05] dotansimha commented on #2064
It depends, because for `typescript-operations`, that's fine, because it means that you don't have to specify this field, because it has a default value.
It might be an issue only with `typescript-resolvers`, because there if there is a default value, it means that that the field *must* be there.

@kamilkisiela what do you think? maybe we can keep it as-is now (with `Maybe`), and do something like

[2019-06-27 19:08] mvestergaard opened #2069 "Watch mode exits after first run when using near-operation-file"
**Describe the bug**

When using the `near-operation-file` preset watch mode exits right after the first iteration.

**To Reproduce**
Steps to reproduce the behavior:
Run `gql-gen` with `near-operation-file` configured

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

Watch mode should keep running

**Environment:**

[2019-06-27 19:37] merisbahti opened #2070 "Uncompileable javascript generated by numeric names for enums."
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:
For example, the graphql type

[code]
Generates this code:
[code]

which is incorrect and does not compile in typescript:
```[tsserver 2452] [E] An enum member cannot have a numeric name.```

2. My GraphQL operations:

Not applicable. (I think?)

3. My `codegen.yml` config file:

Not applicable. (I think

[2019-06-27 19:41] mvestergaard commented on #2069
The weird prettier error should be fixed by #2071

[2019-06-28 05:42] ken0x0a commented on #1954
I got same error with this

[code]

This will produce

[code]

@dotansimha Thank you for helping me last time!
Now I upgraded to v1 finally.

[2019-06-28 07:27] ken0x0a commented on #1954
[code]

This will produce same type...

`reaction2` is no effect and
generate

[code]

[2019-06-28 11:36] helios1138 opened #2078 "add a scanner for `schema` similar to documents scanner for `documents`"
- `documents` field allows specifying a glob matching code files which have gql queries defined in them using `gql-tag`
- it would be nice if `schema` field would also allow doing the same

[2019-06-29 03:23] eddeee888 opened #2080 "`noGraphQLTag` and `near-operation-file` config does not work with Fragment"
**Describe the bug**
I'm using both `noGraphQLTag` and `near-operation-file` to generate files with fragment. I keep getting the following error:

[code]

If I don't use fragment, it works!

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Fragment be turned into `Doc

[2019-06-29 13:30] veeramarni opened #2081 "space getting trimmed in the generated comments from triple quoted comment"
**Describe the bug**

The generated comments from a triple-quoted comment in the final output come with trimmed beginning space. We like to have space not trimmed when our comments are multi-lined.
**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My generated output

[code]

**Expected behavior**

It should not trim the space, so it would appear as below.

[code

[2019-06-30 21:57] veeramarni commented on #1980
similarly, if we could also have `interfacePrefix` option so if we already have `I` prefix in the graphql field we don't want to add any additional prefix.

[2019-06-30 22:05] veeramarni opened #2082 "external enumValues with typesPrefix won't work together"
**Describe the bug**

If we have `typesPrefix` set to some value and `enumValues` point to a file then `import` value in the generated output won't have required type prefix and hence type validation fails.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

Generated Output

[code]

**Expec

[2019-07-01 08:19] dex4er opened #2083 "New plugin that generates Typescript source file from GraphQL files"
Hi,

I wrote some additional plugin https://github.com/dex4er/js-graphql-codegen-typescript-document-nodes

It generates Typescript files from GraphQL schema, ie.:

[code]

It would be great if this plugin will be a part of your framework. Just feel free to include it and change it if you find it useful.

[2019-07-01 09:05] Urigo opened #2084 "Default output paths inside node_modules"
I've just had a chat with @schickling

They are recommending their users to output the generated code in node_modules.

They do that because that way there is less confusion about the best practice to not put those files into source control and also that imports can look nicer.

He also said they are working on a convention to put generated files under a `@generated/some-package` path.
Not sure wh

[2019-07-01 09:43] ozsay commented on #1904
Hi @dotansimha,

We encounter a similar issue with passing the result of a `useQuery` function (hooks) to a `FlatList` item renderer. Since the type returned from the `useQuery` is private to the generated file (Pick of the base type), we can't use it anywhere. So that leaves us with using the base type, and `ts` raises errors in that case.

Do you have any inputs regarding this? maybe a simple wo

[2019-07-01 16:34] jsangilve opened #2086 "Support for Apollo Federation directives"
Is there any way to generate types for a schema using Apollo Federation directives? `@key`, `@external`, etc?

I tried to generate them but it doesn't seem to work:

For example:

[code]

[code]

**Environment:**

- OS:
- `@graphql-codegen/...`: 1.3.1
- NodeJS: 10.15

[2019-07-02 07:47] endigo opened #2092 "Gatsbyjs with Apollo"
There are 2 types of queries, mutations, and subscription.

How to generate types not depending on each other.

[code]
[code]

[code]
Error is
[code]
[code]

[2019-07-02 20:18] vonwao opened #2093 "[graphql-tag-pluck] `No file specified: unexpected token` when using JSX in `.js` files"
**Describe the bug**

  √ Parse configuration

      √ Load GraphQL schemas
      × Load GraphQL documents
        → Unexpected token (7:31)
        Generate

 Found 1 error

  × ./packages/graphql/types.tsx
    SyntaxError: Unexpected token (7:31)

1. My GraphQL schema:

N/A, this is happening in parsing documents

2. My GraphQL operations:

I have a bunch in different files

3. My `codegen.yml`

[2019-07-02 20:28] vonwao commented on #2093
I figured out that the errors I was getting was because my files were named .js instead of .jsx.  Is that expected?  Is there a way to treat all files as JSX so I don't have to rename all my files?  Thanks.

[2019-07-03 07:01] silveracy opened #2097 "quickguide not working"
https://github.com/dotansimha/graphql-code-generator#quick-start

[code]

so I think to fix it like this:

`
$ yarn global add graphql @graphql-codegen/cli
`

[2019-07-03 07:14] ardatan commented on #2097
Try `yarn graphql-codegen init`.

[2019-07-03 07:14] #2097 closed

[2019-07-03 07:16] silveracy commented on #2097
OH. thank you so much

[2019-07-03 07:19] ardatan commented on #2084
But in this case, project will look broken at the first time. So people must add `preinstall: "graphql-codegen"` script to package.json.
I think operation types should be imported using `.graphql` itself instead of another file using `declare module`.
And codegen can provide a special register extension for non-TS, code parts in order to import them using `.graphql` extension on runtime.

[2019-07-03 10:37] dotansimha commented on #2084
@ardatan maybe as `postinstall` script? this way all the dependencies (and the codegen) will get installed, then `postinstall` will run `graphql-codegen` and create the output file under `node_modules`.

[2019-07-03 10:37] dotansimha commented on #2093
@vonwao which version of the codegen do you use?
It was an issue with `graphql-tag-pluck`, but I think we already solved it.

[2019-07-03 10:39] dotansimha commented on #2092
Hi @endigo
Are you sure your schema contains the `input organizations_insert_input`? It seems like it doesn't getting loaded from your schema. Can you find it in GraphiQL/Playground docs?

[2019-07-03 10:41] dotansimha commented on #1904
@ozsay can you please share an example? I didn't understand how to reproduce it.
You can use an intermediate type to get access to the nested fields. For example:  `const MyType = MyQuery['user']`.

We are working on an alternative for the `Pick`s, but it will just replace the Pick with the actual primitive type.

[2019-07-03 10:53] dotansimha commented on #2086
Hi @jsangilve !
How do you load your schema? Can you please share you `codegen.yml`?
I think Apollo Federation is using the directives only during it's build process, and strip it while serving the schema.

You can add a file with all the directives (`federation-directives.graphql`):

[code]

Then, load it as part of your schema:

[code]

[2019-07-03 10:55] dotansimha commented on #2083
Hi @dex4er ! That's awesome!

Do you want to create a PR for it?

[2019-07-03 10:57] dotansimha commented on #2078
Hi @helios1138 !
You are right, it's not supported at the moment (we are using https://github.com/ardatan/graphql-toolkit to load the schema, so it should be implemented there).

[2019-07-03 10:59] dotansimha commented on #2070
Hi @merisbahti
You can use `namingConvention` to override the `enumValues` transformations:
[code]

[2019-07-03 10:59] #2070 closed

[2019-07-03 11:07] #1901 closed

[2019-07-03 11:47] ozsay commented on #1904
@dotansimha
for example

schema
[code]

query
[code]

with this setup, the generated code looks like (with hooks):

[code]

and the code that raises problems:

UsersList Component
[code]

User Component
[code]

The problem is obvious here. the users array that is returned from the query is of type `Pick<User, 'id' | 'firstName'` while the `FlatList` is expecting `User`. Since the generated code do

[2019-07-03 12:12] elie222 commented on #1904
You can use UsersQuery[“users”] for the flatlist as mentioned above. Or a
fragment and then use the fragment type.

Or you can have flatlist receive Partial<User> but this is less optimal.

On Wed, 3 Jul 2019 at 14:47 Oz Sayag <notifications@github.com> wrote:

[2019-07-03 13:08] dex4er commented on #2083
@dotansimha ok, I never worked with lerna but I'll try

[2019-07-03 14:51] dotansimha commented on #1904
As @elie222 said, @ozsay , you can use `UsersQuery["users"]` for your props. If you wish to make it more general, use GraphQL fragments and then you'll have `UserFragment` generated.

[2019-07-04 06:46] ardatan commented on #2084
Sorry I meant `postinstall` :)

[2019-07-04 08:19] konsumer commented on #827
Was this resolved? I am having same issue with schemaDirectives:

[code]

gets turned into this:

[code]

With this code:

[code]

Should I be doing it differently?

[2019-07-04 08:57] dotansimha commented on #1943
Fixed in: https://github.com/dotansimha/graphql-code-generator/commit/d4804df119feb6ecdcd8593a7f81d398bb03419b

[2019-07-04 09:18] dotansimha commented on #1954
Hi @dobesv, I noticed that your repro is using a very old version of the codegen (0.18.2).

I tested the latest version with the updated dependencies:

[code]

And this config file:

[code]

And everything seems to work, no compiler errors.

[2019-07-04 09:23] mxstbr opened #2105 "Slow performance with large schemas"
**Describe the bug**

When generating code from large GraphQL schemas, running graphql codegen takes > 25s, which is way too slow.

**To Reproduce**

Generate schema types and some queries from the official GitHub GraphQL API, which is _very_ large:

[code]

You are going to need to get a GitHub personal access token from your settings and insert . that where it says `${GITHUB_PERSONAL_ACCESS_TOKE

[2019-07-04 09:26] mxstbr commented on #1954
I am on the latest version of graphql-codegen and still getting an error like this: "Duplicate identifier 'PullRequestReviewThreadsArgs'" when running against the full GitHub GraphQL API (reference for how to set that up is in #2105)

I am on 1.3.1 across all plugins.

[2019-07-04 09:28] dotansimha commented on #2061
Hi @mhank ,
I think it caused because you are passing `schemaUrl` as schema, and with the programattic API you must provide the `GraphQLSchema` object and not url.
You can use `loadSchema` from `graphql-toolkit` to do load `GraphQLSchema` from a url string.

Also, I noticed that you are doing this in your code:

[code]

But not that this way you ignore other functionality of the plugin (such as `v

[2019-07-04 09:31] dotansimha commented on #2008
Hi @@Thebigbignooby, I'm closing for now. Feel free to reopen if you have more questions.

[2019-07-04 09:31] #2008 closed

[2019-07-04 09:43] nicky-lenaers commented on #1617
@tgambet Your answer helped me out!

[2019-07-04 10:15] dotansimha commented on #2017
Hi @BeeeQueue ,
I tested it with the latest version (1.3.1) and it seems to work. now there is no `__typename` at all in `interface`s.

[code]

[2019-07-04 10:15] #2017 closed

[2019-07-04 11:12] dotansimha commented on #2105
@mxstbr I think the issue here is related to `near-operation-file`. Does it work better with a single file?

[2019-07-04 11:14] dotansimha commented on #1954
@mxstbr I tried now with the latest, it seems like it compiles correctly.
[output example](http://www.typescriptlang.org/play/#code/KYDwDg9gTgLgBDAnmYcCyBDRAjYAeAFQD44BeOAuAHzgDsBXAG0YG4AoAegCou4BBZnGz0AloxgBaEbTgZaAEzgBjegGcYEALZxVSjIwxRVAGjiaMYFIo0IAFsBFRZSmPX1wAbvvrBVcLhxsoJCwCMioAMp6BkZkcADebHBwAJIAIgBcOjBQ0gDmxklwETn5Weq5tAVFAEIQEIzAclnY9Y1yhckptDBZDJq4UJ1wAGKMEBi9dPQDwENFAKoASilZcojDaZPABCKa

[2019-07-04 11:24] mxstbr commented on #2105
You are right! Same configuration except for removing `near-operation-file` takes 11s. I only generate 12 files with the preset, it seems weird that going from writing one file to writing 12 files would add ~1s per file?!

11s is still too slow though, if I replace the large schema with a much smaller schema it only takes 1s, so there's still a lot of seemingly unnecessary overhead there?

[2019-07-04 11:28] dotansimha commented on #2105
I think it's related to the filtering we are doing before executing the plugin (per each file). I'll check :)

[2019-07-04 11:39] mxstbr commented on #1954
Hmm interesting, it might be because I am an employee and am hitting an internal GraphQL API. Let me try to get you a minimal reproduction!

[2019-07-04 11:55] mxstbr commented on #1954
I found the issue, this is the most minimal reproduction:

[code]

This generates two types with the same name, `PullRequestReviewThreadsArgs`, even though they are not the same!

@dotansimha do you think you can fix it with this information?

[2019-07-04 14:21] dotansimha commented on #2080
Tested it now, and it seems like it's not related only to `near-operation-file`.
The combination of fragments and `noGraphQlTag` doesn't work, because we need to compile the fragment and build a single `DocumentNode` (with both `OperationDefinition` and `FragmentDefinitions`).

I tried to fix it in: https://github.com/dotansimha/graphql-code-generator/pull/2106

@eddeee888 can you please test it?

[2019-07-04 14:27] eddeee888 commented on #2080
Will do this soon! Cheers!

[2019-07-04 15:13] dotansimha commented on #1904
@elie222 @ozsay I tried it in:  https://github.com/dotansimha/graphql-code-generator/pull/2107

The output is:

[code]

What do you think? (I'll intoroduce a new config flag `preResolveTypes` to activate this behaviour).

[2019-07-04 15:58] RIP21 commented on #1904
I'm with @dotansimha and @lukasluecke
You should use `fragments` for all your data requirements of the component. And you should build a query from the bottom of the component tree up to the place where you do a query. This way it will be nice and alongside.
Example:
[code]

This approach is recommended in Apollo and if close to the one that Relay is based off.
https://www.apollographql.com/docs/a

[2019-07-04 16:04] dotansimha commented on #1904
Actually, there are 2 issues here:
- `Pick` - With the change I added, you can now have a direct primitive instead of `Pick<>` (you'll still need to include `typescript` along with `typescript-operations` because of enums and input types).
- Intermediate types - you can get them by using `typescript-compatiblity` and then each selection set will get it's own type (like in 0.18). And @RIP21 is righ

[2019-07-04 16:05] #2061 closed

[2019-07-04 16:54] dotansimha commented on #1933
@jcmoore0 The example in https://graphql-code-generator.com/docs/getting-started/schema-field#url is valid, just make sure you file indentation is valid (because i effects `yml` files).

You example has missing spaces before `Authorization`.

@KyleMcNutt The programatic usage accepts `GraphQLSchema` as an input, so it has anything to do with headers.
You can use `loadSchema` from `graphql-toolkit`

[2019-07-04 16:54] #1933 closed

[2019-07-04 17:03] dotansimha commented on #2043
Hi @warrendodsworth , I noticed the following in your repo:
- Missing dependency `@graphql-codegen/cli`.
- `typescript-graphql-files-modules` requires extensions `d.ts` so I recommend using it separately.
- `fragment-matcher` is better used in a separate file.

You config should look like that:
[code]

I couldn't reproduce your issue with the reproduction repo. Tried with Node 10 and NPM (tried to

[2019-07-04 17:04] dotansimha commented on #1996
Im closing this, as the only way to implement it is to force all types.
@cullophid this sounds like a different issue, if you think we should add the use-case, feel free to open a new issue :)

[2019-07-04 17:04] #1996 closed

[2019-07-04 17:05] dotansimha commented on #2020
@MarkKahn https://github.com/dotansimha/graphql-code-generator/pull/2107 just got merged, and it will be available in the next release.

[2019-07-04 17:11] dotansimha commented on #1858
You are right, I updated it in the docs.

You can use `normalizeConfig` from our codebase in order to prepare any kind of config object:
[code]

I might change it in a future release, I don't want to break the API at the moment.

[2019-07-04 17:11] #1858 closed

[2019-07-04 17:12] dotansimha commented on #1863
I think we can prepare to close this one. We currently support `@apollo-react/hooks` (2/3) and `apollo-react-hooks`.

[2019-07-04 17:13] dotansimha commented on #1978
Implemented here: https://github.com/dotansimha/graphql-code-generator/pull/2098

[2019-07-04 17:15] dotansimha commented on #1942
Updated. Thanks @andrzey !

[2019-07-04 17:15] #1942 closed

[2019-07-04 17:17] KyleMcNutt commented on #1933
@dotansimha Then the docs should be updated to make that more clear. As is, I assumed the `schema` field in the programmatic API would take any of the same params as the `schema` prop in the YAML file.

[2019-07-04 17:18] #1950 closed

[2019-07-04 17:20] dotansimha commented on #1899
Done. Thank you for reporting this :)

[2019-07-04 17:20] #1899 closed

[2019-07-04 17:21] dotansimha commented on #1895
@ardatan I think the API is pretty stable, do you think we can add it now?

[2019-07-04 17:22] dotansimha commented on #1708
@LeviSchuck This is implemented in: https://github.com/dotansimha/graphql-code-generator/pull/2098

[2019-07-04 17:23] dotansimha commented on #1849
We decided to leave it as-is, because of the complexity of finding out which linter is in use. Just use `add` plugin.

[2019-07-04 17:23] #1849 closed

[2019-07-04 17:24] dotansimha commented on #1821
@NishealJ Closing this. Feel free to include it :)

[2019-07-04 17:24] #1821 closed

[2019-07-04 17:27] dotansimha commented on #747
Closing, I don't think we need it for now :)

[2019-07-04 17:27] #747 closed

[2019-07-04 17:33] dotansimha commented on #827
@konsumer Can you please open a new issue for this?

[2019-07-04 19:08] konsumer opened #2108 "custom schemaDirectives not working in custom plugin"
**Describe the bug**

`schemaDirectives` don't seem to work with `visitor` pattern for making a plugin, but I may be using it wrong. Before it even gets to visitor, the directives have been stripped from the schema.

I basically want to generate sql stuff (knex migrations, resolvers & join-monster annotations) with graphql SDL to define config.

**To Reproduce**
Steps to reproduce the behavior:

[

[2019-07-04 19:08] konsumer commented on #827
@dotansimha yep, no prob: #2108

[2019-07-05 00:52] endigo commented on #2092
Sure, my schema contains the input.

I used ```gatsby-source-graphql``` with gatsby config.
And I use ```apollo-graphql``` with clientside. So 2 different access to my graphql endpoint.

Queries, mutations are 2 different rootType.
[code]

[code]

[2019-07-05 01:12] morenore commented on #1978
Ok

El jue., 4 jul. 2019 19:13, Dotan Simha <notifications@github.com> escribió:

[2019-07-05 02:14] eddeee888 commented on #2080
Looking good @dotansimha

https://codesandbox.io/s/use-before-declare-unused-imports-kc7ov

[2019-07-05 04:05] jlkiri opened #2110 "Make suffix of generated query response types customizable"
**Is your feature request related to a problem? Please describe.**

`componentSuffix` option of `typescript-react-apollo` plugin allows us to generate React Apollo components with arbitrary suffixes. The default is `XXXComponent` but many would like to generate something like `XXXQuery`. However, this format is already reserved for generated query response types, e.g.

[code]

**Describe the solut

[2019-07-05 06:36] jsangilve commented on #2086
Thanks for your reply @dotansimha. Will try asap

[2019-07-05 07:55] dotansimha commented on #2092
I understand, but note that the Codegen only loads the schema you provide, and then run `validate` (or `graphql`) with your documents. It means that there is a document in your code that uses types that does not exists in your schema.
Can you please create a repo/sandbox with reproduction?

[2019-07-05 09:05] mxstbr commented on #1954
Submitted a failing test as a PR: #2111 This should hopefully help you fix this @dotansimha!

[2019-07-05 09:10] jlkiri commented on #2110
I have a working solution but not sure if it is the best way. I can send a PR.

[2019-07-05 10:30] #2083 closed

[2019-07-05 11:38] OneCyrus opened #2112 "@apollo/react-common support"
**Is your feature request related to a problem? Please describe.**
please add support for @apollo/react-common (react-apollo 3). currently the generated types don't work with anymore.

**Describe the solution you'd like**
generated types which work with the new @apollo/react-common package. HOC, Components and Hooks.

**Describe alternatives you've considered**
there's no alternative.

**Additiona

[2019-07-05 18:49] mhank commented on #2061
@dotansimha unfortunately, making all of the changes you suggested did not resolve the error.

Updated script:
[code]

Still outputs the same error:
[code]

[2019-07-06 02:37] endigo commented on #2092
Here is the repo
[code]

[2019-07-06 08:03] dotansimha commented on #2092
@endigo I think your client side is doing some transformations and manipulations to your documents, and create a different query in runtime.
I tried to run your example locally, and I opened `/__graphql` and searched for this input type: `organizations_insert_input` - it does not exists.
The codegen only consumes the final GraphQL schema, and your operations as you provide them. If your client con

[2019-07-06 08:04] dotansimha commented on #2061
Hi @mhank, `loadSchema` is `async`. You should wrap it with `await`.

[2019-07-06 08:05] dotansimha commented on #2112
Hi @OneCyrus !
I'm not sure, but I think this PR solves it: https://github.com/dotansimha/graphql-code-generator/pull/2077
You can try it with `1.3.1-alpha-d928e0d7.72` because it's not released yet.

[2019-07-06 08:05] dotansimha commented on #2110
@jlkiri sure, can you please share it here or submit a PR? I :)

[2019-07-06 08:47] dotansimha commented on #1954
Fixed in: https://github.com/dotansimha/graphql-code-generator/commit/0e670203ed77609c56ba03e295e257cb4744265b
Available as alpha `1.3.1-alpha-a16b1dd1.74`.

[2019-07-06 09:56] OneCyrus commented on #2112
ah ok. that looks like a start. from overlooking it seems to be incomplete. will give this a try and report my findings.

[2019-07-06 10:07] endigo commented on #2092
Yes, there is no ```organizations_insert_input``` type because that's a demo. You should find ```products_insert_input```.

[2019-07-06 10:13] endigo commented on #2092
I need to generate type for hasura and apollo.

There is 2 endpoint.
```https://gatsby-apollo-demo.herokuapp.com/v1/graphql```
```http://localhost:8000/___graphql```

[2019-07-06 10:16] endigo commented on #2092
```graphql``` is imported from ```gatsby```

```gql``` is imported from ```graphql-tag```

[2019-07-06 10:17] endigo commented on #2092
You can access hasura console with this address
https://gatsby-apollo-demo.herokuapp.com/console

[2019-07-06 10:34] dotansimha commented on #2092
Ok, so you have 2 different schemas that doesn't have anything to do with each other? And you want to merge them before or not?
Do you consume them as 2 separate endpoints, or as one?
I'm not really sure, but it seems like you are mixing a few things here.
If you wish to have 2 output files, that are not depending on each other, just specify `schema` and `documents` in each one of them.

The codeg

[2019-07-06 10:58] dotansimha commented on #2112
@OneCyrus Thanks, waiting for your update on the missing features :)

[2019-07-07 05:05] dotansimha commented on #2108
Hi @konsumer !
I think I managed to fix this in https://github.com/dotansimha/graphql-code-generator/pull/2120.
Can you please try the latest alpha version? (`1.3.1-alpha-991b9d78.75`)

[2019-07-07 05:07] dotansimha commented on #2105
btw, @mxstbr , this PR by @mvestergaard is already merged: https://github.com/dotansimha/graphql-code-generator/pull/2073 (and available as `1.3.1-alpha-991b9d78.75`).
It should avoid building the schema per each output file, so I think it might improve the performance, can you please try it?

[2019-07-07 05:07] dotansimha commented on #2086
@jsangilve any update? :)

[2019-07-07 06:55] dotansimha commented on #2082
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2121
@veeramarni can you please test it with the latest alpha? `1.3.1-alpha-77551f3e.79`

[2019-07-07 07:14] dotansimha commented on #2082
Actually needed to do a small fix for `typescript-resolvers` to make it work there as well. Available as `1.3.1-alpha-70a40ede.80`.

[2019-07-07 13:10] veeramarni commented on #2082
@dotansimha  I have tried by updating all libraries to `1.3.1-alpha-70a40ede.80` but still have same issue.

[code]

[2019-07-07 13:31] dotansimha commented on #2038
Added in: https://github.com/dotansimha/graphql-code-generator/pull/2121
Available as alpha `1.3.1-alpha-789526ab.83`.

[2019-07-07 13:31] dotansimha commented on #2082
@veeramarni can you please share a reproduction in a repo? (or codesandbox)
I added a test that seems to pass: https://github.com/dotansimha/graphql-code-generator/pull/2121/files#diff-f7bb64df03f464913f48980ead990c1aR224

I also added some more changes and refactored `enumsValues` a bit. Can you please try it? `1.3.1-alpha-789526ab.83`

[2019-07-07 14:37] veeramarni commented on #2082
For some reason, we cannot replicate in the codesandbox not sure why we still have the issue.

As I see now, enums will won't have the `prefix: I`, but in the code generated in our project has `I` prefix.

https://codesandbox.io/embed/graphql-codegen-issue-template-rdsel

[2019-07-07 14:43] veeramarni commented on #2082
I'm able to reproduce the issue after adding `- typescript-react-apollo` plugin.

https://codesandbox.io/embed/graphql-codegen-issue-template-rdsel

[2019-07-07 15:47] dotansimha commented on #2064
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2122
@RIP21 can you please try it with `1.3.1-alpha-5d4a4dba.80`?

[2019-07-07 15:54] dotansimha commented on #2082
@veeramarni

I tested it now, and it seems to work fine, am I missing something? (try to clear `types.ts` in the sandbox editor and save it, before running `yarn codegen` again, and then re-open `type.ts`).

I got this output:
[code]

btw, any reason to use both `operations` + `react-apollo` with `resolvers`? In most cases, they should be in different files.

[2019-07-07 18:59] veeramarni commented on #2082
@dotansimha Thanks that fixed it!.

The reason we have the `react-apollo` in the generated file for two reasons.

1. We need common queries to be packaged so we can ship one package such that each microservice can use to call the gateway server.
2. It is hard to have two separate files with `types` & `gql` queries in one and  `react` generated code in another as mentioned in  https://github.com/do

[2019-07-08 01:11] konsumer commented on #2108
Hmm, I tried to use the same code I used before to test the plugin and it wouldn't load:

Here is my codegen.yml:
[code]

Here is error:

[code]

My plugin looks fine, liek this:

[code]

You can see the whole thing [here](https://github.com/konsumer/graphql-codegen-knex-migration).

[2019-07-08 04:17] vhenzl commented on #2038
Awesome! Thanks a lot.

[2019-07-08 04:43] dotansimha commented on #2108
I tried it locally, and the error I'm getting is:
[code]

(comes from `posts: [ Post ]! @link('author')`, it should be `posts: [ Post ]! @link(field: "author")`).

It seems like there is a very specific issue with calling your plugin file `./index.js`, it tries to load the local file from the codegen compiled code instead of your file.

Change your plugin file to `custom-plugin.js` and it will wor

[2019-07-08 04:45] dotansimha commented on #2082
Makes sense, I'm glad that it helped :)

Keeping open because we are tracking the `waiting-for-release` issues :)

[2019-07-08 05:55] konsumer commented on #2108
Yep, true. I got the error before I made `@link` but I will make the change.

Well, this would be true, if I was worried about the version cascading, but I'm just testing for you until it's published, at which point I will use `latest`. That is just what gets injected to package.json when you do `npm i @graphql-codegen/cli@1.3.1-alpha-991b9d78.75`

Hmm, this seems like a bug? I moved it to a `src`

[2019-07-08 06:14] vhenzl commented on #2038
@dotansimha, I tried it in my project and it works fine 👍

One question, however. It also adds imports for `__TypeKind` and `__DirectiveLocation`. Is it intentional that these schema introspection enums are also included?

[2019-07-08 06:40] konsumer commented on #2108
I dunno, if I run this in my plugin:

[code]

I get the arguments to the directive correctly, so I guess this really is an issue of `printSchema` stripping the usage of the directives. I have tried to use the `visitor` pattern directly with schema in the past, but it didn't work (I needed to do `printSchema` then `parse`.) I will keep playing with it.

[2019-07-08 07:23] dotansimha commented on #2108
@konsumer yeah it seems to work.

`printSchema` strips all directives, you can use `printSchemaWithDirectives` from `graphql-toolkit` to solve this.

[2019-07-08 07:27] janhartmann opened #2124 "Property 'X' does not exist on type 'ResolverTypeWrapper<Y>'"
**Describe the bug**
After upgrading to:

[code]

I am experiencing errors in my unit tests where an array is used:

[code]

When accessing the `result[0]` i am getting:

[code]

The result of `result` is:

[code]

Where I believe it should be:

[code]

My implementation of `mockResolver` is the following:

[code]

[2019-07-08 08:21] konsumer commented on #2108
That is perfect.

When I do this, it also works to get all the directives and their args in a nice lookup table:

[code]
I like `printSchemaWithDirectives` much better, this works great:

[code]

[2019-07-08 08:35] mxstbr commented on #2105
On `alpha.82`, running graphql-codegen in my codebase takes ~20s (with `prettify: false`) compared to ~24s on `latest`, so it's a bit faster but not much. :confused:

For reference, the schema I am working with is almost 100k LoC and the file is 1.7MB in size.

[2019-07-08 08:38] OneCyrus commented on #2112
just tried the alpha with the following config:

[code]

and here are the thins which i needed to do:

### 1. replace imports

replace
[code]
with
[code]

### 2. replace types/strings

i replaced the following strings with new values

| old value|new value|
|-----------|-------------|
|ReactApollo. | "" (nothing)|
|ReactApolloHooks. | "" (nothing)|
|MutateProps| MutationComponentOptions|
|Mutation

[2019-07-08 08:38] dotansimha commented on #2108
Yeah, it's much easier to access and check the AST using `visitor`. Glad that it works for you now 👍👍👍.

Keeping open until we'll release a stable version with the fix.

[2019-07-08 08:39] dotansimha commented on #2112
Thank you so much @OneCyrus ! I'll take a look soon :)

[2019-07-08 08:47] mvestergaard commented on #2105
That's a little odd. For me there was a big improvement:

With 1.3.1:
[code]

With `@canary`
[code]

You upgraded all packages related to graphql-codegen to the alpha, i assume?

Maybe you can try running a profiler to see where the slowness comes from.
I did the following
- Install 0x https://www.npmjs.com/package/0x globally `npm install -g 0x`
- In your project run `0x .\node_modules\@graphql-c

[2019-07-08 08:49] mvestergaard commented on #2105
Oh and with `prettify: false`:
[code]

[2019-07-08 09:10] jsangilve commented on #2086
Hi @dotansimha!

Sorry for the late reply.

I tried your suggestion and the errors for `@key` and `@external` directives are gone, but we still have trouble with the types and plus `_FieldSet` param (as declared within the directives).

[code]

[code]

[2019-07-08 09:12] jsangilve commented on #2086
Just to be clear, this is not the Apollo Gateway but a federated service. The type `User` will never be defined here, but within a different service's schema.

[2019-07-08 09:18] dotansimha commented on #2086
My bad, you need the complete Federation directives spec:
[code]

(you can find it in https://www.apollographql.com/docs/apollo-server/federation/federation-spec/)

[2019-07-08 09:19] mxstbr commented on #2105
You are right, I must have done something wrong with my last upgrades—using the latest `@canary`, We are down to 7.27s with `prettify: false`! :tada: :tada: :tada:

[2019-07-08 09:37] jsangilve commented on #2086
Thanks for the quick reply. Unknown errors for `_Fieldset` scalar are gone, but the problem type `User` persists.

Now that I think a little bit more about it,  I guess the code generator would only work over the whole GraphQL schema (after federated services are loaded), i.e., it wouldn't be possible to generate types for a service's schema that extends types of another service' schema?

[2019-07-08 09:50] dotansimha commented on #2086
@jsangilve yeah that makes sense. Is it possible to access the other schemas you depend on? (via URL?)
Because if so, you can specify it as well as part of the `schema` field, and it will load and merge it.

[2019-07-08 16:56] yamafaktory commented on #2064
@dotansimha I'm facing the same issue with the latest alpha.

This schema:
[code]

Is turned into:
[code]
Instead of:
[code]
Thanks for your work 👍.

[2019-07-08 18:48] mvestergaard commented on #2069
@dotansimha I think most of this is resolved, but are you still working out some kinks with near-operation-file? I noticed an issue where the base types file isn't always referenced in mutations and queries, when it should.
If you're not aware of that issue, I can create a new issue for it, and try to provide some minimal reproduction steps.

[2019-07-08 18:49] mvestergaard commented on #2069
The issue I'm seeing somehow relates to this bit of code: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/presets/near-operation-file/src/index.ts#L161
I'm wondering whether it may not be easier to just always reference the base types file, and not try to be smart about it. Are there ever cases where a file doesn't need it?

[2019-07-08 19:14] alx13 opened #2128 "SchemaAST plugin. write schema with directives"
**Is your feature request related to a problem? Please describe.**

[Currently](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/other/schema-ast/src/index.ts#L6) `schema-ast` plugin uses `printSchema` from `graphql`.
That function strips all directives from generated schema.

So it's impossible to use `schema-ast` to write down full schema to, for example, compare

[2019-07-09 00:46] cktang88 opened #2131 "Add header comment for autogenerated files"
**Is your feature request related to a problem? Please describe.**

I work in code bases where it is not always clear that a file is autogenerated, so sometimes people try to change the autogenerated files, which cause lots of issues.

**Describe the solution you'd like**
Each autogenerated file should have a header block comment that states that it is an autogenerated file, maybe with metadata as

[2019-07-09 05:24] dotansimha commented on #2131
Hi @cktang88 ,
We decided not to add it automatically, but let the developers choose how and where to add it.
There is a a plugin called `add` you can use for that: https://graphql-code-generator.com/docs/plugins/add#examples

[2019-07-09 05:24] #2131 closed

[2019-07-09 08:15] dotansimha commented on #2064
@yamafaktory The `Args` type should look the same as before, but we are removing the `?` and `Maybe` modifiers when it's used in the resolvers signature.
Try to use the `QueryResolvers` and implement a resolver, and these fields will appear as non-optional.

[2019-07-09 09:01] yamafaktory commented on #2064
@dotansimha thanks a lot for the feedback! Somehow I would have expected `QuerySearchArgs` not to have any `Maybe` in my case.

[2019-07-09 10:44] BjoernRave commented on #2024
I experience the same problem

[2019-07-09 13:28] atoy40 opened #2134 "extend keyword in exported client schema"
**Describe the bug**
The tool does not seems to support the "extend" keyword used to extend type (for example in client schema). It seems schemas are loaded, but the extended Query/Mutation are not merged with the server schema which contains main Query/Mutation types. So the tools crash when generating graphql operations because It knows nothing about "extended" query/mutation fields.

If I remov

[2019-07-09 21:52] cgatian opened #2138 "Watch mode failure"
**Describe the bug**
Watch mode does not work. This is due to an issue with chokidar.

[code]

**To Reproduce**
Add watch flag on Windows with the latest version (1.3.1)

**Expected behavior**
No error

**Environment:**
- OS: Windows 10
- NodeJS: 10.16.0

**Additional context**
Using the latest canary build of the CLI works. This issue is related to a bump to the chokidar 3.0.2. Adding this issue

[2019-07-09 22:23] joshlam opened #2140 "Specify `graphql` as a dependency for @graphql-codegen/typescript"
**Describe the bug**

The typescript plugin [uses `isIntrospectionType`](https://github.com/dotansimha/graphql-code-generator/blob/v1.3.1/packages/plugins/typescript/typescript/src/index.ts#L122) from [`graphql`](https://github.com/dotansimha/graphql-code-generator/blob/v1.3.1/packages/plugins/typescript/typescript/src/index.ts#L2) as part of its main plugin function. This imported function from `

[2019-07-09 22:48] ardatan commented on #2134
Could you create a reproduction repo?

[2019-07-10 04:58] vhenzl opened #2143 "Unique operation names requirement and `near-operation-file` preset"
The generator throws if it encounters duplicated operation names (requested in #720, implemented in #913).

This is perfectly correct if all generated code goes to a single file. However, with  `near-operation-file` preset, duplicated names aren't a problem any longer (unless the duplication would be in the same file). It seems like the validation should be on output level rather than on global le

[2019-07-10 07:08] atoy40 commented on #2134
sandbox : https://codesandbox.io/s/graphql-codegen-issue-template-1vip9

Hello, I started from the template and just added clientschema.graphql to simulate apollo state "client only" schema. It extends Query with a boolean field (modalOpen). I've also added an operation that query this field with the @client tag. When you execute yarn codegen, it crash with this error :

```GraphQLDocumentError: C

[2019-07-10 08:18] ardatan commented on #2134
First, the error looks correct  because you request for modalOpen in document while it is defined as modelOpen in your schema.
Second, I couldn’t see anything wrong with ‘extend’ in here. Codegen extends Query type as you defined.
Am I missing something?

[2019-07-10 08:25] eddeee888 opened #2144 "[typescript-react-apollo] Create options for typed QueryResult, MutationResult and MutationOptions"
In my projects, I'm using `typescript-react-apollo` plugin and I find myself having to type things like `QueryResult`, `MutationResult` and `MutationOptions` quite often as I use these types in other components quite often. For example:

[code]

[code]

There's already a config for `withMutationFn` as seen [here](https://github.com/dotansimha/graphql-code-generator/blob/53ecdef9b8789f5a70285c2e917

[2019-07-10 09:07] atoy40 commented on #2134
Oops, you're right about my mistake, I fixed it, and yes it works ! so I mimic my real case a bit more in the sandbox. The problem appears when the client schema (the one with extend) is coming from the export of a typescript (and probably js too) file. But may be it's not a problem with codegen, but with graphql-tag or graphql-toolkit ?

https://codesandbox.io/s/graphql-codegen-issue-template-1vi

[2019-07-10 12:30] cgatian commented on #2138
https://github.com/paulmillr/chokidar/issues/868

[2019-07-10 12:53] wangsongiam opened #2145 "skip parameter not taking expression for boolean"
**Describe the bug**

When using version `1.3.1` with `withHooks`, the input type for render props query component is not taking `boolean` type for `skip` param type, instead, I see `{ variables: {...}; skip?: false } | { skip: true }`. So skip can only be set with `true` or `false`.

This will break common expression like `!undefined` or `!a && b`.

eg.
[code]

**To Reproduce**
Steps to reproduce

[2019-07-10 13:50] dotansimha opened #2146 "[ts-react-apollo] integration with latest react-apollo-hooks (0.5.0)"
There are breaking changes, as described in this commit: https://github.com/trojanowski/react-apollo-hooks/commit/e0d05fd

@Urigo @ardatan

[2019-07-10 16:46] ardatan commented on #2134
@atoy40 `types.ts` looks correct, because it has `modalOpen` from client schema.

[2019-07-10 20:09] atoy40 commented on #2134
@ardatan did you run yarn codegen ? the types.ts is one generated at a previous run without the extend keyword.

[2019-07-10 23:24] ardatan commented on #2134
@atoy40 Now I see.
So could you try again with the following versions?
[code]

[2019-07-11 08:41] atoy40 commented on #2134
@ardatan looks perfect to me :) I've tested it in my project, no more errors and typescript types have both server and local "extended" fields.

[2019-07-11 11:19] wtrocki opened #2151 "Introduce generic replacement for old SchemaToTemplateContext"
GraphQL code generator is not offering generic schemaToTemplateContext that can be useful for plugin creators to generate visitors. Currently to create plugin developers will need to figure out their own visitor patterns and elements from the schema. For most of the cases, the generic visitor creating Type/Fields objects would work nicely.

Previous versions supported that by `schemaToTemplateCont

[2019-07-11 11:49] wtrocki opened #2152 "Ability to build composite generators with visitors before"
I'm working on a project called https://github.com/aerogear/graphback
as part of this project we hoping to create and reuse a couple of the graphql-code-generator plugins. The problem we have is simply the performance of aggregate generators. When each generator will be doing traversing thru the same graph that can be very very complex.

We found out that performance for large schemas we want to s

[2019-07-11 11:54] wtrocki commented on #2152
Workaround for the moment will be to write hacked generators that will ignore schema arguments and use InputObject in config. However, with this approach, it will be hard to achieve composite plugins.
For example when using the resolver generation plugin we cannot operate on the same file and add an implementation on top of it. This requires a plugin for each file tyle

[2019-07-11 14:23] hediet opened #2153 "Generate more generic but less code"
In general, you want to generate as less code as possible but as much as you can get from your source data (graphql schemas in this case) that you cannot do with JavaScript at runtime / TypeScript at compile time.

In particular, React-Apollo-Components and HOC-functions are generated directly using specific types.
However, that could be improved, if abstractions for query types are introduced.

G

[2019-07-11 18:09] mvestergaard opened #2155 "[near-operation-file] Support duplicate query/mutation/fragment names"
**Is your feature request related to a problem? Please describe.**
In large projects fragment/query/mutation names become pretty verbose when you need to avoid name clashes.
Since near-operation-file generates fairly self-contained files, it should not really require the names to be globally unique, as long as there are no clashes within the generated file.
I'm not entirely sure this is even a pro

[2019-07-11 19:30] bnaoki opened #2157 "Unable to prepend multi-line comments via `add` plugin"
**Describe the bug**

I noticed a few bizarre behaviors in the `add` plugin while upgrading from `v1.1.3` to `v1.3.1`.
* When outputting as a GraphQL file, a multi-line comment output i.e. `"""` sometimes does not get emitted.
* When outputting as a TypeScript file, a multi-line comment somehow gets wrapped up with the import that's needed from the `typescript` plugin i.e. `import { GraphQLResolve

[2019-07-11 20:26] JCQuintas commented on #2082
Had the same problem and this fixed it for me too. 👍

[2019-07-11 22:37] JosephCarrington opened #2158 "How does one use the resolvers plugin? Or is that not even applicable here?"
**IF** I have the following types:
[code]

**BUT** I use an external datasource, which replies with a response like
[code]

**THUS** I only want to go about getting a venue by it's ID if the end user has actually requested it:
THIS:
[code]
NOT THIS:
[code]
because it takes an extra HTTP request to, let's say, `getVenueById`.

**THEN** what should the return type of the Event resolver be?

[code]

[2019-07-12 06:42] dotansimha commented on #1987
Fixed in 1.4.0 🎉

[2019-07-12 06:42] #1987 closed

[2019-07-12 06:42] dotansimha commented on #1990
Fixed in 1.4.0 🎉

[2019-07-12 06:42] #1990 closed

[2019-07-12 06:43] dotansimha commented on #1989
Fixed in 1.4.0 🎉

[2019-07-12 06:43] #1989 closed

[2019-07-12 06:43] dotansimha commented on #1943
Fixed in 1.4.0 🎉

[2019-07-12 06:43] #1943 closed

[2019-07-12 06:43] dotansimha commented on #1904
Available in 1.4.0 🎉

[2019-07-12 06:43] #1904 closed

[2019-07-12 06:43] dotansimha commented on #2020
Available in 1.4.0 🎉

[2019-07-12 06:43] #2020 closed

[2019-07-12 06:44] dotansimha commented on #1863
Available in 1.4.0 🎉

[2019-07-12 06:44] #1863 closed

[2019-07-12 06:44] dotansimha commented on #1708
Fixed in 1.4.0 🎉

[2019-07-12 06:44] #1708 closed

[2019-07-12 06:44] dotansimha commented on #1978
Available in 1.4.0 🎉

[2019-07-12 06:44] #1978 closed

[2019-07-12 06:44] dotansimha commented on #2080
Fixed in 1.4.0 🎉

[2019-07-12 06:44] #2080 closed

[2019-07-12 06:44] dotansimha commented on #1954
Fixed in 1.4.0 🎉

[2019-07-12 06:44] #1954 closed

[2019-07-12 06:45] dotansimha commented on #2110
Available in 1.4.0 🎉

[2019-07-12 06:45] #2110 closed

[2019-07-12 06:45] dotansimha commented on #2038
Available in 1.4.0 🎉

@vhenzl those are added because your queries are using the internal introspection types, so the codegen generates it for you.

[2019-07-12 06:45] #2038 closed

[2019-07-12 06:46] dotansimha commented on #2108
Fixed in 1.4.0 🎉

[2019-07-12 06:46] #2108 closed

[2019-07-12 06:46] dotansimha commented on #2069
Fixed in 1.4.0 🎉

[2019-07-12 06:46] #2069 closed

[2019-07-12 06:46] dotansimha commented on #2128
Fixed in 1.4.0 🎉

[2019-07-12 06:46] #2128 closed

[2019-07-12 06:46] dotansimha commented on #2138
Fixed in 1.4.0 🎉

[2019-07-12 06:46] #2138 closed

[2019-07-12 06:46] dotansimha commented on #2024
Fixed in 1.4.0 🎉

[2019-07-12 06:46] #2024 closed

[2019-07-12 06:46] dotansimha commented on #2064
Fixed in 1.4.0 🎉

[2019-07-12 06:46] #2064 closed

[2019-07-12 06:47] dotansimha commented on #1895
Available in 1.4.0 🎉

[2019-07-12 06:47] #1895 closed

[2019-07-12 06:47] dotansimha commented on #2140
Done in 1.4.0 🎉

[2019-07-12 06:47] #2140 closed

[2019-07-12 06:47] dotansimha commented on #2134
Available in 1.4.0 🎉

[2019-07-12 06:47] #2134 closed

[2019-07-12 06:47] dotansimha commented on #2082
Available in 1.4.0 🎉

[2019-07-12 06:47] #2082 closed

[2019-07-12 07:42] SimenB opened #2159 "`preResolveTypes` refers to wrong type (missing array)"
**Describe the bug**

When using the new `preResolveTypes` config option, the generated types lose their Array in fragments.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/embed/graphql-codegen-preresolvetypes-bug-5c821

**Expected behavior**

[code]

**Environment:**

- OS: macOS
- `@graphql-codegen/...`: 1.4.0
- NodeJS: 10.16.0

**Additional context**

[2019-07-12 10:14] jlkiri opened #2160 "Wrong component prop type names when using typescript-react-apollo"
**Describe the bug**
As a result of #2116, using `operationResultSuffix` leads to generation of wrong React Apollo component prop type names. They are not updated, but operation result type name is generated correctly.

**To Reproduce**
1. Specify `operationResultSuffix` in `config.yml` (e.g. `"Response"`), when using `typescript-react-apollo` plugin.
2. Generate output.
3. Check the generated fil

[2019-07-12 12:04] mohsen89z commented on #2160
Same! Also, Query argument's name is wrong!

[2019-07-12 12:38] vhenzl commented on #2038
@dotansimha I'm not sure I understand. The imports are added even if there aren't any queries and `typescript-operations` plugin isn't installed at all.

### Minimal repro

[code]

[code]

[code]

The result:
[code]

[2019-07-12 12:45] vhenzl commented on #2155
This seems to be related to #2143 I created a few days back.

[2019-07-12 16:11] ctrlplusb opened #2161 "[typescript] Generated QueryResolvers has invalid arguments to RequiredFields type"
**Describe the bug**

I've provided the source grapqhl as well as the broken output below, along with comments and emojis.

As you will see the implementation of the query resolvers has an invalid implementation of the generated `RequireFields` type.

**To Reproduce**

1. My GraphQL schema:

[code]

2. My `codegen.yml` config file:

[code]

3. Generated code:

[code]

**Expected behavior**

Genera

[2019-07-12 16:57] joshlam commented on #2140
Thanks!

[2019-07-12 18:59] MarkKahn opened #2163 "How to access the type of an array?"
I'm in the process of converting our types from using apollo to this lib and am running into a small issue I'm hoping someone has a solution for.

In Apollo, all of the nested types are `_` delimited, e.g. `someQuery_field_subField`, which makes using those types in sub-components pretty easy.

With this lib types in Arrays don't seem to be readily accessible, so I'm not sure how to access them.

[2019-07-12 22:10] swillis12 commented on #1933
So far with every example I've tried I can't get the headers to work. Who has this working that can share their yaml file?

[2019-07-12 23:40] veeramarni commented on #1980
@1.4.0 works for me.

[2019-07-12 23:40] #1980 closed

[2019-07-12 23:46] veeramarni opened #2164 "singleFile option for EnumValues"
**Describe the bug**

When using `singleFile` options for Enum Values, we get below generated `enums`.

Also, document missing about this topic #2038 .
[code]
*To Reproduce**
Steps to reproduce the behavior:

3. My `codegen.yml` config file:

[code]

**Expected behavior**

Should not generate them as they are not defined by the user.

**Environment:**

- `@graphql-codegen/...`:  1.4.0

**Additiona

[2019-07-13 05:34] ankitjena commented on #2152
The base plugin helpers provided are also return as a file output format(string), it would be great to have a intermediate generator support, which will do the visitor part and further plugins will reuse that. This will cater to the custom use cases which should be the motive behind custom plugins. Unless this will result in lot of redundancy or hacked code if one decides to use this.

[2019-07-13 07:23] dotansimha commented on #2163
Hi @MarkKahn !
TypeScript supports accessing to any inner type, you can use `fooFragment[things][0]` to get the inner type.
Note that if you'll use fragments for `thing`, the codegen will generate a type for the fragment, and will use it in the list type.

[2019-07-13 07:23] #2163 closed

[2019-07-13 07:24] dotansimha commented on #2164
You are right, @veeramarni . We shouldn't apply any import/`enumValues` logic for the internal introspection types.

[2019-07-13 07:26] dotansimha commented on #1933
@swillis12 can you please share your `codegen.yml` file? It's tricky because you need to verify your whitespaces in YAML files.

[2019-07-13 12:55] veeramarni opened #2165 "[ts-react-apollo] Types should able to import from other file when it is the only plugin used"
**Is your feature request related to a problem? Please describe.**

If we need to generate an independent file with only `typescript-react-apollo` plugin, it needs types generated from other plugins to be imported externally.

**Describe the solution you'd like**

For example, if we have an option like `typesImport: @external-file` in `typescript-react-apollo` plugin

[code]

generated `.ts` file

[2019-07-13 14:21] jlkiri commented on #2160
I did some tests and it looks like only generated React Apollo HOC props are affected by the change. The only current workaround is to set `withHOC` to `false`.
This is a pretty easy fix, I'll send a PR.

[2019-07-14 00:58] xiaoyu-tamu commented on #1219
You can also write a custom Wrapper if you want to keep only primitive in Query Resolver.
[code]

[2019-07-14 12:47] eddeee888 opened #2168 "Unneccessarily importing unused FragmentDoc if near-operation-file and noGraphQLTag are used"
**Describe the bug**
`FragmentDoc` are imported without being used if used with `near-operation-file` preset and `noGraphQLTag` enabled. This happens when the fragment of a different file is being imported to be used in an operation.

Certain apps such as `create-react-app` enforces `noUnusedLocals` by default which causes TS compilation to fail.

**To Reproduce**

Go to this template and run `yar

[2019-07-14 15:19] dotansimha commented on #2144
@eddeee888 a PR would be great. We have this for hooks (https://github.com/dotansimha/graphql-code-generator/pull/2133), but not for component/hoc.
Thanks!

[2019-07-14 15:25] dotansimha commented on #2161
You are right, @ctrlplusb , my bad :)
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2169

[2019-07-14 15:31] dotansimha commented on #2158
Hi @JosephCarrington ! How are you?
To use the `typescript-resolvers` plugin, just add it to your codegen.yml, and you'll get a new type generated- `Resolvers`. You can import it and assign this type to any of your resolvers objects:

[code]

And that's it! Now all your resolvers functions within this `resolvers` object will be type-safe (and you'll have auto-complete in your IDE for the args, par

[2019-07-14 15:31] #2158 closed

[2019-07-14 15:34] dotansimha commented on #2157
Hi @bnaoki , fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/2169

[2019-07-14 15:37] dotansimha commented on #2151
Hi @wtrocki ,
We removed `schemaToTemplateContext` because it's not longer necessary to make an additional transformation to the schema or operations.
Currently our plugins are using the AST of the schema and operations, and uses visitor pattern to transform it. It makes it easier to develop and maintain.
We provided a set of pre-defined visitors you can use to write your plugin faster (see https:

[2019-07-14 15:37] #2151 closed

[2019-07-14 15:38] dotansimha commented on #2153
@ardatan can you please take a look?

[2019-07-14 15:41] zifahm commented on #2146
has this been fixed in 1.4? should i not update to 0.5.0?

[2019-07-14 16:45] wtrocki commented on #2152
Together with @AnkitJena we started to hack graphql code generator and see how this could work. I think plugins having both visitors and templates are limiting for entire ecosystem. Ideally this should be split to two separate abstractions:
- GraphProcessors - visitor
- TemplateEngines - using string templates on top of input objects.

WDYT?

Next step will be to have some virtual file system wher

[2019-07-14 16:57] wtrocki commented on #2151
Thank you. This is what I was looking for

[2019-07-14 20:32] altano commented on #1321
I am trying to get type generation for graphql`` queries in Gatsby as well, and followed a thread here. I see that dependencies have been updated making this possible, but how exactly do I configure my toolchain so that graphql-code-generator recognizes the `graphql` function coming from the gatsby package? Where and how do I set `gqlPackName`?

[2019-07-14 21:48] wtrocki commented on #2152
There could be many ways to do this even now. More lenient definition of plugin input and result can be quick win here

[2019-07-14 21:56] altano opened #2170 "Gatsby Queries Types"
This is less of a bug report and more of a question: I'm writing GatsbyJS components that look like this:

[code]

Is there a graphql-code-generator plugin that will let me type the `response` object in my component? I have a codegen.yml that looks like:

[code]

And it's generating all sorts of types successfully, including Apollo ones, but I don't see any types that come close to just describing

[2019-07-14 22:07] altano commented on #2170
Nevermind I figured it out:

I wasn't seeing the actual types because I didn't have "react-apollo" installed. For a given query `FooQuery` the type I was looking for was `FooQueryProps`

[2019-07-14 22:07] #2170 closed

[2019-07-15 16:14] jeroenvisser101 commented on #2161
@dotansimha additionally, if you have other, required variables, the `[X in Exclude<keyof T, K>]?: T[X]` will mark it as optional when it shouldn't be.

For instance, given this schema:

[code]

In the resolver, both accountId, limit and offset will have a value, but the generator only makes the arguments with default values required.

That is a breaking change for our project.

[2019-07-15 20:24] Xample commented on #659
For the @client support, you can add this following line to any .graphql file containing your schema:
`directive @client(always: Boolean) on FIELD`
This will let the compiler know you can use a directive @client and that this directive can take a boolean `always`.

[2019-07-15 23:08] joshlam opened #2174 "`preResolveTypes` doesn't respect naming convention/prefix config options"
**Describe the bug**

Let's say you have your config set to convert type names to `pascalCase` and prefix types with `I`. You also have a type in your GraphQL schema named `My_Type_Yo`.

When `preResolveTypes` is `false` and this type is part of a `Pick`, this will output something like
[code]

However, when `preResolveTypes` is `true`, formatting related config is ignored:
[code]

**Expected beha

[2019-07-15 23:18] MarkKahn opened #2175 "`preResolveTypes` lose `Maybe<>` typing"
Huge thanks for implementing `preResolveTypes`, it's beautiful!

It seems to be dropping all supplemental type info (maybe, array, ...anything else?) on primitive types though (strings, numbers, etc).  This data is being retained on the wrappers around nested object types:

[code]

Related to #2159

**Environment:**

- OS: OSX 10.14.5
- `@graphql-codegen/...`: `^0.14.0`
- NodeJS: 10.16.0

[2019-07-16 03:21] jedmao commented on #2093
@dotansimha I'm having the exact same error with the following versions:
[code]
And my `codegen.yml` file (which worked before) is as follows:
[code]

[2019-07-16 17:50] ankitjena commented on #1133
I am getting `Index signature is missing in type 'Resolvers'`. I tried using `useIndexSignature: true` after reading through the comments, but the problem persists.

[code]
I am using programmatic usage. What should I do?

[2019-07-16 21:05] sheats opened #2179 "Required properties in Queries?"
**Describe the bug**
I'm not sure if it's a bug, but I just noticed that if I omit a field/attribute/property in a query that is defined as required or always there in the schema I start getting the following errors:

```Property 'organization' is missing in type '{ __typename?: "RoleNode" | undefined; } & Pick<RoleNode, "uuid" | "name" | "code" | "standardRole" | "workStatus" | "directCare" | "fr

[2019-07-16 21:47] sheats commented on #2179
OK, I figured it out... I was referencing the main object type definition in my PropTypes vs what was returned from the query.  Reason for that was I wasn't sure how to type to just one of what was returned from this:

[code]

But not a bug with the codegen!

[2019-07-16 21:47] #2179 closed

[2019-07-17 00:35] defrex opened #2180 "[typescript-graphql-files-modules] Cannot find module 'graphql'"
**Describe the bug**
I'm attempting to use `typescript-graphql-files-modules` to generate types for my `.graphql` files.

The code is generated fine, however when I attempt to build the project, I now receive the error `TS2307: Cannot find module 'graphql'.`. I can confirm that `graphql` is installed and present in `node_modules`.

The error comes from the line `import { DocumentNode } from 'graph

[2019-07-17 04:59] dotansimha commented on #2180
@defrex can you please make sure that you have both `graphql` and `@types/graphql` installed?

[2019-07-17 05:03] dotansimha commented on #2164
@veeramarni I think i fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/2181 , can you please try it? (alpha is available `1.4.1-alpha-9f944327.7`)

[2019-07-17 05:51] ardatan commented on #2146
@dotansimha I think it doesn't break anything in our template, does it?

[2019-07-17 05:53] ardatan commented on #2145
I didn't understand the problem, so `skip` should take a boolean which can be the result of an expression.

[2019-07-17 08:54] dotansimha commented on #2146
I'm not sure, can you please verify it?

[2019-07-17 08:56] dotansimha commented on #2038
The issue with the introspection types has been fixed it: https://github.com/dotansimha/graphql-code-generator/pull/2181

[2019-07-17 15:15] elie222 commented on #153
Is this still waiting for release?

[2019-07-17 15:19] jonaskello commented on #153
@elie222 You can use [ScalarsMap](https://graphql-code-generator.com/docs/plugins/typescript#scalars-scalarsmap) now.

[2019-07-17 16:17] defrex commented on #2180
@dotansimha I do indeed have both installed. Though it seems I forgot `@types/graphql` in the sandbox repro. I've fixed that now.

https://codesandbox.io/embed/graphql-codegen-issue-template-qqels

[2019-07-17 16:20] defrex commented on #2180
Why did this get closed? I have a pretty tight reproduction. It seems pretty likely to be a bug of some kind, or at very least a gotcha that's easy to trip on.

[2019-07-17 16:32] wangsongiam commented on #2145
it seems that `skip` can only be set to true or false, not the result of an expression. So, `<Get_FooComponent variables={{...}} skip={true}> ` works but `<Get_FooComponent variables={{...}} skip={!false}> ` wouldn't

[2019-07-17 16:48] ardatan commented on #2145
What do you mean by not working? Is there any TS error or isn't it working on runtime?

[2019-07-17 17:41] wangsongiam commented on #2145
there's a TS error says
[code]

[2019-07-17 18:21] mhuconcern opened #2185 "Catch ‘Error writing to store caused by same queries without ID’"
**Is your feature request related to a problem? Please describe.**
https://github.com/apollographql/apollo-client/issues/2510

Apollo codegen catches this issue, It would be nice to have to catch this before it fails on production.
**Describe the solution you'd like**

Throw warning on code generation

[2019-07-17 19:40] fabis94 opened #2188 "Having avoidOptionals: false breaks compatibility with Apollo Server"
![image](https://user-images.githubusercontent.com/938316/61405991-a9200000-a8e3-11e9-9fc9-b4617e2fbeaa.png)

I may be wrong (TypeScript errors make me go crosseyed), but it looks like Apollo Server expects my custom scalar type to not be optional. However, with avoidOptionals: false, this tool generates all resolvers as optional.

I need this option to be false because I don't want to define reso

[2019-07-18 00:18] namesphill commented on #2165
for me at least, it would work if there were a way to just not include the "export" keyword in the typescript generated files.
Here goes my `codegen.yml`:
[code]
In my `.d.ts` all interfaces have the export keyword, which makes the whole file's types not be globally available throughout the project.
I could have a really great level of separation of concerns if I could have all my plugin's generat

[2019-07-18 09:16] ardatan commented on #2153
@dotansimha I think we can wait for new react apollo version. What do you think?

[2019-07-18 11:57] dotansimha commented on #2078
Fixed in `graphql-toolkit` 0.4.0, will be available in the next release.

[2019-07-18 15:14] smeijer commented on #2157
For those waiting for the fix to be released, multiline string yaml is working fine:

[code]

[2019-07-18 16:03] beeplin opened #2190 "plugin `typescript-document-nodes` missing fragment insertion in gql query outputs"
**Describe the bug**

The `gql` strings genereated by `typescript-document-nodes` plugin has no fragment insertion (which is needed by apollo-client) if we have fragments in the query/mutation. See below.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

[code]
**Env

[2019-07-18 18:03] bensaufley opened #2192 "Why are ReactApollo.DataProps wrapped in Partial<> for HOC Props?"
`typescript-react-apollo` will generate the following Props for a HOC for a query named `GetThings`:

[code]
Why is `ReactApollo.DataProps` wrapped in `Partial`? Looking at [`withQuery`](https://github.com/apollographql/react-apollo/blob/9e4b573a5ae8ee068bc6f9229e6d84b36974da6b/packages/hoc/src/query-hoc.tsx#L20), which is what `withGetThings` wraps, `WrappedComponent` should expect `TProps & TChi

[2019-07-18 19:48] rynobax opened #2194 "[TypeScript Resolvers] feat: Generate Interface types without field resolvers"
**Is your feature request related to a problem? Please describe.**
When attempting to generate types for an existing graphql server, I am having trouble getting the generated types for interfaces to match my implementation.

On my server I only specify a `__resolveType` resolver for my interface type, and let the implementing types provide the revolvers for the shared fields.  However, when I gene

[2019-07-18 22:36] mvestergaard commented on #2146
I'm using 0.5.0, and there are no issues. The breaking change only affects the consumption side of the mutations. So nothing that should affect the generated code.

[2019-07-18 23:46] #2146 closed

[2019-07-19 00:11] ardatan commented on #2112
Until @apollo/react-common's stable version is released, you can use the following alpha version;
[code]

[2019-07-19 12:28] tempname11 opened #2200 "Typescript Operations don't handle unions properly"
**Describe the bug**
The typescript-operations plugin generates incorrect types for unions.

There are two problems, as far as I can see:

1) Not all union cases are generated (the server may actually return every one of them, regardless of what cases the query fragments specify).
2) If fragments operate on interfaces, the types are joined by `&` in the overall type, instead of just the cases whic

[2019-07-20 05:16] vhenzl opened #2206 "External enums not re-exported from generated `types.ts` break near operations"
**Describe the bug**
If external enums (either explicit mapping `Role:./enums#MyRole` or the new single file option #2038) used in combination with `near-operation-file` preset and `typescript-operations`, and an enum is used as a field argument, the enum is incorrectly imported in the "near" file.
Or in other words, external enums aren't re-exported from generated `types.ts`.

[code]

**To Reprod

[2019-07-20 10:12] OneCyrus commented on #2112
thanks, I'll give this a try

[2019-07-21 09:42] RIP21 commented on #642
If there is `pluginCreatorId` and `pluginCreator_____Id`
It generates one and only `PluginCreatorId` causing duplicate. Reproducible with gatsby-netlify-template schema.
With defaults e.g. PascalCase casing setup for enum.

So reopen and try to fix it somehow. Could cause a lot of headaches for some. For me is fine to change casing to `keep`, because I only start a project, but for some, it can be

[2019-07-21 15:46] SoyYoRafa opened #2208 "pnpm compatibility broken in @graphql-codegen/typescript"
Hi,

@graphql-codegen/typescript plugin fails to run when installed by pnpm. Please add `"auto-bind": "^2.1.0"` to the dependencies to `packages/plugins/typescript/typescript/package.json`

Thanks!

[2019-07-22 05:12] eddeee888 opened #2210 "[client-side-base-visitor] Allow importing documents from an external source - making it possible to use webpack loaders"
**Is your feature request related to a problem? Please describe.**

Allow importing document nodes from external such as`.graphql`, `.ts` files. This makes it more flexible to import documents. If this is done, we can utilise the [webpack loader](https://www.apollographql.com/docs/react/recipes/webpack/)!

**Describe the solution you'd like**

Given the following document:

[code]

We should be ab

[2019-07-22 06:47] mlabrum opened #2211 "preresolve types resolves string array incorrectly"
**Describe the bug**
preresolve types resolves string array incorrectly as `string` rather than `string[]`

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/graphql-codegen-issue-template-wbzsk?fontsize=14

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Current behavior**
[code]

**Expected behavior**
[code]

[2019-07-22 10:39] hediet commented on #2153
I would like to improve this code:
[code]
With the code I would generate, it would look like this:
[code]
As this is quite blocking for us, I am going to start implementing our own code generator plugin that supports this.

[2019-07-22 23:13] cml391 commented on #1980
I'm wondering what the status of this is. I'm trying to do that same thing using 1.4.0 and it doesn't appear to be working for me if I use `interfacePrefix` or `enumsPrefix` in conjunction with `typesPrefix`. Is this something that might be released soon?

[2019-07-23 08:40] smeijer opened #2215 "[Docs] typescript-mongodb is not a dev-dependency but a default one"
[The typescript-mongodb docs](https://graphql-code-generator.com/docs/plugins/typescript-mongodb) suggest to install the plugin, and save it to our `devDependencies`

[code]

yet, we also need to import the `DIRECTIVES`, and add them to our schema in production:

[code]

Shouldn't `@graphql-codegen/typescript-mongodb` be installed as a default dependency?

[code]

I believe that it's important to

[2019-07-23 09:20] palindrom615 commented on #2145
that's right. these are part of generated code:

[code]

and above code prevent from assign boolean value into `skip`.

[2019-07-23 09:38] smeijer opened #2216 "typescript-mongodb and typescript-react-apollo require conflicting file extension"
**Describe the bug**
I'm trying to use `typescript-mongodb` together with `typescript-react-apollo`. The first requires the extension to be `ts`, while the last requires a `tsx`. So, either I cannot use one of them, or I need to have two output files. Which is unwanted, as they do share a lot of base types.

Shouldn't all plugins that require `ts` also be fine with `tsx`?

https://github.com/dotan

[2019-07-23 14:13] smeijer opened #2217 "typescript-mongodb outputs raw `ID` types from `additionalFields`"
**Describe the bug**
When adding `additionalFields` with `typescript-mongodb`, the `field type` is resolved as `${type}` instead of the expected `Scalars[${type}]`

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/2bd6r

1. My GraphQL schema:

[code]

2. My GraphQL operations:

*irrelevant*

3. My `codegen.yml` config file:

[code]

**Expected behavior**
I expect the gen

[2019-07-23 16:18] teevik commented on #2084
Hey, i wanted to have my generated files inside node_modules/@generated too, and that part is working. However, when trying to import from there in a react app, it's erroring:
[code]
(i'm using create-react-app)

I'm guessing webpack doesn't handle any .tsx files in node_modules? Any way to get around this?

[2019-07-23 17:14] SorEduard opened #2218 "For..of in codegen/core throw errors in programatic usage"
Firstly, thanks for the library, I love graphql + typescript, but I have some issue in programmatic usage. Sorry about my english.

**Describe the bug**
When I use programmatic usage(creating a webpack plugin), for..of iteration in plugins object inside configuration, throw an error, but if I use like an array, for interation work's(because for..of is used for this purpose), see:

**To Reproduce**

[2019-07-23 18:43] wangsongiam commented on #2145
If this is intended, feel free to close. But I wonder if there's any reason for avoiding boolean type here? Not sure if I'm the only one but I was using an expression for `skip`.

[2019-07-24 07:39] dotansimha commented on #2218
Hi @SorEduard , can you please create a minimal reproduction in a repo or sandbox?
I tested it now and it seems to work, also in: https://github.com/dotansimha/graphql-code-generator/blob/master/website/live-demo/src/generate.ts

[2019-07-24 07:40] dotansimha commented on #2217
Hi @smeijer ,
The `type` in additional type is a free input of a string, and it will be used as-is. This is in order to allow you to create any custom field without forcing GraphQL into that declaration.

[2019-07-24 07:40] #2217 closed

[2019-07-24 07:42] dotansimha commented on #2216
Hi @smeijer ,
can you please explain the use case of using both of this plugins together?
The `typescript-mongodb` is for backend, and `typescript-react-apollo` is for client-side.
We can allow `.tsx` in `typescript-mongodb`, but we need make sure the use-case is valid first.

[2019-07-24 07:43] dotansimha commented on #2215
You are right, @smeijer , thank you, we'll fix soon.

[2019-07-24 07:45] dotansimha commented on #2210
Hi @eddeee888 ! That's sounds like a good idea (we always welcome PRs 😉 )

[2019-07-24 07:46] dotansimha commented on #2206
Thank you for reporting this, @vhenzl ! I think adding a simple `export` for the enums should do the trick, what do you think?

[2019-07-24 09:52] smeijer commented on #2217
Makes sense. Thanks for the fast response.

[2019-07-24 10:18] smeijer commented on #2216
I'm using Meteor so my client and server code are shared. But isn't this also the case with server side rendering?

I can imagine that one would like to have the bundles separate if using different code bases for client and server side. But Meteor really still an exception to that rule?

Basically, I currently have a folder structure like:

[code]

So, the react components are used by both server

[2019-07-24 10:31] smeijer commented on #2216
While writing down the post above, I though of a very simple solution actually.

[code]

That one seems to work. Just manually adding the `Maybe` import. I think this issue can be closed than. It would mean I need to keep an eye on other required imports, but that's doable.

Or, keep it open, if you want to add functionality to automatically add those kind of imports from a `base file`. 😇

[2019-07-24 11:40] dotansimha commented on #2185
@mhuconcern Can you please add more details on this issue? and point us to an example?

[2019-07-24 11:41] dotansimha commented on #2188
@fabis94 can you please share your `codegen.yml` file and the version of the codegen you use?
Also, do you use `useIndexSignature`? (https://graphql-code-generator.com/docs/plugins/typescript-resolvers#useindexsignature-boolean-default-value-false)

[2019-07-24 11:43] fabis94 commented on #2188
@dotansimha Hi, I resolved this by setting 'useIndexSignature' to true. I'm confused as to why, though, and the documentation is a bit too concise for me to understand what this property actually does. Can you please elaborate what it means and why it solves this issue?

[2019-07-24 12:42] vhenzl commented on #2206
In the case of explicit mapping, there can be more files and therefore more exports. But yeah, reexport everything from the file(s) should work.

What I see as a drawback is that the files could possibly contain additional exports which would be also reexported. And potentially it could leads to conflicts in exports.

Since all the enums are imported one by one anyway, it might be safer to reexpor

[2019-07-25 00:13] mhuconcern commented on #2185
Example
Query 1 :
`query getOrganizationUsers($id: ID!) {
     organization(id: $id) {
      id
      user
     }
}`

Query 2:
`query getOrganizationRegions($id: ID!) {
     organization(id: $id) {
        region
     }
}`

It would be nice if the generation process would throw a warning saying that id is missing in query 2. Apollo codegen catches this issue during the generation process.

[2019-07-25 23:03] tbrannam commented on #2092
I'm looking at something similar - and the inline graphql queries in JS/TS files are tagged with different gql tags, depending on which schema they are working against,  as @endigo mentions.

Is it the case that a gql tag is used to identify what is actually should be evaluated?

[2019-07-25 23:34] tbrannam commented on #2092
Reading the codegen lib it appears that the entire tsx file is passed in for evaluation to graphql validate - It would be nice if a plugin could be used exclude files from evaluation - or perhaps filter the contents of the file down to just the `tag`.  I'd think that the rest of the TS code isn't really evaluated?

[2019-07-26 01:16] hiphigi opened #2232 "Remove export on types and CacheControlScope enum?"
In my instance, my Typescript types/interfaces only work when they're _not_ exported as a module. Is there a way to turn off the export keyword so that it isn't inserted before every exported type?

I'm also curious as to what CacheControlScope accomplishes when it isn't referenced. If it's unused, can this be disabled as well?

[2019-07-26 02:51] tbrannam commented on #2092
Looks like the plugins aren't invoked until files are parsed - so that's not a viable path forward.

Apollo codegen expresses the idea @endigo is trying to put forward.  `--tag-name`
https://www.apollographql.com/docs/react/features/developer-tooling/#gql-template-support

[2019-07-26 10:54] smeijer commented on #1219
Having read each individual post in this issue, I still don't understand how we can deal with the `Mappers` in a safe way for more complex types.

I did map objects to parent types. But sometimes, the parent type is missing some `computed` fields. The issues that I find hard to fix, are about advanced types. "Connections" in my case;

Having the following schema:

[code]

Generates the types:

[co

[2019-07-26 11:20] smeijer commented on #1219
@lgandecki , did you ever find a solution?

[2019-07-27 11:24] ellipticaldoor opened #2236 "Can't override ResolverTypeWrapper with mappers"
**Describe the bug**
 I want to override ResolverTypeWrapper.

By default looks like this:
[code]

But I want it like this:
[code]

**To Reproduce**
If you try this on the **codegen.yml** to override ResolverTypeWrapper it will not work

[code]

I am doing something wrong?

[2019-07-28 09:38] smeijer commented on #1219
Figured out that I could fix this issue by mapping the `UserConnection` type as well. To some custom interfaces that is. Not generated ones.

[code]

Although, If I understand #1909 correctly, that shouldn't be required.

[2019-07-28 12:38] Pomazan-Bogdan commented on #1737
Hey.
Necessary solution, as I use closure points
I did not go in all the issue how to specifically transfer the header in the yml file

[2019-07-28 17:01] n1ru4l opened #2240 "Typescript Operations: Generated types for selection set that have unions/interfaces are incorrect"
**Describe the bug**

The generated types for a field that returns a union/interface type is unnecessarily nested and incorrect.

**Reproduction on Codesandbox**:

https://codesandbox.io/s/graphql-codegen-issue-template-h3kpf?fontsize=14

- See `types.tsx`@ Line 70 for incorrect types
- See `expected-types.tsx` @ Line 70 for correct types (how it should be)
- See `example-client-usage.tsx` for exa

[2019-07-28 17:11] n1ru4l commented on #2200
I created a duplicate with some more context and a codesandbox example: https://github.com/dotansimha/graphql-code-generator/issues/2240

[2019-07-28 19:27] SorEduard commented on #2218
Hi, sorry for waiting, my college was on exams, i've created two repos, one with the plugin(where the error occurs), and another to test the plugin in webpack, just yarn or npm link the webpack plugin into the test.

Plugin: https://github.com/SorEduard/graphql-codegen-plugin
Test Project: https://github.com/SorEduard/graphql-codegen-test-project

Please change the approach from object to array in

[2019-07-28 21:01] SoyYoRafa opened #2241 "Duplicated types in monorepository with multiple servers sharing types"
**Is your feature request related to a problem? Please describe.**

Hi,
We have a monorepository with multiple graphql servers and their respective client libraries. Additionally, some basic types, inputs, and enums need to be shared between servers. Currently, we are forced to generate duplicate typings in servers with graphql codegen because each generated file contains all of the types. It gets

[2019-07-29 03:37] palindrom615 commented on #2145
https://github.com/dotansimha/graphql-code-generator/pull/1926/files?file-filters%5B%5D=.ts#diff-ce84bc42a6b0c5a7f856c37781eb4e65R113

This commit cause the issue. But, is it really good not to let assign boolean value into skip parameter?

[code]

Above code looks fair to me but cannot be compiled because typescript cannot check type of the code from generated type definitions as

[code]

[2019-07-29 03:51] palindrom615 commented on #2145
I reverted the commit and made pr. Letting variable optional when skip parameter is true is quite awesome, but it is meaningless when type check cannot catch.

[2019-07-29 18:46] dalindsey opened #2246 "Prevent "export" directive in generated types?"
Is there a way to prevent the types from having the "export" directive prefix after generation in the config or otherwise?

To be clear, I am trying to having export directives for top-level types like enum, but omit them for types/interfaces.

[2019-07-29 19:21] dmi3y opened #2247 "Bumping graphql-typescript-codegen-resolvers from 0.14.5 to 0.18.2 by dependabot `Maybe` type not found"
**Describe the bug**
After upgrading to 0.18.2 and regenerating types I see bunch of errors about missing Maybe type:

[code]

3. My `codegen.yml` config file:

[code]

If I switch back to the 0.14.5 and regenerate types it is working good.

**Environment:**

- OS: MacOS
- `@graphql-codegen/...`: 0.18.2
- NodeJS: 11.1.0

Thank you!

[2019-07-29 19:57] n1ru4l commented on #2200
I just created a pull request with failing tests: #2248

[2019-07-29 20:41] ellipticaldoor commented on #2236
For the moment I made a custom script with node that I run after codegen.

I will leave it here in case someone needs it.

[code]

[2019-07-30 11:29] klemenoslaj opened #2250 "[typescript] Disable suffix in type generation"
**Is your feature request related to a problem? Please describe.**

I am currently analysing to replace apollo codegen with `@graphql-codegen`, however there is a naming convention clash in our project at the moment.

Our naming convention is to always add Suffix to any graphql query, mutation or subscription. This now results in a type like `MyAwesomeQueryQuery`.

**Describe the solution you'd li

[2019-07-31 06:02] dotansimha commented on #2250
@klemenoslaj Thank you for reporting this.
So you query named as `query myAwesomeQuery`? And then you are getting `MyAwesomeQueryQuery`, right?
I think the best solution for that will be to remove the `Query` from the operation name, but that might be a change you'll need to do in your application and usage.
I'm not against having a flag for removing the prefix when it's already there, so I'm keep

[2019-07-31 06:14] dotansimha commented on #2236
Hi @ellipticaldoor !
The `mappers` are there only for GraphQL types, and not for output TypeScript types.
There it no option to override `ResolverTypeWrapper` at the moment. I added it in: https://github.com/dotansimha/graphql-code-generator/pull/2254

[2019-07-31 06:16] dotansimha commented on #2200
Thank you! Will take a look very soon.

[2019-07-31 06:18] dotansimha commented on #2247
Hi @dmi3y !
We changed the packages names a long time ago, please upgrade to `@graphql-codegen/cli` and  `@graphql-codegen/typescript` (and the other plugins you need). The latest version at the moment is 1.4.0.
v0.18.x is no longer maintained or developed.

If the issue is still relevant to the latest 1.4.0 please re-open.

[2019-07-31 06:18] #2247 closed

[2019-07-31 06:19] dotansimha commented on #2246
@dalindsey can you please explain and add an example? I couldn't understand what's your use-case.

[2019-07-31 06:20] dotansimha commented on #2200
Closing this for now, let's continue discussing it here: https://github.com/dotansimha/graphql-code-generator/issues/2240 (it has more context and examples)

[2019-07-31 06:20] #2200 closed

[2019-07-31 06:28] dotansimha commented on #2241
Hi @SoyYoRafa
You didn't include your codegen version, codegen config and your schemas or documents.
First, let's separate the `.graphql` files to 2 types: schema files and documents files. They shouldn't get mixed up. schema files should be loaded in `schema:` field in your config file, and operations files should be loaded in `documents:` section.
The codegen generates a single file every time (

[2019-07-31 06:29] dotansimha commented on #1737
Docs are updated now: https://graphql-code-generator.com/docs/getting-started/codegen-config#environment-variables

[2019-07-31 06:29] #1737 closed

[2019-07-31 06:31] dotansimha commented on #2232
Hi @hiphigi
I think it's the same issues as in: https://github.com/dotansimha/graphql-code-generator/issues/2246 , please refer to my answer there. Closing this at the moment to avoid duplicates.

Can you please explain your question regarding `CacheControlScope`? I'm not sure it's related to our implementation.

[2019-07-31 06:31] #2232 closed

[2019-07-31 07:12] brabeji commented on #2250
FWIW I am using custom naming convention config to workaround this issue:

[code]

[2019-07-31 07:29] Pomazan-Bogdan commented on #1737
Not Work(
`TypeError: Cannot create property 'source' on string 'Unable to download schema from remote: Missing Authorization header in JWT authentication mode'`

[2019-07-31 07:48] Pomazan-Bogdan commented on #1737
[code]

[2019-07-31 07:58] dotansimha commented on #1737
@Pomazan-Bogdan it looks like you need to specify `Authorization` header but you didn't... please make sure what is the name of the headers that you need to pass.

[2019-07-31 09:05] schickling commented on #2084
The solution to this is to not generate a `.tsx` file but to "pre-compile" it (either via `tsc` or generate it this way in the first place) to a `.js` + `.d.ts` file. This could also be a config option to adjust this behavior.

[2019-07-31 09:34] n1ru4l commented on #2084
Before doing this we should also about people using mono repos:

Pain Points I can think of right now:

Makes it especially hard in case you have to build Dockerfiles for each service you generate types for. (one central codegen config for all workspaces in repo root).

You can certainly work around it by first copying the types over after installing the dependencies, however, that should be somet

[2019-07-31 09:43] Pomazan-Bogdan commented on #1737
x-hasura-admin-secret ))

[2019-07-31 09:45] dotansimha commented on #1737
@Pomazan-Bogdan can you try this way?
[code]

[2019-07-31 09:45] Pomazan-Bogdan commented on #1737
not work too

[2019-07-31 09:47] dotansimha commented on #1737
@Pomazan-Bogdan my bad, can you try this?

[code]

[2019-07-31 10:03] lookfirst commented on #2188
@dotansimha

Latest version of codegen.

I had a similar issue and useIndexSignature fixed it for me.

[code]

[code]

[code]

[code]

[2019-07-31 10:04] dotansimha commented on #2092
@tbrannam I'm not sure if I understood, but if you need to customize the tag name and it's package, you can use `pluckConfig`, see: https://github.com/dotansimha/graphql-code-generator/issues/1555#issuecomment-476212983

[2019-07-31 10:06] klemenoslaj commented on #2250
@dotansimha just a thought. Maybe even some "smart" detection could be implemented relatively fast, where codegen would check if the variable already ends with GraphQL type and if so, omit suffixing it?

[2019-07-31 10:10] dotansimha commented on #2188
@fabis94 see: https://github.com/dotansimha/graphql-code-generator/issues/1133#issuecomment-456812621

Closing :)

[2019-07-31 10:10] #2188 closed

[2019-07-31 10:11] dotansimha commented on #2250
@klemenoslaj I was thinking about this, but it's a breaking change and it might effect others that depends on the naming.

[2019-07-31 10:14] dotansimha commented on #2124
@kamilkisiela can you please take a look? I think it should be easy to reproduce.

[2019-07-31 10:19] lookfirst commented on #2188
@dotansimha Should add something to the documentation to let people know it is required with Apollo.

[2019-07-31 10:28] dotansimha commented on #2188
Thanks @lookfirst . done in https://github.com/dotansimha/graphql-code-generator/commit/9f0662a798f9cb1bb28c96623d0347c212968913#diff-2e4db0927cea96d01402e7d186a1451aR134

[2019-07-31 10:42] Pomazan-Bogdan commented on #1737
@dotansimha
`   TypeError: Cannot create property 'source' on string 'Unable to download schema from remote: invalid x-hasura-admin-secret/x-hasura-access-key'`

[2019-07-31 10:43] Pomazan-Bogdan commented on #1737
=
`{
  "errors": [
    {
      "extensions": {
        "path": "$",
        "code": "access-denied"
      },
      "message": "invalid x-hasura-admin-secret/x-hasura-access-key"
    }
  ]
}`

[2019-07-31 10:46] Pomazan-Bogdan commented on #1737
error in value key

[2019-07-31 10:48] Pomazan-Bogdan commented on #1737
"@graphql-codegen/cli": "^1.4.0", О_о

[2019-07-31 11:00] dotansimha commented on #1737
Can you try with the explicit values?

[code]

also, does an introspection request works for you? with tools like GraphQL Playground (or Postman)

[2019-07-31 11:05] Pomazan-Bogdan commented on #1737
@dotansimha
This format works!
Thank.

[2019-07-31 11:06] Pomazan-Bogdan commented on #1737
I think this should be mentioned separately in the documentation.

[2019-07-31 14:16] klemenoslaj commented on #2250
Maybe hiding it behind the flag until the planned major release is an option?

---
I might have the time this week submit a PR in one way or another.

[2019-07-31 14:18] dotansimha commented on #2250
@klemenoslaj I'm working on it now, we'll finish in a few minutes :)

[2019-07-31 14:27] dotansimha commented on #2250
@klemenoslaj implemented in: https://github.com/dotansimha/graphql-code-generator/pull/2258
You can try it with the latest alpha version `1.4.1-alpha-dbedcb73.58` (set `dedupeOperationSuffix: true` in your config file).

[2019-07-31 14:29] dotansimha commented on #1737
@Pomazan-Bogdan
It's documents in our website: https://graphql-code-generator.com/docs/getting-started/schema-field#url

[2019-07-31 14:31] dotansimha commented on #2084
@n1ru4l I think using `yarn install --focus` can help a lot for monorepo with Dockerfile, it will install every dependency in it's own package dir and will skip hoisting. Also, using the root dir as Docker context dir helps :)

[2019-07-31 14:47] Pomazan-Bogdan commented on #1737
add to documents line "Content-Type: application/json"  as sample?)

I mean that I saw the documentation, but I couldn’t understand what to do.
Without the second line. and not abstract, not perceived (

[2019-07-31 14:48] dotansimha commented on #2168
Thanks @eddeee888 , and sorry for the delay. Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2260

[2019-07-31 16:58] jcelliott opened #2262 "React hooks not generated"
**Describe the bug**

With codegen configuration that I expect to generate React hooks, there are no hooks in the generated output. I'm using `hooksImportFrom: "@apollo/react-hooks"`, but the issue happens with or without that configuration set.

**To Reproduce**

I've reproduced the issue in this codesandbox:
https://codesandbox.io/embed/graphql-codegen-hooks-issue-2nswv.

Look at the generated `

[2019-07-31 17:38] dmi3y commented on #2247
Thanks for update, will do it 👍

[2019-07-31 21:46] ellipticaldoor commented on #2236
Wow! that's amazing!! Thank you very much @dotansimha

[2019-08-01 04:36] SoyYoRafa commented on #2241
Hi,
We are on version 1.4.0. I cannot share the schema or configuration due to various constraints. I am going to try to explain the challenge a bit differently. If this doesn't convey the issue clearly, I will create a new simple project that illustrates the issue but it may take me a couple of days.

Imagine you have a server A and server B, both of which have two different GraphQL schemas but t

[2019-08-01 04:48] dotansimha commented on #2241
@SoyYoRafa
The codegen basically generates a single file from a single schema. If you have multiple schemas, it will merge it into one schema. If you have two schemas with `enum X` - the codegen will merge it and there will be only one `enum` generated .

I think I need a reproduction of the issue in a repo...

[2019-08-01 04:51] dotansimha commented on #1885
Implemented in https://github.com/dotansimha/graphql-code-generator/pull/2191 . Thanks @ekfn

[2019-08-01 04:52] dotansimha commented on #1952
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2266

[2019-08-01 04:59] dotansimha commented on #2262
Hi @jcelliott !
Your config syntax is not correct, the `-` creates array instead of object with keys. It should be:

[code]

[2019-08-01 04:59] #2262 closed

[2019-08-01 05:01] dotansimha commented on #1737
@Pomazan-Bogdan The example just shows how to add any header, not specific ones.
I even think you can remove `Content-Type: application/json` because the HTTP request that the codegen does it an introspection, which is already JSON.

[2019-08-01 05:02] dotansimha commented on #2143
You are right, I'll take a look today :)

[2019-08-01 05:04] dotansimha commented on #1133
@ankitjena which version do you use?
It seems like your configuration is valid, the `useIndexSignature: true` should make it compatible with Apollo server.

[2019-08-01 05:05] dotansimha commented on #2093
@jedmao can you please share a reproduction in a repo?

[2019-08-01 05:10] dotansimha commented on #2180
@defrex I happens because of an issues with TypeScript. You can't have types and imports in a file with module declaration.
TypeScript module declarations must be in a `.d.ts` file, with no top level declarations. Also, note that if your schema have enums, you must use `.ts` extension because enums compiles into an object, while `.d.ts` can't have an output.

This should works:
[code]

[2019-08-01 05:10] #2180 closed

[2019-08-01 05:17] dotansimha commented on #2165
@namesphill can you please elaborate on removing `export`? I'm not sure how is that helpful - you don't want to export types? how will you access it? (related: https://github.com/dotansimha/graphql-code-generator/issues/2246)

@veeramarni you are right. We have an internal configuration flag for letting `typescript-operations` import types from `typescript` (called `namespacedImportName`, we are u

[2019-08-01 05:18] SoyYoRafa commented on #2241
Are you saying we should use a single output file for every server schema and every document in the repository? That is an idea I hadn't considered. The only quirk there is that `type Query`, `type Mutation` and `type Subscription` shouldn't be merged but I don't think the interfaces for these three are used.

[code]

[2019-08-01 05:41] dotansimha commented on #2241
No exactly, I'm saying you can have a different file per each schema, and a merged schemas for the operations (because it might need the entire schema to operate).
But if a single file works for you - why not using it as well? the codegen knows how to merge any type of schemas into one.

And why the root type shouldn't be merged?

[2019-08-01 05:50] dotansimha commented on #1980
@cml391 `enumsPrefix` was not implemented, it was just a suggestion. It was closed because it's tracked here: https://github.com/dotansimha/graphql-code-generator/issues/1712

[2019-08-01 05:52] dotansimha commented on #1219
@smeijer `mappers` are not required, but if you are using mongodb plugin, you'll need to map it, because the codegen can't know this at the moment. It's not ideal, but feel free to open a new issue for that :)

[2019-08-01 06:03] SoyYoRafa commented on #2241
Server A and Server B have different schemas and each serve different queries. They simply share some basic types and enums. There cannot be duplicates for `enum X`, they internally share libraries using `enum X`

#### Server A
[code]

#### Server B
[code]

The merged root query is the one below. However, server A nor server B should have the interface for this because they simply don't service th

[2019-08-01 06:41] dotansimha commented on #2241
I see. so you have 2 servers and a shared package with common schema, right?

First, make sure that your codegen is installed and used from the root directory of the monorepo.

You can do the following to generate basic types per each server: (if you wish, you can also use `typescript-resolver` for resolvers signature)

[code]

If server B consumes server A and have queries for it, you can generat

[2019-08-01 06:52] klemenoslaj commented on #2250
@dotansimha super nice. :+1:

`dedupeOperationSuffix` flag seems to work fine, it only does not work for fragments, as it still produces `FragmentFragment` situation.

---

Thanks for that really :+1:

[2019-08-01 06:54] dotansimha commented on #1712
I'm working on this now. I think we'll change the config to be `string` or an object with a prefix per each GraphQL object.

[2019-08-01 08:27] dotansimha commented on #1712
Implemented in: https://github.com/dotansimha/graphql-code-generator/pull/2267

[2019-08-01 09:42] kamilkisiela commented on #2124
[code]

and then

[code]

[2019-08-01 10:04] klemenoslaj commented on #2250
Looking at PR, shouldn't Fragment be a GraphQL operation as well (`node.operation`)? Then why is `FragmentFragment` produced 🤔

[2019-08-01 10:08] kamilkisiela commented on #2124
Let me explain why it's `ResolverTypeWrapper<UnitConnection>[]` and not `ResolverTypeWrapper<UnitConnection[]>`.

`ResolverTypeWrapper<T>` turns `T` into `Promise<T>` or `T` and that's because GraphQL's resolver can return:
 - Promise of an array
 - array
 - array of Promises

and also:

 - Promise of an object/primitive value
 - primitive value / object

Because `T` represents an object, a primit

[2019-08-01 11:31] dotansimha commented on #2250
@klemenoslaj
fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2268

we cant use `node.operation` because we need to change it in a different visitor fn (`FragmentDefinition`).
`node.operation` is declared as `export type OperationTypeNode = "query" | "mutation" | "subscription";`

[2019-08-01 11:33] dotansimha commented on #2124
Thanks @kamilkisiela . Closing for now, @janhartmann feel free to re-open if it's still relevant.

[2019-08-01 11:33] #2124 closed

[2019-08-01 12:04] klemenoslaj commented on #2250
@dotansimha that makes sense 😇Perfect :+1:

[2019-08-01 12:09] dotansimha commented on #2143
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2269 , you can try it with the latest alpha `1.4.1-alpha-45ce6b30.65`.

[2019-08-01 13:41] dotansimha commented on #2175
@MarkKahn I think I fixed it, can you please try? `1.4.1-alpha-1998a660.66`

[2019-08-01 13:46] dotansimha commented on #2174
Hi @joshlam
I'm not sure how to reproduce it. I tested it but the result it: `id: string` and not `My_Type_Yo`. Maybe I'm missing something, can you please provide a reproduction for this?

[2019-08-01 14:02] dotansimha commented on #2211
Fixed in https://github.com/dotansimha/graphql-code-generator/pull/2270

[2019-08-01 14:02] dotansimha commented on #2159
Fixed in https://github.com/dotansimha/graphql-code-generator/pull/2270

[2019-08-01 14:05] jlkiri opened #2271 "Modify URL schema loader to use custom fetch"
**Is your feature request related to a problem? Please describe.**

`graphql-toolkit` changed its dependency for URL schema loading. It switched to `cross-fetch` from `request`. The problem is that `cross-fetch` does not respect the HTTP_PROXY environment variable. This indirectly makes it impossible to use `graphql-code-generator` behind a (corporate) proxy.

In `0.5.0` it got fixed so you can in

[2019-08-01 14:35] dotansimha commented on #2161
@jeroenvisser101 can you please explain? The `accountId` will be generated as required field any way.

Test it with:

[code]

And the output was:

[code]

[2019-08-01 14:45] smeijer opened #2272 "escaped backticks in template literals aren't parsable by codegen"
**Describe the bug**
Codegen doesn't know how to handle backtick escaping in template literals.

**To Reproduce**
Define your schema in a `js` or `ts` file, with the help of `graphql-tag`. And add a field description that uses backtickets to highlight some code in your document browser. (graphql playground for example).

1. My GraphQL schema:

[code]

Error thrown:

[code]

Sandbox: https://codesa

[2019-08-01 14:54] dotansimha commented on #2145
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2251

[2019-08-01 17:41] MarkKahn commented on #2175
LGTM!  from 742 ts errors -> 0

[2019-08-01 18:51] joshlam commented on #2174
@dotansimha

Sorry, gave an incorrect example. The id will be coming from an enum.

Here is an example `.graphql` file:
[code]

Fragment:
[code]

Generated types with  `preResolveTypes` false:
[code]

Generated types with  `preResolveTypes` true:
[code]

[2019-08-02 10:18] dotansimha commented on #2174
Thanks, I'm taking a look :)

[2019-08-02 20:02] andreyvital opened #2276 "Missing import Types"
**Describe the bug**

Doesn't import "Types" if you spread only fragments

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL operations:

[code]

2. My `codegen.yml` config file:

[code]

**Expected behavior**
As you can see, I don't have any selection other than the fragments' spread. The resulting file (near-operation-file) doesn't generate the `import * as Types` accordingly. It

[2019-08-03 00:34] tebuevd opened #2277 "parser: "babylon" is deprecated"
**Describe the bug**
When running `graphql-codegen` I get the following warning:
`{ parser: "babylon" } is deprecated; we now treat it as { parser: "babel" }.`

**To Reproduce**
Steps to reproduce the behavior:
Run `graphql-codegen` version 1.4.0 with the following `codegen.json`:

3. My `codegen.yml` config file:

[code]

**Expected behavior**
No warning

**Environment:**

- OS: macOS 10.14.5
- `

[2019-08-03 02:25] namesphill commented on #2165
Yeah. When you don't export and import anything, all your declarations in a given d.ts file become globally accessible. You don't need to import them to reference them. (Depending on your ts config) and that is something I really likes I think it would be great to have that as a config for the codegen.

[2019-08-03 02:34] xiaoyu-tamu commented on #1876
it happens again.

    "@graphql-codegen/cli": "^1.4.0",
    "@graphql-codegen/fragment-matcher": "1.4.0",
    "@graphql-codegen/introspection": "1.4.0",
    "@graphql-codegen/typescript": "1.4.0",
    "@graphql-codegen/typescript-compatibility": "1.4.0",
    "@graphql-codegen/typescript-operations": "1.4.0",
    "@graphql-codegen/typescript-react-apollo": "1.4.0",
    "@graphql-codegen/typescript

[2019-08-03 04:46] eddeee888 commented on #2168
@dotansimha Woo hoo! It's working as expected! Cheers mate!

[2019-08-03 06:22] dotansimha commented on #2277
Thanks @tebuevd !
Fixed in https://github.com/dotansimha/graphql-code-generator/commit/06154dab62be87721e69fea0ce96481288d44bf1

[2019-08-03 06:41] dotansimha commented on #2246
@namesphill
@dalindsey

I added this feature in https://github.com/dotansimha/graphql-code-generator/pull/2278, you can set `noExport: true` in your config - note that this will effect only `typescript` and `typescript-operations` (because other plugins needs import or creates variables, so they cant be located in `.d.ts` file).

Note that if you plan to use `.d.ts` extension, you need to set `enu

[2019-08-03 08:09] dotansimha commented on #2165
@namesphill I added this feature for avoiding `export`, but note that we can't apply it to `typescript-react-apollo` plugin, because it creates variables, and they are not allowed in `.d.ts` files.

[2019-08-03 10:59] DennisKo opened #2279 "Config to allow `undefined` in typescript resolver output"
**Is your feature request related to a problem? Please describe.**

https://github.com/dotansimha/graphql-code-generator/issues/1012 already describes my feature request perfectly. It was also already implemented afterwards but the option somehow is not available anymore?

Edit: I looked around a bit more and found that it is called `maybeValue` now https://graphql-code-generator.com/docs/plugins/

[2019-08-03 11:25] #2279 closed

[2019-08-03 12:52] wangsongiam commented on #2145
awesome! Thanks, guys!

[2019-08-03 15:22] polRk opened #2281 "Unexpected Type Generation"
schema.graphql
[code]

Query
[code]

And generated type

[code]

It should generate like this
[code]

[2019-08-04 05:27] dotansimha commented on #2145
@wangsongiam keeping open until we'll release a stable version with the fix :)

[2019-08-04 05:30] dotansimha commented on #2281
@polRk
GraphQL allow you to choose a selection set - so you can choose your fields.
The base types generated by `typescript` plugin are a TypeScript representation of the entire GraphQL type (as it described in your GraphQL schema).
Then, the `typescript-operations` is a TypeScript representation of your queries/mutations/subscriptions/fragments. Because GraphQL allow you to choose your fields - t

[2019-08-04 05:30] #2281 closed

[2019-08-04 07:05] dotansimha commented on #1698
Implemented in: https://github.com/dotansimha/graphql-code-generator/pull/2283

[2019-08-04 07:43] dotansimha commented on #1876
@xiaoyu-tamu can you please create a reproduction for this? I couldn't reproduce it in a test: https://github.com/dotansimha/graphql-code-generator/commit/2369c1d1e4c095e19bc67527adfd8f6b6e8e37cb

[2019-08-04 08:02] xiaoyu-tamu commented on #1876
@dotansimha try this one
https://github.com/xiaoyu-tamu/gql-generator-issue

![image](https://user-images.githubusercontent.com/33362998/62421234-3beec780-b664-11e9-9b96-3f5d09e75800.png)

[2019-08-04 08:38] dotansimha commented on #2174
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2284

[2019-08-04 09:15] dotansimha commented on #1876
I think I fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/2285
@xiaoyu-tamu can you please try it? `1.4.1-alpha-6a24d831.80`

[2019-08-04 09:45] dotansimha commented on #1753
@kapral18 fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2286
I used `JSON.stringify()` and it seems to work.

[2019-08-04 10:10] RIP21 opened #2287 "Generate per operation file into specific folder"
That would be awesome to have something like `near-operation-file` but to have it generated to the `/generated` or whatever folder file by file, operation by operation, not near but in some root `/generated` where you have `baseTypes` for example.
Like
[code]
Let's name it `each-operation-file` :D

Why? Because Gatsby, for example, is extremely annoying, and if I’ll generate these `*.types.ts` alo

[2019-08-04 10:51] 18601673727 opened #2288 "How to get autocomplete from response data?"
Hello! Sorry for my poor English, getting into the question directly:

codegen.yml
[code]
package.json
[code]
TagFormComponent
[code]
The data could be saved into database, but how to get type hintings or autocompletes all the old friends back?

Any help will be much appreciated, thanks!

[2019-08-04 12:11] dotansimha commented on #2288
@18601673727 can you try to remove the explicit typings?

[code]

[2019-08-04 14:26] joshlam commented on #2174
@dotansimha Thanks for the fix! I'm running into an issue now though where types are no longer generated for some fragments, will investigate

[2019-08-04 14:43] dotansimha commented on #2174
@joshlam can you please share a reproduction?

[2019-08-04 14:45] dotansimha commented on #2276
Hi @andreyvital . Which version of the codegen and plugins do you use? I think we already solved this before.

[2019-08-04 14:46] dotansimha commented on #2271
@ardatan can you please take a look?

[2019-08-04 14:48] dotansimha commented on #2272
Hi @smeijer !
I checked and this error comes from the internal `graphql` validation functions.
Tested it as well in ASTExplorer, which uses just `graphql` for parsing, and the result is the same:
![image](https://user-images.githubusercontent.com/3680083/62425126-1a332600-b6e0-11e9-9f50-2ecc58abb9e6.png)

[2019-08-04 14:48] #2272 closed

[2019-08-04 14:49] dotansimha commented on #2192
@ardatan can you please take a look?

[2019-08-04 14:51] dotansimha commented on #2185
Hi @mhuconcern , Apollo does that because it requires `id` to function properly. The codegen doesn't require that, and I think it's out of the codegen scope.
@ardatan @kamilkisiela what do you think?

[2019-08-04 14:52] xiaoyu-tamu commented on #1876
I can confirm it fixed in ^1.4.1-alpha-ffc76e57.81

[2019-08-04 14:53] dotansimha commented on #2215
Update, will deploy soon. Thanks @smeijer !

[2019-08-04 14:53] #2215 closed

[2019-08-04 14:54] dotansimha commented on #1980
@cml391 you can now (with the latest alpha, we'll release it soon) use `enumPrefix: false` to remove the prefix from enums.

[2019-08-04 14:59] dotansimha commented on #2153
@hediet if you are using only `typescript-operations`, you'll need to provide generics to your client. If you are using `typescript-apollo-angular` (or, any other of our clients wrappers) - you can just use the generated component as-is.

Also, which do you need to access the client manually? you can use `withHooks` and then just `useArchiveConversationMutation()` and that's it, without specifying

[2019-08-04 14:59] #2153 closed

[2019-08-04 15:09] joshlam commented on #2174
@dotansimha

It looks like what's happening is that files that import other fragments aren't getting types generated.

Config:
[code]

If I have two files

`src/fragments/clickEventInfo.gql`:
[code]
and
`src/fragments/blah.gql`:
[code]

A type will only be generated for the `IClickEventInfoFragment`.

[2019-08-04 15:19] dotansimha commented on #2174
Thanks @joshlam . I'm not sure it's related to those changes, maybe it's another change we did. Any chance you can open a new issue for that?

[2019-08-04 15:25] joshlam commented on #2174
Yeah, it's a separate issue since encountering it with and without the `preResolveTypes`. Will open a new issue

[2019-08-04 15:29] joshlam opened #2290 "Types not being generated for gql files with imports"
Note that this is using `1.4.1-alpha-906f6449.78`

**Describe the bug**

It looks like files that import other fragments aren't getting types generated.

Config:
[code]

If I have two files

`src/fragments/clickEventInfo.gql`:
[code]
and
`src/fragments/blah.gql`:
[code]

A type will only be generated for the `IClickEventInfoFragment`.

**Expected behavior**

Types to be generated for all documents

[2019-08-04 15:34] dotansimha commented on #2290
@joshlam you are using `graphql-import`, right? I think the syntax should be:

[code]

Can you please test it?

[2019-08-04 16:15] joshlam commented on #2290
@dotansimha we're using `graphql-tag`. Tried with relative imports and still not generating. It works fine in v1.4.0, so I'll bisect through the changes between the 1.4.1 prerelease and that version to try to identify the culprit

[2019-08-04 18:01] smeijer commented on #2272
@dotansimha, do you use different parsers for `graphql` files as for `js` files than? Because in a `graphql` file, it is working. Its not working when using `graphql-tag` in a `js` file.

But, my application does compile. Apollo server does understand it. Graphql Playground, does understand it. So it's only codegen that doesn't handle the escaped backticks in js files.

If I just add that snippet

[2019-08-04 19:27] 18601673727 commented on #2288
Hello @dotansimha,

I'm a VSCode user and here's hover results:
![image](https://user-images.githubusercontent.com/3302620/62428117-72921400-b730-11e9-8478-f3aeca18b0b3.png)
After remove the explicit typings, it becomes:
![image](https://user-images.githubusercontent.com/3302620/62428143-b422bf00-b730-11e9-9100-721c63d3b834.png)
Then for `response.data`, it gives:
![image](https://user-images.gith

[2019-08-04 19:59] 18601673727 commented on #2144
Hey sorry for the interrupt, but maybe I'm having troubles with this line:
https://github.com/dotansimha/graphql-code-generator/blob/474a951c5f46daa01517eec8ce6ca6cb8f1b5a17/packages/plugins/typescript/react-apollo/src/visitor.ts#L174

which maybe generates following code:
[code]
IDE will complain about error like below:
[code]
Changed `ReactApollo` to `ReactApolloHooks`, seems resolved.

Let me k

[2019-08-04 21:17] smeijer commented on #2272
I'm exploring the source, and it looks to me that you're loading the files with [`graphql-toolkit`](https://github.com/ardatan/graphql-toolkit/). However, I'm failing to make that one crash.

[2019-08-04 23:01] smeijer commented on #2272
Tracked the issue down to `graphql-tag-pluck`, which is being used by `grapql-toolkit` to extract the typedefs from various files.

Created an issue there instead. https://github.com/DAB0mB/graphql-tag-pluck/issues/44

[2019-08-04 23:41] eddeee888 commented on #2144
Hi @18601673727 !

This is supposed to be used for the non-hook version i.e. `react-apollo`. I'm not using `react-apollo-hooks` so I haven't accounted for that :) Maybe someone who has used it before can create a PR for the hook version?

Also, it's worth to double-check if the type name is different between official beta `@apollo/react-hooks` vs `react-apollo-hooks` type name

[2019-08-04 23:48] 18601673727 commented on #2144
Hi @eddeee888 !

Got it, this is actually from `@apollo/react-hooks` integrated build, you could find my setup [here](https://github.com/dotansimha/graphql-code-generator/issues/2288). Your fantastic PR already covers a lot, maybe just a few more steps will support both! =)

[2019-08-05 01:51] tbrannam commented on #2092
I'm working on a TS plugin for Gatsby's StaticQuery and useStaticQuery generation - based on a limited subset of the apollo plugin.   One thing that Gatsby doesn't want is to have string templates inside `graphql` tagged data.   It appears that Gatsby doesn't even want Fragments to be inlined into a query.  Would it make sense for the Gatsby plugin to strip all string templates from the output, or

[2019-08-05 05:02] ardatan commented on #2084
@teevik As @schickling said, CRA doesn't compile files inside node_modules. But I think having precompiled files like `.js` and `.d.ts` is overkill. This is a missing feature in CRA and codegen shouldn't be responsible of typescript compilation. @dotansimha What do you think?

[2019-08-05 05:05] ardatan commented on #2185
@dotansimha  Having this kind of feature inside an IDE plugin would be better in my opinion.

[2019-08-05 05:28] dotansimha commented on #2185
Closing for now. If this is relevant for more developers, please feel free to comment here and we'll consider to re-open and implement it.

[2019-08-05 05:28] #2185 closed

[2019-08-05 05:30] dotansimha commented on #2084
I agree with @ardatan .
Currently, there is no default output path in our codegen, because the output files are defined under `generates`, and it's a `key => value`, so there must be a key.
I can't see a benefit for generating files into `node_modules`, but I think we can leave this open in case we'll collect more uses cases.

[2019-08-05 05:32] dotansimha commented on #2288
You have a conditional types there, so you must check for the value - because it can also be `void`.

Try to wrap it with:
[code]

@18601673727

[2019-08-05 05:34] dotansimha commented on #2290
@joshlam any update?
I think it might be related to the change we did in `graphql-toolkit` recently.
Can you please try `1.4.1-alpha-33fb5f7e.75`? (this is before the changes)

[2019-08-05 05:43] dotansimha commented on #2272
@smeijer When you parse a JS/TS file in ASTExplorer, you are basically using JS parser, and not GraphQL parser. The GraphQL inside the template is not being parsed, and just stored as string, and not as `DocumentNode`.
When you use GraphQL parser with a GraphQL string, it uses `parse` from `graphql` and do the actual parsing.

`graphql-tag-pluck` reads JavaScript/TypeScript code as string, convert

[2019-08-05 06:53] 18601673727 commented on #2288
@dotansimha You're right and it works as expected, THANK YOU!

[2019-08-05 06:53] #2288 closed

[2019-08-05 07:06] smeijer commented on #2272
Thanks for the response. I figured that out.

So somewhere between `looks for a graphql string` and `parse grapql string into grapql`, the string should be unescaped.

[2019-08-05 08:20] dotansimha commented on #2272
Ohh I see, we'll try to fix that in graphql-tag-pluck. Thanks

[2019-08-05 12:29] andreyvital commented on #2276
[code]

[2019-08-05 14:24] tbrannam commented on #2092
Filtering it out in a post processing on visitor and visitorResults seems to give me what I want - but seems a little goofy.

example: `const filteredFragments = visitor.fragments.replace(/\$\{[\w]+\}/g, '');`

[2019-08-05 18:38] joshlam commented on #2290
@dotansimha doesn't seem to be the culprit

[2019-08-06 07:47] dotansimha commented on #2290
@joshlam
Just tested it. Seems like `graphql-import` doesn't work with fragments and queries now.

When I'm using `*.gql` - everything is loaded, so the `#import` is not relevant at all because the glob matches everything.

When I'm telling the codegen to use `1.gql` only, and use import with your syntax - it doesn't work because the codegen doesn't know about the existence of this fragments, and

[2019-08-06 14:28] dotansimha commented on #1646
@andfs We are currently support `near-operation-file` preset (see docs on our website) - you can use this to generate one file per operation, and generate it near the original operation file.

[2019-08-06 14:28] #1646 closed

[2019-08-06 14:29] dotansimha commented on #2192
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2297

[2019-08-06 17:21] jacobheric commented on #2290
On a related note, we've been testing out the most recent alpha versions (1.4.1-alpha-ad8ddfd9.92 and a few before it) and we've noticed that Typescript React Apollo HOC & Component generation no longer works for any query that imports a fragment.  An example query def that no longer works:

[code]

This was working fine for us in 1.4.0.

If it helps, I removed the import and HOC/Component generat

[2019-08-06 18:19] dotansimha commented on #2290
@jacobheric it happens only with imports, right?
I'm not sure what has changed since then. which library is the one that added `#import` syntax before? it wasn't `graphql-import` for sure, because it doesn't support GraphQL operations, only schemas.

Using `new Source` and `parse` from `graphql` doesn't seem to support this syntax.

[2019-08-06 18:32] jacobheric commented on #2290
@dotansimha, yes we only experience this problem when we use `#import` in our *.gql fragment and query defs. That syntax is supported by a `graphql-tag` webpack loader as described here: https://www.apollographql.com/docs/react/recipes/webpack/.

FWIW, I think it has something to do with the upgrade to graphql-toolkit to v0.4.0 or subsequent fixes. The last time HOC/Component generation worked for

[2019-08-06 18:42] dotansimha commented on #2290
ok I think I figured it out. I think the `#import` syntax you used has no meaning for the codegen, but your glob pattern was broad enough to load the fragments as well. There was an issue in `graphql-toolkit` that was trying to load this file using `graphql-import` and this caused an error (because, it shouldn't handle those types of file), which caused the file to be ignored and not generated.

F

[2019-08-06 18:52] jacobheric commented on #2290
@dotansimha, thanks for looking into it! I tested against `1.4.1-alpha-0d9fbe39.93` and we still get no HOC/component generation whenever `#import` exists in our query/fragment .gql files.

[2019-08-06 18:57] dotansimha commented on #2290
You are right, @jacobheric , the document is detected and it seems like something is not passing it correctly to the plugin. I'm trying to fix.

[2019-08-06 19:35] dotansimha commented on #2290
Managed to fix that in https://github.com/dotansimha/graphql-code-generator/commit/680e7b3941fbea29074120eeb5470ba424adddcd

@jacobheric try: `1.4.1-alpha-680e7b39.95`

[2019-08-06 19:43] jacobheric commented on #2290
@dotansimha, tested our app against `1.4.1-alpha-680e7b39.95` and all React Apollo HOC & Component generations worked even when they contained the `graphql-tag` webpack loader `#import` syntax. Thanks for the quick fix!

[2019-08-06 20:29] joshlam commented on #2290
@dotansimha, works great on this end too 👍thanks! 🙇

[2019-08-06 21:09] JKillian commented on #2250
@dotansimha I think I may still be hitting this issue. Here's an example of some generated code I'm getting while using the latest alpha, `1.4.1-alpha-680e7b39.95`:

[code]

Let me know if there's any other information which would help you. Great code generator btw, thanks for making it!

[2019-08-06 21:17] JKillian commented on #2174
I noticed when upgrading fro `1.4.0` to `"@graphql-codegen/typescript-operations@1.4.1-alpha-680e7b39.95"` . that I see diffs like this:

![image](https://user-images.githubusercontent.com/1400151/62577852-cbb39200-b86d-11e9-96f7-cdb3fb7a232d.png)

This is with `preResolveTypes: true` and `enumAsTypes` not set. Is this an intended diff? Just wanted to mentioned it before the next release 😄

[2019-08-06 21:54] feelfreelinux opened #2301 "Move to official apollo react hooks in react-apollo plugin"
The `react-apollo` plugin has a `useHooks` option that enables a react hooks generator. It's a great feature, however for now it's using unofficial `react-apollo-hooks` library.

We should consider moving to official `@apollo/react-hooks`.
Note: the official apollo hooks support is still in beta, so maybe it's a better idea to wait until stable release.

[2019-08-06 21:55] ardatan commented on #2301
@feelfreelinux
See here
https://github.com/dotansimha/graphql-code-generator/issues/2112

[2019-08-06 21:55] #2301 closed

[2019-08-07 06:11] dotansimha commented on #2174
@JKillian it's fine, because now enums are also resolved into a primitive value :)

[2019-08-07 06:29] dotansimha commented on #2250
My bad, thanks @JKillian !
Fixed in: https://github.com/dotansimha/graphql-code-generator/commit/878f0d9bcf1695a70a7d042b4ea99f3ec3774f1d
Can you please try it? `1.4.1-alpha-7206bd0c.98`

[2019-08-07 06:41] dotansimha commented on #2250
Available in 1.5.0 🎉

[2019-08-07 06:41] #2250 closed

[2019-08-07 06:41] dotansimha commented on #2174
Fixed in 1.5.0 🎉

[2019-08-07 06:41] #2174 closed

[2019-08-07 06:41] dotansimha commented on #2112
Available in 1.5.0 🎉

[2019-08-07 06:41] #2112 closed

[2019-08-07 06:41] dotansimha commented on #2290
Fixed in 1.5.0 🎉

[2019-08-07 06:41] #2290 closed

[2019-08-07 06:41] dotansimha commented on #2192
Fixed in 1.5.0 🎉

[2019-08-07 06:41] #2192 closed

[2019-08-07 06:42] dotansimha commented on #2190
Fixed in 1.5.0 🎉

[2019-08-07 06:42] #2190 closed

[2019-08-07 06:42] dotansimha commented on #2210
Available in 1.5.0 🎉

[2019-08-07 06:42] #2210 closed

[2019-08-07 06:42] dotansimha commented on #2081
Fixed in 1.5.0 🎉

[2019-08-07 06:42] #2081 closed

[2019-08-07 06:42] dotansimha commented on #2144
Available in 1.5.0 🎉

[2019-08-07 06:42] #2144 closed

[2019-08-07 06:42] dotansimha commented on #1876
Fixed in 1.5.0 🎉

[2019-08-07 06:42] #1876 closed

[2019-08-07 06:42] dotansimha commented on #1753
Fixed in 1.5.0 🎉

[2019-08-07 06:42] #1753 closed

[2019-08-07 06:42] dotansimha commented on #1698
Available in 1.5.0 🎉

[2019-08-07 06:42] #1698 closed

[2019-08-07 06:42] dotansimha commented on #2145
Fixed in 1.5.0 🎉

[2019-08-07 06:42] #2145 closed

[2019-08-07 06:43] dotansimha commented on #2246
Available in 1.5.0 🎉

[2019-08-07 06:43] #2246 closed

[2019-08-07 06:43] dotansimha commented on #2277
Fixed in 1.5.0 🎉

[2019-08-07 06:43] #2277 closed

[2019-08-07 06:43] dotansimha commented on #2168
Fixed in 1.5.0 🎉

[2019-08-07 06:43] #2168 closed

[2019-08-07 06:43] dotansimha commented on #2175
Fixed in 1.5.0 🎉

[2019-08-07 06:43] #2175 closed

[2019-08-07 06:43] dotansimha commented on #1668
Available in 1.5.0 🎉

[2019-08-07 06:43] #1668 closed

[2019-08-07 06:43] dotansimha commented on #2208
Fixed in 1.5.0 🎉

[2019-08-07 06:43] #2208 closed

[2019-08-07 06:43] dotansimha commented on #2161
Fixed in 1.5.0 🎉

[2019-08-07 06:43] #2161 closed

[2019-08-07 06:43] dotansimha commented on #2159
Fixed in 1.5.0 🎉

[2019-08-07 06:43] #2159 closed

[2019-08-07 06:44] dotansimha commented on #2211
Fixed in 1.5.0 🎉

[2019-08-07 06:44] #2211 closed

[2019-08-07 06:44] dotansimha commented on #2143
Fixed in 1.5.0 🎉

[2019-08-07 06:44] #2143 closed

[2019-08-07 06:44] dotansimha commented on #1712
Available in 1.5.0 🎉

[2019-08-07 06:44] #1712 closed

[2019-08-07 06:44] dotansimha commented on #1952
Fixed in 1.5.0 🎉

[2019-08-07 06:44] #1952 closed

[2019-08-07 06:44] dotansimha commented on #1885
Available in 1.5.0 🎉

[2019-08-07 06:44] dotansimha commented on #2236
Available in 1.5.0 🎉

[2019-08-07 06:44] #2236 closed

[2019-08-07 06:44] dotansimha commented on #2206
Fixed in 1.5.0 🎉

[2019-08-07 06:44] #2206 closed

[2019-08-07 06:44] dotansimha commented on #2157
Fixed in 1.5.0 🎉

[2019-08-07 06:44] #2157 closed

[2019-08-07 06:45] dotansimha commented on #2078
Fixed in 1.5.0 🎉

[2019-08-07 06:45] #2078 closed

[2019-08-07 06:45] dotansimha commented on #2164
Available in 1.5.0 🎉

[2019-08-07 06:45] #2164 closed

[2019-08-07 06:45] dotansimha commented on #2160
Fixed in 1.5.0 🎉

[2019-08-07 06:45] #2160 closed

[2019-08-07 06:46] dotansimha commented on #2241
Closing. @SoyYoRafa if it's still relevant feel free to re-open or comment.

[2019-08-07 06:46] #2241 closed

[2019-08-07 07:02] akuji1993 commented on #1785
You solved my issues, thank you very much @dotansimha

[2019-08-07 08:45] ctrlplusb commented on #2161
I have nothing but unending love and gratitude for being such an amazing steward of this project.

[2019-08-07 09:10] immortalx opened #2302 "Add support for useLazyQuery"
@apollo/react-hooks added useLazyQuery
https://www.apollographql.com/docs/react/api/react-hooks/#uselazyquery

It's possible to support it?

Adding a configuration like:
withLazyQuery: true

And generating a useQueryLazyComponent for each query, i wonder if it's the best way to do it.

[2019-08-07 09:36] n1ru4l commented on #2302
Maybe it would be a better solution to allow controlling what kind of code you want to generate for which query/mutation? E.g. by using directives on the operation definition?

I may not want to generate a lazy query component for each query in my project? Or is this something that should be handled by the bundler aka tree shaking?

[2019-08-07 09:53] immortalx commented on #2302
A similar scenario already happens if you use hooks and hoc/component, in the end it/should be handled by the bundler.

[2019-08-07 16:35] Flash619 opened #2304 "Generated hook types don't align."
**Describe the bug**
When generating react hooks, there are many typescript errors throughout the generated file, all caused because the Query type does not match the Query Variables type.

[code]

**To Reproduce**
To reproduce I just run `graphql-codegen --config codegen.yml`.

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

3. Related d

[2019-08-07 17:23] ardatan commented on #2304
Could you try with the latest version 1.5.0?

[2019-08-07 17:28] Flash619 commented on #2304
@ardatan It looks like this was only an issue in the older version. Thanks!

[2019-08-07 17:28] #2304 closed

[2019-08-07 17:46] andfs commented on #1646
Thanks @dotansimha
Your lib is awesome and thanks to it I did a great job.
graphql-code-generator was crucial for system development that I'm on
\o/

[2019-08-07 17:48] ardatan commented on #2302
That would be nice! I'll add this soon.

[2019-08-07 17:58] cml391 commented on #1980
@dotansimha thanks for following up! For context, I have been using the `declarationKind: 'interface'` and `typesPrefix: I`, but I want to not prefix enums with 'I' (for obvious reasons). I tried to use `enumPrefix: false` with my current schema using the latest alpha of the typescript package. I noticed that when I had used enums in my Query arguments, the RootQueryType[...]Args types still put a

[2019-08-07 21:44] JKillian commented on #2174
@dotansimha I'm afraid there's still issues here I believe. For example, I have this fragment type:

![image](https://user-images.githubusercontent.com/1400151/62659723-20244380-b93a-11e9-8f4f-820e5673154d.png)

this enum gets generated:

![image](https://user-images.githubusercontent.com/1400151/62659771-49dd6a80-b93a-11e9-8ce7-5764b01862dd.png)

and this actual type gets generated:

![image](htt

[2019-08-08 00:12] iFallUpHill opened #2310 "typescript-react-apollo - component definitions are not generated when mutation has no arguments"
**Describe the bug**
I think it might be similar to #1449? If my mutation definition doesn't have any arguments, React component is generated. I also want to preface by saying that I'm pretty new to GraphQL in general, so hopefully this isn't just an error on my end.

**To Reproduce**
Steps to reproduce the behavior:

Use './schema.json' as schema
Use './src/**/*.{ts,tsx}' as documents
Run the fol

[2019-08-08 00:45] iFallUpHill commented on #2310
Was informed that this was my error:

[code]

[2019-08-08 00:45] #2310 closed

[2019-08-08 05:01] ardatan commented on #2302
You can try it in the following canary version;
[code]

[2019-08-08 06:52] rgiese commented on #1537
@dotansimha Did this regress from 1.3.1 to 1.5.0 by any chance?

[2019-08-08 07:40] yoavain-sundaysky opened #2311 "`globby` returns inconsistent order of found files"
**Describe the bug**
Each time I'm running the graphql-codegen, I get a different result.
All results are valid, but order of types changes.

This creates 2 problems for us.
1. We think we need to commit generated files each time we run the tool.
2. I wrote a test that makes sure all developers are running the tool and commit the new generated files, and the test is broken now..

I went over your

[2019-08-08 07:43] ardatan commented on #2311
What is the difference between outputs? There are some changes in 1.5, so that might cause a diff. Is there any specific issue like TS error or something?

[2019-08-08 07:44] ardatan commented on #1537
@rgiese Could you reproduce it?

[2019-08-08 07:47] rgiese commented on #1537
Not readily (it's a bit of a big Lerna-ified monster) but if you can't think of anything obvious that might have caused this, I can try and stand up something isolated.

[2019-08-08 07:50] yoavain-sundaysky commented on #2311
@ardatan the issue is not between 1.4 and 1.5.
I'm okay with the additions of the 1.5 version.
Problem is the non-deterministic result.
Types are ordered differently every time running the codegen of version 1.5.

[2019-08-08 09:05] brookback opened #2312 "Question: Does Code Generator find GraphQL queries as strings inside .ts/.tsx files?"
**Describe the bug**

This might be me misunderstanding. But reading the [Documents](https://graphql-code-generator.com/docs/getting-started/documents-field) section from the documentation, I thought I could generate Typescript definintions from random `query ..` strings in my source code.

Using `graphql-tag` and wrapping my query strings work though. I'm using raw strings since it's simple, and

[2019-08-08 11:31] immortalx commented on #2302
Wow, that was fast. Seems to be working fine for me!
Thank you @ardatan

[2019-08-08 12:35] richardwardza commented on #1537
I'm having something similar when I run the command from circleCi.
On my local machine it runs fine but that could be due to speed.
On the circleCi machine doing my build I'm getting a loop:
[code]

The relevant part of my config is setup as follows:
[code]

[2019-08-08 13:18] LarsJK opened #2314 "nullable fields are `T | null | undefined` instead of `T | null`"
**Describe the bug**
nullable fields are `T | null | undefined` instead of `T | null`

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My `codegen.yml` config file:

[code]

**Expected behavior**
I expect the generated models nickname property to be `T | null`:

**Expected**
[code]

not `T | null | undefined`:

**Actual**
[code]

**Environment:**

- OS: macOS M

[2019-08-08 17:15] grxy commented on #2314
@LarsJK I dealt with the recently and the solution was to set `avoidOptionals: true` in my config. See https://graphql-code-generator.com/docs/plugins/typescript#avoidoptionals-boolean-default-value-false for more info.

[2019-08-08 17:23] LarsJK commented on #2314
How did I not see that reading the docs 😲

Thanks @grxy !

[2019-08-08 17:23] #2314 closed

[2019-08-08 19:18] jacobheric opened #2316 "breaking changes in 1.5.0"
Sorry, not exactly a bug. Let me know if you want me to ask this somewhere else.

I've tried upgrading our app from 1.4.0 to 1.5.0 (to get a bunch of features and bugfixes we need) and I see this project has moved to react apollo v3.

I've installed all the obvious missing new dependencies, @apollo/react-* etc, though I still have a bunch of unmet peer dependency warnings from those.  I've got the

[2019-08-09 00:41] jsphweid opened #2318 "errors still being swallowed"
It appears code errors are still being swallowed. I made a minimal repo showing the issue.

clone this repo: https://github.com/jsphweid/graphql-code-generator-bug
`npm i`
`npm run generate:code`

it fails with an unhelpful error message: `Failed to load schema from ./src/index.ts.` (but WHERE did it fail?!?!)

go to src/Context.ts
comment out the bad import `import * as Archive from "../../../raw

[2019-08-09 01:05] kgajera opened #2320 "Unknown type "JSON" error when using graphql-type-json"
**Describe the bug**

I'm using [graphql-type-json ](https://github.com/taion/graphql-type-json) to add a JSON scalar type. When running the code generator, I'm getting the following error: `Error: Unknown type "JSON".`

**To Reproduce**
Created the following repo containing an example of the issue: https://github.com/kgajera/graphql-code-generator-json-scalar-bug

**Expected behavior**
The JSON s

[2019-08-09 03:02] SoyYoRafa commented on #2241
Hey,
Just wanted to follow up. Single generation file is working great. We cannot have multiple generated files because there will be conflicts since clients are also servers.

[2019-08-09 07:03] biern opened #2322 "Cannot load schema from node_modules"
**Describe the bug**

Codegen fails to load schema that is located somewhere in `node_modules`. I could successfully load our schema when it was in any other location in the project. If I move it to `node_modules` loading fails with:
[code]

Exactly the same config / loading path used to work with 1.4.0.
We keep graphql schema as a separate npm package so loading schema from node modules is an imp