[2020-06-17 12:37] Godsenal opened #4249 "set typesPrefix and enumPrefix doesn't work with typescript-resolvers"
**Describe the bug**

When enumPrefix is set to `false` typescript-resolver doesn't use prefixed type name  even if typesPrefix is set to `T`.

**To Reproduce**
Steps to reproduce the behavior:

1. set enumPrefix to `false`
2. set typesPrefix to `T`
3. graphql-codegen

Here is codesandbox.

https://codesandbox.io/s/quirky-proskuriakova-yyexo?file=/types.ts

1. My GraphQL schema:

[code]

2. My Gra

[2020-06-17 13:39] cklam2 commented on #4248
Solved with #4250

[2020-06-17 18:35] KnisterPeter commented on #4219
@dotansimha Do you accept contributions?

[2020-06-18 01:15] anault commented on #3246
I'm having this issue using 1.15.5.

output:
[code]

codegen.yml:
[code]

[2020-06-18 07:02] ardatan commented on #3246
It should be `enumValues: upper-case#upperCase`

[2020-06-18 08:27] cklam2 commented on #4248
Mmm, exploring the typescript code and it's set up differently than in C# plugin (cleaner). For this case maybe I should not introduce that `getSafeFieldName` function and instead create a converter similar to the upper case, pascal case, etc so it only uses convertName feature to transform value names.
Did not yet figure out how to do chaining/pipe in converter. Any thoughts?

[2020-06-18 11:54] dotansimha commented on #4227
Fixed in v1.15.4

[2020-06-18 11:54] #4227 closed

[2020-06-18 11:54] dotansimha commented on #4226
Fixed in v1.15.4

[2020-06-18 11:54] #4226 closed

[2020-06-18 11:54] dotansimha commented on #4221
Fixed in v1.15.4

[2020-06-18 11:54] #4221 closed

[2020-06-18 11:54] dotansimha commented on #4214
Fixed in v1.15.4

[2020-06-18 11:54] #4214 closed

[2020-06-18 11:55] dotansimha commented on #3858
@joshjg Closing. Let me know if it's still relevant.

[2020-06-18 11:55] #3858 closed

[2020-06-18 12:14] SimenB commented on #2729
This was "fixed" for us by #4194 injecting usage of `Types.Exact`

[2020-06-18 17:41] organic-scholar opened #4256 "c-sharp-operations is not producing response type classes"
**Describe the bug**
@graphql-codegen/c-sharp-operations is not producing response type classes

[2020-06-18 23:24] palaparthi opened #4258 "Unable to load schema"
When I try to generate, it fails with 404 error, however schema exists at `http://localhost:4040/graphql` below is the error

graphql-codegen --config codegen.yml

  ✔ Parse configuration
  ❯ Generate outputs
    ❯ Generate src/generated/graphql.tsx
      ✖ Load GraphQL schemas
        → Failed to load schema
        Load GraphQL documents
        Generate

 Found 1 error

  ✖ src/generated/graphq

[2020-06-18 23:42] ardatan commented on #4258
I think you have already opened an issue before on Discussions. https://github.com/dotansimha/graphql-code-generator/discussions/4245 and @dotansimha answered it.

[2020-06-19 00:06] palaparthi commented on #4258
@ardatan The issue is not resolved and I am not sure how to reproduce this in sandbox. But the schema exists at the url. When I send a raw postman Introspection query I get back a response not 404.

Request Headers
[code]

Request body
[code]

I am happy to provide more information.

[2020-06-19 01:18] rphansen91 commented on #919
[code]

I began seeing this issue after updating from 1.1.0 to 1.15.0, I am using a custom package that I built ts-mongo-codegen. The module exports includes an addToSchema export however it is not found.

[2020-06-19 04:30] palaparthi commented on #4258
Figured out, localhost wasn't working on my computer had to give ip address instead in the config.yml file

[2020-06-19 04:30] #4258 closed

[2020-06-19 07:08] cklam2 commented on #4256
These are generated by the "c-sharp" plugin so include that one in your yml config.

[code]

[2020-06-19 11:29] johnnyBira commented on #4233
Never mind @dotansimha. I see your point in using `typescript-react-apollo` as an alternative now. Didn't realise this plugin also outputs the graphql-tag operation.

[2020-06-19 17:16] cklam2 opened #4260 "[c-sharp-operations] operation name differs in casing with operation name from GraphQL query"
**Describe the bug**
The operation name added to the C# call differs in casing from the GraphQL operation. GraphQL servers that work case sensitive will complain about non existing operation name.

**To Reproduce**
Steps to reproduce the behavior:
Use the live [GraphQL code generator](https://graphql-code-generator.com/) and enter the following blocks. Then inspect its output.

1. My GraphQL schem

[2020-06-19 17:25] cklam2 commented on #4260
Code seems to convert the operation name to either PascalCase or SentenceCase (default behavior of convertName). Eg
```findUser => FindUser```
but
```FINDUSER => Finduser```

So workaround for now is to stick to either PascalCase (FindUser) or Sentencecase (Finduser) for operation names in graphql query.

[2020-06-19 18:23] organic-scholar commented on #4256
`query CurrentUser {
    viewer {
        name
        email
    }
}`

For above query from https://api.github.com/graphql

it generates

`namespace GraphQLCodeGen {

    public class CurrentUserGql{

      public static GraphQLRequest getCurrentUserGql() {
        return new GraphQLRequest {
          Query = CurrentUserDocument,
          OperationName = "CurrentUser"
        };
      }

      p

[2020-06-19 18:35] cklam2 commented on #4256
Yup, and [here](https://graphql-code-generator.com/docs/plugins/c-sharp-operations) you can see how to use it.

In your case should be something like
[code]

[2020-06-19 18:40] cklam2 commented on #4256
If you think there is still an issue with this then please provide the following data:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

4. Expected output / current output

Without this info it's hard to understand the problem.

[2020-06-20 02:47] organic-scholar commented on #4256
1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
The generated code contains too many extra types that are unused and it throwing errors during compile time.
 GqlOperations.cs(1963, 18): [CS1585] Member modifier 'ref' must precede the member type and name.

Can code be trimmed down to types that are only used in opera

[2020-06-20 09:01] cklam2 commented on #4256
Regarding that 'ref' issue, seems that you are hitting the issue that I described in #4248. Can you prefix that ref with an `@` and see if the compiler is still complaining? Fyi, a solution for this is already available, just needs some cleanup and fine tuning. Hopefully will be available soon.

Regarding the namespace, yes I also noticed that too and also could not find a way to change it. I may

[2020-06-20 22:56] cklam2 commented on #4248
Updated the code and rebased onto master. Also took the chance to clean up the unit test so format looks cleaner (new unit tests for this bug solution are added).
@dotansimha code is ready for review/merge, thanks.

[2020-06-21 14:22] DanielHuisman opened #4263 "Trailing underscore in fragment spread sub types"
**Describe the bug**
The generated sub types for fragment spreads end with a trailing underscore, e.g. `MandateFragment_DigitalMandate_`. The expected behaviour is generating the name without the trailing underscore, e.g. `MandateFragment_DigitalMandate`.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/graphql-codegen-fragment-spread-bug-1yovy?file=/types.ts

1. My Gra

[2020-06-21 14:26] cklam2 commented on #4260
Solved with #4264

[2020-06-21 14:55] cklam2 commented on #4256
I compared the behavior with the typescript generator and that one also exports all types.
Exporting everything can be useful cause with GraphQL.Client you can also dynamically create operations that are not in the operation doc.

Now that the 2 other issues you described are solved with the 2 pull requests and the original issue as described in the title is not applicable anymore, can you close t

[2020-06-21 16:29] organic-scholar commented on #4256
Thanks for quick resolutions

[2020-06-21 16:29] #4256 closed

[2020-06-22 08:41] dotansimha commented on #4219
@KnisterPeter sure! always :)

[2020-06-22 09:02] dotansimha commented on #4233
@johnnyBira great :) So can we close this one? or do you think it should remain open?

[2020-06-22 09:40] suhailibnnisar opened #4269 "schema directive no longer works when two difference types linked with eachother"
**Describe the bug**
schema directive doesn't work when one type depends on other type and both types are indifference files

**To Reproduce**
Here is a live example: https://codesandbox.io/s/blissful-lewin-lgf3f?file=/codegen.yml

1. My GraphQL schema:

**user.graphql**
[code]

**post.graphql**

[code]
**root.graphql**
[code]

3. My `codegen.yml` config file:

[code]

**Expected behaviour**
shoul

[2020-06-22 10:00] ardatan commented on #4269
https://codesandbox.io/s/nice-lewin-f9ffh?file=/schema.graphql
You have missing imports in `post.graphql` and `user.graphql` files. In order to see the correct usage, you can take a look at the fork above.

[2020-06-22 10:00] #4269 closed

[2020-06-22 10:19] suhailibnnisar commented on #4269
yeah but in larger projects, we have to import every type we need in every files which was not the case before, I think it's an issue with **graphql-import** previously it used to sum up all files then parse but now its parse each file before summing up so we need to import explicitly in every file but previously we just need to import all files in root graphql file (**root.graphql**) then it work

[2020-06-22 10:42] ardatan commented on #4269
This is not an issue related to codegen. You can open an issue on import's repo to discuss the flow. Personally, I don't recommend to use `#import` syntax at all.

[2020-06-22 16:05] CarloPalinckx commented on #4108
@dotansimha pretty sure this can be closed ✌️

[2020-06-22 18:02] EthanSK commented on #3769
I have this problem still.

[2020-06-22 18:25] EthanSK opened #4272 "Unable to find template plugin matching 'typescript-resolvers'"
Unable to find template plugin matching 'typescript-resolvers'
    Install one of the following packages:

Literally do the setup wizard with npm in a blank slate project. Yes I installed the npm modules. I've seen lots of other issues about this same thing, and none helped.

[2020-06-22 18:28] alepedraza commented on #3769
Hi Ethan
The solution was to delete the node_module folder and re-install it.

[2020-06-22 21:30] mjeffryes commented on #3417
I want to push this a little further.

The problem that @ksrb encountered is actually a product of the fact that interfaces in GraphQL are sealed (ie. they can only be implemented by a known, finite list of types) whereas interfaces in typescript are not (anyone can extend an interface wherever they like). GraphQL is designed with the expectation that the client will use this information when proc

[2020-06-22 22:00] bzvikler opened #4273 "[typescript] non nullable graphql inputs with default values are not optional as ts types"
**Describe the bug**
Currently if a property within the gql schema is set as non nullable, but has a default value assigned to it, the generated typescript property will be set as required.

**To Reproduce**
Steps to reproduce the behavior:

- navigate to this code sandbox: https://codesandbox.io/s/wandering-forest-efbol?file=/types.ts
- notice that while the input of `App` has a default for `user

[2020-06-23 12:39] EthanSK commented on #3769
I tried that, and deleting package lock. same issue. I was at it for 2 hours trying every possible thing in different combination, and had to give up. It's literally a blank slate project.

[2020-06-23 13:50] dotansimha commented on #3769
@EthanSK something with your setup is wrong, for sure. Other thousands of developers are using it daily, and it works perfectly.

Saying `I have this problem still.` is not enough for us to help you.

We have a [reproduction sandbox](https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template), please reproduce it there, and we'll be able to try to assist you with your

[2020-06-23 19:38] adam-beck commented on #3695
I've tried to just `"exclude"` the generated file in my tsconfig but I still get the error. Does anybody know what that's happening?

[2020-06-24 08:27] zomble commented on #4121
https://github.com/dotansimha/graphql-code-generator/pull/3618#issuecomment-600992660

[2020-06-24 08:30] zomble commented on #3982
Adding a previous comment https://github.com/dotansimha/graphql-code-generator/pull/3618#issuecomment-600992660 of mine for context.

[2020-06-24 09:02] aldegoeij opened #4278 "`withRefetchFn` depends on ApolloReactHoc.withQuery which is not exported in Apollo 3"
**Describe the bug**
graphql-code-generator generates correct functions for use with refetchQueries, however when using it in a React Native app I get a `TypeError: ApolloReactHoc.withQuery is not a function` when on Apollo 3 (beta)

I did some digging and looks like apollo 3 deprecates `@apollo/react-hoc` functionality (which is a apollo 2 compatible lib)

Looking for help to figure out how to ge

[2020-06-24 09:15] aldegoeij commented on #4278
After digging into more typescript ~hell~ heaven, turns out a quick fix without using `withListMyThings` is:

[code]

Is there any reason to use `withListMyThings` refetch function over the above which is using `PureQueryOptions` exported from Apollo?

[2020-06-24 09:53] nabeelvalley opened #4281 "Optional Namespace/Class Wrapper for C# plugin"
**Is your feature request related to a problem? Please describe.**

C-Sharp Plugin generates a wrapper class as well as an automatic namespace of `GraphQLCodeGen` that can't be renamed via the CodeGen itself. It would be useful to opt out of this behaviour

**Describe the solution you'd like**

An Option to not include the Wrapper Class (by default this is named `Types` and is overridden with the

[2020-06-24 12:01] cklam2 commented on #4281
This was already solved with pull request #4264 so you'll have to wait for a new release or use the [alpha](https://github.com/dotansimha/graphql-code-generator/pull/4264#issuecomment-647375136) version.

[2020-06-24 12:07] cklam2 commented on #4281
Regarding the Types wrapper: I believe that it's added to avoid name clashes.

There is indeed no way to exclude the wrapper but if you don't want to have constructions like `Types.Query` you can add following `using` to the header of your cs:
[code]
Then you can use `Query` as-is.

[2020-06-24 12:29] nabeelvalley commented on #4281
@cklam2 thanks for the information!

[2020-06-25 07:13] dotansimha commented on #4281
@nabeelvalley does this fit your needs? we can close this?

[2020-06-25 07:14] dotansimha commented on #4278
Thanks @aldegoeij !
We are trying to match the actual exported identifiers and tools from Apollo client v3, it's still in beta so it's not perfect.

@ardatan can you please take a look?

[2020-06-25 07:16] dotansimha commented on #4272
@EthanSK We have a template for issues, which includes a codesandbox template (https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template
).
Please provide a reproduction of the issue, otherwise we won't be able to investigate and fix that.

[2020-06-25 08:38] paales commented on #4216
@ardatan Can I provide any more information, would like to use interfaces, but `TypeError: parentType.isTypeOf is not a function` error is blocking :)

[2020-06-25 12:43] lgandecki opened #4290 "MongoDB plugin doesn't work with federation"
**Describe the bug**
MongoDB plugin doesn't work with federation

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/quirky-brook-i12hs

yarn && yarn generate

produces errors like below. if I remove the  `- typescript-mongodb` part from the codegen.yml the types are correctly generated.:
[code]

Is this problematic to make work? This is not a high priority for us, as we n

[2020-06-25 12:52] lgandecki opened #4291 "Types are not correct for federated extended types"
**Describe the bug**
The field resolvers types generated for federated types have too many things available on the parent object.

**To Reproduce**
I've shown some examples here:

https://codesandbox.io/s/fancy-wave-74cxh?file=/ProductResolvers.ts

Basically, for this schema:

[code]

`shippingEstimate` should have `size`, `weight` and `sku`
and `simpleShippingEstimate` should only have `sku` avai

[2020-06-25 13:29] dotansimha commented on #3332
@VienNguyen113 I added support for this in: https://github.com/dotansimha/graphql-code-generator/pull/4289

It's general support for `namespacedImportName` configuration key in `typescript-resovlers`, which presets are using as well. So now if this plugin will get `namespacedImportName` configuration, it will use it correctly.

[2020-06-25 13:43] nabeelvalley commented on #4281
@dotansimha yup, fine to close

[2020-06-25 13:43] #4281 closed

[2020-06-25 13:46] TLadd commented on #3071
This would be useful for clients that accept a string and not a document node like [graphql-request](https://github.com/prisma-labs/graphql-request) and [micro-graphql-react](https://github.com/arackaf/micro-graphql-react). I was able to work around this by doing something like this:

[code]

[2020-06-26 16:19] lionkeng commented on #4278
Firstly, thank you for the tool! Love it. I am also using Apollo Client v3 which is currently at rc9. I use graphql-codegen to generate hooks only, and it works great but I have to manually change these 2 lines in the generated code.

FROM:
[code]

TO:
[code]

In the generated code, I then need to update all references of ApolloReactCommon and ApolloReactHooks to ApolloClient. v3 of Apollo Client

[2020-06-26 16:29] ardatan commented on #4278
https://graphql-code-generator.com/docs/plugins/typescript-react-apollo
You can change all the imports using those options. You can find more information in the documentation if you read.
[code]

[2020-06-27 14:05] Siafu commented on #3890
Still having this issue
`
    "@graphql-codegen/cli": "^1.15.4",
    "@graphql-codegen/introspection": "^1.15.4",
    "@graphql-codegen/typescript": "^1.15.4",
    "@graphql-codegen/typescript-apollo-angular": "^1.15.4",
    "@graphql-codegen/typescript-operations": "^1.15.4",
     "graphql": "^14.6.0",
    "graphql-tag": "^2.10.3",
    "graphql-toolkit": "^0.7.5",
`

[2020-06-27 15:49] ardatan commented on #3890
Please avoid using this character **^** in package.json. That causes installing incompatible versions. We strongly recommend to use exact version.

[2020-06-29 13:14] Siafu commented on #3890
i'll give it a shot

[2020-06-29 14:59] Siafu commented on #3890
I have tried deleting my node_modules folder and reinstalled with the following versions. Still having issues.
[code]

[2020-06-29 15:45] ardatan commented on #3890
I see so please submit an issue by following the instruction on the template;
https://github.com/dotansimha/graphql-code-generator/issues/new?template=bug_report.md

[2020-06-29 20:34] melissag opened #4303 "Import of types nested 2+ levels deep fail to be found when loading schema"
**Describe the bug**
When types are utilized in a "nesting" structure (see sandbox/pasted schema below) 2 or more levels deep, graphql-codegen fails when loading the schema with an `Unknown type` error.  If the nesting is only 1 level deep (i.e.you change the type of `aList` below to be a list of Strings instead of a list of the `nestedB` type), it successfully generates the .ts file.

NOTE that t

[2020-06-29 20:35] melissag commented on #3482
Sorry for my delay, and thanks for fixing this @dotansimha !  I've encountered a new issue, which I've logged here: https://github.com/dotansimha/graphql-code-generator/issues/4303

[2020-06-30 09:52] dotansimha commented on #4290
If you just need to make it work with those directives, create a separate file with the declaration of it, and let codegen know about it.
You can find it here: https://www.apollographql.com/docs/apollo-server/federation/federation-spec/#federation-schema-specification

[2020-06-30 09:52] #4290 closed

[2020-06-30 09:53] dotansimha commented on #4291
Hi @lgandecki ! It seems like a duplicate of https://github.com/dotansimha/graphql-code-generator/issues/4089

There is a WIP PR here: https://github.com/dotansimha/graphql-code-generator/pull/4232

[2020-06-30 09:53] #4291 closed

[2020-06-30 09:54] dotansimha commented on #4303
Hi @melissag ! Thank you for reporting this. It seems like another issue related to `graphql-import`.

@ardatan can you please take a look?

[2020-06-30 09:54] dotansimha commented on #3332
Fixed in `v1.16.0`

[2020-06-30 09:54] #3332 closed

[2020-06-30 09:54] dotansimha commented on #4248
Fixed in `v1.16.0`

[2020-06-30 09:54] #4248 closed

[2020-06-30 09:55] dotansimha commented on #4260
Fixed in `v1.16.0`

[2020-06-30 09:55] #4260 closed

[2020-06-30 09:55] dotansimha commented on #4211
Fixed in `v1.16.0`

[2020-06-30 09:55] #4211 closed

[2020-06-30 11:14] dotansimha commented on #4272
@EthanSK ?

[2020-06-30 11:25] EthanSK commented on #4272
I cannot provide a meaningful repro because it is just what I said in the description, a blank slate project in a blank slate folder that is not in a monorepo. I have other lerna (monorepo) projects on my machine, and I don't know how npm works behind the scenes with global module caching, so maybe it's that? But the project i'm testing this on is definitely not in a monorepo

[2020-06-30 11:31] dotansimha commented on #4272
I see, but I suggested a few things to check. Especially regarding `node_modules` structure. Try `yarn why` to see if you are able to find duplications.  Maybe do you have one of the codegen packages installed globally?

If it's not something you can share or reproduce, I'll have to close this issue, because we won't be able to assist.

[2020-06-30 11:32] #4108 closed

[2020-06-30 13:04] lexanth opened #4307 "Fragment imports from different NPM packages"
**Describe the bug**
We have some cases where a fragment will be defined alongside a component in one package, and need to be used by a query in another package. We currently end up having to have all queries in the same package as the fragment to use relative path imports.

Apollo and GraphQL codegen both work fine with `#import` and relative paths. Apollo's graphql tag webpack loader also works

[2020-06-30 15:04] Krankypanky commented on #4307
Having the same issue...

[2020-06-30 22:42] rrrix opened #4309 "Time plugin cannot be used with Schema-Ast Plugin"
**Describe the bug**

The `time` plugin cannot be used together with the `schema-ast` Plugin. The output of the `time` plugin is hard-coded to begin the line with `//`:

https://github.com/dotansimha/graphql-code-generator/blob/74b616125f8fe858d5f4f6d9986f80f2514fe2ba/packages/plugins/other/time/src/index.ts#L58

**To Reproduce**
Steps to reproduce the behavior:

[code]

The generated schema looks

[2020-07-01 13:29] dotansimha commented on #4309
I guess we need to add support for that. PRs are welcome ;) (You can check the output file extension inside the plugin code, like we are doing in: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/other/fragment-matcher/src/index.ts#L128)

[2020-07-03 07:34] KnisterPeter commented on #4219
@dotansimha It took a bit of time, but now there is a PR for it.
I've removed the specific generics in most parts and fallback to the default generics given by the types. Its only overwritten now in places where its required.

[2020-07-05 09:02] dotansimha commented on #4219
Available in `v1.16.1`

[2020-07-05 09:02] #4219 closed

[2020-07-06 21:21] #4272 closed

[2020-07-07 14:27] asafh opened #4337 "Issues running test suite on fresh clone"
**Describe the bug**
A fresh master clone with dependencies installed has some of the tests issuing errors/warnings and skipped.

[code]
and
[code]

**To Reproduce**
[code]

**Expected behavior**
All tests to pass without warnings or unhandled promise rejections

**Environment:**

- OS: macOS Catalina
- `@graphql-codegen/1.16.3`:
- NodeJS: 12.13

**Additional context**

[2020-07-08 12:39] dallas-lbg commented on #3207
I have come across this issue too. Any progress on a fix or preferred work around?

[2020-07-08 12:41] LucienLee commented on #4269
@suhailibnnisar I can confirm that we don't have to import explicitly previously.

[2020-07-08 14:52] suhailibnnisar commented on #4269
How are you dealing with it now especially when you have to work with generated ```.graphql``` files

[2020-07-09 00:58] threehams commented on #2956
TypeScript 3.8 appears to have fixed this in the playground example.

[2020-07-09 02:07] threehams opened #4344 "Limitation in TypeScript can cause properties on arrays inside spread fragments to be dropped."
**Describe the bug**
Due to a limitation in TypeScript, intersecting two array-containing fragments results in all fragments past the first one being dropped.

**To Reproduce**

Steps to reproduce the behavior:

https://codesandbox.io/s/goofy-franklin-jrh86?file=/code.ts

1. Create two fragments, each of which selects from an array, and spread them both into a query. Example:
[code]
2. From the re

[2020-07-09 03:43] threehams commented on #4344
As usual, there are more options now than the last time I looked! `flattenGeneratedTypes` takes care of this issue, but it also eliminates the fragments entirely. I'll see there's a combination that flattens fragments while still exporting them separately.

[2020-07-09 15:34] LucienLee commented on #4269
@suhailibnnisar I'm still figuring out how to solve that.

[2020-07-10 04:07] suhailibnnisar commented on #4269
@LucienLee Please let us know when you figure out

[2020-07-10 08:26] romMidnight opened #4346 "-s alias for --silent does not work with graphl-codegen CLI"
-s alias for --silent does not work with graphl-codegen CLI

specifying --silent works

[documentation](https://graphql-code-generator.com/docs/getting-started/codegen-config) states that both should work

Is it intended? can create a pull request with the fix

[2020-07-12 07:37] dotansimha commented on #4346
I guess it's a bug ;) PRs are always welcome :)

[2020-07-12 07:38] dotansimha commented on #4344
@threehams you are right, it does have some issues with TS. The best way to go is to use `flattenGeneratedTypes` at the moment.
We are trying to find a good solution, let's track this here: https://github.com/dotansimha/graphql-code-generator/issues/4212

[2020-07-12 07:38] #4344 closed

[2020-07-12 07:39] dotansimha commented on #4337
Can you please try to run `yarn build` and then try `yarn test`?
CI seems to be fine...

[2020-07-12 07:47] dotansimha commented on #2956
@threehams is right, this was fixed since TS 3.8 :)

[2020-07-12 07:47] #2956 closed

[2020-07-12 07:48] dotansimha commented on #3207
WIP here: https://github.com/dotansimha/graphql-code-generator/pull/4232

[2020-07-12 08:19] dotansimha commented on #4346
@romMidnight let's keep open until we'll have a release with that.

[2020-07-12 09:03] asafh commented on #4337
Hi Dotan,
Sure, just did (another fresh clone):
[code]
However I still get the above issues - keep in mind they don't fail their test suite (but perhaps they should?):
[code]
That is, whatever creates the promise being unhandled rejection either handle it in according to the wanted test behavior (fail the test on exception then fix the tested code or, if wanted behaviour, have the test expect the

[2020-07-12 09:12] asafh commented on #4337
To narrow down the unhandled rejection I added a jest setupFile script (place in dev-test - let me know if you'd prefer a different placement) and added it to the configuration in root/jest.project.js:
[code]
Now any unhandledRejection will not go unnoticed. To narrow down which test specifically causes it I ran jest with ```--runInBand``` and found it belongs to ```apollo-angular.spec.ts```:
[cod

[2020-07-12 09:39] asafh commented on #4337
I found the orphaned promise, there's a missing await (or return) in the last line of ```Apollo Angular\configuration\should be allowed to define custom operation suffixes in config``` causing that test not to notice the validateTypescript function fails.

Looking more carefully, it seems most calls to validateTypescript in the apollo-anguler.spec.ts file are orphaned and should be awaited

Curren

[2020-07-12 10:35] asafh commented on #4337
hi @dotansimha, Created PR #4355 :

It seems like the CI on Node 14 is timing out, there shouldn't be any significant duration increase - is there a way to increase the timeout/rerun the CI or am I mistaken?

[2020-07-12 11:37] dotansimha commented on #4337
Closed in https://github.com/dotansimha/graphql-code-generator/pull/4355 . Thanks @asafh

[2020-07-12 11:37] #4337 closed

[2020-07-12 12:45] asafh commented on #4337
Happy to. Thanks for maintaining this project.

[2020-07-12 21:51] threehams commented on #4344
Oh that's embarrassing, I searched for completely different terms.

[2020-07-13 11:21] vavra7 opened #4361 "TypeScript GraphQL Files Modules is unusable."
Using plugin according to configuration in [documentation](https://graphql-code-generator.com/docs/plugins/typescript-graphql-files-modules) causes error:
[code]

Adding schema in config file generates something like following:
[code]
Since only second part of file:
[code]
is valid for file of type `*.d.ts` - typescript fully ignoore generated file.

[2020-07-13 16:39] dotansimha commented on #4361
Can you please share `codegen.yml`?

[2020-07-13 16:55] Akxe opened #4363 "Angular 10 warns that apollo.generated.service.ts depends on 'graphql-tag' & 'zen-observable-ts'"
**Describe the bug**
Angular 10 will newly complain about CommonJS or AMD dependencies (warning bellow)

For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `graphql-gen.js` config file:

[code]

**Expected behavior**
I would like not to get a

[2020-07-13 17:04] vavra7 commented on #4361
I see now based on what you wrote. I used in config file also plugin 'typescript' according to [documentation](https://graphql-code-generator.com/docs/plugins/typescript-graphql-files-modules). When I remove it the incorrect part is no more included in *d.ts. I mistakenly attributed the problem to the need for a scheme. Then sorry for creating the bug. Just is needed to alter documentation.

[2020-07-13 18:13] yannickpschroeder opened #4366 "`this.apollo is undefined` when testing components using generated classes extending Apollo.Query"
**Describe the bug**
I'm using the graphql-code-generator for my Angular client. The code is generated perfectly from my Graphql schema and the Apollo.Query classes work fine. The problem happens when I run specs for components  using the generated Apollo.Query  classes. The error message always is `this.apollo is undefined`. Means that the constructor of class Query<T = {}, V = R> can't access th

[2020-07-14 07:04] dotansimha commented on #4361
@vavra7 you are right, we'll fix that :)

[2020-07-14 07:05] dotansimha commented on #4361
Pushed a fix for the docs :)

[2020-07-14 07:05] #4361 closed

[2020-07-14 07:05] dotansimha commented on #4366
@kamilkisiela can you please try to help? :)

[2020-07-14 07:09] dotansimha commented on #4363
This is an issue with `graphql-tag`. The generated code is using it, but you can always change it (with `documentMode` configuration flag).

[2020-07-14 07:09] #4363 closed

[2020-07-14 07:42] Akxe commented on #4363
@dotansimha True, it is Apollo's falut, that is why I added the link to the issue in "Additional context" section.

[2020-07-14 10:02] NateScarlet opened #4368 "[typescript-resolvers] Resolvers not pass ContextType to interface resolver"
**Describe the bug**

Can not use `Resolvers<MyContext>` to specify context for interface resolvers.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

generates

[code]

**Expected behavior**

it should be

[code]

**Environment:**

- OS: windows 7
- `@graphql-codegen/...`: 1.17.0
- NodeJS

[2020-07-14 12:59] capaj opened #4370 "make near-operation-file preset the default"
I am writing react apps and I kinda dislike the fact that my whole schema with all my queries/mutations is always outputted into a single file.
Wouldn't it be nicer if  graphql-code-generator could generate a file next to the source `gql` file where my query/mutation is?
This way importing it would be easier in my components, because I always have it just one dot away when traversing filesystem.
A

[2020-07-14 13:21] ardatan commented on #4370
Is that what you're looking for?
https://graphql-code-generator.com/docs/presets/near-operation-file

[2020-07-14 13:26] capaj commented on #4370
thanks that looks exactly like what I am looking for

[2020-07-14 13:31] capaj commented on #4370
I have a question-Why is this not the default mode?
Is there an objective quality of the current mode that I am missing?
Seems like more general preset that suits better for both small and big projects is near-operation-file. Why is it not the default?

[2020-07-14 14:30] DarkLite1 commented on #1318
I've stumbled upon this issue with same question on how to get single quotes instead of double quotes in the graphql code generated files. It appears that by default the `prettier` config is not applied. For this to happen you need to add a so called hook.

`graphql-codegen.yml` example file:

[code]

And of course the `prettier.js` file in the root of your project where you indicate that you don'

[2020-07-14 16:02] MrDesjardins opened #4373 "TypeScript Generated Definition Contains More Than Just What Queried"
**Describe the bug**
When performing a generation of TypeScript from a schema that is a file to a document that contain only a subset of all the type in the schema, the generated TypeScript contains all the type of the schema instead of only the subset used in the document.

**To Reproduce**
Configuration of codegen.yml
[code]

**Environment:**

- OS: MacOS
- `@graphql-codegen/...`: Tried with 1.1

[2020-07-14 16:17] danielrearden commented on #4373
Thanks for taking the time to open this issue! This is currently working as intended. You can set the `onlyOperationTypes` option to `true` to only generate only the minimum number of types necessary.

[2020-07-14 16:19] MrDesjardins commented on #4373
Hi Daniel,
I set the `onlyOperationTypes` and the output does not change. (Same as if not provided)

[2020-07-14 16:22] MrDesjardins commented on #4373
![image](https://user-images.githubusercontent.com/1014796/87450496-6c005380-c5b3-11ea-84db-6671b222fe2d.png)

For example, I see a lot of enum that I do not use in the simple query. I am query 1 field (ID) from 1 entity. And I have about 100+ type generated.

This is with `onlyOperationTypes: true` in the `config`

[2020-07-14 18:00] dotansimha commented on #4373
This is the current implementation, it's basically ignores all schema parts except enums and input types because those *might* be needed by operation.
I think we can maybe improve the implementation to really include only what's used.

Btw, @MrDesjardins, what's your actual use-case? Why is it a problem that you have those enums generated? Because if it's not needed, maybe you can remove it from t

[2020-07-14 18:08] dotansimha commented on #4370
Hi @capaj
We prefer to maintain single-type output, because it's easier and we don't need to deal with imports.
In most cases, anything that can be done with multiple files - can be done with a single file - especially when it's related to TypeScript types. Having multiple generated files means that you need to maintain and track all those somehow.

[2020-07-14 18:08] #4370 closed

[2020-07-14 20:26] capaj commented on #4370
Thanks for your reply. Understandable. Would be nice document the drawbacks of a single file aproach in the docs somewhere. We're getting to a point where typescript parser is getting a bit slow for us to work with the single file of 50k LOC and it will be a bit of work to swap it to `near-operation-file`. It would really have been nice to have a friendly warning when we started with graphql-code-

[2020-07-15 07:51] dotansimha opened #4374 "Frontend plugins should support `apolloClientVersion: 3` flag to change the imports"
`typescript-react-apollo` already supports `reactApolloVersion: 3` to modify the imports of Apollo client and React-Apollo.
We need to make sure to support `apolloClientVersion: 3` as well in those plugins, in order to modify the import of `gql` tag.

Previously it was imported from `graphql-tag` library, but now it could be imported from: `@apollo/client` now.

A workaround for that is to do:

[c

[2020-07-15 08:13] MarcusRiemer commented on #4366
It seems like the "pass through constructor" could be added quite trivially to the codegenerator: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript/apollo-angular/src/visitor.ts#L246

As far as I can tell adding the exact constructor call that @yannickpschroeder provided shouldn't change existing behavior:

[code]

But this might also be an issue with Ang

[2020-07-15 08:22] MarcusRiemer commented on #4366
I briefly tried to find out whether the [Angular documentation has anything to say about dependency injection and it says](https://angular.io/guide/dependency-injection-in-action#inject-into-a-derived-class):

So the workaround provided by @yannickpschroeder seems to be the canonically correct solution.

[2020-07-15 09:19] dotansimha commented on #4370
@capaj I'm not sure that `tserver` performance should be affected by a file with a lot of types. Eventually, it has the same `ts.Program` with the same amount of TypeScript types.
Maybe this could be fixed with a different solution? Can you please share more details about the experience of working with a single file and how it's effects your workflow?
From our experience, working with multiple fil

[2020-07-15 20:42] MrDesjardins commented on #4373
Hi,
Interesting! Thank you for the clarification.

My use case was that two people added the same enum in GraphQL. The generation caused issues because two keys were the same value. That change caused my generation to fail. However, I do not use that enum... it shouldn't affect my code base :)

E.g.

Person 1:

[code]

Person 2:

[code]

The generation is

[code]
It does not compile :)

[2020-07-15 22:30] LiandriCorp opened #4376 "[typescript-type-graphql] Plugin to include GQL description in TypeGraphQL decorator description"
**Is your feature request related to a problem? Please describe.**

It is mandated in our codebase that typegraphql types specify their description. GraphQL specifies a description syntax: https://spec.graphql.org/June2018/#sec-Descriptions. But those descriptions do not make it into the TypeGraphQL decorator, but instead as a code comment. I also see no option for this.

e.g.
[code]
becomes
[code

[2020-07-16 06:29] dotansimha commented on #4373
@MrDesjardins I think it should have break before codegen... it doesn't make any sense to have duplicate key in enums.

If it's an issue with the generated types and not with the schema, some developers find this useful:

[code]

[2020-07-16 16:14] greenteamer opened #4381 "Failed to load schema"
I've faced with issue when I can’t load schema from our graphql server.
In the same time I can work with online playground without any problem.

<img width="427" alt="Screen Shot 2020-07-16 at 19 58 57" src="https://user-images.githubusercontent.com/3823447/87694144-e214de00-c79e-11ea-90a9-ad486017c89a.png">

this is my config:
[code]

Also I se this message in the trace.
`Could not obtain introsp

[2020-07-16 21:10] carlosfiori commented on #4373
Clear the generated file to include only what is used would be great

[2020-07-17 13:27] slaking opened #4386 "Python support"
Any thoughts on adding support for Python typing with schema-first frameworks like https://ariadnegraphql.org?

[2020-07-17 19:02] respectTheCode commented on #4062
I am having the same problem. How did you solve this?

[2020-07-18 04:19] bmingles commented on #2043
I also had this issue. Re-installing @graphql-codegen/typescript after i had installed the apollo plugin fixed it.

[2020-07-18 09:06] efoken commented on #4374
Also note that there will be React Apollo 4.0 soon which will be the final version, because all React functionality is now available directly from the `@apollo/client` package. See: https://github.com/apollographql/react-apollo

[2020-07-18 09:14] aniravi24 opened #4387 "[near-operation-file] Continually generates new files instead of overwriting the existing file"
**Describe the bug**

The near-operation-file preset generates files correctly the first time. However, every time after that, an extra extension is appended onto the filename. For example, if you have a file called mutation.generated.tsx, the next run will create a file called mutation.generated.generated.tsx, then mutation.generated.generated.generated.tsx, and so on and so forth.

**To Reproduc

[2020-07-18 13:02] danielrearden commented on #4387
Hi @aniravi24! Thanks for opening an issue. Can you try changing your `documents` value to the following: `'src/**/!(*.generated).{ts,tsx}'

[2020-07-18 19:14] aniravi24 commented on #4387
@danielrearden And that was it! Thank you, I should've noticed my file glob was including the generated files too. Thanks again!

[2020-07-18 22:04] #4387 closed

[2020-07-18 23:06] aniravi24 opened #4390 "Generate types for each node or edge in the query as a separate interface"
**Is your feature request related to a problem? Please describe.**

Apollo's codegen tools allow you to generate query types that look like this. This whole file was a single GraphQL query. Each part of the tree is separated into its own interface.
![image](https://user-images.githubusercontent.com/5902976/87863490-27a4e880-c910-11ea-82d8-f477cca7f4fe.png)

**Describe the solution you'd like**

I

[2020-07-19 07:16] dotansimha commented on #4390
Duplicate. We are not going to support this use case. You can find solutions and workarounds here: https://github.com/dotansimha/graphql-code-generator/issues/2735#issuecomment-541289099

[2020-07-19 07:16] #4390 closed

[2020-07-19 08:39] aniravi24 commented on #4390
Got it, thanks!

[2020-07-19 12:52] toverux opened #4393 "schema-ast produces empty GraphQL docblock comments"
**Describe the bug**

For some of my types, the ast-schema plugin generates docblocks comments that are empty:
![image](https://user-images.githubusercontent.com/1343250/87874971-4d90c280-c9ce-11ea-9ec4-30ca55aec4e2.png)

Some types that do not have a description do not have those empty comments.

That wouldn't be much annoying if they didn't make the parser of the JS GraphQL WebStorm plugin fail

[2020-07-19 13:41] dotansimha commented on #4393
@ardatan I think maybe it's related to graphql-tools?

[2020-07-19 15:04] ardatan commented on #4393
I couldn't reproduce it. Could you reproduce rhe issue using CodeSandbox? @toverux

[2020-07-19 15:06] ardatan commented on #4386
Not sure if it is related but we already have a discussion for Python plugins here.
Let's track it there.
https://github.com/dotansimha/graphql-code-generator/discussions/2516

[2020-07-19 15:06] #4386 closed

[2020-07-20 02:15] danielrearden commented on #4393
If the introspection query is returning an empty string instead of null for a description, then the issue is with the schema itself and not with codegen or graphql-tools. An empty string is not the same as "no description" and the expected behavior when printing a schema with such a description would be to print the provided value.

[Example](https://runkit.com/danielrearden/5f14fbf23a8b8100130e45

[2020-07-20 05:19] dotansimha commented on #4393
@danielrearden is right. @toverux can you please share a reproduction of the issue? How do you fetch your schema? can you please share your `codegen.yml` file?

[2020-07-20 22:44] trompx opened #4399 "Better error logging - unhelpful error messages"
**Is your feature request related to a problem? Please describe.**
I just inherited a codebase and running graphql-codegen, I get unclear messages that don't help me to diagnose where the error come from.

[code]

**Describe the solution you'd like**
It would be great if the file + line of the code provoking the error could be logged.

**Additional context**
graphql-code-generator : 1.17.0
graphql

[2020-07-21 06:51] FredyC commented on #3968
So I decided to have a stab at this since it's starting to annoy me.

First thing, I noticed there is an explicit test to ignore `typesPrefix`. Why is that? Is that some opinion that it "looks ugly"? That certainly shouldn't be like that. If configured, it should be respected no matter what.

https://github.com/dotansimha/graphql-code-generator/blob/1ddabd70d424653f1e9b01819ede255b2cd0c53b/package

[2020-07-21 09:49] tomasherout opened #4402 "Unused varibles in GraphQL query/mutation should report error"
According to GraphQL specification unused variables means invalid query (mutation): https://spec.graphql.org/June2018/#sec-All-Variables-Used

Currently, this produce error in runtime, not in code generation time.

Solution probably should be resolved in plugin https://graphql-code-generator.com/docs/plugins/typescript-operations

For example, code generation with apollo tool report this like erro

[2020-07-21 09:59] ardatan commented on #4402
PRs are welcome!

[2020-07-21 11:05] TimonVS opened #4403 "[typed-document-node] Error when fragment is defined in a separate file"
**Describe the bug**

I'm using the `typed-document-node` plugin. When I define a fragment in a separate file, an error occurs. Fragments within the same file don't cause an error.

[code]

It happens on this line: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript/typed-document-node/src/index.ts#L12, because `operation.operation` is undefined.

**To Repr

[2020-07-21 11:34] danielrearden commented on #4402
I'm not sure if it's codegen's job to do validation like that. That sounds more like something that should be handled by a library like graphql-inspector.

[2020-07-21 11:36] TimonVS commented on #4403
Another thing to note is that only the first operation is transformed to a typed document node: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript/typed-document-node/src/index.ts#L11. That explains why fragments work fine when they're defined in the same file as the query or mutation, as long as it's not defined first. Was this done intentionally or is th

[2020-07-21 14:47] FredyC commented on #3968
@dotansimha So what about the `typesPrefix`? Do you have some answer to that, please? The issue got closed accidentally with the PR.

[2020-07-21 15:15] tomasherout commented on #4402
Other mistakes like missing variable, duplicate variable are detected (I don't really know by which part of project).

[2020-07-21 17:27] ardatan commented on #4402
I agree with @danielrearden . This kind of validation seems out of codegen's scope. You should already make sure your operations are good before code generation step by yourself using a tool like graphql inspector.

[2020-07-21 17:58] MrDesjardins commented on #4373
Well, in real life it does make sense and does not break before.

For example, you are using serviceA and serviceB. The first service is very old and used a different format than the new shinny service B. However, A and B are required because the shinny new B does not have everything yet. With that scenario, you can have from both the same enum with different upper/lower case. It does not break. G

[2020-07-21 19:22] niekert commented on #4231
@adostal Do you by any chance remember what your mistake was? 🙏

Running in the same problem and found this issue. Thanks!

[2020-07-22 05:12] GiancarlosIO commented on #4307
same here 👀

[2020-07-22 06:52] dotansimha commented on #4373
@MrDesjardins Can you please explain? maybe I'm missing something, but how does it make sense for the *same enum* to have a *duplicate key* ?
The example you shared, creates a `TestEnum` twice, with the same *key* called `Field1`. This should never compile, in any language - either GraphQL or TypeScript.  Different cases are different keys - `field1` and `Field1` are totally different keys, and it

[2020-07-22 10:19] tonypee commented on #4381
Im having troubles reading my schema too. Try downloading it to a .json out of the graphql window
![image](https://user-images.githubusercontent.com/3086901/88165180-a2476e00-cc58-11ea-99e2-511682df99df.png)

Despite that, i still cant get mine to read. it says it isnt valid... hmm

[2020-07-22 11:11] greenteamer commented on #4381
@tonypee I can download the schema from playground interface without problem. But loading from GraphQL-codegen still falling down.

[2020-07-22 12:31] danielrearden commented on #4381
@greenteamer Sorry for the late reply. This does appear to be a server-side issue in your case but it's not really clear what exactly has gone wrong since that's a pretty generic message we're getting from the server.

FWIW, here's the curl equivalent of the introspection query codegen is sending:

[code]

[2020-07-22 12:31] danielrearden commented on #4381
@tonypee Please share your config if you still need help debugging.

[2020-07-22 13:13] tonypee commented on #4381
Ill make a seperate ticket - 2 mins!

[2020-07-22 13:20] tonypee opened #4411 ""Schema must contain uniquely named types but contains multiple types named" Error"
Im getting the error: "Schema must contain uniquely named types but contains multiple types named "Transform"."
When as far as i can tell there is only a single interface called 'Transform'

I get this when loading it from the remote server, or when parsing local schema

Schema: https://gist.github.com/tonypee/836877757dbbe9d519b796815c98f376

SDL: https://gist.github.com/tonypee/24fa9a5b2eef5ceeb

[2020-07-22 13:39] dotansimha commented on #4411
Hi @tonypee !
Can you please share a reproduction in a codesandbox? I couldn't reproduce it... (we have a template here: https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template
 )

[2020-07-22 13:42] dotansimha commented on #4399
@trompx can you please share a live reproduction? We really don't know what caused that error, or what was the stacktrace.
We have a template here: https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template

[2020-07-22 13:43] dotansimha commented on #4403
Thank you for reporting it @TimonVS !
The `typed-document-node` plugin (and library) is fairly new, we are working to improve and stabilize it now.

[2020-07-22 13:48] dotansimha commented on #4368
@NateScarlet You are right, thank you for reporting it.

[2020-07-22 14:05] dotansimha commented on #4368
@NateScarlet I pushed a fix in this PR: https://github.com/dotansimha/graphql-code-generator/issues/4368
You can use the alpha version `1.17.4-alpha-b439b445.0` for now, we'll release a stable version soon.

[2020-07-22 15:03] timbonicus opened #4413 "Empty interface causes Syntax Error: Expected Name, found "}""
**Describe the bug**
Declaring an empty interface in the GraphQL schema causes an error with codegen:

[code]

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/nameless-architecture-91unl?file=/schema.graphql

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
An empty TypeScript interface is created.

**Environment:**

- Codes

[2020-07-22 15:18] ardatan commented on #4413
I think `interface Photo {}` is not valid for the spec but `interface Photo` without `{}` is valid.

[2020-07-22 15:27] timbonicus commented on #4413
@ardatan Interesting, from [graphql-spec](http://spec.graphql.org/draft/#sec-Interfaces.Type-Validation):

That seems to imply that either of these is invalid. graphql-java doesn't seem to have a problem with it, I don't know about other GraphQL servers.

[2020-07-22 16:13] danielrearden commented on #4413
@timbonicus This is working as expected. There's a difference between _semantically_ and _syntactically_ invalid definitions. The syntax for an interface is:

<img width="592" alt="Screen Shot 2020-07-22 at 11 57 13 AM" src="https://user-images.githubusercontent.com/18018864/88199359-c1bba800-cc12-11ea-8f88-223f387143c8.png">

where `FieldsDefinition` is optional. If it *is* provided, though, it h

[2020-07-22 16:13] #4413 closed

[2020-07-22 16:46] timbonicus commented on #4413
Thanks for the thorough explanation, @danielrearden. Makes total sense, it seems as though graphql-java is in the wrong here; both syntaxes are accepted but the schema introspection always returns the invalid result (`fields: []` rather than null).

[2020-07-23 03:05] tonypee commented on #4411
Hey! thanks for the quick reply. Codesanbox doesnt seem to be working for me (doesnt want to start) - but i downloaded the template, and changed the schema.

[dotansimha-graphql-code-generator-issue-sandbox-template.zip](https://github.com/dotansimha/graphql-code-generator/files/4963662/dotansimha-graphql-code-generator-issue-sandbox-template.zip)

When i try to start the project (npm run start) i

[2020-07-23 04:44] tonypee commented on #4411
It seems that the issue is with the SDL file. I downloaded it via the GraphQL inspector download button - that doesnt seem to work with this lib. If i use apollo client:codegen to get it - it works. I need to figure out how to get this lib to load the SDL i guess

[2020-07-23 08:19] hrzwkstim01 opened #4418 "Querying interfaces generates wrong typenames"
**Describe the bug**
Queries for interfaces do not have to correct typename.
If you have an Interface, e.g. `Person`, which is used by a type, e.g `Actor`, querying `Person` will resolve into typenames with `Actor`.

**Actual Output**
[code]

**Expected Output**
[code]

**To Reproduce**
Use the schema, operations and config at [live-example](https://graphql-code-generator.com/)
Sandbox doesn't see

[2020-07-23 08:34] danielrearden commented on #4418
Hi @hrzwkstim01. Thanks for opening an issue.

This is working as expected. `__typename` will always resolve to the name of the actual object type returned at runtime. It can never return the name of an abstract type. So if you have a `Person` interface that's extended by `Actor` or `Director`, when querying a field that returns a `Person`, the `__typename` will always be either `Actor` or `Direct

[2020-07-23 08:34] #4418 closed

[2020-07-23 09:00] hrzwkstim01 commented on #4418
@danielrearden
Thanks for the rapid answer and explanation!

I was expecting that abstracted classes can also be resolved.
For instance, the `neo4j-graphql` library is treating queries/mutaiton with interfaces the same as with types, resulting to have `Actor` or `Director` nodes also to have a label of `Person`.
That way I can easily query for the union of Actors and Directors via Person.

That ha

[2020-07-23 12:33] dotansimha commented on #3968
Thanks, @FredyC , let's keep this open until we'll have a complete solution.

[2020-07-23 12:50] dotansimha commented on #4403
Thanks again for reporting it, @TimonVS !
I fixed it (and actually, refactored the plugin to be more flexible and easier to integrate with other configurations) in: https://github.com/dotansimha/graphql-code-generator/pull/4419

Alpha is available: `1.17.4-alpha-b570ec6c.0`, I tested it with your reproduction and it seems to work correctly!

[2020-07-23 12:52] dotansimha commented on #4411
You can always point codegen directly to your GraphQL endpoint. But it seems a bit weird that something is wrong with the downloaded schema, did you check the diff?
Btw, did you mean you downloaded it from GraphiQL? because I don't know of any [graphql-inspector](https://github.com/kamilkisiela/graphql-inspector) download button...

[2020-07-23 13:10] dotansimha commented on #4403
Fixed in `v1.17.4`

[2020-07-23 13:10] #4403 closed

[2020-07-23 13:11] dotansimha commented on #4368
Fixed in `v1.17.4`

[2020-07-23 13:11] #4368 closed

[2020-07-23 13:11] dotansimha commented on #4346
Fixed in `v1.17.2`

[2020-07-23 13:11] #4346 closed

[2020-07-23 13:11] dotansimha commented on #4089
Fixed in `v1.17.4`

[2020-07-23 13:11] #4089 closed

[2020-07-23 13:33] dotansimha commented on #4381
@greenteamer any update? :)

[2020-07-23 15:02] FredyC commented on #3968
@dotansimha Solution is simple, but I need someone to decide what is the "correct behavior". Apparently, it was intended to ignore `typesPrefix` for some reason.

[2020-07-24 07:36] capaj opened #4426 "GraphQLError: Syntax Error: Unexpected <EOF> when a file only contains commented out query/mutation"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
just run codegen

1. My GraphQL schema:
doesn't matter

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:
doesn't matter
**Expected behavior**
no error

**Environment:**

- OS: ubutnut
- `@graphql-codegen/...`: 1.17.4
- NodeJS: 12

**Additional context**

commenting out a query/mutation should not caus

[2020-07-24 09:24] dotansimha commented on #4426
Thank you for reporting this @capaj!
I guess we should try to check if it's possible to parse files and allow empty files in some cases.
@ardatan what do you think? is it something we can apply to the `graphql-tools` loaders?

[2020-07-24 19:04] MrDesjardins commented on #4373
Hello,

Let's step back.

Engineer 1 working on project A
Engineer 2 working on project B

The project A has in the codebase has a GraphQL file with
[code]
It compiles, it is legit. It's GraphQL.

The project B has in the codebase has a GraphQL file with
[code]

At that point, both projects compile. It is totally legit.

We combine both types from project A and B together to have a Graph of both s

[2020-07-26 09:09] dotansimha commented on #4373
I see, and I understood your example, but it's just incorrect.

Combining these two enums:

[code]

Will create this enum:

[code]

Also, in GraphQL SDL, the `=` form isn't a valid way to declare an enum (`Syntax Error: Expected Name, found "=".
`), so I'm not sure how it works.

Which is an error, because `Field1` is a duplicate key. If the *keys* of enum are duplicated, it's an error. I guess yo

[2020-07-27 12:34] ardatan commented on #4426
@capaj @dotansimha  Instead of having an additional step on graphql-tools, I think graphql-js should return an empty `DocumentNode` instead of this unreadable error. Do you agree?

[2020-07-27 12:36] dotansimha commented on #4426
@IvanGoncharov what do you think?
I think @ardatan is right, and `graphql-js` should parse empty strings (or, semi-empty strings, like in this example) as `DocumentNode` with zero `definitions`. Otherwise it makes is very hard for tools to detect this kind of input.

[2020-07-27 13:02] danielrearden commented on #4426
@dotansimha @ardatan  I think this is related to https://github.com/graphql/graphql-js/issues/2241 and could probably done as part of that work. Even if we upstream this to `graphql-js`, though, it means anyone needing the fix will need to update to `graphql@16` or whatever version it ends up being. In the meantime, would it be sufficient to just do something like this?

[code]

[2020-07-27 16:56] MrDesjardins commented on #4373
My example is auto-generated. It might be "incorrect", but the merge of the enum is creating that duplication of keys.

Here is a reproduction test.

Run :
[code]
Open the file types.d.ts and scroll to line 13:

![image](https://user-images.githubusercontent.com/1014796/88569352-2dc15600-cfef-11ea-95f9-5717ad0842a8.png)

The

[code]

Is fixing the issue. Might want to add some documentation for th

[2020-07-28 06:45] liaoliaojun opened #4444 "[typescript-vue-apollo] has no exported member `UseMutationOptionsWithVariables`"
**Describe the bug**

 Error：has no exported member `VueApolloComposable.UseMutationOptionsWithVariables`
![image](https://user-images.githubusercontent.com/22748955/88632917-df8f7e00-d0e6-11ea-9c51-e12d1555cc1e.png)

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

[2020-07-28 15:35] SimenB commented on #3695
With #3706, #4436, #4437, #4447, #4448 all applied locally my work project successfully compiles with `importsNotUsedAsValues: error` config 🎉 There's probably loads of other plugins/presets that we don't use that also should be updated, but it's fairly straightforward to do

[2020-07-28 16:52] melissag commented on #4303
Any update you can share on this issue?  This is blocking the upgrade of my team's codegen dependencies.

[2020-07-28 17:00] yuhanz opened #4450 "Doesn't work with federated schema"
Try this schema with graphql federation:
https://github.com/apollographql/federation-jvm/blob/master/spring-example/src/main/resources/schemas/inventory.graphql

`graphql-inspector diff /tmp/inventory.graphql /tmp/inventory.graphql`

This resulted in the following error:
[code]

graphq-inspector version 2.1.0

[2020-07-28 17:10] ardatan commented on #4450
How is that related to GraphQL Code Generator?

[2020-07-28 17:16] yuhanz commented on #4450
sorry.. I posted at the wrong project.

[2020-07-28 17:16] #4450 closed

[2020-07-29 07:50] ardatan commented on #4303
@melissag You can use glob patterns like `**/*.graphql` by disabling import for now if it is urgent.

[2020-07-29 15:46] melissag commented on #4303
@ardatan I don't think I follow.  For one, I'm not seeing`noGraphQLImport` as an available option: https://graphql-code-generator.com/docs/getting-started/codegen-config; but beyond that, I can't see how disabling import is a tenable option for us.  As called out in the original description, we need the ability to decompose into multiple component files.  But, perhaps I'm missing something in your

[2020-07-30 00:00] danielrearden commented on #4303
Sorry for the confusion @melissag. The option is actually named `skipGraphQLImport`. It's an option that's passed down to the underlying `graphql-tools` library so it's not explicitly called out in the generated documentation. We should definitely make sure we mention it somewhere though. Here's an example usage

[code]

With `skipGraphQLImport` set to `false`, codegen supports the `#import` synta

[2020-07-30 11:34] greenteamer commented on #4381
@danielrearden thank's a lot! I will try soon!

[2020-07-30 16:40] melissag commented on #4303
Thanks so much for this detailed response @danielrearden!

While I haven't yet been able to get the glob + `skipGraphQLImport` pattern to work, I understand the approach now and believe that it's the complex dependency graph in our project that's causing it to fail, since the order in which the `.graphql` files must be combined is very specific (at least, it is with the way they are defined today)

[2020-07-31 08:23] trompx commented on #4399
Hello @dotansimha,
I'm sorry I had to debug this quickly, the cause of the error was an undefined token variable in the codebase.
Apart from that, I had another unclear message (can't remember sorry) but all others were pretty clear. If I have new ones, I'll make sure to create a live reproduction.
I leave this open in case others have similar issues.

[2020-07-31 16:06] RoyBkker opened #4465 "[typescript-react-apollo] ReactApolloVersion3: Multiple Namespace has no exported members."
**Describe the bug**
When generating, i get this error message:
[code]
And when scrolling down, there are multiple errors as well. See sandbox please.

**To Reproduce**
Steps to reproduce the behavior:

See the behaviour, environment settings and bug in the sandbox below.
https://codesandbox.io/s/divine-darkness-fz5nq?file=/types.tsx:1972-2099

**Expected behavior**
It should generate the file wit

[2020-07-31 17:13] justono1 opened #4466 "[typescript-react-apollo] @apollo/client/index has no exported member MutationComponentOptions"
**Describe the bug**
When running `graphql-codegen` there is no error produced in the console. The bug appears when I implement one of the MutationHooks that are supplied by the generated code  from the `typescript-react-apollo` plugin.

I am migrating my codebase over to use Apollo Client 3.0. Prior I was using Apollo 2.6 and Graphql Codegen 1.11.2 and this mutation was being output correctly.

*

[2020-08-01 11:38] RoyBkker commented on #4465
Whooo. My bad. I misread some config settings with default values for withComponent and withHOC...

[2020-08-01 11:38] #4465 closed

[2020-08-01 11:39] RoyBkker commented on #4466
Try adding
            withComponent: false
            withHOC: false
in config

[2020-08-02 06:32] cloudever opened #4471 "Duplicate Omit identifier when using index.ts re-export"
There is two or more files generated in same folder using `near-operation-file` preset, and when re-exporting them using index.ts with following manner:
[code]
I have to face with typescript error: `Module "./entityA.generated.graphql" has already exported a member named 'Omit'. Consider explicitly re-exporting to resolve the ambiguity.`

I found that type `Omit` force exported from all typescript

[2020-08-02 11:28] dotansimha commented on #4471
Hi @cloudever !
Which version of codegen do you use? which plugins do you use?

[2020-08-02 11:31] dotansimha commented on #4466
I think @RoyBkker is right :)
We are also working on stabilising codegen output to support apollo-client 3 without any configuration.

[2020-08-02 11:31] dotansimha commented on #4444
Fixed in `v1.17.7`.

[2020-08-02 11:31] #4444 closed

[2020-08-02 11:32] dotansimha commented on #3695
Available in most plugins since `v1.17.7`. Thanks @SimenB !

[2020-08-02 11:32] #3695 closed

[2020-08-02 14:48] dotansimha commented on #4411
@tonypee  ?

[2020-08-03 04:54] cloudever commented on #4471
The package list:
[code]

[2020-08-03 06:47] tonypee commented on #4411
Hey - thanks for the replies.
I mean in the graphql explorer - you can click a button in the top right:
![image](https://user-images.githubusercontent.com/3086901/89153785-f29fc380-d5a8-11ea-87f5-5ba1dca2d6d0.png)

Dont worry - ill just do things a differernt way! just my luck that the way i tried first doesnt work ;P
thanks again

[2020-08-03 06:47] #4411 closed

[2020-08-03 12:40] dotansimha opened #4474 "Break the versioning chains"
Soon, codegen will move to use better versioning model, by allowing plugins to be versioned separately. We plan to use https://github.com/atlassian/changesets to manage the changes and versioning, and publish plugins using that tool.
It means that breaking changes in plugin output, or breaking changes in plugins configuration will be reflected by *major* version. New features and config flags will

[2020-08-03 12:43] paales commented on #4216
@ardatan Have you had time to take a look? Would _really_ love got get this to work if at all possible. :)

[2020-08-03 14:01] justono1 commented on #4466
@RoyBkker @dotansimha this did work!

I appreciate both of your responses! I look forward to future updates for Apollo Client 3 keep up the great work on this project!

[2020-08-03 14:29] pramodsvidyarthi opened #4486 "unused base types from operations.ts file in generated hooks"
**Describe the bug**
when using typescript-urql plugin along with import-types preset the generated hooks are not using the base types from the generated operations.ts file

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
the generated hooks.ts file must use the imported base types from the operations.ts file

**Envi

[2020-08-03 14:50] dotansimha commented on #4466
Progress for migration this plugin to AC3 by default: https://github.com/dotansimha/graphql-code-generator/pull/4487

[2020-08-03 14:53] dotansimha commented on #3666
Revered long time ago. We can close this.

[2020-08-03 14:53] #3666 closed

[2020-08-03 16:00] Eddman commented on #4393
I can see there is difference between my code generated with `"graphql": "^14.7.0",` and `"graphql": "^15.3.0",`. Since I've upgraded my project GQL Schema is completely reshuffled and comments are suddenly not `null`, but `""`.

When I downgrade back to `"graphql": "^14.7.0",` the generated schema is fixed again :man_shrugging:

So my suspicion is that the problem is in `graphql` itself.

[2020-08-03 16:45] dotansimha commented on #3767
I fixed it in https://github.com/dotansimha/graphql-code-generator/pull/4487 , also v3 of Apollo-Client and Hooks should be generated by default now. @huv1k can you please try the alpha version? it's `1.17.8-alpha-f79b3113.0`

[2020-08-03 16:46] dotansimha commented on #4278
I fixed it in https://github.com/dotansimha/graphql-code-generator/pull/4487 , also v3 of Apollo-Client and Hooks should be generated by default now. can you please try the alpha version? it's `1.17.8-alpha-f79b3113.0`

[2020-08-03 16:46] dotansimha commented on #4374
I fixed it in https://github.com/dotansimha/graphql-code-generator/pull/4487 , also v3 of Apollo-Client and Hooks should be generated by default now. alpha version available if someone want to try it `1.17.8-alpha-f79b3113.0`

[2020-08-03 17:10] dotansimha commented on #4474
Available now.
Example: https://github.com/dotansimha/graphql-code-generator/releases/tag/%40graphql-codegen%2Ftypescript-react-apollo%402.0.0

[2020-08-03 17:10] #4474 closed

[2020-08-03 17:10] dotansimha commented on #4374
Available in `@graphql-codegen/typescript-react-apollo@2.0.0` 🎉

[2020-08-03 17:10] #4374 closed

[2020-08-03 17:10] dotansimha commented on #4278
Available in `@graphql-codegen/typescript-react-apollo@2.0.0` 🎉

[2020-08-03 17:10] #4278 closed

[2020-08-03 17:10] dotansimha commented on #3767
Available in `@graphql-codegen/typescript-react-apollo@2.0.0` 🎉

[2020-08-03 17:10] #3767 closed

[2020-08-03 19:55] MrDesjardins commented on #4373
I just found out that I forgot to push the repository with the reproduction:

https://github.com/MrDesjardins/code-gen-duplicate

[code]

[2020-08-03 20:09] nikolaik opened #4492 "Bug: gql import with typescript-react-apollo@2.0.0"
**Describe the bug**

Tested `@graphql-codegen/typescript-react-apollo@2.0.0` to get latest apollo client v3 fixes. This introduced a bug in the generation of the gql import:
[code]

**To Reproduce**
Steps to reproduce the behavior:

Visit https://codesandbox.io/s/small-sea-se072?file=/types.tsx

**Expected behavior**
[code]

[2020-08-03 21:32] rherber opened #4493 "TypeScript Resolvers - Apollo Federation Broken"
**Describe the bug**
Upgraded from 1.16.3 to 1.17.7 and all resolvers resolving a federated type broke.

**To Reproduce**
Steps to reproduce the behavior:
Attempt to compile TypeScript files using generated types and resolvers.

1. My GraphQL schema:

Schema from service 1
[code]

Schema from service 2
[code]

2. My GraphQL operations:

N/A. Issue is on TypeScript compilation

3. My `codegen.yml`

[2020-08-03 21:40] rherber commented on #4493
https://github.com/dotansimha/graphql-code-generator/pull/4232 seems to be the PR that broke my situation

[2020-08-03 22:13] zeidlos commented on #4493
We have the same issue, coming from 1.17.4

[2020-08-03 22:24] Pytal opened #4494 "Align TypeScript Urql plugin with React Apollo"
In [TypeScript React Apollo v2.0](https://github.com/dotansimha/graphql-code-generator/releases/tag/%40graphql-codegen%2Ftypescript-react-apollo%402.0.0) React Hooks are generated by default and Components are not.

Hooks should be generated by default with TypeScript Urql as well to maintain consistency.

[2020-08-03 23:16] DouglasGabr commented on #4493
Same issue here, had to revert to v1.17.3 until this issue is solved. IMO https://github.com/dotansimha/graphql-code-generator/pull/4232 needs to be reverted and fixed to only apply the `@key` logic in extended types from other services, I'm not sure if that's possible tho

[2020-08-04 05:33] dotansimha commented on #4494
Thanks @Pytal , but can you please explain why it's needed?
In Apollo-Client v3, the Component and HOC approaches are deprecated, while in Urql it isn't. That's the reason we changed it and published major version for it.
I think we can enable `withHooks` by default, but maybe we can keep the rest to avoid the breaking change, because it's not needed.

[2020-08-04 05:36] dotansimha commented on #4492
Thank you for reporting it, working on a fix now :)

[2020-08-04 05:47] dotansimha commented on #4492
Fixed in 2.0.1 :)

[2020-08-04 05:47] #4492 closed

[2020-08-04 05:50] dotansimha commented on #4493
@jakeblaxon any idea why it happens? it seems like the changes we recently merged in https://github.com/dotansimha/graphql-code-generator/pull/4232 causes it.

[2020-08-04 05:51] dotansimha commented on #4471
Thanks @cloudever . Marking it as `enhancement` because it's not a direct issue with the plugin or preset.

[2020-08-04 07:21] jakeblaxon commented on #4493
It looks like @DouglasGabr pinpointed the issue. The requires/key logic should only apply to extended parent types (i.e. types from external schemas), but it's being applied to non-extended types as well. This is because the if statement in the `transformParentType` method in `packages/utils/plugins-helpers/src/federation.ts` only checks if the parent type contains a key directive. @dotansimha do

[2020-08-04 07:38] SimenB opened #4499 "v2 apollo-react plugin enforces tsx by default"
**Describe the bug**

https://github.com/dotansimha/graphql-code-generator/releases/tag/%40graphql-codegen%2Ftypescript-react-apollo%402.0.0 says `withComponent: false` is the default behavior, but that forces the generated file to be `tsx` instead of `ts`.

https://github.com/dotansimha/graphql-code-generator/blob/8f31a9a9d74f556975e5bdb3c92dc8da8a578be6/packages/plugins/typescript/react-apollo/s

[2020-08-04 07:43] dotansimha commented on #4499
Thanks @SimenB ! I guess we need to validate extensions based on configuration provided. I will look into it :)

[2020-08-04 07:47] SimenB commented on #4499
Flipping to only enforcing `tsx` if `withComponent: true` should fix it, I believe 🙂

[2020-08-04 08:09] SimenB opened #4500 "`Apollo.gql` import of react apollo v2 plugin not picked up by prettier"
**Describe the bug**
V2 outputs `Apollo.gql` instead of just `gql`, which means prettier no longer formats the snippets.

**To Reproduce**
Steps to reproduce the behavior:

I don't believe a repro is necessary, but I can put one together if you need one

[2020-08-04 08:10] dotansimha commented on #4499
@SimenB can you please try `@graphql-codegen/typescript-react-apollo@2.0.2-alpha-e78a37d8.0`?

[2020-08-04 08:18] dotansimha commented on #4500
@SimenB can you try to alias it and use `gql` as is? (`const gql = Apollo.gql`) I think `prettier` is hardcoded for `qql` tag, without namespaces.
I can add the aliasing to the generated output. The reason it's there is because we wanted to unify all imports from `@apollo/client` to a single one.

[2020-08-04 08:36] SimenB commented on #4500
Yeah, aliasing should work out 👍

[2020-08-04 09:12] Zn4rK commented on #4393
I'm seeing the same thing as @Eddman described. I've tested this with two different GraphQL-implementations. One is based on https://github.com/99designs/gqlgen and one on https://graphene-python.org/.

Both produce the same thing when using `graphql@15.3.0`, but it looks normal when `graphql@14.7.0` is used.

[2020-08-04 09:19] dotansimha commented on #4500
@SimenB I gave it a try by doing `const gql = Apollo.gql;` and use the `gql` tag as-is. IDE seems to respond good to that change, I guess prettier will be fine as well.

Can you please try the alpha? `@graphql-codegen/typescript-react-apollo@2.0.2-alpha-48409861.0`

[2020-08-04 09:23] SimenB commented on #4500
The alpha generates properly prettified code for me, thanks!

[2020-08-04 09:24] SimenB commented on #4499
Yeah, that alpha works great!

[2020-08-04 10:54] jejacobsendev opened #4504 "typescript-react-apollo plugin generating incorrect imports for apollo client 3"
Using the typescript-react-apollo plugin generates imports that do not work with apollo client 3. I have to use config like so
[code]
to force it to use the correct imports.

Also, the docs say that withComponent and withHOC have a default value of false and that withHooks has a default value of true.
However, these are all opposite. Of course, I can manually change all of these to make it work. B

[2020-08-04 11:06] jejacobsendev commented on #4504
Nevermind. I see that I need to just upgrade to typescript-react-apollo@2.0.0.

[2020-08-04 11:06] #4504 closed

[2020-08-04 11:12] dotansimha commented on #4504
@jejacobsendev please use `@graphql-codegen/typescript-react-apollo@2.0.4`. Default configuration (without any override) should be 100% compatible with Apollo Client v3 and have the output you mentioned (only hooks, no component, no hoc).

[2020-08-04 11:16] dotansimha commented on #4500
Fixed in `@graphql-codegen/typescript-react-apollo@2.0.4`

[2020-08-04 11:16] #4500 closed

[2020-08-04 11:16] dotansimha commented on #4499
Fixed in `@graphql-codegen/typescript-react-apollo@2.0.4`

[2020-08-04 11:16] #4499 closed

[2020-08-04 14:08] dotansimha commented on #4466
Fixed in v2 of this plugin.

[2020-08-04 14:08] #4466 closed

[2020-08-04 14:10] dotansimha commented on #4309
Fixed `@graphql-codegen/time@1.17.8`

[2020-08-04 14:10] #4309 closed

[2020-08-04 14:19] dotansimha commented on #3595
This one was fixed a long time ago :) using `Exact` wrapper.

[2020-08-04 14:19] #3595 closed

[2020-08-04 14:20] #3512 closed

[2020-08-04 15:25] kamilkisiela commented on #4366
@MarcusRiemer  @yannickpschroeder #4508 Could you confirm it works?

[2020-08-04 15:43] dotansimha commented on #2578
@n1ru4l had some time today, and I wanted to fix that for a long time :D  Also, we can now bump version of plugins without bump everything, so we can easily introduce breaking changes in plugins as well.

Fixed it in:

[2020-08-04 16:12] dotansimha commented on #4381
Closing for now. @greenteamer if you are still having issues, let me know and I'll reopen.

[2020-08-04 16:12] #4381 closed

[2020-08-04 16:12] dotansimha commented on #4399
Closing. Thanks for the update @trompx !

[2020-08-04 16:12] #4399 closed

[2020-08-04 16:14] dotansimha commented on #1777
`TypedDocumentNode` (https://github.com/dotansimha/graphql-typed-document-node) and a supporting plugin available now :)

[2020-08-04 16:14] #1777 closed

[2020-08-04 16:18] dotansimha commented on #1871
Supported now with most IDEs :)

[2020-08-04 16:18] #1871 closed

[2020-08-04 16:20] dotansimha commented on #2084
I think we can close this one. Output path is super flexible and if someone want to build this into a package, you can do that easily.

[2020-08-04 16:20] #2084 closed

[2020-08-04 16:23] dotansimha commented on #2400
`DocumentMode` has `string` now. we can close this one :)

[2020-08-04 16:23] #2400 closed

[2020-08-04 16:26] dotansimha commented on #2632
It can be done now with `optionalInfoArgument: true` (in recent versions)

[2020-08-04 16:26] #2632 closed

[2020-08-04 16:28] dotansimha commented on #2616
Available long time ago, we can close this one :)

[2020-08-04 16:28] #2616 closed

[2020-08-04 16:29] dotansimha commented on #2646
Closing. This can be done using configuration (`maybeValue`) and if you need to add imports, you can use `add` plugin.

[2020-08-04 16:29] #2646 closed

[2020-08-04 16:30] dotansimha commented on #2656
You can do it now, because codegen will use `require`. Just add `noPluck` and it will do `require` automatically and load the file from there.

[2020-08-04 16:30] #2656 closed

[2020-08-04 16:34] dotansimha commented on #3417
@mjeffryes You are right, and that's the exact output we have today. The generated TS type for GraphQL `interface` doesn't have `__typename`, and the implementing types does have.

I'm closing this one. It's been around for a long time, and I think we are not going to intentionally change that soon. We are always open for additional configuration flags and customizations, so if someone have a good

[2020-08-04 16:34] #3417 closed

[2020-08-04 16:36] dotansimha commented on #3287
Website and docs includes docs for it now :)

[2020-08-04 16:36] #3287 closed

[2020-08-04 16:37] dotansimha commented on #2790
We updated the website with more docs, examples, live demo and getting started sections. cli also has `init` command that should help.
Closing :)

[2020-08-04 16:37] #2790 closed

[2020-08-04 16:38] dotansimha commented on #4000
Closing. @andreyvital if it's still relevant, please let me know, we need a reproduction.

[2020-08-04 16:38] #4000 closed

[2020-08-04 16:39] dotansimha commented on #3574
This was merged a long time ago :) we can close.

[2020-08-04 16:39] #3574 closed

[2020-08-04 18:08] ianmartorell commented on #3246
@ardatan Aha! The styling in the [documentation](https://graphql-code-generator.com/docs/plugins/typescript)'s code blocks made it seem like `#upperCase` was a comment.

[2020-08-04 20:10] dotansimha commented on #2657
Let's track in: https://github.com/dotansimha/graphql-code-generator/issues/3836

[2020-08-04 20:10] #2657 closed

[2020-08-04 20:30] CarsonF opened #4511 "Migration from react-apollo to typed-document-node"
**Is your feature request related to a problem? Please describe.**
Looking at migrating from react-apollo plugin to typed-document-node (which looks awesome).
These plugins are not compatible with each other because both generate gql documents.
Thus I cannot gracefully migrate my codebase from the apollo generated hooks to the generic hook with document.

**Describe the solution you'd like**
Some

[2020-08-04 23:31] Ash-kosakyan opened #4513 "Please, can you add the possibility for providing SDKClass in ngModule."
https://github.com/dotansimha/graphql-code-generator/blob/b9113dafee1874c881e8e140b11406c2b8c633fa/packages/plugins/typescript/apollo-angular/src/visitor.ts#L309

[2020-08-05 00:13] bauwaerter commented on #2726
I could be misunderstanding your issue, but can't you add all your generated files to a .prettierignore?

[2020-08-05 00:17] bauwaerter commented on #2726
I could be misunderstanding your issue, but couldn't you add all your generated files to a .prettierignore file?

[2020-08-05 06:16] dotansimha commented on #4513
@kamilkisiela is it something we can do before releasing the new version?

[2020-08-05 06:18] kamilkisiela commented on #4513
We can do that

[2020-08-05 06:18] dotansimha commented on #4511
Thanks @CarsonF !
I will look into it. I think we can use the new internal context we recently added, to avoid generating documents multiple times.

[2020-08-05 06:58] kamilkisiela commented on #4513
#4507 done <3

[2020-08-05 08:00] Ash-kosakyan commented on #4513
Hey, now everyone is happy ))))

[2020-08-05 10:21] YvanGuidoin opened #4515 "Unused gql import on typescript-react-apollo@2.0.4 with external documents"
**Describe the bug**
The update on gql import from @apollo/client package generates `const gql = Apollo.gql` unused on every file, as we import graphql files through webpack.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/graphql-codegen-bug-reproduce-kpbp6?file=/src/document.generated.tsx

1. My GraphQL schema:

Irrelevant

2. My GraphQL operations:

Irrelevant

3. M

[2020-08-05 11:30] dotansimha commented on #4515
@YvanGuidoin I fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/4516
Can you please try the alpha? `@graphql-codegen/typescript-react-apollo@2.0.5-alpha-f716e443.0`

[2020-08-05 11:32] dotansimha commented on #4494
I was thinking some more on this, and decided to align to the recomended form of using `urql`. In the upcoming major version of this plugin, it will use `withHooks: true, withComponent: false` by default.
Thanks @Pytal

[2020-08-05 11:54] YvanGuidoin commented on #4515
@dotansimha the alpha fixes the issue, thanks for the quick resolve

[2020-08-05 12:57] dotansimha commented on #4515
Fix available in `@graphql-codegen/typescript-react-apollo@2.0.5`.

[2020-08-05 12:57] #4515 closed

[2020-08-05 12:57] dotansimha commented on #4494
Fixed in `@graphql-codegen/typescript-urql@2.0.0`.

[2020-08-05 12:57] #4494 closed

[2020-08-05 12:57] dotansimha commented on #4366
Fixed in `@graphql-codegen/typescript-apollo-angular@2.0.0`.

[2020-08-05 12:57] #4366 closed

[2020-08-05 12:57] dotansimha commented on #2578
Fixed in `@graphql-codegen/add@2.0.0` (also for `time` plugin)

[2020-08-05 12:57] #2578 closed

[2020-08-05 12:58] dotansimha commented on #4513
Fixed in `Fixed in `@graphql-codegen/typescript-apollo-angular@2.0.0`.`

[2020-08-05 12:58] #4513 closed

[2020-08-05 15:55] gajus opened #4522 "Add a way to suffix all Flow generated types"
**Is your feature request related to a problem? Please describe.**

Feature request.

**Describe the solution you'd like**

I would like to specify a common prefix for all generated types.

**Describe alternatives you've considered**

N/A

**Additional context**

The current generated types appear as literal names in GraphQL schema, e.g.

[code]

Our coding guidelines require that all types are su

[2020-08-05 16:49] Gsandec opened #4523 "Your Pull Requests includes issues"
**Pull Requests Issues**
I've forked your repo (congrats on your project) and implemented a code review tool to check a few pull requests and found a couple issues in seconds.

This maybe useful for your project. Free for open source!
(mind that you and your contributors can see comments on code reviews directly inside your GitHub Pull requests!)

Disclaimer: I work at [Codacy](https://www.codacy.

[2020-08-05 16:53] gajus commented on #4522
The logic required to implement this is sketchy, e.g. `Args` seems to be hardcoded, and it is appended outside of `convertName` function.

https://github.com/dotansimha/graphql-code-generator/blob/1980230d062ebd86a6b7660aef847b144cf41363/packages/plugins/other/visitor-plugin-common/src/base-types-visitor.ts#L538

[2020-08-05 17:07] Pytal commented on #4494
Thanks @dotansimha!

I was questioning my initial decision as well after you mentioned that it would be a breaking change.

Although since the React ecosystem is moving away from both Component and HOC libraries and more towards Hooks I do believe this is a modernization that is warranted. I think the Apollo team were thinking along these lines as well.

[2020-08-06 06:04] dotansimha commented on #4523
Thank you @Gsandec ! We'll give a try.
Btw, no need to scan `dev-tests`, it's just development tests for checking the output of plugins. ;)

[2020-08-06 06:04] #4523 closed

[2020-08-06 08:20] borekb opened #4528 "'Add' plugin adds an empty line"
I'm constructing a `schema.graphql` file with the AST plugin and also want to add a comment to the top. This is from my `codegen.yml`:

[code]

Besides prepending the content, it also appends an empty line which feels like a bug to me:

![Screenshot 2020-08-06 at 10 17 13](https://user-images.githubusercontent.com/101152/89508485-463f2680-d7ce-11ea-9968-a4c29249b13b.png)

[2020-08-06 13:45] toriningen opened #4529 "Mappers are not used for interface types"
**Describe the bug**
I have been migrating my code from `typescript-resolvers@1.9.1` to `typescript-resolvers@1.17.7`, and have noticed that v1.9.1 applies mappers to interfaces (which is behavior that I would expect), while 1.17.7 does not — instead, it expands types implementing interface, and it breaks my types.

I expect `ResolversParentTypes['User']` to be `User: UserParent` in accordance to

[2020-08-06 14:06] elge70 opened #4530 "gql import"
When typescript code is generated, there is a duplicate defn of gql which is giving me compilation error

My config file is attached.

[code]

`codegen.yml`
[code]

[2020-08-06 16:21] lensbart commented on #3417
@dotansimha I’m not sure that @mjeffryes’ example is the output we have today. Taking his example, I get an output that is analogous to

[code]

instead of

[code]

Because of this, the `__typename` fields which are present on `BarA` and `BarB`, are missing in the value of `bar` inside `Foo`.

Would it be possible to explicitly include all implementations of an interface wherever an interface is u

[2020-08-06 17:28] nihalgonsalves opened #4532 "Single fragment files are generated without a `gql` import (problematic when combined with `near-operations-file`)"
**Describe the bug**

Generating something based on a simple fragment file, for example:

[code]

... produces an invalid [fragment file](https://codesandbox.io/s/sleepy-wilbur-x35uh?file=/fragment.gen.ts) without a `gql` import:

[code]

This is not normally a problem, since everything is output into one final TS file. However, with the `near-operations-file` preset this becomes problematic as yo

[2020-08-06 19:29] ddehghan commented on #4530
seems that new version of apollo-angualr has a built in gql that should be used.

    import {gql} from 'apollo-angular';

[2020-08-06 22:33] lensbart commented on #3417
Nevermind, as usual the problem was between the computer screen and the chair — I should have used a union instead of an interface in the GraphQL schema, in this use case.

[2020-08-07 13:03] Amareis opened #4573 "[typed-document-node] Duplicated fragments in case of nested fragments"
1. https://graphql-code-generator.com/
2. TypedDocumentNode template
2. Use this query:
[code]
4. In final code `ChatsDocument` definitions (after rest operator expanding) will includes `UserFieldsFragmentDoc` definition twice.

It's not good, since after `print` it via `graphql` package there is duplicated fragments and, i.e., apollo-server will throw an error on such queries.

Currently I use ho

[2020-08-07 18:10] cainlevy opened #4536 "support for importing mapper as default more than once"
**Describe the bug**

I am using `typescript-resolvers` with configured `mappers` to integrate my ORM entities with my API. My entities are exported from their individual files as default.

My goal now is to begin a data type migration by adding the same entity to my API in two places. However, when I try to import the single entity with two identifiers, the generated import code only imports the

[2020-08-08 21:33] devjones commented on #2869
If you're using Apollo 3, add the following to your config file.  Otherwise it is assuming you're on Apollo 2 and use the old imports.
[code]

[2020-08-10 13:24] SimenB commented on #4500
Hmm, seems this aliasing breaks `babel-plugin-graphql-tag`: https://github.com/gajus/babel-plugin-graphql-tag/blob/e76450c2cf667ebdac85dc34a0dc5d3fce64ec8c/README.md#known-issues

I think doing `import {gql} from '@apollo/client' would make both prettier and the babel plugin happy, not sure how feasible that is, tho

[2020-08-10 16:58] mlesin opened #4540 "Composition function options type for mutation generated by typescript-vue-apollo is not correct"
**Describe the bug**
Generated composition function for useMutation options type should be `UseMutationOptions<..> | ReactiveFunction<UseMutationOptions<...>>` instead of `UseMutationOptions<..>`

**To Reproduce**
Just generate a mutation function with parameters:
https://codesandbox.io/s/youthful-cerf-ebfbk

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` con

[2020-08-11 01:30] jakeblaxon commented on #4493
I've been looking into how to solve this. It seems that GraphQL doesn't preserve the `extend` keyword during introspection, so by the time we have access to the schema in the federation module, it's impossible to tell which types were originally extended (even schemas loaded from files since they pass through the `printSchema` and `parse` graphql-js methods several times beforehand).

Because of t

[2020-08-11 02:51] DouglasGabr commented on #4493
I think it solves the problem, relying on the `@external` directive seems to be a good way to distinguish between base and extended types, I can't think of any scenario this approach wouldn't work

[2020-08-11 08:51] codefo commented on #4532
Faced with the same problem, as a workaround I suggest moving your fragment to another `.graphql` file with `query` or `mutation`, it helped me.

[2020-08-11 09:24] borekb commented on #1219
@dotansimha Do you have an example how to it with generics please? I also read your [blog post](https://the-guild.dev/blog/better-type-safety-for-resolvers-with-graphql-codegen) on this but only `mappers` are used there.

[2020-08-11 12:57] #4522 closed

[2020-08-11 12:58] dotansimha commented on #4530
Working on it. Which plugins version do you use?

[2020-08-11 13:02] dotansimha commented on #4536
@cainlevy can you please explain why does it matter? I mean, if it's pointing to the same variable eventually?

You can also do:
[code]

But I think it might still import it only once (but with a custom name).

[2020-08-11 13:03] dotansimha commented on #4528
Are you using the v2 of the add plugin? or v1?

[2020-08-11 13:23] dotansimha commented on #4393
@Eddman  and @Zn4rK  are right. I think it's coming from `graphql` itself. Note that one of the changes related to it is comments implementation. In v14 it was done with `#` and then it was changed to `"` and the old method is not deprecated, but still can be turned on (for printing only) using `commentDescriptions`.

I just pushed a fix for graphql-tools to support `commentDescriptions` also whil

[2020-08-11 13:44] dotansimha commented on #4426
Latest graphql-tools is now using a wrapped method for the `parse` process, which allow empty files to be handled.
I think this should solve this issue as well.

[2020-08-11 14:04] dotansimha commented on #4530
Hi @ddehghan !

`typescript-react-apollo` and `typescript-document-nodes` doesn't play nice together, since they are conflicting and generates similar output.
The `typescript-document-nodes` already generated the pre-compiled documents for you.
The v2 of `typescript-react-apollo` should take care of the `gql` import, and you can use `documentMode: documentNode` to have a pre-compiled `DocumentNode

[2020-08-11 14:04] #4530 closed

[2020-08-11 14:05] dotansimha commented on #4532
Thank, I'm on it now :)

[2020-08-11 14:41] cainlevy commented on #4536
The reason it matters to me is because I have two GraphQL types. Yes, they are mapped to the same model type eventually, but they have different identifiers.

My workaround was to export my model type twice with different names so that I didn't rely on `#default`. That was easy once I discovered and understood the limitation. Removing the limitation could save the next developer a bit of wasted ti

[2020-08-11 14:44] borekb commented on #4528
It's v2, according to my `yarn.lock`.

[2020-08-11 15:04] dotansimha commented on #4426
Ok I can confirm that https://github.com/dotansimha/graphql-code-generator/pull/4553 fixed this issue as well.
Will be available in a new release very soon.

[2020-08-11 15:12] dotansimha commented on #4532
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/4554
@adam1658 can you please try the alpha versions from that PR?

[2020-08-11 15:18] dotansimha commented on #4528
Thanks @borekb ! I think I managed to reproduce it and fix it. Pushed to a PR with some other minor bugs: https://github.com/dotansimha/graphql-code-generator/pull/4554

[2020-08-11 15:22] dotansimha commented on #4393
I managed to reproduce it 🎉 working on a fix :)

[2020-08-11 15:54] nihalgonsalves commented on #4532
@dotansimha tried it in the sandbox and it seems to work with `@graphql-codegen/typescript-react-apollo@2.0.6-alpha-5f1ac702.0`:

https://codesandbox.io/s/sleepy-wilbur-x35uh?file=/fragment.gen.ts

[2020-08-11 16:23] dotansimha commented on #4536
I see, thanks.
Personally, I always try to avoid using default imports, since it's very hard to refactor and work with :)

I will try to find a way to fix that :)

[2020-08-11 23:05] adam1658 commented on #4532
@dotansimha I've had a bit of a look and tried `@graphql-codegen/typescript-react-apollo@2.0.6-alpha-5f1ac702.0` - it doesn't appear to break anything for me, though I use `documentMode: documentNode`.

[2020-08-12 05:26] elge70 commented on #4530
I was using the following packages
        "@graphql-codegen/cli": "^1.17.7",
        "@graphql-codegen/typescript": "^1.17.7",
        "@graphql-codegen/typescript-document-nodes": "^1.17.7",
        "@graphql-codegen/typescript-operations": "^1.17.7",
        "@graphql-codegen/typescript-react-apollo": "^2.0.5",
        "@graphql-codegen/typescript-resolvers": "^1.17.7",

But the latest version

[2020-08-12 07:22] dotansimha commented on #4532
Fixed in `@graphql-codegen/typescript-react-apollo@2.0.6`

[2020-08-12 07:22] #4532 closed

[2020-08-12 07:23] dotansimha commented on #4530
It should be fixed by `@graphql-codegen/typescript-react-apollo@2.0.6`

[2020-08-12 07:23] dotansimha commented on #4426
Fixed in latest version of our plugins. Please make sure to update cli/core to latest (`1.17.8`), it will update `@graphql-tools/` deps, and will fix that issue as well!

[2020-08-12 07:23] #4426 closed

[2020-08-12 07:24] dotansimha commented on #4528
Fixed in `@graphql-codegen/add@2.0.1`

[2020-08-12 07:24] #4528 closed

[2020-08-12 07:26] dotansimha opened #4562 "Improve `onlyOperationTypes` implementation"
Related: https://github.com/dotansimha/graphql-code-generator/issues/4373#issuecomment-658326469

[2020-08-12 07:26] dotansimha commented on #4373
@MrDesjardins I'm closing for now, opened a new ticket for tracking the improvement of `onlyOperationTypes` here: https://github.com/dotansimha/graphql-code-generator/issues/4562

[2020-08-12 07:26] #4373 closed

[2020-08-12 07:53] dotansimha commented on #4307
`skipGraphQLImport: false` is supported. We recommend to use glob expression to load all files into codegen, and not to rely on `graphql-import` syntax, since it does some checks that might cause missing types.

Docs are updated now.

[2020-08-12 07:53] #4307 closed

[2020-08-12 08:03] #4197 closed

[2020-08-12 08:13] dotansimha commented on #1219
@borekb sure. So this is an example for an output from the `typescript-resolvers` plugin:

[code]

You can apply it as-is, like that:

[code]

But, you can also override the context type using generics:

[code]

Note the 2nd generic there, you can specify the parent type manually if you know it's different. If it too strict for you (because we enforce the base using `extends` keyword), you can set

[2020-08-12 08:16] dotansimha commented on #4493
Fixed in https://github.com/dotansimha/graphql-code-generator/pull/4542 by @jakeblaxon  - thanks!
The fix is available in `@graphql-codegen/typescript-resolvers@1.17.8`

[2020-08-12 08:16] #4493 closed

[2020-08-12 08:17] dotansimha commented on #4500
@SimenB In latest version (2.0.6) I removed aliasing and went back to use the imports we had before (also, it was breaking presets...)

[2020-08-12 08:18] dotansimha commented on #2869
v2 of the `typescript-react-apollo` plugin now supports apollo-client v3 by default, and generates hooks only by default.

[2020-08-12 08:20] borekb commented on #1219
Thanks! So the parent type (`CustomParentType`) is shared between all query resolvers? Mappers customize specific types, e.g., `User` → `MyCustomUserType`, which seems more powerful.

To ask specifically, if I have these two mappers:

[code]

is it possible to get rid of this config and replace it with generics?

[2020-08-12 08:22] dotansimha commented on #1219
Yes, but then you'll have to specify it on the level of the `UserResolver` type, and specify it on the level of the usage (and not declaration). It also means that you can't use the root type `Resolvers` that we generate, because it doesn't have generic per each type there.
And you are right, `mappers` are more powerful since it's being applied in all levels, and it's on the level of declaration o

[2020-08-12 14:12] KillerCodeMonkey opened #4564 "Wrong enum types when working with number strings or number 0"
**Describe the bug**

1. when creating an enum value with number value `0` it is handle as null or not set and will result in the value-key
2. when working with number strings they are parsed as ints, which leads to wrong results

**To Reproduce**
Steps to reproduce the behavior:

1. Number 0 or String-Number  0 is not handled correctly

[code]

will result in

[code]

correct is

[code]

2. when

[2020-08-13 08:10] dotansimha commented on #4564
In our plugins, we are using the GraphQL AST, and visit the AST nodes. The current implementation of graphql-js doesn't include enum values as part of the AST, and it's allowed only if you define you schema in a programmatic way.
In codegen execution flow, we do have access to the schema itself, but I think in the process of loading it, we might lose the enums values. Only if you load your schema

[2020-08-13 09:17] nsine commented on #4529
A bit relevant to this issue. Is there any way to apply interface's base mapper to child types?
E.g. if i have
[code]
then for both `User`, `Bot`, `Human` the `UserParent` type will be used until another one is explicitly specified. Not sure if it makes sense for anyone except me though 😅 wdyt?

[2020-08-13 09:20] toriningen commented on #4529
There is no way to automatically expand interfaces from what I have seen in the source. However, you can create a separate issue and submit your own PR if you consider this feature to be useful, it doesn't seem hard to implement.

[2020-08-13 14:23] dotansimha commented on #3979
@darkbasic I think this PR also fixes your issue: https://github.com/dotansimha/graphql-code-generator/pull/4531 (since it changes the order of mapper checking, so I think it should work for unions as well).

[2020-08-13 21:16] amnpoosri opened #4576 "Generated useQuery hook throws "Unknown fragment {fragment_name}" when query includes an imported fragment"
**Describe the bug**
Generated useQuery hook throws `GraphQL error: "Unknown fragment {fragment_name}"` when query includes an imported fragment.

**To Reproduce**
The issue can be reproduced from below repo
https://github.com/amnpoosri/codegen-fragment-pokemen-issue

**Environment**
- OS: macOS Catalina 10.15.5
- @graphql-codegen/1.17.8:
- NodeJS: v14.8.0

Additional context

[2020-08-14 02:11] zenflow opened #4577 "`Exact<T>` doesn't do anything"
**Describe the bug**
The `Exact<T>` utility type that is included in generated TS code doesn't seem to do what it's intended to do. In fact it doesn't seem to do anything at all.

This example sums it up:

[code]

**To Reproduce**

[CodeSandbox Link](https://codesandbox.io/s/unruffled-stallman-b0evl)
[Playground Link](https://www.typescriptlang.org/play?ssl=1&ssc=1&pln=18&pc=1#code/C4TwDgpgBAogHgQ

[2020-08-14 05:19] KillerCodeMonkey commented on #4564
wow what a fast response!

i updated all versions:

[code]

but the result in the generated file is the same.

Just the import of `gql` changed from

`const gql = Apollo.gql;`

to

`import { gql } from '@apollo/client';`

leading to have two imports of @apollo/client:

[code]

[2020-08-14 11:50] smeijer commented on #3033
I'm having a similar issue with a `directive` from `grapher`. Is there something that we can do on the user side to make directives compatible?

[code]

[2020-08-16 07:37] dotansimha commented on #4576
@amnpoosri it seems like `graphql-pokemon` api is down, so I'm not really able to use that reproduction.
I tried to print the `DocumentNode` generated by the codegen, and used by the hooks (`GetPokemonDocument`), and it seems valid:

![image](https://user-images.githubusercontent.com/3680083/90329311-6b8d1b00-dfac-11ea-8711-6dfa4be854d1.png)

[2020-08-16 23:11] scvnathan commented on #4577
I noticed the same thing. Also, I don't believe it's really possible to have a true `Exact` type in TS yet. See this longstanding issue: https://github.com/microsoft/TypeScript/issues/12936

[2020-08-17 13:52] SimenB commented on #2726
I want the output to look pretty, though

[2020-08-18 08:12] felixfbecker commented on #2726
If the config file is a JS file or the API is used it would be great if we could just supply a function taking a string and returning a string (or Promise of a string) which we could easily pass `prettier.format()` to

[2020-08-18 11:26] Leksat commented on #2723
Thanks for the `VERBOSE=1` hint. I first tried `--verbose` arg, but it looks like it does not exist.

I have (probably) a similar issue. The files reported by `graphql-codegen` are irrelevant and it's hard to find the actual error.

Unfortunately, I work on a not open-source project, so I can't help with reproducing the issue. But at least here is what I had. Maybe it could help to someone.

[code

[2020-08-18 12:07] carstenblt opened #4586 "pluckConfig not ignoring other query tags"
I tried all different combinations of `pluckConfig` with `module` and `globalIdentifier`, at the root of my `codegen.yml` and under `generates` but it always still parses my gatsby `graphql` tags as well and fails.

My `codegen.yml` config file:

[code]

My Typescript:

[code]

**Expected behavior**
Ignoring all other graphql tags, except `gql` imported from `apollo-boost`

**Environment:**

- OS:

[2020-08-19 09:38] EhsanSarshar opened #4595 "the library generate apollo client 3 compatible Types how can I generate apollo client 2 ?"

[2020-08-19 19:31] ardatan commented on #4595
https://graphql-code-generator.com/docs/plugins/typescript-react-apollo
You can add `reactApolloVersion: 2` to your configuration.

[2020-08-19 21:24] earksiinni opened #4598 "[urql] gqlImport option doesn't work and docs have typo"
**Describe the bug**
The `gqlImport` config option for the urql plugin doesn't seem to have any effect. I tried to change it but `gql` is still being imported from `graphql-tag` in my generated files.

Separately, there's a [typo in the docs](https://graphql-code-generator.com/docs/plugins/typescript-urql). It claims that the default value for `gqlImport` is `gql#graphql-tag`. However, the subsequ

[2020-08-20 05:01] Mathieuu commented on #2870
@dotansimha Here's a sandbox reproducing the issue:
https://codesandbox.io/s/apollo-server-forked-fn0q5?file=/client.ts

In that sandbox you can see that the mutation `UpdateUser` requires an `id` as an input.

However in the component:

[code]

[2020-08-20 11:33] EhsanSarshar commented on #4595
tnx

[2020-08-20 11:33] #4595 closed

[2020-08-20 14:04] dotansimha commented on #4586
I think this one is more relevant for `@graphql-tools`. @ardatan ?

[2020-08-20 14:05] dotansimha commented on #4598
@earksiinni can you please try to indent it correctly as yaml object?
[code]

Or, move it higher?

[code]

[2020-08-20 14:08] DarkLite1 opened #4599 "[DOCS UPDATE] Add all supported config file formats"
**Describe the bug**
Currently the [website](https://graphql-code-generator.com/docs/getting-started/codegen-config) mentions:

There seem to be more supported formats as stated [here](https://github.com/dotansimha/graphql-code-generator/issues/1167). I think for many people, it might be beneficial to know that it can be a `codegen.js` file too. Makes it easier when adding a token to the header fo

[2020-08-20 14:18] earksiinni commented on #4598
Whoops! Silly me, it was an indentation problem. Thanks for pointing that out, @dotansimha.

What about the documentation?

[2020-08-20 14:23] dotansimha commented on #4598
You are right :) Any chance you want to create a PR for fixing that? the source of it is here: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/other/visitor-plugin-common/src/client-side-base-visitor.ts#L38-L55

[2020-08-20 14:29] DarkLite1 opened #4600 "Code generation fails when using the "--config" argument with a ".js" file"
**Describe the bug**

When I run the code generator with just `graphql-codegen` and the file is named `codegen.js` it works fine. But when I  run `graphql-codegen --config graphql-codegen.js` when the file is named `graphql-codegen.js` it throws the error below:

[code]

[code]

[2020-08-20 18:17] spsaucier-bakkt commented on #2577
Unfortunately, using a custom schema loader hasn't fixed this issue for me.

[2020-08-21 07:37] dotansimha commented on #4598
Fixed. Thanks @earksiinni !

[2020-08-21 07:37] #4598 closed

[2020-08-21 07:54] dotansimha commented on #4540
Fixed in `@graphql-codegen/typescript-vue-apollo@1.17.9`

[2020-08-21 07:54] #4540 closed

[2020-08-21 07:55] dotansimha commented on #4564
@KillerCodeMonkey I this it had something to do with the alpha versions. I've just published this fix in a stable release, can you please try it? `@graphql-codegen/typescript@1.17.9`

[2020-08-21 07:56] dotansimha commented on #3979
Fixed in `@graphql-codegen/typescript-resolvers@1.17.9`.

[2020-08-21 07:56] #3979 closed

[2020-08-21 07:56] dotansimha commented on #4529
Fixed in `@graphql-codegen/typescript-resolvers@1.17.9`.

[2020-08-21 07:56] #4529 closed

[2020-08-21 21:32] JanKaczmarkiewicz opened #4610 "Plugin level config ignored"
**Describe the bug**
Hi, I am struggling with defining plugin level config. Config under typescript plugin seemed ignored. Am I doing something wrong? It seems to me like bug. `codegen` command doesn't throw any error.

**To Reproduce**
https://codesandbox.io/s/brave-sound-bdb7z?file=/codegen.yml:0-256

[2020-08-22 10:30] #4610 closed, assigned to nobody

[2020-08-22 15:21] xiaoyu-tamu opened #4612 "typescript-urql plugin enforces tsx by default"
**Describe the bug**

User need explicit set `withComponent:false` to use `.ts` extension. but withComponent:false is the default value per doc https://graphql-code-generator.com/docs/generated-config/typescript-urql/#withcomponent.

https://github.com/dotansimha/graphql-code-generator/blob/9d78729e6bb178195bf4f28f8b102144b60d6a5d/packages/plugins/typescript/urql/src/index.ts#L40

**To Reproduce**

[2020-08-23 16:45] carstenblt commented on #4586
@ardatan https://codesandbox.io/s/exciting-thunder-gcf0l

example.js contains two queries, one with gatsby's `graphql` tag, one with Apollo's `gql` tag. pluckConfig should work so only the `gql` query is checked. However the invalid query I wrote with `graphql` throws an error.

[2020-08-23 19:44] richiejd opened #4614 "FieldWrapper wraps the final element instead of the overall field type"
Basic example:
- expected: `FieldWrapper<Maybe<Array<Maybe<Favorite>>>>`
- actual: `Maybe<Array<Maybe<FieldWrapper<Address>>>>`

Not sure whether to call this a bug or just a missing feature, but the FieldWrapper is put inside rather than outside of the Array and Maybe wrappers.

Example:
With the config:
[code]

Given the following graphql (note I'm contriving an example, but don't usually have n

[2020-08-24 05:28] KillerCodeMonkey commented on #4564
@dotansimha sorry for not answering. i will try to check it today :)

[2020-08-24 09:25] arvinsim commented on #1532
I have already defined something like this

[code]

But I still get errors

[code]

[2020-08-25 00:39] gyDBD opened #4623 "Can we make flow resolver plugin support es6 classes?"
graphql-js documents that we can use ES6 classes to represent GraphQL types and add resolver methods on.
https://graphql.org/graphql-js/object-types/
Our resolvers are something like this:  (example taken from the docs linked above)
[code]
And we tried to use `graphql-codegen` to auto generated flow type for our resolvers.
Here's the codegen.yml looks like:
[code]
However the auto generated flow t

[2020-08-25 05:12] gyDBD commented on #4623
I can work on it and submit a PR to support this if that's okay.

[2020-08-25 06:13] dotansimha commented on #4623
Hi @gyDBD !
PRs are always welcome.

In that specific use case- can you please share a reproduction of that? I didn't fully understand the limitation of Flow. Is it because we are using `type` instead of `interface`?

[2020-08-25 06:15] dotansimha commented on #1532
@arvinsim do you have `Long` scalar defined in your GraphQL schema? You must have it existing in your schema, and then you can map it to a TypeScript type.

[2020-08-25 11:25] dotansimha opened #4630 "[WIP] Ignore, just a test :)"

[2020-08-25 11:29] dotansimha opened #4631 "[TEST] IGNORE"
Test

[2020-08-25 11:30] dotansimha commented on #4631
try something

[2020-08-25 11:33] dotansimha commented on #4631
test

[2020-08-25 16:49] gyDBD commented on #4623
Thanks for the reply, here's the doc about how to flow type a class, and I made two small demo: see [Try Flow](https://flow.org/try/#0KYDwDg9gTgLgBDAnmYcDKBjAhgGy1AZzgF44BvAHwCg44BJAEQC44CYoBLAOwHMAaGunbceLNp14DaAIQgQcwLFxYAjOQqVT6XGCy4BXALYrgULQDEcELLrgHjpgRQC+AbiqhIsBMlQAlYAJ5ADdTABVfAHUoLDAUKAAeMIA+EjgABSgIQw4CYCTUijgw9wB6ACpyuABZWLAROBMYAHdgYC44XBxO4KwOPBUFVgwAC2BDLB8UIiUAEwQxuChAkNMiJGm4ctKPc

[2020-08-25 21:10] jake-leland opened #4635 "Support multiple .env files."
**Is your feature request related to a problem? Please describe.**
`graphql-codegen -r dotenv/config` enables environment variables within `codegen.yml`. For example:
[code]
This is great. However, it is common for frameworks to utilize multiple environment files, such as `.env` and `.env.local` (see [React](https://create-react-app.dev/docs/adding-custom-environment-variables/) and [Vue](https://

[2020-08-26 10:48] maapteh opened #4642 "have deprecated also work in generated hooks"
I was thinking, since typescript 4 we have deprecated comments. Is it possible to have graphql deprecated fields in output for a hook also have this warning? It would make it awesome when you just consume data and even then have feedback you are still consuming something being deprecated.

https://github.com/microsoft/TypeScript/pull/38523

just an idea and i leave it here, hope to look at your co

[2020-08-26 10:49] #4642 closed

[2020-08-26 17:59] SirensOfTitan commented on #4216
Seeing something similar here when trying to use this feature: `TypeError: parentType.isTypeOf is not a function`

[2020-08-27 02:45] github0013 commented on #2869
https://graphql-code-generator.com/docs/plugins/typescript-react-apollo

[code]

[2020-08-27 03:39] gyDBD opened #4645 "flow-resolvers throw errors for async resolver functions"
**Describe the bug**
use `flow-resolvers` plugin and apply auto generated type to resolvers(async function), and flow type check will throw error: `Could not decide which case to select, since case 1 [1] may work but if it doesn't case 2 [2] looks promising too. To fix add a type annotation to async return [3]. [speculation-ambiguous]`

**To Reproduce**
Steps to reproduce the behavior:

I tried to

[2020-08-27 04:52] ardatan commented on #4216
@dotansimha Do you have any idea why this happens?

[2020-08-27 07:18] DarkLite1 opened #4653 "Type 'void' is not assignable to type 'object'.Vetur(2769)"
**Describe the bug**
I don't know if this issue is related to the graphql-codegenerator, Vetur, typescript, @vue/appolo-composable or me. So sorry if this is the wrong place to ask. I don't seem to be the only one experiencing this issue. You can find other users on [Quasar Framework Discord](https://discord.com/channels/415874313728688138/596276596319453207).

In our Vue project we try to consume

[2020-08-27 08:22] xiaoliu-heng opened #4654 "AggregateError when query param name same with the directive param"
**Describe the bug**

AggregateError when query param name same with the directive

**To Reproduce**
Steps to reproduce the behavior:
write client schema like and generate
[code]

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

export the documents with the directive

**Environment:**

- OS: MacOS 10.15.6
- `@graphq

[2020-08-27 09:55] andyrichardson opened #4655 "[typescript-resolvers] Incorrect top level type definition"
## About

Top level type resolvers aren't fully correct.

[sandbox](https://codesandbox.io/s/modest-bassi-fm5xq?file=/types.ts:4621-5134)

## Reproduction

Create a schema with a type

[code]

Run codegen with the `typescript-resolvers` plugin

## Expected result

The type definition for the top level type resolver is as follows

[code]

## Actual result

Type definitions do not allow top level re

[2020-08-27 10:17] ardatan commented on #4655
What is "top level type resolver"? What is the use case of it? Could you provide a working example because I've never seen this before.
[code]

[2020-08-27 12:17] andyrichardson commented on #4655
Might just be a bad assumption on my part - I thought I had managed to do that in the past.

Use case would be when mapping relationships in combination with the _mappers_ functionality.

[code]

[2020-08-27 12:17] #4655 closed

[2020-08-27 14:48] bbugh commented on #4653
I'm not 100% sure as I haven't been using this in a while, but unfortunately because of how `useResult` was defined, you will have to specify the generic when you call it, not cast the result.

[code]

[2020-08-28 00:53] threehams commented on #4212
I'm not sure about viability here, but would you accept an PR with an additional option for `flattenGeneratedTypes` which preserves any documents containing only fragments? They would be used only for tests and types at that point.

That would be a fix this issue, be a nice runtime improvement, and prevent the need to include fragment documents in queries.

[2020-08-28 06:28] DarkLite1 commented on #4653
Thank you for the help. I tried your suggestion but it's stil underlined in red. I tried the following which all failed:

[code]

[code]

[2020-08-28 10:58] bbugh commented on #4653
Does it work if you use useQuery directly? It could be something with the generator.

[2020-08-28 11:30] DarkLite1 commented on #4653
For this template:
[code]
Thie works fine:
[code]
And I finally found it, this works too (without `useResult`):
[code]
That makes me a bit confused on the function of `useResult` as it is not needed in this case. Second, I'm wondering how it is possible to rename the variable `result` to something else. The below is not possible:

[code]
We're getting closer :)

[2020-08-28 12:02] DarkLite1 commented on #4653
According to the [docs](https://v4.apollo.vuejs.org/guide-composable/query.html#useresult) on `useResult` it allows you to pick a property like so:

[code]
[code]
This does not break the code but removes the type and removes intellisense:
![image](https://user-images.githubusercontent.com/10828570/91558688-1ac7db80-e937-11ea-9dda-1438e8d21ab5.png)

[2020-08-28 12:03] bbugh commented on #4653
`useResult` is for when you have a complex query and need to reactively transform the value. Sometimes queries don't match their top level result (like enum introspection). Unfortunately, vue-apollo v4 was written with TypeScript as an afterthought using a lot of `any`, the API wasn't particularly clean especially for a rewrite, and `useResult` in particular is complex feature-wise and was hard to

[2020-08-28 12:05] bbugh commented on #4653
IIRC you have to always specify the types for `useResult`, because it has multiple incompatible behaviors, like automatically picking the first result if it's the only result.

[2020-08-28 12:10] DarkLite1 commented on #4653
It does seem to get the type correct int he `<script>` section:
![image](https://user-images.githubusercontent.com/10828570/91559223-f28cac80-e937-11ea-8c59-d30bfec46894.png)

Also when hovering `allAccounts`:
![image](https://user-images.githubusercontent.com/10828570/91559270-0e904e00-e938-11ea-8a8c-e38a5a5fc5c1.png)

But still.... the `account` variable is any in that case. I don't understand w

[2020-08-28 12:13] DarkLite1 commented on #4653
And when first checking if it's there it works perfectly fine:

![image](https://user-images.githubusercontent.com/10828570/91559503-7fd00100-e938-11ea-9621-3c8a393b1025.png)

This makes me wonder why Vue is not able to see that it can't iterate `null`....

[2020-08-28 12:18] DarkLite1 commented on #4653
That's also what is stated in the [docs](https://v4.apollo.vuejs.org/guide-composable/query.html#result-picking), so I guess there's nothing wrong with the generated code. Thanks for the help, it really put me on the right path. I might have to update the Vue example on your webpage to help others.

[2020-08-28 12:18] #4653 closed

[2020-08-28 15:59] bbugh commented on #4653
I'd love to hear how this turns out for you. We've been working towards Vue 3 on our codebase and this will be important for us too.

FYI I'm not associated with the vue-apollo project, just a contributor for some of the typing.

[2020-08-29 14:41] OLDIN opened #4663 "`Maybe` only refers to a type, but is being used as a value here (only arrays)"
**Describe the bug**
When generating types for type-graphql, I got type of typescript, like: ```@TypeGraphQL.Field(type => [Maybe<CalendarEvent_Bool_Exp>])``` instead of  ```@TypeGraphQL.Field(type => [CalendarEvent_Bool_Exp])```

[code]
**To Reproduce**
link: [codesandbox](https://codesandbox.io/s/graphql-code-generator-type-graphql-maybe-error-in-arrays-j5uym
)

My GraphQL schema:

[code]

My `c

[2020-08-30 05:26] gyDBD commented on #4645
Figured it out myself. Thanks. close the issue.

[2020-08-30 05:26] #4645 closed

[2020-08-30 12:09] chanlito commented on #4486
@dotansimha  I think I'm facing a similar issue, but I'm trying with TypedDocumentNode.

Below is my cofig.

[code]

[2020-08-30 15:48] amnpoosri commented on #4576
@dotansimha I have updated apollo client endpoint to use weather API. The problem is the generated useGetCityByNameQuery() hook is throwing unknown fragment error.

[2020-08-31 06:19] DarkLite1 commented on #4653
All is fixed now using the correct syntax. I've updated the [docs here](https://graphql-code-generator.com/docs/plugins/typescript-vue-apollo#example-select-a-single-property-with-useresult-and-add-an-error-message) for anyone else looking on how to do this the right way.

[2020-09-01 07:27] finaxar-arthur commented on #153
Can anyone update on this? I am still not able to convert custom scalars. This is my `codegen.yml` but it doesn't work.

[code]

[2020-09-01 07:29] ardatan commented on #153
@finaxar-arthur What do you mean by converting custom scalars? If you have any issues, could you please create a new issue with a minimal reproduction?

[2020-09-01 07:44] finaxar-arthur commented on #1532
@dotansimha You are right. Adding the scalar definitions below in my `schema.graphql` solved the issue

[code]

[2020-09-02 17:06] chriskrycho opened #4683 "Consider using `strict: true` compiler option"
When making changes across the codebase, having all the strictness settings turned off means that many kinds of issues that might arise from any given change can *only* be identified by sufficiently-robust test coverage, even when the compiler could readily catch it via a stricter setting. For example, dotansimha/graphql-code-generator#4682 exposes a number of problems which could easily be identi

[2020-09-02 20:55] zaguiini opened #4684 "Duplicated nested fragments on code generation"
**Describe the bug**

When the `TypedDocumentNode` is generated by the tool, it splats (`...`) all the fragment definitions, and then the nested fragments follow the same pattern, recursively, resulting in duplicated fragments being sent over the wire.

A lot of GraphQL APIs have limits regarding how many fragments are allowed per query, so this is also a problem.

**To Reproduce**

[Here's a repr

[2020-09-03 00:23] dannycochran commented on #4373
@dotansimha to pile on to the use case here, for large federated graphs, my total file size generated is nearing 2MB. The number of exports and types seems like it puts an unnecessary strain on the TS compiler and IDE.

This combination:

[code]

is useful and has significantly reduced my file size, but it's still generating all enum and input types in the graph

[2020-09-03 01:12] Fi1osof commented on #3836
This make me sad :(

@helios1138 +100

[2020-09-03 02:28] JaffParker commented on #2891
Actually, it doesn't work for me on root level...

[code]

Tried both with and without `npx`, same result. In another project where I use yarn, it worked like a charm.

[2020-09-03 02:43] JaffParker commented on #2891
Interestingly, if I move the hook to the file level (because I only need to format the .ts file), change it to `afterOneFileWrite`, it doesn't throw any error if the command is `prettier --write`, even though my prettier isn't global. Obviously, it does nothing. If I make it `npx prettier --write`, it throws an error and does nothing

[2020-09-03 09:30] petrzjunior opened #4687 "Type suffix placed incorrectly in aguments type"
**Describe the bug**
This is excerpt from the generated TypeScript definition:
[code]
**To reproduce**
https://codesandbox.io/s/eloquent-sara-rt4wo?file=/types.ts

The config option `typesSuffix: QL` started placing suffix in the wrong place: `QueryQLuserArgs` vs. `QueryuserArgsQL`.  Sufficies in the rest of the file is fine.

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

[2020-09-03 09:57] magicmark commented on #3174
Hmm, I'm also running into this issue.

It's not super clear how to resolve this. (`maybeValue: 'T extends PromiseLike<infer U> ? Promise<U | null> : T | null'` did not work for me, I still get the same stack trace)

[2020-09-03 18:24] SirensOfTitan commented on #4216
Please ignore if not useful: in our case, this throws where:

`typeOnSchema = SomeInterface`
`parentType = SomeObjectThatImplementsSomeInterface`

And the key of `isParentType` is set, but its value is set to `undefined`.  I did some super light digging and it seems this is happening here:

https://github.com/ardatan/graphql-tools/blob/ae7c968deb2e6f51024a385abfc6455c0db5a5df/packages/wrap/src/wra

[2020-09-04 13:09] fubhy commented on #4635
You could just use `dotenv -c development -- graphql-codegen`

[2020-09-04 14:08] SimenB opened #4700 "Generate and verify `@apollo/client@3` `keyFields` configuration"
`@apollo/client@3` comes with a new config option called `typePolicies` passed to the cache's constructor, which can be used (amongst many different awesome things) to specify `keyFields` for each GraphQL type in your schema, so that the cache knows how to normalize the entries properly.

@benjamn talks about it in this great talk: https://youtu.be/n_j8QckQN5I, and specifically what I'm requesting

[2020-09-05 14:59] lensbart opened #4701 "Invalid graphql file doesn’t throw an error"
Hello,

Thanks for making this tool. Really useful!!!

I had a couple of mutations that, as a result of some incomplete refactoring, didn’t have a closing bracket (`}`). For example:

[code]

As you can see, the closing bracket is missing. Normally, the generated types file would contain a `CreateExampleMutation` type via the `typescript-operations` plugin. This type was missing, and I figured out

[2020-09-05 20:02] fractalmarc commented on #3445
updating worked for me, thanks humans who have been on this thread!

[2020-09-06 03:45] aboveyunhai commented on #3769
@dotansimha
after `npx graphql-codegen init`, I choose `react` and `apollo`  then install `typescript-urql` separately,
add `typescript-urql` and remove `typescript-react-apollo` in `codegen.yml` `plugins` section.
This cause the same problem but I can't confirm it can be reproduced from other machines.
but then reinstalling `operation` package by running ` npm i --save-dev  @graphql-codegen/types

[2020-09-06 20:55] longfellowone opened #4703 "typescript-vue-apollo generated file not compatable with vue 3"
**Describe the bug**

Generated file should import from 'vue' not '@vue/composition-api' when using vue 3

[code]

**To Reproduce**

Install vue 3, run generate

3. My `codegen.yml` config file:

[code]

**Expected behavior**
No error

**Environment:**

- OS: Windows
- `"@graphql-codegen/cli": "1.17.8"`
- `"@graphql-codegen/typescript": "1.17.9"`
- `"@graphql-codegen/typescript-operations": "1.17.

[2020-09-06 22:12] longfellowone commented on #4703
If anyone is looking for a temporary fix

Create the file `scrips/typescript-vue-apollo-patch.js`
[code]

In your package .json modify your generate script to
[code]

[2020-09-07 09:23] JesseZomer opened #4710 "Graphql-import no longer supported in > v1.14.0?"
**Describe the bug**
I have a schema.graphql and use graphql-import (graphql-tools) to divide my schema into multiple files.
In v1.14.0 this works fine, but when I update  to v1.15.0 / v1.17.0 I can no longer generate my files.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/bold-bush-ztwm4?file=/schema.graphql

in package.json change:
[code]
to
[code]
and `yarn genera

[2020-09-07 09:55] dotansimha commented on #4710
@JesseZomer can you please try to upgrade to latest version of those deps? I think this was an issue with the `@graphql-tools` dependency, that was already solved.

[2020-09-07 10:04] JesseZomer commented on #4710
@dotansimha I'm not actually using those dependency's in the reproduction codesandbox. I'm just creating my schema using that #import syntax style to create the schema. The #import syntax hasn't changed as far as I know.

[2020-09-07 10:07] ardatan commented on #4710
I don't see any errors with the latest versions;
https://codesandbox.io/s/red-fog-rshky?file=/package.json

[2020-09-07 10:23] JesseZomer commented on #4710
forking that codesandbox and doing a `yarn generate` gives me the same error as described in the OP

[2020-09-07 12:15] iskanderbroere commented on #4703
https://graphql-code-generator.com/docs/plugins/typescript-vue-apollo
[code]
does this fix your issue?

[2020-09-07 12:46] ardatan commented on #4710
@JesseZomer Oh sorry when I do yarn install, I could reproduce the error. There is a known bug in graphql-import;
The imported types should be used in the parent file for graphql-import if the parent file has other types.
[code]
is a good workaround in this case. But you can also remove `scalar Date` from parent file instead. So those two workarounds will solve your issue.

[2020-09-07 13:18] iskanderbroere commented on #4703
https://github.com/dotansimha/graphql-code-generator/pull/4712

[2020-09-07 13:46] JesseZomer commented on #4710
@ardatan Thanks for helping me out. While it solved the error message in the reproduction, my real schema file is much larger
[code]
and while I removed the scalar types from this parent file and moved them into one of these .graphql files it just comes up with another type it can't find. I am now getting `Couldn't find type Lesgroep in any of the schemas.` while the type is definitely in one of t

[2020-09-07 13:49] ardatan commented on #4710
You can just use globs like `**/*.graphql` in codegen.yml instead and use this in the project https://www.graphql-tools.com/docs/merge-typedefs#import-everything-from-a-specified-folder .

[2020-09-07 14:00] JesseZomer commented on #4710
That seems to work, and is a much better solution 🙈 Thank you! 🎉

[2020-09-07 14:00] #4710 closed

[2020-09-08 18:24] atamano opened #4718 "Cannot remove underscore with transformUnderscore option"
Naming conventions sometimes keep underscores. For example ERROR_202 is converted to Error_202 in pascal case.
I would like to remove the underscore but the `transformUnderscore` option doesn't remove it.

How can I remove underscore ? I want ERROR_202 to be converted to Error202 with the following configuration:

[code]

[2020-09-08 22:26] jbarrus opened #4719 "typescript-apollo-angular ignores importOperationTypesFrom"
**Describe the bug**
https://graphql-code-generator.com/docs/plugins/typescript-apollo-angular lists `importOperationTypesFrom` as a valid config but it is ignored

**To Reproduce**
Steps to reproduce the behavior:

[code]

https://codesandbox.io/s/hungry-saha-4t2pq?file=/angular.ts

**Additional Context**
I'm trying to generate types and operations in one lib and angular services in another to se

[2020-09-09 09:32] capaj opened #4721 "add delete mode"
would be nice to be able to remove all the generated files. Like for example when I am tweaking my config, maybe I rename a few things and now I have to go in and manually delete hundreds of  generated files.
Thankfully I have git, so I can remove them easily in there, but there are situations where having a delete command on the CLI would be useful. Either you don't have git, or you have other ch

[2020-09-09 14:34] jbarrus commented on #4719
Sorry to pollute this issue, I can submit another, but I'm having another problem with this approach as well - when documentMode is set to external for the angular.ts output, the document names do not match in angular.ts.

angular.ts example service when generated in the same file as operations
[code]

when imported from a separate file using documentMode external
[code]

expected is
[code]

[2020-09-09 15:12] KoltesDigital opened #4722 "When federation is enabled for a type, its resolvers have a wrong ParentType"
The goal of `__resolveReference` is to return a model object which is internal to the current service. Its return type is then the parent type of related resolver functions. However the current parent type for resolvers is an extract of the real parent type (via `GraphQLRecursivePick`). It shouldn't.

**To Reproduce**

See https://codesandbox.io/s/bitter-https-7yboj

1. My GraphQL schema:

[code]

[2020-09-09 16:04] KoltesDigital commented on #4722
If this function returns `parentTypeSignature` without transforming it, it works fine. There are no related tests. Should I add one to ensure my use case passes?

https://github.com/dotansimha/graphql-code-generator/blob/master/packages/utils/plugins-helpers/src/federation.ts#L157

[2020-09-09 20:47] mhart opened #4723 "Explore reducing package size"
**Is your feature request related to a problem? Please describe.**

An npm install of @graphql-codegen/typescript is currently 39MB and includes pretty much the kitchen sink (including babel and core-js)

This is almost solely due to:

1. @graphql-codegen/typescript (39MB) which needs:
2. @graphql-codegen/visitor-plugin-common (39MB) which needs:
3. @graphql-tools/relay-operation-optimizer (36MB)

[2020-09-09 22:26] justinwaite opened #4725 "Add a --dry-run option"
**Is your feature request related to a problem? Please describe.**

The problem is that a developer could forget to run the code generator, or forget to keep it in watch mode, and then commit operations to master that don't have associated types with them. Then another developer comes along and wonders why their PR has a bunch of types generated that are unrelated to the work they were doing.

**D

[2020-09-10 06:12] gbiryukov opened #4729 "Add changelog"
**Is your feature request related to a problem? Please describe.**

Updating `@graphql-codegen/*` is a very painful process in terms oа reviewing the changelog and realize what kind of adjustments the user should/can do. Github releases page contains huge unstructured list on small releases for each individual package which makes it impossible to review the whole list of changes in certain version

[2020-09-10 06:22] gbiryukov commented on #4729
Realized that `@graphql-codegen/*` packages use independent versioning scheme and each separate package recently received own changelog.

Closing this

[2020-09-10 06:22] #4729 closed

[2020-09-10 06:30] dotansimha commented on #4729
@gbiryukov We recently moved to manage versioning using `changeset` , so now each package has it's own CHANGELOG :)

[2020-09-10 12:38] bennypowers opened #4730 "Wrap fields in StoreObject for Apollo Client"
**Is your feature request related to a problem? Please describe.**

Hey Hey. Many new apollo client 3 methods expect an instance of `StoreObject`, which is exported from `@apollo/client/cache`. The base type is` __typename`, along with an **index signature** to `StoreProperty`.

**Describe the solution you'd like**
It would be cool if graphql-codegen would take an option to wrap types in `StoreObj

[2020-09-10 23:42] mikelovesrobots commented on #1796
I was also seeing a node process pegged at 100% cpu for hours at a time and can verify that it's because the chokidar config was told to use polling rather than the default and lightweight filesystem events.  https://github.com/dotansimha/graphql-code-generator/blob/80a1e6726c42e5a74d2717befb0834d94b515df4/packages/graphql-codegen-cli/src/utils/watcher.ts#L97

I think this should be changed to `us

[2020-09-11 00:15] frederikhors opened #4731 "Remove descriptions from Introspection schema"
**Is your feature request related to a problem? Please describe.**

Can we remove `descriptions` from introspection schema using the plugin?

**Describe the solution you'd like**

Something like they do here: https://github.com/graphql/graphql-js/blob/v15.3.0/src/utilities/getIntrospectionQuery.js:

[code]

[2020-09-11 08:59] paales commented on #1796
@mikelovesrobots That is giving me issues like:

[code]

It seems to be watching all files in the node_modules folder as well, which isn't really a thing when using polling, but to use file system events chokidar probably needs to be configured differently?

[2020-09-11 09:11] klemenoslaj commented on #2616
@dotansimha is this really working? I installed latest versions and created the following configuration:

[code]

While `interfaces` are used quite extensively, they are not used for any GraphQL document type, like Query, Subscription, Mutation - types are used.

[2020-09-11 13:23] AbdoMgdy commented on #3769
i had this problem and the issue was in my codegen.yaml file make sure your plugin names match the packages installed:
`overwrite: true
schema: "http://localhost:4000/graphql"
documents: "src/graphql/**/*.graphql"
generates:
  src/generated/graphql.tsx:
    plugins:
      - "typescript"
      - "typescript-operations"
      - "typescript-urql"`

that's my file now after a i fixed a typo

[2020-09-11 15:55] mikelovesrobots commented on #1796
@paales Oh that's wild. We've also got a `documents` section in our config file reducing the watched scope to just the things that we think matter:

[code]

Hmm... seems like turning off `usePolling` wasn't the universal upgrade I thought it was.

[2020-09-12 18:24] kunjee17 commented on #3445
@fractalmarc can you please share your versions from package.json files. I am facing the same issue. Even though pushing it to latest.

[2020-09-14 05:02] jakeblaxon commented on #4722
I added this comment to #4724 but I'll post it here as well:

I see that you're using mapped types. I didn't address the mapped type case at all when working on adding this federation functionality, so it may be buggy and there is definitely room for improvement there. For your fullName resolver, however, the reason you're not able to access the firstName and lastName types from the external User

[2020-09-14 08:27] paales commented on #1796
@mikelovesrobots I've reduced the scope of the files that it scans and doesn't run into issues anymore and your proposed solution does work.

[2020-09-14 11:59] KoltesDigital commented on #4722
Discussion continues on #4724.

[2020-09-14 12:13] KoltesDigital commented on #4493
I suppose that the RoomType interface in service 1 is essentially:

[code]

and that service 2 has a `__resolveReference` for Property:

[code]

@rherber can you confirm this?

[2020-09-14 21:33] Micahnator opened #4739 "Multiple @key directives not supported when type is extended"
**Describe the bug**
When a graphql type definition has multiple `@key` directives (as in for Apollo Federation) AND that same type is extended elsewhere in the same schema being parsed by by the code generator, only the last directive is included in the output. I'm seeing this in both the schema-ast and typescript-resolvers plugin outputs.

**To Reproduce**
Steps to reproduce the behavior: Apply

[2020-09-14 23:49] cantyjeffrey commented on #4635
@jake-leland This worked for me..

`package.json`:

[code]

[2020-09-16 05:06] qiwang97 opened #4748 "[typescript-graphql-request ] importDocumentNodeExternallyFrom lost type prefix"
i use this config
[code]
But importDocumentNodeExternallyFrom doesnot work. The Operations prefix is lost like this:
[code]
`UploadMutationVariables` should be `Operations.UploadMutationVariables`.

@dotansimha   Anything to do to solve it?

Here is the [reproduction demo](https://github.com/qiwang97/graphql-code-generator-issues-4748)

[2020-09-16 20:54] Micahnator commented on #4739
I'm peeling back the onion a little more and seeing another issue, though I don't fully understand it. If I tweak my individual schema files to not extend type User, the schema-ast that is generated seems correct. But the typescript-resolvers output is giving me trouble.

I get the following type definition for the __resolveReference resolver function:
`
__resolveReference?: ReferenceResolver<Mayb

[2020-09-17 09:53] qiwang97 commented on #4748
@dotansimha  i find another issue: when set `fragmentSuffix` or `nameSuffix` in` typescript-document-nodes`, `typescript-graphql-request` doesn't add those words as expect. I update the demo above.

[2020-09-17 16:56] rathpc commented on #3836
Any work being actively done to address this issue?

[2020-09-17 19:02] gsaini commented on #3444
1+

[2020-09-17 23:55] mastrzyz opened #4760 "GraphQL Code Generator freezes on latest versions of "webpack-dev-server""
**Describe the bug**

The GraphQL Code Generator plugin is freezing execution when we try to upgrade to latest version of dev-server.

**To Reproduce**
Steps to reproduce the behavior:

Upgrade to     "webpack-dev-server": "^3.11.0",

**Expected behavior**
Able to correctly run graph ql code gen

**Environment:**

- OS: OSX
- `@graphql-codegen/...`: 1.17.8
- NodeJS: 12.14.1

**Additional context**

[2020-09-18 19:34] richiejd commented on #4614
This same issue is actually a further issue in the resolver map, e.g. I get the following errors
[code]

I'm not sure exactly how it should be configured, but the `Maybe` being where it is causes a mismatch on the null type.
It should be `ResolverTypeWrapper<Maybe<Partial<Customer>>>` to fix the issue.

[2020-09-20 17:06] mrtnbroder opened #4766 "Better support for loading plugins when using Yarn v2"
**Describe the bug**

When trying to use external plugins like `graphql-codegen-apollo-next-ssr` with yarn v2, the cli is trying to look for ` @graphql-codegen/graphql-codegen-apollo-next-ssr` which causes an error with yarn v2.

[code]

**To Reproduce**
Steps to reproduce the behavior:

upgrade to yarn v2, use third-party plugin that is not starting with `@graphql-codegen/*` and get the error.

O

[2020-09-23 06:47] UlisesAC4 opened #4779 "Missing 1.17.8 version of @graphql-codegen/typescript-apollo-angular"
**Describe the bug**

After initializing with the cli tool, cannot install new dependencies added to my package json.

**To Reproduce**
Steps to reproduce the behavior:

* Install `@graphql-codegen/cli`, at this moment the version that installs is "1.17.8"
* Initialize configuration with `npx graphql-codegen init`
* Choose angular as target and everything is left as is
* Run `npm install` with the

[2020-09-23 21:41] clord opened #4784 "option to generate async function that query and mutate via ApolloClient."
**Is your feature request related to a problem? Please describe.**

Often I have to write boilerplate like this in non-component places of my application:

[code]

**Describe the solution you'd like**

similar to `withHooks`, would be nice to have a way to generate a function that bakes these types and the document. Not sure what the best way to pass parameters is, but would look perhaps something

[2020-09-24 11:38] simPod opened #4788 "Avoid optionals on fields influences variables"
**Describe the bug**

Even though `avoidOptionals.inputValue` is `false`, variable types are generated without optionals.

**To Reproduce**

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

[code]

https://codesandbox.io/s/stupefied-paper-vjrm1?file=/types.ts

**Expected behavior**

It's still part of my InputType so this is expected

[cod

[2020-09-24 15:40] drj17 commented on #4718
Same issue.  What's odd is that the generated mutations reference the type with the underscore removed, but the generated type has the underscore still present.

[2020-09-24 16:00] lucassus opened #4789 "Missing context type for __isTypeOf resolver"
**Describe the bug**

Generated type for __isTypeOf resolve fn is:

[code]

...but in reality it should be something like:

[code]

In other words the context is missing.

In order to reproduce this issue you could checkout my project https://github.com/lucassus/bookshelf/blob/4ca61de381a16235f168efa6bd96b8412a71cda6/apps/server/src/graphql/users/resolvers.ts#L40

[2020-09-24 17:53] balazsorban44 opened #4792 "Add typescript-react-query plugin"
**Is your feature request related to a problem? Please describe.**
This would ease the use of [React Query](https://github.com/tannerlinsley/react-query) with GraphQL in TypeScript codebases.

**Describe the solution you'd like**
Similar to how hooks are generated for Apollo, I propose to add a plugin for `react-query`.

**Describe alternatives you've considered**
Currently there are no alternativ

[2020-09-25 15:34] xiaoyu-tamu commented on #4792
if someone needs a starting point, I made a simple plugin for my use case.

The graphql function copied from https://github.com/tannerlinsley/react-query/discussions/301#discussioncomment-74886

custom plugin
[code]

Config
[code]

How to use it

[code]

[2020-09-26 07:27] kdong007 opened #4793 "typescript-graphql-request -> rawRequest mode, missing "Header" import"
**Describe the bug**
Sandbox link: https://codesandbox.io/s/cocky-lumiere-2e9np?file=/package.json

for plugin `typescript-graphql-request`
[code]
 is needed in generated file when rawRequest: true

**To Reproduce**
Steps to reproduce the behavior:

just run codegen

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

[

[2020-09-26 14:50] javiertury opened #4794 "Unable to find typescript-named-operations-object"
**Describe the bug**

Codegen can't find the plugin "typescript-named-operations-object"

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

Run codegen with `typescript-named-operations-object` plugin

1. My GraphQL schema:

Any

2. My GraphQL operations:

Any

3. My `codegen.yml` config file:

Here I'm following the documentation. The recommended name for the plugin is `typescrip

[2020-09-26 23:08] vjpr opened #4795 "When using apollo generator, the gql fragment is recreated in the generated code causing a warning"
**Describe the bug**

When using apollo generator, the gql fragment is recreated in the generated code causing a warning because the fragment is being created with `gql` tag in two places.

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

Use `typescript-react-apollo`

**Additional context**

https://github.com/apollographql/apollo-client/issues/940

Not sure if this is actually

[2020-09-27 20:09] BjoernRave opened #4797 "Override wrong graphql types automatically"
I would like to be able to override my types I have defined in my queries with the right ones.

When trying to generate types and a type in a gql tag is wrong I get an error like this one:
[code]

I would like to pass a flag like `--override` so that graphql-code-generator just automatically replaces those with the right, expected one

[2020-09-27 21:41] ardatan commented on #4797
Could you share a reproduction on CodeSandbox?

[2020-09-28 05:08] dotansimha commented on #4797
@BjoernRave We aim not to do manipulations on the GraphQL schema or operations.
If you need to manipulate your schema or operations, you can use [custom schema loader](https://graphql-code-generator.com/docs/getting-started/schema-field#custom-schema-loader) or [custom documents loader](https://graphql-code-generator.com/docs/getting-started/documents-field#custom-document-loader)

[2020-09-28 05:10] dotansimha commented on #4795
Hi @vjpr !
You can either play with `documentMode` configuration to change the way we generate the operations. You can even pre-compile it into `DocumentNode` and avoid doing that in runtime.
Also, you can just use the compiled / generated documents instead of the original ones, and it won't trigger this warning.

You can also disable this warning in `graphql-tag`: https://github.com/apollographql

[2020-09-28 05:10] #4795 closed

[2020-09-28 05:12] dotansimha commented on #4794
Yeah it should be `named-operations-object`. I updated the docs, thanks @javiertury !

[2020-09-28 05:12] #4794 closed

[2020-09-28 05:23] dotansimha commented on #4793
Thanks @kdong007 , fixed this in: https://github.com/dotansimha/graphql-code-generator/pull/4798

Also, `graphql-request` has changes some package structure (see https://github.com/prisma-labs/graphql-request/issues/186), fixed that as well.

[2020-09-28 07:50] dotansimha commented on #4789
thank you @lucassus !

The  [GraphQL docs](https://graphql.org/graphql-js/type/#graphqlobjecttype) are probably outdated, it's defined there as:
[code]

While the real signature is defined this way in code:
https://github.com/graphql/graphql-js/blob/d6e760cf7060217bd25fa934bd104ff2400aad96/src/type/definition.js#L937-L941

Fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/4808

[2020-09-28 07:54] dotansimha commented on #4784
Thanks you @clord ! I'm moving to to Discussions :)

[2020-09-28 07:54] #4784 closed

[2020-09-28 07:55] dotansimha commented on #4792
Thanks @balazsorban44 !
I'm moving it to Discussions, since we maintain all plugins requests there.
@xiaoyu-tamu, the plugin you wrote looks really nice, do you want to create a PR for it? :)

[2020-09-28 07:55] #4792 closed

[2020-09-28 07:56] dotansimha commented on #4779
It's a bug with `init` command, I'll take a look, thanks @UlisesAC4 !

[2020-09-28 08:11] dotansimha commented on #4779
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/4809

[2020-09-28 08:11] dotansimha commented on #4760
Hi @mastrzyz , we discussed this offline, it's was a very specific issue with Webpack setup.

[2020-09-28 08:11] #4760 closed

[2020-09-28 08:26] dotansimha commented on #4731
Thank you @frederikhors , that's a great idea.
Added this in: https://github.com/dotansimha/graphql-code-generator/pull/4810

[2020-09-28 08:28] dotansimha commented on #4730
Thank you for this great suggestion, @bennypowers . I'm moving it to Discussions (we track plugins requests there)

[2020-09-28 08:28] #4730 closed

[2020-09-28 08:29] dotansimha commented on #4725
Thank you for this suggestion @justinwaite .
In most setups, I think it's better to avoid committing generated files to git. But regardless of that, I think adding this kind of flag could help.

[2020-09-28 08:31] dotansimha commented on #4723
We are thinking of way to do that. I think `@graphql-tools/relay-operation-optimizer > relay-compiler` is the biggest dependency we have and it's the one causes delays and bloats bundle size.
Other than that, I don't think it's worth it, mainly since codegen is a dev-dependency, and shouldn't be bundled at all.

@ardatan maybe we can explore reducing the package size of `@graphql-tools/relay-opera

[2020-09-28 08:33] dotansimha commented on #4721
Hi @capaj ,
This could be nice, but it means that we need to keep track on files that codegen has been generated in the previous execution. And this might be fragile because we don't want to store a persisted state to the project's directory.
Do you have another idea for managing that kind of state?

[2020-09-28 08:33] dotansimha commented on #4718
@drj17 @atamano please provide a reproduction for that issue.

[2020-09-28 08:36] dotansimha commented on #4700
That could be great! Thank you @SimenB !
Moving to Discussions (we track new plugins requests there).

[2020-09-28 08:36] #4700 closed

[2020-09-28 08:36] dotansimha commented on #4701
@lensbart can you please share a reproduction in a sandbox?

[2020-09-28 08:37] capaj commented on #4721
No that's not what I had in mind. I was thinking of just removing the files that would get generated in this current pass. This will suffice for the usecases I have mentioned.

[2020-09-28 08:38] dotansimha commented on #4684
@ardatan can you please take a look? :)

[2020-09-28 08:39] dotansimha commented on #4683
You are right :) Thank you @chriskrycho !

[2020-09-28 08:41] dotansimha commented on #4635
As suggested by @fubhy and @cantyjeffrey , you can either use `DOTENV_CONFIG_PATH` or wrap the execution of `graphql-codegen` with `dotenv` cli.

[2020-09-28 08:41] #4635 closed

[2020-09-28 08:43] dotansimha commented on #4654
Hi @xiaoliu-heng ,
Can you please share a live reproduction? We need to have a real, working environment with this issue, please make sure to use latest versions, since it seems like some deps are outdated in the callstack you shared.
I'm not sure it's something related to codegen, because the error seems like a graphql error, coming from graphql-js itself.

[2020-09-28 08:45] dotansimha commented on #4393
Closing. If someone is still having this issue with graphql@15, please let me know.

[2020-09-28 08:45] #4393 closed

[2020-09-28 08:50] dotansimha commented on #4612
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/4811

[2020-09-28 14:06] dotansimha commented on #4687
Thank you @petrzjunior !
I fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/4813

[2020-09-28 14:24] dotansimha commented on #4748
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/4814

[2020-09-28 14:24] dotansimha commented on #4748
@qiwang97 can you please report this in another issue?

[2020-09-28 14:53] dotansimha commented on #4573
Tracking here:  https://github.com/dotansimha/graphql-code-generator/issues/4684 (same issue, caused by `documentMode: DocumentMode.documentNodeImportFragments` configuration)

[2020-09-28 14:53] #4573 closed

[2020-09-28 14:56] dotansimha commented on #4684
It took a look, and it seems like it might be a bit tricky to solve, since we define fragments in each operation (and fragments).
The configuration flag `documentMode: DocumentMode.documentNodeImportFragments` uses the fragments definition object, so we might not be able to solve cases like this:

[code]

Because even it we'll be able to avoid adding `Nested` field in the definition itself, `A` an

[2020-09-28 15:02] zaguiini commented on #4684
One option would be to spin a TypeScript process that takes the file as input and produces the already filtered fragment output. Would it be possible?

[2020-09-28 15:16] dotansimha commented on #4793
Fixed in `@graphql-codegen/typescript-graphql-request@2.0.1`

[2020-09-28 15:16] #4793 closed

[2020-09-28 15:17] dotansimha commented on #4748
Fixed in `@graphql-codegen/typescript-graphql-request@2.0.1`

[2020-09-28 15:17] #4748 closed

[2020-09-28 15:17] dotansimha commented on #4789
Fixed in `@graphql-codegen/typescript-resolvers@1.17.10`

[2020-09-28 15:17] #4789 closed

[2020-09-28 15:17] dotansimha commented on #4687
Fixed in `@graphql-codegen/typescript-resolvers@1.17.10`

[2020-09-28 15:17] #4687 closed

[2020-09-28 15:18] dotansimha commented on #4779
Fixed in `@graphql-codegen/cli@1.17.9`

[2020-09-28 15:18] #4779 closed

[2020-09-28 15:18] petrzjunior commented on #4687
@dotansimha Thank you very much!

[2020-09-28 15:19] dotansimha commented on #4731
Fixed in `@graphql-codegen/introspection@1.18.0`

[2020-09-28 15:19] #4731 closed

[2020-09-28 15:20] dotansimha commented on #4273
Fixed in `@graphql-codegen/typescript@1.17.10`

[2020-09-28 15:20] #4273 closed

[2020-09-28 15:20] dotansimha commented on #4703
Fixed in `@graphql-codegen/typescript-vue-apollo@2.1.0`.

[2020-09-28 15:20] #4703 closed

[2020-09-28 15:21] dotansimha commented on #4612
Available in `@graphql-codegen/typescript-urql@2.0.2`

[2020-09-28 15:21] #4612 closed

[2020-09-28 15:21] dotansimha commented on #4564
Closing :) Fixed back then in `@graphql-codegen/typescript@1.17.9`

[2020-09-28 15:21] #4564 closed

[2020-09-28 19:34] mintchkin opened #4815 "Use non-polling for watch mode by default"
**Is your feature request related to a problem? Please describe.**

The current implementation of watch mode explicitly enables the [`usePolling` option of chokidar](https://github.com/dotansimha/graphql-code-generator/blob/80a1e6726c42e5a74d2717befb0834d94b515df4/packages/graphql-codegen-cli/src/utils/watcher.ts#L97), which has a much higher resting cpu footprint than the native filesystem watche

[2020-09-28 19:52] Drakota opened #4816 "Namespace imports clashing with Native ESM imports (Vue-Apollo/Vite)"
**Is your feature request related to a problem? Please describe.**
While trying to make Vue-Apollo plugin work nicely with `vite` & Vue 3, I've runned into an issue with how the generated code handles imports.

Since Native ES modules handles imports differently, those lines causes issues
[code]
![image](https://user-images.githubusercontent.com/22665836/94478499-5b6a7d00-01a1-11eb-81c3-7c9da832a0

[2020-09-29 07:04] dotansimha commented on #4233
Closing.

[2020-09-29 07:04] #4233 closed

[2020-09-29 07:15] dotansimha commented on #4402
I agree with @ardatan here. Closing.

[2020-09-29 07:15] #4402 closed

[2020-09-29 07:36] DarkLite1 opened #4817 "[Documentation] useMutation example for Vue Composition API"
**Describe the bug**
Currently there's no example on how to use the `useUpdateBooksMutation` or something similar in the [docs](https://graphql-code-generator.com/docs/plugins/typescript-vue-apollo#usage-examples).

It would be great if someone with knowledge could provide a simple example where `loading`, `error` `onDone` and `mutation` are used.

**Additional context**

Consider this mutation:
[

[2020-09-29 07:59] lucassus commented on #4789
Awesome! Thank you 🙏

[2020-09-29 08:22] dotansimha commented on #3174
@magicmark @lecstor if it's still relevant, can please open a new issue?

[2020-09-29 08:24] dotansimha commented on #2616
@klemenoslaj can you please report this as a new issue if it's still relevant? I think you are might be using a combination of configurations that might causes that.

[2020-09-29 08:39] klemenoslaj commented on #2616
You're right, will do that :+1: Just wanted to make sure I'm not opening a duplicate.

[2020-09-29 08:40] dotansimha commented on #4815
Thank you @mintchkin , I think it could help a lot. Any chance you want to create a PR for this? :) I think we might be able to expose some of the chokidar configuration, and allow developers to override it if needed.

[2020-09-29 08:57] dotansimha commented on #4766
@mrtnbroder can you please try latest version of the cli/core? we fixed the issues related to Yarn v2 compatibility. (also, please refer to my comment on your PR. Thanks!)

[2020-09-29 09:00] dotansimha commented on #3769
If someone is still having this issue, please try with latest versions of codegen and plugins, and report this in a separate issue.

[2020-09-29 09:08] mrtnbroder commented on #4766
Hi @dotansimha
Thanks, I just tried it out. I am on `1.17.9` for `@graphql-codegen/cli`, but I am still getting the same error for third-party plugins.

[code]

[2020-09-29 09:09] dotansimha commented on #3444
This was added a long time ago :) see: https://github.com/dotansimha/graphql-code-generator/issues/3985

[2020-09-29 09:09] #3444 closed

[2020-09-29 09:10] dotansimha commented on #4766
Keeping open. Not really sure what should be needed to support that, I guess some checks for Yarn v2. PRs are welcome :)

[2020-09-29 09:13] dotansimha commented on #4623
@gyDBD thank you for the PR and sorry for the late reply.
I saw you closed the PR, so I'm closing the issue for now. Let me know if it's still relevant for you.

[2020-09-29 09:13] #4623 closed

[2020-09-29 10:02] mrtnbroder commented on #4766
I am also unsure how to fix. I am asking the yarn team now for help. https://github.com/yarnpkg/berry/issues/1895

[2020-09-29 12:33] dotansimha commented on #4766
Fixed in `@graphql-codegen/cli@1.17.10`.

[2020-09-29 12:33] #4766 closed

[2020-09-29 14:24] danielw93 opened #4820 "Data class generation broken in @graphql-codegen/kotlin since v.1.10.0"
The merge Request #3156 broke generation of Kotlin data classes.

**To Reproduce**
* Define an input `TestInput` with a String property in schema.graphqls
* Run graphql-codegen
* Try to instantiate the `TestInput` data class inside a DataFetcher by calling `val input = TestInput(env.arguments)
** This fails with a compiler error:

Solution:
The change from #3156 should be reverted as it can not wo

[2020-09-29 15:01] vcheloudiakoff opened #4821 "[WIP] stuck on node-gyp-build when installing @graphql-codegen/cli with 'npm'"
Hi !
I'm working on a rails/graphql server generator and at the same time on a front-end typescript generator (with react).

This morning I wanted to make the installation of @graphql-codegen/cli automatic and I noticed that in this installation there was an infinite loop.

I tested manually in a new repository the installation of this package, and I have an infinite loop on this line

[code]

Whe

[2020-09-29 15:31] dotansimha commented on #4821
@vcheloudiakoff I don't think it's coming from codegen or it's deps. Codegen itself doesn't run or build anything native as far as I know.
Please share a reproduction of that issue.

[2020-09-29 15:34] mhart commented on #4273
Hmmm, this has caused a bunch of incompatible changes in our codebase from a patch release.

Making these optional might make sense on a client, but not on a server – because they're guaranteed to have values. What's the best way to get around this issue?

[2020-09-29 15:53] mintchkin commented on #4815
@dotansimha opened #4823, let me know if that's in line with what you imagined

[2020-09-29 16:11] dotansimha commented on #4273
@mhart I think you are right, can you please report this as separate issue? we'll look into it :) maybe this should be configurable.

[2020-09-30 09:11] borremosch opened #4829 "Exact is missing in type-graphql plugin output"
**Describe the bug**
When I generate type-graphl types with the latest version of graphql-codegen, the output contains references to the `Exact<>` generic, but the `Exact<>` type is never defined.

**To Reproduce**
https://codesandbox.io/s/wizardly-dew-wxt8o?file=/types.ts

**Expected behavior**
I expect the `Exact<>` type to be defined.

**Environment:**
- `@graphql-codegen/typescript-type-graphq

[2020-09-30 10:06] borremosch opened #4831 "typescript-type-graphql plugin should have option to filter types to annotate"
The @graphql-codegen/typescript-type-graphql plugin generates types in a very similar fashion to @graphql-codegen/typescript. However, it will annotate all types with TypeGraphQL decorators. The plugin currently annotates *all* types, which leads to two problems:

1. It easily leads to duplicate type definitions, which are prohibited in GraphQL. Especially when the number of interdependencies betw

[2020-09-30 10:37] vcheloudiakoff commented on #4821
after restarting my computer, it works !
I don't know if there is a way to reproduce that issue, so i think that this post can be closed.

Thanks

[2020-09-30 10:45] #4821 closed

[2020-09-30 12:34] e10jc opened #4834 "Enum members should be quoted if numeric"
See the screenshot below. The problem is easily solved by quoting the problematic members.

![image](https://user-images.githubusercontent.com/80369/94685422-421b1b00-02de-11eb-82ce-b3b0f993b5e3.png)

[2020-09-30 14:03] ardatan commented on #3836
Currently no. Maybe, you can start with a PR with some initial work so we can support you.

[2020-09-30 15:04] benmosher commented on #4216
I am seeing the same `TypeError: parentType.isTypeOf is not a function` when I enable Relay optimizer. I added some logging and it seems than none of the `parentType` objects that come through have it defined.

Could it be some peer graphql-tools dependency not implementing this? What is responsible for implementing that function?

[2020-09-30 16:22] michalkvasnicak opened #4837 "Missing baseTypes import in files generated by near-operation-file when fragment on Query is used"
**Describe the bug**

When a fragment on `Query` is used in document. Import for base types is missing.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/ancient-surf-mncg9?file=/operations/User.graphql.ts

**Expected behavior**

**Environment:**

- OS: macOS 10.15.6
- NodeJS: 12.16.1

[2020-09-30 17:22] CTOJoe opened #4937 "TypedDocumentNode suffix plugin configuration"
Is there a configuration option for this plugin to remove the 'Document' suffix from the generated `TypedDocumentNode`? Thanks in advance for any responses.

[2020-09-30 18:01] tusharsadhwani opened #4838 "Incorrect version entry for typescript-react-apollo"
[code]

v1.17.8 doesn't exist for typescript-react-apollo yet, but that's what the cli puts in package.json

[2020-09-30 18:47] dannycochran commented on #4562
@dotansimha copying my comment from that thread in here. I'm not sure if this ticket is meant to track improvements related to my comment, so I wanted to flag:

------
@dotansimha to pile on to the use case here, for large federated graphs, my total file size generated is nearing 2MB. The number of exports and types seems like it puts an unnecessary strain on the TS compiler and IDE.

This combina

[2020-09-30 20:45] frederikhors opened #4841 "Optimize final introspection json schema"
**Is your feature request related to a problem? Please describe.**

I'm using the below code (from [here](https://formidable.com/open-source/urql/docs/graphcache/schema-awareness/)) because I need an introspection schema in my SPA web app:

[code]

The amazing team at Urql also created packages for optimization: https://formidable.com/open-source/urql/docs/graphcache/schema-awareness/#optimizing-a

[2020-10-01 05:51] dotansimha commented on #4841
That's sounds like a very interesting feature! It could be added easily with configuration flag.

@frederikhors PRs are always welcome ;)

[2020-10-01 11:40] crazyx13th commented on #4219
nice idea!, any example?

[code]

not working at with `generate(input, true)`

thanks!

[2020-10-01 13:10] dkamyshov opened #4849 "Add a CLI flag to make console output in watch mode less verbose"
**Is your feature request related to a problem? Please describe.**

The development workflow in the project I work on requires multiple tools to be running simultaneously in watch mode. I start all the tools via `concurrently` and see a couple, occasionally 5, lines scroll by for each tool for each save. graphql-code-generator, on the other hand, emits ~30 lines on each save (4 lines for each "ent

[2020-10-03 02:08] piglovesyou opened #4855 "[typescript-react-apollo] TS Error "Cannot find name 'QueryVariables'" when used with unnamed operation"
**Describe the bug**
When I ran graphql-codegen with the following schema.json, the typescript-react-apollo plugin generates incomplete TypeScript source, saying "Cannot find name 'QueryVariables'".

By the way the following schema.json came from the "Blog" example template of AWS AppSync. I'm sure it's valid, the local GraphQL Playground works on it without errors.

**To Reproduce**
You can see t

[2020-10-03 17:32] ardatan commented on #4855
Does it work when you name the query?

[2020-10-04 05:59] piglovesyou commented on #4855
Oh, it turns out [yes](https://github.com/piglovesyou/issue-example-graphql-codegen/commit/bf1e8a6a560533410e2596ace18f3fd52d4486fe).

[2020-10-05 11:58] adambrgmn opened #4859 "Codegen fails when base folder name ends with something looking like a file extension"
**Describe the bug**

This one really got me stumbling :D I kept getting an error saying `Unable to find template plugin matching 'typescript'` even though everything had been installed properly. And I have used this project before, without issues.

But after some searching and messing with the code I found the culprit – [`createRequire`](https://github.com/dotansimha/graphql-code-generator/blob/3

[2020-10-05 13:55] adambrgmn commented on #4859
I took the liberty of submitting a PR #4860

[2020-10-05 15:19] danielw93 commented on #4820
Can I do anything more to help move this along?
Maybe I can find another Kotlin developer that can take a look at this as well and see if my assessment of the situation is correct?

[2020-10-05 16:09] CarlosGines opened #4861 "Custom scalars inside a fragment are turned into `any` when `preResolveTypes: true`"
**Describe the bug**
Custom scalars inside a fragment are turned into `any` when `preResolveTypes: true`

**To Reproduce**
Check live: https://codesandbox.io/s/elegant-haibt-30ppy

Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
`UserFragmentFragment['createdAt']` should be `Scalars[

[2020-10-05 18:28] IgorSzymanski commented on #4118
@lanwin, hey, how did you solve this?

[2020-10-05 20:04] lanwin commented on #4118
It's sad but I did not have a solution yet. So I postponed the update of graphql gen and still looking for a good solution.

[2020-10-05 21:09] SamuelC54 opened #4862 "Allow to specify an apollo-client in the typescript-react-apollo plugin"
**Is your feature request related to a problem? Please describe.**

I really like the generated hooks that typescript-react-apollo provide and it makes my code really more clean than before but I think it could be improved if it had a way to specify the ApolloClient in the option for the hooks generated.

What it look right now:
[code]

**Describe the solution you'd like**

I wish that in the conf

[2020-10-06 13:17] tafelito commented on #2891
this seems to be broken again, adding it to the top level or a after the generates, prettier is never running

[2020-10-06 14:35] macnibblet commented on #3769
I just recently tried to integrate this into one of the project I'm working with the latest versions and had the same issue (1.17.10)

[2020-10-06 14:48] oskarious opened #4865 "Angular >9 breaks codegen"
**Describe the bug**

We are in the process of upgrading our angular environment from 8 -> 10. For angular 8, we have been able to generate the services fine, but as soon as we upgraded to 9, we started running in to issues. What seem to be happening is that any and all .gql file, during the generation, wants to reference a completely unrelated fragment.

The error is variations of this
`...graphq

[2020-10-06 15:11] dotansimha commented on #3769
Locking this thread. As Is said, if someone is still having issues - please open a new issue, **with reproduction**.

[2020-10-06 19:19] dan-j commented on #4393
I'm having this problem with graphql@15, here's my package.json `dependencies`:

[code]

Brand new project, no other dependencies, any ideas?

[2020-10-07 04:57] UlisesAC4 commented on #4381
Greetings I am having problems with downloading too. My server does not check for the form `authorization: prefix token`, it just reads `jwt: token` and I am not able to make it work with config as it is below. Thank you.

[code]

[2020-10-07 05:19] dotansimha commented on #4393
@dan-j please share a reproduction

[2020-10-07 17:31] joshboley opened #4870 "Enums with numeric values defined in enumValues are not generated correctly (when enumsAsConst=true)"
**Describe the bug**
This bug was fixed in https://github.com/dotansimha/graphql-code-generator/issues/3137.  However, it was only fixed if `enumAsConst` is NOT set to `true`.  When `enumAsConst=true`, the integer 0 is not converted, but is instead set to the string matching the key.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/festive-jennings-83lwx

1. My GraphQL

[2020-10-07 18:30] warent opened #4871 "Sequential-dependent codegen breaks with output-file level documents"
**Describe the bug**
The following config works:

[code]

The following config does not work:

[code]

And produces this error:

[code]

Yet it works fine if you remove the resolvers.ts definition:

[code]

By moving `documents` to `types.ts`, the `resolvers.ts` definition suddenly thinks that `types.ts` is invalid, even though it is valid.

**To Reproduce**
Steps to reproduce the behavior:

https

[2020-10-07 18:46] warent commented on #4871
FYI in my local environment I can work around this by commenting out the "resolvers.ts" section to first generate the types.ts, and then generating the resolvers.ts after. For some reason this workaround doesn't work in the sandbox environment.

[2020-10-08 12:16] mastorm commented on #4859
Heres a minimal repro: https://github.com/mastorm/graphql-code-generator-error-repro

do yarn install && yarn gen in both folders

[2020-10-08 14:03] Eddman commented on #4393
@dotansimha I'm wondering why is this one closed when there was no new `graphql` released, nor any fixed introduced in `graphql-code-generator`?

BTW with `graphql@14` I have `"description": null,` with `graphql@15` it is `"description": "",`

Direct introspection query execution against our endpoint returns `"description": "",` so `""` is replaced with `null` in `@14`.

[2020-10-08 14:16] vjpr opened #4875 "Allow passing the gql query to generated apollo queries/mutations for traceability"
**Is your feature request related to a problem? Please describe.**

If you define your queries in code with `gql` blocks, the IDE will think they are not used, because you are using the ones generated in code.

**Describe the solution you'd like**

Provide an option to allow another parameter to be passed in which is the actual gql query. Instead of using the generated one.

**Describe alternative

[2020-10-08 14:16] vjpr opened #4876 "Allow passing in the gql document into an apollo generated hook"
**Is your feature request related to a problem? Please describe.**

If you define your queries in code with `gql` blocks, the IDE will think they are not used, because you are using the ones generated in code.

**Describe the solution you'd like**

Provide an option to allow another parameter to be passed in which is the actual gql query. Instead of using the generated one.

**Describe alternative

[2020-10-08 17:43] vjpr commented on #4876
Queries take a `query` opt.

[2020-10-08 17:43] #4876 closed

[2020-10-08 17:43] vjpr commented on #4875
Queries take a `query` opt.

[2020-10-08 17:43] #4875 closed

[2020-10-09 05:11] ntziolis commented on #4834
We ran into the same issue. We were able to use the workaround `enumAsTypes: true`, but this is not optimal since the angular language service does not provide syntax checking for literal union types in the template part of components. While it does support syntax checking for enums.

If a sample is needed we can provide one.

[2020-10-09 08:41] borremosch commented on #4834
Could either of you provide your GraphQL schema/options or a Code Sandbox to reproduce the issue?

[2020-10-09 21:15] BjoernRave commented on #4797
Okay, I will look into that, but I think a plugin for this wouldn't hurt anyone and could save a lot of time.

[2020-10-10 17:38] cdrx commented on #4817
Anything you pass to `mutate()` is merged with anything you pass to `useSetLanguageMutation({variables: ... })` so it can work both ways.

In your case uou can pass your variables directly to `mutate()`, you don't need to pass them to `useSetLanguageMutation({variables: ...})` also.

The functions created by this library are thin wrappers around vue-apollo's composition API, you can find some docu

[2020-10-11 20:47] johnnyBira commented on #1757
@dotansimha I upgraded to the latest `@graphql-codegen/cli` (`1.17.10`).
Passing this options used to work in `1.12.1`
[code]

But in `1.17.10` I'm seeing this error:

[code]

Any input would be greatly appreciated

[2020-10-12 11:02] ChrisSargent opened #4886 "Debug logs not being printed"
**Describe the bug**
I am trying to troubleshoot an issue with lifecycle hooks not running, like described in this bug: https://github.com/dotansimha/graphql-code-generator/issues/2891

However, on testing I was not seeing any useful output, with any verbose / debug setting. After further investigation, I saw this line which should print out some info in debug mode: https://github.com/dotansimha/g

[2020-10-12 11:09] ChrisSargent commented on #4886
FYI - my issue with the hooks not running was a mistake on my part (the generated files had been added to the prettier ignore file... :-\ )

[2020-10-12 14:35] eightypop opened #4888 "Types for input Lists do not support coercion"
**Describe the bug**

According to the [graphql spec](https://spec.graphql.org/draft/#sel-FAHjBJFCAACE_Gh7d) input lists can also take a single value of the array's type. However, the types generated do not allow this. This causes the ts to generate type errors with valid queries.

**To Reproduce**
Steps to reproduce the behavior:
Define an argument that accepts a List
In the operation use the lis

[2020-10-12 15:49] chriskrycho opened #4889 "TypedDocumentNode does not use type names generated by base visitor"
**Describe the bug**
When  using `TypedDocumentNode` and generating an anonymous query

**To Reproduce**

- Go to the GraphQL Code Generator home page
- Select the `TypedDocumentNode` example
- Delete the name of the query in the `operation.graphql` pane

Observe that the generated type for the exported `Document` is `DocumentNode<Query, QueryVariables>`, but the corresponding types are named `Unn

[2020-10-13 04:41] OscarBarrett opened #4890 "typescript-operations: Missing types with a nested fragment when exportFragmentSpreadSubTypes and skipTypename are enabled"
**Describe the bug**
When both `exportFragmentSpreadSubTypes` and `skipTypename` are `true`, some types are not generated when a fragment has certain nested objects.

**To Reproduce**
Reproduction here: https://codesandbox.io/s/great-noyce-wdyut
Missing types are shown in the `no-undef` lint errrors.

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file

[2020-10-13 13:00] yoavain-sundaysky commented on #3695
I see this one is closed, but I'm still having some problems with this one.
1. Getting this
```import { GraphQLResolveInfo, GraphQLScalarType, GraphQLScalarTypeConfig } from 'graphql';```
instead of this
```import type { GraphQLResolveInfo, GraphQLScalarType, GraphQLScalarTypeConfig } from 'graphql';```

2. When configuring `contextType` i.e
```contextType: ../context#ApolloContext```
I'm getting:

[2020-10-13 14:49] oskarious commented on #4865
An update to this, when I remove the file containing the fragments from `adminUserFields` I get the following error instead;
`GraphQLDocumentError: Unknown fragment "adminUserFields".`
as well as a stack trace printed at the end of the error output (though this is present when not removing the file as well):
[code]
where userSettings.gql looks like:
[code]

[2020-10-13 20:30] aderaaij commented on #4834
Got the same thing, in this case it's the standard WordPress thumbnail sizes which are named `1536x1536` and `2048x2048`. @borremosch I can spin up an example site but it's basically the schema provided by https://www.wpgraphql.com/

[2020-10-14 07:25] borremosch commented on #4834
Great, thanks! I will have a look soon to see if I can reproduce the problem

[2020-10-14 08:32] dotansimha commented on #1757
@johnnyBira 1.12 is pretty old. I'm not sure i'm able to compare that.
You can use `DOTENV_CONFIG_PATH` env var for that

[2020-10-14 11:37] smblee opened #4896 "Apollo Client Typescript for Server sided queries/mutations"
**Is your feature request related to a problem? Please describe.**

Hello; I noticed there are apollo code gens for front end (React, Vue, Angular, NextJS) but haven't been able to find anything for server-sided consumption (e.g. NextJS /api directory or express REST API). To get type coverage, I am currently using the barebones `typescript` plugin like so:

[code]

which is a little bit of a hass

[2020-10-14 15:32] chriskrycho opened #4897 "Missing docs for `namespacedImportName`"
While the presets use the `namespacedImportName` option, it is not documented anywhere. I'm currently using it for the config in the programmatic codegen, having picked it up from the examples in the presets.

- If this is public API, it would be great if it were documented.
- If this is *not* public API, it would be great if it *became* public API!

(Nothing in the source indicates that it is *no

[2020-10-14 17:07] such opened #4898 "Aliased attributes could optionnaly be added to the Object Type"
**Is your feature request related to a problem? Please describe.**

I'm using codegen with the `@homebound/graphql-typescript-factories` plugin in order to automatically generate factories for my tests in my React app.
My components  have their props typed thanks to a fragment they expose. When an attribute is aliased in the fragment it appears as an attribute in the requested type:

[code]
gives:

[2020-10-14 23:14] Fi1osof opened #4899 "Unable to find template plugin matching 'introspection'"
**Describe the bug**

Related to https://github.com/dotansimha/graphql-code-generator/issues/3769

**To Reproduce**
Steps to reproduce the behavior:

[code]

P.S. Can not run codesandbox due 502 error

1. My GraphQL schema:

[code]
https://api.prisma-cms.com/

2. My GraphQL operations:

[code]

**Expected behavior**

Got from https://github.com/prisma-cms/nextjs where all works fine.
You may got t

[2020-10-15 01:33] Fi1osof commented on #4899
It's realy brainpain...

Please, do publish new version in npm registry. Seems like this bugfix already exists in new commits, maybe https://github.com/dotansimha/graphql-code-generator/pull/4869/files
but not published yet.

Reason: i clone https://github.com/dotansimha/graphql-code-generator and build localy, do yarn link graphql here and in my project, and yarn link @graphql-codegen/cli in my p

[2020-10-15 04:38] Fi1osof opened #4900 "'Types' is declared but its value is never read"
**Describe the bug**

When generate separated files for fragments, added
import * as Types from './types';
in any case, ever Types does not using.

Generated code:
[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

1. My GraphQL schema:

[code]

3. My `codegen conf` config file:

[code]

**Expected behavior**

**Environment:**

- OS:
- `@graphql-codegen/...`:
- NodeJS:

**Additiona

[2020-10-15 05:35] Jonir227 opened #4901 ""Import type" preset with "typescript-resolvers" doesn't work well"
**Describe the bug**

I made types with prefix "T". but when I generated resolver types, It doesn't have "T" prefix.

## codegen

[code]

### gql files

`test.document.gql`
[code]

`test.type.gql`
[code]

### generated files

`type.ts`
[code]

`resolver.ts`
[code]

**To Reproduce**
Steps to reproduce the behavior:

https://github.com/Jonir227/graphql-codegen-import-type-bug

[code]

[2020-10-15 07:16] johnnyBira commented on #1757
Can you direct me to the docs please? @dotansimha

[2020-10-15 09:35] smblee commented on #4896
Found my solution! https://github.com/dotansimha/graphql-code-generator/pull/2978

[2020-10-15 09:35] #4896 closed

[2020-10-15 15:19] FezVrasta opened #4911 "Double // @flow comment added to generated file"
**Describe the bug**

Hi, when I enable `flow` and `flow-operations` plugins at the same time, two `// @flow` headers are added to the `graphql.js` file.

**To Reproduce**
Steps to reproduce the behavior:

I tried to edit the template but it doesn't seem to work with the Flow plugins.

https://codesandbox.io/s/wizardly-paper-wsqgl?file=/document.graphql

1. My GraphQL schema:

[code]

2. My GraphQ

[2020-10-15 15:29] joshboley commented on #4870
Thanks @borremosch for fixing this so quickly! @dotansimha what's your release cadence?  Just curious when this might be released.

[2020-10-15 16:31] marisbest2 opened #4912 "Branded Scalar types"
We recently ran into a bug where we had two different scalar types `DogId: string` and `PersonId: string`. In one place in the codebase we accidentally passed `dog.id` instead of `dog.owner_id`. It'd have been great if this had generated a type error.

A nice solution would allow us to have tagged/branded types (see e.g. https://medium.com/better-programming/nominal-typescript-eee36e9432d2).

This

[2020-10-15 16:52] danielleknudson opened #4913 "Unable to find template plugin matching 'typescript'"
**Describe the bug**
Cannot generate types when the repo/directory name contains a "." (period) character.

**To Reproduce**
1. Clone example repo: https://github.com/danielleknudson/test2.0
2. `cd test2.0` && `yarn install`
3. Generate types: `yarn generate`

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Types gen

[2020-10-15 19:16] tbrannam commented on #1852
@dotansimha it looks like this supports interfaces for the base types of a schema - is there any support for generating them in fragment types?   I have a similar desire to have interface merging for fragments in order to support consumers who may want to add Apollo client resolvers on top of types generated for the base schema.

I realize that this is possible as input to codegeneration - but in

[2020-10-16 01:55] alexander9306 commented on #4859
I Don't understand why this is still happening on @graphql-codegen/cli version 1.17.10

[2020-10-16 04:17] macgyver2k commented on #4913
Yes, it's all about dots in the path. There is already a PR done [#4860](https://github.com/dotansimha/graphql-code-generator/pull/4860) by @adambrgmn. Let's hope the new release will be out soon.

[2020-10-16 07:16] utegenovkamel commented on #2043
And I get this error: Unable to find template plugin matching 'add'
_√ Parse configuration

      √ Load GraphQL schemas
      √ Load GraphQL documents
      × Generate
        → Unable to find template plugin matching add

      √ Load GraphQL schemas
      √ Load GraphQL documents
      × Generate
        → Unable to find template plugin matching add_

 Found 2 errors

  ✖ src/__generated__/type

[2020-10-16 11:12] Eddman commented on #4393
@dotansimha Any news here?

[2020-10-16 11:16] ardatan commented on #4393
@Eddman Could you create a new issue with a reproduction?

[2020-10-16 11:21] Eddman opened #4919 "schema-ast reorders parts of schema on each generation"
**Describe the bug**
Our introspection query returns items in random order as the generation is asynchronous and rendered when calculated.
On the `schema-ast` side it just renders in that random order. That way our schema on the client side constantly changes.

With `graphql@14` it was not an issue. With `graphql@15` `schema-ast` does not do any post-processing and reshuffles generated schema.

**

[2020-10-16 14:15] Eddman opened #4920 "schema-ast produces empty GraphQL docblock comments"
**Describe the bug**
Related to #4393. For `"description": "",` in Schema, `schema-ast` plugin generates empty docblock comments (`""""""`) that are considered invalid in many GQL implementations.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/modest-violet-np6m1?file=/schema.graphql

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml

[2020-10-16 14:16] Eddman commented on #4393
@ardatan #4920

[2020-10-17 06:44] diversit opened #4923 "Error running 'init': <function>:16:10 Expected ident but found (static(patterns, options)"
**Describe the bug**
running `npx graphql-codegen init` it fails with:
[code]

**To Reproduce**
A clean install on a Mac, in a new folder
First the graphql and then the code generator as described on the installation page using NPM.

[code]

package.json
[code]

**Environment:**

- OS: MacOS Catalina 10.15.5
- `@graphql-codegen/1.17.10`:
- NodeJS: 10.16.3
- NPM: 6.13.1

[2020-10-17 07:08] diversit commented on #4923
Ok. Apparently it's because of a wrong Node version.
Just installed Node 14.14.0 and now it works.
However, the documentation does not mention which Node versions are supported.
Would be nice if that kind of info would be added for JS/Node noobs like me.

[2020-10-17 07:23] adambrgmn commented on #4859
This has not been released yet. It's merged into master but awaits release. Keep an eye on #4824 for what it will contain.

[2020-10-17 20:20] mateja176 opened #4925 "Default Resolver Implementation Generator"
Since the shape of the resolvers mirrors the shape of the schema which is defined up front, it is possible to generate default resolver implementations which takes care of the boilerplate. Afterwards it is up the developer to resolve the data. This is not an original idea as it has been done by [graphqlgen](https://github.com/prisma-labs/graphqlgen), however it would complement the [resolver type

[2020-10-17 21:00] aderaaij commented on #4834
@borremosch if you want, you can use https://wp-headless.arden.nl/wp/graphql as an endpoint, should give you the same result. thanks!

[2020-10-17 23:19] mateja176 opened #4928 "Create Resource from Type"
Inspired by the convenience and power of AWS AppSync's [create resource feature](https://youtu.be/_ayZeVjwRPk?t=61), which generates a schema complete with a query, mutations for creating the resource and updating it and subscriptions. On top of that it generates a corresponding DynamoDB table, however this is out of the current scope. This ties very well into [schema merging].

From there on, res

[2020-10-17 23:44] mateja176 opened #4929 "possibleTypes incompatible with InMemoryCache"
**Describe the bug**

`possibleTypes` generated by the [fragment matcher plugin](https://graphql-code-generator.com/docs/plugins/fragment-matcher) are incompatible with the `possibleTypes` parameter of the `InMemoryCache` constructor.

**To Reproduce**
Steps to reproduce the behavior:

Here's a minimal reproduction [repo](https://github.com/mateja176/codegen-fragment-matcher)

1. My GraphQL schema

[2020-10-18 21:00] borremosch commented on #4834
I have submitted a pull request. The leading underscore is removed from the enum identifier when it is PascalCased. This seems to be a design decision in graphql-codegen, so I chose to not bother with removing the leading underscore, and to quote the identifier instead as was suggested. This seems to be more in line with the current enum naming philosophy, and does not introduce any breaking chang

[2020-10-19 08:10] dotansimha commented on #4929
Hi @mateja176
You should set `apolloClientVersion: 3` in your codegen config, and this will generate a compatible output.

Then, make sure to use it like that:

[code]

Or, like that:

[code]

[2020-10-19 08:10] #4929 closed

[2020-10-19 08:12] dotansimha commented on #4928
Hi @mateja176
Codegen doesn't generate GraphQL operations for you, it generates code based on schema and operations.
You can write custom codegen plugin (see docs section) that does that for you, but I don't think we want to maintain this kind of plugin at the moment, since we are trying to keep the generated output of codegen fairly simple.

[2020-10-19 08:12] #4928 closed

[2020-10-19 08:13] dotansimha commented on #4925
Thank you @mateja176 , let's track it here: https://github.com/dotansimha/graphql-code-generator/discussions/1772

[2020-10-19 08:13] #4925 closed

[2020-10-19 08:14] dotansimha commented on #4923
Hi @diversit , can you please share which Node version did you use?
I tested this on latest 10,12,14 and all worked...

[2020-10-19 08:17] dotansimha commented on #4919
The schema doesn't actually change, right? just the order of the items, based on the changes from the introspection.

How do you save the introspection file?

[2020-10-19 08:18] dotansimha commented on #4913
@macgyver2k sorry for the delay. Will release today :)

[2020-10-19 08:20] dotansimha commented on #4912
Hi @marisbest2
This seems like a very specific use-case, and I don't think we can address that.
You can use `scalars` configuration to set the scalars types to anything. You can even use external files/identifiers if you need to.

[2020-10-19 08:20] #4912 closed

[2020-10-19 08:22] dotansimha commented on #4911
I think this was introduced in: https://github.com/dotansimha/graphql-code-generator/pull/4609
Does it's breaking anything @FezVrasta ? or it's just semantics?

[2020-10-19 08:25] dotansimha commented on #4900
I assume this is something to do with `isUsingTypes` method. PRs are welcome :D

[2020-10-19 08:27] dotansimha commented on #4899
@Fi1osof the original issue you mentioned is from Apr 2. It has nothing to do with this specific bug, so I locked it to avoid confusion, the exact same confusion that leads people to think this was related to the issue we had now, and exact same confusion that causes people to think open-source maintainers works for them.

[2020-10-19 08:33] dotansimha commented on #4898
Hi @such !
This is a great idea, but I'm not sure we can add those attributes, since they are not being represented by result TypeScript type.
If you'll use GraphQL variables, you will be able to set those, but this might be an issue since fragments variables are still experimental in GraphQL.
Maybe this is something `@homebound/graphql-typescript-factories` should be doing regardless of codegen?

[2020-10-19 08:35] dotansimha commented on #4888
This is totally correct, and I guess this is something from the GraphQL spec we missed in the codegen implementation. Great catch, @eightypop .

[2020-10-19 08:38] dotansimha commented on #4871
@warent can you please explain the motivation behind using `documents: "./types.ts"` ? This file will contain only TypeScript types for base types (`typescript` plugin) and typescript operations types (`typescript-operations` plugin, based on the `documents` section).
Also, why do you need to load GrpahQL operations for your 2nd output file that creates resolvers signature? It seems like a misuse

[2020-10-19 08:41] dotansimha commented on #4865
This errors seems to come from `graphql-js` validation itself, and has nothing to do with codegen. I really can't see how it can relate to codegen / Angular integration, but maybe I'm missing something here.
@oskarious can you please share a reproduction of this issue?  Maybe you schema has changes and your operation didn't adjust accordingly?

[2020-10-19 08:42] dotansimha commented on #4862
@SamuelC54 you have a complete set of configuration for that:
[code]

[2020-10-19 08:42] #4862 closed

[2020-10-19 08:43] mateja176 commented on #4929
I've added `apolloClientVersion: 3` in the codegen config, however the issue still persists. And both of the approaches listed yielded typescript errors:
- In the first case
[code]
- And in the second case:
[code]

[2020-10-19 08:44] dotansimha commented on #4861
@CarlosGines you are using the per-plugin configuration, so `scalars` config is only available for `typescript` plugin and not for the `typescript-operations`.

Please use:

[code]

[2020-10-19 08:46] dotansimha commented on #4838
Hi! How did you get this? Did you do something specific? how can I reproduce this?

[2020-10-19 08:49] dotansimha commented on #4929
@mateja176 can you please share how your codegen config file looks like?

[2020-10-19 08:51] tusharsadhwani commented on #4838
@dotansimha just install graphql codegen version `1.17.8`, configure it to use typescript-react-apollo, and then run `yarn install`

the typescript react apollo config should add the dependency `@graphql-codegen/typescript-react-apollo` with version `1.17.8`, which doesn't exist according to yarn

[2020-10-19 08:52] dotansimha commented on #4913
Fixed in `@graphql-codegen/cli@1.18.0`

[2020-10-19 08:52] #4913 closed

[2020-10-19 08:52] dotansimha commented on #4899
Fixed in `@graphql-codegen/cli@1.18.0`

[2020-10-19 08:52] #4899 closed

[2020-10-19 08:52] dotansimha commented on #4859
Fixed in `@graphql-codegen/cli@1.18.0`

[2020-10-19 08:52] #4859 closed

[2020-10-19 08:53] dotansimha commented on #4834
Fixed in `@graphql-codegen/typescript@1.17.11`

[2020-10-19 08:53] #4834 closed

[2020-10-19 08:53] dotansimha commented on #4870
Fixed in `@graphql-codegen/typescript@1.17.11`

[2020-10-19 08:53] #4870 closed

[2020-10-19 08:53] dotansimha commented on #4820
Fixed in `@graphql-codegen/kotlin@1.17.9`

[2020-10-19 08:53] #4820 closed

[2020-10-19 08:54] dotansimha commented on #4815
Available in `@graphql-codegen/cli@1.18.0`

[2020-10-19 08:54] #4815 closed

[2020-10-19 08:54] mateja176 commented on #4928
Yes, this plugin would be an outlier at the moment. However, it would be in line with the codegen philosophy of improving developer experience and stripping away the responsibility to write boilerplate code, that's why I wanted to give it a try. Nevertheless, I already created a project for this purpose [graphql-features](https://github.com/mateja176/graphql-features).

[2020-10-19 08:55] dotansimha commented on #4838
Oh got it, this was fixed in 1.17.9 (see https://github.com/dotansimha/graphql-code-generator/releases/tag/%40graphql-codegen%2Fcli%401.17.9 )

[2020-10-19 08:55] #4838 closed

[2020-10-19 08:56] mateja176 commented on #4929
Sure, I already pushed the updated version to [master](https://github.com/mateja176/codegen-fragment-matcher).

[2020-10-19 08:57] dotansimha commented on #4928
Cool, let me know if we can help. We are totally open to improve the ecosystem, we just try to not expand the scope of codegen too much, since it will be very hard to maintain. So if you are working on a plugin for codegen that improves your workflow - let us know if we can help in any way ;)

[2020-10-19 08:58] dotansimha commented on #4929
@mateja176 please try:
[code]

Since `fragment-matcher` is the one that needs to get this configuration flag.

[2020-10-19 08:59] dotansimha commented on #4663
This (and much more) was fixed and improved in `@graphql-codegen/typescript-type-graphql@1.18.1`. Thank you @borremosch for amazing work on this plugin!

[2020-10-19 08:59] #4663 closed

[2020-10-19 09:00] dotansimha commented on #4831
Fixed in `@graphql-codegen/typescript-type-graphql@1.18.1` (thanks @borremosch )

[2020-10-19 09:00] #4831 closed

[2020-10-19 09:00] dotansimha commented on #4829
Fixed in `@graphql-codegen/typescript-type-graphql@1.18.1` (thanks @borremosch )

[2020-10-19 09:00] #4829 closed

[2020-10-19 09:12] dotansimha opened #4935 "Missing docs for using `~` with `baseTypesPath`"

[2020-10-19 09:16] dotansimha commented on #4095
@cancan101 you can use custom document loader, and use `require` in your custom loader to load it from your code file. This way you'll get the interpolated version of the documents and feed it to codegen.
See: https://graphql-code-generator.com/docs/getting-started/documents-field#custom-document-loader

[2020-10-19 09:18] tusharsadhwani commented on #4838
Whoops, now a new error shows up :P

These are my dev dependencies:

[code]

But now, `@graphql-codegen/typescript-operations` doesn't have version `1.17.9`. Is there a better, more permanent fix?

[2020-10-19 09:20] dotansimha commented on #4838
Oh, just use latest version of each plugin, you no longer need to align all versions of GraphQL Codegen.
We are following semver now, which means each package has it's own release and versioning flow.