[2019-08-09 07:20] biern opened #2323 "[typescript-resolvers] Some resolver query arguments are generated as optional but are required in schema"
**Describe the bug**
As in the title in some cases some query arguments are optional but should be required.
It looks as if the `RequireFields<...>` type is either improperly generated or should be defined in another way.

**To Reproduce**
Steps to reproduce the behavior:

My GraphQL schema:

[code]

My `codegen.yml` config file:

[code]

Following typings are generated:

[code]

Effectively the `

[2019-08-09 07:28] capaj commented on #2043
I got the same error just now. Installed this:
![image](https://user-images.githubusercontent.com/1305378/62761830-f37e4200-ba87-11e9-9c42-21d03fc75660.png)

and my yaml looks like:
[code]

[2019-08-09 12:50] bbugh commented on #1856
I appreciate the argument that generated files are not commonly committed and agree, but there are use cases where it is preferable to do so, and it would be great to have this suggested feature.

We have a set up between Ruby and TypeScript that makes sense to keep our generated files committed because there is some interdependency. Given that we treat the types as part of our code base, we'd rat

[2019-08-09 16:01] Hubro opened #2325 "Generated TypeScript arrays always allows null values (?)"
**Describe the bug**

When my GraphQL schema specifies an optional array of `X` and I use `graphql-code-generator` to generate TypeScript typings for that schema, it generates an optional array of `Maybe<X>`, which means that the typings will accept an array like `[null, null, null]`.

**To Reproduce**

Steps to reproduce the behavior:

Go to the example box at https://graphql-code-generator.com/

[2019-08-09 18:24] JKillian opened #2326 "Fragment enum fields aren't compatible with Type enum fields"
**Describe the bug**
In the generated TypeScript types for a GraphQL schema, enum fields are typed as `field: EnumType`. However, in fragments, they're typed as a union of string literals: `field: "VAL1" | "VAL2";` This means that the two types are not assignable to each other which can cause a variety of challenges in application code.

The issue is illustrated in this screenshot:
![image](https:

[2019-08-09 18:28] JKillian commented on #2325
@Hubro, the types in your original schema are wrong (the code generator is actually acting correctly). Your schema specifies an optional array of optional `Series`s.

What you need to do is change your schema:

[code]

[2019-08-09 18:32] Hubro commented on #2325
Ah, that makes sense.

My schema is automatically generated by graphite-python from a many-to-one relationship in Django, so it's weird that it allows an array of null values.

Not a problem with graphql-code-generator though, thanks for your time @JKillian :)

[2019-08-09 18:32] #2325 closed

[2019-08-09 20:13] ecoleman commented on #1537
@richardwardza Removing the `./` prefix from documents & the generates key seems to have fixed this for me.

[code]

[2019-08-10 16:39] ChrisLahaye opened #2333 "Support extend input"
**Is your feature request related to a problem? Please describe.**

Generated TypeScript type does not contain `extend input` properties.

**Describe the solution you'd like**
When using `extend input` I want the generated TypeScript type to contain the extended properties.

**Describe alternatives you've considered**
None

[2019-08-10 17:22] jsphweid opened #2334 "presence of custom scalar definition leads to undefined output"
I made a repo: https://github.com/jsphweid/another-graphql-code-generator-bug

Using types imported from an index.ts, if there is a custom scalar defined, it suddenly ignores a lot of other modules that might be being imported. In the code example above, everything goes back to normal once you remove the line where the custom scalar is defined.

[2019-08-10 19:38] jsphweid commented on #2334
On further inspection, it looks like this could be a problem with graphql-toolkit

[2019-08-10 21:19] jsphweid commented on #2334
FYI, I opened up an issue there: https://github.com/ardatan/graphql-toolkit/issues/204

[2019-08-10 21:19] #2334 closed

[2019-08-11 05:28] dotansimha commented on #2320
@kgajera Thank you for reporting it. I managed to reproduce it in `graphql-toolkit`. Working on a fix.

[2019-08-11 05:39] dotansimha commented on #2322
Fixed in `graphql-toolkit` :)

[2019-08-11 05:55] dotansimha commented on #2316
Hi @jacobheric !

Please see @ardatan 's comments here: https://github.com/dotansimha/graphql-code-generator/pull/2182#issuecomment-519202681

[2019-08-11 05:55] #2316 closed

[2019-08-11 06:40] dotansimha commented on #2311
Hi @yoavain-sundaysky !

Why should the order matter? the generated file shouldn't go to source-control, so you shouldn't get effected by the order of the generated output.

We are using `globby` now because it provides a better solution for specifying multiple glob patterns, and it's easier to exclude files with it.

I'm not sure if we can introduce a solution for that at the moment - but if your

[2019-08-11 06:44] dotansimha commented on #2312
Hi @brookback !
We decided not to test each template literal string for GraphQL documents, because it might effect performance (trying to parse each found string).
You can either use a GraphQL tag library (such as `gql` from `graphql-tag`, or any other), or you can use magic comments (which also supported in most IDEs).

[code]

[2019-08-11 06:44] #2312 closed

[2019-08-11 06:45] dotansimha commented on #2318
Hi @jsphweid
We recently did some major changes in the implementation of `graphql-toolkit`, so it might come from there.
I'll take a look.

Thank you for reporting it!

[2019-08-11 06:48] dotansimha commented on #2326
Hi @JKillian !
The idea behind `preResolveTypes` is to use primitive types where possible. We recently changed enums to be a union of string in order to avoid using the generated enum.
Can you try to set `enumsAsTypes: true`? I think it should solve that.

[2019-08-11 06:50] dotansimha commented on #2333
@ChrisLahaye what do you mean by `Generated TypeScript type does not contain`? You mean that the codegen ignores `extend input`? or something is missing with the output?
Can you please create a small reproduction in a repo/sandbox?

[2019-08-11 07:19] brookback commented on #2312
Thanks, prefixing with a comment works great for generating queries from a JS string!

Perhaps this can go into the documentation.

[2019-08-11 07:37] dotansimha commented on #2043
@capaj can you please create a reproduction of it in a repo?

[2019-08-11 07:37] #2043 closed

[2019-08-11 11:54] ChrisLahaye commented on #2333
@dotansimha Yes indeed, the DSL syntax `extend input` is not parsed by codegen. Hence the extensions are not in the output.

[2019-08-11 12:33] dotansimha commented on #2333
I fixed it in `graphql-toolkit`, can you try the latest alpha? `1.5.1-alpha-67fbd2c9.21`

[2019-08-11 14:20] JKillian commented on #2326
Hi @dotansimha, thanks for the response!

Yes, I think this would work, but we have many places in our codebase where we reference the enums, using the example from above, things like, `Role.ADMIN`, so refactoring would be a bit unfortunate.

I'd actually argue that using an `enum` is basically using a primitive type. I think the output in these cases should depend only on on `enumAsTypes` and not

[2019-08-11 15:06] dotansimha commented on #2311
@yoavain-sundaysky I added documents sort by file path, so it might solve this issue.
Can you please try `1.5.1-alpha-a6dbc965.21`?

[2019-08-11 15:25] dotansimha commented on #2318
@jsphweid

fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/2339
can you please try the latest alpha? `1.5.1-alpha-3b154480.22`

[2019-08-11 17:58] jsphweid commented on #2318
looks good!

[2019-08-11 19:06] JKillian commented on #2326
There's actually a third option, which would be to export both a `type` and an enum-like `const`. This would let literals be used in types, but also let people programmatically reference values via `Role.ADMIN`. The generated code would look something like this:

[code]

I actually think that's kind of a nice option! It gives you the best of both worlds in TypeScript in my opinion.

[2019-08-11 21:04] Aleksion opened #2342 "Scalars stopped working in 1.5.0"
**Describe the bug**

When I run the codegen i'm getting the following error:
[code]

The Codegen config looks as follows:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Upgrade lib from 1.3.0 -> 1.5.0

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS:
- `@graphql-codegen/...`:
- No

[2019-08-11 22:59] veeramarni commented on #2165
@dotansimha Can you please check this PR, it works fine for me.

[2019-08-12 05:42] ardatan commented on #1980
@cml391 Do we have a chance to have a reproduction to get on the same page?

[2019-08-12 05:52] dotansimha commented on #2342
@Aleksion can you please try the latest alpha? `1.5.1-alpha-46a8a9f9.21`
If it's still not working, can you please create a reproduction in a repo or a sandbox?

[2019-08-12 08:17] dotansimha commented on #2312
Thank @brookback , I added docs for it.

[2019-08-12 09:34] thefliik commented on #1885
@dotansimha it doesn't look like this issue should be closed yet. In my testing, #2191 fixes this issue for the `typescript` plugin, but not for the `typescript-operations` plugin.

It appears that `typescript-operations` still only accepts a boolean value for `avoidOptionals`. Attempting to pass an object value is treated the same as passing `avoidOptionals: true`.

[2019-08-12 13:22] dotansimha commented on #2155
@vhenzl is right, it's fixed in 1.5.0.

[2019-08-12 13:22] #2155 closed

[2019-08-12 13:24] dotansimha commented on #1633
Implemented in: https://github.com/dotansimha/graphql-code-generator/pull/1701 , we can close this one :)

[2019-08-12 13:24] #1633 closed

[2019-08-12 13:25] mvestergaard commented on #2155
I don't quite agree with that. This issue relates to fragments, not queries and mutations.

The problem is, if you have two fragments named the exact same thing, and reference both from two different queries, one of them will reference the wrong fragment, because the path to the fragment is tied to the name.

[2019-08-12 13:25] dotansimha commented on #933
Closing this for now, let's track it here: https://github.com/dotansimha/graphql-code-generator/issues/1828

[2019-08-12 13:25] #933 closed

[2019-08-12 13:26] dotansimha commented on #2086
Available since 1.5.0. You don't need to specify or add the directives now, just make sure to add `federation: true` and it will add it and generate a compatible signature.

[2019-08-12 13:26] #2086 closed

[2019-08-12 13:27] dotansimha commented on #2105
Closing this for now, since @mvestergaard changes it works much better :)

[2019-08-12 13:27] #2105 closed

[2019-08-12 13:36] dotansimha commented on #2155
I see @mvestergaard , but we can't tell which fragment is the relevant one, because GraphQL spec doesn't have imports - so you either put it in the same file, or put it in another file, and use the fragment name.
So while we can support duplicate naming for queries and mutations, we can't really do that with fragments :(

[2019-08-12 14:09] jsangilve commented on #2086
@dotansimha thanks for the update!

We've been sorting out other problems with federation and didn't have time to look on this. I'll comment on this issue as soon as I give it a try with 1.5.0

[2019-08-12 14:11] kamilkisiela commented on #2194
I reproduced what you have within a test-case: https://github.com/dotansimha/graphql-code-generator/commit/08ded8010e575890055a08925e5ecff0882a8caa

Could you tell me how your `codegen.yml` looks like?

[2019-08-12 14:12] dotansimha commented on #2194
As @kamilkisiela said, the generated signature doesn't force you to implement the resolvers for the interface's fields.

[2019-08-12 14:28] rynobax commented on #2194
Full codegen.yml:

[code]

I'm guessing it's due to `avoidOptionals`?

I can take a look tonight and update the test to match what I want.

[2019-08-12 14:31] kamilkisiela commented on #2323
I tried to reproduce it but it seems fine: https://github.com/dotansimha/graphql-code-generator/pull/2347

Could you tell me if something is missing in the test? Maybe you have a reproduction?

[2019-08-12 14:34] kamilkisiela commented on #1825
I will talk with the team how they see this feature but for now you can use `@graphql-codegen/add` plugin and do the following:

[code]

[2019-08-12 14:38] kamilkisiela commented on #1918
[code]

GraphQL Code Generator supports multiple schemas, maybe simply merging client and server solves the issue?

[2019-08-12 14:38] kamilkisiela commented on #1918
Could you tell me if that's enough or there are some cases when it doesn't work etc?

[2019-08-12 14:44] dotansimha commented on #2276
@andreyvital I fixed this issue in: https://github.com/dotansimha/graphql-code-generator/commit/9cb9000a5e84a708e6814319c6bc3a7bef17743a
Can you please try the latest alpha? `1.5.1-alpha-84a08ebe.27`

[2019-08-12 14:47] dotansimha commented on #2194
@rynobax yeah the `avoidOptionals` is causing it, you can remove it for the `typescript-resolver` plugin. If you need to for `typescript` plugin only, you can do:

[code]

[2019-08-12 16:10] biern commented on #2323
Hey @kamilkisiela, in my example `QueryPurchasesArgs` is generated correctly (this is what your test case cover I think). However, note that `RequireFields<QueryPurchasesArgs, 'orderBy' | 'direction'>` is applied on top of `QueryPurchasesArgs` in resolver definition. This is what makes the `filter` parameter optional.

Eventually it is the `QueryResolvers['purchases']` that is incorrect and I'm no

[2019-08-12 16:12] cml391 commented on #1980
@ardatan ya, so my configurations is:
[code]

and an example of a schema piece that isn't working is

[code]

This turns into:
[code]
So in the enum definition, the `I` prefix is removed, but when it is used `IRootQueryTypeSuggestionsForUserArgs`, the prefix is not removed and there are errors saying `cannot find name 'ISuggestionType'` since the names don't match.

[2019-08-12 16:18] kamilkisiela commented on #2323
@biern ooh, I see... I'll look at it

[2019-08-12 16:24] frenchtoast747 commented on #2029
I'm trying to use my production schema in order to generate a local introspection schema for the Apollo introspection fragment matcher, but the graphql endpoint is protected by authentication. How can I send my authentication token, in a header, along with the generate command?

[2019-08-12 16:45] kamilkisiela commented on #2323
#2348 should fix it :)

[2019-08-12 17:16] user471 opened #2349 "[Plugin Request] Option to auto generate all queries/mutations/fragments from a schema"
For example I have a lot of mutations like this
[code]
And I don't what to white
[code]
for every mutation
So It would be helpful if code generator just generate ```useCreateFooMutation``` for every mutation from the schema

[2019-08-12 17:23] MarkKahn opened #2350 "Request: Import Documents into generated code when possible"
Currently in the react templates all gql is imported into the generated code causing them to be defined twice in the final bundle.

My request is to do away with this double definition when possible.  One possible way to go about it is to leave it up to the developer to export the gql from the component where it's initially defined.  If it's exported you can then import from the relative path of t

[2019-08-12 17:52] janhartmann commented on #1825
Interesting approach, thanks!

[2019-08-12 18:15] kamilkisiela commented on #1825
#2352 should enable namespaces

[2019-08-12 18:17] Aleksion commented on #2342
That works! :)

[2019-08-12 18:33] n1ru4l commented on #2349
How would you know the correct selection set for each mutation? What if there was any recursion?

[2019-08-12 19:01] user471 commented on #2349
By default it could select everything except nested fields, if you need a different result you need to write a custom mutation. Also there could be a config option to include nested fields. Mutation with recursion could be skipped.

[2019-08-12 20:23] thefliik opened #2355 "Non-Anonymous Query without query keyword doesn't throw an error"
**Describe the bug**

When using the `typescript-operations` plugin, if a typescript file contains a graphql query that is missing the `query` label (making it invalid), then no types will be generated for that file and no error is thrown.

**To Reproduce**

_I attempted to make a codesandbox example here: https://codesandbox.io/s/graphql-codegen-issue-template-mueku_

Steps to reproduce the behav

[2019-08-12 20:46] JKillian commented on #2311
Just FWIW, we also check in our generated types! And then we have CI generate them as well, and assert that the generated types are equal to the checked-in ones. This is a nice sanity check for us to make sure that everyone is operating with a correct version of types and has the correct local environment.

[2019-08-12 21:35] MarkKahn opened #2356 "preResolveTypes probably shouldn't touch enums"
**Describe the bug**
`preResolveTypes` is resolving enums which is causing type errors because you can't assign a string literal back to an enum easily without casting it.

See this minimal [TS playground](http://www.typescriptlang.org/play/#code/KYOwrgtgBAZg9nKBvAUFKBBKBeKByDPAGjSgCEd8zjSBhSvWmgXxRQGM4QBnAFygAeALnyEoAHyp4J+Jg2oBuNjDAh2vAJZcoAIwCGAJwAUAB0N6II+HACUyNqxT7jAmwqA) showing the issue.

[2019-08-13 08:03] dotansimha commented on #1570
@slikts can you please try the latest version and see if it's improved? we did some changes recently and now the codegen should work faster.
It's not incremental builds - but it should improve.

[2019-08-13 08:50] dotansimha commented on #2349
PRs are welcome :) Very similar to what AWS Amplify does.

@n1ru4l we can add `level: X` to the config of this plugin and then create queries/documents according to that.

[2019-08-13 08:51] dotansimha commented on #2350
@MarkKahn do you mean something like that? https://github.com/dotansimha/graphql-code-generator/pull/2331
@eddeee888

[2019-08-13 09:56] kamilkisiela commented on #2086
@jsangilve We would love to collaborate with you on Federation in GraphQL Code Generator! Also happy to hear suggestions 🚀

[2019-08-13 11:08] dotansimha commented on #1797
Hi @slikts
I tried to figure out how to approach this issue, but I think the main problem it the user itself.
At the moment, the watcher uses the exact glob expression as that you provided - if's too broad and contains invalid files - we can't really do anything about it.
I think the other option is to add a file to the list of watched files only if the file is actually has been read - but then we

[2019-08-13 11:08] #1797 closed

[2019-08-13 11:15] dotansimha commented on #1172
I think the best solution for this is to keep a hash of the generated file, and check if before writing the actual file. It will reduce the file-system writes and avoid writing files over and over.
I'm implementing it as part of the changes in: https://github.com/dotansimha/graphql-code-generator/pull/2359

[2019-08-13 11:15] dotansimha commented on #1827
Added debounce in: https://github.com/dotansimha/graphql-code-generator/pull/2359

[2019-08-13 12:40] eddeee888 commented on #2350
@MarkKahn  I'm guessing you mean something like this:

[code]

[code]

There are 2 config values that should help with that: `external` and `importDocumentNodeExternallyFrom`. For example:

[code]

With that said, there's a problem currently where I cannot use [the document scanner](https://graphql-code-generator.com/docs/getting-started/documents-field#document-scanner) to load the `.ts` file...

[2019-08-13 18:16] dotansimha commented on #1856
@bbugh @mxstbr @slikts
I started the implementation here: https://github.com/dotansimha/graphql-code-generator/pull/2361
Added multiple types of hooks, and updated the `dev-test` examples to use that - everything seems to work.

One thing - the `hooks:` definition is implemented on the root level - which means that if you have multiple outputs with different hooks rules - you can't use it. Do you

[2019-08-13 23:41] brandonbloom commented on #1570
I'd like to raise an issue distinct-from, but related-to build times: reloads.

In the absence of some incremental build process, changing a file that contains a `gql` tag will cause double hot-module replacements. That is, a jsx or tsx file gets built, which prompts a hot-reload and then the generated graphql code is rebuilt (unchanged!) which will prompt a second hot-reload. This can be irritati

[2019-08-13 23:46] brandonbloom commented on #1570
Oh, my apologies! I missed that this just landed: https://github.com/dotansimha/graphql-code-generator/pull/2359 - Thanks!

[2019-08-14 06:19] yoavain-sundaysky commented on #2311
Thanks @dotansimha,
1.5.1-alpha-a6dbc965.21 generated files seems to be consistent again.

To answer your previous questions, we currently have these generated files committed (maybe it's bad practice. I'm not sure). Because of that, we have a test that makes sure that if someone changes schema or document files, he can't forget to commit these files...

Thanks for the fix

[2019-08-14 07:50] dotansimha commented on #2356
@MarkKahn duplicate of: https://github.com/dotansimha/graphql-code-generator/issues/2326

[2019-08-14 07:50] #2356 closed

[2019-08-14 08:13] dotansimha commented on #2093
Closing. @vonwao @jedmao feel free to reopen if you have a reproduction for this.

[2019-08-14 08:13] #2093 closed

[2019-08-14 09:12] dotansimha commented on #1856
I think we are ready :)
Fixed all issues mentioned before and updated the docs. Now it's possible to specify hooks on output level.

Available as alpha `1.5.1-alpha-ffd58d6c.40`.

You can now do:

[code]

[2019-08-14 09:53] anderson-amorim opened #2365 "[near-operation-file-preset] not deduping fragment imports on 1.5.0"
**Describe the bug**
Using near-operation-file-preset with the option `dedupeOperationSuffix: true` is not deduping imported fragments. The generated fragment is deduped allright, only the import is wrong.

**To Reproduce**
https://codesandbox.io/s/graphql-codegen-issue-template-ezsqb
Check the `UserQuery.generated.tsx` file to see the bug in action.

[2019-08-14 13:54] dotansimha commented on #2218
Hi @SorEduard
I checked that again.
The `plugins` input must be an array of object, there is no way around that.
The codegen core expects the type of `plugins` to be `ConfiguredPlugin[]` which is an array of objects, with key(plugin name)=>value(config).

This is because we allow to pass configuration per each plugin.
The goal of `core` package is to be simple as possible, and it expects everythin

[2019-08-14 15:46] andreyvital commented on #2276
hey sorry @dotansimha, missed that one. I'll give it a whirl.

[2019-08-14 18:06] dotansimha commented on #2355
Hi @thefliik !
A query without the `query` keyword is valid in GraphQL, but the codegen shouldn't skip it, and should tread it just like any other query.

[2019-08-14 18:20] dotansimha commented on #2216
@smeijer Meteor is a valid use case, but you can still generate 2 files.
You solution is also looks elegant and I think workaround this issue in a nice way.
In order to separate `typescript-operations` from `typescript`, you can do use `namespacedImportName: Types` and use `add` to add an import like `import * as Types from './base-types';` (for `typescript-operations`).

You are right that they s

[2019-08-14 18:20] #2216 closed

[2019-08-14 18:29] dotansimha commented on #1922
@freedomflyer The generated HOC signature allow you to set the name manually when you use it, just like passing `variables`.

[code]

We can't set this because the `data` field is hardcoded in React-Apollo typings, so even if we would set the `name` field, you'll still get `.data` only (see interface `DataProps` of react-apollo).

[2019-08-14 18:29] #1922 closed

[2019-08-14 18:30] dotansimha commented on #1537
@ecoleman @richardwardza I fixed this in: https://github.com/dotansimha/graphql-code-generator/commit/a38a82e845d1b5e66643e3307dca7d540d8e7b19

[2019-08-15 04:41] rynobax commented on #2194
What I want is to have `avoidOptionals` on for all my object resolvers, but not my interface or union resolvers.  Alternatively, it would also be fine if the interfaces types worked the same as union types, where only a `__resolveType` field is generated..

I looked into adding a test for what I want, but I had trouble getting the workspaces to bootstrap.  If it would be useful I can keep working

[2019-08-15 05:46] ardatan commented on #2365
I think #2371 will fix it;
I tried it with the canary version; `1.5.1-alpha-932d25c7.46+932d25c7`
https://codesandbox.io/s/graphql-codegen-issue-template-e7qf7

[2019-08-15 05:55] ardatan commented on #2355
@dotansimha I am not sure if we should assume that is query, because this kind of document fails on `graphql-js`'s `parse` like `Unexpected Name: SomeUnnamed`.
The expected behavior should be to throw that error in codegen. What do you think?
https://github.com/dotansimha/graphql-code-generator/pull/2372

[2019-08-15 08:10] hannesj opened #2373 "[federation] __resolveReference resolver type is incorrect"
**Describe the bug**
The generated code uses regular resolver type for the `__resolvereference` field, when federation is enabled, while the actual type is missing the args argument, and only has `(parent, context, info)`. See [Documentation](https://www.apollographql.com/docs/apollo-server/api/apollo-federation/#__resolvereference) for confirmation.

[2019-08-15 09:19] thefliik commented on #2355
[From graphqljs.org (emphasis mine)](https://graphql.org/learn/queries/#operation-name)

It appears that

[code]
Is invalid. What would be valid is

[code]

[2019-08-15 13:51] ardatan commented on #2355
@thefliik That one is working, right? If it is, we can close the issue.

[2019-08-15 13:58] ardatan commented on #2029
You can generate it using a script, then set it as an environmental variable. Then use this env variable to send to codegen as an  `Authorization` header.
Or you can use codegen programatically to generate a token
https://graphql-code-generator.com/docs/getting-started/schema-field#url

[2019-08-15 14:00] thefliik commented on #2355
@ardatan

No. Why do you say that? Why was this closed? The original issue remains. I was merely refuting @dotansimha's statement that

That statement is incorrect. A query without the `query` keyword is only valid in GraphQL if it is an anonymous query (as cited in my previous comment).

This is not an anonymous query, and it is also lacking the `query` keyword. Hence invalid.

[code]

Unless I'm

[2019-08-15 14:02] jlkiri commented on #2271
Wow, thank you!

[2019-08-15 14:05] ardatan commented on #2355
@thefliik @dotansimha So the problem here is to throw an error in case of an invalid query like this;
[code]
That makes the title wrong because the problem is not to be picked up by codegen but error handling.
So the title should be `Non-Anonymous Query without query keyword doesn't throw an error`, right?

[2019-08-15 14:06] thefliik commented on #2355
@ardatan you are correct. Title changed 👍

[2019-08-15 14:07] ardatan commented on #2355
@thefliik Thank you :) I was just trying to get on the same page
@dotansimha Do you think it is related to graphql-toolkit or codegen?

[2019-08-15 16:53] jsangilve commented on #2086
@kamilkisiela thx for working on the PR. It's quite busy right now, but I'll get back to you as soon I find time to test this. The service that's using the codegen it's not extending types right now  :)

[2019-08-15 21:35] dukedave opened #2380 "High severity lodash vulnerability"
[code]

---

[This advisory](https://www.npmjs.com/advisories/1065) is fixed downstream in `graphql-toolkit` [here](https://github.com/ardatan/graphql-toolkit/pull/161).
But we are pinned to a version without the fix:

https://github.com/dotansimha/graphql-code-generator/blob/b30e190669203ce3fbf3e706365d32208df63860/packages/graphql-codegen-core/package.json#L43

I propose that ⬆️ is relaxed to al

[2019-08-16 01:33] SorEduard commented on #2218
Hi @dotansimha, thanks for the reply, i'll try to use with this approach. i'm not using typescript for this project, for sure i should. Does the webpack plugin package still exist? In readme of this npm package https://www.npmjs.com/package/graphql-codegen-webpack the showed approach isn't equal to the actual version, a webpack plugin increase substantially to the productivity, how about a new imp

[2019-08-16 07:09] dotansimha commented on #2380
Thanks @dukedave , we'll release `graphql-toolkit` with the fix soon, and then update it here.

[2019-08-16 07:11] dotansimha commented on #2218
@SorEduard We dropped support for Webpack plugin because we couldn't control the way it watches for file changes, and it was very difficult to sync the watch of Webpack with ours. See: https://github.com/dotansimha/graphql-code-generator/issues/897#issuecomment-440571977
We might give it another try in the future.

[2019-08-16 07:40] dotansimha commented on #1885
@thefliik you are right, I added a validation for the type of `avoidOptionals` in `typescript-operations`:
[code]

Now it will ignore the object value if it set globally.

[2019-08-16 07:43] #2380 closed

[2019-08-16 07:56] dotansimha commented on #2355
Fixed in `graphql-toolkit@0.5.9`, updated in: https://github.com/dotansimha/graphql-code-generator/pull/2384

[2019-08-16 08:26] dotansimha commented on #2350
@eddeee888 Update to latest, we fixed that :) `1.5.1-alpha-2a70e5d7.58` should work (I think you need to add a dependency for `typescript` as well).

[2019-08-16 11:58] dotansimha commented on #2326
@JKillian fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2385

[2019-08-16 12:40] dotansimha commented on #2320
Fixed in 1.6.0.

[2019-08-16 12:40] #2320 closed

[2019-08-16 12:40] dotansimha commented on #2302
Added in 1.6.0.

[2019-08-16 12:40] #2302 closed

[2019-08-16 12:40] dotansimha commented on #2322
Fixed in 1.6.0.

[2019-08-16 12:40] #2322 closed

[2019-08-16 12:40] dotansimha commented on #2333
Fixed in 1.6.0.

[2019-08-16 12:40] #2333 closed

[2019-08-16 12:40] dotansimha commented on #2318
Fixed in 1.6.0.

[2019-08-16 12:40] #2318 closed

[2019-08-16 12:41] dotansimha commented on #2240
Fixed in 1.6.0.

[2019-08-16 12:41] #2240 closed

[2019-08-16 12:41] dotansimha commented on #2342
Fixed in 1.6.0.

[2019-08-16 12:41] #2342 closed

[2019-08-16 12:41] dotansimha commented on #1632
Fixed in 1.6.0.

[2019-08-16 12:41] #1632 closed

[2019-08-16 12:42] dotansimha commented on #1735
Fixed in 1.6.0.

[2019-08-16 12:42] #1735 closed

[2019-08-16 12:42] dotansimha commented on #1827
Fixed in 1.6.0.

[2019-08-16 12:42] #1827 closed

[2019-08-16 12:42] dotansimha commented on #2323
Fixed in 1.6.0.

[2019-08-16 12:42] #2323 closed

[2019-08-16 12:43] dotansimha commented on #1825
Fixed in 1.6.0

[2019-08-16 12:43] #1825 closed

[2019-08-16 12:43] dotansimha commented on #1172
Fixed in 1.6.0

[2019-08-16 12:43] #1172 closed

[2019-08-16 12:43] dotansimha commented on #2311
Fixed in 1.6.0

[2019-08-16 12:43] dotansimha commented on #1856
Available in 1.6.0, also replaces the `prettify` flag.

[2019-08-16 12:43] #1856 closed

[2019-08-16 12:44] dotansimha commented on #2276
Fixed in 1.6.0

[2019-08-16 12:44] #2276 closed

[2019-08-16 12:44] dotansimha commented on #2365
Fixed in 1.6.0

[2019-08-16 12:44] dotansimha commented on #2271
Fixed in 1.6.0

[2019-08-16 12:44] #2271 closed

[2019-08-16 12:44] dotansimha commented on #2218
Fixed in 1.6.0

[2019-08-16 12:44] #2218 closed

[2019-08-16 12:44] dotansimha commented on #1885
Fixed in 1.6.0

[2019-08-16 12:44] #1885 closed

[2019-08-16 12:44] dotansimha commented on #2355
Fixed in 1.6.0

[2019-08-16 12:44] #2355 closed

[2019-08-16 12:44] dotansimha commented on #2326
Fixed in 1.6.0

[2019-08-16 12:44] #2326 closed

[2019-08-16 12:46] dotansimha commented on #1570
Closing for now, @slikts feel free to open if you thing we can improve it more

[2019-08-16 12:46] #1570 closed

[2019-08-16 12:46] dotansimha commented on #2350
You can do it now, as @eddeee888 explained.

[2019-08-16 12:46] #2350 closed

[2019-08-16 12:48] dotansimha commented on #2194
@rynobax Make sure you have the latest Yarn installed, clone this repo and run: `yarn` and then `yarn build`. This should get you started.

The exact use-case you mentioned is a bit different, so I'm closing this one, and feel free to open a new issue that described exactly what you need and what options should `avoidOptionals` should support.

[2019-08-16 12:48] dotansimha commented on #1918
@const86 Closing for now, feel free to re-open if @kamilkisiela's solution is not enough.

[2019-08-16 12:48] #1918 closed

[2019-08-16 12:49] dotansimha commented on #2165
Thanks @veeramarni , I'll review it soon :) sorry for the delay.

[2019-08-16 15:10] dotansimha commented on #1980
@cml391 this was fixed in 1.6.0 :)

[2019-08-16 15:45] jedmao opened #2387 "Not loading TypeScript project / environment?"
# Bug report

Had things working after #1917, but now it's [broken again](https://github.com/dotansimha/graphql-code-generator/issues/2093#issuecomment-511648973) and I'm not sure when it broke. It was previously working with this config:

[code]

But now, I'm getting these errors:

[code]

## Troubleshooting

First, I tried narrowing down to just the component files:

[code]

Similar 2 errors, bu

[2019-08-16 15:46] jedmao commented on #2093
No need to reopen. I created a new issue #2387.

[2019-08-16 15:51] dotansimha commented on #2387
Hi @jedmao ! Thank you for reporting this.

Maybe it's related to the fact that the codegen runs as Node library with CommonJS? Can you try to add the following?

[code]

Basically, with the latest version of the codegen, we no longer try to `require` in order to load operations, we do that only for the schema. So looking for documents should be done only as AST.

Any chance you can put this repro

[2019-08-16 15:58] jedmao commented on #2387
I actually already have those configurations in my `tsconfig.json`.

Here's the repo: https://github.com/jedmao/codegen-iss2387

[2019-08-16 16:30] dotansimha commented on #2387
@jedmao seems like the codegen tries to load your operations as code files using `require`, and not only as code AST.
The `noRequire` should be set by default, and I think it's related to a change I did recently in `graphql-toolkit`. It will force the codegen to skip `require` for your documents, and just scan the code file as text/ast.

I fixed it in `graphql-toolkit@0.5.10` and merged to this re

[2019-08-16 16:55] jedmao commented on #2387
Excellent! I will give this a try after lunch and report back.

Thanks for not ignoring my question about the negation too!

[2019-08-16 16:56] dotansimha commented on #2387
@jedmao sure. I tested it with your repo and it seems to work :)
Regarding the negation - your syntax was correct as well, both will work :)

[2019-08-16 17:04] dotansimha commented on #2387
Fixed in 1.6.1

[2019-08-16 17:04] #2387 closed

[2019-08-16 18:27] jedmao commented on #2387
Works!

[2019-08-17 04:21] JKillian commented on #2326
Amazing! I look forward to trying it out in a few days. Thank you again for all your hard work on the project @dotansimha!

[2019-08-18 13:45] veeramarni commented on #2165
Ok

[2019-08-18 14:57] veeramarni opened #2396 "When using withHooks we seeing a space as `use<queryName>Lazy Query` instead of one word"
**Describe the bug**

The generated code has a `space` like below.
[code]

**To Reproduce**
Steps to reproduce the behavior:

3. My `codegen.yml` config file:

[code]

**Expected behavior**

[code]
**Environment:**

- OS:
- `@graphql-codegen/...`:  1.6.1
- NodeJS:

**Additional context**

[2019-08-18 17:58] alexpyoung opened #2398 "Enums are not namespaced properly with near-operation-file"
**Describe the bug**

When using the `near-operation-file` preset, generated `enum` types are not properly namespaced using the base path type file.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:alexpyoung/codegen-foo.git`
2. `yarn install && yarn compile`

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

[2019-08-19 13:25] david0u0 opened #2400 "Generate document by raw string format"
**Is your feature request related to a problem? Please describe.**

According to the [document](https://graphql-code-generator.com/docs/plugins/typescript-stencil-apollo#gqlimport-string-default-value-gql-graphql-tag), there are three document modes in the config:

It would be nice to have another mode 'rawString', which prevent the `graphql-tag` before the document. This could be done by external

[2019-08-19 16:42] marcosfede opened #2401 "Installation instructions are wrong?"
running  `npm install --save-dev graphql @graphql-codegen/cli` does not place any `graphql-codegen` comand in $PATH, Are the instructions correct?

[2019-08-19 16:58] dotansimha commented on #2401
@marcosfede Like any other Node library, you have to either run it with NPM scripts (create a script under `scripts` section of `package.json`, then run the script with `npm run myscript`), or, use `npx`, or use Yarn (`yarn graphql-codegen`)

[2019-08-19 16:58] #2401 closed

[2019-08-19 17:03] zamiang commented on #2112
Having trouble using react-apollo 2 now. Even customizing with

[code]
Getting incorrect types since MutationProps changed to MutationComponentOptions and QueryProps changed to QueryComponentOptions.

[2019-08-19 17:15] marcosfede commented on #2401
@dotansimha I forgot to mention that I've tried that already. neither writing a script in `package.json` nor  running with `npx` is working. I've just tried using yarn and it works with no problems, so I think its not working correctly with npm

[2019-08-19 17:16] nathanchapman opened #2402 "1.5.0+ is inconsistent in output when used with prettier"
**Describe the bug**

Using 1.5.0 and above results in a constant diff in output after each run.
I tested this both with 1.5.0 (prettier output, no hooks) and with the new hooks in released in 1.6.0 to format the generated file with prettier.

After each run, the generated file will diff only in ordering/sorting of type declarations and fields. This does not occur in graphql-codegen@1.4.0 and belo

[2019-08-19 21:40] mikestaub opened #2406 "[fragment-matcher] Error of missing directives when using `federation: true`"
**Describe the bug**
I cannot generate the fragments when using federation.

**To Reproduce**
https://codesandbox.io/embed/graphql-codegen-issue-template-z5t3q

**Expected behavior**
Should run without errors.

[2019-08-19 22:03] ardatan commented on #2112
@zamiang See here;
https://github.com/dotansimha/graphql-code-generator/pull/2182#issuecomment-519202681

[2019-08-19 22:24] jefflewis opened #2407 "Invalid opertation fragment union types as of 1.6.0"
**Describe the bug**
In 1.5.0, a query that includes a fragment generates a fragment type based on the selections of the fragment.

In 1.6.0, that same query generates only `{ "__typename": MyType }`, regardless of what is in the selection.

**To Reproduce**
Generate from schema with schema
[code]
...where `ProductFragment` is included and contains product selections (e.g. `id` and `name`).

1. My

[2019-08-20 04:56] dotansimha commented on #2401
@marcosfede can you please share a reproduction of the issue in a repo? Which OS, Node and NPM do you use?

[2019-08-20 04:58] dotansimha commented on #2406
@mikestaub why do you pass `federation: true` to `fragment-matcher`? It's not a valid option there.

Federation is a backend feature, and you should use it with `typescript-resolvers` only, and use it in your Federation backend.

[2019-08-20 04:59] dotansimha commented on #2407
@n1ru4l is it related to your recent changes?

[2019-08-20 05:38] n1ru4l commented on #2407
Might be, @jefflewis: Can you please provide a minimal reproduction?

[2019-08-20 06:33] ardatan commented on #2400
I think it should be always `DocumentNode` for apollo-client. See the API reference, it only takes `DocumentNode` so we can't use `string` directly. It would only break `Fragment` definitions.
https://www.apollographql.com/docs/react/api/apollo-client/

[2019-08-20 06:52] n1ru4l commented on #2407
Should be fixed by https://github.com/dotansimha/graphql-code-generator/pull/2409

Sorry for the inconveniences!

[2019-08-20 07:40] dotansimha commented on #2400
@ardatan is right, `apollo-client` and `react-apollo` requires `DocumentNode` (static, or created by `graphql-tag` on runtime).

@david0u0 can you explain the use case? maybe we're missing something.

[2019-08-20 07:43] dotansimha commented on #2406
@kamilkisiela and @ardatan noticed a different issue, some types are skipped and not being generated by `fragment-matcher`.

[2019-08-20 08:22] david0u0 commented on #2400
Thanks for the fast reply!

@ardatan I apologize for referring to a wrong document. This document is what I actually meant: https://graphql-code-generator.com/docs/generated-config/client-side-base-visitor#documentmode-graphqltag-documentnode-external-default-value-graphqltag

@dotansimha  I'm not using Apollo, but a light-weight gql library `graphql-request` https://github.com/prisma/graphql-requ

[2019-08-20 09:19] ardatan commented on #2406
@mikestaub `fragment-matcher` generates introspection data only for unions and interfaces. You don't have any of those.

[2019-08-20 12:46] CANHBK opened #2410 "Schema not exclude"
**Describe the bug**
Can't specify schema files to exclude

**To Reproduce**
Steps to reproduce the behavior:

- Generate at first time will working
- Generate at second time will not work
[code]
1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Files should be generated

**Environment:**

- OS:  Window 10 1903 build 1

[2019-08-21 03:07] lookfirst commented on #296
This is still an issue: v1.6.1

[code]

[code]

[2019-08-21 07:43] mscharley commented on #2194
@dotansimha this is an example of what was originally asked for. The interaction between using `interface` graphql types and the `avoidOptionals` configuration option is unfortunate and ends up causing a lot of duplicated code since the same resolvers need to be implemented twice instead of defining a `__resolveType` once then implementing the resolvers for each implementation of the interface.

@

[2019-08-21 07:53] mscharley commented on #2194
Or put another way, I'd like a way to make the following SDL:

[code]

generate the following typings:

[code]

Without turning off `avoidOptionals` so that all my other resolvers don't allow optional resolvers.

[2019-08-21 09:16] travigd opened #2415 "Generic Apollo Client Plugin (Not Frontend-Specific)"
**Is your feature request related to a problem? Please describe.**

I'm trying to use Apollo from a Node server. I use it on the frontend with a React app and I love it together with the generated types but it's a little more problematic to use in a frontend-framework-agnostic way because all of the Apollo plugins are specific to React/Angular/etc.

**Describe the solution you'd like**

The React

[2019-08-21 12:33] ChrisLahaye commented on #2333
@dotansimha thank you!

[2019-08-21 12:40] mizdra opened #2416 "Unused imports are generated when using fragment"
**Describe the bug**
`tsc --noUnusedLocals` warn generated files because the files include unused imports when using fragment.

**To Reproduce**
Steps to reproduce the behavior:

- Sample repository: https://github.com/mizdra/graphql-code-generator-sample
[code]

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior*

[2019-08-22 07:08] killjoy2013 opened #2423 "Obtaining query result after running the generated lazy query"
Hi,
I'm using graphql code generator 1.6.0.  I'd like to run one of my generated queries as follows;

`const [executeQuery, {data, loading, error}] = useNodesLazyQuery()`

However, couldn't obtain query result after `executeQuery` called, `data `is always undefined. Would be great if we could obtain the query result after user interaction, like button click.

Thanks

[2019-08-22 08:26] killjoy2013 opened #2424 "ApolloClient typed query result don't see the property in data"
Hi,

Using graphql code generator 1.6.0 and my query is as follows;
[code]
Actual query result is;
[code]

I run the query with the code generated types as below;

[code]
However, compiler generates below error;

`Property 'node' does not exist on type 'QueryResult<{ __typename?: "MainQuery"; } & { node: ({ __typename?: "NodeGType"; } & Pick<NodeGType, "id" | "name" | "enmip"> & { nodeType: { __ty

[2019-08-22 15:22] benjie commented on #2396
This is because `titleCase` from `change-case` is adding the space here

https://github.com/dotansimha/graphql-code-generator/blob/49a835b2463122bd7be3c8aa5422c2cca45e9549/packages/plugins/typescript/react-apollo/src/visitor.ts#L177

[code]

[2019-08-22 15:31] benjie commented on #2396
From reading the change-case docs, I think this should be `pascalCase` instead.

[2019-08-23 12:19] killjoy2013 commented on #2424
Hi,

It should've been `client .query<NodeQuery, NodeQueryVariables>({`
my fault,  sorry :-)

[2019-08-23 20:47] bwiklund opened #2436 "incorrect types on fragments"
we're getting incorrect types on some generated types, see below. I commented on the final snippet in the generated code where the types are seemingly wrong

[code]

[code]

[code]

[2019-08-23 21:45] mikestaub commented on #2406
@dotansimha I am passing `federation: true` to `fragment-matcher` because if I don't I get this error: `Unknown directive "key".`

As a workaround, I am simply including this file in the `schema` list field:

[code]

As defined here: https://www.apollographql.com/docs/apollo-server/federation/federation-spec/

Do you have an example of the `fragment-matcher` working with a federated schema?

[2019-08-23 22:15] n1ru4l commented on #2436
Is the field tiles a union or interface?

[2019-08-23 22:36] bwiklund commented on #2436
sure here's some more context:

[code]

[code]

[2019-08-23 22:42] n1ru4l commented on #2436
I also created a reproduction using interfaces instead of unions (see https://github.com/dotansimha/graphql-code-generator/pull/2437)

[2019-08-23 22:56] bwiklund commented on #2436
so this is confirmed to be a bug? i wanted to be sure we weren't discovering some issue with our schema through the type generation

[2019-08-23 23:25] n1ru4l commented on #2436
Yes it is caused by some code that I did not delete when fixing union/interface types 😅

I fixed it in https://github.com/dotansimha/graphql-code-generator/pull/2437

I added tests for both unions and interfaces to ensure there will be no regression!

[2019-08-24 19:42] cypcz opened #2438 "Async resolvers do not make Typescript suggestions"
**Describe the bug**
When making a resolver async (as most of them need to be), the Typescript suggestions do not show.

![Screenshot from 2019-08-24 21-32-15](https://user-images.githubusercontent.com/29678037/63641938-1c711a80-c6b7-11e9-8748-6e6c3c92c792.png)

![Screenshot from 2019-08-24 21-34-03](https://user-images.githubusercontent.com/29678037/63641940-28f57300-c6b7-11e9-95d2-93f28bbe129c.p

[2019-08-25 09:59] leebenson opened #2439 "weird effects with schema-ast with `includeDirectives: true`"
With the [schema-ast plugin](https://graphql-code-generator.com/docs/plugins/schema-ast), I'm noticing odd behaviour when configured with `includeDirectives: true`.

Given these source files:

**schema.graphql**
[code]

**types.graphql**
[code]

**ping.graphql**
[code]

Omitting `includeDirectives` (default) generates:

[code]

But using `includeDirectives: true` omits `schema`, and adds lots of w

[2019-08-25 10:33] leebenson opened #2440 "`typescript-document-nodes` doesn't generate type defs"
This may be outside of its use-case, but given `schema` and `type` definitions, the `typescript-document-nodes` plugin generates a mostly blank output file:

**codegen.yml**

[code]

Output:

[code]

☝️ no definitions.

I'm guessing the plugin is targeted at client-side queries rather than server type definitions; is there an equivalent for the server?

Thanks in advance!

[2019-08-26 07:45] minheq commented on #1609
I am also encountering the bug where `codegen watch` does not generate new output, if a schema is exported from JS file

@stevenmusumeche have u found a way to work around it?
@dotansimha I have reproduced the bug here:

https://github.com/minheq/gql-codegen-watch-bug-repro

Can we re-open the issue?

[2019-08-26 22:20] simPod opened #2447 "Generate types for Query fields"
v0.19 used to generate exclusive types for fields

[code]

Equivalent in current stable

[code]

Is there a way to use original behaviour so I can use type `XxxField`? Or do I have to use `XxxQuery['field']`?

Thanks!

[2019-08-26 23:39] simPod commented on #2447
I think compatibility plugin is the key but why is the new format preferred? Typing `XxxQuery['field']` feels softer than `XxxField`.

[2019-08-27 09:21] dotansimha commented on #1609
@minheq @stevenmusumeche

Please note that if you are using a code file with export for your schema, the codegen can't follow and tell which files are loaded from your code files, so it can't really watch for those changes. That's why you need to pass custom files to the codegen.

@minheq I tried your repo, ran `yarn codegen` and it was waiting for changes, then I changed the `schema.js` file, and

[2019-08-27 09:23] dotansimha commented on #2194
@mscharley I see, this use-case seems fine. If you already managed to change that, maybe you can create a PR for this with a configuration flag? :)

[2019-08-27 09:25] dotansimha commented on #296
@n1ru4l I think it's related to your changed, can you please take a look?

[2019-08-27 09:26] dotansimha opened #2450 "Missing `readonly` for generated `__typename`"
Related:
https://github.com/dotansimha/graphql-code-generator/issues/296#issuecomment-523276461

@n1ru4l do you think it's related to your recent changes?

[2019-08-27 09:28] dotansimha commented on #2447
It's been a long time since 0.x versions, and a lot has changed.
As @simPod said, you can use `typescript-compatibility` in order to generated those and migrate easily to 1.6.

[2019-08-27 09:28] #2447 closed

[2019-08-27 09:30] dotansimha commented on #2406
Thanks @mikestaub . You are right.
At the moment, you can add those manually (add another item for `schema` field) and it will workaround this issue for your.
Me and @ardatan are thinking about doing a core change in the codegen that might fix that.

[2019-08-27 09:40] deser commented on #2043
Have somebody resolved the issue?

[2019-08-27 09:49] lookfirst commented on #296
@dotansimha Kind of separately, one issue with this is that __typename gets compiled out of the JS by `tsc`. I have no idea how to reference it and keep it for use to make my `__resolveType` method automatically work in apollo. Any ideas?

For example, I can return an object from a Query resolver that is like this:

`return {__typename: EdgeNode.__typename} as EdgeNode;`

https://www.typescriptlan

[2019-08-27 10:02] dotansimha commented on #2440
@leebenson This plugin generates TS code that exports a compiled `DocumentNode` based on documents and not schema, and you don't have any `documents` in your config file.
Can you please explain your use-case? Thanks!

[2019-08-27 10:07] dotansimha commented on #2439
Hi @leebenson !

The `includeDirectives` effects the behaviour not only in terms on directives, vut it uses `graphql-toolkit` to print the schema, instead of `graphql` (because `graphql` removes directives while printing).
`graphql-toolkit` scans the schema manually and prints each object by itself, and includes the directives. It also skips the `schema { ... }` when you are using the default type

[2019-08-27 10:15] kamilkisiela commented on #2438
I think it happens because we use a lot of `OR` in types logic and vscode won't give any hints since there are no properties in common. I guess if you turn off [the support of Schema Stitching](https://graphql-code-generator.com/docs/plugins/typescript-resolvers#noschemastitching-boolean-default-value-false) it may help.

[2019-08-27 10:16] dotansimha commented on #2410
Weird, the generated files should be automatically ignored.

@CANHBK please note the following: it's not a good idea to specify all `**/*.ts` files - it will make the codegen work very hard. Try to be more specific.

Also, can you please try to use:

[code]

?

[2019-08-27 10:17] leebenson commented on #2439
gotcha, makes sense, thanks!

[2019-08-27 10:17] #2439 closed

[2019-08-27 10:18] dotansimha commented on #2423
@killjoy2013 The generated lazy hook is just a wrapper around Apollo Hooks, so if `.data` is empty, it's not related to the codegen. We might be able to help any way and point you to the issue, but we'll need a reproduction in repo or codesandbox.

[2019-08-27 10:21] leebenson commented on #2440
My use case is supplying a compile-time `typeDefs` to Apollo Server without incurring the (granted, small) runtime cost of parsing multiple `.graphql` files.

I wound up writing a small plugin for that, which turned out to be quite simple using `graphql-tag`, so I no longer need this.

[2019-08-27 10:21] #2440 closed

[2019-08-27 11:16] dotansimha commented on #2440
I see. @leebenson, you can also use https://github.com/ardatan/graphql-import-node to do that and import directly from `.graphql` files.

[2019-08-27 11:19] dotansimha commented on #296
@lookfirst All types are stripped from TypeScript code during compilation, it's not related only to `__typename`.
Can you please explain the use case? Isn't your project completely TypeScript?
I don't understand why do you try to compile the generated file and then use the output of it (it should be part of your project).

[2019-08-27 11:20] dotansimha commented on #2043
@deser if it happens to you, can you please share a reproduction in a repo? Because we couldn't reproduce it.

[2019-08-27 11:24] dotansimha commented on #2402
@nathanchapman any chance you can create a reproduction in a repo? I tried to reproduce it, but it seems stable.

[2019-08-27 11:28] dotansimha commented on #2400
Hmm I see, thanks @david0u0 !
Keeping this open, we maybe implement it in the future. If you want, you can create a PR for this :)

[2019-08-27 11:34] lookfirst commented on #296
Have you ever used apollo graphql with an interface or enum? How do you handle the [__resolveType](https://www.apollographql.com/docs/apollo-server/features/unions-interfaces/) method?

[2019-08-27 11:34] dotansimha commented on #2415
Sounds like a valid use-case :)
We'll maybe add this in the future. Feel free to send a PR if you wish :)

[2019-08-27 11:36] lookfirst commented on #296
In other words, what's the benefit of generating code with `__typename` in it, if it isn't used anywhere? Do explain.

[2019-08-27 11:43] dotansimha commented on #296
@lookfirst Sure. `__resolveType` is just the way of resolving a native object into a GraphQL type.
It has a default implementation, based on `__typename`, but you don't have to use it.

Let's take for example the following schema:

[code]

It assumes that you have a different model type for A and B, so you are able to detect which type is it:

[code]

The following resolvers example is WITHOUT usi

[2019-08-27 11:44] #2424 closed

[2019-08-27 11:59] lookfirst commented on #296
Your answer is very long. Thanks for taking the time to write it out.

What I'm trying to basically say is what you show in your very last example... I'd love for `__typename: 'A'` to be more static such that if I rename 'A' to 'AA', that it causes a compile error somewhere.

[2019-08-27 15:24] smajl commented on #1537
@dotansimha Hi, we just noticed in our team that the above fix is working on UNIX systems (generated file is ignored) but not on Windows machines.

[2019-08-27 19:21] minheq commented on #1609
@dotansimha hey,

the bug here is not with watching the files, that part works fine.
the issue is that the `output.ts` is not updated as `schema.js` is changed.

for example if you try to add a field to `Post` in typedefs in `schema.js`, i would expect that when the change is detected, it would regenerate the `Post` in `output.ts`

thanks for looking into it

I'm using MacBook Pro 15 2017

[2019-08-28 09:25] merisbahti opened #2452 "Some operations/fragments validations are being skipped by `graphql-toolkit`"
**Describe the bug**
The query (`Query`) gets the `__typename` `'Query' & 'Pizzeria'`, which is impossible.

**To Reproduce**
Steps to reproduce the behavior:
https://codesandbox.io/s/magical-dirac-nzc4c

1. My GraphQL schema:

[code]
fragment:
[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
The type of SearchPageQuery should _not_ be `'Qu

[2019-08-28 09:27] n1ru4l commented on #2452
Does GraphQL allow spreading Fragments on types that are not covered by that fragment?

[2019-08-28 09:35] merisbahti commented on #2452
Sorry I'm not sure what you mean, could you provide a forked sandbox?

[2019-08-28 09:57] n1ru4l commented on #2452
The query is not valid: https://codesandbox.io/s/fervent-brahmagupta-60k48?fontsize=14

This should throw an error during code generation.

[2019-08-28 19:14] nickhudkins opened #2455 "Failure when colliding field names implementing the same interface"
**Describe the bug**
Code generation fails when two types implement Node and have the same field name with different types.

**To Reproduce**
Steps to reproduce the behavior:
Go to my [Code Sandbox](https://codesandbox.io/s/graphql-codegen-issue-template-oqj7b), run `yarn generate` in the terminal.

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[2019-08-29 03:45] #2396 closed

[2019-08-29 05:54] mscharley commented on #2194
I haven't made any changes to the code generation, I just made a mapped type inside my application which manages to patch in the desired behaviour. If you're happy that this is an actual issue, can you reopen this please?

[2019-08-29 08:36] dotansimha commented on #2398
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2458

[2019-08-29 11:36] dotansimha commented on #2452
@ardatan can you please take a look? it seems like the codegen doesn't validate operations in this case

[2019-08-29 13:17] dotansimha commented on #2416
Fixed and available as alpha `1.6.2-alpha-aeb3f880.46`, @mizdra can you please try it?

[2019-08-29 16:09] dotansimha commented on #2452
It seems like some rules with are ignoring in `graphql-toolkit` also causes it to skip the invalid type rule. I'll take a look and try to make the codegen throw this validation error.

[2019-08-29 16:44] nickhudkins commented on #2455
Looks like this is a duplicate... or at least fixed by: #2436

[2019-08-29 16:44] #2455 closed

[2019-08-29 17:01] CANHBK commented on #2410
@dotansimha, Thanks for your answer

[2019-08-30 06:21] mrtnbroder opened #2467 "codegen stops working when using a different gql library"
When configuring the`gqlImport` and setting it to e.g. `graphql.macro#gql`, graphql-code-generator doesn't pickup the usage of `gql` it seems, thus it does not detect the usage of it to generate functions.

**To Reproduce**

I created a sandbox to reproduce the issue.
https://codesandbox.io/embed/graphql-codegen-issue-template-k43f6

In codegen.yml, comment out `gqlImport` and use `graphql-tag` an

[2019-08-30 07:01] dotansimha commented on #2467
@mrtnbroder using `pluckConfig` doesn't work? You tried it? see: https://github.com/dotansimha/graphql-code-generator/issues/1555#issuecomment-476212983

[2019-08-30 07:42] mrtnbroder commented on #2467
That seems to do the trick. Thanks.

Documentation should link to `pluckConfig` from `gqlImport` !

[2019-08-30 08:20] CarloPalinckx commented on #137
@dotansimha It looks like there is a regression on this, or I might be doing something wrong?
[code]
My config:

[code]

[2019-08-30 14:45] steabert opened #2470 "comments not properly escaped"
**Describe the bug**

When `*/` appears in a graphql schema docstring, it terminates the actual comment in a generated typescript file.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Actual behavior**

The comment in the typescript file is broken, it terminates early.

[code]

**Expec

[2019-08-30 15:12] tanguyantoine commented on #2436
I'm experiencing this issue as well, thank you to have fixed it 👍

[2019-08-30 16:59] jrr opened #2471 "Typescript: generate *both* enums and types?"
Feature request: some way to expose GraphQL enums as both types _and_ enums_.

**Context**

I'm updating an old codebase that was using a combination of apollo-codegen and an early version of graphql-code-generator.

In the old system, one generator produced the equivalent of today's `enumsAsTypes: true`, and the other `enumsAsTypes: false`. The codebase has come to rely on having both available.

[2019-08-31 06:54] dotansimha commented on #296
What do you mean by "more static"? it's static in the generated type, and static in the resolvers signature (if you are using `typescript-resolvers`), so if you change the GraphQL type - it will change the generated file, and then the build will fail because of an invalid return value from the resolvers. Am I missing something?

[2019-08-31 06:56] dotansimha commented on #2194
Keeping open, thanks @mscharley . Can you please provide an example for the type you created? maybe it's something we can use in the generated output.

[2019-08-31 07:37] dotansimha commented on #1609
You are right @minheq . I managed to reproduce it locally, and I think it caused by `require` cache.
Fixed in `graphql-toolkit` :)

[2019-08-31 07:42] dotansimha commented on #1537
Thanks @smajl , I fixed it in graphql-toolkit :)

[2019-08-31 07:44] dotansimha commented on #2467
@mrtnbroder Those are different features.
`pluckConfig` is a core feature, that tell the codegen how to scan and find your documents.
`gqlImport` is a plugin-specific config that let you choose how to generate GraphQL operations inside the generated files.

[2019-08-31 07:44] #2467 closed

[2019-08-31 07:46] dotansimha commented on #137
@CarloPalinckx It has changed a long time ago. See: https://github.com/dotansimha/graphql-code-generator/issues/1806

We don't want to allow insecure HTTP connection by default. So if you wish to do that, you can always set this env variables by yourself: `NODE_TLS_REJECT_UNAUTHORIZED=0 graphql-codegen`

[2019-08-31 08:29] dotansimha commented on #2452
Fixed in `graphql-toolkit`

[2019-08-31 09:01] mscharley commented on #2194
I'm not sure what you're asking for here, I provided an example SDL for an `interface` and what I'd want the code generation to output already a few comments back. I also provided the mapped type already too, though that's very much a hack.

[2019-08-31 09:04] dotansimha commented on #1609
Fixed in 1.7.0

[2019-08-31 09:04] #1609 closed

[2019-08-31 09:04] dotansimha commented on #1537
Fixed in 1.7.0

[2019-08-31 09:04] #1537 closed

[2019-08-31 09:04] dotansimha commented on #2452
Fixed in 1.7.0

[2019-08-31 09:04] #2452 closed

[2019-08-31 09:05] dotansimha commented on #2436
Fixed in 1.7.0
thanks @n1ru4l

[2019-08-31 09:05] #2436 closed

[2019-08-31 09:05] dotansimha commented on #2416
Fixed in 1.7.0

[2019-08-31 09:05] dotansimha commented on #2450
Fixed in 1.7.0

[2019-08-31 09:05] #2450 closed

[2019-08-31 09:05] dotansimha commented on #2398
Fixed in 1.7.0

[2019-08-31 09:05] #2398 closed

[2019-08-31 09:05] dotansimha commented on #2165
Available in 1.7.0

[2019-08-31 09:05] #2165 closed

[2019-08-31 09:05] dotansimha commented on #2287
Available in 1.7.0
Thanks @fforres

[2019-08-31 09:05] #2287 closed

[2019-08-31 09:05] dotansimha commented on #2407
Fixed in 1.7.0

[2019-08-31 09:05] #2407 closed

[2019-08-31 09:07] dotansimha commented on #2194
I see. I wanted to add it to the codegen core as configuration, in order to help you to avoid the need to wrap the type.

[2019-08-31 09:09] #2410 closed

[2019-08-31 09:09] dotansimha commented on #2423
Closing. @killjoy2013 feel free to share more info if it's still relevant.

[2019-08-31 09:09] #2423 closed

[2019-08-31 09:10] dotansimha commented on #2438
@cypcz can you please try Kamil's solution?

[2019-08-31 09:58] mscharley commented on #2194
I would love for this to be a configuration option for this, I'm just confused by what you meant by "Can you please provide an example for the type you created?". I'm pretty sure I already provided examples, so I'm not clear on what you're asking for.

[2019-09-01 07:06] mizdra commented on #2416
Using 1.7.0, my problem was resolved. Thank you!

[2019-09-01 12:43] cypcz commented on #2438
I have tried it but it didn't help.

[2019-09-02 05:40] CarloPalinckx commented on #137
@dotansimha That works just as well, thanks for the quick response ❤️

[2019-09-02 05:47] dotansimha commented on #2194
Thanks @mscharley , I wrote it because I missed your commend with the example :)

[2019-09-02 06:16] yoavain-sundaysky commented on #2311
I'm still having issues with consistency. This time it's in the fields order. Not sure if it's the same issue.

Example:
_?: Maybe<Scalars["Boolean"]>;    (under GqlQuery)
appears sometimes at the beginning and sometimes at the end.

Example 2:
Order of ResolverTypeWrapper under GqlResolversTypes changes between executions.

Example 3:
Order of field of GqlResolversParentTypes changes between exec

[2019-09-02 10:07] matikrk commented on #1844
Hi,
I started to work on improving flow support. Right now it generates code using spread operator.

Code working well for flow, but have problems for other libs. This edited code is in used also in other plugins. It is possible to apply this code only inside flow plugin? Or could you help me manage it?

You can check changes here: https://github.com/matikrk/graphql-code-generator/pull/1

[2019-09-02 10:49] shiatsumat opened #2480 "include other .yml files from codegen.yml"
When I want to specify TypeScript types for custom scalars in GraphQL, I basically have to write the type information in codegen.yml (like `config: {scalars: ...}`) along with other fixed configurations.

Since the concrete representations for custom scalars may change frequently, I came to feel like separating out the type specifications for custom scalars from codegen.yml.
But there is no way to

[2019-09-02 14:50] veeramarni commented on #2165
It seems the versions in the `package.json` pointing to `1.5.0` https://github.com/dotansimha/graphql-code-generator/blob/master/packages/presets/import-types/package.json#L12

I will send another PR to fix it.

[2019-09-03 08:30] shchekoldin commented on #2402
Hey!

The same for me:( But it looks like it is not related to the `prettier`...

**Environment**
System Version: macOS 10.14.3 (18D109)
Kernel Version: Darwin 18.2.0
NodeJS: v10.14.2

**How to reproduce**
Please see the code below:
https://github.com/shchekoldin/graphql-codegen-unstable-sorting-demo

it worth mentioning that there is no problem if all `scalar` related code is removed (see `schema

[2019-09-03 09:12] shchekoldin commented on #2402
This combination works fine 😄
[code]

[2019-09-03 12:16] PedroLamas opened #2489 "Typescript generated with errors"
**Describe the bug**
With the latest versions, I am getting some errors in my generated typescript files.

Notice the final `|  |  |  |  |  |  |  |` on the following generated code:

[code]

**To Reproduce**

1. clone/download this repo: https://github.com/PedroLamas/pedrolamas.com
2. run `yarn` to install dependencies
3. run `yarn develop` to start
4. on a second terminal, run ` yarn codegen`
5.

[2019-09-03 13:24] n1ru4l commented on #2489
This should be fixed by https://github.com/dotansimha/graphql-code-generator/pull/2490

[2019-09-03 13:27] PedroLamas commented on #2489
Wow, that was a fast fix indeed, thank you very much!!

Any specific reason as to do this? I ask this as so far I haven't actually needed this!

[2019-09-03 13:54] n1ru4l commented on #2489
It seems like `file` returns a union/interface. Therefore you should probably use the `__typename` property to distinguish possible return values. IDK about Gatsby, but you only added a selection set for the `File` type. How would you handle different results?

by doing something like

[code]

you can do the following in your code

[code]

However, this is not enforced, just a practice that I foll

[2019-09-03 19:29] gerwinbrunner opened #2492 "@graphql-codegen/introspection fails with federated schema"
I'm having federated microservices that are exposed thru ApolloGateway.
The `imports/gen/graphql.ts` is generated successfully, but generating `imports/gen/introspection-schema.json` fails with the following error:

[code]

codegen.yml:

[code]
Any idea how I can add the federation opjects?

[2019-09-04 03:42] whtsky opened #2495 "TypeScript: Fragment + Union gives duplicated (wrong) __typename"
**To Reproduce**
https://codesandbox.io/s/graphql-codegen-issue-template-ttfo0

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. Output:

[code]

**Expected output**

[code]

**Environment:**

- `@graphql-codegen/typescript-operations`: 1.7.0

**Additional context**

[2019-09-04 05:13] dotansimha commented on #2495
Hi @whtsky !

Can you please explain why is that an issue?

In GraphQL, `interface` and `union` doesn't really have a `__typename` field, even if you specify in over the interface or over the union, the final value will be a `type` (because `interface` and `union` are abstract).

In your case, the `RouteUnion` union can return either `IPV4Route` or `IPV6Route`, and the types generates reflects thi

[2019-09-04 05:15] dotansimha commented on #2492
Hi @gerwinbrunner !
This is a very similar issue to: https://github.com/dotansimha/graphql-code-generator/issues/2406#issuecomment-524472383 , and there is a workaround there.

[2019-09-04 05:15] #2492 closed

[2019-09-04 05:21] dotansimha commented on #2480
Hi @shiatsumat !

Since the latest version of the codegen, you can specify a single file that includes all your scalars types. See this: https://github.com/dotansimha/graphql-code-generator/pull/2418

Can you please explain your use case? Why does your scalars changes frequently? Because it sounds like something that very hard to maintain (in terms of usage and implementation).

We currently suppo

[2019-09-04 06:22] gerwinbrunner commented on #2492
@dotansimha here is what I did

1.) created a file `federation-directives.graphql`
[code]

2) added that file to `codegen.yml`

[code]

So at least the error is now gone and the files are created :) Thx!

Is this be a permanent workaround or will this be obsolete and included in the generator down the line?

[2019-09-04 06:29] whtsky commented on #2495
Hi @dotansimha.

The duplicated `__typename` makes the type incorrect.
[code]
 means the element can be

* `{__typename: undefined}`
* `{__typename: 'IPV4Route'}`
* `{__typename: 'IPV6Route'}`
* or `NetRouteFragment`:

[code]

---

we have code like
[code]

when the `route.__typename` is `IPV4Route`, `route`'s type is
[code]

... which is incorrect and produces type error.

TS Playground:

https:/

[2019-09-04 06:44] shiatsumat commented on #2480
Thank you for kind comments!

I didn't know about the new feature #2418. Specifying TypeScript module sounds great and better manageable than the "include .yml" approach. Thank you for fantastic features!

I am going to use the `scalars: [module_path]` notation, but it seems that there remains some bugs for this feature, so I'll report it on #2418.

[2019-09-04 06:44] #2480 closed

[2019-09-04 08:38] n1ru4l commented on #2495
Can we have some tests for checking whether the properties can be accessed?

[2019-09-04 11:50] WillSquire opened #2496 "default variable is non-optional"
The `isOptional` argument below is created as an optional typing, however the `isNotOptional` argument is not (even though it has a default value).

[code]

@graphql-codegen/typescript == 1.2.0

[2019-09-04 13:21] ardatan commented on #2496
@WillSquire Could you create a reproduction using this sandbox and use latest version?
https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template

[2019-09-04 13:31] rafeca opened #2497 "Missing `import` statements in autogenerated files cause TypeScript errors"
**Describe the bug**

On v1.7.0, the `near-operation-file` preset doesn't add the required `import` statement for the schema types in some situations, causing TypeScript errors.

This seems to happen whenever an operation is not using any schema type directly, but the generator code still inserts `Types.Maybe` for nullable fields.

This problem has been introduced in v1.7.0.

**To Reproduce**

Ope

[2019-09-04 13:58] ardatan commented on #2402
How about with `1.7.0` ?

[2019-09-04 14:56] nathanchapman commented on #2402
@ardatan Same issue with `1.7.0`

[2019-09-04 14:58] leethree opened #2498 "Wrong intersection type generated for Fragment spread"
**Describe the bug**

Intersection type is generated when spreading Fragment of different types of an interface.

It will cause `__typename` become `undefined` and impossible to distinguish types.

For example, the following code will break:

[code]

TSC error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

Sandbox:
https://codesandbox.io/embed/graphql-codegen-issue-template-9j73m

1.

[2019-09-04 18:49] n1ru4l commented on #2498
You must add __typename to your selection set, otherwise it might be undefined. Clients like Apollo do automatically add the __typename field, that‘s why it is declared as optional by default

[2019-09-04 20:10] leethree commented on #2498
@n1ru4l the problem is not about `undefined`. the problem is **intersection** of `TomFragment & JerryFragment` will result in incorrect type of `UserFragment`, whether it's optional or not.

There might be a misunderstanding about type intersection. `TomFragment & JerryFragment` means the data must satisfy `Tom` and `Jerry` **at the same time**, which is impossible because the actual data from Gra

[2019-09-04 20:26] rccoe opened #2500 "Edit and improve Migration to 1.0.0 page"
**Is your feature request related to a problem? Please describe.**

[This Page](https://graphql-code-generator.com/docs/migration/from-0-18) has no date on it. When was this posted? When did the change happen? Does it affect me?

It also has a lot of typos which makes it difficult to read.

- Stablize
- depreacted
- Introcude

**Describe the solution you'd like**
Add a date and fix the typos.

**D

[2019-09-04 21:21] lukasluecke commented on #2402
Having issues with unstable sorting as well, even without running prettier from codegen.

[2019-09-04 21:45] n1ru4l commented on #2498
Duplicate of #2495

[2019-09-04 21:50] n1ru4l commented on #2498
[code]

Would this be the correct solution?

[2019-09-04 21:52] n1ru4l commented on #2498
What if a fragment is defined for a interface instead of a object type?

[2019-09-04 22:04] leethree commented on #2498
It's not exactly the same issue as #2495 but could be related.

Yes I think it's correct in this case. Basically the merged fragment should be a _union_ of different `__typename` instead of a _intersection_.

I don't think it will make a difference, but would be great if there's an example.

[2019-09-05 01:47] jrr commented on #2471
I'm planning to take a crack at this when I find some time. I think I'm leaning toward some way to emit _enums only_ in a second file.

Perhaps a config option something like this?:
[code]

A few questions that come to mind:

1) Should there be other items that you can put in the `generateOnly` list?

    From the [docs](https://graphql-code-generator.com/docs/plugins/typescript):

    Maybe we st

[2019-09-05 08:10] shchekoldin commented on #2402
Yep. Sorting is inconsistent(

[2019-09-05 11:00] #2311 closed

[2019-09-05 11:01] dotansimha commented on #2311
@yoavain-sundaysky let's track this here: https://github.com/dotansimha/graphql-code-generator/issues/2402

[2019-09-05 12:07] smeijer opened #2502 "1.6.0 breaks meteor support"
**Describe the bug**
Using version 1.5.0 works fine in meteor. Imports like `import { Meteor } from 'meteor/meteor'` do not interfere with codegen.

Starting from 1.6.0 however, these import statements make the generator crash.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create a meteor project
2. Add import statement like `import { Meteor } from 'meteor/meteor'`
3. Try generate

[2019-09-05 12:46] dotansimha commented on #2502
@smeijer I think your glob pattern might be too broad, because it causes to load this file, and it fails because Meteor has it's own import system that injects `meteor/meteor`.
Can you please share you codegen config file?
Also, can you try to add `noRequire` as described here: https://github.com/dotansimha/graphql-code-generator/blob/1b2f538dc9ea9f8fa10cf76ecf9171484107fc87/docs/getting-started/s

[2019-09-05 17:48] smeijer commented on #2502
@dotansimha, you're right. Making my glob pattern more strict fixes this issue. Strange thing is, it was working in 1.5.0.

[code]

The config above, works in `1.6.1`. Next step, upgrade `1.6.1` to `1.7.0`:

[code]

[code]

config:

[code]

[2019-09-05 17:56] smeijer commented on #2502
I think that bug in 1.7.0 is related to https://github.com/ardatan/graphql-toolkit/issues/231

[2019-09-05 18:14] jbaranski commented on #2502
@smeijer I got the same kind of error you did in your stack trace, the paths get mangled on the require call because the windows paths have changed from `1.6.1`.

[2019-09-05 22:19] jasmo2 opened #2505 "`federation: true` ERROR: Directive key: Couldn't find type key in any of the schemas."
**`federation: true` flag is not working on codegen**

**To Reproduce**
Install Codegen use the script below in _codesandbox.io_ visualize the error.
`Directive key: Couldn't find type key in any of the schemas.`

• My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS: MACOS 10.14.6
•
[code]
- NodeJS:
**v10.16.3**

[2019-09-06 03:36] jcmoore0 opened #2506 "Cannot read property 'name' of undefined - spread @include"
**Describe the bug**
Get Error 'Cannot read property 'name' of undefined'

**To Reproduce**
Use a spread operator ...@include

Example:
[code]

**Expected behavior**
Codegen successfully creates query and query variables.

**Environment:**
Mac OS
"@graphql-codegen/cli": "1.7.0",
"@graphql-codegen/typescript": "1.7.0",
"@graphql-codegen/typescript-operations": "1.7.0",
"@graphql-codegen/typescript-

[2019-09-06 09:25] emmenko opened #2507 "Version >1.5 breaks flowtype resolvers"
**Describe the bug**
Version `>1.5.0` breaks flowtype resolvers. Downgrading to `1.5.0` fixes the issue.

**To Reproduce**
After upgrading to `v1.7.0` and after regenerating the types, the flowtype resolvers reported 2 issues:

<img width="578" alt="image" src="https://user-images.githubusercontent.com/1110551/64416953-6f27da80-d098-11e9-9e8d-1cc93d7b11cc.png">

The `ISubscriptionSubscribeResolveO

[2019-09-06 14:48] glennreyes opened #2510 "Unable to read type defs from simple apollo-server sample"
**Describe the bug**
Hey folks, I'm trying to get the TS types generated based on the sample apollo server type defs but I'm getting following error:

[code]

**To Reproduce**

[code]

Minimal example: https://github.com/glennreyes/codegen-apollo-sample

1. My GraphQL schema:

[code]

2. My GraphQL operations:

none

3. My `codegen.yml` config file:

[code]

**Expected behavior**

Should just work

[2019-09-07 00:56] ardatan commented on #2510
`documents` field is for operations not type definitions. Please remove that field and try again. You would have those definitions.

[2019-09-07 00:58] ardatan commented on #2505
Hey @jasmo2
This is a very similar issue to: #2406 (comment) , and there is a workaround there, so let's track in there.

[2019-09-07 01:00] ardatan commented on #2505
Hi @jasmo2!
This is a very similar issue to: #2406 (comment) , and there is a workaround there. For now you need to add those directive definitions by yourself

[2019-09-07 01:00] #2505 closed

[2019-09-07 12:34] dandrei commented on #2410
I'm not opening another issue because I have a similar problem.

This is my `codegen.yml`:

    overwrite: true
    schema: "http://localhost:8080/graphql"
    documents:
      - "src/web/schemas/public/*.graphql"
      - "src/web/schemas/private/*.graphql"
    generates:
      src/generated/graphql.ts:
        plugins:
          - "typescript"
          - "typescript-operations"
          - "type

[2019-09-07 14:59] alexkirsz commented on #2497
Getting the same issue on 1.7.0. Downgrading to 1.6.1 fixed the issue.

_(Hi Rafa!)_

[2019-09-07 16:23] glennreyes commented on #2510
@ardatan Thanks for pointing to it. Maybe it'd make sense to put this information into the docs.

[2019-09-07 19:03] ardatan commented on #2510
@glennreyes I think it is clear enough on docs;
https://graphql-code-generator.com/docs/getting-started/schema-field
https://graphql-code-generator.com/docs/getting-started/documents-field
If you have any suggestions, you can submit a PR :)

[2019-09-07 19:03] #2510 closed

[2019-09-08 05:14] dotansimha commented on #2497
Thanks @rafeca !
I'll take a look :)

[2019-09-08 05:16] dotansimha commented on #2506
Hmm interesting, thank you for reporting this @jcmoore0 .
The codegen doesn't support `@inclulde` and `@skip` directives support at the moment, but they should have been ignored and not throw an error.

[2019-09-08 05:17] dotansimha commented on #2496
I'm closing this one, let's track issues with `@include` / `@skip` directives here: https://github.com/dotansimha/graphql-code-generator/issues/2506

[2019-09-08 05:17] #2496 closed

[2019-09-08 10:04] n1ru4l commented on #2506
Is this a correct GraphQL query? AFAIK it must be `... on TYPENAME @include(if: $condition)`

[2019-09-08 11:46] alexkirsz opened #2515 "Unclear errors when querying non-existent fields"
**Describe the bug**
Errors thrown by the typescript-operations plugin are extremely unclear. In this case, when querying a field that does not exist in the schema (`published` vs. `publishedAt`).

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

I've removed as much noise as possible.

[code]

2. My GraphQL operations:

[code]

[code]

3. My `codegen.yml` config file:

I'

[2019-09-08 11:48] alexkirsz commented on #2515
Is there perhaps a way to run a pre-validation step of my queries before feeding them to graphql-codegen?

[2019-09-08 17:26] jcmoore0 commented on #2506
@dotansimha @n1ru4l  - Thanks for the quick response.  Codegen is fantastic.
The query works for me outside of codegen.
My use case is to selectively include peer (fragment level) fields based on boolean input variables.

from

[https://github.com/graphql/graphql-spec/blob/master/spec/Section%202%20--%20Language.md](https://github.com/graphql/graphql-spec/blob/master/spec/Section%202%20--%20Langua

[2019-09-08 19:25] adrianschneider94 opened #2516 "[Plugin Request] Python Graphene"
Hi,

I'm currently writing a graphql-codegen-plugin that generates Python graphene (https://graphene-python.org) types from a schema.

What should I pay attention to if I want to contribute the plugin? Code style, patterns etc...

So far I extended the BaseTypesVisitor and get fine results for most schemas. Do you have a collection of schemas I can test against?

Kind regards,
Adrian Schneider

[2019-09-09 08:55] deser opened #2518 "Can't generate from schema defined in TS"
**Describe the bug**
I have defined next schema.js file:
[code]

Schema is valid, when I run this code through `node schema.js` it executes ok and print's me schema. But when I try to run through `graphql-codegen --config gqlcodegen.yml` it fails. If I make introspection schema from  `'server/graphql/schema'`, put it into file.json and then run codegen against json file - it works well.
Also, it w

[2019-09-09 09:26] deser opened #2519 "Type duplications"
**Describe the bug**
With valid schema type duplications are generated. See pic below:
![image](https://user-images.githubusercontent.com/3010698/64519457-d0e87e80-d2fc-11e9-93e8-ca2b785eadd4.png)

[code]

- OS: Windows 10
- `@graphql-codegen/...`: 1.7.0
- NodeJS: 10.16.1

[2019-09-09 09:39] deser commented on #2519
And the reason seems is that `type` from inner field is appearing in all gql types array:
![image](https://user-images.githubusercontent.com/3010698/64520446-e1015d80-d2fe-11e9-849d-006ba5c3055f.png)

It's valid schema which generates invalid types...

[2019-09-09 10:52] tejovanthWork commented on #1048
Is there a way to override this feature?
I want to generate from a index.ts, but watch for changes from all the gql files it uses with `makeExecutableSchema` and `mergeTypes`.

[2019-09-09 14:40] dotansimha commented on #2410
Hi @dandrei !
I'm not sure what causing this. Is it something you can share so I can reproduce it locally?

[2019-09-09 15:01] dotansimha commented on #1844
Hi @matikrk!
That sounds awesome! You can apply changes to the Flow plugin using the class `FlowVisitor`. The common logics are in `BaseTypesVisitor`, so if you need to add custom logic that applies only for flow, change/override methods in `FlowVisitor`.

Please let me know if you need more help with that!

[2019-09-09 15:31] dotansimha commented on #2516
That's awesome, @adrianschneider94 !
Our plugins are written in TypeScript, and you can take a very simple boilerplate from plugins like `add` or `time`.
You can either manage your plugin in a separate repo, or in this repo (this way we'll be able to help more and able to make sure we don't break the new plugin with changes).

Extending `BaseTypesVisitor` is indeed the correct approach and should

[2019-09-09 15:32] dotansimha commented on #2519
@deser can you please share your schema and config? and maybe a reproduction in a repo/codesandbox?

[2019-09-09 15:33] dotansimha commented on #2518
@deser any chance for a reproduction in a repo? It would really help if we'll be able to run this locally.

[2019-09-09 15:37] dotansimha commented on #2515
Thanks @alexkirsz !
You are right, there should be a better error regarding this. I did some changes in `graphql-toolkit` recently that should fix the validation errors and catch them before. Any chance you can try the latest alpha and see if you are getting a better error? `1.7.1-alpha-8c70bf5d.24`

[2019-09-09 16:01] alexkirsz commented on #2515
Hey @dotansimha, I'm still getting the exact same error:

[code]

[code]

[2019-09-09 16:09] mchong-teal opened #2520 "Support for hooks with Apollo client and typescript"
**Is your feature request related to a problem? Please describe.**

Apollo Client now supports hooks, which feel way easier to use and with less boilerplate than HOCs (https://www.apollographql.com/docs/react/recipes/static-typing/#typing-hooks).

I guess it be cool to have some autogenerated hooks to save me from having to specify the type parameters and query document when I use the hooks, just

[2019-09-09 16:22] adrianschneider94 commented on #2520
I use this already 🤔

config:
  withHooks: true

[2019-09-09 16:31] mchong-teal commented on #2520
lol cool whoops.  Googling fail I guess.

https://graphql-code-generator.com/docs/plugins/typescript-react-apollo#withhooks-boolean-default-value-false

[2019-09-09 16:31] #2520 closed

[2019-09-09 17:42] n1ru4l commented on #2506
@jcmoore0 Did not know that this is possible! Thank you for the resources 👍

[2019-09-09 18:11] dandrei commented on #2410
Hi @dotansimha, I've stripped down the code to the bare minimum and uploaded it here: https://www.dropbox.com/s/89lhisjmdmuwc32/2019-09-09-gcg.zip?dl=0

Also tested on Linux to make sure this isn't OS specific.

After extracting the archive, all you need to do is:
1. `npm i`
2. `npm run start`

At this point, `http://127.0.0.1:8080/graphql` should be serving a GraphQL endpoint (if you visit it in

[2019-09-10 04:34] dotansimha commented on #2507
@emmenko can you please share you configuration and your schema? It will make it easier to reproduce locally.

By the way, we've just added a cool service called The Connected Build. We can connect your build system and tests to the codegen's own CI.  That way we'll find those things on the PR itself and make sure you are always up to date (https://the-guild.dev/connected-build).  This could help

[2019-09-10 10:49] emmenko commented on #2507
Sure thing:

[code]

As for the schema, do you need the **generated** one or the **original** one? Asking 'cause the original one is spread across multiple files...

Ah cool, didn't know about it. I'll check it out.

[2019-09-10 11:07] dotansimha commented on #2507
Thanks @emmenko ! I need the original schema, it doesn't have to be the complete schema that you are using, only the parts that causes the codegen to generate invalid output.

[2019-09-10 11:10] kamilkisiela commented on #2492
#2508

[2019-09-10 11:12] dotansimha commented on #2502
Fixed in `graphql-toolkit`, we'll release a new version of the codegen soon.

[2019-09-10 11:55] maapteh opened #2523 "peerDependency '@types/graphql` can be removed?"
**Describe the bug**
It's about the peerDependencies set in the package, not about the module itself which is great. It wants '@types/graphql` but that one is obsolete, graphql is typed by itself.

`warning " > @graphql-codegen/typescript-react-apollo@1.7.0" has unmet peer dependency "@types/graphql@*".`

**To Reproduce**
install all latest apollo packages. Then it gives the following warning:

`w

[2019-09-10 11:57] maapteh commented on #2523
not your package hehe

[2019-09-10 12:01] maapteh commented on #2523
cant find it anymore...

[2019-09-10 12:01] #2523 closed

[2019-09-10 12:07] emmenko commented on #2507
Ok, I'll try to narrow down the schema to a minimal reproduction case

[2019-09-10 17:34] rafeca commented on #2497
Thanks for the quick response @dotansimha 😄

I've just tried `1.7.1-alpha-3fad52f3.29` and I can still reproduce the issue (see codesandbox URL: https://codesandbox.io/s/graphql-codegen-issue-template-fbe2g?fontsize=14&module=%2Fsrc%2FgetUser.generated.ts ).

[2019-09-10 21:00] Fhoerth opened #2527 "Maybe types in fields when using fragment spread are wrong."
**Description**
Maybe types when spreading fragments aren't consistent with the original type.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Note the `?` after `user`.
[code]

For example, if a component accepts the prop `orderFields: OrderFieldsFragment `, then f

[2019-09-11 05:49] dotansimha commented on #2497
@rafeca It's actually working in sandbox :)

[code]

Make sure to use `1.7.1-alpha-3fad52f3.29`, without `^`. And clear the file before generating because of caching issues in codesandbox :)

[2019-09-11 05:51] dotansimha commented on #2515
I think I found the issues, it caused by `near-operation-file`, because we allow to skip validation there. I'll try to fix that.

[2019-09-11 08:13] rafeca commented on #2497
Oh you're right, I forgot to add the caret on the dependency for the CodeSandbox 🙃

In my local project I'm still getting the same error though, I'm going to try to reproduce it in a codesandbox.

[2019-09-11 08:58] dotansimha commented on #2497
Yeah I missed fragments, my bad :) Also had a small issue with inner non-null types, fixed that as well.

Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2529

@rafeca can you please test it? `1.7.1-alpha-d5959bbc.33`

[2019-09-11 09:20] rafeca commented on #2497
This one works perfectly fine in our codebase! thanks a lot! 🤗

[2019-09-11 09:24] adrianschneider94 commented on #2516
Things, that don't work yet:

**Extending Interfaces** https://github.com/graphql-python/graphene/issues/1068
Interfaces itself work, but extending them doesn't. Python does not allow (in contrast to GraphQL, Javascript etc.) to use classes that appear later in the source file. To circumvent it, you can use lambda expressions for the fields (https://github.com/graphql-python/graphene/issues/110).

[2019-09-11 09:47] ForbesLindesay opened #2530 "Federation Generates incorrect types"
When using:

[code]

The types generated are incorrect:

1. All parent types end up with `Pick<ParentType, 'id'>` instead of just `ParentType`. This **should** only apply to the `__resolveReference` or where it is an `OBJECT_TYPE_EXTENSION`.
2. The `__resolveReference` resolver is added even when it is an `OBJECT_TYPE_EXTENSION`. It should only be added the the original definition.

[2019-09-11 10:29] ForbesLindesay commented on #2530
This is difficult to resolve cleanly, because the ObjectTypeExtensions get converted to ObjectTypeDefinitions really early on in the pipeline, and I'm not sure there's any good way to convert them back again.

[2019-09-11 11:07] dotansimha commented on #2515
@alexkirsz
I think I fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/2531
Can you please try `1.7.1-alpha-7be0e2a0.33`?

[2019-09-11 11:26] dotansimha commented on #2506
@jcmoore0 I think I managed to reproduce and fix this error in: https://github.com/dotansimha/graphql-code-generator/pull/2532

Can you please try `1.7.1-alpha-2187dc6b.34`?

[2019-09-11 11:54] emmenko commented on #2507
So I was able to reproduce the problem with `Args` with a minimal schema. However, the `ISubscriptionSubscribeResolveObject` errors in both cases.

**This causes the issue with `Args`**
[code]

**This works, no `Args` output**
[code]

The difference is in the mutation argument being **optional** or **required**.

<img width="1724" alt="image" src="https://user-images.githubusercontent.com/1110551/

[2019-09-11 14:46] dotansimha commented on #2507
Thank you @emmenko !
I think I managed to reproduce and fix it in: https://github.com/dotansimha/graphql-code-generator/pull/2533

Can you please try the lates alpha? `1.7.1-alpha-f7b843df.34`

[2019-09-11 14:47] ForbesLindesay commented on #2530
I've done some more testing. It seems you *can* define `__resolveReference` for `ObjectTypeExtension`s, but if you don't, the resolvers are just called with the keys only. This leaves us with essentially two cases:

1. You provide `__resolveReference` which is called with `Pick<ParentType, 'id'>` and returns `ParentType` for all the other resolvers.
2. You omit `__resolveReference`, and all the ot

[2019-09-11 17:08] emmenko commented on #2507
Yep, works now. Thanks! 💯

[2019-09-11 19:36] pedrotainha opened #2536 "script process does not end with non-zero exit code when it fails"
If the script fails, it does not terminate with a failure:

![image](https://user-images.githubusercontent.com/4137458/64726145-eb258680-d4cd-11e9-8a63-a02d204990ac.png)

I'm using v1.0.0

**Expected behavior**

Should terminate the Node.js process with a non-zero exit code

[2019-09-12 05:10] dotansimha commented on #2536
Hi @pedrotainha
Can you please try the latest version? 1.7.0

Also, it seems like the error is an invalid yml file, I guess you miss `"`

[2019-09-12 05:46] dotansimha commented on #2495
The duplicate `__typename` causes TypeScript to match the typename to the empty object, instead to the actual object (the one if the fragment.

This will work:
[code]

While this will cause an error:

[code]

I will try to reproduce this in a failing test and then fix it.

Thanks @whtsky  @n1ru4l

[2019-09-12 11:26] ForbesLindesay opened #2541 "'GraphQLScalarType' is declared but its value is never read when "federation" is true"
**Describe the bug**

When I generate types for a schema with no custom scalars, I get the TypeScript errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. https://codesandbox.io/embed/graphql-codegen-issue-template-uefpt
2. run yarn generate
3. run yarn typecheck

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

4. tsconfig.json

[code]

[2019-09-12 13:42] sroettering opened #2542 "Generate query return type"
I'm using the `typescript-apollo-angular` plugin to generate types and services for my queries.

When generating services a type for the query is generated as well. However, there is no simple type definition generated for the actual data that is returned. This would make typing easier when using the queries.

[2019-09-12 18:12] Smitty010 opened #2545 "graphql-codegen is not recognized as a command on Windows 10"
**Describe the bug**
When I try to execute graphql-codegen, windows 10 says it doesn't know what it is.  I'm willing to believe it's something I'm doing (or not doing), but I think I followed the instructions for installation.

**To Reproduce**
I go to an empty directory, type 'yarn init' and initialize a project.  Then I type 'yarn -D graphql @graphql-codegen/cli'.  Both commands appear to termin

[2019-09-13 04:53] #2545 closed, assigned to nobody

[2019-09-13 10:59] dandrei commented on #2410
Even specifying the path explicitly (without wildcards) in `codegen.yml` fails:

    documents:
      - "src/web/schemas/public/public.graphql"

That errors out as:

    Error: Unable to find any GraphQL type definitions for the following pointers: src/web/schemas/public/public.graphql

But the file is clearly there.

[2019-09-13 12:33] Swatinem opened #2548 "`importDocumentNodeExternallyFrom: near-operation-file` should strip file extension"
**Describe the bug**

The generated code imports files with their full filename, which leads to a TypeScript Error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My `codegen.yml` config file:

[code]

**Expected behavior**

file extensions should be stripped to silence TS :-)

**Environment:**

- OS: arch
- `@graphql-codegen/...`:  1.7.0
- NodeJS: 10.15

**Additional context**

[2019-09-13 13:02] Swatinem opened #2549 "Option to strip common prefix from enum variants"
**Is your feature request related to a problem? Please describe.**

Due to graphql not support namespaces, and enum values beving in the global namespace, we have implemented our own convention to avoid naming collisions.
Our enums look like this:

[code]

With the `namingConvention: change-case#pascalCase` setting, this gets turned into:
[code]

**Describe the solution you'd like**

It would be n

[2019-09-13 15:29] matikrk commented on #1844
I've worked a bit on it and created 2 another version of this change:
* https://github.com/matikrk/graphql-code-generator/pull/2 - overwrite all classes - working, but have a lot copy paste
* https://github.com/matikrk/graphql-code-generator/pull/3 - combination of 1 and 2 - less copy paste, working like 2, but right now have some problems with tests on typescript (I need investigate what is wrong

[2019-09-13 20:21] maapteh opened #2553 "question: generate from lerna workspace root"
In my old scenario i added the generated files into git too. But now i want to exclude the types and create some of them after postinstall on the build server (everything besides schema).

When i run inside the root of the monorepro "lerna run  ci:generate" then it goes to the packages and executes the command which will autogenerate the code.

But on the build server (circle ci) this doesn't work

[2019-09-14 00:03] jcmoore0 commented on #2506
@dotansimha  -  Sorry for the delay.   1.7.1-alpha-2187dc6b.34  works fantastic.
Great job!
Thanks for the fast response.

[2019-09-14 09:35] n1ru4l commented on #2542
You can do `type GetPersonsQueryData = GetPersonsQuery["getPersons"]`

Or use fragments which will also generate the desired type

[2019-09-14 10:23] #2553 closed

[2019-09-14 10:23] maapteh commented on #2553
my shitty lerna config

[2019-09-14 18:28] travigd opened #2555 "Resolvers Promise Nullability Isn't Correct"
**Describe the bug**

A nullable field should be able to return `T | null | Promise<T | null>` but instead it may only return `T | null | Promise<T>`. I wasn't having issues before today. I just upgraded to 1.7.0.

**To Reproduce**
https://codesandbox.io/s/graphql-codegen-issue-template-40emr

Schema (note I made `Query.user` return a nullable `User`):
[code]

The type of `Query` on `QueryResolver

[2019-09-14 18:40] travigd commented on #2555
Actually I'm not sure if my analysis above is correct because `ResolverFn` is sync or async (which would imply that there's actually an extra `| Promise<T>` that doesn't need to exist?).
This is the full error message I get in my actual code.

[code]

On second thought, it looks like this might be an unrelated issue with a type error that was a red herring (looks like what I was returning from tha

[2019-09-14 18:40] #2555 closed

[2019-09-15 00:03] blakeembrey opened #2556 "Parent Resolver Type Uses Return Resolver Type"
**Describe the bug**

When using a union type in GraphQL, the output types for `ResolversParentTypes` will use `ResolversTypes` which results in a `Promise` wrapped value. However, in GraphQL, you can't receive a `Promise<T>` in the parent position. Looks to be caused by this line: https://github.com/dotansimha/graphql-code-generator/blob/f5250087ef756f02803259abeecf318cd4180e9c/packages/plugins/o

[2019-09-15 02:17] rlindskog opened #2558 "JSDoc"
It would be cool to generate [JSDoc](https://devdocs.io/jsdoc/) annotations from graphql descriptions. A lot of modern code editors get inline documentation when writing a function. (ex. [VSCode](https://code.visualstudio.com/docs/languages/javascript#_jsdoc-support))

[2019-09-15 14:52] seanharr11 opened #2559 "Unused Imports Generated - "import * as React from 'react'""
**Describe the bug**
When using the 'typescript-react-apollo' plugin, unused imports are generated. While [this PR](https://github.com/dotansimha/graphql-code-generator/pull/750/commits/2b4b25acfab3b936ecfbe7983e4e7020664ca352) addressed the issue initially, there is a separate case for `ReactApolloHooks` is in fact "used", while `React` is **NOT**.

**To Reproduce**
Steps to reproduce the behavio

[2019-09-15 14:53] seanharr11 commented on #2559
For those stumbling upon this issue from lots of Google searches, you can hack around this by adding this `DummyVarToAvoidUnusedImports` "plugin" to your `codegen.yml` as follows:

[code]

[2019-09-16 06:05] teebszet commented on #153
@dotansimha yeah that makes sense. I guess it would be up to the typescript-apollo-angular plugin to initialise those DateTime fields as Date objects in the client. But I'm not sure if that is a feature that exists or not

[2019-09-16 09:18] sroettering commented on #2542
Of course I can define the type myself but why should I when already using a generator?
I didn't try using fragments, could you maybe elaborate with a simple example?

[2019-09-16 09:33] n1ru4l commented on #2542
@sroettering

[code]

[code]

I do not understand why this library should generate an additional type for this.

You can still do something like this:

[code]

[2019-09-16 09:44] sroettering commented on #2542
Using fragments works for me. So I will close this issue.
The other solution `GetPersonsQuery["getPersons"]` is too verbose IMHO.

[2019-09-16 09:44] #2542 closed

[2019-09-16 09:48] CarloPalinckx commented on #2558
I wouldn't mind having a look at this, I'll tag you in a PR ;)

[2019-09-16 09:53] n1ru4l commented on #2542
You could also write your own plugin to achieve this without fragments. From my perspective, I do not think that `GetPersonsQuery["getPersons"]` is verbose. You are just using a typescript language feature.

[2019-09-16 10:00] dotansimha commented on #2542
@sroettering you can also add the `typescript-compatibility` plugin, it will generate bridge types (because in the past we had those)

[2019-09-16 11:12] #2530 closed

[2019-09-16 12:43] kamilkisiela commented on #2541
#2564

[2019-09-16 12:45] kamilkisiela commented on #2406
#2508 should handle that

[2019-09-16 12:57] n1ru4l opened #2565 "add option to skip document validation"
**Describe the bug**

Relay style arguments result in errors during type generations

I think this is related to the more strict validations done with graphql-toolkit.

[code]

[code]

[code]

This worked in version prior to v.1.7.0

[2019-09-16 13:09] n1ru4l commented on #2565
https://github.com/dotansimha/graphql-code-generator/blob/2a64793ccffa40f56de4cea6db5f946d580f1560/packages/graphql-codegen-core/src/execute-plugin.ts#L53

@dotansimha Can we add an option to disable this validation?

[2019-09-16 13:19] merisbahti opened #2566 "Aliasing `__typename` crashes codegen with a TypeError with `preResolveTypes: true`"
**Describe the bug**
Aliasing `__typename` crashes with a TypeError with `preResolveTypes: true`, with `preResolveTypes: false` doesn't cause the crash.

**To Reproduce**
Steps to reproduce the behavior:

Here's an example:
https://codesandbox.io/s/graphql-codegen-issue-template-x2gtb

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Exp

[2019-09-16 20:41] CarloPalinckx commented on #2558
@rlindskog have a look at: https://github.com/dotansimha/graphql-code-generator/pull/2572 :)

[2019-09-16 22:29] tafelito opened #2573 "Use exported original queries/mutations"
I have a file quereis.ts where I define all my queries. When the generated types are generated, it will copy and rename each query mutation to use it, for example, in a hooks

so If I have in queries.ts

[code]

Then the generated.ts will have

[code]
What I'd like, if it's possible to do,  instead of having the MeDocument being generated, I want my ME_QUERY constant to be imported, that way when

[2019-09-16 23:29] Lpaydat commented on #1703
I face the same issue today, just follow the instruction on Github Readme.

It failed when trying to generate the `.ts` file.
The error message is `Invalid Custom Plugin "typescript"` and `Plugin typescript does not export a valid JS object with "plugin" function.`

[2019-09-17 05:38] aethys256 commented on #2402
Hello, we are also affected using 1.7.0. I'm not sure when the bug appeared since we have switched to graphql-codegen recently (we were using built-ins Apollo and NestJS generators before).
I do think it's related to the glob pattern to match all GraphQL files that does not find them in the same order on each run, we do use prettier but I tried without prettier hook and it results in the same issu

[2019-09-17 07:27] ardatan commented on #2566
@merisbahti Could you share the whole error stack trace?

[2019-09-17 07:46] Swatinem commented on #2559
Similarly, also the `near-operation-file` preset, the import for the `baseTypesPath` may be unused, if you use `preResolveTypes` and have to `Maybe` or enum or anything else in there that would need to be imported from the base-types…

[2019-09-17 07:52] NinoMaj opened #2577 "Syntax Error: Expected Name, found }"
**Describe the bug**

Failed to load local schema: `Syntax Error: Expected Name, found }
        GraphQLError: Syntax Error: Expected Name, found }`

running script with DEBUG=1 VERBOSE=1 throws:
`Failed to find any GraphQL type definitions in: schema.json - Syntax Error: Expected Name, found }`

I've tried with custom schema-loader:
[code]

and I get:
`Syntax Error: Expected Name, found String "d

[2019-09-17 07:59] n1ru4l opened #2578 "plugin with string as a config (e.g. add plugin) does not inherit config from parent"
**Describe the bug**

The add plugin does not inherit the config from its parent. I noticed this while testing #2567 (1.7.1-alpha-b651f2ce.56).

**To Reproduce**

[code]

**Workaround:**

[code]

**Additional context**

Should every plugin trigger a document validation? I know that documents might change between steps, so this might make sense, however, the add plugin could completely skip validat

[2019-09-17 08:23] merisbahti commented on #2566
Running `node index.js` in the sandbox yields:

[code]

[2019-09-17 08:28] dotansimha commented on #2566
I'm working now on fixes for selection set issues, I'll try to fix that as well.
Thanks @merisbahti !

[2019-09-17 08:44] merisbahti commented on #2566
Thank you.

[2019-09-17 08:46] lukasluecke commented on #2573
@tafelito I think this should be possible using the `documentMode` and `importDocumentNodeExternallyFrom` config options for the "typescript-react-apollo" plugin.
Could you try them, and post your config with these values, if it doesn't work for you?

[2019-09-17 09:56] NinoMaj commented on #2577
I managed to make it work with using this custom schema loader.
[code]

I am closing the issue, even though I was expecting this to be handle by the library out of the box.

[2019-09-17 09:56] #2577 closed

[2019-09-17 13:26] tafelito commented on #2573
I did try that, but it doesn't work like I'd like. That only changes where to import the queries but it doesn't use the original ones I create

this is my config

[code]

I also tries using `'near-operation-file'` but different results, same issue

[2019-09-17 13:37] lukasluecke commented on #2573
Based on the documentation and the tests it should work like this:
https://github.com/dotansimha/graphql-code-generator/blob/16974558a6ce43bedde8ca9431ceae9f0e3fd5e4/packages/plugins/typescript/react-apollo/tests/react-apollo.spec.ts#L1436-L1457

Is that different from what you're trying to do? Could you share the file where you export your document nodes?

[2019-09-17 13:42] dotansimha commented on #2559
@ardatan can you please take a look?

[2019-09-17 13:45] dotansimha commented on #2548
@Swatinem It looks like this PR solves this: https://github.com/dotansimha/graphql-code-generator/pull/2442

Can you please try the latest alpha?  `1.7.1-alpha-5b1a0fb1.56`

[2019-09-17 13:53] dotansimha commented on #2578
@n1ru4l Yeah it happens because when the parent/child config value is `string`, we can't really extend it as object :(

I think we need to find a good solution for that.

[2019-09-17 14:15] tafelito commented on #2573
That's what I tried as you can see from the config I put above. It does change the import from what I put in `importDocumentNodeExternallyFrom ` but it doesn't change the name od the document queries.
The other issues is that I don't have all my queries/mutations in one place. I could create an index file to get around that but that's not ideal

Here' s a short example of what I have

src/graphql/

[2019-09-18 08:00] Swatinem commented on #2548
I tried `1.7.1-alpha-3c401e8e.57` and the same problem still persists.

[2019-09-18 09:49] dotansimha commented on #2566
@merisbahti
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2540
Can you please check the latest alpha? `1.7.1-alpha-4e73dea2.5` (it also includes some other changes related to selection sets)

[2019-09-18 09:49] dotansimha commented on #2566
@merisbahti
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2540
Can you please check the latest alpha? `1.7.1-alpha-4e73dea2.5` (it also includes some other changes related to selection sets)

[2019-09-18 10:02] merisbahti commented on #2566
Excellent, this fixed another issue I was having! Thank you 👍

[2019-09-18 10:10] dotansimha commented on #2566
@merisbahti thanks for the feedback. I'm keeping open until we'll release it.

[2019-09-18 15:49] dotansimha commented on #2527
I think this was fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2540
Can you please try the latest alpha version? `1.7.1-alpha-7846646a.59`

[2019-09-18 20:41] PhillipWinder commented on #2410
+1 experiencing the exact same behaviour

[2019-09-18 21:09] ajhool opened #2581 "Struggling to understand the distinction between "Load GraphQL Schemas" and "Load GraphQL Documents""
**Is your feature request related to a problem? Please describe.**
I'm using hasura as my graphql engine and have used `graphql-codegen init` to set the project up. I was not sure about how to answer "Where are your operations and fragments?:" and accepted the default " src/**/*.graphql". My graphql understanding was that everything would be contained in the schema

**Describe the solution you'd l

[2019-09-19 00:38] ardatan commented on #2581
Document is the file that contains your operations inside your client;
[code]
Schema is the file that contains your type definitions including your queries, mutations and subscriptions;
[code]

[2019-09-19 00:39] #2581 closed

[2019-09-19 04:21] ardatan commented on #2402
Could you try with the following version?
`1.7.1-alpha-3e9c1264.63+3e9c1264`

[2019-09-19 05:14] shchekoldin commented on #2402
Works fine for me! thanks a lot!

[2019-09-19 07:19] djflex68 opened #2587 "Duplicated generated types with near-operation-file preset"
Hello,

I'm having some trouble getting near-operation-file preset to work.
I've built a small demo here :
https://stackblitz.com/edit/typescript-4shuse

When generating the code (using npm run gql-codegen), I'm getting 2 files as expected :
- baseTypes that exports some core types `(export type Circuit` , `export type Device`...)
- data.graphql.generated that exports my queries (ConfigurableServi

[2019-09-19 09:43] dotansimha commented on #2587
@djflex68
You specified `typescript` plugin for the `near-fragment-file` preset as well.

Can you please try:

[code]

[2019-09-19 09:50] dotansimha commented on #2536
Closing. @pedrotainha feel free to contact if you are still having an issues with the latest version.

[2019-09-19 09:50] #2536 closed

[2019-09-19 10:27] dotansimha commented on #153
@teebszet I think it should be done in Apollo client, during the runtime, and then you can reflect the status of data by using custom scalars in the codegen.
I think you can do that with Apollo Link.

[2019-09-19 10:43] n1ru4l opened #2588 "ID Scalar is incorrectly typed"
**Describe the bug**

When you return a number as an `ID` type in a resolver, it causes a typescript error. However, `graphql.js` does also accept returning numbers which are then automatically cast to strings.

See https://graphql.github.io/graphql-spec/draft/#sec-ID

TL;DR:

ID as operation argument/return type from resolver -> string or number
ID as operation selection set value -> string

[2019-09-19 10:59] Swatinem opened #2589 "Using fragments (with near-operation-file?) is non-deterministic"
**Describe the bug**

I tried to dedupe some code which was using all the same props from a Union type into using a fragment.
In code, I use the fragment just via its name (no extra imports or similar).

But the codegen output is non-deterministic. Some of my components get the correct fragment output, while others don’t.

Strangely enough, we have a failure on CI related to this, and I got it to

[2019-09-19 10:59] TheWWWorm opened #2590 "Why does typescript-operations generate every filed as mandatory with <Maybe>?"
I have a type "personAlias", and query for it
[code]

Type that gets generated for it looks like

[code]

Notice that  gender is optional.
But in the end query it looks like

[code]

Which makes it mandatory, which causes conflicts. Why? I have set as avoidOptionals: false

[2019-09-19 11:01] n1ru4l commented on #2590
Can you share your schema please?

[2019-09-19 11:02] TheWWWorm commented on #2590
@n1ru4l
[code]

[2019-09-19 11:30] brabacpetr commented on #2410
+1

[2019-09-19 11:58] n1ru4l commented on #2590
The types are Maybe types cause they could be `null` according to your schema

[2019-09-19 12:00] dotansimha commented on #2410
Maybe it's related to the directory you are running it from? (the `cwd`)
I'll try locally your reproduction and update soon.

[2019-09-19 12:18] djflex68 commented on #2587
Hi @dotansimha , thanks for your support.

Indeed removing typescript from near-operation-file did the trick for duplicated types. :clap:
Nevertheless, the file that is generated next to the graphql one, still won't compile, because `Types `namespace imported by `import * as Types from '../base-types';` is not used in the generated code :
`error TS2304: Cannot find name 'Circuit'` where Circuit is

[2019-09-19 12:51] TheWWWorm commented on #2590
But null doesn't mean that they they are optional, it just means that they can exist with value of null. You can't have no key at all

[2019-09-19 13:31] n1ru4l commented on #2590
Could you please provide a minimal reproduction using the code sandbox template (https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template)?

[2019-09-19 13:51] dotansimha commented on #2410
@dandrei
I don't understand your codegen.yml file.
Under `schema`, you specify a url for GraphQL endpoint which should provide your schema.
You also have local files for your *schema*, and you use it with `documents` field (which is for GraphQL operations documents).

You should first figure out where you schema is coming from. If you are writing the GraphQL server, you probably can load your sche

[2019-09-19 13:54] dotansimha commented on #1048
@tejovanthWork you can get this to work, by specifying files to watch in your config file:

[code]

[2019-09-19 13:55] dotansimha commented on #2516
@adrianschneider94 this is awesome!
I think the codegen plugin you are writing should support the existing features of graphql-python so it sounds like a good process!

Let me know how it goes and if we can help :)

[2019-09-19 14:40] djflex68 commented on #2587
Okay I just figured out what was causing the problem.
My package.json was right, but despite running `npm install` in my folder, I still had some old dependencies of graphql-codegen.
The issue is solved for me :smile:
Thanks

[2019-09-19 14:44] dandrei commented on #2410
Thanks @dotansimha.

I am interested in generating files for _both_ the client side (Apollo React hooks and TypeScript types) and server side (TypeScript types and resolver signatures -- the last one mostly to check that my resolvers have the correct input and output types, useful especially when refactoring them).

I specified both a URL (under the `schema` field) and `.graphql` files (under the

[2019-09-19 22:00] ardatan commented on #2588
@n1ru4l I think it is correct right now because if you have a different type than string in your entity(parent) type, you can use mappers to define it like below;
[code]
[code]
[code]

[2019-09-19 22:05] ardatan commented on #2590
@TheWWWorm In GraphQL, there are `nullable`s and `nonnullable`s. If you return `undefined` or `null`, it is considered as `null`. AFAIK, GraphQL Client returns `null` for undefined fields. But it would be great if you show your problem using the sandbox template as @n1ru4l asked.

[2019-09-19 22:08] ardatan commented on #2559
@seanharr11 If you have generated components in the generated file, that import statement must be there for JSX declaration; because JSX declaration represents `React.createComponent` behind the scenes. So it is not actually unused. However, if there is no generated JSX component at all, you're right that's a bug.

[2019-09-19 22:09] ardatan commented on #2410
@dandrei You don't have `documents` so it is expected that you don't have any generated components. You should have documents with your operations defined to be used in the client app.

[2019-09-19 22:12] #2587 closed

[2019-09-19 22:14] ardatan commented on #2589
@Swatinem Could you reproduce this issue using this sandbox template?
https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template
Thanks

[2019-09-20 06:50] OneCyrus commented on #1791
may be an option to just have the results from queries and mutations to be immutable instead of the types themself would be a nice option as well.

[2019-09-20 06:56] lanwin commented on #1791
Woudnt it be better to be able to override all options based on some name or type pattern. Something like.

[code]

This would allow to customize the generation a lot.

[2019-09-20 07:08] n1ru4l commented on #2588
Wouldn't it be possible to distinguish between resolver return `ID` and client-consumed `ID`?

[2019-09-20 07:39] dandrei commented on #2410
You're right, I just can't seem to get it to not throw errors when I specify a `documents` field.

If the configuration file is this:

    overwrite: true
    documents:
      - "src/web/schemas/public/public.graphql"
    schema: "http://localhost:8080/graphql"
    generates:
      src/generated/graphql.tsx:
        plugins:
          - "typescript"
          - "typescript-operations"
          -

[2019-09-20 08:36] Swatinem commented on #2548
https://github.com/dotansimha/graphql-code-generator/blob/122292a499fb7a595d347370a69a662c34563133/packages/plugins/other/visitor-plugin-common/src/client-side-base-visitor.ts#L300-L301

I debugged a bit, and this is where the import is generated… I guess `filePath` includes the extension, and `basename` is not stripping it…

[2019-09-20 09:58] ardatan commented on #2588
@n1ru4l We can do that but we use those generated types in client as well. They shouldn't be used as parent types in my opinion because the data coming from another source is generally different than the one fetched by client. I think we should keep that and you should use `mappers` as I said.
@dotansimha What do you think?

[2019-09-20 10:00] ardatan commented on #2410
@CANHBK Does that `src/web/schemas/public/public.graphql` file have operations like below;
[code]

[2019-09-20 10:02] Swatinem commented on #2589
Ok, I figured this error out, and the codegen seems to work correctly as it should (still waiting on internal CI to confirm).

So the reason for this failure was:

We are *not* using `importDocumentNodeExternallyFrom: near-operation-file` yet pending https://github.com/dotansimha/graphql-code-generator/issues/2548.
And the codegen does *correctly* adds the `XXXFragmentDoc` onto the end of `XXXDocu

[2019-09-20 10:02] #2589 closed

[2019-09-20 20:12] nathanchapman commented on #2402
@ardatan That version works for me as far as consistency goes. I noticed a pretty large diff though (looks like it's not running the prettier hook at all)

[2019-09-20 21:15] ardatan commented on #2402
@nathanchapman Could you create a reproduction?

[2019-09-21 16:13] andrejpavlovic commented on #2051
I was wondering the same thing. Probably should have left the issue open.

[2019-09-22 05:22] dotansimha commented on #2548
I think you are right @Swatinem . I'll take a look :)
Thanks!

[2019-09-22 05:50] dotansimha commented on #2548
@Swatinem I think I managed to fix that in: https://github.com/dotansimha/graphql-code-generator/pull/2599
Can you please try that? `1.7.1-alpha-155a3062.65`

[2019-09-22 06:24] dotansimha commented on #2438
@cypcz what if you return `Promise.resolve({})`? does it auto completes?

[2019-09-22 14:06] dotansimha commented on #1844
The initial implementation of this change was in: https://github.com/dotansimha/graphql-code-generator/pull/2569, thanks @matikrk !
I rebased and changed it a bit in order to match changes we recently introduced in terms of selections set transformations.

The final implementation is here: https://github.com/dotansimha/graphql-code-generator/pull/2602

It will be available in the next release.

Th

[2019-09-22 14:07] dotansimha commented on #1673
Spread implemented in: https://github.com/dotansimha/graphql-code-generator/pull/2602

[2019-09-22 14:27] dotansimha commented on #2051
It's a matter of the way you consume the types. The default behaviour generates Maybe when you declare a nullable type in your schema. It's not our choice to generate it, it just generates the reflection of your schema.
But, we do want to allow maximum flexibility for developers, so using `T` instead of `T | null` will workaround the existing behaviour - but note that it will effect your type-safe

[2019-09-22 14:46] dotansimha commented on #2519
@deser Closing for now. Please let us know if it's still relevant, and please share a complete reproduction.

[2019-09-22 14:46] #2519 closed

[2019-09-22 14:47] dotansimha commented on #2518
@deser Closing, feel free to re-open if this is still relevant. Also, please share a complete reproduction.

[2019-09-22 14:47] #2518 closed

[2019-09-22 14:53] dotansimha commented on #2500
Done, thanks @rccoe . I will be available in the next deployment.

[2019-09-22 14:54] dotansimha commented on #2311
@yoavain-sundaysky note that we fixed that, you can try the latest alpha.
We'll release 1.8.0 soon :)

[2019-09-22 14:56] dotansimha commented on #2588
I think we can generate different types for client and server, that shouldn't be a problem.
I think the codegen assumes that `ID` is `string` in GraphQL, but the actual real value is a number or a string. So I think the should maybe change it in the codegen, even if it's a breaking change for some developers (because it caused by an actual bug in the codegen).

[2019-09-22 15:06] dotansimha commented on #2590
Also, note that you can try to add `avoidOptionals: true` and it will avoid using `?` while generating.

[2019-09-22 15:08] dotansimha commented on #2373
@kamilkisiela you recent changes also solves this?

[2019-09-22 16:36] dotansimha commented on #1791
@lanwin this sounds like a nice idea, but I worry that it might make the implementation much more complex than today.
Do you have more uses cases that it can enhance? maybe you can open an issue for this with examples?
Thank you!

[2019-09-22 23:57] mgtitimoli commented on #1844
Hey there,

Before moving forward I want to apologize for not being so much into this.

I've checked the PR and I found 2 things that imo they should be addressed as the way they are now could create issues:

1. You can't use spread without exact, as if you do so, then the resulting object fields end up being optional.
2. I haven't check in depth the code, but there are references to `$Pick` and t

[2019-09-23 06:56] kamilkisiela commented on #2373
@dotansimha no

[2019-09-23 07:57] aeb-sia opened #2607 "Feature Request: Multiple output files"
I want to be able to generate multiple files from one plugin.

I know this was possible in the past and is planned to be reintroduced in the future. I'm aware of issues like #1292. I think it's a good idea to have a feature request open, so people can vote on it, and subscribe to it, so they are notified once this is actually implemented.

[2019-09-23 07:58] matikrk commented on #1844
1. I forget about it, coz I use exact as default. @dotansimha It's should be added somehow or force exact
2. `$Pick` is somewhere defined, I'm sure it's is in the generated file.
It's inside `packages/plugins/flow/operations/src/index.ts:44`

[2019-09-23 08:22] Swatinem commented on #2548
The import is correct now, but I have a regression regarding fragments which are unions… I will search/create a separate issue for that…

[2019-09-23 08:22] #2548 closed

[2019-09-23 11:18] dotansimha commented on #1844
@matikrk I think we can set the default behaviour of Flow plugins to use the exact operators. It's an easy fix and shouldn't cause breaking changes.

`$Pick` is defined by us, like that:
[code]

Which allow use to pick multiple fields from a type, and create a new type out of it.

[2019-09-23 11:22] dotansimha commented on #2548
@Swatinem With `near-operation-files`? I think the recent change we did might break it (because of using the fragment itself and not the sub-type we recently introduced).
I'll take a look, thanks!

[2019-09-23 11:23] dotansimha commented on #2607
@aeb-sia The codegen now supports generating multiple files.

See: https://graphql-code-generator.com/docs/presets/near-operation-file (there are a lot of usage examples in issues in this repo).

[2019-09-23 11:23] #2607 closed

[2019-09-23 11:24] dotansimha opened #2608 "`near-operation-file` with latest selection set changes breaks fragments imports"
Related: https://github.com/dotansimha/graphql-code-generator/issues/2548#issuecomment-534067192

[2019-09-23 11:56] Swatinem commented on #2548
Sounds like it. So the problem I have is that the `import` statement on top is for the fragment itself, but the generated code references the sub-types. So you have an unused import for the complete fragment, and undefined references for the sub-types…

[2019-09-23 14:12] dotansimha commented on #2548
@Swatinem I created an issue for that: https://github.com/dotansimha/graphql-code-generator/issues/2608
It should import and use sub-types.

[2019-09-23 16:04] tafelito opened #2609 "@client directive won't generate useMutation hooks"
I have some client queries and mutations in a local schema. I implemented all the local resolvers but when I run the codegen, even tho I don't get any errors, only the useQuery hooks are generated but none of the mutations are. I don't have any errors so I'm not sure where to look into

client-schema.ts
[code]

mutations.ts
[code]

queries.ts
[code]

resolvers.ts
[code]

codegen.yml
[code]

and th

[2019-09-23 16:15] tafelito commented on #2609
closing as the error was on the mutation declaration missing the $ on one of the args. Not sure why coegen was not throwing an error

[2019-09-23 16:15] #2609 closed

[2019-09-24 01:25] mgtitimoli commented on #1844
I use the same `$Pick` on my projects, nice!

One tricky thing about it is that when you use it, `Keys` object type also has to be exact, otherwise the resulting type won't be, and you would be in first case I described [here](https://github.com/dotansimha/graphql-code-generator/issues/1844#issuecomment-533930209).

So, for example you would have something like this:

[code]

[2019-09-24 05:31] dotansimha commented on #1844
Ohh I see. Thanks @mgtitimoli ! I'll do those fixes soon :)

[2019-09-24 06:04] dotansimha commented on #1844
@mgtitimoli Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2613

[2019-09-24 09:19] merisbahti commented on #2566
All issues I was aware of have been fixed with the latest canary. Have you scheduled a release sometime soon?

[2019-09-24 10:53] dmarkow opened #2614 "1.7.0 much slower than 1.6.1"
**Describe the bug**

On 1.6.1, generating types took just a few seconds:
[code]

Upgrading the cli and core packages to 1.7.0 produces identical output, but runs much slower:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

Way too large to post

2. My GraphQL operations:

Way too large

3. My `codegen.yml` config file:

[code]

**Expected behavior**

The speed i

[2019-09-24 11:23] klemenoslaj opened #2615 "Extract types from type unions"
**Is your feature request related to a problem? Please describe.**

Currently payload types generally consist of type unions, therefore it is not possible to take only one specific type and use it.

[code]

Now if I develop a stream that filters out all emission but the one with `Data2` __typename, I can't get the type safety right, as I have no direct access to the `Data2` type.

**Describe the s

[2019-09-24 11:27] klemenoslaj opened #2616 "TypeScript Operations should have declarationKind option"
**Is your feature request related to a problem? Please describe.**

Currently [TypeScript Operations](https://graphql-code-generator.com/docs/plugins/typescript-operations) doesn't have or doesn't respect the `declarationKind` option (_e.g. `declarationKind: "interface"_).

This can quickly become a show stopper for any monorepo due to the following issue I reported to TypeScript as well: https://

[2019-09-24 11:27] n1ru4l commented on #2615
@klemenoslaj

You can use the `Extract` utility type (https://www.typescriptlang.org/docs/handbook/utility-types.html#extracttu)

[code]

https://www.typescriptlang.org/play/index.html#code/C4TwDgpgBAsghiARhAPAFQHxQLxQHYCuANkVAD5QF4AmEAZgJZ4TXlRoDcAUFxAB5gA9gCdgUUJFggAigQjCQOKFADeXZQH0NEiHjgBbCAC4oAclnyQpgDTqo1OMDgn4SVAAo7ytct9QG1CYAzsDCTADm3H7KeobBoRFR0YhwwvFheJFevlo6scZmACKOcACMptkAvtkUPtEB6YnZy

[2019-09-24 11:35] klemenoslaj commented on #2615
Yes, this very second I found `Extract` myself 😂
Thanks for the quick reply.

Would however be splitting the types be good idea anyway?

[2019-09-24 11:54] dotansimha commented on #2615
@klemenoslaj you are using inline fragments? you can try to use fragments spreads and then it will generate a sub-type for each possible type in the fragment (use the latest alpha for this, it's just got merged and not released in a stable version yet).

[2019-09-24 11:57] dotansimha commented on #2614
Hi @dmarkow , thank you for reporting this. Can you please share a reproduction in sandbox or a repo? I couldn't reproduce this issue with the examples we have in this repo (it generates a lot of files, and seems stable as before).

[2019-09-24 12:05] klemenoslaj opened #2617 ""preResolveTypes" Fragment not respected in GraphQL conditional fragment"
**Describe the bug**

When having `preResolveTypes` enabled Fragment used within a GraphQL `... on SomeType` is not generated.

*GraphQL*
[code]

*TypeScript* (_no fragment in the type_)
[code]

Without the `preResolveTypes` types is correctly generated
*TypeScript*
[code]

_Please not I wrote all the queries and generated types by hand_

**To Reproduce**
Steps to reproduce the behavior:

- Create

[2019-09-24 12:18] klemenoslaj commented on #2615
@dotansimha not necessarily that fragments are used at all. It could be just a query itself that can return multiple data types.

[2019-09-24 14:14] rovansteen opened #2619 "Parsing error: Type expected"
**Describe the bug**
Trying to upgrade `@graphql-codegen/typescript-operations` from 1.5.0 to 1.7.0 I get the following Typescript error after generating the types.
`Parsing error: Type expected`

The culprit is the following type:
[code]

Notice the `) | };` on the last line.

**Mutation**
[code]

[code]

I'm assuming it's trying to generate a type for the `SMSMultiFactorDevice` union option on t

[2019-09-24 14:30] dotansimha commented on #2619
@rovansteen I think this was already fixed in `master`, but not released yet. Can you please try the latest alpha version? it's `1.7.1-alpha-797953bb.87`.

[2019-09-24 15:22] dmarkow commented on #2614
Seems related to the glob I'm using on `documents`. If I concat my 600+ queries into a single .graphql file and use that instead, it's super fast again.

Can't get it on code sandbox (too many files I guess), but https://github.com/dmarkow/test-sandbox should show the issue.

- On CLI 1.7.0 and using the glob for documents, it takes 30+ seconds
- Update `codegen.yml` to use the single`document.gra

[2019-09-24 15:36] dotansimha commented on #2614
Thank you @dmarkow !
@ardatan can you please take a look?

[2019-09-24 15:39] dotansimha commented on #2615
I think it's fine, but if you'll use a separate fragment and a fragment spread you'll be able to access the inner type as regular typescript type.

[2019-09-24 15:39] #2615 closed

[2019-09-24 15:52] P4sca1 opened #2621 "enumPrefix not being respected for mutation variables"
**Describe the bug**
The generation of mutation variables does not respect `enumPrefix: false`.

**To Reproduce**
https://codesandbox.io/embed/graphql-codegen-issue-template-iyx2e

Use `yarn generate`.
Have a look at `types.ts`. You'll notice that `IGender` is used in `IUpdateUserProfileMutationVariables` instead of `Gender`.

**Expected behavior**
Mutation variable generation should respect `enum

[2019-09-24 16:05] dotansimha commented on #2608
@Swatinem  I think I managed to fix the fragments issues in: https://github.com/dotansimha/graphql-code-generator/pull/2620
Can you please try the latest alpha version? `1.7.1-alpha-59af2256.91`

[2019-09-24 16:06] saostad commented on #1606
I am getting "Cannot find module" error ,
what should be in .ts file?

[2019-09-24 16:32] dotansimha commented on #2621
@P4sca1 I think I managed to fix that in: https://github.com/dotansimha/graphql-code-generator/pull/2622
Can you please give it a try? the latest alpha is `1.7.1-alpha-1e9152fb.90`.

[2019-09-24 16:37] dotansimha commented on #2617
@klemenoslaj Can you please try the latest alpha version? `1.7.1-alpha-1e9152fb.90`

[2019-09-25 01:39] freshollie opened #2629 "Generated typescript recursive query types are wrong"
**Describe the bug**

Because codegen relies heavily on Intersection types, typescript does not correctly check query fields which are optional, and allows nulls to go unchecked in code.

**To Reproduce**

Use the code sandbox:

https://codesandbox.io/embed/graphql-codegen-issue-template-563vy

`yarn generate` will generate the query types for the nested query on `Category`

`test.ts` shows how th

[2019-09-25 01:39] freshollie opened #2630 "Generated typescript recursive query types are wrong"
**Describe the bug**

Because codegen relies heavily on Intersection types, typescript does not correctly check query fields which are optional, and allows nulls to go unchecked in code.

**To Reproduce**

Use the code sandbox:

https://codesandbox.io/embed/graphql-codegen-issue-template-563vy

`yarn generate` will generate the query types for the nested query on `Category`

`test.ts` shows how th

[2019-09-25 01:39] freshollie opened #2631 "Generated typescript recursive query types are wrong"
**Describe the bug**

Because codegen relies heavily on Intersection types, typescript does not correctly check query fields which are optional, and allows nulls to go unchecked in code.

An example query:

[code]

[code]

**To Reproduce**

Use the code sandbox:

https://codesandbox.io/s/graphql-codegen-issue-template-563vy

`yarn generate` will generate the query types for the nested query on `Ca

[2019-09-25 01:46] #2629 closed

[2019-09-25 01:46] freshollie commented on #2630
(github bug duplicated issue)

[2019-09-25 01:46] #2630 closed

[2019-09-25 02:33] Konosh93 commented on #2349
I am trying to open a PR for this issue, but I am stuck at generating the `documents` and making them available for subsequent `plugins`. File generation, currently, seems to be done with `Promise.all` which does not guarantee any specific order for the generated files.

https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-cli/src/generate-and-save.ts#L27
Is it

[2019-09-25 04:32] dotansimha commented on #2349
@Konosh93 The piece of code you mentioned is only the writing process of the output files, and not the generation itself.
You can't communicate between plugins at the moment - each one is running on it's own (in order, but on it's own).
Why do you need to pass documents between plugins? you don't want to write the output to the fs?

[2019-09-25 04:51] dotansimha commented on #2631
@freshollie Maybe I'm missing something, not sure.

In your use case, you are using:
[code]

Which means that `children` field could be `null`, but the array values must be set. If you wish to have a nullable type, you need to use `children: [Category!]!`.

With your schema, it seems to work for me in TS Playground:

![image](https://user-images.githubusercontent.com/3680083/65570040-7be97100-df68

[2019-09-25 05:34] dotansimha commented on #1606
@saostad Can you please share a reproduction in a repo?
Your `ts` file should default export a `GraphQLSchema`.

[2019-09-25 06:59] klemenoslaj commented on #2617
@dotansimha, just checked it, and yes, it's indeed fixed in this alpha version.
Thanks for the great work :+1:

[2019-09-25 07:29] freshollie commented on #2631
Hey, thanks for the reply.

Firstly, the schema is correct for my requirements. I am using `[Category!]` as a `Category` may not have children, but when it does the children will not be null values.

Secondly, in my playground I am using the generated schema types directly, only to imitate the datatypes which would have come out of `useGetCategoriesQuery` etc. Notice I do not use the values of the

[2019-09-25 07:33] freshollie commented on #2631
Also, for more info on the way Typescript treats intersection type, see this example.

[code]

[2019-09-25 07:45] n1ru4l commented on #2631
I think a code sandbox reproduction would be helpful. Please also include your typescript config.

[2019-09-25 07:49] freshollie commented on #2631
My original comment:

[2019-09-25 08:40] n1ru4l commented on #2631
@freshollie Sorry!

[code]

https://www.typescriptlang.org/play/index.html#code/C4TwDgpgBAwghsCBzA9gJxFAvFA3gKCigEsATALigGdg1iA7JAbkKgGMALYgG1LQnqV4iVBgDaAXSgAfKPQCu3biwC+LfKEhQAsnBAAjCAB4AKgD5sUEzLmLl+DeGgAxCME4RSw5Okw5cJBTUtAxIUCpQAGR4rJw8fAKUugbGAIJoaHpGru4cnt6iIGZmqupsKPQ0UHCUOR5eCD7iUjhirARERGSUAERwPQA0rERxvPyCtkpDRCpDEuoA9AtQAHIoUBAZ6ANQhmxw8lTQAO4cCAD8+OWVwLtCjYWSlnCLywCiW2g7own07HD0egoW6GS

[2019-09-25 08:49] freshollie commented on #2631
@n1ru4l notice the first assignment `b = a` in my example is valid, even though the data in `c` is exactly the same. Typescript doesn't highlight `b = a` as bad because it sees the intersection type in `a` wrongly.

Yes, I followed the examples in there to generate my query.

Your changes to the test.ts file do not solve the issue. Run `test.ts` with `yarn test` and see how even though typescript

[2019-09-25 08:52] freshollie commented on #2631
I will point out what I am trying to show with the example source with typescript intersections:

[code]

[2019-09-25 08:54] n1ru4l commented on #2631
[code]

[2019-09-25 08:59] freshollie commented on #2631
Oops, didn't see your logic change.

[code]

Yes, you are correct this solves the issue with the code, but is not the point in typescript and codegen to highlight issues with code before they show at runtime?

Yes, I could fix my code by changing `children?: Category[]` to `children?: Category[] | null` but this isn't the point.

The point is that I had to find this by mistake by accident, my type

[2019-09-25 09:10] n1ru4l commented on #2631
What is the point of redeclaring types you already generated?

What exactly could graphql-codegen change to solve your problem?

[2019-09-25 09:41] freshollie commented on #2631
Ignore the crudeness of the example I provide. The idea is that obviously I might want to use the GraphQL query data in a function which has an interface expecting a type. For example a React Component.

In this case, I should transform the data from the query response to remove the null types as the interface doesn't accept them. However, this was not highlighted. The point in the graphql types i

[2019-09-25 10:09] n1ru4l commented on #2631
The idea of GraphQL is to generate a schema that is consumed by the client without the need for transformation. Ideally, your Schema should represent the UI structure of your application. Of course, I can understand that this is not always possible.

Sorry for repeating my question: What exactly could graphql-codegen change to solve your problem?

[2019-09-25 10:59] freshollie commented on #2631
The type generated for the query is:

[code]

Which should be equal to

[code]

When using this fixed query, typescript correctly highlights the type issues:

[code]

[2019-09-25 11:01] freshollie commented on #2631
Does this makes sense? I understand Pick is useful for being able to use the base type, but using intersection in typescript does not behave as expected.

[2019-09-25 11:24] n1ru4l commented on #2631
@freshollie https://graphql-code-generator.com/docs/plugins/typescript-operations#preresolvetypes-boolean-default-value-false

[2019-09-25 11:32] freshollie commented on #2631
@n1ru4l yes! This creates the create types for the query!

Do you see the issue though? By default this query is not type checked correctly, so why even generate it?

[2019-09-25 11:32] rovansteen commented on #2619
Thanks @dotansimha. Updating to `1.7.1-alpha-797953bb.87` fixes this issue.

[2019-09-25 11:48] Swatinem commented on #2608
@dotansimha thanks for notifying me.
So the fragment imports are correct now, but there is yet another regression:
It now tries to use the `XXXMutation` and `XXXMutationVariables` from the `Types` (`baseTypesPath`) namespace, which is wrong.
The declarations are local to each operation file, so no need to use the base types namespace.

[2019-09-25 12:13] n1ru4l commented on #2631
@freshollie Shouldn't this be fixed once typescript 3.7 is out? (https://github.com/microsoft/TypeScript/issues/33243)

[2019-09-25 12:23] freshollie commented on #2631
I testing with `typescript@next`(3.7) and it didn't fix the issue.

[2019-09-25 12:25] n1ru4l commented on #2631
@freshollie I think it will take a while until it is done... (https://github.com/microsoft/TypeScript/milestone/98)

@dotansimha How do you feel about this?

[2019-09-25 12:30] freshollie commented on #2631
Yeah, advice I got was it's not 100% likely this issue gets fixed with 3.7 as the goals of the milestone change. Why is the generation with Pick the default if it doesn't work as intended?

[2019-09-25 12:37] n1ru4l commented on #2631
Because you are the first person that experienced this issue and you reported it today 😉

[2019-09-25 12:38] freshollie commented on #2631
Oh, I didn't mean to be so abrupt. I meant to mean, why does the option exist :P

[2019-09-25 13:05] pradospeedsheld opened #2632 "info argument for Resolver as optional"
Hi
Is there a config in yml or any other way where I can have info argument as optional in the generated types from resolvers?
I am having trouble to write some tests where it's complaining about not providing info but somehow it doesn't complain in the actual Resolver function for Query.
Thanks

[2019-09-25 19:31] P4sca1 commented on #2621
Using `1.7.1-alpha-1e9152fb.90` solves the issue!

[2019-09-25 21:27] camfletch opened #2635 "Inclusion of __typename is not enforced on the optimisticResponse for a mutation"
**Describe the bug**

For `optimisticResponse` to work correctly: https://www.apollographql.com/docs/react/performance/optimistic-ui/#basic-optimistic-ui
You _must_ provide the `__typename` of each object in your `optimisticResponse`. For example:

[code]

Now the generated types correctly detect if there is a typo in the `__typename` (which is great!), but the `__typename` field itself is optiona

[2019-09-26 01:49] Konosh93 commented on #2349
@dotansimha

I agree, and this is what I was trying to find a workaround for.

As you mentioned, the `codegen` is run in order, for all plugins. At this point, `documents` are generated by the desired plugin but not yet written to the `fs`.

I don't. Sorry, my wording was confusing. I want to make the generated documents files available for subsequent plugins.

[code]

[2019-09-26 05:21] n1ru4l commented on #2635
I can confirm this issue.

[2019-09-26 13:43] saostad commented on #1606
hi, this is the repository:
https://github.com/saostad/graphql-code-gen-ts-file

[2019-09-26 21:16] dbeauchamp commented on #2556
Is there an ETA on this being released?

[2019-09-26 21:24] kevin-lindsay-1 opened #2641 "Apollo Federation @key directive: "Nested fields in _FieldSet is not supported""
**Describe the bug**
Attempting to use nested fields in the `@key` directive returns an error, even though it's a supported syntax introduced in `@apollo/federation`.

**To Reproduce**
Attempt to use nested fields in `@key`

Example:
[code]
[code]

Not sure if this is technically a bug or just a missing feature, but I couldn't find anyone else having this issue elsewhere. Is it planned to be suppo

[2019-09-26 21:43] kevin-lindsay-1 commented on #2641
As a workaround, is there a way to simply ignore this particular error? Would be nice to have typedefs where it's supported but ignored where it's not.

`--silent` silences errors, but I'd prefer it to not silence *everything*, and generate code for whatever works, without feeling the need to avoid using nested fields in `@key` just because a code generator doesn't support it.

[2019-09-27 01:52] andrejpavlovic commented on #2051
The problem is that when Gatsby automatically infers the GraphQL schema from the data it receives, it tends to define all types very loosely without the `!`. I had to explicitly define the schema with non-nullable types in order to avoid using the `maybeValue: T` and `non null assertion` workarounds in typescript. It was a lot of work, but it makes for a much more robust generation of query types.

[2019-09-27 07:31] dotansimha commented on #2635
@camfletch You can either specify `__typename` explicitly in your schema, or set `nonOptionalTypename: true` and it will force `__typename` as non-optional.

[2019-09-27 07:51] kamilkisiela commented on #2641
It just a missing feature and we chose to throw an exception here because the output is incorrect, so the generation failed. We will implement it soon but if someone wants to help, reach out to us :)

[2019-09-27 10:54] wtrocki opened #2642 "codegen init fails (but it is documented)"
Happy to remove it from docs if agreed and not issue:

![Screenshot 2019-09-27 at 11 54 02](https://user-images.githubusercontent.com/981838/65764444-8dc04500-e11d-11e9-929d-612e5634c85f.png)

[2019-09-27 14:00] rafeca commented on #2497
@dotansimha are you planning to release a new version of `graphql-code-generator` with this fix any time soon? (not trying to put any pressure 😜, it's just for planning).

[2019-09-28 01:59] rlindskog commented on #2558
@CarloPalinckx Does this create the doc from the graphql description? https://www.apollographql.com/docs/apollo-server/schema/schema/#describing-types

Example:
[code]

[2019-09-28 15:01] n1ru4l commented on #2558
@rlindskog Nope, only hook docs.

[2019-09-30 08:39] frankruegamer opened #2646 "optional-js support for maybeValue"
**Is your feature request related to a problem? Please describe.**

There is [this](https://www.npmjs.com/package/optional-js) library for JavaScript which abstracts possible undefined values and was inspired by Java. I'm trying to wrap my head around how to use it directly for `maybeValue`.

**Describe the solution you'd like**
Ideally modify codegen.yml like so:
[code]
For this to work Optional'

[2019-09-30 10:36] freshollie commented on #2631
@dotansimha @n1ru4l any conclusions on this? To summaries: `preResolveTypes: true` fixes our issue, so I am fine to close.

Other people may encounter this and `preResolveTypes: true` is not enabled by default, so documenting this behaviour might be the solution?

[2019-09-30 11:28] n1ru4l commented on #2631
I still think this is an issue with typescript that should be documented.

[2019-09-30 18:31] seansfkelley opened #2649 "schema `!`-exclude rules are not respected"
**Describe the bug**

When specifying `!`-exclude rules per [the documentation](https://graphql-code-generator.com/docs/getting-started/schema-field#glob-expression), schema generation fails with a message suggesting that it tried to load the exclude rule as if it were a file:

[code]

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/graphql-codegen-issue-template-i3fpy

[2019-09-30 20:54] jeffreyffs opened #2650 "@graphql-codegen/typescript-react-apollo@1.7.0 requires a peer of @types/graphql@* but none is installed"
**Describe the bug**
typescript-react-apollo requires @types/graphql, but the package has been deprecated since graphql added type definitions to their repo.

**To Reproduce**
Install typescript-react-apollo without @types/graphql

**Expected behavior**
No warning from `npm` or `yarn`

**Environment:**
- OS: macOS
- `@graphql-codegen/...`: 1.7.0
- NodeJS: 10.15.1

Edit: I've just noticed this was

[2019-10-01 00:13] petecarapetyan opened #2651 "should I be able to run tests?"
When I git clone this repo, should I be able to run the tests successfully? Or are there other dependencies than those that `npm install` would take care of?

I ran `npm run test` and it launched the appropriate command, but it came back almost immediately as an error without much, if any, description

[2019-10-01 04:07] n1ru4l commented on #2651
I have no problems running the test after doing a yarn install.

[2019-10-01 11:42] RIP21 opened #2656 "Add ability to import schema from node_modules"
https://graphql-code-generator.com/docs/getting-started/schema-field
I see all kinds of options to load schema, but one I think is still kinda missing :)
What do you think about to add schema resolution from regular JS modules?
Example:
[code]
Where `@revolut/our-awesome-schema` is the name of the module.

I assume I can hack around it right now like that.
[code]
my-js-loader.js
[code]
But it stil

[2019-10-01 11:47] petecarapetyan commented on #2651
For these versions:
yarn: 1.19.0
npm: 6.4.1
node: 10.13.0

History:
[code]

Result:
[code]
providing, just in case this helps.

[2019-10-01 13:51] ardatan commented on #2651
@petecarapetyan Could you share the full log?

[2019-10-01 15:02] WillSquire opened #2657 "Include directive is non-optional"
Noticed the typings for properties with include directives are non-optional, but the return values can be undefined. For example, in:
[code]
`foo` can be optional.

[2019-10-01 18:52] maapteh opened #2660 "question: ordering"
Hi team :)

We checkin our generated types so we can also see the changes. I noticed it keeps on changing the ordering of keys when we extend a type in another module. Sometimes it gets on the top, sometimes on the bottom. Is it maybe better to have them as an option be sorted on alphabet? Is that possible? Don't tell me its already configurable :)

Maybe we will ditch the checkin as we have kamil

[2019-10-02 04:36] dotansimha commented on #2651
@petecarapetyan Our repo is structured as mono-repo, using Yarn.
Please install latest Yarn and then run: `yarn` in the run directory to install dependencies for all sub-packages. Then you should be able to run `yarn test` in the root.

[2019-10-02 04:36] #2651 closed

[2019-10-02 04:37] dotansimha commented on #2650
Thanks @jeffreyffs ! we'll fix that very soon :)

[2019-10-02 05:04] dotansimha commented on #2650
Pushed a fix to `master`.

[2019-10-02 05:06] dotansimha commented on #2660
I caused by `graphql-toolkit` and the fact that we changed the `glob` library to `fast-glob` which doesn't promise consistency.
@ardatan added some fixes related to sorting in the latest version of `graphql-toolkit` (it's also available in the latest alpha version of the codegen).

[2019-10-02 05:06] #2660 closed

[2019-10-02 05:07] dotansimha commented on #2649
@seansfkelley I think in negative `glob` patterns, you need to wrap the negated part with braces:

[code]

Can you please try it?

[2019-10-02 05:09] dotansimha commented on #2631
@freshollie Thanks, closing for now. The current default is using `Pick` but I think maybe we can change it in a future version, we just need to make sure preResolveTypes is stable and has no issues.

[2019-10-02 05:09] #2631 closed

[2019-10-02 05:11] dotansimha commented on #2590
Closing. @TheWWWorm feel free to re-open/comment if this is still relevant.

[2019-10-02 05:11] #2590 closed

[2019-10-02 05:11] dotansimha commented on #2438
@cypcz can you please try what I mentioned above? If it's still not working, can you please create a reproduction repo/sandbox?

[2019-10-02 05:16] dotansimha commented on #2092
Closing this for now. If there are other issues, please open new issues for each one, with as much info as possible and a reproduction.

Gatsby is doing some changes during runtime for schemas, so I can only recommend the following at the moment:

- For your schema, use the GraphQL endpoint that Gatsby creates for you, it will include all the relevant types.
- For your documents, start with specif

[2019-10-02 05:16] #2092 closed

[2019-10-02 05:43] dotansimha commented on #2497
@rafeca I hope to release it today :)

[2019-10-02 05:50] dotansimha commented on #2642
Just tested it and it seems to work. @wtrocki can you please share a small repo?
Also, do you run it as global command? does your codegen installed globally?

[2019-10-02 05:52] dotansimha commented on #2349
I see. It's not possible at the moment, because plugins are being executed after the point that all documents has been collected, parsed and validated against the schema.

[2019-10-02 05:52] dotansimha commented on #2632
@kamilkisiela can you please take a look?

[2019-10-02 07:10] Konosh93 commented on #2349
Thanks. We figured that wouldn't be possible with the current interface. In our own use cases, we will be running the plugin before other plugins, using a separate config file. I will update this answer once the plugin is ready.

[2019-10-02 07:21] dotansimha commented on #1606
@saostad It seems like this reproduction works fine, I'm missing something?

[code]

And the generated file:

[code]

[2019-10-02 07:28] dotansimha commented on #2608
It's related to changes by @veeramarni in order to support `import-types` preset.
I think I'll separate the configuration names in order to fix that.

[2019-10-02 09:28] wtrocki commented on #2642
I have removed it globally. Tried different cases.
It was fixed but it seems that npx do not work as graphql is added as peer dependency.

[code]

Feel free to close this though.

[2019-10-02 11:39] ardatan commented on #2642
You need to try it on a project by installing like;
[code]

[2019-10-02 11:40] mastilver opened #2665 "Resolver return type requires unnecessary properties"
**Describe the bug**

Hi

I'm not sure if it's even possible
A resolver type requires me to add property to an object when it's being handle by another resolver
For example I have
- a `user` resolver that only send `firstName` and `lastName`
- a `fullName` resolver on the `User` object

the `user` resolver type still requires me to return `fullName`

**To Reproduce**

- clone: https://github.com/m

[2019-10-02 12:08] ardatan commented on #2665
So, your entity type has `firstName` and `lastName`. You should define a type like below,,
[code]
then use `mappers` field inside `codegen.yml`;
[code]

[2019-10-02 12:08] #2665 closed

[2019-10-02 12:59] mastilver commented on #2665
Thank you for the quick answer! :+1:

[2019-10-02 13:38] #2642 closed

[2019-10-02 13:51] petecarapetyan commented on #2651
Since this was closed, I assume that the team is not interested (runs on my box, so it's not an issue)
I will not concern myself further, until I need to actually run tests.

Here is my run, per @dotansimha above
[code]
and
[code]

[2019-10-02 14:08] cypcz commented on #2438
@dotansimha it is not working. Sandbox [here](https://codesandbox.io/s/focused-colden-fn3zc)

[2019-10-02 14:29] dotansimha commented on #2651
@petecarapetyan You just need to run `yarn build` before, otherwise you don't have the artifact of each package :)

[2019-10-02 14:51] dotansimha commented on #2438
@cypcz It should work because the resolver method is declared to return `Promise` so it knows that it could be `async`.

Btw, which IDE do you use? VSCode?

[2019-10-02 14:51] dotansimha commented on #2608
@Swatinem I managed to fix that in this PR: https://github.com/dotansimha/graphql-code-generator/pull/2667

Can you please try the latest alpha? `1.7.1-alpha-23589acb.118`

[2019-10-02 18:34] seansfkelley commented on #2649
No dice:

[code]

It still looks like it's trying to load the negation rule as a file. My theory in "additional context" above explains that partially, though it doesn't explain why, if it's only getting a negated glob with no positive globs, it doesn't just match literally everything else (maybe it refuses to handle a set of globs with no positive glob?).

[2019-10-02 18:56] dotansimha commented on #2608
Fixed in 1.8.0 🚀

[2019-10-02 18:56] #2608 closed

[2019-10-02 18:56] dotansimha commented on #2497
Fixed in 1.8.0 🚀

[2019-10-02 18:56] #2497 closed

[2019-10-02 18:56] dotansimha commented on #2619
Fixed in 1.8.0 🚀

[2019-10-02 18:56] #2619 closed

[2019-10-02 18:56] dotansimha commented on #2650
Fixed in 1.8.0 🚀

[2019-10-02 18:56] #2650 closed

[2019-10-02 18:56] dotansimha commented on #2614
Fixed some of the issues in 1.8.0 🚀

[2019-10-02 18:56] #2614 closed

[2019-10-02 18:56] dotansimha commented on #2558
Fixed in 1.8.0 🚀

[2019-10-02 18:56] #2558 closed

[2019-10-02 18:56] dotansimha commented on #2556
Fixed in 1.8.0 🚀

[2019-10-02 18:56] #2556 closed

[2019-10-02 18:56] dotansimha commented on #2621
Fixed in 1.8.0 🚀

[2019-10-02 18:56] #2621 closed

[2019-10-02 18:57] dotansimha commented on #2617
Fixed in 1.8.0 🚀

[2019-10-02 18:57] #2617 closed

[2019-10-02 18:57] dotansimha commented on #2566
Fixed in 1.8.0 🚀

[2019-10-02 18:57] #2566 closed

[2019-10-02 18:57] dotansimha commented on #1844
Fixed in 1.8.0 🚀

[2019-10-02 18:57] #1844 closed

[2019-10-02 18:57] dotansimha commented on #2498
Fixed in 1.8.0 🚀

[2019-10-02 18:57] #2498 closed

[2019-10-02 18:57] dotansimha commented on #2500
Done  🚀

[2019-10-02 18:57] #2500 closed

[2019-10-02 18:57] dotansimha commented on #1673
Fixed in 1.8.0 🚀

[2019-10-02 18:57] #1673 closed

[2019-10-02 18:57] dotansimha commented on #2402
Fixed in 1.8.0 🚀

[2019-10-02 18:57] #2402 closed

[2019-10-02 18:57] dotansimha commented on #2527
Fixed in 1.8.0 🚀

[2019-10-02 18:57] #2527 closed

[2019-10-02 18:57] dotansimha commented on #2541
Fixed in 1.8.0 🚀

[2019-10-02 18:57] #2541 closed

[2019-10-02 18:58] dotansimha commented on #2565
Fixed in 1.8.0 🚀

[2019-10-02 18:58] #2565 closed

[2019-10-02 18:58] dotansimha commented on #2506
Fixed in 1.8.0 🚀

[2019-10-02 18:58] #2506 closed

[2019-10-02 18:58] dotansimha commented on #2495
Fixed in 1.8.0 🚀

[2019-10-02 18:58] #2495 closed

[2019-10-02 18:58] dotansimha commented on #2489
Fixed in 1.8.0 🚀

[2019-10-02 18:58] #2489 closed

[2019-10-02 18:58] dotansimha commented on #2515
Fixed in 1.8.0 🚀

[2019-10-02 18:58] dotansimha commented on #2507
Fixed in 1.8.0 🚀

[2019-10-02 18:58] #2507 closed

[2019-10-02 18:58] dotansimha commented on #2502
Fixed in 1.8.0 🚀

[2019-10-02 18:58] #2502 closed

[2019-10-02 18:58] dotansimha commented on #2470
Fixed in 1.8.0 🚀

[2019-10-02 18:58] #2470 closed

[2019-10-02 19:07] jeffreyffs commented on #2650
Thanks! 🎉

[2019-10-02 19:49] dmarkow commented on #2614
Thanks! However, I just tried 1.8.0 on that sample repo (reset yarn.lock and emptied node_modules to make sure it was the newest version). It's still taking around 30 seconds on multiple files and 1-2 seconds on a single large file...

[2019-10-02 21:04] saostad commented on #1606
interesting!
it's not working for me!
[code]

[2019-10-03 00:35] valerybugakov commented on #2192
@dotansimha it seems that there might be a case when `data` will be missing. When developer specifies `config.props` it might not pass `data` down. But it will still be required because of `QueryNameProps<TChildProps>`.

Is there a way to tell TS about that using current typings?

[2019-10-03 05:43] dotansimha commented on #1606
@saostad It seems like it's trimming your path for the schema, because of the backslash. I can only guess that it's related to Windows OS.
Can you please report this in a new repo? @ardatan will take a look, he's the Windows expert :D

[2019-10-03 05:51] dotansimha commented on #2614
@dmarkow I suspect that reading all files, parsing and merging takes some time, but the validations we recently introduced might cause it to take a bit longer.
@dmarkow can you please try to disable documents validation and see if it improves? (set `skipDocumentsValidation: true` in your config section)

[2019-10-03 09:37] PedroLamas commented on #2489
Just tested and it's working fine now! Thanks!! 😄

[2019-10-03 10:27] ForbesLindesay opened #2676 "federation bug: Cannot find name 'ReferenceResolver'."
**Describe the bug**

When federation is enabled, you now get the error: `Cannot find name 'ReferenceResolver'.`

**To Reproduce**
Steps to reproduce the behavior:

[![Edit graphql-codegen-issue-template](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/graphql-codegen-issue-template-wdfcr?fontsize=14)

1. run yarn generate
2. run yarn typecheck

My GraphQL schema:

[2019-10-03 10:38] dotansimha commented on #2676
@ForbesLindesay Can you please try to move the federation config upper?

[code]

@kamilkisiela

[2019-10-03 12:30] alexkirsz commented on #2515
@dotansimha I'm now getting an unclear error on 1.8.0:

[code]

On 1.7.0, I was getting the following instead:
[code]

[2019-10-03 12:31] dmarkow commented on #2614
@dotansimha That does take it down from 30 seconds to 10 seconds so it's definitely an improvement, but that's still 10 times slower than the exact same config and file structure on 1.6.x?

[2019-10-03 12:33] dotansimha commented on #2614
This should improve it even more: https://github.com/dotansimha/graphql-code-generator/pull/2673
@ardatan will get it fixed and merged soon

[2019-10-03 14:17] jbaranski commented on #2502
This still doesn't work for me on Windows.

See https://github.com/ardatan/graphql-toolkit/issues/260

[2019-10-03 14:37] saostad commented on #1606
what do you mean new repo?
new issue?

[2019-10-03 14:50] dotansimha commented on #1606
My bad, new issue* :)
Thanks @saostad

[2019-10-03 20:31] FredyC commented on #153
@dotansimha Do you have some useful resources on how it can be done universally with Apollo Link?

I've found this pretty old (but still active) [feature request for Apollo client](https://github.com/apollographql/apollo-feature-requests/issues/2) and it almost seems like it's still not possible. It would be really lovely to get ISO date automatically parsed and converted and along with correct ty

[2019-10-03 20:41] Slessi commented on #153
@FredyC use [parseISO](https://date-fns.org/v2.4.1/docs/parseISO)

[2019-10-03 21:07] veeramarni opened #2679 "enum prefix disable not working"
**Describe the bug**

When using the following options for`enum`, it generates correctly without a prefix but they are referred with the prefix at `export type IResolversTypes` and typescript compilation fails.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

Output

[code]
**Expected behavior**

No prefix when ref

[2019-10-04 07:09] mizdra commented on #2416
Upgrading `@graphql-codegen/*` from v1.7.0 to v1.8.0, this problem occurs again. Can you check it?

- diff: https://github.com/mizdra/graphql-code-generator-sample/compare/d09b476...a6e78aa

[2019-10-04 10:15] ooflorent opened #2683 "Missing `__typename` when explicitly set"
When generating the TypeScript definitions by `typescript-operations` with `nonOptionalTypename=false` and `skipTypename=true`, `__typename` is missing for the type definitions **even if it is explicitly requested in the query**.

It is possible that it is the intended behavior. If it is, is there a way to achieve this?

**To Reproduce**

1. GraphQL schema:

[code]

2. GraphQL operations:

[code]

[2019-10-04 15:17] schmod commented on #2415
I'd also be interested to see something like this for [graphql-request](https://www.npmjs.com/package/graphql-request), and may take a stab at a PR.

[2019-10-04 16:17] andrejpavlovic commented on #2683
Seems like this is caused by some subdependency, because if I went back to 1.7, but updated all the subdependencies, it still wasn't giving me `__typename`. I had to revert my package-lock.json to the exact subdependencies as before.

[2019-10-04 17:00] hayes opened #2684 "separate scalars for input types in typescript"
**Is your feature request related to a problem? Please describe.**

Currently scalar field on input types use the same types as scalars on normal types.  It would be really useful to be able to use a separate map of scalars for input types.

My specific use case is that several of our scalars have normalization built in, so that the types that can be handled by internals of our graphql implementat

[2019-10-04 18:37] KyleMcNutt commented on #2679
Just ran into this bug as well, or one somewhat similar to it.

In my case, if I had a type that has a property referring to an enum, it would prefix the enum name with an `I`, even though, the enum wasn't prefix.

i.e.:

[code]

It would generate code like:

[code]

[2019-10-05 22:19] P4sca1 opened #2690 "typescript-apollo-client"
**Is your feature request related to a problem? Please describe.**
The new typescript-graphql-request plugin released today is very great. It solves many issues I had about huge boilerplate when calling graphql queries because you no longer have to specify query, query type and variable types.

For another frontend project I am using vue-apollo and apollo-client is not supported by the getSdk func

[2019-10-06 06:34] dotansimha commented on #2690
Hi @P4sca1
I think it should be very simple to implement, because the API is similar.
I'll try to take a look this week.

[2019-10-06 12:11] lingard opened #2693 "Types namespace missing when using flow-operations and near-operation-file-preset"
**Describe the bug**
Imported types namespace are missing when using flow-operations and near-operation-file-preset. It gets added to the scalars in the query variables but not in the query definition.

[code]

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/graphql-codegen-issue-template-lrsir

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `co

[2019-10-07 02:21] lednhatkhanh commented on #1757
Stopped working after upgrading to 1.8.1

[2019-10-07 05:35] dotansimha commented on #1757
@lednhatkhanh I guess 1.8.0 doesn't work as well?
@kamilkisiela can you please take a look? maybe it's related to cosmiconfig?

[2019-10-07 07:16] dotansimha commented on #2683
I added a test for it: https://github.com/dotansimha/graphql-code-generator/commit/d8e6d9bf47ac0db68224c84d874ca1e1ab98872f and it seems like it works.

[2019-10-07 07:25] ooflorent commented on #2683
I redid the test and it kinda works.

Let's consider this schema:

[code]

An the following query:

[code]

The generated types include `__typename`. However, if the query is rewritten like this:

[code]

Then `__typename` is not included.

[2019-10-07 08:34] ooflorent opened #2699 "Invalid TypeScript definitions generated"
**Describe the bug**

Invalid TypeScript definitions are generated.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

`types.tsx` should be a valid TS file.

**Environment:**

- OS: macOS 10.14.6
- `@graphql-codegen/add`: 1.8.1
- `@graphql-codegen/cli`: 1.8.1

[2019-10-07 08:38] ooflorent commented on #2699
Please note that changing the query to this:

[code]

Results in this:

[code]

Where `{ gid: string }` is produced for each type implementing `Node`.
Moreover, the fields from `SomeEntityFragment` are not generated.

[2019-10-07 08:45] ooflorent commented on #2699
When using version `1.7.0` the following type is generated (which also is invalid):

[code]

[2019-10-07 08:53] ooflorent commented on #2699
I tracked down the bug and it looks like the issue is the 2 interface levels. If I add a new entrypoint:

[code]

And change the query to:

[code]

Then the generated types are:

[code]

[2019-10-07 09:40] dotansimha commented on #2683
@ooflorent I think I managed to fix that, see: https://github.com/dotansimha/graphql-code-generator/pull/2700
Can you please try this alpha? `1.8.2-alpha-a83224e6.9`

[2019-10-07 09:54] ooflorent commented on #2683
Thanks @dotansimha it fixes the the issue!

[2019-10-07 09:57] ooflorent commented on #2699
I tried `1.8.2-alpha-a83224e6.9` and a new bug appeared:

[code]

Instead of generating empty objects it now generates fragments. However, **some fragment types are not generated** which results in an error:

[2019-10-07 13:41] levrik opened #2701 "ExperimentalWarning since upgrade to >=1.8.0"
**Describe the bug**

Since upgrading to >=1.8.0 of `@graphql-codegen/cli`, `@graphql-codegen/typescript-operations` and `@graphql-codegen/typescript-react-apollo`, I'm getting this warning displayed: `(node:73362) ExperimentalWarning: Readable[Symbol.asyncIterator] is an experimental feature. This feature could change at any time`

I'm using the latest Node LTS (v10.16.3) and the following config

[2019-10-07 14:51] groege opened #2702 "Is there a way to generate queries?"
I was able to generate classes i.e.:
[code]
and so on...

it also generates the filters:

[code]

but is there a way to generate something like this?

[code]

So I can create queries type-safe with all filters and the columns i want in the result.

So far I wasn't able to find anything like it in the docs and issues, so any pointers would be awesome.

Thanks!

[2019-10-07 17:19] petecarapetyan opened #2703 "Question: Writing my own plugin like docs, vs like actual plugins are written."
My plugins that are written per the docs work fine, using this basic format

`module.exports = {
  plugin: (schema, documents, config) => {
...`

If I'd prefer to write in the post-common.js style - such as virtually everything in packages/graphql-codegen-cli/src/init/plugins.ts - but I don't know how to reference this style of code into my development workflow without inserting into the plugin.ts

[2019-10-07 18:20] asdftd opened #2704 "scalar"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environment:**

- OS:
- `@graphql-codegen/...`:
- NodeJS:

**Additional context**

[2019-10-07 18:21] #2704 closed

[2019-10-07 18:22] asdftd commented on #2704
missclick, can be deleted

[2019-10-07 18:37] KyleMcNutt commented on #2679
From doing a bit of digging, looks like this bug might be here:

https://github.com/dotansimha/graphql-code-generator/blob/2fe0ec94cd14bd898919b2caa6bac5c1783eb47f/packages/plugins/other/visitor-plugin-common/src/base-visitor.ts#L150

Where I believe this should take into account the `enumPrefix` config setting?

[2019-10-08 00:29] pristas-peter opened #2707 "graphql-codegen-cli UnhandledPromiseRejection since 1.8.0"
**Describe the bug**
Since 1.8.0, when generator is run through code and there is a parsing error, unhandled rejection pops out and node process crashes.

**To Reproduce**
Steps to reproduce the behavior:

Version 1.8.0
[code]

Was correct in 1.7.0:

[code]

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

**Environm

[2019-10-08 00:57] freedomflyer opened #2708 "Typesafe Access to Mutation Result Not Working"
I may be missing something here,  but I expect the data object returned by the mutation hook below to be built in such a way that I can easily access the other properties on the object, such as `response.data.login.token`, etc. Instead, when I try to access the `login` object, Typescript tells me that I'm trying to access an object that may be undefined.

Is this the expected behavior of the hook'

[2019-10-08 10:28] lukasluecke commented on #2708
I guess that depends on your Schema - if the mutation result data is nullable, then it makes sense to generate "nullable" types as well. Most mutations can fail, and therefore might not always return a data object.

Once optional chaining lands in Typescript (3.7), this access should be a bit cleaner.

[2019-10-08 10:30] lukasluecke commented on #2702
What does your config look like right now? You can generate types for queries and mutations by passing in your GraphQL documents.

[2019-10-08 12:08] groege commented on #2702
So I'm actually using graphql-dotnet, so I used a npm plugin to generate the schema file I've uploaded
[schema.zip](https://github.com/dotansimha/graphql-code-generator/files/3702240/schema.zip)

Also here is my codegen.yml:
[code]
(Seems like i'll have to implement resolvers as well..)

[2019-10-08 13:29] lukasluecke commented on #2702
If you only provide your `schema`, and not `documents`, then the Codegen doesn't know what your Queries and Mutations look like.

See https://graphql-code-generator.com/docs/getting-started/documents-field for more info on this.

[2019-10-08 16:31] freedomflyer commented on #2708
Yeah, I'm surprised this is happening since my schema marks the result as not nullable, which is why I'm reporting it here:

[code]

[2019-10-08 18:28] lukasluecke commented on #2708
Which plugin are you using to generate your hooks? I think it might have to do with the hooks return value including `undefined` due to possibly not being called / completed yet.

[2019-10-08 21:44] maapteh commented on #2708
Hi, i think it has to do with the fact that in the past data was {}, since version three they made the update that data is initially undefined :) See https://github.com/apollographql/react-apollo/pull/3388 So the TypeScript feedback is solid :)

[code]

[2019-10-08 22:12] zhenxzheng commented on #2676
@dotansimha, I see the same bug with v1.8. moving config federation to upper didn't help

[2019-10-09 00:15] petecarapetyan opened #2715 "How to generate multiple files from a single plugin, as determined by the schema?"
I would like my plugin to be able to write one or more files for each relevant object in the schema.

Is this documented anywhere? I can search in `graphql-code-generator` for `config.generates` and get some ideas on this, but I get lost before I find a working example.

[2019-10-09 06:01] dotansimha commented on #1757
@lednhatkhanh it seems like loading env vars works, can you please share a reproduction in a new issue?

[2019-10-09 06:04] dotansimha commented on #2715
@petecarapetyan Can you please add more context to what you are trying to achieve?
Basically, each plugin returns a `string` and the combination of multiple plugins creates a output file, based on `config.generates` keys.

The codegen core also supports `presets` which are a way to manipulate `generates` section before it's being executed.  For example, `near-operation-file` will create a `generat

[2019-10-09 06:06] dotansimha commented on #2708
@maapteh is right, Apollo changed the way they pass `data`, and now it's optional, so the `data` (which is not coming from the generated output, but from apollo-client) could be `undefined` now. So you need to check for that before using it.

[2019-10-09 06:06] #2708 closed

[2019-10-09 06:07] dotansimha commented on #2702
As @lukasluecke said, you should provide your GraphQL operations (under `documents:` field) in your config file. Combine that with a plugin for operations (such as `typescript-operations`) and you'll get types for your operations.

[2019-10-09 06:07] #2702 closed

[2019-10-09 06:08] dotansimha commented on #2707
@pristas-peter Thanks, we'll take a look.

[2019-10-09 06:10] dotansimha commented on #2703
Hi @petecarapetyan !
Can you please explain what do you mean by `post-common.js`?
You wish to use ES6 or TypeScript for writing your plugins? You can easily do that with `tsc`, just make sure to compile it and point the correct files in your `package.json`'s `main` field.

[2019-10-09 06:12] dotansimha commented on #2676
@kamilkisiela can you please take a look? ❤️

[2019-10-09 06:21] groege commented on #2702
I've used get-graphql-schema to get the schema from my server - I don't know why the queries themselves are missing...
So now I think the question is how I can generate the documents?
I'd never implement a server via JS only browser code - so I'm using dotnet-graphql  (asp net core server).
Meaning (If I understand correctly) that all the files I need, I'll have to generate from the server.
Now th

[2019-10-09 07:20] dotansimha commented on #2702
@groege
In GraphQL, you define your schema (types), and then when the client consumes it, it provides a query/mutation with selection set fields.
This codegen generates code based on schema, or schema and operations.

You should write your operations according to your client-side needs - if it needs certain fields - you should query for those.

One of the goals of GraphQL is to allow client to cho

[2019-10-09 07:36] n1ru4l commented on #2684
related: https://github.com/dotansimha/graphql-code-generator/issues/2588

[2019-10-09 09:43] groege commented on #2702
@dotansimha

I know how to write GraphQL queries,...
If I'm correct, what I want does not exist yet.
The way the generator is used, you define static queries for your client and can use those statements.
But what I need is being able to create queries on runtime:
In my case the client can add/remove columns
![Untitled](https://user-images.githubusercontent.com/15341126/66468097-dfee5800-ea85-11e9-

[2019-10-09 11:04] petecarapetyan commented on #2715
For context: Here is what I have done in previous generators I have written:

Schema contains n tables (more like objects in graphql). For each - I provided a combination of controller and other artifact(s) for a CRUD user interface, usually in different files, for each table.

[2019-10-09 11:13] petecarapetyan commented on #2703
Yes, by post-common-js I meant ES6 or ES2017 or any of the other later versions, none of which use common.js `requires` or `module.exports`

I would like to use the same kind of ES6 code that I see in the plugins written in `graphql-code-generator`

I am attempting to write a generator for web components and lit-apollo

[2019-10-09 11:55] dotansimha commented on #2702
The GraphQL-way of doing what you mentioned is to use `@include` directive over those fields, and filter fields according to your UI logic.

[2019-10-09 13:56] petecarapetyan commented on #2715
From doing a search on preset I can see how to do this:

Basically I create a function  called presets that returns an array of plugin configurations to iterate on. Each artifact required gets it's own `plugin` configuration.

[2019-10-09 13:56] #2715 closed

[2019-10-09 15:11] cdupuis opened #2718 "Version 1.8.0 introduces dependency to mem@1.1.0"
Version 1.8.0 seems to introduce a transitive dependency to `mem@1.1.0` which raises security vulnerability alerts, eg at https://snyk.io/vuln/npm:mem:20180117

The dependency tree looks as follows:

[code]

Is there any chance this dependency can be updated to mitigate this alert?

(Updated to include a proper link to a security advisory)

[2019-10-09 16:43] #2703 closed

[2019-10-09 17:34] schmod commented on #2415
thanks @dotansimha ;-)

[2019-10-10 02:26] cnt0705 commented on #1757
happened to me as well.
it seems like env vars aren't loaded in the yml file even though i'm using `--require dotenv/config`

[2019-10-10 03:07] lednhatkhanh commented on #1757
@dotansimha Just checked again and it's not working, using `-r dotenv/config` and the env variables do not get loaded

[2019-10-10 05:26] dotansimha opened #2722 "Environment variables doesn't work since 1.8.1"
Related:
https://github.com/dotansimha/graphql-code-generator/issues/1757#issuecomment-540317073

[2019-10-10 05:26] dotansimha commented on #1757
Thanks, I created a new issue to track this: https://github.com/dotansimha/graphql-code-generator/issues/2722

[2019-10-10 05:31] dotansimha commented on #2515
Thanks for the feedback @alexkirsz , I'll take a look.

[2019-10-10 05:34] dotansimha commented on #2690
Actually noticed that we have an issue for that already: https://github.com/dotansimha/graphql-code-generator/issues/2415
Let's track it there :)

[2019-10-10 05:34] #2690 closed

[2019-10-10 05:35] dotansimha commented on #2703
@petecarapetyan We are using TypeScript, compiled with `tsc`. You can copy the following and it will work for you:
- https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript/typescript/tsconfig.json
- https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript/typescript/package.json#L27-L33

[2019-10-10 05:42] dotansimha commented on #2699
@ooflorent Any chance you can share a complete schema and queries that reproduces those issues?

[2019-10-10 07:07] ruanyl opened #2723 "The CLI error report is missing necessary information"
**Describe the bug**
Getting this error while running the CLI tool to generate typescript types, but it doesn't provide any useful information
[code]

**This is the codegen.yml**, the problem is that the generated file extension must be `*.tsx`, while I put `*.ts`
[code]

The actual error if I log the error manually:
[code]

[2019-10-10 07:40] CarloPalinckx commented on #1828
One downside to generating just declarations is that a user would have to take extra steps to test the queries and mutations (at least when using react-apollo). For jest you would have to configure jest to run with webpack I guess, which has some difficulties. Maybe a better alternative would be a babel macro? Since this also has wider support for different bundlers.

[2019-10-10 07:55] dotansimha commented on #2723
@ruanyl which version of the codegen do you use?

[2019-10-10 07:57] CarloPalinckx opened #2724 "Typo in docs"
Found a small typo in the docs, on this [page](https://graphql-code-generator.com/docs/plugins/typescript-operations#requirements) `docuemnts` should be `documents`. I wouldn't mind fixing this but I couldn't find this typo in the codebase so I'm guessing it comes from a CMS?

[2019-10-10 08:03] ruanyl commented on #2723
@dotansimha
[code]

BTW, `./node_modules/.bin/graphql-codegen --version` doesn't output the version, but run `codegen`.

[2019-10-10 08:06] ooflorent commented on #2699
Unfortunately I'm not allowed to share this. I'm sorry… Due to the lack of information, I'd understand if you'd want to close the issue.

[2019-10-10 08:08] dotansimha commented on #2699
@ooflorent I really want to solve it :)
Is it possible to share it with `type A {} type B {}`? only with the minimal types that reproduces the error, I think it's happens because some kind of combination of `interface`s and `union`s.

[2019-10-10 08:20] dotansimha commented on #2699
@ooflorent Can you just share how your types are defined? (for example - `type A implements B`, `interface B`, `union C = D | A` or something similar)

[2019-10-10 10:06] ruanyl commented on #2676
I have the same issue, running codegen v1.8.1
even after moving the config upper, it doesn't help

[2019-10-10 11:13] ruanyl commented on #2676
@dotansimha was it `GraphQLReferenceResolver` from
https://github.com/apollographql/apollo-server/blob/d5015f4ea00cadb2a74b09956344e6f65c084629/packages/apollo-federation/src/types.ts#L57

[2019-10-10 11:22] ruanyl commented on #2676
The workaround that I have now is to declare it in `global.d.ts`
[code]

[2019-10-10 12:14] SimenB opened #2726 "Allow running prettier/formatting before writing to disk"
**Is your feature request related to a problem? Please describe.**

After https://github.com/dotansimha/graphql-code-generator/releases/tag/v1.6.0, we've used a hook with `afterAllFileWrite: prettier --write`. The problem is that since this applies after files have been written to disk, all watchers are triggered even if the content is identical, then when that run is complete (riddled with lint e

[2019-10-10 18:20] mvestergaard opened #2729 "[near-operations-file] Import of main types sometimes added to queries where it isn't needed"
Relates to #2137
This problem seems to be back in `1.8.1`, or at least something related.

[code]
Results in the `Types` import being added, even though it isn't used.
[code]
Also adds the `Types` import, but uses it.

This is problematic when typescript is configured to error on unused imports.

[2019-10-10 21:30] chemoish opened #2731 "Query and QueryResolvers generate incomplete types"
**Describe the bug**

`Query` and `QueryResolvers` only generate the types for `type Query`. `extend type Query` seem to be ignored.

This worked in `1.7.0`, but has stopped working in `1.8.0`.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

Will generate:

[code]

However,

[code]

Will generate:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` co

[2019-10-11 05:39] dotansimha commented on #2731
@chemoish it seems like your are importing your schema from a code file, can you share the exact content of it?

[2019-10-11 05:40] dotansimha commented on #2726
@SimenB sounds like a good idea, but how can we pass the content to prettier without writing it to the disk?

[2019-10-11 06:03] SimenB commented on #2726
Maybe by having some sort of `postprocess` hook that's a module.

[code]

So right before you write to disk, you pass it through this module that can manipulate `content` however it wants and returns a modified (or not) `content` that you then write to disk

[2019-10-11 08:37] dotansimha commented on #2724
@CarloPalinckx thanks!
You couldn't find it because it was already fixed ;)
https://github.com/dotansimha/graphql-code-generator/pull/2712 (Thanks @patrykkopycinski)

[2019-10-11 08:41] dotansimha commented on #2723
@ruanyl Can you please try the latest alpha?  `1.8.2-alpha-096084bc.27`

It got the following with it:

[code]

[2019-10-11 10:37] ruanyl commented on #2723
@dotansimha Thank you, I think I happen to figure out what was the issue, I'm running codegen with `VERBOSE=1` and it lacks the Error information in this mode. But without VERBOSE it works fine.

[2019-10-11 11:45] #2723 closed

[2019-10-11 12:01] dotansimha commented on #2699
Managed to reproduce it:

[code]

[2019-10-11 13:54] CarloPalinckx commented on #2724
Fixed bugs are my favorite kind of bugs 😉

[2019-10-11 13:54] LydiaF commented on #2635
Hey, sorry for tagging on to this issue, I found this issue while wondering why typescript was underlining __typename: 'Mutation' in my optimisticResponse from the autogenerated types. It seems you don't have to put this in, as my code is working without it.

I noticed that you haven't put in __typename: 'Mutation'. Do you know anything about this? In the example in the docs, it has it.

[code]

T

[2019-10-11 17:10] chemoish commented on #2731
@dotansimha Sorry, I am new to this. I have attached the schema file in the **Additional context**.

[2019-10-11 18:56] camfletch commented on #2635
@LydiaF yep I also noticed that it wasn't necessary (after setting nonOptionalTypename to true) so removed it. I would guess the root Mutation and Query types are treated as special internally?

[2019-10-11 19:49] justin-capalbo opened #2735 "Generate types for the fields I actually select"
**Is your feature request related to a problem? Please describe.**

Maybe my queries are too nested, but that's one of the powerful aspects of GraphQL.  I'm coming from apollo-cli's client codegen, which will generate types for every complex/nested type that I'm specifying in my query.  For example, a query like this:

[code]

I would receive a few types without having to do any kind of nested ref

[2019-10-11 19:59] justin-capalbo commented on #2735
I realized I should have included this:

`codegen.yml`
[code]

[2019-10-12 00:22] dizel3d opened #2736 "typescript-operations: Unknown directive 'client'"
`@graphql-codegen/typescript-operations` with `flattenGeneratedTypes: true` fails with an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/graphql-codegen-issue-template-5wg2v
Run `yarn codegen`

**Document**
[code]

**Schema**
[code]

**Config**
[code]

[2019-10-12 05:58] dotansimha commented on #2735
Hi @justin-capalbo
We had long discussion here about the differences. In the end, it's a matter of preference and what you are used to.

I can only recommend the following:

- Use more fragments. Fragments makes it easier to understand what fields you actually need per each type in your schema, and the codegen generates types for fragments, so it makes it easier to reuse. It's also easier to pass

[2019-10-12 05:58] #2735 closed

[2019-10-12 06:02] dotansimha commented on #2736
Hi @dizel3d !
You need to tell the codegen that you have this directive, and include it in your codegen schema, otherwise it will throw this error.

Do the following:
[code]

And in `client-schema.graphql`, put:

[code]

[2019-10-12 06:32] dotansimha commented on #2699
@ooflorent I think I managed to fix this issue in: https://github.com/dotansimha/graphql-code-generator/pull/2737

Can you please try the latest alpha? `1.8.2-alpha-9ae02b14.29`

[2019-10-12 06:35] dotansimha commented on #2635
I see. The goal of those plugin is to generate the most broad and customizable code as possible. I don't think we should change it's behavior in order to support a specific feature in Apollo Client (we do allow customizations, so if someone wants to add `excludeTypenameFromRootTypes` or something similar, we welcome it!)

[2019-10-12 06:35] #2635 closed

[2019-10-12 06:36] dotansimha commented on #2731
This might be related to `graphql-toolkit` and they way it loads schemas from code files.
@kamilkisiela @ardatan what do you think?

[2019-10-12 09:12] dizel3d commented on #2736
@dotansimha thank you! It works!

[2019-10-12 09:49] kamilkisiela commented on #2731
That's because printed schema doesn't include extensions. The `extendSchema` function has to be used on a built schema but it requires to extract extensions into a new DocumentNode and apply that instead. I noticed the same issue in Inspector yesterday. I'll fix it on Monday.

@dotansimha

[2019-10-12 10:45] jeroenvisser101 commented on #2718
Related: https://github.com/yargs/yargs/pull/1270

[2019-10-12 10:48] jeroenvisser101 commented on #2718
This was introduced in https://github.com/dotansimha/graphql-code-generator/pull/2540

[2019-10-12 15:26] justin-capalbo commented on #2735
Thank you for the response!  Could you give an example for fragments that applies to my example above?  Trying to visualize exactly what you mean.  Thank you for the suggestions.

[2019-10-12 21:14] tajpouria opened #2740 "Scalar type some time causes a syntax error in complied files."
Scalar type **some times** causes a syntax error in complied files.

[schema.graphql](https://github.com/tajpouria/graphql-wikipedia/blob/master/packages/graphql-wikipedia/src/modules/wikipedia/opensearch/schema.graphql)

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schemas:
src/module/opensearch/schema.ts
[code]
2. My `codegen.yml` config file:
[code]

**Expected behavior**

S

[2019-10-13 01:50] xiaoyu-tamu opened #2742 "import-types-preset with react-apollo"
**Describe the bug**

![image](https://user-images.githubusercontent.com/33362998/66709863-1c45e080-ed32-11e9-83f9-c25282ee339a.png)

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:
[code]

**Expected behavior**

Generated react-hook helpers should not prefix with Types.
**Environment:**

- OS:
-

[2019-10-13 06:56] dotansimha commented on #2718
This was introduced by adding `relay-compiler` in order to allow selection set optimizations.
I'm thinking about using the optimizers as-is, without the entire `relay-compiler` library. @n1ru4l what do you think?

[2019-10-13 07:43] n1ru4l commented on #2718
How would mem be a security issue? GraphQL Code Generator is a Development only Tool 🤷‍♂️.

@dotansimha what world ne the benefit of doing this?

[2019-10-13 07:49] dotansimha commented on #2718
@n1ru4l you are right, it's a dev tool, but it's still causes a warning to show, and that's the only reason I would like to fix that ;)

[2019-10-13 07:53] n1ru4l commented on #2718
I think this should be fixed in relay and then we can update the relay-compiler package.

 I can understand that the warning can be annoying, but unfortunately snyk and co should do a better job when dealing with dev dependencies vs production dependencies 😅.

[2019-10-13 07:56] dotansimha commented on #2735
@justin-capalbo sure!
Do something like that:

[code]

Then, you'll get a type that represent `PostFieldsFragment` and you can reuse it.

[2019-10-13 08:29] dotansimha commented on #2701
I can confirm that it happens only with Node 10. With 12 it doesn't show it.
I'm not sure what piece of our codebase causing it, because we are not really using `asyncIterator` feature.

@kamilkisiela @ardatan any idea?

[2019-10-13 08:31] jsonmaur opened #2744 "Error when using .gql extension for schema files"
When trying to use the `.gql` extension for my schema files, I get the error `Syntax Error: Cannot parse the unexpected character "/".` If I change my schema files to `.graphql`, everything works fine.

Did some digging, and seems to be coming from [this issue](https://github.com/Urigo/graphql-import/issues/244) in the `graphql-import` library. There is a PR currently open to fix it, but it has be

[2019-10-13 08:32] dotansimha commented on #2707
@pristas-peter we prefer to throw the error as-is. The `generate` method is `async` so you should add `await` when calling it, and if there is an error, it thrown.

If you are not adding `await`, you'll get `UnhandledPromiseRejection` error because you are not handling this error correctly.

[2019-10-13 08:57] #2736 closed

[2019-10-13 09:03] dotansimha commented on #2718
@n1ru4l you are right.
Closing this issue. When relay-compiler will update it, we'll update as well.
If you wish to workaround that, you can use Yarn `resolutions` field.

[2019-10-13 09:03] #2718 closed

[2019-10-13 10:58] pristas-peter commented on #2707
Sorry that I havent mention that, of course that I wrap it it with try await catch. The problem still persist. Im using it in one of the gatsby lifecycle methods and since I havent control of how to catch that unhandled error (gatsby does it instead) the whole process exits during build.

[2019-10-13 11:35] dotansimha commented on #2707
I see. But still, the codegen works as async (and it was the same before, the only difference is that now we print the error and not only throw it, that's why you get this), and they only way to integrate it with other tools is to use `await` and catch the error.

I can give it a try if you share a complete reproduction in a repo :)

[2019-10-13 12:11] pristas-peter commented on #2707
Will do

Sent from my iPhone

[2019-10-13 12:35] pristas-peter commented on #2707
@dotansimha https://github.com/pristas-peter/graphql-code-generator-2707

Just clone and run `npm i && npx gatsby develop`

[2019-10-13 13:47] jeroenvisser101 commented on #2718
As an aside, the code that uses yargs is the binary version of relay-compiler and was never used by us to begin with, but indeed, this is for relay-compiler to fix. I didn't find any open issues there though, nobody seems to have mentioned this before, at least not in their current monorepo.

[2019-10-13 15:41] pristas-peter commented on #2707
If you downgrade to 1.7 it works as expected

[2019-10-14 05:48] eddeee888 opened #2745 "[Schema Parser?] Extending root operations in schemas is not working if "# import" is used"
## Problem
When extending schemas, the `# import ...` at the top of my second schema causes the generation process to fail. This happens for at least `fragment-matcher` and `typescript-graphql-files-modules` plugins.

## Example
For example, I have 2 schemas: `schema.graphql` and `projects.graphql`:

1. My main schema - `schema.graphql`:
[code]

2. My second schema -`projects.graphql`:
[code]

3.

[2019-10-14 06:26] ardatan commented on #2740
@tajpouria You're trying to use `flow-resolvers` to generate `ts` file. Could you remove it and try again?

[2019-10-14 07:02] dotansimha commented on #2192
@valerybugakov Can you please explain?
With the latest Apollo-Client, `data` might not be set (in past versions, it was `{}`, but now it could be `undefined`).