[2019-10-14 07:03] dotansimha commented on #2707
What do you mean by "works as expected"? you didn't get an error at all? or you just got the error in a different way?

[2019-10-14 07:05] pristas-peter commented on #2707
[code]
By expected I mean that the error handler in catch is called: `console.error("not called")` -> this would ouput to console not called and the build process won't exit and would continue.

[2019-10-14 07:17] dotansimha commented on #2707
Got it, thanks. I'll take a look!

[2019-10-14 07:20] pristas-peter commented on #2707
You can see the correct behaviour with:
`npm i @graphql-codegen/cli@1.7.0 && npx gatsby develop`

Thank you :)

[2019-10-14 07:52] dotansimha commented on #2740
@ardatan is right, you are mixing Flow and TypeScript plugins. Please review you config file and let us know if the issues persists.

[2019-10-14 07:52] #2740 closed

[2019-10-14 07:54] dotansimha commented on #2744
@jsonmaur Thank you for reporting this.
`graphql-import` has been recently moved to our maintenance, so we can take a look.

Closing this now for now, because it's not a direct issues of the codegen, but an issue with `graphql-import`.

[2019-10-14 07:54] #2744 closed

[2019-10-14 08:00] dotansimha commented on #2745
@eddeee888 When using `#import` syntax, it uses `graphql-import` for building the typedefs and schema. When you removed it, it used `graphql-toolkit` to merge the typedefs (which does it in a different way, so that's probably the reason for that).
I think, that if you can use it without the `#import` - just go for it, anyway the `graphql-import` doesn't have added value in this use case, because I

[2019-10-14 08:52] Zikoel commented on #2731
Same problem here! I'm pretty sure that the bug was introduced after version 1.3.1. I have a working project with version 1.3.1 and a new project created some days ago with problem! I tried to understand what is the first version affected without lucky!

[2019-10-14 09:49] ab-pm opened #2746 "Typescript-Resolver: custom `resolveInfo` type"
Hi, we are using the Postgraphile library which not only uses a [custom context](https://graphql-code-generator.com/docs/plugins/typescript-resolvers#custom-context-type) but also [has an extended `resolveInfo` argument](https://www.graphile.org/postgraphile/make-extend-schema-plugin/#the-selectgraphqlresultfromtable-helper). They do [provide their own `AugmentedGraphQLFieldResolver` type](https:/

[2019-10-14 09:57] eddeee888 commented on #2745
@dotansimha thanks for the detailed response! For our use case, we have decided to use the server graphql endpoint to generate code.

Just out of curiosity, why does this library need both `graphql-import` and `graphql-toolkit` to parse a file? It's also interesting that `graphql-import` states that it's using a custom way to import schema [here](https://oss.prisma.io/content/graphql-import/overvi

[2019-10-14 17:18] ardatan commented on #2701
@dotansimha It's related to `for await`. So transpilation would fix that as well.
https://github.com/ardatan/graphql-toolkit/issues/259

[2019-10-15 05:47] dotansimha commented on #2701
Should be fixed in `graphql-toolkit@v0.5.17`

[2019-10-15 05:49] dotansimha commented on #2502
@jbaranski we fixed that in `graphql-toolkit`, and updated here, a fix will be available in the next stable version.

[2019-10-15 06:27] dotansimha opened #2754 "Transform `@deprecated` directive into a JS comment"

[2019-10-15 06:47] n1ru4l commented on #2701
@dotansimha Are you sure?

[code]

[code]

[2019-10-15 07:38] n1ru4l opened #2755 "[relay-operation-optimizer] Fragment types are eliminated"
**Describe the bug**

Fragment types are eliminated when using the `relay-operation-optimizer` plugin.

**To Reproduce**

<TODO>

1. My GraphQL schema:

<TODO>

2. My GraphQL operations:

<TODO>

3. My `codegen.yml` config file:

<TODO>

**Expected behavior**

The fragments should be still there in their "optimized" form. E.g. you want to read a fragment from the apollo cache during runtime.

**En

[2019-10-15 07:52] dotansimha commented on #2701
@ardatan ^

[2019-10-15 08:31] dotansimha commented on #2515
@alexkirsz I think I managed to fix that in https://github.com/dotansimha/graphql-code-generator/pull/2756

Also, tried with the examples with have in the repo, and it seems like it works, I'm getting the correct validation error instead of the error you mentioned.

Can you please try `1.8.2-alpha-a98ee5eb.42`? And if it doesn't work for you, can you please share a reproduction in a repo/sandbox?

[2019-10-15 11:46] dotansimha commented on #1757
@lednhatkhanh @cnt0705

Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2758
Alpha available: `1.8.2-alpha-c7249947.43`

[2019-10-15 11:46] dotansimha commented on #2722
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/2758
Alpha available: `1.8.2-alpha-c7249947.43`

[2019-10-15 11:51] dotansimha commented on #2588
The actual default value of the `ID` scalar should be `string | number`, to match the implementation of the scalar in `graphql.js`: https://github.com/graphql/graphql-js/blob/730f5cc6e0c7b7994cb11fe1a9785700fa4dc5db/src/type/scalars.js#L256

@n1ru4l @ardatan @kamilkisiela what do you think? Do you think it will cause any breaking changes?

[2019-10-15 12:21] n1ru4l commented on #2588
https://github.com/graphql/graphql-js/blob/730f5cc6e0c7b7994cb11fe1a9785700fa4dc5db/src/type/scalars.js#L239-L247

ID as Input -> String or Number
ID as Output -> String

[2019-10-15 12:29] dotansimha commented on #2679
Working on a fix here: https://github.com/dotansimha/graphql-code-generator/pull/2759

[2019-10-15 12:35] dotansimha commented on #2679
@KyleMcNutt can you please explain how to reproduce your issue? I tried here: https://github.com/dotansimha/graphql-code-generator/blob/383c7122ca7da2f973bdf48284c264e7694844f9/packages/plugins/typescript/typescript/tests/typescript.spec.ts#L228

but it seems fine...

[2019-10-15 13:05] lkleuver commented on #2676
somehow @ruanyl's fix didn't work consistently.
Currently using a slightly modified approach:

[code]

with fix.ts:
[code]

[2019-10-15 13:20] dotansimha commented on #2588
@n1ru4l you are right. I guess the best solution for that is to add `inputScalars` config and have a default `ID = number | string` there.

[2019-10-15 14:12] dotansimha commented on #2676
@kamilkisiela fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/2760

Alpha available: `1.8.2-alpha-f9569d0c.47`, can you please try it? @ForbesLindesay @lkleuver @ruanyl

[2019-10-15 16:01] myylow commented on #2742
I have the same, and a workaround is to split `typescript-react-apollo` away from `typescript-operations`. A structure something like this...

[code]

[2019-10-15 16:39] ardatan commented on #2701
@dotansimha I don't use old version of Node. Someone said targetting `es2017` works then we changed it to that in here
https://github.com/ardatan/graphql-toolkit/blob/master/tsconfig.json
And we released the new version. See here people says it is working on the versions `for await` isn't even supported :) Are you sure you have correct setup?
https://github.com/ardatan/graphql-toolkit/issues/259

[2019-10-15 16:54] lkleuver commented on #2676
@dotansimha tried it and seems to work :D awesome!
`"@graphql-codegen/typescript-resolvers": "1.8.2-alpha-f9569d0c.47",`

[2019-10-15 17:07] KyleMcNutt commented on #2679
@dotansimha Yeap, looks like bumping my version fixed the issue. I bumped from `1.6.1` to `1.8.1` and this bug went away. Thanks for taking a look!

[2019-10-15 20:37] nathanchapman commented on #2402
Confirmed it's consistent now! Thank you 🎉

[2019-10-15 21:32] JoelVenable commented on #2722
Thanks for fixing this.  The alpha version seems to work well for us.

[2019-10-15 22:21] brabeji opened #2766 "Generate Apollo mutation `refetchQueries` operations configs factories"
While updating apollo cache by re-fetching queries is not the cleanest option, in combination with `awaitRefetchQueries` it's still arguably the easiest way to keep a consistent UI, until other optimizations are made.

We need to provide a full query config of the query we want to re-fetch.

[code]

This can be simplified by generating respective operation config getters alongside operation hooks

[2019-10-16 05:30] ardatan commented on #2192
@valerybugakov @dotansimha We directly reference to React Apollo's typings with some generics. So we don't generate all the signature for HOCs, hooks or components. If there is a problem in Apollo's typings, I think an issue should be opened in their repo.

[2019-10-16 05:56] dotansimha commented on #2559
@seanharr11 I'm closing, feel free to contact us if it still relevant.

[2019-10-16 05:56] #2559 closed

[2019-10-16 06:12] n1ru4l commented on #2701
I certainly do not think that the version that is recommended on the Node.js website is an old version 😅

[code]

[2019-10-16 06:29] CarloPalinckx commented on #2754
JS comment as in: https://jsdoc.app/tags-deprecated.html ?

[2019-10-16 06:49] CarloPalinckx opened #2771 "Remove variables from types when they are exported by the @export directive"
**Is your feature request related to a problem? Please describe.**

Imagine you have a query:

[code]

As of right now, if you run codegen on this, it would generate queries that would still require both `topic` and `userId` as variables. Even though we export `userId` by querying it from our client state.

**Describe the solution you'd like**

Given the query above, we could strip out `userId` as

[2019-10-16 07:39] dotansimha commented on #2588
Related: https://github.com/dotansimha/graphql-code-generator/issues/2684

[2019-10-16 08:32] kamilkisiela commented on #2632
TypeScript doesn't complain in the actual resolver function because all arguments are there, you just don't use them. The resolver function has 4 arguments that are always defined so if you want to test the resolver function, TypeScript requires from you to provide all, even `GraphQLResolveInfo`.

That's 100% correct because that's what graphql expects and TS wants to make sure you pass everything

[2019-10-16 08:45] dotansimha commented on #2438
@cypcz It's because you are forcing the type over the object, and not declaring it as the type correctly.

Using the following form of declarations should work:

[code]

![image](https://user-images.githubusercontent.com/3680083/66903091-797bb380-f00a-11e9-9d1a-084f33d8f715.png)

[2019-10-16 08:45] #2438 closed

[2019-10-16 12:15] vasilich6107 opened #2772 "flow-operations generates semi exact types"
**Describe the bug**
The generated types are somehow not fully exact

**To Reproduce**
Generate types with flow operaions

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
[code]

**Actual behavior(a lot of pipes are missing)**
[code]

**Environment:**

- OS: MacOs Catalina
- `@graphql-codegen/...`: 1.8.1
- NodeJS: 10

[2019-10-16 20:17] brandonbloom opened #2776 "Add some way to tell which source file contains the syntax error."
Look at this output:

[code]

Which source file has the syntax error? There is no way to tell!

**Describe the solution you'd like**

[code]

[2019-10-16 21:23] chemoish commented on #2731
@kamilkisiela Thanks for taking a look at this! Any idea when this might make the release cycle?

[2019-10-17 07:23] rfgamaral opened #2777 "[Question] How to use properly use typings generated fromt his tool?"
I originally posted this at StackOverflow ([here](https://stackoverflow.com/questions/58420192/how-to-use-graphql-with-typescript-and-typings-generated-from-graphql-code-gener)) and someone already answered me but since I'm new to GraphQL (and TypeScript, but have more experience here), I'm still confused about the answer which suggests 4 different approaches, some of which I don't even understand

[2019-10-17 08:37] rfgamaral commented on #2777
I've come up with 2 solutions so far, I'll post them here one by one so everyone can use give 👍 or 👎.

Change `type Mission` to this:

[code]

And `missionPatch` in `resolvers.ts` to this:

[code]

[2019-10-17 23:57] tyler-johnson opened #2779 "improper escaping in string literals"
**Describe the bug**

Escaped characters in string literals in queries are output directly into the JS template string, which gets interpreted in JS, resulting in a bad GraphQL document.

As an example, we have some endpoints that accept a JSON string and in many cases it's easiest to hardcode this JSON string into the query itself.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL

[2019-10-18 00:54] msheakoski opened #2780 "Strange TypeScript behavior with resolvers unless wrapped in NonNullable"
I was trying to figure out why I kept getting this error despite following the advice of the docs and issues to set `useIndexSignature: true`:

[code]

I realized that when I had my resolvers in a different file like:
[code]
[code]

two unexpected behaviors would happen:
1. The ApolloServer constructor would complain about the resolver possibly being undefined.
2. Type checking on the resolver's a

[2019-10-18 15:55] jefflewis opened #2781 "Union Type fields of same name with differing types are incorrectly considered invalid"
**Describe the bug**
The codegen should allow for the differing type of name between the to union types.

**To Reproduce**
See example at codesandbox.

https://codesandbox.io/s/graphql-codegen-issue-template-hxp3g

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Successful generation of types.

**Environment:**
- cod

[2019-10-18 16:03] DanielMSchmidt opened #2782 "noExport option disables exports for all plugins"
**Describe the bug**

When I use this configuration no export is applied to all plugins, when I only want to remove the export from the typescript plugin.

[code]

**Expected behavior**

I would expect all the base types to have no export and only the components the `typescript-react-apollo` and `typescript-operations` package expose to have exports. I want to do this as my and I often use general

[2019-10-18 16:15] gustavopch opened #2783 "Generated types conflicting with mapped types"
**Describe the bug**
When I use `mappers`, mapped types conflict with generated types.

**To Reproduce**
Sandbox: https://codesandbox.io/s/graphql-codegen-issue-template-vbdij?fontsize=14

Take a look at `types.ts`. The are two types named `User`:
- First one is my mapped type which is imported from `my-types.ts`
- Second one is generated by this lib and declared inside `types.ts`.

**Expected beh

[2019-10-19 15:15] rpedroni opened #2790 "Request for More Examples of Usage"
The learning curve of this project could be greatly lowered if there were examples to follow along in the documentation, specially for usage of the different plugins.

For now, I'm better understanding the value of each one by manually installing, adding, generating and viewing the output, which is a tedious and cumbersome task.

I suggest more examples of usage overall, specially for each individ

[2019-10-20 03:42] jeremy-deutsch commented on #2516
I wrote something like this in TS a couple months ago - if you want, I can export the function that turns a schema AST into a python code string

https://github.com/jeremy-deutsch/graphene-codegen

[2019-10-20 20:56] ajhool commented on #2043
I had this problem and simply installed the packages globally using `sudo yarn global add @graphql-codegen/typescript @graphql-codegen/typescript-graphql-files-modules @graphql-codegen/typescript-document-nodes @graphql-codegen/fragment-matcher`. However, `graphql-codegen` is installed in the project and is called using a script in package.json.

[2019-10-21 06:58] Zikoel commented on #2783
I'm not an expert but the generated types have the same name of the schema, the mapper are intended for resolver types, not for the basic types that need to respect the graphql schema. You are wrong calling your mapped type with the same name as the generated ones! My two cents!

[2019-10-21 21:01] ardatan commented on #2707
Could you check with the following canary version?
 `1.8.2-alpha-ed9885c3.63+ed9885c3`

[2019-10-22 05:56] dotansimha opened #2806 "`introspection` plugin prints the JSON minified"

[2019-10-22 05:58] dotansimha commented on #2783
As @Zikoel said, we can't really solve that, just make sure to have different naming.
You can also try to add prefixes to your types, it might make it easier and resolve some of the conflicts.

[2019-10-22 05:58] #2783 closed

[2019-10-22 06:00] dotansimha commented on #2782
`noExport` it not intended to "hide" your types, it's intended for a TypeScript feature that allow you to import types globally from a file, and it only works when a file doesn't export anything.

If you wish to customize it, you can set your configuration per plugins:

[code]

[2019-10-22 06:00] #2782 closed

[2019-10-22 06:01] dotansimha commented on #2776
@brandonbloom which version of the codegen and graphql do you use?

[2019-10-22 06:04] dotansimha commented on #2771
Thank you for reporting this @CarloPalinckx !

At the moment we doesn't handle specific features from `apollo-client`, but prefer to have a general types.
The codegen core/plugin doesn't know about `@export` and how it effect the runtime.

If someone wants to add this feature - feel free :) We always welcome PRs.

[2019-10-22 08:21] tajpouria commented on #2740
@ardatan Removing `flow-resolvers` plugin fixed the problem. tank you

[2019-10-22 09:42] Zikoel commented on #2731
Any news about that bug?

[2019-10-22 13:20] gustavopch commented on #2783
@dotansimha I actually tried to use the prefix, but had other issues. I'll try to create a repro and open another issue. Thanks.

[2019-10-22 16:02] DanielMSchmidt commented on #2782
Thank you for the response, didn't know about this option 👍

[2019-10-22 19:15] Drakota opened #2813 "[Plugin Request] Allow only the generation of scalars for types (for Prisma 2)"
**Is your feature request related to a problem? Please describe.**
Right now I'm trying to work with Prisma2 and Codegen together and I'm struggling with type clashing. The types generated by Codegen also includes relationships and custom types.
Ex.
![image](https://user-images.githubusercontent.com/22665836/67318747-dfb87880-f4d9-11e9-991b-e396dd8e0f6d.png)

But when using Photon to fetch a cours

[2019-10-22 22:29] pristas-peter commented on #2707
Fixed. Thanks

[2019-10-23 03:44] ardatan commented on #2707
@pristas-peter Let's keep it open until we release new version :)

[2019-10-23 10:11] chrisbull opened #2816 "V1.8.1 didn't update @graphql-code-generator/cli graphql-toolkit as expected"
when installing fresh @graphql-code-generator/cli @ 1.8.1 still shows "graphql-toolkit": "0.5.16"... which has a bug. Needs to be "graphql-toolkit": "0.5.18". The package.json shows it was updated here in github, but not on NPM. Please update NPM with a 1.8.2 or something. Thanks!

[2019-10-23 10:38] deser opened #2817 "Add generation of GraphQLFieldConfigs"
Currently I describe my graphql schema queries via field configs splitted to separate files like:
[code]
**Describe the solution you'd like**
Currently only resolver types are generated so I have to describe type for field like this:
[code]

I would like to have something like:
[code]

[2019-10-23 11:15] eladn commented on #2516
Here is a `quicktype`s TS core script that emits python code from a json schema. This might be useful.

https://github.com/quicktype/quicktype/blob/master/src/quicktype-core/language/Python.ts

[2019-10-23 11:23] gomesalexandre commented on #2043
Happens to me too, will report if I find a solution
[code]

For reference, my dev deps look like this
[code]

[2019-10-23 11:27] gomesalexandre commented on #2043
I encountered the same error and the reason was that I had both the new `graphql-codegen` namespaced packages, and the old ones (`graphql-code-generator<-packageName>`), resulting in a conflict:
[code]

Removing the old ones solved it !

[2019-10-23 11:50] ruanyl opened #2818 "The imported file name is NOT correct with near-operation-file"
**Codegen version: 1.8.1**

My document files are named with `module.graphql.ts`

1. My GraphQL schema:

My `codegen.yml` config file:

[code]
In the generated file: `module.generated.tsx`, the import statement is:
[code]
but it should be:
[code]

[2019-10-23 12:54] ZempTime opened #2819 "Not Generating Apollo React Hooks"
**Describe the bug**
Generating types, but not generating hooks.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/embed/graphql-codegen-issue-template-fg43z

see `apollo/index.tsx`
* has all types
* has no hooks (afaik)

**Additional context**
I fully expect this to be user error on my part, but I haven't been able to figure out what's going wrong.

[2019-10-23 13:01] ZempTime commented on #2819
Wait a second...does it only generate hooks for documents?

[2019-10-23 13:03] #2819 closed

[2019-10-23 14:28] dotansimha commented on #2816
@chrisbull the fix for using the latest graphql-toolkit is done, but not merged yet.
You can use the latest alpha `1.8.2-alpha-36d48260.84` until we'll release a new version.

[2019-10-23 14:28] #2816 closed

[2019-10-23 14:30] dotansimha commented on #2813
@Drakota I think it will be best to have an alternative for the base `typescript` plugin, that generates TS types that match the structure that Prisma 2 expects.

PRs are welcome ;)

[2019-10-23 16:23] dotansimha commented on #2707
Fixed in 1.8.2.

[2019-10-23 16:23] #2707 closed

[2019-10-23 16:23] dotansimha commented on #2746
Implemented in 1.8.2.

[2019-10-23 16:24] dotansimha commented on #2701
@ardatan can you please make sure it's fixed?

[2019-10-23 16:24] dotansimha commented on #2722
Fixed in 1.8.2.

[2019-10-23 16:24] #2722 closed

[2019-10-23 16:24] dotansimha commented on #2679
Fixed in 1.8.2.

[2019-10-23 16:24] #2679 closed

[2019-10-23 16:24] dotansimha commented on #2676
Fixed in 1.8.2.

[2019-10-23 16:24] #2676 closed

[2019-10-23 16:24] dotansimha commented on #2515
Fixed in 1.8.2.

[2019-10-23 16:24] #2515 closed

[2019-10-23 16:24] dotansimha commented on #2699
Fixed in 1.8.2.

[2019-10-23 16:24] #2699 closed

[2019-10-23 16:25] dotansimha commented on #2724
Fixed in 1.8.2.

[2019-10-23 16:25] #2724 closed

[2019-10-23 16:25] dotansimha commented on #2683
Fixed in 1.8.2.

[2019-10-23 16:25] #2683 closed

[2019-10-23 16:25] dotansimha commented on #2693
Fixed in 1.8.2.

[2019-10-23 16:25] #2693 closed

[2019-10-23 17:24] dotansimha commented on #2816
@chrisbull 1.8.2 available :)

[2019-10-23 18:00] Tybot204 opened #2820 "[Typescript-Resolvers] Required arguments with default values marked as optional"
**Describe the bug**

When generating for a backend server, required arguments with default values are marked as optional in the generated types. I would expect a arguments with defaults to be optional on clients, but on the server these values will always be set since they will either have a default or would be explicitly set by the client request.

Seems identical to and earlier issue: https://g

[2019-10-23 20:31] ardatan commented on #2701
@dotansimha We don't use asyncc interators anymore. So this warning supposed to be gone.

[2019-10-23 20:52] n1ru4l commented on #2701
I updated to 12 on Monday 😎 It is not LTS, however 10 is still in maintenance mode for another half year.

[2019-10-24 00:36] Drakota commented on #2813
At the moment Prisma2 is still in beta and a moving target in each releases, that's why before going all out with a plugin for Codegen-Prisma2, I thought the config options `onlyGenerateScalars` would be a nice workaround. I'd be more than happy to contribute on this when Prisma2 gets more mature though.

[2019-10-24 12:49] Rachnerd opened #2826 "1.8.2 typescript-react-apollo doesn't properly implement the typesPrefix option."
**Describe the bug**
`@graphql-codegen/typescript-react-apollo` doesn't respect capitalized type prefixes anymore since 1.8.2. This results in a mismatch with the other 1.8.2 plugins that do properly implement capitalized type prefixes.

**To Reproduce**
Install `@graphql-codegen/typescript-react-apollo@1.8.2` and generate a hook with typesPrefix set to `GQL`. Results in:
`return ApolloReactHooks.

[2019-10-24 15:06] xiaoyu-tamu commented on #2742
The issue still exist after 1.8.2 and the dot between Types and Query name disappeared

![image](https://user-images.githubusercontent.com/33362998/67498880-cdf3e400-f645-11e9-8478-525e56122b89.png)

[2019-10-24 15:50] xiaoyu-tamu commented on #2742
https://github.com/dotansimha/graphql-code-generator/blob/4529aae3277b5cc7c0f7c4d19f4b4769c0710381/packages/plugins/typescript/react-apollo/src/visitor.ts#L288-L296
[code]

The name before convert are correct. Looks like something wrong with convertName method, maybe caused by PR: Fixes for transformUnderscore (#2743)?

[2019-10-24 15:51] xiaoyu-tamu commented on #2826
Another issues related to 1.8.2 #2742

[2019-10-25 09:38] leebenson opened #2832 "Typescript helper for drilling into nested types?"
This is part question, part feature request.

I'm curious if anyone has uncovered a useful pattern or helper library for drilling into deeply nested, complex GraphQL response types, especially those that have unions along the path?

I'm curious @dotansimha if you've thought about adding some helper types to the lib to help drill down to specific parts of the graph?

## Motivation

I have a lot of

[2019-10-25 12:30] vjsingh commented on #1219
@dotansimha Wanted to start using this library instead of graphqlgen, but couldn't find anything about optional types in the docs. I'm really confused here.

The comment from @dobesv on 1/31 sums things up well, as indicated by its 15 likes. The whole point of graphql is that the client requests which fields it wants to be returned, and thus the return type cannot force all the fields to be requir

[2019-10-25 16:55] artalar opened #2833 "How can I modify the result of a plugin?"
How can I modify the result of a plugin?

Currently, I use `typescript-graphql-request` plugin and I need to make all responses fields are not optional. I start to write my own plugin to modify the result of the previous (`typescript-graphql-request`) plugin but found that I can only incrementing the result file and can't rewrite the result of previous plugins.

[2019-10-26 21:26] JQuezada0 opened #2835 "Unable to request field __typename when using the near-operation-file Preset"
**Describe the bug**

It seems the `__typename` field cannot be requested in a query when using the `near-operation-file` preset.

**To Reproduce**
Steps to reproduce the behavior:
The bug can be reproduced in this sandbox: https://codesandbox.io/s/graphql-codegen-issue-template-95ugn

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Exp

[2019-10-26 23:55] P4sca1 commented on #2415
As `graphql-request` has already been implemented, are there any news on the `apollo-client` implementation? @dotansimha

[2019-10-28 06:16] n1ru4l commented on #2832
A "workaround" would be using Fragments for defining the Data a single component should receive. You can then use the generated Fragment type as a prop/props. I would categorize this as the relay way.

[2019-10-28 06:24] leebenson commented on #2832
👍 Thanks @n1ru4l. Fragments definitely have a place, but I think defining them for every query can add unnecessary noise/overhead. A general purpose type that can focus on a specific part of the response keeps the query semantics cleaner for ad hoc queries, IMO.

I wound using [ts-toolbelt](https://github.com/pirix-gh/ts-toolbelt) to provide a 'lens' into a query. A modified version will soon be a

[2019-10-28 06:24] #2832 closed

[2019-10-28 13:36] tsujp opened #2839 "Cannot export as PascalCase, keeps inserting underscores"
**Describe the bug**
From what I understand from the docs, this option `transformUnderscore: true` should remove the underscore. Hasura uses postgres under the hood and so postgres convention dictates the use of `_` on tables, properties etc. Graphql codegen seems to be putting those underscores into the names of it's types such that `some_column_on_a_table` becomes `Some_Column_On_A_Table` once i

[2019-10-28 20:40] allen-munsch opened #2841 "jsdoc is not formatted correctly"
**Describe the bug**

jsdoc is not formatted correctly

ERROR: assets/js/common/graphql/types.ts:13:1 - jsdoc is not formatted correctly on this line
ERROR: assets/js/common/graphql/types.ts:13:1 - asterisks in jsdoc must be aligned
ERROR: assets/js/common/graphql/types.ts:18:1 - jsdoc is not formatted correctly on this line
ERROR: assets/js/common/graphql/types.ts:18:1 - asterisks in jsdoc must b

[2019-10-28 21:44] bwiklund commented on #2436
fwiw this is still broken in 1.8.2

[2019-10-29 06:08] dotansimha commented on #2841
@allen-munsch We recommend not to run tslint/eslint on codegen generated files. The effort of making it 100% compatible it not worth the effort.
You can either integrate `prettier` with the codegen (see docs) and prettify the generated file after it's being generated, or add tslint ignore for this file (using `add` plugin).

[2019-10-29 06:08] #2841 closed

[2019-10-29 06:10] dotansimha commented on #2839
@tsujp Which version of the codegen do you use? we recently did some fixes related to `transformUnderscore`. Can you please try the latest? 1.8.2
Can you also try:

[code]

[2019-10-29 06:11] dotansimha commented on #2415
@P4sca1 Sorry, couldn't find the time to add it. If someone has the time, it should be pretty simple (most of is is copy/paste of the graphql-request plugin).

[2019-10-29 06:13] dotansimha commented on #2833
@artalar
The `typescript-graphql-request` plugin is using `typescript-operations` types as base types, and just creates a wrapping SDK for `graphql-request`.

The `typescript-operations` (and `typescript`) plugin has a configuration called `avoidOptionals`, try to set it to `true` and see if it works for you.

If you wish to avoid all optionals and maybe - the only way to do it is to change your s

[2019-10-29 06:14] n1ru4l commented on #2436
@bwiklund Could you please provide a code sandbox example or a failing test?

[2019-10-29 06:19] dotansimha commented on #2820
Hi @Tybot204 ,
The `QueryUserArgs` is defined as optional, but if you'll take a look at the resolver signature, you'll see that we override it to make it non-optional:

[code]

The reason is works this way, is because `typescript` plugin generates types as base types. From a client side perspective, a variable with default value is optional, but from a server side perspective, it's non-optional. W

[2019-10-29 06:19] #2820 closed

[2019-10-29 06:20] dotansimha commented on #2818
@ruanyl Can you please share a reproduction of this issue in a codesandbox? a lot of info is missing.

[2019-10-29 06:54] dotansimha commented on #2817
@deser
I'm not sure I'm getting it.
Are you creating your schema with code (non-sdl) declaration? Can you please elaborate on this?

[2019-10-29 07:02] dotansimha commented on #2781
@jefflewis I'm not sure what causing it, because it seems like the error is coming from `graphql.js` validation. I need to check what's really causing it.

[2019-10-29 07:03] dotansimha commented on #2780
@msheakoski
Can you please try to use `Resolvers` type, and not the child types? I think the index signature is being applied only for the root type and not for the child resolvers types.

[2019-10-29 07:09] dotansimha commented on #2777
The default behavior of generated resolvers signature is to use your schema as the model structure.
Let's say that you have `type User { id: ID! }` in your schema, but the actual model of this type is declared `interface UserObject { _id: string }`.
The default generated object will assume that a parent resolvers that returns `User` will need to return `{ id }`, but in your models, the actual obje

[2019-10-29 07:09] #2777 closed

[2019-10-29 09:06] #2701 closed

[2019-10-29 09:09] dotansimha commented on #2731
@kamilkisiela has some experiments, the only workaround we can suggest at the moment is to load the schemas as SDL, and not using code file. When we load a compiled `GraphQLSchema` is causes the AST nodes extensions to be unavailable.

[2019-10-29 09:21] dotansimha commented on #2806
Done in: https://github.com/dotansimha/graphql-code-generator/commit/699d96263785d840f7045449e13081e5a788de47

The default behaviour now is non-minified, and there is a config for `minify: true`.

[2019-10-29 09:32] dotansimha commented on #2436
Just as @n1ru4l said, can you please share a reproduction of this? @bwiklund ?

[2019-10-29 09:34] tsujp commented on #2839
I updated my configuration and it works now @dotansimha thank you so much – it seems I had it misconfigured then.

As for the versions

[code]

[2019-10-29 09:34] dotansimha commented on #2832
Thanks @leebenson !
Actually `ts-toolkit` looks good, maybe we can create a small extension plugin that generates those intermediate types using that. I'll check it soon :)

[2019-10-29 09:35] dotansimha commented on #2839
Perfect! Good to hear :)

[2019-10-29 09:35] #2839 closed

[2019-10-29 09:36] tsujp commented on #2839
💥 Boom, and it's gone.

[2019-10-29 09:39] leebenson commented on #2832
Excellent!

As a starting point, https://github.com/pirix-gh/ts-toolbelt/issues/64#issuecomment-546610935 is what I wound up going with (with some minor changes.)

I also created a `Typename<TQuery, TTypename>` helper for discriminating a union/interface based on a specific `__typename`:

[code]

That could probably be cleaned up a little, but it works well for my use-case.

[2019-10-29 09:41] dotansimha commented on #2832
Nice! Actually we have some code that does discrimination for TS types under `typescript-compatibility`, but I guess using ts-toolkit is better solution :)

[2019-10-29 14:54] msheakoski commented on #2780
@dotansimha Yes, you are correct that the main `Resolvers` type behaves as designed when working from a single file containing all resolvers.

What if I have, for example, 100 different resolvers? I would not want to inline all of that code into a single file because it would be thousands of lines long and hard to maintain.

Given this use case, what would be the best way to type my resolvers when

[2019-10-29 20:49] bwiklund commented on #2436
sorry, i dont have the bandwidth to recreate this entire environment for a repro. it's the same bug as original reported

[2019-10-30 00:15] seansfkelley commented on #2649
Okay, I got a working sandbox for the issue: https://codesandbox.io/s/graphql-codegen-issue-template-i3fpy

[2019-10-30 00:18] seansfkelley commented on #2835
fwiw this also happens if you use fragments with `__typename`, which is how I came across the issue: https://codesandbox.io/s/graphql-codegen-issue-template-6vv5g

[2019-10-30 05:51] artalar commented on #2833
I'm still confusing why plugins can not override the result of other plugins, but your suggestion resolves the issue, thx.

[2019-10-30 05:51] #2833 closed

[2019-10-30 08:20] dotansimha commented on #2835
@seansfkelley I think I managed to fix this issue in: https://github.com/dotansimha/graphql-code-generator/commit/d70efb5045e31ee0b331170314e0f4204be4c911

Can you please try the alpha version? `1.8.3-alpha-691249fe.22`

[2019-10-30 08:33] dotansimha commented on #2649
Thanks @seansfkelley ! I'll take a look

[2019-10-30 08:40] dotansimha commented on #2780
The main `Resolvers` just points to sub-types of resolvers, you can use `QueryResolvers` as well and it will work the same, this way you can write it in different files (and those type doesn't enforce you to implement all fields in the same file, it just provides validation for field names and types)

[2019-10-30 13:37] wtrocki commented on #1772
/Going to work on in when porting graphback.dev generator to codegen.

[2019-10-30 14:57] ChristianUlbrich opened #2848 "Query variables are not supported in @graphql-codegen/typescript-stencil-apollo despite doc"
**Variables are not supported in @graphql-codegen/typescript-stencil-apollo despite doc**
[GraphQL query variables](https://graphql.org/learn/queries/#variables) are not supported with `@graphql-codegen/typescript-stencil-apollo` despite the doc saying so.

The [documentation](https://graphql-code-generator.com/docs/plugins/typescript-stencil-apollo) for typescript-stencil-apollo says that:

[code

[2019-10-30 16:12] dotansimha commented on #2848
@ardatan please take a look, you are the Stencil expert ;)

[2019-10-30 16:23] msheakoski commented on #2780
I am currently using it as you suggested, with `QueryResolvers` and `MutationResolvers`. The problem is that `QueryResolvers` is generated like this:

[code]
Take special note of the `?:` because this causes ApolloServer to complain **only when using QueryResolvers in a different file**. It does not happen when all of the resolvers are inlined together in a single file. It does not matter if `useI

[2019-10-31 07:00] dotansimha commented on #2780
I see, and if you do:

[code]

Does it work? @msheakoski

[2019-10-31 07:08] lemiesz opened #2854 "No need to generate gql-tag object, then print it to graphql-request"
I have a query file like this

[code]

I am running with the following plugins

[code]

what gets generated is something like this
[code]

It seems strange that now I require two more libraries in my runtime bundle `gql` and `print from graphql`. In addition it seems like the client needs to generate an gql AST just to convert back to string at runtime.

Could this template just bypass all of this

[2019-10-31 08:25] dotansimha commented on #2854
@lemiesz I added an additional configuration for `documentMode`, now it accepts `string` option.

Use:
[code]

You should use the latest alpha (`1.8.3-alpha-d0acf100.27`), since it's not in a release yet.

[2019-10-31 14:55] msheakoski commented on #2780
@dotansimha I tried to reproduce the issue in a CodeSandbox example, but strangely I do not experience it there.

I am going to make a minimal example locally to see if I can pinpoint what might be causing it. So far, all of the projects that I have used graphql-code-generator with have been based on Next.js, so I want to rule out any side effects from using libraries or frameworks. I will report

[2019-10-31 16:16] dotansimha commented on #2780
Thanks @msheakoski , waiting for your update :)

[2019-11-01 00:02] JQuezada0 commented on #2835
@dotansimha I can confirm that `1.8.3-alpha-691249fe.22` fixes the issue. Thank you very much!

[2019-11-01 01:57] lemiesz commented on #2854
Cool thanksalot for this man

[2019-11-01 02:43] ardatan commented on #2854
Let's keep this open until it is released

[2019-11-01 06:52] ardatan commented on #2848
@ChristianUlbrich Thank you for the fix! You can use it with this canary version until it is released;
`1.8.3-alpha-5b6e16fa.30+5b6e16fa`

[2019-11-01 09:58] dotansimha commented on #2781
Ok so the actual error is:

[code]

Which makes sense, because `name` is defined in a different way in those types, and it means that the return value couldn't really tell if it's nullable or not.

In `Product.name` defined as `String!` and `ProductVariant.name` defined as `String`.

GraphQL validation fails and it makes sense, I think the suggestion of GraphQL is correct, you should add type alia

[2019-11-01 09:58] #2781 closed

[2019-11-01 10:10] ChristianUlbrich commented on #2848
@ardatan Thx. Works perfectly; how about adding / enhancing the codegen example in `stencil-apollo`? Want me to PR this as well?

[2019-11-01 11:02] dotansimha commented on #2742
I think I managed to reproduce and fix this in: https://github.com/dotansimha/graphql-code-generator/pull/2862

@xiaoyu-tamu Can you please try this alpha? `1.8.3-alpha-57c54418.34`

[2019-11-01 11:02] dotansimha commented on #2826
I think I managed to reproduce and fix this in: https://github.com/dotansimha/graphql-code-generator/pull/2862

@Rachnerd @xiaoyu-tamu Can you please try this alpha? `1.8.3-alpha-57c54418.34`

[2019-11-01 12:10] Rachnerd commented on #2826
@dotansimha `1.8.3-alpha-57c54418.34` fixes the issue. Thanks!

[2019-11-01 15:29] jefflewis commented on #2781
@dotansimha Are you suggesting that having differing field definitions for types in union is invalid GraphQL? If so, can you point me to that part of the spec. If not, then I'm lost as to how this is invalid?

I can select these from my API with no issues. and I can use the resulting JSON to create types manually.

Also, what do you mean be implementing them as interfaces instead of unions? The GQ

[2019-11-01 17:59] andycmaj opened #2864 "Support Environment Variables for schema headers in config"
Problem is i cannot use codegen against an authenticated server without resorting to javascript schema file.

eg.

[code]

would love to be able to specify an env var in the config yml rather than having to create a schema.js to provide the authenticated schema

[2019-11-01 23:44] ardatan commented on #2864
https://graphql-code-generator.com/docs/getting-started/codegen-config#environment-variables
We already support environmental variables in codegen.yml file.

[2019-11-02 00:43] xiaoyu-tamu commented on #2826
@dotansimha  it works. Thank you!

[2019-11-02 00:43] xiaoyu-tamu commented on #2742
@dotansimha it works. Thank you

[2019-11-02 06:33] dotansimha commented on #2864
@andycmaj As @ardatan said, you can use env vars in your yaml files. Also, we support `.js` file with `module.exports` as config file.

[2019-11-02 06:33] #2864 closed

[2019-11-02 13:03] JClackett opened #2869 "Apollo client 3 support"
With the new apollo client 3 beta release, react hooks are now included by default, along with the gql tag. Apollo are deprecating the HOC's + Components so can the default config reflect this when apollo client is out of beta? Also the types used from @apollo/react-common can be used from @apollo/client as well.

Currently setting the hooksImportFrom to @apollo/client works for now.

An issue i r

[2019-11-02 15:53] tbrannam opened #2870 "Required Query Variables are optional"
**Is your feature request related to a problem? Please describe.**

I'm frustrated that my GraphQL variables are not enforced in generated hooks

[code]

[code]

**Describe the solution you'd like**

Hooks (Apollo 3) generated typically have optional baseOptions.  So callers of the generated hooks sometimes forget that a query requires a variable.   If a query document includes a variable - it wou

[2019-11-02 16:31] gustavopch opened #2872 "Add "--check" flag to detect stale code"
**Is your feature request related to a problem? Please describe.**
I need some way to check whether the generated code is up-to-date with the source code, so that I can check before every commit with husky and during CI.

**Describe the solution you'd like**
There could be a `--check` flag in the CLI that would generate all the code in memory, compare to what's in my working directory and exit wit

[2019-11-02 17:16] glenwinters opened #2873 "2 Java tests failing on latest"
**Describe the bug**
The "Should produce valid Java code" and "Should use the correct package name by default" tests are failing without any changes.

**To Reproduce**
Steps to reproduce the behavior:

yarn
yarn build
yarn test

**Expected behavior**

All tests passing.

**Environment:**

- OS: Windows 10
- `@graphql-codegen/...`: I checked out master
- NodeJS: 10.15.1

**Additional context**

Out

[2019-11-02 17:18] glenwinters commented on #2873
I didn't get these test failures on my Macbook, so perhaps it's Windows-related.

[2019-11-02 18:30] andycmaj commented on #2864
thanks! dunno how i missed that... appreciate the response

[2019-11-02 18:33] andycmaj commented on #2864
you guys are awesome. thanks for your hard work

[2019-11-03 06:27] dotansimha commented on #2869
Currently the root package of Apollo exports `gql` and also hooks, I'm not sure what would be the right way to export it.

I think @kamilkisiela already has issues with it, because the general package of apollo-client now depends on React (see https://github.com/apollographql/apollo-client/issues/5532).

Anyway, I added this import to list of valid imports in `graphql-tag-pluck` so now it will det

[2019-11-03 06:29] dotansimha commented on #2873
I think it's only on Windows, and caused by `buildPackageNameFromPath` - it builds package name from path, and in Windows it should use `\` instead of `/` to build the package name. I think we should use `sep` from `path` instead of hardcoded `/`.

[2019-11-03 06:31] dotansimha commented on #2870
@tbrannam the query and fragment you mentioned are not valid. Can you please share a reproduction of the issue? in a repo or in a codesandbox.

Also, which version of codegen do you use?

[2019-11-03 06:59] dotansimha commented on #2848
Fixed in 1.8.3

@ChristianUlbrich a PR sounds good ;) Thank you!

[2019-11-03 06:59] #2848 closed

[2019-11-03 07:00] dotansimha commented on #2742
Fixed in 1.8.3

[2019-11-03 07:00] #2742 closed

[2019-11-03 07:00] dotansimha commented on #2826
Fixed in 1.8.3

[2019-11-03 07:00] #2826 closed

[2019-11-03 07:00] dotansimha commented on #2854
Fixed in 1.8.3

[2019-11-03 07:00] #2854 closed

[2019-11-03 07:00] dotansimha commented on #2835
Fixed in 1.8.3

[2019-11-03 07:00] #2835 closed

[2019-11-03 07:00] dotansimha commented on #2806
Fixed in 1.8.3

[2019-11-03 07:00] #2806 closed

[2019-11-03 07:09] dotansimha commented on #2745
Actually, we added support for `graphql-import` only after we had `graphql-toolkit` (which was created from functions that was originally inside the codegen).
Now we are the maintainers of `graphql-import` so the logic of it might move into `graphql-toolkit` and we can have it supported for all needs.

[2019-11-03 07:11] dotansimha commented on #2776
Closing, @brandonbloom feel free to contact if it's still relevant.

[2019-11-03 07:11] #2776 closed

[2019-11-03 07:12] dotansimha commented on #2817
@deser ?

[2019-11-03 07:12] dotansimha commented on #2818
@ruanyl ?

[2019-11-03 07:16] dotansimha commented on #1219
@vjsingh can you please explain? I'm not sure how it's related to this issue. What optional types do you refer to?

[2019-11-03 09:26] kamilkisiela commented on #2869
I think let's wait for 2-3 days, maybe they will address that issue and move `react` under `@apollo/react` or the non-react parts under `@apollo/client/common`. I prefer the first option...but we will see what happens.

[2019-11-03 12:50] vjsingh commented on #1219
@dotansimha I don’t see a recommended solution for the original issue as described by @dobesv.

In Graphql, I can define a User object with a required email field. A client is however free to request a user without the email field. The field is required for objects in the database, but not that every client request has to include it.

As others have pointed out, this is one of the fundamental abil

[2019-11-04 07:23] dotansimha commented on #1219
@vjsingh I'll cover the solution I think would be the best:

First, there is no such thing `required` in GraphQL, the definition of fields with `!` is for non-nullable values, which basically means that server side and resolvers *must* return a value, *if* the resolver is called.

The conditional call of the resolver depends on what the client chooses to add to it's selection set in query/mutation

[2019-11-04 10:08] kroeder opened #2875 "load-from-code-file (js schema) throws error on windows machine"
**Describe the bug**
Using this codegen.yml

[code]
throws

[code]

The schema file worked perfectly running `< 1.0.0`

I started debugging the CLI and ended up at this line:
`node_modules\graphql-toolkit\dist\commonjs\loaders\load-from-code-file.js`

[code]

After changing it to

[code]

my output is

[code]
and the generated schema looks as expected.

**To Reproduce**

I'm not entirely sure how

[2019-11-04 10:16] kroeder commented on #2875
I just figured out this is related to graphql-toolkit, not graphql-code-generator (although it affects @graphql-code-generator)

It will be even harder for me to describe the bug in graphql-toolkit without knowing what happens under the hood of graphql-code-generator

Can you assist solving this/raising an issue in graphql-toolkit?

[2019-11-04 12:02] kroeder opened #2876 "Add CLI output for skipped files during the generation process"
**Is your feature request related to a problem? Please describe.**

I was playing around with hooks and was confused that my global hooks were executed but my local "output level" hooks weren't whatever I wrote in the config file.

After debugging I noticed that my file was skipped because of the output hash mechanism.

**Describe the solution you'd like**
Show something like
[code]

**Describe al

[2019-11-04 15:58] tbrannam commented on #2870
I've created a mock server here: it has client.ts which shows how the generated hook variable contract isn't being typechecked.   It would seem that if a Query required variables, the baseOptions would no longer be marked as optional.

https://codesandbox.io/s/apollo-server-de1p6

[2019-11-05 13:08] vasilak opened #2890 ""Not all operations have an unique name" error with "near-operation-file" preset"
**Describe the bug**

I am using the 'near-operation-file' preset to generate types next to the files that have the GraphQL operations. When I try to generate the types again though I get the "Not all operations have an unique name" error, presumably because the generated types are not ignored.

**To Reproduce**
Steps to reproduce the behavior:

- Use the following config with a query in a `.ts` f

[2019-11-05 13:19] vasilak opened #2891 ""prettier --write" hook is not working"
**Describe the bug**

I am using the 'near-operation-file' preset to generate types next to the files including GraphQL operations. I have also added an `afterAllFileWrite` hook to run prettier on the generated files but prettier seems to be run only on one of the two files that get generated.

I have also tried using an `afterOneFileWrite` hook instead, but the behavior is the same.

**To Reprodu

[2019-11-05 21:41] qw-in opened #2899 "1.8.3 Broke loading schema from URL (with env variables)"
**Describe the bug**
As of `1.8.3` now get error when trying to introspect from url with env variables

[code]

**To Reproduce**
Steps to reproduce the behavior:

3. My `codegen.yml` config file:

[code]

**Expected behavior**

In `<1.8.3` worked fine

**Environment:**

- OS: Linux
- NodeJS: `12.11`

**Additional context**

[2019-11-06 04:52] ardatan commented on #2899
@qw-in Currently we only support GraphQL endpoints, and it seems you provide a URL points to a JSON introspection file.

I think we can add an option for sending a `GET` request to get raw introspection JSON file like that. But in the meanwhile you can try to give a GraphQL Endpoint to get the schema introspection.

What do you think?
@dotansimha

[2019-11-06 05:45] ardatan commented on #2899
@qw-in Could you try with the following canary version?
`1.8.4-alpha-40191ca5.21+40191ca5`

[2019-11-06 05:45] ardatan commented on #2875
@kroeder Could you try with the following canary version?
`1.8.4-alpha-40191ca5.21+40191ca5`

[2019-11-06 12:47] calumpeak commented on #2742
@dotansimha I've upgraded to the most recent version and I'm still seeing this issue, have I made a mistake with my config by any chance?

[code]

![image](https://user-images.githubusercontent.com/10559737/68299447-9cdad100-0093-11ea-99cd-e954eb16512d.png)

[2019-11-06 15:49] kroeder commented on #2875
Works like a charm 🙂

[2019-11-06 21:18] qw-in commented on #2899
@ardatan this fixed it for me, thanks :+1:

[2019-11-07 01:53] ardatan commented on #2899
Let’s keep it open until we release a new version :)

[2019-11-07 08:37] reinvanimschoot opened #2910 "Is there a way to have a combined type instead of a collection of <Pick...>'s?"
Hi guys

It was kind of difficult to explain my question in the title but I'll try to elaborate a bit more.

When I use GraphQL Codegen to generate TypeScript types for my operations, the return values of said operations are never just 1 type but a collection of `<Pick >`'s.

To illustrate:

![Screenshot 2019-11-07 at 09 27 10](https://user-images.githubusercontent.com/35171567/68372586-78d5c900-0

[2019-11-07 17:42] pnordhus commented on #2910
I'm not sure if codegen provides an option to generate these types, but you should be able to get what you need with
[code]
`[0]` extracts the type of the first array element. You can specify any index here, as all elements in a TypeScript array have the same type.

[2019-11-07 18:36] rlindskog opened #2911 "Receiving error: Unknown type "__Schema". after running graphql-code-generator."
**Describe the bug**
When trying to use type `__Schema!`, `graphql-code-generator` throws the following error: `Unknown type "__Schema".` after "Generate".

**To Reproduce**
-  create a schema with the following type:

[code]

- run graphql code generator from the above schema.

1. My GraphQL schema:

[code]

2. My GraphQL operations:

N/A

3. My `codegen.yml` config file:

[code]

**Expected beha

[2019-11-07 19:51] willtrking opened #2912 "near-operation-file preset should allow for types to be in external package"
Internally, we package our generated schema types independently of our generated operations and react components.

We'd like to use the `near-operation-file` preset, and it would be nice if it allowed for types to be imported from an external package. Currently doing something like the following:

[code]

Ends up with imports as follows

`import * as Types from '../../../../../../../@internal/gql'

[2019-11-07 20:23] willtrking opened #2913 "importDocumentNodeExternallyFrom generates incorrect import path"
**Describe the bug**
When using `importDocumentNodeExternallyFrom: 'near-operation-file'` in combination with `documentMode: 'external'` import paths are not correctly generated if the `near-operation-file` specifies a custom folder

**To Reproduce**

Use a config like the following
[code]

It looks like it is hard-coded to import from the same folder here:
https://github.com/dotansimha/graphql-co

[2019-11-07 20:44] willtrking commented on #2913
For anyone else running into this, we are working around it with `find` and `sed` as follows`

Note this only works if your `Operations` files are one folder above your generated folder

[code]

[2019-11-08 09:15] cmattick opened #2916 "graphql field alias not typed correctly (preset near-operation-file / preResolveTypes)"
**Describe the bug**
When using preset near-operation-file with option preResolveTypes the generated type for a graphql field with an alias is missing the "Types." prefix coming from the imported base types.

**To Reproduce**
https://codesandbox.io/s/near-operation-file-issue-with-alias-6esqp

Run 'yarn start' for the code generation process which produces the issue. See document.ts for the result

[2019-11-08 10:29] Infonautica opened #2917 "Mutation HOC does not change "result.loading" value (React)"
**Describe the bug**
I use generated HOC, call it from handler like this.props.systemLogin.mutate()
But during HTTP Request lifecycle i get "loading" value as false

**To Reproduce**
Steps to reproduce the behavior:
Use mutation HOC in React, call it mutate function and check this.props.result.loading value

My `codegen.yml` config file:
[code]

**Expected behavior**
result.loading value should ch

[2019-11-08 10:35] Infonautica commented on #2917
Solved. Provide ignore rule to HOC options:
`options: {
      ignoreResults: false,
    },`

https://github.com/apollographql/react-apollo/issues/3250#issuecomment-513332214

[2019-11-08 14:04] ruanyl commented on #2818
Not reproduce any more

[2019-11-08 14:04] #2818 closed

[2019-11-08 15:05] #2917 closed

[2019-11-08 15:07] ardatan commented on #2917
@Infonautica Thank you for opening the issue but what we do in react-apollo plugins is to add generated types in to HOCs' generics. So we don't do anything about the functionality :)

[2019-11-08 17:21] tbrannam commented on #2870
closing pending further research

[2019-11-08 17:21] #2870 closed

[2019-11-09 18:01] veeramarni opened #2926 "Unable to extend undefined GraphQL union"
**Describe the bug**

When having `union` type in one schema and `extend union` of the same type in a different file, we get the following error.

If we  put the `extend union` into the same file as `Schema1`, we don't get the error. It fails with `graphql-code-generator` when generating types.

**To Reproduce**
Steps to reproduce the behavior:

Schema1
[code]

Schema2

[code]

Error
[code]

1. My

[2019-11-09 19:39] ardatan commented on #2926
Hi @veeramarni
Could you try with the following canary version?
`1.8.4-alpha-9451dd15.38+9451dd15`

[2019-11-09 21:04] jsshapiro opened #2928 "Parse error for string-valued defaults"
The following input type parses (correctly) without complaint:

[code]
But the following _regular_ type does not:

[code]

If I am reading the GraphQL spec correctly, this default value should be legal in both places.

** To Reproduce **
Construct a graphql schema file with the two types above. Execute graphql-codegen on this file.

**Expected behavior**
The graphql spec allows defaults on both in

[2019-11-09 21:11] jsshapiro opened #2929 "Error diagnostics do not provide input file name or line number"
When an input syntax error is present, the error diagnostic from graphql-codegen is a backtrace. Since the backtrace mainly talks about the GraphQL parser internals, it isn't all that helpful. Conspicuously _absent_ in the output is the file name and line number where the syntax error was encountered.

It appears to me that the desired source file and position information may be present in the Gra

[2019-11-09 21:23] ardatan commented on #2929
Could you share a reproduction with codesandbox?

[2019-11-09 21:27] jsshapiro commented on #2928
On further investigation, it appears that the parser may not accept defaults on Object fields of _any_ type - all of the current defaults in my schema appear on Input Object fields. I have confirmed that the spec allows defaults on Types, though it doesn't seem to me that this is conceptually a good idea.

Regardless, there is a difference of opinion between the spec and the implementation, and on

[2019-11-10 19:48] pachuka commented on #2910
You can use [preResolveTypes: true](https://graphql-code-generator.com/docs/generated-config/base-documents-visitor#preresolvetypes-boolean-default-value-false) to resolve the primitives. For the subtypes you may want to create Fragments since those also get typed explicitly.

[2019-11-11 03:14] VienNguyen113 commented on #1436
@dotansimha I have faced this problem too! Did the plugin support this feature?

[2019-11-11 06:37] dotansimha commented on #1436
@VienNguyen113 Which version do you use?

[2019-11-11 07:56] VienNguyen113 commented on #1436
@dotansimha I'm using `1.1.3`. Is there any config to allow the plugin to generate the absolute path (via the config) instead of `*/{filename}.graphql`. Currently, I have to write a script to do that

[2019-11-11 09:41] dotansimha commented on #1436
@VienNguyen113 can you please open a new issue with the output you are getting with 1.8.3?

[2019-11-11 11:52] helios1138 opened #2932 "`mappers` option results in duplicate identifiers in the generated TS file"
having some types remapped using the `mappers` option leaves both the new (imported) type and the old (generated) type in the generated file.

apparently it wasn't an issue before, but now the new Typescript does not like that and I get
[code]

[2019-11-11 11:53] ardatan commented on #2932
@helios1138 Could you share your `codegen.yml` file?

[2019-11-11 12:05] helios1138 commented on #2932
@ardatan
[code]
and so I get e.g. both imported types from `mappers`
[code]
and the default generated types
[code]

[2019-11-11 12:37] helios1138 commented on #2932
@ardatan I assume it's because `typescript` plugin does not know about `typescript-resolvers`' `mappers` option, so it doesn't know to ignore them. Is there a way to manually "skip" some types from being generated?

[2019-11-11 18:57] CarloPalinckx opened #2934 "Add JSDoc based plugin for environments that aren't running typescript or flow"
**Is your feature request related to a problem? Please describe.**

Currently, there are environments that could rely on JSDoc to type check their code. It would be great if we could reach out to those people as well 🙌

**Describe the solution you'd like**

If we could add a plugin that generates operation types in JSDoc, we could allow other plugins to tap into those defined types. Which could av

[2019-11-12 01:41] jsshapiro commented on #2929
I'll try to isolate a small example next time it happens and add it.

As far as I can tell, the problem is true for EVERY syntax error. The only
syntax diagnostic I've ever seen out of graphql-codegen is a backtrace. A
backtrace doesn't provide the original source file and line number where
the error occurs.

On Sat, Nov 9, 2019 at 1:23 PM Arda TANRIKULU <notifications@github.com>
wrote:

[2019-11-12 03:54] leetmachine opened #2936 "Unable to load schema.ts if generated.d.ts types are used in resolvers"
**Describe the bug**
When I run the graphql-codegen command for the second time, after referencing the types in my generated.d.ts file, it throws an error:
'Failed to load schema.ts' ...
'unable to compile Typescript' ...
'Cannot find name 'User' at line:
`export const getUserById = (id: number): User | null => User.getUser(id);`

**To Reproduce**
1. successfully run the graphql-codegen to output

[2019-11-12 08:32] grancalavera commented on #2869
I'm having a somehow related issue while trying to generate code for Apollo Client 3 using hooks. I can make it work by changing `cogegen.yml` to get `gql` from `@apollo/client`:

[code]

And then **manually** changing the imports in the generated code from this:

[code]

... to this:

[code]

So far I've only tested a simple query, but it seems all the APIs are compatible. I'm using:

[code]

[2019-11-12 11:11] ardatan commented on #2869
@grancalavera Until it gets fixed, you can use these configuration fields for `react-apollo` plugin;
https://graphql-code-generator.com/docs/plugins/typescript-react-apollo#apolloreactcommonimportfrom-string-default-value-apollo-react-common
[code]

[2019-11-12 12:51] veeramarni commented on #2926
@ardatan that fixes. @dotansimha, when we can get this, be published?

[2019-11-12 14:09] ardatan commented on #2936
@leetmachine Could you try to add `noRequire` like that;
[code]

[2019-11-12 14:12] janhartmann commented on #2932
I am hitting this issue as well, when upgrading to TypeScript 3.7.2

The `as X` would be helpful or something like `import * as Something from "./something"`.

[2019-11-12 14:12] ardatan commented on #2936
If you have one file that exports GraphQLSchemas, `noRequire` would not work for that.
If you need to import a TS file using `ts-node` or something else, you need to add `require: ts-node/register/transpile-only` in that case.
So could you try to replace `ts-node/register` with `ts-node/register/transpile-only`?

[2019-11-12 14:14] ardatan commented on #2932
@helios1138 @janhartmann You can try to import those like below;
[code]

[2019-11-12 14:17] janhartmann commented on #2932
That works! Generated code in my case is:

```MachineCluster: ResolverTypeWrapper<import('../api/location/LocationApi.swagger.generated').MachineCluster>,```

[2019-11-12 14:36] helios1138 commented on #2932
@ardatan this does indeed work, thanks. Though it looks more like a workaround since it makes the config a bit hard to read, especially if generics are also used
[code]
In any case, if `import as` is not an option at this moment, I think it would be good if the workaround you mentioned would be added to the docs since I believe it's a pretty common case when database types and graphql types have t

[2019-11-12 16:05] leetmachine commented on #2936
@ardatan thank you! The switch from ts-node/registry to ts-node/registry/transpile-only worked. For reference, my codegen.yml is now:
[code]

[2019-11-12 16:07] ardatan commented on #2936
If everything is good, we can close the issue :)

[2019-11-12 16:08] #2936 closed

[2019-11-12 23:17] Dragons0458 commented on #2649
Hello! Do you have news about this? thank you! :D

[2019-11-13 07:59] VienNguyen113 commented on #1436
@dotansimha  https://codesandbox.io/s/codegen-sanbox-92u2i I've created a sample here.
current result: src/generated/index.d.ts:
[code]
expected result is:  ```

declare module 'src/client/test.graphql' {
  import { DocumentNode } from 'graphql';
  const defaultDocument: DocumentNode;
  export const getUser: DocumentNode;

  export default defaultDocument;
}
[code]

[2019-11-13 15:30] ardatan commented on #2649
Could you try with the following canary version?
`1.8.4-alpha-75df213b.53+75df213b`

[2019-11-13 19:18] lachenmayer commented on #2932
Heya, we also started facing this issue when I tried to upgrade to latest TypeScript (3.7.2). This breaking change is acknowledged in the TypeScript release notes: http://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#local-and-imported-type-declarations-now-conflict

Working around this by sticking with `typescript@3.6.3` for now.

In our codebase, pretty much every mapper

[2019-11-13 20:14] Dragons0458 commented on #2649
I put the following: - '! (README.md) '

With the Canary version.

And I got:

× ./src/app/utils/graphql-gen/apollo.ts
     Failed to load schema from! (README.md):

         Unable to find any GraphQL type definitions for the following pointers:! (README.md)
         Error: Unable to find any GraphQL type definitions for the following pointers:! (README.md) ...

[2019-11-13 21:04] rynobax opened #2956 "Typescript operation with fragments and nested unions generates incorrect types"
**Describe the bug**
Nested unions with fragments and nested unions produce incorrect types.  The union type is correct one level deep, but is incorrect two levels deep.

**To Reproduce**
https://codesandbox.io/s/graphql-codegen-issue-nested-unions-hc90i

Check `test.ts` for an example of where we should be able to access keys, but typescript only lets us access `__typename`

1. My GraphQL schema:

[2019-11-13 21:33] rynobax commented on #2956
I'm not very familiar with the internals of graphql-code-generator, so there may be an easier way to approach this, but I took a stab at fixing this using a generic.  The generic below fixes this particular case, but I don't think it's very robust (would not work with 3 level deep union).  Figured it could be a useful place to start though.
[code]

Example:
[code]

[2019-11-14 00:41] ardatan commented on #2649
@Dragons0458 Could you share your codegen.yml and package.json file?

[2019-11-14 00:57] seansfkelley commented on #2649
FWIW it now works with my sandbox linked above, which I've updated to use the alpha version you mentioned. It also works on my original test case for which I filed this issue, so as far as I'm concerned, it works!

[2019-11-14 04:04] ardatan commented on #2742
@calumpeak Could you create a reproduction using codesandbox by any chance?

[2019-11-14 04:28] ardatan commented on #2912
Could you try with the following canary version by adding `baseTypesPath: '~@internal/gql'?
`1.8.4-alpha-11f86a7d.48+11f86a7d`

[2019-11-14 05:58] ardatan commented on #2406
Is this issue still relevant?

[2019-11-14 06:15] ardatan commented on #2573
I tried to reproduce your issue but it works as expected in mine.
In this branch I added a config similar to yours together with similar structure of yours;
https://github.com/dotansimha/graphql-code-generator/tree/reproduction-2573/dev-test/test-message
You can see the `codegen.yml`;
https://github.com/dotansimha/graphql-code-generator/blob/0cd045e3714b9685aba42ee705d354e2a5e3a306/dev-test/codege

[2019-11-14 06:17] dotansimha commented on #2928
@jsshapiro yes you are right, is seems like `graphql.js` doesn't accept the default values on `type`, only for input/variables/arguments.

[2019-11-14 06:17] #2928 closed

[2019-11-14 06:17] ardatan commented on #2910
I'm closing this issue now. Feel free to open a new one if you have another issue.

[2019-11-14 06:17] #2910 closed

[2019-11-14 06:18] dotansimha commented on #2911
When you use `__Schema`, you refer to the internal type that represents the schema? or it's something you are creating?

[2019-11-14 06:21] dotansimha commented on #2891
Thanks @vasilak !
We'll check that.

[2019-11-14 06:22] dotansimha commented on #2876
@kroeder PR sounds perfect ;) Thanks

[2019-11-14 07:20] ardatan commented on #2911
I think it is a built-in Object Type of GraphQL like we used in introspection query;
[code]

[2019-11-14 14:21] guillaumearm opened #2966 "incorrect HOC props"
Since https://github.com/dotansimha/graphql-code-generator/issues/2192, I have trouble to type HOCs.

Here is a minimal code exemple:

[code]

I think since there is no more `Partial` on this generated type:
[code]

we should use `|` instead of `&`:

[code]

[2019-11-14 15:40] ardatan commented on #2932
@lachenmayer Could you try using aliases with the following canary version?
`1.8.4-alpha-d88e5f9a.53+d88e5f9a`

[2019-11-14 16:00] ardatan commented on #2573
I'm closing this issue for now. So feel free to open again if your issue still persists.

[2019-11-14 16:00] #2573 closed

[2019-11-14 16:16] jsshapiro commented on #2928
Can you advise where to file a bug against graphql.js?

Thanks!

[2019-11-14 17:56] willtrking commented on #2912
Worked like a charm @ardatan, thank you!

[2019-11-14 19:54] tafelito commented on #2573
@ardatan I set the exact same config as you and still not working.

Having this query
[code]

this is how the generated code looks like

As you see, it does not use the ME_QUERY property, it uses the name of the query. In your case works because the name of the query and the variable are the same.

Also I do have more than just 1 file where I put all my operations and `importDocumentNodeExternally

[2019-11-15 09:14] pietdevries94 opened #2973 "Add option to `typescript-graphql-files-modules` to generate complete paths"
Currently the modules generated for the files have a wildcard as path. Example: `declare module '*/Project.gql' {`

I would like an option to generate the files with the absolute path (`src/graphql/queries/Project.gql`). This way auto-imports will work correctly in VS Code

[2019-11-15 11:19] kettanaito opened #2974 "[ts-resolvers] Typing of a lazy resolver"
**Describe the bug**

I have a type `Project` that has a `size` field. When `Project` resolves, it returns a number as a value of the `size` field. However, when I query the `size` field I want to apply an additional resolver to it, to optionally format the value. Formatted value type is String, not Int, therefore there is a type conflict between the intermediate resolved state (from `Project`) an

[2019-11-15 11:22] kettanaito commented on #2974
This is how resolvers look like:

[code]

The nuance is that I don't want to format the `size` value initially when the Project type resolves. I'd like to use this "lazy" resolver pattern for more CPU heavy things (i.e. retrieving a list of data initially, but resolving each member of data into a derived type when requested), so I'd like it to have two states (intermediate and resolved).

[2019-11-15 12:28] lachenmayer commented on #2932
Thanks so much for this @ardatan, will give this a try on Monday! :) As far as I can tell, this is the only thing blocking us from switching to TypeScript 3.7, with the sweet new `optional?.chaining` feature (so excited to try it out!).

Just to be clear, will I have to manually annotate the types in the mappers, eg. having to do `Event: '../../log#Event as EventInternal`, or will the types be aut

[2019-11-15 17:09] kylecannon commented on #2912
@ardatan any idea when you would be releasing this as latest on npm?

[2019-11-15 19:23] Dragons0458 commented on #2649
yes!.

Codegen.yml
[code]

package.json without canary version.
[code]

[2019-11-15 19:31] ardatan commented on #2649
@Dragons0458 In here I couldn't see `!(README.md)` in `schema` fields in codegen.yml and `1.8.4-alpha-75df213b.53+75df213b` as codegen's version in package.json. :)
So could you try with the following canary version?
`1.8.4-alpha-75df213b.53+75df213b`

[2019-11-15 19:39] Dragons0458 commented on #2649
The README.MD file was just an example, my apologies for not specifying well.

These are my updated files:

codegen.yml
[code]

package.json
[code]

Thanks for the help!

[2019-11-16 00:49] grezxune commented on #1609
I am actually still seeing this behavior in 1.8.3.

Here is my `codegen.yml`

[code]

[2019-11-16 07:44] roseline124 opened #2976 "imported 'enumValues' get prefixed when put in input fields"
**Describe the bug**

When I set typePrefix(ex. 'I'), enums(ex. 'MyEnum') registered as 'enumValues' in codegen.yml are imported in generated file without the prefix (-> 'MyEnum').

If I put those enum types in input fields, then those get prefixed in input fields when generated(ex. `myEnum: IMyEnum`). In this case, the enum type name 'IMyEnum' in generated input fields is different with the enum

[2019-11-17 11:15] dotansimha commented on #2869
Arda implemented it in: https://github.com/dotansimha/graphql-code-generator/pull/2969

[2019-11-17 16:58] Tbaut opened #2977 "How to automatically generate types for hooks' result data field?"
Hello

I'm using graphql codegen hooks, which results are of the type: ApolloReactCommon.QueryResult, meaning it's an object that has data, loading and error fields.

Most generally, I'll use the data in other components, where I need to define its type. I currently need to write something like this to get data type:

[code]

I would have expected to get this MyPost type created for me. Is there a

[2019-11-17 19:06] seyaobey commented on #2723
@ruanyl  I am having the exactly the same problem. Could you please elaborate on solution. What did you mean by `running codegen without VERBOSE`?
I am running  `codegen` via a package.json script:
[code]

How do I run codegen without VERBOSE?

Thank you for your help.

[2019-11-17 21:21] akozhemiakin commented on #2415
Maybe we should abstract over concrete client implementation? After all it is all about passing document and variables and returning some typed result wrapped in promise. I prepared a draft: #2978

[2019-11-18 02:23] seyaobey opened #2979 "Unable to find any GraphQL type definitions for the following pointers: -"src/**/*.graphql""
**Describe the bug**
I have created a brand new react-native application and I, now, attempt to generate graphql schema from my backend `https://umoja-apps.herokuapp.com/graphql` where it is exposed.
I entered
[code]
and followed the steps from the wizard, which produced the below `codegen.yml`:
[code]

This is the `package.json` script I should run to generate the schema:
[code]

But the above co

[2019-11-18 03:31] grezxune commented on #924
I'm still seeing this issue in 1.8.3. The problem did not exist when I generated types from my TypeScript code, but running it from the CLI I don't get any extended types.

Config and Documents are also required when using TypeScript to codegen... which I don't think they should be. It works if the types are modified in `node_modules` to not be required, but I can't figure out how to permanently c

[2019-11-18 08:32] webberwang commented on #1436
@dotansimha I'm also having the same issue, should this be re-opened? The codesandbox repo above looks to be replicating the issue mentioned.

[2019-11-18 12:39] calumpeak commented on #2742
@ardatan Sure thing, here you go: https://codesandbox.io/s/unruffled-goldwasser-hurx5

If you run "yarn generateTypes" from the terminal you should be good (though I've generated them already)

[2019-11-18 12:40] edgarnansen commented on #2820
Hi @dotansimha,

Should this also work for nested values?
Say we have something like this:
[code]

The input argument is non-optional, but the `nestedIncorrectInput` is still optional, which doesn't make sense for the server. It's mitigated by optional chaining, but can be annoying for non-trivial stuff.
[code]

[2019-11-19 14:20] ardatan commented on #2979
Do you have client-side operations on `documents: "src/**/*.graphql"`?

[2019-11-19 18:22] andyedinborough opened #2982 "Urql code generator doesn't generate handler parameter for subscriptions"
I have a subscription similar to this:

[code]

This will generate the following hook:

[code]

However, `useSubscription` accepts a second parameter to handle the event.  It appears the code that should be generated is this:

[code]

This would allow the caller to pass a function like this:

[code]

See https://formidable.com/open-source/urql/docs/basics/#subscriptions for more detail.

[2019-11-19 20:29] RXminuS opened #2984 "[Plugin Request] Mobx State Tree (MST-GQL)"
I've been a collaborator on the [mst-gql](https://github.com/mobxjs/mst-gql) project and recently started working on a complete overhaul of the template generator. I find myself drawing more and more inspiration from this project...to the point where I'm not quite sure why we even bother having a separate project at all.

Just for a bit of context mst-gql is a layer on top of the popular mobx/mst

[2019-11-19 21:25] s-h-a-d-o-w opened #2985 "[docs] skipTypename description may be wrong"
It [currently says](https://graphql-code-generator.com/docs/plugins/typescript-operations#skiptypename-boolean-default-value-false):

But based on my experiments in combination with [this issue](https://github.com/dotansimha/graphql-code-generator/issues/2683), I suspect it should probably be something like this instead?

[2019-11-19 22:50] ebenoist commented on #1436
Seeing the same here as well.

[2019-11-20 09:13] CarloPalinckx commented on #2934
I made some progress on this in https://github.com/CarloPalinckx/graphql-code-generator/tree/jsdoc-operations

[2019-11-20 09:47] jgoux commented on #2869
Hello all,

I'm a little confused, is the original issue solved yet?

Because I tried the last release and graphql-codegen isn't detecting my `gql` queries as well when I import it from `@apollo/client` (so no codegen at all).

@ardatan solved a related issue once the code is generated.

Thanks for this awesome piece of software! 🌟

[2019-11-20 09:57] klemenoslaj commented on #2616
TypeScript moved the milestone from 3.7 to 3.8 for this [issue](https://github.com/microsoft/TypeScript/issues/32653).

Since `graphql-code-generator` does not support interfaces I have no way around that TS bug, thus cannot use this code generator.

Is there any way I can help perhaps?

[2019-11-20 10:29] aldegoeij commented on #2581
Hi! I have a similar issue, my use-case:

`schema.graphql`:

[code]

Now I would like to generate the 'document that holds your operations', something looking like:

[code]

However, `codegen.yml`:

[code]

yields:

[code]

How can I get to that file of GQL strings (or DocumentNodes) using `graphql-codegen`?

[2019-11-20 13:57] aldegoeij commented on #2979
I have the same problem, operations should be generated from schema right?

[2019-11-20 14:03] ardatan commented on #2979
No you need to provide the operations against the schema.

[2019-11-21 08:29] sibeliuz commented on #2891
For me prettier does not work at all:

`overwrite: true
schema: "http://localhost:4000"
documents: null
generates:
  src/types/graphql.ts:
    config:
      interfacePrefix: "I"
      typesPrefix: "I"
      skipTypename: true
      declarationKind: "interface"
      noNamespaces: true
      withHooks: true
    plugins:
      - add: '/* tslint:disable:jsdoc-format */'
      - typescript
      - typ

[2019-11-21 10:18] seyaobey commented on #2979
I have solved the issue by applying the answer from this [my (same) overflow question here](https://stackoverflow.com/questions/58904403/unable-to-find-any-graphql-type-definitions-for-the-following-pointers-src)
Basically I had to create a `.graphql` file with at least 1 operation (`query` or `mutation`). And now it works. I don't know whether this is the real solution to this problem or a hack.

[2019-11-21 17:12] veeramarni commented on #2926
@dotansimha Any eta when this will be released?

[2019-11-21 18:27] alexisdray commented on #2723
@seyaobey
1. I updated to 1.8.3
then
2. for me, i'm running npm in bash on OSX, not in docker or anything (i.e. my node commands take my OSX ENV variables when i'm running npm commands straight in terminal)
in my bash profile i add
`
export VERBOSE=1
export DEBUG=1
`
the source bash profile

now i'm getting helpful error outputs

[2019-11-21 22:09] bartlangelaan commented on #2781
I also encountered this issue, which is why I digged into it.

The formal specification that describes this, is: https://graphql.github.io/graphql-spec/draft/#sec-Field-Selection-Merging. The last paragraph states that even if two fields can never be encountered at the same time they can still not appear on the same object.

That specific part was introduced by this merge request: graphql/graphql-

[2019-11-22 01:20] willtrking opened #2996 "Typescript fragments that only include other fragments cause "Types" to be imported when they shouldn't be"
When a fragment is created that only includes other fragments, like the following
[code]

The generated file includes `import * as Types from '...';` when it shouldn't, as the generated fragment does not use `Types`. This causes an issue with Typescript and `noUsedLocals`

Packages I'm using are as follows:
[code]

I'm using an alpha version for the fix it includes for the issue here https://githu

[2019-11-22 02:12] pdemarino opened #2997 "DOS vulnerability in indirect dependencies"
**Describe the bug**
`npm audit` reports a vulnerability in indirect dependencies

**To Reproduce**
Steps to reproduce the behavior:

[code]

Output is:

[code]

**Expected behavior**
`npm audit` should be clean

**Environment:**

- OS: Ubuntu Linux
- @graphql-codegen/typescript  1.8.3
- NodeJS: 12.13.1

**Additional context**
None

[2019-11-22 09:27] capaj opened #2999 "LazyQueryHookOptions type is not exported by apollo-client"
**Describe the bug**
I'd like to generate `typescript-react-apollo` hooks, but the output is not correct TS. It tries to define ouput of lazy query hooks as `ApolloReactHooks.LazyQueryHookOptions`, but the problem is that type is not exported.
``

**To Reproduce**
Steps to reproduce the behavior: just generate

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` c

[2019-11-22 09:28] capaj commented on #2999
oh right you have to
[code]
this should be documented somewhere

[2019-11-22 09:28] #2999 closed

[2019-11-23 10:04] aldegoeij commented on #2979
Thanks @seyaobey !

I've used amplify-graphql-docs-generator (https://github.com/aws-amplify/amplify-cli/tree/master/packages/amplify-graphql-docs-generator) to generate queries, mutations, etc directly from the type schema.

Is it possible to do this with graqhql-codegen?

[2019-11-23 20:15] beeman opened #3005 "[Apollo Angular] Generate a wrapper SDK service"
**Is your feature request related to a problem? Please describe.**

When using `graphql-codegen` with the `typescript-apollo-angular` plugin I always find myself writing a wrapper class that exposes all the generated `operationGQL` services. Let's refer to this as my SDK Service.

That way I only always have to inject that one SDK service if I want to access any data from GraphQL.

This is an exam

[2019-11-24 10:46] dotansimha commented on #2997
You are right, `yarn audit` shows the same, I think upgrading relay compiler might solve this (https://github.com/dotansimha/graphql-code-generator/pull/2798)

[2019-11-24 10:58] dotansimha commented on #2984
Hi @RXminuS !
This is very cool, `mobx-state-tree` is awesome!

The idea of using mappers sounds very good, and I think it will simplify the way you use it. Also, I think the approach of generating one file (when possible) is better and makes generation easier (mostly because circular dependencies).

We can help you write this plugin, it sounds super interesting :)

[2019-11-24 11:46] dotansimha commented on #2997
It seems like it's not updated in `relay-compiler -> yargs -> mem`.

I think the codegen and it's dependencies shouldn't be in use in production, so as long as it's being remained as devDependency - I think it shouldn't have any effect.

You can workaround this by using `resolutions` field in `package.json` (with Yarn), and override the dependency for `mem`.

[2019-11-24 12:10] dotansimha commented on #2979
@aldegoeij we have an open issue for that: https://github.com/dotansimha/graphql-code-generator/issues/2349

Closing this for now. As mentioned before, either remove `typescript-operations` and `documents: ` section, or add an actual operation :)

[2019-11-24 12:10] #2979 closed

[2019-11-24 12:12] dotansimha commented on #3005
It seems like a nice addition to the generated API. @beeman feel free to open a PR :) Thanks!

[2019-11-24 13:22] dotansimha commented on #2982
Merged the PR, thanks @andyedinborough :)

Alpha is available until a stable release: `1.8.4-alpha-d0d201d3.91`.

[2019-11-24 13:51] dotansimha commented on #2985
Thanks @s-h-a-d-o-w ! Pushed a fix.
I will be deployed to our website with the next release.

[2019-11-24 14:50] dotansimha commented on #2891
Just tested it with our examples in this repo, and it seems like it works.
I changed some of the prettier rules and ran in again, it seems like new rules are being applied:

![image](https://user-images.githubusercontent.com/3680083/69496396-75c92f80-0eda-11ea-8af0-a3bf3bd71035.png)

I think it's related to the level/position of your hooks, can you please try putting it in your root-level of your

[2019-11-25 04:16] cktang88 commented on #2997
Will there be a new release soon that incorporates this change?

[2019-11-25 06:44] MicahChalmer opened #3009 "[Typescript-Resolvers] Custom scalar resolvers should not be optional"
When generating resolvers for a schema with custom scalar types, it creates the custom scalar resolver for the type as an optional field.  But the typing of `graphql-tools`'s `makeExecutableSchema` function only accepts it if it's non-optional.

This seems similar to, or related to, #2780, though not exactly the same.  As with that one, typescript is complaining that an optional field doesn't matc

[2019-11-25 09:56] stonexer commented on #2977
Also curious about how to get the fields data type properly.

[code]

[code]

[2019-11-25 11:46] dotansimha commented on #2997
@cktang88 @pdemarino
I suggested a workaround in the comment above. Also, using the codegen as `devDependency` shouldn't effect your production usage.

The actual fix should be done in `relay-compiler`, by upgrading `yargs` to latest version.

[2019-11-25 11:46] #2997 closed

[2019-11-25 16:13] dotansimha commented on #2956
Thanks @rynobax .
Just verified it, a reproduction could be [http://www.typescriptlang.org/play/#code/PQKgUAQghgzgpgEwAQHsB2SoGMAuBLdGALiTDAEcBXOAJwE8kBxOHAQTTwFsoAbJAbzBJMHbn0HDhOOgAc4AoZOEA6VagwARFAHMFSpQH0D0uWiic4i-Zm3yJ1yauXqkAaTQoA7hnsPJRkzgzCys-JDo4KBoYUOsAX1jJBPjEpy1tVltQ5KQEhLAAMxoobQs0HCR0zPl0JHYuXgAVWTtFJxd0vX9jFuDLJRLW63ba9y8fROEA3vN+h050HAALGJSlHLywEGAyOAAPGRQaCsCkAFkoOgAjOAAeRoA+JABeJ

[2019-11-25 16:43] dotansimha commented on #2973
I implemented it in this PR: https://github.com/dotansimha/graphql-code-generator/pull/3010

With these changed, you should be able to set now `relativeToCwd: true` to generate a complete path to CWD, and you can customize the prefix (default for `*/`).

@pietdevries94

[2019-11-25 16:45] dotansimha commented on #2974
@kettanaito did you try `mappers` setting? https://graphql-code-generator.com/docs/plugins/typescript-resolvers#mappers-overwrite-parents-and-resolved-values

It allow you to map a specific GraphQL type into a TypeScript type, and then it will enforce this TS type (instead of the default generated) in your resolvers.

[2019-11-25 16:47] dotansimha commented on #3009
@kamilkisiela can you please take a look?

[2019-11-25 16:49] dotansimha commented on #2977
You can set `withResultType: true` and it will generate a result type for you, see: https://graphql-code-generator.com/docs/plugins/typescript-react-apollo#withresulttype-boolean-default-value-true

In order to access sub-types (or intermediate types), use a bridge type like you did, or use more fragments in your code (because fragment spreads is being generated on it's own) or use `typescript-com

[2019-11-25 16:49] #2977 closed

[2019-11-25 18:19] farcasmihai91 opened #3011 "Typescript errors in generated file"
**Describe the bug**
I am getting a couple of errors on my generated file:
Every `import { DocumentNode } from 'graphql';` yields a `Cannot find module 'graphql'.` error, even though I have `graphql` as a dev dependency.

Another error is at the ` export interface IntrospectionResultData {` section, which is as follows (`"possibleTypes": []` is empty because I cannot provide my graphql schema :( )

[2019-11-25 21:13] ardatan commented on #3011
Fragment matcher has code inside so it cannot be `.d.ts`. Could change it to `graphql.ts` without `.d` and try again?

[2019-11-25 21:14] ardatan commented on #3009
`useIndexSignature: true` should be used, right ? @dotansimha

[2019-11-25 21:21] farcasmihai91 commented on #3011
Worked, thanks!

[2019-11-25 22:28] #3011 closed

[2019-11-26 07:15] dotansimha commented on #2976
@roseline124 I think I managed to fix that in this PR: https://github.com/dotansimha/graphql-code-generator/pull/3015

[2019-11-26 14:42] dotansimha commented on #2890
This was already fixed, but in your use case, you are loading the documents on the root level, and it causes validation to run while generating the `./generated/graphql/types.ts` base file.

You should do something like that:

[code]

If it's in the root level, then while running `generated/graphql/types.ts`, it causes it to pass documents (and it's not necessary there, build it checks it anyway b

[2019-11-26 14:42] #2890 closed

[2019-11-26 15:06] vasilak commented on #2890
Hmm, OK, so I have to add it for every task separately.
Sounds good, thanks for looking into it 👍

[2019-11-26 16:59] dotansimha commented on #2916
@cmattick Thanks, fixed this in: https://github.com/dotansimha/graphql-code-generator/pull/3017

[2019-11-26 17:49] andreyvital opened #3018 "Unable to find field "(...)" on type "(...)"!"
I'm getting a lot of:
[code]

With the latest version of @graphql-codegen `near-operation-file`. I wish I could put the schema here, but I can't create a reproducible example right now. I am querying fields that exists on those types....and the weird part is, it's random—if I comment out certain fields, it works.

Right now I am using @1.7.0 and everything seems to be working well, but it'd be nea

[2019-11-27 05:12] MicahChalmer commented on #3009
Yes, `useIndexSignature: true` does get rid of the type error.  Kind of a shame it has to be used, but it does work.  In the case where there's only one or two custom scalars one might prefer the workaround of adding a non-optional signature for only those, to keep typescript enforcing correctness of the resolver names, but with a lot of them that'd get really awkward fast.

[2019-11-27 06:04] dotansimha commented on #2916
Fixed in 1.9.0

[2019-11-27 06:04] #2916 closed

[2019-11-27 06:04] dotansimha commented on #2976
Fixed in 1.9.0

[2019-11-27 06:04] #2976 closed

[2019-11-27 06:04] dotansimha commented on #2973
Available in 1.9.0

[2019-11-27 06:04] #2973 closed

[2019-11-27 06:04] dotansimha commented on #2772
Fixed in 1.9.0

[2019-11-27 06:04] #2772 closed

[2019-11-27 06:04] dotansimha commented on #2985
Fixed in 1.9.0

[2019-11-27 06:04] #2985 closed

[2019-11-27 06:04] dotansimha commented on #2982
Fixed in 1.9.0

[2019-11-27 06:04] #2982 closed

[2019-11-27 06:04] dotansimha commented on #2926
Fixed in 1.9.0

[2019-11-27 06:04] #2926 closed

[2019-11-27 06:05] dotansimha commented on #2869
Available in 1.9.0

[2019-11-27 06:05] #2869 closed

[2019-11-27 06:05] dotansimha commented on #2649
@ardatan is this fixed now?

[2019-11-27 06:05] dotansimha commented on #2912
Fixed in 1.9.0

[2019-11-27 06:05] #2912 closed

[2019-11-27 06:05] dotansimha commented on #2932
Fixed in 1.9.0

[2019-11-27 06:05] dotansimha commented on #2966
Fixed in 1.9.0

[2019-11-27 06:05] #2966 closed

[2019-11-27 06:05] dotansimha commented on #2779
Fixed in 1.9.0

[2019-11-27 06:05] #2779 closed

[2019-11-27 06:05] dotansimha commented on #2899
Fixed in 1.9.0

[2019-11-27 06:05] #2899 closed

[2019-11-27 06:06] dotansimha commented on #2875
Fixed in 1.9.0

[2019-11-27 06:06] #2875 closed

[2019-11-27 06:17] dotansimha commented on #3018
Hi @andreyvital
We really would like to help, but we need a reproduction, and information regarding your queries and schema, and you configuration file.

[2019-11-27 06:18] dotansimha commented on #3009
@MicahChalmer do you think there is a better solution? or something we can improve in the generated code?

[2019-11-27 06:19] dotansimha commented on #2891
Closing for now.
@vasilak feel free to contact us if it's still relevant :)

[2019-11-27 06:19] #2891 closed

[2019-11-27 06:19] dotansimha commented on #2780
Closing.
@msheakoski feel free to update and we can open this again if it's still relevant.

[2019-11-27 06:19] #2780 closed

[2019-11-27 06:20] dotansimha commented on #2817
Closing.
@deser feel free to update and we can open this again if it's still relevant.

[2019-11-27 06:20] #2817 closed

[2019-11-27 06:20] dotansimha commented on #2929
@jsshapiro any update?

[2019-11-27 06:21] dotansimha commented on #2911
@rlindskog ?

[2019-11-27 06:49] yoavain-sundaysky opened #3023 "v1.9.0 not running cli"
I think you forgot a dependency: json-to-pretty-yaml
(Running `npm-ls json-to-pretty-yaml` returns empry)

[code]

[2019-11-27 07:21] jgoux commented on #3023
Same error but for a different dependency :
[code]

[2019-11-27 07:29] rot1024 commented on #3023
[code]

[2019-11-27 07:38] raphrueda opened #3024 "Not all constituents of type 'Resolver<...>' are callable."
**Describe the bug**
I'm in the middle of upgrading from 0.8.2 to 1.8.3 and I'm getting some type issues trying to call a resolver from another resolver.
I'm typing my 'sub' resolvers (which are merged with `merge-graphql-schemas`) with the generated `Resolvers<Context>`. When I want to resolve a field in Resolver A with Resolver B, I get the following TS error when trying to call Resolver B.
[cod

[2019-11-27 08:33] lorefnon commented on #3023
The version that was published in the npm repository differs from the tagged commit for 1.9.0 (https://github.com/dotansimha/graphql-code-generator/releases/tag/v1.9.0)

Inspecting the package.json of what gets installed, it doesn't have the listr dependencies:

[code]

Please republish this version with updated package.json.

[2019-11-27 10:13] dotansimha commented on #3023
You are right, it's related to a change we did in our build system.
@ardatan and @kamilkisiela are taking a look :)

[2019-11-27 10:35] realvikas commented on #3023
I am also getting this error.

[2019-11-27 11:32] hakan0xFF commented on #3023
+1

[2019-11-27 14:25] muzakparov opened #3025 "Error: Cannot find module 'listr-update-renderer' on "version": "1.9.0""
I am getting the following error while just trying to run it:
[code]

I use `yarn` and tried a few times removing `node_modules` and `yarn.lock`. Reinstalling didn't help unfortunately.

[2019-11-27 14:29] muzakparov commented on #3025
duplicate: https://github.com/dotansimha/graphql-code-generator/issues/3023#issuecomment-558963814

closing issue

[2019-11-27 14:29] #3025 closed

[2019-11-27 14:37] chiefGui commented on #3023
People, as @rot1024 mentioned, try this as a workaround while they are investigating—works for me:

[code]

Once they release a patch, just do

[code]

[2019-11-27 15:17] ChrisW-B opened #3027 "Enums that are only undescore do not properly generate types in the Typescript Plugin"
**Describe the bug**
When generating types from an enum such as
[code]
the typescript plugin fails to correctly declare enums, ommiting the solitary underscore, instead generating

[code]
which results in an `Unexpected Token` error

**To Reproduce**
Steps to reproduce the behavior:
- create schema with enum containing value `_`
- use `@graphql-codegen/typescript` to generate a types file
- enum i

[2019-11-27 16:16] ardatan commented on #2649
@Dragons0458
[code]
If you're using canary versions, you shouldn't use `^` and it should be exact version like above.
Could you fix it and try again?

@dotansimha It supposed to be fixed in that canary. Let's wait @Dragons0458 's response

[2019-11-27 16:33] ardatan commented on #3023
Could you try with the following canary version?
`1.9.1-alpha-ca2b8a1c.2`

[2019-11-27 16:38] kripod commented on #3023
It seems to work without flaws. Thank you for the quick fix!

[2019-11-27 17:05] roborich commented on #3023
While running the canary, I get the following error.
[code]

[2019-11-27 17:37] rlindskog commented on #2911
@ardatan is correct. It’s from the introspection query types

Ex.

query {
  __schema {
    queryType {
      name
    }
  }
}

[2019-11-27 18:39] Novalis15 opened #3033 "[Federation] can't generate types when federation config is set to true"
**Describe the bug**
When federation config is set to true, `graphql-codegen --config codegen.yml` results in an error stating, that codegen was unable to merge GraphQL directive "requires" (See picture below).

**To Reproduce**
Get a copy of the [Apollo-Federation-Demo](https://github.com/apollographql/federation-demo) and initialize every service with graphql-codegen. Create a codegen.yml file a

[2019-11-27 19:09] ardatan commented on #3023
@roborich How about `1.9.1-alpha-895dc50c.7+895dc50c`?

[2019-11-27 19:12] ardatan commented on #3024
@raphrueda `resolvers.<TypeName>.<FieldName>` may not be always a function. So typings are correct. It'd better to export reused business logic as a seperate function.

[2019-11-27 19:17] ardatan commented on #3027
`_` is used in snake case like `Snake_Case`. So codegen assumes it is snake cased name. In that case, it'd be better to exclude enums to be pascal cased which is default case in codegen.
https://graphql-code-generator.com/docs/plugins/typescript#usage-example-keep
[code]

[2019-11-27 20:16] fenos commented on #3023
any eta for stable release 1.9.1?

[2019-11-27 20:37] roborich commented on #3023
@ardatan `1.9.1-alpha-895dc50c.7+895dc50c` 👌Thanks! Bing, NY 👊 represent

[2019-11-27 23:16] sergsalo opened #3041 "v1.9.0 fails to find 'listr-update-renderer' module"
Error: Cannot find module 'listr-update-renderer'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.require (internal/modules/cjs/loader.js:692:17)
    at require (internal/modules/cjs/helpers.js:25:18)
    at Object.<anonymous> (/home/vsts/work/1/s/node_modules/@graphql-codegen/cli/bin

[2019-11-27 23:16] #3041 closed

[2019-11-27 23:17] sergsalo commented on #3041
close as duplicate of #3023

[2019-11-28 03:50] raphrueda commented on #3024
Right, so there would be no way to explicitly call a resolver function typed as `Resolver<Context>`? It was convenient having the arguments of the nested resolver typed.

[2019-11-28 08:26] ktalebian opened #3043 "How to define cacheControl"
I'm trying to use the https://github.com/apollographql/apollo-server/tree/master/packages/apollo-cache-control `@cacheControl`; well I want the final schema to have that. If I use

[code]

the codegen throws an error, rightfully so. So how can I define this query to be cachable?

[2019-11-28 09:41] dotansimha commented on #3023
Fixed in 1.9.1 :)
Thanks @ardatan !

[2019-11-28 09:41] #3023 closed

[2019-11-28 09:48] dotansimha commented on #3043
Hi @ktalebian !

If you need to extend your schema with directives, you can declare it in a `.graphql` file and load it with the rest of the schema, the codegen will get it merged so your queries won't throw on those. Similar to the solution with `@client` directive.

I think the `@cacheControl` directive should be defined as following:

[code]

So you can put it in `directives.graphql` file, and

[2019-11-28 09:48] #3043 closed

[2019-11-28 13:25] ArnaudBarre commented on #2926
Sadly when using CLI I still get version 0.6 of graphql-toolkit because of graphql-config. I use yarn resolutions as a temporary solution

[2019-11-28 15:46] marklawlor commented on #2997
The fix has already been published https://github.com/facebook/relay/pull/2934

[2019-11-28 21:29] Dragons0458 commented on #2649
Hello! I just changed the package and the previous error does not happen, now I get the following:
[code]

![imagen](https://user-images.githubusercontent.com/3160847/69832432-8683e900-11eb-11ea-8bdf-71f8175173ac.png)

Do you know why it happens? thanks!

[2019-11-28 22:17] kuncevic opened #3045 "Migrating from 0.18.2 to 1.9.1 Cannot find name '*Variables', '*Query', etc"
**Describe the bug**
Getting app run time errors (ng start):
[code]

**To Reproduce**
[code]

that gets changed in to that:
[code]

and the config that didn't change:
[code]

schema.json:
[schema.txt](https://github.com/dotansimha/graphql-code-generator/files/3903175/schema.txt)

**Expected behavior**
The error should not take place

**Environment:**

Node: 11.15.0
OS: darwin x64
@graphql-codegen/

[2019-11-28 23:03] kuncevic opened #3046 "1.9.1 Duplicate identifiers when using typescirpt plugin"
**Describe the bug**
I just added a typescript plugin and start getting duplicate identifier errors all over the place

Duplicate identifier 'Maybe'
Duplicate enums
Duplicate interfaces

**To Reproduce**
Add Typescript plugin
`yarn add -D @graphql-codegen/typescript`
run codegen

codegen.yaml
[code]

schema.json:
[schema.txt](https://github.com/dotansimha/graphql-code-generator/files/3903175/schem

[2019-11-28 23:37] danilobuerger opened #3047 "schema loading from apollo engine schema registry"
**Is your feature request related to a problem? Please describe.**

Apollo Engine provides a Schema Registry:

https://www.apollographql.com/docs/graph-manager/schema-registry/

It would be nice if the schema could be loaded from there.

**Describe the solution you'd like**

The codegen config could look like:
[code]
which would download from engine the schema from the graph named `id` at variant

[2019-11-28 23:45] kuncevic commented on #3045
Update: due to migration I still had an old packages so by removing packages
"graphql-code-generator": "^0.18.2",
"graphql-codegen-apollo-angular-template": "^0.18.2",
"graphql-codegen-introspection-template": "^0.18.2",
and plugins in config.yaml
[code]
as seems like the generator was being run twice or something, testing now.

[2019-11-28 23:46] kuncevic commented on #3046
related comment: https://github.com/dotansimha/graphql-code-generator/issues/3045#issuecomment-559620196

[2019-11-29 01:55] TikiTDO opened #3048 "Feature: Plugin for generating fragments from schema"
I would like to generate string fragments, similar to what [develomark/graphql-cli-generate-fragments](https://github.com/develomark/graphql-cli-generate-fragments) does, but in a more frequently updated framework.

The use-case is moving from an old REST to a new graphql implementation. The best way I can figure out to do this involves coding a whole lot of fragments by hand, which seems like a w

[2019-11-29 05:26] ardatan commented on #3045
Hi @kuncevic
Did you check migration guide?
You need to remove all those old packages, use new config syntax, new packages under their new names and also you shouldn’t use namespaces. If you still want yo use those, take a look at compability plugin.

[2019-11-29 05:45] ardatan commented on #2649
@Dragons0458 If you export your type definitions from a single file, you can use `schema/index.ts` with ts-node. So, codegen would take all schema from single import.
Or you can let codegen pluck your type definitions from schema files by respecting `gql` tags in your schema files by using glob (you don't need `!` in that case, because it would skip if there is no `gql` tag in the file).
So let's

[2019-11-29 06:47] roseline124 commented on #2976
Thanks!! :)

[2019-11-29 07:39] pixelpax opened #3049 "Add a config option for importing all scalars from a .d.ts file"
**Is your feature request related to a problem? Please describe.**

Somewhat related to #153

I am currently using the ScalarMap solution in the config to add custom scalars. For my workflow, I'm using nominally typed id strings for every table represented in my table (super useful setup because I never accidentally assign a DogId to a PersonId variable by accident).

Currently the best workflow I

[2019-11-29 07:57] kuncevic commented on #3045
I believe I did figure out the issues, so closing that. Just didn't realize that the new and old packages can interfere each other

[2019-11-29 07:57] #3045 closed

[2019-11-29 07:57] #3046 closed

[2019-11-29 12:16] jahudka commented on #2932
Hi, I'm not sure this actually works - or maybe I'm just missing something.. I'm on version 1.9.1. Let's say I have the following structure:

[code]

[code]

[code]

This results in the following line at the beginning of the generated `types.ts`:
[code]

The `User as` bit of the import seems to be somehow lost in translation.. which makes the result quite broken. Any idea what am I doing wrong? Pr

[2019-11-29 13:31] gabrielsch opened #3050 "Unable to find field on near-operation-file plugin"
**Describe the bug**
When upgrading to graphql-code-generator 1.8+, near-operation-file-plugin doesn't work anymore. Even though the other generators (schema, typescript-operations) are still working, I don't know how to describe it better because the error is too generic.

[code]

You can see that it doesn't find the field `author` on type `VendorUser`, but this field doesn't even exist and is no

[2019-11-29 16:37] ahrnee opened #3051 "Provide a simple way to override schema type for a given field, prior to codegen step"
**Is your feature request related to a problem? Please describe.**
My schema has a jsonb scalar fileld type. However, the TypeScript codgen plugin simply resolves this to an `any` TypeScript type. I am looking for a way to provide a custom override type for that field, so that I can get access the JSon contents of that field in a stongly typed way.

**Describe the solution you'd like**
I would lik

[2019-11-29 16:57] ardatan commented on #3050
Could you share a reproduction repo?

[2019-11-30 16:05] MichielDeMey commented on #2932
I'm seeing the same as @jahudka, the result is `import { UserEntity } from '../User`; rather than `import { User as UserEntity } from '../User`. 🤔

[2019-11-30 16:14] MichielDeMey commented on #2932
PR #2957 seems to do the correct job as it's outputting the correct information.
[code]

[2019-12-01 05:54] eddeee888 opened #3052 "[typescript-resolvers] Custom field level contextType"
**Is your feature request related to a problem? Please describe.**

I am using a directive to handle viewer authentication. This directive is attached to fields that require viewer authentication check so I don't have to do the same check in every resolver. If the viewer object does not exist in context, I throw an error.

This means by the time it gets to the resolver, the `viewer` in my context

[2019-12-01 11:22] hannesj commented on #2932
Fixed in https://github.com/dotansimha/graphql-code-generator/pull/3054

[2019-12-01 14:36] reinvanimschoot opened #3057 "Fragment in schema stitched resolver is not reflected in parent type"
**Describe the bug**

When providing a resolver with schema stitching, the fragment has no influence on the type of the parent field. In other words, even though a field was specifically declared in the fragment, it is not added as part of the parent type.

**To Reproduce**
Steps to reproduce the behaviour:

![Screenshot 2019-12-01 at 15 33 05](https://user-images.githubusercontent.com/35171567/69

[2019-12-01 23:54] msheakoski opened #3058 "gql not parsed when filename contains [brackets] used in Next.js dynamic routing"
**Describe the bug**
gql tags are not parsed by graphql-code-generator when they are located in files or directories that use [Next.js's dynamic filesystem routing conventions](https://nextjs.org/docs#dynamic-routing) such as `pages/[directory]/[mypage].tsx` (basically path contains brackets)

**To Reproduce**
1. create a file `src/pages/[directory]/[mypage].tsx`
2. add a simple query such as
[cod

[2019-12-02 05:46] KieranHarper opened #3060 "Nested object in fragment unexpectedly not optional"
**Describe the bug**
I have an entity that has optional entities as fields, and this is reflected in the type generated for that entity. However if I use a fragment to query, then the type generated for the fragment loses the ? and no longer matches.

Unless I'm misunderstanding something, I would expect a fragment that fully specifies all the fields of an entity to exactly match the type generate

[2019-12-02 07:01] dotansimha commented on #3018
@andreyvital ?

[2019-12-02 07:02] dotansimha commented on #2974
@kettanaito ?

[2019-12-02 07:02] dotansimha commented on #2929
@jsshapiro ?

[2019-12-02 07:04] dotansimha commented on #3058
@msheakoski where does `gql` coming from when you use next.js?
We are using `graphql-tag-pluck` which knows how to pluck operations, but it's not supporting all use cases by default (you can change it with `pluckConfig`).

[2019-12-02 07:09] dotansimha commented on #3050
@gabrielsch ?

[2019-12-02 07:10] dotansimha commented on #3051
@ahrnee just overriding the field doesn't work?
redeclare it in a `.graphql` file and add it to your `schema:`, i think it should override the field type.

[2019-12-02 07:11] dotansimha commented on #3049
@pixelpax We can use the parseMapper for scalars as well, it should solve this and handle those imports automatically.

[2019-12-02 07:12] dotansimha commented on #3047
@kamilkisiela we can create a new loader in graphql-toolkit for this?

[2019-12-02 07:14] dotansimha commented on #3024
@raphrueda If you are not really using schema stitching, set `noSchemaStitching: true` in your config file.

[2019-12-02 07:15] dotansimha commented on #3027
@ardatan is right, it's just a matter of configuration.

[2019-12-02 07:15] #3027 closed

[2019-12-02 09:21] matepapp commented on #2996
we're facing the same issue with fragments 😞

[2019-12-02 10:02] msheakoski commented on #3058
I am importing gql from graphql-tag. My current workflow each time I need to run graphql-code-generator is to rename the dirs/files to remove brackets, run graphql-code-generator, and rename them back, adding the brackets again.

[2019-12-02 10:31] kettanaito commented on #2974
Thank you for the suggestion, @dotansimha. Please, give me a little time to verify that. I need to solve a few other things before getting to that project. Will update this issue with the results of my verification.

[2019-12-02 11:37] purge opened #3062 "typescript-urql produces invalid type for subscription handler param"
**Describe the bug**
typescript-urql produces invalid type for subscriptions handler

**To Reproduce**
See a minimal reproduction in this sandbox (types.ts):

https://codesandbox.io/s/graphql-codegen-issue-template-xg9lq?fontsize=14&hidenavigation=1&theme=dark

[2019-12-02 12:10] andreyvital commented on #3018
@dotansimha I'll try to create a reproducible example later. Sorry for the delay

[2019-12-02 12:10] gabrielsch commented on #3050
I'll see if I can do that, the project is large and I don't know what exactly is causing this issue.

And this is a commercial project so I can't share the entire repo.

[2019-12-02 12:54] zerocity opened #3063 "Generation of Duplicated Fragments in nested fragments"
Hi , i get several errors of  "There can be only one fragment named ..." on the Client Side(Apollo).

On this example  below it would be "There can be only one fragment named uptimeMeasurements"

Problem

The Group will import "PublicUptimeMeasurementsFragmentDoc" and the Component which could be a child of the group.

The generated Fragments look like this

[code]

i am using version of 1.9.1
[co

[2019-12-02 13:58] ahrnee commented on #3051
@dotansimha - thanks for your response, but that doesn't seem to work in my case. I get the following error:

[code]

**Some Futher Details:**
- Im using the [Hasura GraphQL engine](https://github.com/hasura/graphql-engine), which always results in a "jsonb" scalar for all jsonb field types
- I have a client .graphql where I tried to redeclare the field type

**Sidenote**
I also have a [feature-re

[2019-12-02 16:15] CodeWitchBella opened #3064 "Does not work with nested fragments where one cannot match"
**Describe the bug**
When I have fragment which includes nested `... on Type` in it and use that fragment on type which does not implement `Type` codegen crashes.

**To Reproduce**
Steps to reproduce the behavior:

https://codesandbox.io/s/graphql-codegen-issue-template-57mxc

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected beh

[2019-12-02 16:18] SirensOfTitan commented on #3058
Seeing this too, looks like a regression as of the 1.9.x branch.  We're using `graphql-tag`, and the codegen on 1.9.1 (and 1.9.0) removes all of our queries in files with brackets in their name, e.g. `[tag].tsx`.

[2019-12-02 17:10] ChrisLahaye commented on #2731
@chemoish I encounter the same problem, how did you fix it?

[2019-12-02 18:39] msheakoski commented on #3058
Here is a CodeSandbox reproduction of the issue:

[![Edit graphql-code-generator](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/graphql-code-generator-el71s?fontsize=14&hidenavigation=1&theme=dark)

After running `yarn graphql-codegen`, the only hook that appears in `hooks-generated.tsx` is `useThisWorks` based on the query located in `pages/works/it-works.tsx`.

[2019-12-02 18:55] willtrking opened #3066 "Fragment not imported in query when also imported in different fragment"
When a query imports a fragment that imports another fragment which is also imported by the query, that common fragment is not always imported by the generated code.

For example:

Common Fragment
[code]

Fragment One
[code]

Query
[code]

In the above case, `CommonFragment` is NOT imported by the generated code for `MyQuery`

HOWEVER if instead the fragments are included in a different order, as

[2019-12-02 21:20] david-golightly-leapyear commented on #2869
It's nice that this change is forward-thinking, however, upgrading to 1.9.1 broke my codegen and I had to override using the config mentioned by @ardatan to point back to the current version of Apollo Client.

I don't think it's a good policy for a production library to automatically depend on a beta release of another library. Until apollo-client 3 is officially released, I would suggest the defa

[2019-12-03 06:21] ardatan commented on #2911
@rlindskog I think `graphql.js` itself doesn't have introspection type definitions in `GraphQLSchema` object intentionally. As described in here;
https://github.com/graphql/graphql-js/issues/73#issuecomment-206712151

However, you can let codegen know about them by adding those type definitions into the `schema` field in your `codegen.yml`;
https://github.com/graphql/graphql-spec/blob/master/spec/

[2019-12-03 06:42] dotansimha commented on #2911
@ardatan I think it's a good workaround :)

[2019-12-03 08:27] chemoish commented on #2731
@ChrisLahaye I don't use `extend` so that is my work around.

[2019-12-03 09:14] ChrisLahaye commented on #2731
@chemoish How do you split your Query and Mutation over multiple files?

[2019-12-03 11:01] lanwin opened #3071 "Add documentMode=source"
I currently playing around with graphql-tag and graphql-tag.macro and ask myself. Why isnt there a
documentMode=source. This way I could completely remove graphql as client dependency.

I experimented with documentMode=documentNode but other then graphql-tag it did not generate a source property.

Rather I ask myself, why we need the documentNode? I only need the source to execute the query not th

[2019-12-03 11:13] lanwin commented on #3063
I am suffering from the same problem and did not find a good solution yet. It seems to make no difference if I use graphql-tag.macro or graphql-tag.

[2019-12-03 14:33] disintegrator opened #3072 "Add option to disable types for query arguments"
**Is your feature request related to a problem? Please describe.**

We use graphql-code-generator with GatsbyJS to generate types from our GraphQL schema. The generated file is _huge_ with around 256000 lines of code. Most of this code is due to the generator creating types for query args (there aren't mutations in Gatsby).
Problem: The size of this file and the volume of types it exports causes V

[2019-12-03 14:49] disintegrator commented on #3072
I figured out I can remove `@graphql-codegen/typescript` from my codegen config and it does what I want mostly job but the generated file is missing `Maybe` and `Scalar` and I also need to add `preResolveTypes` because types generated from fragments inside of node_modules aren't copied into the generated file.

[code]

[2019-12-03 19:46] mikebm opened #3074 "Support Client Generation Only"
Prior to version 1.0, you could use the following plugins to only generate client side.
[code]
Now, you must use:
[code]
The problem with this is `typescript` adds server side types that do not match up with the client side queries. This can make it confusing for developers and thus they start importing these server types and referencing fields that were not defined in the query.

It would be supe

[2019-12-03 21:00] mikebm commented on #2832
I am really quite disappointed with the 1.0 release of this project. It removed a lot of what made this tool better than the rest.  You could separate client and server types, have namespaces that made the Query response types easy to get at. typescript-compatibility helps, sure, but it sounds temporary and not a long term solution. It is also riddled with bugs around around fragments. We previous

[2019-12-03 23:06] ardatan commented on #3074
`Pick` is used to pick used fields in queries, schema types are not used exactly. `typescript` package itself generates typings of schema types to be reused in operation typings. Typings of schema doesn't mean server-side types. We have `resolvers` package for server-side implementation. `typescript` package generates schema types for both client and server-side types. You can see how it works in

[2019-12-03 23:06] #3074 closed

[2019-12-03 23:17] ardatan commented on #2832
Sure you should seperate client-side and server-side code generation and we already have separated packages for those two purposes. `typescript-compatibility` is just there to help you in migration process not for the long term usage. If you catch bugs on it, you are free to open a new issue and submit a PR that fixes the issue (this would make us happier). I don't agree with you about using fragm

[2019-12-04 08:42] lanwin commented on #3063
@zerocity seems to be a bug in graphql-tag. I added a pullrequest there https://github.com/apollographql/graphql-tag/pull/278

[2019-12-04 12:57] JClackett commented on #3058
Can also confirm this happens with my Next.js project when query is in /[name].tsx files!

[2019-12-04 15:06] mikebm commented on #3074
Pick had to be turned off in my case, because when used with compatibility, everything was Maybe, which is not what ideal. When I define them as server types, it is because most of the types (excluding inputs), are more representative of the complete schema type. This causes confusion when importing types.

For example, we have a cart schema that exposes 14 properties. We have 2 queries, one of th

[2019-12-04 15:18] mikebm commented on #2832
With the new response and recommendations and when the majority of your responses are passed around as props, then it requires you to turn everything into a fragment. The other issue with fragments is it can re-introduce is it encourages, any time you need access to a new property, you add it to the fragment, where as not all areas using the fragment need access to this. In cases where you aren't

[2019-12-04 21:06] ardatan commented on #3052
@eddeee888 The solution with codegen.yml looks better :) PRs are welcome

[2019-12-05 09:49] tobias-kuendig opened #3080 "Minor naming inconsistency"
Given the following query:

[code]

using this config:

[code]

The following types are generated:

[code]

It seems like the `query` uses a postfix `TreeQuery` where the arguments use a prefix `QuerySystemTreeArgs`.

It would be nice if this naming schema was the same both times:

[code]

Is this configurable?

[2019-12-05 10:37] #3063 closed

[2019-12-05 10:46] jonaskello opened #3081 "[typescript-resolvers] immutableTypes=true generates Array instead of ReadonlyArray"
**Describe the bug**
Using typescript-resolvers plugin to generate resolvers will generate code with `Array` instead of `ReadonlyArray` within `ResolversParentTypes` type.

**To Reproduce**
Steps to reproduce the behavior:

[code]

Generates this code:
[code]

Notice how `Array` is used in `childRows: Array<ResolversParentTypes['ProductTableRow']`.

**Expected behavior**
The generated code should

[2019-12-05 12:54] eddeee888 commented on #3052
@ardatan Please have a look at https://github.com/dotansimha/graphql-code-generator/pull/3082 . Thanks! 🙏

[2019-12-05 17:07] msheakoski commented on #3058
@dotansimha I am not 100% positive since I am not familiar with the internals, but I think maybe it is this commit ardatan/graphql-toolkit@6d99f92 where `glob` was switched to `globby`. affecting [file-scanner.ts](https://github.com/ardatan/graphql-toolkit/commit/6d99f92441c436ecbebc98270bff89b6c82c27d3#diff-dd23da73301e6a7aeb6e42892a935fba)

[2019-12-05 17:11] msheakoski commented on #3058
I just found more evidence to back up my theory: [Globby skips folder with symbols in it's name](https://github.com/sindresorhus/globby/issues/81)

[2019-12-05 22:37] Dragons0458 commented on #2649
Hello! sorry for the delay, it's a very good idea, but I have a question ... if what returns index.ts is an array of gql, how do I get graphql-code-generator to interpret it? thanks!

This is the index.ts file:
[code]

When creating the client, I import this array so that I can visualize my local scheme with the Apollo DevTools plugin.

At the moment I have been working with the following file:
[c

[2019-12-05 23:28] ardatan commented on #2649
Schema loader can understand `gql` tags so you don't need `require: ts-node/register` at all. Also;
What if `./src/app/graphql/schemas/**/*.ts`? Schema loader would ignore `index.ts` in that case. If not, you can pass `noRequire: true` with no `require: ts-node/register` like below;
[code]

[2019-12-05 23:35] Dragons0458 commented on #2649
Thank you very much! In the end the file looked like this:

[code]

[2019-12-05 23:50] #2649 closed

[2019-12-06 01:12] jdwolk opened #3084 "How to specify types for nested `Maybe`s in generated query types?"
(This is basically the same as https://github.com/dotansimha/graphql-code-generator/issues/713#issuecomment-474884827)

When accessing nested generated query types I'm not sure how to specify types wrapped behind `Maybe`. Per  the comment in ^, the suggested solution was nested type access a la `MyType['fieldA']['fieldB']` but this doesn't seem to work for `Maybe`.

I know in Haskell / other typed

[2019-12-06 03:48] ardatan commented on #3084
@jdwolk How does `Maybe` affect this? Could you explain it more with an example? Maybe a reproduction with codesandbox?

[2019-12-06 05:31] kuncevic commented on #1933
Is there anyway to pass the Authorization key from command line?

[2019-12-06 05:44] ardatan commented on #1933
You can use env variables @kuncevic

[2019-12-06 07:09] Otard95 commented on #3033
+1
OS: Ubuntu 18.04.3 LTS
Same config, same versions, same output.

[2019-12-06 07:42] ardatan commented on #3033
@Otard95 @Novalis15 Could you remove `federation: true` and try again?

[2019-12-06 07:45] ardatan commented on #3052
@eddeee888 Merged! Thank you!

[2019-12-06 08:08] Otard95 commented on #3033
Removing `federation: true` it runs like a charm. However After testing the demo provided and seeing that is worked, it possible my issue has a different source. I'll investigate and get back to you.

[2019-12-06 08:16] eddeee888 commented on #3052
Awesome!! 🙏

![giphy](https://user-images.githubusercontent.com/33769523/70307216-c63a7880-185c-11ea-8d90-19da0fa66ae6.gif)

[2019-12-06 08:43] ardatan commented on #3057
@reinvanimschoot Could you share your `Comment` type?

[2019-12-06 08:46] ardatan commented on #3033
@Otard95 In that case, you wouldn't get correct typings for resolvers. Until it gets fixed, I recommend to point actual schema files instead of URL endpoint.

[2019-12-06 09:33] Otard95 commented on #3033
[code]
Does seem to do the trick.

[2019-12-06 11:49] kuncevic commented on #1933
can you elaborate more on that?
and here is more input - I have npm script:
[code]

my `introspect.yml` contain an Authorization token
`Authorization: "Bearer xyz..."`

So, I want somehow to pass that token trough the npm script instead having that hard coded in my  `introspect.yml` file

[2019-12-06 12:15] msheakoski commented on #3058
@ardatan Adding you to the issue since you made the change and have a better understanding of the codebase. Do you think this is likely the cause?

[2019-12-06 20:59] testarossaaaaa commented on #3084
It works:
<img width="480" alt="image" src="https://user-images.githubusercontent.com/4533828/70355900-43c5af00-1884-11ea-953c-193baa9fc68f.png">

But this is not:
<img width="991" alt="image" src="https://user-images.githubusercontent.com/4533828/70355938-55a75200-1884-11ea-8072-f61433401164.png">

It is a generated types:
[code]

[2019-12-06 21:45] ardatan commented on #1933
I mean combining these two;
https://graphql-code-generator.com/docs/getting-started/codegen-config#environment-variables
and
https://graphql-code-generator.com/docs/getting-started/schema-field#url
[code]

So you can pass authentication token using env variables like;
[code]

[2019-12-06 22:11] jdwolk commented on #3084
Thanks for coming up w/ the example @testarossaaaaa :pray:

So is the answer just "use `NonNullable` everywhere you need to specify types that might be hidden behind `Maybe`?

If so that seems sort disingenuous since, well...it's `Maybe` so it _might_ actually be `null` (depending on how you define `Maybe` - looks like `graphql-code-generator` defines it in terms of `null`)

[2019-12-06 22:25] ardatan commented on #3084
@jdwolk You can use fragments to have seperate types or `avoidOptionals` setting to get rid of `Maybe`.

[2019-12-06 22:56] jdwolk commented on #3084
Thanks for the suggestions @ardatan, I'll take a look at them and see if they work

[2019-12-06 23:01] ardatan commented on #3047
@danilobuerger Could you try with the following version?
`1.9.2-alpha-6a0f647a.11+6a0f647a`

The configuration should be like below;
[code]

[2019-12-06 23:05] danilobuerger commented on #3047
@ardatan Sure will give it a try and report back.

However, I think it's a really bad idea to put the api key in the codegen config. People will check it in and then leak it everywhere. This should really be an environment variable.

[2019-12-06 23:06] ardatan commented on #3047
@danilobuerger You can pass it as environmental variable;
[code]
So API_KEY would be coming from env variable.

[2019-12-06 23:09] danilobuerger commented on #3047
I didn't know that that was possible, thanks for pointing it out! For future reference, its also documented here: https://graphql-code-generator.com/docs/getting-started/codegen-config#environment-variables

[2019-12-06 23:28] danilobuerger commented on #3047
@ardatan Yup, works on my machine. Thanks a lot for all the hard work!

[2019-12-06 23:37] ardatan commented on #3047
@danilobuerger  Great! Thank you for pointing out the code in the apollo-language-server. So it helped a lot while implementing this feature :)

[2019-12-07 00:39] jdwolk commented on #3084
Looking at `avoidOptionals`, it doesn't solve my problem because the underlying values are still `Maybe`s. Even though TS doesn't treat the values as optionals you still have to "go through" the `Maybe` somehow to get to the actual type.

Looking into using more fine-grained fragments next.

[2019-12-07 00:42] kuncevic commented on #1933
@ardatan great, thanks for your help!

[2019-12-07 01:11] seyaobey opened #3088 "missing types when using typescript-react-apollo"
**Describe the bug**
Please help me solve this issue so I can convince my team and my managers to adopt your tool (which is amazing by the way) and graphql in general -big fan here!

1. In my code, I have setup a `codegen.yml` to configure the generation of react components from my schema.

2. I run the package.json script `yarn schema`, where:
`"schema": "graphql-codegen --config codegen.yml"` (`

[2019-12-07 01:26] maclockard commented on #1219
@dotansimha that was a really good run down that helped cemented my understanding a lot more of how to properly use `typescript-resolvers`. I think it would be a really good thing to add to the documentation.

[2019-12-07 01:34] jdwolk commented on #3084
OK so here's the example I'm working with. I also set `preResolveTypes: true` in `codegen.yml`.

Generated types:

<img width="659" alt="Screen Shot 2019-12-06 at 5 25 25 PM" src="https://user-images.githubusercontent.com/117333/70366613-7c966180-184d-11ea-9df0-491ad151f3e6.png">

And here's the code:

[code]

This _works_ (i.e. now we only have to deal with the `Maybe` at the value level, not rea

[2019-12-07 09:41] andreialecu commented on #1617
I think this should be reopened, just stumbled upon the same issue with `"target": "es2015"`.

However, I cannot change my target without breaking other things in the project, as it is a fairly big one.

This issue should be more visible.

[2019-12-07 10:04] andreialecu commented on #1617
Ok, upgrading to Angular 8 actually did fix this. I was on Angular 7 before.

[2019-12-07 11:52] seyaobey commented on #3088
Sorry to have bothered you. I have found the solution by correctly writing my `codegen.yml` file
[code]

[2019-12-07 11:52] #3088 closed

[2019-12-07 14:28] shd101wyy commented on #3062
Yeah I encountered the same problem. Any solutions? Thanks in advance.

[2019-12-07 17:05] alexkirsz opened #3090 "[typescript-operations] Missing typings"
**Describe the bug**

When importing the `@graphql-codegen/typescript-operations` module with `ts-node`, I'm getting the following error:
[code]

It looks like the `typings.d.ts` file referred to in the `package.json` of the module is not properly generated.

**To Reproduce**

Example sandbox:
https://codesandbox.io/s/vibrant-brahmagupta-w2pxy?fontsize=14&hidenavigation=1&theme=dark

You can see t

[2019-12-07 17:37] micimize opened #3091 "Make near-operation-file language agnostic"
**Problem**
I want to use `near-operation-file` for dart type generation, but `baseTypesPath` generates a js-specific import.

**Solution**
It could be made language agnostic by offering an `importTemplateString` config that could look something like
[code]

[2019-12-07 20:17] ardatan commented on #3084
Currently that's not possible to generate types for each nested field. We used to have this feature but it didn't work well because of the duplicate names etc.
I'm sorry for misleading about `avoidOptionals`. There is another option called `maybeValue` so you can configure the value of `Maybe`. In your case, you can just have;
[code]
instead of `T | null` which is default value.

[2019-12-08 01:17] Flos commented on #583
My solution right now is to remove the "@aws*" directives with the cli using "sed".

[code]

I placed that command in the API update script and I don't have to worry about unknown directives  anymore.

[2019-12-08 13:14] bbugh commented on #1539
Hi! 👋I've been wanting support for this because we define our constants with `gql` inside of our SFC `script` tags. I looked into how to parse a SFC file and it's very easy using `vue-template-compiler`:

[code]

I looked at the source and it looks like all `DocumentFile` loading happens via `@graphql-toolkit/<plugin>` here:

https://github.com/dotansimha/graphql-code-generator/blob/877a6777b96bd6

[2019-12-08 18:08] bbugh commented on #1539
I tracked down the issue and it was easier than expected to fix, I made an upstream PR ardatan/graphql-toolkit#358.

[2019-12-09 00:33] erichiller commented on #2966
This seems to have broken all _withX_ wrapping HOCs for me. Possibly I am using them wrong. Everything had been working on 1.8.3, and now if I go into the generated typings and change the `|` back to a `&` everything compiles again correctly. Since the type has been changed to an intersection, I can not pass in props for the child of the _withX_ function.

Example usage:
[example](https://github.c

[2019-12-09 04:18] stephenh opened #3093 "Add explicit types for resolver parent types"
Currently it looks like the resolvers generator relies on applying `mapper`-based transforms via an inline mapped type to the standard typescript plugin types.

I.e. if I have a `Project` type with `client: Client` field, and use a mapper to map `Client`'s parent type to say `DbClient`, then the `ResolversObject` ends up looking like:

[code]

Where `ResolversTypes["Client"]` is the `DbClient` as

[2019-12-09 08:03] dotansimha commented on #3091
You are right, we should do that :)
Which plugin are you trying to use with that?

[2019-12-09 10:25] Akryum opened #3094 "__resolveType should be optional in interface resolvers"
**Describe the bug**

Currently, `Resolvers` interface for GraphQL Interface types requires the `__resolveType` resolver to be defined. This is an issue in any project that split resolvers in multiple files: `__resolveType` doesn't need to be implemented each time a resolvers object is declared for the GraphQL Interface.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[c

[2019-12-09 13:46] Novalis15 commented on #3033
As @Otard95 mentioned above, referencing the schema directly let graphql-codegen generate types:

[code]

with schema.ts being:
[code]

[2019-12-09 18:05] micimize commented on #3091
@dotansimha I'm reworking [graphql-to-dart](https://github.com/micimize/graphql-to-dart) to work via `near-operation-file`

[2019-12-09 18:48] micimize commented on #3091
We could use a simple template interpolation helper:
[code]

[2019-12-09 23:10] jdwolk commented on #3084
Don't think that will work in my case unless I'm misunderstanding something. Encoding `Maybe` like that doesn't really match up w/ reality, ie it's saying you'll always get the underlying `T`

[2019-12-10 00:34] carlosherrera1113 opened #3101 "Unexpected TS error on generated hook"
**Describe the bug**
Having an issue with the generated hook. I should be able to pass to the hook the necessary options as arguments as described [here](https://www.apollographql.com/docs/react/api/react-hooks/#options-2). However, typescript is throwing the error:  Expected 0-1 arguments, but got 2. ts(2554).

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml`

[2019-12-10 08:48] lookfirst commented on #2869
@dotansimha

I don't even have a dependency on `@apollo/client` in my package.json, so now my build is broken.

I'm using `apollo-boost` per the [documentation](https://www.apollographql.com/docs/react/get-started/).

The diff for the latest codegen is this:

![image](https://user-images.githubusercontent.com/85355/70513535-685fa680-1b64-11ea-886d-1f7d40eb1ca4.png)

[2019-12-10 08:59] ardatan commented on #2869
As you can see in the visitor implementation, the default version setting is already v2 so it shouldn't break your project.

[2019-12-10 12:43] dotansimha commented on #2731
@ChrisLahaye Just put your schema SDL definitions in multiple `.graphql` files, and use glob expression to tell the codegen where to find it (`./**/*.graphql`).

[2019-12-10 15:30] andreialecu opened #3102 "ts1005 error with declarationKind: class"
[code]
Results in classes being generated with commas instead of semicolons at end of lines, resulting in TypeScript compilation errors: `TS1005: ';' expected`

As a concrete example:

[code]

[2019-12-10 16:33] zamiang commented on #2966
@erichiller just came here to report the same issue. Have you created a new issue with that repro?

[2019-12-10 19:26] stephenh commented on #3093
Ah, nevermind, I see the `ResolverParentTypes["Client"]` is exactly what I want.

I think pedantically I would have found that easier if `ResolversTypes` used the `ResolverParentTypes` instead of re-defining the same inline type.

Would that be an okay change? I would probably figure out a PR for that if that's okay.

[2019-12-10 22:08] ChrisLahaye commented on #2731
@dotansimha but in that case I will need to define my Query and Mutation type in a single file, unless I use extend?

[2019-12-11 13:05] LTMXcitrus opened #3105 "import-types-preset prefixes all types (react-apollo)"
**Describe the bug**

It clearly seems to be related to https://github.com/dotansimha/graphql-code-generator/issues/2742. But as the OP says it should be resolved, I made the decision to create a new issue.

When I migrate from 1.7.0 to 1.9.1, all types in the generated graphql.tsx are prefixed with the 'Types' (default value of presetConfig.importTypesNamespace).

Before, only my own types were p

[2019-12-11 14:58] mgustus opened #3106 "import-types-preset doesn't work with typescript-resolvers plugin"
**Describe the bug**
When using `import-types` with `typescript-resolvers` plugin, the corresponding `Types` import is created in the generated file, but the imported variable is never used.

**To Reproduce**

Reproduced here:
https://codesandbox.io/s/mik-graphql-codegen-issue-template-wdr7w

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

[2019-12-11 20:27] micimize commented on #3091
Hacking around this with `add` for now
[code]

[2019-12-11 21:13] micimize commented on #3091
Actually that doesn't work for fragments, which will need other configurations also. Am going to fork and see what I can do

[2019-12-12 06:15] Albert-Gao commented on #2043
The issue for me is the `init` command added 3 packages which version is '0.0.0', updated the fields solved it,,

[2019-12-12 12:05] borekb opened #3108 "[Plugin Request] Export default values of input types?"
I have an input type that has default values expressed in the schema:

[code]

Do you think it would be possible to somehow make the values `10` and `0` be part of the generated code? Currently, I have a duplication between my schema and my code which I'd like to avoid.

I'm aware that currently, only _types_ are exported from the generated TypeScript file while this would be something different.

[2019-12-12 14:19] rynti commented on #3106
I would also like to have this behavior. It would allow me to have the basic GraphQL types shared between client and server, and make separate files for the resolvers and operations that are only available on the server and client, respectively, while still having one shared core types file.

[2019-12-12 23:05] flybayer commented on #1133
For anyone else who lands here and `useIndexSignature: true` isn't working — you have to kill the codegen server and restart it. The config hot reload doesn't work for this.

[2019-12-13 00:33] cranberyxl opened #3112 "[typescript-resolvers] Allow resolvers to return lazy parameters or promises"
**Is your feature request related to a problem? Please describe.**
I use a relay connection style in my schema. I have a single method that builds the connection fields, but returns them as functions like:

[code]
Unfortunately, the Resolver type expects them to be json or a promise returning json.

**Describe the solution you'd like**
I'd like to find a way that all of the fields can resolve as j

[2019-12-13 09:36] jorrit commented on #2642
I got this same issue when I accidently installed `graphql-codegen` instead of `@graphql-codegen/cli`.

[2019-12-13 15:23] wollerman opened #3113 "Optional but not nullable in query"
I'm using typescript-operations and typescript-apollo-angular to generate types and services. I am trying to run a simple query that returns a subset of fields from my graphql schema; however, Angular fails to compile because the returned query doesn't contain all of the properties.

Following the example from https://graphql-code-generator.com/docs/plugins/typescript-apollo-angular I have a table

[2019-12-13 15:28] wollerman commented on #3113
Actually, I realize I was too focused on the type and I effectively said the solution in my question. So for posterity: simply wrap the type in Partial. e.g. ` feed: Observable<Partial<Feed>[]>;`

[2019-12-13 15:28] #3113 closed

[2019-12-13 21:06] damianfrizzi opened #3117 "Unknown directives with typescript-mongodb and typescript-react-apollo"
**Describe the bug**
When generating multiple files I can't use the `typescript-mongodb` together with `typescript-operations` / `typescript-react-apollo` plugin. Either you'll have missing directives or run into the error `typescript-mongodb` requires extension to be `.ts`!

**To Reproduce**
Steps to reproduce the behavior:
- Run the config file below with any documents and schema (containing at

[2019-12-14 18:59] s-h-a-d-o-w opened #3118 "Yarn workspaces: Fix dependency resolution or document "nohoist""
**Describe the bug**
Dependency resolution doesn't seem to work correctly when using yarn workspaces:
[code]

**To Reproduce**
Steps to reproduce the behavior:

- Clone the following minimal repro
- Install dependencies
- Run `yarn generate` in `packages/graphql`

https://github.com/s-h-a-d-o-w/repro-codegen-workspaces

**Expected behavior**
Can run the script without errors.

**Additional context

[2019-12-14 21:12] ardatan commented on #3101
You shouldn't pass the query itself because generated hook already has it.

`const [postMutation] = usePostMutation({ onCompleted: () => history.push('./') });`

[2019-12-15 11:34] lednhatkhanh commented on #1254
Really excited to this happening

[2019-12-15 17:26] judehunter opened #3121 "Wrong typings for React Hooks"
**Describe the bug**
`baseOptions: ReactApolloHooks.QueryHookOptions<PersonQueryVariable>` (described bellow) has wrong type parameters. Intellisense shows that the first parameter for `QueryHookOptions` is `TData` and the second one is `TVariables`
Obviously, the first parameter should be the query type:
[code]

**Reproduce:**
Given a query:
[code]
The following types are generated:
[code]

Intel

[2019-12-16 06:41] lednhatkhanh commented on #1089
@dotansimha I still got `IResolvers` and `IDirectiveResolvers` in the generated file in `@graphql-codegen/typescript@1.0.0`, also empty type with Generic will make tsc failed to compile when `strict:true`:

![image](https://user-images.githubusercontent.com/9303093/70884883-cb8c8580-2009-11ea-95ae-ce7963412252.png)

[2019-12-16 06:49] dotansimha commented on #1089
@lednhatkhanh please use the latest version of the codegen.

[2019-12-16 06:53] lednhatkhanh commented on #1089
I'm using version: 1.9.1 of the CLI:

[code]

[2019-12-16 06:56] dotansimha commented on #3062
Thanks for reporting this @purge . We'll take a look.

[2019-12-16 06:58] lednhatkhanh commented on #1089
Oh, so the CLI installs the old version of plugins, upgraded them to latest version fixes the problem, thank you, maybe someone should make a PR to upgrade the cli to install latest available version of plugins.

[2019-12-16 07:44] dotansimha commented on #1089
@lednhatkhanh 1.9.1 is the correct latest version, all plugins should use the same. How did you get the dependencies? using `init` command?

[2019-12-16 07:52] lednhatkhanh commented on #1089
@dotansimha Yes I used the `init` command and it installed version 1.0 of the plugins

[2019-12-16 07:55] dotansimha commented on #3062
@shd101wyy @purge
I think I managed to fix that in: https://github.com/dotansimha/graphql-code-generator/pull/3122

Can you please give it a try with the following alpha? `1.9.2-alpha-72d88dde.40`

[2019-12-16 08:00] dotansimha commented on #3090
You are right, @alexkirsz , the `typings` and `typescript` keys are missing in `package.json` while building the bundled artifact.
@kamilkisiela I think this issue is related to `bob`, can you please take a look?

[2019-12-16 08:26] dotansimha commented on #3094
@Akryum I added this in this PR: https://github.com/dotansimha/graphql-code-generator/pull/3123

Can you please try the alpha version? `1.9.2-alpha-976a8ac6.41`
You should be able to set now `optionalResolveType: true` in your config, and it will generate `__resolveType` as optional field for both `union` and `interface` resolvers.

[2019-12-16 08:52] dotansimha commented on #3093
@stephenh Sounds good, it makes sense to reuse those types.

[2019-12-16 08:54] dotansimha commented on #3108
Sounds like it could be a new plugin :) PRs are welcome!

[2019-12-16 08:56] dotansimha commented on #3112
@cranberyxl You can use `defaultMapper` for that: https://graphql-code-generator.com/docs/plugins/typescript-resolvers#defaultmapper-string

[2019-12-16 08:58] dotansimha commented on #3101
As @ardatan said, you don't need to pass the actual GraphQL operation to the generated hook, because the Codegen does that for you, and adds type-safety.

[2019-12-16 08:58] #3101 closed

[2019-12-16 09:01] ardatan commented on #3112
@cranberyxl You mean providing custom `return` and `parent` types or providing factory functions of that type.
For example you have `User` like below in your schema;
[code]
and the resolvers are likebelow;
[code]

Is that what you asked or something else?

[2019-12-16 09:01] dotansimha commented on #3080
@tobias-kuendig you are right, it was an issue before, and it's customizable at the moment, mostly because other plugins might use those types.

We are not changing it because it will cause a breaking change for all current users.

Keeping open, maybe in the future we'll fix it / allow to customize

[2019-12-16 11:50] dotansimha commented on #1089
I see, thanks @lednhatkhanh , we'll take a look :)

[2019-12-16 11:52] dotansimha commented on #3090
Fixed by @kamilkisiela and @ardatan in `bob` :)

[2019-12-16 11:56] dotansimha commented on #3072
@disintegrator The generated output should reflect your needs and usage, so if you are pointing to a huge schema file, you'll get a huge output. I know it's not ideal, but workarounds for that might cause other issues because other plugins might depend on those types.

You solution might do the trick because `preResolveTypes` solves this issue by making sure that it uses the primitive types of TS

[2019-12-16 12:09] dotansimha commented on #3066
@willtrking can you please share you codegen config file? do you use presets?

[2019-12-16 12:37] disintegrator commented on #3072
@dotansimha Currently we have a Gatsby plugin that emits a schema.json introspection file and that's what we point codegen at.
For what it's worth the solution in my follow up comment has been working well for us. There is only one issue that we had to work around which is that omitting `@graphql-codegen/typescript` plugin also dropped the `Maybe` and `Scalars` types. We had to manually create a m

[2019-12-16 12:37] #3072 closed

[2019-12-16 13:38] dotansimha commented on #3102
It's actually more than that, we need to have `declare module` in some way, and have special care of `scalars` type. I'll take a look soon :)

Thanks @andreialecu

[2019-12-16 13:48] #2911 closed

[2019-12-16 14:03] dotansimha commented on #3018
@andreyvital Closing. Feel free to contact us again it's still relevant :)

[2019-12-16 14:03] #3018 closed

[2019-12-16 14:07] andreialecu commented on #3102
In my case, simply replacing all commas with semicolons makes everything work properly, but I'm not using any custom scalar types, just the built in ones.

[2019-12-16 14:21] dotansimha commented on #3102
@andreialecu can you please share the complete (fixed) output? so I'll be able to test that directly in TS Playground.
Thanks

[2019-12-16 15:25] dotansimha commented on #3024
Closing. @raphrueda let me know if you need any help with that.

[2019-12-16 15:25] #3024 closed

[2019-12-16 15:28] dotansimha commented on #2974
@kettanaito Closing for now. Let us know if you need help with that :)

[2019-12-16 15:28] #2974 closed

[2019-12-16 16:35] schmod commented on #2932
This doesn't seem to be working with default exports.

If I put this in my YAML:

[code]

I get this:

[code]

Note that the default import works correctly if I omit `as UserModel` from the config.

[2019-12-16 16:38] andreialecu commented on #3102
@dotansimha I'm not sure what you mean, the only problem with the output with this config

[code]
Is the comma at end of class declarations instead of a semicolon. Everything else is fine, and I have a pretty big graphql schema. The generated `graphql.ts` file is over 1000 lines long. Everything is fine except for those lines.

[2019-12-16 16:42] andreialecu commented on #3102
Here's an example from the generated output.

![image](https://user-images.githubusercontent.com/697707/70925310-b3316080-2033-11ea-8368-7a46b60de7ad.png)

[2019-12-16 17:08] msheakoski commented on #3058
For anyone that needs a quick fix, graphql-code-generator 1.8.3 works with Next.js apps but 1.9.0+ currently does not.

[2019-12-16 19:14] carlosherrera1113 commented on #3101
@ardatan @dotansimha Thanks for the clarification guys!

[2019-12-16 20:03] rlindskog commented on #2911
Great, thanks so much @ardatan and @dotansimha!

[2019-12-16 20:35] tafelito opened #3129 "wrong imports for react apollo hooks"
**Describe the bug**
imports for ApolloReactCommon and ApolloReactHooks are being imported from the wrong package in the latest version `(1.9.1)`

[code]

**To Reproduce**
use version 1.9.1 with this config

[code]

[code]

using  `hooksImportFrom: '@apollo/react-hooks'` doesn't change anything

**Expected behavior**
[code]

**Environment:**

- OS:
- `@graphql-codegen/...`: 1.9.1
- NodeJS: v12.12.

[2019-12-17 02:13] ardatan commented on #3129
https://www.apollographql.com/docs/react/v3.0-beta/get-started/
As you can see in Apollo docs, v3 uses `@apollo/client` package, the other packages you mentioned are used in v2.

[2019-12-17 02:32] tafelito commented on #3129
@ardatan you're right. I didn't realize that because with version 1.7.0 even using reactApolloVersion: 3 wasn't really using apollo v3

Thanks!

[2019-12-17 02:32] #3129 closed

[2019-12-17 02:33] flybayer opened #3130 "Add option to use rawRequest for graphql-request"
I'm using the graphql-request plugin for use with Shopify's API. They use the `extensions` response for telling you your rate-limit status, so it's essential to have this info.

graphql-request supports this by using `rawRequest` instead of `request`.

**Describe the solution you'd like**
I want a config option in the yml file to use rawRequest instead of request

**Describe alternatives you've co

[2019-12-17 05:54] nathanforce opened #3131 "[Mappers] Mapper Not Used for Nested Types"
**Describe the bug**

When using a `defaultMapper`, nested types are not mapped to their `ResolverType`.  I've provided a CodeSandbox.  I've added a field, `friends`, to `User`.  `friends` is of type `UserFriendsConnection`.

I'd expect that the `defaultMapper`, in this case `Required<{T}>`, be applied to the nested `User` types of `UserFriendsEdge.node` and `UserFriendsConnection.nodes`.

[code]

[2019-12-17 07:14] dotansimha commented on #3102
I see, but I suspect `Scalars` might cause issues with other TypeScript configurations, that's why I asked for the complete file, I want to verify that.

[2019-12-17 11:38] deser opened #3132 "Enums are generated incorrectly"
**Describe the bug**
Graphql Enums have keys and values. Seems graphql-codegen uses only keys for generaring enums in typescript.

See example below:
[code]

[2019-12-17 12:45] Kerumen opened #3134 "Unnecessary mapping from old verion of graphql-toolkit"
**Describe the bug**

On `graphql-codegen-core` there is a mapping of the documents passed to `validateGraphQlDocuments`:

[code]

https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-core/src/codegen.ts#L51

It's because `graphql-toolkit` used to generate documents with `filePath` and `content`. However in [v0.6.0](https://github.com/ardatan/graphql-toolkit/re

[2019-12-17 17:39] BigsonLvrocha opened #3137 "Enums with numeric values defined in enumValues are not generated correctly"
**Describe the bug**

There are two, enum given numeric values in enumValues config options are generated as string and value `0` will not be converted at all

**To Reproduce**
Steps to reproduce the behavior:

give numeric values to map enum fields in enumValues config option

1. My GraphQL schema:

[code]

2. My GraphQL operations:

no problems with operation, just with generated type, graphql w

[2019-12-17 17:56] NickTomlin commented on #796
I recently encountered this when I needed to map enums in my schema to enums owned by another service. To preserve the enum values as-is (e.g. `MY_ENUM_VALUE` -> `MY_ENUM_VALUE`) you can use the [`namingConventions`](https://graphql-code-generator.com/docs/plugins/typescript#namingconvention-namingconvention-default-value-change-casepascalcase) config in codegen:

[code]

If that still doesn't do

[2019-12-17 20:29] cranberyxl commented on #2932
@schmod Looks like there has not been a release cut since the fix was merged.

[2019-12-18 13:12] BigsonLvrocha commented on #3132
in this case you will have to map your enum values in your codegen.yml file, field
[code]

[2019-12-18 13:21] deser commented on #3132
This is obviously incorrect behavior. GraphQL has in its enum key and value. Typescript has in its enum key and value. It seems logically correct to map key to key and value to value. Codegen should generate code rather than make me insert manually such enums :)
I believe I can even create pull for that:)

[2019-12-18 13:31] BigsonLvrocha commented on #3132
I didn't read the code, but my guess would be that they work with the resulting generated .graphql file or just consider not using the defined values to cover for frontend users, who doesn't have information about internal enum mapping in the server and will be consuming the graphql only with the plain values.
Maybe there should be an option to chose between using the internal values in enum or no

[2019-12-18 13:32] deser commented on #3132
As an non-breaking feature - definitely

[2019-12-18 14:18] ab-pm opened #3141 "Generate @deprecated annotations in typescript doc comments"
I've got a GraphQL schema that has some `@deprecated` types and/or fields. While the descriptions already translate into tsdoc comments with the `typescript` plugin, the deprecations are not mentioned anywhere in the generated type declarations and the typescript compiler won't warn me when using those properties. I would expect a [`@deprecated` tag](https://api-extractor.com/pages/tsdoc/tag_depre

[2019-12-18 17:20] erichiller opened #3142 "Trouble with revised HOC typings for Apollo TypeScript"
The fix in #2966 seems to have broken all _withX_ wrapping HOCs for me. Possibly I am using them wrong. Everything had been working on 1.8.3, and now if I go into the generated typings and change the `|` back to a `&` everything compiles again correctly. Since the type has been changed to an intersection, I can not pass in props for the child of the _withX_ function.

Example usage:
[example](http

[2019-12-18 17:21] erichiller commented on #2966
Just did now in #3142

[2019-12-18 19:57] cranberyxl commented on #3112
@ardatan That's correct, because you can return any JSON from any resolver that satisfies it's children. Which may be a function or a promise.

[2019-12-19 09:06] ardatan commented on #3132
@deser You can use `enumValues` for internal mapping.
https://graphql-code-generator.com/docs/plugins/typescript#enumvalues-enumvaluesmap

[2019-12-19 09:09] iskanderbroere commented on #1539
Hi everybody. I've been working on a plugin that adds support for v4 of vue-apollo. https://github.com/vuejs/vue-apollo/releases/tag/v4.0.0-alpha.1
Check out this PR: https://github.com/dotansimha/graphql-code-generator/pull/3146

[2019-12-19 10:30] deser commented on #3132
This was suggested above and I described why this doesn't match :)

[2019-12-19 14:43] ardatan commented on #3132
Currently GraphQL Codegen uses definitions only in the visitor implementations of all plugins. It doesn't respect the actual `GraphQLNamedType`s like `GraphQLEnumType` as in your example. It introspects the schema and parses again to make sure it has a valid `astNode` to make the visitors work correctly.
I pushed some changes on GraphQL Toolkit to keep actual `GraphQLSchema` object by fixing its `

[2019-12-19 14:50] BigsonLvrocha commented on #3132
that may be the tricky part, since enums will be compiled to actual objects which may be used for for code

[2019-12-19 15:13] JimmyMultani commented on #3084
I'm also having this exact same issue, where it's outputting `Array<Maybe<Post>>`, which means it can be a null object within the array, even though the GraphQL Resolver will never return null in the array.

Any assistance in this would be greatly appreciated.

[2019-12-19 15:33] ardatan commented on #3132
@BigsonLvrocha Could you try with the following version?
`1.9.2-alpha-1455536b.55+1455536b`

[2019-12-19 16:53] cothman commented on #2048
Same here, is the Maybe type removed or at least configurable

[2019-12-19 21:50] danilobuerger commented on #1996
@dotansimha I think this was closed prematurely. The solution that @cullophid describes would actually solve OPs case.

This seems actually pretty important when using mappers and `avoidOptionals: false` (the default) as you loose all type safety for the difference between the mapped type and the generated type.

Consider the above example. The mapped type `UserParent` does not provide the field `

[2019-12-20 10:32] deser commented on #3132
@ardatan ,
Firstly - thanks a lot :)
Secondly - yes, I'll try 1.9.2-alpha-1455536b.55+1455536b. Will respond soon

[2019-12-20 11:54] maapteh opened #3152 "lazyHook created not accepting all options"
I'm using codegen `1.8.1` and have apollo hooks setup but not the new client yet. The auto-generated hooks are working correctly with TypeScript.

But on lazy hooks, I can only call them with the context and variables but not all other options you normally have on (lazy) queries.

So I'm missing `fetchPolicy` as option for example.

**To Reproduce**

Using the following config:

[code]

lazy gener

[2019-12-20 13:11] deser commented on #3132
Updated:
[code]

Seeing errors:
[code]

[2019-12-20 13:35] ardatan commented on #3132
@deser I fixed the introspection query in URL loader but I don't think it is possible to get enum values from the schema's introspection because it is not part of schema definition/SDL. Could you try with the actual code file that exports schema?

[2019-12-20 13:39] deser commented on #3132
Last time I tried I failed to do it. We define schema in old school way (literally constructing `new GraphQLObjectType` ) and writing script which requires that schema as a module and generates graphql types failed. Therefore the only way I found working is introspection schema :)

Let me try again maybe something has changed from the last time.
Should I install 1.9.2-alpha-1455536b.55 again?

[2019-12-20 14:13] saostad opened #3153 "how to generate all possible graphql queries, mutations and subscriptions from schema"
is there any way to generate all possible graphql queries, mutations, and subscriptions from the schema for client-side use?

[2019-12-22 11:21] damianfrizzi commented on #3117
Current setup to workaround the issue is to create a separate files for the mongo model definitions. Once the issue is resolved the files can be merged.

[code]

[2019-12-22 11:31] damianfrizzi opened #3159 "Can't use directive within overrideType"
Not sure if this is a bug or the expected behaviour. Please let me know if this should be a feature request.

**Describe the bug**
When using `typescript-mongodb` it isn't possible to use directives within `overrideType`

**To Reproduce**
See Expected behavior

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
The sche

[2019-12-22 15:56] ardatan commented on #3159
`overrideType` is to define types like `projects: [String!] @column(overrideType: "ObjectID[]")`. `@id` is not interpreted as a directive in  `projects: [String!] @column(overrideType: "@id")`, because it is a regular string parameter value.

[2019-12-23 08:02] moshere-fb commented on #2516
Hi Adrian,
Do you've any prototype available already?

Thank you

[2019-12-23 09:08] adrianschneider94 commented on #2516
@moshere-fb
https://gist.github.com/adrianschneider94/9ddb7f6c906fd13f7c215c3a10a9749c

[2019-12-23 18:17] ardatan commented on #3132
You can try it with `1.9.2-alpha-74dff252.63+74dff252`. I added tests for your case.

[2019-12-23 18:19] ardatan commented on #1539
@bbugh The PR is merged and now we support `vue` files! Thank you @bbugh !!!

[2019-12-24 05:17] captaincole commented on #2776
@dotansimha I have reproduced this issue with codegen v1.9 and graphql v14.5.8

[code]

There is a stack trace, but it is wholly unusable as far as I can tell...

[code]

[2019-12-24 05:20] ardatan commented on #2776
@captaincole Could you please create a reproduction in a repo or codesandbox?

[2019-12-24 06:03] captaincole commented on #2776
Trying too, I've found the culprit in my code finally after many guess and checks.

[code]

I will update when I figure out what the issue is with this code...

[2019-12-24 06:05] captaincole commented on #2776
@ardatan
Update: Figured it out. Turns out the underlying issue is option chaining in TS 3.7

Example. The code above did not generate correctly, but this did...

[code]

All that is changed is that there is no option chaingin here (only !)

[2019-12-24 10:26] deser commented on #3132
ok thx

[2019-12-24 16:04] deser commented on #3132
Doesnt work with introspection schema. Will try to work with schema directly

[2019-12-24 19:26] ardatan commented on #3132
@deser It will never work with introspection and SDL because enum values are not part of the schema definition. You should try the exported schema as I said above.

[2019-12-24 22:06] vitrukroman commented on #2780
The solution for the author's problem might be:

[code]
Such way, it is possible to distribute resolvers across different files, but having arguments be strictly implicitly typed

[2019-12-26 07:59] deser commented on #3132
Sure, I'm trying that. Thank you

[2019-12-26 08:43] crimson-med commented on #2043
I had the same problem. I used to have `"@graphql-codegen/typescript": "1.8.2",` in my package.json and I now uninstalled the last version and added instead: `"graphql-toolkit": "^0.7.5"` and it seems to be working now. I think in the new update they changed the typescript templating

[2019-12-26 11:36] deser commented on #3132
It works. Thanks a lot!

[2019-12-26 11:40] deser commented on #3132
Found a possible issue:
[code]

With this config it generates incorrect types:
![ngen_screen_designer  D__work_ngen_screen_designer (32)](https://user-images.githubusercontent.com/3010698/71474695-b542ae80-27ed-11ea-85d5-b838d14c10fc.png)

[2019-12-26 11:43] deser commented on #3132
Found a possible issue:
[code]

With this config it generates incorrect types:
![ngen_screen_designer  D__work_ngen_screen_designer (32)](https://user-images.githubusercontent.com/3010698/71474695-b542ae80-27ed-11ea-85d5-b838d14c10fc.png)

[2019-12-26 11:48] deser commented on #3132
Previously it was ok:
![image](https://user-images.githubusercontent.com/3010698/71474903-c8a24980-27ee-11ea-881b-2f5fa89295d3.png)

And adding `enumPrefix: GQL` doesn't help. Seems bug

[2019-12-27 14:34] kamilchm opened #3174 "Can't return `null` from nullable filed resolver"
**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

**Expected behavior**
`null` is a valid result type, but I get:
[code]

**Environment:**

- OS: Linux
- `@graphql-codegen/...`:  1.9.1
- NodeJS: 12

[2019-12-29 18:21] KevinJMC commented on #2790
That "tedious and cumbersome task" sounds like a great PR. Share the wealth!

[2019-12-30 11:08] dinana commented on #3102
I'm facing the same issue and here's the complete output with scalars class
![image](https://user-images.githubusercontent.com/1944157/71579481-66568b00-2b05-11ea-8ef9-c8d4a9ff96a3.png)

[2019-12-30 22:17] philiiiiiipp opened #3180 "Importing an enum from a default export does not work"
**Describe the bug**
Importing a enum from a default export results in
[code]

instead of
[code]

**To Reproduce**

1. My GraphQL schema:

[code]

`Status.ts`
[code]

3. My `codegen.yml` config file:

[code]

**Environment:**

- OS:
- @graphql-codegen/cli@1.9.1
- NodeJS: v12.13.1

Using the `export` directly works fine, might be related to #1997

[2019-12-31 11:14] dotansimha commented on #3174
@kamilkisiela can you please take a look?

[2019-12-31 11:16] dotansimha commented on #3159
Exactly as @ardatan said, the `overrideType` is there to make it easier to override any codegen behaviour, and it's not being interpreted.
If you wish it to be `ObjectID`, you should specify that.

[2019-12-31 11:16] #3159 closed

[2019-12-31 11:17] dotansimha commented on #3153
We have open issues for this:
- https://github.com/dotansimha/graphql-code-generator/issues/2349
- https://github.com/dotansimha/graphql-code-generator/issues/3048

PRs are welcome ;)

[2019-12-31 11:17] #3153 closed

[2019-12-31 12:31] kamilchm commented on #3174
To be fair, I don't know if it a valid issue here. The produced error comes from TS compiler. In encountered it on a pretty big schema with complex types (tens of fields) and it wasn't easy to spot the real error.
I wonder if there is a place for improvement for generated types, to make compile errors more direct, like it was before introducing `ResolverTypeWrapper`.

[2019-12-31 12:49] dotansimha commented on #3102
@dinana @andreialecu I think I managed to fix that issue in: https://github.com/dotansimha/graphql-code-generator/pull/3183

Can you please try `1.9.2-alpha-f125efa1.44`?

[2019-12-31 13:32] ardatan commented on #3134
GraphQL Toolkit uses `Source` which has `document: DocumentNode` and `location: string` but `DocumentFile` has `content: DocumentNode` and `filePath: string`. It is still like that as I see in the code. Could you share a reproduction to see what errors you have etc?

[2019-12-31 14:18] dotansimha commented on #3137
@BigsonLvrocha I think I managed to fix that in: https://github.com/dotansimha/graphql-code-generator/pull/3187

Can you please try `1.9.2-alpha-4be25b2b.82`?

[2019-12-31 20:18] ebenoist commented on #3060
Running into this one as well. Any clue where the regression was? Happy to help fix this up.

[2020-01-01 10:25] dotansimha commented on #3081
@jonaskello Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/3188

Can you please try the alpha? `1.9.2-alpha-572dfb0a.84`

[2020-01-01 11:03] dotansimha commented on #3180
Hi @philiiiiiipp
I fixed this issue in this PR: https://github.com/dotansimha/graphql-code-generator/pull/3189

Can you please try the alpha version? `1.9.2-alpha-61f0b7ca.85`

[2020-01-01 11:48] dotansimha commented on #3117
The codegen loads the schema globally when it's defined on the root of the documents, and loaded plugins are allowed to modify this schema instance (using `addToSchema` api).

@damianfrizzi I tried to allow `.tsx` extension in ts-mongo, I think it should solve the issue (https://github.com/dotansimha/graphql-code-generator/pull/3190). Can you try the alpha version `1.9.2-alpha-bdfbf3eb.85`?

If it

[2020-01-01 14:17] dotansimha commented on #3105
`import-types` assumes that you are creating importing all types from the external file. it means that `typescript` and `typescript-operations` should be together, and `ts-react-apollo` should executed with the preset:

[code]

If someone wants to improve this behaviour, feel free to open a PR :)

[2020-01-01 20:01] dotansimha commented on #3060
I think it's an issue with `preResolveTypes`, can you please try to set it to `false` and let us know if it works?

[2020-01-01 20:02] dotansimha commented on #3058
@ardatan can you please take a look? I think it's something we should solve in `graphql-toolkit`

[2020-01-01 20:03] dotansimha commented on #3050
@gabrielsch I'm closing for now, feel free to contact us if it's still relevant and you can help us reproduce this. Thanks!

[2020-01-01 20:03] #3050 closed

[2020-01-01 20:04] dotansimha commented on #3112
@ardatan do you think it's something we can implement in the generated output?

[2020-01-01 20:05] dotansimha commented on #3084
@ardatan what do you think?

[2020-01-01 20:06] #3009 closed

[2020-01-01 20:06] #2929 closed

[2020-01-01 21:45] ardatan commented on #3058
@dotansimha I spent a lot of time for that but even switching to `glob` didn't work. It looks like a problem related to `micromatch` which is used by `fast-glob`(dependency of `globby`).
https://github.com/ardatan/graphql-toolkit/issues/370

[2020-01-02 02:52] KieranHarper commented on #3060
`preResolveTypes: false` has the same issue, just with a little more output
[code]

[2020-01-02 08:20] dotansimha commented on #3134
As @ardatan said, it seems like the codegen uses it correctly. Closing.

[2020-01-02 08:20] #3134 closed

[2020-01-02 09:19] dotansimha commented on #3064
@CodeWitchBella Thank you for reporting it.
It caused by the fact that codegen expects inline fragments to match the actual types. In your case, `Transport` will never have `gpsLocation` field, so codegen fails because of that, even though it's a valid syntax.

I managed to reproduce this issue in this PR: https://github.com/dotansimha/graphql-code-generator/pull/3204

Can you please try the alpha

[2020-01-02 10:55] dotansimha commented on #3060
Ok I checked that, and it actually makes sense.

The `type User` is being transformed into:
[code]

And it represents the way the type could be structured in your API implementation. it means that it can be there, or not (marked as `?`), and it could be null as well (marked as `Maybe`).

In GraphQL operations, if you ask for a field - it will be there - there is no such thing optional, so it might

[2020-01-02 10:55] #3060 closed

[2020-01-02 11:01] dotansimha commented on #3066
@willtrking can you please provide more information? Maybe a reproduction in codesandbox or a repo?

[2020-01-02 12:11] dotansimha commented on #2932
Available in `v1.10.0`.

[2020-01-02 12:11] #2932 closed

[2020-01-02 12:11] dotansimha commented on #3064
Fixed in `v1.10.0`.

[2020-01-02 12:11] #3064 closed

[2020-01-02 12:11] dotansimha commented on #3058
Available in `v1.10.0`.

[2020-01-02 12:11] #3058 closed

[2020-01-02 12:11] dotansimha commented on #3117
Fixed in `v1.10.0`.

[2020-01-02 12:11] #3117 closed

[2020-01-02 12:11] dotansimha commented on #3180
Available in `v1.10.0`.

[2020-01-02 12:11] #3180 closed

[2020-01-02 12:11] dotansimha commented on #3081
Fixed in `v1.10.0`.

[2020-01-02 12:11] #3081 closed

[2020-01-02 12:11] dotansimha commented on #2406
Fixed in `v1.10.0`.

[2020-01-02 12:11] #2406 closed

[2020-01-02 12:11] dotansimha commented on #3137
Available in `v1.10.0`.

[2020-01-02 12:11] #3137 closed

[2020-01-02 12:11] dotansimha commented on #3102
Fixed in `v1.10.0`.

[2020-01-02 12:11] #3102 closed

[2020-01-02 12:12] dotansimha commented on #3033
Fixed in `v1.10.0`.

[2020-01-02 12:12] #3033 closed

[2020-01-02 12:13] dotansimha commented on #3132
I think it should be fixed in `v1.10.0`.
@deser let me know if it needs to be reopened and fixed again.

[2020-01-02 12:13] #3132 closed

[2020-01-02 12:13] dotansimha commented on #3090
Fixed in `v1.10.0`.

[2020-01-02 12:13] dotansimha commented on #3094
Fixed in `v1.10.0`.

[2020-01-02 12:13] #3094 closed

[2020-01-02 12:13] dotansimha commented on #3062
Fixed in `v1.10.0`.

[2020-01-02 12:13] #3062 closed

[2020-01-02 12:13] dotansimha commented on #3005
Available in `v1.10.0`.

[2020-01-02 12:13] #3005 closed

[2020-01-02 12:13] dotansimha commented on #3047
Available in `v1.10.0`.

[2020-01-02 12:13] #3047 closed

[2020-01-02 12:13] dotansimha commented on #3052
Avaiable in `v1.10.0`.

[2020-01-02 12:13] #3052 closed

[2020-01-02 12:15] dotansimha commented on #3121
@ardatan can you please take a look?

[2020-01-02 13:08] BigsonLvrocha commented on #3137
I was on a trip, got the computer now, it's fixed, thanks :)

[2020-01-02 14:30] bsmedberg-xometry opened #3207 "Federation Resolvers: Pick<ParentType, 'fieldName'> is incorrect for mapped parent types."
**Describe the bug**

When using typescript-resolvers with `federation: true`. The generated code for the resolver uses the following type for the resolver:

[code]

However, when combined with a mapped type, this code is incorrect. `ParentType` is the mapped object, which may not have an `id` property at all, or its id property may be a completely unrelated type.

**To Reproduce**
Steps to reprod

[2020-01-02 15:33] bsmedberg-xometry commented on #3207
I have now created an testcase repository showing this issue: https://github.com/bsmedberg-xometry/graphql-codegen-issue-3207-demo

I think I can provide a patch, which would be to replace this:

[code]

with this:

[code]

[2020-01-02 15:51] bsmedberg-xometry commented on #3207
@kamilkisiela you seem to be involved in most of the federation issues, can you confirm whether my proposal is reasonable?

[2020-01-02 16:50] FranckErnewein commented on #3051
Same problem here.
We generate types from Datocms GraphQL API.
Most of enums are just `Scalars['String']`.
We really need to override for some fields and we can not change the source API.
We tried to define a local schema but we have the same Error

[code]
It would be very nice to allow merge if needed

[2020-01-02 17:00] the-unbearable-lightness-of-being opened #3208 "Unable to create global types. Setting `noExport: true` does not remove the `export` keyword from generated types."
**Describe the bug**
I am trying to have the generated types be globally available. In order for types to be globally available, two conditions must be met:
1. The types file must end with `.d.ts`.
2. *The file cannot contain the `export` or `import` keywords.

However, there is a caveat with point two. If the file requires the `import` or `export` keyword, such as needing to import a type from an

[2020-01-02 17:01] capaj opened #3209 "TypeError: camelCase.camelCase is not a function"
**Describe the bug**
type error

**To Reproduce**
Steps to reproduce the behavior:
[code]

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
no type error

**Environment:**

- OS:
- `@graphql-codegen/...`: 1.10.1
- NodeJS: 10.17.0

**Additional context**

On 1.9.1 it compiles without any issue

[2020-01-02 17:05] rathpc commented on #3209
Also experiencing this after the latest version update

[2020-01-03 04:48] kesne commented on #3209
This was introduced in #3145

[2020-01-03 09:03] deser commented on #3132
Ok thx a lot!

[2020-01-03 12:32] ardatan commented on #3209
Could you try with the following version? If you still have any error, please share the stack trace.

[2020-01-03 16:17] coreylight commented on #3209
Doesn't seem to fix the problem for me with version `1.10.1-alpha-c25db63c.4`

[2020-01-03 16:26] coreylight commented on #3209
I was able to get my setup working with this combination:
`@graphql-codegen/typescript-react-apollo@1.9.1`
`@graphql-codegen/cli@1.10.1-alpha-c25db63c.4`

[2020-01-03 19:54] bsmedberg-xometry opened #3215 "federation broken in 1.10: federation typedefs are missing"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

A dirt-simple schema that uses federation works in 1.8.3 and is broken in 1.10.

Sandbox repro environment available at https://codesandbox.io/s/serene-faraday-qoech

1. My GraphQL schema:

[code]

2. My GraphQL operations:
(no operations)

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Codegen should work.

[2020-01-04 00:34] AdiBev opened #3216 "React Hooks not generating"
Hi,
Whenever I'm generating the file I cannot see my react hooks to import. I also have noticed in the generated file it is not importing any other library other than graphql-tag.
**To Reproduce**
Steps to reproduce the behavior:

My GraphQL operations:

[code]

My `codegen.yml` config file:

[code]

**Expected behavior**
Expected to get the generated hooks but only getting typed definations.

**E

[2020-01-04 01:35] andreyvital commented on #3018
Hi @dotansimha. I've created a reproducible example here:

https://codesandbox.io/s/ecstatic-hill-f2dbd

[code]

It thinks that I am querying `chiefExecutiveOfficer` on `ratings` or `ReclameAquiRating`. Right now I'm stuck with this:

[code]

Can't go from 1.40 to any version above.

[2020-01-04 01:43] andreyvital opened #3217 "Unable to find field "(...)" on type "(...)""
Sorry for duplicating this issue! But GitHub doesn't bump as new comments are added and notifications are a little bit messed up. Take a look here: https://github.com/dotansimha/graphql-code-generator/issues/3018#issuecomment-570745493

Reproduction: https://codesandbox.io/s/ecstatic-hill-f2dbd

Sorry again! :(

/shrug

[2020-01-04 06:04] Stuart4 commented on #2870
Why did you close this? `baseOptions` and `baseOptions.variables` should not be required  if the variable is required in the query.

[2020-01-04 10:46] webberwang opened #3218 "Documentation typescript-document-nodes error"
The `plugins` field should be `typescript-document-nodes` instead of `graphql-codegen-typescript-document-nodes`

<img width="1003" alt="TypeScript_document_nodes_·_GraphQL_Code_Generator_and_codelab-ui-nestjs____Code_UIB_codelab-ui-nestjs__-_____codegen_core_yml" src="https://user-images.githubusercontent.com/26264925/71764402-57246400-2e9c-11ea-80df-d4a06d185931.png">

[2020-01-04 13:18] Crainov opened #3219 "Import statement is not valid (.gql modules)"
**Describe the bug**

After update to ver 1.10.0 stop working import in gql files, I'm use graphql-tag loader for importing. Maybe this [commit](https://github.com/ardatan/graphql-toolkit/commit/a18a44218e2ba95795595130d3ea2efa44cba3aa#diff-d9cf34190de684ddaa13adf9181f31ab) is the source of issues

**To Reproduce**
Steps to reproduce the behavior:
`graphql-codegen`

**Result**
[code]

1. My GraphQ

[2020-01-04 20:42] MichielDeMey commented on #3215
Currently have the same issue, haven't found a solution yet.

[2020-01-05 08:31] ardatan commented on #3209
@coreylight Could you try `1.10.1-alpha-c25db63c.4` canary version for all packages (both ts-react-apollo and cli)?

[2020-01-05 08:43] ardatan commented on #3215
Fixed on this PR;
You can try it with the canary version: `1.10.1-alpha-2faa59c0.4`

[2020-01-05 09:26] ardatan commented on #3219
Could you try with this canary version? `1.10.1-alpha-7435fca2.6`

[2020-01-05 10:00] kolengri commented on #3209
Same problem. `1.10.1-alpha-c25db63c.4` does not solve it for me

[2020-01-05 10:09] kolengri commented on #3209
I installed `1.8.3`. Works fine for me.

[2020-01-05 10:32] ardatan commented on #3209
https://codesandbox.io/s/friendly-glade-x1u9w
Could you help me reproduce it? You can see there is no errors in this sandbox.

[2020-01-05 11:30] kolengri commented on #3209
I've tried reproduce it here.
https://codesandbox.io/s/gifted-golick-xjg0h?fontsize=14&hidenavigation=1&theme=dark

In sandbox I have         `→ Cannot find module 'change-case' `: )
Hope it will help you

[2020-01-05 13:05] MichielDeMey commented on #3215
I can confirm that the canary version solves the issue. 👍

[2020-01-05 13:50] ialexi-bl opened #3221 "near-operation-file path resolving error"
**Describe the bug**
near-operation-file throws `ENOENT` errors all the time because it is joining absolute paths instead of resolving them.

**To Reproduce**
Basically just copy the example from documentation
Codesandbox:
https://codesandbox.io/s/stupefied-nobel-722f6?fontsize=14&hidenavigation=1&theme=dark

The error shows up when doing `npm run codegen`

**Expected behavior**
Work in an intende

[2020-01-05 14:03] MichielDeMey commented on #3215
@ardatan

One thing I have noticed is that the `Query` property is not properly added to the `Resolvers` type.

When you extend the Query (without an existing Query definition):
[code]

It generates the following `Resolvers` (missing `Query`)

[code]

But when adding the actual `Query` definition (not extending) it does generate the correct `Resolvers` type.

[code]

[code]

According to the Feder

[2020-01-05 23:59] ardatan commented on #3215
You're right it should be there!
You can try`1.10.1-alpha-3fc7bb8a.6` :)

[2020-01-06 00:02] ardatan commented on #3209
@kolengri Your case is a little bit different :) `change-case` has introduced some breaking changes recently. That package is independent from codegen. But we decided to add some workaround code while loading the function by using`namingConvention`option.
`1.10.1-alpha-3fc7bb8a.6` should work for all of you :)

[2020-01-06 00:05] ardatan commented on #3221
@ialexi-bl Could you try this canary version?
`1.10.1-alpha-3fc7bb8a.6`

[2020-01-06 00:06] ardatan commented on #3216
@AdiBev Could you create a reproduction sandbox on codesandbox or repo on GitHub?

[2020-01-06 00:12] ardatan commented on #3121
@judehunter You might be using the old version for plugins.
Could you update all of them `@graphql-codegen/*` to the latest `1.10.0` without `^`?

[2020-01-06 00:22] ardatan commented on #3142
@erichiller Could you try with this canary version?
`1.10.1-alpha-fab2a7d7.6+fab2a7d7`

[2020-01-06 03:40] ialexi-bl commented on #3221
@ardatan, that seems to have worked, thanks! Waiting for `1.10.1` release

[2020-01-06 04:37] ialexi-bl opened #3222 "Improve handling of `# import` comments"
**Describe the bug**
I would usually like to explicitly write the dependencies for every file with `# import` comments, but now they produce a `Multiple fragments with the name(s) "..." were found` error

**To Reproduce**
https://codesandbox.io/s/hardcore-lewin-hklkj?fontsize=14&hidenavigation=1&theme=dark

For some reason it works fine, if i have only one graphql document (It works if I remove th

[2020-01-06 05:42] ardatan commented on #3221
Let's keep it open unfil we release 1.10.1 :)

[2020-01-06 06:03] fredericojesus commented on #1514
This issue is happening again to me in version 1.8.3 and above.
If I use version 1.8.2 or below everything works fine, but if I upgrade to 1.8.3 or above I get the error ENOENT: no such file or directory, open ......
Are you aware of this issue ?

[2020-01-06 06:06] dotansimha commented on #3217
Thank @andreyvital :) We'll check that soon.

[2020-01-06 06:08] dotansimha commented on #3208
Hi @the-unbearable-lightness-of-being !
I'm not sure `typescript-resolvers` supports `noExport`, but we can check that.

Can you please try without `typescript-resolvers` and see if it works for you as global declaration?

[2020-01-06 06:33] ardatan commented on #3222
@ialexi-bl Thank you for reporting the issue.
Could you try with this version?
`1.10.1-alpha-26eb188e.6`

[2020-01-06 06:41] ardatan commented on #3152
@maapteh Does the problem persist even with `1.10.0` ?

[2020-01-06 07:08] MichielDeMey commented on #3215
Again, that fixes the issue. 🙂👍

[2020-01-06 07:17] ardatan commented on #3130
@flybayer You can try `rawRequest` option in `1.10.1-alpha-89f031a8.6` canary version.

[2020-01-06 07:32] keepcosmos opened #3224 "Mappers option is not work with generic type after upgrade to 1.10.0"
**Describe the bug**

mapping option is not work with generic type after upgrade to 1.10.0 (It works on 1.9.1)

**To Reproduce**
Steps to reproduce the behavior:

1. My `codegen.yml` config file:

[code]

**Expected behavior**

[code]

but it generate
[code]

[2020-01-06 08:20] proutek opened #3225 "Type ******* is missing a "__resolveType" resolver."
**Describe the bug**
Since 1.10 I'm getting warning when generating types from schema with interface.
Type ******* is missing a "__resolveType" resolver. Pass false into "resolverValidationOptions.requireResolversForResolveType" to disable this warning.

Generated definitions seems to be fine.

**To Reproduce**
Just check this codesandbox using schema from project homepage https://graphql-code-gen

[2020-01-06 08:22] ardatan commented on #3225
It's fixed in #3213
You can try the canary version;
`1.10.1-alpha-7abaacf0.6`

[2020-01-06 08:30] proutek commented on #3225
It's is. Thank You! I can confirm the warning is gone.
Sorry for redundant issue.

[2020-01-06 08:57] Crainov commented on #3219
@ardatan yes import statement bug fixed, but I faced with another issue connected with webpack aliases, they stopped working.
`Load GraphQL schemas
      ✖ Load GraphQL documents
        → Cannot find module '@shared/components/UpperSection/upperSection.gql'
        Generate`

[2020-01-06 09:14] andrebauer opened #3226 "gatsby-plugin-graphql-codegen: Unable to find any GraphQL type definitions"
**Describe the bug**
On using Gatsby with `typescript` and `gatsby-plugin-graphql-codegen` the command `gatsby develop` outputs

[code]

The file `graphql-types.ts` has the following content:

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]
[code]

[code]

**Expected behavior**
`graphql-types.ts` should contain project and gatsby specific type information.

**Environment:

[2020-01-06 12:08] joho commented on #3216
I'm experiencing the same (or similar) issue.

https://github.com/joho/graphql-generate-test is a repro repo adapted from my one at work.

[2020-01-06 12:21] ardatan commented on #3226
This gatsby plugin is not maintained in this repo by us. https://github.com/d4rekanguok/gatsby-typescript
We have our own recipe for gatsby.
https://graphql-code-generator.com/docs/integrations/gatsby

I'm now closing this issue. Feel free to open a new one if you have any issues with codegen itself.

[2020-01-06 12:21] #3226 closed

[2020-01-06 12:47] ardatan commented on #3219
@Crainov graphql-code-generator supports `graphql-import` but it doesn't know your custom configuration obviously. So you can disable `graphql-import` parsing with `skipGraphQLImport` option.
[code]

[2020-01-06 13:26] Crainov commented on #3219
@ardatan ah, ok! thank you

[2020-01-06 13:30] andrebauer commented on #3226
Thanks.

[2020-01-06 13:32] ardatan commented on #2745
@eddeee888 Could you try with this canary version?
We changed `graphql-import`'s behavior and fixed extension issue
`1.10.1-alpha-7abaacf0.6`

[2020-01-06 13:34] ardatan commented on #2731
@chemoish @ChrisLahaye We changed the behavior of schema loaders and mergers against schema extensions. This should be fixed for you.
Could you check this version?
`1.10.1-alpha-7abaacf0.6`

[2020-01-06 14:14] dotansimha commented on #3216
@joho Your `codegen.yml` should include `documents: ` section, in order to tell the codegen where are your GraphQL operations (query/mutation/subscription/fragment).
In order to generate hooks - you must have queries in your `documents: `.

[2020-01-06 15:23] ivansky opened #3235 "Unable to find field "field" on type "Type""
**Describe the bug**
There is an error
`Unable to find field "fieldA" on type "AType"`

[code]
If I change order, put `fieldA` and `fieldB` before `c`, error might disappear.
If before `d` there is another field the problem gone.

Pretty weird. I spent several days to investigate the problem :(

**To Reproduce**
Steps to reproduce the behavior:

https://github.com/ivansky/graphql-codegen-test-repo

[2020-01-06 15:35] ardatan commented on #3235
Looks similar to #3217 . We'll take a look soon!

[2020-01-06 15:45] ivansky commented on #3235
`1.7.0` - works
`1.8.0+` - doesn't work

[2020-01-06 15:47] ardatan commented on #3235
@ivansky Did you try the latest version `1.10.0`?

[2020-01-06 15:48] ivansky commented on #3235
@ardatan Yes, even alpha from Fixes PR

[2020-01-06 19:12] sergsalo opened #3237 "Keys with collection values will be stringified as YAML due to JS Object restrictions"
Recently started to see this warning during codegen:

 (node:17948) YAMLWarning: Keys with collection values will be stringified as YAML due to JS Object restrictions. Use mapAsMap: true to avoid this. at line 6, column 11:

    JSON: { [key: string]: any }

codegen.yml:

[code]

not sure where/how to use "mapAsMap" to fix the issue

[2020-01-06 21:08] joho commented on #3216
That makes sense, sorry for taking up your time.

[2020-01-06 21:09] PhishyFish commented on #3209
Getting the camelCase error with `1.10.0` and `1.10.1-alpha-3fc7bb8a.6`. `1.9.1` works.
[code]

[2020-01-06 21:20] ardatan commented on #3237
Could you try to change that line to `JSON: "{ [key: string]: any }"`?

[2020-01-06 21:21] ardatan commented on #3209
@PhishyFish Could you share a reproduction using codesandbox? Thanks!

[2020-01-06 21:23] victor-accarini opened #3239 "[Typescript-Resolvers] Add custom DataSources type for apollo resolvers"
I'm trying to create resolvers and keep them strictly typed, but I get an error when trying to access the dataSources that are added automatically to the context by Apollo.

I would like to add an option to typescript-resolvers plugin to enhance the Resolvers types by adding a custom DataSource type.

Before:
[code]

After:
[code]

The `ApplicationDataSources` type would be provided by the user in

[2020-01-06 21:27] sergsalo commented on #3237
yeah, that seems to work just fine.

[2020-01-06 21:29] ardatan commented on #3239
I am not sure if we need a feature for that specific case. Why do you think `contextType` is not enough? `dataSources` is an object that contains some other objects. So this can be easily added into your custom `contextType`.

[2020-01-06 21:30] #3237 closed

[2020-01-06 21:31] sergsalo commented on #3237
thanks for quick workaround.

[2020-01-06 21:35] victor-accarini commented on #3239
Make sense I could send a context type with the dataSources added to it, I'm just worried if it could affect other types/plugins since AFAIU Apollo only add the data sources for the resolvers context.

[2020-01-06 21:36] ardatan commented on #3237
You're welcome! The first one was not valid for YAML syntax. But the second one is valid because you want to pass a string that will be used in the generated code which is generated as string as well.

[2020-01-06 21:41] ardatan commented on #3239
@victor-accarini It should be fine to use `contextType` because this option is only used for resolvers. So there is nothing to worry about in my opinion.

[2020-01-06 21:42] victor-accarini commented on #3239
Thks, I will close the issue

[2020-01-06 21:42] #3239 closed

[2020-01-06 22:30] AdiBev commented on #3216
@joho Sorry for the late reply. I have created the  [github repo](https://github.com/AdiBev/country-graphql) if you see the generated graphql.tsx file there are no imports from react library or any other related library. I was able to generate still can at working place. I followed the same procedure here but I'm not getting the result.

[2020-01-06 23:01] ardatan commented on #3216
@AdiBev I cloned your repo and ran codegen. Then I had correct hooks together with expected typings.  So I couldn`t reproduce your issue.
Could you create the reproduction using our codesandbox template?
https://codesandbox.io/s/github/dotansimha/graphql-code-generator-issue-sandbox-template

[2020-01-07 02:21] sapkra commented on #3209
I installed `1.10.1-alpha-d8c376b0.18` and it fixed the problem. @ardatan Thanks.

[2020-01-07 08:40] dotansimha commented on #3235
It seems like the same issue in https://github.com/dotansimha/graphql-code-generator/issues/3217 . It's a bug with `isUsingTypes` that only effects developers who use `preset` feature.
I fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/3243

[2020-01-07 08:40] #3235 closed

[2020-01-07 08:55] dotansimha commented on #3217
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/3243
@andreyvital can you please try `1.10.1-alpha-3ced60a6.20`?

[2020-01-07 09:26] dotansimha commented on #3217
Fixed in 1.11.0

[2020-01-07 09:26] #3217 closed

[2020-01-07 09:26] dotansimha commented on #3209
Fixed in 1.11.0

[2020-01-07 09:26] #3209 closed

[2020-01-07 09:26] dotansimha commented on #2731
Fixed in 1.11.0

[2020-01-07 09:26] #2731 closed

[2020-01-07 09:26] dotansimha commented on #2745
Fixed in 1.11.0

[2020-01-07 09:26] #2745 closed

[2020-01-07 09:26] dotansimha commented on #3219
Fixed in 1.11.0

[2020-01-07 09:26] #3219 closed

[2020-01-07 09:26] dotansimha commented on #3225
Fixed in 1.11.0

[2020-01-07 09:26] #3225 closed

[2020-01-07 09:27] dotansimha commented on #3224
Fixed in 1.11.0

[2020-01-07 09:27] #3224 closed

[2020-01-07 09:27] dotansimha commented on #3130
Fixed in 1.11.0

[2020-01-07 09:27] #3130 closed

[2020-01-07 09:27] dotansimha commented on #3215
Fixed in 1.11.0

[2020-01-07 09:27] #3215 closed

[2020-01-07 09:27] dotansimha commented on #3222
Fixed in 1.11.0

[2020-01-07 09:27] #3222 closed

[2020-01-07 09:27] dotansimha commented on #3142
Fixed in 1.11.0

[2020-01-07 09:27] #3142 closed

[2020-01-07 09:27] dotansimha commented on #3218
Fixed in 1.11.0

[2020-01-07 09:27] #3218 closed

[2020-01-07 09:27] dotansimha commented on #3221
Fixed in 1.11.0

[2020-01-07 09:27] #3221 closed

[2020-01-07 10:44] axelnormand opened #3244 "near-operation-file not using exported const gql query"
**Describe the bug**
I'm using `near-operation-file` with  `documentMode: external` and
      `importDocumentNodeExternallyFrom: near-operation-file` so the DocumentNode is not re-created in the generated code.

The generated hook code imports `Operations` which then uses the **query name** not the **export const** name in the exported hook so is not correct.
It does works if they happen to be the

[2020-01-07 12:54] OneCyrus opened #3246 "Error: upperCase couldn't be found in module upper-case!"
**Describe the bug**
 Error: upperCase couldn't be found in module upper-case!

![image](https://user-images.githubusercontent.com/7747800/71896857-1f941100-3155-11ea-87f2-f0fac3afd61a.png)

**To Reproduce**
use namingConvention like

[code]

[2020-01-07 13:00] ardatan commented on #3246
Until we fix it, could you install `upper-case` npm package in your project?

[2020-01-07 13:03] OneCyrus commented on #3246
upper-case was already installed though version 1.x. after upgrading to 2.x it's running now.

[2020-01-07 20:40] andreyvital opened #3248 "Unable to find field "(...)" on type "(...)""
Hey @dotansimha, here's a case where the same error happens https://codesandbox.io/s/ecstatic-hill-f2dbd:

[code]

Thanks!

[2020-01-07 20:50] AdiBev commented on #3216
@ardatan  I was able to figure out the problem. I updated the these packages to this version
[code]

and slightly modified my graphql query like this
[code]
Thank you for helping. Learned some new stuff because of this!!

[2020-01-07 20:55] #3216 closed

[2020-01-07 22:17] ardatan commented on #3216
@AdiBev Happy to hear that :) but I still recommend to avoid `^` in version definitions like `^1.9.1`

[2020-01-07 22:42] rlindskog commented on #2911
@ardatan When generating `typescript-resolvers`, it's not generating the introspection types on `type ResolversTypes`, but it generates everything else.  If I remove the double-underscore (example: `type Field {...}` instead of `type __Field {...}` it seems to work fine. (except for `type Directive {...}`)

Error:
[code]

[2020-01-07 22:45] AdiBev commented on #3216
@ardatan  I will remove it right away. Any particular reason behind this avoid `^`?

[2020-01-07 22:50] ardatan commented on #3216
@AdiBev "^1.9.1" means 1.9.1 and upper versions. Let's say you installed when the latest version is 1.10.0 and this version is locked in package-lock.json or yarn.lock. It will be always 1.10.0 until you removed that lock file or it gets corrupted. But you can have exact 1.10.0 version and this will be always that version. So having exact numbers is safer than uncertain version numbers.

[2020-01-07 22:58] toverux opened #3249 "Docblocks disappeared in versions ^1.10.0"
**Describing the bug**

In versions <1.10.0, types generated by the `typescript` plugin had docblocks with descriptions coming from the API.

After upgrading to latest, those comments are missing from the generated file. I found that this happens since 1.10.0 but nothing in the Releases tab or issues seems to mention any change about this.

My diff looks like this, for hundreds of types:

[code]

[2020-01-07 23:18] toverux opened #3250 "Unused imports in generated files with typescript-apollo-angular ^1.10.0"
**Describe the bug**

Not really a bug, but an inconvenience that still prevents me from upgrading.
From versions ^1.10.0, I get this line at the top of my file:

[code]

None of those imports are being used in the file. This conflicts with TypeScript rule `noUnusedLocals` (I think), which causes this error:

[code]

This is a similar problem as in #1917, #1841, and probably more.

[2020-01-07 23:58] umutyerebakmaz commented on #3246
I made the last update. to ensure that I deleted the node_modules folders and reinstalled all packages. I have that same problem.

[2020-01-08 02:41] gustavopch commented on #2932
@dotansimha This issue was about the same problem as I was talking here #2783. Glad to see it was sorted out. :smiley:

[2020-01-08 10:54] maapteh commented on #3152
@ardatan will try

[2020-01-08 11:03] ardatan commented on #3152
@maapteh You can check the generated code and see that we use the types from Apollo. We don't generate options. So I think there might be some wrong imports.
Then I noticed that docs are using `@apollo/client` for V3 but you have `reactApolloImportFrom: @apollo/react-hooks` as in v2 together with `reactApolloVersion: 3` which sets signatures and imports for v3 but it tries to import from `@apollo/

[2020-01-08 11:04] ardatan commented on #3152
@maapteh We have released 3 more versions after that :) . Check `1.11.2-alpha-6bc83503.0`.

[2020-01-08 11:05] ardatan commented on #3246
@OneCyrus @umutyerebakmaz Could you try with the canary version `1.11.2-alpha-6bc83503.0`?

[2020-01-08 11:14] maapteh commented on #3152
With the above codegen config with 1.8.1 it did set the import correctly to '@apollo/react-hooks' but now it wants to import from '@apollo/client' thats a breaking change, no?

[2020-01-08 11:25] maapteh commented on #3152
![code](https://i.imgur.com/2kzTvgX.png) still same with new RC and imports from

[code]