[2016-12-07 06:30] dotansimha opened #1 "Fill README"

[2016-12-07 06:30] dotansimha opened #2 "Add support for Interface"

[2016-12-07 06:30] dotansimha opened #3 "Add support for Union"

[2016-12-07 06:30] dotansimha opened #4 "Add basic support for client-side Document"

[2016-12-07 06:30] dotansimha opened #5 "Add CLI"

[2016-12-07 06:31] dotansimha opened #6 "Add generator template for Flow"

[2016-12-07 06:31] dotansimha opened #7 "Add generator template for Swift"
Must have:
- [x] Generate Models
- [x] Generate documents
- [x] Inline fragments
- [x] Fragments spread
- [x] Optional/required field
- [x] Arrays
- [x] Aliases
- [x] Sort schema fields and generate the correct combinations of optional inputs

Later:
- [ ] Interface
- [ ] Union

[2016-12-07 06:31] dotansimha opened #8 "Add core unit tests"
Goal is 100% coverage for code + tests for each generator

[2016-12-07 06:31] dotansimha opened #9 "Add generator for TypeScript"

[2016-12-07 07:01] dotansimha opened #10 "Fragment support"

[2016-12-07 07:02] dotansimha opened #11 "Generate base models from server side schema"

[2016-12-07 07:02] #11 closed, assigned to nobody

[2016-12-07 07:03] dotansimha opened #12 "Load server-side schema"

[2016-12-07 07:03] #12 closed, assigned to nobody

[2016-12-07 07:03] dotansimha opened #13 "Load client-side documents"

[2016-12-07 07:03] #13 closed, assigned to nobody

[2016-12-07 07:03] dotansimha opened #14 "Basic Handlebars support"

[2016-12-07 07:03] #14 closed, assigned to nobody

[2016-12-07 07:05] dotansimha opened #15 "Directives support"
Maybe need to handle `@skip` and `@include` as optional variables.

[2016-12-07 07:05] dotansimha opened #16 "CI Support"

[2016-12-10 18:32] #4 closed, assigned to nobody

[2016-12-11 20:00] #10 closed, assigned to nobody

[2016-12-11 20:00] #5 closed, assigned to nobody

[2016-12-11 20:00] dotansimha opened #17 "Add support for Inline Fragment"

[2016-12-11 21:31] #9 closed, assigned to nobody

[2016-12-12 07:21] dotansimha opened #18 "Add support for files that contain GraphQL documents"
Instead of only `.graphql` files - can also support by detecting common patterns, such as `gql` tag.

[2016-12-12 07:22] #1 closed, assigned to nobody

[2016-12-12 16:03] #17 closed, assigned to nobody

[2016-12-12 16:34] #2 closed, assigned to nobody

[2016-12-12 20:56] #3 closed, assigned to nobody

[2016-12-12 22:25] #16 closed

[2016-12-13 13:04] #6 closed

[2016-12-13 15:10] dotansimha opened #19 "Add support for custom scalars"

[2016-12-14 12:53] dotansimha opened #20 "Add support for Authorization header when using --url"

[2016-12-14 13:17] #19 closed

[2016-12-14 13:57] #20 closed

[2016-12-23 09:11] dotansimha opened #21 "Add support for non-flatten models structure"
Examples:
- TypeScript / Flow needs flatten entities.
- Swift need recursive

[2016-12-23 09:11] #21 closed

[2016-12-23 09:11] dotansimha commented on #21
Done in 0.2.1

[2016-12-23 09:12] dotansimha opened #22 "Add support for per-template Handlebars partials"
To support recursive rendering of types

[2016-12-23 09:12] dotansimha commented on #22
Done 0.2.1

[2016-12-23 09:12] #22 closed

[2016-12-23 09:16] dotansimha opened #23 "Publish package to other package managers"
- [ ] Homebrew
- [ ] MacPorts
- [ ] ?

[2016-12-24 09:22] #18 closed

[2016-12-24 09:22] dotansimha commented on #18
Done in 0.2.3

[2016-12-26 21:45] #7 closed

[2016-12-27 09:47] greenkeeper[bot] opened #26 "An in-range update of @types/node is breaking the build 🚨"
## Version **6.0.54** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fnode-6.0.54">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </t

[2016-12-27 13:33] DxCx opened #30 "cannot get typings for arguments"
Hi,

i want to be able to get typings for arguments as well.
so for example, I have this scheme:
[code]

i would expect the generator to generate a type that can be used as arg,
so i can use them to write my resolver, so for the example above, it should look something like:

[code]

then i can use it in my resolver as the typings of the args parameter.

[2016-12-28 09:26] #26 closed

[2016-12-28 15:39] DxCx commented on #30
looks great thank you!

[2016-12-28 19:51] dotansimha commented on #30
@DxCx , what do you think about bundling the args into the query as namespace?

TypeScript supports namespacing (unlike other environments, like Swift), and we can leverage it to make cleaner code.

For example:
[code]

[2016-12-28 19:54] dotansimha opened #31 "Add support for "--export" flag"
Use a schema from a JavaScript file that exports the GraphQLSchema, to use with a local environment, and without starting a local server instance.
The flag will be in use instead of "--url" and "--file".

@DxCx , you wanted something like that, right?

[2016-12-28 19:55] dotansimha opened #32 "Add support for external custom template"
Add support to pass a custom local directory with template config for `--template` flag.

The idea is to add the ability to generate schema with custom template, without the need to PR this package or wait for a release.

[2016-12-28 19:57] dotansimha opened #33 "Document how to add a new template"
- [ ] How to create a new template?
- [ ] Document the Handlebars template context that passed into the template.

[2016-12-29 01:51] greenkeeper[bot] opened #34 "An in-range update of jest is breaking the build 🚨"
## Version **18.1.0** of [jest](https://github.com/facebook/jest) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Fjest-18.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      jest
    </td>
  </tr>
  <tr>
    <th align=left>

[2016-12-29 04:22] #34 closed

[2016-12-29 06:09] dotansimha commented on #31
Implemented in 0.5.0

[2016-12-29 06:09] #31 closed

[2016-12-29 09:45] DxCx commented on #31
After exploring this i found out it brings problems. Scheme is depeneded on typings.
Eventually i worked against export type definitions and not export scheme, since this is what you really need

[2016-12-29 09:46] DxCx commented on #30
I agree with you, looks cleaners.

[2016-12-29 23:11] greenkeeper[bot] opened #36 "An in-range update of @types/graphql is breaking the build 🚨"
## Version **0.8.5** of [@types/graphql](https://www.npmjs.com/package/@types/graphql) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fgraphql-0.8.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/graphql
    <

[2016-12-29 23:13] greenkeeper[bot] opened #38 "An in-range update of @types/node is breaking the build 🚨"
## Version **6.0.55** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fnode-6.0.55">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </t

[2016-12-30 17:50] greenkeeper[bot] opened #39 "An in-range update of @types/jest is breaking the build 🚨"
## Version **16.0.3** of [@types/jest](https://www.npmjs.com/package/@types/jest) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fjest-16.0.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/jest
    </td>
  </t

[2017-01-01 08:01] #36 closed

[2017-01-01 08:03] #38 closed

[2017-01-01 08:03] #39 closed

[2017-01-02 20:06] alexgorbatchev commented on #23
Is that really necessary? Feels like this might be adding too much overhead.

[2017-01-02 20:06] alexgorbatchev opened #44 "Please publish new version"
Please publish the latest version. Thank you! 👍

[2017-01-03 09:54] dotansimha commented on #44
Published 0.5.1. Thanks @alexgorbatchev .

[2017-01-03 09:54] #44 closed

[2017-01-03 09:55] dotansimha commented on #31
Yeah I got it.
What do you think about scanning for type definitions (like we do for client side) in your code files? and then use then to create the schema object.

@DxCx

[2017-01-03 09:59] dotansimha commented on #23
@alexgorbatchev at the moment, you have to install NodeJS manually and then use `npm` or `yarn`, and that something that Swift developers for example does not use on daily basis, so I thought about publishing to brew to make it easier for them to start with it as a CLI tool, without installing NodeJS manually.
It might be an overhead at the moment, that's why I think that we will do it in the futu

[2017-01-03 10:53] DxCx commented on #31
@dotansimha
im not sure scanning is really needed,
all you need is to process a javascript file which exports the typedefinitions.

let's discuss this further offline ;)

[2017-01-03 18:27] greenkeeper[bot] opened #45 "An in-range update of @types/node is breaking the build 🚨"
## Version **6.0.56** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fnode-6.0.56">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </t

[2017-01-04 21:04] greenkeeper[bot] opened #47 "An in-range update of @types/node is breaking the build 🚨"
## Version **6.0.57** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fnode-6.0.57">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </t

[2017-01-06 05:20] greenkeeper[bot] opened #48 "An in-range update of tslint is breaking the build 🚨"
## Version **4.3.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Ftslint-4.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left

[2017-01-11 10:40] DxCx opened #49 "Need to remove fs.readFileSync calls"
to allow running from anywhere.

[2017-01-11 17:18] greenkeeper[bot] opened #50 "An in-range update of @types/graphql is breaking the build 🚨"
## Version **0.8.6** of [@types/graphql](https://www.npmjs.com/package/@types/graphql) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fgraphql-0.8.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/graphql
    <

[2017-01-12 00:05] greenkeeper[bot] opened #51 "An in-range update of typescript is breaking the build 🚨"
## Version **2.1.5** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Ftypescript-2.1.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>

[2017-01-12 17:58] greenkeeper[bot] opened #52 "An in-range update of @types/jest is breaking the build 🚨"
## Version **16.0.4** of [@types/jest](https://www.npmjs.com/package/@types/jest) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fjest-16.0.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/jest
    </td>
  </t

[2017-01-14 21:42] #47 closed

[2017-01-14 21:43] #48 closed

[2017-01-14 21:43] #50 closed

[2017-01-14 21:44] #51 closed

[2017-01-14 21:45] #52 closed

[2017-01-25 21:05] greenkeeper[bot] opened #59 "An in-range update of tslint is breaking the build 🚨"
## Version **4.4.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Ftslint-4.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left

[2017-01-30 06:12] greenkeeper[bot] opened #61 "An in-range update of @types/jest is breaking the build 🚨"
## Version **16.0.5** of [@types/jest](https://www.npmjs.com/package/@types/jest) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fjest-16.0.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/jest
    </td>
  </t

[2017-02-02 09:08] #61 closed

[2017-02-02 09:08] #59 closed

[2017-02-04 02:13] greenkeeper[bot] opened #65 "An in-range update of @types/node is breaking the build 🚨"
## Version **7.0.5** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fnode-7.0.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>

[2017-02-08 23:17] greenkeeper[bot] opened #66 "An in-range update of typescript is breaking the build 🚨"
## Version **2.1.6** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Ftypescript-2.1.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>

[2017-02-18 22:10] greenkeeper[bot] opened #68 "An in-range update of rimraf is breaking the build 🚨"
## Version **2.6.0** of [rimraf](https://github.com/isaacs/rimraf) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Frimraf-2.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rimraf
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-02-20 07:17] #68 closed

[2017-02-20 07:19] #65 closed

[2017-02-20 07:19] #66 closed

[2017-02-27 19:17] greenkeeper[bot] opened #73 "An in-range update of tslint is breaking the build 🚨"
## Version **4.5.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Ftslint-4.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left

[2017-03-04 05:06] greenkeeper[bot] opened #74 "An in-range update of request is breaking the build 🚨"
## Version **2.80.0** of [request](https://github.com/request/request) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Frequest-2.80.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      request
    </td>
  </tr>
  <tr>
    <th align

[2017-03-08 19:52] greenkeeper[bot] opened #76 "An in-range update of @types/node is breaking the build 🚨"
## Version **7.0.6** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fnode-7.0.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>

[2017-03-10 07:30] greenkeeper[bot] opened #78 "An in-range update of @types/handlebars is breaking the build 🚨"
## Version **4.0.32** of [@types/handlebars](https://www.npmjs.com/package/@types/handlebars) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fhandlebars-4.0.32">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/ha

[2017-03-11 00:59] greenkeeper[bot] opened #79 "An in-range update of conventional-changelog is breaking the build 🚨"
## Version **1.1.2** of [conventional-changelog](https://github.com/conventional-changelog/conventional-changelog) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Fconventional-changelog-1.1.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>

[2017-03-18 01:40] greenkeeper[bot] opened #80 "An in-range update of pascal-case is breaking the build 🚨"
## Version **2.0.1** of [pascal-case](https://github.com/blakeembrey/pascal-case) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Fpascal-case-2.0.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      pascal-case
    </td>
  </tr>

[2017-03-23 11:39] thunder7553 opened #82 "anonymous queries are not supported"
Queries must be named at the moment. This will not work:

`
{
    users {
        docReferenceId
    }
}

`error: Unable to process simple.query.graphql TypeError: Cannot read property 'value' of null
    at Object.exports.handleOperation (E:\dev\s\node_modules\graphql-code-generator\dist\operation-handler.js:18:35)
    at E:\dev\s\node_modules\graphql-code-generator\dist\codegen.js:19:56
    at A

[2017-03-23 11:42] thunder7553 opened #83 "schema must contain subscriptions and mutations"
The schema document must contain query, subscription and mutation fields. If it does not contain them, then there will be a error:

`Cannot read property 'name' of null`

The problem is in src/handlers/operation-handler.ts, line 31-33.

`export const handleOperation = (schema: GraphQLSchema, definitionNode: OperationDefinitionNode, primitivesMap: any, flattenInnerTypes: boolean): CodegenDocument =

[2017-03-23 11:49] thunder7553 opened #84 "input types are not emitted (typescript, noSchema===true)"
given a query:

[code]

the output is

[code]

The PagerInput is missing.

[2017-03-27 18:13] greenkeeper[bot] opened #86 "An in-range update of typescript is breaking the build 🚨"
## Version **2.2.2** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Ftypescript-2.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>

[2017-03-31 17:21] greenkeeper[bot] opened #88 "An in-range update of graphql is breaking the build 🚨"
## Version **0.9.2** of [graphql](https://github.com/graphql/graphql-js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Fgraphql-0.9.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      graphql
    </td>
  </tr>
  <tr>
    <th alig

[2017-04-28 12:16] greenkeeper[bot] opened #89 "An in-range update of @types/commander is breaking the build 🚨"
## Version **2.9.0** of [@types/commander](https://www.npmjs.com/package/@types/commander) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fcommander-2.9.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/command

[2017-04-29 21:01] greenkeeper[bot] opened #90 "An in-range update of handlebars is breaking the build 🚨"
## Version **4.0.7** of [handlebars](https://github.com/wycats/handlebars.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Fhandlebars-4.0.7">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      handlebars
    </td>
  </tr>
  <tr>

[2017-05-02 08:21] fabien0102 opened #91 "Publish a new npm version"
Hi!

Very great package! I just have an issue with ts-lint and I see that is fix on master.

Could you publish a new version to npm? 😄

Thanks a lot for this very good works!

[2017-05-03 06:15] dotansimha commented on #91
Published `graphql-code-generator@0.5.2`!

[2017-05-03 06:15] #91 closed

[2017-05-03 06:15] #90 closed

[2017-05-03 06:15] #89 closed

[2017-05-03 06:15] #88 closed

[2017-05-03 06:15] #86 closed

[2017-05-03 06:15] dotansimha commented on #83
Fixed in `graphql-code-generator@0.5.2`! Thanks @thunder7553 !

[2017-05-03 06:15] #83 closed

[2017-05-03 06:15] dotansimha commented on #82
Fixed in `graphql-code-generator@0.5.2`! Thanks @thunder7553 !

[2017-05-03 06:15] #82 closed

[2017-05-03 06:16] #80 closed

[2017-05-03 06:16] #79 closed

[2017-05-03 06:16] #78 closed

[2017-05-03 06:16] #76 closed

[2017-05-03 06:16] #74 closed

[2017-05-03 06:16] #73 closed

[2017-05-05 01:00] greenkeeper[bot] opened #92 "An in-range update of @types/node is breaking the build 🚨"
## Version **7.0.17** of [@types/node](https://www.npmjs.com/package/@types/node) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fnode-7.0.17">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </t

[2017-05-05 23:25] greenkeeper[bot] opened #94 "An in-range update of @types/graphql is breaking the build 🚨"
## Version **0.9.1** of [@types/graphql](https://www.npmjs.com/package/@types/graphql) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fgraphql-0.9.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/graphql
    <

[2017-05-13 11:39] DJWassink opened #96 "Mutation with only a string return."
Heya, awesome work on this project!

I really love getting typescript defenitions for my queries but I am running into a issue with a single mutation which only returns a `String!`

My mutations schema look like this:
[code]

And in my react component:
[code]

The `RegisterMutation` is returning a user object where I am selecting the `id` only and the defenitions gets generated correctly but for t

[2017-05-13 12:17] DJWassink commented on #96
For now I have solved the issue by returning a type only containing a single string, so in my schema I now have added:

[code]

And changed the mutation object to:
[code]

And in my react component my mutation looks like this:
[code]

So I assume to let the codegenerator generate code an object as return type is required?

[2017-05-21 11:46] greenkeeper[bot] opened #97 "An in-range update of handlebars is breaking the build 🚨"
## Version **4.0.9** of [handlebars](https://github.com/wycats/handlebars.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Fhandlebars-4.0.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      handlebars
    </td>
  </tr>
  <tr>

[2017-05-22 22:31] greenkeeper[bot] opened #98 "An in-range update of typescript is breaking the build 🚨"
## Version **2.3.3** of [typescript](https://github.com/Microsoft/TypeScript) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Ftypescript-2.3.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      typescript
    </td>
  </tr>
  <tr>

[2017-05-22 23:44] greenkeeper[bot] opened #99 "An in-range update of tslint is breaking the build 🚨"
## Version **5.3.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Ftslint-5.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left

[2017-05-24 14:20] Izhaki opened #100 "typescript-multiple-files/index.handlebars does not exists"
When running (from an npm script)

    gql-gen --url http://0.0.0.0:8889/graphql --template ts-multiple --out ./outM

one gets:

[code]

Notice that for some reason it searches for the file in the home folder (`/Users/roey/generators/...`).

Full `package.json`:

[code]
Note that `emit` works, but `em` doesn't.

[2017-05-24 14:25] Izhaki commented on #100
I don't think [this](https://github.com/dotansimha/graphql-code-generator/blob/9ccde1d96d09e43a7d75c44889a65cf3653937d9/src/engine/templates.ts#L41) resolves correctly. And this is probably the fix:

https://stackoverflow.com/questions/12238477/determine-command-line-working-directory-when-running-node-bin-script

[2017-05-28 11:53] eitanfr opened #102 "Error: Schema must be an instance of GraphQLSchema."
When installing the package locally and running my Apollo server I receive: `Error: Schema must be an instance of GraphQLSchema. Also ensure that there are not multiple versions of GraphQL installed in your node_modules directory`

Consider changing the graphql dependency to peerDependency.

[2017-06-02 02:52] greenkeeper[bot] opened #103 "An in-range update of @types/commander is breaking the build 🚨"
## Version **2.9.1** of [@types/commander](https://www.npmjs.com/package/@types/commander) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fcommander-2.9.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/command

[2017-06-02 14:03] greenkeeper[bot] opened #104 "An in-range update of @types/handlebars is breaking the build 🚨"
## Version **4.0.33** of [@types/handlebars](https://www.npmjs.com/package/@types/handlebars) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2F%40types%2Fhandlebars-4.0.33">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/ha

[2017-06-20 16:47] tafkanator commented on #100
probably solves once this issue is solved #49

[2017-06-23 09:45] greenkeeper[bot] opened #107 "An in-range update of commander is breaking the build 🚨"
## Version **2.10.0** of [commander](https://github.com/tj/commander.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/dotansimha/graphql-code-generator/compare/greenkeeper%2Fcommander-2.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      commander
    </td>
  </tr>
  <tr>
    <th

[2017-06-24 18:17] #107 closed

[2017-06-24 18:17] #104 closed

[2017-06-24 18:17] #103 closed

[2017-06-24 18:17] #99 closed

[2017-06-24 18:17] #98 closed

[2017-06-24 18:17] #97 closed

[2017-06-24 18:17] #94 closed

[2017-06-24 18:17] #92 closed

[2017-06-24 18:19] #23 closed

[2017-06-24 18:29] dotansimha commented on #102
Please update to 0.5.4.

[2017-06-24 18:29] #102 closed

[2017-06-24 23:36] zephraph commented on #100
This will be fixed with #110

[2017-06-24 23:54] zephraph opened #111 "Multi-file outputs make a file and export for built in graphql types"
![image](https://user-images.githubusercontent.com/3087225/27512671-eefc53fe-5916-11e7-95f4-8808522a716e.png)

There's two empty files to go along with that.

[2017-06-24 23:58] zephraph opened #112 "Multi-file type files include duplicate imports"
![image](https://user-images.githubusercontent.com/3087225/27512677-27c49f98-5917-11e7-8dc0-092fe9bc2a9b.png)

It looks like it currently just iterates through the special imports and adds an entry for every item that occurs in the body. Just need to dedupe the list.

[2017-06-25 13:58] zephraph commented on #112
Will be resolved in #113

[2017-06-25 13:58] #112 closed

[2017-06-25 14:00] zephraph commented on #100
This is fixed in master, it's just awaiting a release.

[2017-06-25 15:11] zephraph commented on #8
100% coverage might be a bit ambitious/unnecessary. I definitely think a little bit of refactoring for testability would be good though.

[2017-06-28 16:11] #111 closed

[2017-06-28 16:21] dotansimha commented on #8
@zephraph I am working of a big refactor right now, and so far my goal there is to reach 100% coverage :D

[2017-06-28 16:53] altschuler opened #118 "Document differences with Apollo Codegen"
I'm using this project because at the time of adoption [apollo-codegen](https://github.com/apollographql/apollo-codegen) did not support the `gql` tag. Now that it does I'm not so sure what the difference between this project and Apollo's version is.

Could it be documented? (I'd make a PR, but I can't because I don't know...)

And thank you for an awesome library, it's been one of the huge advant

[2017-06-28 17:05] dotansimha commented on #118
@altschuler
Basically, `apollo-codegen` generates a similar results, but it based on code that generates the results.
This package uses Templates (with Handlebars) to generate results, and it basically supports any output because you can simply create you template and then compile it with your GraphQL schema and  get a more customized result.
It also offers a single command to generate your code f

[2017-06-28 17:39] altschuler commented on #118
Thank you! That clears things up. This might be a good addition to the readme.

[2017-06-28 18:43] zephraph commented on #118
Also, apollo-codegen is focused more around queries. This project generates useful code for schemas as well which helps to provide types for your resolvers. Super, super useful.

[2017-06-29 02:37] zephraph opened #120 "Do minor release with recent changes"
@dotansimha would you mind going ahead and doing a minor release before the refactor lands?

[2017-07-05 09:12] thunder7553 opened #121 "unmet peer dependency when I have graphql 0.10.3"
I get an unmet peer dependency, but I have graphql 0.10.3 installed (node 8+, npm 5+)

[code]

[code]

I think the problem is that the versions in package.json do not include the trailing '.0'. The other problem - please correct me if I'm wrong - the ^ operator should match any change of minor and patch, according to this: https://nodesource.com/blog/semver-tilde-and-caret/. So ^0.8.0 would match

[2017-07-11 08:41] thunder7553 commented on #121
[code]

seems to be working

[2017-07-13 05:02] dotansimha commented on #120
Release 0.5.5 :)

[2017-07-13 05:02] #120 closed

[2017-07-13 05:02] dotansimha commented on #121
Fixed in 0.5.5 :) Thanks @thunder7553

[2017-07-13 05:02] #121 closed

[2017-07-13 05:03] dotansimha commented on #100
Fixed in 0.5.5 :)

[2017-07-13 05:03] #100 closed

[2017-07-17 11:37] #8 closed

[2017-07-17 11:37] dotansimha commented on #15
Done in 0.8.0 :)

[2017-07-17 11:37] #15 closed

[2017-07-17 11:38] dotansimha commented on #32
Done in 0.8.0 :)

@tgjorgoski @thunder7553

[2017-07-17 11:38] #32 closed

[2017-07-17 11:38] dotansimha commented on #33
Done

[2017-07-17 11:38] #33 closed

[2017-07-17 11:38] dotansimha commented on #49
@DxCx

Done!

You can now use directly the `compiler` package with any need for fs calls

[2017-07-17 11:38] #49 closed

[2017-07-17 11:38] dotansimha commented on #84
@thunder7553
Done in 0.8.0 :)

[2017-07-17 11:38] #84 closed

[2017-07-17 11:39] dotansimha commented on #96
Fixed in 0.8.0 :)

@DJWassink

[2017-07-17 11:39] #96 closed

[2017-07-18 16:32] mctep opened #126 "Could not install 0.8.0"
Hello! Thank you for your job.

I could not install the latest (0.8.0) version of the package:

[code]

[2017-07-18 19:38] dotansimha commented on #126
Hi @mctep , any change you can try it with Node 7?
Also, you installed it as global module, or local module?

[2017-07-18 19:40] altschuler commented on #126
I've got node 7 and facing the same issue, with a global install.

[2017-07-18 19:43] dotansimha commented on #126
@mctep @altschuler

It's actually an issue with `npm` installation, with `yarn` it works.
Can you please try to install it with `yarn`?

[2017-07-18 19:47] altschuler commented on #126
That was actually what I tried first, it installs without error, but gives `command not found: gql-gen` when running `gql-gen`. I've resorted to a local install and executing it with `$(yarn bin)/gql-gen`.

[2017-07-18 19:47] dotansimha commented on #126
Fixed in `0.8.1` :)

[2017-07-18 19:53] altschuler commented on #126
Haha, that was fast! It seems like it's not installing dependencies though (might be a problem on my end). Eg. `Error: Cannot find module 'graphql-tag'` and after installing that globally `Error: Cannot find module 'graphql/language/parser'`, etc.

[2017-07-18 20:01] dotansimha commented on #126
@altschuler , yeah just noticed it. Can you please try `graphql-code-generator@0.9.0-alpha.1a4d72cb` (it's a canary version I am trying)

[2017-07-18 20:02] altschuler commented on #126
That one seems to work!

[2017-07-18 20:04] dotansimha commented on #126
@altschuler , I released it as a regular version, `0.8.2`, can you please try it as well?

[2017-07-18 20:07] altschuler commented on #126
Yep, works as well :)

[2017-07-18 20:08] dotansimha commented on #126
@altschuler thank you for your help :) It would be great to hear feedbacks regarding the new version, because I did a full refactor and implemented the whole package from scratch.

[2017-07-18 20:08] #126 closed

[2017-07-18 20:10] altschuler opened #127 "v8 error: Cannot read property 'type' of undefined"
Getting the following error after upgrading to v8.0.2. Not sure if I should have migrated something somehow?

[code]

[2017-07-18 20:11] altschuler commented on #126
@dotansimha see https://github.com/dotansimha/graphql-code-generator/issues/127 :P

[2017-07-18 20:13] dotansimha commented on #127
@altschuler can you execute with `DEBUG=true gql-gen ...` and share the output? :)

Also, I noticed a minor but with the output file (you should specify only a directory at the moment, because the generator append the `types.d.ts` always - i will fix it really soon).

[2017-07-18 20:20] altschuler commented on #127
That's a pretty long output, so here's a paste https://pastebin.com/aw8dp9Nk

[2017-07-18 20:23] dotansimha commented on #127
It looks like something with the `ChapterWordCount` fragment. Probably just an end case I didn't cover in tests and implementation. can you please share the definition of the fragment?

Thanks :)

[2017-07-18 20:24] altschuler commented on #127
[code]

[2017-07-18 20:29] dotansimha commented on #127
Thank you!
I can guess that it's something about the __typename, let me check and I'll update soon.

[2017-07-18 20:34] altschuler commented on #127
Awesome, thanks! I noticed that the `getFieldDef` util function uses `parentType.getFields()` which only returns the defined fields of the type. Since `__typename` isn't an actually defined field it might be a special case to consider?

[2017-07-18 20:52] altschuler commented on #127
Yeah, so doing the following makes it emit properly. It's not how it should be fixed, but FWIW I'll add it here

[code]

[2017-07-18 21:10] altschuler commented on #127
A few more notes:
- It's emitting some seemingly "raw" graphql types, such as `ID` and `Int` which are not aliased. I guess there're some type definitions missing in the header, such as `export type ID = string;`
- Nested fragment spreads are not getting emitted, resulting in syntax errors, eg:
[code]

and the definitions of this fragment is

[code]

[2017-07-18 21:18] dotansimha commented on #127
@altschuler, actually I guess that we need to ignore `__typename` as a field, because it's not relevant to the generation of the fragment (it's the same as the name of the type, and there is a field called `schemaBaseType` with this value).

I fixed it and release `graphql-code-generator@0.8.3`, can you please try it and update?

[2017-07-18 21:19] dotansimha opened #128 "Bug with output filename when using generator"
When using `--out a/b/c.ts`, an error is thrown because the generator tries to write to `a/b/c.ts/types.d.ts`.
We should accept the user's custom name and ignore the default name.

[2017-07-18 21:20] dotansimha commented on #127
And regarding the issue with the output file, I opened an issue and I will fix it soon: https://github.com/dotansimha/graphql-code-generator/issues/128

[2017-07-18 21:25] dotansimha commented on #118
Added to README :) Thanks @altschuler @zephraph !

[2017-07-18 21:25] #118 closed

[2017-07-18 21:35] altschuler commented on #127
Very good point, it should be ignored yes! 0.8.3 solves the typename (fragment spread and wrong scalar types is still present). Thank you very much for you work on this, the new version is looking really cool!

[2017-07-18 21:41] altschuler commented on #127
Btw, the missing fragment spreads in the above example should be emitted as (I suppose)

[code]

[2017-07-18 23:01] dotansimha commented on #127
@altschuler can you please try `0.8.4` ? it should fix all those issues, including https://github.com/dotansimha/graphql-code-generator/issues/128. Thanks! :)

[2017-07-18 23:09] altschuler commented on #127
Awesome, it works! The default emit templates (at least for typescript) are quite different than in 0.7, eg. `ElementsQuery.Result` is now emitted as `Elements.Query` so you might want to bump a major version?

[2017-07-18 23:16] dotansimha commented on #127
@altschuler yeah that is my goal for the next days - just want to make sure that we don't have any other surprises like these issues :)

Thank you so much for your review and help in fixing these issues!

[2017-07-18 23:16] #127 closed

[2017-07-18 23:17] dotansimha opened #130 "[TypeScript-Multiple] Missing imports in some files"
- Some imports are missing
- Some imports are not valid (try to import from the incorrect filename)

[2017-07-19 05:16] #128 closed

[2017-07-19 08:12] dotansimha commented on #130
Fixed in `0.8.5` and also added example for generated result

[2017-07-19 08:12] #130 closed

[2017-07-19 08:49] mctep commented on #126
Hello! I think it is still broken.

As I understand there is no `index.js` in package folder. Also no `main` section in `package.json`. So node could not require the package.

[code]

[code]

[2017-07-19 08:52] dotansimha commented on #126
@mctep
The `graphql-code-generator` shouldn't loaded directly using `require` because it's only a CLI executable (named `gql-gen`).
If you want to use the codegen programmatically, use the `graphql-codegen-compiler` package instead.

[2017-07-19 08:58] mctep commented on #126
Oh. Yes. I've just imagined it. :)
This package has been refactored 👍

[2017-07-20 09:09] dotansimha opened #131 "Multiple files generator does not includes `prefix` in imports"

[2017-07-20 10:29] mctep opened #132 "--header Option does not work"
I think there is mistyping. :)

In `cli` it is requesting `header` option https://github.com/dotansimha/graphql-code-generator/blob/a6c3d1d13fb69f142d1139b4e52eb2d6ac934c1e/packages/graphql-codegen-cli/src/cli.ts#L65

But in generation it passes `headers`

https://github.com/dotansimha/graphql-code-generator/blob/a6c3d1d13fb69f142d1139b4e52eb2d6ac934c1e/packages/graphql-codegen-cli/src/cli.ts#L116

[2017-07-20 17:40] dotansimha opened #133 "Add support for custom context in `gqlgen.json`"
To allow a project to generate schema/operation and add custom data.

For example:
[code]

And then to make it available in a file called `prefix.type.js.gqlgen` and when compiling `MyType`.

This could be useful for generating code from GraphQL schema that we can't modify, but still be able to add custom metadata.

[2017-07-23 06:27] dotansimha commented on #132
Thanks @mctep
Please try `0.8.7`.

Note that to add multiple headers, you need to specify `--header` multiple times, and separate the value with `=` or `:`.

`gql-gen --header "A=1" --header "B:2"`

[2017-07-24 08:34] #132 closed

[2017-07-24 08:35] dotansimha opened #134 "Add support for custom helpers"

[2017-07-24 09:01] dotansimha commented on #134
Available in `0.8.8`

[2017-07-24 09:01] #134 closed

[2017-07-24 09:29] dotansimha opened #136 "Add support for ignored element in `gqlgen.json`"
To ignore specific GraphQL elements when generating with custom templates

[2017-07-28 05:05] Anthonyzou opened #137 "Allow for insecure requests"
Hey,

It would be great if we could have a flag to allow for endpoints with self signed certificates or allow us to add our own CA when fetching from a URL.

[2017-07-28 16:54] altschuler opened #138 "Nullable fields with typescript"
I'm having a recurring issue with how nullable fields are emitted in typescript. The current way is to use `field: <type> | null` which I suppose is theoretically correct, but in practice it doesn't always play well since typescript will complain that some nullable field is missing (because it's undefined and not actually null). The more typescriptish way would be to make it an optional field like

[2017-07-28 17:02] altschuler opened #139 "Simplify fragment emitting"
With the editor I'm using union types makes the type documentation rather big (big as in every field of some type is being reported instead of the type itself).

I think this would be alleviated if single fragments where emitted without an empty object type.

**tl;dr**: it'd be nice if

[code]

was being emitted as simply

[code]

[2017-07-31 08:19] mctep commented on #132
It works! 👍

[2017-08-03 20:30] dcolthorp opened #141 "Error: Unexpected DefinitionNode sub-type: [object Object]"
Hello!

I just tried updating `graphql-code-generator` from 0.5.5 and my schema no longer works. It appears this changed with 0.8.0 and is still broken in 0.8.10.

Let me know if I'm just doing something wrong – but this schema used  to work.

The error is:

[code]

Here are the `schema.graphql` and `schema.json` I was using.

[bad-schema.zip](https://github.com/dotansimha/graphql-code-generator/f

[2017-08-10 21:23] mellocello2003 commented on #141
I ran into this as well.

[2017-08-22 05:24] dotansimha commented on #137
@Anthonyzou I think we can completely ignore certificated because this is a development tool.
What do you think?

[2017-08-22 05:26] dotansimha commented on #138
It makes sense.
Actually it's a workaround for an issue that existed a long time agon in `apollo-client` that forced null value for nullable types.
I guess that using `?` is more ts-ish.
I will fix it soon.

Thank you @altschuler

[2017-08-22 05:26] dotansimha commented on #139
@altschuler
Thank you, I will fix it in the next release :)

[2017-08-22 05:27] dotansimha commented on #141
Working on it. Thank you for the attachment, it's really helpful!

[2017-08-25 08:54] thunder7553 opened #143 "missing typing in graphql-codegen-compiler (0.8.10)"
The package.json file contains the wrong path for the typings. It says to look for the typings in /dist/src/index.d.ts, but they are in /dist/index.d.ts.

[2017-08-25 09:13] thunder7553 commented on #143
it's also bogus in graphql-codegen-generators

[2017-08-25 09:15] thunder7553 opened #144 "'Settings' are not exported in index.d.ts"
The index.d.ts in graphql-codegen-compiler does not export Settings. To use it now, you have to use it this way:

[code]

[2017-08-25 21:46] Aleksion commented on #18
what about supporting graphql tags? (the relay standard)

[2017-09-13 06:06] #138 closed

[2017-09-14 14:21] Kurren123 opened #145 "Add support for all fields given by fragments on models"
I'm doing a C# generator. To make serialization easier I'm trying to match what the JSON output of the query is. E.g. this query:

[code]

Can give this response:

[code]

However currently the fragments are provided as separate types to the handlebars template (and the typescript template generates separate classes for each one). Ideally I want all the fields given by fragments to be _embedded_ a

[2017-09-17 19:01] srghma opened #146 "Add option to output immutable types"
Option to make output typings comply [tslint-immutable](https://www.npmjs.com/package/tslint-immutable) rules:
- add to each interface property `readonly` keyword
- use ReadonlyArray<T> instead of Array<T> or T[].

[2017-09-20 06:05] dotansimha commented on #141
Ohh I see why it happens.
Your `schema.graphql` is not a valid GraphQL file, because it contains the schema it self.

You provided the schema using `--file`, so either don't provide your schema again as the last parameter for the CLI, or provide client-side documents (query, fragment, mutation ... ) in the last param.

So it should be:
[code]

Or, if you have queries and you want to generate typin

[2017-09-20 06:05] #141 closed

[2017-09-20 06:07] dotansimha commented on #143
Fixed, will release soon.
Thanks @thunder7553

[2017-09-20 06:09] dotansimha commented on #144
Thanks @thunder7553 .
Fixed and will release a version soon.

[2017-09-20 06:17] dotansimha commented on #145
Hi @Kurren123! It's so amazing that your are writing a C# generator!

Your use case is need to merge the fields from both selection set, and fragments' selection sets, right?
In TypeScript, the generator generated a merged types with `&`.

In C#, you can do something similar? maybe implement an interface?

Another solution, is to do something similar to this in your Handlebars template:
[code]

Be

[2017-09-20 06:19] dotansimha commented on #146
Sounds good. Also, it makes sense if you are using apollo-client, because it also return an immutable results.

@BjornMelgaard what do you think about creating a PR for this?

[2017-09-20 06:29] BjornMelgaard commented on #146
@dotansimha , ok, it seems not so hard to add 2 new templates :smile: , I'll try on weekends.

[2017-09-20 06:38] #144 closed

[2017-09-20 06:38] #143 closed

[2017-09-20 06:38] #139 closed

[2017-09-20 06:39] #137 closed

[2017-09-20 06:39] dotansimha commented on #137
Done in 0.8.11

[2017-09-20 07:39] dotansimha commented on #146
@BjornMelgaard I think that we should allow to create config file for the generator.
At the moment I added support for `gql-gen.json` file, but the config there is for the generator code only, but I think we can extend it for generator-specific configuration.
This way the immutable feature will be on the same TS generator, instead of creating a new one.

What do you think?

[2017-09-20 07:48] dotansimha opened #148 "Add support for generator-specific config in `gql-gen.json`"

[2017-09-20 07:48] dotansimha commented on #146
https://github.com/dotansimha/graphql-code-generator/issues/148

[2017-09-20 08:27] BjornMelgaard commented on #146
@dotansimha ok, no new templates, just integrate this functionality in existing `typescript-multi-file` and `typescript-single-file` and activate it with something like

[code]

If I correctly understand you, you just saying that there is no way to access user config option (like "immutable" or "flattenType" above) in handlebars template and you want to add it

[2017-09-20 08:45] BjornMelgaard commented on #146
and, if I correctly understand, you integrated template specific knowledge (maybe) about "flattenTypes" into the `graphql-codegen-compiler`

[2017-09-20 11:12] Kurren123 commented on #145
Hi @dotansimha. Thanks for your help. I think that second solution looks appropriate, because when a class in C# implements an interface we still need to declare each property in that class (including properties given by interfaces). Will your second solution work if there are fragments within fragments? (nested fragments)? Like so:

[code]

[2017-09-20 12:47] dotansimha commented on #145
@Kurren123 You can create a template, and call is recursively :)

[2017-09-21 08:02] altschuler opened #149 "Arrays not being emitted as optional in typescript generator"
An input type like

[code]

is not being emitted with `tags` as optional. It should, unless the gql type was `tags: [String!]!`.

Digging a little further, this only happens when the inner type of the array is non-null, so

[code]

Will emit correctly as `tags?: string[]`

This is related to the recent change from `| null` to `?`.

[2017-09-23 21:48] BjornMelgaard commented on #146
@dotansimha hi, how its going? how can I get 'immutable' property from users config in handlebars template?

[2017-10-03 10:14] altschuler opened #150 "Add support for custom indention"
It would be very useful to support a custom level of indention in the generated files.

[2017-10-07 23:36] kvnvelasco opened #151 "Add support for __typename field"
I've looked over the codebase and i'm not entirely sure where to handle the case where the '__typename' field in a document maps to a `GraphQLObjectType | GraphQLObjectInputType`.

At some point in core or compiler this case has to be handled.

So far, i've explored only one implementation: hardcoding the __typename case into `transformGraphQLObject`.

There's probably an issue with converting a s

[2017-10-14 03:05] garrettm opened #153 "Custom Scalars?"
In Typescript, custom scalar types are emitted like:

[code]

How can I make the emitted Foo refer to my existing types?

For example, if somewhere else in my code base, I have:
[code]

I know this supports templating, but even with templating, I'm not sure how to make Foo in the generated types refer to my project's Foo.  It seems like I'd need to import existing scalar definitions into my schema

[2017-10-25 15:43] dotansimha commented on #153
@garrettm
I think we can add a custom configuration per each generator, and pass it via `gql-gen.json` config file. this way we can add custom scalars mapping (and also an import from the file that contains the interface).

What do you think?

[2017-10-25 15:45] dotansimha commented on #151
Currently we are removing this field. @kvnvelasco do you think we need to add it back? do you have an example for usage for this field?

[2017-10-25 15:47] dotansimha commented on #150
@altschuler
Currently my approach is to ignore the indentation issue by adding `tslint:disable` and similar comments.
The indentation now is part of the template, and I'm not sure there is a quick way to switch between indentation configurations in Handlebars.

Also, I'm thinking about exposing a clean JS engine besides Handlebars, so we can also write the templates in pure JS code, and it might s

[2017-10-25 18:01] garrettm commented on #153
Correct me if I'm wrong, here's what I'm imagining, given what you said:

- add an option for extern definitions of scalars
- if set, gql-gen adds extra emits:

[code]

[code]

The user can export scalar types from this `extern.ts` file, and the TS compiler will complain if you forget one.

[2017-10-26 04:16] zephraph commented on #150
You could add a custom formatting step. Let people do a programmatic raw transformation from src to src. It'd be easy to pass the results through prettier or some other formatter then. Along with any other custom transformations that they may need.

[2017-10-26 17:22] rasdaniil opened #155 "TS and Nullable types, again"
Hi!

I know it was discussed and closed here https://github.com/dotansimha/graphql-code-generator/issues/138
However I think the current implementation is not totally correct

from http://graphql.org/graphql-js/basic-types/

Now when generating interfaces it marks the field optional but the value remains non-nullable.
Optional field is good for convinience (as discussed in issue 138), but non-null

[2017-10-28 20:13] altschuler commented on #150
I like @zephraph's idea. In general I think you're both right in that it's better to achieve this as part of a more overarching transformation/control than specifically setting indention level.

[2017-10-29 06:15] dotansimha commented on #155
It makes sense. Fixing it now!

[2017-10-29 06:38] dotansimha commented on #155
@rasdaniil @altschuler fixed in 0.8.14 :)

[2017-10-29 06:38] #155 closed

[2017-10-31 09:07] dotansimha commented on #153
@garrettm yeah it makes sense.
I'm currently working on the generator-specific configuration, and then we will be able to implement this feature

[2017-10-31 09:07] dotansimha commented on #150
@altschuler @zephraph what do you think about integrating [this](https://www.npmjs.com/package/handlebars-helper-prettify) ?

[2017-10-31 09:09] dotansimha commented on #149
@altschuler after changing the `?` to `?` and `| null`, does this solve this issue?

[2017-10-31 09:10] dotansimha commented on #146
@BjornMelgaard I'm implementing [this](https://github.com/dotansimha/graphql-code-generator/issues/148) right now, and let you know :)

[2017-10-31 09:11] dotansimha commented on #145
@Kurren123 how it's going?

[2017-10-31 09:16] dotansimha opened #157 "Add support for custom output processor"
The goal is allow users to create any output generator, and use any template engine or JS code instead of coupling to Handlebars.

The idea is to allow a custom processor from a JS file (as default export of a function), for example with JS template literals:

[code]

and use to with the CLI:

[code]

And the current Handlebars will be just another function that exposes Handlebar's `compile` funct

[2017-10-31 11:47] altschuler commented on #149
Yes, forgot about this issue. It works perfectly now :) Thanks!

[2017-10-31 11:47] #149 closed

[2017-10-31 11:50] darkbasic opened #158 "rxjs map operator does not infer type"
![map_does_not_infer_type](https://user-images.githubusercontent.com/1047358/32222522-d9672f4a-be39-11e7-919a-a8d1d3af9b61.png)

Test code: https://github.com/darkbasic/angularcli-graphql
`/src/app/apollo/apollo.component.ts`

[2017-10-31 11:57] darkbasic opened #159 "graphql-code-generator doesn't work with meteor-graphql-rxjs"
This is with the `http://localhost:3000/graphql` endpoint, using `apollo-server-express`:
[code]

This is with the `http://localhost:3000/graphql_live` endpoint, using `meteor-graphql-rxjs`:
[code]
To test it, check out the following:
Server: https://github.com/Urigo/WhatsApp-Server-GraphQL-Live-RxJS-Meteor
Run the server with `npm start`
Client: https://github.com/darkbasic/angularcli-graphql
Run

[2017-10-31 11:58] dotansimha commented on #158
Did you try to use `ApolloQueryObservable<..>` instead of `Observable<ApolloQueryResult<...>>`?

Also, if it does not work, I would expect the `result.data.allMembers` to be marked as syntax error...

@darkbasic

[2017-10-31 12:02] dotansimha commented on #159
@darkbasic, GraphiQL is available for the `graphql_live` endpoint? If so, do you see there the GraphQL documentation?

[2017-10-31 12:06] darkbasic commented on #158
No, because I'm using apollo-client 2.0 and AFAIK I am supposed to use Observable<ApolloQueryResult<...>> with latest version:

[code]

Webstorm has several ways to infer types (it also looks for the text string to see if it has been used elsewhere, etc..), but if you CTRL + mouse hover on `result` it clearly shows that it's of type `any`:

![map_does_not_infer_type_2](https://user-images.githubus

[2017-10-31 12:08] darkbasic commented on #159
Yes and yes.

[2017-10-31 12:32] dotansimha commented on #158
@darkbasic maybe it's because of the `map` usage?
The signature of `map` in `rxjs` is:
[code]

Did you try to add the output type as generic for `map`?

[2017-10-31 14:50] darkbasic commented on #158
If you mean something like
[code]
it indeed works, but why should I need to specify something like that? It should be able to automatically infer it, in fact it already knows that `query.valueChanges` returns `Observable<ApolloQueryResult<AllMembers.Query>>`:

![map_does_not_infer_type_3](https://user-images.githubusercontent.com/1047358/32230130-c1a7d4d6-be52-11e7-8d3b-2e23dc0926ed.png)

With apo

[2017-10-31 15:08] darkbasic commented on #158
![map_does_not_infer_type_5](https://user-images.githubusercontent.com/1047358/32231327-9248db24-be55-11e7-81ec-eca99c397c87.png)

![map_does_not_infer_type_4](https://user-images.githubusercontent.com/1047358/32231330-95396772-be55-11e7-96f2-b6f2627d3d7f.png)

Uhm... that's strange, maybe it's a bug in Webstorm?

[2017-10-31 15:32] darkbasic commented on #158
https://youtrack.jetbrains.com/issue/WEB-29502

If you use Webstorm please vote for this issue.

[2017-10-31 15:39] dotansimha commented on #158
@darkbasic , it makes sense. Also, which version of `typescript` do you use? And which version is in use in WebStorm settings?

[2017-10-31 15:41] darkbasic commented on #158
2.4.2

[2017-11-01 15:23] zephraph commented on #150
It seems like a bit too narrow of a solution. What if they aren't generating JS? I think the point is that it's hard to anticipate what a user's use case will be for this functionality.

[code]

The formatter here could just be a module that exports a function. Here's what an example no-op formatter might look like.

[code]

[2017-11-01 18:15] garrettm commented on #153
@dotansimha sounds good.  If you're interested in letting someone else do the work, point me in the direction when ready and I can take a look.

[2017-11-04 18:43] blackxored opened #160 "Flow template"
Where's Flow support and how we can contribute to that?

[2017-11-06 01:42] zephraph commented on #160
So, when the last major refactor happened the flow work wasn't ported over. If you want to help, checkout the graphql-code-generators package. It has [typescript-single-file](https://github.com/dotansimha/graphql-code-generator/tree/master/packages/graphql-codegen-generators/src/typescript-single-file) and [typescript-multi-file](https://github.com/dotansimha/graphql-code-generator/tree/master/pac

[2017-11-06 13:46] rasdaniil commented on #155
Thanks @dotansimha  !

[2017-11-08 01:55] blackxored commented on #160
See #161

[2017-11-08 02:08] blackxored opened #162 "Feature request: extensibility"
If we really want to be able to extend this, a few big things are missing IMHO:

* Gives us the AST. Directives support is cool but if we're going to be generating UI we probably need the AST or some kind of higher level constructs. Example case: build ListView components from Relay connections.
* Allow pointing to a Github repo or npm-package for extra templates/generators.
* Improve testing supp

[2017-11-08 02:13] blackxored opened #163 "Feature request: run prettier on generated code"
[Prettier](https://github.com/prettier/prettier) has programmatic support and it would be handy to run this before writing the file so we don't end up with very large comment and overall the code is
properly formatted.
I could add initial support (without custom config) if this is something that people would like.

EDIT: related to #150.

[2017-11-09 08:33] dotansimha commented on #162
Hi @blackxored !
Can you please provide an example for usage with the AST, and how you want to use it? do you mean just the basic output of graphql's `print`?

Also, I wonder how to support extensibility for template/generator from NPM package, maybe try to `require` the name of the generator (from the CLI value) ?

And regarding the support for people building generators - I am working on a simpl

[2017-11-09 08:35] dotansimha commented on #163
Yeah it's related to https://github.com/dotansimha/graphql-code-generator/issues/150 , and I think that I will go with @zephraph  idea (see his comment there). What do you think, @blackxored ?

[2017-11-09 08:36] dotansimha commented on #158
@darkbasic same for me, with 2.5/2.6.
I guess that it's a WebStorm issue.
Do you think we can close the issue?

[2017-11-09 08:37] dotansimha commented on #159
@darkbasic I will look into it soon.
I guess that the issue is with the HTTP request, and the fact that Meteor manages the HTTP server (with `WebApp` package).

[2017-11-09 08:42] zephraph commented on #162
That last idea sounds really interesting... I'm excited to see what you come up with!

[2017-11-09 10:04] darkbasic commented on #158
Yes I think so. Thanks.

[2017-11-09 10:04] #158 closed

[2017-11-09 15:16] dotansimha opened #164 "Development tool for creating templates"
The goal is to create something like that: UI util that shows 3 columns: GraphQL Schema, Codegen template and output.

This util will let template creators an easy util for creating the template and test the output in real time.

[2017-11-09 22:55] blackxored commented on #163
IMHO prettier should be the default. Ability to override it with a custom formatter should be weirdly needed (I can only think for languages that prettier doesn't support, and for people that don't like prettier (even after being able to customize its config). If we have a way to know which generator language was used (or setup a `formatterOptions` or `formatterLanguage` or just `language`) then w

[2017-11-12 09:46] dotansimha commented on #162
The current roadmap is:

- Remove the concept of `single` / `multiple` / `project` and replace it with a pure function that gets the compilation context and returns an array of `{ filename: string, content: string}`.
- Move generators to a separate NPM packages: each package exports the pure function, and each generator will have it's own dependencies (no need for the `code-gen-generators`) now.
-

[2017-11-12 14:16] dotansimha commented on #148
I merged a PR with this feature. keeping open until releasing a new version

[2017-11-14 21:44] iamdanthedev opened #166 "Multiple inline fragments - & vs |"
On a query like this

[code]

The result is
[code]

But it should be

[code]

Am I not mistaken?

Thanks

[2017-11-14 22:41] zephraph commented on #162
Well, I mean, it sounds cool. It also sounds like another major release w/ breaking changes.

[2017-11-15 10:52] altschuler commented on #166
Theoretically it should be the union I guess (`|`), but if it was, you would have neither `ingredient` nor `recipeId` available. It's kind of a trade off, but instead you have both of them.

[2017-11-15 22:22] rasdaniil commented on #166
@altschuler but a union implies that every element of `dishes` will have all three fields (id, recipeId, ingredient), when it's actually not true. Anyway a typeguard based on __typename should help..

[2017-11-15 22:29] rasdaniil commented on #151
this would be the use case I think
https://github.com/dotansimha/graphql-code-generator/issues/166
otherwise how to distinguish between two inline fragments
Thanks!

[2017-11-15 22:36] rasdaniil commented on #166
@altschuler I wrote the comment above being sure that union is `&` instead of `I` %)

`apollo-codegen` produces a union for instance, however it doesn't generate it in a handy form this library does (with subtypes, instead of one long type), which makes it (apollo-codegen) not that useful

[code]

[2017-11-15 22:54] zephraph commented on #166
Yep, I think having the correct semantics of a union paired with the notion of __typename could be pretty powerful... does __typename get automatically appended to the response or is it something that has to be specifically selected?

[2017-11-15 23:06] rasdaniil commented on #166
@zephraph in apollo graphql express middleware __typename is appended always by default. I'm not sure for other implementations

[2017-11-15 23:09] zephraph commented on #166
I think that's the trick. We'd really need to check the spec just to be sure that's the default intent. I think it is... I'm not 100% sure though.

[2017-11-16 00:20] rasdaniil commented on #166
Here http://graphql.org/learn/queries/#meta-fields it says:
`GraphQL allows you to request __typename, a meta field, at any point in a query to get the name of the object type at that point.`

[2017-11-16 01:05] blackxored commented on #164
This would be awesome!

[2017-11-28 21:48] ddgenome opened #167 "Do not generate documents if there are none"
Currently if you provide a glob pattern on the command line and it matches no documents, you get an error.

[code]

It seems reasonable that in the case of no matches, code generation could proceed as if there were no documents provided. This would allow using the same package scripts for building projects both with and without GraphQL files (some people prefer to put the GraphQL in strings within

[2017-12-02 10:29] brikou opened #168 "Use npx"
Hey, it would be great to support `npx gql-gen`. This way you don't have to install it globally (or locally) for a single shot.

Great job :+1:

[2017-12-08 23:54] michi-covalent opened #169 "Handle lists and non-null properly"
Hello,

Right now gql-gen doesn't check if `!` (non-nullable) applies to a list or elements inside the list:

https://github.com/dotansimha/graphql-code-generator/blob/f3f6e0aa4d482bf407e507267424e363d1d32758/packages/graphql-codegen-core/src/schema/resolve-type.ts#L10

As a result, the list is considered required even when it isn't:

GraphQL type | Expected Typescript Type | Actual Generated Type

[2017-12-12 15:43] jonaskello opened #170 "How does the --export flag work?"
I cannot find docs about exactly how to use it.

I tried with a file that exports a schema like this:

**schema.ts**

[code]

And I run this:

[code]

And I get this error:

[code]

[2017-12-12 15:52] dotansimha commented on #170
@jonaskello please try to change your export to:
[code]

[2017-12-12 15:58] jonaskello commented on #170
Yes, I tried that but still the same error. (When I omit export I get an error messages saying it needs either default export or "schema" export so I guess both are supported, although the named export is not in the readme.)

I think maybe the `gql` tag don't convert the string to the correct type. From what I understand codegen needs an object of type `GraphQLSchema`. I think what is generated is

[2017-12-12 16:05] jonaskello commented on #170
The schema object that my example above export has a structure similar to this:

[code]

[2017-12-12 16:16] jonaskello commented on #170
Seems like something like [this function](https://github.com/apollographql/graphql-tools/blob/master/src/schemaGenerator.ts#L174) would be needed to translate it to a GraphQLSchema type.

[2017-12-12 16:36] jonaskello commented on #170
I was able to fix it by creating a function that will convert a string or graphql document abstract syntax tree into a `GraphQLSchema` object like below.

Perhaps something like this could be included in codegen so that `--export` option could handle either a string, an ast (`DoumentNode`), or a` GraphQLSchema` object. If you want I could try to make a PR for it.

[code]

[2017-12-12 16:42] jonaskello opened #171 "Allow the --export option to accept a typescript file by adding --require option"
If `gql-gen` had an option for `--require` that it would forward to `node` then the `--export` option should be able to directly handle `.ts` files by requiring [ts-node](https://github.com/TypeStrong/ts-node)'s register module.

It would be something like this:

[code]

To get more info about the `--register` option, check `node --help`. Also check [here](https://github.com/TypeStrong/ts-node#moc

[2017-12-12 18:30] jonaskello commented on #171
Actually, I found this is already possible to do with the workaround below.

[code]

But it would be nicer if gql-gen supported `--require` directly, let me know if you want a PR for this.

[2017-12-12 20:45] jonaskello opened #172 "Document which code-style should be used"
It would make it easier for contributors if there is a determined code-style.

I would suggest using [prettier](https://github.com/prettier/prettier) and set it up with lint-staged as described [here](https://prettier.io/docs/en/precommit.html#option-1-lint-staged-https-githubcom-okonet-lint-staged). It really helps to reduce whitespace changes etc. when doing PR:s.

[2017-12-13 13:57] jonaskello opened #174 "Ignore commented code"
Currently when a string with the `gql` tag exists but is commented, there will be an exception:

[code]

[2017-12-17 20:56] aspirisen opened #176 "Add support for introspected schema generation"
This tool has a cool feature that it can work without running GraphQL server. I think it would be cool if it could also generate introspected schema for example for [ts-graphql-plugin](https://github.com/Quramy/ts-graphql-plugin) this way.

[2017-12-18 14:45] jcano commented on #166
I ran into a case where using `&` breaks. If the types in a union share an field name, but the type of the content of the field is different, it will throw an error stating that the fields are in conflict.

For example, we have an Activity type using the actor-verb-object structure. Object can be of any type we have in the app, and among the options it can be a Story or an Export. Story has a `for

[2017-12-26 06:08] #171 closed

[2017-12-26 06:10] dotansimha commented on #170
@jonaskello sound good. I think that we should support as many inputs as possible. do you want to create a PR for this?

[2017-12-27 19:54] jonaskello commented on #170
@dotansimha  I started a PR for this in #177, please review :-).

[2018-01-09 19:03] ddgenome commented on #167
I guess that's a "no".

[2018-01-09 19:05] dotansimha commented on #167
@ddgenome actually I missed it. PRs are welcome :)

[2018-01-12 20:32] 4F2E4A2E opened #178 "Typescript definition or interface models into graphql schema?"
Hello there!

ATM it seams, that there is no way of converting ts models into gql, can you guys maybe confirm it?
![image](https://user-images.githubusercontent.com/64590/34894205-bed83f62-f7e0-11e7-8df0-fa52475b8f09.png)

https://stackoverflow.com/questions/48231152/typescript-definition-or-interface-models-into-graphql-schema

[2018-01-12 22:33] zephraph commented on #178
I think that's a little bit of a misnomer. This library is primarily for creating bindings from GQL to other languages (like typescript), not the reverse.

Typescript has recently exposed an API that will let you programmatically do things based on typescript code, but this library doesn't do anything with that.

[2018-01-13 09:05] 4F2E4A2E commented on #178
Thanks for the confirmation. Now one graphQl schema question: are type parameters - as in the stackoverflow question described - possible in the graphql schema definition?
[code]

[2018-01-13 21:15] jonaskello commented on #151
I have what I think is a common use-case for the __typename field. Apollo requires that you specify the __typename field when doing optimistic updates. Since the generated types excludes the __typename field they are not useful for specifying the input for optimistic updates. See the [apollo docs](https://www.apollographql.com/docs/react/features/optimistic-ui.html#optimistic-basics) for an exampl

[2018-01-15 09:20] daverickdunn commented on #159
I'm getting the **exact** same error.

I'm using Graphene however, and GraphiQL is running fine. In fact, I have the gql-gen command saved as a script in my package.json, I used it a few times last October with no issues. Since then I've changed nothing about the the command or the server's config. The only thing I've done is add a few new queries/mutations.

I went back through the git commits, t

[2018-01-22 09:01] 4F2E4A2E commented on #178
I found a solution for this, but you're not going to like it:

1. Convert your typescript complex objects to a json schema draft 4 using [typescript-json-schema](https://github.com/YousefED/typescript-json-schema)
2. Use a openAPI (e.g.: swagger.json) schema containing all endpoints and types definitions
3. Replace the definitions properties from the swagger.json file with the json schema draft 4

[2018-01-22 09:01] #178 closed

[2018-02-01 14:43] blissi opened #179 "Directives don't work"
Hallo,
I'm using GraphQL 0.12.3 and am trying out the example code generator mongoose template (for my own schema).
Unfortunately the directives don't work. I added some console output to getDirectives() to see what's going on:
[code]
The entity-directive is there in schemaDirectives. But in the node there is no "astNode"-field and therefore no directives can be recognized.

Here's some sample out

[2018-02-09 21:54] FredyC commented on #153
I am curious if there is any progress on this? Would love to be able specify types for my scalars :)

[2018-02-13 18:33] marcosfede opened #180 "Not generating types for queries"
Hi, I'm trying to generate types for my queries using [this](https://github.com/marcosfede/ts-react-apollo-starter/blob/swapi/package.json#L31) command (tried some other variations as well), But its only generating types based on my schema and not the queries I make in my react components (output [here](https://github.com/marcosfede/ts-react-apollo-starter/blob/swapi/src/graphql-types.d.ts))
I exp

[2018-02-14 13:34] jonaskello opened #181 "Allow wider range of graphql package version"
I am using graphql-tools which tells me this:

[code]

So I need at least 0.11.0 of graphql. However graphql-code-generator tells me this:

[code]

There can be only one version of the graphql in total in the project or everything will break down becuase `instanceof` checks will not work. This is manifested by an error message like this during install:

[code]

Since each package cannot have their

[2018-02-15 11:53] rdemetrescu commented on #180
This "It seems like you provided a GraphQL schema instead of GraphQL document" warning happened to me too, when I upgraded graphql package version from 0.12.3 to 0.13.0

[2018-02-18 09:16] appsolutegeek commented on #180
I have just installed it now, and I am using

    "apollo-server-express": "^1.3.2",

I am getting the same issues, server-side generation of schema types works great but the client side generation of *.graphql file, does not.

I am using the following command

`gql-gen --url http://localhost:3000/graphql --template ts --out ./src/typings \"./**/*.graphql\"`

[2018-02-22 08:08] shinyaohira commented on #169
I ran into the same problem.

[2018-02-22 20:29] FredyC commented on #168
Just my two cents. With Yarn, you already have this feature included by default ... `yarn gql-gen` ;) I understand, it's not always viable to use Yarn, but this is not very well known feature imo.

[2018-02-24 20:05] FredyC commented on #181
Please note that with `0.13.0` comes a breaking change that directly influences this package ... https://github.com/graphql/graphql-js/issues/1221

[2018-02-25 15:12] jmca commented on #180
Same issue here. Error seems to throw on `"graphql": "^0.13.1"`, not on `0.12.3`.

[2018-02-27 23:06] JakeSummers opened #182 "How to generate TS Types where all fields are optional (nullable)"
I am attempting to generate types to use inside my graphQl server to make my resolvers easier to maintain.  I hoping that I can do that using this project.

I am running into an issue with how optional/mandatory fields are generated.  I am hoping that someone can suggest a workaround for me.

Schema:
[code]

When I generate a typescript class for this object
(`$(npm bin)/gql-gen --file schema.json

[2018-03-03 21:04] leemhenson opened #183 "Generation result contains total of 0 files..."
Hi.

I'm trying to follow the docs that describe how to customise the template output. I've added this `gql-gen.json` to `<project root>` (alongside `package.json`):

[code]

and I've added a directory containing these templates files (which is exact copies of the templates here: https://github.com/dotansimha/graphql-code-generator/tree/master/packages/graphql-codegen-generators/src/typescript-sin

[2018-03-05 20:21] GD-Aichi commented on #170
Is this review finish?

[2018-03-06 07:25] tremby commented on #151
I have a field which gives an array of items which could be any of a bunch of different types. I need different behaviour for each one, and as far as I know the only way I can reliably distinguish between them is to look at `__typename`.

[2018-03-08 14:50] FredyC commented on #182
You can always use `Partial<Person>` to turn all those fields as optional when you need to. I don't think it makes sense change this on a generator side as in your schema you clearly have requirement flag for those fields. Or you can make your own templates I guess :)

[2018-03-08 15:41] FredyC commented on #180
See https://github.com/dotansimha/graphql-code-generator/issues/181#issuecomment-368255835

[2018-03-09 08:09] GD-Aichi commented on #183
I think you forget the extension of file. for example
[code]
add this for all files.

[2018-03-09 09:43] jonaskello opened #184 "graphql-code-generator broken with graphql-js 0.13.0"
https://github.com/graphql/graphql-js/issues/1221

I need to use 0.13.0 becuase there is a bug in 0.12.x that makes minification impossible. And all packages need the same version of graphql-js to make the instanceof checks work. And graphql-code-generator does not work with ^0.13.0 becuase it relies on `'graphql/language/kinds'`.

Could it please be updated to work with 0.13.0?

[2018-03-09 10:35] leemhenson commented on #183
Ok, prepending `ts.` to the handlebar files causes it to generate output now. Thanks!

Unfortunately, I want to generate a single file but now I'm getting one file per template invocation, e.g. `something.type.ts`, `somethingElse.type.ts`. I just want everything to be concatenated into a single `generated.ts` file.

I've tried adding `"inputType": "SINGLE_FILE",` to my `gql-gen.json` but it looks

[2018-03-09 11:20] GD-Aichi commented on #183
add a name of file to file of template for a single file.
[code]
You can mix single file and multi files.
in my project
[code]

[2018-03-09 11:27] leemhenson commented on #183
Hmm, `generated.ts.type.handlebars` just gives me a load of files like this `generated.myType.type.ts`....

[2018-03-09 13:54] GD-Aichi commented on #183
try it with schema.
[code]
I dotn't use 'type' file for single file.

[2018-03-09 14:49] leemhenson commented on #183
Thanks for helping me out with this. I got `The partial type could not be found`:

[code]

I thought this might be because of these lines here:

[code]

It looks like it's registered the full path as the partial name, instead of the just the "short" template name. I hacked in a change to these lines:

https://github.com/dotansimha/graphql-code-generator/blob/f3f6e0aa4d482bf407e507267424e363d1d3275

[2018-03-09 15:24] GD-Aichi commented on #183
I thing, you forgot the type of file "ts.selection-set.handlebars"
[code]
look to [example](https://github.com/dotansimha/graphql-code-generator-usage-example/tree/master/src/models).

[2018-03-09 15:34] leemhenson commented on #183
If I put the `ts.` prefix back in on `type` then it generates individual files for all the types as well. 😅

[2018-03-09 16:28] GD-Aichi commented on #179
What's your call in the terminal? Do you use --export or --url?
I use --export and it work fine.

[2018-03-09 21:18] GD-Aichi commented on #184
transform-document.ts
[code]
build-selection-set.ts
[code]
this is the update

[2018-03-09 22:01] GD-Aichi opened #185 "add no-overwrite"
I need the Option no-overwrite in the cli.
[code]
[code]

[2018-03-12 17:48] FredyC commented on #169
Yea just encountered this too. Should be pretty simple fix seeing that code, something like `lastIndexOf(']!')` should be sufficient in my opinion.

Unfortunately, it feels like @dotansimha is rather busy lately, he is not responding to issues much. Looks like custom fork will be necessary, but that's going to be a pain considering monorepo structure.

[2018-03-12 18:00] FredyC commented on #169
I made the PR. It's a working solution, I have a rather big schema and nothing was broken by that change.

[2018-03-13 04:43] shinyaohira commented on #169
@FredyC Hi, I'd like to try your PR. Could you tell me a little bit about how to use it in my project.

package.json
[code]

I executed `yarn install`, but gql-gen command was not created in `./node_modules/.bin/`.

[2018-03-13 07:23] dotansimha commented on #184
WIP: https://github.com/dotansimha/graphql-code-generator/pull/187

[2018-03-13 07:50] jonaskello commented on #184
Looks awsome :-)

[2018-03-13 08:17] dotansimha commented on #184
Fixed in 0.8.15 :) @jonaskello  @GD-Aichi

[2018-03-13 08:17] #184 closed

[2018-03-13 09:52] FredyC commented on #169
@shinyaohira I don't think you can do that because of a monorepo structure which includes multiple packages that need to be built. However, looks like that PR will be merged soon, just be a little patient :)

[2018-03-13 09:57] dotansimha commented on #169
Fixed in 0.8.16. Thanks @FredyC !

[2018-03-13 09:57] #169 closed

[2018-03-13 09:58] dotansimha commented on #169
Also, @shinyaohira, @FredyC is right, you can't use it from git. But you can compile it locally and try to use it this way...

[2018-03-13 10:00] dotansimha commented on #185
Sounds reasonable. @GD-Aichi , maybe you can create a PR for it?

[2018-03-13 10:04] dotansimha commented on #182
@FredyC is right, use `Partial<Person>` to achieve this functionality.

[2018-03-13 10:04] #182 closed

[2018-03-13 10:04] dotansimha commented on #181
Done!

[2018-03-13 10:04] #181 closed

[2018-03-13 10:05] dotansimha commented on #174
@jonaskello , you are right, I will fix it soon.
Also, I need to add support for `gql(...)` (use it as function)

[2018-03-13 12:43] dotansimha commented on #166
So I guess that it should be `COMMON_FIELDS & (FRAGMENT | FRAGMENT | FRAGMENT)` ?

What do you think? @iamdanthedev @altschuler  @zephraph

[2018-03-13 12:51] dotansimha commented on #151
I'm thinking about it now. It might look simple but it does not...
We also need to consider the cases of inline fragment and fragment spread that effects the `__typename` and it's possible values.

[2018-03-13 13:38] dotansimha commented on #179
Please use `--export` instead of `--url`. There is no workaround for this at the moment, since GraphQL strips custom directives when IntrospectionSchema is created (https://github.com/facebook/graphql/issues/300).

[2018-03-13 13:38] #179 closed

[2018-03-13 13:39] jonaskello commented on #174
IIRC the checks are now done with regexp. I think maybe a better approach would be to parse it into an AST using babel or typescript. That would probably be more accurate than a regexp. But of course it would be more complex to implement and maybe slower too.

[2018-03-13 13:40] dotansimha commented on #170
@GD-Aichi soon :)
@jonaskello please read my latest comment in the PR.

[2018-03-13 13:41] dotansimha commented on #166
ok, so I did some work on it, and the results will be: `FIELDS & FRAGMENT_SPREAD & (INLINE_FRAGMENT | INLINE_FRAGMENT | INLINE_FRAGMENT)`.
Since fragment spread are in use to specify list of fields in a context of a type, and inline fragments are in use to declare different selection set for interface/union.

[2018-03-13 13:47] dotansimha commented on #174
@jonaskello Yeah sure it makes sense. Do you have a reference or example for checking a code file as AST? I'll give it a try :)

[2018-03-13 13:58] dotansimha commented on #185
@GD-Aichi nevermind, i'm adding it now :D

[2018-03-13 14:27] dotansimha commented on #168
Just tested the latest version of the codegen with the latest version of npx and it works :)

@FredyC got a good point, Yarn has a built-in `npx` ;)

[2018-03-13 14:27] #168 closed

[2018-03-13 14:28] dotansimha commented on #180
Please update to the latest version of the codegen, it should work now with 0.13 :)

[2018-03-13 14:28] #180 closed

[2018-03-13 14:34] shinyaohira commented on #169
@FredyC @dotansimha Thank you 🙌

[2018-03-13 14:37] dotansimha commented on #185
Fixed in 0.8.17 :)

[2018-03-13 14:37] #185 closed

[2018-03-13 14:37] dotansimha commented on #166
Fixed in 0.8.17 :)

[2018-03-13 14:37] #166 closed

[2018-03-13 14:38] dotansimha commented on #151
Fixed in 0.8.17 :)

[2018-03-13 14:38] #151 closed

[2018-03-13 14:38] dotansimha commented on #167
Fixed in 0.8.17 :)

[2018-03-13 14:38] #167 closed

[2018-03-13 15:24] hkjeffchan opened #191 "Cannot find module 'graphql/language/parser'"
npm -g ls graphql-code-generator
/usr/local/lib
└── graphql-code-generator@0.8.18

gql-gen --file schema.json --template typescript --out ./typings/

module.js:540
    throw err;
    ^

Error: Cannot find module 'graphql/language/parser'
    at Function.Module._resolveFilename (module.js:538:15)
    at Function.Module._load (module.js:468:25)
    at Module.require (module.js:587:17)
    at require

[2018-03-13 15:27] hkjeffchan commented on #191
npm -g install graphql

[2018-03-13 15:27] #191 closed

[2018-03-13 17:15] dotansimha commented on #183
It should be `FILE_PREFIX.EXTENSION.CONTEXT.handlebars`.
If you use `type` context then it will generate a file per each type.
If you use `schema` you will get the entire schema as context (single file).

[2018-03-13 17:44] dotansimha commented on #174
@jonaskello
`strip-comments` seems to work great (see unit tests)

https://github.com/dotansimha/graphql-code-generator/pull/192

[2018-03-13 17:49] dotansimha commented on #176
@aspirisen
You mean to take a GraphQL Schema from a file, and output it's Introspection schema?

[2018-03-13 17:52] dotansimha commented on #172
@jonaskello
Personally, I hate git-hooks, but I guess we cab give it a try.
Currently, the only code-style is tslint, but I think we can add `prettier`.
Any chance you want to create a PR for it?

[2018-03-13 18:17] dotansimha commented on #163
Done in: https://github.com/dotansimha/graphql-code-generator/pull/193
The code will automatically go through prettier, and if you have a prettier local config file, it will use it.

[2018-03-13 18:17] dotansimha commented on #150
Done in: https://github.com/dotansimha/graphql-code-generator/pull/193
The code will automatically go through prettier, and if you have a prettier local config file, it will use it.

[2018-03-13 18:17] #150 closed

[2018-03-13 18:24] dotansimha commented on #163
Available in 0.8.19 :)

[2018-03-13 18:24] #163 closed

[2018-03-13 18:24] dotansimha commented on #174
Fixed in 0.8.19 :)

[2018-03-13 18:24] #174 closed

[2018-03-13 18:26] #148 closed

[2018-03-13 18:27] dotansimha commented on #133
At the moment, this can be done by using generator-specific config file as a temporary solution.

[2018-03-13 18:32] dotansimha commented on #191
@hkjeffchan I added it to the README. Thanks!

[2018-03-13 19:57] tremby commented on #151
I updated to 0.9.19 and still don't see `__typename` available, after restarting my development server and running the code generator again.

I'm using Gatsby and have the following script in my package.json: `"graphql-types": "gql-gen --url http://localhost:8000/___graphql --template typescript --out src/typings/graphql.d.ts",`. `__typename` doesn't appear anywhere in the output. Am I doing somet

[2018-03-13 21:01] leemhenson commented on #183
Hello again! I'm still not getting anywhere with this. I think the reason the example that you link to works is because this file:

https://github.com/dotansimha/graphql-code-generator-usage-example/blob/master/src/models/mongoose.ts.schema.handlebars

Doesn't use partials in the same way that this single-file schema template does:

https://github.com/dotansimha/graphql-code-generator/blob/master/

[2018-03-13 22:07] dotansimha commented on #151
@tremby
The discussion here talked mostly about Apollo, so I guessed that adding `__typename` was relevant only for client side usage, so I added `__typename` for the generated output of the GraphQL documents (queries, mutations, fragments) and not for the schema definition.

Can you please elaborate on your use case? maybe it's also relevant for the server side and I missed it.

Thanks!

[2018-03-13 22:09] dotansimha commented on #183
@leemhenson
Ohhh I see now. You have a template which is the main template (with a `type`/`schema`) context, and you want to use a partial inside the main template. Is that correct?

If so, I think that I need to add support for `my-name.partial.handlebars` and register it as partial.

[2018-03-13 22:14] tremby commented on #151
Apollo was only mentioned in one comment in the middle of this thread.

I'm using Gatsby, which is a static site generator but which allows your data sources to be queried at build time with GraphQL. The relevant data source for me is Contentful.

I have some fields in my data model which allow multiple references to other documents to be chosen, and they can be any of a number of different types.

[2018-03-13 22:16] jonaskello commented on #172
Using husky and lint-staged (git hooks) is not a requirement for prettier. There is also [tslint-plugin-prettier](https://www.npmjs.com/package/tslint-plugin-prettier) which has tslint rules to follow the prettier style. Also if you use vscode you can install the [prettier plugin](https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode) which will automatically format your code

[2018-03-13 22:19] dotansimha commented on #151
@tremby I see. But if you are executing a Query to get the data, you can generate typings that are specific to your Queries. This way you can also get types for the specific selection set that your query needs. Have you tried it?

[2018-03-13 22:22] dotansimha commented on #172
@jonaskello Sound good. It might be a good chance to see a good example for git hooks :)

[2018-03-13 22:55] jonaskello commented on #172
I started a PR for this in #194.

[2018-03-14 00:21] tremby commented on #151
I'm not sure I can split out queries to their own files with Gatsby. I don't think I'd want to. Besides, it seems like a pain to regenerate the typings every time I change a query. There must be something I'm missing -- if it's an available field, why would you not mention its presence in the typings?

[2018-03-14 07:14] jonaskello commented on #174
IMO, using strip-comments is a simpler solution and therefore better :-). If there are more advanced code-analysis needed later we can look into parsing into an abstract syntax tree at that point.

[2018-03-14 07:43] dotansimha commented on #151
@tremby I'm not familiar with that way that Gatsby use GraphQL Queries. Any chance you can share an code example (maybe a repo)?
This way we can find the best way to change the codegen and support your use case :)

[2018-03-14 07:53] altschuler commented on #150
Awesome! :tada:

[2018-03-14 07:57] dotansimha commented on #183
Also, @leemhenson @GD-Aichi , feel free to send notes regarding the `project` API and it's structure.
I think we can improve it's API and usage, but I need to get your notes to get more use cases :)

[2018-03-14 08:34] FredyC opened #196 "Better detection for GraphQL documents looks broken"
I have query components defined like this.

[code]

While it was working with 0.8.18 just fine, the 0.8.19 ends with the error. Looks like there is quite deep dependency tree coming in with `strip-comments` and using `esprima` underneath which is unable to parse Typescript code. I would say that this change should be reverted and look for a more universal solution/module.

[code]

[2018-03-14 08:49] FredyC opened #197 "Space missing in fragments type assignment"
It's completely insignificant issue, but I am reporting it just to be known. This is from generated star-wars example and you can see space missing there.

https://github.com/dotansimha/graphql-code-generator/blob/329b77375a08f1dc4a062b1196c4aa5e34366594/dev-test/star-wars/ts-multiple/herodetailswithfragment.query.d.ts#L13

I am guessing it's hidden somewhere in here, but I do have some trouble re

[2018-03-14 08:57] GD-Aichi commented on #183
Hi @dotansimha,
my projects are [graphql-codegen-migrations-sequelize](https://github.com/GD-Aichi/graphql-codegen-migrations-sequelize) and [graphql-codegen-sequelize-typescript](https://github.com/GD-Aichi/graphql-codegen-sequelize-typescript).

[2018-03-14 09:15] FredyC commented on #174
Yea well, this wasn't a good move. See #196  ;)

[2018-03-14 09:59] tremby commented on #151
Sure, you can start a basic Gatsby project with Typescript by following the [getting started docs](https://www.gatsbyjs.org/docs/) and at step 1 using a Typescript starter such as https://github.com/fabien0102/gatsby-starter (which is set up to use graphql-code-generator), like this: `gatsby new gatsby-site https://github.com/fabien0102/gatsby-starter`. Once that's done you can run `npm run graphq

[2018-03-14 10:01] leemhenson commented on #183
All I am trying to do right now is use the templates from:

https://github.com/dotansimha/graphql-code-generator/tree/master/packages/graphql-codegen-generators/src/typescript-single-file

In my project. I want the schema template to use the other partials to build up a single file.

[2018-03-14 15:57] dotansimha commented on #197
I guess that now that the code goes through `prettier` it should solve things like that.

[2018-03-14 16:04] dotansimha commented on #172
Thank you @jonaskello !

[2018-03-14 16:04] #172 closed

[2018-03-14 16:05] dotansimha commented on #196
Fixed in this commit: https://github.com/dotansimha/graphql-code-generator/commit/45d804565d2b8c5eda1c527498f4ff3c27c2e636  (just a fallback in case of esprima error)
I will release it soon. I added a test case for the specific file you mentioned. Any other issues?

[2018-03-14 18:35] FredyC commented on #196
Ok thanks, that should do for now I guess, but in a situation you have comments in typescript file, it will essentially go back to original error :)

[2018-03-14 18:39] dotansimha commented on #196
Sure, but I didn't want to hold you back with an old version :)
I'll release it soon and i'll try to find a better solution later.

[2018-03-14 19:03] dotansimha commented on #196
Fixed in 0.8.20 :)

[2018-03-14 19:03] #196 closed

[2018-03-14 19:03] dotansimha commented on #197
Please try 0.8.20 and let me know if it looks better

[2018-03-14 21:40] jonaskello commented on #174
Regarding parsing to AST I think we could either use [babylon](https://github.com/babel/babel/tree/master/packages/babylon) as it now has typescript support (see [here](https://github.com/babel/babylon/pull/523#issuecomment-311941007)). Or we could simply use typescript, see [here](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API#traversing-the-ast-with-a-little-linter) for a si

[2018-03-15 06:46] #197 closed

[2018-03-15 07:40] #170 closed

[2018-03-15 07:40] dotansimha opened #202 "Merge --url, --export, --file into a single flag (--schema)"
Discussed here: https://github.com/dotansimha/graphql-code-generator/pull/177#issuecomment-373277277

[2018-03-15 19:46] tjme commented on #136
Custom templates are great, especially the Project option for generating a file for each Type, but (other than for Input Types) I don't see how to be selective about which which types are created.

[2018-03-17 19:12] micimize opened #209 "using custom templates via --project ignores --out"
running `gql-gen --file types/schema.json --project types/templates/ gql-gen --out types/generated` ignores `--out` and dumps output in `--project`

[2018-03-19 12:28] tjme commented on #136
It is very useful that with the new feature of 0.8.18: "Generator will not write a file to file system if the content is empty", custom templates can now be selective (by including an outer conditional that can selectively result in an empty output). A configuration option in gql-gen.json might still be useful though (and might perform better).

[2018-03-19 12:34] tjme opened #213 "Partials, when using the --project option"
Is there a way to define partials/shared templates, along with custom templates?

I tried including a templates entry in gql-gen.json (with either an embedded partial definition, or a .handlebars file reference), but it seems to be ignored.

[2018-03-19 22:32] tremby opened #214 "Sort the output?"
Every time I run this I get huge diffs even where things haven't changed (as far as I know) in the schema. It looks in a lot of cases like things have just changed order.

Perhaps there's some way to sort the output to minimize this? Or is it not as simple as that?

[2018-03-22 11:19] jonaskello commented on #146
Seems like the PR above is now merged! Would it be possible to continue work on this issue now?

[2018-03-26 06:48] aspirisen commented on #176
Ok, thanks for workaround, but maybe it would be possible to add this feature in this tool one day.
Thanks.

[2018-03-27 18:34] GD-Aichi commented on #183
I think, you can close this.

[2018-03-27 18:56] GD-Aichi opened #231 "Custom template does not work with output directory (--out) in node module template"
In my [node module template](https://github.com/GD-Aichi/graphql-codegen-sequelize-typescript) does not work the output directory.
[code]
config file
[code]
The files 'loaders.ts' and 'loaders-export.ts' are writing in the root path, but output directory is './src/models/types/'.

Is it a bug?
In gql-gen.json file is working with loaders.ts.schema.handlebars file.

[2018-03-27 19:03] leemhenson commented on #183
Without the changes I mentioned to `compile.ts` above, my scenario still does not work. I don't know whether they are the way you want to go though.

[2018-03-27 22:37] mirkara opened #232 "--out doesn't work for config json"
Running:
`gql-gen --project ./src/  --url <url> --config src/config.json --out ./output
`
Output:
[code]
The generated files go to where the templates are and not the specified --out path.

Any ideas why?

[2018-03-28 08:41] GD-Aichi commented on #232
That sounds like my problem #231.

[2018-03-28 15:34] jackhkmatthews opened #233 "GraphQL parser - string variables in queries cause Unterminated string syntax error."
## Expected Behavior

I expect
`gql-gen --file schema.json  --template typescript --out ./index.d.ts \"**/*.graphql.ts\"`
to the parse the local introspection information and all query and fragment strings tagged with `gql` in files matching `**/*.graphql.ts` Including those with string arguments. e.g:

[code]

and output a typescript file with all types from the local graphQL schema and from quer

[2018-03-30 18:44] anilanar commented on #202
My project needs to to generate code based on a function that returns `Promise<GraphQLSchema>`. Thus non of the existing options work for that use case and the only way is to fork/rewrite codegen-cli.

I was thinking of introducing a `--schema-loader` option.

[2018-04-04 09:13] sundeer opened #243 "How are you getting schema.json file?"
I'd like to generate ts types for the server to use in resolvers but it needs to be running to introspect directly using `--url`. I'd rather pull from schema.json, but I'm not sure how to generate it.

[2018-04-04 09:52] jonaskello commented on #243
From the [docs](https://github.com/dotansimha/graphql-code-generator#cli-options), you can provide the schema in three different ways:

[code]

I think you may be looking for the `--file` option. In order to use it you need to generate an introspection result which you can do programatically using the graphql library or you can use a tool like [graphql-cli](https://github.com/graphql-cli/graphql-c

[2018-04-04 10:07] sundeer commented on #243
Yup, `--export` is what I want. I missed that. :astonished:

[2018-04-07 23:02] dsebastien commented on #176
Could anyone clarify the expected workflow?

So far I've only created a schema.graphql file, which I hoped to be able to used as starting point for generating TypeScript interfaces using codegen or similar projects. So far it feels like the only acceptable input of existing libraries is a JSON version that can be obtained by executing the introspectionQuery.

Is there an easier approach? I'd reall

[2018-04-13 16:42] adostal opened #253 "Enum string not found"
Hi all,
I have problem with declaration TS file with string enumns.

I generate schema with:
`gql-gen --file graphql.schema.json --template typescript --out ./types/graphql-model.d.ts`

In graphql-model.d.ts:
`
export enum EnumA {
    FIRST = 'FIRST',
    SECOND = 'SECOND',
}
`

Compile with tsc is allright, but error is when I start node.js:
`Error: Cannot find module '@graphql-model'`

Errors ar

[2018-04-13 16:51] dotansimha commented on #253
@adostal can you please try to change the file extension to ‘.ts’ instead of ‘.d.ts’?

[2018-04-16 15:07] jonaskello commented on #233
I upgraded from 0.8.14 to 0.8.21 and I am getting the same issue.

[2018-04-16 15:12] jonaskello commented on #202
I think maybe the current `--export` option could support `Promise<GraphQLSchema>`. It could check if the exported result is a Promise and then resolve it, otherwise just use it as-is.

[2018-04-19 16:13] sundeer opened #260 "How to express a list of nullable elements"
Some of the elements of my query may be null, so I'm writing it like:
[code]
I should expect to get something like this, right?
[code]
but I get this
[code]
which is not quite right I think.

[2018-04-26 11:46] frantic1048 opened #263 "Way to add external template instead of modifying `graphql-codegen-generators` itself"
The generator performs well, but sometimes I need to do some subtle modification on the built-in template. e.g. I want to expose enum values' descriptions to the client.

I achieved it via adding a new template to `graphql-codegen-generators`. It works, but I had to maintain a fork of `graphql-codegen-generators`, just for a subtle template change. That sounds not so reasonable.

So I'm questionin

[2018-04-29 06:36] dotansimha commented on #263
Hi @frantic1048 !
At the moment, you can either edit the code inside this package, or create your own template using a NPM package.
For example, call your npm package `frantic1048-template` and then you can use it it's name in `--template` flag.
The goal is to migrate all built-in templates to be an independent packages.

Your NPM package should export a `main` javascript file, that export a `Gene

[2018-04-29 06:39] dotansimha commented on #253
I can use the generator-specific config feature to add this, but I'm not sure it's the best solution.

@adostal can you please elaborate on the reason for not changing it to `.ts`? it should work the same as `.d.ts`

[2018-04-29 06:41] dotansimha commented on #232
It's the same issue in https://github.com/dotansimha/graphql-code-generator/issues/231.
Closing and we'll continue to discuss it there.

[2018-04-29 06:41] #232 closed

[2018-04-29 06:42] dotansimha commented on #231
@GD-Aichi I think we need to think about it.
If you have a nested tree of templates inside your `--project` directory, how to you expect it to behave?

I think maybe we need to preserve the structure of the templates, but output it to the out directory.
What do you think?

[2018-04-29 06:43] dotansimha commented on #214
@tremby any idea how to sort it?
Also, do you generate Typings for server side only or client side as well?

[2018-04-29 06:45] dotansimha commented on #209
Lets continue to discuss it here: https://github.com/dotansimha/graphql-code-generator/issues/209

[2018-04-29 06:45] #209 closed

[2018-04-29 06:46] dotansimha commented on #231
Related: https://github.com/dotansimha/graphql-code-generator/pull/210

[2018-04-29 06:49] dotansimha commented on #231
Fixed in #210

[2018-04-29 06:50] dotansimha commented on #213
This PR resolves this issue: https://github.com/dotansimha/graphql-code-generator/pull/210

@micimize @tjme

I'll release it soon :)

[2018-04-29 13:04] dotansimha opened #266 "Move TypeScript generators to separate packages"
Will probably go along with: https://github.com/dotansimha/graphql-code-generator/issues/157

[2018-04-29 13:12] dotansimha commented on #263
And also, i'm working on moving all the existing template to use this: https://github.com/dotansimha/graphql-code-generator/issues/266

[2018-04-29 13:13] #183 closed

[2018-04-29 13:13] dotansimha commented on #183
@leemhenson if that's still relevant, can you please open a new issue with all the details?

[2018-04-29 13:28] #263 closed

[2018-04-29 23:56] tremby commented on #214
No, no idea.

I'm generating typings for the GraphQL API Gatsby gives me at development/build time.

[2018-04-30 10:17] dotansimha commented on #214
@tremby
I see.
The issue is that the order is defined by the GraphQL schema for the server side, and by the result of `glob` for the client side...

I guess that sorting it in alphabetical order will be a good idea, but it might be an overhead for this package at the moment.

[2018-05-01 09:29] dotansimha commented on #263
@frantic1048 please see this: https://github.com/dotansimha/graphql-code-generator/blob/feature/packages/packages/templates/README.md

[2018-05-01 09:30] dotansimha commented on #157
Done in: https://github.com/dotansimha/graphql-code-generator/pull/268

[2018-05-01 09:39] dotansimha commented on #260
Related:
https://github.com/dotansimha/graphql-code-generator/issues/155
https://github.com/dotansimha/graphql-code-generator/issues/138

It should be this way:
`a: [String]!` -> `a: (string | null)[]`
`a: [String]` -> `a?: null | (string | null)[]`
`a: [String!]!` -> `a: string[]`

Am I missing something?

@sundeer

[2018-05-03 19:53] GD-Aichi commented on #231
I think the structure of the templates is good and enough for my. But output of the schema file must put to the out directory.
Pull #210 don't fixed it, i tested that.

[2018-05-04 12:18] pleerock opened #278 "Programmatic usage"
Hey @dotansimha can you please provide an example of the programmatic usage of this package? e.g. something like

[code]

[2018-05-04 15:54] pleerock commented on #278
Was be able to do something like this:

[code]

[2018-05-04 15:54] #278 closed

[2018-05-05 23:59] dobesv opened #284 "Save output files next to inputs"
For the mutation and query files it would be nice to put the generated ts schema in the same folder as the original, e.g. if a file is named `login.graphql` the types for that file could go into `login.graphql.d.ts` or somesuch.

[2018-05-06 00:08] dobesv opened #285 "Generate without namespaces"
The babel typescript transformer doesn't support namespaces, so we can't use the generated types with that package.

[2018-05-06 01:34] dobesv opened #286 "No "Project Generation" section"
The readme says to refer to "Project Generation" section.  But there is no such section.

[2018-05-06 17:28] pleerock commented on #278
ty 👍

[2018-05-06 17:38] dotansimha commented on #285
Hi @dobesv !

I think we can support this case, but not as default behavior...
We can add it as a specific config for the typescript template (see [this](https://github.com/dotansimha/graphql-code-generator/pull/229#issuecomment-386896599)).

Can you please provide an example for how the output files will look like? any alternative for namespaces?

[2018-05-06 17:40] dotansimha commented on #284
@dobesv
I think this is a specific request that relevant to `typescript-multiple` template, right? I think it could be either a config for this template... any chance you want to implement it and create a PR? :)

[2018-05-06 17:41] dotansimha commented on #286
It should refer to `Custom Templates`. fixed :) Thanks @dobesv !

[2018-05-06 17:41] #286 closed

[2018-05-06 19:44] dobesv commented on #285
Apollo codegen uses a prefix on all the names, like XxxMutation, XxxQuery,
etc..  I had started trying to make a custom template myself to do this but
got stuck with some build problems.

On Sun, May 6, 2018, 10:38 AM Dotan Simha <notifications@github.com> wrote:

[2018-05-07 06:04] dotansimha commented on #285
@dobesv, I see. so maybe now with the new CLI it will be easier to create this template :)

And I think prefixing is fine, but how we can handle a case where two types has the same name? for example, if you have query `A` and query `B` and both of them are using a field that is called `User`, in the existing implementation it would be:

[code]

But without namespaces, we cannot declare `User` agai

[2018-05-07 14:16] dotansimha commented on #260
@sundeer I'm fixing this issue right now, my results are:
Input:
[code]

Output:
[code]

What do you think?

[2018-05-07 14:39] dotansimha commented on #260
See: https://github.com/dotansimha/graphql-code-generator/pull/293

[2018-05-07 14:40] dotansimha commented on #231
@GD-Aichi any idea how to resolve this?

[2018-05-07 15:33] dotansimha commented on #253
@adostal
I implemented it in: https://github.com/dotansimha/graphql-code-generator/pull/293

[2018-05-07 15:48] dotansimha commented on #146
@jonaskello @srghma implemented in: https://github.com/dotansimha/graphql-code-generator/pull/293 :)

[2018-05-07 15:49] dotansimha commented on #145
@Kurren123 please let me know if you still need help :) closing for now.

[2018-05-07 15:49] #145 closed

[2018-05-07 16:12] dotansimha commented on #146
Done in 0.9.0 :)

[2018-05-07 16:12] #146 closed

[2018-05-07 16:16] dotansimha commented on #157
Done in 0.9.0 :)

[2018-05-07 16:16] #157 closed

[2018-05-07 16:16] dotansimha commented on #202
Done in 0.9.0 :)

[2018-05-07 16:16] #202 closed

[2018-05-07 16:16] dotansimha commented on #213
Done in 0.9.0 :)

[2018-05-07 16:16] #213 closed

[2018-05-07 16:16] dotansimha commented on #233
Done in 0.9.0 :)

[2018-05-07 16:16] #233 closed

[2018-05-07 16:16] dotansimha commented on #253
Done in 0.9.0 :)

[2018-05-07 16:16] #253 closed

[2018-05-07 16:16] dotansimha commented on #260
Done in 0.9.0 :)

[2018-05-07 16:16] #260 closed

[2018-05-07 16:16] dotansimha commented on #266
Done in 0.9.0 :)

[2018-05-07 16:16] #266 closed

[2018-05-07 18:18] jonaskello commented on #202
Nice work!

Perhaps the [usage section](https://github.com/dotansimha/graphql-code-generator#usage-examples) of the README needs to be updated to reflect these changes? It is still showing examples like this one:

[code]

[2018-05-07 21:31] dobesv commented on #284
Actually I realized that each type could come from multiple files and it's not always clear which file a type came from the way things are now, this probably isn't worth the trouble.

[2018-05-07 21:31] #284 closed

[2018-05-07 21:44] dobesv commented on #285
Hmm I didn't realize there would be multiple same-named types generated other than `XxxVariables` and `XxxQuery` and so on.

[2018-05-07 21:44] GD-Aichi commented on #231
I looked in the code for a minutes and if the line 293 in to
[code]
then the files will writing in out directory.
I don't know, what do the master version do.
https://github.com/dotansimha/graphql-code-generator/blob/da33ee50a7fa82a17ad4595be124cd1639deb6db/packages/graphql-codegen-compiler/src/generate-multiple-files.ts#L293-L299
I will checking the master build.

[2018-05-07 21:48] dobesv commented on #285
Actually I realized the namespaces are only for the client-side stuff.  I can use `apollo-codegen` for client-side types and `gql-gen` for server-side types and I don't have to change anything.  That's probably good enough for anyone who happens to be in my situation.

[2018-05-07 22:12] jonaskello opened #296 "Typescript template immutable types, missing readonly attribute on __typename"
When I use CODEGEN_IMMUTABLE_TYPES=true I get this output:

[code]

I guess the `__typename` property should also have a `readonly` attribute in this case?

[2018-05-08 05:47] dotansimha commented on #285
@dobesv That's great. I'm keeping it open if you don't mind - we might implement it sometime soon :)

[2018-05-08 06:14] dotansimha commented on #296
Fixed in 0.9.1 :) Thanks @jonaskello !

[2018-05-08 06:14] #296 closed

[2018-05-08 08:30] sundeer commented on #260
sorry for not responding sooner but that looks complete.
btw - loving this repo!

[2018-05-08 09:41] pleerock commented on #153
@dotansimha facing same issue here. In my case I have a simple scalar `Date` and I would like to avoid generator to add `export type Date = any;` in the output since I already have a Date object globally available.

[2018-05-08 09:44] dotansimha commented on #153
I see, @pleerock . I am thinking about the right solution for this.

We can easily pass custom configuration, so maybe a map like that:
[code]

And if you want to use a custom TypeScript type you wrote, for example: `MyDateType` and map it to a specific GraphQL Scalar, we might need `import` as well:

[code]

And it will also add the import on top of the file.

What do you think?

[2018-05-08 10:12] pleerock commented on #153
It will definitely resolve most of issues.

[2018-05-08 11:05] jonaskello commented on #153
I like the typescript solution. I actually came across a a use-case with scalars today that it would solve. My other idea was to patch the generated code to add an import and replace the generated type alias with a regex, but this solution is of course much nicer :-).

One note about the import. Lets say you want to do a named import, how would that work? Perhaps something like this could work:

[

[2018-05-08 11:08] dotansimha commented on #153
@jonaskello yeah you are right, your examples supports more use cases (such as names import, default import or any other way).

[2018-05-08 11:37] dotansimha commented on #164
For now, the new CLI is enough :)

[2018-05-08 11:37] #164 closed

[2018-05-08 11:38] dotansimha commented on #162
So at the moment, it's much easier to extend and create custom templates, either with Handlebars or without it :)

[2018-05-08 11:38] #162 closed

[2018-05-08 11:39] dotansimha commented on #133
We can now do it using `CODEGEN_XXX` environment variables (see README).
The variables are injected into the templates as available as `@root.config.XXX`

[2018-05-08 11:39] #133 closed

[2018-05-09 03:00] shah opened #298 "[Plugin Request] Consider creating golang templates similar to gqlgen"
/vektah/gqlgen is a library for quickly creating strictly typed graphql servers in Google Go. I wonder if the GraphQL Code Generator team could use this as a starting point for creating a Go template tied to PostgreSQL database? Or Go tied to dGraph.io?

[2018-05-14 08:09] webberwang opened #305 "Loading GraphQL schema object, text, ast, or introspection json from JavaScript ES6 export"
[code]
I'm using tsc to compile TS to JS, and loading the compiled schema.js

The schema created should be the right type, cause it's generated using makeExecutableSchema().

[2018-05-14 09:04] dotansimha commented on #305
@webberwang do you get an error? I didn't understand what's the issue...

BTW, you don't have to compile TS before running the generator, you can use the TS file: https://github.com/dotansimha/graphql-code-generator#typescript-support

[2018-05-15 01:05] micimize opened #307 "Fragments don't import scalars correctly"
[scalars don't seem to be imported](https://github.com/micimize/graphql-code-generator/blob/75d08522519129350e11d73796da12c445a793e1/dev-test/githunt/ts-multiple/repoinfo.fragment.ts#L4) by fragments, unless part of a nested type.

Very excited about 0.9.x btw, looking forward to reworking [graphql-to-io-ts](https://github.com/micimize/graphql-to-io-ts) to use the template helpers 👍

[2018-05-15 05:44] webberwang commented on #305
@dotansimha thanks, it was some issue with tsconfig.json I believe, ended up working later

[2018-05-15 05:44] #305 closed

[2018-05-16 07:41] GD-Aichi commented on #231
I think you can close the ticket. Version 0.9.1 fixes my problem.

[2018-05-16 07:57] #231 closed

[2018-05-18 14:55] peterschussheim opened #311 "Additional examples of generator templates written in JS"
Very nice work on this project!  I am interested in helping to [add Flow support](https://github.com/dotansimha/graphql-code-generator/issues/160), however, I prefer not to use handlebars templates.

I see a recently added a feature that allows users to write templates in TS or JS; are you able to expand on [this example](https://github.com/dotansimha/graphql-code-generator/tree/master/packages/te

[2018-05-21 22:13] degroote22 opened #316 "Allow usage of graphql tag"
Hey, this project is awesome!
Thanks!!

I'd like to have this feature because Gatsby.js only let queries to be written with the "graphql" tag, which is compiled away at build time.
Renaming it to "gql" like
`const gql = graphql` doesn't work because the name is needed at build time by something like a parser, I guess, and never reaches runtime.

Do you guys see any issue if this new tag is support

[2018-05-22 01:13] degroote22 opened #318 "Improve .tsx support"
[code]

Trying to execute the program with this code will fail.
The problem starts because https://github.com/jonschlinkert/strip-comments doesn't play nicely with ts.
If you have jsx the parser will get confused and will throw. Then, it won't remove the comments. Later, the [regex](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-cli/src/utils/document-fin

[2018-05-22 07:38] dotansimha commented on #311
@peterschussheim You are right, in the recent versions we added the option to write a custom generator, that is not based on Handlebars!

I do not have an example at the moment, but a very simple tests that use this feature are available here:
https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-cli/tests/custom-processor.spec.ts (take a look at the processor j

[2018-05-22 07:40] dotansimha commented on #318
Sounds good @degroote22 :) thanks!

[2018-05-22 08:07] AndreiEzhov opened #319 "Generate resolver types?"
Currently using [graphql-schema-typescript](https://github.com/dangcuuson/graphql-schema-typescript#type-resolvers) to generate resolver typings, forcing me to use different types on client and server. Would love to see this added to graphql-code-generator.

[2018-05-22 18:40] forabi opened #320 "Can you provide an array of all types implementing an interface on that interface types?"
Similar to union types, `possibleTypes` is useful when I want to generate the resolver types for a specific union:

[code]

[code]

However, for interface types, this does not seem to be possible currently:

[code]

[2018-05-22 21:20] splodingsocks opened #321 "Using a handlebars helper in the --project mode?"
Hi! Sorry I'm so ignorant about Handlebars, but I'd like to do some transformation on the values that are being passed through my template. Specifically, I need to lowercase the names of the types in order to be syntactically valid in ReasonML.

How would I go about registering a handlebars helper that will get used by the CLI when running in `--project` mode? Would `--require` accomplish that?

[2018-05-22 21:32] splodingsocks commented on #321
Ah, I see that there are included helpers, including the one I need. But I'll leave this open for those who want to use custom helpers.

[2018-05-22 21:51] splodingsocks commented on #321
Looks like custom helpers can be registered in the `gql-gen.json` file:
https://github.com/dotansimha/graphql-code-generator/issues/134

[2018-05-22 21:51] #321 closed

[2018-05-23 06:15] dotansimha commented on #319
It sounds good. @AndreiEzhov can you provide an example for the output?

[2018-05-23 15:02] jonaskello commented on #296
I tried 0.9.1 just now and it seems I get the same output as with 0.9.0. The `readonly` flag is missing on the `__typename` fields. At least I think I'm using 0.9.1, it says so in my package.json and yarn.lock, but there is no `gql-gen --version` flag so I cannot be sure :-).

[2018-05-23 15:53] BrunoRoque06 opened #322 "Npm install fails on the second attempt"
I have a project A with the following `package.json`:

[code]

And then a project B that imports A:

[code]

After compiling project A, if I run `npm i` in project B everything works. If I delete `node_modules` and run `npm i` again I get the following error:

[code]

To fix this I need to delete package-lock.json and run `npm i` again. Then if I delete `node_modules` and run `npm i` again we get

[2018-05-23 15:58] dotansimha commented on #322
Which version of Node and Npm do you use? @BrunoRoque06

[2018-05-23 18:26] BrunoRoque06 commented on #322
I completely forgot to mention that. Added Node/Npm version to the original post. Thanks.

[2018-05-24 10:45] flexzuu commented on #311
Hey i really like the general js approach. Would it be possible or maybe it currently even is supported. To pass the actual document path in on generation (obviously only in the document generation part not schema related stuff)

[2018-05-24 13:46] peterschussheim commented on #311
I'd be happy to add a flow template once the documentation is improved.

[2018-05-25 06:09] BrunoRoque06 commented on #322
This is a `npm` problem: https://github.com/npm/npm/issues/17444.

With `yarn` everything works good. You can close this. Thank you.

[2018-05-25 06:11] #322 closed

[2018-05-26 12:07] mattcroberts opened #329 "Multi Dimensional Arrays in Typescript"
For a given schema

[code]

The following types are generated

[code]

Notice how Grid.gridItems is a 2d array in the schema but 1d in the types.

[2018-05-27 08:30] dotansimha commented on #329
@mattcroberts thanks for reporting it! it's definitely a bug. Will try to fix soon :)

[2018-05-30 18:39] dotansimha commented on #318
@degroote22 any update on this? I plan to release a new version soon

[2018-05-30 18:57] dotansimha commented on #320
Done in: https://github.com/dotansimha/graphql-code-generator/pull/339 ;)
@forabi

[2018-05-30 19:16] dotansimha commented on #307
@micimize I'm considering to deprecate the multiple files generators. What do you think? is there any special usage you can't do with the single template?

[2018-05-30 19:34] forabi commented on #320
@dotansimha Awesome!

[2018-05-30 21:02] micimize commented on #307
Not that I can think of off the top of my head. It's convenient for viewing generated definitions in editors that don't handle large files well, but if it's a maintenance pain point then it's probably not worth it.

Is this only a problem because it's a multiple-file edge case?

[2018-05-31 00:43] degroote22 commented on #318
No, I haven't heard back from the the owner of these repositories.
One approach would be stop using these libraries and implement their functionality, which is trivial.
I'll submit a PR for it later today.

[2018-05-31 05:36] dotansimha commented on #307
@micimize It's hard to maintain and we find a lot of bugs (usually related to missing imports or missing data).

[2018-05-31 16:11] TLadd opened #342 "Add 'Generated Code -- Do Not Edit' comment to generated files"
A lot of code generators will output a comment at the top of generated files saying something like

[code]

I think this would make sense for graphql-code-generator as well? Would be happy to contribute a PR if so.

[2018-05-31 16:23] TLadd commented on #342
Nevermind, I see that you can get a generated message comment by using the [printTime option](https://github.com/dotansimha/graphql-code-generator#generator-specific-config)

[2018-05-31 16:23] #342 closed

[2018-05-31 19:36] micimize commented on #307
@dotansimha Ok, let me try refactoring to single-file and get back to you, although I don't think it'll be a problem for typescript. It's harder to think about the possible problems across all languages, but I think even "convenience directory structuring" could be solved by allowing multiple top level templates

[2018-06-03 03:16] degroote22 opened #353 "Accept json schema files with Byte Order Mask"
I'm using AWS AppSync and the files they provide me for the schema come with this [BOM](https://en.wikipedia.org/wiki/Byte_order_mark).
I guess it wouldn't be a problem [to work around this](https://github.com/npm/npm/blob/latest/lib/utils/parse-json.js).
Will submit a PR soon :)

[2018-06-04 21:15] degroote22 opened #356 "Throw error if user passes invalid query"
I've found this bug where if you mistype queries then the type generation process will emit an invalid typescript file and won't throw any errors.
[There is a simple repository which shows what can cause the bug.](https://github.com/degroote22/gql-gen-bug) (run "yarn gen" to reproduce)

The point is that [at this line](https://github.com/degroote22/gql-gen-bug/blob/531d8ef4eb36174a8871e876b8f8212e

[2018-06-05 06:22] dotansimha commented on #356
@degroote22 Thanks for reporting it!

I guess that we need to run GraphQL validation on the documents before using the queries. I look into it.

[2018-06-05 19:52] degroote22 commented on #353
@dotansimha would you mind releasing a canary?
My workflow depends on a lot of new features and the state of the package is stable enough.
Thanks :)

[2018-06-08 21:59] zachrip opened #362 "Prefix Typescript interfaces?"
Hello - I'm using the generator and it's working great (great work!) - I was wondering if it'd be possible to add prefixes to the TS interfaces (User -> IUser)?

[2018-06-10 09:15] dotansimha commented on #362
Sounds good. I'll add it soon as optional for the TypeScript generator.

[2018-06-10 09:28] dotansimha commented on #353
Done! 0.9.2 is available now @degroote22

[2018-06-10 09:28] #353 closed

[2018-06-10 09:28] #318 closed

[2018-06-10 09:28] #316 closed

[2018-06-10 09:28] dotansimha commented on #320
Done! It's available in 0.9.2!
@forabi

[2018-06-10 09:28] #320 closed

[2018-06-12 10:51] JohannesHoppe opened #368 "Logo as SVG"
Hi, I'm currently writing an article about Angular + Apollo + GraphQL Code Generator.
I'm wondering if there is a higher-res version of the logo available? 😄

[2018-06-12 10:56] dotansimha commented on #368
@JohannesHoppe sounds cool! Please let me know if there is something I can do to help with your article.

The SVG is available here: http://svgur.com/s/71t

[2018-06-12 10:56] #368 closed

[2018-06-12 11:07] JohannesHoppe commented on #368
That was quick! 👍
You might want to read the article, before publishing?!

[2018-06-12 11:09] dotansimha commented on #368
@JohannesHoppe Sure! it would be great!

[2018-06-13 21:05] dotansimha commented on #180
@JohannesHoppe try to wrap your glob selector with "...", your command should be something like that:

[code]

(and your probably need to escape it if you are putting it inside `package.json`). It happens because your file system resolves the `*` before `glob` gets it, and it does not support features like `**` (for recursive lookup)

[2018-06-13 21:27] JohannesHoppe commented on #180
Many thanks. You saved my day (or better: night)! 😅

👍 👍 👍

[2018-06-13 21:38] JohannesHoppe opened #372 "shorthand query syntax breaks types for queries"
I'm using the `graphql-codegen-typescript-template`.
Having this

[code]

works fine. I get a namespace `BookList` with all required types.

[code]
But using the shorthand syntax without operation name (see [here](https://graphql.org/learn/queries/#operation-name)) breaks the code.

[code]

results in:
(two empty spaces and absolutely nothing  else)

[code]

Proposal:
Queries without a name are go

[2018-06-14 05:28] dotansimha commented on #372
Yeah that's definitely a bug. will fix soon :)

[2018-06-14 05:34] dotansimha commented on #372
@JohannesHoppe Just tested and it seems that shorthand syntax works and the document-finder find the document correctly.
The issue here is the fact that your Query does not have a name now.
In the past, we had a names generator for anonymous GraphQL documents, I guess that I need to add it now as well.

[2018-06-14 05:42] dotansimha commented on #307
Hi @micimize , any update?
I've been thinking a lot about that, and in every project that we initially started with multiple files template, we eventually refactored it and used the single file, since it's easier to use and easier to import from.

[2018-06-14 06:19] dotansimha commented on #372
Fixed (and some other changes...) here: https://github.com/dotansimha/graphql-code-generator/pull/374
Will merge soon after some tests.

[2018-06-14 20:15] JohannesHoppe commented on #368
Hello again. I wrote everything together.

Here is the article:
https://angular.schule/blog/2018-06-apollo-graphql-code-generator
which is hosted on Github:
https://github.com/angular-schule/website-articles/blob/gh-pages/blog/2018-06-apollo-graphql-code-generator/README.md

... any kind of feedback is welcome! 👍

[2018-06-16 12:55] FredyC opened #379 "Watch mode using watchman?"
I must say it becomes a bit of a pain over time to always have to run the command whenever I make changes to my queries. I am thinking if it would be possible to utilize watchman for this. I might even take a stab at it if it's something you consider a good idea?

[2018-06-16 13:04] dotansimha commented on #379
Sounds awesome!

[2018-06-16 19:20] micimize commented on #307
@dotansimha finally got around to implementing single-file, no problems so far. I think we can safely close this and commit to deprecating multi-file outputs.

[2018-06-16 19:20] #307 closed

[2018-06-17 07:27] fabien0102 commented on #319
I was actually searching for this kind of feature, the last missing part to have a fully server side types safety for me ^^

To provide an example:

### Schema
[code]

### Actual generated types
[code]

### Expected Resolvers types
[code]

This is not perfect yet, we need to think about custom resolver, that should be optional (for `Bundle` in this example).

[2018-06-17 08:10] FredyC opened #382 "Support for graphql-config"
Instead of arbitrary `gqlgen.json` config, I suggest adding optional support for [graphql-config](https://github.com/prismagraphql/graphql-config). I think it's a good path for crossing gaps between various tooling approaches.

 * Configuration at one place which makes it easier to reuse for other projects.
 * Multiple projects with a different configuration in one file
 * Built-in support for YAM

[2018-06-18 23:12] micimize opened #384 "sort documents and fragments"
Ran into an issue where `a-fragment.gql` depended on `b-fragment.gql`, which throws an error when the generated output is actual code (i.e. `const B = a.Fragment`, although interestingly only at runtime when namespaced). Although an ideal solution might be to add a flag for sorting based on [#imports](https://github.com/apollographql/graphql-tag/pull/33) or something, it's probably more expedient

[2018-06-18 23:13] micimize commented on #214
@tremby you probably shouldn't be version controlling the generated output anyways. That aside, one possible solution would be to have an optional `sort` custom helper, so users could fine-tune things like this. I don't see any reason to sort alphabetically by default, and I wonder if it would break "dependency ordering" for targets where that's applicable (like with #384)

[2018-06-18 23:16] tremby commented on #214
You're right -- it's only helpful at dev time, isn't it...

I think this is moot in light of that. Close at will.

[2018-06-19 05:51] dotansimha commented on #214
@tremby can I close this one?

[2018-06-19 05:52] tremby commented on #214
Absolutely, if you agree that there's no benefit to checking in the
generated types file to version control and as such this issue bring moot.

[2018-06-19 05:54] dotansimha commented on #214
Yeah I think it’s should be in ‘.gitignore’ :)

[2018-06-19 05:54] #214 closed

[2018-06-24 08:51] #319 closed

[2018-06-24 10:05] appsolutegeek opened #389 "Custom template, can't be found (MODULE_NOT_FOUND). Published and linked via lerna"
Hi,

I have created a custom template but when I run it, i got an npm error. I wonder if you can help ?

I have also installed the custom template via npm myself, and it works, It is published to a private repo.

I am using

    "graphql-code-generator": "0.9.2",

This is the command I execute
[code]

and this results is the following

[code]

How is it attempting to load the package ? I wrote a s

[2018-06-24 11:39] dotansimha commented on #389
@appsolutegeek Can you please share your template package?

Note that you should export `GeneratorConfig` as default export from your main package file (declared as `main` in `package.json`). See this for example: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/templates/typescript/package.json#L19

[2018-06-24 15:28] brikou opened #390 "Missing moment.js deps in core package"
moment.js is missing in core package... https://github.com/dotansimha/graphql-code-generator/blob/v0.9.3/packages/graphql-codegen-core/src/utils/logger.ts#L1

so graphql-codegen-core cannot be used as standalone package

[2018-06-25 06:11] dotansimha commented on #384
Hmm, so the issue happens on client-side documents, that you build using JavaScript variables? and then it uses fragments from another file? can you please give an example for this usage?
I think we it might be possible to read the documents files as JavaScript file instead of text files, and then it will resolve and require the other files automatically.

[2018-06-25 06:12] dotansimha commented on #382
Sounds good. I think @kamilkisiela tried to integrate it somehow (any idea?)

[2018-06-25 17:31] micimize commented on #384
While writing this I realized **I can probably work around my specific issue with var hoisting**, but I'll still provide the details as it might be an issue for languages where hoisting isn't allowed:

I'm using the `#import` graphql convention I linked to above, so I don't think loading via js would work. The app uses `graphql-tag/loader` to import `.gql` files into js. We generate the correct ty

[2018-06-25 20:49] SkaterDad opened #394 "Error when generating schema from typescript file export"
This project looks really great so far!  👍

When I try to generate types from a Typescript file, I'm getting errors.  I thought I set this up similar to what I saw in your Youtube video, so I'm unsure of why this doesn't work.

Do you have any tips or tricks?  I'd rather generate from source files than spin up the server each time.

package.json script:
[code]
error message:
[code]

./src/schema.t

[2018-06-25 21:55] SkaterDad commented on #394
For whatever reason, the code below works, so this must be related to the output of `makeExecutableSchema`.

[code]

[2018-06-26 21:12] kamilkisiela commented on #394
@SkaterDad

[code]

[2018-06-26 21:14] kamilkisiela commented on #382
@dotansimha I didn't, I just needed the introspection template to generate JSON file. However, That sound interesting, I guess I can do something like that soon :)

[2018-06-26 22:15] SkaterDad commented on #394
I tried that as well, with the same error.  Maybe I need to have my tsconfig emit type declarations? Will try that later and report back.

[2018-06-27 02:58] jasonkuhrt opened #396 "TS Types do not agree with GQL Binding types"
Gen result from same schema:

GQL bindings:
[code]

GQL Code Generator:
[code]

This makes resolvers harder to type because of the type mismatch (the following would type error):

[code]

[2018-06-28 18:11] appsolutegeek commented on #389
my template package is the typescript one then i git cloned, nothing has changed. My idea was to customize it a little late... but right now its the same

no difference, but i can put it on github if you like ?

[2018-06-29 06:45] degroote22 opened #401 "Allow multiple templates"
I'm writing a template that generates bindings for react-apollo, and I'm using the types already generated by the typescript template.

Right now I'm forking `graphql-codegen-typescript-template` but I wouldn't like to maintain the fork.
The best approach would be to be able to run more than one template.
It wouldn't touch any of the current templates implementation and they could be easily extend

[2018-06-29 07:04] degroote22 commented on #384
You should use https://github.com/prismagraphql/graphql-import to use this syntax and import the file correctly.

[2018-06-29 10:01] dotansimha commented on #401
Sounds good. I think it's minor change to add it. Any chance you would like to add this feature and create a PR? @degroote22

[2018-06-29 10:02] dotansimha commented on #396
Which error do you get? can you please elaborate?  @jasonkuhrt

[2018-06-29 12:56] degroote22 commented on #401
For sure, I'll do it.
It may take a couple of days because I'm a little busy but I will do it. :)

[2018-06-29 15:21] tomasAlabes opened #403 "Subscriptions resolvers should be created with resolve & subscribe methods"
Hi, first thanks for your work!

I've been using the resolvers types but I found a mismatch in the subscription ones. It's done correctly by https://github.com/dangcuuson/graphql-schema-typescript v1.2.0: _Field resolvers under subscriptions are being generated with resolve and subscribe method_

Subscriptions have different resolvers compared to Queries/Mutations.

Thanks!

[2018-07-01 02:36] degroote22 commented on #401
I created a prototype but I can't figure out how to keep outfiles configurable.
I can't think of a clean api for this. I guess that it may be better to skip this idea.
The same functionality can be achived in "userland" by running the generator twice.

[2018-07-01 02:36] #401 closed

[2018-07-02 18:45] damianfrizzi commented on #285
+1 for an option to disable namespaces. We're using the same workaround that @dobesv proposed but it would be nice to have one tool (graphql-code-generator) to perform the whole type generation.

[2018-07-03 09:34] dotansimha commented on #394
@SkaterDad any update?
If that didn't helped, can you please share a reproduction?

[2018-07-03 09:34] #372 closed

[2018-07-03 09:36] kamilkisiela commented on #403
I will try to work on it in next few days

[2018-07-03 09:49] dotansimha commented on #311
@peterschussheim @flexzuu
It's not a complete documentation, but you can take a look at a real example for a template without Handlebars here:
https://github.com/dotansimha/graphql-code-generator/tree/master/packages/templates/introspection

[2018-07-03 09:59] dotansimha commented on #384
I'm not that familiar with the `#import` syntax, but I think we can add support for that, because at the moment it just treated as comment. @degroote22 @micimize what do you think?

[2018-07-03 12:07] lostpebble commented on #329
Has there been any movement on this? I've run into this and my types are auto-generated from my GraphQL files... its quite an issue because its hard to split out that type temporarily because they're all connected in my GraphQL schema and if I manually change them to make them correct, they'll still be over-written each time I generate new types.

[2018-07-03 12:31] degroote22 commented on #384
It's not official, it's still a spec proposal.
Given that and the fact that the [implementation](https://github.com/prismagraphql/graphql-import) is quite stable and well supported, it's ok to add it.

What I don't like is the fact that people should be educated to use this library properly, and if they don't they will come here writing issues. I think this should stay at userland while `graphql-c

[2018-07-03 12:44] degroote22 commented on #394
I guess that you're trying to pass `graphql-code-generator` the **executable**Schema while you should pass the **schema**.
I've never had issues using the same setup as you but I'd export just a **string** from my script.

[2018-07-03 14:11] micimize commented on #384
@degroote22 `graphql-import` seems to be specifically for schemas, and not for operation documents. Also, I don't think we have a way of passing a module as the documents flag.

But, maybe that's exactly what we should implement here - provide a flag like `--export-documents ./src/client-queries.ts` for the use to hook into and add whatever middleware they want.

[2018-07-04 02:03] degroote22 commented on #384
What's the problem with the current approach of having the CLI look for the documents?
I guess I didn't understand what you said, if you wouldn't mind explaining it better...

[2018-07-04 02:19] micimize commented on #384
@degroote22 in order to apply preprocessing, such as import resolution, like you did on the schema side. Something like
[code]

[2018-07-04 12:18] jaimesangcap opened #410 "generate type for the root object resolver"
The `graphql-codegen-typescript-template` generates types as follows:

[code]

Is it possible to generate single type that contains all the resolvers nestedly, instead of spreading them into namespaces? Just an example of what I'm thinking...

This somehow follow the shape of the `graphql-tools` for the resolvers.

[code]

[2018-07-05 04:27] shinyaohira opened #413 "Resolver type error"
Hi, I'm using graphql-code-generator v0.10.1.
When query root is defined in snake case, the resolver type name is not generated properly.

schema:
[code]

generated type:
[code]

[2018-07-05 10:26] FredyC opened #414 "Do not emit Resolver type when not used"
Definitely an interesting idea I will use in other projects, however, there is a slight issue that this is also generated when `skipSchema` is set ultimately causing `'Resolver' is declared but never used.` and unable to compile the code.

cc @kamilkisiela

[2018-07-05 23:36] adam1658 opened #415 "mergedDocuments: Provide operation filename - where a given operation / fragment came from"
I'm writing my own output processor function (https://github.com/dotansimha/graphql-code-generator/tree/master/packages/templates) for client-side operation result types (for Typescript).

For each *.graphql file in my project, I'd like to place multiple *.ts files beside it - one for each operation / fragment, but to do so I need to know what file a given operation / fragment came from.

Is it po

[2018-07-06 13:35] ferenc-radius commented on #362
Any progress on this?

[2018-07-06 21:29] kabytaa opened #418 "ifDirective on enum value not working"
I have the following scenario:

gql file:
[code]

handlebars file:
[code]

gql-gen.json:
[code]

output file:
[code]

expected output:
[code]

What I did wrong?
Please help.

[2018-07-07 21:50] yohcop opened #419 "Support .graphql files as input"
Hi,
I'm trying to generate typescript typings at build time, based on a `.graphql` schema file, checked in with my code. I can't find a way to use those as input directly.

I don't have a `schema.ts`, since my server isn't in nodejs (it's in Go, and it uses the `.graphql` files).
And of course once the server is built and running, using `--url` works, or I can get a `schema.json` file from it,, bu

[2018-07-07 22:10] yohcop commented on #419
Ah, obviously I've been looking at this all wrong since this morning, and as soon as I ask the question, I  find the simple answer... classic :cry:

The ts files accepted by --schema flag can be generated very easily... they just need to be like:

[code]

and done... 1 line of code to do that.

That being said, it seems like it would be trivial then to get the string from a .graphql file passed as

[2018-07-08 05:35] dotansimha commented on #419
It makes sense. I'll look into it :)
Note that you can create introspection using this package (there is a template for it)

[2018-07-08 05:36] dotansimha commented on #418
@kabytaa thanks for reporting this issue! Any chance you can share your full template / failing test? it will make it easier to solve :)

[2018-07-08 05:39] dotansimha commented on #415
That's sounds interesting. Do you use Handlebars or just JS for your template?
If you wish to create multiple TS files for a single operation -> you can use MULTIPLE_FILES template and use the operation name as your filename.

[2018-07-08 05:40] dotansimha commented on #414
@kamilkisiela 👍

[2018-07-08 05:40] dotansimha commented on #413
@kamilkisiela 👍

[2018-07-08 05:41] dotansimha commented on #410
@kamilkisiela 👍

[2018-07-09 08:09] lostpebble commented on #329
Great to hear @dotansimha ! Much thanks 🙂

[2018-07-12 09:00] dotansimha commented on #419
@yohcop
With v0.10.3, you can now specify a glob for the schema, and the codegen will try to pick up the graphql files, and compile them to a `GraphQLSchema`.  Use `--schema "./src/schema/**/*.graphql" `.

[2018-07-12 09:08] #419 closed

[2018-07-12 18:44] yohcop commented on #419
Well, that was quick! Awesome, thanks a lot!

[2018-07-14 04:16] bonham000 commented on #285
Also +1 this — currently the problem I'm running into is `ts-jest` fails so parse the generated type definitions because they include `namespace`. I'm trying to see if there is a solution for that, but in the meantime it basically means I would need to change testing frameworks or simply not use these auto-generated types, but this type generation is awesome and I'd really like to find a way to ma

[2018-07-16 00:12] jasonkuhrt commented on #396
`  after?: String` vs `after?: string | null`. If I run into the exact error TS produces for this again I'll post it.

I'm actually not 100% sure which is the better type. It seems correct to me that the caller might pass in `null` or `nothing`. @timsuchanek do you have insight about the design decision taken in [`graphql-bindings`](https://github.com/graphql-binding/graphql-binding)?

[2018-07-16 03:50] kambing86 opened #428 "graphql-codegen-typescript-template typescript cannot be used in @babel/preset-typescript"
"@babel/cli": "^7.0.0-beta.53",
"@babel/core": "^7.0.0-beta.53",
"@babel/plugin-proposal-class-properties": "^7.0.0-beta.53",
"@babel/plugin-proposal-object-rest-spread": "^7.0.0-beta.53",
"@babel/preset-env": "^7.0.0-beta.53",
"@babel/preset-typescript": "^7.0.0-beta.53"

SyntaxError
Namespaces are not supported.

it seems like babel doesn't want to support namespace

https://babeljs.io/docs/en/n

[2018-07-16 05:55] kambing86 commented on #428
fast fix for this is to change every `export namespace` to `export declare namespace` or `export declare module`, still need to figuring out why

[2018-07-17 02:06] jclangst opened #430 "Where is the documentation for the gqlgen.json file?"
It appears to be referenced throughout, but I could not find it in any of the packages.

Some of the README files have dead links (https://github.com/dotansimha/graphql-code-generator/tree/master/packages/graphql-codegen-compiler) that seem like they might be trying to point to it?

[2018-07-17 21:16] aurpine opened #435 "Customizability of Custom Templates"
I've been using custom templates (`codegen-templates-scripts`). Although very powerful, I've found it to be lacking some fundamental features.

## Template Calling

The templates called and their contexts are limited. It would be very useful to be able to specify which templates are used and with what contexts. This is especially useful when having to create multiple files with the same context.

[2018-07-18 05:15] alancitrus opened #436 "Issue in schema with interfaces"
[schema.txt](https://github.com/dotansimha/graphql-code-generator/files/2205121/schema.txt)
When I try to convert an introspection schema json with interfaces using graphql-codegen-typescript-template, I get error something like the one given below:
`10:40:13.575 - error: {"message":"Object.values is not a function","stack":"TypeError: Object.values is not a function\n    at Object.getImplementing

[2018-07-19 05:09] #436 closed

[2018-07-19 17:18] ardatan commented on #430
You can see the example config below;
https://github.com/dotansimha/graphql-code-generator/tree/master/packages/graphql-codegen-cli#gql-genjson

[2018-07-20 07:49] polco opened #438 "all input types & enums are generated when specifying -c --skip-schema"
I think the `input` should also be omitted when specifying the skip schema parameter ? :)
[code]

[2018-07-23 12:15] danimbrogno opened #439 "Export the Resolver type to allow compilation with "declaration": true in tsconfig.json"
Currently when the "resolvers" option is set to true for the typescript template, the generic Resolver type is not exported. This causes a compilation error in projects where `"declaration": true` is set in the tsconfig.json file.

I'm hoping we can get an update where this type is exported.

[2018-07-23 23:48] micimize commented on #384
Realized this can actually be solved by ordering the arguments to the generator. It would be nice to dedupe the expanded glob, because it seems `gql-gen ... src/b/*.gql src/**/*.gql` results in the definitions of `src/b/*.gql` being generated twice. Just a nice-to-have though

[2018-07-23 23:48] #384 closed

[2018-07-25 12:49] Slessi commented on #153
For query/mutation code generation, I use [apollo-cli](https://github.com/apollographql/apollo-cli#apollo-codegengenerate-output), which has the flag `--customScalarsPrefix` when using `codegen`

[code]

`GQLDate` will not be exported in the generated types, and I keep a separate `.d.ts` with

[code]

[2018-07-26 04:55] #285 closed

[2018-07-26 07:59] damianfrizzi commented on #285
@dotansimha could you please publish a new release with this change? We're eagerly waiting for this :)

[2018-07-26 19:01] SkaterDad commented on #394
I haven't had any more time to experiment with this generator, so I'll close the issue.  The tool worked well when you pass it a plain schema, so that will be good enough for me if I come back to it in the future.

[2018-07-26 19:01] #394 closed

[2018-07-27 17:55] dotansimha commented on #285
@damianfrizzi @dobesv @bonham000 it's available now in 0.10.4 :)
Thanks @ardatan for fixing it!

[2018-07-30 08:27] #413 closed, assigned to nobody

[2018-07-30 18:50] rogersp commented on #413
This is still an issue for me in 0.10.5.

![image](https://user-images.githubusercontent.com/2909421/43416908-6ace5dc0-93ee-11e8-9ebb-faf8386b52a7.png)

[2018-07-30 21:07] kamilkisiela commented on #413
@rogersp that's because all is pascalCased

[2018-07-31 05:00] #362 closed

[2018-07-31 05:05] dotansimha commented on #438
At the moment, enums and input types are generated anyway, because documents are using them and not just the schema.
@polco , do you have a use can where we need to omit input types?

[2018-07-31 05:57] polco commented on #438
I realize my issue's name is not correct. So my current project is using the typescript template generator. I separated the queries and mutations in different folders, so i get a different type files generated for each. In both files, all the schema input types are present, no only the one needed by the mutations or by the queries.
So i guess the only thing is that i get unused types generated in

[2018-08-02 06:54] kamilkisiela commented on #439
It is since v0.10.5

[2018-08-03 04:00] ardatan commented on #428
This has to be fixed by noNamespaces option please check out typescript template documentation for more details;
https://github.com/dotansimha/graphql-code-generator/tree/master/packages/templates/typescript

[2018-08-03 21:40] arose opened #458 "Add support for backticks in document-finder"
Hi, is it ok to add support for backticks in `document-finder`? I can make a PR to add backticks to the regex below.

https://github.com/dotansimha/graphql-code-generator/blob/369427023069778ff5e30fd566109e6f478cfb71/packages/graphql-codegen-cli/src/utils/document-finder.ts#L25

[2018-08-04 03:32] ardatan commented on #418
Hello, is there any update on sharing full template code or reproduction?

[2018-08-05 05:11] #403 closed

[2018-08-05 05:11] #329 closed

[2018-08-06 05:16] #414 closed

[2018-08-06 05:16] #410 closed

[2018-08-06 05:16] #379 closed

[2018-08-06 05:16] #153 closed

[2018-08-06 09:30] Slessi commented on #153
@dotansimha Since new #444 was released, there seems to be an issue with  my JSON scalar type.

schema
[code]
generated types
[code]

I'm aware of the new `scalars` option for `gql-gen.json` but this doesn't help me as it results in the following
[code]

[2018-08-06 11:07] kamilkisiela opened #462 "Parent in *Resolver types should be `any`"
All parents should be `any` since we don't know them, we may expect how they may look like but we can't be sure.

[code]

`Parent = Task` but it's not true because maybe we pass an object that has a different interface than `Task` and instead of `Task.name` it has `Task.title`. Because of that, it TypeScript will show it as an error.

`Parent` generic type should be optional and `any` by default.

[2018-08-06 14:58] kamilkisiela opened #466 "Missing signature call in Resolver type"
[code]

Because `QueryResolver` and `SubscriptionResolver` has the same arguments TypeScript doesn't know if an object of type `Resolver` is a function or an object with `subscribe` and `resolve` methods and it screams about it 😢

I guess we need to set each field as either QueryResolver or SubscriptionResolver directly.

[2018-08-06 20:36] FredyC commented on #438
I am with @polco on this. It's not like a big issue, but I am working on the project and there is like 50+ input types and other 20+ enums floating around that are not referenced in any of other types. There are two small-ish issues about that.

 * autocomplete in VSCode and I am getting a bunch of types that are useless
 * looking up something manually in the generated files means getting through

[2018-08-07 08:14] JannesV opened #469 "Typescript noNamespace scalar issues"
When using the noNamespace option in the typescript template. Types that have custom scalars, such as JSON, DateTime, ... are also prefixed with the query name. However this breaks the types as the scalars are only globally defined.

[code]

should be (DateTime)

[code]

[2018-08-07 12:28] #462 closed

[2018-08-07 12:28] #466 closed

[2018-08-07 12:36] dotansimha commented on #438
@FredyC We can't predict the usage of the generated type, but we can minimize the amount of generated output. Any chance you can provide an example for it? @FredyC

[2018-08-07 16:12] kamilkisiela commented on #469
I got you covered Mr @JannesV ! #471 - reproduced and fix in progress

[2018-08-07 16:33] kamilkisiela commented on #469
I published a canary version: `0.11.0-alpha.4c054a57`

@JannesV Could you check if it works for you?

[2018-08-07 16:35] kamilkisiela commented on #153
I published a canary version: `0.11.0-alpha.4c054a57`

Could you check if it works for you?

[2018-08-07 18:32] JannesV commented on #469
Great job dude! The scalars are now fixed. However it still "breaks" on enums. I should've clarified in my first post but I overlooked it and thought it only broke on custom scalars.

[code]
How it should be (ItemPropertyInputType)

[code]

Thanks for the **very** quick assistance!

[2018-08-07 20:07] #428 closed

[2018-08-08 10:13] kamilkisiela commented on #469
@JannesV

I included scalars, enums and unions `0.11.0-alpha.c2ace11c`

Could you try it out?

[2018-08-08 11:16] #458 closed

[2018-08-08 12:51] JannesV commented on #469
@kamilkisiela Works like a charm, great work man.

[2018-08-08 18:20] FredyC commented on #438
I see what might be a confusion point. The main idea is to consider a whole schema, not queries only.
Consider types of fields in the schema that are probably referencing enum types. Also, mutations would be usually referencing input types. Based on this sort of validation, it should be possible to safely mark types, that are unnecessary to keep in the generated files.

It should be probably opt-i

[2018-08-09 22:41] daniel-nagy opened #481 "Feature Request: Preserve Namespaces"
I would like the option to preserve document namespaces. This would allow documents with the same name to coexist in different namespaces.

I think this would require changes to the **codegen-core** package. Maybe adding a `namespace` property to the `AstNode` type.

Given:

[code]

Would produce:

[code]

[2018-08-09 22:52] daniel-nagy opened #482 "Bug: --project-config Option Does Not Work"
Specifying the name of the config file using the `--project-config` option does not work. The only way I can get it to use the config file is if I name it `gql-gen.json`. It seems to ignore whatever I pass from the command line.

According to the README:

But that doesn't seem to be the case either.

**graphql-code-generator**: v0.10.7
**graphql-codegen-typescript-template**: v0.10.7

[2018-08-09 23:06] daniel-nagy opened #483 "Bug: interfacePrefix Not working Properly"
This option is prefixing enums and types when used on other types or interfaces.

e.g. it produces the following:

[code]

**graphql-code-generator**: v0.10.7
**graphql-codegen-typescript-template**: v0.10.7

[2018-08-09 23:29] daniel-nagy commented on #482
Resolved by #478, although I think the default file name is still wrong.

[2018-08-09 23:29] #482 closed

[2018-08-10 00:05] sgoll opened #484 "[typescript] `prepend` outputs HTML-entity-encoded lines"
Using the `prepend` generator config from `packages/templates/typescript/README.md` outputs invalid TypeScript by unnecessarily escaping certain characters as HTML entity codes, e.g.

[code]

This makes it impossible to use certain code fragments such as the ones above.

[2018-08-10 00:05] sgoll opened #485 "[typescript] Example for `scalars` produces illegal code"
Using the example for the `scalars` generator config from `packages/templates/typescript/README.md` produces the following invalid TypeScript code in the output:

[code]

TypeScript here complains that `[ts] Type alias 'Date' circularly references itself.`

I suggest the following fix:

Whenever the `typescript` generator detects that a scalar has been set to the same type name, simply omit the de

[2018-08-10 08:19] jzimmek opened #489 "[typescript] Why is parent/args hardcoded as optional?"
Hi there, awesome project to make server-side graphql even more enjoyable.

I just generated some typescript typings

[code]

It generated typings/types.ts as expected:

[code]

"parent" and "args" are optional, this is hardcoded in:

https://github.com/dotansimha/graphql-code-generator/blob/master/packages/templates/typescript/src/schema.handlebars#L5-L7

AFAIK the "parent" field is only optional

[2018-08-10 10:32] #484 closed

[2018-08-10 10:35] kamilkisiela commented on #483
@daniel-nagy Hi, could you create a simple reproduction or a failing test?

[2018-08-10 10:37] dotansimha opened #491 "Document latest refactor for TypeScript MongoDB Template"
Related: https://github.com/dotansimha/graphql-code-generator/pull/490

[2018-08-10 17:05] daniel-nagy commented on #483
@kamilkisiela modify this test https://github.com/dotansimha/graphql-code-generator/blob/master/packages/templates/typescript/tests/typescript.spec.ts#L54

with

[code]

It will fail, the code being generated is

[code]

You can see the enum is being prefixed with `I` when used on the type `Foo`.

As for my original comment, type `Bar` is part of a client side query document. So something like

[c

[2018-08-10 19:22] jzimmek opened #494 "[typescript] single/double quotes in config "prefix" get escaped (invalid syntax)"
version: 0.10.7

gqlgen.json
[code]

generates invalid typescript:

[code]

I tried single/double qoutes, but both get escaped.

I assume this is a bug or is this somehow configurable?

[2018-08-10 19:27] jzimmek commented on #494
@ardatan thx for linking related issue. fixing pull request is already merged. this issue should also be solved once new version of package is released.

[2018-08-10 19:28] #494 closed

[2018-08-11 11:20] 21stio opened #496 "getting error without error message"
Hey,

when running the generator, it throws an error, but doesn't display an error message..

`$ gql-gen --schema src/schema.graphql --template graphql-codegen-typescript-template --out ./typings/`

`13:17:34.347 - info: Loading GraphQL schema object, text, ast, or introspection json from JavaScript ES6 export: src/types.ts...
13:17:34.355 - error:
`

[2018-08-11 12:26] 21stio commented on #496
The issue was the way the schema was provided. Even tho, having not error message is a little annoying..

[2018-08-12 03:25] shinyaohira opened #497 "enum type error when snake case"
I'm using v0.10.7 and having a issue with the casing in generated typescript types not matching.

schema:
[code]

generated types:
[code]

[2018-08-13 06:42] #485 closed

[2018-08-13 11:56] dotansimha commented on #496
@21stio maybe we can find a better solution for this.
How does your `src/schema.graphql` looks like?

[2018-08-13 11:56] dotansimha commented on #497
@kamilkisiela

[2018-08-13 11:57] dotansimha commented on #489
@kamilkisiela @ardatan

[2018-08-13 12:44] kamilkisiela commented on #489
I would make them non optional, because in most cases they are.
This will hurt a bit while unit testing:

[code]

But.

You can always wrap resolvers with this function in unit tests:

[code]

This will make all arguments optional and TS, that weird mad beast, won't scream

[2018-08-13 12:45] kamilkisiela commented on #489
@dotansimha @ardatan @jzimmek

[2018-08-13 12:52] 21stio commented on #496
Initially I provided a plain text file that only contains the schema a la, using a http endpoint works fine

[code]

[2018-08-13 12:58] Slessi commented on #497
Would it be possible to not modify scalar names?

I don't see why the outputted types should be to the way they are specified in schema

(mentioned also in https://github.com/dotansimha/graphql-code-generator/issues/153#issuecomment-411335625)

[2018-08-13 20:17] 21stio commented on #496
Same is happening for a schema.json that has been generated with
`apollo schema:download --endpoint=${SCHEMA_DIR}/schema.graphql ${SCHEMA_DIR}/schema.json`

[2018-08-15 15:02] mcongy opened #503 "Wrong query types generated by typescript-react-apollo-template"
Hey,

First off, thank u so much for this project and for the react-apollo-template. Works very nicely.

**Issue**
graphql-code-generator Version: 0.10.7 (latest as of 8/12/2018)
Node Version: 10.8.0
Platform: Ubuntu 18.04

**Using command:**
`npx gql-gen --template graphql-codegen-typescript-react-apollo-template --config gqlgen.json --out __generated/queries.ts src/queries/**/*.graphql --schema

[2018-08-16 05:00] ardatan commented on #503
It's been fixed by
https://github.com/dotansimha/graphql-code-generator/commit/e5feb631d4383046b9cc2b00c4fad893ec1567a7#diff-60c0e6de76c51ffb8188d0076519b572R11

[2018-08-16 07:40] #390 closed

[2018-08-16 14:26] dotansimha commented on #489
@kamilkisiela I agree with your approach.

[2018-08-16 19:21] saddieeiddas opened #507 "Release new version"
Hi,

There have been a number of important fixes merged over the past few days.

Would it possible to get a new version released for all the packages?

[2018-08-17 08:03] dotansimha commented on #507
We are working on some final fixes, and I think we will release a new version in a few hours :)

[2018-08-17 08:05] dotansimha commented on #481
@daniel-nagy
I think it requires us to read the file (with the `gql` tag) as code file (AST), and not as string, so it might be a bit difficult to address at the moment.
We are accepting PRs, so if you want to try to implement it - you're welcome :)

[2018-08-17 08:08] dotansimha commented on #435
@aurpine, you are refering to the `PROJECT` generation, right?
I think it requires a big refactor, so I think if you and others have an idea for a better flow and a better solution - let us know :)

[2018-08-19 19:14] valentinbe opened #511 "Generating client side types using apollo-link-state"
Hi,
Thanks for the amazing tool.
Did anyone managed to generate client side types with part of the schema defined  locally using apollo-link-state? Apollo cli handles this use case with a --clientSchema option on generation step.
For the moment I am ignoring client side schema definitions files. But limits of this workaround being that types are not generated when I write queries which fetch both

[2018-08-20 04:31] dotansimha commented on #511
@valentinbe, thanks for reporting it! Can you please provide an example?

[2018-08-20 11:41] Jontem commented on #356
I have the same problem. Have this bug been introduced in later versions?  I've upgraded to the latest version some days ago and have started to see this problem since then.

[2018-08-20 11:53] hkjeffchan opened #512 "Error: Cannot find module '../../../../graphql-codegen-core/dist'"
npm -g ls graphql-code-generator
/usr/local/lib
└── graphql-code-generator@0.10.7

npm -g ls graphql
/usr/local/lib
└── graphql@0.13.2

npm -g ls graphql-codegen-typescript-template
/usr/local/lib
└── graphql-codegen-typescript-template@0.10.7

gql-gen -s http://localhost:3000/graphql --template ts --out ./src/typings/index.ts
internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot

[2018-08-20 17:11] dotansimha commented on #512
@kamilkisiela can you please take a look before the new release? :)

[2018-08-20 17:13] kamilkisiela commented on #512
@dotansimha yes

[2018-08-20 17:34] #512 closed

[2018-08-20 18:49] arose opened #515 "Can the documentation from a graphql schema be added to the generated typescript?"
For example, given the GraphQL type

[code]

create the following TypeScript

[code]

[2018-08-21 15:26] dotansimha commented on #507
Done! 0.11 is available now. @saddieeiddas

[2018-08-21 15:26] #507 closed

[2018-08-21 15:27] dotansimha commented on #503
Done! 0.11 is available now. @mcongy

[2018-08-21 15:27] #503 closed

[2018-08-21 15:27] dotansimha commented on #497
Done! 0.11 is available now. @shinyaohira

[2018-08-21 15:27] #497 closed

[2018-08-21 15:27] dotansimha commented on #489
Done! 0.11 is available now. @jzimmek

[2018-08-21 15:27] #489 closed

[2018-08-21 15:27] dotansimha commented on #483
Done! 0.11 is available now. @daniel-nagy

[2018-08-21 15:27] #483 closed

[2018-08-21 15:28] dotansimha commented on #356
Done! 0.11 is available now. @degroote22 @Jontem

[2018-08-21 15:28] #356 closed

[2018-08-21 16:42] daniel-nagy commented on #483
@dotansimha Thanks for the update. Unfortunately, client query documents are still not working. I'm getting the exact same behavior as before. It generates types without the prefix but when it uses the type it adds the prefix.

I also think it is undesirable to add the interface prefix to an enum type, which is what is happening now.

[2018-08-22 07:24] ggoforth opened #523 "No files matched for glob pattern"
Hello, I'm getting a `No files matched for glob expression: "./src/**/*.graphql"` message when running the code generation function from the command line.

The command I'm running is:

`$(npm bin)/gql-gen --schema http://localhost:3000/graphql --template graphql-codegen-apollo-angular-template --out ./src/generated/graphql.ts \"./src/**/*.graphql\"`

The output I receive during this is:

[code]

I

[2018-08-22 10:08] fohte opened #526 "Wrong operation option types generated by typescript-react-apollo template"
Hi,
Thanks for this nice project and the typescript-react-apollo template :)

I found an issue in the HOC template of the typescript-react-apollo template since I upgraded it to 0.11.0.

### Versions

* `graphql-code-generator`: 0.10.7 or 0.11.0
* `graphql-codegen-typescript-react-apollo-template`: 0.11.0

### Current behavior

A gql-gen configuration:

[code]

A query:

[code]

Run the `gql-gen`

[2018-08-22 11:59] alexk111 opened #528 "Error when fragments are separated"
Currently when fragments are stored separately from queries and mutations, the codegen produces a "Unknown fragment ..." error.

Example:

_fragment.ts_
[code]

_query.ts_
[code]

[2018-08-23 14:57] Vilsol opened #529 "Quotes inside GQL queries get escaped as &quot;"
The generated typescript output (using plugin `graphql-codegen-apollo-angular-template`) all of the queries quotes get html-escaped to `&quot;`

Example GQL:
[code]

Generated Result:
[code]

When further trying to execute the query, the GQL linter errors with:
[code]

My current workaround is to add `&& sed -i -e 's/&quot;/\"/g' app/src/generated/graphql.ts` to the command.

[2018-08-24 07:44] kamilkisiela commented on #529
@Vilsol I'm on it!

[2018-08-24 08:43] timeyr commented on #496
I am also experiencing that. I upgaded from version 0.8x to 0.11.0, replaced `--file` by `--schema` in the CLI command, and now I get this error w/o message:
[code]

[2018-08-24 11:26] ardatan commented on #396
Could you remove question mark in your typedefs?
[code]

[2018-08-25 14:59] degroote22 opened #534 "Add support for different document-finders"
I'm writing a Dart types generator and I had to use a custom document-finder to find queries inside .dart files.

To do it I forked this lib but would there be a different way to do this?

[Check this diff to see the changes I had to make to make it work. -- (it's an ugly hack)](https://github.com/dotansimha/graphql-code-generator/compare/master...degroote22:master)

[2018-08-25 15:12] degroote22 opened #535 "Errors are being "swallowed""
Create a custom template:

[code]

package.json
[code]

Run it:
[code]

[2018-08-26 11:27] dotansimha commented on #534
That's interesting. Currently we are thinking about creating a different way to load the documents, and use `require` instead of `fs.readFile`, it will also be a solution for this issue: https://github.com/dotansimha/graphql-code-generator/issues/528

I'm not familiar with Dart, @degroote22 , can you please explain how Dart files are different from JS or TS files? And how we should load and search

[2018-08-26 14:35] mixail-novikov commented on #496
I faced the same problem. In my case I explicitly install graphql-codegen-typescript-react-apollo-template as dev dependency.

Perhaps, in your case you should install graphql-codegen-typescript-template.

I don't know why this not mentioned in docs.

[2018-08-26 14:44] mixail-novikov opened #536 "Fix Apollo template package names in docs"
I suppose they should contain `-template` at the end

[2018-08-26 15:12] mixail-novikov opened #538 "Angular+Apollo package and folder name"
I don't use angular, but I noticed that angular+apollo folder named as `typescript-apollo-angular`, and package named as `graphql-codegen-apollo-angular-template`.

In comparison with react+apollo folder named as `typescript-react-apollo` and package named as `graphql-codegen-typescript-react-apollo-template`

I see consistent pattern in react+apollo
Package name: `graphql-codegen-typescript-react

[2018-08-26 15:30] shinyaohira opened #539 "Directive "include" may not be used on FIELD."
I cannot use directives with v0.11.0 and TypeScript.

query:
[code]

error message:
[code]

[2018-08-26 15:36] shinyaohira commented on #539
I specified remote schema.

[2018-08-26 15:51] mixail-novikov commented on #538
Oh, you're really right. In that case I close issue.

[2018-08-26 15:51] #538 closed

[2018-08-27 05:08] #536 closed

[2018-08-27 06:08] alexk111 opened #541 "[Template Request] Template for typescript + graphql-shield"
Graphql-shield is a permission layer for graphql servers: https://github.com/maticzav/graphql-shield

It's configured by defining a schema middleware:

*permissions/index.ts*:
[code]

*permissions/rules.ts*:
[code]

As seen on the example, generated type definitions for ```schemaPermissions``` would mostly be a copy of Resolvers' type definitions. The only difference is that instead of ```me?: MeR

[2018-08-27 08:45] #535 closed

[2018-08-27 09:51] Slessi opened #543 "Overriding default scalars"
I have a custom resolver for GraphQL's `ID` scalar, which sends strings to the client but resolves to integers for the server.

I have tried specifying a custom type inside `gql-gen.json`, however I still get `string` inside the generated types.

Is there a way to override the types for default scalars such as `ID`?

[code]

[code]

[code]

[2018-08-27 12:28] Slessi commented on #543
@ardatan Tried as described in [packages/graphql-codegen-cli/README.md](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-cli/README.md) but has no effect.

[code]

[2018-08-27 14:13] degroote22 commented on #535
wow, that was fast 👏👏👏👏👏

[2018-08-27 14:55] degroote22 commented on #534
Currently the only implementation that uses GraphQL on Dart is [one for Flutter](https://github.com/zino-app/graphql-flutter/) (a framework for building mobile apps).
There isn't a function used to parse all queries as there is in JS, but we could tell people to use an identity function to anotate which strings are GraphQL operations, [like I did here.](https://github.com/degroote22/graphql-flutte

[2018-08-27 15:26] DmitryEfimenko opened #544 "Does not handle fragments"
Command:
[code]

In case you have the following query:
[code]
... it generates the following service
[code]
As you can see the fragment definition is missing, which results in runtime error.
I have initially submitted [this issue here](https://github.com/kamilkisiela/apollo-angular-services/issues/2), which I think is the wrong repository for this issue.

[2018-08-27 16:26] Slessi commented on #543
@ardatan That was the first thing I tried. Also tried any other combinations I could think of

[2018-08-28 10:13] Slessi commented on #543
@ardatan Minimal repro available here https://github.com/Slessi/gql-gen-primitive-override-repro

[2018-08-28 12:26] ardatan commented on #543
Found an issue about CLI's `gql-gen.json` handling.
Thank you!

[2018-08-29 00:38] KeithGillette opened #548 "`CODEGEN_INTERFACE_PREFIX` not respected on `modelType` in `graphql-codegen-typescript-template`"
When generating via `graphql-codegen-typescript-template` with a `CODEGEN_INTERFACE_PREFIX` set, the GraphQL operation response interface does not include the specified prefix, so it does not match the type assigned to the `operationType` field.

(Since the response interface is contained within a TypeScript namespace along with the `Variables` and `Query` or `Mutation` types, I'd recommend that i

[2018-08-30 07:22] stevefan1999-personal opened #550 "CODEGEN_SCHEMA_NO_NAMESPACES is not working"
### Reproduction
On Windows and using GraphLOC as an example, if I ran `cross-env CODEGEN_SCHEMA_NO_NAMESPACES=true CODEGEN_PRINT_TIME=true gql-gen --schema https://api.graphloc.com/graphql --template typescript --out ./typings/types.ts`, not only the time is printed, but the namespace is still generated.

[2018-08-30 07:53] dotansimha commented on #550
@ardatan can you please take a look? I think it's related to your work there

[2018-08-30 11:42] dotansimha commented on #543
For now, we released an alpha version with a fix for this:
[code]

[2018-08-30 11:42] dotansimha commented on #528
For now, we released an alpha version with a fix for this:
[code]
@ganeshpms

[2018-08-30 11:42] dotansimha commented on #526
For now, we released an alpha version with a fix for this:
[code]

[2018-08-30 11:51] dotansimha opened #552 "Add `lerna publish` to CI"
@kamilkisiela @ardatan @Urigo
I think we can add automatic publishing in the Travis-CI for alpha versions. I will make it much easier to test changes.

[2018-08-30 11:52] kamilkisiela commented on #552
I was talking about it yesterday with @darkbasic :)

[2018-08-30 12:00] Slessi commented on #543
I can confirm that it works for me now with the alpha branch

[2018-08-31 08:06] ardatan commented on #550
Maybe, it is related how env variables works on Windows. Could you try to set env variables in Windows way ( using `set` )?
AFAIK, Windows doesn't allow defining env variables like you do, so it'd better to use `gql-gen.json` instead of using env variables.

[2018-08-31 11:33] thatside opened #555 "Handle query parameters correctly"
Schema:
[code]
Query:
[code]

Produced output:
[code]

Expected output:
[code]

Seems to be incorrect behavior to me according to https://graphql.org/learn/schema/#arguments.

[2018-08-31 11:38] thatside commented on #555
Also (may be related):
same schema and query;
Produced output:
[code]
Expected output:
[code]

[2018-08-31 14:20] emmanuelbuah opened #556 "Regression error using graphql v14"
There's a regression error that surfaces using graphql v14

[code]

This looks like its due to the breaking change by https://github.com/graphql/graphql-js/pull/1429/. More on changes in graphql v14 at https://github.com/graphql/graphql-js/issues/1383

[2018-08-31 14:41] emmanuelbuah commented on #528
Run into this as well but the alpha builds resolve it. Thanks.

[2018-08-31 15:06] emmanuelbuah opened #557 "Support for Apollo clientside query via @client without clientside schema"
`gql-gen` errors when generating types for clientside graphql queries (with `@client` directive) where clientside schema isn't defined or needs to. Apollo allows you to define clientside queries with or without a clientside schema.

[2018-08-31 16:15] kamilkisiela commented on #557
We're planning to add this feature but haven't started working on it yet

[2018-09-01 13:48] kamilkisiela commented on #528
#559 should fix it for apollo-angular template

[2018-09-01 22:03] IvanGoncharov commented on #556
@emmanuelbuah It's because of this change https://github.com/graphql/graphql-js/pull/1429
This introspection format was deprecated for last few years so we removed it in `14.0.0` release.
What library do you use to implement GraphQL on your backend?

[2018-09-02 01:10] emmanuelbuah commented on #556
@IvanGoncharov  I'm using apollo express server  v1.4

[2018-09-02 06:56] IvanGoncharov commented on #556
@emmanuelbuah Looks like everything good with your server and the bug happening because of this line:
https://github.com/dotansimha/graphql-code-generator/blob/8c071a8076a0ce5f58ae14347ae1512eab02deb6/packages/graphql-codegen-cli/src/loaders/schema/introspection-from-url.ts#L52
I'm not sure why this library needs to remove directive locations.

It can't be fixed in 'graphql-js' but I will add expl

[2018-09-02 09:31] kamilkisiela commented on #557
#561

[2018-09-02 11:38] kamilkisiela commented on #557
@emmanuelbuah Defining GraphQL Schema in Apollo is optional but to generate types and queries you need to have it defined. The tool can't say if a field is a string or a number.

[2018-09-02 12:38] shinyaohira commented on #539
Could you please let me know if you have any updates on this? This problem is introduced with v0.11.0.

[2018-09-03 08:28] frantic1048 opened #563 "need return type definition of `generate()` function"
# Summary

The `generate` function from `graphql-code-generator` now has a return type of `Promise<{}>`, which is not suitable for programmatic usage with TypeScript.

# Context

I'm using `graphql-code-generator` with a TypeScript script to generate schema files to use.

While I'm calling:

[code]

I get a `fileOutputs` with type `{}`. I can't directly iterate on `fileOutputs` because ts complain

[2018-09-03 19:26] emmanuelbuah commented on #557
@kamilkisiela I completely agree. Since apollo allows the user to either define a schema or not for @client queries. I think the required behavior should be to **not** throw an error if it sees a query @client directives without a match graphql schema definition. Currently, it throws an error.

[2018-09-04 13:06] alexk111 opened #566 "[Question] Non-nullable values in custom types"
Some example code to provide a context for the question:

[code]

For this code the codegen will generate ```QueryResolvers.PostResolver``` function type which requires ```author``` value in a returned object. But what if ```author``` is provided by ```PostResolvers.AuthorResolver```? Currently we have two options:

1. always put ```author: null``` in all returned objects for queries and mutations

[2018-09-05 07:32] kallaspriit opened #570 "Generate resolves promise before actually writing the file"
In `packages/graphql-codegen-cli/src/generate.ts` the `generate()` function uses `await prettify(result.filename, result.content)` inside `generationResult.forEach(..)` making it async, thus the `return generationResult;` runs before actually writing the file.

[2018-09-05 08:21] kallaspriit opened #571 "Make logging configurable"
I'm using the `generate()` API in my own tooling and it would be nice if one could intercept or disable the default log outputs.

The generate function could either accept optional `logger` parameter that matches https://github.com/kallaspriit/ts-log etc and defaults to the winston implementation you're already using. This way the log messages could be intercepted and either ignored or piped elsew

[2018-09-05 16:41] jsphweid opened #573 "Error is not helpful when you forget to install template"
In my case, I forgot to install `graphql-codegen-typescript-template` as specified in the README. But the error I got was not helpful.

[code]

It would be nice to see something like "template not installed" or "you are trying to use graphql-codegen-typescript-template but it appears you forgot to install it."

[2018-09-06 18:19] dotansimha commented on #566
@kamilkisiela what do you think?

[2018-09-06 20:52] ganeshpms commented on #528
Thanks for the Alpha versions.
Error: Property 'definitions' does not exist on type '{ new (): Document; prototype: Document; }' with Alpha version on the generated code. Which version of typescript is recommended?

[2018-09-07 08:00] Slessi opened #576 "Internal values for enums"
Hi,

Currently I think it isn't possible to use [internal values](https://www.apollographql.com/docs/graphql-tools/scalars.html#internal-values) for enums.

I think it would be pretty pretty easy to support though, similar to the scalars fix at #444, can just have an `enums` key (with imports in `prepend`) and not generate types for those enums.

[2018-09-07 12:17] ganeshpms commented on #528
![fragment](https://user-images.githubusercontent.com/5632736/45218440-3a0e5f80-b26d-11e8-818c-9c081a4f0542.jpg)
As seen in the attachment the `Document` is conflicting with the typescript's dom Document type. Please add the `*namepace*.Docuemnt.definition`. Also, the generated code adds the same fragment multiple time as  I have used the fragment 'Measurement' in multiple places in my query. And

[2018-09-07 19:48] forabi opened #579 "TypeScript template should generate resolvers for directives, unions and interfaces"
The only reason I have a custom template is because I want to ensure type safety for these resolvers. If it could be included in the TS template, I could remove a lot of code and scripts in my codebase!

Here's how I generate these resolver types currently:

[code]

[code]

[2018-09-08 13:43] OneCyrus opened #582 "typescript template with support for module"
typescript in babel 7 doesn't support namespaces. there were already discussions in the following issues:

https://github.com/dotansimha/graphql-code-generator/issues/428
https://github.com/dotansimha/graphql-code-generator/issues/285

though there is a potential fix with the noNamespace arg. this is imho just a workaround and we should have a proper solution. namespaces are a construct of the pas

[2018-09-09 07:00] dotansimha opened #583 "Better support for GraphQL directives"
Continue the discussion from here:  https://github.com/dotansimha/graphql-code-generator/pull/561

The idea is to have better support for directives such as `@skip`, `@include`, and other custom directives that become common such as `@client`.

[2018-09-09 12:17] RadAcademy commented on #528
I'm getting the same issues with fragments, every query gives me the error.

`ERROR in src/client/app/core/graphql.ts(3064,3):
error TS2416: Property 'document' in type 'AllChatsGQL' is not assignable to the same property in base type 'Query<Query, Variables>'.
[2]   Type '{ kind: string; definitions: any[]; }' is not assignable to type 'DocumentNode'.
[2]     Types of property 'kind' are incompat

[2018-09-09 21:51] timvandesteeg opened #584 "Subscription is not generic"
Older typescript versions can't handle a subscription with generics. Angular 6 does not seem to be compatible with typescript > 3.0 just yet (coming with Angular 7). Is it possible to add a flag to generate a Subscription without generics for older typescript versions?

[2018-09-10 16:01] ardatan commented on #582
I don't think `noNamespaces` option is just a workaround, it is an option how types, models and other stuff are generated. And, I also think having multiple modules inside one typescript file is not a good practice.
You can see more about it in this documentation;
https://www.typescriptlang.org/docs/handbook/modules.html
The actual problem belongs to Babel's TypeScript plugin, because namespaces a

[2018-09-10 16:02] ardatan commented on #584
Could you explain your issue with reproduction steps and errors you get?

[2018-09-10 16:44] OneCyrus commented on #582
i don't think typescript or babel is moving in this direction. here's a comment from a typescript core maintainer:

https://github.com/babel/babel/issues/8244#issuecomment-408187141

multiple module declarations in one file is how a lot of the typescript typings work today.

[2018-09-10 16:59] ardatan commented on #582
If graphql-code-generator generates only global declarations, you may be right. But, our tool can also generate code for react-apollo and apollo-angular components as well.
@dotansimha @kamilkisiela what do you think?

[2018-09-10 18:37] OneCyrus commented on #582
shouldn't that not even more push to modules instead of namespaces? if I understand you right, your main concern is the use of a single file for all generated code? may be the best thing (even today) would be to generate a file per namespace or module?

[2018-09-11 06:01] avkonst opened #588 "Generated mutation components can not be compiled"
I use react-apollo 2.1.11
I have generated react apollo component for my OnLogin mutation operation. It looks like this:
[code]

The generated code fails typescript compilation with the following error:
[code]

Could you please help me to figure out what I am doing incorrectly?

[2018-09-11 18:16] ganeshpms commented on #528
@kamilkisiela I am using `apollo-angular`

[2018-09-11 20:53] kamilkisiela commented on #528
@ganeshpms do you use `noGraphqlTag` option?

[2018-09-12 01:14] RadAcademy commented on #528
I am also using apollo-angular, I am not doing the 'noGraphqlTag',
"apollo-angular": "^1.3.0",

I was getting the errors using:

- along with trying to use fragments.
"graphql-code-generator@0.12.0-alpha.821f12df"
"graphql-codegen-apollo-angular-template@0.12.0-alpha.821f12df"

[2018-09-12 10:32] alvarogzp opened #592 "error: Cannot read property X of undefined"
Hello, and first of all thanks for such a great project!

I am having issues while trying to use a locally build copy of gql-gen.

When I run this:

    yarn add -D graphql-code-generator graphql graphql-codegen-typescript-template graphql-codegen-core
    DEBUG=y yarn gql-gen --schema schema.graphql --template typescript --out generated/ src/query.graphql

It works and generates a types.ts file c

[2018-09-12 16:38] alvarogzp commented on #592
Ok, the error was mine. I was not installing the local version of `graphql-codegen-compiler`, and it was being downloaded from the network.

Using

    yarn add -D graphql ~/dev/oss/graphql/graphql-code-generator/packages/graphql-codegen-core/ ~/dev/oss/graphql/graphql-code-generator/packages/graphql-codegen-compiler/ ~/dev/oss/graphql/graphql-code-generator/packages/templates/typescript ~/dev/oss

[2018-09-12 16:38] #592 closed

[2018-09-12 22:37] micimize commented on #534
@degroote22 what about writing .gql files and reading them as strings from dart as a stopgap?
Aside from that, I think making operation extraction language-agnostic would best be done through a regex option to match by (like ```/gql`[^`*]`/``` in js) and a string post processing option.

Am also interested in dart in particular, after having had considerable frustrations with react-native

[2018-09-13 02:28] degroote22 commented on #534
I'd rather have separate front-ends, not a case where one fits all.
This regex can't ignore comments, and this generator does.
One interface where the user would specify a document loader just like we do templates could be a good abstraction.
You'd implement a function that get's the content of a file and can return documents.

[2018-09-13 09:06] simPod opened #595 "Stopped working after upgrade"
I was using this library for a long time with no problems. I used to call this command

[code]
when `--url` option existed.

Now after upgrade I call similar command but receive unspecified error

[code]

What might be wrong? Is it because I use graphql 14.0.0?

[2018-09-13 09:17] kamilkisiela commented on #595
Hi @simPod

Which version do you use and could you check if it's the same issue as in #573?

[2018-09-13 09:26] dotansimha commented on #595
@simPod this issue with the location is because of GraphQL 14, it was fixed and I'll release a version with a fix for it very soon :)

[2018-09-13 09:36] simPod commented on #595
Kk, subscribing for new releases now. Great lib thanks!

On Thu, Sep 13, 2018, 11:26 Dotan Simha <notifications@github.com> wrote:

[2018-09-13 10:28] dotansimha commented on #579
Sounds good. @kamilkisiela what do you think?
@forabi do you want to create a PR for it?

[2018-09-13 10:30] dotansimha commented on #571
Sounds good. I'm on it :)

[2018-09-13 10:41] kamilkisiela commented on #566
It's possible right now to customize the shape of the result, but only on field resolvers. To do that user would have to remove the interface of the whole type resolver and use interface per field.

[code]

We could support like a map of results that will be specified in the interface of the GraphQL Type, as a generic type but I don't think it's the best idea.

We could also mark all results as an

[2018-09-13 12:12] dotansimha commented on #584
@timvandesteeg please try the solution @kamilkisiela suggested.
If that's still relevant, please re-open and issue.

[2018-09-13 12:12] #584 closed

[2018-09-13 13:08] dotansimha commented on #571
Done in https://github.com/dotansimha/graphql-code-generator/commit/c26606593d1a97dc61750dfc29f85ef7dd6bc006

[2018-09-13 13:10] dotansimha commented on #539
@shinyaohira can you please provide your graphql version?

[2018-09-13 13:12] dotansimha commented on #523
@ggoforth can you share a repo?

[2018-09-13 13:13] dotansimha commented on #541
Hi @alexk111, thanks for reporting it.
It's a very specific use case, any chance you want to create a template for it? or modify the existing template and create a PR?

[2018-09-13 13:15] dotansimha commented on #555
@thatside not sure I got it. the issue is that we don't treat `!` correctly?  thanks!

[2018-09-13 13:37] thatside commented on #555
@dotansimha yes, exactly - both in case of query arguments and query return types.

[2018-09-13 14:31] dotansimha commented on #588
Fixed in 0.12.0

[2018-09-13 14:31] #588 closed

[2018-09-13 14:31] dotansimha commented on #573
Fixed in 0.12.0

[2018-09-13 14:31] #573 closed

[2018-09-13 14:31] dotansimha commented on #571
Done in 0.12.0

[2018-09-13 14:31] #571 closed

[2018-09-13 14:31] dotansimha commented on #570
Fixed in 0.12.0

[2018-09-13 14:31] #570 closed

[2018-09-13 14:31] dotansimha commented on #563
Fixed in 0.12.0

[2018-09-13 14:31] #563 closed

[2018-09-13 14:31] dotansimha commented on #556
Fixed in 0.12.0

[2018-09-13 14:31] #556 closed

[2018-09-13 14:31] dotansimha commented on #543
Done in 0.12.0

[2018-09-13 14:31] #543 closed

[2018-09-13 14:32] dotansimha commented on #528
Fixed in 0.12.0

[2018-09-13 14:32] #528 closed

[2018-09-13 14:32] dotansimha commented on #526
Fixed in 0.12.0

[2018-09-13 14:32] #526 closed

[2018-09-13 17:32] timvandesteeg commented on #584
@kamilkisiela that did solve the problem :) thanks a billion

[2018-09-13 17:33] kamilkisiela commented on #584
@timvandesteeg super nice!

[2018-09-14 14:09] Jontem opened #605 "Underscores gets converted to PascalCase graphql-codegen-typescript-template"
I don't know which version this is introduced in  but today i upgraded(both codegen and template) from version ^0.9.0 to ^0.12.0 and every type or fragment that has an underscore gets convertet to PascalCase.

ex:
before: __typename: "My_Type" created an interface named My_Type
now: __typename: "My_Type" creates an interface named MyType

After looking further its not just underscores:
__typename:

[2018-09-14 14:32] kamilkisiela commented on #605
I don't think it's a bug. We decided to PascalCase everything to have naming strategy consistent.

[2018-09-14 14:38] dotansimha commented on #605
@kamilkisiela Yeah you are right, I'm just not sure if we need to keep and handle `_` in a special case.
In pascal-case, `_` is not valid, but it usually has a special meaning (private member), so I'm not sure what we should do with it.

[2018-09-14 14:39] kamilkisiela commented on #605
I mean, the library we use to PascalCase things, doesn't emit `_` so we don't have them

[2018-09-14 14:40] kamilkisiela commented on #605
Let's handle that after the weekend, I'm going offline :)

[2018-09-14 14:40] Jontem commented on #605
But my generated types.ts file doesn't even compile ? I don't care what the interfaces are named

[2018-09-14 14:41] dotansimha commented on #605
@Jontem can you please provide an example? why it's not compiling? do you have an error?

[2018-09-14 14:42] Jontem commented on #605
Yes i'll make an repro

[2018-09-14 15:14] dotansimha opened #606 "Run TypeScript compiler on tests"
I think we might need to run `tsc` in strict mode in some of our tests, to detect things like incorrect naming, or mismatches in casing...

[2018-09-14 15:35] ardatan commented on #606
And tslint with a set of strict rules as well

[2018-09-14 15:41] Jontem commented on #605
Repro: https://github.com/Jontem/graphql-codegen-repro

Background for using strange names is that we're auto generating our graphql schema server side from  a sql database tables which has some historic names

[2018-09-14 16:09] dotansimha commented on #605
I can see it now, added it as failing test here: https://github.com/dotansimha/graphql-code-generator/pull/607 , not it will be easier to work on a fix for it :)

Thanks @Jontem .

[2018-09-14 16:24] ardatan opened #608 "Inconsistency between MongoDB and other TypeScript templates"
Some features of other TypeScript templates are missing in MongoDB template.

[2018-09-14 17:48] dotansimha commented on #605
@Jontem the issue is fixed and merge in #607, I'll release a new version very soon :)

[2018-09-14 17:54] dotansimha commented on #605
@Jontem fixed and release 0.12.2, can you please test it?

[2018-09-14 17:54] ardatan opened #609 "[typescript] Allow customization of types string processor ( compound words )"
We may have an option in `generatorConfig` for different methods to handle compound words;
`PascalCase`, `snake_case`, `camelCase` or even `kebab-case`.

[2018-09-14 17:56] dotansimha commented on #609
The idea comes from this issue: https://github.com/dotansimha/graphql-code-generator/issues/605

[2018-09-14 19:30] JuHwon commented on #583
i am also having an issue because i am using AWS AppSync, i got a directive `@aws_subscribe` in my schema. the cli returns: `error: Directive aws_subscribe: Couldn't find type aws_subscribe in any of the schemas.`

a nice way to handle custom/popular directives would be awesome.

[2018-09-14 19:37] Jontem commented on #605
@dotansimha I've manage to reproduce it. I've updated the repro.

[2018-09-15 08:22] blissi opened #611 "Angular template: problems with fragments"
Hi,

I found two problems with fragments for the Angular template. This is an extract of the generated code:

[code]

The first one is the same one that you have fixed in #591 for react (fragment definition order). TypeScript spits out the error
`error TS2448: Block-scoped variable 'InvoiceShippingFragment' used before its declaration.`

The second problem is that fragments that are referenced twi

[2018-09-17 05:29] Jontem commented on #605
@dotansimha The problem is that the generated file doesn't compile. In the repro the type "_User" is declared twice

[2018-09-17 08:01] Slessi commented on #576
@dotansimha will try, no idea how this project actually works havent looked at source code but shouldnt be a problem

[2018-09-17 08:02] dotansimha commented on #576
@Slessi Thanks!
And we are here to help, feel free to contact us if you're having issues :)

[2018-09-17 08:11] kamilkisiela commented on #611
duplicated fragments (test + fix): https://github.com/dotansimha/graphql-code-generator/pull/614

[2018-09-17 08:40] dotansimha commented on #605
@Jontem fixed in: https://github.com/dotansimha/graphql-code-generator/pull/616 :)

[2018-09-17 08:50] kamilkisiela commented on #611
wrong order of fragments (test + fix): https://github.com/dotansimha/graphql-code-generator/pull/615

[2018-09-17 08:56] kamilkisiela commented on #611
I didn't use a getter function because it doesn't fix an issue with TypeScript screaming about the order of declarations. I create dependency graph to resolve them in the proper order.

[2018-09-17 08:57] kamilkisiela commented on #611
About duplicated fragments, now it checks if it was declared and skips it.

[2018-09-17 09:50] dotansimha commented on #611
Fixed in 0.12.3 :)

[2018-09-17 09:50] #611 closed

[2018-09-17 09:50] dotansimha commented on #605
Fixed in 0.12.3 :)

[2018-09-17 09:50] #605 closed

[2018-09-17 09:50] kamilkisiela commented on #611
`v0.12.3` is out

[2018-09-17 09:52] blissi commented on #611
Tested it -> fixed :-)
Thanks a lot!

[2018-09-17 10:48] Jontem commented on #605
@dotansimha thank you! Everything is working now!

[2018-09-17 18:53] furier opened #619 "error: Syntax Error: Expected Name, found $"
**Describe the bug**
when running the `gql-gen` tool on the `schema.json` file below I get the error: `error: Syntax Error: Expected Name, found $` and nothing else, all other tools iv tried out does not give me any errors, so I am clueless on how to find the actual error here... a better error message could maybe help?

I have used GraphQL Playground and Apollo Engine to try and look for errors i

[2018-09-18 06:34] jonaskello opened #621 "When validating queries against schema, print the file name with error."
**Is your feature request related to a problem? Please describe.**
When I change my schema I get a lot of validation errors which is very good. This helps me refactor the schema! However having 100 errors withouts specification in which files is frustrating.

**Describe the solution you'd like**
In addition to the validation error, also print the file name in which the error occured.

**Describe a

[2018-09-18 06:35] jonaskello commented on #621
I guess the change need to happen somewhere around [here](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-cli/src/loaders/documents/document-loader.ts#L30).

[2018-09-18 06:54] jonaskello commented on #621
Also printing the number of errors encountered would be helpful. That way when you have 30+ errors you can see if a change was good and gave less errors :-).

[2018-09-18 07:08] kamilkisiela commented on #619
It's an error that might come from your documents, your GraphQL operations. You probably try to put a variables directly and they should be named. An example:

[code]

Or something similar. Maybe you use variables directly in the fields without defining them in the operation.

Try to find queries / mutations etc where you've got arguments so we can help you.

---

This error comes from GraphQL lib