[2019-01-13 14:44] thomasfedb opened #1159 "Installing graphql-codegen-typescript-client failis"
**Describe the bug**
When installing the suggested `graphql-codegen-typescript-client` with Yarn the following error occurs:

[code]

It appears that perhaps the dependency should be on `graphql-codegen-typescript-graphql-files-modules` instead, as `graphql-codegen-graphql-files-modules` doesn't appear to exist on NPM.

[2019-01-13 14:46] thomasfedb commented on #1159
The same issue occurs when trying to install `graphql-codegen-typescript-graphql-files-modules` or `graphql-codegen-introspection`:

[code]

[code]

[2019-01-14 02:57] thomasfedb commented on #1155
Does adding `typescript-common` to the top of the list help?

[2019-01-14 03:03] kevin-lindsay-1 commented on #1156
Some issue here; if I generate a `.d.ts` file and attempt to import those types, `gql-gen` fails, but when is simply generate a `.ts` file it works just fine.

[2019-01-14 03:30] kevin-lindsay-1 commented on #1157
Having the same issue

[2019-01-14 04:53] brandondoran commented on #642
It seems the duplicate resolver type is happening in in 0.15.2.  I just upgraded from 0.13. I had resolvers turned off there but decided to give it a try after the upgrade but ran into Typescript build errors due to the duplicates. I have some types in my schema with legacy fields that are in snake_case (such as `brand_id`) but have new fields in camelCase (`brandId`).

I think I could use a custo

[2019-01-14 05:04] Pruxis commented on #1155
In the generated file or install it as a dependency?

[2019-01-14 13:32] thomasfedb commented on #1155
In the config file above `'typescript-server'`.

[2019-01-14 14:49] Pruxis commented on #1155
Yes that did the trick, thanks a lot, perhaps this should be a bit more clear in the documentation.
I'll check to edit and PR if I find the time

[2019-01-14 14:49] #1155 closed

[2019-01-14 16:08] kamilkisiela commented on #1159
Are you sure?

`graphql-codegen-typescript-client` [doesn't depend on `graphql-codegen-graphql-files-modules`](https://www.npmjs.com/package/graphql-codegen-typescript-client).

[2019-01-14 16:20] kamilkisiela commented on #1156
I followed your steps and I couldn't reproduce the issue https://github.com/dotansimha/graphql-code-generator/commit/bae9f87eeb09b84ca18ee1af9d5159ad8ae5a569

[2019-01-14 19:56] thomasfedb commented on #1159
That is what appears to be happening. I could not work out why.

[2019-01-14 20:56] davidLeonardi opened #1162 "Installation of graphql-code-generator fails to install qql-gen"
I'm following the installation guide as per the documentaion.

Installing graphql-code-generator with yarn or npm results in `qql-gen` not functioning.

Doing this:
➜  api git:(master) ✗ npx qql-gen init

npm ERR! code E404
npm ERR! 404 Not Found: qql-gen@latest

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/d/.npm/_logs/2019-01-14T20_49_26_815Z-debug.log
Install for qql

[2019-01-14 21:13] #1162 closed

[2019-01-15 01:38] dobesv opened #1165 "[typescript-graphql-files-modules] generates multiple definitions for the same module name when there are multiple files with the same name"
**Describe the bug**

If you have multiple graphql files with the same name as an input to this module, it still generates more than on `declare module '*/whatever.graphql'` block, which results in typescript errors.

**Expected behavior**

I think it should either:

1. Merge all the declarations into one with all the exports for any of the same-named files,
2. Report a warning and only omit a `de

[2019-01-15 04:53] SoyYoRafa commented on #977
Hi,
Will this support a "pass-through" mode? Our team would like strong coupling between our schema casing and TypeScript casing. We do not want anything transforming casing. If not, could you please add it? I can also send a PR on feature/custom-naming-convention.

[2019-01-15 10:22] OneCyrus opened #1167 "how to specify authorization header programmatically?"
with the new config file we need to specify the authorization token in the config file according to the documentation:
https://graphql-code-generator.com/docs/getting-started/schema-field#url

with the old version we supplied the token at runtime (as it changes very often). is there no option to specify the key when executing the command?

[2019-01-15 10:31] kamilkisiela commented on #1167
Hi :)

[code]

[Related part of the codebase](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-core/src/yml-config-types.ts#L10)

Thanks to recent changes, GraphQL Code Generator supports `.js` file as a config. So instead of passing `codegen.yml` you can now use `codegen.js` :)

[2019-01-15 10:31] #1167 closed

[2019-01-15 10:42] kamilkisiela commented on #1157
Here's how it should be:
https://github.com/dotansimha/graphql-code-generator/pull/1168/files

#1168 fixes it

[2019-01-15 10:46] #1157 closed

[2019-01-15 10:54] kamilkisiela commented on #1159
Here's the reproduction. Installing every mentioned package works, without any issue.
https://github.com/kamilkisiela/reproduce-codegen-1159

But I think what is the issue you have. There's a `graphql-codegen-graphql-files-modules` in your `package.json` and I can assume that it ended up there when you used `gql-gen init`, am I right?

Here's the fix for that https://github.com/dotansimha/graphql-

[2019-01-15 10:55] kamilkisiela commented on #1156
@artemzakharov could you prepare a small reproduction?

[2019-01-15 11:12] kamilkisiela commented on #1129
I couldn't reproduce exact issues you have but yes, there's no file paths next to error messages. Other than that it works.

https://github.com/dotansimha/graphql-code-generator/blob/d1e060cc3783df6c6514670482053afe5b543a9f/dev-test/test-message/documents.ts#L4-L11

<img width="1035" alt="zrzut ekranu 2019-01-15 o 12 07 39" src="https://user-images.githubusercontent.com/8167190/51176936-883c0b00-1

[2019-01-15 11:39] kamilkisiela commented on #1144
In order to use your custom plugin you define it just like you would normally do that with regular plugins but instead, you pass a relative path. The path should be relative to `process.cwd()`.

Could you check if your path to a plugin is correct?

[2019-01-15 11:43] kamilkisiela commented on #1133
I can confirm it's the issue @mariusmarais mentioned. I don't think we can do anything about it right now, without implementing some weird workarounds. It's something related to TypeScript, not GraphQL Code Generator, at least for now.

[2019-01-15 11:46] kamilkisiela commented on #1103
@swcarlosrj can we close the issue now or there's something still missing?

[2019-01-15 11:47] #1106 closed

[2019-01-15 11:48] swcarlosrj commented on #1103
Sure, you can close it!

[2019-01-15 11:48] #1103 closed

[2019-01-15 11:57] kamilkisiela commented on #1109
@phoenix741 I don't think that's a correct usage. How do you use `MyFeedQueryArgs`, next to a component or Apollo? If so then you need them to be optional, otherwise TypeScript will warn you that some variables are missing (if we change it to non-optional).

For example:

[code]

Could you correct me?

[2019-01-15 14:06] OneCyrus commented on #977
any update on this? the auto renaming broke us. We would prefer a pass-through option as well.

[2019-01-15 14:51] kamilkisiela commented on #1141
I don't know if I understand what is an actual issue here but we allow to define custom types in resolvers through a feature called [Mappers](https://graphql-code-generator.com/docs/plugins/typescript-resolvers#mappers-overwrite-parents-and-resolved-values).

[2019-01-15 16:04] artemzakharov commented on #1156
I found the issue - it turns out that comments I had at the top of my schema file (above the import statements) were somehow interfering with the import! I tried removing everything other than the import statements, and it suddenly started working. Seems like import statements have to be above any and all comments you have, or they won't work. Guess this is what happens when we don't have proper i

[2019-01-15 16:04] #1156 closed

[2019-01-15 16:18] thomasfedb commented on #1159
Sounds likely @kamilkisiela. Unfortunately I can't say for sure as I have already rebuild the project, this time successfully by adding my dependencies by hand.

[2019-01-15 16:18] #1159 closed

[2019-01-16 01:34] dobesv opened #1172 "Feature: atomic write file, only if changed"
When writing a new file, it would be good to write to a temporary file and then rename the file into place.  This way if typescript / tslint is running in "watch" mode it won't pick up a partial file.

Also, if there is a file being overwritten, don't replace it if the new and old file are exactly the same.  This way the file won't be "touched" unless it changes.

[2019-01-16 10:04] dotansimha commented on #1140
Maybe it should be just `typescript` and we can support mappers also in this package, and then mappers will also effect the original type definitions.

[2019-01-16 10:05] dotansimha commented on #1141
@kamilkisiela I think it might be related to: https://github.com/dotansimha/graphql-code-generator/issues/1041

[2019-01-16 10:06] dotansimha commented on #977
We are working on it: https://github.com/dotansimha/graphql-code-generator/pull/1092 https://github.com/dotansimha/graphql-code-generator/pull/1136

[2019-01-16 10:09] dotansimha commented on #1144
@aniknafs can you please try to use it as array?
[code]

[2019-01-17 02:45] DAB0mB commented on #1129
@kamilkisiela Yes it does report which file it failed to generate, but it did't report **which source file** caused it to break. If I have a syntax error in `graphql-code-generator/dev-test/test-message/documents.ts` I wanna know that. It can be in any file. It can be extremely confusing in large projects. So in addition to:

    failed to generate ./foo/bar/types.ts

I wanna have

    because of

[2019-01-17 06:32] kamilkisiela commented on #1129
@DAB0mB That's what I wrote :) it's still an issue, I just confirmed and added more information.

[2019-01-19 19:30] jdreg95 opened #1186 "Generator output (TypeScript & React Apollo plugins) doesn't generate code as expected."
**Describe the bug**
TypeScript types & React Apollo components are not being generated, though, I believe I have the right config & setup.

[code]

**Expected behavior**

Using the following Codegen config:

[code]

I expect that TypeScript types and related React Apollo components should be generated based on my GraphQL schema.

**Schema/Documents**

My GraphQL schema is (downloaded using `graph

[2019-01-20 08:43] mariusmarais commented on #1172
This sounds like a good idea, but if implemented exactly as requested "watch" mode won't pick up changes at all.  Generation to a temporary file which is then copied into the output file (without renaming) should give you what you want: a single, complete change which is picked up by watch when it's done.  That would also be a good place to compare the result with the existing file.

What do you t

[2019-01-20 09:51] dotansimha commented on #977
Hi @OneCyrus @patrickr @SoyYoRafa @benafa
We just merged https://github.com/dotansimha/graphql-code-generator/pull/1092 with support for changing the naming convention.

You can now specify the following config:
[code]

[2019-01-20 09:59] dotansimha commented on #1111
Closing for now, @kuncevic , feel free to re-open if it's still relevant.

[2019-01-20 09:59] #1111 closed

[2019-01-20 10:00] dotansimha commented on #1090
@steida, I'm closing for now, feel free to re-open if it's still relevant.

[2019-01-20 10:00] #1090 closed

[2019-01-20 10:33] dotansimha opened #1190 "Document `stencil-apollo`"

[2019-01-20 10:33] dotansimha commented on #977
Fixed in 0.16.0

[2019-01-20 10:33] #977 closed

[2019-01-20 10:33] dotansimha commented on #1097
Available in 0.16.0

[2019-01-20 10:33] #1097 closed

[2019-01-20 10:34] dotansimha commented on #1105
Available in 0.16.0

[2019-01-20 10:34] #1105 closed

[2019-01-20 10:34] dotansimha commented on #1113
Fixed in 0.16.0

[2019-01-20 10:34] #1113 closed

[2019-01-20 10:34] dotansimha commented on #1129
Fixed in 0.16.0

[2019-01-20 10:34] #1129 closed

[2019-01-20 10:34] dotansimha commented on #1142
Fixed in 0.16.0. Thanks @xanf

[2019-01-20 10:34] #1142 closed

[2019-01-20 10:36] dotansimha commented on #1135
We hope to bring back the Webpack plugin in the future, but that's not possible at the moment.
As @xanf said, you can start the watch mode in a different terminal session.

Leaving open, because we need to document the usage in the website.

[2019-01-20 12:02] OneCyrus opened #1193 "inconsistent naming for enums"
**Describe the bug**
with version 0.16 the uppercase issue with enums is fixed. but there is something with the name of the enum itself that isn't consistent anymore.

this gets generated for the enum:
[code]

and this is the type which references the enum. you'll notice that the enum CIState has a lowercase I in here. this breaks the reference as it is case sensitive. the actual graphql schema ha

[2019-01-20 12:03] OneCyrus commented on #977
thanks! the enums are now correctly upper case but we have a new issue with inconsistent naming of the enum itself see #1193

[2019-01-20 12:05] OneCyrus commented on #1193
btw. naming configuration looks like this:
[code]

is there something i can change?

[2019-01-20 14:00] ardatan commented on #1135
Or you can use concurrently to run two different watchers at the same time.

[2019-01-20 16:09] dotansimha commented on #1064
https://github.com/dotansimha/graphql-code-generator/pull/1067 merged, available in 0.16.0, thanks @leonardfactory !

[2019-01-20 16:09] #1064 closed

[2019-01-20 16:49] cerino-ligutom commented on #483
@daniel-nagy Was trying to find a workaround on the issue about interfacePrefix value being added on enums automatically (e.g. just importing the enum directly through add plugin and emptying the enum value on the enums config) but I think it got fixed on v1.16.0 as the imported enum is being aliased now.

[2019-01-20 17:01] SoyYoRafa commented on #977
How do we configure disabling change-case? Is there a no-change-case?

[2019-01-20 17:06] SoyYoRafa commented on #1193
Seems like a "no-change-case" mode would solve this.

[2019-01-21 01:30] jsphweid commented on #1090
@steida  For what it is worth, it will still default to a {} all around unless you name it something other than Context it appears.

That was my problem at least. Here is my codegen.yml. Notice the "MyContext" renaming.:

[code]

[2019-01-21 02:17] e-r-w opened #1197 "[TypeScript Resolvers] union type resolvers aren't generic"
**Describe the bug**
When a schema contains union types, the generated resolvers don't contain the generics that regular types do. This wouldn't be so much of a problem except the `IResolvers` generated interface seem to expect all it's members to be generics in order to pass on the `Context` type argument

**To Reproduce**
Given a schema:
[code]

and using the typescript resolver plugin, we get:

[2019-01-21 02:33] e-r-w commented on #1197
Just noticed #1194 so closing this issue

[2019-01-21 04:02] dobesv commented on #1172
Oh, interesting, I had assumed that typescript's watch mode would pick up this kind of atomic file write.  Many editors save files that way.  Well, you could try the other approach.  I just had some cases where typescript or webpack running in watch mode reported errors because they read a partially written file.  I'm not sure whether "copying" the file would solve this.  I can't imagine that woul

[2019-01-21 06:58] dotansimha commented on #1197
Hi @e-r-w ! Reopened so we can track this for the next release.

[2019-01-21 12:56] mariusmarais commented on #1172
My concern is more about the create-new-file-and-rename part, since that is a known bug in many watchers which cause the change to become invisible, although it's a safe way to write a file.  Buffering in memory would be better if that's possible.

[2019-01-21 17:31] dobesv commented on #1172
Yeah, you are right, I do recall having an issue with some file watchers not picking up renames, although I think they have since fixed it.  At least for typescript and webpack they watch the whole folder now.  I think.

[2019-01-22 09:12] donovantc commented on #1186
@jdreg95 did you manage to resolve this issue? I'm facing the same problem with version 0.16.

[2019-01-22 17:21] Urigo commented on #1162
@davidLeonardi you closed the issue because it just worked for you?

[2019-01-22 17:58] iamclaytonray opened #1208 "bug: live editor takes too long to render"
**Describe the bug**
A clear and concise description of what the bug is.
When initially loading the website, the editor component takes a couple of seconds to load in. Some people can completely miss this by navigating away from the page (ie: going to the docs) before this component even renders.

**To Reproduce**
Steps to reproduce the behavior:
1. Use '...' as schema
2. Use '...' as documents
3.

[2019-01-22 20:40] tuurbo opened #1209 "mutate returns Observable<any>"
**Describe the bug**
Using plugin ```graphql-codegen-typescript-apollo-angular```
```this.cartGQL.fetch()``` correctly returns ```Observable<ApolloQueryResult<Cart.Query>>```, but ```this.addItemGQL.mutate(payload)``` returns ```Observable<any>``` but should return type

[code]

**To Reproduce**

codegen.yml
[code]
run ```gql-gen```

**Expected behavior**
[code]

**Schema/Documents**
[code]

**Env

[2019-01-22 22:12] samdenty opened #1210 "[Typescript] Option to output a __typemap for GraphQL arguments"
**Is your feature request related to a problem? Please describe.**

Currently the arguments / inputs are exported as separate types, only referable by importing them. It would be helpful to have an option to inline argument types next to their fields.

That way, it's possible for a library to infer field arguments without needing to use generics.

**Describe the solution you'd like**

Input:
[code

[2019-01-23 05:37] SoyYoRafa opened #1211 "Cannot run when installed with pnpm: Declare explicit dependencies"
**Describe the bug**
I cannot run gql-gen when gql-gen is installed by pnpm & @microsoft/rush.
The node_modules setup they create is very strict. Packages cannot use indirect dependencies pulled in by other dependencies. They won't be found. For example, listr-update-renderer is used by packages/graphql-codegen-cli/src/utils/listr-renderer.ts but never declared in packages/graphql-codegen-cli/pack

[2019-01-23 06:21] SoyYoRafa commented on #1156
I agree that there was a change in behavior. Don't know if this a graphql-import change. It now requires # import to be the first statements. I used to have scalars defined and then my import.

[2019-01-23 07:16] dotansimha commented on #1156
@SoyYoRafa @artemzakharov
I think it's a change in `graphql-import`, because we didn't change anything...

[2019-01-23 07:18] dotansimha commented on #1186
Hi @donovantc @jdreg95 !
Please note that `typescript-react-apollo` requires you to provide your GraphQL documents (queries/mutations/subscriptions/fragments), and it uses both schema and documents to generate output.
In your config file, I saw only `schema:`, and there are not `documents:` provided.

[2019-01-23 07:31] dotansimha commented on #1210
Hi @samdenty! Can you please provide a complete code example? where do you import `new Query` from?
We are currently thinking a lot about refactoring the TypeScript template and reduce the number of generated interfaces, so might try to find a solution for that.

[2019-01-23 07:35] dotansimha commented on #1211
Hi @SoyYoRafa !
I actually never tried to use `pnpm`, but as far as I understand, it's more strict.
Regarding `listr-update-renderer`, `change-case`, `graphql-tools` and `common-tags` - you are right, they should be added to `dependencies` field.

[2019-01-23 07:44] kamilkisiela commented on #1209
@tuurbo Could you show the `AddItemGQL`?

[2019-01-23 09:26] kamilkisiela opened #1212 "[Typescript Common] Handlebars HTML-escapes enum values"
https://github.com/dotansimha/graphql-code-generator/blob/9ae6a3729b14dd45a1ba10f8348f1365c1b49ad5/packages/plugins/typescript-common/tests/typescript-common.spec.ts#L209-L231

Given the input, we should see:

[code]

[2019-01-23 09:42] chenglabs opened #1213 "Error typescript-resolvers code generator version 0.16: Type 'NodeResolvers' is not generic. [2315]"
**Describe the bug**
In version 0.16 the typescript-resolvers code generator creates compile errors.
It creates an IResolver type with
`
  Node?: NodeResolvers<Context>;
`

**To Reproduce**
To reproduce this error, I have created a demo project in https://github.com/chenglabs/code-generator-demo.
When compiling with tsc, this results in the following error in src\server\generated\types.ts
[ts] Typ

[2019-01-23 10:21] kamilkisiela commented on #1193
#1214

[2019-01-23 11:18] dotansimha commented on #1193
@OneCyrus fixed and merged, can you please try this alpha version?

[code]

[2019-01-23 13:42] iamclaytonray commented on #1208
Could we switch to another library? `react-ace` is pretty lightweight and hopefully would get us at least under 1MB.

[https://securingsincity.github.io/react-ace/](https://securingsincity.github.io/react-ace/)

[2019-01-23 13:48] samdenty commented on #1210
Hi there, updated code. The `Query` interface is passed as a generic in my last example `{
  users: { id: string; name: string; age: number }[]
}`

[2019-01-23 14:04] vadistic commented on #1133
Hello everyone, I think I can help :smile:

As @mariusmarais said Apollo resolvers are defined as string indexed dictionaries. __Which is good__ because it allows dynamic propery access in strict mode like `resolvers[varableName]` and exclude otherwise possible number/symbols indexes.

There are few ways to provide string index signatures, my usual:
[code]

And now you can do:
[code]

If `graphql-

[2019-01-23 14:06] dotansimha commented on #1208
@iamclaytonray It's not only a matter of the editor, the whole website is static, so we have to load the live demo as iframe.
I think we can try `react-ace` instead of `codemirror`, but I think most of the bundle it not the editor.

[2019-01-23 14:51] OneCyrus commented on #1193
yes, that works now. thanks!

[2019-01-23 15:58] noahseger commented on #1133
@vadistic doesn't this approach remove all type information from the resolver definitions? I don't see a meaningful difference between that and `const resolvers: any = { /* ... */ }`.

[2019-01-23 16:33] vadistic commented on #1133
@noahseger No - Au Contraire :smirk:

We're not removing typing because it's type intersection. Prop value needs to be `any & whateverwasbefore = whateverwasbefore`.

[Lazy Example](https://www.typescriptlang.org/play/index.html#src=const%20obj%20%3D%20%7B%0D%0A%20%20%20%20someProp%3A%20'abc'%2C%0D%0A%20%20%20%20someOtherProp%3A%201%0D%0A%7D%0D%0A%0D%0Atype%20Obj%20%3D%20typeof%20obj%0D%0A%0D%0Ain

[2019-01-23 17:21] gaberudy commented on #977
I discovered looking at the code there is a way to do a no-change-case, you specify `keep` as the option for the namingConvention. Here is my config for example:

[code]

[2019-01-23 17:23] gaberudy commented on #1193
@SoyYoRafa you can ask for no naming changes like this:
[code]

[2019-01-23 17:33] vadistic commented on #1210
I wanted to help you, but I think I do not understand what you want to do :/

The post field here
[code]

is entirely different than here
[code]

Either you use object arguments pattern or you don't. To get your desired output you just need to write:
[code]

Is that it?

[2019-01-23 18:02] tuurbo commented on #1209
[code]

[code]

[2019-01-23 20:33] jdreg95 commented on #1186
@dotansimha hi! The reason for the problem was exactly that: not including `documents/**/*.graphql`  in the config. I didn't know that `typescript-react-apollo` required me to implement documents to generate React components.

Thanks for the clarification!

[2019-01-23 20:33] #1186 closed

[2019-01-23 21:03] vadistic commented on #1210
@samdenty Thanks, got it :)

Disclaimer: I'm not in any way involved in developing of this lib, so wait for official answer ;)

In generated types you've got `Query` & `Mutation` types, that indeed does not have arguments. My guess that it's because they are meant to typing responses.

But there is quite simple way to get argument type :smirk: (gotta love those typescript 3.0 tuples)

[code]
So yo

[2019-01-24 16:05] samdenty commented on #1210
@vadistic Mhm, yeah I figured as much. I'm in need of the types on the client side

[2019-01-24 19:16] dobesv opened #1219 "[typescript-resolvers] Generated resolver return types don't allow for async/partial resolution"
Currently if I write a resolver for a `User` object, the resolver type just emits a resolver that should return just the `User` type as defined by the GraphQL type.  This doesn't match the reality of a resolver return type because:

1. fields can be resolved lazily using a resolver defined in a type-specific resolvers file
2. fields can be resolved lazily by returning a resolver function instead o

[2019-01-24 23:46] mattwilson1024 opened #1221 "schema-ast plugin is not listed in "Available Plugins" docs page"
If I am understanding things correctly, there is a plugin called `schema-ast` plugin (`graphql-codegen-schema-ast` on npm) which generates a .graphql file.

This seems very useful for "downloading" a copy of the schema from a remote server (for example, a backend api) into a client application (such as an Angular app that consumes that API). Having a copy of the schema.graphql file pulled down int

[2019-01-25 01:55] mhuconcern opened #1222 "Unable to run gql-gen from command line after installing"
**Describe the bug**
I installed npm install graphql-code-generator and ran gql-gen but my zsh just returns 'No command gql-gen found'.

**Environment:**
 - OS: Mac
 - Node: v11.7.0

**Additional context**
Ran this on a coworker's laptop, same issue

[2019-01-25 02:07] #1222 closed

[2019-01-25 02:39] Nebulis opened #1223 "[Typescript Client] Lists and non null"
**Describe the bug**

Generated code by typescript client plugin doesn't respect nullable list / elements:

| Graphql Type  | Expected Typescript Type | Actual Generated Type |
| ------------- | -------------------------- | -------------   |
| [String]      | `Maybe<Array<Maybe<string>>>` | `Maybe<string[]>` |
| [String]!     | `Array<Maybe<string>>`        | `string[]`        |
| [String!]     |

[2019-01-25 05:42] lgandecki commented on #1219
yes.. I just went to the issues to ask about this.

I'm a bit surprised to be honest. How are people even using this?
Even in your own example for MongoDB:

[code]

the friendsCount should be resolved in a field resolver. If you propose to just calculate that in the query that returns the User, then that's a huge graphql anti-pattern, that actually prevents us from benefiting from one of the main

[2019-01-25 10:21] lgandecki commented on #1219
So far I went around this problem by introducing partials for the return types:
https://github.com/dotansimha/graphql-code-generator/compare/master...TheBrainFamily:partialResolution?expand=1

it doesn't give as much assurance as before, but for that I have a graphql layer integration tests with mocked context. (so super flat and simple)

Obviously I wouldn't mean to the PR above to be merged in,

[2019-01-25 16:43] leighman opened #1225 "[TypeScript] Duplicate type generated if there is a field with the same name (but different case)"
**Describe the bug**
Duplicate type `IdResolver` is generated for fields `id` and `ID`.

**To Reproduce**
* Use a type like
[code]

* Generate resolvers
* See compile error for duplicate types

**Expected behavior**
Generated types should be `IdResolver` and `IDResolver`?
Is there any way to work around this other than manually editing the generated file?

**Environment:**
 - OS: OSX
 - Codegen: 0

[2019-01-25 18:20] tuurbo commented on #1209
@kamilkisiela Relevant dependencies

[code]

[2019-01-27 06:32] lgandecki commented on #1219
editing template makes little sense I think.. since I want to regenarate it everytime I change my schema (and that does happen in real life :-) ). If I have to make the changes manually every time, it's a cumbersome task, prone to "human errors", and I don't really get the typesafety I'm looking for by using this template.

[2019-01-27 22:35] dobesv commented on #1219
It's not something specified in the graphql schema, which is what this code generator looks at to generate the types.  In fact at runtime there's no constraint on whether a field is returned as a value, a promise, or whatever.  Required fields do have to be resolved eventually but I don't think this code generator can do the analysis to figure out which resolvers are already present in the type re

[2019-01-28 17:34] dobesv commented on #1219
Personally I think it is simpler to just mark all fields as partial, at least for now.  You still get the benefit of having to return the the correct type of thing if you do return it.

[2019-01-28 19:43] danilobuerger opened #1229 "Documents should not include Schemas"
**Describe the bug**

[code]
Errors out as the schema is included in the documents.

[code]

**To Reproduce**

Use above `codegen.yml` with a local schema.

**Expected behavior**

Documents should exclude any Schemas.

[2019-01-28 21:54] MrDesjardins commented on #1229
I am having the same error. I have .graphql file that contains types and query. For some reason, the tool output "The XXX definition is not executable". It happens when I specify the `schema` and `document` with the same blob to get my GraphQL schema from all my .graphql.

Avoiding the `document` entry works, but the TypeScript definition file is empty, which is not better.

[2019-01-28 22:42] lirbank commented on #1213
This seems to happen when you have GraphQL interfaces and unions in your schema.

[2019-01-30 10:51] dotansimha commented on #1211
@SoyYoRafa
Fixed in this PR: https://github.com/dotansimha/graphql-code-generator/pull/1234

[2019-01-30 11:13] furier opened #1235 "Empty files should be ignored"
Empty files are not ignored. This is a problem if one has empty *.gql files that are scanned by graphql-code-generator, you get an `unexpected end of file` exception. With Angular Schematics we want to auto generate `*.component.gql` files when we use the CLI to create new components, and by default they are then empty.

![image](https://user-images.githubusercontent.com/776919/51977798-ab52e700-2

[2019-01-30 11:32] mhuconcern commented on #1222
I finally got it to run by adding it as a script and then running the script. It didnt work for me from cli

[2019-01-30 11:34] FrankSandqvist commented on #1222
Thanks, I'll try that.

[2019-01-30 12:42] janhartmann commented on #1213
I have the same issue, see these generated types:

[code]

Type 'Resolvers' is not generic.ts(2315)

[2019-01-30 13:34] dotansimha commented on #1225
Hi @leighman , thank you for reporting this issue.
We are trying to improve and find the best solution for naming, but that's not always easy.
In general, I think naming a field with the same name might be confusing for developers who consume it.
We currently does not have a proper solution for this case, but you can try to use `namingConvention: none` to avoid changing the names of the types.

[2019-01-30 13:37] dotansimha commented on #1229
Hi @danilobuerger @MrDesjardins ! Thank you for reporting this issue.
I think in this case, as a workaround, it might be easier for you to use a different way to specify the glob to your documents (such as `src/**/components/*.graphql` or similar, or use `something.query.graphql`).
I'll take a look soon, maybe it's not too difficult to filter the irrelevant `DocumentNode`s from the found files).

[2019-01-30 13:38] danilobuerger commented on #1229
@dotansimha My workaround for now is naming queries `.gql` and schema `.graphql`. But this feels super weird.

[2019-01-30 13:38] kamilkisiela commented on #1219
I don't know if I understand the problem but if a GraphQL Field is non-optional then your field's resolver should return it.

Given an example:

[code]

`Query.comments` returns an array of `Comment` objects and it shouldn't be `null` or `[null, null, ...]`, always an array with items.
Same with the `Comment` type itself, `id` and `text` should always be non-null.

At least GraphQL Specification s

[2019-01-30 13:39] dotansimha commented on #1229
@danilobuerger You can also use a suffix for your files instead of a different extension, it should work (`type.schema.graphql` and `data.query.graphql`).

[2019-01-30 13:40] dotansimha commented on #1235
@furier thank you for reporting it, I'll take a look :)

[2019-01-30 13:43] dotansimha commented on #1222
@FrankSandqvist @mhuconcern
It's a general issue with npm and yarn executables.
You should either add it as script to your `package.json` and then run it using `yarn SCRIPT` or `npm run SCRIPT`.
If you wish to use it as `gql-gen` directly, you should install it as global module (`npm install -g` or `yarn global add`).

Also, if you are using Yarn, you should be able to run `yarn gql-gen`.

[2019-01-30 13:44] kamilkisiela commented on #1219
As described [here](https://graphql-code-generator.com/docs/plugins/typescript-resolvers#mappers-overwrite-parents-and-resolved-values), the default behavior of Codegen Resolvers plugin expects that your resolvers returns a data with the same structure as defined in Schema.

So again:

[code]

[code]

If you want to return a list of IDs instead of entire objects you map `Comment` type to `number`

[2019-01-30 13:55] kamilkisiela commented on #1209
It's not an issue caused by GraphQL Code Generator or `apollo-angular` library, untyped mutation is a known issue in `apollo-link` and `apollo-client` for a long time. It's because ApolloLink uses `ExecutionResult` from GraphQL but without a generic type, so the result is always `any`.

An issue on `apollo-client`: https://github.com/apollographql/apollo-client/issues/2795#issuecomment-424124181
I

[2019-01-30 13:56] leighman commented on #1225
@dotansimha Thanks. As far as I can see it looks like I could override `namingConvention: typeNames:` in ^0.16 but currently blocked from updating by the https://github.com/dotansimha/graphql-code-generator/pull/1194 regression

[2019-01-30 14:07] lgandecki commented on #1219
Thanks for the explanation. How would you combine this with types generated for mongo? I don't have access to them before generating types, so I cant map to them. But that's what I get from my services (and indirectly from the DB). Basically, my DB objects are my "parents"

[2019-01-30 14:15] kamilkisiela commented on #1219
I don't know if you mean types generated by MongoDB plugin or your own generated types?

If you meant the plugin then you can map to them:

[code]

I know it's a painful process but maybe in the future we will simplify that, PR welcome (I can help).

[2019-01-30 15:55] lgandecki commented on #1219
I see. yeah automating that would be great (so graphql schema is the only source of truth, otherwise things start to mismatch overtime.. ) I guess I could write a script that parses the graphql schema and adds the config mappers part for each entity...

[2019-01-30 16:00] kamilkisiela commented on #1213
I think it was fixed already, could you try `0.17.0-alpha.4317ee16`?

[2019-01-30 16:03] kamilkisiela commented on #1219
@lgandecki yeah, iterating over `schema.getTypeMap()` and filtering those with `@entity` directive should do the work.

Also, codegen accepts `.js` files as a config:

[code]

[2019-01-30 16:06] kamilkisiela commented on #1219
@lgandecki Also, we could change the default behavior of `typescript-resolvers` based on the config (which we have access to in every plugin), so when `typescript-mongodb` plugin is used next to `typescript-resolvers`, we can make `typescript-resolvers` to use `*DbObject` types.

I think it's easy to do, if you want to implement something like this in Codegen I can help and answer questions :)

[2019-01-30 16:57] lgandecki commented on #1219
I would love to give this a try. seems much better than my approach with the forked codebase above. do you have any specific files that you would recommend to look at first?

On similar note (and sorry for an offtop but you seem knowledgable in this area, and I don't want to create an issue that's more of a question) - is there a reason why enums are treated as strings in DbObjects? this way I get

[2019-01-30 18:07] seamusv commented on #1213
This is working for me.  Thanks!

[2019-01-30 18:41] tuurbo commented on #1209
Thanks a lot for the help! That fixed the issue.

[2019-01-30 18:41] #1209 closed

[2019-01-30 19:32] dotansimha commented on #1225
@leighman you can use the latest alpha to get this fix before we release it:

[code]

[2019-01-30 19:33] dotansimha commented on #1208
Thanks @iamclaytonray !!!

[2019-01-30 19:35] dotansimha commented on #1144
@aniknafs any update?

[2019-01-30 23:04] harrisrobin commented on #1152
@dragonfire1119 im running into the same issue...

`Duplicate declaration "Document"`

How did you get around this? do you mind providing more details?

[2019-01-31 07:48] nettofarah commented on #1219
I'm curious as to what would be a good solution for this too.

We're currently stuck in a scenario where we basically can't have "calculated" fields in our Schema. (only if you make the calculated field optional)

I actually like the idea of using something similar to what @ellipticaldoor suggested here: https://github.com/dotansimha/graphql-code-generator/issues/1219#issuecomment-457961761

Maybe

[2019-01-31 08:03] lgandecki commented on #1219
I agree, @ calculated would be great to have. I think then we shouldn't be able to return anything directly for a field like that, but HAD to use a field resolver.

[2019-01-31 08:17] kamilkisiela commented on #1219
Maybe I'm still missing something but if you mark a field as non-optional it should always return a value, if server's logic says the value might sometime be null or undefined then you should change the schema, otherwise field's definition lies about the API.

If you return a different value based on some condition you can use [mappers](https://graphql-code-generator.com/docs/plugins/typescript-re

[2019-01-31 08:31] dotansimha commented on #1219
I think I know what you mean now. Let's say that you have a field `myValue: String!`, and it must return a string, but that's a a calculated field, and you don't want the codegen to mark it as `string` because this way, you'll have to include this field in the generated type, right?
The actual issue here is not the type generated by `typescript-server` plugin, but that's related to `typescript-res

[2019-01-31 08:35] nettofarah commented on #1219
Oh, that sounds like a really sweet idea.
Would you be able to give me an example of how to use the mapper type in this scenario?

I’m having a bit of a hard time understanding the type mapper example in the docs, so I guess a more concrete example would go a long way.

I’m happy to try and backport whatever example you could share as part of the documentation for typescript-resolvers :)

[2019-01-31 08:42] uwinkler opened #1240 "Cannot read property 'Symbol(Symbol.iterator)' of undefined"
Running code-gen gives me this error message:

[code]

I guess i miss a package, but which one?

This is my package.json:

[code]

**Additional context**
Add any other context about the problem here.

[2019-01-31 08:44] ardatan commented on #1240
Could you share your `codegen.yml` file as well?

[2019-01-31 08:45] uwinkler commented on #1240
[code]

[2019-01-31 08:46] kamilkisiela commented on #1219
[code]

`Query.me` gives `User`
`Query.users` gives `User[]`
`Query.post` gives `Post`
`Query.feed` gives `Post[]`
`Post.author` gives `User`
`User.id` gives `string` and receives `User`

Let's say your object has no `id` prop, but `_id` instead.

You define:

[code]

And you map `User` to `MyUser` (through mappers).

Then your resolvers get that:

`Query.me` returns `MyUser`
`Query.users` returns

[2019-01-31 09:15] uwinkler commented on #1240
Ok. I am using `yarn workspaces` and learn.  If the package is not part of this workspace, it seems to be fine.

[2019-01-31 10:21] lgandecki commented on #1219
I think I misunderstand something here...
Let's assume:

[code]
[code]

In this case you might think that I should just add the student ids to the school in an array.
But, let's say I want to filter them:

[code]

then it really only makes sense for those fields to be calculated in resolvers, and only when needed. What am I supposed to pass from the main school resolver query to map over? :)

[2019-01-31 10:58] swcarlosrj commented on #713
Picking this, @dotansimha where could I ping you up, have some questions about how to approach it!

[2019-01-31 16:11] n44ps opened #1243 "isIntrospectionType is not a function"
**Describe the bug**
I'm trying to get types from remote schema

**To Reproduce**
Steps to reproduce the behavior:
1. Setup an apollo-express-server running on localhost:4000/graphql
2. Use this codegen.yml on your frontend (let's say localhost:3000)

[code]

3. Run "gql-gen"

I have this error :
[code]

**Expected behavior**
I should have types of the schema in ./types.ts

**Schema/Documents**
[c

[2019-01-31 16:35] dobesv commented on #1219
This isn't true for GraphQL resolvers.  As I said before:

* If a field is not requested by the client, we can legally detect that in the passed `info` parameter and not return it
* Any field can be returned as a resolver function instead of a field value
* A field might be resolved in the resolvers for the parent type instead of the resolver for the parent object itself

These are not special cas

[2019-01-31 18:02] ellipticaldoor opened #1244 "graphql-code-generator IResolvers types are not compatible with IResolvers from graphql-tools"
**Describe the bug**
When I try to use **graphql-codegen-typescript-resolvers**  on my resolvers with **makeExecutableSchema** from graphql-tools I get a type error.

**To Reproduce**
When using this code
[code]

I get the following error message
[code]

I think this happens because the types from graphql-code-generator for IResolvers types are not compatible with IResolvers types from graphql-too

[2019-01-31 18:53] janhartmann commented on #1213
Worked - looking forward for the stable release.

[2019-01-31 19:47] harrisrobin commented on #1152
@dragonfire1119 gave up on CRA's typescript support because they don't support namespacing and reverted back to using tsc. It's a shame they don't support namespacing though! really a blocker for me because this tool is more useful than dropping tsc.

[2019-02-01 02:31] chenglabs commented on #1213
@dotansimha
Thanks! It's working.

[2019-02-01 02:31] #1213 closed

[2019-02-01 12:12] amiiit opened #1249 "Directive use (ts-mongo) failing when using import feature"
**Describe the bug**
When using directives such as `@entity` together with `# import` I get the following error:
[code]

**To Reproduce**
I've created the following repo to reproduce the file: https://github.com/amiiit/graphql-directive-import-example

[code]
Steps to reproduce the behavior:
1. Use `# import Foo from foo.graphql`
2. In `foo.graphql` have a `type Foo @entity {...}`

**Expected beha

[2019-02-01 14:40] Sound1ab commented on #1243
Adding [graphql](https://github.com/graphql/graphql-js) as dependency solved this issue for me.

[2019-02-01 14:56] n44ps commented on #1243
Perfect it's working now ! I don't have all my types but it's an other issue :) Thanks !

[2019-02-01 14:56] #1243 closed

[2019-02-02 09:15] bastman opened #1253 "Quick Start - does not work - gql-gen: command not found"
Could you please help ?

I tried follow the Quick Start.

$ npm install graphql-code-generator
$ gql-gen init

-bash: gql-gen: command not found

[2019-02-02 09:55] bastman commented on #1253
this seems to work: $ node_modules/.bin/gql-gen init

[2019-02-02 16:42] nettofarah commented on #1219
I 100% agree with @dobesv here.

I love the experience of using `typescript-resolcers`. It’s amazing to be able to drive my type definitions from the SDL and trust that if my code compiles, there’s really big chance that I did everything right.

Schemas get so big and complicated over time though, that I feel that I would probably need custom mappers for 60% of my types.

At that point is it worth

[2019-02-03 00:05] iamclaytonray opened #1254 "[Plugin Request] add support for typeorm template"
Because GraphQL and TypeORM are both typed, it would be _fairly_ easy to add support to the generator for TypeORM.

Given this example schema:

[code]

the expected output would be:

[code]

We would need a way to ignore certain object types, such as something like:

[code]

Obviously, that should not be a database model. I can think of several other edge-cases where we wouldn't want to generate a

[2019-02-03 00:28] iamclaytonray opened #1255 "[Plugin Request] generating mock/seed data"
As I build APIs with GraphQL, I'd love to be able to ignore my mock and seed data. Of course, this is virtually impossible as I add, remove, or update fields on my object types. When I do, that means I need to update those mocks/seeds. It would be super cool to see a new plugin land (or extend current plugins) to support automatically generating mock and seed data. Let's take the following schema

[2019-02-03 00:34] iamclaytonray commented on #1253
Did you install `graphql-code-generator` in one directory and then change into another directory? If so, that module would not be found.

Other possible solutions would be:

- Install globally (`npm i -g graphql-code-generator # yarn global add graphql-code-generator`)
- Use npx (`npx gql-gen init`)
- Install and refresh your terminal session.

If you could give your version of NPM and your OS, th

[2019-02-03 06:13] dotansimha commented on #1244
Hi @ellipticaldoor ! Thank you for reporting it.
There is an existing issue related to it: https://github.com/dotansimha/graphql-code-generator/issues/1133

[2019-02-03 06:13] #1244 closed

[2019-02-03 06:15] dotansimha commented on #1240
@uwinkler what do you mean not part of the workspace? anyway, I think it's better to put the codegen as a dependency in the root `package.json` if you are using Yarn workspaces.

[2019-02-03 06:56] dotansimha commented on #1219
@nettofarah We are always trying to improve this tool, and we are asking a lot of questions because we want to make sure that we are doing the right thing before modifying the codegen's plugins :)

@dobesv @nettofarah Do you think that adding a configuration for `typescript-resolvers` that wraps the parent and the return type with `Partial<...>` will solve this issue?

[2019-02-03 06:58] dotansimha commented on #1254
Hi @iamclaytonray ! Thank you for reporting it.
Creating a template for TypeORM should be very similar to what we did in `typescript-mongo`, but should reflect the TypeORM directives as GraphQL directives.

[2019-02-03 06:59] dotansimha commented on #1253
@bastman please read the comments here: https://github.com/dotansimha/graphql-code-generator/issues/1222

[2019-02-03 06:59] #1253 closed

[2019-02-03 07:47] shinyaohira commented on #497
I upgraded the version to 0.16.0, and the problem still occurs. It might be related to #1193 and fixed soon?

[2019-02-03 08:34] dotansimha commented on #1235
@furier we moved the logic of files loading to `graphql-toolkit`, and I fixed it there: https://github.com/dotansimha/graphql-code-generator/pull/1257

[2019-02-03 08:34] dotansimha commented on #1229
we moved the logic of files loading to [`graphql-toolkit`](https://github.com/dotansimha/graphql-toolkit), and I fixed it there: https://github.com/dotansimha/graphql-code-generator/pull/1257

@danilobuerger @MrDesjardins

[2019-02-03 09:19] dotansimha commented on #873
Done in: https://github.com/dotansimha/graphql-code-generator/commit/6cf5bfb299a534fef3db7e0b5726eda3dbd88639

[2019-02-03 09:19] #873 closed

[2019-02-03 09:19] dotansimha commented on #1135
Documented in: https://github.com/dotansimha/graphql-code-generator/commit/6cf5bfb299a534fef3db7e0b5726eda3dbd88639

[2019-02-03 09:19] #1135 closed

[2019-02-03 09:19] dotansimha commented on #1221
Done in:  https://github.com/dotansimha/graphql-code-generator/commit/6cf5bfb299a534fef3db7e0b5726eda3dbd88639
Thanks @mattwilson1024

[2019-02-03 09:19] #1221 closed

[2019-02-03 10:41] dotansimha commented on #1235
Fixed in 0.16.1 :)

[2019-02-03 10:41] #1235 closed

[2019-02-03 10:41] dotansimha commented on #1229
Fixed in 0.16.1 :)

[2019-02-03 10:41] #1229 closed

[2019-02-03 10:41] dotansimha commented on #1211
Fixed in 0.16.1 :)

[2019-02-03 10:41] #1211 closed

[2019-02-03 10:41] dotansimha commented on #1197
Fixed in 0.16.1 :)

[2019-02-03 10:41] #1197 closed

[2019-02-03 10:41] dotansimha commented on #1193
Fixed in 0.16.1 :)

[2019-02-03 10:41] #1193 closed

[2019-02-03 12:19] shinyaohira commented on #497
@dotansimha it worked! thank you.

btw, I found another problem. when I define a lowercase custom scalar type, and use `keep` namingConvention, gql-gen generates a lowercase custom type and a pascal case type as the reference.

[2019-02-03 16:03] jacobwgillespie commented on #1219
What would be super helpful in my case is for the mapper I specify to be used everywhere - basically I think of a mapper type as the "entrypoint" data that will be provided to a type's resolvers, which could be from a field from any other type.  Right now it seems like mappers only apply to one level, so like if I have type A with a field of type B, in the TS types for A's resolvers, they expect a

[2019-02-03 20:41] swcarlosrj commented on #713
@dotansimha just checking this out! Thank so much for all this info, I really appreciate it! I'll give a look tomorrow, I'm pretty sure that it'll help a lot in order to design an efficient solution covering all the use cases!

[2019-02-04 08:13] Nebulis commented on #1223
Turns out the bug only happened when using `noNamespaces` option. There is a specific use case for arrays and noNamespaces (which is not covered by tests).

I open an MR (#1265) to remove this check, I'm not sure of the impact of this. Happy to discuss about it :)

[2019-02-04 14:41] piotr-m-jurek commented on #1120
Hi, I think this my question regards something else, but:
shouldn't the `__typename` field be required? It is even mentioned in the query. Shouldn't `__typename` be non-nullable by default?

[2019-02-04 17:17] danilobuerger commented on #1229
Confirmed working. Thanks @dotansimha

[2019-02-04 20:56] statico commented on #925
I don't think this issue is closed. If there's no TTY, the output remains unhelpful.

I'm using v0.16:

[code]

Running the generator gives me:

[code]

And removing the TTY doesn't tell me much else:

[code]

And my types file is never generated:

[code]

[2019-02-04 21:41] statico commented on #925
FWIW, I was able to figure out my bug by editing `node_modules/graphql-code-generator/dist/execute-plugin.js` and adding a `console.log()`:

![image](https://user-images.githubusercontent.com/137158/52238929-0ff3b480-2882-11e9-9718-71ab9af35923.png)

Then I was able to see:

[code]

The file is currently this:

[code]

The error was due to my adding a `verified` property to my GraphQL query. Remov

[2019-02-05 00:02] seamusv commented on #925
I changed your code to be `console.log(JSON.stringify(errors));` so that I could see the expanded error messages.

[2019-02-05 06:42] wesselvdv commented on #925
@dotansimha You can actually easily reproduce this by executing this without attaching an tty and then attaching to the output.

I am running gql-gen inside a alpine docker container so I had to manuslly designate a pseudo-tty to get logging output, not sure how to this in the terminal. Maybe running it in background? (&)

[2019-02-05 19:25] kgoggin opened #1273 ""Unexpected GraphQL type definition" - unsure how to resolve"
**Describe the bug**
I'm working on a [plugin for generating ReasonML types](https://github.com/kgoggin/graphql-codegen-reason). Everything works while I'm working within the plugin's repo, where I've set up a test schema. But, when I try to use the plugin in my actual codebase, I get the following error:

[code]

I tracked the error to figure out it was getting thrown [here](https://github.com/do

[2019-02-05 19:58] Jonatthu commented on #643
@dotansimha I am having the same issues on the latest version, I really need to do some internal types queries

[2019-02-05 22:03] Jonatthu opened #1275 "Types are not generated for introspection query (Re-Submit)"
**Describe the bug**
Trying to generate the typescript of the next query.

[code]

Resulting in:

[code]

My configuration:
[code]

On the version:
[code]

I see there was a pull request but has been closed or forgotten.

I am writing an app to manage this queries and would be really useful to be able to generate this types.

Related issues
https://github.com/dotansimha/graphql-code-generator/pull

[2019-02-06 07:18] jahredhope opened #1278 "--watch exits after first run when using custom schema loader"
**Describe the bug**
I'm having a problem getting the `--watch` feature to work and would appreciate some help.

This may be a duplicate of https://github.com/dotansimha/graphql-code-generator/issues/1095
However that issue appears to be solved using a recommended behaviour that doesn't appear to solve my problem.

When running `gql-gen --config codegen.yml --watch` the process ends after the firs

[2019-02-06 10:12] AndyBan opened #1281 "Using a yml config file causes spurious lines to be added"
Using a codegen.yml config file causes spurious lines to be written to the generated file.

codegen.yml :

[code]

At the top of the generated file there is the extra lines:

[code]

The trues have been there some time and could be ignored but this isn't the case for the object tostring which has to be manually removed.

**Environment:**
 - OS: Windows
 - Codegen: 0.16.1
 - Node: 0.11.9

[2019-02-06 13:14] dotomaz commented on #925
I Have the same issue. I've tracked the problem to [checkValidationErrors in graphql-toolkit](https://github.com/dotansimha/graphql-toolkit/blob/47a76be7c4eb85f092928b8a15c85f07fa9d0fe6/src/utils/validate-documents.ts#L35)

Problem is in `throw new Error("Found " + errorCount + " error" + (errorCount > 1 ? 's' : '') + " in your documents!");`. The function collects the errors but does not pass the

[2019-02-06 13:19] SimenB commented on #925
Should probably use https://github.com/sindresorhus/aggregate-error or something similar

[2019-02-06 17:22] syndesis opened #1284 "gql-gen with no schema in root throws error"
**Describe the bug**
Configuration file without a `schema` in the root throws an error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use a codegen.yml similar to this:

[code]

2. Run the following command: `gql-gen --config codegen.yml`

**Expected behavior**
Generate schema files without throwing error.

**Environment:**
 - OS: OSX
 - Codegen: 0.16.0
 - Node: 10.15.0

[2019-02-06 23:16] RIP21 commented on #1255
I was also thinking about this plugin. That would be heaven for e2e testing and just fast prototyping.
Although there is a `graphql-faker` https://github.com/APIs-guru/graphql-faker , I never tried it yet on a real app, since I don't have a server, but it's quite neat from the demos, so maybe some code can be reused from them too.

[2019-02-07 07:00] vreality64 commented on #1141
@kamilkisiela @dotansimha
Yes. It is related to #1041. Also I'm already using `Mappers`.

I agree  `Mappers` is good feature. However I want to declare parent type in resolvers to reduce context switching. Since the mapper works through codegen, It is not easy to see if there is a mapping of parent type In Newbie's eyes.

So, in my situation, I need to change the result type to a custom type. And

[2019-02-07 08:47] Johnny-Bee opened #1287 "HandleBars Input Type field default value - not found"
**Describe the bug**
I cannot see the default value of input type field when I'm using HandleBars.
When I show the content of the input node from the handle bars point of view I have this:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use '...' as schema
[code]

I can transform without any lost into an Introspection schema using the graphql-code-generator:

[code]

2. Run the follo

[2019-02-07 15:59] shauns opened #1289 "Types not generated from schema"
**Describe the bug**
When running `gql-gen --config codegen.yml`, I get an (almost) empty `types.ts`, even though there are plenty of types in my schema.

**To Reproduce**
Steps to reproduce the behavior:
1. Use below as schema (from the readme actually, to rule out issues with my own schema)
[code]

2. No documents as server side
3. Running `yarn codegen`, where `codegen` defined as `"gql-gen --c

[2019-02-07 16:00] shauns commented on #1289
types.ts
[code]

[2019-02-07 18:18] NickClark commented on #1289
Sounds like you have no defined documents.

[2019-02-07 19:06] NickClark commented on #713
This is a huge improvement! Can't wait to see it come through! Does this also replace `Maybe` types with optionals? In code bases like ours, `nulls` are a bad practice.

[2019-02-07 22:51] rsrinivasan15 opened #1292 "Generating multiple files"
@dotansimha - We recently started using this codegen for one of our project and it works great so far (Thank you for building this awesome thing!!). I see that this project had a template for splitting the output into multiple files and was removed due to circular dependency issue. We wanted to know what is the recommended best practice for maintaining the generated files as putting everything in

[2019-02-07 23:31] thunderousNinja opened #1293 "How to create alias for types?"
**Describe the bug**
I am unable to generate aliases for custom types.  Here is a snippet from my schema:

[code]
I want `CustomType` to be an alias of `String`.  I tried adding `scalars` and `primitives` mappings in my codegen.yml file for `CustomType`, but that didn't work. I am still getting an error that says: `Unknown type 'CustomType'`.

Is it possible to alias standard GQL types? Also, are

[2019-02-08 10:27] shauns commented on #1289
I got to the bottom of this. My codegen.yml came through the wizard, but for server side typing you need something quite different:

[code]

Where servers and resolvers makes the good stuff happen. If there's an FAQ, might be worthy of inclusion?

[2019-02-08 11:13] ajordanow commented on #1219
I think adding ability to specify wrapper type is a great idea, but it should be configurable - not only predefined as `Partial<...>` (so specifying its source definition should be configurable too - like in mappers).

My current workaround (that does not involve mangling with template files :) ) for the problems mentioned above is:
1. set `config.optionalType` to `"NestedPartial<T> | null"` (so

[2019-02-08 11:29] kamilkisiela commented on #1219
Could one of you prepare a small repository that explains what we're talking about and it would be also something we could base our work on. This would help to implement the solution.

[2019-02-09 15:22] shinyaohira opened #1297 "doesn't keep typeNames namingConvention"
**Describe the bug**
Although I use `keep` namingConvention for typeNames, PascalCase type references were generated.

**To Reproduce**
Steps to reproduce the behavior:
1. Use non-PascalCase input in schema.

[code]

2. Use namingConvention as `keep` in codegen.yml.

[code]

3. Run the following command: `gql-gen --config codegen.yml`

[code]

**Expected behavior**

[code]

**Environment:**
 - OS:

[2019-02-09 15:23] shinyaohira commented on #497
@dotansimha I opened the issue #1297 . thank you.

[2019-02-10 11:21] williamluke4 commented on #925
[code]

[2019-02-10 22:24] blakeembrey opened #1298 "Support Iterable Interface for Resolvers"
**Is your feature request related to a problem? Please describe.**

GraphQL supports the iterator protocol via `iterall`. It only supports sync iterables right now for regular returns though, but it'd be nice if the generated TypeScript interfaces also accepted iterator returns.

**Describe the solution you'd like**

Changing all arrays generated by GraphQL to TypeScript resolvers into iterables.

[2019-02-12 04:09] robbyemmert commented on #796
This is costing me money right now. Please document breaking changes (or avoid them if possible).

[2019-02-12 04:12] robbyemmert commented on #977
This needs documentation. change-case is the only way mentioned in the docs.

[2019-02-12 05:04] robbyemmert commented on #977
I love where the library is going, but I thought I'd share a couple of thoughts on backwards compatibility and breaking changes that could help avoid this type of situation in the future.

A summary of the problems people in this thread are facing:

- This change is inadvertently forcing opinionated conventions on adopters. This could force on-the-fly code changes when updating. This could be a ba

[2019-02-12 10:48] n44ps opened #1302 "Use environment variables in codegen.yml"
**Describe the bug**
I can't use an environment variables in the codegen.yml file.
**To Reproduce**
Steps to reproduce the behavior:
1. Try using : `schema: ${API_ENDPOINT}`

And you'll get : `Unable to find matching files for glob: ${API_ENDPOINT} in directory`

**Expected behavior**
I would like to use the environment variables instead of raw string

**Environment:**
 - OS: MacOS Mojave
 - Codeg

[2019-02-12 20:54] leebenson opened #1304 "Input types that clash with field names are overwritten"
**Describe the bug**

Input type names that clash with the root query/mutation key are overwritten with the **return** type, meaning that `variables` on the component will no longer be typed to the input:

<img width="1431" alt="screenshot 2019-02-12 at 20 23 25" src="https://user-images.githubusercontent.com/719722/52665793-64db9e80-2f04-11e9-8ff0-b6b00351f9fe.png">

**To Reproduce**

*Schema:*

[2019-02-13 16:37] jrr commented on #925
I wound up writing something like @williamluke4:

[code]

Running with e.g. `./node_modules/.bin/gql-gen |less`, this will present errors like this:

[code]

Hopefully this helps others get unstuck, but for graphql-code-generator we should figure out how to present errors nicely both with and without a TTY.

For now, a quick and easy way to get _something_ in both scenarios is to catch the excepti

[2019-02-14 02:44] DanielMillerSEL opened #1312 "[Plugin Request]: Apollo-link-state InMemoryCache read* and write* method generator"
Apollo-link-state uses client side resolvers to merge client and server responses, and the client methods readQuery, writeQuery, readFragment, and writeFragment on that object can be typed using existing gql-gen code generators. A generator that provides pre-baked methods that include those types would be useful to me as it can get a bit verbose as it stands.

All examples are with no-namespaces,

[2019-02-14 09:41] forclan commented on #1273
I have met the same issue.
When I develop a plugin and use `npm link` to test package locally, the error accours, and this seems to be something with `npm link`. [see here](https://medium.com/@vcarl/problems-with-npm-link-and-an-alternative-4dbdd3e66811)

My solutaion is using `npm pack` and `npm install PACKAGE` instead of `npm link`.

[2019-02-14 14:03] Renaud009 commented on #1096
Yes graphql should indeed have been installed as a dependency ... but it's defined faultly as a devDependencie ...

[2019-02-14 14:07] dotansimha commented on #1096
@reconbot `graphql` is defined as `devDependency` and as `peerDependency`. We don't want to force a specific version of `graphql` because it might result in multiple copies of `graphql` (and that's not a good thing, because it will produce `Also ensure that there are not multiple versions of GraphQL installed in your node_modules directory.` errors).

[2019-02-14 14:15] Renaud009 commented on #1096
Not listed as a peerDependency in package.json ...
Tool just cannot be used as a CLI without installing several dependencies manually at the moment.

[2019-02-15 12:40] hlehmann commented on #1219
[code]
One of the benefits of graphql is to have properties loaded async and on demand with resolvers. In this case `author` is not saved with the other post properties. Not to mention when `extend type` is used in an different file.

@dotansimha a configuration for `typescript-resolvers` that wraps the parent and the return type with `Partial<...>` would be much appreciate (and I would enable it

[2019-02-16 18:45] leonardorb commented on #925
This will be a nice addition. Thanks everyone for pointing solutions. This saved me. 😃

[2019-02-17 18:02] FredyC commented on #1075
@dotansimha Do you possibly have any news regarding this? It's the pretty much only issue that's holding me back from switching over to Babel TypeScript implementation as it's much easier to configure tools with it and it even seems to be faster.

[2019-02-18 11:31] gtsopour opened #1318 "Simple quotes at config: namingConvention: enumValues"
**Is your feature request related to a problem? Please describe.**
Is that possible that we could produce the Enums with simple quotes?

`export enum Language {
  EN = 'EN',
  DE = 'DE',
  FR = 'FR',
  IT = 'IT'
}`

instead of

`export enum Language {
  EN = "EN",
  DE = "DE",
  FR = "FR",
  IT = "IT"
}`

**Describe the solution you'd like**
A clear and concise description of what you want to happ

[2019-02-18 14:28] Morphexe commented on #1116
Any update on this feature?
I would be really helpfull, right now I manually adding the config to file, is there a better way of doing this?

[2019-02-18 23:18] NickClark commented on #1312
Ya, I agree. Something like this would be nice. I was needing the same except for using `readFragment`.  Although I was thinking of another way.

Currently the signature for readFragment is `readFragment<FragmentType, TVariables = any>(options: DataProxy.Fragment<TVariables>, optimistic?: boolean): FragmentType | null;`

If we could get the Apollo team to also include FragmentType in DataProxy.Fra

[2019-02-18 23:30] NickClark commented on #713
Also, it might be nice to consider exposing fragment pick types per #1312

[2019-02-19 12:42] furier commented on #1116
that seems quite cumbersome when you have a lot of components, like hundreds to manually configure all in the `codegen.yml` file, but I thought of the same thing but let it be until this feature becomes available. Will just have to uniquely name everything until then.

[2019-02-19 20:42] Morphexe commented on #1116
@furier It is sadly.
 I am thinking if for the time being I should actually generate the codegen.yml via a file watcher adding the entries auto.
But  before doing soI would like to know if its actually in the road map and if possible any estimations.

[2019-02-20 01:46] IanVS opened #1321 "Allow configuring graphql-tag import location"
**Is your feature request related to a problem? Please describe.**
It seems that detection of graphql tags in gatsby projects is not working, so my queries are not getting types created.  If I make a separate `.graphql` file for my queries, then I see generated types, but it seems that gatsby doesn't allow keeping queries in separate files.

**Describe the solution you'd like**
It seems like there

[2019-02-20 01:54] IanVS commented on #1321
It lookes like `graphql-tag-pluck` was removed in https://github.com/dotansimha/graphql-code-generator/commit/eb9d6ff39290d3c8e852a8375d1338bdeca4957d, although the dependency was not.

[2019-02-20 02:44] IanVS commented on #1321
I've found that in version `0.16.0`, I can change this line: https://github.com/dotansimha/graphql-code-generator/blob/325baef0a08a3a80536121326bbdf634379a3262/packages/graphql-codegen-cli/src/utils/document-finder.ts#L14

to:

[code]

*AND*:

https://github.com/DAB0mB/graphql-tag-pluck/blob/13fe2a7216ea5aa893afbde1d6d75400a415b6c6/src/visitor.js#L101-L103

from:

[code]

to:

[code]

Then I can g

[2019-02-20 11:02] jomag opened #1322 "Merge root types from multiple files"
Hi,

We're using *graphql-code-generator* to generate TS code and we've run into a problem when splitting root types (queries, mutations, subscriptions) into multiple files. I expected this to work:

`foo.graphql`:

[code]

`bar.graphql`:

[code]

`schema.graphql`:

[code]

`schema.graphql` is used as the entry point for codegen. I expected this to merge the two mutation type into one:

[code]

I

[2019-02-20 11:17] jomag commented on #1322
So I finally found that I should look into `graphql-import`:

https://oss.prisma.io/content/graphql-import/overview

It seems like I need to import like this for it to work:

[code]

Not so clear why, but it works for me, so I'm closing this issue.

[2019-02-20 11:17] #1322 closed

[2019-02-20 20:40] bhaidar commented on #1096
@dotansimha I am still getting this error even after installing graphql! angular-cli app.

[code]

[2019-02-21 04:16] seawatts commented on #1152
Is there anyway to solve this without turning off namespaces? I'm using next.js and babel to transpile my typescript

[2019-02-21 04:30] dragonfire1119 commented on #1152
@seawatts Babel has said they are not going to support namespaces already https://github.com/babel/babel/issues/8244

[2019-02-21 04:39] ardatan commented on #1152
@seawatts Babel's TypeScript support has a lot of issues like that. I recommend you to use TypeScript's own compiler which already handles JSX transpilation, and you can make a bundle with Webpack.

[2019-02-21 08:05] bhaidar opened #1323 "How To: Create a custom handlebars template with the latest release"
Hello,
I am reading through the docs and I couldn't find enough info on how to provide our own handlebars template to generate custom stuff?

Thanks
Bilal

[2019-02-21 11:17] bhaidar opened #1324 "What's the difference between this library and Apollo Code Generator?"
Hello,
I am interested to know the difference between this library and Apollo Code Generator.

Thanks

[2019-02-21 17:04] dotansimha commented on #1223
Available in 0.17.0, thanks @Nebulis !

[2019-02-21 17:04] #1223 closed

[2019-02-21 17:07] dotansimha commented on #1323
Hi @bhaidar !
We changed the way the templates are being written, and now you are not forced to use Handlebars.
You can read the docs here: https://graphql-code-generator.com/docs/custom-codegen/write-your-plugin
And there is a section that explains how to use Handlebars if you wish to: https://graphql-code-generator.com/docs/custom-codegen/using-handlebars

[2019-02-21 17:07] #1323 closed

[2019-02-21 17:07] dotansimha commented on #1324
Duplicate of https://github.com/dotansimha/graphql-code-generator/issues/118

[2019-02-21 17:07] #1324 closed

[2019-02-21 17:10] dotansimha commented on #1318
@gtsopour thank you for opening this issue!
Actually, it's not related to `namingConvention`.
`namingConvention` changes the way the names of the enum values are being generated.
If you wish to get an output with single quote instead of double quote, please consider to add `prettier` to your project, and add a prettier config. The codegen will make sure to run `prettier` before writing the file, a

[2019-02-21 17:10] #1318 closed

[2019-02-21 17:12] dotansimha commented on #1312
That sounds like a great idea, @DanielMillerSEL  @NickClark !
I think we can definitly generate this kind of output, maybe in a separate plugin.
@DanielMillerSEL any chance you wish to try to write this plugin? (https://graphql-code-generator.com/docs/custom-codegen/write-your-plugin)

[2019-02-21 17:15] dotansimha commented on #1304
@leebenson thank you for reporting it. It's definitly a bug.
I'm not sure we can address this easily (without breaking changes) because changing the name might effect all users of this template.
We are [currently working on re-implementing the TypeScript](https://github.com/dotansimha/graphql-code-generator/issues/713) template from scratch, and it might solve this issue as well (because we no lon

[2019-02-21 17:16] dotansimha commented on #1302
@n44ps thank you for reporting it.
The codegen does not support it at the moment, but that's definitely a valid use case.
As a workaround, I can suggest you to run the [codegen from code, using the programmatic API](https://graphql-code-generator.com/docs/getting-started/programmatic-usage), and use your environment variables.

[2019-02-21 17:17] dotansimha commented on #1297
@shinyaohira Can you please try to move the `namingConvention` config to the root of the yaml?

[code]

[2019-02-21 17:35] dotansimha commented on #1292
Hi @rsrinivasan15 ! Thank you for opening this issue.
We had support for multiple files before, but the dependencies and the needs to calculate the imports on each file was a mess and it was very hard to maintain. Also, it was very hard to share code with the single-file output plugins.
We decided to drop it a few months, but we are planning to add support for generating multiple files in a future

[2019-02-21 17:35] #1292 closed

[2019-02-21 17:39] dotansimha commented on #1293
Hi @thunderousNinja !
It's not possible at the moment, but we are working on refactoring the typescript templates, and that's definitely a use-case we need to consider.

If you wish to override the type because you wish to get a resolvers signature, you can try to use `typescript-resolvers` plugin, and use generics or specify `mappers` configuration to override the links between the types.

[2019-02-21 17:41] dotansimha commented on #1289
@shauns each plugin handles it's own types, but we are currently refactoring the typescript templates and we plan to make it much easier to use.

[2019-02-21 17:41] #1289 closed

[2019-02-21 17:45] dotansimha commented on #1273
@kgoggin thank you for opening this issue.
As @forclan said, it's not an issue with graphql-code-generator. The cause of this error is the fact that you can't have multiple instances of `graphql` under the same project.
The current solution for it is to use `npm pack` and then `npm install`, because that's the only way to make sure to get only the compiled code and not all the dependencies.

I thi

[2019-02-21 17:45] #1273 closed

[2019-02-21 17:47] dotansimha commented on #1275
Thanks @Jonatthu !
I'm currently working on a big refactor for the typescript templates, so I might give it another try.
Closing, let's track the progress in: https://github.com/dotansimha/graphql-code-generator/issues/643

[2019-02-21 17:47] #1275 closed

[2019-02-21 17:51] dotansimha commented on #1278
@jahredhope Thank you for reporting it. It's definitely a bug, I think it's because we are not tracking any files in case of custom schema loader.
I'll try to take a look :)

[2019-02-21 17:51] dotansimha commented on #1240
@uwinkler Closing for now. Feel free to re-open if you still having an issue.

[2019-02-21 17:51] #1240 closed

[2019-02-21 17:54] dotansimha commented on #1281
Hi @AndyBan ! Thank you for reporting it.
Can you please try to remove the entire `config` section and share the output? I think it might be related to some configuration we changed, but I'm not sure.

[2019-02-21 17:55] dotansimha commented on #1284
Thank you @syndesis for reporting it.
I think in your case, the fact that there is no schema for the 3rd generated output is the cause of the error, and not the root schema.
Can you please try to add your schema there?

[2019-02-21 18:14] dotansimha commented on #1287
Thank you for reporting it, @Johnny-Bee !
It's definitely missing, I'll take a look soon to see if I can add it :)

[2019-02-21 23:42] syndesis commented on #1284
Ok, that part was generated so I didn't know it needed its own schema.  Thanks!

[2019-02-21 23:42] #1284 closed

[2019-02-22 00:04] ngmariusz opened #1334 "'overwrite': works only at root level"
**Describe the bug**

Given config does not overwrite
[code]

this overwrites each

[code]

**To Reproduce**

    "graphql-code-generator": "^0.16.1",
    "graphql-codegen-add": "^0.16.1",
    "graphql-codegen-time": "^0.16.1",
    "graphql-codegen-typescript-common": "0.16.1",
    "graphql-codegen-typescript-resolvers": "^0.16.1",
    "graphql-codegen-typescript-server": "^0.16.1",

     npx gql-

[2019-02-22 15:31] cgatian commented on #925
Good god please fix this. I love you guys but this makes be cry.

[2019-02-22 19:20] FredyC opened #1336 "Custom hooks (typescript-react-apollo)"
BTW: useSubscription is [merged and released](https://github.com/trojanowski/react-apollo-hooks/pull/37) 🎉

**Is your feature request related to a problem? Please describe.**
I definitely love that I can generated "hooked" variants for queries (and subscriptions). However, I do have some wrapper hooks around `useQuery` (mostly to normalize loading/data slightly) and `useMutation` for error handlin

[2019-02-22 19:20] emmanuelbuah commented on #962
@dotansimha I encountered the issue again. Regenerating the package lock file doesn't address the issue. npm/yarn will only hoist packages if multiple packages depend on the same version of a package. As it stands now if you install just `graphql-codegen-typescript-server` from npm, it will install `graphql-codegen-typescript-common` as a sub package which will in turn contains `graphql-codegen-co

[2019-02-22 19:50] FredyC opened #1337 "Do not enforce tsx if only hooks used"
**Is your feature request related to a problem? Please describe.**
Since Hooks don't use the JSX, there is no need to enforce the extension.

**Describe the solution you'd like**
If I specify configuration like this, it should be possible to use `*.ts` file.

[code]

[2019-02-22 22:08] jeffreyffs opened #1338 "Enums and interfacePrefix config don't work together"
**Describe the bug**
If you have an enum in your schema and choose to use the 'interfacePrefix' option, the generated code won't compile

**To Reproduce**
Steps to reproduce the behavior:
Schema:
[code]

Documents:
[code]

config:
[code]

**Expected behavior**
Generated code should compile

**Schema/Documents**
See above

**Environment:**
 - macOS: 10.14.1
- graphql-code-gen: 0.16.0
- react-native

[2019-02-23 06:58] FredyC opened #1342 "Configurable `gql` import"
**Is your feature request related to a problem? Please describe.**
It's pretty much [a recommended way](https://github.com/facebook/create-react-app/pull/5481) to use `graphql.macro` for loading graphql files or inlining documents. Since CRA2.0 has `babel-plugin-macros` includes it's a fairly cheap optimization of runtime code.

**Describe the solution you'd like**
Add configuration option `gqlImp

[2019-02-23 08:40] shinyaohira commented on #1297
@dotansimha it worked. thank you. Could you add `namingConvention` to typescript-server plugin [document](https://graphql-code-generator.com/docs/plugins/typescript-server)?

btw, generated interface name is a little bit strange (starts with lowercase letter).
[code]

[2019-02-23 13:34] IanVS commented on #1342
I think this shouldn't be a Boolean. It would be great if it's flexible, to support other import locations, like Gatsby: https://github.com/dotansimha/graphql-code-generator/issues/1321

[2019-02-23 15:18] n44ps commented on #1302
This is what I've ended up with, thank you @dotansimha !

[2019-02-24 12:58] dotansimha opened #1350 "Planned breaking changes for typescript plugins 🚀"
Hi,

We are currently planing to refactor and reimplement the `typescript` plugins.

These changes include:
- Change the scope of the plugins. Today we have `typescript-common`, `typescript-client`, `typescript-server` and `typescript-resolvers`. After this change, we'll have `typescript` (which includes all types, similar to server and common packages), `typescript-client` (types for queries, mut

[2019-02-24 22:33] zelid opened #1351 "Apollo local-state recursive type error"
I'm trying to use [local-state](https://www.apollographql.com/docs/react/essentials/local-state.html#queries) for react components with gql-gen

with `codegen.yaml`:

[code]

All works well when `frontend-schema.graphql` has "simple" type:
[code]

But I'm moving to `local-state` TypeScript interface where MenuItem can have children of MenuItem type and once it's added to `frontend-schema.graphql`

[2019-02-24 22:39] zelid commented on #1351
Update1:

Got generator working with this query:
[code]

Children did not have it's properties defined in the query :(

[2019-02-24 22:53] zelid commented on #1351
Update2:

Both ways of one level and multi-level nesting give errors in runtime like:
[code]

[2019-02-25 06:38] dotansimha commented on #1351
Thank you for reporting it, @zelid !
I think you can't see the error because of https://github.com/dotansimha/graphql-code-generator/issues/925 . We are working on fixing it and then it will be easier to debug your issue.

[2019-02-25 13:34] kamilkisiela commented on #1321
DAB0mB/graphql-tag-pluck#12 should handle that

[2019-02-25 13:57] fvisticot opened #1354 "Dart plugin available ?"
Is it yet possible to generate Dart code from this generator ?

I try this: https://github.com/micimize/graphql-to-dart

But I get an error: TypeError: Must provide Source. Received: {}

[2019-02-25 14:29] IanVS commented on #1321
That's awesome, thanks!  Would `graphql-tag-pluck` need to be re-added to `graphql-code-generator` as well?  Or is it still being used in a way that I couldn't figure out?

[2019-02-25 14:30] kamilkisiela commented on #1321
We moved some logic to [`graphql-toolkit`](https://github.com/ardatan/graphql-toolkit) package and `graphql-tag-pluck` is a part of that.

[2019-02-25 15:20] kamilkisiela commented on #1338
#1355 should fix it

[2019-02-25 16:38] emmanuelbuah commented on #962
The fix was to delete both the lock file and the node_module folder. Even though I have a fix. I'd like to get to the bottom of this issue. I will take some time to submit a repo reproducing the issue.

[2019-02-25 17:10] jeffreyffs commented on #1338
🎉 awesome, thank you!

[2019-02-25 17:17] kamilkisiela commented on #1338
@jeffreyffs could you check if `0.18.0-alpha.852a57ce` fixes the issue?

[2019-02-25 17:40] jeffreyffs commented on #1338
confirmed, fixed my issue. Thank you 🙇

[2019-02-25 19:09] ardatan commented on #1254
But notice that we should warn users to disable `synchronize` in `ormconfig`. Otherwise, user can lose data in the database.

[2019-02-26 07:47] jonaskello commented on #649
I would also like `__typename` to be optionally added to the full schema types. My use-case is that I have my own client-side caching solution and the ability to modify the cache (for optimistic updates). So when I modify the cache on the client-side I use the full schema types. This is done because the optimistic update is allowed to add any field within the full type, but no fields that are not

[2019-02-26 07:51] jonaskello commented on #1350
Does this mean adding `__typename` to the full schema types? (see my [comment here](https://github.com/dotansimha/graphql-code-generator/issues/649#issuecomment-467332215))

[2019-02-26 08:09] dotansimha commented on #1350
@jonaskello The goal is to add `__typename` automatically to selection set. We added a similar solution for `flow` templates. Can you please elaborate how adding `__typename` can benefit to the schema types as well? If you are dealing with client-side cache, I guess that adding `__typename` to every type will solve this issue for you?

[2019-02-26 08:31] jonaskello commented on #1350
Yes, adding `__typename` to all types, including the "full" types that are today generated by `typescript-server` would solve my use-case. I need `__typename` when I add entities to the client-side cache because I use it to generate the unique ID in the cache. To explain some more, I have this on the client-side:

[code]

The `getObjectId` function uses `__typename` to generate a concatenated uniq

[2019-02-26 09:47] AndyBan commented on #1281
Hi @dotansimha

If I remove the config section then it generates correctly:

`// THIS IS A GENERATED FILE, DO NOT EDIT IT!
// tslint:disable
export type Maybe<T> = T | null;`

If I generate it without the scalars bit then it generates as:
`// THIS IS A GENERATED FILE, DO NOT EDIT IT!
// tslint:disable
true;
true;
true;
export type Maybe<T> = T | null;`

Whilst still a bit wrong typescript does ign

[2019-02-26 13:01] dotansimha commented on #713
WIP here: https://github.com/dotansimha/graphql-code-generator/pull/1353 :)

[2019-02-26 15:25] dotansimha commented on #1350
Yeah that's right, common and server will be joined into `typescript`, and it will be the base for `typescript-documents`. I'm still thinking about adding `__typename` to the types, because it's not part of the GraphQL standard, and I'm need to check how it will behave with the `typescript-resolvers` package.
We are making it way more easy to make changes, so it might be very easy to implement if

[2019-02-26 16:29] jonaskello commented on #1350
Agreed, the `__typename` field is a bit special since it is part of the schema in the sense that you can query for it (and I guess that ability is part of the spec). But then again it is not really part of the schema as you don't declare it in the types.

Btw, I just migrated from 0.13 to 0.17 yesterday and I am loving the new config files, so much simpler 👍

[2019-02-26 19:16] kamilkisiela commented on #1334
#1362 should fix it

[2019-02-27 00:11] DanielMillerSEL commented on #1312
I am curious to try, however I need to do some legal-foo on my end first. If someone hasn't taken it up by that point I will.

[2019-02-27 00:16] NickClark commented on #713
@dotansimha Thanks! In the Typescript world, nulls are typically bad practice... but GraphQL libs tend to return nulls, so maybe there's nothing I can/should do about it. Unless there was a way for libraries like Apollo to do the conversion for us. Anyways, thanks again! Really excited to see this coming!

[2019-02-27 06:45] dotansimha commented on #1321
Fixed in https://github.com/dotansimha/graphql-code-generator/pull/1364

[2019-02-27 06:48] dotansimha commented on #1354
Hi @fvisticot !
`graphql-to-dart` package is using the old API of the codegen. You can try to use it with an old version (`0.9.2`), or contact @micimize in order to update it to the latest API.

[2019-02-27 07:23] davidLeonardi commented on #1162
I closed it because the issue was invalid. Typo in the command.

On Tue, 22 Jan 2019 at 18:21, Uri Goldshtein <notifications@github.com>
wrote:

--
**********************************************
David Leonardi
Consultant

Home:      +1 650 741 5596
Cell:         +31643998429
E-Mail:      david.leonardi@gmail.com
Skype:      David Leonardi (S3thxx)
IRC:          dleonardi on Freenode
**************

[2019-02-27 07:24] phoenix741 commented on #1109
@kamilkisiela I use it in the server side to define interface of my resolver.
As there is a default value, i expect that the value is not undefined, else i must redefine a default value in the resolver.

[2019-02-27 08:45] maapteh opened #1365 "fieldnames can give incorrect generated types"
**Describe the bug**
fieldnames can give incorrect generated types.

**To Reproduce**
When i have a 'mutation' field in the type 'BasketMutationResult' i get the following result:

[code]
It adds type Mutation twice while the last is not correct.

**Expected behavior**
Not do this :)

**Environment:**
 - OS: OSX
 - Codegen: 0.17.0
 - Node: 10

[2019-02-27 08:48] dotansimha commented on #925
Thank you all and sorry for the inconvenience. @DAB0mB is working on a fix now :)

[2019-02-27 09:55] rishispeets opened #1366 "Unable to get hooks generated"
**Describe the bug**
I'm unable to get a file generated that includes hooks. I've validated the .yml syntax and tried to play with turning off and on options like noHOC and noComponent. I'm trying to only generate the hooks.

**To Reproduce**
Steps to reproduce the behavior:
1. Use attached codegen.yml with all deps installed
2. Run `gql-gen --config codegen.yml`

**Expected behavior**
A generated

[2019-02-27 09:58] leonardfactory commented on #1366
Hi, Hooks support has been introduced in v0.17.0 and it looks like you're using v0.16.1. Could you try using the next version?

[2019-02-27 10:11] #1366 closed

[2019-02-27 12:30] kamilkisiela commented on #1365
#1369 should fix it

[2019-02-27 13:47] maapteh commented on #1365
super!

[2019-02-27 20:07] micimize commented on #1354
@fvisticot I don't believe there are any robust dart generators yet. [You can try using mine](https://github.com/micimize/graphql-to-dart/issues/3#issuecomment-468009069) with the older generator - I should hopefully have time to update it soon

[2019-02-28 02:15] cgatian commented on #1116
I would absolutely love this feature.

The main benefit is it allows us to maintain [LIFT](https://angular.io/guide/styleguide#lift) principles in our codebase. As a workaround I created a path entry in the tsconfig:
[code]

[2019-02-28 07:05] dotansimha commented on #1342
Fixed in `graphql-toolkit` by @kamilkisiela . PR here: https://github.com/dotansimha/graphql-code-generator/pull/1370

[2019-02-28 07:06] dotansimha commented on #925
Fixed in `graphql-toolkit`, PR here: https://github.com/dotansimha/graphql-code-generator/pull/1370

[2019-02-28 08:10] kamilkisiela commented on #1342
@dotansimha It's not exactly the same. I made `graphql-tag-pluck` to support any kind of package, either with default or named export but we don't have a way to define those packages in `graphql-code-generator` through `codegen.yml`.

[2019-02-28 08:22] maapteh commented on #1350
Just some weird thought, maybe it helps.
- Create schema changes overview. Our app is using graphql-modules and we can generate schema's without running the application (so no endpoint needed). It would be nice if we could compare it with the current schema on production (which is also in our codebase). Then in our pipeline we can show this overview without running anything.
- Accept regex in the

[2019-02-28 08:26] dotansimha commented on #1350
@maapteh

We support `glob` which is an easier way to do regex when dealing with files.
If you wish to get all files recursively, you can use `src/modules/**/*.graphql`.

[2019-02-28 08:27] dotansimha commented on #1350
@maapteh

It feels like this feature it not part of the codegen's scope, but I think https://github.com/kamilkisiela/graphql-inspector can do this for you :)

[2019-02-28 08:32] maapteh commented on #1350
Wow this last i totally missed, will run it today.
My second thought was about how to generate types per module, but as already discussed it will be hard when modules require other modules. So one file maybe is still best :)

[2019-02-28 08:56] DAB0mB commented on #925
I'm adding tests to codegen and then we can release

[2019-02-28 17:15] kamilkisiela commented on #1342
@dotansimha #1376 should enable that

[2019-02-28 17:15] kamilkisiela commented on #1342
More on that here https://github.com/DAB0mB/graphql-tag-pluck#options

[2019-02-28 17:31] kamilkisiela commented on #1278
@jahredhope @dotansimha

[code]

Is just enough? #1377

[2019-02-28 18:37] aoakeson opened #1378 "gql-gen init - Error: Cannot find module 'graphql/language/parser'"
**Describe the bug**
Everytime I run gql-gen I get an error
[code]
This is happening in existing and new projects.  I am using Angular CLI to generate my projects.

**To Reproduce**
Steps to reproduce the behavior:
Install required packages:
npm install graphql
npm install -D graphql-code-generator

**Expected behavior**
I expect it to run through the gql init.  It just errors out.

**Schema/Docum

[2019-02-28 18:48] nklayman opened #1379 "[typescript] Add option to use string unions instead of arrays"
**Is your feature request related to a problem? Please describe.**
Prisma [uses string unions instead of enums](https://github.com/prisma/prisma/issues/3429). This causes type errors where typescript thinks graphql code generator's enums are not compatible with prisma's string unions. To avoid this, you have to manually typecast everything (which tslint doesn't like). This will disable type checki

[2019-02-28 19:46] kamilkisiela commented on #643
I tried to fix it in #1380, could you guys check if that works in your projects? A canary release under `0.18.0-alpha.d365409c`, make sure you bump all packages from codegen group.

[2019-03-01 09:58] jerlam06 opened #1387 "→ Must provide Source. Received: {}"
**Describe the bug**
I get this error when I run gql-gen: "Must provide Source. Received: {}"

[code]

Here is my codegen.yml:

[code]

What does "Must provide Source" mean?

[2019-03-01 10:17] dotansimha commented on #1387
Hi @jerlam06 !
Can you please share your schema file? It looks like it's not being loaded correctly.

[2019-03-01 10:21] dotansimha commented on #1379
Hi @nklayman!
We support this feature for a long time (actually, [since May 2018](https://github.com/dotansimha/graphql-code-generator/commit/d80ea2a1ab71853a27def71ca0e33447a72cd709) 😉),  just use `enumsAsTypes`.
It will generate `export type MyEnum = 'A' | 'B'` instead of `export enum ...`.

[2019-03-01 10:21] #1379 closed

[2019-03-01 10:23] dotansimha commented on #1378
@aoakeson can you try to install `@types/graphql` as well?
Also, can you share you codegen.yml file? I guess it's an invalid import in one of the plugins.

[2019-03-01 10:25] dotansimha commented on #1365
Fixed in 0.18.0 🎉

[2019-03-01 10:25] #1365 closed

[2019-03-01 10:25] dotansimha commented on #1342
Available in 0.18.0 🎉

[2019-03-01 10:25] #1342 closed

[2019-03-01 10:25] dotansimha commented on #1338
Fixed in 0.18.0 🎉

[2019-03-01 10:25] #1338 closed

[2019-03-01 10:25] dotansimha commented on #1337
Fixed in 0.18.0 🎉

[2019-03-01 10:25] #1337 closed

[2019-03-01 10:26] dotansimha commented on #1336
Available in 0.18.0 🎉

[2019-03-01 10:26] #1336 closed

[2019-03-01 10:26] jerlam06 commented on #1387
Hi @dotansimha, thanks for the answer.
Well it is really huge, about 10k lines. It was extracted from hasura. So I guess some syntax in the file isn't rigth?

[2019-03-01 10:26] dotansimha commented on #1334
Fixed in 0.18.0 🎉

[2019-03-01 10:26] #1334 closed

[2019-03-01 10:26] dotansimha commented on #1321
Fixed in 0.18.0 🎉

[2019-03-01 10:26] #1321 closed

[2019-03-01 10:26] dotansimha commented on #1302
Available in 0.18.0 🎉

[2019-03-01 10:26] #1302 closed

[2019-03-01 10:26] dotansimha commented on #1287
Fixed in 0.18.0 🎉

[2019-03-01 10:26] #1287 closed

[2019-03-01 10:26] dotansimha commented on #1278
Fixed in 0.18.0 🎉

[2019-03-01 10:26] #1278 closed

[2019-03-01 10:26] dotansimha commented on #1225
Fixed in 0.18.0 🎉

[2019-03-01 10:26] #1225 closed

[2019-03-01 10:27] dotansimha commented on #1133
Fixed in 0.18.0 🎉

[2019-03-01 10:27] #1133 closed

[2019-03-01 10:27] dotansimha commented on #1109
Fixed in 0.18.0 🎉

[2019-03-01 10:27] #1109 closed

[2019-03-01 10:27] dotansimha commented on #643
Fixed in 0.18.0 🎉

[2019-03-01 10:27] #643 closed

[2019-03-01 10:27] dotansimha commented on #925
Fixed in 0.18.0 🎉

[2019-03-01 10:27] #925 closed

[2019-03-01 10:48] dotansimha commented on #1387
Yeah, I think so. Can you please try to copy/paste it into https://astexplorer.net and see if you are getting an error?

[2019-03-01 10:48] dotansimha commented on #1387
And also, any chance you can create a repo with a minimal reproduction? This way I'll be able to test it locally. Thanks!

[2019-03-01 10:54] dotansimha commented on #1387
@jerlam06 can you also try this config?
[code]

[2019-03-01 16:43] aoakeson commented on #1378
Hi @dotansimha I installed they @types/graphql, but still getting the same error.  Like i mentioned, I was trying to run the `gql-gen init` command, but its erroring out.  I also created the codegen.yml file as suggested, and no luck.  Here is that file

[code]

[2019-03-01 18:14] nklayman commented on #1379
Awesome! Sorry to bother you, I know how annoying it is to deal with issues like these.

[2019-03-01 22:46] ardatan commented on #1378
You need to have documents to generate Angular services for operations inside documents. I think you don’t have a valid path defined as ‘documents’ in your configuration file.

[2019-03-02 14:40] Johnny-Bee commented on #1287
Thanks @dotansimha! 👍🏽

[2019-03-02 17:03] ardatan commented on #1387
@jerlam06 Do you have `documents` field in your configuration? Because if you don't, `react-apollo` generator won't work properly.

[2019-03-02 19:39] selaux commented on #1281
This also happens for JSON configuration.

I investigated the issue a little and it seems that the add plugin is expecting only `string` or `string[]` as input, but gets the whole config object, with top level config merged into it. Then it continues to print all config variable values into the generated file.

A workaround currently is to specifify configuration for each plugin individually, e.g.

[2019-03-03 08:28] Akryum opened #1393 "Doesn't support schema stitching/merging resolvers"
**Describe the bug**
When using `mergeSchemas` from Apollo Server to stitch (merge) schemas together, the resolvers needs the `fragment` and `resolve` properties as [described here](https://www.apollographql.com/docs/graphql-tools/schema-stitching.html#adding-resolvers). The generated types don't appear to support this and typing errors are thrown.

**To Reproduce**
1. Stitch multiple schemas into

[2019-03-03 08:29] Akryum commented on #1393
Current workaround:

[code]

[2019-03-03 13:53] lim-enhui opened #1394 "how to add object in code generator?"
In my send-message.graphql.. I added this..

[code]
Failed to generate [object Object]

attempted
[code]

i could not find helpful documentation for this...

in my graphql backend:

[code]

[2019-03-03 23:10] #1190 closed

[2019-03-04 03:12] flisky opened #1395 "typescript: __TypeKind is not imported"
**Describe the bug**
ts compilers complains with `Cannot find name '__TypeKind'.ts(2304)` when there is a introspection field `kind`.

**To Reproduce**
document goes
[code]

**Additional context**
I have to add `declare type __TypeKind = typeof import('graphql').__TypeKind;` to fix this problem.

#1380 referenced, and @kamilkisiela, please take a look?

[2019-03-04 10:00] zenVentzi opened #1398 "What solutions do we have for better names?"
When generating types for the server-side the names are not too much of an issue but for the client side they become a little bit too ugly to look at.
E.g. `"NewsfeedNewsfeed", "NewsfeedCommentNewsInlineFragment", "AnsweredQuestionAnsweredQuestion", "NotificationFieldsNewCommentInlineFragment", "UserUser" `etc.

Logically it all makes sense generating such names but in terms of readibility I'm afr

[2019-03-04 12:56] zenVentzi opened #1399 "... on FragmentName incorrect types"
**Describe the bug**
The common fields are missing from the fragment type

Example:

[code]

[code]

Logically the fragment ts type is correct but use-wise it's not very useful. For example, I still need to access createdOn and type fields, which is unavailable in the fragment type. Yes, I can start manually adding & {..* the fields missing * } but that is not very handy.

All the code and configu

[2019-03-04 14:15] kamilkisiela commented on #1395
@dotansimha @flisky #1400 should fix it

[2019-03-05 00:41] lgaovf opened #1403 "ISubscriptionResolverObject resolve should allow return of P"
**Describe the bug**
In prisma we must just return parent in the `resolve` function.

[code]

Without the cast to `any` typescript complains:

[code]

Currently it looks impossible to do this, since the generator asks for `R | Result | Promise<R | Result>`, there is no way to return P from resolve.

[code]

### Schema
[code]

**Expected behavior**
I should be able to return the first argument in I

[2019-03-05 08:13] emmenko opened #1404 "Invalid generated ScalarConfig type for flow types"
**Describe the bug**
The generated `ScalarConfig` are invalid for flow types.

**To Reproduce**
Given a scalar type (e.g. `DateTime`), a `DateTimeScalarType` is generated of kind `interface`. However, the `GraphQLScalarTypeConfig` flow type from `graphql` [is a `type`](https://github.com/graphql/graphql-js/blob/d0aaa389bcee3e839f96f901ab56bbccd468c31c/src/type/definition.js#L616-L627), which makes

[2019-03-05 22:40] jeffreyyoung opened #1410 "gql-gen should be saved either as a dev dependency or globally"
**Describe the bug**
The docs say that the module should be installed with the following command: `npm install graphql-code-generator`.   I think it should be installed in either of the following ways:
* as a dev dependency, `npm install -D graphql-code-generator`
* or globally `npm install -g graphql-code-generator`

I thiiiiiiiink since the code generator is only run in development environments,

[2019-03-06 20:06] SekibOmazic commented on #1398
I have the same questions. I've tried with namespaces but then had real difficulties using them in my CRA application (CRA shows me `namespaces are not supported`)
For the time being I gave up and live with "ugly" names like `AnsweredQuestionAnsweredQuestion`

[2019-03-06 23:45] #1403 closed

[2019-03-06 23:47] dobesv opened #1423 "[typescript-graphql-files-modules] Support documents that are not query or mutation in a trivial way"
**Is your feature request related to a problem? Please describe.**

I am using graphql-files-modules so that I can import graphql files from typescript without getting any complaints.

However, for the server-side schema files, this approach doesn't work.  It complains:

[code]

In my project I do use graphql imports on the server side.

**Describe the solution you'd like**

I could see two simple

[2019-03-07 00:01] dobesv opened #1424 "[typescript-graphql-files-modules] Option to support fragments"
**Is your feature request related to a problem? Please describe.**

I am switching over to `typescript-graphql-files-modules` and there are a few places where I import fragments.  This works for me, because I am using https://github.com/detrohutt/babel-plugin-import-graphql and it supports fragments.

**Describe the solution you'd like**

Fragments should also be declared in the modules output by

[2019-03-07 00:34] dobesv commented on #1424
*Workaround*

If a fragment is placed in its own file, you can import it as the default export of that file.

[2019-03-07 00:36] dobesv commented on #1423
*Workaround*

Can use the "add" plugin to insert a fallback declaration, and then exclude the supposedly "invalid" files from your file patterns.  For example:

[code]

[2019-03-07 00:42] micimize commented on #1354
`graphql-to-dart@0.1.0-alpha1` should now work with `0.18.0`

[2019-03-07 03:50] FuNn1esT opened #1425 "[graphql-code-generator] 0.18.0 does not generate client specific types"
**Describe the bug**

graphql-code-generator 0.18.0 will not generate client-specific types from `ts` file

**To Reproduce**

Steps to reproduce the behavior:

1. Use `schema.gql` as schema

[code]

2. Use `test.gql` and `test.ts` as documents

[code]

[code]

3. Use `codegen.yml` as config

[code]

4. Run the following command: `gql-gen --config codegen.yml`

**Expected behavior**

generated file

[2019-03-07 11:59] dstaver opened #1428 "Code samples for ts react apollo with mutations"
Is there a complete code sample for how to use the Hocs for a mutation?

I’m pretty new to graphql and can’t figure out how to actually use these.

[2019-03-07 21:35] adam1658 opened #1431 "typescript-react-apollo: allow document import (rather than using gql tag)"
**Is your feature request related to a problem? Please describe.**
I'd like the ability to provide the GraphQL Document myself, rather than having it copied in and used with the gql tag. Ordinarily I'd use parcel's built in graphql file support (which effectively gives me the JSON results of using graphql-tag at build time, rather than runtime)

**Describe the solution you'd like**
[code]

**Descr

[2019-03-08 09:36] epeli opened #1432 "TypeScript syntax error with inline fragments"
**Describe the bug**

When inline fragments are used in unions with common `__typename` invalid TypeScript code is generated.

Ex.

[code]

with config

[code]

Generates

[code]

Which is not syntactically valid TypeScript.

Error from prettier:

![image](https://user-images.githubusercontent.com/225712/54020172-c9052180-4195-11e9-8dd7-cce2a1c88c69.png)

**To Reproduce**

I've created a [reposito

[2019-03-09 10:31] kgtkr opened #1434 "When fragment is the same type is omitted"
**Describe the bug**
A clear and concise description of what the bug is.
When fragment is the same type is omitted
But __typename does not work properly

**To Reproduce**
Steps to reproduce the behavior:
1. Use '...' as schema
2. Use '...' as documents
[code]
3. Run the following command: `gql-gen ...`

**Expected behavior**
A clear and concise description of what you expected to happen.
[code]

*

[2019-03-10 21:56] elado opened #1436 "typescript-graphql-files-modules generates conflicts when using same .graphql file names"
**Describe the bug**

`typescript-graphql-files-modules` only considers the file name, not the full path, and generates `declare module '*/{filename}'`. If there are multiple files with the same name, e.g. `query.graphql`, multiple `declare module '*/query.graphql'` are generated, which creates conflicts on the return types.

**To Reproduce**

The following file structure:

[code]

Generates

[cod

[2019-03-11 11:57] fetis commented on #713
@NickBolles do you have a proof on that? In connection with GraphQL, I don't think we can get rid of `null`

[2019-03-11 16:24] dotansimha commented on #1431
Hi @adam1658 !
Thank you for opening this issue. We are currently working on refactoring all typescript plugins (see PR: https://github.com/dotansimha/graphql-code-generator/pull/1353 )
We added the ability to use a JSON of the document (`DocumentNode` JSON), does it answer the performance requirements? or do you think the import from another file is the only way to achieve it?

[2019-03-11 16:26] dotansimha commented on #1424
Hi @dobesv !
During the refactor of TypeScript plugins (https://github.com/dotansimha/graphql-code-generator/pull/1353), we fixed this issue :)
See: https://github.com/dotansimha/graphql-code-generator/blob/refactor/typescript/packages/plugins/typescript-graphql-files-modules/src/index.ts#L16

[2019-03-11 16:27] dotansimha commented on #1423
Yeah it should do the trick, but only for a single-document files, and you won't be able to import.
It might be a bit difficult to support this use-case, because the codegen plugins are getting the compiled schema, and not the pieces that created it.
We might be able to add a flat that disables the document type validation, and this way all `.graphql` files will be loaded.

[2019-03-11 16:28] dotansimha commented on #1410
Hi @jeffreyyoung !
You are right, our best-practice is to install the codegen locally in the project, as dev-dependency, and to avoid installing it as global package.

[2019-03-11 16:30] dotansimha commented on #1398
Hi @zenVentzi !
We are currently working on rewriting the TypeScript plugins. We removed `namespace`s completly, and now we are using `Pick<>` to generate the result of queries. It means that each query will have only a single TypeScript `type`, and there will be no duplications/mis-matches/ugly names - only the name of the operation.

[2019-03-11 16:31] dotansimha commented on #1399
@zenVentzi Fixed in the refactor we are doing now: https://github.com/dotansimha/graphql-code-generator/pull/1353 .

[2019-03-11 16:33] dotansimha commented on #1425
Hi @FuNn1esT !
Any chance you can share the code file you are using to store the documents?
We are using https://github.com/DAB0mB/graphql-tag-pluck to extract the documents, and it might be a bug related to it.
@DAB0mB Can you please take a look?

[2019-03-11 16:33] dotansimha commented on #1428
@ardatan can you please assist? :)

[2019-03-11 16:34] dotansimha commented on #1432
Thanks @epeli
We are currently working on a big refactor that will solve all these mis-matches and issues (https://github.com/dotansimha/graphql-code-generator/pull/1353).
We hope to release a beta version in a day or two.

[2019-03-11 16:36] dotansimha commented on #1434
I think we fixed it during the refactor (still WIP): https://github.com/dotansimha/graphql-code-generator/pull/1353

To make sure, can you please provide a schema matches your types? are you using interfaces or unions for the fragment matching?
Also, can you please provide an example of the output you are expecting?

[2019-03-11 16:37] dotansimha commented on #1165
Also fixed in the latest refactor: https://github.com/dotansimha/graphql-code-generator/pull/1353

[2019-03-11 16:38] dotansimha commented on #1436
Hi @elado !
Thank you for reporting this issue. @dobesv already reported it: https://github.com/dotansimha/graphql-code-generator/issues/1165 and we already fixed it in the latest refactor (https://github.com/dotansimha/graphql-code-generator/pull/1353). We hope to release it very soon.

[2019-03-11 16:38] #1436 closed

[2019-03-11 16:39] dotansimha commented on #1393
@kamilkisiela can we fix it in the new ts-resolvers plugin?

[2019-03-11 16:41] dotansimha commented on #1394
Hi @lim-enhui !
In general, I think your API of `sendMessage` should return the newly created message object, instead of `String!`. It's a better way to use GraphQL and it's powerful features.
I didn't understand what do you mean by adding an object? how do you use the codegen? can you please add your `codegen.yml` file? Please try to follow our template for bug reports/questions.

[2019-03-11 16:48] kamilkisiela commented on #1393
@dotansimha of course!

[2019-03-11 17:15] kamilkisiela commented on #1393
@Akryum Does #1439 look good? I assumed `fragment` is always a `string` and `resolve` is a regular resolver function and required. Is that correct?

[2019-03-11 17:42] NickClark commented on #713
@fetis I assume you meant me. Yes. A lot of TS even non-TS projects shy away from `null`. The Typescript project itself doesn't use `null` ([TS guidelines](https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines#null-and-undefined)) and even Crockford doesn't use `null` anymore ([video](https://www.youtube.com/watch?v=PSGEjv3Tqo0&feature=youtu.be&t=9m21s)) That being said... after consideri

[2019-03-11 17:48] Akryum commented on #1393
That's correct! :)

[2019-03-11 17:51] anrw opened #1442 "Type implementing interface gives a union of fragment types instead of intersection"
**Describe the bug**
When a type is implementing interface and fragments of different types are requested - codegen is generating a union of fragment types instead of intersection.

**To Reproduce**

Schema:
[code]
2. Documents:
[code]

3. Generated types:
![img](https://i.imgur.com/FMDORkn.png)

**Expected behavior**
[code]

**Environment:**
 - Codegen: 0.18.0

[2019-03-11 20:58] lim-enhui commented on #1394
yes i am using code gen. it just gives me error. do you have an example to implement an object?

[2019-03-11 21:26] adam1658 commented on #1431
Including the document JSON rather than the document string would be ideal. Thanks @dotansimha

[2019-03-11 21:39] adam1658 commented on #1116
Here's how I've solved this in my codebase:
Rather than using the graphql-code-generator CLI with a wildcard for all my documents, I run it using the API, once for each document:

[code]
It's a new project so I have very few documents at the moment, and I haven't seen how well it scales yet.

[2019-03-12 02:19] FuNn1esT commented on #1425
I've includes all files in ISSUE description.

The minimum reproduce project structure is

[code]

`types-from-gql.ts` and `types-from-ts.ts` files were generated.

[2019-03-12 10:51] kgtkr commented on #1434
expecting:
[code]

[2019-03-12 17:00] Hotell opened #1449 "typescript-react-apollo - component definitions are not generated when documents are defined within ts file"
**Describe the bug**
When documents reside within 'ts' files, which are defined via standard ```
const = GET_FOO = gql`query Foo{}`
```, no React components are generated. If I extract those queries to separate files `.gql` it works.

**To Reproduce**
Steps to reproduce the behavior:
1. Use './schema.json' as schema
2. Use './src/**/*.{ts,tsx}' as documents
3. Run the following command: `gql-gen g

[2019-03-13 09:18] panzelva commented on #1133
Hello, I am not sure if relevant to this issue, but I am getting this error:

![I50M6A7U6s](https://user-images.githubusercontent.com/28455278/54266773-57075080-4578-11e9-80f7-a38f2ac0a8ce.png)

I am using `typescript@3.3.3333` and `graphql-code-generator@0.18.0`

[2019-03-13 16:11] danfernand opened #1453 "Subscription generated types are wrong"
**Describe the bug**
When generating types from a subscription the types expect something inconsistent with what async iterator returns

Take the below example

Schema
[code]

Resolver
[code]
Pubsub publish expects that there will be a wrapper, `postAdded` in the above example that is needed to publish

The generated types do not include this wrapper and make subscription resolvers type incorrect

[2019-03-13 18:21] Akryum opened #1454 "Interface Resolver should allow defining field resolvers alongside __resolveType"
**Describe the bug**
Currently the type generated for the resolvers of an interface contains only `__resolveType` despite the interface having resolvable fields.

It's possible with Apollo Server to write resolvers for an interface so that all implementations share those:

[code]

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

Which throws this Typescript error:

[code]

**Expe

[2019-03-13 18:52] Jonatthu commented on #1395
Very nice I will be waiting for this release!

[2019-03-13 18:52] stomvi commented on #489
I am still getting optional `parent`, `args` and `context` using `graphql-codegen-flow-resolvers`.

"graphql-codegen-flow": "^0.18.0",
"graphql-codegen-flow-resolvers": "^0.18.0",

[2019-03-14 07:46] kfrajtak commented on #394
I got this error when `.graphql` files contained MongoDB related directives like `@entity` or `@column`. After removing those the error went away.

[2019-03-14 15:50] MartinPavlik opened #1462 "Unable to use union as an argument of a directive"
**Describe the bug**
Hi, I'm trying to write my custom plugin and I'm having problem with using

Schema:
[code]

codegen.yml
[code]

Then I run the schema thru graphql-codegen and it crashes with this error:
![error](https://user-images.githubusercontent.com/7362265/54370582-227abe00-4678-11e9-8de3-50d8d30cbcea.png)

It's weird that the plugin `schema-ast` has no problem with it, but `typescript-c

[2019-03-14 16:53] stevenmusumeche opened #1464 "Required input is typed as optional"
I have a basic query definition with a required input type:

[code]

Based on this schema, a call to the product resolver will always have an input object in the shape of `ProductInput`.

When generating the TS definitions, however, I get the following:

[code]

Why is it `input?` instead of `input` when that field is guaranteed by GraphQL to be set?

[2019-03-14 19:19] stevenmusumeche commented on #1464
My schema was not being updated due to a babel cache issue, and that's why the typegen was "wrong".

[2019-03-14 19:19] #1464 closed

[2019-03-14 20:10] NickClark commented on #1350
Super excited to see this merged in! In my enthusiasm I decided to try `0.19.0-alpha.07841c6`! But no cigar. I get a `is_glob_1.default is not a function` error when trying to run the generator. I know this is an alpha, just wanted to make sure it was on your radar

[2019-03-14 20:38] Jonatthu commented on #643
@dotansimha 0.19.0-alpha.e87c7ccf in this version the services are being generated like this:

[code]
They should be like this:

[code]

[2019-03-14 21:31] fridolin-koch opened #1469 "Angular global config for providedIn and namedClient"
**Is your feature request related to a problem? Please describe.**

I'm using nrwl/nx to encapsulate different API clients into libraries. This leads to every query and mutation being annotated with two directives.

**Describe the solution you'd like**

It would be easier and way cleaner to provide these options globally inside the configuration file, e.g.:

[code]

**Describe alternatives you've

[2019-03-14 22:52] NickClark commented on #1350
@ardatan Nice! Tried `0.19.0-alpha.85ff402e`, and #1468 seems to have done the trick. Everything except one plugin seems to be working for me now. When using `typescript-apollo-angular` I now get an error: `indent_string_1.default is not a function`

[2019-03-15 10:43] alexcibotari commented on #1318
hello @dotansimha, can you please show an example how to integrate prettier.

[2019-03-15 12:06] xzyfer opened #1473 "Scalar types in union are not converted to Typescript"
**Describe the bug**
Scalar types in `union` are not converted to Typescript.

**To Reproduce**
1. Go to https://graphql-code-generator.com/
2. Select `TypeScript (Server)`
3. Paste the following into the "Schema" panel

[code]

**Expected behavior**
[code]

**Schema/Documents**
[code]

[code]

[2019-03-15 12:42] shlomiatar commented on #1425
We ran into the same issue.
Diving into the graphql-tag-pluck readme, we found that the package looks for `gql` tags that were imported from graphql-tag or a few other modules, or a global `graphql` tag.

We use our own "helper" package for importing the gql tag, so graphql-tag-pluck just skip it.

Now I'm checking to see if there's any way to pass options from the codegen.yml to the graphql-tag-p

[2019-03-15 15:23] subhash commented on #1219
@ajordanow I am not able to understand where you would set this option? Is it part of the config for any of the plugins?

[2019-03-15 16:54] ardatan commented on #1350
Could you try again with the latest canary? @NickClark

[2019-03-15 17:06] pdobrigkeit opened #1476 "Correct update parameters in mutation"
Hey, I am starting to use the Code Generator for Angular.

I have a basic query

    mutation upsert_test($test: String!) {
      insert_test(objects: [{test: $test}]) {
        affected_rows
        returning {
          id
          test
        }
      }
    }

I generated a Mutation Service using the angular plugin

    @Injectable({
      providedIn: "root"
    })
    export class UpsertTestG

[2019-03-16 07:55] dotansimha commented on #1476
@kamilkisiela can you please take a look?

[2019-03-16 07:56] dotansimha commented on #1469
@kamilkisiela

[2019-03-16 07:59] dotansimha commented on #1462
Hi @MartinPavlik
The `Unkown type` error comes directly from `graphql`. Any chance you can create a repo with a reproduction?
Also, we welcome you to use the latest alpha version, it has better way to implement plugins than `schemaToTemplateContext` (using AST visitor).
It's still in alpha, but the updates docs are available here: https://5c8bd8a4a550500008ff7d95--graphql-code-generator.netlify.co

[2019-03-16 08:01] dotansimha commented on #1454
Thank you for reporting it @Akryum !
We are currently working on a big refactor for the TypeScript packages, so we'll fix this issue there.

[2019-03-16 08:09] #1425 closed

[2019-03-16 08:10] dotansimha commented on #1449
Hi @Hotell !
We noticed this issue before, and it seems like it's the same issue as: https://github.com/dotansimha/graphql-code-generator/issues/1425

Please refer to the suggested solution there.

In your case, adding the following to your config file should do the trick:
Thanks @shlomiatar , I think you are right. A few weeks ago, @kamilkisiela added the ability to pass configuration to `graphql

[2019-03-16 08:10] #1449 closed

[2019-03-16 08:14] dotansimha commented on #1442
Hi @anrw !
Thank you for reporting this issue.
We are currently working on a big refactor for TypeScript plugins, and we also fixed this issue.
It's not correct that we always need to use `&`, because it cases where GraphQL interfaces or GraphQL unions are in user, and there are more fields, it should be both `|` and `&`.
In the current refactor we added a code that handles it  (https://github.com

[2019-03-16 08:16] dotansimha commented on #1318
@alexcibotari just make sure to install `prettier` as a dependency, that's it.

[2019-03-16 08:18] dotansimha commented on #643
@Jonatthu the alpha version you are using is the latest refactor, and it should output without any namespaces at all.

[2019-03-16 10:22] kamilkisiela commented on #1469
https://github.com/dotansimha/graphql-code-generator/pull/1477

[2019-03-16 10:23] kamilkisiela commented on #1041
It's going to be fixed in the upcoming release, right @dotansimha ?

[2019-03-16 14:05] Jonatthu commented on #643
@dotansimha Well it is having typescript issues or bugs like this, this is giving me a compilation error

[2019-03-16 14:29] FredyC commented on #643
@Jonatthu You shouldn't be probably using alpha version if you look for stability ;) Either way, namespaces are going to be dropped, so you will either have to adapt or stick to a current version for a while.

[2019-03-16 19:51] opiation commented on #1338
I'm not sure if this is best served in a new issue but it seems related to this issue.  According to the [docs regarding the `interfacePrefix` config][0], I get the impression that only interfaces would be prefixed:

In addition to the documentation, it's rather unusual in TypeScript conventions for enums to be prefixed like interfaces.  While the generated TypeScript now compiles after #1355, I s

[2019-03-16 20:30] revskill10 opened #1480 "Question: How to save remote schema into graphql file ?"
**Describe the bug**
This is not a bug, but i'm confused with the deprecation of `introspection-template`.
With `introspection-template`, i could see `gql-gen` save the remote schema into a `graphql` file.
But now, i couldn't find any options to save the remote schema into local graphql file.

**To Reproduce**

My `codegen.yml` is
[code]

[2019-03-17 02:45] mikecann opened #1481 "Following Getting Started Crashes with Simple Apollo Server"
Hi,

I have a very basic Apollo server (literally hello world using "apollo-server-express": "^2.4.8"), followed the very first steps of the guide (using gql-gen init) from here: https://graphql-code-generator.com/docs/getting-started/

Upon running `gql-gen --config codegen.yml` I get the following error:

[code]

Package.json:
[code]

codegen.yml
[code]

index.ts
[code]

[2019-03-17 02:54] mikecann commented on #1481
Ah.. Okay I think I have worked it out. Its an SSL error so the config schema should read this:

`schema: "http://localhost:4000/graphql"` perhaps the cli `init` should hint at this?

the cli also defaults to the generated files going in `src/generated/graphql.ts` but then errors if that folder doesnt exist, it probably should create the folder for you no?

[2019-03-17 06:36] NickClark commented on #1350
@ardatan I tried ``, but it seems to have the same issue. I then manually edited module (removed all the `.default`'s), so I would have expected your fix to work. Did the right version get deployed to npm? Also, I found out, that even with that fix, I now get an issue with my fragments:

[code]

My current deps:
[code]
But the lock file seems to be using the wrong deps?

[2019-03-17 07:45] dotansimha commented on #1480
Hi @revskill10 !

We have a plugin called `schema-ast`, see the docs here: https://graphql-code-generator.com/docs/plugins/schema-ast

[2019-03-17 07:45] #1480 closed

[2019-03-17 07:46] dotansimha opened #1482 "Codegen should create output directory if it does not exists"
Related to: https://github.com/dotansimha/graphql-code-generator/issues/1481#issuecomment-473611149

[2019-03-17 07:46] dotansimha commented on #1481
@mikecann I create an issue for the directory: https://github.com/dotansimha/graphql-code-generator/issues/1482

Regarding the SSL error, how can we handle it? It looks like your GraphQL endpoint should work with SSL, but something it wrong with it's configuration.

[2019-03-17 10:08] mikecann commented on #1481
@dotansimha not sure. I guess this error just looks odd:

[code]

It probably should be something like "cannot find endpoint, are you sure you have the path to the graphql server correct" or something instead?

But not a big deal. Feel free to close.

[2019-03-17 17:19] brabeji commented on #1442
Hello @dotansimha I'm running the latest `alpha` (kudos for publishing alpha commits!) I believe that in a more extreme case of fragments on union type, where united types share common interface, generated types are incorrect:

Schema:
[code]

Documents:
[code]

Config:
[code]

I expect the resulting `AQueryQuery['widgets'][0]` type to have an `id` field.

Trying this in https://5c8bd8a4a550500008

[2019-03-18 07:42] #1481 closed

[2019-03-18 07:50] dotansimha commented on #1462
Added test and fixed it: https://github.com/dotansimha/graphql-code-generator/pull/1483

[2019-03-18 07:55] dotansimha commented on #1482
Fixed it: https://github.com/dotansimha/graphql-code-generator/pull/1483

[2019-03-18 07:56] dotansimha commented on #1473
Fixed it: https://github.com/dotansimha/graphql-code-generator/pull/1483

[2019-03-18 08:17] dotansimha commented on #1454
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/1483

[2019-03-18 08:20] dotansimha commented on #985
Closing for now, we fixed in the recent release.

[2019-03-18 08:20] #985 closed

[2019-03-18 08:20] dotansimha commented on #991
Fixed in the recent refactor, will release soon.

[2019-03-18 08:21] #1045 closed

[2019-03-18 08:22] dotansimha commented on #1070
Fixed in the recent refactor. we will release it soon.

[2019-03-18 08:23] dotansimha commented on #1075
We removed namespaces completely in the recent refactor. we will release it soon.

[2019-03-18 08:23] dotansimha commented on #1089
Fixed in the recent refactor. we'll release it soon.

[2019-03-18 08:24] dotansimha commented on #1107
@FredyC closing for now. You can use `graphql-inspector`, and I think it can provide better experience by integrating it with GitHub Actions.

[2019-03-18 08:24] #1107 closed

[2019-03-18 08:24] dotansimha commented on #1119
Fixed in the recent refactor.

[2019-03-18 08:25] dotansimha commented on #1120
Fixed in the recent refactor :)

[2019-03-18 08:26] dotansimha commented on #1121
Fixed in the recent refactor. we now override `__typename` and we are using brackets with `|` when fragments for different types are used, it also means that you can get better fragments matching and the correct `__typename`.

[2019-03-18 08:27] dotansimha commented on #1141
Closing for now. `mappers` are way better than it was before, and you can always override types using generics.

[2019-03-18 08:27] #1141 closed

[2019-03-18 08:27] dotansimha commented on #1144
@aniknafs Closing for now. Please feel free to open a new issue it it's still relevant.

[2019-03-18 08:27] #1144 closed

[2019-03-18 08:29] dotansimha commented on #1208
Fixed in the recent refactor, we also have a package for the executor and a package for the cli. The executor is able to run without any cli deps. @ardatan also added tree shaking and bundling so it will work  WAY faster when we'll release and deploy it (about 1-2 sec to load).

[2019-03-18 08:29] dotansimha commented on #1210
Types will be available from the next release, and you can force `__typename` with a configuration.

[2019-03-18 08:30] dotansimha commented on #1212
No more handlebars, so we can close it after the next release.

[2019-03-18 08:32] dotansimha commented on #1219
I'll summarize the point of this issue:
- You can use generics to override the return/parent/context.
- If you don't want to use generics, you can use `mappers` feature to override specific types with custom typescript type/interface.

There was a bit mixup in the issue regarding `mappers`, so please read the comments and if you're still having issues with it - feel free to open a new issue :)

[2019-03-18 08:32] #1219 closed

[2019-03-18 08:33] dotansimha commented on #1249
I think it was fixed in the recent refactor, also we fixed something related to it in `graphql-toolkit`.

[2019-03-18 08:34] dotansimha commented on #1281
Fixed in the recent refactor.

[2019-03-18 08:35] dotansimha commented on #1298
Implement by @kamilkisiela in the recent refactor, it will be available soon.

[2019-03-18 08:35] dotansimha commented on #1304
Fixed in the recent refactor :)

[2019-03-18 08:36] dotansimha commented on #1350
@NickBolles can you please share the fragment file? and your `.yml` config?

[2019-03-18 08:37] dotansimha commented on #1351
@zelid can you please try the latest version? it might help you see the actual error.
Also, we recently re-wrote the entire ts plugin, it should also fix this issue.

[2019-03-18 08:38] dotansimha commented on #1387
@jerlam06 Closing for now. Feel free to open a new issue if it's still relevant.

[2019-03-18 08:38] #1387 closed

[2019-03-18 08:39] dotansimha commented on #1378
Fixed in the recent refactor, we'll release it soon.

[2019-03-18 08:40] dotansimha commented on #1393
Implemented by @kamilkisiela in the recent refactor, it will be available soon.

[2019-03-18 08:45] dotansimha commented on #1394
@lim-enhui Please share your yml config file, your schema and operation.

[2019-03-18 08:50] dotansimha commented on #1432
Fixed in the recent refactor :)

[2019-03-18 09:21] FredyC commented on #1107
@dotansimha That's cool, but we don't use GitHub for production apps. Although we might switch given it's getting better and better with Microsoft intervention and there are private repos for free also.

[2019-03-18 09:53] MartinPavlik commented on #1462
@dotansimha Thanks

[2019-03-18 11:33] nathanforce commented on #1219
@dotansimha due to #1041, the solutions you mentioned above are incomplete. I’m currently solving this issue by using genetics to manually fix the mappings that were missed. It’s not the end of the world but I thought I’d mention it here for future sake.

[2019-03-18 11:46] pdobrigkeit commented on #1476
I am certain I tried this before, but now it seem to work without further imports

    this.upsertTestGQL.mutate({ test: 'mnop' }, {
      update: (store, {data: { insert_test } }) => {
        // Read the data from our cache for this query.
        const data: MyTest.Query = store.readQuery({ query: this.testGQL.document });
        // Add our comment from the mutation to the end.
        data.te

[2019-03-18 11:46] #1476 closed

[2019-03-18 13:07] dotansimha commented on #1219
@nathanforce can you please open a new issue with an updated example?

[2019-03-18 13:08] dotansimha commented on #1107
@FredyC what do you use? maybe @kamilkisiela can help with that

[2019-03-18 13:32] kamilkisiela commented on #1107
@FredyC I could support Bitbucket but I would need some help

[2019-03-18 14:47] FredyC commented on #1107
Yea, we do use BitBucket, but don't worry about it now. Currently, I am just running inspector check after schema update, it's sufficient for now.

[2019-03-18 15:20] dotansimha commented on #151
@simPod we fixed this issue in the recent refactor, it will be available very soon in 1.0.0.

[2019-03-18 15:20] dotansimha commented on #642
@brandondoran we fixed this issue in the recent refactor, it will be available very soon in 1.0.0.

[2019-03-18 15:23] dotansimha commented on #583
@mikebm it looks like your custom schema loader has an issue, because it thrown an error while building the schema. The ` Unknown directive "internal".` error comes directly from `graphql`.
Can you please try the latest version of the codegen and see if it still happens?
Also, does it happen with the default loader?

[2019-03-18 15:27] dotansimha commented on #977
@robbyemmert I completely agree. One of the reasons it's hard to avoid these breaking changes it the way we previously wrote the codegen core and plugins. We recently did a complete refactor to the core and all plugins, and now it's easier to test and it almost fail-proof (because we are compiling every output in the unit tests with typescript compiler, and we know about most of the issues before

[2019-03-18 15:31] dotansimha commented on #1152
In the recent refactor, we removed `namespace`s completely, so now everyone should be able to use it without loosing the ability to use other features.

[2019-03-18 15:32] dotansimha commented on #1096
@bhaidar does it still happens? If so, can you please open a new issue with more details?

[2019-03-18 15:34] dotansimha commented on #1133
@panzelva it was fixed in the recent refactor, and it will be available soon in 1.0.0.

[2019-03-18 15:35] dotansimha commented on #489
@stomvi why shouldn't they be optional? You don't have to declare all of them in each resolver.

[2019-03-18 15:37] dotansimha commented on #1338
@opiation you are right. It was due to the fact that `interface` referred to the TypeScript `interface`s we are generating, and not the GraphQL `interface`s.
In the recent refactor we changed it's name to be `typesPrefix` because we are generating TypeScript `type`s instead of `interface`s.

[2019-03-18 15:39] dotansimha commented on #1107
@FredyC don't worry, @kamilkisiela already planned to support BitBucket: https://github.com/kamilkisiela/graphql-inspector/issues/54 ;)

[2019-03-18 15:54] simPod commented on #151
@dotansimha looking forward, thanks for update!

[2019-03-18 16:32] NickClark commented on #1350
@dotansimha Assuming you're talking to me 😉... I'll see if I can make a simpler reproduction of the issue. Also, I'm still getting the following when printing out errors:

[code]
I've kinda hijacked this issue... should I move this to a dedicated issue? Wasn't sure, since this all alpha stuff.

[2019-03-18 17:09] NickClark commented on #1350
@dotansimha Here's a minimal reproduction. You may need to open a new terminal and run `yarn start` manually. I believe this shows both the `indent_string_1.default is not a function` and the fragment issue

[![Edit 4rzr0rky44](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/4rzr0rky44?fontsize=14&module=%2Fcodegen.yml&view=editor)

[2019-03-18 17:59] lirbank opened #1488 "immutableTypes does not make arguments readonly"
**Describe the bug**
Input types are not set to `readonly`. All other types seem to be correctly marked `readonly`/`ReadonlyArray`.

Input:
[code]

Output:
[code]

Expected:
[code]

[2019-03-18 18:38] blakeembrey commented on #1298
I think I found the change but an array is iterable, it seems redundant to specify array or iterable.

[2019-03-19 06:59] dotansimha commented on #1298
@kamilkisiela ^ ?

[2019-03-19 07:28] dotansimha commented on #1488
Hi @lirbank ! Thank you for reporting it.
We are currently working on a big refactor for the TypeScript plugins, and preparing for a 1.0 release.
I fixed it here: https://github.com/dotansimha/graphql-code-generator/pull/1484/commits/c8b59c8737fdc9e68dd8dbb3b8640ef4d64b7aaf
It will be available soon.

[2019-03-19 07:31] dotansimha opened #1490 "Move to scoped npm packages (`@graphql-codegen/...`)"
As part of the 1.0 release, we plan to rename all package and use scope packages.

`graphql-code-generator` => `@graphql-codegen/cli`
`graphql-codegen-typescript` => `@graphql-codegen/typescript`

Related: https://github.com/dotansimha/graphql-code-generator/pull/1484

[2019-03-19 07:38] kamilkisiela commented on #1350
@NickClark I checked your example and the `master` branch has a fix, you can try it yourself under `0.19.0-alpha.dd5bacfd` (pin dependencies).

[2019-03-19 07:39] kamilkisiela commented on #1298
@blakeembrey So if Array is Iterable then why to use Iterable in a first place?

[2019-03-19 15:27] blakeembrey commented on #1298
Because Array implements Iterable, Iterable does not implement Array.

[2019-03-19 15:32] dotansimha commented on #1298
So basically, @blakeembrey we can use just `Iterable`? are you sure it's compatible with all TypeScript configurations?

@kamilkisiela

[2019-03-19 15:56] NickClark commented on #1350
...of course! 🤦‍♂️  Thanks!

[2019-03-19 15:58] NickClark commented on #1350
Looking over the output... Good work guys! Also love that Class documents are exported separately now!

[2019-03-19 16:10] NickClark commented on #1350
Looks like the enums config has changed... checking...

[2019-03-19 16:12] dotansimha commented on #1490
Done in 1.0.0 :)

[2019-03-19 16:12] #1490 closed

[2019-03-19 16:13] dotansimha commented on #1488
Fix available in 1.0.0 👍

[2019-03-19 16:13] #1488 closed

[2019-03-19 16:13] dotansimha commented on #1482
Fix available in 1.0.0 👍

[2019-03-19 16:13] #1482 closed

[2019-03-19 16:13] dotansimha commented on #1473
Fix available in 1.0.0 👍

[2019-03-19 16:13] #1473 closed

[2019-03-19 16:13] dotansimha commented on #1469
Available in 1.0.0 👍

[2019-03-19 16:13] #1469 closed

[2019-03-19 16:13] dotansimha commented on #1462
Fix available in 1.0.0 👍

[2019-03-19 16:13] #1462 closed

[2019-03-19 16:13] dotansimha commented on #1454
Fix available in 1.0.0 👍

[2019-03-19 16:13] #1454 closed

[2019-03-19 16:13] dotansimha commented on #1442
Fix available in 1.0.0 👍

[2019-03-19 16:13] #1442 closed

[2019-03-19 16:14] dotansimha commented on #1434
Fix available in 1.0.0 👍

[2019-03-19 16:14] #1434 closed

[2019-03-19 16:14] dotansimha commented on #1432
Fix available in 1.0.0 👍

[2019-03-19 16:14] #1432 closed

[2019-03-19 16:14] dotansimha commented on #1431
Fix available in 1.0.0 👍

[2019-03-19 16:14] #1431 closed

[2019-03-19 16:14] dotansimha commented on #1424
Fix available in 1.0.0 👍

[2019-03-19 16:14] #1424 closed

[2019-03-19 16:14] dotansimha commented on #1423
Fix available in 1.0.0 👍

[2019-03-19 16:14] #1423 closed

[2019-03-19 16:14] dotansimha commented on #1410
Fix available in 1.0.0 👍

[2019-03-19 16:14] #1410 closed

[2019-03-19 16:15] dotansimha commented on #1399
Fix available in 1.0.0 👍

[2019-03-19 16:15] #1399 closed

[2019-03-19 16:15] dotansimha commented on #1378
Fix available in 1.0.0 👍

[2019-03-19 16:15] #1378 closed

[2019-03-19 16:15] dotansimha commented on #1398
Fix available in 1.0.0 👍

[2019-03-19 16:15] #1398 closed

[2019-03-19 16:15] dotansimha commented on #1395
Fix available in 1.0.0 👍

[2019-03-19 16:15] #1395 closed

[2019-03-19 16:15] dotansimha commented on #1393
Fix available in 1.0.0 👍

[2019-03-19 16:15] #1393 closed

[2019-03-19 16:16] dotansimha commented on #1351
@zelid we did a lot of fixes in 1.0.0, please try it and reopen if it still happens.

[2019-03-19 16:16] #1351 closed

[2019-03-19 16:16] dotansimha commented on #1350
1.0.0 is available now 👍

@NickClark Please open a new issue if something is wrong :)

[2019-03-19 16:16] #1350 closed

[2019-03-19 16:17] dotansimha commented on #1304
Fix available in 1.0.0 👍

[2019-03-19 16:17] #1304 closed

[2019-03-19 16:17] dotansimha commented on #1298
Available in 1.0.0 👍

[2019-03-19 16:17] #1298 closed

[2019-03-19 16:17] dotansimha commented on #1281
Fix available in 1.0.0 👍

[2019-03-19 16:17] #1281 closed

[2019-03-19 16:17] dotansimha commented on #1208
Fix available in 1.0.0 👍

[2019-03-19 16:17] #1208 closed

[2019-03-19 16:17] dotansimha commented on #1165
Fix available in 1.0.0 👍

[2019-03-19 16:17] #1165 closed

[2019-03-19 16:17] dotansimha commented on #1210
Fix available in 1.0.0 👍

[2019-03-19 16:17] #1210 closed

[2019-03-19 16:17] #1212 closed

[2019-03-19 16:17] dotansimha commented on #1249
Fix available in 1.0.0 👍

[2019-03-19 16:17] #1249 closed

[2019-03-19 16:17] dotansimha commented on #1121
Fix available in 1.0.0 👍

[2019-03-19 16:17] #1121 closed

[2019-03-19 16:18] dotansimha commented on #1119
Fix available in 1.0.0 👍

[2019-03-19 16:18] #1119 closed

[2019-03-19 16:18] dotansimha commented on #1120
Fix available in 1.0.0 👍

[2019-03-19 16:18] #1120 closed

[2019-03-19 16:18] dotansimha commented on #1089
Fix available in 1.0.0 👍

[2019-03-19 16:18] #1089 closed

[2019-03-19 16:18] dotansimha commented on #1075
Fix available in 1.0.0 👍

[2019-03-19 16:18] #1075 closed

[2019-03-19 16:18] dotansimha commented on #1070
Fix available in 1.0.0 👍

[2019-03-19 16:18] #1070 closed

[2019-03-19 16:18] samdenty commented on #1210
@dotansimha Is there documentation on the new feature? or what's the new option called

[2019-03-19 16:18] dotansimha commented on #1053
Fix available in 1.0.0 👍

[2019-03-19 16:18] #1053 closed

[2019-03-19 16:18] dotansimha commented on #1041
Fix available in 1.0.0 👍

[2019-03-19 16:18] #1041 closed

[2019-03-19 16:18] dotansimha commented on #991
Fix available in 1.0.0 👍

[2019-03-19 16:18] #991 closed

[2019-03-19 16:18] dotansimha commented on #964
Fix available in 1.0.0 👍

[2019-03-19 16:18] #964 closed

[2019-03-19 16:20] dotansimha commented on #713
Thank you @fetis for a great idea. It took some time, but we are finally there.
All plugins are now (1.0.0) using `Pick` - the generated code is much simpler and it resolved so many issues.

[2019-03-19 16:20] #713 closed

[2019-03-19 16:22] dotansimha commented on #1297
Updated the docs :)

[2019-03-19 16:22] #1297 closed

[2019-03-19 16:22] dotansimha commented on #1293
@thunderousNinja Since 1.0.0, you can provide `scalars` and it will work :)

[2019-03-19 16:22] #1293 closed

[2019-03-19 16:23] #1140 closed

[2019-03-19 16:26] dotansimha commented on #1210
@samdenty `__typename` is added by default for all generated types of `typescript-operations`.
You can set `skipTypename: true` to disable.
The new website and docs are being deployed right now, and will be available in a few minutes.

[2019-03-19 16:29] NickClark commented on #1350
Yay!

[2019-03-19 16:36] kamilkisiela commented on #1394
H1 @lim-enhui :) I think I know what you're trying to achieve here.

When you define this on the server:

[code]

You need to use `CreateMessageInput` on the client too, but you don't have to define it anywhere else. So in order to consume the `sendMessage` mutation in the app you do:

[code]

GraphQL understands how `$data` should look like.

Could you correct me if I'm wrong? We're here to help

[2019-03-19 16:38] P4sca1 opened #1494 "No plugins where a target is not selected init command"
**Describe the bug**
I just started learning GraphQL and saw this package.
I realized that `v1.0.0` just got released and gave it a try.

**To Reproduce**
Steps to reproduce the behavior:

1. `npm i -D @graphql-codegen/cli`
2. `npx grapql-codegen init`
3. Press enter (doesn't matter what you select here afaik).
4. Type `./schema.graphql` (doesn't matter what you type here afaik).
5. There are no p

[2019-03-19 16:43] samdenty commented on #1210
@dotansimha I just updated to the latest version, and I don't understand how this allows me to use a generic to get the argument types for a specific field on the generated output.

[code]

[2019-03-19 16:47] dotansimha commented on #1210
@samdenty What's the problem with importing `QueryGetUserArgs`?
I mean, we can always add `Query['__args']` or something and point to `QueryGetUserArgs`, and this way you'll import only `Query`, but I don't think it matters, because there are just TypeScripr `type`s and they are being stripped while compiling the TS code.

[2019-03-19 16:56] epeli commented on #1432
Yay, thank you!

[2019-03-19 16:56] samdenty commented on #1210
@dotansimha For my specific use case, I've created a library that auto-generates graphql queries using ES6 proxies. It uses the generated query type in `useQuery<Data>`, to automatically makes everything else type safe.

Without this feature, the only way to get type safety on `getUser({ id })` is to manually import a specific arg interface with `getUser<QueryGetUserArgs>({ id })`.

With this feat

[2019-03-19 17:04] NickClark opened #1495 "Typescript Enum config no longer working in 1.0"
**Describe the bug**
Adding a custom enum to the the typescript plugin config no longer works

**To Reproduce**
Steps to reproduce the behavior:

1. Add an enum to your schema
2. Add a custom enum file
3. Add the mapping to your config

Example project:
[![Edit Broken Custom Enums](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/4w0xy04wqx?fontsize=14&module=%2Fco

[2019-03-19 17:08] kamilkisiela commented on #1494
One thing I noticed is an incorrect path to `package.json` but other than that it works:

https://codesandbox.io/s/wy21wxrpjk?expanddevtools=1&fontsize=14&hidenavigation=1&view=preview

Try to open a new terminal and type `yarn gql-gen init`.

[2019-03-19 17:14] P4sca1 commented on #1494
Could you check whether it works for you with `npx`?

[2019-03-19 17:16] kamilkisiela commented on #1494
I updated the example to have `npx` installed and it works too

[2019-03-19 17:38] ardatan commented on #1428
You can use `withYourMutationName` that is generated with `react-apollo` plugin.
[code]

[2019-03-19 17:48] ardatan opened #1497 "[TypeScript-Resolvers] __resolveType doesn't have a correct signature"
Schema
[code]

Generated
[code]

Expected
[code]

Usage
[code]

[2019-03-19 17:52] ardatan opened #1498 "[TypeScript-Resolvers] Same imported type for different GraphQL types"
Before 1.0.0, it was working as expected.

codegen.yml
[code]

Result
[code]

And this causes `Duplicate identifier 'UserEntity'.` error.

[2019-03-19 18:00] P4sca1 commented on #1494
I can't get CodeSandbox to load properly so I can't test your example.

[2019-03-19 18:35] stramel opened #1499 "Not generating Components or Documents"
**Describe the bug**
After upgrading from 0.18.0 to 1.0.0 Documents and Components are no longer generating. It is generating types and enums.

**To Reproduce**
Steps to reproduce the behavior:

1. Updated the `package.json` from:

[code]

to

[code]

2. Update `codegen.yml` from: (NOTE: `generates` section has been simplified)

[code]

to

[code]

3. Run `gql-gen`

**Expected behavior**
Types, En

[2019-03-19 18:36] kamilkisiela commented on #1494
https://codesandbox.io/s/wy21wxrpjk

Does the download button work in there?

This is what codesandbox produced for me:
https://github.com/kamilkisiela/gql-gen-init

[2019-03-19 18:37] kamilkisiela commented on #1494
I also added integration tests in #1496

[2019-03-19 18:44] stramel commented on #1499
Found the issue after some more debugging but I'm not sure why this is breaking it where as it previously worked fine.

[code]

When I remove `- add: //tslint:disable` it works as expected.

[2019-03-19 19:08] P4sca1 commented on #1494
Here's what I did:

1. Cloned the repo
2. `npm install`
3. `npx gql-gen init`

Still the same issue.
Could it be because I am using oh-my-zsh?

[2019-03-19 19:18] SirensOfTitan commented on #1041
Hmm @dotansimha: mapper types still don't seem to apply in the case I listed above with 1.0.0.

(Really really appreciate all of your hard work with this library by the way!)

[2019-03-19 19:38] kamilkisiela commented on #1494
I see why it might not work, did you select an option in the first question? Hitting `space` selects an item but pressing `enter` goes to the next question without selecting anything.

[2019-03-19 19:46] kamilkisiela commented on #1494
#1500 should prevent it

[2019-03-19 20:19] leebenson opened #1502 "fragment-matcher error in 1.0.0"
In v1.0.0, fragment-matcher errors where in 0.18.0 it was working:

**codegen.yml** (snippet)

[code]

**package.json**

[code]

**Error:**

    Unable to load template plugin matching 'fragment-matcher'.
    Reason:
      Unexpected token {

[2019-03-19 20:48] defrex opened #1503 "@graphql-codegen/core has no member generate in 1.0"
**Describe the bug**
I've just upgraded to 1.0. I use the programmatic API, and unfortunately the import isn't valid.

[code]

The above generates:
`Module '"../../node_modules/@graphql-codegen/core/dist/esnext"' has no exported member 'generate'.ts(2305)`

From my `package.json`

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Install 1.0
2. Try to import `generate` from `@graphql-c

[2019-03-19 20:51] defrex commented on #1503
FYI, this is what I'm seeing for `@graphql-codegen/core` after installing locally.
[code]
No `generate`

[2019-03-19 20:51] defrex commented on #1503
Also, I can confirm the CLI is working fine with my config.

[2019-03-19 21:01] defrex commented on #1503
... and finally, I can confirm that the following works fine.
[code]

[2019-03-19 21:12] NickClark opened #1504 "Apollo Angular import treated as default instead of namespaced"
**Describe the bug**
The generated code currently imports Apollo Angular as a default import instead of a namespaced import. Maybe there's a way in Webpack to make it generate a default export when none is provided by the library, but I'm unaware of how to accomplish that.

**To Reproduce**
Just add the following into any valid project:

[code]

and you'll get `import Apollo from "apollo-angular;"

[2019-03-19 22:20] defrex opened #1505 "`avoidOptionals` not working with `typescript-resolvers` in 1.0"
**Describe the bug**
`typescript-resolvers` is generating optional fields in 1.0, even when `avoidOptionals` is `true`.

**To Reproduce**

Schema
[code]

Script
[code]

Output
[code]
**Expected behavior**
The resolvers in the output should be:
[code]

[2019-03-19 23:34] P4sca1 commented on #1494
I always tried enter to confirm the answer, so that could be the issue very likely. Will check tomorrow.
Maybe it would be good to also allow enter for submitting an answer.

[2019-03-20 00:49] adam1658 commented on #1502
Same issue here. The package.json for this plugin points to an es modules build with it's `main` field.

Compare the [typescript plugin](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript/package.json#L24-L25) with the [fragment-matcher plugin](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/fragment-matcher/package.json#L

[2019-03-20 03:23] blacksmoke26 opened #1508 "[Feature Request] Include tripple quote comment in final output file!"
Possible?

What I have in GraphQL schema:

[code]

What I expect:
[code]

What I got:
[code]

Is it possible to include comments?

[2019-03-20 08:15] Alucardz opened #1514 "init fails with ENOENT: no such file or directory, open '...\node_modules\@graphql-codegen\cli\dist\package.json'"
**Describe the bug**
Running graphql-codegen init via:

1. `npx graphql-codegen init`
2. `node_modules\.bin\graphql-codegen init`
3. `yarn run graphql-codegen init`

(because simply running `graphql-codegen init` doesn't work, gives 'no such command was found')

It initiates the wizard, asks the proper questions, but by the end generates an error and nothing gets generated:

`ENOENT: no such file

[2019-03-20 08:43] kamilkisiela commented on #1514
fixed in #1496

[2019-03-20 08:44] dotansimha commented on #1508
I think we broke `description` in 1.0.0, will fix soon.

[2019-03-20 08:47] dotansimha commented on #1503
@defrex you can use `codegen` from `@graphql-codegen/core`, or `generate` from `@graphql-codegen/cli`.
If you don't want to add all the cli dependencies, you can use `core`.
You can find an example here: https://github.com/dotansimha/graphql-code-generator/blob/master/website/live-demo/src/App.js#L85

[2019-03-20 08:47] #1503 closed

[2019-03-20 08:52] dotansimha commented on #1499
@stramel any chance you can create a reproduction repo for it? I couldn't reproduce it locally :(

[2019-03-20 08:56] dotansimha commented on #1041
@SirensOfTitan Can you please open a new issue for that? I think it should be easier to fix now in 1.0

[2019-03-20 08:56] #1428 closed

[2019-03-20 08:59] dotansimha commented on #1210
I see. I can add `Query['$Variables']` (because `$` is not valid GraphQL char, so it won't conflict with fields names) if it will be helpful for you. @samdenty

[2019-03-20 09:09] dotansimha commented on #1505
Hi @defrex , thank you for reporting this issue.
The optional sign in the resolvers signature is required, otherwise you'll have to put all field resolvers for a specific type in the same file and in the same object.
`avoidOptionals` shouldn't effect the fields resolvers.

[2019-03-20 09:09] #1505 closed

[2019-03-20 09:17] blacksmoke26 commented on #1508
Waiting for the next release.

[2019-03-20 09:18] #1494 closed

[2019-03-20 09:44] codepunkt commented on #889
I'm actually considering the same. I'd like my query to actually read `machines` and the resulting objects to also have a `machines` property. The type of the `machines` property should be `Machine[]`, not `Machines[]` - based on `__typename`, not on the query.

@janhartmann wrote a plugin yet? 😁
@dotansimha ever thought exposing this as a configuration option? that'd be lovely! ❤️

[2019-03-20 09:49] dotansimha commented on #1495
Hi @NickClark, thank your for reporting this issue.
In 1.0.0, we changed `enums` to `enumValues`. Also, I found a bug in the declaration of it, and the ability to map an existing enum was missing.
I fixed and added the missing feature here: https://github.com/dotansimha/graphql-code-generator/pull/1518

[2019-03-20 10:10] P4sca1 commented on #1133
I am still getting this issue with `v1.0.0`.

My resolvers:
[code]

[code]

Error:

Type 'IResolvers<IApolloContext>' is not assignable to type 'IResolvers<any, any>'.
  Property 'GameServer' is incompatible with index signature.
    Type 'GameServerResolvers<IApolloContext, GameServer> | undefined' is not assignable to type '(() => any) | GraphQLScalarType | IEnumResolver | IResolverObject<any, a

[2019-03-20 10:11] kamilkisiela commented on #1133
It's hidden behind a flag because you type safety is less strict then.

Try `useIndexSignatures: true`

[2019-03-20 10:13] P4sca1 commented on #1133
That's it! No more problems using `useIndexSignature: true` (notice that there is no 's' at the end).

[2019-03-20 10:57] dotansimha commented on #889
@codepunkt I recommend you to use the latest codegen version - 1.0.0.
We fixed a lot of issues, and now `__typename` is being added automatically, and we are generating only one TypeScript `type` per GraphQL operation, without `namespace`s.
It makes it much easier to use and maintain, and you can access type fields more easily.

[2019-03-20 12:02] dotansimha commented on #1514
Fixed in 1.0.1 🚀

[2019-03-20 12:02] #1514 closed

[2019-03-20 12:02] dotansimha commented on #1508
Fixed in 1.0.1 🚀

[2019-03-20 12:02] #1508 closed

[2019-03-20 12:02] dotansimha commented on #1504
Fixed in 1.0.1 🚀

[2019-03-20 12:02] #1504 closed

[2019-03-20 12:02] dotansimha commented on #1502
Fixed in 1.0.1 🚀

[2019-03-20 12:02] #1502 closed

[2019-03-20 12:03] dotansimha commented on #1495
Fixed in 1.0.1 🚀

[2019-03-20 12:03] #1495 closed

[2019-03-20 12:03] dotansimha commented on #1498
Fixed in 1.0.1 🚀

[2019-03-20 12:03] #1498 closed

[2019-03-20 12:03] dotansimha commented on #1497
Fixed in 1.0.1 🚀

[2019-03-20 12:03] #1497 closed

[2019-03-20 12:04] #1354 closed

[2019-03-20 12:40] slikts commented on #1350
Does there happen to be something like a Slack channel for following the development?

[2019-03-20 14:56] dotansimha commented on #1404
Hi @emmenko ! Thank you for reporting it.

The right way to do it in flow is to use spread, like that:
[code]

I fixed it in this PR: https://github.com/dotansimha/graphql-code-generator/pull/1520

[2019-03-20 14:59] defrex commented on #1505
@dotansimha Two issues here:
1. Your documentation still implies that this works. https://graphql-code-generator.com/docs/plugins/typescript-resolvers
2. The type signature for the `resolvers` argument of Apollo Server's `makeExecutableSchema` is incompatible with the optional fields.

[code]

[2019-03-20 15:00] mdaouas opened #1521 "Missing context type in import statement of generated typescript resolver"
**Describe the bug**
Context type is missing in import statement of generated resolver with module#type syntax in configuration of contextType

**To Reproduce**
Steps to reproduce the behavior:

1. Use any schema
2. Add a a context type in configuration file
[code]
3. Run the following command: `graphql-codegen` with configuration file

**Expected behavior**
Generated resolver should have an impor

[2019-03-20 15:05] defrex commented on #1503
No problem, that's just not what the documentation said. I see it's been updated though, so that's good! However, I believe the docs are still incorrect, even with the change to `codegen`.

[These docs](https://graphql-code-generator.com/docs/getting-started/programmatic-usage) imply you can pass a config directly to `codegen`, but this is the signature I'm seeing for it locally:

[code]

As you c

[2019-03-20 15:15] dotansimha commented on #1521
Hi @mdaouas , thank you for reporting it.
I created a fix for it: https://github.com/dotansimha/graphql-code-generator/pull/1522
I'll merge and release a new version (1.0.2) once CI passes.

[2019-03-20 15:19] dotansimha opened #1523 "Update programatic usage documentation"
As discussed here: https://github.com/dotansimha/graphql-code-generator/issues/1503#issuecomment-474872791

[2019-03-20 15:19] dotansimha commented on #1503
Thanks @defrex , missed that. Opened a new issue: https://github.com/dotansimha/graphql-code-generator/issues/1523

[2019-03-20 15:27] ctrlplusb commented on #1521
Awesome @dotansimha - thanks for the super quick turnaround. I was just coming to report the same thing. :)

[2019-03-20 15:28] epeli commented on #713
Just trying out the new 1.0.0 release and I have now hard time figuring out how to access deeper field types.

Example. This type is now generated for my GraphQL query:

[code]

I'm looping through the `data.apartments.edges` array and inside it I want to pass `node.buildingTypes` to an external function. In pre 1.0 versions I could just import the `buildingTypes` type for the external function ar

[2019-03-20 15:33] dotansimha commented on #713
There are 2 options:
1. Use `MyType['fieldA']['fieldB']` until you reach your type. You can also create aliases by using `MyInnerType = MyType['fieldA']['fieldB']`.
2. Use GraphQL fragments. This way the types you need to use internally will point to your fragments, and you can use the generated fragment `type`.

We know it's not ideal, but eliminating `namespace`s was very important in order to m

[2019-03-20 15:35] dotansimha commented on #1523
Fixed in: https://github.com/dotansimha/graphql-code-generator/commit/31ed540b62d3e26dbb67330aefd520013d95bf73

[2019-03-20 15:36] ctrlplusb commented on #1499
@stramel I was experiencing the same, but if I quote the values it works.

[code]

[2019-03-20 15:42] dotansimha commented on #1499
@ctrlplusb I think you are right, it might be related to the characters in the string there, I think it effects the way `js-yaml` parses it.
@stramel can you please try it?

[2019-03-20 15:42] epeli commented on #713
1. Doesn't seem to work with intersections?

![image](https://user-images.githubusercontent.com/225712/54697654-99133200-4b36-11e9-9323-5fc65804129c.png)

2. Fragments help a bit it's quite awkward still. You need handle bunch of Maybes and __typenames...

[2019-03-20 15:44] dotansimha commented on #1523
Fix available in 1.0.2.

[2019-03-20 15:44] #1523 closed

[2019-03-20 15:44] dotansimha commented on #1521
Fix available in 1.0.2.

[2019-03-20 15:44] #1521 closed

[2019-03-20 15:44] dotansimha commented on #1404
Fix available in 1.0.2.

[2019-03-20 15:44] #1404 closed

[2019-03-20 15:46] NickClark commented on #1504
Thanks! 🎊

[2019-03-20 15:47] NickClark commented on #1495
Thanks! I finally seem to have a working setup of 1.0, thanks! This is awesome work!

[2019-03-20 15:50] epeli commented on #713
It seems that I must do this to be able to reach the type:

[code]

[2019-03-20 15:51] stramel commented on #1499
@dotansimha I'm working on a reproducible case for you.

@ctrlplusb I was unable to get it to work even when quoting the values of `- add:`

[2019-03-20 15:53] lukejagodzinski opened #1524 "Use singular instead of plural names for array types"
I don't know if it's a bug or expected behavior but for me it looks more like a bug.
I have the GraphQL schema like this one:

[code]

so for `visitorMetrics` query I'm just returning array of `VisitorMetric` objects. And here is what TS types the `graphql-code-generator` generated for me:

[code]

The "BUG" part for me is naming type `VisitorMetrics` (plural) instead of `VisitorMetric` (singular)

[2019-03-20 15:54] dotansimha commented on #713
@epeli I didn't understand if that's an issue. If so, can you please open a new issue with examples?

[2019-03-20 15:55] epeli commented on #713
Will do

[2019-03-20 15:55] dotansimha commented on #1499
Also, @stramel , can you please try without the `<<: *sharedPlugins` ? just with `plugins` directly.

[2019-03-20 15:58] dotansimha commented on #1524
@lukejagodzinski in 0.18, we were using the **name of the field** (`visitorMetrics`) for the name of the property, and not the name of the type it's referring to (`VisitorMetric`). If you wish to get a different name, use GraphQL aliases (`visitorMetric: visitorMetrics`).
You can update to 1.0.0 and you'll get better generated code with those additional generated types/namespaces.

[2019-03-20 15:58] #1524 closed

[2019-03-20 16:02] lukejagodzinski commented on #1524
@dotansimha is there any particular reason why you're doing it that way instead of taking type name? It's counter intuitive especially for TypeScript, where we clearly see that it's an array of values.

Oh 1.0 was just released today :) nice

[2019-03-20 16:04] ctrlplusb commented on #1499
Actually, just checked again, and it only partially resolved the issue. i.e. the generation is still broken. Just noticed half the expected types are missing.

[2019-03-20 16:06] dotansimha commented on #1524
@lukejagodzinski Because this way we could generate `type` with less conflicts.
The following:
[code]

[2019-03-20 16:14] lukejagodzinski commented on #1524
@dotansimha oh I see, that makes sense :) thanks!
I would check how it's done in 1.0.0 but it's still not available through NPM ;)

[2019-03-20 16:16] dotansimha commented on #1524
@lukejagodzinski it does, we just changed the name of the packages, and we are using scoped packages now.
Use `@graphql-codegen/cli` instead of `graphql-code-generator`, and `@graphql-codegen/PLUGIN` for plugins.

[2019-03-20 16:21] stramel commented on #1499
@dotansimha I tried in the reproduction which didn't have the yaml merge.

[2019-03-20 16:24] lukejagodzinski commented on #1524
@dotansimha Oh I see! That's nice :D Thanks!

[2019-03-20 16:38] P4sca1 commented on #893
@dotansimha I was using prismas graphqlgen before and really liked that it required every resolver to be defined. You immediately got feedback when you forgot to implement a resolver.
This feedback is entirely missing here.
People who want to have it optional could use the Partial type introduced in TypeScript 2.1

[2019-03-20 16:45] dotansimha commented on #893
I agree, but it forces you to implement the entire type resolver in the same file and object, which is fine if you are building a POC or a small project, but not useful if you are splitting your implementation to modules.
If you wish, you can add the following to your declartion, and wrap the generated types:
[code]

Then use it:
[code]

@P4sca1

[2019-03-20 16:48] stramel commented on #1499
@dotansimha

I have a reproducible repo here: https://github.com/stramel/graphql-code-generator-issue-1499

I have run the generate already and the file is observable at `src/apollo/contacts/index.tsx`

**Steps to Reproduce:**

1. Clone this repo: https://github.com/stramel/graphql-code-generator-issue-1499
2. Install dependencies: `yarn`
3. Generate the file: `yarn generate`

**Expected Result:**

[2019-03-20 16:52] ardatan opened #1525 "[TypeScript Resolvers] mappers don't apply for interfaces"
schema
[code]
codegen.yml
[code]

Generates:
[code]

Expected:
[code]

[2019-03-20 16:53] P4sca1 commented on #893
I would prefer if it would be required by default and if you want to split it into modules, you use the already existing Partial type.
Guess that’s just personal preference.
Anyways, thank you for your answer! :)

[2019-03-20 17:11] danielbischoff opened #1526 "[TypeScript Resolvers] defaultMapper: any doesn't work anymore"
**Describe the bug**
If you set the property
[code]
any is not used for non mapped (return) values. Instead it uses the generated type.

Behavior described here:

https://graphql-code-generator.com/docs/plugins/typescript-resolvers#mappers-overwrite-parents-and-resolved-values

**To Reproduce**
Add `defaultMapper: any` to config and generate code.

**Expected behavior**
For every type not specifie

[2019-03-20 18:11] emmenko commented on #1404
Ah good to know! Thanks a lot for the fix 🚀

[2019-03-20 18:19] P4sca1 opened #1527 "[Typescript resolvers] type vs interface and typesPrefix"
Is there any reason why we use `export type` instead of `export interface`?
Also, it is kinda confusing that some types / interfaces are prefixed with `I` while others are not. In my opinion, nothing should be prefixed by default and the prefix should only be added depending on the `typesPrefix` option.
Right now when doing `typesPrefix: I`, some types have 2 `I` prefixed.

[2019-03-20 19:54] NickClark opened #1530 "Watch doesn't work for negative glob matches"
**Describe the bug**
Saving a file doesn't re-generate the outputs when the glob includes a negative matcher

**To Reproduce**
Set the documents or schema config to include something like: `src/!(generated)/**/!(schema).graphql`

**Expected behavior**
It should re-generate the outputs

**Environment:**

- OS: 10.13.6
- Codegen: 1.0.1
- Node: 10

[2019-03-20 20:48] epeli opened #1531 "Accessing field types is very complicated in 1.0"
New issue from https://github.com/dotansimha/graphql-code-generator/issues/713#issuecomment-474884827

In pre 1.0 I tend write a lot code like this:

https://github.com/epeli/graphql-codegen-issue/blob/pre-1.0/usage.tsx

I use the `PostsQuery` type in the top level component and pass parts of if it to smaller subcomponents. To make it easier I import the individual field types from the generated t

[2019-03-20 21:39] NickClark commented on #1531
I've been using fragments for types I need... it really made my code much easier and cleaner

[2019-03-20 22:06] mdestagnol opened #1532 "how to define custom scalars?"
When using the typescript plugin, I can't find any documentation specifying how to define custom scalars? They seem to simply be generated as type "any".

Is there a way to define custom scalars types? I'm opening a new issue since it seems that the previous answers are outdated and not working anymore.

Thx for your help!

[2019-03-20 23:02] mdestagnol commented on #1532
Forget about my question, this is now part of the plugin typescript-operations and described here: https://graphql-code-generator.com/docs/plugins/typescript-operations.

[2019-03-20 23:02] #1532 closed

[2019-03-21 00:19] opiation commented on #1338
Okay.  Thanks for the clarification.  So if I understand correctly, the new `typesPrefix` option will prefix all generated TypeScript `type`s and `enum`s with a given string?

[2019-03-21 02:28] blacksmoke26 commented on #1508
Still, no comments in the output file or I am doing wrong?

GraphQL Schema
[code]

File: `codegen.yml`
[code]

What I got:
[code]

Is there anything I have to do?

[2019-03-21 03:04] kgtkr opened #1533 "Fragment of interface generates intersection type"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Use '...' as schema
[code]
2. Use '...' as documents
[code]
3. Run the following command: `graphql-codegen ...`

**Expected behavior**
A clear and concise description of what you expected to happen.

[code]

Generated code

[code]

**Schema/Documents**
If possible and rel

[2019-03-21 03:08] kgtkr commented on #1533
Relation(?) #695

[2019-03-21 06:16] dotansimha commented on #1533
@kgtkr Which version do you use?

[2019-03-21 06:19] dotansimha commented on #1531
@epeli I recommend to use fragments, not only because of the codegen - it helps to make sure that you are getting all the fields that you need for your types, and it's very helpful if you are using client with cache (like Apollo Client).
The reason to use a single type is that fact that having more that one requires us to group it (with `namespace`s) and we are trying to avoid them. It also caused

[2019-03-21 06:29] dotansimha commented on #1527
@P4sca1 which version do you use? I assume it's `typesPrefix` because it's there from v1.0.0.
 Can you provide an example for types that are being prefixed by default?

Also, we chose to use `type` because it's easier to use it to create type aliases, and most of the types are not intended to be inherited because they reflect the schema, and `interface` has a connotation of something you should in

[2019-03-21 06:40] dotansimha commented on #1508
@blacksmoke26 I added a test with your example:
https://github.com/dotansimha/graphql-code-generator/blob/8061d5ff7e0d82a2ab4554b3020e41aa9a733a3d/packages/plugins/flow/tests/flow.spec.ts#L8

It seems to work. Are you sure you updated ALL codegen packages to use the same version?

[2019-03-21 06:41] dotansimha commented on #1338
@opiation yeah exactly.

[2019-03-21 06:41] dotansimha commented on #1532
@mdestagnol yeah it's part of all plugins actually. Note that if you are using it, you should pass the `scalars: {}` config for all plugins in the same file.

[2019-03-21 06:52] P4sca1 commented on #1527
Okay that makes sense now.
For the prefix, it was only for some interfaces, maybe only IResolvers (I don’t remember atm, need to check).
Maybe we should change typesPrefix to only prefix types not interfaces then (because they are prefixed by default)?

[2019-03-21 07:00] epeli commented on #1531
Sorry, my example code was bad because it was missing `tsconfig.json` with the strict flag which I use in my application code.

With `tsconfig.json` in place your example gives this error:

![image](https://user-images.githubusercontent.com/225712/54737072-dcad8080-4bb6-11e9-8a13-9386d2d61d81.png)

Hence the `NonNullable` wrapping.

But I looked more closely into the fragments workaround and it se

[2019-03-21 07:01] dotansimha commented on #1527
@P4sca1 I think it's only `IResolvers`, @ardatan maybe we should remove it? I think you added it.

[2019-03-21 07:11] dotansimha commented on #893
@P4sca1 I added it in this PR: https://github.com/dotansimha/graphql-code-generator/pull/1534

[2019-03-21 07:30] P4sca1 commented on #893
Very nice, good job! 👏

[2019-03-21 09:02] kgtkr commented on #1533
1.0.2

[2019-03-21 09:03] dimitar-nikovski commented on #1523
Hi, firstly many thanks for all your great work.

The `schema` type for the config in the programatic usage docs is required to be a `DocumentNode` by the referenced [implementation](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/graphql-codegen-core/src/codegen.ts#L7-L16), however in the example in the docs it's the result of `buildSchema` which returns a `GraphQLSchema

[2019-03-21 09:12] dotansimha commented on #1527
@P4sca1 I fixed it here:
https://github.com/dotansimha/graphql-code-generator/pull/1534

I'm generating `Resolvers` as the root, and `IResolvers` pointing to `Resolvers` with `@deprecated` comment (for backward compatibility), and if you'll provide `typesPrefix`, it will override it.
(Also, did the same of `IDirectiveResolvers`)

[2019-03-21 09:49] P4sca1 commented on #1527
LGTM!

[2019-03-21 09:49] #1527 closed

[2019-03-21 10:08] dotansimha commented on #1533
@kgtkr thanks, fixing it in: https://github.com/dotansimha/graphql-code-generator/pull/1534

[2019-03-21 10:14] dotansimha commented on #1523
@dimitar-nikovski my bad, just use `printSchema` over the `GraphQLSchema` you are getting from `buildSchema`. Or, you can use `parse` (from `graphql`).

[2019-03-21 11:24] dimitar-nikovski commented on #1523
Thanks, I did `parse(printSchema(schema))`. Happy to put forward some edits of that page in a PR.

[2019-03-21 17:06] codepunkt opened #1535 "1.0.2 - Generation of intermediate types required"
**Is your feature request related to a problem? Please describe.**
When querying an array of things, the array elements might be passed to a function (e.g. a react component) one by one. See this example:

[code]

The type generated for the `data` property looks like this:

[code]

This leads to problems when typing the function that receives a single array elements (like the `EventDetails` compon

[2019-03-21 17:06] blacksmoke26 commented on #1508
Yeah, double checked, Will remove all then try again.

[2019-03-21 17:07] codepunkt commented on #889
@dotansimha Thanks for your work! :-)

New version, new problems. See #1535

[2019-03-21 18:59] aaronjensen opened #1537 "Generated files are not ignored"
**Describe the bug**

The generated file target is not ignored and leads to duplicate types
If your documents path includes the generated file, like:

[code]

Then you end up with:

[code]

It'd be great if the generated file was automatically excluded.

**To Reproduce**
Steps to reproduce the behavior:

1. Use the above config with a query in a ts file
2. Run the following command: `graphql-codeg

[2019-03-21 19:14] codepunkt commented on #1535
I'm not a typescript expert by any means. I have just learned about indexed access types/lookup types!

Seems i can solve the `EventDetails` type like this:

[code]

And i can also get all the "intermediate" types:

[code]

Sorry for my demanding tone - let this be a lesson to others!

[2019-03-21 19:14] #1535 closed

[2019-03-21 21:59] aaronjensen commented on #1133
@kamilkisiela would you mind editing your comment to remove the `s`? (and thanks @P4sca1 )

[2019-03-21 23:46] mdestagnol commented on #1532
Thx for the additional info @dotansimha.

Related question: how would you do to define custom types? For example if you want to do something like:

[code]

[2019-03-22 04:04] gotexis opened #1539 "VueJS?"
It's becoming the next big thing and I am building my next project based on Vue/GraphQL/Graphene(Django).

Right now it seem a CRUD admin boilerplate based on GraphQL schema is a very good starting point for any project.

I know this probably isn't supported yet but I wonder if there are any thoughts among the developers on this framework.

[2019-03-22 04:52] blacksmoke26 commented on #1508
Fixed now. Uninstall and install all packages, working now. Thank You!

[2019-03-22 06:17] dotansimha commented on #1539
Hi @gotexis ! We currently not maintaining a VueJS plugin (mostly because we miss the knowledge), we welcome the community to create one :)

[2019-03-22 06:19] dotansimha commented on #1535
@codepunkt you can also use fragments and it will make it easier to use.
Related: https://github.com/dotansimha/graphql-code-generator/issues/1531

[2019-03-22 06:21] dotansimha commented on #1531
@epeli you can either create 2 fragments with different selection set (and they can be placed in the same file).
We are open for making the typings easier to use, do you have an idea? I can create a plugin that will create those inner-fields references that will also generate `NonNullable` for strict TS, but I afraid it might cause duplicate identifiers.

[2019-03-22 06:23] dotansimha commented on #1532
@mdestagnol If your scalars is defined this way in your schema:
[code]

Then you can add this to your configuration:
[code]

And you can also use a custom identifier (and if you need, you can add `import {} ...` using `add` plugin .

[2019-03-22 06:24] dotansimha commented on #1523
@dimitar-nikovski go for it!

[2019-03-22 06:49] dotansimha commented on #1499
Thanks @stramel . It's not an issue with YML parsing, I'm looking into it now.

[2019-03-22 07:08] dotansimha commented on #1499
@stramel found the bug, there was an issue when specifying the same plugin twice, it ignored some other plugins. Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/1534

[2019-03-22 10:28] epeli commented on #1531
Interesting. Need to experiment more with fragments.

Sorry, I don't have any suggestions on how to make it easier to use ATM. Will let you known if I come up with something.

[2019-03-22 10:43] simPod opened #1541 "Release js-yaml"
Hi @dotansimha can you please release a new version that has this commit included https://github.com/dotansimha/graphql-code-generator/commit/110961cd5a92a1d3ad751f18ce8c65e70c515553? As ^ is not used for version definition, it forces js-yaml 3.12.2 which contains security vulnerability https://www.npmjs.com/advisories/788

Thanks!

[2019-03-22 11:32] dotansimha commented on #1541
On it now, will be available in a few minutes :)

[2019-03-22 11:47] dotansimha commented on #1541
1.0.3 available. @simPod

[2019-03-22 11:47] #1541 closed

[2019-03-22 11:47] dotansimha commented on #1526
Fixed in 1.0.3

[2019-03-22 11:47] #1526 closed

[2019-03-22 11:47] dotansimha commented on #1499
Fixed in 1.0.3 🎉

@stramel

[2019-03-22 11:47] #1499 closed

[2019-03-22 11:47] dotansimha commented on #893
Fixed in 1.0.3.

[2019-03-22 11:47] #893 closed

[2019-03-22 11:48] dotansimha commented on #1533
Fixed in 1.0.3. @kgtkr

[2019-03-22 11:48] #1533 closed

[2019-03-22 12:02] simPod commented on #1541
Respect brother! Thanks a lot! 👌

[2019-03-22 13:30] stramel commented on #1499
Thank you for the help, quick responses, and fix!

[2019-03-23 22:26] jeroenvisser101 opened #1550 "Generated components, hooks and HOCs contain typesPrefix"
**Describe the bug**
When using `typesPrefix: I` and when generating components, documents, hooks or HOCs, it also adds the type prefix to their names.

**To Reproduce**
Steps to reproduce the behavior:

1. Configure any project with queries, mutations and/or subscriptions to generate components, hooks or HOCs, and configure with `typesPrefix: I`

**Expected behavior**
I expected typesPrefix to pr

[2019-03-23 23:44] wrod7 commented on #1499
@dotansimha with 1.0.3 im having the same issue where its not creating documents or components.

here is my config:

[code]

[2019-03-24 06:34] dotansimha commented on #1499
@wrod7 , can you please open a new issue? I'm not sure it's related to the same bug.

[2019-03-24 09:15] dotansimha commented on #1525
I think already been fixed. Added a test: https://github.com/dotansimha/graphql-code-generator/commit/191895100153641bb60d1390f13f88f1aecade7a

@ardatan ?

[2019-03-24 09:21] dotansimha commented on #1530
In this case, I think it might also be related to this (because you are trying to avoid watching the generated files?): https://github.com/dotansimha/graphql-code-generator/issues/1537. @ardatan is working on a fix for it.

Regarding the glob expression, we are using `chokidar` for watching the file-system, and I think it has a known issue: https://github.com/paulmillr/chokidar/issues/740

[2019-03-24 10:16] kgtkr commented on #1525
The same bug exists in Subscription

[2019-03-24 17:32] jeroenvisser101 commented on #1550
@dotansimha it seems my PR wasn't completely working so I got a few more coming, but since names are sometimes passed along and used as parts of a composite name, it's not immediately clear what parts are affected.

[2019-03-24 17:34] jeroenvisser101 commented on #1550
I was also having trouble testing it in a project locally using yarn link, since visitor-plugin-common has a devDependency on `graphql`, which conflicts.

[2019-03-24 18:01] dotansimha commented on #1550
@jeroenvisser101 Thank you for your contributions!
Regarding working locally, you can use `npm pack` inside a package, create a `tar.gz` file and then install it locally in order to test it. Or, you can use the unit tests which should cover most of the test cases.

[2019-03-25 02:33] jackypan1989 commented on #1499
@dotansimha Having same issue with .ts file. I will open a new issue.

[2019-03-25 02:47] jackypan1989 opened #1555 "Cant use ts file to be the document source in 1.x"
**Describe the bug**
At version 1.x, we cant use ts file to be the document source.

**To Reproduce**

1. not working with .ts file
[code]

2. working with .gql file
[code]

[code]

**Expected behavior**
Both ts and gql file can parse to types.

**Environment:**

- OS: MacOS
- `@graphql-codegen/...`: 1.0.3
- NodeJS: 10.x

[2019-03-25 04:17] NickClark commented on #1530
Ya. I'm trying to do two things. 1. Ignore generated GraphQL files. 2. Make the document config section not include schema files, and visa versa. My ideal was going to ultimately be all files with a `-schema.graqhql` postfix or in a `schema/` directory would be schema, and all other files with a `.graphql` extension would be considered documents.

The main two issues I've run into with this so far

[2019-03-25 05:34] ardatan commented on #1530
@NickClark I am working on ignoring generated files #1558 and codegen already ignores schema definition files as I know, doesn't it? @dotansimha
https://github.com/ardatan/graphql-toolkit/blob/f0f6fd00fabe1ffc867b2a649aca8761fbe96527/tests/loaders/documents/documents-from-glob.spec.ts#L76

[2019-03-25 12:38] wrod7 commented on #1555
thanks for starting this issue. im having the same problem.

i switched to .gql files for now

[2019-03-25 13:44] dotansimha commented on #1555
@jackypan1989 @wrod7 Where do you import `gql` from?

[2019-03-25 13:54] jackypan1989 commented on #1555
We use apollo-boost's gql

ref: https://github.com/apollographql/apollo-client/tree/master/packages/apollo-boost

[2019-03-25 14:08] dotansimha commented on #1555
@jackypan1989 @wrod7 can you please try to add the following to your `codegen.yml` file?

[code]

[2019-03-25 14:29] wrod7 commented on #1555
@dotansimha that works for me

[code]

![image](https://user-images.githubusercontent.com/7082435/54927530-b6565080-4ee8-11e9-9225-33edf66362ee.png)
the generated file has errors tho. not sure why its adding " & Pick<" to my login mutation and MeQuery

[2019-03-25 15:12] dotansimha commented on #1555
I think so, if that's possible, because we are using the TypeScript built-in helper `Pick`.

[2019-03-25 15:15] dotansimha commented on #1530
@NickClark, I recently merged @ardatan's fix for ignoring the generated files.
Also, the codegen knows to detect each document and skip if if it's not relevant, so no need to worry about separating those files.
Alternatively, you can use `.graphqls` for schema files and `.graphql` for operations.

[2019-03-25 15:37] wrod7 commented on #1555
all good. I renamed it. Thanks for the help

[2019-03-25 15:39] #1555 closed

[2019-03-25 16:16] dotansimha commented on #1531
@epeli Closing for now, feel free to contact me or reopen if you think we can/should improve it :)

[2019-03-25 16:16] #1531 closed

[2019-03-25 16:17] dotansimha commented on #1394
@lim-enhui, I'm closing this issue, feel free to re-open a new issue if it's still relevant.

[2019-03-25 16:17] #1394 closed

[2019-03-25 16:55] dotansimha commented on #1530
Fixed in 1.0.4. @NickClark feel free to re-open if you think it's not resolved.

[2019-03-25 16:55] #1530 closed

[2019-03-25 16:56] dotansimha commented on #1453
Fixed in 1.0.4

[2019-03-25 16:56] #1453 closed

[2019-03-25 16:56] dotansimha commented on #1550
Fixed in 1.0.4

[2019-03-25 16:56] #1550 closed

[2019-03-25 16:56] dotansimha commented on #1537
Fixed in 1.0.4

[2019-03-25 16:56] dotansimha commented on #1525
Fixed in 1.0.4

[2019-03-25 16:56] #1525 closed

[2019-03-25 17:36] NickClark commented on #1530
Ok. So everything seems to work now, even when using a looser config like:

[code]

But this generates alot of
`File "[PATH_OF_PARTICULAR_FILE]-schema.graphql" was filtered because it contains an invalid GraphQL document definition! types of errors.

Is this intended? Seems quite noisy for intended behavior.

Thanks again for your guys work! It been so nice seeing you fixing these issues so well a

[2019-03-25 17:38] derimagia opened #1563 "typescript-resolvers: Interface field with args doesn't generate argument type"
**Describe the bug**
An interface with a field with arguments doesn't generate the type for the arguments at all and thus errors because it is being referenced. Tested in 1.0.4 thinking it was fixed there but doesn't seem to be.

May be an issue out of typescript-resolvers.

**To Reproduce**
Steps to reproduce the behavior:

From this repo in master in file `ts-resolvers.spec.ts`:
[code]

This fai

[2019-03-25 18:22] NickClark opened #1564 "TS Variable types wrong for operations with default variables"
**Describe the bug**
The types generated for operations with variables that have set defaults are wrong, and force a value.
**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**

I expect the generated Variable type to allow `active` to be optional

**Environment:**

- OS:

[2019-03-25 19:23] wrod7 commented on #1555
@dotansimha prior to 1.x the generated file had array types for queries. is there something similar with 1.x?

type "ItemsItems" is what im looking for
[code]

[2019-03-25 19:36] kamilkisiela commented on #1563
#1566 should fix it

[2019-03-25 20:17] kamilkisiela commented on #1564
#1567 Should fix it

[2019-03-25 21:04] kamilkisiela commented on #1564
I released a canary version, could you try: `1.0.5-alpha-4b26c306.0+4b26c306`?

[2019-03-25 22:00] mikebm commented on #583
Sorry it took so long to respond. Yes, this is still an issue.
codegen.yml:
[code]
./src is in the same folder as codegen.yml.

Changing the path from ./src to the full path works.
ex: /users/myuser/repo/src/loader.js

[2019-03-25 23:03] quolpr opened #1569 "Enum and wrong naming convention"
**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My `codegen.yml` config file:

[code]

**Current behavior**
[code]

**Expect Behaviour**
[code]
As it was before.

**Environment:**

- `@graphql-codegen/...`: `1.0.4`

[2019-03-25 23:12] quolpr commented on #1569
`1.0.0` has the same behavior 🤔

[2019-03-26 07:12] slikts opened #1570 "Incremental/faster builds"
**Is your feature request related to a problem? Please describe.**

The overarching issue is keeping the generated files up-to-date with respect to the sources while also avoiding issues like diff churn, and one solution is to add the generation step as a `postinstall` script, but with larger code bases this may be a nuisance in itself that installing packages is slowed down.

**Describe the solut

[2019-03-26 07:56] dotansimha opened #1571 "Search path for custom schema loader it not local"
Source: https://github.com/dotansimha/graphql-code-generator/issues/583#issuecomment-476394200

[2019-03-26 07:56] dotansimha commented on #583
@mikebm I created an issue for it: https://github.com/dotansimha/graphql-code-generator/issues/1571
And fixed it in: https://github.com/dotansimha/graphql-code-generator/commit/f349d8669346b899eb5b894d4be5436621dc63fa

[2019-03-26 07:57] dotansimha commented on #1571
Fixed in: https://github.com/dotansimha/graphql-code-generator/commit/f349d8669346b899eb5b894d4be5436621dc63fa

[2019-03-26 07:59] dotansimha commented on #1530
@NickClark it's intended because we would to let you know that the codegen loads file that it shouldn't.
I recommend to use `.graphqls` for schema files if they are in the same directory. It's supported by all IDEs and tools,

[2019-03-26 08:00] dotansimha commented on #1555
@wrod7 from 1.0, we are generating a single type for each query, to avoid conflicts and issues.
You can use this array type by doing `ItemsQuery['items']`, or `ItemsQuery['items'][0]` to access a single item type.

[2019-03-26 08:01] dotansimha commented on #1569
Caused by the fact that we would like to keep the underscore `_`  when you defined it, and apply the naming conventing without effecting it.
@kamilkisiela @ardatan what do you think?

[2019-03-26 13:47] wrod7 commented on #1555
thanks for clarify. that works for me

[2019-03-26 15:55] RIP21 opened #1575 "Add new template or config option to `apollo-react` to support `urql`"
Please consider adding a special template or config for `apollo-react` generator to support
https://github.com/FormidableLabs/urql/
It's quite popular and will be nice to have.

[2019-03-26 17:53] pashazz opened #1577 "Typescript interface code for GraphQL Type that implements two GraphQL interfaces is not generated correctly"
I have a Type that implements two Interfaces.
[code]
if I use a fragment that includes two fragments on these interfaces...
[code]

Then a TS type is generated the following way:
[code]

However it should be generated as:
[code]

Can be reproduced in latest version 0.18.0

Minimal working example: https://github.com/pashazz/gqlgenmwe
Where it goes wrong: https://github.com/pashazz/gqlgenmwe/blob/e

[2019-03-27 03:12] kgtkr commented on #1525
Why doesn't mappers apply to child elements of type whose mappers are not set?

[2019-03-27 06:17] dotansimha commented on #1525
@kgtkr  can you please add an example?

[2019-03-27 08:34] kgtkr commented on #1525
[code]

[2019-03-27 08:56] dotansimha commented on #1525
The current default types are the types that `typescript` package is generating. If you wish to point to a specific parent type of A, you can do:

[code]

[2019-03-27 09:11] kgtkr commented on #1525
Is it difficult to do this automatically?
In this method, rewriting is necessary when the number of properties increases, etc.

[2019-03-27 09:21] slikts commented on #1570
I've experimented with an approach that scans the last modified times of all sources, turns them into a string and creates an MD5 digest, caches it in a temporary location, and then compares the cached digest with the current one the next time it's run. Doing this for around 3k source files in node takes about 2s, while the generation takes about 14s, so it's a reasonable win in performance. The g

[2019-03-27 09:39] dotansimha commented on #1577
I can confirm that this issue also happens on v1.0. Our current logic handles a case where fragments are in use on a simple type, interface or union.

Fixed in:  https://github.com/dotansimha/graphql-code-generator/pull/1580

[2019-03-27 09:41] dotansimha commented on #1525
@kgtkr It's not that simple. Me and @kamilkisiela talked about it before. It requires to generate complete new type, and not using the base type generated by `typescript` plugin.

[2019-03-27 12:13] dotansimha commented on #1577
Fixed in 1.0.5.

[2019-03-27 12:13] #1577 closed

[2019-03-27 12:13] dotansimha commented on #1571
Fixed in 1.0.5.

[2019-03-27 12:13] #1571 closed

[2019-03-27 12:14] dotansimha commented on #1569
Fixed in 1.0.5.

[2019-03-27 12:14] #1569 closed

[2019-03-27 12:14] dotansimha commented on #1564
Fixed in 1.0.5.

[2019-03-27 12:14] #1564 closed

[2019-03-27 12:14] dotansimha commented on #1563
Fixed in 1.0.5.

[2019-03-27 12:14] #1563 closed

[2019-03-27 12:46] chengjia0807 opened #1581 "Type "DateTime" gives an error in variables type"
There is a type error when I generated the DateTime type.

Here is the generated code:

```export type GetBookedLessonsQueryVariables = {   from: DateTime;   to: DateTime;   bookingStage?: Maybe<BookingStages>;   bookingStatus?: Maybe<BookingStatuses>;   paymentStatus?: Maybe<PaymentStatuses>;   lessonStatus?: Maybe<LessonStatuses>; };```

Type "DateTime" is not existing at all.

I guess the corre

[2019-03-27 12:58] dotansimha commented on #1581
Hi @chengjia0807 , thank you for reporting it.
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/1582

[2019-03-27 13:18] dotansimha commented on #1581
@chengjia0807 fixed in 1.0.6 :)

[2019-03-27 13:18] #1581 closed

[2019-03-27 13:43] ticruz38 opened #1583 "[typescript-operations] 1.0 break namespace pattern"
I updated to 1.0, everything is fine, except that the namespace pattern has been abandonned.
Is there any way to get it back ? as my project rely a lot on graphql-code-generator and is quite big already, it is going to be a pain to change all my imports to match the new pattern.
to be clear, I used to do:
[code]
and now I need to write
[code]

[2019-03-27 14:15] dotansimha commented on #1583
Hi @ticruz38,
We're aware that the changes in 1.0 are breaking, but we had to introduce breaking changes in order to improve the codegen.
The reason we abandoned TypeScript `namespace`s is the fact that not all TypeScript compilers supports it (babel-typescript does not support it - https://github.com/babel/babel/issues/8244).
Also, the reason we needed `namespace`s before was because we generated

[2019-03-27 14:18] #1583 closed

[2019-03-27 14:36] abdullah2web commented on #1539
I wrote project use google map api with first time use Vuejs framework , so i had some issues and try to find resolve 👍

[2019-03-27 14:54] chengjia0807 commented on #1581
Thank you so much for your quick fix 👍 👍

[2019-03-27 15:12] ticruz38 commented on #1583
I tried on my project and it works, however, gql-gen seems to struggle to read the custom plugin in typescript, so I transformed it in pure js. Could not figure out how to make it read typescript even with ts-loader/register

I added all custom types generated by operation under the namespace, to have full retro-compatibility like this:
[code]
it would be nice to have this plugin added by configur

[2019-03-28 02:28] pelhamrj opened #1586 "Type Mismatch"
**Describe the bug**
TypeScript throws error for generated types. Issue is with __typename Query not assignable to __typename User (in my case).

**To Reproduce**
Create the following .graphql file
[code]
Run generate command.

1. My GraphQL schema:

https://gist.github.com/pelhamrj/609938f5e41fa618b928e7ff2213db4d

2. My GraphQL generated file:

[code]

3. My `codegen.json` config file:

[code]

[2019-03-28 07:27] dotansimha commented on #1583
@ticruz38 You should install `ts-node` and `typescript` and make sure that you have a valid `tsconfig.json`. But plain JS is also great. I'm glad it helped you.

[2019-03-28 07:32] dotansimha commented on #1586
@pelhamrj , I think you are using the wrong `map` value here.

In your generated code, this is the relevant type:
[code]

And the wrapper is:
[code]

It means that `.data` will be `VerifyResetCodeQuery` (type is `Query`) and `.data.verifyResetCode` is `VerifyResetCodeQuery['verifyResetCode']` (type is `User`).

By declaring your variables as `verifyResetCode: Observable<VerifyResetCodeQuery>;`, yo

[2019-03-28 07:32] #1586 closed

[2019-03-28 07:47] fooraiyz opened #1588 "Online live demo website: GraphQLDocumentError: Unknown directive "client""
**Describe the bug**

I am trying to get an understanding of how the graphql-codegen works with the @client directive.

However, when I try the online code generator https://graphql-code-generator.com and use the @client directive, the following error occurs.

GraphQLDocumentError:  Unknown directive "client". at undefined:4:16

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL sche

[2019-03-28 07:51] dotansimha commented on #1588
Hi @fooraiyz ,
The `@client` directive is only a declarative directive that being removed during runtime by `apollo-client`, and it's not part of the codegen, or GraphQL in general.
If you wish to use it, make sure to add the following to your schema:

[code]

[2019-03-28 07:51] #1588 closed

[2019-03-28 08:17] jonaskello opened #1589 "Suggestion: Always generate parent type for resolvers"
**Is your feature request related to a problem? Please describe.**

Naming of types that is returned by resolvers is inconsistent.

**Describe the solution you'd like**

In order to set the context for this suggestion, let's define the concept of a `FieldResolver` and a `TypeResolver`. A `FieldResolver` resolves a field on a type, and a `TypeResolver` is a map of `FieldResolver`s.

To give an exam

[2019-03-28 08:33] roman-may opened #1590 "[Typescript] Generated QueryVariables filed with default Value not optional"
**Describe the bug**
If you provide a default value for a query variable, the generated field in the query variable type is mendatory instead of optional.

It worked before with version "0.12.6".

**To Reproduce**
Steps to reproduce the behavior: Provide a default value in a query.

1. My GraphQL schema:
I can provide it if its necessary.

2. My GraphQL operations:
[code]

3. My `codegen.yml` conf

[2019-03-28 08:50] jonaskello opened #1591 "Suggestion: Parameterized default mapper for typescript-resolvers"
**Is your feature request related to a problem? Please describe.**

Using the [default mapper](https://graphql-code-generator.com/docs/plugins/typescript-resolvers#defaultmapper-string) I cannot refer to the type that is being mapped.

**Describe the solution you'd like**

Today we can do this:

[code]

From what I understand this feature can only replace all types by a single type (`any` in the e

[2019-03-28 09:00] dotansimha commented on #1590
@roman-may It think @kamilkisiela fixed it recently, can you please try `1.0.6`?

[2019-03-28 09:07] roman-may commented on #1590
@dotansimha You're right. I did not realize there was an update. Thank you for the fast reply!

[2019-03-28 09:07] #1590 closed

[2019-03-28 12:43] dotansimha commented on #1589
Hi @jonaskello ,
Thank you for your suggestion.
We are working now on improving the resolvers packages, we want to improve the usage of mappers, by overriding the inner types and links when mappers are used. It also requires to create a `ResolverTypes` type that contains mapping between GraphQL type to a TypeScript type (which is the same as your suggested, but it will also work for return types).

[2019-03-28 12:44] dotansimha commented on #1591
Awesome! I'll try to add it :)

[2019-03-28 13:17] brainlessdeveloper opened #1592 "TypeScript - Bad syntax generated for interface with no fields that extends another"
**Describe the bug**

The schema I'm trying to generate types for contains some types that implement other types but don't contain any fields of their own. See the schema below for a minimal reproducible example.

The example below generates the following code:

[code]

The generated line `type SpecificInterface = GenericInterface & ;` is not valid TS.

**To Reproduce**
Steps to reproduce the beha

[2019-03-28 14:17] pelhamrj commented on #1586
You are insanely fast at answering issues! It's rare to find a developer so committed! Thank you!

Also, I feel very dumb for not catching that mistake! I apologize for wasting your time. Thank you for the help!!

[2019-03-28 15:50] dotansimha opened #1595 "Better output for resolvers plugins when used with mappers"
Given the following schema:

[code]

If the configuration of `mappers` include the following:
[code]

Then anywhere in the resolvers, `B` should be replace with `MyB`, but `A` should be `Omit<A, 'b'> & { b: MyB } `, in order to replace the type of `B` with the actual type.
If `A` also has a mapper we should ignore this behaviour and just use the mapped `A`.

[2019-03-28 15:50] dotansimha commented on #1595
WIP here: https://github.com/dotansimha/graphql-code-generator/pull/1593

[2019-03-28 15:53] dotansimha commented on #1591
WIP here: https://github.com/dotansimha/graphql-code-generator/pull/1593

[2019-03-28 16:46] dotansimha commented on #1592
@brainlessdeveloper, thank you for reporting it.
I managed to reproduce this issue and fix it: https://github.com/dotansimha/graphql-code-generator/pull/1596

Can you please test the alpha version? `1.0.7-alpha-ba1a94bb.4`

[2019-03-28 16:48] dotansimha commented on #1586
@pelhamrj sure no problem :) and don't worry, it happens for everyone :)

[2019-03-28 16:58] brainlessdeveloper commented on #1592
How can I access the tag?

[2019-03-28 16:59] dotansimha commented on #1592
@brainlessdeveloper from npm, use that version instead of `1.0.6` in your `package.json` (just make sure to update all packages from `@graphql-codegen/...`)