[2019-03-28 17:01] brainlessdeveloper commented on #1592
Ah right, sorry :see_no_evil:

The generated types look great now. Thanks!

[2019-03-28 17:02] dotansimha commented on #1592
@brainlessdeveloper Great, so I'll update it once we'll release a stable version with this fix.

[2019-03-28 18:10] slikts opened #1597 "Generator can't convert empty object literal to AST"
**Describe the bug**

Empty object literal as a default value produces the following error at the Generate step: `TypeError: Cannot convert value to AST: {}`

**To Reproduce**
Repo with minimal example: https://github.com/slikts/gql-gen-default-value-issue/
[code]

GraphQL schema:

[code]

**Environment:**

- OS: macOS 10.13.6
- `@graphql-codegen/...`: 1.0.4
- NodeJS: 11.9.0

[2019-03-28 19:03] jimmybaker opened #1599 "Missing properties from type 'Location': startToken, endToken, source"
**Describe the bug**
I'm using the typescript-react-apollo plugin to generate components from my queries. The Generated component looks like this:

<img width="424" alt="Image 2019-03-28 at 1 54 22 PM" src="https://user-images.githubusercontent.com/50668/55184788-0b040080-5161-11e9-9e1e-eddf92535797.png">

But, notice how the `loc` key in that object has a red underline. It's failing because Types

[2019-03-28 19:15] ebeltran1981 opened #1600 "The TIME plugin is throwing an exception: moment_1.default is not a function"
**Describe the bug**
I did add the latest (1.0.6) **time** plugin to my gqlgen.yml file. When run the cli it throws an error: **TypeError: moment_1.default is not a function**

**To Reproduce**
Steps to reproduce the behavior:

- run graphql-codegen --config gqlgen.yml

1. My `codegen.yml` config file:

[code]

**Expected behavior**
Not to fail and see the time in the generated file.

**Environmen

[2019-03-28 22:33] ezpub opened #1602 "[1.0] How do I reuse the types of a client-side query?"
I'm using GraphQL Code Generator with the Angular template plugin.

I can write a query on client side, and it'll generate the code something like this
[code]
In another part of the codebase, I want to reuse the data type of `user` which were generated from the client-query. Something like this `selectedUser:  UsersQuery.User;`. But since the type of that single user was defined as part of the `Us

[2019-03-28 22:40] elado commented on #1602
I just upgraded to 1.0 and had the same question.

It is possible to use this as a type:

[code]

e.g.

[code]

but it's not ideal. I think the previous setup (`UserQuery.User`) was easier to handle.

[2019-03-28 22:44] emadow commented on #1602
+1 on a more ideal solution; it would be nice to have a more sane-looking type scheme.

[2019-03-29 10:57] edorivai opened #1604 "Usage with Gatsby fragments"
Not as much a feature request, but I ran into a moderately difficult problem to debug, and just want to leave my solution here for future googlers.

To start off, these are the versions I'm working with:

[code]

## My problem
My goal is to generate TypeScript typings for the Gatsby queries I'm defining. An example query:

[code]

I'd then run the `typescript` and `typescript-operations` plugins a

[2019-03-29 16:19] stevenmusumeche opened #1606 "Cannot import schema from TypeScript file"
Thank you so much for your work on this project.  It is truly wonderful.

I am following the documentation at https://graphql-code-generator.com/docs/getting-started/schema-field#javascript-export

I am currently using my project's URL as the schema, and it works perfectly, which tells me that the schema is valid.  I am now trying to use a TS file instead of a URL.  I specified the require field a

[2019-03-29 19:47] stevenmusumeche commented on #1606
For others that might stumble upon this issue, here is how I solved it.

First, I created a "loader" file that will be used for the `schema` field in `gql-gen.yml`.  That file will import the schema from your TypeScript files and then export it.

[code]

[2019-03-29 19:47] #1606 closed

[2019-03-29 20:25] stevenmusumeche opened #1609 "Watch mode not working with JavaScript export schema type"
I have the following working config file which generates types correctly.

[code]

However, when running the CLI with `--watch`, it does not see any changes to the schema files (which are imported in `schema.js`).

[2019-03-29 20:38] stevenmusumeche commented on #1609
I believe the underlying issue is that gql-gen has no idea which files to watch.  Could we add another config option (watchGlob?) that watch mode could use, if present?

[2019-03-29 21:14] janhartmann commented on #1602
This is the reason I can not upgrade our codebase to 1.* as we use the types across the components. We use almost everywhere:

[code]

And with this change, it is impossible to re-use the same types from the query.

[2019-03-30 08:38] manV commented on #1602
This is the exact problem I am facing. Cannot upgrade to 1.x as return types are used everywhere in code base.

[2019-03-30 08:39] janhartmann commented on #1602
@dotansimha what do you think of changing this back to the explicit types used for the queries?

[2019-03-31 06:05] dotansimha commented on #1604
Hi @edorivai !
Thank you for reporting it. We should definitely document how to use it with Gatsby fragments, and make the error message better.

[2019-03-31 06:10] dotansimha commented on #1602
@janhartmann @manV @emadow There were a few discussions regarding this issue before.
We decided to drop the old usage for some reasons:
- It was very hard to maintain and develop - there were a lot of issues about mismatches, invalid syntax and more.
- The output was not usable with `babel-typescript` because of `namespace`s.
- Naming conflicts.

We decided to go with a single type per operation,

[2019-03-31 06:15] dotansimha commented on #1609
Hi @stevenmusumeche ,
You can add `watch` section to your `codegen.yml`, and add custom paths to watch, it can accept with `boolean | string | string[]`, so you can just do:

[code]

Leaving it open until we document it better :)

[2019-03-31 06:19] dotansimha commented on #1599
Hi @jimmybaker ,
I don't think it's a naming collision, it seems like a `graphql` typings issue.  Which version of `graphql` and `@types/graphql` do you use?
Because it seems like the most updated version of `@types/graphql` supports `loc` property: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/graphql/language/ast.d.ts#L186-L190 (it's optional, so maybe we don't have to inc

[2019-03-31 06:20] dotansimha commented on #1597
@slikts , thank you for reporting it, I'll take a look soon.

[2019-03-31 06:33] janhartmann commented on #1602
The fragments is unfortunally not a solution for us.

We have very specific queries for all our data components where only the exact properties are fetched for it (highly nested tree also)

I would love to see the namespace option back as you also mention. If not, we will stick to the pre 1.0 version.

Thanks for the hard work so far!

[2019-03-31 07:47] dotansimha commented on #1602
@janhartmann Can you please share you use case? Any specific reason not to use fragments?
And sure, we'll update soon if we'll see that's it not a big deal to add the backward compatibility support.

[2019-03-31 07:49] dotansimha commented on #1606
@stevenmusumeche I think adding `ts-node/register` should do the trick.
We are using `graphql-toolkit` for automatically load the schema from any input, so it might be an issue with it.

[2019-03-31 08:42] dotansimha commented on #1604
Fixed in https://github.com/dotansimha/graphql-code-generator/commit/72ddabcfae838313d10d8e50f392e3c741188460 .
Thanks @edorivai

[2019-03-31 08:44] dotansimha commented on #1609
Updated in https://github.com/dotansimha/graphql-code-generator/commit/c5d5b552bcd40e64bfba79dcbe1de84f983f1226

[2019-03-31 09:03] dotansimha commented on #1597
I managed to reproduce it. The method `printSchema` from `graphql` is expecting each scalar to be serializable, and by providing only `scalar A` (with the GraphQLScalarType object), makes it impossible to print.

We can use `printSchemaWithDirectives` from `graphql-toolkit` that should handle this case as well.
I'll check and update.

[2019-03-31 10:19] dotansimha commented on #1597
@slikts I tested it and it's not simple to avoid this error without building the schema correctly.
I think the easiest solution for you at the moment is to build your schema manually with your `scalar` resolvers, and let GraphQL Modules load that schema. Make sure to implement `serialize` method for the scalar resolvers:

[code]

@ardatan @kamilkisiela what do you think?

[2019-03-31 10:55] dotansimha commented on #1219
Update:
We are currently implementing this PR: https://github.com/dotansimha/graphql-code-generator/pull/1593
The goal is to automatically create a new type per each GraphQL type, based on it's fields and mapping.
It should be much easier now.
We are also adding the ability to wrap types with `Partial<>`.

[2019-03-31 16:08] toverux opened #1617 "Undefined Apollo service in Apollo Angular queries/mutations"
**Describe the bug**

When using auto-generated queries or mutations, Mutation.apollo is undefined:

in fesm5 `ng.apollo.js`:
[code]
[code]

It's a new project, I basically copied all the configuration from another project that has virtually the same bootstrap code, so I don't know what the difference could be, except that the old project uses v0.16.1 and the new one v1.0.6.

If I import `Apollo`

[2019-03-31 21:49] ezpub commented on #1602
Using fragment is fine for me as I'm using code generator v1 on a new project. But it might not be an ideal solution in some cases, as you have to create a fragment for your query in order to reuse the types, regardless of whether you really intend to share the fragment or not. But this doesn't really bother me.

I think it's a good idea having a compatibility plugin to support other people using

[2019-03-31 22:36] DonaldWebb commented on #1606
I have been using default export on .ts with ts-node/register for a couple of months, it works well.
Remember to add ts-node as a dev dependency.
[code]

[code]

[2019-04-01 06:20] dotansimha commented on #1617
@kamilkisiela any idea?

[2019-04-01 07:36] fooraiyz commented on #1588
Hi @dotansimha ,

Thanks for the prompt reply and your advice.  I have been trying to work this out but am struggling.

In the Apollo docs [concerning local state management](https://www.apollographql.com/docs/angular/basics/local-state#combine-data) they state

Given what you have said, does this mean that it is not possible to achieve this using the 'graphql-code-generator?  In other words, to u

[2019-04-01 09:36] dotansimha commented on #1602
@ezpub @janhartmann I started to experiment with the compatibility plugin. Still not sure that we'll be able to cover all use cases.
WIP here: https://github.com/dotansimha/graphql-code-generator/pull/1621
Example for output here: https://github.com/dotansimha/graphql-code-generator/pull/1621/files#diff-6e5a61a30f601f6d18070c4f82a44dcbR80

[2019-04-01 09:37] janhartmann commented on #1602
Great @dotansimha, I will have a look!

[2019-04-01 09:47] dotansimha commented on #1588
@fooraiyz Sorry, I don't understand what's the issue here.
If you are using client-side local state with Apollo, you need to have 2 schemas: the remote schema, and the client-only schema.
The live-demo on the website allow you to write only 1 schema for test-purposes, but you can specify multiple schemas when you are using the codegen from the cli in your project.
Please see the docs: https://grap

[2019-04-01 10:07] hediet opened #1622 "Navigation Support .ts -> .graphql"
It would be great if one could easily jump to the `.graphql` file the symbol from the `.ts` file was created from.

E.g. we have this code in `main.tsx`:
[code]
and the query in `query.graphql`:
[code]

It would be great if I could navigate from `@Pos1` directly to `@Pos2`.
There are multiple ways to implement that:
* Sourcemaps
* Typescript Language Service Plugin

A sourcemap would map `graphql.

[2019-04-01 11:46] fooraiyz commented on #1588
@dotansimha Thank you for your time and patience.  I understand now.   I am really appreciative of your help.

[2019-04-01 14:03] jonaskello opened #1624 "Fragment on union type gives error schemaType.getInterfaces is not a function"
**Describe the bug**
Fragment on union type gives error schemaType.getInterfaces is not a function

**To Reproduce**

There is a [reproduction repo here](https://github.com/jonaskello/graphql-codegen-issue1)

Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
To genereate without error.

[2019-04-01 14:08] jonaskello commented on #1624
The error happens on [this line](https://github.com/dotansimha/graphql-code-generator/blob/c2729af0c26785cc3eda71e20b19748f0f1def73/packages/plugins/visitor-plugin-common/src/selection-set-to-object.ts#L266). It seems to assume that the getInterfaces function is available but it is not.

[2019-04-01 14:11] stevenmusumeche commented on #1609
@dotansimha thanks for the clarification on the watch option.  When adding the glob to my settings, I can see that gql-gen "sees" that a schema has changed, however, the types are not updated.  I think the problem might be because I am using a custom schema loader?

[code]

[code]

[2019-04-01 14:56] jonaskello opened #1625 "Extended union type not extended in joined schema"
**Describe the bug**

Extended union type not extended in joined schema.

**To Reproduce**

There is a [reproduction repo here](https://github.com/jonaskello/graphql-codegen-issue2).

Steps to reproduce the behavior:

1. My GraphQL schema:

**schema1.ts**
[code]

**schema2.ts**
[code]

**schema-join.ts**
[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expecte

[2019-04-01 16:42] stevenmusumeche opened #1626 "React-Apollo variables wrapped in Partial<>?"
I'm experimenting with this library and auto-generating react-apollo components. When using the generated component, I do not get a type error when I don't provide a required variable to the query.  For example:

[code]

It generates a react-apollo component `ProductDetailComponent`.  When I use that component like this, with the missing brandKey and productKey, there are no type errors, even thou

[2019-04-01 17:26] kamilkisiela commented on #1617
@dotansimha @toverux I tried it out and it seems to work: https://stackblitz.com/edit/apollo-angular-services-a9kesc?file=app%2Fgenerated%2Fgraphql.ts

[2019-04-01 17:41] kamilkisiela commented on #1617
@toverux could create a small reproduction?

[2019-04-01 21:38] jonaskello commented on #1625
After a lot of experimenting and trial and error I changed my code in the **schema-join.ts** file to this and now it works!!

[code]

Not sure what is going on but I'm happy with the fact that it works :-)

[2019-04-02 04:11] mshwery commented on #1219
@dotansimha curious why the mappers only generate types for _type resolvers_ but not all instances of a type? For instance we see this in mutation return types but the mutation resolvers don't use the mapped type? This is particularly a problem when using mappers to replace types like so:

[code]

[code]

Later we see the `Thing` type, not mapped, which leads to resolvers failing to compile if the

[2019-04-02 06:11] jonaskello opened #1631 "Suggestion for typescript-resolvers: Use generated resolver type in regular mappers"
**Is your feature request related to a problem? Please describe.**

Use generated resolver type in regular mappers.

**Describe the solution you'd like**

This suggestion builds on the features introduced in #1593.

The changes means that there are now special resolver return/parent types generated for all schema types, and these types are returned by default by resolvers. Also these resolver type

[2019-04-02 08:56] jonaskello opened #1632 "Types for subscription operations seem to have an extra wrapper"
**Describe the bug**

Types for subscription operations seem to have an extra wrapper. Maybe this is an effect of  #1453 where the wrapper seems to have been removed for the resolver, but it is not removed for the operation types?

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expecte

[2019-04-02 11:01] jonaskello commented on #1632
Actually I don't think this error report is accurate :-).

I am getting some strange behaviour though and I'm not sure the typings are 100%  correct.

I have somthing like this resolver:

[code]

At run-time it seems there is a difference between the first parameter in `subscribe` and  `resolve`, that is `parent` and `payload` above. For `parent` i get `RootValue`, for `payload` I get the object r

[2019-04-02 12:41] jonaskello opened #1633 "Suggestion: Allow __typename in types returned by resolvers"
**Is your feature request related to a problem? Please describe.**

When working with resolvers that returns an union type there is a need to resolve the concrete type. Graphql supports [several ways](https://stackoverflow.com/a/53082574/2761797) to do this. One way is the `__resolveType` function. However there is also a built-in default implementation of the `__resolveType` function  which will

[2019-04-02 12:46] jonaskello commented on #1633
Ideally, the optional `__typename` field could be added to the raw schema types generated by the `typescript` plugin. That would solve the above and also my more unusual use-case mentioned [here](https://github.com/dotansimha/graphql-code-generator/issues/1350#issuecomment-467345175).

This change would be non-breaking if the `__typename` field is generated as optional. I guess the `typescript` pl

[2019-04-02 13:03] philiiiiiipp opened #1634 "@graphql-codegen/flow with `useFlowExactObjects: true` creates invalid javascript for enums"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

If you run the codegen here it will produce

[code]
where `ExampleValues` should not contain the `|`.

[2019-04-02 14:36] toverux commented on #1617
I've just had the intuition that this could be related to my tsconfig language level target (es5, es2015, etc).
That's not pure Angular CLI, I use things like `@angular-builders/custom-webpack` to add my own webpack or TypeScript config on top of what Angular CLI does.

I tested that hypothesis and I was right, changing my target to es5 (instead of es2015) made it work. The other project had es5 t

[2019-04-02 15:25] jonaskello opened #1637 "@graphql-codegen/visitor-plugin-common@1.0.6" has incorrect peer dependency "graphql@14.2.0""
**Describe the bug**

@graphql-codegen/visitor-plugin-common@1.0.6" has incorrect peer dependency "graphql@14.2.0"

**To Reproduce**

Check package.json [here](https://github.com/dotansimha/graphql-code-generator/blob/c75ea46773e5f7c46c458e92bc9378f070c8cc37/packages/plugins/visitor-plugin-common/package.json#L17). It should probably allow a wider range of the graphql package?

[code]

I think it

[2019-04-02 16:20] kamilkisiela commented on #1617
So you're saying that `ng serve` doesn't work when target equals `es2015`? Maybe it's the AOT compiler that makes the magic in prod and not `es5` as a target.

Could you try `ng server --prod` and see what happens?

[2019-04-03 06:25] #1624 closed

[2019-04-03 08:18] jonaskello commented on #1633
These are the use-cases for `__typename` that I currently know of:

1. You can ask for `__typename` in an operation sent to the server.
2. You can use `__typename` in resolvers for resolving types of union and interfaces instead of `__resolveType`.
3. You can use `__typename` to construct an unique ID for a normalized cache (I think apollo allows you to construct your own ID like this).

Given tha

[2019-04-03 08:43] robvk opened #1645 "Flow: Input type sets fields as required"
**Describe the bug**
When I use the input keyword all fields are marked as required (so `email: ?string` instead of `email?: ?string`).

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

3. My `codegen.yml` config file:

[code]

This gives the following *flow* output for UpdateUser:
[code]

**Expected behavior**
The output I would expect is:

[code]

**Environment:*

[2019-04-03 13:32] Elijen commented on #649
`__typename` has many usages in client applications. It's also a valid field in a GraphQL query. I think it would be really nice to have the option to add it into all types (even though I think it should be done by default).

@eljenso Any chance you could re-open the issue?

[2019-04-03 13:35] jonaskello commented on #649
@Elijen see also #1633, and [this comment](https://github.com/dotansimha/graphql-code-generator/issues/1633#issuecomment-479388007) in that issue.

[2019-04-03 13:41] Elijen commented on #649
@jonaskello Thanks, I've deleted my comment because I though I've misunderstood the behavior, but it seems generating `__typename` would really be helpful.

@dotansimha In your example I would expect the types look like this:
[code]

I think it makes more sense as this is how the object actually looks like.

[2019-04-03 14:30] brainlessdeveloper commented on #1592
@dotansimha Random question, but what do you use for tagging and versioning this repository? It seems pretty tidy.

[2019-04-03 14:37] dotansimha commented on #1592
@brainlessdeveloper We are using `lerna` for managing releases and tags, along with with CI configuration for auto-release of alpha versions automatically on each commit.
Changelog is done using GitHub Releases (on tags that have been created by `lerna`).
We tried https://github.com/conventional-changelog/conventional-changelog in the past but it created a lot of clutter on the changelogs, so we p

[2019-04-03 14:39] brainlessdeveloper commented on #1592
Thanks a lot!

[2019-04-03 16:06] andfs opened #1646 "Generate components for react-apollo in separated files"
**Is your feature request related to a problem? Please describe.**

To avoid merges, I'd want to generate the react-apollo components in different files. For example. One component per file.

**Describe the solution you'd like**
It'll be great to have a config option to generate components in different files.

**Describe alternatives you've considered**
The output file name could accept a regex st

[2019-04-04 07:45] emmenko opened #1650 "Flow resolvers - Missing default generics annotation for generated interface types"
**Describe the bug**
The generated types for interface types are missing a default generics annotation `<>`, causing flow to throw an error:

<img width="706" alt="image" src="https://user-images.githubusercontent.com/1110551/55537836-5e280700-56bd-11e9-9489-08de8f3ba098.png">

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My config file:

[code]

**Expected

[2019-04-04 10:38] roman-may opened #1651 "[ typescript-operations] NamingConvention Breaking Change"
I'm not sure if this is a Bug or if it was planned, but the namingConvention changes from 1.0.4 to 1.0.5 were breaking for the typescript-operations plugin.

We use the following .yml:
[code]

At version 1.0.4 the Query:
[code]
would result in Types like GetUserQuery and GetUserQueryVariables.
After Version 1.0.5 the generated types are Get_UserQuery and Get_UserQueryVariables.
Even if i use a cus

[2019-04-04 10:58] leebenson commented on #1633
👍 for this. We have a ton of code that branches based on a union's/interface's returned `__typename`, and being able to select that as a first-class field gives this parity with the GraphQL spec.

Currently, we're working around this by having a concrete field called `type` that returns the same thing, but that's redundant since it's being auto-generated by our GraphQL server.

[2019-04-04 10:59] leebenson commented on #649
Also https://github.com/dotansimha/graphql-code-generator/issues/1633#issuecomment-479850723

We could very much do with `__typename` being selectable in a returned response.

[2019-04-04 11:06] Elijen commented on #649
Keep in mind that for example `apollo-client` always selects `__typename` even if it's not specified in the query.

[2019-04-04 11:08] leebenson commented on #649
To provide a use-case, re:

☝️ Despite being an internal field, it's still very useful to have access to this in user-land code.

We have a ton of interfaces, and require knowing which concrete type is being returned.

We also pass around `__typename` in child React components to determine which subsequent GraphQL queries should be executed based on that concrete type.

IMO, it should be a selecta

[2019-04-04 11:16] leebenson commented on #649
This is true, but because GraphQL Code Generator doesn't include `__typename` on individual fields, TS only reports it being available at the top-level.

Example --

Given something like this:

[code]

I get `__typename` on the root-level query:

<img width="472" alt="Screenshot 2019-04-04 at 12 14 01" src="https://user-images.githubusercontent.com/719722/55551649-3d6aac00-56d3-11e9-84c6-e40ed62ac

[2019-04-05 09:23] dauledk opened #1654 "Agnualr error with codegen and @client directive"
**Describe the bug**
I can't generate code for a query, that looks for a client field.

**To Reproduce**

1. My GraphQL schema (client):

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
When I run: `graphql-codegen`, I expect a service generated for `visibilityFilterQuery`. But I get the following error:

[code]

**Environment:**

- OS:
-

[2019-04-05 13:40] aiosifelis opened #1655 "/"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2019-04-05 13:40] #1655 closed

[2019-04-05 13:45] AndreiBacescu opened #1656 "resolveConventionName(...) is not a function"
**Describe the bug**

I'm trying to migrate to version  1.0.6 but when I try to add *namingConvention: enumValues: change-case\#lowerCase * parameter in `codegen.yml` I got this error.

[code]

**To Reproduce**

1. My `codegen.yml` config file:

[code]

**Environment:**

- OS:  Windows 10 Pro
- NodeJS: v11.9.0

[2019-04-05 19:42] CameronFletcher92 commented on #1599
I'm seeing the same things using:
 "@types/graphql": "14.2.0"
and
"graphql": "14.2.1",

[2019-04-05 22:54] CameronFletcher92 commented on #1633
Would it be feasible to add support for the `skipTypename` config option to the base @graphql-codegen/typescript plugin, and just have it default to `true`?

Same as how it's provided to the operations plugin?
https://graphql-code-generator.com/docs/plugins/typescript-operations#skiptypename-boolean-default-value-false

[2019-04-06 07:05] JAFong opened #1661 "Generate react-apollo components from operations in .tsx files"
I'd like to colocate my GraphQL operations with my React components.  So instead of defining a query in a corresponding `.graphql` file, I would like to use `graphql-tag` to define the same query within a `.tsx` file instead.

I receive the following error
[code]

Using this config:
[code]

[2019-04-07 08:41] dotansimha commented on #1661
@DAB0mB , can you please take a look? I think it's related to `graphql-tag-pluck`.

[2019-04-07 08:44] dotansimha commented on #1654
@dauledk
It looks like you didn't include your client-side schema as part of the codegen schema.
You should have a client-side schema file, for example `client-schema.graphql` with the following content:

[code]

Then, provide it to your codegen configuration:

[code]

This way, the codegen will merge both schemas, and the documents will get validated against the merged schema.

[2019-04-07 08:44] #1654 closed

[2019-04-07 08:45] dotansimha commented on #1651
We added this change to preserve `_` in naming, in order to prevent conflicts in types when you have queries like `GetUser` and `Get_User` (Both resulted in `GetUser` type).
We preserved `_` before 1.0, and it was a bug in 1.0 that was fixed.

Thanks your for reporting in, @roman-may .

[2019-04-07 08:45] #1651 closed

[2019-04-07 08:47] dotansimha commented on #1646
Hi @andfs , thank you for reporting it.
It was discussed before here. We are currently only support only one output file, in order to avoid the complexity of maintaining imports between generated files.
We might add the feature in the future ;)

[2019-04-07 08:47] dotansimha commented on #1637
Hi @jonaskello ! Thank you for reporting it, I'll fix it in the next release.

[2019-04-07 08:49] dotansimha commented on #1632
@kamilkisiela can you please take a look?

[2019-04-07 08:51] dotansimha commented on #1626
@stevenmusumeche, thank you for reporting it. Can you please share the generated component and type?

[2019-04-07 08:52] dotansimha commented on #1625
Hi @jonaskello ,
We are using `graphql-toolkit` for merging GraphQL schemas, it has support for preserving decorators, and has less trivial errors while merging the schema.
I think there is an issue in the merge logic in case of unions.

@ardatan can you please check that?

[2019-04-07 08:54] dotansimha commented on #1622
Hi @hediet, thank you for opening this issue.
I think source map might do the trick, but I never tried to generated those before.
We might add the feature in the future (PRs are always welcome 😉 )

[2019-04-07 08:56] #1597 closed

[2019-04-07 10:06] dotansimha commented on #1599
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/1663

[2019-04-07 10:14] dotansimha commented on #1625
I tested it in `graphql-toolkit` and it seems to work: https://github.com/ardatan/graphql-toolkit/commit/f1393c3e172f4f2648d3307120617ce87a7e68c9

@jonaskello I recommend to use the tools from `graphql-toolkit` to merge schemas, it might be easier than parsing/printing it ;)

[2019-04-07 10:14] #1625 closed

[2019-04-07 10:16] dotansimha commented on #1637
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/1663

[2019-04-07 12:11] dotansimha commented on #1645
Thanks @robvk ,
Fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/1663

[2019-04-07 12:30] dotansimha commented on #1656
Thank you for reporting it, @AndreiBacescu.
I managed to reproduce and fix it in this PR: https://github.com/dotansimha/graphql-code-generator/pull/1663

[2019-04-07 12:31] dotansimha commented on #1650
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/1663
@emmenko , can you please try the latest alpha from that PR? (`1.0.7-alpha-b4949752.51`)

[2019-04-07 12:41] dotansimha commented on #1634
Thanks @philiiiiiipp , fixed in: https://github.com/dotansimha/graphql-code-generator/pull/1663

[2019-04-07 13:18] dotansimha commented on #1219
Hi @mshwery , I think that the recent changes we introduced related to the resolvers package should cover this issue, because `mappers` will now apply to other types where it's referenced.
https://github.com/dotansimha/graphql-code-generator/pull/1593
If that's not covering your use-case, can you please open a new issue?

[2019-04-07 13:22] dotansimha commented on #649
@leebenson I think in the most recent version (>1.0), it should be there. All levels of selection set should have `__typename`. If it's specified in the selection set, it will be required, otherwise, it will be optional. Is that's no the behaviour you are aiming for, can you please open a new issue?

Regarding adding `__typename` to the base types, there is an open issue for that, and we'll try to

[2019-04-07 13:32] leebenson commented on #649
@dotansimha the screenshots in https://github.com/dotansimha/graphql-code-generator/issues/649#issuecomment-479855997 are actually generated from v1.0.2, so it looks like this is still an issue.

It's definitely specified in the selection set - both in the `fragment` as well as an explicit field (just in case that first one in the fragment wasn't being picked up.)

[2019-04-07 13:54] dotansimha commented on #1656
Fixed in 1.0.7 :)

[2019-04-07 13:54] #1656 closed

[2019-04-07 13:54] dotansimha commented on #1650
Fixed in 1.0.7 :)

[2019-04-07 13:54] #1650 closed

[2019-04-07 13:54] dotansimha commented on #1645
Fixed in 1.0.7 :)

[2019-04-07 13:54] #1645 closed

[2019-04-07 13:55] dotansimha commented on #1637
Fixed in 1.0.7 :)

[2019-04-07 13:55] #1637 closed

[2019-04-07 13:55] dotansimha commented on #1634
Fixed in 1.0.7 :)

[2019-04-07 13:55] #1634 closed

[2019-04-07 13:55] dotansimha commented on #1604
Fixed in 1.0.7 :)
Now it will show a better error, and we added docs for Gatsby integration.

[2019-04-07 13:55] #1604 closed

[2019-04-07 13:55] dotansimha commented on #1600
Fixed in 1.0.7 :)

[2019-04-07 13:55] #1600 closed

[2019-04-07 13:55] dotansimha commented on #1599
Fixed in 1.0.7 :)

[2019-04-07 13:55] #1599 closed

[2019-04-07 13:56] dotansimha commented on #1595
Implemented in 1.0.7 :)

[2019-04-07 13:56] #1595 closed

[2019-04-07 13:56] dotansimha commented on #1592
Fixed in 1.0.7 :)

[2019-04-07 13:56] #1592 closed

[2019-04-07 13:56] dotansimha commented on #1591
Implemented in 1.0.7 :)

[2019-04-07 13:56] #1591 closed

[2019-04-07 13:56] dotansimha commented on #1589
Implemented in 1.0.7 :)

[2019-04-07 13:56] #1589 closed

[2019-04-07 14:11] dotansimha commented on #649
@leebenson I tried to reproduce it in our live-demo.

Test schema:
[code]

Test query:
[code]

And using `typescript` and `typescript-operations`, I'm getting this output:

![image](https://user-images.githubusercontent.com/3680083/55684690-dc530a80-5956-11e9-8af9-197d465bf3ba.png)

[code]

As you can see, the `SourceFragment` type has `__typename` field set.

I tried to copy the content to TypeSc

[2019-04-08 01:54] jimmybaker commented on #1599
Excellent. Thank you!

[2019-04-08 03:41] DAB0mB commented on #1661
I can't reproduce it and I'm not sure I even understand what your'e trying to do. So basically I setup the same config as you showed and I created the following `.tsx` files with a React.Component a a GraphQL document:

[code]

This is not the first time we do that, we also do it with the WhatsApp-Clone. I would need you to elaborate please or write a code snippet that reproduces the issue.

[2019-04-08 05:45] dotansimha commented on #1661
Also, @JAFong , please let us know where do you import `gql` from, and which version of the codegen do you use.

[2019-04-08 06:08] slikts opened #1665 "HOC signature uses union with undefined instead of optional parameters"
Currently the HOC signature is generated with `| undefined` for the optional parameter:
[code]
The result is that calling `withCreateFoo()` is an error: `Expected 1 arguments, but got 0.` The workaround is to call it as `withCreateFoo(undefined)`, which doesn't look good.

**Environment:**

- `@graphql-codegen/...`: 1.0.7

[2019-04-08 07:00] dotansimha commented on #1602
Update:
PR https://github.com/dotansimha/graphql-code-generator/pull/1621 almost ready, should cover *most* of the use-cases.

[2019-04-08 10:11] dotansimha commented on #1602
@janhartmann @ezpub
We merged the new compatibility plugin, any chance you can try it with your project (`1.0.8-alpha-87bc637b.10`)?
We would like to get more use-cases before releasing it.

[2019-04-08 10:17] appsolutegeek opened #1667 "Error: was filtered because it contains an invalid GraphQL document definition"
Hi,

Can you tell me what is wrong here ? I run the codegen. And I get lots of errors, but my graphql files are fine as far as i know.

File "libs/feature/keyset/src/graphql/schema/mutation.graphql" was filtered because it contains an invalid GraphQL document definition!
File "libs/feature/keyset/src/graphql/schema/query.graphql" was filtered because it contains an invalid GraphQL document definit

[2019-04-08 10:19] dotansimha commented on #1667
@appsolutegeek can you please share the content of `libs/feature/keyset/src/graphql/schema/mutation.graphql`?

You are specifying those files in `documents: "libs/**/*.graphql"` and those files seems to contain GraphQL schema content, any reason for that?

[2019-04-08 10:19] janhartmann commented on #1602
If you can wait for tomorrow? Working on some other features on the project right now. But I will get back to you asap.

[2019-04-08 10:21] appsolutegeek commented on #1667
I am running it like so

[code]

[2019-04-08 10:23] appsolutegeek commented on #1667
[code]

I basically have a querry, mutation and types in each feature directory

[2019-04-08 10:24] appsolutegeek commented on #1667
this is for that feature

![image](https://user-images.githubusercontent.com/2370364/55717290-49b77780-59f9-11e9-992b-799531fe61a2.png)

[2019-04-08 10:24] dotansimha commented on #1667
@appsolutegeek
The content there is a schema content, and you are loading it using `documents:` section.
How is your project constructed? do you have client and server in the same project?
And if you have the schema locally, you can load it locally without the need to load it from the remote endpoint.

[2019-04-08 10:27] appsolutegeek commented on #1667
HI, yes I have a angular app and also a server. I am using 2 x generations.

[code]

The angluar is placed into tmp, and this is copied across to the angular app when needed.

Each feature has a query and mutation and also the relevant types..

everything has a .graphql extension.

[2019-04-08 10:29] dotansimha commented on #1667
Great, and why do you use `"http://localhost:3015/graphql"` for the schema? if you have it locally, you can load it from there (then, you don't have to start the server each time in order to generate).

The fact that you used a very broad `glob` pattern causes it to load also the files that it shouldn't, that's why you are getting those warnings.

I think, in your project, the codegen config file

[2019-04-08 10:30] dotansimha commented on #1602
@janhartmann Sure no problem, we plan to release it in a few days.

[2019-04-08 10:46] appsolutegeek commented on #1667
thanks @dotansimha , just one question, i added the file and it seems to run without complaining. I am confused about one line

    documents: "tmp/**/*.graphql"

tmp/**/*.graphql - this wouldn't match anything, its an empty directory for receiving the output for my client modules - right ?

[2019-04-08 10:51] cdupuis commented on #1602
Thanks @dotansimha for all the work you are putting into this project.

I just ran the `1.0.8-alpha-87bc637b.10` though our type generation and it started to look much better:

[code]

However, I was hoping I would get `export type Query = BranchForNameQuery;` inside the namespace too. Is that omission intentional?

[2019-04-08 10:54] appsolutegeek commented on #1667
Or this is the graphql queries on my client ?

[2019-04-08 11:04] appsolutegeek commented on #1667
@dotansimha , now I get it :-) Thanks for all your help.

[2019-04-08 11:21] dotansimha commented on #1602
@cdupuis No, it should generate all of them, look here: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript-compatibility/tests/compatibility.spec.ts#L95-L119

Can you please provide a small reproduction for it?

[2019-04-08 11:24] dotansimha commented on #1667
@appsolutegeek yeah exactly, it's for the GraphQL queries of the client-side.
Closing, feel free to open a new issue if you have another question 👍

[2019-04-08 11:24] #1667 closed

[2019-04-08 11:54] andfs commented on #1646
@dotansimha thanks for answering me :) I've made a  great jog in this lib.

[2019-04-08 14:02] appsolutegeek commented on #1667
Thanks @dotansimha

[2019-04-08 14:11] appsolutegeek opened #1668 "Possible to produce classes vs types ?"
Hi,

I am using the typescript plugin. All types are used by using type keyword. In fact my tslint complains about

[code]

Although what I really need is for the generator to create classes. I use mappers and passing in the type isn't valid.

ie.

[code]

GraphQL.UserAudit isn't valid as it is this

[code]

and the createMap takes

[code]

so it needs a concrete class.

Is there some kind of conf

[2019-04-08 14:35] appsolutegeek commented on #1668
I suppose if classes can't be produced, it would be nice to be able to produce interfaces.

[2019-04-08 14:58] stevenmusumeche commented on #1626
Here are the generated types:

[code]

Usage like this works:

[code]

I also get a type error (correctly) if I leave off one of the required variables

[code]

However, if I leave off the `variables` property completely, I get no type errors:

[code]

[2019-04-08 16:25] cdupuis commented on #1602
Sure thing, @dotansimha.

See https://github.com/cdupuis/graphql-code-generator-test for an example. After running the generator, you'll see the missing Query in the `./lib/typings/types.ts`.

[2019-04-08 20:35] LawJolla commented on #528
I'm getting this error.  Version 1.0.6 with 1.0.6 versions of typescript and typescript-react-apollo

Works
[code]

[code]

Returns
[code]

codegen.yml
[code]

Thanks for the amazing work!

[2019-04-08 21:49] koenpunt opened #1670 "Generated ResolversTypes invalid when using mappers for interface types"
When specifying mappers for implementations of an interface where one of the fields is referring to another mapped type, the generated resolver type consists of a union with fields of the graphql type, instead of those from the typescript interface.

I've created a (trivial) sample project where the invalid generated types are visible:

https://github.com/koenpunt/gql-codegen-interfaces

When you

[2019-04-08 22:11] paulpjryan commented on #1602
@dotansimha Thanks for making this compatibility plugin! I've been trying it out using `1.0.8-alpha-87bc637b.10` but am having some issues with nested types. Here's an example of our generated types:
[code]
I'm seeing a typescript error on lines like `export type UsersWithAccountAccess = GetAccountUsersQuery['account']['usersWithAccountAccess'][0];`.
Error text is: `Property 'users' does not exist

[2019-04-08 22:46] ezpub commented on #1602
@dotansimha Thanks, just for your information, the compatibility plugin `v1.0.8-alpha-87bc637b.10` works fine on my machine, it generates what I expected :D

[2019-04-09 05:44] slikts opened #1672 "Set HOC config.alias to improve debuggability"
[config.alias] in react-apollo docs.

Currently the generated HOCs don't set any options, but it would be useful if `config.alias` was set because it improves the representation of the HOC in React DevTools.

When the alias is left as default, the wrapped components are named `Apollo(WrappedComponent)`, while setting the `alias` could make them look like `withHocName(WrappedComponent)`.

[config.a

[2019-04-09 05:45] dauledk commented on #1654
@dotansimha thanks for the reply. Makes sense that I have to provide the schma to `graphql-code-generator`. But if I convert my client schema from `client-schema.ts` to `client-schema.graphql`, how do I provide the schema in the Apollo angular client?

It currently looks something like this:

[code]

[2019-04-09 07:50] cdupuis commented on #1602
@dotansimha further details to the above repo to reproduce this:

It appears the call in https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript-compatibility/src/visitor.ts#L31 fails to locate the corresponding type in the schema as referenced by `typeName`.

If I change

[code]
to
[code]

it works and I get the expected query and types generated:

[code]

The

[2019-04-09 08:20] robvk opened #1673 "Flow with exact types and subresolvers produces unusable types"
**Describe the bug**
When using the exact types option the intersection way of writing the flow types creates unusable types as any object will fail. This is a flow issue with how exact objects interact with the '&' operator.

It is shown best when using a fragment:

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.

[2019-04-09 08:56] slikts opened #1675 "react-apollo should be configurable like hooksImportFrom"
There are issues with `react-apollo` such as the `withMutation` HOC [missing error and loading states][issue], and working around these issues requires, e.g., adding an another HOC. It would provide better usability if it were possible to override the import path like it is with `hooksImportFrom`.

[issue]: https://github.com/apollographql/react-apollo/issues/421

[2019-04-09 09:25] appsolutegeek opened #1676 "Allow "Maybe" to be exported, so it can be imported into a implemented class"
I am using  "implements" on the defined types, this is so I have better control over mapping using class-transformer (another library) which allows annotating over fields.

currently, it is

[code]

So when I implement a type, the fields using Maybe<type> .. but I don't have access to Maybe as its not exported.

Would be nice to have a config setting to enable exporting or not, just as it has the

[2019-04-09 11:35] kamilkisiela commented on #1631
#1677

[2019-04-09 11:48] dotansimha commented on #1676
Hi @appsolutegeek ,
Please use this configuration: https://graphql-code-generator.com/docs/plugins/typescript#maybevalue-string-default-value-t-null

[code]

[2019-04-09 12:29] dotansimha commented on #1602
@paulpjryan Can you please share your `tsconfig` file?
I think it's related to `strict` mode of TypeScript.

Without strict mode:
![image](https://user-images.githubusercontent.com/3680083/55800235-e18d9200-5adb-11e9-9176-1fc677e4b122.png)

With strict mode:
![image](https://user-images.githubusercontent.com/3680083/55800248-ece0bd80-5adb-11e9-969b-2701e876c641.png)

I think we need to add support

[2019-04-09 12:30] dotansimha opened #1678 "[TypeScript Compatibility] Should work with strict mode"
Without strict mode:
![image](https://user-images.githubusercontent.com/3680083/55800235-e18d9200-5adb-11e9-9176-1fc677e4b122.png)

With strict mode:
![image](https://user-images.githubusercontent.com/3680083/55800248-ece0bd80-5adb-11e9-969b-2701e876c641.png)

I think we need to add support for it, by wrapping the proxy type with `NonNullable`:

[code]

[2019-04-09 12:32] dotansimha opened #1679 "[TypeScript Compatibility] Doesn't work with non-default Query type"
https://github.com/dotansimha/graphql-code-generator/issues/1602#issuecomment-481142287

[2019-04-09 12:33] dotansimha commented on #1602
Thanks @cdupuis , I opened an issue for it: https://github.com/dotansimha/graphql-code-generator/issues/1679

[2019-04-09 13:46] azazdeaz opened #1680 "Custom gql-tag import won't work from 1.0"
**Describe the bug**
custom `gql-tag` imports won't be recognised in 1.0

**To Reproduce**
use a reexported `gql-tag` or [`tagged-template-noop`](https://www.npmjs.com/package/tagged-template-noop)

[code]

**Expected behavior**
Create the types for every gql operation tagged with anything called `gql`

**Environment:**

- `"@graphql-codegen/cli": "^1.0.6"`
- `"@graphql-codegen/typescript": "^1.0.

[2019-04-09 14:17] appsolutegeek commented on #1676
Thanks @dotansimha, i am already using that config.. But the type isn't being exported i.e. its

[code]

and NOT

[code]

All over types are being exported but Maybe is not..

[2019-04-09 14:20] dotansimha commented on #1676
@appsolutegeek you are right, I thought it does: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript/src/index.ts#L104

[2019-04-09 14:46] koenpunt opened #1681 "Mapped Context type can't be named Context"
**Describe the bug**

When specifying `contextType` in the config with a type called `Context`, the generated typescript file will contain multiple `Context` types, because `Context` is also the name of the generic parameter.

This should be easily solvable by changing the name of the generic parameter.

[2019-04-09 16:39] paulpjryan commented on #1602
@dotansimha That seems like a good bet. Here's a snippet of our `tsconfig.json`:
[code]
Switching `strictNullChecks` to `false` seems to resolve the errors I've been seeing.

[2019-04-09 20:38] stevenmusumeche opened #1683 "Passing --silent via CLI does not suppress output"
First of all, thank you for the work on this project. It is really pushing the boundaries of GraphQL!

I am using the CLI to generate TypeScript, and it works great.

`gql-gen --config ./config/gql-gen/config.yml`

I would now like to also run it, in CI, with the --silent option, like this:

`gql-gen --config ./config/gql-gen/config.yml --silent=true`

I also tried

`gql-gen --config ./config/gql-

[2019-04-09 21:06] josemarluedke commented on #1678
We are trying to upgrade to v1 to solve some other issue, so we started using the compatibility layer to help on the migrations and we hit this as well. We definably want to keep strict mode enabled. Any help on this would be highly appreciated.

[2019-04-10 06:44] dotansimha commented on #1678
@josemarluedke I'm working on fixing that.
Did you had other issues with the rest of the plugins?

[2019-04-10 06:47] dotansimha commented on #1680
Hi @azazdeaz , I'm note sure it's related to 1.0. We are using `graphql-tag-pluck` before 1.0 to extract document from code files.
If you wish to use custom `gql` tag, you need to specify `pluckConfig`, see my comment here: https://github.com/dotansimha/graphql-code-generator/issues/1555#issuecomment-476212983

[2019-04-10 06:47] #1680 closed

[2019-04-10 06:49] dotansimha commented on #1602
Thanks @paulpjryan , I'm working on a fix.

[2019-04-10 06:54] dotansimha commented on #1654
@dauledk You can use `.ts` file, just make sure to export the schema as default export, and add `require: ts-node/register` to your codegen config file

[2019-04-10 06:58] dauledk commented on #1654
@dotansimha  I could not find anything about `require: ts-node/register` in the codegen documentation? Is this a module I need to install, and where should it be places in the `codegen.yml` file?

And thanks for you help - our team is currently implementing Apollo. The help from the Apollo community has been awesome so far!

[2019-04-10 07:10] dotansimha commented on #1654
@dauledk https://graphql-code-generator.com/docs/getting-started/require-field

[2019-04-10 07:11] dotansimha commented on #528
@LawJolla In 1.0.7 we fixed that, now you'll get a more readable error with the missing fragment name.
If you are still having issues, please open a new issue because this one is closed and outdated.

[2019-04-10 07:55] cdupuis commented on #1679
Thanks @dotansimha, I'm confident that we have a good upgrade story once this is in.

[2019-04-10 09:02] dotansimha commented on #1679
Fixed in: https://github.com/dotansimha/graphql-code-generator/commit/c83eba157269ce8778d80eeb33a2425c740c9c7e

[2019-04-10 09:30] dotansimha commented on #1678
Fixed in https://github.com/dotansimha/graphql-code-generator/commit/57e0304d100f4a35460fb0a3b7395e036529cbd2

[2019-04-10 10:23] cdupuis commented on #1679
This is working great now. Thanks.

[2019-04-10 10:28] cdupuis opened #1686 "[TypeScript Compatibility] Fragments don't get a namespace generated"
Using latest `1.0.8-alpha-57e0304d.7` I'm seeing differences with the way code for fragments is being generated:

Previously:

[code]

With latest compatibility plugin we get:

[code]

and no further namespace. So this currently breaking backwards compatibility.

We have customer code that references `PushFields` with:

[code]

Do you think there's something that can be done to solve this?

[2019-04-10 16:47] OneCyrus opened #1691 "export introspection to report errors"
is there a way to export the exact introspection? we get the following error and it's a bit difficult to troubleshoot this. it was working with 0.16.1 so i guess there is something special with the schema at this position. but it's hard to tell if we can't see more of the schema at this position.

[code]

[2019-04-10 17:14] LawJolla opened #1692 "Unable to find fragment matching then name"
**Describe the bug**
When a fragment is imported into a query, the following is returned:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
Compile generated types

**Environment:**

- OS: MacOS 10.14.4
- `@graphql-codegen/...`: 1.0.7
- NodeJS: 11.11

**Additi

[2019-04-10 18:05] simPod opened #1693 "Backport js-yaml dependency upgrade to v0.18"
https://www.npmjs.com/advisories/788

js-yaml 3.12.0 is marked as vulnerable. Upgrade to 3.13.0 is required. However, gql-code-generator v0.18 requires it as `3.12.0` and not as `^3.12.0` so the version is locked. Can we have v0.18.1 with dep upgrade, please?

[2019-04-10 19:56] gunar opened #1694 "Cannot find name '*Query'"
**Describe the bug**
It appears to me that some types are not being generated.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
`./src/graphql.d.tsx` should have no type errors.

![image](https://user-images.githubusercontent.com/7684574/55909070-71514000-5bb1-11e9-8

[2019-04-10 22:45] gunar commented on #1694
Apparently, I need the [typescript-operations](https://graphql-code-generator.com/docs/plugins/typescript-operations) plugin as well.

Coming to GraphQL Code Generator, I really miss some code examples. It's not clear what each of the plugins do. I assume you're needing a hand with documentation.

Anyway, resolved.

[2019-04-10 22:45] #1694 closed

[2019-04-10 23:34] jereckley opened #1695 "Stencil 1.0 will require "import { h } from '@stencil/core'" in JSX components"
**Describe the bug**
This is just a heads up... you have a breaking change coming your way. After upgrading I see:
Missing "h" import for JSX types: src/generated/graphql.tsx:1523:6
           In order to load accurate JSX types for components, the "h" function must be
           imported from "@stencil/core" by each component using JSX. For example: import
           { Component, h } from '@stenc

[2019-04-10 23:49] loicplaire commented on #489
@dotansimha it should match [the TS declaration](https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript-resolvers/src/index.ts#L114).

Furthermore, if you look at [the `graphql-js` typedefs](https://github.com/graphql/graphql-js/blob/c82ff68f52722c20f10da69c9e50a030a1f218ae/src/type/definition.js#L482), you'll see that they are not optional. They are always pr

[2019-04-11 01:27] ardatan commented on #1695
You can use `@graphql-codegen/add` to add `import { h } from '@stencil/core';` to the top.
`codegen.yml`
[code]

[2019-04-11 06:09] dotansimha commented on #1692
Hi @LawJolla , can you please create a small reproduction in a repo? It will make it easier to reproduce 👍

[2019-04-11 06:11] dotansimha commented on #1691
@OneCyrus please provide your schema and codegen config file.
It looks like one of your schema files has syntax errors.

[2019-04-11 06:12] dotansimha commented on #1686
Thank your for reporting in, @cdupuis. I think we missed the implementation of fragments in the compatibility plugin.

[2019-04-11 06:41] roman-may commented on #1651
Thanks for your reply @dotansimha . I don't know why, but in our case, the underscores were removed before updating to 1.x.
What do you think about making it configurable? I could try and make a PR for this.

[2019-04-11 07:09] dotansimha commented on #1686
@cdupuis WIP here: https://github.com/dotansimha/graphql-code-generator/pull/1697

[2019-04-11 07:55] OneCyrus commented on #1691
we don't have a "schema-file" as we are using code-first in C#.  but i managed to catch the introspection from the graphql-codegen request.

### introspection
[introspection_codegen.txt](https://github.com/dotansimha/graphql-code-generator/files/3067529/introspection_codegen.txt)

### config
[code]

[2019-04-11 11:22] ken0x0a commented on #1590
I still have this issue 1.0.7...

I've just tried to upgrade from v0.18 => 1.0.7, and I cannot resolve errors by tsc.
Is this error comes back in 1.0.7 ?

[code]

[code]

[2019-04-11 11:34] borremosch commented on #1668
+1, I am using graphql-code-generator in conjunction with type-graphql. I have a service which has both a GraphQL server and a GraphQL client. I need to get some of the types that are received on the client side of this service (graphql-code-generated) and expose them again on the server side of the service. But for this I require the types to be classes as well, otherwise I cannot use them in a t

[2019-04-11 11:47] slikts opened #1698 "There should be an explicit option to exclude documents or schemas"
Related to #1229

Currently the way to exclude files is by using glob patterns (for example, like so: `src/**/!(*.spec).{tsx,graphql}`), but it's complex and doesn't scale well with the number of exceptions that may be necessary in more legacy code bases. It would be useful if there was a separate config option to exclude files; something like:
[code]

[2019-04-11 16:34] dotansimha commented on #1691
@OneCyrus It seems like the introspection works fine, but maybe something is wrong with one of the `Scripts/**/*.graphql` - can you please make sure?

[2019-04-11 17:01] OneCyrus commented on #1691
we already tried without the *.graphql files and had the same issue. and the other files don't have 1651 rows. looks very strange.

[2019-04-11 18:36] LawJolla commented on #1692
https://github.com/LawJolla/graphql-code-generator-error

https://cl.ly/30296b15fc84

[2019-04-11 19:23] dotansimha commented on #1691
@OneCyrus Can you please try to use your introspection as source of schema? (use JSON extension, `schema: scheme.json`)

[2019-04-11 19:54] OneCyrus commented on #1691
if i use the introspection-file linked above i get the exact same error. the config looks like this now

[code]

[2019-04-11 20:40] OneCyrus commented on #1691
using the toolkit like this gives me no error

[code]

[2019-04-11 21:04] OneCyrus commented on #1691
ok. problem looks like it's an incompatibility with graphql@14.1.1. updating this package seems to resolve the issue.

[2019-04-12 03:12] jrr commented on #1678
I think I'm hitting another variant of this, accessing a field on a record in an array:
[code]

[code]

[code]

That final array access (_"employee"_) is squiggled, with the following error:

Using `canary` typescript-compatibility, which is currently:

[code]

Here's a runnable repro (`yarn run gql-gen`):
https://github.com/jrr/gql-codegen-issue

[2019-04-12 08:17] robbyemmert opened #1703 "Typescript Plugin throws an error"
**Describe the bug**
The Typescript example given in the docs doesn't work. Instead it throws this error:
`Plugin typescript does not export a valid JS object with "plugin" function.`

I'm just using the built-in typescript plugin.

**To Reproduce**
Follow the quickstart, use the config from the Typescript example in the documentation

1. My GraphQL schema:
Not schema related. Try any schema.

2.

[2019-04-12 08:29] robbyemmert commented on #1703
I ran through everything again from scratch, this time using the cli init command instead of copying the yml file from the Typescript example in the docs. It worked. Seems the docs are out of date...

[2019-04-12 08:36] robbyemmert commented on #1703
For reference, here are a few parts of my old workflow that the 1.0.X updates have broken:
- The docs for the programmatic api are out of date, making it impossible to use the programmatic api anymore (I assume it actually does work, I just have no way of knowing how)
- The new 'core' module lacks a bunch of basic functionality (such as pulling schema from a remote server) that was standard in the

[2019-04-12 09:46] flisky opened #1704 "support graphql field resolver"
**Is your feature request related to a problem? Please describe.**

Rather a feature request than a problem :)

[code]

**Describe the solution you'd like**
The easiest solution I guess is marking the resolved field optional:
[code]

[2019-04-12 14:29] jefflewis commented on #1633
I opened a PR to add `__typename` to the base types. Any chance this will get merged/published soon?

[2019-04-12 23:22] nklayman opened #1707 "Export individual resolver types"
**Is your feature request related to a problem? Please describe.**

If you store your resolvers in separate files, it is impossible to declare their type with 1.0. With previous versions, `QueryResolvers` was a namespace, so you could use `QueryResolvers.myResolver`.

**Describe the solution you'd like**
Add an option to use namespaces like pre-1.0, or export each resolver individually.

**Describ

[2019-04-13 00:45] jereckley commented on #1695
Super awesome. Thanks!

[2019-04-13 01:15] #1695 closed

[2019-04-13 05:11] chrisbrooks opened #1708 "Generating react-apollo types for graphql import"
Is it possible to generate types when you are using react-apollo as I am below. I do this to split out my component from the data source as a HOC.

[code]

[2019-04-14 08:36] #1691 closed

[2019-04-15 15:32] giovanioliani opened #1712 "[Typescript plugin] Add prefix to types but not to enums?"
Hi, I'm aware that the `typesPrefix` option adds the prefix to both types and enums (as commented on https://github.com/dotansimha/graphql-code-generator/issues/1338#issuecomment-475126440), but is there some combination of options that will prefix types but not enums? If not, do you plan on adding this feature sometime in the future?

Thanks.

[2019-04-15 17:48] ohmoses commented on #1704
If I understand your problem correctly, you might possibly want to take a look at [this part of the documentation](https://graphql-code-generator.com/docs/plugins/typescript-resolvers#usage-example-wrap-default-types-with-partial).

Wherever in your codegen config you have
[code]
you'd instead use
[code]
With this setting, all the fields in the object returned from the resolver are optional, which

[2019-04-16 04:27] flisky commented on #1704
Thanks for your reply. And yes, that's the problem.

The `Partial<{T}>` defaultMapper, on the opposite side, will ask for `source.field!` in the field resolver implementation, which seems not a perfect solution to me.

The field resolver is a nice feature in graphql, and it deserves a better support in codegen (`typescript-resolvers`, more specifically), IMHO.

[2019-04-16 06:10] alonstar opened #1716 "How to generate as a interface ?"
version: 1.0.7

I followed the step to create typescript model, but I need "interface" not type. How should I do?

And,

I found [the live demo](https://graphql-code-generator.com)  is also "type", but [the document](https://graphql-code-generator.com/docs/getting-started/) is interface.

`export type Post
 {
  id: number;
  title: string;
  author: Author;
}`

codegen.yml:

schema: "http://localh

[2019-04-16 13:21] kamilkisiela commented on #1683
#1717 should fix it

[2019-04-16 13:26] kamilkisiela commented on #1707
@nklayman You can do:

[code]

[2019-04-16 13:31] kamilkisiela commented on #1716
I'm not quite sure how's `type` is any different than `interface`. Could you explain why you need an interface?

[2019-04-16 13:37] kamilkisiela commented on #1668
@borremosch @appsolutegeek I see no reason to move from types to interfaces. How is one different form another if it comes to your example?

[2019-04-16 13:43] borremosch commented on #1668
@kamilkisiela in my case, it would only help to have classes. Interfaces would not add anything over types. But actually it will require more than just classes (i.e. the proper decorators) to be able to use graphql-code-generator types in conjunction with a type-graphql server, so it would not make a lot of sense to include that type of functionality in the core graphql-codegen typescript plugin.

[2019-04-16 13:45] kamilkisiela commented on #1617
@dotansimha I'm closing this on since we didn't get any response

[2019-04-16 13:45] #1617 closed

[2019-04-16 13:48] kamilkisiela commented on #1668
Sounds like a plugin, if you want I could help you implement it :)

[2019-04-16 13:51] kamilkisiela commented on #1676
#1718

[2019-04-16 14:44] toverux commented on #1617
I came back to ES5 builds (with some regrets), the default/normal target of Angular CLI. Surely this is a problem with Angular. Although this library could emit explicit constructor on child classes of `Mutation` or `Query` to workaround the problem, that would produce heavier files, and I don't think you want that.

Angular 8 will produce both ES 2015 and ES 5 builds (loaded selectively at runtim

[2019-04-16 15:07] dotansimha commented on #1703
Hi @robbyemmert ,

**A few notes regarding the issues you had:**
- It looks like something is wrong with the `yml` you used, I'm not sure what it is, because I couldn't reproduce it, and you didn't provide a repository than reproduces it.
- The docs are updated, if there is a mistake with the docs, then that's something else, but it's updated.
- The CLI does not require `graphql` to be globally in

[2019-04-16 15:10] dotansimha commented on #1716
I agree with @kamilkisiela , there is no difference between `type` and `interface` in TypeScript (>=3).
We chose to use `type` because it's easier to add/remove/join fields.

Do you have a specific use case? Maybe we are missing something.

[2019-04-16 15:11] dotansimha commented on #1712
Hi @giovanioliani , sure, we can add it, but not as default, probably as a configuration (something like `enumPrefix: false`)

[2019-04-16 15:13] dotansimha commented on #1708
Hi @chrisbrooks !
I'm not sure I'm getting the issue here, can you please elaborate?

If you wish to generate ready-to-use components from your `.graphql` file, you can do it with `typescript-react-apollo` plugin - you can choose between a Component, HOC or hooks. Then just use it directly instead of importing from a `.graphql` file.

[2019-04-16 15:14] dotansimha commented on #1707
@nklayman I agree with @kamilkisiela , can you please try it and let us know if that works for you?

[2019-04-16 15:18] dotansimha commented on #1704
Hi @flisky ,
I think @ohmoses is right, you can use `defaultMapper` to get it.
I'm not 100% sure, but maybe the generated should have `?` when it's not a required field, can you please share your schema, or a repo with a reproduction?

[2019-04-16 15:18] #1703 closed

[2019-04-16 15:33] dotansimha commented on #1693
Hi, @simPod , sorry for the delay. I released 0.18.1 with this fix. (btw, if you are using `yarn`, you can use the `resolutions` field to do this kind of overrides).

[2019-04-16 15:33] #1693 closed

[2019-04-16 15:40] dotansimha commented on #489
@loicplaire Regarding the TypeScript plugin, was already fixed. Which version do you use?
See here: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript-resolvers/src/index.ts#L114-L119

[2019-04-16 15:41] dotansimha commented on #1651
@roman-may We are always open for PRs and new features. Just make sure to keep the current behaviour as default, and add a configuration field for that (maybe under `naming.ts` in `visitor-common` plugin)

[2019-04-16 15:43] dotansimha commented on #1590
@ken0x0a can you please open a new issue for that? And if possible, with a reproduction in a repo :)

[2019-04-16 15:49] zenVentzi commented on #1068
[code]

still got the same, not very descriptive and useful error

Fixed it indeed by unmatching name of a fragment but with a little bit discomfort due to a lot of fragments and many places used.

I think if the error included at least the mistaken name of the fragment that is not found, it'd be more useful.

[2019-04-16 18:29] ohmoses commented on #1704
It's difficult to understand what you mean by

In general, when having issues, it's best to provide a minimal example of schema + resolvers which illustrates your problem, but which is complete (e.g. doesn't use `...` to skim over details), and then  paste in the TypeScript error you're getting (or otherwise describe the difference between expected and actual behavior).

[2019-04-16 20:04] simPod commented on #1693
@dotansimha Hi, no worries. Thanks for reply and ur work. Meanwhile I used `resolutions`, thanks for the tip tho ;)

[2019-04-16 20:31] loicplaire commented on #489
See here: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript-resolvers/src/index.ts#L114-L119

My point was that the Flow declarations should match the TS ones. [The changes that were made to the TS ones](https://github.com/dotansimha/graphql-code-generator/pull/509/files) (removing optionality) should be applied to the Flow ones as well.

E.g.:

[code]

[2019-04-16 21:37] simPod commented on #1693
@dotansimha yea... one more thing https://www.npmjs.com/advisories/813 sorry :D It needs js-yaml `3.13.1` now.

_Why not use `^3.13.0` anyway?_

[2019-04-17 00:03] bopfer opened #1723 "Generate MutationFn types when not using HOCs"
When `withHOC` is true, `MutationFn` types will be generated for each mutation.  But, with HOCs off they are not generated.

**Describe the solution you'd like**

It would be nice if they would be generated when not using HOCs as well.  Or have an option to generate them.  I am using the generated Components, but often pass the mutation function around to callbacks.  Currently, my team is manually

[2019-04-17 00:21] ken0x0a commented on #1590
@dotansimha Thank you for your reply :)

I'll try when I can.
Since now I'm happy with v0.18 and already over due date... I'll try later (maybe with newer version if already released when the time I'll try).
And I'll open new issue if I can reproduce the issue :)

Thank you for you help!

[2019-04-17 02:25] nklayman commented on #1707
@kamilkisiela Thanks, it worked!

[2019-04-17 02:25] #1707 closed

[2019-04-17 03:14] iamdanthedev commented on #1683
Btw, is it possible to somehow suppress the type of output as on the screenshot but leave the errors in the output?

[code]

[2019-04-17 05:21] dotansimha commented on #1683
@iamdanthedev can you please provide the exact command and config file you are using? Also, which version is that?

[2019-04-17 05:22] dotansimha commented on #1068
@zenVentzi We fixed that in 1.0.7 - now you should get the error and the name of the fragments that caused that.

[2019-04-17 05:25] dotansimha opened #1725 "Flow resolvers signature shouldn't use optional"
Related:
https://github.com/dotansimha/graphql-code-generator/issues/489

[2019-04-17 05:25] dotansimha commented on #489
@loicplaire you are right, I opened an issue for it: https://github.com/dotansimha/graphql-code-generator/issues/1725

[2019-04-17 05:27] dotansimha commented on #1693
@simPod that's the one I upgraded to: https://github.com/dotansimha/graphql-code-generator/commit/7713bf549f52c62028f2725a5cd8d72aaf8d648d#diff-e8b2a1e1f04630fb5c0898905c324ab4R71

And we prefer to use pinned dependencies, makes it easier to maintain and track :)

[2019-04-17 07:49] kamilkisiela commented on #1692
@LawJolla in the issue's description I see you have:

`documents: "src/containers/**/*.tsx"`

But in your example, you include only one file:

https://github.com/LawJolla/graphql-code-generator-error/pull/1

I included a `fragment.tsx` and it seems to work.

[2019-04-17 13:15] zenVentzi commented on #1068
Okay. That.was.fast. Thank you!

[2019-04-17 14:00] alonstar commented on #1716
Hi, thanks for your help.

I asked this question because I got error from [tslint](https://palantir.github.io/tslint/rules/interface-over-type-literal/)

[2019-04-17 14:04] bopfer commented on #1716
There is probably no reason for tslint to care about the auto-generated files.  You should add this line under `plugins` in your codegen config:

[code]

[2019-04-17 15:24] dotansimha commented on #1716
@alonstar You should either change you linter settings (because in TypeScript, there is drastic differences between `type` and `interface`, so I don't see any reason to prefer interfaces over types), or use @bopfer suggestion to use `add`.

[2019-04-17 15:24] #1716 closed

[2019-04-17 15:31] iEricKoh opened #1731 "Cannot read property 'name' of null"
**Describe the bug**
I have a file that was doing mutation which cause the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

This's the only file under `- src/apollo/mutations/**/*.{ts,tsx}`.
Everything works fine if I remove this file.

[code]

2. My `codegen.yml` config file:

[code]

After I tried several times, I figure out the error is from the plugin `t

[2019-04-17 15:39] dotansimha commented on #1731
Hi @iEricKoh !
Thank you for reporting it. Any chance you can create a small repo with a reproduction (or, a PR with a failing test) of the error?
I tried to reproduce it but I couldn't because I don't have the schema :( Thanks

[2019-04-17 15:54] iEricKoh commented on #1731
@dotansimha Thanks for the quick response.

You can checkout this [repo](https://github.com/iEricKoh/codegen-demo) to reproduce it.

[code]

You will get the error that I mentioned after you run these commands.

The problem is the file under `src/apollo/mutations/product.tsx`

I was trying to exclude this file and everything works fine.
I also try to keep this file but disable the `typescript-oper

[2019-04-17 17:06] flisky opened #1733 "mapper field is force required in resolvers"
**Describe the bug**

The mapper field is omitted first then added back **force required** in resolvers.

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:
[code]

2. My GraphQL operations:

N/A

3. My `codegen.yml` config file:

[code]

**Expected behavior**

The generated types:

[code]

The `author` in `Post` should be optional.

**Environment:**

- `@graphql-codegen/...`

[2019-04-17 17:09] flisky commented on #1704
Sorry, I found the root case after investigating this issue more.

Please take a look at #1733 (hope I say it clearly this time:)

[2019-04-17 17:09] #1704 closed

[2019-04-17 18:02] dotansimha commented on #1602
`typescript-compatibility` is available in `1.1.0` 🚀

[2019-04-17 18:02] #1602 closed

[2019-04-17 18:02] dotansimha commented on #1626
Fixed in `1.1.0` 🚀

[2019-04-17 18:02] #1626 closed

[2019-04-17 18:02] dotansimha commented on #1631
Available in `1.1.0` 🚀

[2019-04-17 18:02] #1631 closed

[2019-04-17 18:03] dotansimha commented on #1665
Fixed in `1.1.0` 🚀

[2019-04-17 18:03] #1665 closed

[2019-04-17 18:03] dotansimha commented on #1670
Fixed in `1.1.0` 🚀

[2019-04-17 18:03] #1670 closed

[2019-04-17 18:03] dotansimha commented on #1676
Fixed in `1.1.0` 🚀

[2019-04-17 18:03] #1676 closed

[2019-04-17 18:03] dotansimha commented on #1678
Fixed in `1.1.0` 🚀

[2019-04-17 18:03] #1678 closed

[2019-04-17 18:03] dotansimha commented on #1679
Fixed in `1.1.0` 🚀

[2019-04-17 18:03] #1679 closed

[2019-04-17 18:03] dotansimha commented on #1675
Fixed in `1.1.0` 🚀

[2019-04-17 18:03] #1675 closed

[2019-04-17 18:03] dotansimha commented on #1681
Fixed in `1.1.0` 🚀

[2019-04-17 18:03] #1681 closed

[2019-04-17 18:03] dotansimha commented on #1683
Fixed in `1.1.0` 🚀

[2019-04-17 18:03] #1683 closed

[2019-04-17 18:03] dotansimha commented on #1686
Fixed in `1.1.0` 🚀

[2019-04-17 18:03] dotansimha commented on #1725
Fixed in `1.1.0` 🚀

[2019-04-17 18:03] #1725 closed

[2019-04-17 21:13] koenpunt opened #1735 "Watch doesn't reload codegen.yml file on file changes"
I'm trying to use watch mode on the `codegen.yml` file itself, because I'm adding a lot of new mappers.

But even though it outputs;

    ✔ Parse configuration
    ✔ Generate outputs

It doesn't take into account the newly added mappers.

When I quit watch mode and start it again, it correctly uses the new mappers.

[2019-04-17 23:06] LawJolla commented on #1692
This does work, thank you.  I guess it should be obvious that importing the file isn't enough -- the fragment needs to be covered in the documents glob.  🍻

[2019-04-17 23:06] #1692 closed

[2019-04-17 23:46] simPod commented on #1693
@dotansimha u r right, mb. Thanks!

[2019-04-17 23:54] kirill-konshin opened #1736 "Support new mutation hook interface once it's released"
https://github.com/trojanowski/react-apollo-hooks/pull/93

This is a very much needed functionality... hope codegen package will adopt it.

[2019-04-18 00:18] dukedave opened #1737 "Document how to use environment variables in `.yml` config file"
**Is your feature request related to a problem? Please describe.**

Hardcoding `YOUR-TOKEN-HERE` when specifying the schema with a **[URL](https://graphql-code-generator.com/docs/getting-started/schema-field#url)** may require checking secrets in to version control (in `codegen.yml`) to use `graphql-codegen` on a CI server.

**Describe the solution you'd like**

Be able to pass headers in via the

[2019-04-18 01:30] revskill10 commented on #1737
I don't even know who created `yaml` format instead of just using `json`. What a bad invention, which leads to cascade bad practices :(

[2019-04-18 05:22] Nebulis commented on #1678
Hi,

I just tried with 1.1.0 but I'm still facing this issue:

![image](https://user-images.githubusercontent.com/503185/56338409-809d4280-61dc-11e9-84a5-a40b3195ce8d.png)

[code]

[code]

[code]

[code]

Am I missing something ? Do you need more information

Best regards

[2019-04-18 05:50] dotansimha commented on #1678
@Nebulis Can you please open a new issue with a complete example? (schema and operations)
Thanks!

[2019-04-18 05:52] dotansimha commented on #1737
@revskill10 We support JSON config as well :)
@dukedave you can use environment variables to pass it, see this: https://github.com/dotansimha/graphql-code-generator/pull/1368

[2019-04-18 05:55] dotansimha commented on #1735
Hi @koenpunt ! You are right, this is currently not supported.
But I think it might be simple to implement, we can add it in the future.

[2019-04-18 06:29] Nebulis commented on #1678
It's in there. From my understanding, the problem is that some types are nullable (Maybe)

[code]
[code]

If I remove Maybe then it's working well

[2019-04-18 06:38] dotansimha commented on #1678
@Nebulis I mean to the codegen config as well, because the codegen can't tell if you are using `strict: true` in your `tsconfig`. It should be:

[code]

[2019-04-18 06:47] Nebulis commented on #1678
Great it works :)

Thanks for helping (and sorry)

Do you think it would make sense to read tsconfig configuration to perform this automatically ?

[2019-04-18 10:42] ardatan commented on #1736
I believe it will work correctly because we don't redefine complete signature of hook function. Let's keep it open until it's released and confirmed.

[2019-04-18 14:42] dislick opened #1741 "TypeScript React Apollo makes `variables` prop required on Mutation components"
When generating mutation components the `variables` prop is now always required, which resulted in a lot of type exceptions in our code base.

This GraphQL mutation:

[code]

is generated like this:

[code]

My `codegen.yml` config file:

[code]

It's maybe related to PR #1687

[2019-04-18 17:33] dukedave commented on #1737
@dotansimha great! Should I do a PR to update the docs?

[2019-04-19 10:48] robak86 opened #1747 "Using {T} in mapper type imported from file produces wrong import"
**Describe the bug**

The problem is related to custom wrapper type imported from a file using ```./someFile$SomeType<{T}> ``` syntax. This feature already works for global types #1631, but for types coming from file generates wrong imports.

**To Reproduce**

Steps to reproduce the behavior:

1. My custom mapper type

[code]
2. My `codegen.yml` config file:

[code]

3. Generated types

[code]

**

[2019-04-19 12:00] robak86 commented on #1747
Fixed at #1748

[2019-04-19 17:11] janhartmann commented on #1602
Hi @dotansimha

Amazing work, I am able to upgrade a large project with over (so-far) 150 different and specialised queries, using the compatibility plugin with little no no code changes. The usage of the types generated for each query is crucial to us, as they are passed down the tree, so without this we had to stick to the older version.

However, I am a bit worried about the name of the package

[2019-04-20 14:26] janhartmann commented on #1686
I am using this query:

[code]

And I was able before 1.0.0 to do something like:

[code]

However the generated types for `GetMachineActiveEvents` is:

[code]

Is there any way to reference the types fragments?

[2019-04-21 02:58] enzonotario commented on #1733
Hi! I think I'm also having the same issue... but I also think that it is related to #1531 .. it seems that the solution is to use fragments to match exactly the desired type... though I don't like it... I like the way of `v0.18` of manage this kind of scenarios... :(

[2019-04-21 03:13] mernen commented on #1570
May I propose a simpler, timestamp-based approach? Similar to what TypeScript 3.0 does with `--build` mode. The basic idea is: if all output files are newer than all input files (and no output files are missing), skip the build.

* Pros: no fiddling with a cache directory; no need to implement incremental state saving; therefore, a lot simpler to implement
* Cons: not actually incremental (i.e. wh

[2019-04-21 10:36] kapral18 opened #1753 "Incorrect scalar translation of index signature for TypeScript"
**Describe the bug**

When overwriting `Date` scalar in `codegen.yml` in gatsby project, I get incorrect translation of `JSON: { [key: string]: any }` index signature to `JSON: [object Object]` in TypeScript. https://graphql-code-generator.com/docs/plugins/typescript#usage-example

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

https://raw.githubusercontent.com/kapral18/

[2019-04-21 12:12] dotansimha commented on #1753
@kapral18 can you please try `JSON: "{ [key: string]: any }"`?

[2019-04-21 12:13] dotansimha commented on #1737
@dukedave It would be great :)

[2019-04-21 12:16] dotansimha commented on #1733
@enzonotario Your issue it not related to @flisky (it's an issue with `typescript-resolvers`).
@enzonotario Please refer to this thread: https://github.com/dotansimha/graphql-code-generator/issues/1602 , we added `typescript-compatibility` plugin that should cover that.

[2019-04-21 12:18] dotansimha commented on #1686
@janhartmann are you using 1.1.0? Because I think I already fixed that.

[2019-04-21 12:21] janhartmann commented on #1686
Yes, latest and greatest

[2019-04-21 12:21] dotansimha commented on #1602
Hi @janhartmann
I'm glad to hear that the new plugin works for you.
We chose the name `compatibility` because the plugin should be in use while migrating to 1.0 types. We'll keep it updated in the upcoming future, but I guess not forever.
Using fragments should make it easier to consume the new types structure, but I think if we'll see that it becomes annoying, we might add those intermediate type

[2019-04-21 12:27] dotansimha commented on #1678
@Nebulis It might be nice, but can complicate things, because in some cases you don't want to run the codegen in the same directory as the project (for example, a monorepo with client & server - you can run the codegen from the root).

[2019-04-21 13:08] kapral18 commented on #1753
Yes. Fixed thank you.

[2019-04-21 13:18] kapral18 commented on #1753
Should I open a PR for docs? @dotansimha or is there something I am not taking into account maybe?

[2019-04-21 13:34] dotansimha commented on #1753
@kapral18 Maybe we can add a note about that. Do you want to create a PR?

You can add it here:
https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/other/visitor-plugin-common/src/base-visitor.ts#L19
( you can use `@warning` and it will generate a note in the docs website, example: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/types

[2019-04-21 15:09] dotansimha commented on #1733
Fixed in: https://github.com/dotansimha/graphql-code-generator/commit/dbeffe2bb9480463f34c8434509416351e4cb434

[2019-04-21 15:38] dotansimha commented on #1731
@iEricKoh I tested it locally, and it seems like your remote schema (from the `schema.json` file) does not contain a `Mutation` type, and that's why it crashes.  Please check your schema file.

I know the codegen should produce a better error and I fixed it here: https://github.com/dotansimha/graphql-code-generator/commit/f5d2b2f583851da07b2cf4df40c2724cf0e34ca7

[2019-04-21 15:38] #1731 closed

[2019-04-21 18:39] kapral18 commented on #1753
For sure. Thanks for the links

[2019-04-21 22:22] kapral18 commented on #1753
After some debugging here is what happens:

`js-yaml` is parsing the config and for

`{[key: string]: any}`

it returns

`{[object Object]: "any"}`

Later on here

https://github.com/dotansimha/graphql-code-generator/blob/97d5fbee29223a1c1b0addb24128e43650a4ec2f/packages/plugins/other/visitor-plugin-common/src/base-types-visitor.ts#L77

`scalarValue` which holds the object, is put into template li

[2019-04-22 06:51] dotansimha commented on #1753
@kapral18 But adding `"` solves this, it's not an issue with the codegen, it's just the way YML standard works - it detects `{` and `[` as objects and not as strings.
I think that just adding a `@warning` about object/array parsing is enough.

[2019-04-22 08:19] dotansimha commented on #1686
@janhartmann I still couldn't reproduce it with a unit test. Can you please provide the schema you are using? (or, another schema and query that reproduces it).
Thank you!

[2019-04-22 08:22] dotansimha commented on #1661
@JAFong I'm closing, please re-open if you're still having issues.

[2019-04-22 08:22] #1661 closed

[2019-04-22 08:50] janhartmann commented on #1686
Sure, here is a repo: https://github.com/janhartmann/graphql-code-generator-1686

[2019-04-22 08:52] kapral18 commented on #1753
@dotansimha

Sure js-yaml gives a correct object for correctly defined shapes based on yaml syntax, excluding this particular one with computed key. No problem with that.

The problem is different. Let's say you have the object back from yml parser. You still end up generating stringified version of it by javascript rules and lose the whole object identity.

And with `"` you just skip the serializ

[2019-04-22 14:07] jflewis opened #1757 "Add support for loading environment variables from a .env file"
**Is your feature request related to a problem? Please describe.**
Currently environment variables must exist on `process.env` before running the codegen cli

I'd like to be able to load and reference variables defined in a .env file in the `codegen.yml` file

**Describe the solution you'd like**

Using [dotenv](https://github.com/motdotla/dotenv) to either load a .env file if it exists or a cli f

[2019-04-22 14:15] dotansimha commented on #1673
@robvk I managed to reproduce it, but I'm not sure that your solution is the right one.
Using your solution, it seems to work, but it's not really an exact type, [try this one](https://flow.org/try/#0C4TwDgpgBAqgzhATgMQJYQDYBM7MQQwHMBbCAO2CgF4oAKAbygDoWASABVQGMBrAHnhIANFHoAfKKiwAuKACoREYvlQZZcqGIC+APhH4sWRBDhxZjFkw7d+AQUPHTI8VDjBjEYOpFdUodZq6WloAlADcAFBQ0REA9BoAAgBmGAD2AO7ysRFR0VDxGrYYGFAARgCuqsAA

[2019-04-22 15:00] SirensOfTitan opened #1758 "Union Types don't generate mapper types inside ResolversTypes"
Repository with repro generation: https://github.com/SirensOfTitan/gql-codegen-union-mapper

Essentially if I have a union with a mapper type:
`union MovieLike = Movie | Book`

[code]

Actual Result Result:
[code]

Expected result:
[code]

[2019-04-22 16:25] dotansimha commented on #1758
Thanks @SirensOfTitan . Fixed in https://github.com/dotansimha/graphql-code-generator/pull/1759

[2019-04-23 06:43] dotansimha commented on #1686
Thanks @janhartmann! It was really helpful!
I managed to reproduce it and fix it: https://github.com/dotansimha/graphql-code-generator/pull/1761
Can you please try the latest alpha? `1.1.1-alpha-036a07d3.22`

[2019-04-23 06:44] dotansimha commented on #1757
@jflewis We support require extensions, so I think you should be able to do: `require: dotenv/config` in your `codegen.yml` and it will work.

[2019-04-23 06:55] janhartmann commented on #1686
Awesome, yes - hold on, I am sitting on the code now, so let me try :-)

[2019-04-23 06:57] dotansimha commented on #1698
I think we can switch to use this package: https://www.npmjs.com/package/globby , and then we'll be able to provide multiple globs, and it will be easy to do something like:
[code]

What do you think @slikts ?

[2019-04-23 07:01] janhartmann commented on #1686
Running with:

[code]

I still do not get the types fragments generated. The types generated is still:

[code]

[2019-04-23 07:17] dotansimha commented on #1686
@janhartmann Are you sure? I just tested it in your reproduction repo, and got this:
[code]

[2019-04-23 07:23] robvk commented on #1673
You are absolutely right.

Should be like [this](https://flow.org/try/#0C4TwDgpgBAqgzhATgMQJYQDYBM7MQQwHMBbCAO2CgF4oAKAbwB8oA6NgEgAVUBjAawA88JABooTKKiwAuKACoxEYvlQZZcqIwC+APjH4sWRBDhxZ9Vh278BAQUPHTYiXGDGIwdWJ6pQ6zbpa2gCUANwAUFBR4QD0GgACAGYYAPYA7vIx4ZFRUHEathgYUABGAK6qwAC0qGRQ+GRYUDxlrinEUHA8+Bj4iHBiymCQTcApUMAAFhCoiPU8wGU9UABuPWUmmTlREAAeYCmIlKCQUADK3b391OLbuQCSACKyroi1hCJ3UWdu7y+-ZA+XygACEUikMBAG

[2019-04-23 07:34] janhartmann commented on #1686
Weird, I am not seeing this I just triple checked my configuration, deleted node_modules and lock file. Installed and tried again, same issue.

I will test on my repo branch, I had a bit more advanced query that that one. Let me see if I can do it there.

[2019-04-23 07:35] janhartmann commented on #1686
I can not see this either on my "bug branch".

[2019-04-23 07:39] dotansimha commented on #1686
Can you try to pin the dependency? just `"1.1.1-alpha-036a07d3.22",`

[2019-04-23 07:40] janhartmann commented on #1686
That worked!

[2019-04-23 07:42] janhartmann commented on #1686
However, it complains about this

![image](https://user-images.githubusercontent.com/1107383/56563487-215c7b00-65ac-11e9-87c4-feee171c0b88.png)

[2019-04-23 08:08] dotansimha commented on #1758
Fixed in 1.1.1 🎉

[2019-04-23 08:08] #1758 closed

[2019-04-23 08:08] dotansimha commented on #1747
Fixed in 1.1.1 🎉

[2019-04-23 08:08] #1747 closed

[2019-04-23 08:08] dotansimha commented on #1741
Fixed in 1.1.1 🎉

[2019-04-23 08:08] #1741 closed

[2019-04-23 08:08] dotansimha commented on #1733
Fixed in 1.1.1 🎉

[2019-04-23 08:08] #1733 closed

[2019-04-23 08:08] dotansimha commented on #1723
Fixed in 1.1.1 🎉

[2019-04-23 08:08] #1723 closed

[2019-04-23 08:09] dotansimha commented on #1686
@janhartmann Can you please open a new issue for it? I think it might not be related only to the inline fragments.

[2019-04-23 08:09] #1686 closed

[2019-04-23 08:09] dotansimha commented on #1672
Fixed in 1.1.1 🎉

[2019-04-23 08:09] #1672 closed

[2019-04-23 08:12] slikts commented on #1698
Sure, I don't see a problem with that; the issue with the current approach is the complexity of having multiple or split sub-patterns, which would be solved with multiple patterns. A secondary issue is that inverse glob patterns aren't that well known, so `docs/getting-started/documents-field.md` should feature an example.

[2019-04-23 09:40] janhartmann opened #1762 "Type does not satisfy the constraint '"__typename"'"
**Describe the bug**
Using the compability plugin together with fragments is generating following error:

[code]

The generated `GetMachineActiveEventsQuery` is:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
I expected the plugin to not throw and error

**

[2019-04-23 10:28] janhartmann opened #1763 "How to unit-test resolvers?"
I am trying to unit test some resolvers after the update to v. 1.0.0. Take this resolver:

[code]

Where the generated code is the following:

[code]

I would like to test that given a specific `IAuthenticationApiResponse` I pass the token to the `accessToken` resolver.

Before v. 1.0.0 I was able to test it like so:

[code]

With a mocked resolver like so:

[code]

However, this gives the followi

[2019-04-23 12:47] slikts commented on #1570
I didn't know that git wouldn't roll back modified timestamps, which was my main concern for using a cache, so your approach would be simpler and work just as well in normal use cases, albeit open up more chances for an edge case, so I'd personally prefer the slightly more robust approach with a cache.

Also, the approach I've taken doesn't checksum the contents of the files, just the serialized l

[2019-04-23 12:56] slikts commented on #1570
@mernen About the script you posted: the input files should include the schema and document files from the config as well as `package.json`, not just the schema files.

[2019-04-23 17:06] JClackett commented on #1723
I think this breaks the react-apollo-hooks plugin, as it generates MutationFn types using "react-apollo" as the namespace i.e. ReactApollo.MutationFn, however react-apollo doesn't necessarily have to be installed to use react-apollo-hooks so I'm getting the error ...

[code]

My plugin config is this:

[code]

Ideally it would use the ReactApolloHooks namespace if hooks is true and the others fals

[2019-04-23 21:22] ScreamZ opened #1765 "MongoDB types are not emitted, using apollo-server"
**Describe the bug**

Hi,

I'm using apollo-server with the following implementation, everything get emitted but nothing for mongodb types.

**To Reproduce**

Everything can be found by cloning this repo on master branch : https://github.com/ScreamZ/codegen-sample-bug

Then run
- `yarn`/ `npm i`
- `npm start`
- (postinstall should generate proper output, but in case not, just run tsc from `node_mo

[2019-04-24 18:43] SirensOfTitan opened #1770 "GraphQL-code-generator should treat type with mapped field as mapped field itself"
Updated repro case here: https://github.com/SirensOfTitan/gql-codegen-union-mapper

I'm unsure if this is a bug or whether I should be expecting this.  I know I'd like this of course.
So consider my bug report about mapped union types the other day, with the schema:
[code]

The result looks like this in current latest version:
[code]

... in this case the `movie` field in NonInterfaceHasNarrative

[2019-04-24 22:59] TheCrow1213 commented on #1708
@dotansimha I may be mistaken, but it sounds like @chrisbrooks is looking for codegen that uses the `graphql` wrapper from `react-apollo` rather than using the `withMutation` or `withQuery` helpers.

In my scenario, the addition of the `graphql` util would allow me to integrate codegen with [LoonaJs](https://loonajs.com/docs/react/), which extends the `graphql` HOC to offer more scalable mutation

[2019-04-25 11:48] alber70g opened #1772 "[Plugin Request] Scaffolding resolvers"
I'd like to request a "scaffolding resolvers" feature. I know that `graphqlgen` has a feature called ["scaffolding resolvers"](https://github.com/prisma/graphqlgen/blob/master/docs/03-scaffolding-resolvers.md). I'd like this feature to be in this repo as well, it would be awesome several reasons:

I'd like to have a framework for my resolvers scaffolded so it can reduce cognitive overhead when imp

[2019-04-26 06:27] geon opened #1773 "Loading GraphQL documents fails with undefined as JSX generic type argument."
**Describe the bug**
This code can't be used in the same file as a gql-tag:
[code]

**To Reproduce**
Steps to reproduce the behavior:

In my-file.tsx, have this code:

[code]

Run `gql-gen --config graphql-codegen.yml`

It will fail with the message

[code]

However, changing my-file.tsx to another type as the generic argument works:

[code]

The type `null`has the same problem:

[code]

As a work

[2019-04-26 07:49] palindrom615 opened #1774 "[Typescript] type declaration for actual data"
**Is your feature request related to a problem? Please describe.**

for now, generated Query type looks like this:
[code]
so when i try to specify type of data for client side instead of server-decided one (ex. `CompaniesRow`) I have to declare one.

code should declare picked type first and then declare query type like:
[code]

**Describe the solution you'd like**

**Describe alternatives you've

[2019-04-26 15:41] OneCyrus opened #1775 "TypeScript compaibility plugin issues with inline fragments since 1.1.1"
**Describe the bug**
since typescript compatibility 1.1.1 we have the following issue. with 1.1.0 it works fine.

 → Cannot read property 'type' of undefined**

[code]

**To Reproduce**
Steps to reproduce the behavior:

graphql-codegen --config codegen.js

[schema.txt](https://github.com/dotansimha/graphql-code-generator/files/3121934/schema.txt)

2. My GraphQL operations:

[code]

3. My `codegen.

[2019-04-26 19:27] hallettj opened #1777 "[TypeScript] Proposal: unified output for clients"
Currently there are a number of specialized plugins and plugin configurations to produce code for different client-side environments. This is a proposal to generalize generated code so that one form of output can serve the needs of any client environment.

For example the typescript/react-apollo plugin can emit components or hooks (or HOCs):

[code]

It is possible to generalize to reduce the surf

[2019-04-27 00:19] elado opened #1780 "[ts] Question: Types for entity relationships fetched via custom field resolvers"
Assuming this schema:

[code]

The resolver type for `Query.randomArticle` query requires me to return an object with both `author/title`.

However, I want to define the `author` fetching in a field resolver of `Article`:

[code]

The generated type of `randomArticle` requires a mandatory `author`, but my implementation is somewhere else. I acknowledge `author` is possibly null, but I'd like to re

[2019-04-28 17:05] jambonrose opened #1783 "Unable to generate types for gatsby-transformer-sharp"
Thank you for this package. It has made my interactions with GraphQL and TypeScript much more pleasant.

**Describe the bug**
When attempting to generate types on a Gatsby site with `gatsby-transformer-sharp`, `graphql-codegen` raises errors about missing types.

**To Reproduce**
Using:
- macOS 10.14.4
- Node 11.14.0
- npm 6.9.0

[code]

My `package.json` has:

[code]

Follow the instructions for

[2019-04-28 18:38] dotansimha commented on #1774
@palindrom615 What you actually ask for is not compatible with the actual query result of GraphQL, because the result object first contain the `Query` type, and then the actual fields (because `Query` is still a GraphQL type, and `company` is a field of `Query`).

You can do `export type CompanyDetailInfoQueryCompany = CompanyDetailInfoQuery['company']` manually, or create a codegen plugin that do

[2019-04-28 18:38] #1774 closed

[2019-04-28 18:39] dotansimha commented on #1765
Thank your for reporting it, @ScreamZ , I'll take a look soon.

[2019-04-28 18:40] dotansimha commented on #1773
We are using `graphql-tag-pluck` to discover operations from code file. @DAB0mB what do you think? Maybe it's a Babel configuration?

[2019-04-28 18:41] dotansimha commented on #1777
That's sounds like a very good idea. We currently have a common package that has a lot of common use-cases, and maybe we can move it there.
@ardatan what do you think?

[2019-04-28 18:44] dotansimha commented on #1780
Hi @elado !
We have `mapping` configuration that allow you to specify custom object types for the resolvers plugin, please take a look here: https://graphql-code-generator.com/docs/plugins/typescript-resolvers
You can also specify generics to the resolver signature to override the parent/return type of the resolvers.

[2019-04-28 18:44] #1780 closed

[2019-04-28 18:48] dotansimha commented on #1783
Hi @jambonrose !
Our current documentation regarding Gatsby integration refers to the missing fragments that Gastby declares internally.
I'm actually not familiar enough with Gasby, but according to that error, I think that Gatsby declares internal GraphQL types behind the scenes, and they are required in order to create the complete schema for the codegen.
I can only assume that they are declared

[2019-04-28 18:56] jambonrose commented on #1783
Hi @dotansimha !

Thanks for taking a look at this.

Does the project below have enough info?

https://github.com/jambonrose/gql-gen-error-gatsby-sharp-mve

I note that a quick search on Gatsby reveals that those types are created in only two places. The second may be the one you're looking for (but as I started using GraphQL for the first time _today_, I'm not sure.)

- [packages/gatsby-transform

[2019-04-28 19:53] leebenson commented on #649
@dotansimha - thanks for your example, and apologies for the delay in getting back to you.

The error seems to be with interface types:

**Schema:**

[code]

**Documents:**

[code]

**Config:**

[code]

---

Generated:

<img width="374" alt="Screenshot 2019-04-28 at 20 51 30" src="https://user-images.githubusercontent.com/719722/56869338-70187380-69f7-11e9-8b58-05c5c3d47b4a.png">

Note the lack of

[2019-04-29 06:38] igorvuleta opened #1785 "Unable to use generated services(angular apollo) advice needed"
**Describe the bug**
Hello, the bug or maybe a bad implementation from my side gives me unexpected behaviour with angular-apollo. What I am doing is a test app with apollo-angular and gql code generator, and the problem that I get is that in a component where I query for data without query variables, the generated services work just fine. But when I want to make a f.e. Detailed view(detail query w

[2019-04-29 09:27] palindrom615 commented on #1774
@dotansimha I had missed some details. actually, you can do `export type CompanyDetailInfoQueryCompany = CompanyDetailInfoQuery['company'] ` as you say.

 But when I need to specify the type for comment of company, `export type CompanyDetailInfoQueryCompanyComment = CompanyDetailInfoQuery['company']['comments']` makes compile error obviously because company is `MayBe` type.

I have seen Compatibil

[2019-04-29 11:45] hmeerlo opened #1786 "Unable to use with create-react-app"
**Describe the bug**
I generated a react app with create-react-app 3.0. This has a predefined ESLint config which uses the 'import/first' rule. This defines that imports *must* always be a the top of the file. But the generated code that I get from graphql-code-generator contains imports that are in the middle of the file. Therefore the app can not compile.

**To Reproduce**
Steps to reproduce the

[2019-04-29 14:33] hallettj commented on #1786
In case it is helpful I will describe my workaround for this issue. I use the `@graphql-codegen/add` plugin to insert an `/* eslint-disable */` line in the generated file which causes eslint to skip checking the file. The configuration looks like this:

[code]

The relevant added line is `- add: '/* eslint-disable */` in the `plugins:` section.

[2019-04-29 15:04] hmeerlo commented on #1786
Thanks @hallettj that is exactly the kind of workaround I was looking for!

[2019-04-29 15:18] hmeerlo commented on #1786
Hmm, now it stops at this error:

[code]

There is no import for ReactApollo in the generated code, I guess there should have been an import?

[2019-04-29 17:24] elie222 opened #1787 "GraphQL alias support"
Are aliases supported?

For example:

[code]

But the generated types file only includes:

[code]

I'd like to access `data.androidUsers`, but only `data.platformUsers` is a known type.

I am not making use of `.graphql` files. Just `graphql-tag` within a TS file. Not sure if that effects how the types are generated.

[2019-04-30 06:32] hmeerlo commented on #1786
Apparently this happens when you only enable 'withHooks'

[2019-04-30 07:33] kamilkisiela commented on #1763
That's because we support Schema Stitching which makes `Resolver` type a union of a regular and stitching resolver. If you don't use Schema Stitching, set `noSchemaStitching: true` in your config.

[2019-04-30 09:13] DAB0mB commented on #1773
@dotansimha just released a new version. PRs should be created by `renovate` and should be merged in `graphql-toolkit` and codegen. Do you want me to add tests to `codegen` as well?

[2019-04-30 11:09] ardatan commented on #1786
@hmeerlo Could you try with the following version?
[code]

[2019-04-30 11:30] hmeerlo commented on #1786
@ardatan Yes that version works correctly with only 'withHooks' enabled!

[2019-04-30 12:21] yoavain-sundaysky opened #1791 "immutableTypes: Add more options in setting, i.e. exclude *Input types"
I would like to be able to exclude *Input types from being immutable.
I like to be able to use the immutableTypes feature, as I think most of the types there should be treated as immutables.
However, I want to be able to gradually build the input objects, so I want to exclude those.

A solution could be being able to configure:
 - immutableTypes: allExceptInputs

[2019-04-30 13:24] LiorCohen commented on #1786
Having the same issue with the incorrectly named import. Any ETA on release?

[2019-04-30 15:20] devautor opened #1793 "Type mismatch on returning promise with `graphql-code-generator` and `prisma`"
I am getting an error with `graphql-code-generator` and `prisma` type mismatch on returning promise.

That is, for this field resolver:
[code]
I am getting this error:
[code]

**From what I get, `prisma` returns `interface CustomerPromise` [`export interface CustomerPromise extends Promise<Customer>, Fragmentable `] for chained query (one used), while `Promise<Customer>` is expected as return expr

[2019-04-30 17:43] janhartmann commented on #1763
Just to clearify, if I were using Schema Stiching, I would not be able to test any other resolvers? If I cast it to `ResolverFn` it still does not work.

[2019-04-30 18:35] kamilkisiela commented on #1763
Of course you can but you need to tell TypeScript which type should be used (for regular or stitching resolver) or a boolean or even nothing but it depends on what you're trying to test - only a function or a fragment + resolve function.

https://stackblitz.com/edit/graphql-codegen-resolvers-mock

[2019-04-30 20:54] slikts opened #1796 "High CPU usage in watch mode due to polling (chokidar)"
The watch mode uses chokidar with polling, which in a large project means high CPU usage; in my case (thousands of source files) it uses almost an entire core at idle. Polling is useful in some compatibility scenarios, but it shouldn't be the default, and it should be configurable. I've currently
worked around the issue by making my own watch mode with some additional enhancements like triggering

[2019-04-30 21:04] slikts opened #1797 "Watch mode builds should trigger selectively, only for GraphQL source files"
Currently, if JS/TS source files are included as sources for the generator, the watch mode build gets triggered on any change in any file, most of which, in a typical scenario, won't contain GraphQL, and the generated files in turn needlessly trigger other watch processes like webpack. I've worked around this issue by scanning the source text for the presence of "gql`" template tag opening and cac

[2019-05-01 05:58] dotansimha commented on #1787
Hi @elie222,
The `extend type Query` is the base type that comes from your `typescript` plugin, and based on your GraphQL schema types.
You need to add `typescript-operations` and then it will generate a type for your specific `GetTopBarData` query, which fields with aliased fields pointing to the `Query['platformUsers']` fields.

[2019-05-01 07:49] dotansimha commented on #1783
@jambonrose I'm taking a look now.
I noticed that you load your schema from a local endpoint, which is great because it means that you are getting the schema directly from the Gatsby runtime.
The error you see there related to the fact that your final schema does not include `type ImageSharpFixed` (and some others), and that's why the fragment is failing to compile and load.

I think, if you are n

[2019-05-01 07:53] dotansimha commented on #1773
@geon can you please try `1.1.2-alpha-036fb85a.17`?

[2019-05-01 09:43] dotansimha commented on #1775
Hi @OneCyrus , sorry for the delay. Fixed in https://github.com/dotansimha/graphql-code-generator/pull/1798

[2019-05-01 11:00] dotansimha commented on #1775
@OneCyrus Can you please try `1.1.2-alpha-76e69629.19`?

[2019-05-01 11:03] dotansimha commented on #1762
Hi @janhartmann , sorry for the delay, it was a difficult one :)
The issue here is the fact that `suspectParameterNumber` might not exists, because it's existence depends on the `__typename=CanErrorEvent` (because we generate ` | ` between inline fragments of different types).
So we have to force the `__typename=CanErrorEvent` and this way to extract only the relevant fields from the complex type.

[2019-05-01 11:05] dotansimha commented on #1708
Thank you @TheCrow1213 .
@ardatan can you please take a look and see if we can support this use case? (Also, tagging @kamilkisiela for Loona)

[2019-05-01 11:12] dotansimha commented on #1793
Hi @devautor ! It looks like there are two types for `Customer` - one generated by Prisma, and one generated by the codegen, and that's the reason for the mismatch.

It's very difficult to investigate your use case this way, can you please create a small repository with an reproduction of it? Because we need your schema, environment and codegen configuration in order to reproduce it locally.

At t

[2019-05-01 11:14] dotansimha commented on #1796
Hi @slikts , thank you for reporting it. I can guess that the solution for the selective watch it the one you suggested in https://github.com/dotansimha/graphql-code-generator/issues/1797 .

[2019-05-01 11:16] dotansimha commented on #1791
Hi @yoavain-sundaysky ! Thank you for reporting this issue.
You are right, at the moment the immutable configuration can only be turned on/off and is not configurable.
We can give it a try in the future and add it (And we always welcome PRs).

[2019-05-01 11:22] dotansimha commented on #1785
@kamilkisiela can you please take a look? you are the `apollo-angular` expert ;)

[2019-05-01 11:26] dotansimha commented on #649
You are right, @leebenson , I'm working on a fix. Thank you!

[2019-05-01 11:42] OneCyrus commented on #1775
it works again. thank you!

[2019-05-01 11:46] devautor commented on #1793
Hello @dotansimha Thank you for your reply and kind patience! I'd like to ask you for a few hours where I could get a repo working for you to inspect :)

[2019-05-01 11:55] dotansimha opened #1799 "[TypeScript Operations] `__typename` is missing from fragments"
Related: https://github.com/dotansimha/graphql-code-generator/issues/649#issuecomment-487410262

[2019-05-01 11:59] OneCyrus commented on #1775
ok. didn't fix it completely as we have some type issues now. it looks like the different fragments get assigned to the same types.

[code]

[2019-05-01 12:08] dotansimha commented on #1775
@OneCyrus I fixed another issue related to fragments, can you please try `1.1.2-alpha-6668a794.20`?

[2019-05-01 12:19] OneCyrus commented on #1775
we get closer but there are still two issues.

[code]
here's the generated ts-file:
[api.txt](https://github.com/dotansimha/graphql-code-generator/files/3134483/api.txt)

[2019-05-01 12:59] dotansimha commented on #1775
Thank you @OneCyrus , that's very helpful!
I think I managed to fix this issue, can you please try `1.1.2-alpha-f498f076.22`?

[2019-05-01 13:04] devautor commented on #1793
Hello @dotansimha I have reproduced the issue here: https://github.com/devautor/graphql-code-generator-issue-1793-repro
Please let me know if it misses something or if it doesn't work for you! :)

[2019-05-01 13:57] yoavain-sundaysky opened #1800 "typescript-react-apollo & typescript-resolvers plugin collision"
Trying to generate both resolvers & react-apollo in the same config result in a file with error.
The following line appears twice:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:
test.graphql
[code]

2. My GraphQL operations:
testQuery.graphql
[code]

3. My `codegen.yml` config file:

[code]

**Expected behavior**
A valid typescript file

**Environment:**

- OS: Wi

[2019-05-01 13:58] dotansimha commented on #1775
@OneCyrus Can you please try `1.1.2-alpha-e801e53f.23`?

[2019-05-01 14:09] dotansimha commented on #1800
Just to be sure - you are using both on the same output file because you implement GraphQL schema on the client side, right?

[2019-05-01 14:45] yoavain-sundaysky commented on #1800
I have a project with both the server and client, and I tried to generate all types to the same output file.
I guess this isn't such a common use case, as most project will have the server and client separated.
I guess I could create 2 separate output files, one for the server, and one for the client.

[2019-05-01 14:46] dotansimha commented on #1793
@devautor
First, start by loading your schema staticaly, create a file called `src/codegen-schema.ts` with:

[code]

Now, let the codegen to load your schema statically, and it will be easier to test it because you don't need the server running:

[code]

You can use `mappers` (https://graphql-code-generator.com/docs/plugins/typescript-resolvers#mappers-object) to map the resolver of `Customer` to

[2019-05-01 14:46] #1793 closed

[2019-05-01 14:50] dotansimha commented on #1800
@yoavain-sundaysky Just separate it like that:

[code]

Because it's not a good idea to merge them, but you can use the codegen to generate more than one file at a time.

[2019-05-01 14:57] OneCyrus commented on #1775
it looks like that did the trick. thank you!

[2019-05-01 14:59] dotansimha commented on #1765
Hi @ScreamZ , sorry for the delay.
You are using http endpoint to load your schema, and that's an issue with mongodb plugin because GraphQL exposes Introspection JSON from the http endpoint, and introspection does not include the GraphQL directives.
You should use a static schema for the codegen in order to get it working, so you can either `.graphql` files and load them (with `graphql-import-node

[2019-05-01 14:59] #1765 closed

[2019-05-01 15:05] dotansimha commented on #1775
Awesome! Thank you for testing it, @OneCyrus !
I'm keeping it open to make it easier to track what should be included in the next version changelog.

[2019-05-01 15:13] #1787 closed

[2019-05-01 15:34] dotansimha commented on #1799
Fixed in 1.1.3 🎉 (@leebenson)

[2019-05-01 15:34] #1799 closed

[2019-05-01 15:34] dotansimha commented on #1786
Fixed in 1.1.3 🎉

[2019-05-01 15:34] #1786 closed

[2019-05-01 15:34] dotansimha commented on #1775
Fixed in 1.1.3 🎉

[2019-05-01 15:34] #1775 closed

[2019-05-01 15:34] dotansimha commented on #1773
Fixed in 1.1.3 🎉

[2019-05-01 15:34] #1773 closed

[2019-05-01 15:34] dotansimha commented on #1762
Fixed in 1.1.3 🎉

[2019-05-01 15:34] #1762 closed

[2019-05-01 20:38] Veetaha commented on #1617
@toverux Stumbled with this problem too. Spent a lot of time trying to get the reason. I can't understand why es2015+ build target doesn't work. One more weird bug and caveat that I need to note somewhere ;((

[2019-05-01 21:34] jambonrose commented on #1783
Hi @dotansimha ,

I would like to be able to use the fragments provided, as I would like to be able to use Gatsby to manipulate images via GraphQL. Does that answer your question? I see that you have added the "waiting-for-answer" tag, but I'm not sure what question to answer.

I agree that `gatsby-transformer-sharp` appears to be extending the schema. Gatsby usually plugs into files named `gatsby

[2019-05-02 06:25] slikts commented on #1796
You're welcome; I wish I could share my implementation, but it's rudimentary and somewhat project specific. I've also incorporated my workaround for avoiding unnecessary builds from #1570, i.e., the watch script updates the cache so that running the build script doesn't rebuild unnecessarily.

[2019-05-02 08:18] majdi opened #1804 "Missing properties"
**Describe the bug**
Hello, I generate all typescript definition from my schema.graphql in a package called `@project/graphql` that I published. In another project, I install the package to have the following code:

[code]

Everything works but on typescript check I have an error on config:
[code]

Note that generated/graphql is the file generated by codegen.

**To Reproduce**
Steps to reproduce t

[2019-05-02 13:11] janhartmann commented on #1763
Interesting, thanks I will have a look :-)

[2019-05-02 13:11] #1763 closed

[2019-05-02 16:31] totallymike commented on #1800
I ran into this issue just now. I'm trying to generate types for a client-side resolver for some local state. It seems unnecessarily painful to generate a whole new file for this one task, when I would only need to generate the `Scalars` and such one time.

On a slightly unrelated note, I'd love to be able to restrict the resolvers to just the client-side ones.

[2019-05-02 19:11] TSiege opened #1806 "Security Issue NODE_TLS_REJECT_UNAUTHORIZED is set to 0"
Found a major security concern. [This package sets my project's `NODE_TLS_REJECT_UNAUTHORIZED` to 0 for the entire process](https://github.com/dotansimha/graphql-code-generator/blob/de7ad41f4f93dbf47e4da4b4919ac35acbd791a6/packages/graphql-codegen-cli/src/generate-and-save.ts#L9) thereby disabling SSL. I found this when searching after seeing this security warning from node.
[code]

I've traced it

[2019-05-03 00:38] steebchen commented on #1302
It would be awesome if you could specify a default value, like you can usually do with yaml files such as in docker:

[code]

[2019-05-03 16:45] felixandersen opened #1810 "Make it possible to generate interfaces instead of types"
Using version 0.14.5 we often used interfaces generated by the tool to great effect in our TypeScript code. I'll provide a short example:

Given the `codegen.yml`-file:
[code]

and the `src/app/countries.graphql`
[code]

We can, in our Angular component, do this:
[code]

Now, when updating to 1.0.0 and having the following `codegen.yml`:
[code]
`graphql-code-generator` generates types instead of i

[2019-05-03 22:08] kirill-konshin commented on #1736
It seems to be working fine with latest alpha.

[2019-05-04 11:17] janhartmann commented on #1762
Works! :-)

[2019-05-05 08:12] dotansimha commented on #1810
@felixandersen The issue here is not `interface`s over `type`s. They are almost identical in TypeScript.
The issue here is that you wish to use the pre 1.0 types we generated per each query.
We decided to drop it in order to support more environments (no `namespace`s now, so it's also possible to use it with Babel-TypeScript), and to get more maintainable code with less conflicts and mis-matches.

[2019-05-05 08:12] #1810 closed

[2019-05-05 08:16] dotansimha commented on #1804
@majdi `documents` is for your queries/mutations/fragments/subscriptions, and not for schemas.
Also, you are mixing 2 plugins that usually don't go together.
`typescript-operations` is for documents (operations) and should be used in client-side env.
`typescript-resolvers` is for resolvers signature  and should be used in server-side env.

Also, what does `generated/schema.graphql` contains?

You

[2019-05-05 08:16] #1804 closed

[2019-05-05 08:17] dotansimha commented on #1302
@steebchen can you please open a new issue for that? It will be easier to track.

[2019-05-05 11:58] veeramarni commented on #1708
@dotansimha I have tested it and noticed now I have something like `ValidateUserFormMutationFn` generated. Where that should be used as it is just a type?

For below one, I still see type problems.
[code]

Type Error
--

[code]

[2019-05-05 12:09] dotansimha commented on #1708
@veeramarni I think you can't use `d.ts` in this case, you need `.ts` (because it contains more than just declarations).

[2019-05-05 12:28] veeramarni commented on #1708
@dotansimha I was using generated `.tsx` and have this problem. It throws that none of the types matches.

[2019-05-05 12:33] veeramarni commented on #1708
Seems like I haven't copied full error. Here is the error.

[code]

[2019-05-05 14:42] steebchen opened #1812 "Specify default environment variable values in codegen.yml"
It would be awesome if you could specify a default value for environment variables, like you can usually do with yaml files such as in docker:

[code]

[2019-05-05 14:42] steebchen commented on #1302
See #1812

[2019-05-05 20:01] majdi commented on #1804
Hello, thanks for the answers.
Actually, I wanted to generate types for both client and server side; I can't?

My schema.graph contain that:

[code]

Thks,

[2019-05-05 21:12] pellea opened #1813 "Cannot execute command graphql-codegen init"
**Describe the bug**
Cannot run graphql-codegen init due to an error on Windows 10.

**To Reproduce**
Steps to reproduce the behavior:
- open a PowerShell prompt
- install with `yarn global add @graphql-codegen/cli`
- run `graphql-codegen init`

**Expected behavior**
The command to execute correctly ...

**Environment:**

- OS: Windows 10
- `@graphql-codegen/...`: graphql-codegen/cli
- NodeJS: v10

[2019-05-06 05:41] dotansimha commented on #1804
@majdi You can, but why do you want it to be on the same file?

[2019-05-06 09:06] kamilkisiela commented on #1785
@igorvuleta I cloned your repo, checked the generated code, tried to run it but it points to a local server that I don't have an access to. Could you explain what do you mean by:

What do you mean by "make"? To write a query or call it? Could you show an example?

[2019-05-06 10:52] mxstbr commented on #1575
Yes please, we really need this! I am starting to dig into this, will open a WIP PR soon.

cc @kitten the main maintainer of urql

[2019-05-06 14:15] mxstbr opened #1815 "Export multiple files from client generators"
**Is your feature request related to a problem? Please describe.**

When generating client-side components (e.g. with the react-apollo or upcoming urql generators), all the query components and hooks are put into a single file.

That is bad news for code-splitting, as many of these components might only be used on a single page but now all of them will always be bundled on every page.

**Describe

[2019-05-06 14:31] mxstbr opened #1816 "Watch the config file for changes"
**Is your feature request related to a problem? Please describe.**

While editing my graphql codegen config I have to restart the watch server every time I make a change.

**Describe the solution you'd like**

It would be great if the file watcher also responded to changes to the graphql codegen config file!

**Additional context**

My config is in a file called `graphql-codegen.yml`, so not in th

[2019-05-06 15:01] mxstbr commented on #1816
Duplicate of #1735.

[2019-05-06 15:01] #1816 closed

[2019-05-06 17:48] awdyson opened #1819 "Add `__typename` to [Typescript], not just [Typescript Operations]"
My project uses unions that are quite large, so I import the fragment types to have access to `__typename` -- appreciate that inclusion by the way. For me, `__typename` is a wonderful convenience to `switch` over, and this...
![image](https://user-images.githubusercontent.com/5612248/57243200-5b853e00-6fea-11e9-83f6-d3c78105388e.png)
is a lot kinder to interact with than this...
![image](https://u

[2019-05-06 18:29] felixandersen commented on #1810
Thanks for the clarification!

[2019-05-06 18:32] pellea commented on #1813
I found a "workaround". By using `graphql-codegen.cmd init` it works (using the cmd script instead of the ps1 script).

[2019-05-06 18:53] NishealJ opened #1821 "featuring graphql-code-generator in Docusaurus"
Hello, we would like to feature your project to the Docusaurus [users](https://docusaurus.io/en/users) page.

Are you with me on this? Also, can you provide your logo?

More info about this [here](https://github.com/facebook/Docusaurus/issues/1437)

[2019-05-07 05:39] dotansimha commented on #1821
Hi @NishealJ !
Sure, it would be great. (and you can also add https://graphql-modules.com there :) )
Our logo is available in the repo: https://github.com/dotansimha/graphql-code-generator/blob/master/logo.png

[2019-05-07 05:42] dotansimha commented on #1819
Hi @awdyson !
There is an open PR for that: https://github.com/dotansimha/graphql-code-generator/pull/1701 , created by @jefflewis. I believe we'll merge it in a few days, the reason it takes time to merge is because we will need some more changes and tests.

[2019-05-07 06:26] dotansimha commented on #1575
Thank you @mxstbr !  Your PR is merged, and if someone wants to try it before the stable release, you can use `1.1.4-alpha-b8bdef27.12`.
(also, keeping open until we'll release a new version)

[2019-05-07 06:29] dotansimha commented on #1813
@pellea the `.ps` script is created by Yarn, so I'm not sure it's related to the codegen (maybe we missed something?).
Anyway, I don't have Windows environment, so it might be difficult for me for to fix that soon :(

[2019-05-07 06:49] igorvuleta commented on #1785
@kamilkisiela Sorry for the delay, I wasn't available for a few days. So the thing is in this sample App I am making a lets call it "Main" component that querys all the data from a database table i. e.

`
import { Component, OnInit } from "@angular/core";
import { map } from "rxjs/operators";
import { Observable } from "rxjs";
import { GetCategoriesGQL } from "./../../generated/graphql";
import {

[2019-05-07 07:26] kamilkisiela commented on #1785
So when you do this

[code]

It doesn't work?

[2019-05-07 07:37] igorvuleta commented on #1785
Exactly, in the browser I get the following error message:
"ERROR Invariant Violation: Expecting a parsed GraphQL document. Perhaps you need to wrap the query string in a "gql" tag? "

The only thing I need to do is to inject the service into the constructur and use this.findCategoryByIdGQL, and I get the error.

[2019-05-07 07:38] dotansimha commented on #1813
@pellea It seems like there are some issue with Yarn and PowerShell.
Can you please try to take a look at this issue?
https://github.com/yarnpkg/yarn/issues/6902

I think they already solved it in the latest version.

[2019-05-07 07:44] dotansimha commented on #1783
@jambonrose
The codegen can load schemas from a lot of sources (static graphql files, code files and http endpoints). In your case, you are using http endpoint which is great, because it means that the codegen will load the schema in a ready-to-use state.
I'm not sure how `gatsby-transformer-sharp` works, but it definitely not extending your schema, because the `ImageSharpFixed` is missing during

[2019-05-07 07:45] dotansimha commented on #1736
Awesome! Thank you @kirill-konshin , I guess we can close it for now. Feel free to open a new issue if something changes.

[2019-05-07 07:45] #1736 closed

[2019-05-07 07:48] dotansimha commented on #1708
@veeramarni If you are using `.tsx` extension for your generated file, so I'm not getting why you had errors from `types.d.ts` file?
Please share your codegen.yml config file, and you schema and queries (if possible, in a repository with a reproduction)

[2019-05-07 07:49] dotansimha commented on #1800
@totallymike if you wish to get the resolvers only for the client-side types, you can use a separate file with it's own `schema:` section on the .yml config file.
But I do understand the collision in case you want to generate all in the same file. Keeping open until we'll resolve that.

[2019-05-07 08:12] danbruegge commented on #642
Hi, looks like this error is back again? We have a simple GatsbyJS+StrapiJS stack.

This is what i get:
[code]

[2019-05-07 09:27] janhartmann opened #1825 "Support Namespace Import in Mappers"
**Is your feature request related to a problem? Please describe.**

I am generating some types based on a Swagger Spec and because of some name collision we are now namespacing the types in e.g.

[code]

Now in my `codegen.yml` mapper section I need to map `MyApiTypes.OdometerRepresentation` to a type:

[code]

But this does not work as the import statement should only be the:

[code]

It is curre

[2019-05-07 10:24] slikts opened #1827 "Watch mode triggers a new build for each file changed"
`gql-gen --watch` triggers a build per each source file changed, meaning that, for example, checking out a different git branch with N differing sources will also start N build processes.

Reproduction:

[code]
[code]
The output will show generation running three times in a row.

The simplest fix should be that if a generation is in progress and a file changes, only one additional generation shoul

[2019-05-07 10:34] mxstbr opened #1828 "Webpack loader for .graphql files"
**Is your feature request related to a problem? Please describe.**

Generating files that are checked into source control is suboptimal when working on a team where these files constantly change—especially when there's only a single file (ref #1292).

**Describe the solution you'd like**

It would be awesome if there was a webpack loader that transformed `.graphql` files into JavaScript modules th

[2019-05-07 10:39] dotansimha commented on #1828
I think by combining some of the types generated by `typescript-operations` and the TypeScript modules generated by `typescript-graphql-files-modules` could work.
We just need to note that some parts of the `typescript-operations` are not declarative (for example, `enum` should be generated as `type` and not as `enum`, and there is a flag for that), because `d.ts` files can only contain TypeScript

[2019-05-07 11:26] durdenx opened #1829 "Generate and export react-apollo query components props"
**Is your feature request related to a problem? Please describe.**
When we want to extend a generated query component with composition we have to generate its props type by ourselves.

For instance:
[code]
If i want to wrap it in my own component i have to re-create the props types.
[code]

**Describe the solution you'd like**
Export the generated props.

[2019-05-07 20:38] simPod commented on #1806
Can it be backported to v0.18 pls?

[2019-05-08 01:19] Myrannas opened #1833 "Errors encountered while loading schema files are silently ignored"
**Is your feature request related to a problem? Please describe.**

Sorry if this duplicates another issue - I couldn't find something which matched this particular problem that was still open.

My team is using graphql-codegen to generate types from our node service. As part of generating types we are transpiling our typescript code using `ts-node/register`.

If there is any compilation issue / o

[2019-05-08 07:51] dotansimha commented on #1833
Hi @Myrannas !
We are using `graphql-toolkit` to load schemas and operations easily. It currently supports code files as schema and loads it using `require` (and not as ast). It means that your `schema.ts` file must export default or export an object with `schema` field (`GraphQLSchema` object).

Can you please share your `schema.ts` file?  it will make it easier to resolve this issue.

[2019-05-08 07:52] dotansimha commented on #1829
@ardatan Can you please take a look? Maybe we can export it in a different way from `react-apollo` plugin in order to support this use-case.

[2019-05-08 08:34] jlkiri opened #1834 "Make suffix of generated React components customizable"
**Is your feature request related to a problem? Please describe.**

Since components generated by `typescript-react-apollo` all have `Component` suffix in their name, it is not easy to distinguish between components that do the query work and those that don't in my code. It would be nice to still be able to distinguish the query components from others by using the `Query` suffix, e.g. not `MyItems

[2019-05-08 17:17] steebchen opened #1836 "Add a config option to generate optional query.data"
**Is your feature request related to a problem? Please describe.**

When using the angular client with `fetchPolicy: 'cache-and-network'` with watchQuery, usually cached results are streamed at first, and when the network request is done new results are streamed. However, when the cache is empty, a response is streamed where `data` is undefined. This means that it would require `data` to be option

[2019-05-08 17:30] steebchen opened #1837 "Angular client mutation types not working"
**Describe the bug**
When using the apollo-angular client, types are not generated properly for mutations.

No `.data` found:

![Selection_053](https://user-images.githubusercontent.com/5013932/57394943-1833f680-71c7-11e9-8321-f320107bc13b.jpg)

Meanwhile, it works perfectly with queries:

![Selection_060](https://user-images.githubusercontent.com/5013932/57395089-81b40500-71c7-11e9-8e2a-7fed9598e

[2019-05-08 21:31] slikts commented on #1827
On second thought, the simplest fix would be just debouncing the generator function.

[2019-05-09 16:33] pellea commented on #1813
The `graphql-codegen init` command is working with Yarn 1.15.2. Thx for pointing out the other issue.

[2019-05-09 18:10] Jonatthu commented on #643
@FredyC I think namespaces was a really good solution to the types, I do not understand why the change...

[2019-05-09 18:30] FredyC commented on #643
@Jonatthu Well, ask the Microsoft, they have deprecated namespaces from TypeScript. For the same reason, they are not supported by Babel TypeScript implementation, so it's a kinda wrong path to follow altogether.

[2019-05-09 18:34] Jonatthu commented on #643
@FredyC  So what's the workaround now?
I would like to pick sub types from a query to be able to create computed properties like this:

[code]

[2019-05-09 18:43] Jonatthu commented on #643
@FredyC  https://github.com/microsoft/TypeScript/issues/30994
Maybe they are not deprecated...

[2019-05-09 18:52] FredyC commented on #643
Ok, that's certainly new information, but I don't really miss namespaces. I don't follow why do you need them for your use case. You can as well namespace with a custom delimiter of yours (or none), eg. `MyQuery__Field`.

[2019-05-09 19:02] Jonatthu commented on #643
First now I am only able to define the type of my query but not of a selection of a section of the query

![image](https://user-images.githubusercontent.com/3742176/57479070-72799980-7251-11e9-9d5c-54eb07c938a9.png)

Second on hover the definition of my second property, this definition is really not dev friendly, specially if is really big type

![image](https://user-images.githubusercontent.com/3

[2019-05-09 19:05] FredyC commented on #643
Well, sorry, I don't have any viable workarounds here. Since I started using generators, I don't bother with types that much to be bothered by it.

[2019-05-09 19:06] Jonatthu commented on #643
@FredyC, @dotansimha
Would be hard to create a namespace plugin for those that miss this feature?

[2019-05-09 19:30] dotansimha commented on #643
@Jonatthu you can use https://graphql-code-generator.com/docs/plugins/typescript-compatibility

[2019-05-09 19:47] Jonatthu commented on #643
@dotansimha

The problem is that each section of the query is defines on this way...
So if I wanna let's say create a property of `rolePermissions`
I need to define this one on this way:

[code]

Before was way easier to match exactly what my query was selecting on this property.
`const rolePermissions: MyQueryNamespace._RolePermissions = myQuery.pathTo.rolePermissions;`

[code]

[2019-05-09 19:53] Jonatthu commented on #643
@dotansimha after I used the plugin this keeps not generating the namespaces

this is my config

[code]

[2019-05-09 19:55] Jonatthu commented on #643
@dotansimha My bad the namespaces were being created on the bottom of the generated of the page, i will give it a try

[2019-05-09 19:59] Jonatthu commented on #643
@dotansimha Looks like introspection namespaces are not being created, is there a flag that we are missing on the docs?
`graphql-codegen --include-introspection-types` I tried this but did not work

[2019-05-09 21:59] bpallares opened #1841 "Unused imports generated"
**Describe the bug**

My team is currently generating hooks with no components nor HOCs when no mutations or subscriptions are implemented. We have found an issue where `import * as ReactApollo from 'react-apollo'` is generated in the file but is not being used, therefore gets flagged by Typescript `noUnusedLocals`

**To Reproduce**
Steps to reproduce the behavior:
- Have 1 or multiple queries but

[2019-05-09 22:17] const86 commented on #1632
I believe, operations interface is correct, but resolvers are wrong. At least for the cases when `resolve` callback is not used, like I do in my app. For the subject schema, the resolver could be
[code]
Note the `postAdded` property in the yielded object. Generated interfaces don't have that so typescript barfs at here. But it is actually needed and without it graphql's `subscribe()` fails and nul

[2019-05-09 22:44] Jonatthu commented on #643
@dotansimha Looks like introspection namespaces are not being created, is there a flag that we are missing on the docs?
`graphql-codegen --include-introspection-types` I tried this but did not work

[2019-05-09 23:15] const86 commented on #1632
I have put together the complete example to avoid any further ambiguity.
Here is my schema.graphql:
[code]
and bar-op.graphql:
[code]
Then boring codegen.yml:
[code]
And finally, the code to bind them all (sorry for some boilerplate at the beginning):
[code]

Option 0 is the best, according to me, but it does not match generated interface. I would like to fix that.
Option 1 feels like a hack to ge

[2019-05-10 08:05] Myrannas commented on #1833
I can't share our GraphQL schema - but I will try and create an example in a separate repository.

[2019-05-11 01:40] mgtitimoli opened #1844 "Improve Flow support"
In order to improve flow support I have the following suggestions:
- Improve types generation
  - Using types spread is better than intersect types (using `&`), as the latter where there are property collisions the resulting type is the intersection of all the types of that particular prop (see [here](https://flow.org/en/docs/types/intersections/#toc-intersections-of-object-types))
- Improve enum

[2019-05-11 11:13] mehmetnyarar commented on #1786
@dotansimha I still get the error @1.1.3.

[2019-05-11 14:11] hallettj commented on #1786
@mehmetnyarar which error? The eslint error that says "imports must be at the top of the file" or "Cannot find namespace 'ReactApollo'"?

[2019-05-12 07:37] mehmetnyarar commented on #1786
@hallettj `Import in body of module; reorder to top  import/first`. However, it works for the below config, similar to what you've suggested earlier.

[code]

[2019-05-12 07:38] dotansimha commented on #1844
Thank you @mgtitimoli !

When we first added Flow support, it was very initial and our experience Flow was very basic.

You are right regarding the spread over intersect, and I think it will also resolve this issue: https://github.com/dotansimha/graphql-code-generator/issues/1673

Regarding enums, we allow you now to customize the `namingConvention` and change the way to transform the enums values

[2019-05-12 07:41] dotansimha commented on #1841
Hi @bpallares ! Thank you for reporting this.

It seems like you are getting this error because of TypeScript configuration, and it seems like it's not possible to ignore specific files (https://github.com/Microsoft/TypeScript/issues/12913).

@ardatan can you please take a look and see why those imports are being generated?

[2019-05-12 07:43] dotansimha commented on #1837
Hi @steebchen !

Can you please create a small reproduction for this issue in a repo? (also, btw, it's recommended to use the same version for all `@graphql-codegen/...` libraries).

[2019-05-12 07:46] dotansimha commented on #1836
Hi @steebchen !
I'm not sure it's 100% related to the codegen, because I think we are just passing the `TData` generics, and the `data` property is declared by Apollo.

@kamilkisiela ?

[2019-05-12 07:47] dotansimha commented on #1833
Thank you @Myrannas ! Waiting for it.

[2019-05-12 07:50] dotansimha commented on #1786
@mehmetnyarar Ignoring generated files in your lint configuration is a good idea, because we can't handle every possible option of linters.

[2019-05-12 07:54] dotansimha commented on #643
@Jonatthu actually, the internal introspection types was not included in 0.18, so it's not an issue with backward compatibility.
We have a solution for it in >1.0, so at the moment you can only get the introspection types with that.

[2019-05-12 07:55] dotansimha commented on #642
@danbruegge can you please open a new issue for that with all the info? It seems like it's a different issue.

[2019-05-12 08:40] webberwang opened #1845 "Missing Maybe type when using only typescript-operations"
**Describe the bug**
When using only `typescript-operations` plugin, the generated file is missing `type Maybe`

![2019-05-12_01-41-15](https://user-images.githubusercontent.com/26264925/57579859-18e2bc00-7457-11e9-99bf-9527e7b66103.png)

**To Reproduce**
Steps to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

**

[2019-05-12 09:13] dotansimha commented on #1845
Hi @webberwang
You can't use `typescript-operations` without `typescript`, because `typescript-operations` depends on it, and it uses it's generated types to create new types based on your query's selection set.

[2019-05-12 09:13] #1845 closed

[2019-05-12 09:15] webberwang commented on #1845
I see thanks for the explanation

[2019-05-12 11:55] steebchen commented on #1836
Dang, true. I could have seen this by just looking in the generated file. I guess we can close this issue here, not sure what I will do about this in general.

[2019-05-12 12:17] steebchen commented on #1837
The versions are actually all pinned to 1.1.3 in the lockfile, should have written those down instead. Also, I just realized this is also not an issue of this repo, sorry about that. For the query, the signature is:
[code]
in apollo-angular/Query.d.ts. ApolloQueryResult has data, errors, etc:
[code]

However, the mutation returns a `FetchResult<T>` instead of ApolloQueryResult and somehow this typ

[2019-05-12 12:28] steebchen commented on #1837
I think it's because the `graphql` module does not include .d.ts files, but .js.flow types.. x)

[2019-05-12 12:45] dotansimha commented on #1837
Hmm @steebchen , I'm not sure because I think `ExecutionResult` comes from the graphql engine, and shouldn't been used there.  (not again, not sure).

Anyway, I recommend to use pinned dependencies and the latest, maybe you have an older version of one of the deps that causing it? it might effect as well.
Try to check it with `yarn why` (for graphql, apollo-link, apollo-client and apollo-angular)

[2019-05-12 12:45] #1837 closed

[2019-05-12 12:45] dotansimha commented on #1836
@steebchen I think you can just check for the value of `data` anyway, even if it's not optional.

[2019-05-12 12:45] #1836 closed

[2019-05-12 12:46] steebchen commented on #1836
Of course, it's just about type safety. Thanks anyway!

[2019-05-12 12:59] steebchen commented on #1837
As I said in comment https://github.com/dotansimha/graphql-code-generator/issues/1837#issuecomment-491590599, I have the latest version of all modules and I even tried upgrading everything but it didn't help.
I am pretty sure that the bug comes from importing `ExecutionResult` in apollo-engine but all `graphql` files don't have .d.ts files and only .js.flow. I will report an issue in https://githu

[2019-05-12 13:01] dotansimha commented on #1837
@steebchen Ohh I see, that's because `graphql` does not have a built-in TypeScript declaration. You need to install `@types/graphql`.

[2019-05-12 13:06] steebchen commented on #1837
Ah well, that was a simple fix... Thanks so much! I was programming so much Go lately that I almost forgot you can fix dumb Javascript modules by adding @types/* to your project..

[2019-05-12 13:09] dotansimha commented on #1837
Great!
And yeah, it's mostly because not all JavaScript packages support or adopted TypeScript, so the `@types/...` are here to fix that.

[2019-05-12 13:11] steebchen commented on #1837
Yeah I know, I was using JS a lot until the end of 2018, but I regret it.. not having types in a language creates only more problems than it solves..

[2019-05-12 13:32] hallettj commented on #1786
@dotansimha I want to humbly suggest that adding `/* eslint-disable */` to templates would be worthwhile for a couple of reasons.

First, it will be common for people to combine GraphQL Code Generator with create-react-app. I don't have usage statistics; but in addition to being very convenient create-react-app is recommended in React's [official getting started guide][3] (expand the "Optional: In

[2019-05-12 13:38] dotansimha opened #1849 "Add linters ignore line by default"
Based on this: https://github.com/dotansimha/graphql-code-generator/issues/1786#issuecomment-491596405

[2019-05-12 13:38] dotansimha commented on #1786
@hallettj I agree that this might become useful. I opened an issue for it: https://github.com/dotansimha/graphql-code-generator/issues/1849

Thank you!

[2019-05-12 13:51] Jonatthu commented on #643
@dotansimha What’s the solution? Is it something on development or something that I can use now?

[2019-05-12 14:15] dotansimha commented on #643
@Jonatthu They are generated only if one of your documents asks for it.
See here: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript/typescript/src/index.ts#L112

So if your operations are querying for fields that are declared as internal introspection fields, it will generate those fields as part of your `typescript` plugin output.

@kamilkisiela implemen

[2019-05-12 16:02] mxstbr opened #1850 "[Plugin Request] Flow + `react-apollo` generator"
Would be awesome to have a Flow + react-apollo generator!

[2019-05-12 22:31] harry-chin commented on #1617
I got same issue for query.

during using watch as following line, encountered same problem.
`this.meWatch = this.me.watch();`

And, it was gone with use of '--prod' running option

[2019-05-13 01:59] veeramarni opened #1851 "Duplicate identifier 'Omit'"
**Describe the bug**

With the following configuration, we get Omit twice.

[code]
**To Reproduce**
Steps to reproduce the behavior:

3. My `codegen.yml` config file:

[code]

**Expected behavior**

Shouldn't add duplicate `Omit`

If I remove `typescript-resolvers`, we don't have the issue. But we want `typescript-resolvers` for resolvers on the client side.

**Environment:**

[2019-05-13 05:05] benquarmby opened #1852 "TypeScript: Option to generate interfaces"
While it's true that TypeScript type literals are *almost* identical to interfaces (as mentioned in #1810), one of the key exceptions is that interfaces are [open to declaration merging](https://www.typescriptlang.org/docs/handbook/declaration-merging.html), where types are not.

This is very important for generated code, where declaration merging is the only avenue to apply manual tweaks to type

[2019-05-13 05:13] benquarmby commented on #1852
For posterity, here is a fabricated example of declaration merging a generated interface:
[code]

[2019-05-13 06:31] dotansimha commented on #1852
Hi @benquarmby !
You are right about `interface`s and the differences. `interface`s can be merged within a scope only, which means that you need to have it either in the same file of the original declaration, or have it in the same namespace.
Since 1.0, we no longer generate TypeScript `namespace`s (to make it easier and compatible with most environments).

I'm not sure that your example will work

[2019-05-13 06:32] ardatan commented on #1841
@bpallares Can you check if it works correctly with the following canary version?
[code]

[2019-05-13 06:32] dotansimha commented on #1851
Hi @veeramarni ! Thank you for reporting it, but it was already reported in: https://github.com/dotansimha/graphql-code-generator/issues/1800

@ardatan Can you please take a look?

[2019-05-13 06:32] #1851 closed

[2019-05-13 06:33] dotansimha commented on #1850
Hi @mxstbr ! Thank you for reporting this. I'll take a look soon, shouldn't be too complicated to implement because it's mostly similar to the ts implementation.

[2019-05-13 07:17] ardatan commented on #1800
Imports should be handled in the visitor class not in the subclasses using `Set` in my opinion. So `Omit` will be added only once in this case. @dotansimha What do you think?

[2019-05-13 07:26] dotansimha commented on #1800
Hmm, it's not general I think, because plugins can't effect each other at the moment.
I think plugins should have a way to add things to the head of files with priority (it will solve the issue with Flow magic comment, the order of imports and this as well). But this is a complicated solution at the moment.
I think the 4th argument of the `plugin` method now exposes the entire `plugins` section fr

[2019-05-13 08:21] mxstbr opened #1856 "Add lifecycle hooks"
**Is your feature request related to a problem? Please describe.**

My ESLint config contains the `@typescript-eslint/prefer-interface` rule. The code generated by the TypeScript plugins outputs types across the board, which leads to ESLint errors—but they are auto-fixable, so I only need to run `eslint --fix` and everything will be fine again!

**Describe the solution you'd like**

I'd love to be

[2019-05-13 09:31] dotansimha commented on #1856
Hi @mxstbr !

I think generated files should get ignored by default, you can use `add` plugin to do so:

[code]

Regarding `interface` over `type`, please read my comment here regarding why we changed to types: https://github.com/dotansimha/graphql-code-generator/issues/1852#issuecomment-491692939
(TL;DR: `type` are easier to generate and maintain, and it's easier to detect generated conflicts and

[2019-05-13 11:58] mxstbr commented on #1856
I don't want to ignore them, as they are checked into source control and part of the codebase! They should adhere to the same standards as the rest of the codebase, whether that's formatting or linting rules.

The specific rule regarding types vs. interfaces was just the example I have right now, I don't have strong feelings towards or against interfaces. That could be any lint rule that I want to

[2019-05-13 14:10] benquarmby commented on #1852
I can assure you that the example I posted would definitely work to expand an existing interface from another module (in this case the generated `graphql.ts`). It would even work across packages - this is the primary way to fix incorrect `@types` interface declarations.

The rational to use type literals by default makes perfect sense. My need is possibly an edge case, so it should definitely be o

[2019-05-13 15:17] benquarmby commented on #1852
Going to leave this here while before I move onto the next thing. Just scratching out some potential configuration modelling:
[code]

[2019-05-13 16:11] bopfer commented on #1833
I have this same issue with the same config file.  It appears that going through multiple import/export files causes the problem, but I am not 100% sure on that yet.  My schemas are split into directories roughly related to the models. For example: there is a `User` directory with a `schema.ts` file in there.  Each directory has an `index.ts` file that just consolidates and re-exports everything t

[2019-05-13 16:21] Micahnator opened #1858 "Docs on programmatic usage give incorrect example"
**Describe the bug**
The website's documentation for using graphql-code-generator programmatically gives an invalid example configuration object. The websites shows plugins being assigned an object:
`plugins: {
    typescript: {}, // Here you can pass configuration to the plugin
},`

But the actual source for the codegen function specifies 'plugins' as:
`plugins: Types.ConfiguredPlugin[];`.

The o

[2019-05-13 21:40] RyanCavanaugh commented on #643
@FredyC

This is **not** correct.

[2019-05-13 21:56] Jonatthu commented on #643
@dotansimha @FredyC  I know could be hard but based on this...
Could be bring back the namespace convention that we used to have?
The plugin compatibility generates some models but still really hard to read by example:

[code]

Would be nice to keep the old behavior creating interfaces instead of grabbing parts of a type this way

`export type UserPermissions = LoadPropertyPermissionsQuery["genPer

[2019-05-14 02:16] DonaldWebb commented on #1849
Similar to @mehmetnyarar https://github.com/dotansimha/graphql-code-generator/issues/1786#issuecomment-491572790
I currently use the add plugin to add any lint ignore lines. This works well and people can choose the level of linting or ignore they want.

[code]

[2019-05-14 03:02] Myrannas commented on #1833
Yep, I think you are correct @bopfer.

I have created a minimal example of this issue in https://github.com/Myrannas/graphql-codegen-error.

Instructions to reproduce are in the readme, but in short, any errors in imported files are hidden. Errors in the root file are correctly reported.

This is particularly problematic when using libraries like the `graphql-modules` library - as you are generall

[2019-05-14 04:43] alamothe opened #1861 "Does not allow empty types"
**Describe the bug**
The tool does not allow empty types in schema:
[code]

Error:
[code]

Note that empty types are allowed as per GraphQL spec.

- `@graphql-codegen/...`: 1.1.3

[2019-05-14 05:07] alamothe commented on #1861
My bad, looks like it's a problem with the spec: https://github.com/graphql/graphql-spec/issues/568

[2019-05-14 06:41] majdi commented on #1804
Hello, thanks for the answers;
Actually I want to have one definition repository to require to my API and react application for example for handling graphQL type.

I only use my schema.graphql from now :)

[2019-05-14 07:10] #1861 closed

[2019-05-14 12:54] minheq commented on #1800
I also want to add that I combine client and server types because
- I would like to avoid having conflicts with code autocompletion that VS Code provides. (Intellisense will list same type from both files)
- I would like to export the types from client and server code, from a package. and avoid type collisions
[code]

[2019-05-14 13:53] dotansimha commented on #1815
Hi @mxstbr :)

It's done in: https://github.com/dotansimha/graphql-code-generator/pull/1846 (still experimental and it will warn about it in the stable release, but I tested it with react-apollo, apollo-angular, url and stencil-apollo plugins and all seems to work, also with fragments imports)

[2019-05-14 13:53] dotansimha commented on #1116
@furier @adam1658 @vreality64 @Morphexe It took some time, but it's available (as alpha) now after this PR: https://github.com/dotansimha/graphql-code-generator/pull/1846

[2019-05-14 14:14] furier commented on #1116
Great news @dotansimha

[2019-05-14 14:28] Morphexe commented on #1116
perfect!! Thank you!

On Tue, May 14, 2019 at 3:14 PM Sander Struijk <notifications@github.com>
wrote:

[2019-05-14 15:31] bpallares commented on #1841
@ardatan It works correctly with the canary version provided!

[2019-05-14 17:00] slikts commented on #1856
The accepted wisdom is that generated code shouldn't be checked into source control, both because of the risk of generation sources and targets becoming out of date, and because of the diff churn it creates. They're not really "part of the codebase" since you won't be editing them directly and any edits would be overwritten on the next generation. Diff churn means that any changes to the sources w

[2019-05-14 17:14] slikts opened #1863 "Support @apollo-react/hooks"
The official hooks support for React Apollo [has been released](https://twitter.com/peggyrayzis/status/1128280687470100480?s=20) as a beta version, and it'd be nice to have support for it in gql-gen. The API is close to react-apollo-hooks, which is already supported, so it shouldn't take major changes (probably fewer changes than in #1814, although I've only looked at it in passing).

[2019-05-14 18:25] mxstbr commented on #1856
That would mean failing CI (a ton of imported files are missing?!) and a more difficult initial development setup as the generation command has to be ran every time.

If that can be solved with e.g. a webpack loader #1828 (although what about types?) I am happy not to check those files in, or is there a different solution you are using for that?

[2019-05-14 18:40] slikts commented on #1856
Same as the CI installs dependencies, it can also generate types, and the `postinstall` script allows automating this, including for other consumers of your package. A webpack loader would still require a build step for the types.

[2019-05-14 18:42] slikts commented on #1828
Having a webpack loader for the runtime parts is a nice idea that's marred slightly by the fact that the types would still need to be generated to the filesystem for typechecking to work, but there's no real way around that. A webpack loader would also lend itself naturally to solving issues like #1570 (incremental builds) and #1797 (selective building).

[2019-05-14 19:39] Flash619 commented on #1428
@dotansimha Are there any plans to add additional documentation on this? I'm trying to figure out how to use the generated mutation components but I'm not having much luck digging through ts without docs.

From what I can gather, the mutation component forwards a 'mutation function' that fires the mutation accepting some options?

[code]

Am I close?

[2019-05-15 07:54] ardatan commented on #1863
It's supposed to work with `hooksImportFrom: @apollo-react/hooks` configuration. We can keep this issue until it is confirmed.

[2019-05-15 08:21] alamothe commented on #1819
Waiting for this as well, thanks!

[2019-05-15 09:22] dotansimha commented on #1428
Hi @Flash619 !
The output from the codegen is has the same signature and usage as Apollo.
You can find the documentation here: https://www.apollographql.com/docs/react/api/react-apollo
The only difference is that GraphQL Codegen wraps the original `<Mutation>` with a custom name, adds the type-safety to it, and automatically sets the GraphQL operation, so you can just use it as-is without the need

[2019-05-15 09:35] dotansimha commented on #1800
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/1869

[2019-05-15 09:35] dotansimha commented on #1117
Fixed in: https://github.com/dotansimha/graphql-code-generator/pull/1869

[2019-05-15 09:44] #1813 closed

[2019-05-15 10:02] FokkeZB opened #1870 "Export (Flow) type for each possible variant of a union result as a separate type"
**Is your feature request related to a problem? Please describe.**

For this query:

[code]

Based on the following schema:

[code]

I get the following Flow types:

[code]

While I'd like:

[code]

So that I can use it in:

[code]

Instead of either manually needing to define `FindStuffQuery_User` or repeat the `__typename` check everywhere I use the object:

[code]

I know - from discussion via

[2019-05-15 11:43] dotansimha commented on #1870
Hi @FokkeZB !
Before 1.0 we had a similar solution for TypeScript, but it was very hard to maintain, because of mismatches and conflicts of identifiers. That was the main reason for moving to use `Pick<>` for a base type, and generate a complete type per each query.

If you wish to get an intermediate types, you can create them by yourself manually:

[code]

Or, you can create your own plugin that

[2019-05-15 13:03] slikts commented on #1813
I'd recommend using WSL to avoid issues like this.

[2019-05-15 13:22] minheq commented on #1800
Wow! This was incredibly fast! Thank you for the great work!

[2019-05-15 13:37] kamilkisiela commented on #1632
**Schema**

[code]

I would say there are at least three ways of dealing with subscriptions.

**1. Any event + resolve function:**

[code]

**2. An event with subscription's name**

[code]

**3. An event with valid result**

[code]

In order to solve the issue we need to cover those three use cases.

- `subscribe` accepts `{ [subscriptionName: string]: Result }` and `resolve` is optional
- `subscr

[2019-05-15 14:41] Urigo opened #1871 "Schema Validation for YAML config"
Would be cool to add a schema to the `yaml` config.

Would be nice to get errors and maybe even autocomplete with editor support.

Some references:
https://json-schema-everywhere.github.io/yaml
https://stackoverflow.com/a/44837391/1426570

[2019-05-15 20:09] fabis94 opened #1874 "How to load TypeScript schema (.ts) with custom path imports defined in tsconfig.json?"
I've got a schema.ts like this:
[code]

For some reason the generator fails to load it. The default error outputted to the console tells me nothing of use - "Unable to find matching files for glob: packages/backend/src/graphql/schema.ts". I attached a debugger to the process and arrived at the real place where an error is thrown and found out the actual error: Cannot find module ~/graphql/typeDefs

[2019-05-15 20:45] ardatan commented on #1874
[code]
Adding tsconfig-paths/register should work. Could you try that?

[2019-05-16 01:41] cecchi commented on #1819
#1701 is now merged, but using the latest alpha I still do not get the behavior I was hoping for. What's the historical reason for `__typename` being typed as optional? In another PR (#1062) it looks like work was done to make it non-optional when it's explicitly requested. Internally it looks like #1701 is effectively adding it to the selection set I'd expect it to be non-optional.

My use case i

[2019-05-16 01:48] const86 commented on #1632
[code]
I can't figure out how to express this in real Typescript. The `X` type can be anything, but we don't want it to leak into `SubscriptionResolverObject`'s arguments.
(Special case when `X extends { [key in TKey]: TResult }` make `resolve` optional. No brainer compared to the first problem.)

[2019-05-16 03:45] jrr opened #1876 "typescript-compatibility doesn't work with typescript-react-apollo's withHOC: false"
**Describe the bug**
Using `typescript-compatibility` and `typescript-react-apollo` with `withHOC: false`:

[code]

I get a generated line like this:
`export type Props = EmployeeCreateWidgetsProps;`, with a squiggle under the right side:

[code]
**To Reproduce**
Steps to reproduce the behavior:

clone https://github.com/jrr/gql-codegen-issue, yarn install and `yarn run gql-gen -o`, then open type

[2019-05-16 06:02] dotansimha commented on #1876
@ardatan Maybe it's related to your recent change in `typescript-react-apollo`? (with the `Props`)

[2019-05-16 06:06] dotansimha commented on #1819
Hi @cecchi
Basically, the `__typename` in `typescript-operations` is being added automatically for all queries, but as optional, because we don't want to assume that all GraphQ clients adds `__typename` (Apollo does, but not all clients does that).
If you'll add `__typename` fields to your selection set, it won't be optional.

The #1701 PR adds `__typename` as optional, but we wanted to wait a bit

[2019-05-16 06:07] dotansimha opened #1877 "Add `nonOptionalTypename` config to `typescript` and `typescript-operations`"
Related: https://github.com/dotansimha/graphql-code-generator/issues/1819#issuecomment-492930252

[2019-05-16 06:11] dotansimha commented on #1856
We actually prefer to use the codegen in CI and avoid committing the generated files, but that's actually a preference. It also depends on how you load your schema (because if you load it from HTTP endpoint, it might not be available during CI build).

[2019-05-16 06:15] kamilkisiela commented on #1632
Exactly, I struggled to do it too, tried with `infer` but we need to know an object in order to use `infer` and make decisions. One tough thing...

[2019-05-16 06:16] SimenB commented on #1863
The types are wrong (typed as `QueryResult<any, any>`: https://unpkg.com/@apollo/react-hooks@0.1.0-beta.2/lib/useQuery.d.ts). Seems like the shared code sandbox (https://codesandbox.io/s/github/peggyrayzis/redux-to-graphql/tree/master/client) uses `const res: QueryResult<ApolloTypes.GetSubreddit, ApolloTypes.GetSubredditVariables> = useQuery()` instead. Not sure if that's on purpose or not, but it

[2019-05-16 06:21] ardatan commented on #1863
I think it is better to wait the stable release. @dotansimha What do you think?

[2019-05-16 06:25] SimenB commented on #1863
Might be nice to release an alpha or something supporting it (it's just moving the generics a bit and adding an import), just so people can test it? Completely understand if you don't wanna put work into it though, it seems silly (probably an oversight) to not allow passing in the generics at the callsite

[2019-05-16 06:40] dotansimha commented on #1863
I think it worth to add the option to use it, maybe by just doing: `hooksImportFrom: @apollo-react/hooks` we can change the output to match their signature.

[2019-05-16 06:45] fabis94 commented on #1874
Didn't work, unfortunately, I had already tried that. Added the 'require' entry and added --project packages/backend/tsconfig.sjon to the command as well. I stepped through the debugger and saw it load in the config, but it doesn't work correctly for some reason. I think it's because it requires the absolute path of the schema.ts file, which might not be supported (it calls require("C:\Code\proj\p

[2019-05-16 07:30] SimenB commented on #1863
I asked: https://github.com/apollographql/react-apollo/pull/2892#issuecomment-492949070

[2019-05-16 08:26] dotansimha commented on #1874
@fabis94 I think the issue here is not the `require`, is the fact that you need to provide `--project`.
The `tsconfig-paths` looks for `tsconfig.json` in `process.cwd`, and in this case it's your root directory, and not `packages/backend/`.
Instead specifying `--project`, try to specify it using environment variables: `TS_NODE_PROJECT=packages/backend/tsconfig.json` (see https://www.npmjs.com/pack

[2019-05-16 08:27] fabis94 commented on #1874
@dotansimha The project file is definitely loaded in correctly, I saw it load the correct paths from my config while debugging.

[2019-05-16 08:31] piotr-m-jurek opened #1878 "Add non-optional __typename to typescript-operations plugin"
**Feature Request - force non-optional __typename to typescript-operations**

Apollo inmemory cache has an option to use `__typename` field to generate keys.
Adding `__typename` to every level of operation is obscuring.

**Describe the solution you'd like**
Adding option `forceTypename`, that defaults to false.

**Describe alternatives you've considered**
I didn't, but IMHO this is a nice change 🤷

[2019-05-16 08:39] dotansimha commented on #1833
I managed to reproduce the issue in `graphql-toolkit`. Working on a fix now.
Thanks @Myrannas @bopfer !

[2019-05-16 08:47] piotr-m-jurek commented on #1878
https://github.com/dotansimha/graphql-code-generator/pull/1879

[2019-05-16 08:53] dotansimha commented on #1833
Fixed in: https://github.com/ardatan/graphql-toolkit/pull/102

Now the complete JS/TS error is being displayed (as-is, without changing it):

![image](https://user-images.githubusercontent.com/3680083/57840375-2be7ea00-77d1-11e9-8b02-40bae040e2bf.png)

[2019-05-16 08:58] dotansimha commented on #1874
I see. @fabis94 . Any chance you can create a small reproduction repo? I will help us to fix it faster :)

[2019-05-16 08:58] dotansimha commented on #1833
Fixed it: https://github.com/dotansimha/graphql-code-generator/pull/1880

[2019-05-16 09:05] dotansimha commented on #1877
Duplicate of https://github.com/dotansimha/graphql-code-generator/issues/1878

[2019-05-16 09:05] #1877 closed

[2019-05-16 09:18] dotansimha commented on #643
@Jonatthu we choose this path because we would to be able to create base package and use it.
I know it's a bit harder to read, but in most cases it just fulfil the need for auto-complete from a query response.
We decided to remove the intermediate types because it caused a lot of issues with the generated output, and the `typescript-compatibility` is there only to make it easier to migrate.

I thi

[2019-05-16 09:23] dotansimha commented on #1806
@simPod on it now, sorry for the delay.

[2019-05-16 09:36] dotansimha commented on #1753
@kapral18 Sorry for the delay.  Opening.
You are right, in this case, we need to make sure to stringify it correctly in case of an object.

[2019-05-16 09:52] dotansimha commented on #1806
@simPod 0.18.2 is available now.

[2019-05-16 10:01] akashbdj opened #1881 "Can I use this tool for Golang projects?"
Hi,

Is it possible to use this tool for Golang Projects? If yes, could you please point me to some resources on how to get started with it?

Does writing a new template work?

Thanks for reading,
Akash

[2019-05-16 11:11] dotansimha commented on #1881
Hi @akashbdj !
Currently we don't have any Golang plugins available, mainly because we are not familiar with Go and it's environment.
There is an open issue for this one: https://github.com/dotansimha/graphql-code-generator/issues/298 , so I'm closing it.
We are welcome the community to create any plugin according to their needs, and we'll be happy to help you on our end.

[2019-05-16 11:11] #1881 closed

[2019-05-16 11:30] akashbdj commented on #1881
Could you please tell me "How to write a plugin" for it? I'd be happy to work on it.

[2019-05-16 11:51] dotansimha commented on #1881
Sure, @akashbdj , you can find it in our website: https://graphql-code-generator.com/docs/custom-codegen/write-your-plugin

Feel free to contact us if you need any assistance.

[2019-05-16 13:30] cecchi commented on #1819
@dotansimha that sounds perfect. I'll see if I can put together a PR this weekend.

[2019-05-16 16:14] jflewis commented on #1757
@dotansimha Sorry for the late response, haven't had an opportunity to take a look at this.

It seems that this doesn't exactly work. While the `require: dotenv/config` does load the .env file (which is great news), this action is happening _after_ the parsing of the YML. So I am unable to use .env in combination with ENV variables in the yml.

[2019-05-16 19:14] fabis94 commented on #1874
@dotansimha I tried doing so and to my surprise I couldn't replicate this issue and the import worked fine w/ the same tsconfig.json being loaded. Unfortunately I can't share the original repo, but maybe someone with deep knowledge of inner TypeScript could help me here. I debugged deeper into the actual part where the .ts files get compiled into JS during runtime and noticed that the schema.ts fi

[2019-05-16 19:23] const86 commented on #1632
How about this to keep existing code with `resolve` working, even though without complete type checking?
[code]
Also, what about that option the whole resolve to be a function returning `SubscriptionResolverObject`? Where is it useful? I believe, graphql's `subscribe()` fails on such resolvers.

[2019-05-16 20:03] fabis94 commented on #1874
God damn...turns out the "Cannot find module" error was thrown, because my repo is a monorepo setup and the root directory with the codegen installation doesn't have a tsconfig.json file. And when I specified --project packages/backend/tsconfig.json for some reason it only applied to tsconfig-paths not to ts-node, which just used defaults and thus couldn't resolve what "~/graphql/typeDefs/typeDefs

[2019-05-16 23:09] Myrannas commented on #1833
Awesome! Thanks for looking at that @dotansimha - the fix looks great.

[2019-05-17 07:26] dotansimha commented on #1874
Hi @fabis94 ,
Sorry for the inconvenience, we know about that issue, it's reported in: https://github.com/dotansimha/graphql-code-generator/issues/1833, and already fixed in our canary release (try to use `1.1.4-alpha-83461d57.4`, it should print those errors).

[2019-05-17 07:32] fabis94 commented on #1874
@dotansimha I will try that, but even if it works, this setup with a duplicate tsconfig.json at the monorepo is far from optimal. Do you maybe have any ideas how I could make both ts-node and tsconfig-paths use the config in the ./packages/backend/ subdirectory?

[2019-05-17 07:34] dotansimha commented on #1874
@fabis94 I'm not sure that you must copy your `tsconfig.json`. if there is an issue with your schema file and it caused by multiple instances of `graphql`, then it's not necessarily related to the `tsconfig.json` file.
Let's try verify first that you have only one copy of `graphql` under your monorepo, and then it will reduce the chances for issues with schema loading. Also, try to use the latest

[2019-05-17 08:09] dotansimha commented on #1757
@jefflewis Ohh I see, it makes sense, because in order to get `require` values, we need to load the `yml` file. Keeping open, we'll try to find a solution for it soon.

[2019-05-17 12:45] helios1138 opened #1885 "[typescript-operations] it should be possible to set avoidOptionals only for input types"
- currently, it's only possible to set `avoidOptionals` globally, for all types
- what would be preferred, is to have a way to set this option to `true` for output types (since empty values are returned as `null`, not `undefined` in the responses), but set it to `false` for input types (since variables treat `undefined` as null and it's a normal practice to omit empty values when providing variabl

[2019-05-17 13:39] dotansimha commented on #1885
Hi @yoavain-sundaysky ! Thank you for reporting this issue.
You are right, at the moment the optionals configuration can only be turned on/off and is not configurable.
We can give it a try in the future and add it (and we always welcome PRs).

[2019-05-17 13:43] fabis94 commented on #1874
@dotansimha  The issue with the tsconfig.json is separate, as I described in the previous comment. tsconfig-paths loads the correct tsconfig.json( from the --project flag), ts-node doesn't and just loads the tsconfig.json that it can find in the folder from which the codegen is ran (monorepo root). Of course the monorepo root might not even have a tsconfig or if it does have one then obviously the

[2019-05-17 19:14] fabis94 commented on #1874
Alright, finally got it to work after doing these 2 things:
1. Making sure all monorepo packages use the same version of "graphql"
2. Passing the path to the correct tsconfig to both tsnode and tsconfig-paths using the TS_NODE_PROJECT env variable. The final script command looks like this:

` cross-env TS_NODE_PROJECT=packages/backend/tsconfig.json graphql-codegen --config codegen.yml`

[2019-05-18 02:07] jefflewis commented on #1757
@jflewis

[2019-05-18 08:22] dotansimha commented on #1876
Hi @jrr , fixed in: https://github.com/dotansimha/graphql-code-generator/pull/1889

[2019-05-18 08:38] vhenzl opened #1890 "Comment added by `add` plugin not placed in the top of file"
In the recent canary version (`1.1.4-alpha-62ee81ed.50`), comments added by `add` plugin are after other content, even if the plugin is listed as the first one in the config.

Particularly, `Maybe` type and imports (when `near-operation-file-preset` used) precede the `add` output:

[code]

**`codegen.yml` config file:**

[code]

**Expected behaviour:**

The output of `add` plugin is in the top of

[2019-05-18 08:39] dotansimha commented on #1770
Hi @SirensOfTitan , sorry for the delay, fixed it in: https://github.com/dotansimha/graphql-code-generator/pull/1891

[2019-05-18 08:41] dotansimha commented on #1874
Thank you for the update @fabis94 👍

[2019-05-18 08:41] #1874 closed

[2019-05-18 08:41] dotansimha commented on #1890
Working on a fix now :)

[2019-05-18 09:01] vhenzl opened #1892 "Wrong import paths with `near-operation-file` preset (on Windows)"
In the recent canary version, with new `near-operation-file` preset, import paths in "near" files are malformed.

My guess is it that has something to do with Windows file separator, but I wasn't able to replicate it consistently as I got two different behaviours. Either the relative path contains backslashes:
[code]
or there aren't any slashes at all:
[code]

Two different projects, the same mach

[2019-05-18 09:18] simPod commented on #1806
@dotansimha thanks, contacted NPM about fix for https://www.npmjs.com/advisories/834 (there's no release with fix for v1 AFAIK)

[2019-05-18 09:31] dotansimha commented on #1890
Fixed in: https://github.com/dotansimha/graphql-code-generator/commit/28b96fc13c6a52de47f6e33c45a87cbe501349aa
@vhenzl , can you please `1.1.4-alpha-6b4dc6f2.54`?

[2019-05-18 09:35] dotansimha commented on #1892
I think you are right, and it's relevant only for Windows environment.
Actually we are using `path` to do all these resolution, so maybe it's related to it?

@ardatan you have Windows machine, right? Can you please check that?

[2019-05-18 09:41] dotansimha commented on #1892
I noticed that we were using explicit `/` in some parts of the code, I tried to change it to `path.sep` so it will use the correct separator according to the environment. Fixed it in https://github.com/dotansimha/graphql-code-generator/commit/732e71bbb1f99f29a46c6fd2476ab1ef45901ba2
@vhenzl can you please try `1.1.4-alpha-e60d4c6c.56`?

[2019-05-18 09:54] vhenzl commented on #1890
Yes, it works! 👍 Thx.

[2019-05-18 09:59] vhenzl commented on #1892
Nah, it has to be the other way around. Now it creates import like this:

[code]

but what we want is:

[code]

i.e. import path has to be with "normal" forward slashes regardless of OS.

[2019-05-18 10:12] vhenzl commented on #1892
It doesn't seem there is a way how to do it directly in node, it will probably require something like https://www.npmjs.com/package/slash.

[2019-05-18 10:20] vhenzl commented on #1892
@dotansimha If you agree with using `slash` package, I can try and prepare PR with a fix.

[2019-05-18 14:44] veeramarni commented on #1708
Here is the sample code, can the `graphql(...)` be generated as well with types instead of manually add them as below?

https://github.com/cdmbase/fullstack-pro/blob/master/packages-modules/counter/browser/src/apollo-server-n-client/containers/Counter.tsx#L57

Generated Code
--
https://github.com/cdmbase/fullstack-pro/blob/master/packages-modules/counter/browser/src/apollo-server-n-client/generate

[2019-05-19 12:52] dotansimha commented on #1892
The fix is available in 1.2.0, thanks @vhenzl !

[2019-05-19 12:52] #1892 closed

[2019-05-19 12:52] dotansimha commented on #1890
The fix is available in 1.2.0.

[2019-05-19 12:52] #1890 closed

[2019-05-19 12:53] dotansimha commented on #1878
Available in 1.2.0, thanks @piotr-m-jurek !

[2019-05-19 12:53] #1878 closed

[2019-05-19 12:53] dotansimha commented on #1876
Available in `1.2.0`.

[2019-05-19 12:53] dotansimha commented on #1841
Fixed in `1.2.0`.

[2019-05-19 12:53] #1841 closed

[2019-05-19 12:53] dotansimha commented on #1834
Available in `1.2.0`.

[2019-05-19 12:53] #1834 closed

[2019-05-19 12:53] dotansimha commented on #1833
Fixed in `1.2.0`.

[2019-05-19 12:53] #1833 closed

[2019-05-19 12:53] dotansimha commented on #1829
Available in `1.2.0`.

[2019-05-19 12:53] #1829 closed

[2019-05-19 12:54] dotansimha commented on #1815
Available in `1.2.0`.

[2019-05-19 12:54] #1815 closed

[2019-05-19 12:54] dotansimha commented on #1806
Fixed in `1.2.0`.

[2019-05-19 12:54] #1806 closed

[2019-05-19 12:54] dotansimha commented on #1800
Fixed in `1.2.0`.

[2019-05-19 12:54] #1800 closed

[2019-05-19 12:54] dotansimha commented on #1770
Fixed in `1.2.0`.

[2019-05-19 12:54] #1770 closed

[2019-05-19 12:54] dotansimha commented on #1575
Available in `1.2.0`. Thanks @mxstbr !

[2019-05-19 12:54] #1575 closed

[2019-05-19 12:54] dotansimha commented on #1117
Fixed in `1.2.0`.

[2019-05-19 12:54] #1117 closed

[2019-05-19 12:55] dotansimha commented on #1116
Available in `1.2.0`.

[2019-05-19 12:55] #1116 closed

[2019-05-19 12:55] dotansimha commented on #1783
Closing for now. @jambonrose feel free to contact if you have more issues or more information regarding this one.

[2019-05-19 12:55] #1783 closed

[2019-05-19 13:13] dotansimha commented on #1785
@igorvuleta I couldn't reproduce your error with your repo. How can I reproduce it easily? Your repo seems to throw errors that are unrelated to the codegen.

[2019-05-19 13:16] dotansimha commented on #1708
@veeramarni that's exactly what `typescript-react-apollo` does, it generates HOC (or Component, or Hooks) for usage with React, and it comes with a built-in typings (use `withComponent: false, withHooks: false, withHOC: true` config to get that).

You can use `near-operation-file` preset (see website for docs) in order to generate a file per each operation.

[2019-05-20 00:33] github0013 opened #1895 "Generate more export types such as QueryHookResult and MutationFn"
**Is your feature request related to a problem? Please describe.**

There are cases where you need to pass `refetch` or `mutation` as a prop.   You currently need to dig in and pull out all types you need and then define your Props interface.

[code]

**Describe the solution you'd like**

If any of the plugins had export types for such, it would be as simple as this.

[code]

[code]

And the same

[2019-05-20 01:21] jrr opened #1896 "1.2.0: add plugin prepends all root configs; non-string values cause error"
**Describe the bug**
1.2.0 does this:

[code]

I suspect it may have broken with this change https://github.com/dotansimha/graphql-code-generator/pull/1869, as it's the only instance of `a.startsWith` I could find in the repo.

I haven't gotten to the bottom of this yet, but here's a mostly-minimized repro config:

[code]

It looks like perhaps there's some interaction of `strict: true` and the _a

[2019-05-20 04:14] jrr commented on #1896
Ah-ha! The _add_ plugin is picking up my root-level configs.

Given the above codegen.yml, and this code from the add plugin:

https://github.com/dotansimha/graphql-code-generator/blob/9a70bf6dcc8b7278308e1759dc5b58127288ad6a/packages/plugins/other/add/src/index.ts#L6-L13

A little bit of logging:

[code]

Perhaps the plugin shouldn't look at root-level configs? Is that even possible?

[2019-05-20 12:55] igorvuleta commented on #1785
Hi @dotansimha I have been exauhstingly testing and trying do discover why do I have such behaviour which occurs on my side. After a few days of testing, I literally gave up, and then it struck me, I erased all node modules, all the configs and went step by step, eventually with a fully clean project I started with the wizard that graphql code generator is providing, and it worked all, and the beh

[2019-05-20 12:58] dotansimha commented on #1785
@igorvuleta happy to hear that you managed to make it work for you!
Regarding the `not able to verify first certificate` - that's because we removed `NODE_TLS_REJECT_UNAUTHORIZED ` from the recent version (https://github.com/dotansimha/graphql-code-generator/issues/1806)

You can set it through environment variables: `NODE_TLS_REJECT_UNAUTHORIZED=0 graphql-codegen`

[2019-05-20 12:58] #1785 closed

[2019-05-20 14:07] simPod commented on #1806
@dotansimha Hi, NPM cannot find the release https://www.npmjs.com/package/graphql-code-generator

![image](https://user-images.githubusercontent.com/327717/58027634-5f9c7a00-7b19-11e9-9931-bb2d3ae75007.png)

[2019-05-20 14:29] dotansimha commented on #1806
@simPod we moved to organization libraries after 1.0, `graphql-code-generator` is now `@graphql-codegen/cli` and plugins are also moved (for example `graphql-codegen-typescript` is now `@graphql-codegen/typescript`.

[2019-05-20 14:30] simPod commented on #1806
@dotansimha right, I forgot that! thanks

[2019-05-20 17:48] slikts commented on #1828
Here's [an example](https://github.com/olegstepura/typed-css-modules-loader/blob/master/index.js) of a webpack loader that emits typings for CSS modules.

[2019-05-20 18:21] cecchi opened #1897 "[TS React Apollo] Variables should be optional for Query components"
**Describe the bug**

The generated types for React Apollo `<Query>` components explicitly override the "variables" prop and makes it required:

[code]

It looks as though this was done intentionally in https://github.com/dotansimha/graphql-code-generator/pull/1687, and then undone for mutations in https://github.com/dotansimha/graphql-code-generator/issues/1741, so I'm probably missing some conte

[2019-05-20 19:05] ardatan commented on #1897
If at least one of the variables is required, `variables` property would be required; because this means that query is unable to work without variables. So, codegen generates the component of that query with a required `variables` property.

[2019-05-20 19:10] cecchi commented on #1897
Thanks @ardatan, the issue is related to the `skip` prop which tells `react-apollo` to not execute the query at all. In that case it's valid to not pass variables.

[2019-05-20 19:11] mxstbr commented on #1828
Funnily enough we already use that exact webpack loader in our project. If the `@graphql-codegen/webpack-loader` worked that exact way I would be _very_ happy!

[2019-05-21 00:29] deklanw opened #1899 "Add `@types/graphql` as peer dependency in `typescript-operations` (and document it)"
**Describe the bug**
All of my mutation hook functions have return type `Promise<any>` in VSCode

E.g.
[code]

`logout` has type `MutationFn<LogoutMutation, LogoutMutationVariables>`
`result` has type `any`

But, then if I give `logout` a type manually
[code]
**This time with `MutationFn` coming from `react-apollo`** everything works fine: `result` has a good type.

So, it seems that somewhere in

[2019-05-21 00:31] chengjia0807 opened #1900 "Enum key starting with underscore is not generated correctly"
Now it's generating this which is wrong:

[code]

The correct one should be

[code]

basically we need to keep the underscore because the enum key cannot be a number.

Hope can be fixed in short. :)

Great work guys

Thanks
CJ

[2019-05-21 01:37] cecchi opened #1901 "[TS] Types are incorrect for some conditional fragments"
**Describe the bug**

When using conditional fragments, the generated types use TS intersection types to represent GraphQL union types. This causes issues when using `__typename` as a discriminant.

**To Reproduce**
This is a contrived example, but should be enough to reproduce the behavior:

1. My GraphQL schema:

[code]

2. My GraphQL operations:

[code]

3. My `codegen.yml` config file:

[code]

[2019-05-21 13:53] dotansimha commented on #1819
Available in 1.2.0.

[2019-05-21 16:04] elie222 opened #1904 "Question: codebase full of TS Pick<>"
I'm generating TS types for operations using:
https://graphql-code-generator.com/docs/plugins/typescript-operations

The generated code produces a lot of types with `Pick`. For example:

[code]

This is technically accurate, but a headache to fill the codebase with Pick<xxx> when passing down properties.

What I find myself doing to fix this is: `policy as Policy` and assuming I have a full `Polic

[2019-05-21 20:01] tzarger commented on #1899
@deklanw same issue here. Works in some projects, not in others, specifically a React Native project. If you find a resolution, please post here.. I will do the same. Thanks.

[2019-05-22 09:51] veeramarni commented on #1708
@dotansimha I have tried with `withHOC: true` but it only generates [withApollo(component)](https://github.com/apollographql/apollo-client/blob/master/docs/source/basics/setup.md#withapollocomponent) but not with [graphql() function](https://github.com/apollographql/apollo-client/blob/master/docs/source/basics/setup.md#query-configuration). `graphql()` functions gives additional feature support wh

[2019-05-22 11:22] BeeeQueue opened #1906 "[Java] Wrap Nullable Fields in Optional Class"
**Is your feature request related to a problem? Please describe.**

The if a field is nullable in the schema it's not reflected in the code generated by gql-gen.

[code]
[code]

**Describe the solution you'd like**
It would be great if there was an option to have fields be `Optional`s if they are optional in the schema.

[code]
[code]

[2019-05-22 17:27] Jonatthu commented on #643
@dotansimha I think for the future would be a great investment, but thanks for all the current work, the cli is looking awesome and feeling professional.

[2019-05-22 18:20] solon-aguiar opened #1909 "Mapper types aren't being applied for all typescript-resolvers"
**Describe the bug**
Hi everyone,

This is my first time creating a public issue (and I'm new to TS and Graphql), so please forgive me in advance for any mistake.

I believe that this issue is very similar to https://github.com/dotansimha/graphql-code-generator/issues/1041. It looks like the mapper isn't always mapping types correctly in the current version. I'm creating a new issue as it was requ

[2019-05-22 18:24] mshwery commented on #1909
Notably the same error exists after on `@1.2.0` ☝️

[2019-05-23 01:25] LeviSchuck commented on #1708
I am interested in a plugin that generates [typeDefs](https://github.com/apollographql/apollo-server/blob/6ffec8e4535946289f724451aed8b2ade966cac5/packages/apollo-server-core/src/types.ts#L71), which are `DocumentNode` or `DocumentNode[]` of schemas for use with Apollo servers, be it lambda, express, or others.

So far all I can find is generating DocumentNodes for client frameworks, such as react

[2019-05-23 05:28] dotansimha commented on #1897
@ardatan I think the variables should be the same as they declared in React-Apollo. if they are optional there, let's do the same

[2019-05-23 06:17] ardatan commented on #1708
@LeviSchuck You can use `graphql-import-node`
https://github.com/ardatan/graphql-import-node

[2019-05-23 16:35] LeviSchuck commented on #1708
@ardatan  I was hoping something closer to compile time like what this project offers

[2019-05-23 19:33] stevenmusumeche opened #1914 "Interested in linking to blog post about this tool?"
Hello maintainers, and thank you for this awesome tool.  I recently wrote a blog post about using this tool with an example that may be a useful link in your documentation.  The post is at https://formidable.com/blog/2019/strong-typing/

Feel free to close this issue if inappropriate.

[2019-05-24 01:10] diegopamio commented on #1786
I've used the add plugin and indeed I see the additional linter exceptions added to the generated file, but I still cannot compile the project as it gives me the same error.

[2019-05-24 01:10] diegopamio commented on #1849
I've used the add plugin and indeed I see the additional linter exceptions added to the generated file, but I still cannot compile the project as it gives me the same error.

[2019-05-24 12:13] veeramarni commented on #1708
@dotansimha Can you confirm whether `graphql()` function is implemented as I can see them generated?

[2019-05-24 20:00] philiiiiiipp opened #1916 "Allow `,` as a delimiter for a type implementing multiple interfaces"
**Describe the bug**

AWS AppSync is using `,` to delimit multiple interfaces for the same type

E.g.

[code]

It seems like this is some non standard way of doing things, as the latest version of the [June 2018 graphql spec](https://graphql.github.io/graphql-spec/June2018/#sec-Interfaces) is using `&` instead of `,`. However apollo is also allowing the `,` syntax suggesting to me that this might

[2019-05-24 20:04] lukasluecke commented on #1904
If you use fragments inside your queries that will generate matching types which you can use inside your code.

[2019-05-24 21:38] jednano opened #1917 "Unused imports generated (3rd issue about this)"
## Describe the bug
TSX files generated from `@graphql-codegen/typescript-react-apollo` are including at least one unused import at the top:
[code]
This leads to the following error:

[code]

## To Reproduce
Steps to reproduce the behavior:

### GraphQL schema

[code]

### GraphQL operations

[code]

### codegen.yml

[code]

## Expected behavior
Unused imports are not included in the `src/models/g

[2019-05-24 22:45] const86 opened #1918 "Types of client resolvers should inherit some from the main schema"
Client schema extends some types with new properties. At the very least it extends in such way one of `Query`, `Mutation`, or `Subscription`. Then it may add totally new types.

Main resolvers are not affected by client schema in any way. Interfaces are generated from the main schema only. So far so good.

Client resolvers are actually affected by both main and client schema. But that is a bit mor

[2019-05-25 13:48] panzerdp commented on #642
@danbruegge,
Faced the same problem.

It happens because `"pluginCreator___id"` and `"pluginCreatorId"` using `change-case#pascalCase` is transformed into the same `PluginCreatorId`.

Changing the enum transformer name convention to `keep` solved the problem:

[code]

[2019-05-26 18:51] LeviSchuck commented on #1708
I figured out something for me.

`typescript-schema.js` in the root directory with
[code]

and then in my codegen.yml

[code]

Now I can do

[code]

[2019-05-26 21:23] jambonrose commented on #1783
Hi @dotansimha - Thank you very much for taking the time to walk me through how the tool works and where the problem lies. My apologies for the slow response (due to work) and for opening an issue in the wrong place. I will let you know what I find once I'm able to come back around to this issue.

Thanks again for a very helpful tool!

[2019-05-27 05:25] ardatan commented on #1863
@SimenB As I see in the current state of that PR in apollo,
[code]
This generated code fits their signature since we don't specify any return type etc. We only pass generics and `Options` interface as a parameter that also fits Apollo's `Options` interface.

[2019-05-27 05:57] ardatan commented on #1917
@jedmao Could you share the generated file?

[2019-05-27 06:05] ardatan commented on #1916
Codegen uses graphql visitors. So, it takes implemented interfaces of a type in a visitor that uses your project's `graphql` together. Codegen doesn't parse them, `graphql` package of your project does that for codegen. You can use an old version of `graphql` that supports `,` delimiter instead of `&`, so it will send correct interfaces to codegen's visitor.
https://github.com/awslabs/aws-mobile-a

[2019-05-27 11:03] SimenB commented on #1863
The types are closer now. However, an actual difference is in `QueryHookOptions`.

in `@apollo/react-hooks` it is

[code]

while in `react-apollo-hooks` it is
[code]

This means that the `baseOptions?: ReactApolloHooks.QueryHookOptions<QueryVariables>` that this project generates is wrong. Not sure in which of the 3 projects the fix should be in, though

[2019-05-27 13:33] AnotherHermit commented on #1896
I think the problem is that the config parameter that the add plugin receives is always either

a string:
[code]
or an object:
[code]

So to solve your issue you can just add the string as:
[code]

[2019-05-27 22:16] freedomflyer opened #1922 "Prop Typings with Multiple HoC Queries Doesn't Work"
Using `"@graphql-codegen/typescript-react-apollo": "^1.1.0"`

In the case where multiple queries (and thus multiple HoC's) are used on a single component, Apollo's docs state that the developer should give each of them a `name` in their options. Otherwise, the queries overlap each other on the resulting `props.data` property.

In the case of a single query, Apollo places query results based on a n

[2019-05-28 14:55] dotansimha commented on #1901
Hi @cecchi , I think it's fixed in this PR as well: https://github.com/dotansimha/graphql-code-generator/pull/1923

[2019-05-28 14:57] dotansimha commented on #1899
Hi @tzarger @deklanw , I noticed it as well in some projects, and I think the solution for that is to make sure to add `@types/graphql`, because react-apollo imports `ExecutionResult` from it, and without that, the type is getting `any`.

Can you please try that?

[2019-05-28 14:58] dotansimha commented on #1897
I discussed it with @ardatan , we should allow variables to be `VarType | null` and it will make it easier to use, but still force `variables` to be there when it's needed.
What do you think @cecchi ?

[2019-05-28 15:00] dotansimha commented on #1900
Hi @chengjia0807 , which version of the codegen and plugins do you use? (we have a template for our issues exactly for that).

I this issue already fixed in: https://github.com/dotansimha/graphql-code-generator/issues/1569

[2019-05-28 15:05] dotansimha commented on #1904
Hi @elie222 ,

Doing `policy as Policy` is incorrect because it will cast the object into the full object as it delcared in the schema, and you lose the type-safety of the selection set.
You can always do `Query['policy']['someField']` to get a nested type in TypeScript (and you can create type alias for it).

As @lukasluecke said, fragments are a good solution for separating GraphQL operations an

[2019-05-28 15:07] cecchi commented on #1897
@dotansimha @ardatan, sure, that works -- I'm not positive what assumptions `react-apollo` makes under the hood but if `null` is equivalent to `undefined` then that suits my use-case.

[2019-05-28 15:08] cecchi commented on #1901
Awesome, thanks!

[2019-05-28 15:09] dotansimha commented on #1909
@mshwery @solon-aguiar I think that I fixed that, maybe you can assist me with it?

I added this test before applying the last fix: https://github.com/dotansimha/graphql-code-generator/blob/master/packages/plugins/typescript/resolvers/tests/mapping.spec.ts#L58-L98 , but maybe it's missing something?

Thank you!

[2019-05-28 15:11] dotansimha commented on #1914
Hi @stevenmusumeche ! your blog post looks great!
Keeping open until we'll add it to the docs (and feel free to add it in a PR ;) )

[2019-05-28 15:12] dotansimha commented on #1916
As @ardatan said, we are almost 100% agnostic to the `graphql` version, so `0.13.0` should work and allow you to use it.

[2019-05-28 15:12] #1916 closed

[2019-05-28 15:13] dotansimha commented on #1917
As @ardatan said, can you please add your complete generated file? It seems like your documents are not getting loaded, because the `gql` import should be used per each documents.

[2019-05-28 15:20] dotansimha commented on #1922
Hi @freedomflyer , as you suggested, you should set a `name` for your operation, otherwise it will conflict with the other one.
I'm not sure how to pass the `name` to it as a key, maybe we can put a generic for that.

@ardatan what do you think?

[2019-05-28 15:25] ardatan commented on #1922
Is that related to https://github.com/dotansimha/graphql-code-generator/issues/1672 ?

[2019-05-28 15:26] stevenmusumeche commented on #1914
I will open a PR.  Do you have an idea of where you'd like to see it?

[2019-05-28 15:26] deklanw commented on #1899
That seems to have worked. Thank you.

[2019-05-28 16:00] freedomflyer commented on #1922
@ardatan it is somewhat similar, but I believe the `config.alias` referenced in https://github.com/dotansimha/graphql-code-generator/issues/1672 is more about how the HoC shows up in react devtools and other places.

In this case, the `name` option is used solely to prevent a name clash between two queries. When a single query runs, the data is stored in `props.data`, but if two queries run, the s

[2019-05-28 16:11] dotansimha commented on #1914
@stevenmusumeche, maybe we can add another sidebar item (in https://github.com/dotansimha/graphql-code-generator/blob/master/website/sidebars.json#L11), for "Further Reading", and include this link there? (add then I'll add some more).

[2019-05-28 16:12] dotansimha commented on #1899
Great, @deklanw .
Keeping open because we need to document this on the website.

[2019-05-28 16:19] dotansimha commented on #1863
@SimenB we can output a different signature when `importHooksFrom` is set to `@apollo/react-hooks` and keep the original output as-is. Then change the output if `@apollo/react-hooks` will introduce a new signature later.

[2019-05-28 16:23] dotansimha commented on #1786
@diegopamio can you please share your codegen version, `codegen.yml` file and the error you are getting?

[2019-05-28 16:24] dotansimha opened #1925 "Add introspection types to `typescript-compatibility` plugin"
Related: https://github.com/dotansimha/graphql-code-generator/issues/643#issuecomment-492988943